
ALTER proc [dbo].[sp_UTS_get_HRHistoryUpChat] 
@HR_ID bigint, 
@Gen_HistoryID bigint 
as
begin

declare @managedHR bit = (select isnull(IsManaged,0) from gen_SalesHiringRequest where ID = @HR_ID)

if(@ManagedHR = 0)
BEGIN

		 ;WITH
		  cteHistoryRecord (ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,UserEmployeeID,UserDesignation,ATSTalentLiveURL,ATSNonNDAURL,TalentName,InterviewDateTime,Comments,Remark,SLA_DueDate,IsNotes,AssignedUsers,HRStatusID, HRStatus)
		  AS
		  ( SELECT	replace(HA.ActionName,'_',' ') ActionName,
					HA.DisplayName,
					Case when H.ModifiedByDatetime is not null then H.ModifiedByDatetime else H.CreatedByDateTime end as ActionDate,
					H.HiringRequest_ID,
					ActionPerformedBy = (CASE WHEN ISNULL(H.IsManagedByClient,0)=1 THEN ISNULL(C.FullName,'')
										 WHEN ISNULL(H.IsManagedByTalent,0)=1  THEN ISNULL(T.Name,'') 
										 ELSE ISNULL( U.FullName,'')  END
										),
										UserEmployeeID=ISNULL(U.EmployeeID,''),
										UserDesignation=ISNULL(U.Designation,''),
					--T.ProfileURL,
					Isnull(T.ATS_Talent_LiveURL,'') ATSTalentLiveURL, -- Added Reena Jain(10-Feb-2023): NDA URL,Non NDA URL
					Isnull(T.ATS_Non_NDAURL,'') ATSNonNDAURL,
					Isnull(T.Name,'') as TalentName,
					S1.InterviewDateTime,
					Comments = (CASE WHEN HA.ActionName IN ('HR_Acceptance','WaitFor_More_Info','HR_PasstoAdhoc','Create_HRDBrifing','Create_HR') THEN ISNULL(S.NotAcceptedHRReason,'')
								WHEN (HA.ActionName ='Cancel_HR' OR HA.ActionName = 'HR_OnHold') THEN case when S.DeleteType =1 then ISNULL(S.DeleteHRReason,'') else ISNULL(HRD.Reason,'') END  -- Added by Reena Jain(1-July-2022): Get Delete HR Reason 
								WHEN HA.ActionName = 'Feedback_Submitted' THEN ISNULL(F1.Comments,'')
								WHEN HA.ActionName IN ('Talent_Status_Rejected','Talent_Status_On_Hold','Talent_Status_Cancelled')  THEN case when CTP.RejectReasonID != -1 then ISNULL(TRR.Reason,'') else ISNULL(CTP.OtherRejectReason,'') END END-- Added by Reena Jain(1-July-2022): Get Reject Talent Reason
							    --WHEN HA.ActionName = 'Talent_Status_Cancelled' THEN case when CTP.RejectReasonID != -1 then ISNULL(TRR.Reason,'') else ISNULL(CTP.OtherRejectReason,'') END END-- Added by Reena Jain(3-Nov-2022): Get Cancel Talent Reason
								),
					Remark = CASE WHEN (HA.ActionName ='Cancel_HR' OR HA.ActionName = 'HR_OnHold') THEN case when S.DeleteType =1 then ISNULL(S.OnHoldRemark,'')  else ISNULL(S.LossRemark,'') END 
								  WHEN HA.ActionName = 'Talent_Status_Rejected' then ISNULL(CTP.LossRemark,'') 
								  when HA.ActionName = 'Talent_Status_On_Hold' then  ISNULL(CTP.OnHoldRemark,'')-- Added by Reena Jain(5-August-2022): Cancel HR/ Talent OnHold Reject Remark.
								  when HA.ID = 58 then 'TR Accepted: '+ TR_Acceptance.TR_Accepted -- Added by Reena Jain(30-August-2022):Add Remark for TR Acceptance
								  ELSE '' END,
					SLA_DueDate=(SELECT TOP 1 gh.SLA_DueDate from [gen_History] gh WITH (NOLOCK) 
								WHERE gh.HiringRequest_ID = h.HiringRequest_ID and gh.CreatedByDatetime<H.CreatedByDatetime ORDER BY gh.CreatedByDatetime DESC),
					0 as IsNotes,
					'' as AssignedUsers,
					HRStatusID = HrStatus.ID,
					HRStatus = HrStatus.HiringRequest_Status
					From [dbo].[gen_History] H WITH(NOLOCK)
					INNER JOIN prg_History_Actions HA WITH(NOLOCK) ON H.Action_ID=HA.ID
					INNER JOIN gen_SalesHiringRequest S WITH(NOLOCK) ON S.ID = H.HiringRequest_ID	
					LEFT JOIN prg_HiringRequestStatus HrStatus WITH(NOLOCK) ON HrStatus.ID = S.Status_ID
					left JOIN prg_HRDeleteReason HRD WITH (NOLOCK) ON S.DeleteHRReason_Id = HRD.ID
					LEFT JOIN gen_ContactTalentPriority CTP ON CTP.ID = H.ContactTalentPriority_ID	
					LEFT JOIN prg_TalentRejectReason TRR on TRR.ID = CTP.RejectReasonID
					left JOIN  usr_User U WITH (NOLOCK) ON U.ID = CASE WHEN H.ModifiedByID > 0 THEN H.ModifiedByID ELSE H.CreatedByID END
					LEFT JOIN gen_Contact C WITH(NOLOCK) ON C.ID = CASE WHEN H.ModifiedByID > 0 THEN H.ModifiedByID ELSE H.CreatedByID END
					LEFT JOIN  gen_Talent T WITH (NOLOCK) ON T.ID = H.Talent_ID
					OUTER APPLY(SELECT top 1 CONVERT(VARCHAR,ISNULL(SI.ScheduledOn,''),105)+ ' ' +CONVERT(VARCHAR(5),ISNULL(SI.Interview_StartTime,''),14)+' To '+CONVERT(VARCHAR(5),ISNULL(SI.Interview_EndTime,''),14)+' '+(isnull(CTZ.ShortName,'')) AS InterviewDateTime 

					FROM gen_ShortlistedTalent_InterviewDetails SI WITH(NOLOCK)
								LEFT join prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = SI.TimeZone_ID
								WHERE SI.InterviewMaster_ID = H.InterviewMaster_ID) S1
					OUTER APPLY(SELECT Comments FROM gen_ContactInterviewFeedback CIF WITH(NOLOCK) 
								WHERE CIF.HiringRequest_ID = H.HiringRequest_ID )F1	
					OUTER APPLY(select top 1 cast(tr1.TR_Accepted as nvarchar(50)) TR_Accepted from gen_SalesHR_TRAccepted_Details tr1 where tr1.HiringRequest_ID = @HR_ID and cast(tr1.CreatedByDatetime as date)=cast(H.CreatedByDatetime as date) order by tr1.ID desc)TR_Acceptance			
								WHERE H.HiringRequest_ID = @HR_ID AND H.ID = @Gen_HistoryID AND Action_ID <> 51
		 )
		 SELECT ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,UserEmployeeID,UserDesignation,TalentName,Comments,Remark, IsNotes,HRStatusID, HRStatus FROM  
			( 
					SELECT ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,UserEmployeeID,UserDesignation,ATSTalentLiveURL,ATSNonNDAURL,TalentName,InterviewDateTime,Comments,Remark,SLA_DueDate, IsNotes,AssignedUsers,HRStatusID, HRStatus FROM cteHistoryRecord 
					--UNION 
					--SELECT HN.Notes AS ActionName,'Note' AS DisplayName ,HN.CreatedByDatetime AS ActionDate,HN.HiringRequest_ID,U.FullName AS ActionPerformedBy,U.EmployeeID as UserEmployeeID,U.Designation as UserDesignation,'','','','','','' as Remark,null, 1 as IsNotes
					--, AssignedUsers =  (select isnull((STUFF((
					--							select	distinct ',' + isnull(U1.FullName,'') 
					--							from gen_HRNotes_TagUserDetails TN
					--							INNER JOIN gen_HRNotes HN1 WITH(NOLOCK) ON TN.Note_ID = HN1.ID 
					--							INNER JOIN usr_user U1 WITH(NOLOCK) ON TN.Assigned_UserID = U1.ID
					--							WHERE TN.Note_ID = HN.ID  and HN1.HiringRequest_ID =HN.HiringRequest_ID
					--							For	XML Path('')),1,1,''
					--					)),'')
					--			),'','' -- Added by Reena Jain(19-July-2022): Get Notes Assigned users.
					--from gen_HRNotes HN WITH(NOLOCK)
					--INNER JOIN usr_user U WITH(NOLOCK) ON HN.CreatedByID = U.ID 
					WHERE HiringRequest_ID = @HR_ID
			) results ORDER BY ActionDate DESC
END
ELSE
BEGIN
	 ;WITH
		  cteHistoryRecord (ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,UserEmployeeID,UserDesignation,ATSTalentLiveURL,ATSNonNDAURL,TalentName,InterviewDateTime,Comments,Remark,SLA_DueDate,IsNotes,AssignedUsers,HRStatusID, HRStatus)
		  AS
		  ( SELECT	replace(HA.ActionName,'_',' ') ActionName,
					HA.DisplayName,
					Case when H.ModifiedByDatetime is not null then H.ModifiedByDatetime else H.CreatedByDateTime end  as ActionDate,
					H.HiringRequest_ID,
					ActionPerformedBy = (CASE WHEN ISNULL(H.IsManagedByClient,0)=1 THEN ISNULL(C.FullName,'')
										 WHEN ISNULL(H.IsManagedByTalent,0)=1  THEN ISNULL((T.ManagedTalentFirstName +' '+ T.ManagedTalentLastName),'') 
										 ELSE ISNULL( U.FullName,'')  END
										),
										UserEmployeeID=ISNULL(U.EmployeeID,''),
										UserDesignation=ISNULL(U.Designation,''),
					--'' ProfileURL,
					'' ATSTalentLiveURL, -- Added Reena Jain(10-Feb-2023): NDA URL,Non NDA URL
					'' ATSNonNDAURL,
					(T.ManagedTalentFirstName +' '+ T.ManagedTalentLastName) as TalentName,
					S1.InterviewDateTime,
					Comments = (CASE WHEN HA.ActionName	 IN ('HR_Acceptance','WaitFor_More_Info','HR_PasstoAdhoc','Create_HRDBrifing','Create_HR') THEN ISNULL(S.NotAcceptedHRReason,'')
								WHEN (HA.ActionName ='Cancel_HR' OR HA.ActionName = 'HR_OnHold') THEN case when S.DeleteType =1 then ISNULL(S.DeleteHRReason,'') else ISNULL(HRD.Reason,'') END  -- Added by Reena Jain(1-July-2022): Get Delete HR Reason 
								WHEN HA.ActionName = 'Feedback_Submitted' THEN ISNULL(F1.Comments,'')
								WHEN HA.ActionName IN ('Talent_Status_Rejected','Talent_Status_On_Hold','Talent_Status_Cancelled')  THEN case when CTP.RejectReasonID != -1 then ISNULL(TRR.Reason,'') else ISNULL(CTP.OtherRejectReason,'') END END-- Added by Reena Jain(1-July-2022): Get Reject Talent Reason
								--WHEN HA.ActionName = 'Talent_Status_Cancelled' THEN case when CTP.RejectReasonID != -1 then ISNULL(TRR.Reason,'') else ISNULL(CTP.OtherRejectReason,'') END END-- Added by Reena Jain(3-Nov-2022): Get Cancel Talent Reason
								),
					Remark = CASE WHEN (HA.ActionName ='Cancel_HR' OR HA.ActionName = 'HR_OnHold') THEN case when S.DeleteType =1 then ISNULL(S.OnHoldRemark,'')  else ISNULL(S.LossRemark,'') END 
								  WHEN HA.ActionName = 'Talent_Status_Rejected' then ISNULL(CTP.LossRemark,'') 
								  when HA.ActionName = 'Talent_Status_On_Hold' then  ISNULL(CTP.OnHoldRemark,'') -- Added by Reena Jain(5-August-2022): Cancel HR/ Talent OnHold Reject Remark.
								  when HA.ID = 58 then 'TR Accepted '+ TR_Acceptance.TR_Accepted  -- Added by Reena Jain(30-August-2022):Add Remark for TR Acceptance
								  ELSE '' END,
					SLA_DueDate=(SELECT TOP 1 gh.SLA_DueDate from [gen_History] gh WITH (NOLOCK) 
								WHERE gh.HiringRequest_ID = h.HiringRequest_ID and gh.CreatedByDatetime<H.CreatedByDatetime ORDER BY gh.CreatedByDatetime DESC),
					0 as IsNotes,
					'' as AssignedUsers,
					HRStatusID = HrStatus.ID,
					HRStatus = HrStatus.HiringRequest_Status
					From [dbo].[gen_History] H WITH(NOLOCK)
					INNER JOIN prg_History_Actions HA WITH(NOLOCK) ON H.Action_ID=HA.ID
					INNER JOIN gen_SalesHiringRequest S WITH(NOLOCK) ON S.ID = H.HiringRequest_ID	
					LEFT JOIN prg_HiringRequestStatus HrStatus WITH(NOLOCK) ON HrStatus.ID = S.Status_ID
					left JOIN prg_HRDeleteReason HRD WITH (NOLOCK) ON S.DeleteHRReason_Id = HRD.ID
					LEFT JOIN gen_ContactTalentPriority CTP ON CTP.ID = H.ContactTalentPriority_ID	
					LEFT JOIN prg_TalentRejectReason TRR on TRR.ID = CTP.RejectReasonID
					left JOIN  usr_User U WITH (NOLOCK) ON U.ID = CASE WHEN H.ModifiedByID > 0 THEN H.ModifiedByID ELSE H.CreatedByID END
					LEFT JOIN gen_Contact C WITH(NOLOCK) ON C.ID = CASE WHEN H.ModifiedByID > 0 THEN H.ModifiedByID ELSE H.CreatedByID END
					LEFT JOIN  gen_ManagedTalent T WITH (NOLOCK) ON T.ID = H.Talent_ID
					OUTER APPLY(SELECT top 1 CONVERT(VARCHAR,ISNULL(SI.ScheduledOn,''),105)+ ' ' +CONVERT(VARCHAR(5),ISNULL(SI.Interview_StartTime,''),14)+' To '+CONVERT(VARCHAR(5),ISNULL(SI.Interview_EndTime,''),14)+' '+(isnull(CTZ.ShortName,'')) AS InterviewDateTime 

					FROM gen_ShortlistedTalent_InterviewDetails SI WITH(NOLOCK)
								LEFT join prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = SI.TimeZone_ID
								WHERE SI.InterviewMaster_ID = H.InterviewMaster_ID) S1
					OUTER APPLY(SELECT Comments FROM gen_ContactInterviewFeedback CIF WITH(NOLOCK) 
								WHERE CIF.HiringRequest_ID = H.HiringRequest_ID )F1		
					OUTER APPLY(select top 1 cast(tr.TR_Accepted as nvarchar(50)) TR_Accepted from gen_SalesHR_TRAccepted_Details tr where HiringRequest_ID = @HR_ID and cast(tr.CreatedByDatetime as date)=cast(H.CreatedByDatetime as date) order by tr.ID desc)TR_Acceptance		
								WHERE H.HiringRequest_ID = @HR_ID AND H.ID = @Gen_HistoryID AND Action_ID <> 51
		 )
		 SELECT ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,UserEmployeeID,UserDesignation,TalentName,Comments,Remark,IsNotes,HRStatusID, HRStatus FROM  
			( 
					SELECT ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,UserEmployeeID,UserDesignation,ATSTalentLiveURL,ATSNonNDAURL,TalentName,InterviewDateTime,Comments,Remark,SLA_DueDate, IsNotes,AssignedUsers,HRStatusID, HRStatus FROM cteHistoryRecord 
					--UNION 
					--SELECT HN.Notes AS ActionName,'Note' AS DisplayName ,HN.CreatedByDatetime AS ActionDate,HN.HiringRequest_ID,U.FullName AS ActionPerformedBy,U.EmployeeID as UserEmployeeID,U.Designation AS UserDesignation,'','','','','','' as Remark,null, 1 as IsNotes
					--, AssignedUsers =  (select isnull((STUFF((
					--							select	distinct ',' + isnull(U1.FullName,'') 
					--							from gen_HRNotes_TagUserDetails TN
					--							INNER JOIN gen_HRNotes HN1 WITH(NOLOCK) ON TN.Note_ID = HN1.ID 
					--							INNER JOIN usr_user U1 WITH(NOLOCK) ON TN.Assigned_UserID = U1.ID
					--							WHERE TN.Note_ID = HN.ID  and HN1.HiringRequest_ID =HN.HiringRequest_ID
					--							For	XML Path('')),1,1,''
					--					)),'')
					--			),'','' -- Added by Reena Jain(19-July-2022): Get Notes Assigned users.
					--from gen_HRNotes HN WITH(NOLOCK)
					--INNER JOIN usr_user U WITH(NOLOCK) ON HN.CreatedByID = U.ID 
					WHERE HiringRequest_ID = @HR_ID
			) results ORDER BY ActionDate DESC
END

end