ALTER PROCEDURE [dbo].[Sproc_Get_UserList_ByChannelID] 
	@ChannelID Bigint,
	@LoginUserID BigInt
AS
BEGIN
	SET NOCOUNT ON;

    SELECT		U.ID AS UserID, 
				U.fullname as UserName, 
				UT.UserType,
				CASE WHEN U.ID = @LoginUserID THEN CAST(1 as BIT) ELSE CAST(0 as BIT) END AS SelfLeave
	FROM		usr_user as U with(nolock) 
				INNER JOIN usr_userType UT with(nolock) ON U.UserTypeID = UT.id
				INNER JOIN gen_SalesHiringRequest_Channel_UserDetails AS H with(nolock) on U.ID = H.UserID 
	WHERE		H.ChannelID = @ChannelID and U.IsActive = 1
	ORDER BY	U.FullName;
END
