ALTER PROCEDURE [dbo].[Sproc_Channel_AddUser]
	@ChannelID BIGINT Null,
	@UserIDs NVARCHAR(Max) Null
AS
BEGIN

	DECLARE @ReturnMessage NVARCHAR(Max)
	CREATE TABLE #tempData(UserID BIGINT)

	INSERT INTO #tempData
	SELECT val FROM dbo.f_split(@UserIds,',')

	IF NOT EXISTS(SELECT 1 FROM gen_SalesHiringRequest_Channel_UserDetails with(nolock) WHERE ChannelID = @ChannelID AND UserID IN (SELECT UserID FROM #tempData))
	BEGIN
			INSERT INTO gen_SalesHiringRequest_Channel_UserDetails (ChannelID, UserID)
			SELECT  @ChannelID, UserID FROM #tempData

			SET @ReturnMessage = 'User added Successfully'
			SELECT @ReturnMessage AS ReturnMessage, CAST(1 as bit) as Success
	END
	ELSE
	BEGIN
		SET @ReturnMessage = 'Some of the users are already added'
		SELECT @ReturnMessage AS ReturnMessage, CAST(0 as bit) as Success
	END

	DROP TABLE #tempData
END
