ALTER PROCEDURE [dbo].[Sproc_Channel_RemoveUser]
	@ChannelID BIGINT Null,
	@UserID BIGINT Null
AS
BEGIN

	DECLARE @ReturnMessage NVARCHAR(Max)

	IF EXISTS(SELECT 1 FROM gen_SalesHiringRequest_Channel_UserDetails with(nolock) WHERE ChannelID = @ChannelID AND UserID = @UserID)
	BEGIN
			DELETE FROM gen_SalesHiringRequest_Channel_UserDetails
			WHERE ChannelID = @ChannelID and UserID = @UserID

			SET @ReturnMessage = 'Remove User Successfully'
			SELECT @ReturnMessage AS ReturnMessage, CAST(1 as bit) as Success
	END
	ELSE
	BEGIN
		SET @ReturnMessage = 'User already Removed/ User not exist'
		SELECT @ReturnMessage AS ReturnMessage, CAST(0 as bit) as Success
	END
END
