ALTER PROCEDURE [dbo].[Sproc_Get_UserList_WhileAdd] 
	@ChannelID bigint
AS
BEGIN
	SELECT		U.ID AS UserID, 
				U.fullname AS UserName, 
				UT.UserType,
				CASE WHEN H.ChannelID IS NULL THEN CAST(0 as BIT) ELSE CAST(1 as BIT) END AS AlreadyAdded
	from		usr_user as U WITH(NOLOCK)
				INNER JOIN usr_userType as UT WITH(NOLOCK) on U.UserTypeID = UT.id
				LEFT OUTER JOIN gen_SalesHiringRequest_Channel_UserDetails AS H with(nolock) on U.ID = H.UserID AND H.ChannelID = @ChannelID
	where		U.UserTypeID IN (4,5,9,10) and U.IsActive = 1 
	ORDER BY 	U.FullName;
END
