ALTER PROCEDURE [dbo].[sproc_Get_ActivityData_ForChannelMessages]
@HRID				BIGINT		= NULL,
@ActionID			BIGINT		= NULL,
@TalentID			BIGINT		= NULL,
@CreatedByID		BIGINT		= NULL
AS
BEGIN

		IF OBJECT_ID('tempdb..#ChannelDefaultUsersData') IS NOT NULL
			DROP TABLE #ChannelDefaultUsersData;

		CREATE TABLE #ChannelDefaultUsersData
		(
			UserID bigint default 0
		);

		DECLARE @ActivityName	NVARCHAR(200) = '';
		DECLARE @ActionByName	NVARCHAR(200) = '';
		DECLARE @ChannelID		BIGINT = 0;
		DECLARE @ChannelUserCount INT = 0;
		DECLARE @TalentFullName NVARCHAR(200) = '';
		DECLARE @LastMessageDateTime datetime = GETDATE();

		IF @TalentID > 0
			SET @TalentFullName = ISNULL((SELECT Name from gen_Talent with(nolock) where ID = @TalentID),'');

		INSERT INTO #ChannelDefaultUsersData(UserID)
			EXEC Sproc_Get_User_Hierarchy_From_Any_Level @CreatedById;

		SET @ChannelUserCount = (SELECT COUNT(1) from #ChannelDefaultUsersData);

		IF NOT EXISTS (SELECT 1 from gen_SalesHiringRequest_Channel with(nolock) where HiringRequestID = @HRID)
		BEGIN
			INSERT INTO gen_SalesHiringRequest_Channel(HiringRequestID, MemberCount, ChannelInviteLink,CreatedDateTime, IsActive, LastMessageDateTime)
				SELECT @HRID, 1, '', GETDATE(), 1, @LastMessageDateTime;

			SET @ChannelID = @@IDENTITY;

			INSERT INTO gen_SalesHiringRequest_Channel_UserDetails(ChannelID, UserID)
				SELECT @ChannelID, UserID FROM #ChannelDefaultUsersData;
			
			UPDATE gen_SalesHiringRequest_Channel SET MemberCount = @ChannelUserCount where ID = @ChannelID;

		END
		ELSE
		BEGIN
			SELECT @ChannelID = ID from gen_SalesHiringRequest_Channel with(nolock) where HiringRequestID = @HRID;

			INSERT INTO gen_SalesHiringRequest_Channel_UserDetails(ChannelID, UserID)
				SELECT @ChannelID, D.UserID FROM #ChannelDefaultUsersData D 
				WHERE NOT EXISTS (SELECT 1 from gen_SalesHiringRequest_Channel_UserDetails where UserID = D.UserID and ChannelID = @ChannelID);

			UPDATE gen_SalesHiringRequest_Channel SET MemberCount = (SELECT COUNT(1) from gen_SalesHiringRequest_Channel_UserDetails where ChannelID = @ChannelID) 
			where ID = @ChannelID;
		END


		IF EXISTS(SELECT 1 from gen_SalesHiringRequest H with(nolock) where ID = @HRID)
		BEGIN
			IF EXISTS(SELECT 1 from gen_History His with(nolock) where Action_ID = @ActionID and HiringRequest_ID = @HRID)
			BEGIN

				SET @ActivityName = ISNULL((SELECT COALESCE(DisplayName,ActionName) from prg_History_Actions with(nolock) where ID = @ActionID),'');
				SET @ActionByName = ISNULL((SELECT U.FullName from usr_User U with(nolock) where U.ID = @CreatedByID),'');

				IF @TalentFullName <> ''
					SET @ActivityName = @ActivityName + ' for ' + @TalentFullName;

				INSERT INTO gen_Channel_UserMessages(ChannelID, IsActive, IsActivity, IsSent, Message, MessageSentFrom, MessageSentDateTime)
					SELECT @ChannelID, 1, 1, 1, @ActivityName, @CreatedByID, @LastMessageDateTime;

			END
		END

END