ALTER FUNCTION [dbo].[GetPOCName] (@CompanyID BIGINT, @ContactID BIGINT)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @POCName NVARCHAR(MAX) = ''

	SET @POCName =	(SELECT STUFF(
		(SELECT ', ' + U.FullName FROM gen_Company C WITH(NOLOCK) 
		INNER JOIN gen_Contact CO WITH(NOLOCK) ON C.ID = CO.CompanyID
		INNER JOIN gen_ContactPointofContact POC WITH(NOLOCK) ON CO.ID = POC.ContactID 
		INNER JOIN usr_User U WITH(NOLOCK) ON U.ID = POC.User_ID 
		where C.ID = @CompanyID and POC.ContactID = @ContactID
		FOR XML PATH('')), 1, 1, '')
	)

    RETURN @POCName
END
GO


