CREATE PROCEDURE [dbo].[Sproc_UpdateUpscreenQuestions_ClientPortal]   
	@HiringRequestID	BIGINT = 0
AS
BEGIN
    UPDATE dbo.gen_SalesHiringRequest_Details SET 
	ScreeningQuestionsGenerated  = 1,
	ScreeningQuestionsGeneratedDateTime = GETDATE()
	WHERE HiringRequest_ID = @HiringRequestID
END
