USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardStandOutDetails_ClientPortal]    Script Date: 11-03-2024 19:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetDashboardStandOutDetails_ClientPortal]
@ContactID					BIGINT NULL,
@AnotherCompanyTypeId		int = 0

AS
BEGIN	

		DECLARE @CompanyID BIGINT = NULL;
		SET @CompanyID = (SELECT TOP 1 CompanyID FROM gen_Contact WITH(NOLOCK) WHERE ID = @ContactID)		

		--IF OBJECT_ID('tempdb..#HRTypeID') IS Not Null
		--	DROP TABLE #HRTypeID

		--CREATE TABLE #HRTypeID
		--(
		--	HRID		bigint,
		--	HRTypeID	int
		--)

		--IF Isnull(@AnotherCompanyTypeId,0) = 1 
		--	BEGIN
		--			INSERT INTO #HRTypeID
		--			SELECT  ID,ISNULL(HRTypeID,0)
		--			FROM    gen_SalesHiringRequest WITH(NOLOCK)
		--			WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND Isnull(HRTypeId,0) = 1
		--	END
		--ELSE IF Isnull(@AnotherCompanyTypeId,0) = 2
		--	BEGIN
		--			INSERT INTO #HRTypeID
		--			SELECT  ID,ISNULL(HRTypeID,0)
		--			FROM    gen_SalesHiringRequest WITH(NOLOCK)
		--			WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND Isnull(HRTypeId,0) in (3,4,6)
		--	END
		--ELSE
		--	BEGIN
		--			INSERT INTO #HRTypeID
		--			SELECT  ID,ISNULL(HRTypeID,0)
		--			FROM    gen_SalesHiringRequest WITH(NOLOCK)
		--			WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID)
		--	END

		DECLARE @TotalJobPosts TABLE
		(
			GUID NVARCHAR(500),
			RoleName NVARCHAR(500),
			ContactID BIGINT,
			IsStandOutDetailsforCompany BIT NULL,
			IsStandOutDetailsforJobPost BIT NULL,
			ID BIGINT
		)

		DECLARE @StandOutDetails TABLE
		(
			LinkedInProfile NVARCHAR(500),
			CompanySize NVARCHAR(500),
			industry NVARCHAR(500),
			about_Company_desc NVARCHAR(MAX),
			Website	NVARCHAR(MAX)
		)

		--DECLARE @JobPostDetails TABLE
		--(
		--	GUID NVARCHAR(250),
		--	IsLineManagerReq Bit,
		--	IsTeamMemberReplacement Bit,
		--	CareerProgressionPath NVARCHAR(MAX),
		--	BenefitsandChallenges NVARCHAR(MAX),
		--	InterviewProcess NVARCHAR(MAX)
		--)

		--INSERT INTO @JobPostDetails
		--SELECT GUID, IsLineManagerReq, IsTeamMemberReplacement,CareerProgressionPath, BenefitsandChallenges,InterviewProcess  
		--FROM gen_JobPost_StandoutToTalents_ClientPortal ST WITH(NOLOCK) WHERE CompanyID = @CompanyID 
		--	AND (IsLineManagerReq IS NOT NULL AND IsTeamMemberReplacement IS NOT NULL AND CareerProgressionPath IS NOT NULL 
		--			AND BenefitsandChallenges IS NOT NULL AND InterviewProcess IS NOT NULL)

		--;WITH CTA_StandOutDetails AS (
		--	SELECT GUID, ID FROM gen_JobPost_StandoutToTalents_ClientPortal ST WITH(NOLOCK) WHERE CompanyId = @CompanyID 
		--) --AS StandOutDetails

		;WITH CTA_StandOutDetails AS (
			SELECT LinkedInProfile, CompanySize,industry, about_Company_desc, website FROM gen_Company ST WITH(NOLOCK) WHERE ID = @CompanyID 
			AND (LinkedInProfile IS NOT NULL AND CompanySize IS NOT NULL AND industry IS NOT NULL AND about_Company_desc IS NOT NULL 
			--AND TeamManagement IS NOT NULL 
			AND website IS NOT NULL)
		) --AS StandOutDetails

		INSERT INTO @StandOutDetails
		SELECT * FROM CTA_StandOutDetails

	--	INSERT INTO @TotalJobPosts
	--	  SELECT
	--	A.GUID, A.RoleName, A.ContactID, A.IsStandOutDetailsforCompany, A.IsStandOutDetailsforJobPost, A.Id
	--	--, A.GUID1
	--FROM
	-- ( 
	--   SELECT ROW_NUMBER() OVER( PARTITION BY RH.GUID
	--	   ORDER BY RH.Id DESC) AS RowNum,
	--		RH.GUID,			
	--		RoleName,
	--		@ContactID AS ContactID,
	--		0 AS IsStandOutDetailsforCompany,
	--		0 AS IsStandOutDetailsforJobPost,
	--		--IsStandOutDetailsforJobPost = CASE WHEN ISNULL(ST.GUID,'') = RH.GUID THEN 1 ELSE 0 END,
	--		--IsStandOutDetailsforJobPost = 1,
	--		ST.GUID AS 'GUID1', 
	--		RH.Id
	--		FROM	gen_RoleAndHiringType_ClientPortal RH WITH(NOLOCK)
	--				LEFT JOIN gen_JobPost_StandoutToTalents_ClientPortal ST WITH(NOLOCK) ON RH.GUID = ST.GUID --AND RH.ContactID = ST.ContactID 		
	--				INNER JOIN gen_SalesHiringRequest HR  WITH(NOLOCK) ON RH.GUID = HR.GUID  		
	--				Inner join #HRTypeID HT ON HT.HRID = HR.ID
	--		WHERE	RH.ContactId IN (SELECT Id FROM gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID ) 
	--				AND RH.IsActive = 1	AND ISNULL(HR.JobStatusID, 0) <> 2	AND HR.Status_ID IN (1,2)
					
	-- ) A
 --  WHERE A.RowNum = 1      
 --  ORDER BY A.Id DESC

	INSERT INTO @TotalJobPosts
	SELECT
	'' AS GUID, 
	'' AS RoleName, 
	@ContactId AS ContactID, 
	CASE WHEN ((SELECT COUNT(*) FROM @StandOutDetails) <> 0) THEN 1 ELSE 0 END, 
	CAST (0 AS BIT),
	CAST (0 AS BIGINT)

   --UPDATE @TotalJobPosts SET 
   --IsStandOutDetailsforCompany = CASE WHEN ((SELECT COUNT(*) FROM @StandOutDetails) <> 0) THEN 1 ELSE 0 END
   ----IsStandOutDetailsforJobPost = CASE WHEN ((SELECT COUNT(*) FROM @JobPostDetails) <> 0) THEN 1 ELSE 0 END

 --  update u
	--set u.IsStandOutDetailsforJobPost = 1
	--from @TotalJobPosts u
	--	inner join @JobPostDetails s on
	--		u.GUID = s.GUID

   --DECLARE @FirstHRIDPostedDate DATETIME
   --SET @FirstHRIDPostedDate = (SELECT TOP 1 CreatedByDatetime FROM gen_SalesHiringRequest WHERE ContactID = @ContactId)  

   --UPDATE @TotalJobPosts SET  
   --IsStandOutDetailsforCompany = 1, IsStandOutDetailsforJobPost = 1 
   --WHERE DATEDIFF(day, @FirstHRIDPostedDate, GETDATE()) > 3

	SELECT * FROM @TotalJobPosts 
	--ORDER BY IsStandOutDetailsforJobPost, ID DESC
	--DROP TABLE #HRTypeID
		--SELECT * FROM @StandOutDetails

		--SELECT * FROM gen_JobPost_StandoutToTalents_ClientPortal WHERE ContactID = @ContactID
END

