ALTER PROCEDURE [dbo].[sp_get_HRTalentDetails_ClientPortal] 
@HR_ID bigint  = 0, 
@ContactID BIGINT = 0,
@CompanyID BIGINT = NULL
AS
BEGIN

	IF(ISNULL(@CompanyID, 0) = 0)
	BEGIN
		SELECT TOP 1 @CompanyID = CompanyID FROM gen_Contact WITH(NOLOCK) WHERE ID = @ContactID
	END


	DECLARE @CompanyTypeID BIGINT 
	SELECT TOP 1 @CompanyTypeID = CompanyTypeID from gen_Company WITH(NOLOCK) WHERE ID = @CompanyID

	DECLARE @IsContractualHR BIT = 0, @HiringTypePricingID INT = 0
	
	SELECT	IMasterID =max(IntM.ID) ,IntM.HiringRequest_ID ,IntM.Talent_ID,max(Intm.InterviewRound_Count)  InterviewRound_Count
						INTO	#TempInterviewDetails
						FROM	gen_InterviewSlotsMaster IntM WITH(NOLOCK) 	
						INNER JOIN [gen_SalesHiringRequest] HR WITH(NOLOCK) ON HR.ID = IntM.HiringRequest_ID
						INNER JOIN gen_Contact C ON HR.ContactID = C.ID
						WHERE C.CompanyID = @CompanyID	
						--HR.ContactID = @ContactID
						--IntM.HiringRequest_ID = @HR_ID
						GROUP BY  IntM.HiringRequest_ID ,IntM.Talent_ID


		SELECT   IMaxOnboardTalentID = MAX(OBT.ID), OBT.HiringRequest_ID, OBT.Talent_ID 
					INTO     #TempOnboardDetails 
					FROM     gen_OnBoardTalents OBT WITH(NOLOCK)
					WHERE    OBT.HiringRequest_ID = @HR_ID
					GROUP BY OBT.HiringRequest_ID, OBT.Talent_ID

		DECLARE @DynamicCTAData TABLE
		(
			TalentStatusID_BasedOnHR INT ,
			TalentID BIGINT, 
			HiringDetailID BIGINT,
			InterViewStatusId INT,
			Status NVARCHAR(500),
			InterviewStatus NVARCHAR(250),
			ClientFeedback NVARCHAR(250),
			NextRound_InterviewDetailsID BIGINT,
			HiringRequestID BIGINT,
			IsContractualHR BIT,
			OnBoardId BIGINT,
			TalentOnBoardDate NVARCHAR(250),
			ClientOnBoarding_StatusID INT,
			JobStatusID INT 
		)

		IF(ISNULL(@HR_ID, 0 ) > 0)
		BEGIN

			DECLARE @HRTypeID INT, @StatusID INT 
			SELECT TOP 1 @HRTypeID = HRTypeId, @StatusID = JobStatusID,
			@HiringTypePricingID = HiringTypePricingID,
			@IsContractualHR = CASE WHEN HiringTypePricingID IN (3, 6) THEN 0 ELSE 1 END
			FROM gen_SalesHiringRequest WHERE ID = @HR_ID

			print 'Riya'

			IF(ISNULL(@HRTypeID,0) = 1)
			BEGIN
				INSERT INTO @DynamicCTAData 
				(
					TalentStatusID_BasedOnHR,
					TalentID,
					HiringDetailID,
					InterViewStatusId,
					Status,
					ClientFeedback,
					NextRound_InterviewDetailsID,
					InterviewStatus,
					HiringRequestID,
					IsContractualHR,
					OnBoardId,
					TalentOnBoardDate,
					ClientOnBoarding_StatusID,
					JobStatusID
				)
				Select
					TalentStatusID_BasedOnHR = CASE WHEN (isnull(CTP.TalentStatusID_BasedOnHR,0) = 3 AND IntM.InterviewStatus_ID = 3) THEN 2 
													WHEN isnull(CTP.TalentStatusID_BasedOnHR,0) = 11 AND isnull(IntM.InterviewStatus_ID,0) = 0 THEN 2
													ELSE isnull(CTP.TalentStatusID_BasedOnHR,0) END,
					isnull(T.ID,0) as TalentID,
					isnull(CTP.HiringRequest_Detail_ID,0) as HiringDetailID,										
					InterViewStatusId=isnull(IntM.InterviewStatus_ID,0),
					isnull(TSACS.TalentStatus,'') As [Status],										
					ClientFeedback = isnull(CF.FeedBack_Type,''),
					NextRound_InterviewDetailsID = isnull(N.ID,0),
					InterviewStatus =  ISNULL(INS.InterviewStatus,''),
					HiringRequestID = H.ID,					
					IsContractualHR = @IsContractualHR,
					Isnull(O.ID,0) AS OnBoardId,
					--TalentOnBoardDate =  Case When  O.Status_ID = 4 then ISNULL((CONVERT(varchar, ISNULL(OC.LastWorkingDate, ''), 103) + ' '  + convert(VARCHAR(8),OC.LastWorkingDate, 14)),'') else ISNULL((CONVERT(varchar, ISNULL(OC.TalentOnBoardDate, ''), 103) + ' '  + convert(VARCHAR(8),OC.TalentOnBoardDate, 14)),'') end,
					TalentOnBoardDate =	 Case When  O.Status_ID in (2,3,4) then ISNULL((CONVERT(varchar, ISNULL(OC.LastWorkingDate, getdate()), 103) + ' '  + convert(VARCHAR(8),ISNULL(OC.LastWorkingDate, getdate()), 14)),'') else ISNULL((CONVERT(varchar, ISNULL(OC.TalentOnBoardDate, ''), 103) + ' '  + convert(VARCHAR(8),OC.TalentOnBoardDate, 14)),'') end, 
					
					--ISNULL((CONVERT(varchar, ISNULL(OC.TalentOnBoardDate, ''), 103) + ' '  + convert(VARCHAR(8),OC.TalentOnBoardDate, 14)),'') ,
					ISNULL(O.ClientOnBoarding_StatusID,0) ClientOnBoarding_StatusID,
					@StatusID
							from	gen_Talent T WITH(NOLOCK)
									inner join [dbo].gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.TalentID=T.ID
									inner join [dbo].[gen_SalesHiringRequest] H WITH(NOLOCK) ON H.ID=CTP.HiringRequestID								
									inner join [dbo].[gen_SalesHiringRequest_Details] HD WITH(NOLOCK) ON H.ID = HD.HiringRequest_ID
									inner join prg_TalentStatus_AfterClientSelection TSACS WITH(NOLOCK)  ON  TSACS.ID = CTP.TalentStatusID_BasedOnHR
									LEft JOIN #TempInterviewDetails Tmp ON Tmp.HiringRequest_ID = H.ID AND Tmp.Talent_ID = T.ID
									LEft join gen_InterviewSlotsMaster IntM WITH(NOLOCK) ON IntM.ID = Tmp.IMasterID --and Tmp.InterviewRound_Count = IntM.InterviewRound_Count
									Left JOIN gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) ON  TI.InterviewRound = IntM.InterviewRound_Count and  
									TI.InterviewMaster_ID=IntM.ID AND TI.HiringRequest_ID = IntM.HiringRequest_ID AND TI.HiringRequest_Detail_ID = IntM.HiringRequest_Detail_ID AND TI.Talent_ID = IntM.Talent_ID
									LEft join prg_InterviewStatus INS WITH(NOLOCK) ON INS.ID = IntM.InterviewStatus_ID									
									left join gen_ContactInterviewFeedback CF with(nolock) ON  CF.Shortlisted_InterviewID = TI.Shortlisted_InterviewID AND CF.HiringRequest_ID =  Tmp.HiringRequest_ID
									left join gen_TalentSelected_NextRound_InterviewDetails N WITH(NOLOCK) ON N.Shortlisted_InterviewID = TI.Shortlisted_InterviewID AND N.Talent_ID = Tmp.Talent_ID and N.InterviewRound = IntM.InterviewRound_Count
									LEft join #TempOnboardDetails TempOnboard ON TempOnboard.HiringRequest_ID = H.ID AND TempOnboard.Talent_ID = T.ID
									left join gen_OnBoardTalents O WITH(NOLOCK) ON O.ID = TempOnboard.IMaxOnboardTalentID and O.Talent_ID = TempOnboard.Talent_ID AND O.HiringRequest_ID = TempOnboard.HiringRequest_ID
									left join gen_OnBoardClientContractDetails OC WITH(NOLOCK) ON OC.OnBoardID = O.ID

							WHERE H.ID=@HR_ID	
			END			
		END

		DROP TABLE #TempInterviewDetails
		DROP TABLE #TempOnboardDetails

		SELECT * FROM @DynamicCTAData
END