
ALTER PROCEDURE [dbo].[SP_PayPerHire_CalculationDetails]
@HRID BIGINT,
@Guid NVARCHAR(500)
AS
BEGIN

	DECLARE 
	@IsTransparentPricing BIT, 
	@UplersFeesInPer DECIMAL(18,2), 
	@AdHocBudget DECIMAL(18,2), 
	@MinBudget DECIMAL(18,2), 
	@MaxBudget DECIMAL(18,2), 
	@UplersFeeInAmount NVARCHAR(MAX),
	@IsHrDP BIT = 0,
	@IsBackendHR BIT = 0,
	@IsPayPerHireHR  BIT = 0,
	@CurrencySign nvarchar(20) = '',
	@Currency varchar(20) = ''

	IF(ISNULL(@HRID,0) <> 0) 
	BEGIN
		SELECT 
		@IsHrDP = ISNULL(H.IsHRTypeDP,0),
		@IsTransparentPricing = H.IsTransparentPricing,
		@UplersFeesInPer = 
		(CASE 
			WHEN @IsHrDP = 1 and H.DPPercentage > 0 
			THEN H.DPPercentage 
			ELSE H.TalentCostCalcPercentage
		END),
		@IsPayPerHireHR = 
		(CASE 
			WHEN H.HRTypeId = 1 THEN CAST(1 AS BIT) 
			ELSE CAST(0 AS BIT) 
		END)
		FROM gen_saleshiringrequest H WITH (NOLOCK)  
		WHERE H.id = @HRID

		SELECT  
		@AdHocBudget = ISNULL(HD.Adhoc_BudgetCost,0),
		@MinBudget = ISNULL(HD.BudgetFrom,0),
		@MaxBudget = ISNULL(HD.BudgetTo,0),
		@Currency = ISNULL(HD.Currency, ''),
		@CurrencySign = ISNULL(C.CurrencySign,'')
		FROM gen_SalesHiringRequest_Details HD WITH (NOLOCK) 
		LEFT JOIN prg_CurrencyExchangeRate  C WITH (NOLOCK)  ON C.CurrencyCode = HD.Currency
		WHERE HiringRequest_ID = @HRID
	END
	ELSE
	BEGIN
		SELECT 
		@IsHrDP = CASE WHEN H.HiringTypePricingId = 3 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
		@IsTransparentPricing = CAST(1 AS BIT),
		@UplersFeesInPer = PricingPercentage,
		@IsPayPerHireHR = CASE WHEN H.HiringTypePricingId <> 0 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END
		FROM gen_TransparentPricingModel_ClientPortal H WITH (NOLOCK)  
		WHERE GUID = @Guid

		SELECT  
		@AdHocBudget = CASE WHEN ISNULL(HD.BudgetTo,0) = 0 AND ISNULL(HD.BudgetFrom,0) <> 0 THEN ISNULL(HD.BudgetFrom,0) ELSE 0 END,
		@MinBudget = ISNULL(HD.BudgetFrom,0),
		@MaxBudget = ISNULL(HD.BudgetTo,0),
		@Currency = ISNULL(HD.Currency, ''),
		@CurrencySign = ISNULL(C.CurrencySign,'')
		FROM gen_SkillAndBudget_ClientPortal HD WITH (NOLOCK) 
		LEFT JOIN prg_CurrencyExchangeRate  C WITH (NOLOCK)  ON C.CurrencyCode = HD.Currency
		WHERE HD.GUID = @Guid
	END

	IF(@IsPayPerHireHR = 1 AND (@AdHocBudget > 0 OR (@MinBudget > 0 AND @MaxBudget > 0)))
	BEGIN

		SELECT
		IsTransparentPricing = ISNULL(IsTransparentPricing,1) ,
		Budget = ISNULL(Budget,''),
		UplersFeeInAmount = ISNULL(UplersFeeInAmount,''),
		ClientPay = ISNULL(ClientPay,''),
		TalentPay = ISNULL(TalentPay,'')
		FROM 
			dbo.UTS_Admin_PayPerHire_Calculation(@IsTransparentPricing, @AdHocBudget,@MinBudget , @MaxBudget, @UplersFeesInPer, @IsHrDP, @CurrencySign, @Currency);
	END
	ELSE
	BEGIN
		SELECT
		IsTransparentPricing = CAST(1 AS BIT),
		Budget = '',
		UplersFeeInAmount = '',
		ClientPay = '',
		TalentPay = ''
	END
END