ALTER PROCEDURE [dbo].[SP_PayPerHire_Calculation_Update]
@HRID BIGINT  
AS
BEGIN

	DECLARE 
	@IsTransparentPricing BIT, 
	@UplersFeesInPer DECIMAL(18,2), 
	@AdHocBudget DECIMAL(18,2), 
	@MinBudget DECIMAL(18,2), 
	@MaxBudget DECIMAL(18,2), 
	@UplersFeeInAmount NVARCHAR(MAX),
	@IsHrDP BIT = 0,
	@IsBackendHR BIT = 0,
	@IsPayPerHireHR  BIT = 0,
	@CurrencySign nvarchar(20) = '',
	@Currency varchar(20) = ''

	SELECT 
	@IsHrDP = ISNULL(IsHRTypeDP,0),
	@IsTransparentPricing = IsTransparentPricing,
	@UplersFeesInPer = 
	(CASE 
		WHEN @IsHrDP = 1 and DPPercentage > 0 
		THEN DPPercentage 
		ELSE TalentCostCalcPercentage
	END),
	@IsBackendHR = 
	(CASE 
		WHEN ISNULL(GUID, '') = '' 
		THEN CAST(1 AS BIT) 
		ELSE CAST(0 AS BIT) 
	END),
	@IsPayPerHireHR = 
	(CASE 
		WHEN HRTypeId = 1 THEN CAST(1 AS BIT) 
		ELSE CAST(0 AS BIT) 
	END)
	FROM gen_saleshiringrequest WITH (NOLOCK) WHERE id = @HRID

	SELECT  
	@AdHocBudget = ISNULL(HD.Adhoc_BudgetCost,0),
	@MinBudget = ISNULL(HD.BudgetFrom,0),
	@MaxBudget = ISNULL(HD.BudgetTo,0),
	@Currency = ISNULL(HD.Currency, ''),
	@CurrencySign = ISNULL(C.CurrencySign,'')
	FROM gen_SalesHiringRequest_Details HD WITH (NOLOCK) 
	LEFT JOIN prg_CurrencyExchangeRate  C WITH (NOLOCK)  ON C.CurrencyCode = HD.Currency
	WHERE HiringRequest_ID = @HRID

	IF(@IsPayPerHireHR = 1 AND (@AdHocBudget > 0 OR (@MinBudget > 0 AND @MaxBudget > 0)))
	BEGIN

		--IF @IsBackendHR = 1
		--BEGIN
		--	SELECT @UplersFeeInAmount = UplersFeeInAmount FROM 
		--	dbo.UTS_Admin_PayPerHire_Calculation(@IsTransparentPricing, @AdHocBudget,@MinBudget , @MaxBudget, @UplersFeesInPer, @IsHrDP);
		--END
		--ELSE
		--BEGIN
		--	SELECT @UplersFeeInAmount = UplersFeeInAmount FROM 
		--	dbo.PayPerHire_Calculation(@IsTransparentPricing, @AdHocBudget,@MinBudget , @MaxBudget, @UplersFeesInPer, @IsHrDP);
		--END

		SELECT @UplersFeeInAmount = UplersFeeInAmount FROM 
			dbo.UTS_Admin_PayPerHire_Calculation(@IsTransparentPricing, @AdHocBudget,@MinBudget , @MaxBudget, @UplersFeesInPer, @IsHrDP, @CurrencySign, @Currency);

		IF(@UplersFeeInAmount IS NOT NULL)
		BEGIN
			UPDATE gen_SalesHiringRequest_Details
			SET CalculatedUplersfees = @UplersFeeInAmount
			WHERE HiringRequest_ID = @HRID
		END
	END
END
