ALTER PROCEDURE [dbo].[sp_UTS_GetCompanyClientDetails] 
	@CompanyID BIGINT NULL,
	@ClientID BIGINT NULL
AS
BEGIN
	IF @CompanyID > 0 AND @ClientID > 0
	BEGIN
		SELECT  ISNULL(Co.Company,'') As CompanyName,
				dbo.Fun_GetInitials(ISNULL(Co.Company,'')) AS CompanyInitial,
				ISNULL(C.FullName,'') AS ClientName,
				CASE 
					WHEN isnull(Co.IsFromSignUp,0) = 1 THEN 'Self Signup'
					WHEN isnull(Co.HubSpot_Company,0) > 0 THEN 'Hubspot'
					ELSE 'Added By sales'
				END AS ClientSource,
				ISNULL(S.Contact_Status,'') as ClientStatus,
				ISNULL(dbo.GetPOCName(@CompanyID, @ClientID),'') AS UplersPOC,
				ISNULL(Co.AM_SalesPersonID,0) AS AM_SalesPersonID,
				ISNULL(AM_User.FullName,'') AS AM_UserName,
				ISNULL(C.EmailID,'') AS ClientEmail,
				ISNULL(C.LinkedIn,'') AS ClientLinkedIn, 				
				CompanyURL = CASE WHEN ISNULL(Co.Website,'') = '' THEN  ''
							ELSE
								CASE WHEN ISNULL(Co.Website,'') LIKE 'http%' OR ISNULL(Co.Website,'') LIKE 'https%' 
									THEN ISNULL(Co.Website,'')
									ELSE   '//' + ISNULL(Co.Website,'')							
									END -- Send the Company URL
							END,
				ISNULL(Co.LinkedInProfile,'') CompanyLinkedIn,
				ISNULL(Co.Lead_Type, 'NA') as LeadSource,
				(SELECT Top 1 FullName FROM usr_User WHERE ID = COL.LeadType_UserID) as LeadUser,
				ISNULL(g.GEO,'') GEO,
				(cast(0 as float)) as TR,
				ISNULL(Co.Industry_Type,'') as Industry,
				ISNULL(Co.CompanySize,0) as CompanySize,
				CAST(ISNULL(Co.TeamManagement,0) as BIT) AS AllowOffshore,
				ISNULL(Co.about_Company_desc,'') as AboutCompany,
				ISNULL(Co.Website,'') as ViewCompanyURL,
				ISNULL(Co.CompanyLogo,'') as CompanyLogo,
				ISNULL(C.ContactNo, '') AS ClientContactNumber
				FROM gen_Contact C WITH(NOLOCK) 
				INNER JOIN gen_Company Co WITH(NOLOCK) ON Co.Id = C.CompanyID
				LEFT JOIN usr_User AM_User WITH(NOLOCK) ON AM_User.ID = Co.AM_SalesPersonID
				LEFT JOIN prg_ContactStatus S WITH(NOLOCK) ON S.ID = Co.Client_StatusID
				LEFT JOIN prg_GEO g WITH(NOLOCK) on Co.GEO_ID = g.ID
				LEFT JOIN gen_CompanyLeadType_UserDetails COL WITH(NOLOCK) ON COL.CompanyID = C.CompanyID
				WHERE C.ID = @ClientID and Co.ID = @CompanyID
	END
END

