ALTER PROCEDURE [dbo].[sp_UTS_get_HRClientDetails]
@HR_ID bigint
AS
BEGIN
		-------------------------------------New Status Changes-----------------------------------
		CREATE TABLE #TempTable_HrStatus (
			HRID BIGINT,
			HR_Number VARCHAR(100),
			HRStatus  VARCHAR(100),
			HRStatusCode INT
		);
		INSERT INTO #TempTable_HrStatus(HRID, HR_Number, HRStatus, HRStatusCode)
		EXEC Sproc_UTS_Get_HRStatus @HRID = @HR_ID
		-------------------------------------------------------------------------------
		
		select	top 1 U1.FullName,POC.ContactID,U1.EmailID,H.ID AS HiringID into #Temp_POC 
							from	usr_User U1 with(nolock) 
									inner join gen_ContactPointofContact POC with(nolock) on U1.ID = POC.User_ID
									inner join gen_SalesHiringRequest H with(nolock) on POC.ContactID = H.ContactID
							where H.ID = @HR_ID

		select	top 1  H.SalesUserID, U1.ID  AS ManagerID, U1.FullName as ManagerName,H.ID AS HiringID into #Temp_Hierarchy
							from	usr_User U with(nolock) 
									inner join gen_SalesHiringRequest H with(nolock) on U.ID = H.SalesUserID
									left join usr_UserHierarchy UH with(nolock) on U.ID = UH.UserID
				                    left join usr_User U1 with(nolock) ON U1.ID = UH.ParentID AND  U1.UserTypeID in (4,9) 	
							where  U1.UserTypeID in (4,9) AND  H.ID = @HR_ID

		SELECT CTP.HiringRequestID AS HRID into #TempTotalBackoutReplacedTalents from gen_ContactTalentPriority CTP WITH(NOLOCK) 
										Where CTP.TalentStatusID_BasedOnHR in (4,10)  AND isnull(HRTalentTagID ,0) in(1,2,3) AND CTP.HiringRequestID = @HR_ID
		

		;WITH CTA_OnBoardTalent AS (
		SELECT OBT.HiringRequest_ID 
		FROM gen_OnBoardTalents OBT WITH(NOLOCK) 
		WHERE OBT.EngagemenID NOT LIKE '%_RN%'
		AND EXISTS (
			SELECT 1 
			FROM gen_ContactTalentPriority CTP WITH(NOLOCK) 
			WHERE CTP.HiringRequestID = OBT.HiringRequest_ID 
			AND CTP.TalentID = OBT.Talent_ID 
			AND CTP.TalentStatusID_BasedOnHR IN (4, 10)  
			AND ISNULL(HRTalentTagID, 0) NOT IN (1, 2, 3) 
			AND CTP.HiringRequestID = @HR_ID
			)
		)	


		
		SELECT	Co.Company As CompanyName,
				C.FullName AS ClientName,
				C.EmailID AS ClientEmail,
				ISNULL(AM_User.FullName,'') AS AM_UserName,
				ISNULL(Co.LinkedInProfile,'') LinkedInProfile,
				ISNULL(Co.Category,'') Category,
				U.FullName AS SalesPerson,
				isnull(HD.Cost,0) Cost, 
				--R.TalentRole AS [Role],
				'' AS [Role],
				(CASE WHEN H.Availability = 'Part Time' THEN Round((cast(H.NoofTalents as float)/2),2) ELSE H.NoofTalents end) as  NoOfTalents, -- Reena Jain(15-May-2023): UTS-2829 Mismatch in TR
				--TT.TalentTimeZone + ' (' + TP.WorkingTimePreference + ')' As TimeZone,
				ISNULL(TZ.TimeZoneTitle, '') AS TimeZone, --UTS-4677: Get the universal timezone.
				Managed = case when Isnull(H.IsManaged,0) = 1 then 'Managed' else  'Self-Managed' end,
				JobDetail= case when isnull(H.JDURL,'') = '' then isnull(H.JDFileName,'') ELSE isnull(H.JDURL,'') END, 
				isnull(H.JDURL,H.JDFileName) As JobDetailURL, 
				H.HR_Number,
				Priority = case when Isnull(SHP.IsPriority,0) = 1 then 'Yes' else  'No' end ,
				AdHocHR = Isnull(H.IsAdHocHR,0) , 
				PoolHR = Isnull(H.ISPoolHR,0), 
				[Availability] = H.Availability,
				AvailabilityParttime =  case when H.Availability = 'Part Time' then cast(H.NoofHoursworking as nvarchar(10)) + ' ' +P.PartialEngagementType else '' end,
				SpecificMonth = ISNULL(HD.SpecificMonth,0),
				FromTimeAndToTime = HD.TimeZone_FromTime + ' to '+ HD.TimeZone_EndTime,
				H.RequestForTalent as [Title],
				ISNULL(C.ID,0) AS ContactId,
				ISNULL(Co.ID,0) AS CompanyId,				
				CompanyURL = CASE WHEN ISNULL(Co.Website,'') = '' THEN  ''
							ELSE
								CASE WHEN ISNULL(Co.Website,'') LIKE 'http%' OR ISNULL(Co.Website,'') LIKE 'https%' 
									THEN ISNULL(Co.Website,'')
									ELSE   '//' + ISNULL(Co.Website,'')							
									END -- Send the Company URL
							END,
				ISNULL(TPOC.FullName,'') as POCFullName,
				ISNULL(TPOC.EmailID,'') as POCEmailID,
				ISNULL(TUserHierarchy.ManagerName,'') as SalesManagerName,
				ISNULL(HD.YearOfExp,0) as MinYearOfExp,
				--------New status changes------------------------
				[HRStatus] = ISNULL(TS.HRStatus, JS.JobStatus),
				[HRStatusCode] = ISNULL(TS.HRStatusCode, 201),
				--------------------------------------------------------
				[HRStatus_Old] = case 
								when ISNULL(H.IsActive,0) = 0 and S.ID = 1 then 'Draft' 
									When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 1 then 'HR Accepted' 
									When  ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 0 AND S.ID = 1 then 'Acceptance Pending'  
									When  ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 2 AND S.ID = 1 then 'Info Pending'
									When  ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 3 then 'Completed'
									When  ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 2 then 'In Process'
									When  S.ID = 5 then 'On Hold'
									When  S.ID = 4 then 'Cancelled'
									When  S.ID = 6 then 'Lost'
								ELSE
									S.HiringRequest_Status 
								end,
				[HRStatusCode_Old] = case 
									when ISNULL(H.IsActive,0) = 0 and S.ID = 1 then 101 
									When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 1 then 102 
									When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 0 AND S.ID = 1 then 103  
									When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 2 AND S.ID = 1 then 104
									When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 3 then 105 
									When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 2 then 106
									When  S.ID = 4 then 107 
									When  S.ID = 5 then 108
									When  S.ID = 6 then 109
								ELSE
									201 
								end,				
				StarMarkedStatusCode = ISNULL(CASE WHEN SHP.IsNextWeekPriority = 1 THEN 101 
											  WHEN SHP.IsNextWeekPriority = 0 AND SHP.IsPriority = 1 THEN 102  
										END,0),
				ISNULL(H.BQLink,'') AS BQLink, 
				ISNULL(H.Discovery_Call,'') AS Discovery_Call,
				ISNULL(geo.GEO,'') GEO,
				0 as TR_Accepted,
				ISNULL(DP.ModeOfWork,'') as ModeOfWork,
				ISNULL(DP.Address,'') as Address,
				ISNULL(DP.City,'') as City,
				ISNULL(DP.State,'') as State,
				ISNULL(CR.CountryRegion,'') as CountryRegion,
				ISNULL(DP.PostalCode,'') as PostalCode,
				CASE WHEN isnull(H.JDFilename,'') <> '' THEN 'JDFILE' ELSE 
					(CASE WHEN isnull(H.JDURL,'') <> '' THEN 'JDURL' ELSE '' END) END as JDFileOrURL,
				--Added the LeadType and LeadUser (Riya)
				ISNULL(Co.Lead_Type, 'NA') as LeadType, 
				--LeadUser = (SELECT Top 1 FullName FROM usr_User with(nolock) WHERE ID = COL.LeadType_UserID),
				LeadUser = isnull(LedUser.FullName,'') ,
				ActiveTR = CASE WHEN H.Status_ID IN (3, 4, 6) THEN 0
							    ELSE
									CASE WHEN H.Availability = 'Part Time' THEN 
									Round((cast((   (H.NoofTalents + (Select Count(TB.HRID) from #TempTotalBackoutReplacedTalents TB where H.ID = TB.HRID) ) - (Select Count(CT.HiringRequest_ID) from CTA_OnBoardTalent CT where H.ID = CT.HiringRequest_ID)  ) as float)/2),2) 
									ELSE (  (H.NoofTalents + (Select Count(TB.HRID) from #TempTotalBackoutReplacedTalents TB where H.ID = TB.HRID) ) - (Select Count(CT.HiringRequest_ID) from CTA_OnBoardTalent CT where H.ID = CT.HiringRequest_ID)) end
								END,
				ISNULL(Co.Website,'') as ViewCompanyURL,
				ISNULL(H.RequestForTalent,'') as HRTitle,
				ISNULL(H.HRTypeId, 0) AS HRTypeId, -- Added by Riya for identifying whether the HR is Pay per Hire/Credit
				ISNULL(PRT.CompanyTypeID, 0) AS CompanyTypeID, -- Added by Riya for identifying the Company type 
				case 
					when Co.CompanyTypeID > 0 and Co.AnotherCompanyTypeID > 0 then CAST(1 AS BIT)
					else CAST(0 AS BIT) 
				end as IsHybrid-----------added ny himani for clone hr UTS-6616
		FROM    gen_SalesHiringRequest H WITH(NOLOCK)
				inner join gen_SalesHiringRequest_Details HD WITH(NOLOCK) ON H.ID = HD.HiringRequest_ID
				inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
				inner join gen_Company Co WITH(NOLOCK) ON Co.Id = C.CompanyID
				------------------------------- NEw status Changes ----------------------------------------- 
				INNER JOIN #TempTable_HrStatus TS WITH(NOLOCK) ON TS.HRID = H.ID 
				INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = H.JobStatusID
				----------------------- ----------------------- ----------------------- ----------------------- 
				--left join (	select	U1.FullName,POC.ContactID,U1.EmailID 
				--			from	usr_User U1 with(nolock) 
				--					inner join gen_ContactPointofContact POC with(nolock) on U1.ID = POC.User_ID
				--			) Z on Z.ContactID = C.ID
				inner join usr_User U WITH(NOLOCK) ON H.SalesUserID=U.ID
				LEFT JOIN prg_HiringRequestStatus S WITH(NOLOCK) ON S.ID = H.Status_ID	
				LEFT JOIN #Temp_POC TPOC On TPOC.HiringID = H.ID				
				LEFT JOIN #Temp_Hierarchy TUserHierarchy ON TUserHierarchy.HiringID = H.ID
				--left join usr_UserHierarchy UH with(nolock) on U.ID = UH.UserID
				--left join (select U1.ID as ManagerID, U1.FullName as ManagerName from usr_User U1 with(nolock) where U1.UserTypeID in (4,9)) Z1
				--			on Z1.ManagerID = UH.ParentID
				--LEFT JOIN prg_TalentRoles R WITH(NOLOCK) ON R.ID = HD.Role_ID
				LEFT JOIN prg_TimeZonePreference TP WITH(NOLOCK) ON TP.ID =HD.Timezone_Preference_ID
				
				LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON TZ.ID = HD.Timezone_ID --UTS-4677: Get the universal timezone.
				LEFT JOIN gen_SalesHiringRequest_Priority SHP WITH(NOLOCK) ON SHP.HiringRequestID = H.ID
				LEFT JOIN prg_PartialEngagementType P WITH(NOLOCK) ON P.ID = H.PartialEngagementType_ID
				LEFT JOIN prg_GEO geo WITH(NOLOCK) on Co.GEO_ID = geo.ID
				LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON DP.hiringrequest_ID = H.ID
				LEFT JOIN prg_CountryRegion CR WITH(NOLOCK) ON CR.ID = DP.Country
				LEFT JOIN gen_CompanyLeadType_UserDetails COL WITH(NOLOCK) ON COL.CompanyID = C.CompanyID			
				LEFT JOIN usr_User AM_User WITH(NOLOCK) ON AM_User.ID = Co.AM_SalesPersonID
				LEFT JOIN usr_User LedUser with(nolock) ON LedUser.ID = COL.LeadType_UserID
				LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = H.HrTypeId				
				
				WHERE H.ID = @HR_ID 

				DROP TABLE #Temp_POC
				DROP TABLE #Temp_Hierarchy
				DROP TABLE #TempTable_HrStatus
				DROP TABLE #TempTotalBackoutReplacedTalents
END
