ALTER PROCEDURE [dbo].[sp_UTS_GetClientWiseHRDetails] 
	@ClientID BIGINT NULL
AS
BEGIN
	IF @ClientID > 0
	BEGIN
		
		Declare @CompanyID as Bigint = 0
		Select @CompanyID = CompanyID from gen_Contact WITH(NOLOCK) where ID = @ClientID

		DECLARE @ClientHRs TABLE
		(
			[HR_ID] BIGINT,
			[StarMarked] BIT,
			[StarMarkedStatusCode] INT,
			[SalesUserName] NVARCHAR(250),
			[CreatedDateTime] DATETIME,
			[HRNumber] NVARCHAR(100),
			[TotalTR] DOUBLE PRECISION,
			[Position] NVARCHAR(MAX),
			[Cost] NVARCHAR(500),
			[Notice] NVARCHAR(100),
			[FTE_PTE] NVARCHAR(100),
			[GUID] NVARCHAR(200),
			[IsFrontEndDraftHR] BIT
		)

		INSERT INTO @ClientHRs
		SELECT DISTINCT 
				[HR_ID] = H.ID,
				[StarMarked] = ISNULL(SHRP.IsPriority,0),
				[StarMarkedStatusCode] = IIF(ISNULL(SHRP.IsPriority,0) = 1, 101, 0),
				[SalesUserName] = ISNULL(U.FullName,''),
				[CreatedDateTime] = ISNULL(H.CreatedByDateTime,H.LastModifiedDatetime),
				[HRNumber] = ISNULL(H.HR_Number, ''),
				[TotalTR] = (CASE WHEN H.Availability = 'Part Time' THEN Round((cast(H.NoofTalents as float)/2),2) ELSE H.NoofTalents end),
				[Position] = ISNULL(H.RequestForTalent,''),
				[Cost] = isnull(HD.Cost,0), 
				[Notice] = ISNULL(HD.HowSoon,''),
				[FTE_PTE] = ISNULL(CASE WHEN (H.Availability = 'Full Time' OR H.Availability IS NULL) THEN 'Full Time' ELSE 'Part Time' END,''),
				[GUID],
				0
		FROM	gen_SalesHiringRequest H WITH(NOLOCK)  
				INNER join gen_SalesHiringRequest_Details HD WITH(NOLOCK) ON H.ID = HD.HiringRequest_ID
				INNER join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID	
				Inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
				LEFT JOIN gen_SalesHiringRequest_Priority SHRP with(nolock) ON H.ID = SHRP.HiringRequestID 				
		WHERE	C.CompanyID = @CompanyID --ContactID = @ClientID


		INSERT INTO @ClientHRs
		SELECT  
				0,
				0,
				0,
				'',
				RH.CreatedDateTime,
				'',
				RH.NoOfTalents,
				RH.RoleName, 		
				[Cost] = (SELECT CAST(CurrencySign AS NVARCHAR) + CAST(SB.BudgetFrom AS NVARCHAR) + SB.Currency + ' to ' +  CAST(CurrencySign AS NVARCHAR) + CAST(SB.BudgetTo AS NVARCHAR) + SB.Currency FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = SB.Currency),
				ED.HowSoon,
				RH.Availability,
				RH.GUID,
				1
		FROM	gen_RoleAndHiringType_ClientPortal RH WITH(NOLOCK)				
				LEFT JOIN gen_SkillAndBudget_ClientPortal SB WITH(NOLOCK) ON RH.GUID = SB.GUID AND SB.ContactID = @ClientID
				LEFT JOIN gen_JobPost_Employment_Details_ClientPortal ED WITH(NOLOCK) ON RH.GUID = ED.GUID	AND ED.ContactID = @ClientID	 
				LEFT JOIN gen_JobPost_Roles_Responsibilities_ClientPortal RR WITH(NOLOCK) ON RH.GUID = RR.GUID	AND RR.ContactID = @ClientID	
		WHERE	RH.ContactId = @ClientID AND RH.IsActive = 0

		SELECT * FROM @ClientHRs
	END
END