ALTER PROCEDURE [dbo].[Sp_UTS_GetCreditUtilization_BasedOnHR]
@HR_ID BIGINT
AS
BEGIN

	SELECT * INTO  #CreditHRwithOptionID FROM
			(
			Select	cast(Isnull(SUM(ISNULL(JT.CreditUsed,Op.CreditUsed)),0) as int) HRCreditUsed,JT.HRID,CH.CreditOptionID, HRTypeID AS COHRTypeID, 0 AS IsReposted
	       
			from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
					inner join prg_CreditOption_ClientPortal Op WITH(NOLOCK) ON Op.ID = Isnull(JT.CreditOptionID,0)
					inner join prg_CreditOptionsWithHRTypeIDs CH WITH(NOLOCK) ON CH.CreditOptionID =  OP.ID
			WHERE	HRID = @HR_ID 
			AND ISNULL(JT.IsReposted, 0) = 0 
			Group by JT.HRID, CH.CreditOptionID,CH.HRTypeID

			UNION ALL 

			Select	cast(Isnull(SUM(ISNULL(JT.CreditUsed,Op.CreditUsed)),0) as int) HRCreditUsed,JT.HRID,CH.CreditOptionID, HRTypeID AS COHRTypeID, 1 AS IsReposted
	       
			from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
					inner join prg_CreditOption_ClientPortal Op WITH(NOLOCK) ON Op.ID = Isnull(JT.CreditOptionID,0)
					inner join prg_CreditOptionsWithHRTypeIDs CH WITH(NOLOCK) ON CH.CreditOptionID =  OP.ID
			WHERE	HRID = @HR_ID 
			AND ISNULL(JT.IsReposted, 0) = 1 
			Group by JT.HRID, CH.CreditOptionID,CH.HRTypeID
			) Q 

	
	SELECT
	CreditUtilization = CASE WHEN HR.HRTypeID IN (3, 6)
											THEN 
												(
													SELECT 'Job post credits : ' +	 + isnull(CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =1 AND IsReposted = 0)as Nvarchar(50)),'0') + ' , '
												 )  + 

												 (
													SELECT 'Job Repost credits : ' +	 + isnull(CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  IsReposted = 1)as Nvarchar(50)),'0') + ' , '
												 )  +

												 (
													SELECT 'Vetted profile view credits : ' + isnull(CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =2)as Nvarchar(50)),'0')+ ' , '
												 )  + 

												 
												 (
													SELECT 'Non-Vetted profile view credits : '  + isnull( CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =3)as Nvarchar(50)),'0')+ ' , '
												 )  

											WHEN HR.HRTypeID =4
											THEN (
													SELECT 'Job post credits : ' +	isnull( CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =4 AND IsReposted = 0)as Nvarchar(50)),'0')+ ' , '
												 ) + 

												 (
													SELECT 'Job Repost credits : ' +	 + isnull(CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  IsReposted = 1)as Nvarchar(50)),'0') 
												 )
											ELSE '' 
										END
	FROM  gen_SalesHiringRequest HR WITH(NOLOCK)	
	WHERE ID = @HR_ID 
END