ALTER proc [dbo].[sp_UTS_get_HRHistory]
@HR_ID BIGINT
AS
BEGIN

		DECLARE @CompanyID BIGINT = null, @ContactID BIGINT = null;

		Select @ContactID  = H.ContactID, @CompanyID = C.CompanyID
		from	gen_SalesHiringRequest H WITH(NOLOCK) 
				inner join gen_contact C WITH(NOLOCK)  ON H.ContactID = C.ID
		WHERE	H.ID = @HR_ID

		--- Payal(26-01-24) CREATE Temp Table to avoid Outer JOIN
		BEGIN
			
		        -- #Temp_TRAccepted
		    	select top 1 tr1.HiringRequest_ID AS HRID, cast(tr1.TR_Accepted as nvarchar(50)) TR_Accepted, cast(tr1.CreatedByDatetime as date) AS TRAcceptedDate 
				into #Temp_TRAccepted
				from gen_SalesHR_TRAccepted_Details tr1 with(nolock) 
				where tr1.HiringRequest_ID = @HR_ID 

				SELECT  OBT.HiringRequest_ID AS HRID,ISNULL(TU.Fullname,'') as Fullname, ISNULL(OU.FullName,'') as OldTSCFullName 
				into #Temp_TSCUsers
				from gen_OnboardTalents OBT with(nolock)
				INNER JOIN usr_user TU with(nolock) ON TU.ID = OBT.TSC_PersonID
				INNER JOIN usr_user OU WITH(NOLOCK) ON OBT.OldTSC_PersonID = OU.ID
				where OBT.HiringRequest_ID = @HR_ID

				--UTS-7074 : added by himani
				SELECT SI.HiringRequest_ID AS HRID , SI.InterviewMaster_ID ,
				CONVERT(VARCHAR,ISNULL(SI.ScheduledOn,''),105)+ ' ' +CONVERT(VARCHAR(5),
				ISNULL(SI.Interview_StartTime,''),14)+' To '+CONVERT(VARCHAR(5),
				ISNULL(SI.Interview_EndTime,''),14)+' '+(isnull(CTZ.ShortName,'')) AS InterviewDateTime 
				into #Temp_InterviewSlots
				FROM gen_ShortlistedTalent_InterviewDetails SI WITH(NOLOCK)
				INNER JOIN gen_TalentSelected_InterviewDetails TS WITH(NOLOCK) on SI.ID = TS.Shortlisted_InterviewID
				LEFT JOIN prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = SI.TimeZone_ID
				WHERE SI.HiringRequest_ID = @HR_ID
				
				--SELECT TOP 1 SI.HiringRequest_ID AS HRID , SI.InterviewMaster_ID ,CONVERT(VARCHAR,ISNULL(SI.ScheduledOn,''),105)+ ' ' +CONVERT(VARCHAR(5),ISNULL(SI.Interview_StartTime,''),14)+' To '+CONVERT(VARCHAR(5),ISNULL(SI.Interview_EndTime,''),14)+' '+(isnull(CTZ.ShortName,'')) AS InterviewDateTime 
				--into #Temp_InterviewSlots
				--FROM gen_ShortlistedTalent_InterviewDetails SI WITH(NOLOCK)	LEFT join prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = SI.TimeZone_ID
				--WHERE SI.HiringRequest_ID = @HR_ID

				-- #Temp_ClientInterviewFeedback
				SELECT Comments , CIF.HiringRequest_ID AS HRID, CIF.Shortlisted_InterviewID,SI.InterviewMaster_ID
				into #Temp_ClientInterviewFeedback
				FROM gen_ContactInterviewFeedback CIF WITH(NOLOCK) Inner join  gen_ShortlistedTalent_InterviewDetails SI WITH(NOLOCK) ON CIF.Shortlisted_InterviewID = SI.ID
				WHERE CIF.HiringRequest_ID = @HR_ID


				-- Payal (09-05-2024)  #Temp_HRHistoryData
				SELECT  Hi.HiringRequest_ID , Hi.History_ID
				into	#Temp_HRHistoryData
				FROM	gen_SalesHiringRequest_History HI WITH(NOLOCK) 
				WHERE	HI.HiringRequest_ID = @HR_ID AND (Isnull(Hi.History_ID,0) > 0)
				

				SELECT  HDHistory.HiringRequest_ID,HDHistory.History_ID as DetailHistoryID
				into	#Temp_HRHistoryDetailData
				FROM	gen_SalesHiringRequest_Details_History HDHistory WITH(NOLOCK) 
				WHERE	HDHistory.HiringRequest_ID = @HR_ID AND (Isnull(HDHistory.History_ID,0) > 0 )
				
		END


		 ;WITH
		  cteHistoryRecord (ActionID, ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,ATSTalentLiveURL,ATSNonNDAURL,TalentName,
		  InterviewDateTime,Comments,Remark,SLA_DueDate,IsNotes,AssignedUsers,TSCPerson,IsDisplayUpdateHR,HistoryID,IsDisplayUpdateHRDetail,DetailHistoryID)
		  AS
		  ( SELECT	H.Action_ID as ActionID,
					replace(HA.ActionName,'_',' ') ActionName,
					DisplayName = CASE WHEN (H.Action_ID = 87) THEN ('Edit TSC from '+ ISNULL(TU1.FullName,'')+ ' to ' + ISNULL(TU1.OldTSCFullName,'')) ELSE 
								  CASE WHEN (H.Action_ID = 91) THEN (TU1.FullName+ ' TSC added by User') ELSE HA.DisplayName END END,
					
					H.CreatedByDateTime as ActionDate,
					H.HiringRequest_ID,
					ActionPerformedBy = (CASE 
											WHEN H.Action_ID = 94 THEN ISNULL(U.FullName,'Via ATS') ---HRStatus_UpdatedbyATS
											WHEN H.Action_ID = 2 AND H.AppActionDoneBy = 2 THEN ISNULL(U.FullName,'Via ATS') ---Update HR from ATS
											WHEN ISNULL(H.IsManagedByClient,0)=1 and Isnull(CO.CompanyTypeID,0) = 2 THEN ISNULL(C.EmailID,'')
										    WHEN ISNULL(H.IsManagedByClient,0)=1  THEN ISNULL(C.FullName,'')
										    WHEN ISNULL(H.IsManagedByTalent,0)=1  THEN ISNULL(T.Name,'') 
										    ELSE ISNULL( U.FullName,'')  END
										),
					--T.ProfileURL,
					Isnull(T.ATS_Talent_LiveURL,'') ATSTalentLiveURL, -- Added Reena Jain(10-Feb-2023): NDA URL,Non NDA URL
					Isnull(T.ATS_Non_NDAURL,'') ATSNonNDAURL,
					T.Name as TalentName,
					S1.InterviewDateTime,
					Comments = (CASE 
								--WHEN HA.ActionName IN ('HR_Acceptance','WaitFor_More_Info','HR_PasstoAdhoc','Create_HRDBrifing','Create_HR') THEN ISNULL(S.NotAcceptedHRReason,'')
								WHEN HA.ActionName IN ('WaitFor_More_Info') THEN ISNULL(S.NotAcceptedHRReason,'')
								WHEN (HA.ActionName ='Cancel_HR' OR HA.ActionName = 'HR_OnHold') THEN case when S.DeleteType =1 then ISNULL(S.DeleteHRReason,'') else ISNULL(HRD.Reason,'') END  -- Added by Reena Jain(1-July-2022): Get Delete HR Reason 
								WHEN HA.ActionName = 'Feedback_Submitted' THEN ISNULL(F1.Comments,'')
								WHEN HA.ActionName IN ('Talent_Status_Rejected','Talent_Status_On_Hold','Talent_Status_Cancelled')  
									THEN case when CTP.RejectReasonID > 0 then ISNULL(ParentName, '') + 
									IIF(ISNULL(ParentName, '') <> '' AND ISNULL(TRR.Reason, '') <> '', ' - ', '') + ISNULL(TRR.Reason, '')  
									else ISNULL(CTP.OtherRejectReason,'') END -- Added by himani(25-June-2024): Get Reject Talent Reason + parent category
								WHEN HA.ID = 79 AND TRUD.IsIncreased = 1 THEN 'TR Increased By: ' + CAST(TRUD.UpdatedTR as NVARCHAR(10)) 
								WHEN HA.ID = 80 AND TRUD.IsDecreased = 1 THEN 'TR Decreased By: ' + CAST(TRUD.UpdatedTR as NVARCHAR(10)) END
							   
								),
					Remark = CASE WHEN (HA.ActionName ='Cancel_HR' OR HA.ActionName = 'HR_OnHold') THEN case when S.DeleteType =1 then ISNULL(S.OnHoldRemark,'')  else ISNULL(S.LossRemark,'') END 
								  WHEN HA.ActionName = 'Talent_Status_Rejected' then ISNULL(CTP.LossRemark,'') 
								  when HA.ActionName = 'Talent_Status_On_Hold' then  ISNULL(CTP.OnHoldRemark,'')-- Added by Reena Jain(5-August-2022): Cancel HR/ Talent OnHold Reject Remark.
								  when HA.ID = 58 then 'TR Accepted: '+ isnull(T_TR.TR_Accepted,'') -- Added by Reena Jain(30-August-2022):Add Remark for TR Acceptance
								  WHEN (HA.ID = 79 OR HA.ID = 80) THEN CASE WHEN ISNULL(TRUD.AdditionalRemark,'') = '' THEN ISNULL(TRUD.Reason,'') ELSE ISNULL(TRUD.AdditionalRemark,'') END
								  WHEN HA.ID = 82 then isnull(S.Remark,'')
								  ELSE '' END,
					
					SLA_DueDate = H.SLA_DueDate,
					0 as IsNotes,
					'' as AssignedUsers,
					TSCPerson = CASE WHEN H.Action_ID = 86 THEN ISNULL(TU1.FullName,'') ELSE 
								CASE WHEN H.Action_ID = 87 THEN ISNULL(TU1.OldTSCFullName,'') ELSE '' END END -- TSCPerson
					,IsDisplayUpdateHR = cast(CASE WHEN Isnull(SHH.History_ID,0) <> 0 and H.Action_ID in (2,85) then 1 else 0 end as int),
					cast(Isnull(shH.History_ID,0) as int) as HistoryID,
					IsDisplayUpdateHRDetail =  cast(CASE WHEN Isnull(SHHD.DetailHistoryID,0) <> 0 and H.Action_ID = 5 then 1 else 0 end as int),
					cast(Isnull(SHHD.DetailHistoryID,0) as int) as DetailHistoryID
					From [dbo].[gen_History] H WITH(NOLOCK)
					INNER JOIN prg_History_Actions HA WITH(NOLOCK) ON H.Action_ID=HA.ID
					INNER JOIN gen_SalesHiringRequest S WITH(NOLOCK) ON S.ID = H.HiringRequest_ID
					INNER JOIN gen_SalesHiringRequest_Details SHD WITH(NOLOCK) ON SHD.HiringRequest_ID = H.HiringRequest_ID
					left JOIN prg_HRDeleteReason HRD WITH (NOLOCK) ON S.DeleteHRReason_Id = HRD.ID
					LEFT JOIN gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.ID = H.ContactTalentPriority_ID	
					LEFT JOIN prg_TalentRejectReason TRR WITH(NOLOCK) on TRR.ID = CTP.RejectReasonID
					left JOIN  usr_User U WITH (NOLOCK) ON U.ID = CASE WHEN H.ModifiedByID > 0 THEN H.ModifiedByID ELSE H.CreatedByID END
					LEFT JOIN gen_Contact C WITH(NOLOCK) ON C.ID = CASE WHEN H.ModifiedByID > 0 THEN H.ModifiedByID ELSE H.CreatedByID END
					LEFT JOIN gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
					LEFT JOIN  gen_Talent T WITH (NOLOCK) ON T.ID = H.Talent_ID
					LEFT JOIN gen_SalesHR_TRUpdated_Details TRUD with(nolock) on TRUD.HiringRequestID = S.ID and H.ID = TRUD.HistoryID					
					LEFT JOIN  #Temp_TRAccepted T_TR ON T_TR.HRID = S.ID AND cast(T_TR.TRAcceptedDate as date) = cast(H.CreatedByDatetime as date)	
					LEFT JOIN  #Temp_TSCUsers TU1 ON TU1.HRID = S.ID
					LEFT JOIN  #Temp_InterviewSlots S1 ON S1.HRID = S.ID AND S1.InterviewMaster_ID = H.InterviewMaster_ID
					LEFT JOIN  #Temp_ClientInterviewFeedback F1 ON F1.HRID = S.ID AND F1.InterviewMaster_ID = H.InterviewMaster_ID
					--LEFT JOIN  gen_SalesHiringRequest_History SHH WITH(NOLOCK) ON SHH.History_ID = H.ID and SHH.HiringRequest_ID = S.ID 
					LEFT JOIN  #Temp_HRHistoryData SHH ON SHH.History_ID = H.ID AND SHH.HiringRequest_ID = H.HiringRequest_ID
					LEFT JOIN  #Temp_HRHistoryDetailData SHHD ON SHHD.DetailHistoryID = H.ID AND SHHD.HiringRequest_ID = SHD.HiringRequest_ID
					WHERE H.HiringRequest_ID = @HR_ID AND Action_ID <> 51
								
		 )
		 SELECT ActionID, ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,ATSTalentLiveURL,ATSNonNDAURL,TalentName,InterviewDateTime,
		 Comments,Remark,SLA_DueDate, IsNotes,AssignedUsers,TSCPerson,IsDisplayUpdateHR,HistoryID,IsDisplayUpdateHRDetail,DetailHistoryID
		 FROM  
			( 
					SELECT ActionID, ActionName, DisplayName, ActionDate,HiringRequest_ID,ActionPerformedBy,ATSTalentLiveURL,ATSNonNDAURL,TalentName,InterviewDateTime,Comments,Remark,SLA_DueDate, IsNotes,AssignedUsers,TSCPerson
						,IsDisplayUpdateHR,HistoryID,IsDisplayUpdateHRDetail,DetailHistoryID
					FROM cteHistoryRecord 
					
					UNION 
					
					SELECT 0 AS ActionID, HN.Notes AS ActionName,'Note' AS DisplayName ,HN.CreatedByDatetime AS ActionDate,HN.HiringRequest_ID,U.FullName AS ActionPerformedBy,'','','','','','' as Remark,null, 1 as IsNotes
					, AssignedUsers =  (select isnull((STUFF((
												select	distinct ',' + isnull(U1.FullName,'') 
												from gen_HRNotes_TagUserDetails TN WITH(NOLOCK)
												INNER JOIN gen_HRNotes HN1 WITH(NOLOCK) ON TN.Note_ID = HN1.ID 
												INNER JOIN usr_user U1 WITH(NOLOCK) ON TN.Assigned_UserID = U1.ID
												WHERE TN.Note_ID = HN.ID  and HN1.HiringRequest_ID =HN.HiringRequest_ID
												For	XML Path('')),1,1,''
										)),'')
								) -- Added by Reena Jain(19-July-2022): Get Notes Assigned users.
								,'' as TSCPerson,
					cast(0 as int) as IsDisplayUpdateHR,
					cast(0 as bigint) as HistoryID,
					cast(0 as int) as IsDisplayUpdateHRDetail,
					cast(0 as bigint) as DetailHistoryID
					from gen_HRNotes HN WITH(NOLOCK)
					INNER JOIN usr_user U WITH(NOLOCK) ON HN.CreatedByID = U.ID 
					WHERE HiringRequest_ID = @HR_ID

					UNION
					
					SELECT 0 AS ActionID, 'Edit AM' AS ActionName,
					'AM has been changed from ' + oldAM.FullName + ' to ' + newAM.FullName AS DisplayName,
					AM.CreatedDateTime AS ActionDate, @HR_ID as HiringRequest_ID,U.FullName AS ActionPerformedBy,
					'','','','','' as Comments,'' as Remark,null, 0 as IsNotes,'' as AssignedUsers,'' as TSCPerson,
					cast(0 as int) as IsDisplayUpdateHR,
					cast(0 as bigint) as HistoryID,
					cast(0 as int) as IsDisplayUpdateHRDetail,
					cast(0 as bigint) as DetailHistoryID
					from gen_Company_AM_Mapping_History AM WITH(NOLOCK)
					INNER JOIN usr_user U WITH(NOLOCK) ON AM.CreatedByUserID = U.ID 
					INNER JOIN usr_user oldAM WITH(NOLOCK) ON AM.OldAM_SalesPersonID = oldAM.ID 
					INNER JOIN usr_user newAM WITH(NOLOCK) ON AM.NewAM_SalesPersonID = newAM.ID 
					WHERE CompanyID = @CompanyID

					UNION

					SELECT 0 AS ActionID, TNC.Note AS ActionName,
					'Talent Note' AS DisplayName,
					TNC.CreatedByDateTime AS ActionDate, @HR_ID as HiringRequest_ID,C.FullName AS ActionPerformedBy,
					'','','','','' as Comments,'' as Remark,null, 1 as IsNotes, T.Name + ' (' + T.EmailID + ')' as AssignedUsers,'' as TSCPerson,
					cast(0 as int) as IsDisplayUpdateHR,
					cast(0 as bigint) as HistoryID,
					cast(0 as int) as IsDisplayUpdateHRDetail,
					cast(0 as bigint) as DetailHistoryID
					from  gen_TalentNotes_ClientPortal TNC WITH(NOLOCK) 	
						  inner join gen_Contact C WITH(NOLOCK) ON C.ID = TNC.ClientID
						  inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
						  inner join gen_Talent T WITH(NOLOCK) ON T.ATS_Talent_ID = TNC.ATSTalentId
					WHERE CO.ID = @CompanyID AND TNC.HRID = @HR_ID and Isnull(TNC.IsManagedByClient,0)  = 1

					UNION

					SELECT 0 AS ActionID, TNC.Note AS ActionName,
					'Talent Note' AS DisplayName,
					TNC.CreatedByDateTime AS ActionDate, @HR_ID as HiringRequest_ID,U.FullName AS ActionPerformedBy,
					'','','','','' as Comments,'' as Remark,null, 1 as IsNotes, T.Name + ' (' + T.EmailID + ')' as AssignedUsers,'' as TSCPerson,
					cast(0 as int) as IsDisplayUpdateHR,
					cast(0 as bigint) as HistoryID,
					cast(0 as int) as IsDisplayUpdateHRDetail,
					cast(0 as bigint) as DetailHistoryID
					from  gen_TalentNotes_ClientPortal TNC WITH(NOLOCK) 	
						  inner join usr_User U WITH(NOLOCK) ON U.ID = TNC.ClientID
						  inner join gen_Talent T WITH(NOLOCK) ON T.ATS_Talent_ID = TNC.ATSTalentId
					WHERE TNC.HRID = @HR_ID and Isnull(TNC.IsManagedByClient,0)  = 0
			) results ORDER BY ActionDate DESC

			DROP table #Temp_TRAccepted 
			DROP table #Temp_TSCUsers 
			DROP table #Temp_InterviewSlots 
			DROP table #Temp_ClientInterviewFeedback 
			DROP table #Temp_HRHistoryData
			DROP table #Temp_HRHistoryDetailData

end