ALTER PROCEDURE [dbo].[sp_UTS_get_HRTalentDetails_UsingPagination]
@HR_ID				bigint = 0,
@PageIndex			INT = 1,  
@PageSize			INT = 20
AS
BEGIN

				DECLARE @PerMonth NVARCHAR(50) = ' / Month';
				DECLARE @PerAnnum NVARCHAR(50) = '  / Annum';
				DECLARE @MainSQL nvarchar(max) = '';
				DECLARE @TmpDBSQL nvarchar(max) = '';
				DECLARE @Total_Records	Nvarchar(MAX) ='';


					SELECT	IMasterID =max(IntM.ID) ,IntM.HiringRequest_ID ,IntM.Talent_ID,max(Intm.InterviewRound_Count)  InterviewRound_Count
					INTO	#TempInterviewDetails
					FROM	gen_InterviewSlotsMaster IntM WITH(NOLOCK) 	
					WHERE	IntM.HiringRequest_ID = @HR_ID
					GROUP BY  IntM.HiringRequest_ID ,IntM.Talent_ID

					SELECT   IMaxOnboardTalentID = MAX(OBT.ID), OBT.HiringRequest_ID, OBT.Talent_ID 
					INTO     #TempOnboardDetails 
					FROM     gen_OnBoardTalents OBT WITH(NOLOCK)
					WHERE    OBT.HiringRequest_ID = @HR_ID
					GROUP BY OBT.HiringRequest_ID, OBT.Talent_ID

					SELECT	SI.ID ,SI.HiringRequest_ID, SI.Talent_ID 
					INTO     #TempSelectedTalent_InterviewDetails
					from gen_ShortlistedTalent_InterviewDetails SI with(nolock) 					
					inner join gen_InterviewSlotsMaster M WITH(NOLOCK) ON M.ID = SI.InterviewMaster_ID  AND SI.Talent_ID = M.Talent_ID and SI.HiringRequest_ID = @HR_ID
					where   M.InterviewStatus_ID in(1,4,5) and SI.HiringRequest_ID = @HR_ID and M.HiringRequest_ID = @HR_ID


					;WITH CTE_NextRound AS(  
							Select	FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID, TI.Talent_ID   	      
									,StrInterviewRound = ' ( Round '+ cast(Count(FB.ID) + 1 as varchar(10)) +' )'          
							From	gen_ContactInterviewFeedback FB WITH(NOLOCK)
									inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = FB.ContactID  
									inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ContactID = GC.ID
									LEFT JOIN gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) ON FB.Shortlisted_InterviewID = TI.Shortlisted_InterviewID
							WHERE	HR.ID = @HR_ID AND FB.FeedBack_Type ='AnotherRound'			            
							group by FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID
					  ,TI.Talent_ID          
					 ),
					  CTE_HRTalentRecords (HR_Number,RequestStatus,Name,ContactPriorityID,ATSTalentLiveURL,ATSNonNDAURL,TalentResumeLink,NeedToCallAWSBucket,
						BillRate,PayRateDP,PayRate,CTP_TalentCost,Status,NR,DPPercentage,DPAmount,BillRateDP,TalentTimeZone,NoticePeriod,
						TalentStatusID_BasedOnHR,TalentID,HiringDetailID,InterViewStatusId,IsdisplaySelectTimeslot,SelectedInterviewId,InterviewStatus,
						InterviewROUND,InterviewDateTime,Slotconfirmed,ContactId,Shortlisted_InterviewID,ClientOnBoarding_StatusID,OnBoardId,ClientOnBoardStatus,
						TalentOnBoarding_StatusID,LegalClientOnBoarding_StatusID,LegalTalentOnBoarding_StatusID,Kickoff_StatusID,TalentOnBoardStatus,
						ClientFeedback,SlotGivenStatus,IsLaterSlotGiven,NextRound_InterviewDetailsID,TalentOnBoardDate,MasterId,EngagemenID,IsAMAssigned,
						PreferredAvailability,ProfileStatusCode,TalentRole,TalentSource,TotalExpYears,ClientFeedbackID,RejectedReason,OnHoldReason,
						CancelledReason,TalentOtherReason,TalentRemarks,TalentInterviewStatus,InterviewStatusCode,TalentCurrenyCode,CurrencySign,TalentPOCName,
						IsHRTypeDP,OrderSequence,CreatedByDatetime,TSC_PersonID,EmailID,UplersfeesAmount,ScheduleTimeZone,IsShownTalentStatus,ATSTalentID,[TotalCountID],
						YearsOfExperience,ContractStartdate,ContractEnddate,JoiningDate,LastWorkingDate)
					AS
					(
						Select	 
								distinct	case when Row_Number() OVER(partition by H.ID order by T.ID) = 1 then HR_Number ELSE '' END HR_Number,
										case when Row_Number() OVER(partition by H.ID order by T.ID) = 1 then RS.HiringRequest_Status ELSE '' END RequestStatus,
										T.Name,
										isnull(CTP.ID,0) as ContactPriorityID,
										Isnull(ISNULL(CTP.ATS_Talent_LiveURL,T.ATS_Talent_LiveURL),'') ATSTalentLiveURL,
										Isnull(ISNULL(CTP.ATS_Non_NDAURL,T.ATS_Non_NDAURL),'') ATSNonNDAURL,
										ISNULL(TalentPacket.talent_resume_link,'') AS TalentResumeLink,
										NeedToCallAWSBucket = CASE WHEN ISNULL(CTP.ATS_Talent_LiveURL,'') = '' THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
										ISNULL(CTP.HR_Cost,'') AS BillRate,
										case 
											when isnull(CTP.current_CTC,0)  > 0 
											then CAST(ISNULL(PCER.CurrencySign,'$') as NVARCHAR(10)) +
											replace(cast(CTP.current_CTC as Nvarchar(20)),'.00','') + ' ' +
											CAST(ISNULL(PCER.CurrencyCode,'USD') as NVARCHAR(10)) 
											+ case when ( H.Hrtypeid in (3,4,6) OR isnull(CTP.DP_Percentage,0) > 0) then @PerAnnum ELSE  @PerMonth END
										END As PayRateDP,
										case 
											when isnull(CTP.TalentCost,0)  > 0 
											then CAST(ISNULL(PCER.CurrencySign,'$') as NVARCHAR(10)) + 
											replace(cast(CTP.TalentCost as Nvarchar(20)),'.00','') +  ' ' + 
											CAST(ISNULL(PCER.CurrencyCode,'USD') as NVARCHAR(10)) 
											+  case when ( H.Hrtypeid in (3,4,6) OR isnull(CTP.DP_Percentage,0) > 0) then @PerAnnum ELSE  @PerMonth END
										END As PayRate,isnull(CTP.TalentCost,0) AS CTP_TalentCost,										
										CASE WHEN ISnull(CTP.TalentStatusID_BasedOnHR,0) = 0 and ISnull(CTP.TalentStatusID_ClientPortal,0) > 0 then   
												   (Select Isnull(TSC.TalentStatus,'') from prg_TalentStatus_ClientPortal TSC   
													WITH(NOLOCK) WHERE TSC.ID = CTP.TalentStatusID_ClientPortal) 
										     ELSE 
										  Isnull(TSACS.TalentStatus,'') END + 
											CASE WHEN CTP.TalentStatusID_BasedOnHR = 3 THEN
													CASE WHEN ISNULL(CTE.StrInterviewRound,'') <> '' then ' - '+ isnull(CTE.StrInterviewRound,'') ELSE '' END
													WHEN CTP.TalentStatusID_BasedOnHR in(4,10) AND isnull(CTP.HRTalentTagID,0) >0 THEN +' ( '+ TTag.Talent_TagName +' ) ' 
													WHEN CTP.TalentStatusID_BasedOnHR = 7 OR TalentStatusID_ClientPortal = 8 THEN 
														IIF(ISNULL(CTP.RejectionStage,'') <> '', ' ( '+ CTP.RejectionStage +' ) ','')
													ELSE ''  												 
										  END As [Status],													
										Convert(varchar,isnull(CTP.NRPercentage,H.TalentCostCalcPercentage)) + ' %' AS NR ,
										Convert(varchar,isnull(CTP.DP_Percentage,H.DPPercentage)) + ' %' AS DPPercentage,
										ISNULL(CTP.DPAmount,0) as DPAmount,
										ISNULL(CTP.DpAmount,0) as BillRateDP,										
										--TT.TimeZoneTitle as TalentTimeZone,
										TalentTimeZone = ATS.AgreedShift,
										--NoticePeriod = isnull(TJ.Joinning,''),
										NoticePeriod = isnull(ATS.NoticePeriod,''),
										TalentStatusID_BasedOnHR = CASE WHEN (isnull(CTP.TalentStatusID_BasedOnHR,0) = 3 AND IntM.InterviewStatus_ID = 3) THEN 2 
																		WHEN isnull(CTP.TalentStatusID_BasedOnHR,0) = 11 AND isnull(IntM.InterviewStatus_ID,0) = 0 THEN 2
																		ELSE isnull(CTP.TalentStatusID_BasedOnHR,0) END,
										isnull(T.ID,0) as TalentID,isnull(CTP.HiringRequest_Detail_ID,0) as HiringDetailID,										
										InterViewStatusId=isnull(IntM.InterviewStatus_ID,0),
										IsdisplaySelectTimeslot = isnull((select top 1 ID from #TempSelectedTalent_InterviewDetails TSI where TSI.HiringRequest_ID =CTP.HiringRequestID AND TSI.Talent_ID = CTP.TalentID order by ID desc  )  ,0),					
										SelectedInterviewId = isnull(TI.ID,0),
										InterviewStatus =  ISNULL(INS.InterviewStatus,'') ,
										InterviewROUND = isnull(IntM.InterviewRound_Str,''),
										InterviewDateTime = LTRIM(RTRIM(isnull((STUFF(( select char(10) + (CONVERT(varchar, ISNULL(S.ScheduledOn, ' '), 103) + ' '+ convert(VARCHAR(5),S.Interview_StartTime, 14)) +' To ' +(convert(VARCHAR (5),S.Interview_EndTime, 14)) from gen_ShortlistedTalent_InterviewDetails S WITH(NOLOCK) WHERE S.InterviewMaster_ID = IMasterID For XML Path('')),1,1,'')),''))),
										Slotconfirmed = isnull((select CONVERT(varchar, ISNULL(s.ScheduledOn, ' '), 103) + ' '  + convert(VARCHAR(5),s.Interview_StartTime, 14) +' To ' + convert(VARCHAR(5),s.Interview_EndTime, 14) from gen_ShortlistedTalent_InterviewDetails S inner join gen_TalentSelected_InterviewDetails I WITH(NOLOCK) ON S.ID = I.Shortlisted_InterviewID where isnull(I.Zoom_InterviewLink,'') != '' AND I.ID =TI.ID),''),
										Isnull(H.ContactID,0) as ContactId,
										Shortlisted_InterviewID =isnull(TI.Shortlisted_InterviewID,0),
										ISNULL(O.ClientOnBoarding_StatusID,0) ClientOnBoarding_StatusID,
										Isnull(O.ID,0) AS OnBoardId,
										Isnull(POB_Clientonboard.PreOnBoardStatus,'') ClientOnBoardStatus,
										ISNULL(O.TalentOnBoarding_StatusID,0) TalentOnBoarding_StatusID,
										ISNULL(O.ClientLegal_StatusID,0) LegalClientOnBoarding_StatusID,
										ISNULL(O.TalentLegal_StatusID,0) LegalTalentOnBoarding_StatusID,
										ISNULL(O.Kickoff_StatusID,0) Kickoff_StatusID,
										Isnull(POB_Talentonboard.PreOnBoardStatus,'') TalentOnBoardStatus,
										ClientFeedback = isnull(CF.FeedBack_Type,''),
										SlotGivenStatus = isnull(N.SlotGiven,''),
										IsLaterSlotGiven = isnull(N.IsLaterSlotGiven,0),
										NextRound_InterviewDetailsID = isnull(N.ID,0),
										TalentOnBoardDate =  Case When  O.Status_ID in (2,3,4) then ISNULL((CONVERT(varchar, ISNULL(OC.LastWorkingDate, getdate()), 103) + ' '  + convert(VARCHAR(8),ISNULL(OC.LastWorkingDate, getdate()), 14)),'') else ISNULL((CONVERT(varchar, ISNULL(OC.TalentOnBoardDate, ''), 103) + ' '  + convert(VARCHAR(8),OC.TalentOnBoardDate, 14)),'') end ,
										ISNULL(Tmp.IMasterID,0) As MasterId,
										Isnull(O.EngagemenID,'') EngagemenID, 
										IsAMAssigned =  Cast(0 as int),
										--ISNULL(PTAW.AssociatedWithUplers,'') as PreferredAvailability,
										PreferredAvailability = Isnull(ATS.PreferredAvailability,''),								
										[ProfileStatusCode] = CASE	WHEN TSACS.ID = 1 THEN 301
																WHEN TSACS.ID = 2 THEN 302
																WHEN TSACS.ID = 3 THEN 303
																WHEN TSACS.ID = 4 THEN 303
																WHEN TSACS.ID = 5 THEN 305
																WHEN TSACS.ID = 6 THEN 306
																WHEN TSACS.ID = 7 THEN 307
																WHEN TSACS.ID = 8 THEN 308
																WHEN TSACS.ID = 9 THEN 307
																WHEN TSACS.ID = 10 THEN 302
																WHEN TSACS.ID = 11 THEN 302
																WHEN TSACS.ID = 12 THEN 302
														END,
												CASE WHEN ISNULL(T.Designation,'') = '' THEN ISNULL(TR.TalentRole,'') ELSE ISNULL(T.Designation,'') END as TalentRole,
												ISNULL(TalType.Talent_Type,'') as TalentSource,
												ISNULL(ATS.YearsOfExperience,'') as TotalExpYears,
										ClientFeedbackID = ISNULL(CF.ID,0),		
										RejectedReason = CASE WHEN ISnull(CTP.RejectReasonID,0) <= 0 and Isnull(CTP.TalentStatusID_BasedOnHR,0) = 7
															THEN 'Other'
															ELSE 
															ISNULL(ParentName, '') + 
															IIF(ISNULL(ParentName, '') <> '' AND ISNULL(PTRR.Reason, '') <> '', ' - ', '') + 
															ISNULL(PTRR.Reason, '')
														END,
										OnHoldReason =  '',
										CancelledReason = CASE WHEN Isnull(CTP.TalentStatusID_BasedOnHR,0) = 5 AND H.Status_ID IN (3, 4, 6)
																THEN 'Auto-Cancelled'
															WHEN ISnull(CTP.RejectReasonID,0) <= 0 AND  Isnull(CTP.TalentStatusID_BasedOnHR,0) = 5
															THEN 'Other'
															ELSE ''
														END,
										TalentOtherReason = CASE 
															WHEN CTP.RejectReasonID <= 0 THEN ISNULL(CTP.OtherRejectReason,'') ELSE ''
														END,
										TalentRemarks = CASE
															WHEN TSACS.ID = 6 AND CTP.RejectReasonID <= 0 THEN ISNULL(CTP.OnHoldRemark,'')
															WHEN CTP.RejectReasonID <= 0 AND (TSACS.ID = 5 OR TSACS.ID = 7) THEN ISNULL(CTP.LossRemark,'')
															WHEN CTP.RejectReasonID > 0 AND (TSACS.ID = 7) AND ISNULL(CTP.LossRemark,'') <>'' THEN ISNULL(CTP.LossRemark,'')
															ELSE ''
														END,
										TalentInterviewStatus = CASE WHEN ISNULL(TI.Status_ID, 0) <> 0 AND ISNULL(INS.InterviewStatus,'') <> '' 
																AND Isnull(CTP.TalentStatusID_BasedOnHR,0) IN (4, 5, 6, 7)
																THEN ISNULL(TSACS.TalentStatus, '') 										
														END,
										InterviewStatusCode = CASE	
																WHEN TSACS.ID = 7 AND ISNULL(CF.FeedBack_Type,'') = '' THEN '#FFF4F4 ' -- red color (Rejected)	
																WHEN TSACS.ID = 7 AND ISNULL(CF.FeedBack_Type,'') <> '' THEN '#FFF4F4 ' -- green color (Rejected in interview)
																--WHEN TSACS.ID = 7 AND ISNULL(CF.FeedBack_Type,'') <> '' THEN '#D8F3F2 ' -- green color (Rejected in interview)
																WHEN TSACS.ID = 6 AND ISNULL(CF.FeedBack_Type,'') = '' THEN '#ead9c8' -- yellow color (onHold)
																WHEN TSACS.ID = 6 AND ISNULL(CF.FeedBack_Type,'') <> '' THEN '#D8F3F2' -- green color (onHold in interview)
																WHEN TSACS.ID = 4 THEN '#D8F3F2' -- green color (hired)
																WHEN TSACS.ID = 5 THEN '#FFF4F4 ' -- red color (Cancelled)
																WHEN TSACS.ID = 9 THEN '#FFF4F4 ' -- red color (Delete)
																ELSE '#808080' --default color
															END,
									TalentCurrenyCode = ISNULL(CTP.Talent_CurrencyCode, 'USD'),
									CurrencySign = ISNULL(PCER.CurrencySign,'$'),
									TalentPOCName = ISNULL(OpsUser.FullName,''),
									IsHRTypeDP = ISNULL(CTP.IsHRTypeDP, H.IsHRTypeDP),			
								TSACS.OrderSequence , CTP.CreatedByDatetime,
								ISNULL(O.TSC_PersonID,0) AS TSC_PersonID,
								Isnull(T.EmailID,'') as EmailID,
								Isnull(CTP.UplersfeesAmount,'') as UplersfeesAmount,
								Isnull(TT2.TimeZoneTitle,'') AS ScheduleTimeZone,
								IsShownTalentStatus = cast( Case when CTP.TalentStatusID_BasedOnHR = 10 and CTP.HRTalentTagID = 5 AND O.ClientClosureDate is not null AND  Cast(getdate() as date) < Isnull(cast(Isnull(O.Joiningdate,OC.ContractStartDate) as date),cast(getdate() as date)) then 1  -- Hired 
															when CTP.TalentStatusID_BasedOnHR = 4 and Isnull(CTP.HRTalentTagID,5) = 5 then 1 -- Offered
															else 0  end 
														as int) ,
								ISNULL(T.ATS_Talent_ID,0) AS ATSTalentID,
								[TotalCountID] = 1,
								YearsOfExperience = Isnull(ATS.YearsOfExperience,''),
								ContractStartdate = Case when CTP.TalentStatusID_BasedOnHR = 10 then Convert(Nvarchar(15),OC.ContractStartDate,103)  else '' end,
								--ContractEnddate = Case when CTP.TalentStatusID_BasedOnHR = 10 then Convert(Nvarchar(15),OC.ContractEndDate,103)  else '' end,
								ContractEnddate = Case when CTP.TalentStatusID_BasedOnHR = 10 then IIF(OC.ContractEndDate='1900-01-01 00:00:00.000',NULL,Convert(Nvarchar(15),OC.ContractEndDate,103))  else '' end,
								JoiningDate = Case when CTP.TalentStatusID_BasedOnHR = 10 then Convert(Nvarchar(15),O.Joiningdate,103)  else '' end,
								LastWorkingDate = CASE WHEN CTP.TalentStatusID_BasedOnHR = 10 then Convert(Nvarchar(15),OC.LastWorkingDate,103)  else '' end
						from	gen_Talent T WITH(NOLOCK)
								inner join [dbo].gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.TalentID=T.ID
								inner join [dbo].[gen_SalesHiringRequest] H WITH(NOLOCK) ON H.ID=CTP.HiringRequestID
								inner JOIN prg_HiringRequestStatus RS WITH(NOLOCK) ON RS.ID = H.Status_ID
								inner join [dbo].[gen_SalesHiringRequest_Details] HD WITH(NOLOCK) ON H.ID = HD.HiringRequest_ID
								inner join prg_TalentStatus_AfterClientSelection TSACS WITH(NOLOCK)  ON  TSACS.ID = CTP.TalentStatusID_BasedOnHR
								INNER JOIN usr_User OpsUser with(nolock) ON OpsUser.ID = CTP.CreatedByID
								LEFT JOIN prg_ContactTimeZone TT with(nolock) ON HD.Timezone_ID = TT.ID
								Left join gen_HR_ATSTalentDetails_CTP ATS WITH(NOLOCK) ON ATS.CTP_ID = CTP.ID
								LEFT JOIN gen_SalesHiringRequest_TalentPacketDetails TalentPacket with(nolock) ON  CTP.TalentID = TalentPacket.TalentID AND CTP.HiringRequestID = TalentPacket.HiringRequestID
								LEft JOIN #TempInterviewDetails Tmp ON Tmp.HiringRequest_ID = H.ID AND Tmp.Talent_ID = T.ID
								LEft join gen_InterviewSlotsMaster IntM WITH(NOLOCK) ON IntM.ID = Tmp.IMasterID 
								Left JOIN gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) ON  TI.InterviewMaster_ID=IntM.ID AND TI.HiringRequest_ID = IntM.HiringRequest_ID AND TI.HiringRequest_Detail_ID = IntM.HiringRequest_Detail_ID AND TI.Talent_ID = IntM.Talent_ID
								LEft join prg_InterviewStatus INS WITH(NOLOCK) ON INS.ID = IntM.InterviewStatus_ID	
								LEft join #TempOnboardDetails TempOnboard ON TempOnboard.HiringRequest_ID = H.ID AND TempOnboard.Talent_ID = T.ID
								left join gen_OnBoardTalents O WITH(NOLOCK) ON O.ID = TempOnboard.IMaxOnboardTalentID and O.Talent_ID = TempOnboard.Talent_ID AND O.HiringRequest_ID = TempOnboard.HiringRequest_ID
								left join gen_OnBoardClientContractDetails OC WITH(NOLOCK) ON OC.OnBoardID = O.ID
								left join prg_PreOnBoardStatus POB_Clientonboard WITH(NOLOCK) ON POB_Clientonboard.ID = O.ClientOnBoarding_StatusID
								left join prg_PreOnBoardStatus POB_Talentonboard WITH(NOLOCK) ON POB_Talentonboard.ID = O.TalentOnBoarding_StatusID AND O.Talent_ID = T.ID
								left join prg_PreOnBoardStatus POB_TalentLegal WITH(NOLOCK) ON POB_TalentLegal.ID = O.TalentLegal_StatusID
								left join prg_PreOnBoardStatus POB_ClientLegal WITH(NOLOCK) ON POB_ClientLegal.ID = O.ClientLegal_StatusID
								left join prg_TalentJoinning TJ WITH(NOLOCK)  ON TJ.ID = T.Joining_ID	
								left join gen_ContactInterviewFeedback CF with(nolock) ON  CF.Shortlisted_InterviewID = TI.Shortlisted_InterviewID AND CF.HiringRequest_ID =  Tmp.HiringRequest_ID
								left join gen_TalentSelected_NextRound_InterviewDetails N WITH(NOLOCK) ON N.Shortlisted_InterviewID = TI.Shortlisted_InterviewID AND N.Talent_ID = Tmp.Talent_ID and N.InterviewRound = IntM.InterviewRound_Count and isnull(N.IsLaterSlotGiven,0) =1
								left join gen_Contact C WITH(NOLOCK) ON C.ID = O.ContactID
								left join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
								left join prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = T.RoleID
								left join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID 
								left join prg_GEO G WITH(NOLOCK) ON G.ID = CO.GEO_ID
								Left join usr_User Sales WITH(NOLOCK) ON Sales.ID = CO.AM_SalesPersonID
								left join prg_TalentType TalType with(nolock) on T.Talent_TypeID = TalType.ID 
								left join prg_TalentAssociatedWithUplers PTAW with(nolock) on T.AssociatedwithUplers_ID = PTAW.ID 
								left join prg_TalentRejectReason PTRR WITH(NOLOCK) ON  PTRR.ID = CTP.RejectReasonID --UTS-3372: Show the Reason for changing talent status
								LEFT JOIN prg_CurrencyExchangeRate PCER with(nolock) ON PCER.CurrencyCode = ISNULL(CTP.Talent_CurrencyCode, 'USD')
								LEFT JOIN prg_ContactTimeZone TT2 with(nolock) ON TI.Contact_TimeZone_ID = TT2.ID
								LEFT JOIN prg_HRTalentTags TTag WITH(NOLOCK)  ON  TTag.ID = CTP.HRTalentTagID
								LEFT JOIN CTE_NextRound CTE ON CTE.Talent_ID = CTP.TalentID AND H.ID = CTE.HiringRequest_ID AND  CTE.ContactID = H.ContactID AND CTE.HiringRequest_Detail_ID = HD.ID  
						WHERE H.ID=@HR_ID	
					)
					,Cte_ViewAllHistoryTalentTotalCount AS(
									Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_HRTalentRecords 
					)
				 SELECT HR_Number,RequestStatus,Name,ContactPriorityID,ATSTalentLiveURL,ATSNonNDAURL,TalentResumeLink,NeedToCallAWSBucket,
						BillRate,PayRateDP,PayRate,CTP_TalentCost,Status,NR,DPPercentage,DPAmount,BillRateDP,TalentTimeZone,NoticePeriod,
						TalentStatusID_BasedOnHR,TalentID,HiringDetailID,InterViewStatusId,IsdisplaySelectTimeslot,SelectedInterviewId,InterviewStatus,
						InterviewROUND,InterviewDateTime,Slotconfirmed,ContactId,Shortlisted_InterviewID,ClientOnBoarding_StatusID,OnBoardId,ClientOnBoardStatus,
						TalentOnBoarding_StatusID,LegalClientOnBoarding_StatusID,LegalTalentOnBoarding_StatusID,Kickoff_StatusID,TalentOnBoardStatus,
						ClientFeedback,SlotGivenStatus,IsLaterSlotGiven,NextRound_InterviewDetailsID,TalentOnBoardDate,MasterId,EngagemenID,IsAMAssigned,
						PreferredAvailability,ProfileStatusCode,TalentRole,TalentSource,TotalExpYears,ClientFeedbackID,RejectedReason,OnHoldReason,
						CancelledReason,TalentOtherReason,TalentRemarks,TalentInterviewStatus,InterviewStatusCode,TalentCurrenyCode,CurrencySign,TalentPOCName,
						IsHRTypeDP,OrderSequence,CreatedByDatetime,TSC_PersonID,EmailID,UplersfeesAmount,ScheduleTimeZone,IsShownTalentStatus,ATSTalentID,TotalRecords,
						YearsOfExperience,ContractStartdate,ContractEnddate,JoiningDate,LastWorkingDate
				 INTO	#AllRecords_HRTalentDetails
				 FROM   CTE_HRTalentRecords U
						INNER JOIN Cte_ViewAllHistoryTalentTotalCount T on T.TotalCountID =U.TotalCountID
		 

		 SET @MainSQL = 'select	HR_Number,RequestStatus,Name,ContactPriorityID,ATSTalentLiveURL,ATSNonNDAURL,TalentResumeLink,NeedToCallAWSBucket,
								BillRate,PayRateDP,PayRate,CTP_TalentCost,Status,NR,DPPercentage,DPAmount,BillRateDP,TalentTimeZone,NoticePeriod,
								TalentStatusID_BasedOnHR,TalentID,HiringDetailID,InterViewStatusId,IsdisplaySelectTimeslot,SelectedInterviewId,InterviewStatus,
								InterviewROUND,InterviewDateTime,Slotconfirmed,ContactId,Shortlisted_InterviewID,ClientOnBoarding_StatusID,OnBoardId,ClientOnBoardStatus,
								TalentOnBoarding_StatusID,LegalClientOnBoarding_StatusID,LegalTalentOnBoarding_StatusID,Kickoff_StatusID,TalentOnBoardStatus,
								ClientFeedback,SlotGivenStatus,IsLaterSlotGiven,NextRound_InterviewDetailsID,TalentOnBoardDate,MasterId,EngagemenID,IsAMAssigned,
								PreferredAvailability,ProfileStatusCode,TalentRole,TalentSource,TotalExpYears,ClientFeedbackID,RejectedReason,OnHoldReason,
								CancelledReason,TalentOtherReason,TalentRemarks,TalentInterviewStatus,InterviewStatusCode,TalentCurrenyCode,CurrencySign,TalentPOCName,
								IsHRTypeDP,OrderSequence,CreatedByDatetime,TSC_PersonID,EmailID,UplersfeesAmount,ScheduleTimeZone,IsShownTalentStatus,ATSTalentID,TotalRecords,
								YearsOfExperience,ContractStartdate,ContractEnddate,JoiningDate,LastWorkingDate
						FROM	#AllRecords_HRTalentDetails'


				
			set   @Total_Records = 'Update #AllRecords_HRTalentDetails SET TotalRecords = (select Count(1) from #AllRecords_HRTalentDetails)'
				
			EXECUTE sp_executesql @Total_Records
			
			SET @MainSQL += ' ORDER BY OrderSequence asc, CreatedByDatetime desc '

			IF(@PageSize>0)
				BEGIN
					SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
											FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
				END 
	
			EXECUTE sp_executesql @MainSQL


	 drop table #AllRecords_HRTalentDetails
	 drop table #TempInterviewDetails
END


