USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDashboardStandOutDetails_ClientPortal]    Script Date: 03-05-2024 19:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_UpdateDashboardStandOutDetails_ClientPortal]

@ContactID BIGINT NULL,
@Guid NVARCHAR(200) NULL,
@IndustryType NVARCHAR(MAX) NULL,
@CompanySize INT NULL,
@AboutCompany NVARCHAR(MAX) NULL,
@IsOffShoreLocationExp BIT NULL,
@IsLineManagerReq BIT NULL,
@IsTeamMemberReplacement BIT NULL,
@CareerProgressionPath NVARCHAR(MAX) NULL,
@BenefitsandChallenges NVARCHAR(MAX) NULL,
@InterviewProcess NVARCHAR(MAX) NULL,
@CompanyWebsite NVARCHAR(1200) NULL,
@CompanysLinkedInProfile NVARCHAR(1200) NULL,
@UpdateCompanyDetails BIT NULL,
@SSOUserID BIGINT = NULL

AS
BEGIN	

		DECLARE @CompanyID BIGINT = NULL,
		@ActionPerformedBy BIGINT = 0

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ContactID, @SSOUserId))	

		SET @CompanyID = (SELECT TOP 1 CompanyID FROM gen_Contact WITH(NOLOCK) WHERE ID = @ContactID)

		--IF EXISTS(SELECT 1 FROM gen_JobPost_StandoutToTalents_ClientPortal WITH(NOLOCK) WHERE CompanyId = @CompanyID AND GUID != @Guid) AND (@UpdateCompanyDetails = 0)
		--BEGIN
		--	PRINT 'YES'

		--	SELECT TOP 1
		--	@IndustryType = Industry_Type,
		--	@CompanySize = CompanySize,
		--	@AboutCompany = about_Company_desc,
		--	@IsOffShoreLocationExp = IsOffShoreLocationExp,
		--	@ContactsLinkedInProfile = ContactsLinkedInProfile,
		--	@CompanysLinkedInProfile = CompanysLinkedInProfile			
		--	FROM gen_JobPost_StandoutToTalents_ClientPortal WITH(NOLOCK) WHERE ContactId = @ContactID ORDER BY ID DESC			
		--END

		--IF EXISTS(SELECT 1 FROM gen_JobPost_StandoutToTalents_ClientPortal WITH(NOLOCK) WHERE GUID = @Guid)
		--BEGIN

		--	PRINT 'UPDATE'

		--	UPDATE gen_JobPost_StandoutToTalents_ClientPortal SET 
		--	Industry_Type = @IndustryType,
		--    CompanySize = @CompanySize,
		--	about_Company_desc = @AboutCompany,
		--	IsOffShoreLocationExp = @IsOffShoreLocationExp,
		--	IsLineManagerReq = @IsLineManagerReq,
		--	IsTeamMemberReplacement = @IsTeamMemberReplacement,
		--	CareerProgressionPath = @CareerProgressionPath,
		--	BenefitsandChallenges = @BenefitsandChallenges,
		--	InterviewProcess = @InterviewProcess,
		--	ModifiedByID = @ContactID,
		--	ModifiedByDateTime = GETDATE(),
		--	ContactsLinkedInProfile = @ContactsLinkedInProfile,
		--	CompanysLinkedInProfile = @CompanysLinkedInProfile
		--	WHERE CompanyId = @CompanyID AND GUID = @Guid			
		--END
		--ELSE
		--BEGIN
			
		--	PRINT 'INSERT'

		--	INSERT INTO gen_JobPost_StandoutToTalents_ClientPortal
		--		(
		--			GUID,
		--			ContactId,
		--			Industry_Type,
		--			CompanySize,
		--			about_Company_desc,
		--			IsOffShoreLocationExp,
		--			IsLineManagerReq,
		--			IsTeamMemberReplacement,
		--			CareerProgressionPath,
		--			BenefitsandChallenges,
		--			InterviewProcess,
		--			CreatedByID,
		--			CreatedDateTime,
		--			ContactsLinkedInProfile,
		--			CompanysLinkedInProfile,
		--			CompanyId,
		--			IsActive
		--		)
		--		VALUES
		--		(
		--			@Guid,
		--			@ContactID,
		--			@IndustryType,
		--			@CompanySize,
		--			@AboutCompany,
		--			@IsOffShoreLocationExp,
		--			@IsLineManagerReq,
		--			@IsTeamMemberReplacement,
		--			@CareerProgressionPath,
		--			@BenefitsandChallenges,
		--			@InterviewProcess,
		--			@ContactID,
		--			GETDATE(),
		--			@ContactsLinkedInProfile,
		--			@CompanysLinkedInProfile,
		--			@CompanyID,
		--			1
		--		)
			
		--END

		-- Update company details
		--IF(@UpdateCompanyDetails = 1)
		--BEGIN
			
		--END

		    UPDATE gen_Company SET 
			LinkedInProfile = ISNULL(@CompanysLinkedInProfile, LinkedInProfile),
			CompanySize = ISNULL(@CompanySize, CompanySize),
			industry = ISNULL(@IndustryType, industry),
			Industry_Type = ISNULL(@IndustryType, Industry_Type),
			about_Company_desc = ISNULL(@AboutCompany, about_Company_desc),	
			Website = ISNULL(@CompanyWebsite, Website),
			ModifiedByID = @ActionPerformedBy,
			ModifiedByDatetime = GETDATE()
			WHERE ID = @CompanyID

			--UPDATE gen_Contact SET 
			--LinkedIn = @ContactsLinkedInProfile
			--WHERE ID = @ContactID
		
END

