ALTER PROCEDURE [dbo].[sp_UTS_TalentCalculation_PayPerHire]
    @TalentPay DECIMAL(18,2) = NULL, -- Pay rate
    @ClientPay DECIMAL(18,2) = NULL, -- Bill rate (HR cost)
    @UplersFeesInAmount DECIMAL(18,2) = NULL,
    @UplersFeesInPer DECIMAL(18,2) = NULL,
    @IsHrDp BIT NULL = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Result TABLE (
        CalculatedClientPay DECIMAL(18,2), 
        CalculatedTalentPay DECIMAL(18,2), 
        CalculatedUplersFeesInAmount DECIMAL(18,2), 
        CalculatedUplersFeesInPer DECIMAL(18,2)
    );

    INSERT INTO @Result
    SELECT 
        CalculatedClientPay, 
        CalculatedTalentPay, 
        CalculatedUplersFeesInAmount, 
        CalculatedUplersFeesInPer
    FROM [dbo].[UTS_Admin_PayPerHire_Calculation_For_Talent] (
        @TalentPay, 
        @ClientPay, 
        @UplersFeesInAmount, 
        @UplersFeesInPer, 
        @IsHrDp
    );

    SELECT * FROM @Result;
END;
