ALTER PROCEDURE [dbo].[sp_UTS_PreviewJobPost_ClientPortal]
@ContactID		BIGINT NULL,
@GUID			NVARCHAR(MAX),
@HRID			BIGINT = NULL

AS
BEGIN	

	IF(@GUID = 'null')
	BEGIN
		SET @GUID = null
	END
	
	IF(ISNULL(@GUID,'') <> '')
	BEGIN
		IF @GUID NOT LIKE '%[^0-9]%'
			set @HRID = CAST(@GUID AS BIGINT)
	END

	SELECT TOP 1 @HRID = ISNULL(ID,0) FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE GUID = @Guid

	CREATE TABLE #TempTable_HRCalculations (
			IsTransparentPricing BIT, 
			Budget NVARCHAR(250),
			UplersFeeInAmount NVARCHAR(250),
			ClientPay  NVARCHAR(250),
			TalentPay NVARCHAR(250),
			HRID BIGINT,
			GUID NVARCHAR(250)

		);

	INSERT INTO #TempTable_HRCalculations(IsTransparentPricing, Budget, UplersFeeInAmount, ClientPay, TalentPay)
	EXEC SP_PayPerHire_CalculationDetails @HRID, @GUID

	UPDATE #TempTable_HRCalculations SET HRID = @HRID, GUID = @GUID

	IF(ISNULL(@HRID,0) = 0)
	BEGIN

			SELECT  
			RH.Id AS 'RoleHRID',
			RH.RoleName, 
			RH.ContactId,
			GC.FullName,
			GC.EmailID,
			RH.ExperienceYears,
			RH.NoOfTalents,
			RH.IsHiringLimited,
			--RH.Availability,
			Availability = CASE WHEN ED.JobTypeID = 1 THEN 'Full time permanent position' 
								  WHEN ED.JobTypeID = 2 THEN IIF(ISNULL(TP.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
								  WHEN ED.JobTypeID = 3 THEN IIF(ISNULL(TP.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
								  WHEN ED.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
							ELSE ED.EmploymentType + CASE WHEN ISNULL(TP.SpecificMonth,0) = -1 THEN ' contract with indefinite months' ELSE IIF(TP.SpecificMonth > 0, ' contract - ' + CAST(TP.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END,
			
			CASE WHEN ED.JobTypeID = 1 THEN 'Full time permanent position' 
								  WHEN ED.JobTypeID = 2 THEN IIF(ISNULL(TP.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
								  WHEN ED.JobTypeID = 3 THEN IIF(ISNULL(TP.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
								  WHEN ED.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
							ELSE ED.EmploymentType + CASE WHEN ISNULL(TP.SpecificMonth,0) = -1 THEN ' contract with indefinite months' ELSE IIF(TP.SpecificMonth > 0, ' contract - ' + CAST(TP.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END as JobType,		
			TP.SpecificMonth AS ContractDuration,
			SB.Id AS 'SkillBudgetID',
			SB.Skills, 
			SB.AllSkills,
			SB.Currency,
			ER.CurrencySign,
			SB.BudgetFrom,
			SB.BudgetTo,
			ED.ID AS 'EmploymentDetailsID',
			ED.EmploymentType,
			ED.HowSoon,
			RH.WorkingModeID,
			MW.ModeOfWorking,
			CompanyLocation = CASE WHEN RH.WorkingModeID = 1 THEN 'Remote' 
								   WHEN RH.WorkingModeID = 2 THEN 'Hybrid'
								   ELSE RH.CompanyLocation END,
			ED.AchievementID,
			ED.Timezone_Preference_ID,
			ED.TimeZoneID,
			ED.TimeZone_FromTime,
			ED.TimeZone_EndTime,
			ED.IsHrTypeDP,
			AU.Reason,
			TZ.TimeZoneTitle AS 'TimeZone',
			TTZ.TalentTimeZone AS 'Region',
			RR.ID AS 'JDID',
			RR.JDFileName,
			RR.Requirements, 
			RR.RolesResponsibilities,
			GCS.CurrentStepID,
			GCS.NextStepID,
			ProcessType = ISNULL(RH.ProcessType,'Manual'),
			ISNULL(RH.CreatedDateTime, RH.ModifiedByDateTime) AS 'FirstTabDate',
			ISNULL(SB.CreatedDateTime, SB.ModifiedByDateTime) AS 'SecondTabDate',
			ISNULL(ED.CreatedDateTime, ED.ModifiedByDateTime) AS 'ThirdTabDate',
			ISNULL(RR.CreatedDateTime, RR.ModifiedByDateTime) AS 'FourthTabDate',
			GJD.URL AS 'JDLink',
			CASE
				WHEN ED.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, ED.TimeZone_FromTime) AS TIME), 0)
				ELSE ''
			END as IST_TimeZone_FromTime,
			Isnull(CASE
				WHEN ED.TimeZone_EndTime is not null THEN CONVERT(VARCHAR(10),  CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, ED.TimeZone_EndTime) AS TIME), 0)
				ELSE ''
			END,'NA') as IST_TimeZone_EndTime,
			RH.City,
			RH.State,
			RH.Country,
			RH.PostalCode,
			CR.Country AS CountryID,
			ISNULL(SB.BudgetType,2) AS BudgetType,
			TP.HiringTypePricingId,
			TP.PayrollTypeId,
			TP.PayrollPartnerName,
			HTP.Type AS HiringTypePricing,
			PT.PayrollType,
			RR.GPTJDID,
			RR.JobDescription,
			ISNULL(SB.IsConfidentialBudget,0) IsConfidentialBudget,
			CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 AND ISNULL(SB.BudgetTo, 0) = 0 THEN 
						  'Upto ' + ER.CurrencySign + FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'en-US'))
					 ELSE ER.CurrencySign + '' + CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 THEN FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'en-US')) ELSE '' END + 
					 CASE WHEN ISNULL(SB.BudgetTo, 0) <> 0 THEN ' to ' + ER.CurrencySign + '' + FORMAT(SB.BudgetTo, N'N', ISNULL(ER.Culture,'en-US')) ELSE '' END 
					 END + ' ' +SB.Currency +  CASE WHEN ISNULL(TP.HiringTypePricingId,0) <> 0 AND ISNULL(TP.HiringTypePricingId,0) IN (1,2) THEN ' / Month' ELSE '/ Annum' END AS HRCost,
			Isnull(RR.JobRoleDescription,'') as JobRoleDescription,
			Isnull(RR.Whatweoffer,'') as Whatweoffer,
			CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 THEN FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'en-US')) ELSE '' END AS BudgetFromStr,
			CASE WHEN ISNULL(SB.BudgetTo, 0) <> 0 THEN FORMAT(SB.BudgetTo, N'N', ISNULL(ER.Culture,'en-US')) ELSE '' END AS BudgetToStr,
			ISNULL(RH.IsFresherAllowed,0) as IsFresherAllowed,
			VT.CompensationOption,
			VT.IndustryType,
			VT.HasPeopleManagementExp,
			VT.Prerequisites,
			VT.StringSeparator,
			ToolTipMessage =
							
							CASE WHEN ISNULL(TP.HiringTypePricingId,0) <> 0  AND TP.IsTransparent = 1 THEN 'Uplers Fees % : '+ CAST(TP.PricingPercentage AS NVARCHAR(20))
							+ '</br>' + 'Est. Uplers Fees (In Amount) : ' + TRC.UplersFeeInAmount + '</br>' +
							CASE WHEN TP.HiringTypePricingId IN (1, 2) THEN 'Est. Talent''s Pay : ' + TRC.TalentPay ELSE '' END
							ELSE 
								  CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 AND ISNULL(SB.BudgetTo, 0) = 0 THEN 
									  'Upto ' + ER.CurrencySign + FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'en-US'))
								 ELSE ER.CurrencySign + '' + CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 THEN FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'en-US')) ELSE '' END + 
								 CASE WHEN ISNULL(SB.BudgetTo, 0) <> 0 THEN ' to ' + ER.CurrencySign + '' + FORMAT(SB.BudgetTo, N'N', ISNULL(ER.Culture,'en-US')) ELSE '' END 
								 END + ' ' +SB.Currency +  ' / Annum'
							END,
			RH.ShowHRPOCDetailsToTalents,
			cast(0 as int) as HRTypeId,
			cast(0 as bigint) as HRID,
			JobLocation = Isnull(RH.JobLocation,''),
			FrequencyOfficeVisitID = cast(ISNULL(RH.FrequencyOfficeVisitID,0) as int),
			IsOpenToWorkNearByCities = cast(Isnull(RH.IsOpenToWorkNearByCities,0) as bit),
			NearByCities = Isnull(RH.NearByCities,''),
			ED.JobTypeID,
			ATS_JobLocationID = ISnull(RH.ATS_JobLocationID,0),
			ATS_NearByCities = Isnull(RH.ATS_NearByCities,''),
			ScreeningQuestionsExternallyModified = CAST(0 AS BIT),
			TotalScreeningQuestions = 0,
			IsTransparentPricing = TP.IsTransparent
			
			FROM gen_RoleAndHiringType_ClientPortal RH WITH(NOLOCK)
			LEFT JOIN gen_Contact GC WITH(NOLOCK) ON GC.ID = RH.ContactId
			LEFT JOIN gen_SkillAndBudget_ClientPortal SB WITH(NOLOCK) ON RH.GUID = SB.GUID AND SB.ContactId = @ContactID
			LEFT JOIN gen_JobPost_Employment_Details_ClientPortal ED WITH(NOLOCK) ON RH.GUID = ED.GUID AND ED.ContactId = @ContactID
			LEFT JOIN prg_ModeOfWorking MW  WITH(NOLOCK) ON RH.WorkingModeID = MW.ID
			LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON ED.Timezone_Preference_ID = TZ.ID
			LEFT JOIN prg_TalentTimeZone TTZ WITH(NOLOCK) ON TTZ.ID = ED.TimeZoneID
			LEFT JOIN prg_CurrencyExchangeRate ER WITH(NOLOCK) ON ER.CurrencyCode = SB.Currency
			LEFT JOIN gen_JobPost_Roles_Responsibilities_ClientPortal RR WITH(NOLOCK) ON RH.GUID = RR.GUID AND RR.ContactId = @ContactID 
			LEFT JOIN Prg_AchievementWithUplers_Reasons AU WITH(NOLOCK) ON AU.ID = ED.AchievementID
			LEFT JOIN Gen_Client_Jobs GCS WITH(NOLOCK) ON GCS.ContactID = RH.ContactId AND GCS.GUID = RH.GUID
			LEFT JOIN Gen_GPT_JDResponse GJD WITH(NOLOCK) ON GJD.ID = RR.GPTJDID AND ISNULL(RR.GPTJDID,0) <> 0
			LEFT JOIN prg_CountryRegion CR WITH(NOLOCK) ON CR.ID = RH.Country
			LEFT JOIN gen_TransparentPricingModel_ClientPortal TP WITH(NOLOCK) ON TP.GUID = RH.GUID AND TP.ContactId = @ContactID 
			LEFT JOIN prg_HiringType_Pricing HTP WITH(NOLOCK) ON HTP.ID = TP.HiringTypePricingId
			LEFT JOIN prg_PayrollType PT WITH(NOLOCK) ON TP.PayrollTypeId = PT.ID
			LEFT JOIN gen_JobPost_VitalInfo_ClientPortal VT WITH(NOLOCK) ON RH.GUID = VT.GUID AND VT.ContactId = @ContactID
			LEFT JOIN #TempTable_HRCalculations TRC ON TRC.GUID = @GUID
			WHERE RH.ContactId = @ContactID AND RH.GUID = @GUID

	END	
	ELSE
	BEGIN

		---------Fetch the must have skills------------------------
		set nocount on;
		declare @SkillsTable table (Id BIGINT, SkillName nvarchar(500), HiringRequestID BIGINT)

		INSERT INTO @SkillsTable
		SELECT SD.ID, 
		CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
		SD.HiringRequest_ID FROM 
		gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
		LEFT JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
		LEFT JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID

		WHERE 
		HiringRequest_ID = @HRID And 
		Proficiency = 'Strong'
		set nocount off


		DECLARE @MustSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT INTO @MustSkillsTable
		SELECT
		t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS MustHaveSkills
		FROM @SkillsTable t1
		GROUP BY t1.HiringRequestID

		DELETE FROM @SkillsTable

		INSERT INTO @SkillsTable
		SELECT SD.ID, 
		CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
		SD.HiringRequest_ID FROM 
		gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
		LEFT JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
		LEFT JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID

		WHERE 
		HiringRequest_ID = @HRID And 
		Proficiency = 'Basic'
		set nocount off


		DECLARE @GoodSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT INTO @GoodSkillsTable
		SELECT
		t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS GoodSkills
		FROM @SkillsTable t1
		GROUP BY t1.HiringRequestID

		SELECT @ContactID = ContactID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID

		SELECT  
			RH.Id AS 'RoleHRID',
			RH.RequestForTalent AS RoleName, 
			RH.ContactId,
			GC.FullName AS FullName,
			GC.EmailID AS EmailID,
			CAST(SHD.YearOfExp AS INT) AS ExperienceYears,
			RH.NoOfTalents,
			IIF(RH.IsHiringLimited = 1, 'Temporary','Permanent') AS IsHiringLimited,
			--RH.Availability,
			Availability = CASE WHEN RH.JobTypeID = 1 THEN 'Full time permanent position' 
										   WHEN RH.JobTypeID = 2 THEN IIF(ISNULL(SHD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
										   WHEN RH.JobTypeID = 3 THEN IIF(ISNULL(SHD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
										   WHEN RH.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
									  ELSE RH.Availability + CASE WHEN ISNULL(SHD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
													ELSE IIF(SHD.SpecificMonth > 0, ' contract - ' + CAST(SHD.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END,
			CASE WHEN RH.JobTypeID = 1 THEN 'Full time permanent position' 
										   WHEN RH.JobTypeID = 2 THEN IIF(ISNULL(SHD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
										   WHEN RH.JobTypeID = 3 THEN IIF(ISNULL(SHD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
										   WHEN RH.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
									  ELSE RH.Availability + CASE WHEN ISNULL(SHD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
													ELSE IIF(SHD.SpecificMonth > 0, ' contract - ' + CAST(SHD.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END as JobType,		
			CAST(SHD.SpecificMonth AS INT) AS ContractDuration,
			0 AS 'SkillBudgetID',
			GST.SkillName AS AllSkills, 
			MST.SkillName AS Skills,
			SHD.Currency,
			ER.CurrencySign,
			IIF(ISNULL(BudgetFrom, 0) = 0, Adhoc_BudgetCost, BudgetFrom) as BudgetFrom,
			BudgetTo,
			0 AS 'EmploymentDetailsID',
			RH.Availability as EmploymentType,
			HowSoon,
			MW.ID AS WorkingModeID,
			DP.ModeOfWork AS ModeOfWorking,
			CompanyLocation = DP.ModeOfWork,
			CAST(0 AS BIGINT) AS AchievementID,
			SHD.Timezone_ID as Timezone_Preference_ID,
			0 AS TimeZoneID,
			TimeZone_FromTime,
			TimeZone_EndTime,
			IsHrTypeDP,
			'' AS Reason,
			TZ.TimeZoneTitle AS 'TimeZone',
			'' AS 'Region',
			0 AS 'JDID',
			RH.JDFilename AS JDFileName,
			SHD.Requirement AS Requirements, 
			SHD.RolesResponsibilities AS RolesResponsibilities,
			CurrentStepID = ISNULL(GCS.CurrentStepID,4),
			NextStepID = ISNULL(GCS.NextStepID,5),
			ProcessType = ISNULL(RH1.ProcessType,'Manual'),
			ISNULL(RH.CreatedByDatetime, RH.LastModifiedDatetime) AS 'FirstTabDate',
			ISNULL(RH.CreatedByDatetime, RH.LastModifiedDatetime) AS 'SecondTabDate',
			ISNULL(RH.CreatedByDatetime, RH.LastModifiedDatetime) AS 'ThirdTabDate',
			ISNULL(RH.CreatedByDatetime, RH.LastModifiedDatetime) AS 'FourthTabDate',
			RH.JDFilename AS 'JDLink',
			CASE
				WHEN SHD.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, SHD.TimeZone_FromTime) AS TIME), 0)
				ELSE ''
			END as IST_TimeZone_FromTime,
			Isnull(CASE
				WHEN SHD.TimeZone_EndTime is not null THEN CONVERT(VARCHAR(10),  CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, SHD.TimeZone_EndTime) AS TIME), 0)
				ELSE ''
			END,'NA') as IST_TimeZone_EndTime,
			DP.City,
			DP.State,
			DP.Country,
			DP.PostalCode,
			CR.Country AS CountryID,
			CASE WHEN ISNULL(SHD.BudgetFrom, 0) > 0 AND ISNULL(SHD.BudgetTo, 0) > 0 THEN 2
				WHEN ISNULL(SHD.Adhoc_BudgetCost, 0) > 0 THEN 1
				ELSE 3
			END AS BudgetType,
			HiringTypePricingId = RH.HiringTypePricingId,
			RH.PayrollTypeId,
			RH.PayrollPartnerName,
			HTP.Type AS HiringTypePricing,
			PT.PayrollType,
			null AS GPTJDID,
			SHD.JobDescription,
			ISNULL(SHD.IsConfidentialBudget,0) IsConfidentialBudget,
			case when  Isnull(SHD.IsConfidentialBudget,0) = 1 then SHD.Cost + ' (Confidential for candidates)' else SHD.Cost end  AS HRCost,
			ISNULL(SHD.JobRoleDescription,'') as JobRoleDescription,
			ISNULL(SHD.Whatweoffer,'') as Whatweoffer,
			BudgetFromStr = CASE WHEN ISNULL(SHD.Adhoc_BudgetCost,0) <> 0 THEN FORMAT(SHD.Adhoc_BudgetCost, N'N', isnull(ER.Culture,'en-US')) ELSE FORMAT(SHD.BudgetFrom, N'N', isnull(ER.Culture,'en-US')) END,
			FORMAT(SHD.BudgetTo, N'N', isnull(ER.Culture,'en-US')) AS BudgetToStr,
			CASE WHEN ISNULL(SHD.YearOfExp, 0) = 0 THEN CAST(1 AS BIT) ELSE ISNULL(SHD.IsFresherAllowed,0) END as IsFresherAllowed,
			VT.CompensationOption,
			VT.IndustryType,
			VT.HasPeopleManagementExp,
			VT.Prerequisites,
			VT.StringSeparator,
			ToolTipMessage = CASE WHEN RH.HRTypeID = 1 AND RH.IsTransparentPricing = 1 THEN 'Uplers Fees % : '+ CASE WHEN IsHRTypeDP = 1 THEN CAST(RH.DPPercentage AS NVARCHAR(20)) ELSE CAST(RH.TalentCostCalcPercentage AS NVARCHAR(20)) END
							+ '</br>' + 'Est. Uplers Fees (In Amount) : ' + TRC.UplersFeeInAmount + '</br>' +
							CASE WHEN RH.HiringTypePricingId IN (1, 2) THEN 'Est. Talent''s Pay : ' + TRC.TalentPay  ELSE '' END	
							ELSE SHD.Cost END,
			RH.ShowHRPOCDetailsToTalents,
			RH.HRTypeId,
			RH.ID AS HRID,
			JobLocation = Isnull(DP.JobLocation,''),
			FrequencyOfficeVisitID = cast(ISNULL(DP.FrequencyOfficeVisitID,0) as int),
			IsOpenToWorkNearByCities = cast(Isnull(DP.IsOpenToWorkNearByCities,0) as bit),
			NearByCities = Isnull(DP.NearByCities,''),			
			RH.JobTypeID,
			ATS_JobLocationID = ISnull(DP.ATS_JobLocationID,0),
			ATS_NearByCities = Isnull(DP.ATS_NearByCities,''),
			ScreeningQuestionsExternallyModified = SHD.ScreeningQuestionsExternallyModified,
			TotalScreeningQuestions = SHD.TotalScreeningQuestions,
			IsTransparentPricing = RH.IsTransparentPricing
			FROM gen_SalesHiringRequest RH WITH(NOLOCK)
			LEFT JOIN gen_SalesHiringRequest_Details SHD ON SHD.HiringRequest_ID = RH.ID
			LEFT JOIN gen_Contact GC WITH(NOLOCK) ON GC.ID = RH.ContactId	
			LEFT JOIN gen_Direct_Placement DP ON DP.HiringRequest_Id = RH.ID
			LEFT JOIN prg_ModeOfWorking MW ON DP.ModeOfWork = MW.ModeOfWorking		
			LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON SHD.Timezone_ID = TZ.ID			
			LEFT JOIN prg_CurrencyExchangeRate ER WITH(NOLOCK) ON ER.CurrencyCode = SHD.Currency			
			LEFT JOIN prg_CountryRegion CR WITH(NOLOCK) ON CR.ID = DP.Country
			LEFT JOIN @MustSkillsTable MST ON MST.HiringRequestID = RH.ID
			LEFT JOIN @GoodSkillsTable GST ON GST.HiringRequestID = RH.ID		
			LEFT JOIN prg_HiringType_Pricing HTP WITH(NOLOCK) ON HTP.ID = RH.HiringTypePricingId
			LEFT JOIN prg_PayrollType PT WITH(NOLOCK) ON RH.PayrollTypeId = PT.ID
			LEFT JOIN gen_JobPost_VitalInfo_ClientPortal VT WITH(NOLOCK) ON RH.ID = VT.HRID
			LEFT JOIN Gen_Client_Jobs GCS WITH(NOLOCK) ON GCS.ContactID = RH.ContactId AND GCS.GUID = RH.GUID
			LEFT JOIN gen_RoleAndHiringType_ClientPortal RH1 WITH(NOLOCK) ON RH1.GUID = RH.GUID
			LEFT JOIN #TempTable_HRCalculations TRC ON TRC.HRID = @HRID
			WHERE  RH.ID = @HRID
	END
END
