ALTER PROCEDURE [dbo].[sp_UTS_GetPOCUserIDByCompanyID_Edit]
	@CompanyID BIGINT NULL
AS
BEGIN
IF @CompanyID > 0
	BEGIN
			DECLARE @POCID BIGINT = NULL
			Declare @HRID as bigint = 0
			Declare @Sales_AM_NBD as Nvarchar(50) = ''
			SELECT  @POCID = Isnull(AM_SalesPersonID,Isnull(NBD_SalesPersonID,0)),
					@Sales_AM_NBD = Case when  Isnull(AM_SalesPersonID,0) <> 0 then 'AM' 
									  when  Isnull(NBD_SalesPersonID,0) <> 0 then 'NBD'
									  Else  ''
									  end
			from	gen_Company WITH(NOLOCK) where ID = @CompanyID
			

			--Added Jimit 03-06-24 UTS-7505 point no 4
			IF Exists(Select 1
						from   gen_SalesHiringRequest H WITH(NOLOCK) 
							   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
						Where  c.CompanyID = @CompanyID)
					BEGIN
							Select top 1 @POCID = Isnull(H.SalesUserID,0),@HRID = H.ID,@Sales_AM_NBD = 'HR' 
							from   gen_SalesHiringRequest H WITH(NOLOCK) 
								   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
							Where  c.CompanyID = @CompanyID
							Order by H.ID desc

							 
					END

				--as remove default logic as discussion with Mehul sir
				--IF @POCID = 0
				--	BEGIN
				--			Declare  @DCSalesEmpID as Nvarchar(20) = null
				--			select @DCSalesEmpID = [Value] from gen_SystemConfiguration WITH(NOLOCK) where [Key] = 'ClientFrontEndPayPerHRPOC'
				--			Select @POCID = ID from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID

				--	END
	
				SELECT	top 1	usr.ID as POCUserID,usr.FullName as POCName,
						@HRID as HRID,@Sales_AM_NBD as Sales_AM_NBD
				FROM	usr_User usr WITH(NOLOCK)
				WHERE   usr.ID = @POCID and UserTypeID in (4,9)
				order by usr.UserTypeID

			
	END
END
