USE [TALENTCONNECT]
GO
/****** Object:  StoredProcedure [dbo].[sp_UTS_PreviewJobPostUpdate_ClientPortal]    Script Date: 13-09-2024 21:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UTS_PreviewJobPostUpdate_ClientPortal]
@RoleName NVARCHAR(500) NULL,
@Currency NVARCHAR(50) NULL,
@BudgetFrom DECIMAL(18,2) NULL,
@BudgetTo DECIMAL(18,2) NULL,
@ContractDuration INT NULL,
@EmploymentType NVARCHAR(50) NULL,
@HowSoon NVARCHAR(50) NULL,
@WorkingModeID INT NULL,
@ExperienceYears INT NULL,
@IsFresherAllowed BIT NULL,
@Requirement NVARCHAR(MAX) NULL,
@RolesandResponsibilities NVARCHAR(MAX) NULL,
@Skills NVARCHAR(MAX) NULL,
@AllSkills NVARCHAR(MAX) NULL,
@NoOfTalents INT NULL,
@CompanySize INT NULL,
@CompanyLocation NVARCHAR(MAX) NULL,
@Industry_Type NVARCHAR(MAX) NULL,
@AboutCompany NVARCHAR(MAX) NULL,
@Timezone_Preference_ID BIGINT NULL,
@TimeZone_FromTime NVARCHAR(200) NULL,
@TimeZone_EndTime NVARCHAR(200) NULL,
@TimezoneID BIGINT NULL,
@ContactID BIGINT NULL,
@GUID NVARCHAR(200) NULL,
@IsHiringLimited NVARCHAR(50) = 'Temporary',
@City NVARCHAR(500) NULL,
@State NVARCHAR(500) NULL,
@Country NVARCHAR(500) NULL,
@PostalCode NVARCHAR(500) NULL,
@BudgetType INT = NULL,
@HiringTypePricingId INT = NULL,
@PayrollTypeId INT = NULL,
@PayrollPartnerName NVARCHAR(MAX) = NULL,
@JobDescription NVARCHAR(MAX) = NULL,
@IsConfidentialBudget BIT = NULL,
@GptJdId BIGINT = NULL,
@JobRoleDescription Nvarchar(MAX) = null,
@Whatweoffer  Nvarchar(MAX) = null,
@CountryTracking NVARCHAR(250) = 'India',
@SSOUserId BIGINT = NULL,	
@CompensationOption     Nvarchar(MAX) = null,
@IndustryType           Nvarchar(MAX) = null,
@HasPeopleManagementExp BIT = null,
@Prerequisites			Nvarchar(MAX) = null,
@StringSeparator        NVARCHAR(MAX) = null,
@IsMustHaveSkillschanged	BIT				= null,
@IsGoodToHaveSkillschanged	BIT				= null,
@ShowHRPOCDetailsToTalents  BIT = NULL,
@AppActionDoneBy			INT = 4,
@JobLocation			NVARCHAR(500) = null,
@FrequencyOfficeVisitID	Int = 0,
@IsOpenToWorkNearByCities BIT = null,
@NearByCities			Nvarchar(Max) = null,
@JobTypeID				INT = NULL,
@HR_ID			       BIGINT = 0,
@ATS_JobLocationID			BIGINT= null,
@ATS_NearByCities			Nvarchar(MAX) = null
AS
BEGIN	

		DECLARE @ActionPerformedBy BIGINT = 0,
		@ActionManagedByClient BIT = 1,
		@HiringTypePricingIdOld INT = 0,
		@BudgetFromOld DECIMAL(18,2) = 0,
		@BudgetToOld DECIMAL(18,2) = 0,
		@CostSuffix NVARCHAR(250) = '',
		@CompanyTypeId AS BIGINT = 0,
		@UpdateContractDuration BIT = NULL,
		@IsHiringLimitedBit AS BIT = NULL,
		@PricingPercentage DECIMAL(18,2) = 0

		DECLARE 
			        @CompanyID AS BIGINT = 0,
			        
			       
					@SpecIFicMonth AS INT = NULL,
					@Cost NVARCHAR(500),
					@RoleId BIGINT = NULL,
					@AdhocBudgetCost DECIMAL(18,2) = NULL,
				
					@FormattedBudgetFrom NVARCHAR(MAX) = '',
					@FormattedBudgetTo NVARCHAR(MAX) = ''

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ContactID, @SSOUserId))
		SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0))		

		 IF(@GUID != 'null')
		  BEGIN			 
			 
			 SELECT @CompanyTypeId = ISNULL(PRT.CompanyTypeID,0), @HR_ID = HR.ID
				FROM gen_SalesHiringRequest HR WITH(NOLOCK) 
				LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = HR.HrTypeId
				WHERE GUID = @Guid

		  END

		-- If Action done by Admin then do the appropriate actions.
		IF(@AppActionDoneBy = 3)
		BEGIN			
			SET @ActionPerformedBy = @ContactID
			SET @ActionManagedByClient = CAST(0 AS BIT)
			SELECT TOP 1 @ContactID = ContactID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HR_ID			
		END	

		SELECT @HR_ID = ISNULL(@HR_ID,0)

		select @BudgetFrom, @BudgetTo, @HR_ID

		--- UPDATE ROLENAME
		IF(ISNULL(@RoleName,'') <> '')
		BEGIN
			IF(@HR_ID = 0)
			BEGIN
				UPDATE gen_RoleAndHiringType_ClientPortal SET 
				RoleName = ISNULL(@RoleName, RoleName)
				WHERE GUID = @GUID
			END
			ELSE
			BEGIN
			UPDATE gen_SalesHiringRequest	SET			
			RequestForTalent = ISNULL(@RoleName, RequestForTalent),
			LastModIFiedByID = ISNULL(@ActionPerformedBy, CreatedByID),
			LastModIFiedDatetime = GETDATE(),
			ClientJobModifyByID = @ContactID,
			ClientJobModifyByDatetime = GetDate()
			WHERE ID = @HR_ID

			IF (@RoleName <> NULL OR @RoleName <> '')
			BEGIN
				SET @RoleID  = (SELECT TOP 1 ID FROM prg_TalentRoles with(NoLock) WHERE TalentRole = @RoleName)
			END

			IF ((@RoleName <> NULL OR @RoleName <> '') AND ISNULL(@RoleID,0) = 0)
			BEGIN		
			
				PRINT @RoleName
				SELECT  
				TOP 1   @RoleID = FT_TBL.ID  
				FROM    prg_TalentRoles AS FT_TBL with(nolock)  
						INNER JOIN FREETEXTTABLE(prg_TalentRoles,TalentRole,@RoleName,LANGUAGE N'English') AS KEY_TBL  
						ON FT_TBL.ID = KEY_TBL.[KEY] ORDER BY RANK desc

				IF(ISNULL(@RoleID,0) = 0)
					BEGIN	
					
						--As per Bhuvan sir's instruction in SP 24 planning call 27-11-23

						INSERT INTO prg_TalentRoles
						(
							TalentRole,
							IsActive,
							IsAdhoc,
							CreatedbyDatetime,
							ModIFyByID,
							FrontIconImage
						)
						VALUES
						(
							@RoleName,
							1,
							1,
							GETDATE(),
							@ActionPerformedBy,
							'default-role-icon.png'
						)

						SET @RoleID = @@IDENTITY 
					END
			END

			UPDATE gen_SalesHiringRequest_Details  SET
			Role_ID = ISNULL(@RoleID, Role_ID),
			LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
			LastModIFiedDatetime = Getdate()
			WHERE HiringRequest_ID = @HR_ID
		END
		END		

		---UPDATE BUDGET
		IF(ISNULL(@BudgetFrom,0) > 0)
		BEGIN
			
			select @BudgetFrom, @BudgetTo, @HR_ID, 'No HR'

			IF(@BudgetFrom > 0 AND ISNULL(@BudgetTo,0) = 0)
			BEGIN
				SET @BudgetTo = 0
			END

			--select @BudgetFrom, @BudgetTo, @HR_ID

			IF(@HR_ID = 0)
			BEGIN
				UPDATE gen_SkillAndBudget_ClientPortal SET 
				Currency = ISNULL(@Currency, Currency),
				BudgetFrom = ISNULL(@BudgetFrom, BudgetFrom),
				BudgetTo = ISNULL(@BudgetTo, BudgetTo),				
				BudgetType = ISNULL(@BudgetType,BudgetType),
				IsConfidentialBudget = ISNULL(@IsConfidentialBudget,IsConfidentialBudget)
				WHERE GUID = @GUID
			END
			ELSE
			BEGIN

				select @BudgetFrom, @BudgetTo, @HR_ID, 'With HR'

				IF(ISNULL(@Currency,'') != '')
				BEGIN
						---Convert into proper formatting for budget
					SELECT @FormattedBudgetFrom = CASE WHEN ISNULL(@BudgetFrom,0) <> 0 THEN format(@BudgetFrom, N'N', Culture) ELSE '' END, 
						   @FormattedBudgetTo = CASE WHEN ISNULL(@BudgetTo,0) <> 0 THEN format(@BudgetTo, N'N', Culture) ELSE '' END
					FROM prg_CurrencyExchangeRate WITH(NOLOCK) WHERE CurrencyCode = @Currency
				END

				SELECT TOP 1 @HiringTypePricingIdOld = HiringTypePricingId FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HR_ID				

				IF(@HiringTypePricingIdOld = 3 OR @CompanyTypeID = 2)
				BEGIN
					SET @CostSuffix = '/ Annum'					
				END
				ELSE
				BEGIN
					SET @CostSuffix = '/ Month'
				END

				-- No bar for right candidate
				IF(ISNULL(@BudgetType,2) = 3 AND (ISNULL(@BudgetFrom,0) = 0 AND ISNULL(@BudgetTo,0) = 0))
				BEGIN
					--SET @Cost = 'Open for any budget'
					SET @Cost = ''
					SET @BudgetFrom = 0 
					SET	@BudgetTo = 0 
					SET	@AdhocBudgetCost = 0
				END

				-- Budget Range 
				IF(ISNULL(@BudgetFrom,0) >  0 OR ISNULL(@BudgetTo,0) > 0)
				BEGIN
				SET @Cost = (
								SELECT IIF
										(
											ISNULL(@BudgetFrom,0) = 0, 
											@FormattedBudgetFrom,
											CAST(CurrencySign AS NVARCHAR) + '' + @FormattedBudgetFrom
										) 
										+ ' to ' +  CAST(CurrencySign AS NVARCHAR) + '' + @FormattedBudgetTo + ' ' + @Currency + @CostSuffix  FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
							)
							SET	@AdhocBudgetCost = 0
			END

				--Adhoc Budget
				IF(ISNULL(@BudgetFrom,0) >  0 AND ISNULL(@BudgetTo,0) = 0)
				BEGIN
				SET @Cost = (
								SELECT IIF
										(
											ISNULL(@BudgetFrom,0) = 0, 
											@FormattedBudgetFrom,
											+ 'Upto ' + CAST(CurrencySign AS NVARCHAR) + '' + @FormattedBudgetFrom + ' ' + @Currency + @CostSuffix									
										) 
										FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
							)
				SET @AdhocBudgetCost = @BudgetFrom
				SET @BudgetFrom = 0 
				SET	@BudgetTo = 0 
			END

				UPDATE gen_SalesHiringRequest_Details   SET 
			
				Currency = ISNULL(@Currency, Currency),
				BudgetFrom = ISNULL(@BudgetFrom, BudgetFrom),
				BudgetTo = ISNULL(@BudgetTo, BudgetTo),
				Adhoc_BudgetCost = ISNULL(@AdhocBudgetCost, Adhoc_BudgetCost),			
				Cost = ISNULL(@Cost, Cost),
				LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
				LastModIFiedDatetime = Getdate(),			
				IsConfidentialBudget = ISNULL(@IsConfidentialBudget, IsConfidentialBudget)
			
				WHERE HiringRequest_ID = @HR_ID

			END
		END

		---UPDATE ENGAGEMENT MODEL
		IF(ISNULL(@HiringTypePricingId,0) > 0)

		BEGIN
			IF(@HR_ID = 0)
			BEGIN
				SELECT TOP 1 @HiringTypePricingIdOld = HiringTypePricingId FROM gen_TransparentPricingModel_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID
				SELECT TOP 1 @BudgetFromOld = BudgetFrom, @BudgetToOld = BudgetTo		
				FROM gen_SkillAndBudget_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID

				IF(@HiringTypePricingIdOld != @HiringTypePricingId)
				BEGIN	

					-- IF new selected value is dp and old was contractual
					IF(@HiringTypePricingId = 3 AND @HiringTypePricingIdOld IN (1,2))
					BEGIN
						SET @BudgetFrom = ISNULL(@BudgetFromOld,0) * 12
						SET @BudgetTo = CASE WHEN ISNULL(@BudgetToOld,0) <> 0 THEN ISNULL(@BudgetToOld,0) * 12 ELSE NULL END
					END

					-- IF new selected value is contractual and old was dp
					ELSE IF(@HiringTypePricingId IN (1,2) AND @HiringTypePricingIdOld = 3)
					BEGIN
						SET @BudgetFrom = ISNULL(@BudgetFromOld,0) / 12
						SET @BudgetTo = CASE WHEN ISNULL(@BudgetToOld,0) <> 0 THEN ISNULL(@BudgetToOld,0) / 12 ELSE NULL END
					END

					SET @PricingPercentage = (
												SELECT CASE WHEN @HiringTypePricingId = 3 AND 
														(LOWER(@CountryTracking) = LOWER('India') OR LOWER(@CountryTracking) = LOWER('IN'))
														THEN 7.5 ELSE PricingPercent 
												END
												FROM prg_HiringType_Pricing WHERE ID = @HiringTypePricingId
											  
											  )
				END

				IF(@HiringTypePricingId = 3)
				BEGIN
					SET @CostSuffix = '/ Annum'
					SET @EmploymentType = 'Full Time'
					SET @UpdateContractDuration = 0 --- DP ENGAGEMENT SO NO CONTRACT DURATION.
				END
				ELSE
				BEGIN
					SET @CostSuffix = '/ Month'
					SET @UpdateContractDuration = 1
				END

				-- If Hiring is on Uplers payload with 35% then it is by default full-time
				IF(@HiringTypePricingId = 2)
				BEGIN
					SET @EmploymentType = ' Full Time'
					SET @UpdateContractDuration = 1 
				END

				UPDATE gen_RoleAndHiringType_ClientPortal SET 		
				IsHiringLimited = ISNULL(@IsHiringLimited, IsHiringLimited),
				ContractDuration = CASE WHEN @UpdateContractDuration = 1 THEN @ContractDuration ELSE ISNULL(@ContractDuration, ContractDuration) END
				WHERE GUID = @GUID

				UPDATE gen_JobPost_Employment_Details_ClientPortal SET 
				EmploymentType = ISNULL(@EmploymentType, EmploymentType)
				WHERE GUID = @GUID 

				UPDATE gen_SkillAndBudget_ClientPortal SET 
				BudgetFrom = ISNULL(@BudgetFrom, BudgetFrom),
				BudgetTo = ISNULL(@BudgetTo, BudgetTo)
				WHERE GUID = @GUID

				UPDATE gen_TransparentPricingModel_ClientPortal SET 
				HiringTypePricingId = ISNULL(@HiringTypePricingId, HiringTypePricingId),
				SpecIFicMonth = CASE WHEN @UpdateContractDuration = 1 THEN @ContractDuration ELSE ISNULL(@ContractDuration, SpecIFicMonth) END,
				PayrollTypeId = ISNULL(NULLIF(@PayrollTypeId,0),PayrollTypeId),
				PayrollPartnerName = ISNULL(@PayrollPartnerName, PayrollPartnerName),
				PricingPercentage = ISNULL(NULLIF(@PricingPercentage,0),PricingPercentage)
				WHERE GUID = @GUID 

			END
			ELSE
			BEGIN
				SELECT TOP 1 @HiringTypePricingIdOld = HiringTypePricingId FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HR_ID
				SELECT TOP 1 @BudgetFromOld = BudgetFrom, @BudgetToOld = BudgetTo		
				FROM gen_SalesHiringRequest_Details WITH(NOLOCK) WHERE HiringRequest_ID = @HR_ID

				IF(@HiringTypePricingIdOld != @HiringTypePricingId)
				BEGIN	

					-- IF new selected value is dp and old was contractual
					IF(@HiringTypePricingId = 3 AND @HiringTypePricingIdOld IN (1,2))
					BEGIN
						SET @BudgetFrom = ISNULL(@BudgetFromOld,0) * 12
						SET @BudgetTo = CASE WHEN ISNULL(@BudgetToOld,0) <> 0 THEN ISNULL(@BudgetToOld,0) * 12 ELSE NULL END
					END

					-- IF new selected value is contractual and old was dp
					ELSE IF(@HiringTypePricingId IN (1,2) AND @HiringTypePricingIdOld = 3)
					BEGIN
						SET @BudgetFrom = ISNULL(@BudgetFromOld,0) / 12
						SET @BudgetTo = CASE WHEN ISNULL(@BudgetToOld,0) <> 0 THEN ISNULL(@BudgetToOld,0) / 12 ELSE NULL END
					END
				END

				IF(@HiringTypePricingId = 3)
				BEGIN
					SET @CostSuffix = '/ Annum'
					SET @EmploymentType = 'Full Time'
					SET @UpdateContractDuration = 0 --- DP ENGAGEMENT SO NO CONTRACT DURATION.

				END
				ELSE
				BEGIN
					SET @CostSuffix = '/ Month'
					SET @UpdateContractDuration = 1
				END

				-- If Hiring is on Uplers payload with 35% then it is by default full-time
				IF(@HiringTypePricingId = 2)
				BEGIN
					SET @EmploymentType = ' Full Time'
					SET @UpdateContractDuration = 1 
				END


				IF(@EmploymentType = 'Part Time')
				BEGIN
					SET @IsHiringLimitedBit = 1
				END
				ELSE
				BEGIN
					SET @IsHiringLimitedBit = 0
				END

				UPDATE gen_SalesHiringRequest	SET				
				Availability = ISNULL(@EmploymentType, Availability),
				IsHiringLimited = ISNULL(@IsHiringLimitedBit, IsHiringLimited),
				LastModIFiedByID = ISNULL(@ActionPerformedBy, CreatedByID),
				LastModIFiedDatetime = GETDATE(),					
				HiringTypePricingId = ISNULL(@HiringTypePricingId, HiringTypePricingId),
				PayrollTypeId = ISNULL(NULLIF(@PayrollTypeId,0), PayrollTypeId),			
				PayrollPartnerName = ISNULL(@PayrollPartnerName, PayrollPartnerName),
				ClientJobModifyByID = @ContactID,
				ClientJobModifyByDatetime = GETDATE()			
				WHERE ID = @HR_ID


				UPDATE gen_SalesHiringRequest_Details   SET 			
				SpecIFicMonth = CASE WHEN @UpdateContractDuration = 1 THEN @ContractDuration ELSE ISNULL(@ContractDuration, SpecIFicMonth) END,	
		
				LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
				LastModIFiedDatetime = Getdate(),
				DurationType = IIF(@IsHiringLimitedBit IS NOT NULL, IIF(@IsHiringLimitedBit = 1, 'Short Term', 'Long Term') , DurationType)				
				WHERE HiringRequest_ID = @HR_ID		

			END
		END

		---UPDATE NOTICE PERIOD
		IF(ISNULL(@HowSoon,0) <> '')
		BEGIN
			IF(@HR_ID = 0)
			BEGIN
				UPDATE gen_JobPost_Employment_Details_ClientPortal SET 				
				HowSoon = ISNULL(@HowSoon, HowSoon)
				WHERE GUID = @GUID 
			END
			ELSE
			BEGIN
				UPDATE gen_SalesHiringRequest_Details    SET 			
				HowSoon = ISNULL(@HowSoon, HowSoon),			
				LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
				LastModIFiedDatetime = Getdate()
				WHERE HiringRequest_ID = @HR_ID
			END
		END

		---UPDATE WORKING MODE
		IF(ISNULL(@WorkingModeID,0) <> 0)
		BEGIN
			IF(@HR_ID = 0)
			BEGIN
				UPDATE gen_RoleAndHiringType_ClientPortal SET 		
				WorkingModeID = ISNULL(@WorkingModeID, WorkingModeID),
				City = ISNULL(@City, City),
				State = ISNULL(@State, State),
				Country = ISNULL(@Country, Country),
				PostalCode = ISNULL(@PostalCode, PostalCode)
				WHERE GUID = @GUID

				UPDATE gen_JobPost_Employment_Details_ClientPortal SET 		
				WorkingModeID = ISNULL(@WorkingModeID, WorkingModeID)
				WHERE GUID = @GUID 
			END
			ELSE
			BEGIN
				DECLARE @WorkingMode NVARCHAR(100)
				SELECT @WorkingMode = ModeOfWorking FROM prg_ModeOfWorking with(NoLock) WHERE ID = @WorkingModeID
			
				--update data in gen_Direct_Placement
				UPDATE  gen_Direct_Placement SET
				ModeOfWork = ISNULL(@WorkingMode, ModeOfWork),
				City = ISNULL(@City, City),
				State = ISNULL(@State, State),
				Country = ISNULL(@Country, Country),
				PostalCode = ISNULL(@PostalCode, PostalCode),
				ModIFiedById = ISNULL(@ActionPerformedBy, ModIFiedById),
				ModIFiedByDateTime = GETDATE()				
				WHERE HiringRequest_Id = @HR_ID
			END
		END

		---UPDATE EXPERIENCE YEARS
		IF(ISNULL(@ExperienceYears,0) > 0 OR @IsFresherAllowed IS NOT NULL)
		BEGIN
			IF(@HR_ID = 0)
			BEGIN
				UPDATE gen_RoleAndHiringType_ClientPortal 	SET 		
				ExperienceYears = ISNULL(@ExperienceYears, ExperienceYears),
				IsFresherAllowed = ISNULL(@IsFresherAllowed, IsFresherAllowed)		
				WHERE GUID = @GUID
			END
			ELSE
			BEGIN
				UPDATE gen_SalesHiringRequest_Details    SET 
				IsFresherAllowed = ISNULL(@IsFresherAllowed, IsFresherAllowed),			
				YearOfExp = ISNULL(@ExperienceYears, YearOfExp),			
				LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
				LastModIFiedDatetime = Getdate()
				WHERE HiringRequest_ID = @HR_ID
			END
		END

		---UPDATE TIMEZONE
		IF(ISNULL(@Timezone_Preference_ID,0) > 0)
		BEGIN
			IF(@HR_ID = 0)
			BEGIN				
				UPDATE gen_JobPost_Employment_Details_ClientPortal SET 
				EmploymentType = ISNULL(@EmploymentType, EmploymentType),				
				Timezone_Preference_ID = ISNULL(@Timezone_Preference_ID, Timezone_Preference_ID),
				TimeZone_FromTime = ISNULL(@TimeZone_FromTime, TimeZone_FromTime),
				TimeZone_EndTime = ISNULL(@TimeZone_EndTime, TimeZone_EndTime)				
				WHERE GUID = @GUID 
			END
			ELSE
			BEGIN
				UPDATE gen_SalesHiringRequest_Details    SET 			
				TimeZone_FromTime = ISNULL(@TimeZone_FromTime, TimeZone_FromTime),
				TimeZone_EndTime = ISNULL(@TimeZone_EndTime, TimeZone_EndTime),			
				LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
				LastModIFiedDatetime = Getdate(),
				Timezone_ID = ISNULL(@Timezone_Preference_ID, Timezone_ID)
				WHERE HiringRequest_ID = @HR_ID
			END
		END

		--select @HR_ID, @Skills, @AllSkills
		---UPDATE SKILLS
		IF(ISNULL(@Skills,'') <> '' OR ISNULL(@AllSkills, '') <> '')
		BEGIN
			IF(@HR_ID = 0)
			BEGIN
				UPDATE gen_SkillAndBudget_ClientPortal SET 		
				Skills = ISNULL(@Skills, Skills),
				AllSkills = ISNULL(@AllSkills, AllSkills)
				WHERE GUID = @GUID
			END
			ELSE
			BEGIN
				IF(@Skills IS NOT NULL OR @AllSkills IS NOT NULL)
				BEGIN
					
					--EXEC Sproc_DumpJDDetailsintoTempTable_ClientPortal 
					--	@ContactId      = @ContactID,              
					--	@TimeZone       = NULL,              
					--	@JDRole         = NULL,               
					--	@JDDescription  = NULL,              
					--	@JDSkills       = @Skills,      
					--	@HowSoon        = @HowSoon,              
					--	@HowLong        = NULL,              
					--	@YearsOfExp     = @ExperienceYears,              
					--	@Qty			= @NoOfTalents,              
					--	@JDTools        = NULL,              
					--	@JDFileName     = NULL,              
					--	@JDDetails      = NULL,        
					--	@YesWithIsNext  = 0,              
					--	@InsertedID     = 0,  
					--	@JDAllSkills    = @AllSkills,  
					--	@IsAdmin        = 0,  
					--	@RolesResponsibilities  = @RolesandResponsibilities,  
					--	@Requirement    = @Requirement,
					--	@HR_ID = @HR_ID

					EXEC Sproc_HR_SkillTempSkill
						@HR_ID   =  @HR_ID,
						@CreatedByID = @ContactID, 
						@JDSkills = @Skills,    -- must have skills 
						@JDAllSkills   = @AllSkills
			  END
			END
		END

		--- UPDATE JOB DESCRIPTION
		IF(ISNULL(@JobDescription,'') <> '')
		BEGIN
			IF(@HR_ID = 0)
			BEGIN
				UPDATE gen_JobPost_Roles_Responsibilities_ClientPortal SET 
				RolesResponsibilities = ISNULL(@RolesandResponsibilities, RolesResponsibilities),
				Requirements = ISNULL(@Requirement, Requirements),
				JobDescription = ISNULL(@JobDescription, JobDescription),
				GPTJDID = ISNULL(NULLIF(@GptJdId,0), GPTJDID),
				JobRoleDescription = Isnull(@JobRoleDescription,JobRoleDescription),
				Whatweoffer = Isnull(@Whatweoffer,Whatweoffer)
				WHERE GUID = @GUID
			END
			ELSE
			BEGIN
				UPDATE gen_SalesHiringRequest_Details  SET 			
				RolesResponsibilities = ISNULL(@RolesandResponsibilities, RolesResponsibilities),
				Requirement = ISNULL(@Requirement, Requirement),			
				LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
				LastModIFiedDatetime = Getdate(),			
				JobDescription = ISNULL(@JobDescription, JobDescription),			
				JobRoleDescription = Isnull(@JobRoleDescription,JobRoleDescription),
				Whatweoffer = Isnull(@Whatweoffer,Whatweoffer)
				WHERE HiringRequest_ID = @HR_ID
			END
		END

		--select @JobTypeID, @HR_ID

		---UPDATE JOBTYPEID
		IF(ISNULL(@JobTypeID,0) > 0)
		BEGIN
			IF(@HR_ID = 0)
			BEGIN
				UPDATE gen_JobPost_Employment_Details_ClientPortal SET 	
				JobTypeID = ISNULL(@JobTypeID, JobTypeID)
				WHERE GUID = @GUID

				IF(@JobTypeID = 1)
				BEGIN
					SET @UpdateContractDuration = 0
				END
				ELSE
				BEGIN
					SET @UpdateContractDuration = 1
				END

				SELECT @IsHiringLimitedBit = IsHiringLimited FROM prg_JobType WITH(NOLOCK) WHERE ID = @JobTypeID

				UPDATE gen_JobPost_Employment_Details_ClientPortal SET 
				EmploymentType = ISNULL(@EmploymentType, EmploymentType)
				WHERE GUID = @GUID 

				UPDATE gen_TransparentPricingModel_ClientPortal SET 				
				SpecIFicMonth = CASE WHEN @UpdateContractDuration = 1 THEN @ContractDuration ELSE ISNULL(@ContractDuration, SpecIFicMonth) END
				WHERE GUID = @GUID 

				UPDATE gen_RoleAndHiringType_ClientPortal SET 		
				IsHiringLimited = ISNULL(@IsHiringLimitedBit, IsHiringLimited),
				ContractDuration = CASE WHEN @UpdateContractDuration = 1 THEN @ContractDuration ELSE ISNULL(@ContractDuration, ContractDuration) END
				WHERE GUID = @GUID
			END
			ELSE
			BEGIN
				SELECT @IsHiringLimitedBit = IsHiringLimited  FROM prg_JobType WHERE ID = @JobTypeID

				SELECT @EmploymentType = CASE WHEN @JobTypeID IN (1, 2, 4) THEN 'Full Time' ELSE 'Part Time' END

				IF(@JobTypeID = 1)
				BEGIN
					SET @UpdateContractDuration = 0
				END
				ELSE
				BEGIN
					SET @UpdateContractDuration = 1
				END

				UPDATE gen_SalesHiringRequest	SET	
				Availability = ISNULL(@EmploymentType, Availability),
				IsHiringLimited = ISNULL(@IsHiringLimitedBit, IsHiringLimited),
				JobTypeID = ISNULL(@JobTypeID, JobTypeID),
				LastModIFiedByID = ISNULL(@ActionPerformedBy, CreatedByID),
				LastModIFiedDatetime = GETDATE(),
				ClientJobModifyByID = @ContactID,
				ClientJobModifyByDatetime = GETDATE()			
				WHERE ID = @HR_ID

				UPDATE gen_SalesHiringRequest_Details   SET 			
				SpecIFicMonth = CASE WHEN @UpdateContractDuration = 1 THEN @ContractDuration ELSE ISNULL(@ContractDuration, SpecIFicMonth) END,		
				LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
				LastModIFiedDatetime = Getdate(),
				DurationType = IIF(@IsHiringLimitedBit IS NOT NULL, IIF(@IsHiringLimitedBit = 1, 'Short Term', 'Long Term') , DurationType)				
				WHERE HiringRequest_ID = @HR_ID	

			END
		END


		--Update JobLocation, Near By Cities and Frequency of visit 
		IF(ISNULL(@JobLocation,'') <> '')
			BEGIN
				IF(@HR_ID = 0)
					BEGIN
						UPDATE gen_RoleAndHiringType_ClientPortal 
						SET    JobLocation = Isnull(@JobLocation,JobLocation)
						WHERE  GUID = @GUID
					END
				ELSE
					BEGIN				
						--update data in gen_Direct_Placement
						UPDATE  gen_Direct_Placement 
						SET		JobLocation = Isnull(@JobLocation,JobLocation)			
						WHERE	HiringRequest_Id = @HR_ID
					END
			END

		IF(ISNULL(@FrequencyOfficeVisitID,0) <> 0)
			BEGIN
					IF(@HR_ID = 0)
						BEGIN
							UPDATE gen_RoleAndHiringType_ClientPortal 
							SET    FrequencyOfficeVisitID = ISNULL(@FrequencyOfficeVisitID,FrequencyOfficeVisitID)
							WHERE  GUID = @GUID
						END
					ELSE
						BEGIN				
							--update data in gen_Direct_Placement
							UPDATE  gen_Direct_Placement 
							SET		FrequencyOfficeVisitID = ISNULL(@FrequencyOfficeVisitID,FrequencyOfficeVisitID)	
							WHERE	HiringRequest_Id = @HR_ID
						END
				END

		IF(@IsOpenToWorkNearByCities is not null)
			BEGIN
					IF(@HR_ID = 0)
						BEGIN
							UPDATE gen_RoleAndHiringType_ClientPortal 
							SET    IsOpenToWorkNearByCities = Isnull(@IsOpenToWorkNearByCities,IsOpenToWorkNearByCities)
							WHERE  GUID = @GUID
						END
					ELSE
						BEGIN				
							--update data in gen_Direct_Placement
							UPDATE  gen_Direct_Placement 
							SET		IsOpenToWorkNearByCities = Isnull(@IsOpenToWorkNearByCities,IsOpenToWorkNearByCities)
							WHERE	HiringRequest_Id = @HR_ID
						END
				END

		IF(ISNULL(@NearByCities,'') <> '')
			BEGIN
					IF(@HR_ID = 0)
						BEGIN
							UPDATE gen_RoleAndHiringType_ClientPortal 
							SET    NearByCities = Isnull(@NearByCities,NearByCities)
							WHERE  GUID = @GUID
						END
					ELSE
						BEGIN				
							--update data in gen_Direct_Placement
							UPDATE  gen_Direct_Placement 
							SET		NearByCities = Isnull(@NearByCities,NearByCities)
							WHERE	HiringRequest_Id = @HR_ID
						END
				END

		IF(ISNULL(@ATS_JobLocationID,0) <> 0)
			BEGIN
					IF(@HR_ID = 0)
						BEGIN
							UPDATE gen_RoleAndHiringType_ClientPortal 
							SET    ATS_JobLocationID = ISNULL(@ATS_JobLocationID,ATS_JobLocationID)
							WHERE  GUID = @GUID
						END
					ELSE
						BEGIN				
							--update data in gen_Direct_Placement
							UPDATE  gen_Direct_Placement 
							SET		ATS_JobLocationID = ISNULL(@ATS_JobLocationID,ATS_JobLocationID)
							WHERE	HiringRequest_Id = @HR_ID
						END
				END

		IF(ISNULL(@ATS_NearByCities,'') <> '')
			BEGIN
					IF(@HR_ID = 0)
						BEGIN
							UPDATE gen_RoleAndHiringType_ClientPortal 
							SET    ATS_NearByCities = ISNULL(@ATS_NearByCities,ATS_NearByCities)
							WHERE  GUID = @GUID
						END
					ELSE
						BEGIN				
							--update data in gen_Direct_Placement
							UPDATE  gen_Direct_Placement 
							SET		ATS_NearByCities = ISNULL(@ATS_NearByCities,ATS_NearByCities)
							WHERE	HiringRequest_Id = @HR_ID
						END
				END



		UPDATE gen_RoleAndHiringType_ClientPortal SET 	
		ShowHRPOCDetailsToTalents = ISNULL(@ShowHRPOCDetailsToTalents, ShowHRPOCDetailsToTalents)
		WHERE GUID = @GUID			 

		UPDATE gen_JobPost_VitalInfo_ClientPortal SET 
		CompensationOption = ISNULL(@CompensationOption, CompensationOption),
		IndustryType = ISNULL(@Industry_Type, IndustryType),
		HasPeopleManagementExp=ISNULL(@HasPeopleManagementExp, HasPeopleManagementExp),
		Prerequisites = ISNULL(@Prerequisites, Prerequisites),	
		StringSeparator = ISNULL(@StringSeparator,StringSeparator),
		ModifiedbyDateTime = GETDATE()
		WHERE GUID = @GUID


		--Update the HR details
		IF EXISTS(SELECT 1 FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE GUID = @GUID OR ID = @HR_ID)
		BEGIN	
			print 'if'
			
			--update data in gen_SalesHiringRequest
			UPDATE gen_SalesHiringRequest SET	
			ShowHRPOCDetailsToTalents = ISNULL(@ShowHRPOCDetailsToTalents, ShowHRPOCDetailsToTalents),
			ClientJobModifyByID = @ContactID,
			ClientJobModifyByDatetime = Getdate()
			WHERE ID = @HR_ID
			
			IF NOT EXISTS(SELECT 1 FROM gen_JobPost_VitalInfo_ClientPortal WHERE HRID = @HR_ID)
			BEGIN
				INSERT INTO gen_JobPost_VitalInfo_ClientPortal
				(
					HRID,ContactID,CompensationOption,IndustryType,HasPeopleManagementExp,Prerequisites,StringSeparator,CreatedbyId,CreatedbyDateTime,IsActive
				)
				VALUES
				(
					@HR_ID,@ContactId,@CompensationOption,@Industry_Type,@HasPeopleManagementExp,@Prerequisites,@StringSeparator, @ActionPerformedBy, GETDATE(),1
				)
			END
			ELSE
			BEGIN
				UPDATE gen_JobPost_VitalInfo_ClientPortal SET 
				CompensationOption = ISNULL(@CompensationOption, CompensationOption),
				IndustryType = ISNULL(@Industry_Type, IndustryType),
				HasPeopleManagementExp=ISNULL(@HasPeopleManagementExp, HasPeopleManagementExp),
				Prerequisites = ISNULL(@Prerequisites, Prerequisites),	
				StringSeparator = ISNULL(@StringSeparator,StringSeparator),
				ModifiedbyDateTime = GETDATE(),
				HRID = @HR_ID
				WHERE HRID = @HR_ID OR GUID = @GUID
			END

			 --added by himani for Update calculation
			EXEC SP_PayPerHire_Calculation_Update @HRID = @HR_ID
			-- --added by himani for maintain history table
			--EXEC SPROC_Gen_SalesHiringRequest_History @HR_ID = @HR_ID, @AppActionDoneBy = 4
			----added by himani for maintain history table before save new changes
			--EXEC SPROC_Gen_SalesHiringRequest_Details_History @HR_ID = @HR_ID, @AppActionDoneBy = 4
			Declare @HiringRequestHisotoryID as bigint = 0
			Declare @HRDetailHisotoryID as bigint = 0
			Insert into gen_SalesHiringRequest_History(HiringRequest_ID,ContactID,RequestForTalent,LastModifiedByID,LastModifiedDatetime
											,Availability,IsCreatedByClient,IsActive,AppActionDoneBy,HistoryDate,HiringTypePricingId,payrollTypeID,
											ModeOfWork,City,Country,
											JobLocation,FrequencyOfficeVisitID,IsOpenToWorkNearByCities,NearByCities,ATS_JobLocationID,ATS_NearByCities)
			Values(@HR_ID,@ContactID,@RoleName,@ContactID,Getdate(),@EmploymentType,1,1,4,Getdate(),@HiringTypePricingId,@PayrollTypeId,
			@WorkingMode,Isnull(@JobLocation,@City),@Country,
			@JobLocation,@FrequencyOfficeVisitID,@IsOpenToWorkNearByCities,@NearByCities,@ATS_JobLocationID,@ATS_NearByCities)

			--SET @HiringRequestHisotoryID = @@IDENTITY
			SET @HiringRequestHisotoryID = SCOPE_IDENTITY()

			Insert into gen_SalesHiringRequest_Details_History(HiringRequest_ID,Role_ID,Duration,DurationType,Cost,SpecificMonth,YearOfExp,IsFresherAllowed,HowSoon,Timezone_ID
							,LastModifiedByID,LastModifiedDatetime,Timezone_Preference_ID,TimeZone_FromTime,TimeZone_EndTime,BudgetFrom,BudgetTo,Currency,CalculatedUplersfees,JobDescription,AppActionDoneBy,HistoryDate,
							IsMustHaveSkillschanged,IsGoodToHaveSkillschanged)
			Values(@HR_ID,@RoleID,@ContractDuration,IIF(@IsHiringLimitedBit = 1, 'Short Term', 'Long Term'),@Cost,@SpecIFicMonth,@ExperienceYears,@IsFresherAllowed,@HowSoon,
				@TimezoneID,@ContactID,GetDate(),@Timezone_Preference_ID,@TimeZone_FromTime,@TimeZone_EndTime,@BudgetFrom,@BudgetTo,@Currency,'',@JobDescription,4,getdate(),
				@IsMustHaveSkillschanged,@IsGoodToHaveSkillschanged)

			--SET @HRDetailHisotoryID = @@IDENTITY
			SET @HRDetailHisotoryID = SCOPE_IDENTITY()

		   EXEC sproc_HiringRequest_History_Insert @Action = 'Update_HR', @HiringRequest_ID = @HR_ID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient ,@IsManagedByTalent = 0, @SalesUserID = 0,
				@OldSalesUserID = 0, @AppActionDoneBy = @AppActionDoneBy,@SalesHistoryID = @HiringRequestHisotoryID,@SalesDetailHistoryID = @HRDetailHisotoryID 	
	  
		END
		ELSE
		BEGIN
			Print 'else'
		END
END

