USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sp_UTS_GetPOCUserIDByCompanyID]    Script Date: 03-06-2024 16:52:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UTS_GetPOCUserIDByCompanyID]
	@CompanyID BIGINT NULL
AS
BEGIN
IF @CompanyID > 0
	BEGIN

			--Added By jimit 03-06-24 UTS-7505 point no 2
			SELECT  C.NBD_SalesPersonID AS POCUserID,
					U.FullName AS POCName
			FROM	gen_Company C WITH(NOLOCK)
					inner join usr_User U WITH(NOLOCK) ON U.ID = C.NBD_SalesPersonID 
			WHERE	C.ID = @CompanyID AND C.NBD_SalesPersonID > 0
			ORDER BY U.FullName ASC 

			--Commented By Jimit 03-06-24 UTS-7505 point no 2
			--SELECT	DISTINCT 
			--		POC.User_ID AS POCUserID,
			--		U.FullName AS POCName
			--FROM	gen_ContactPointofContact POC WITH(NOLOCK) 
			--		INNER JOIN usr_User U WITH(NOLOCK) ON U.ID = POC.User_ID 
			--WHERE	POC.Company_ID = @CompanyID AND POC.User_ID > 0
			--ORDER BY U.FullName ASC 
	END
END
