CREATE PROCEDURE [dbo].[SP_UTS_ESales_Get_Client_AM_Details]
  @HiringRequest_Id					bigint = null,
  @OnBoardID					    bigint = NULL
AS
BEGIN
			Declare @NBD_SalesPerson_Id	as bigint = 0 

		
			IF(@HiringRequest_Id >0 AND @OnBoardID >0)
			BEGIN
				   SELECT	@NBD_SalesPerson_Id = U.ID
				   From		gen_SalesHiringRequest H WITH(NOLOCK)
							inner join gen_OnBoardTalents OT WITH(NOLOCK) ON H.ID = OT.HiringRequest_ID
							inner join gen_Contact C WITH(NOLOCK) ON C.Id = H.ContactID
							inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
							inner join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID	
							inner join usr_UserHierarchy UH WITH(NOLOCK) ON U.ID = UH.UserID
					WHERE	H.ID = @HiringRequest_Id AND OT.ID = @OnBoardID and U.IsNewUser = 1
				   
				   UPdate  CO
				   set     CO.NBD_SalesPersonID = @NBD_SalesPerson_Id
				   FROM    gen_Company CO
						   inner join gen_Contact C ON C.CompanyID = CO.ID
						   inner join gen_SalesHiringRequest H ON H.ContactID = C.ID
						   inner join gen_OnBoardTalents OT WITH(NOLOCK) ON H.ID = OT.HiringRequest_ID							
				   WHERE   H.Id = @HiringRequest_Id AND OT.ID = @OnBoardID
				   
				   select   HR_Number = Isnull(H.HR_Number,''),
							EngagemenID = ISNULL(OT.EngagemenID,''),
							CompanyName = Isnull(CO.Company,''),
							EngagementModel =  case when H.[Availability] ='Full Time' then 'Dedicated FTE' when H.[Availability] ='Part Time' then 'Dedicated PTE' ELSE '' END,
							Managed_SelfManagedHR = cast(Isnull(H.IsManaged,0) as nvarchar(5)),
							GEO = ISNULL(G.GEO,''),
							NBD_Lead_EmployeeID = ISNULL(TeamLead.EmployeeID,''),
							SalesPerson_EmployeeID = '',
							CreatedByEmployeeId = Isnull(U.EmployeeID,''),
							Website = isnull(CO.Website,''),
							CompanySize =isnull(CO.CompanySize,0),
							[Address] = isnull(CO.[Address],''),
							phone = isnull(CO.phone,''),
							industry = isnull(CO.industry,''),
							city = isnull(CO.city,''),
							[state] = isnull(CO.[state],''),
							country = isnull(CO.country,''),
							Zip = isnull(CO.Zip,''),
							CompanySource='UTS',
							LinkedInProfile = Isnull(Co.LinkedInProfile,''),
							TalentName = Isnull(T.Name,'')
					FROM    gen_SalesHiringRequest H WITH(NOLOCK)
							inner join gen_OnBoardTalents OT WITH(NOLOCK) ON H.ID = OT.HiringRequest_ID
							inner join gen_Contact C WITH(NOLOCK) ON C.Id = H.ContactID
							inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
							inner join gen_Talent T WITH(NOLOCK) ON T.Id = OT.Talent_ID
							left join usr_User U WITH(NOLOCK) ON U.ID = CO.AM_SalesPersonID							
							left join usr_User TeamLead WITH(NOLOCK) ON TeamLead.ID = CO.NBD_SalesPersonID
							left join prg_GEO G WITH(NOLOCK) ON G.ID = CO.GEO_ID
					WHERE	H.ID = @HiringRequest_Id AND OT.ID = @OnBoardID

					UNION 

					select   HR_Number = Isnull(H.HR_Number,''),
							EngagemenID = ISNULL(OT.EngagemenID,''),
							CompanyName = Isnull(CO.Company,''),
							EngagementModel =  case when H.[Availability] ='Full Time' then 'Dedicated FTE' when H.[Availability] ='Part Time' then 'Dedicated PTE' ELSE '' END,
							Managed_SelfManagedHR = cast(Isnull(H.IsManaged,0) as nvarchar(5)),
							GEO = ISNULL(G.GEO,''),
							NBD_Lead_EmployeeID = ISNULL(TeamLead.EmployeeID,''),
							SalesPerson_EmployeeID = '',
							CreatedByEmployeeId = Isnull(U.EmployeeID,''),
							Website = isnull(CO.Website,''),
							CompanySize =isnull(CO.CompanySize,0),
							[Address] = isnull(CO.[Address],''),
							phone = isnull(CO.phone,''),
							industry = isnull(CO.industry,''),
							city = isnull(CO.city,''),
							[state] = isnull(CO.[state],''),
							country = isnull(CO.country,''),
							Zip = isnull(CO.Zip,''),
							CompanySource='UTS',
							LinkedInProfile = Isnull(Co.LinkedInProfile,''),
							TalentName = Isnull(MT.ManagedTalentFirstName,'') + ' ' + Isnull(MT.ManagedTalentLastName,'')
					FROM    gen_SalesHiringRequest H WITH(NOLOCK)
							inner join gen_OnBoardTalents OT WITH(NOLOCK) ON H.ID = OT.HiringRequest_ID
							inner join gen_Contact C WITH(NOLOCK) ON C.Id = H.ContactID
							inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
							inner join gen_ManagedTalent MT WITH(NOLOCK) ON MT.Id = OT.ManagedTalentID
							left join usr_User U WITH(NOLOCK) ON U.ID = CO.AM_SalesPersonID							
							left join usr_User TeamLead WITH(NOLOCK) ON TeamLead.ID = CO.NBD_SalesPersonID
							left join prg_GEO G WITH(NOLOCK) ON G.ID = CO.GEO_ID
					WHERE	H.ID = @HiringRequest_Id AND OT.ID = @OnBoardID

			END
END