
CREATE PROCEDURE [dbo].[sproc_UTS_GetDealLeadDetails] 
@DealID   bigint = null

AS
BEGIN

select
	 ISNULL(GD.DealID,0) as Deal 
	,ISNULL(GC.Lead_Type,'') as LeadSource
	,ISNULL(PP.PipelineLabel,'') as PipeLine
	,Isnull(U.fullname,'') as BDR
	,ISNULL(US.fullname,'') as SalesConsulant
	
FROM gen_Deals GD WITH(NOLOCK)
	left join gen_Company GC WITH(NOLOCK) ON GC.Hubspot_company = GD.CompanyID
	left join prg_pipeline pp WITH(NOLOCK) ON PP.PipelineId = GD.pipeline
	left join usr_User U WITH(NOLOCK) ON U.hubspot_owner_id = GD.hubspot_owner_id
	left join gen_SalesHiringRequest H With(NOlock) ON H.ID = GD.Hr_ID
	left join usr_user US WITH(NOLOCK) ON US.ID = H.Salesuserid
where GD.dealid = @DealID

END