-----------------------------------------------------------------------------------------------------------------------------
ALTER PROCEDURE [dbo].[Sproc_Talent_Status_Change_ClientPortal]
    @CTPID					bigint = 0,
	@TalentId				bigint = 0,
	@ContactID				bigint = 0,
	@HRID					bigint = 0,
	@StatusID				int	= 0,
	@AppActionDoneBy		int = 0,
	@LoggedInUserID			BIGINT = 0,
	@ProfileRejectReason	NVARCHAR(MAX) = NULL,
	@RejectReason_ID		BIGINT = NULL,
	@LossRemark				NVARCHAR(1000)	=	NULL --Remark/comment from ui
AS
BEGIN
		
		DECLARE @TalentStatusID_BasedOnHR as int = 0
		Declare @ActionID as int = 0
		Declare @StatusCount as int = 0
		DECLARE @Actionname as varchar(500) = ''

		IF EXISTS(SELECT 1 from gen_ContactTalentPriority WITH(NOLOCK) WHERE ID = @CTPID)
			BEGIN
					SELECT  @TalentStatusID_BasedOnHR = Isnull(TalentStatusID_BasedOnHR,0)
					From    prg_TalentStatus_ClientPortal WITH(NOLOCK)
					WHERE   ID = @StatusID


					UPDATE  gen_ContactTalentPriority
					SET		TalentStatusID_BasedOnHR = ISNULL(NULLIF(@TalentStatusID_BasedOnHR, 0), TalentStatusID_BasedOnHR),
							TalentStatusID_ClientPortal = Isnull(@StatusID,0),
							LossRemark = @LossRemark,
							OtherRejectReason = @ProfileRejectReason,
							RejectReasonID = @RejectReason_ID
					WHERE	ID = @CTPID

					---Payal(09-04-2024) New Actions implemented
						IF(@StatusID = 2 )
							BEGIN
								SET @Actionname = 'New_Talent_Status_InContacted'
							END
							ELSE IF(@StatusID = 3 )
							BEGIN
								SET @Actionname = 'New_Talent_Status_InSubmitted'
							END
							ELSE IF(@StatusID = 4 )
							BEGIN
								SET @Actionname = 'New_Talent_Status_InAssessment'
							END
							ELSE IF(@StatusID = 5 )
							BEGIN
								SET @Actionname = 'Interview_in_Process'
							END
							ELSE IF(@StatusID = 6 )
							BEGIN
								SET @Actionname = 'New_Talent_Status_Offered'
							END
							ELSE IF(@StatusID = 7 )
							BEGIN
								SET @Actionname = 'New_Talent_Status_Hired'
							END
							ELSE IF(@StatusID = 8 )
							BEGIN
								SET @Actionname = 'Talent_Status_Rejected'
							END
					-- Done from UTS
					IF(@AppActionDoneBy = 3)
						BEGIN
							--Insert HR history
							

							EXEC sproc_HiringRequest_History_Insert @Action = @Actionname,@HiringRequest_ID= @HRID,@Talent_ID= @TalentId,
								@Created_From =0, @CreatedById =@LoggedInUserID,@ContactTalentPriority_ID= @CTPID,@InterviewMaster_ID= 0, @HR_AcceptedDateTime='', 
								@OnBoard_ID=0,@IsManagedByClient= 0,@IsManagedByTalent= 0,@SalesUserID= 0,@OldSalesUserID= 0,@AppActionDoneBy= @AppActionDoneBy		


						--Insert history
						DECLARE @ClientActionID INT = 0;
						SET @ClientActionID = isnull((SELECT ID FROM prg_contact_Actions WITH(NOLOCK) WHERE ActionName='Status_Change'),0)

						IF @ClientActionID > 0
						BEGIN
							INSERT INTO gen_ContactHistory
								  (ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime,AppActionDoneBy,HiringRequest_ID,Talent_ID,Talent_StatusID)
							VALUES(@ContactID,@ClientActionID,GETDATE(),@LoggedInUserID,Getdate(),3,@HRID,@TalentId,@StatusID)
						END

					END		
					
					
					
								
					SET @ActionID = 8
					SET @TalentStatusID_BasedOnHR = 3

					
					If not Exists(select 1 from gen_ATS_HRStatus_Details with(Nolock) where ATSHRStatusId = @ActionID and HRID = @HrId)
									BEGIN
										INSERT INTO gen_ATS_HRStatus_Details 
										(HRID,ATSHRStatusId,Published_Datetime,createdByID,CreatedByDateTime,ModifiedByID,ModifiedByDateTime,Total_Talent)
										VALUES(@HrId,@ActionID,null,@ContactID,getdate(),null,null,1);									
									END
								ELSE 
									BEGIN
											select @StatusCount = Count(ID)
											from   gen_ContactTalentPriority WITH(NOLOCK)
											WHERE  HiringRequestID = @HrId and TalentStatusID_BasedOnHR = @TalentStatusID_BasedOnHR

											UPdate gen_ATS_HRStatus_Details
											set    Total_Talent = @StatusCount,ModifiedByDateTime = getdate(),ModifiedByID = @ContactID
											where  ATSHRStatusId = @ActionID and HRID = @HrId
									END
					

					SET @ActionID = 9
					SET @TalentStatusID_BasedOnHR = 4

					
					If not Exists(select 1 from gen_ATS_HRStatus_Details with(Nolock) where ATSHRStatusId = @ActionID and HRID = @HrId)
									BEGIN
										INSERT INTO gen_ATS_HRStatus_Details 
										(HRID,ATSHRStatusId,Published_Datetime,createdByID,CreatedByDateTime,ModifiedByID,ModifiedByDateTime,Total_Talent)
										VALUES(@HrId,@ActionID,null,@ContactID,getdate(),null,null,1);									
									END
								ELSE 
									BEGIN
											select @StatusCount = Count(ID)
											from   gen_ContactTalentPriority WITH(NOLOCK)
											WHERE  HiringRequestID = @HrId and TalentStatusID_BasedOnHR = @TalentStatusID_BasedOnHR

											UPdate gen_ATS_HRStatus_Details
											set    Total_Talent = @StatusCount,ModifiedByDateTime = getdate(),ModifiedByID = @ContactID
											where  ATSHRStatusId = @ActionID and HRID = @HrId
									END
					

					SET @ActionID = 10
					SET @TalentStatusID_BasedOnHR = 10

					
					If not Exists(select 1 from gen_ATS_HRStatus_Details with(Nolock) where ATSHRStatusId = @ActionID and HRID = @HrId)
									BEGIN
										INSERT INTO gen_ATS_HRStatus_Details 
										(HRID,ATSHRStatusId,Published_Datetime,createdByID,CreatedByDateTime,ModifiedByID,ModifiedByDateTime,Total_Talent)
										VALUES(@HrId,@ActionID,null,@ContactID,getdate(),null,null,1);									
									END
								ELSE 
									BEGIN
											select @StatusCount = Count(ID)
											from   gen_ContactTalentPriority WITH(NOLOCK)
											WHERE  HiringRequestID = @HrId and TalentStatusID_BasedOnHR = @TalentStatusID_BasedOnHR

											UPdate gen_ATS_HRStatus_Details
											set    Total_Talent = @StatusCount,ModifiedByDateTime = getdate(),ModifiedByID = @ContactID
											where  ATSHRStatusId = @ActionID and HRID = @HrId
									END

					 ---Payal(30-03-2024) Mark  HR  as Completed / won Status based on Qty & CTP (No of Talents) Matched
		     --        exec Sproc_Update_HRStatus_BasedonQty 
							--@ContactID = @ContactID, 
							--@HR_ID = @HRID, 
							--@Talent_Id = @TalentId, 
							--@CreatedModifiedId = @LoggedInUserID

					 --Payal(4-4-2024), after reject talent if hr is completed than based on tr, again HR will be in process
					EXEC Sproc_UTS_UpdateHRActive_BasedonQty
						@HR_ID = @HRID,
						@Talent_ID = @TalentId,
						@CreatedModifiedId =  @LoggedInUserID

			END


			 ----Added Jimit For Talent BackOut Case Mark HR in InProcess if TR > 1 otherwise Close - Lost.  20-05-24
				--DECLARE @NoofTalents as int = 0
				--IF @RejectReason_ID <> 0
				--	BEGIN
				--			SELECT	@NoofTalents = NoofTalents 
				--			from	gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID

				--			IF @NoofTalents = 1
				--				BEGIN
				--					  UPDATE  gen_SalesHiringRequest
				--					  SET	  Status_ID = 6,JobStatusID = 2
				--					  WHERE   ID = @HRID
				--				END
				--			ELSE
				--				BEGIN
				--						 UPDATE  gen_SalesHiringRequest
				--						  SET	  Status_ID = 2,JobStatusID = 1
				--						  WHERE   ID = @HRID
				--				END

				--	END
END

