-----------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[Sproc_GET_CreditPlanDetails_ClientPortal]
 @CompanyID				bigint = null,
 @ClientID				BIGINT = NULL
AS
BEGIN

			IF OBJECT_ID('tempdb..#CreditPlan') IS NOT NULL	
				DROP TABLE #CreditPlan


			CREATE TABLE #CreditPlan
			(
				ID						bigint   identity(1,1),
				CurrentPlan				Nvarchar(100),
				PackageDetail			Nvarchar(100),
				UpComingJobsRenewal		int,
				ActiveJobs				int,
				ClosedJobs				int,
				CreditsUsed				Decimal(18,2),
				CreditBalance			Decimal(18,2),
				ActionDate				Nvarchar(20),
				ActionDescription		Nvarchar(200),
				JobRole					Nvarchar(100),
				HRStatus				Nvarchar(100),
				CreditSpent				Nvarchar(100),
				CreditBalanceAfterSpent	Nvarchar(100),
				CompanyID				bigint,
				CreditDebit				Nvarchar(20),
				PaymentHistoryID        bigint,
				InvoiceID				NVARCHAR(100),
				ContactID				BIGINT,
				TotalAvailableCredits   Decimal(18,2),
				NoOfJobPosted			int,
				NoOfVettedProfileView	int,
				NoOfNonVettedProfileView int,
				CreditAmountValue        NVARCHAR(100),
				PlanHoverText			 NVARCHAR(500),
				ClickUrl				 NVARCHAR(500),
				HRID					 BIGINT,
				RoleId					 int,
				HRNumber				 NVARCHAR(50),
				TransactionDate			 DateTime,
				JobRenewalCredits        int
			)

			
			Insert into #CreditPlan(ActionDate,ActionDescription,JobRole,HRStatus,CreditSpent,
									CreditBalanceAfterSpent,CompanyID,CreditDebit,PaymentHistoryID,InvoiceID ,ContactID,CreditAmountValue,PlanHoverText,ClickUrl,HRID, RoleId,HRNumber,TransactionDate)
			Select  ActionDate,ActionDescription,JobRole,HRStatus,CreditSpent,CreditBalanceAfterSpent,
									--'Balance : ' + Cast(SUM(CASE WHEN Isnull(Q.CreditOptionID,0) = 0 THEN CreditBalance ELSE -1.0 * CreditBalance END)
									--										OVER (ORDER BY Q.Id ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)  as nvarchar(100)) + ' Credit(s)',
									CompanyID,CreditDebit,PaymentHistoryID,InvoiceID,ContactID,CreditAmountValue,PlanHoverText,ClickUrl,HRID, RoleId,HRNumber,TransactionDate
			from ( 
					select    ActionDate = CONVERT(varchar,JC.CreatedByDateTime,107), --Convert(Nvarchar(15),JC.CreatedByDateTime,103)
							  ActionDescription = 'Credit Purchase',
							  JobRole = CASE WHEN BalanceUsedType = 'Free' then 'Pay As You Go' ELSE 'Pay As You Go' end,
							  HRStatus = CASE WHEN BalanceUsedType = 'Free' then 'Pay As You Go' end,
							  CreditSpent = Cast(JC.CreditBalance as nvarchar(100)) + ' Credit',
							  --CreditBalanceAfterSpent = 'Balance : ' + Cast(JC.CreditBalance as nvarchar(100)) + ' Credit(s)'
							  --CreditBalanceAfterSpent = 'Balance : ' + Cast(SUM(CreditBalance) OVER (PARTITION BY CompanyID 
									--										ORDER BY ContactID
									--									ROWS UNBOUNDED PRECEDING) as nvarchar(100)) + ' Credit(s)',
							  CreditBalanceAfterSpent = 'Balance : ' + Cast(CAST(JC.JPCreditBalance AS INT) as nvarchar(100)) + ' Credit(s)',
							  CompanyID = @CompanyID,CreditDebit = 'Credit',
							  PaymentHistoryID = 0,
							  InvoiceID = '',
							  OrderByDate = JC.CreatedByDateTime,
							  @ClientID AS ContactID,
							  CreditAmountValue = '',
							  PlanHoverText = '',
							  ClickUrl = '',
							  HRID = 0,
							  RoleId = 0,
							  HRNumber = '',
							  TransactionDate = ISNULL(JC.ModifiedDateTime, JC.CreatedByDateTime)
							  ,JC.CreditOptionID,JC.CreditBalance,JC.ID as ID
					FROM      gen_JobPost_TransactionHistory_ClientPortal JC WITH(NOLOCK) 							  
							  --LEFT JOIN gen_Payment_History_ClientPortal PHC ON PHC.ID = JC.PaymentHistoryID
							  LEFT JOIN prg_Subscription_Package_ClientPortal PC ON PC.ID = JC.SubScriptionID
					WHERE     JC.CompanyID = @CompanyID and Isnull(JC.HRID,0) = 0

					UNION ALL

					select      ActionDate = IIF(JCT.IsReposted = 1, CONVERT(varchar,ISNULL(JobRepostedDate, JCT.CreatedByDateTime),107) ,CONVERT(varchar,ISNULL(JobRepostedDate, JobPostedDate),107)), --Convert(Nvarchar(15), ISNULL(JobRepostedDate, JobPostedDate),103)
								ActionDescription = IIF(JCT.IsReposted = 1, 'Job Repost' ,'Job Post'),JobRole = HR.RequestForTalent ,
								HRStatus = '',
								CreditSpent = Cast(cast(Isnull(JCT.CreditUsed,0) as int) as nvarchar(100)) + ' Credit',
								CreditBalanceAfterSpent = 'Balance : ' + Cast(CAST(JCT.JPCreditBalance AS INT) as nvarchar(100)) + ' Credit(s)',
							    CompanyID = @CompanyID,CreditDebit = 'Debit',
								PaymentHistoryID = 0,
								InvoiceID = '',
							    OrderByDate = ISNULL(JobRepostedDate, JobPostedDate),
								HR.ContactID,
								CreditAmountValue=  CAST(CAST(CO.CreditAmount AS INT) AS NVARCHAR) + ' ' + CO.CreditCurrency + ' / per credit',
								PlanHoverText = '',
								ClickUrl = '/creditbase-shortlist',
								HRID = HR.Id,
								RoleId = HRD.Role_ID,
								HRNumber = HR.HR_Number,
								TransactionDate = ISNULL(JCT.ModifiedDateTime, JCT.CreatedByDateTime)
								,JCT.CreditOptionID,JCT.CreditBalance,JCT.ID as ID
					from        gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) 
								INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID = JCT.HRID
								INNER join gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.Id		
								INNER join gen_JobPost_Subscription_History_ClientPortal JC WITH(NOLOCK) ON JC.CompanyID = JCT.CompanyID AND JC.ID = JCT.SubScriptionID
								INNER JOIN gen_Company CO WITH(NOLOCK) ON CO.ID = JC.CompanyID 
								
					WHERE   JCT.CompanyID = @CompanyID and Isnull(JCT.HRID,0) > 0 AND ISNULL(JCT.ATS_TalentID,0) = 0


					UNION ALL

					select      ActionDate = CONVERT(varchar,ISNULL(JobRepostedDate, JobPostedDate),107), --Convert(Nvarchar(15), ISNULL(JobRepostedDate, JobPostedDate),103),
								ActionDescription = CASE WHEN CRT.IsVetted = 1 THEN 'Vetted profile' ELSE 'Non-vetted profile view' END,
								JobRole = ISNULL(T.Name,'') + ' | ' + ISNULL(T.Designation,'') ,
								HRStatus = '',
								CreditSpent = Cast(cast(Isnull(JCT.CreditUsed,0) as int) as nvarchar(100)) + ' Credit',
								CreditBalanceAfterSpent = 'Balance : ' + Cast(CAST(JCT.JPCreditBalance AS INT) as nvarchar(100)) + ' Credit(s)',
							    CompanyID = @CompanyID,CreditDebit = 'Debit',
								PaymentHistoryID = 0,
								InvoiceID = '',
							    OrderByDate = ISNULL(JobRepostedDate, JobPostedDate),
								@ClientID,
								CreditAmountValue=  '',
								PlanHoverText = '',
								ClickUrl =  '/creditbase-shortlist'	,											
								HRID = JCT.HRID,
								RoleId = HRD.Role_ID,
								HRNumber = HR.HR_Number,
								TransactionDate = ISNULL(JCT.ModifiedDateTime, JCT.CreatedByDateTime)
								,JCT.CreditOptionID,JCT.CreditBalance,JCT.ID as ID
					from        gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)		
								INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID = JCT.HRID
								INNER join gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.Id	
								INNER JOIN gen_Talent T WITH(NOLOCK) ON T.ATS_Talent_ID = JCT.ATS_TalentID AND ISNULL(JCT.ATS_TalentID,0) <> 0
								INNER JOIN gen_CRCTP_ShortlistedTalents_ClientPortal CRT WITH(NOLOCK) ON CRT.ATS_TalentID = JCT.ATS_TalentID AND CRT.HRID = HR.ID								
								--INNER join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JCT.CreditOptionID,0)														
					WHERE   JCT.CompanyID = @CompanyID and Isnull(JCT.HRID,0) > 0 AND ISNULL(JCT.ATS_TalentID,0) <> 0

				)Q
		ORDER BY Q.OrderByDate

			
			--Update Hover text and credit amount 
			UPDATE  C
			SET     C.CreditAmountValue = CASE WHEN ISNULL(CO.CreditAmount,0) > 0 THEN CAST(CAST(CO.CreditAmount AS INT) AS NVARCHAR) + ' ' + CO.CreditCurrency + ' / per credit' ELSE '' END,
					C.PlanHoverText = CASE WHEN CO.IsProfileView = 1 AND CO.IsPostaJob = 1
											THEN 
												(
													SELECT 'Post a job - <strong>' + CAST(CAST(CO.JobPostCredit AS INT) AS NVARCHAR) + ' credits </strong><br/>'
													
												 )  + 

												 (
													SELECT 'View vetted profiles - <strong>' + CAST(CAST(CO.VettedProfileViewCredit AS INT) AS NVARCHAR)+ ' credits </strong><br/>'
													
												 )  + 

												 (
													SELECT 'View non-vetted profiles - <strong>' + CAST(CAST(CO.NonVettedProfileViewCredit AS INT) AS NVARCHAR)+ ' credits</strong>'
												
												 )  

											WHEN CO.IsPostaJob = 1 AND ISNULL(CO.IsProfileView,0) = 0
											THEN (
													SELECT 'Post a job - <strong>' + CAST(CAST(CO.JobPostCredit AS INT) AS NVARCHAR)+ ' credit </strong>'
													FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
													WHERE PC.ID = 4
												 )

											WHEN CO.IsPostaJob = 0 AND ISNULL(CO.IsProfileView,0) = 1
											THEN (
													SELECT 'Post a job - <strong>0 credits</strong></br>'
												 )  + 

												 (
													SELECT 'View vetted profiles - <strong>' + CAST(CAST(CO.VettedProfileViewCredit AS INT) AS NVARCHAR)+ ' credits </strong><br/>'
													FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
													WHERE PC.ID = 2
												 )  + 

												 (
													SELECT 'View non-vetted profiles - <strong>' + CAST(CAST(CO.NonVettedProfileViewCredit AS INT) AS NVARCHAR)+ ' credits</strong>'
													FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
													WHERE PC.ID = 3
												 )  
											ELSE '' 
										END,
						C.JobRenewalCredits = CAST(CAST(CO.JobPostCredit AS INT) AS NVARCHAR)
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
			where   CO.ID = @CompanyID


			--Update Credit Balance Of the Company
			UPDATE  C
			SET     C.CreditBalance = CO.JPCreditBalance,
					C.TotalAvailableCredits = CO.JPCreditBalance
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
			where   CO.ID = @CompanyID

			----Update Credit Balance Of the last record with company balance
			--UPDATE  C
			--SET     C.CreditBalanceAfterSpent = 'Balance : ' + Cast(CAST(CO.JPCreditBalance AS INT) AS NVARCHAR(50)) + ' Credit(s)'
			--FROM    #CreditPlan C
			--		inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
			--where   CO.ID = @CompanyID 
			--AND C.ID IN (
			--				SELECT TOP 1 ID FROM #CreditPlan WHERE HRID = 0 Order by 1 desc
			--		)

			--Update Active Jobs Of the Company
			UPDATE C
			SET    C.ActiveJobs = ISNULL(X.ActiveJobs,0)
			FROM   #CreditPlan C
				   inner join 
				   (
						select Count(H1.ID) as ActiveJobs,C.CompanyID as CompanyID
						from   gen_SalesHiringRequest H1 WITH(NOLOCK) 
							   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H1.ContactID
						where	C.CompanyID = @CompanyID  AND ISNULL(H1.JobStatusID, 1) <> 2 and H1.Isactive = 1
						Group By C.CompanyID 
				   )X ON X.CompanyID = C.CompanyID

			--Update Closed Jobs Of the Company
			UPDATE C
			SET    C.ClosedJobs = ISNULL(X.ClosedJobs,0)
			FROM   #CreditPlan C
				   inner join 
				   (
						select Count(H1.ID) as ClosedJobs,C.CompanyID as CompanyID
						from   gen_SalesHiringRequest H1 WITH(NOLOCK)
							   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H1.ContactID
						where	C.CompanyID = @CompanyID  AND ISNULL(H1.JobStatusID, 0) = 2  
						Group By C.CompanyID 
				   )X ON X.CompanyID = C.CompanyID

			
			--Update Credits Used Of the Company
			UPDATE C
			SET    C.CreditsUsed = ISNULL(X.CreditsUsed,0)
			FROM   #CreditPlan C
				   inner join 
				   (
						select SUM(JCT.CreditUsed) as CreditsUsed,JCT.CompanyID as CompanyID
						from   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)
						--inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JCT.CreditOptionID,0)
						where	JCT.CompanyID = @CompanyID AND ISNULL(JCT.HRID,0) <> 0
						Group By JCT.CompanyID 
				   )X ON X.CompanyID = C.CompanyID

			
			--Update Package Detail and Current Plan Used Of the Company
			UPDATE C
			SET    C.PackageDetail = ISNULL(X.Package,0),
				   C.CurrentPlan =  CASE WHEN X.BalanceType = 'Free' then 'Pay As You Go' else x.PackageName end
			FROM   #CreditPlan C
				   inner join 
				   (
						select BalanceType,JCT.CompanyID as CompanyID,PackageID,JSP.Package, JSP.PackageName 
						from   gen_JobPost_Subscription_History_ClientPortal JCT WITH(NOLOCK)
							   inner join prg_Subscription_Package_ClientPortal JSP WITH(NOLOCK) ON JCT.PackageID = JSP.ID
						where	JCT.CompanyID = @CompanyID 	and JCT.IsActive = 1					
				   )X ON X.CompanyID = C.CompanyID


			--Update UpComing Jobs Renewal Of the Company
			select MAX(JCT.ID) AS ID, HRID
			Into   #MaxHRID
			FROM   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)		
			INNER JOIN gen_Contact GC WITH(NOLOCK) ON GC.ID = JCT.ContactID
			WHERE GC.CompanyID = @CompanyID 
			GROUP BY  HRID 
			
			UPDATE  C
			SET     C.UpComingJobsRenewal = Isnull(Q.JobsRenewal,0)
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
					inner join (
								select  Count(H.ID) JobsRenewal, C.CompanyID AS CompanyId
								FROM     gen_SalesHiringRequest H WITH(NOLOCK)	
										INNER JOIN gen_Contact C WITH(NOLOCK) ON H.ContactID = C.ID
										WHERE DateDIff(d, CAST(GETDATE() as DATE), CAST(h.JobExpiryDate as DAte)) <= 5
										--AND DateDIff(d,CAST(GETDATE() as DATE), CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte)) > 0
										AND H.JobStatusID <> 2									
										--AND NOT EXISTS(SELECT 1 FROM gen_JobPost_TransactionHistory_ClientPortal TH WITH(NOLOCK) WHERE TH.IsReposted = 1 AND TH.ID = M.ID)
								GROUP BY C.CompanyId
								)Q ON Q.CompanyID = C.CompanyID
			where   CO.ID = @CompanyID

			--UPDATE  C
			--SET     C.TotalAvailableCredits = ISNULL(X.TotalAvailableCredits,0)
			--FROM   #CreditPlan C
			--	   inner join 
			--	   (
			--			select SUM(ISNULL(CreditBalance,0)) as TotalAvailableCredits,CompanyID as CompanyID
			--			from    gen_JobPost_Subscription_History_ClientPortal WITH(NOLOCK)
			--			where	CompanyID = @CompanyID 
			--			Group By CompanyID 
			--	   )X ON X.CompanyID = C.CompanyID

			--UPDATE  C
			--SET     C.NoOfJobPosted = ISNULL(X.NoOfJobPosted,0)
			--FROM   #CreditPlan C
			--	   inner join 
			--	   (
			--			select count(ID) as NoOfJobPosted,CompanyID as CompanyID
			--			from    gen_JobPost_TransactionHistory_ClientPortal WITH(NOLOCK)
			--			where	CompanyID = @CompanyID and CreditOptionID in (1,4) AND ISNULL(HRID,0) <> 0
			--			Group By CompanyID 
			--	   )X ON X.CompanyID = C.CompanyID

			UPDATE  C
			SET     C.NoOfJobPosted = ISNULL(Q.JobsPosted,0)
			FROM   #CreditPlan C
				   inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
					inner join (
								select  Count(H.ID) JobsPosted,HCO.CompanyID
								FROM gen_SalesHiringRequest H WITH(NOLOCK)		
								INNER JOIN dbo.gen_Contact HCO WITH(NOLOCK) ON H.ContactID = HCO.ID
								WHERE   HCO.CompanyID = @CompanyID AND H.HRTypeID IN (3,4, 6) AND 
								--ISNULL(H.JobStatusID, 1) <> 2 AND 
								H.Isactive = 1
								GROUP BY HCO.CompanyID
								)Q ON Q.CompanyID = C.CompanyID
			where   CO.ID = @CompanyID

			UPDATE  C
			SET     C.NoOfVettedProfileView = ISNULL(X.NoOfVettedProfileView,0)
			FROM   #CreditPlan C
				   inner join 
				   (
						select count(ID) as NoOfVettedProfileView,CompanyID as CompanyID
						from    gen_JobPost_TransactionHistory_ClientPortal WITH(NOLOCK)
						where	CompanyID = @CompanyID and CreditOptionID = 2
						Group By CompanyID 
				   )X ON X.CompanyID = C.CompanyID

			UPDATE  C
			SET     C.NoOfNonVettedProfileView = ISNULL(X.NoOfNonVettedProfileView,0)
			FROM   #CreditPlan C
				   inner join 
				   (
						select count(ID) as NoOfNonVettedProfileView,CompanyID as CompanyID
						from    gen_JobPost_TransactionHistory_ClientPortal WITH(NOLOCK)
						where	CompanyID = @CompanyID and CreditOptionID = 3
						Group By CompanyID 
				   )X ON X.CompanyID = C.CompanyID

		--If user role is for myjobs then only show the jobs posted by them.
		DECLARE @RoleID INT = 1	
		SELECT TOP 1 @RoleID = RoleID FROM LoggedInUserRole_ClientPortal(@ClientID)

		IF(ISNULL(@RoleID,0) = 3)
		BEGIN

			select 
				ID,						
				ISNULL(NULLIF(CurrentPlan, ''), 'Pay As You Go') AS CurrentPlan,				
				PackageDetail,
				UpComingJobsRenewal,
				ISNULL(ActiveJobs,0) AS ActiveJobs,
				ClosedJobs,
				ISNULL(CreditsUsed,0) AS CreditsUsed,
				ISNULL(CreditBalance, 0) AS CreditBalance,
				ActionDate,
				ActionDescription,
				JobRole,
				HRStatus,
				CreditSpent,
				CreditBalanceAfterSpent,
				CompanyID,
				CreditDebit,
				PaymentHistoryID,
				InvoiceID,
				ContactID	, 
				TotalAvailableCredits, 
				ISNULL(NoOfJobPosted,0) AS NoOfJobPosted,
				NoOfVettedProfileView,
				NoOfNonVettedProfileView,
				CreditAmountValue,
				PlanHoverText,
				ClickUrl,
				HRID,
				RoleId,
				HRNumber,
				TransactionDate,
				JobRenewalCredits
				from #CreditPlan WHERE ContactID = @ClientID 
				ORDER by TransactionDate DESC

		END
		ELSE
		BEGIN


			select 
				ID,						
				ISNULL(NULLIF(CurrentPlan, ''), 'Pay As You Go') AS CurrentPlan,				
				PackageDetail,
				UpComingJobsRenewal,
				ISNULL(ActiveJobs,0) AS ActiveJobs,
				ClosedJobs,
				ISNULL(CreditsUsed,0) AS CreditsUsed,
				ISNULL(CreditBalance, 0) AS CreditBalance,
				ActionDate,
				ActionDescription,
				JobRole,
				HRStatus,
				CreditSpent,
				CreditBalanceAfterSpent,
				CompanyID,
				CreditDebit,
				PaymentHistoryID,
				InvoiceID,ContactID, TotalAvailableCredits, 
				ISNULL(NoOfJobPosted,0) AS NoOfJobPosted,
				NoOfVettedProfileView,
				NoOfNonVettedProfileView,
				CreditAmountValue,PlanHoverText ,
				ClickUrl,
				HRID,
				RoleId,
				HRNumber,
				TransactionDate,
				JobRenewalCredits
				from #CreditPlan
				ORDER by TransactionDate DESC
		END

			DROP TABLE #CreditPlan
			DROP TABLE #MaxHRID
END


