ALTER PROCEDURE [dbo].[Sproc_Get_RejectionReasonForTalent]
@HRID					BIGINT = NULL,
@RejectionReasonID				INT = NULL,
@ATSTalentID			BIGINT = NULL
AS
BEGIN

	DECLARE @CompanyName NVARCHAR(MAX) = NULL, 
			@RequestForTitle NVARCHAR(MAX) = NULL,
			@RejectionMessageForTalent NVARCHAR(MAX) = NULL


	SELECT TOP 1 @CompanyName = CO.Company ,
				@RequestForTitle = HR.RequestForTalent
				FROM gen_SalesHiringRequest HR WITH(NOLOCK) 
										INNER JOIN gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID 
										INNER JOIN gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
				WHERE HR.ID = @HRID


	SELECT TOP 1 @RejectionMessageForTalent = RejectionMessageForTalent FROM prg_RejectionMsgForTalent WITH(NOLOCK) WHERE RejectionReasonID = @RejectionReasonID

	SET @RejectionMessageForTalent = (SELECT REPLACE(@RejectionMessageForTalent,'##COMPANY_NAME##', @CompanyName))
	SET @RejectionMessageForTalent = (SELECT REPLACE(@RejectionMessageForTalent,'##OPPORTUNITY_TITLE##', @RequestForTitle))

	SELECT @RejectionMessageForTalent AS RejectionMessageForTalent

END
