ALTER PROCEDURE [dbo].[Sproc_Add_TalentSelected_ClientFeedback]
	@ShortlistedInterviewId				bigint = null,
	@HiringRequestID					BIGINT= null,
	@HiringRequestDetailID				BIGINT = null,
	@ContactID							BIGINT= null,
	@Role								nVarchar(255) = null,
	@FeedbackTypevalue					nvarchar(12) = null,
	@TalentID							BIGINT = null,
	@TechnicalSkillRating				nVarchar(255) = null,
	@CommunicationSkillRating			nVarchar(255) = null,
	@CognitiveSkillRating				nVarchar(255) = null,
	@TopSkill							nVarchar(255) = null,
	@ImprovedSkill						nVarchar(255) = null,
	@MessageToTalent					nVarchar(max) = null,
	@ClientsDecision					nvarchar(max) = NULL,
	@Comments							nvarchar(max) = NULL,
	@FeedbackID							bigint = null,
	@CreatedModifiedId					int = NULL,
	@AppActionDoneBy					INT = NULL	--Action Done By 1 = Admin, 2 = ATS, 3 = UTS (new)
AS
BEGIN
 SET NOCOUNT ON;
         
		 Declare @FB_ID as decimal(18,0) =0
		 declare @CurrencyExchange_Rate as decimal(18,2)=0
		 declare @qty as int =0
		 declare @LastIncrementNumer as int
		 DECLARE @Company_Id as bigint = 0
		 Declare @AM_SalesPersonID as bigint = 0

		---Update Interview Status and modify date of the confirmed inetrview
		UPDATE   gen_TalentSelected_InterviewDetails
		SET		 IsClientFeedbackSubmitted = 1
				,ClientFeedbackGivendatetime = GetDate()
				,[Status_ID] = 7
								
		where	Shortlisted_InterviewID = @ShortlistedInterviewId

		UPDATE  gen_ShortlistedTalent_InterviewDetails
		SET		 [Status_ID] = 7
		        ,LastModifiedDatetime = GetDate()
				,LastModifiedByID = @ContactID							
		where	ID = @ShortlistedInterviewId


		UPDATE  M  
		SET		M.InterviewStatus_ID = 7
		from	gen_ShortlistedTalent_InterviewDetails ShortlistedInterview WITH(NOLOCK) 
				inner join gen_InterviewSlotsMaster M ON M.ID = ShortlistedInterview.InterviewMaster_ID						
		where	ShortlistedInterview.ID = @ShortlistedInterviewId

		
		
		--- Insert client feedback
		IF @FeedbackID = 0
			BEGIN
					IF(select count(1) from gen_ContactInterviewFeedback with(nolock) where HiringRequest_ID = @HiringRequestID AND Shortlisted_InterviewID =@ShortlistedInterviewId) =0
						BEGIN
							INSERT Into dbo.gen_ContactInterviewFeedback
							(
									ContactID,
									HiringRequest_ID,
									HiringRequest_Detail_ID,
									Shortlisted_InterviewID,
									FeedBack_Type,
									Technical_SkillRating,
									Communication_SkillRating,
									Cognitive_SkillRating,
									Top_Skill,
									Improved_Skill,
									MessageToTalent,
									ClientsDecision,
									Comments,
									CreatedByID,
									CreatedByDatetime
							)

							Values
							(
									@ContactID,
									@HiringRequestID,
									@HiringRequestDetailID,
									@ShortlistedInterviewId,
									@FeedbackTypevalue,
									@TechnicalSkillRating,
									@CommunicationSkillRating,
									@CognitiveSkillRating ,
									@TopSkill ,
									@ImprovedSkill ,
									@MessageToTalent ,
									@ClientsDecision,
									@Comments,
									@CreatedModifiedId,
									GETDATE()
							)	
							SET @FB_ID = SCOPE_IDENTITY();
					 END
			END
		ELSE					--Added BY Jimit 17062022 for Edit Feedback Case
			BEGIN
					

					UPDATE	gen_ContactInterviewFeedback
					SET		FeedBack_Type = ISNULL(@FeedbackTypevalue,''),
							Technical_SkillRating = ISNULL(@TechnicalSkillRating,''),
							Communication_SkillRating = ISNULL(@CommunicationSkillRating,''),
							Cognitive_SkillRating = ISNULL(@CognitiveSkillRating,''),
							Top_Skill = ISNULL(@TopSkill,''),
							Improved_Skill = ISNULL(@ImprovedSkill,''),
							MessageToTalent = ISNULL(@MessageToTalent,''),
							ClientsDecision = ISNULL(@ClientsDecision,''),
							Comments = ISNULL(@Comments,''),
							LastModifiedByID = @CreatedModifiedId,
							LastModifiedDatetime = GETDATE()
					WHERE   ID = @FeedbackID

					SET @FB_ID = @FeedbackID

			END
		
		SELECT @FB_ID AS ID
			
		---Update  HR Role Status, Talent Status based on Client Selection
		
		IF(@FeedbackTypevalue = 'Hire')
		BEGIN

		   ----Update Talent Status in gen_Talent
			Update	gen_Talent 
			set		TalentStatusID_AfterClientSelection =4 
			where	ID = @TalentID

			----Update Talent Status in gen_ContactTalentPriority as per HR
			update	TalentPr 
			Set		TalentPr.TalentStatusID_BasedOnHR = 4
			From	gen_ContactTalentPriority TalentPr														
			where	TalentPr.TalentID = @TalentID AND TalentPr.HiringRequestID = @HiringRequestID AND TalentPr.HiringRequest_Detail_ID = @HiringRequestDetailID


			--Update Talent Status in gen_ContactTalentPriority for other HRs to Cancelled in case of Multi HR association jimit 23-05-2022
			BEGIN
				
				Select	TalentPr.HiringRequestID,TalentID,TalentPr.ID as ContactTalentPriority_ID,H.SalesUserID as SalesUserID,TalentPr.TalentStatusID_BasedOnHR as TalentStatusID_BasedOnHR
				into	#TempContactTalentPriority  
				From	gen_ContactTalentPriority TalentPr with(nolock)	
						inner join gen_SalesHiringRequest H  with(nolock) ON H.ID = TalentPr.HiringRequestID
						inner join prg_HiringRequestStatus HS  with(nolock) ON HS.ID = H.Status_ID
				where	TalentPr.TalentID = @TalentID AND TalentPr.TalentStatusID_BasedOnHR not in (4,8) 
						and TalentPr.HiringRequestID <> @HiringRequestID and H.Status_ID not in (3);

				----commented by Himani for this Jira UTS-7384
				----Manage History code for Talent_Auto_Cancel_On_Hire added by jimit 20-07-2022
				--Insert into gen_History(Action_ID,HiringRequest_ID,Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage,History_From,CreatedByID,
				--						CreatedByDatetime,ModifiedByID,ModifiedByDatetime,SLA_DueDate,IsManagedByClient,IsManagedByTalent,IsActive,SalesUserID,TalentStatusID_BasedOnHR,AppActionDoneBy)
				--Select  61,HiringRequestID,TalentID,ContactTalentPriority_ID,0,0,0,0,0,0,0,@CreatedModifiedId,GETDATE(),0,null,null,0,0,0,SalesUserID,TalentStatusID_BasedOnHR,3
				--from    #TempContactTalentPriority 
				----ended

				

			    --Update Interview Status as cancel while Talent status will be cancel
				update	IntM 
				SET		IntM.InterviewStatus_ID = 3
				from	gen_InterviewSlotsMaster IntM WITH(UPDLOCK)
						inner join #TempContactTalentPriority T ON T.HiringRequestID = IntM.HiringRequest_ID
				WHERE	IntM.InterviewStatus_ID <> 3 AND IntM.Talent_ID = @TalentID


				update	SIntM 
				SET		SIntM.Status_ID = 3
				from	gen_InterviewSlotsMaster IntM WITH(NoLOCK)
						inner join gen_ShortlistedTalent_InterviewDetails SIntM WITH(UPDLOCK) ON IntM.ID = SIntM.InterviewMaster_ID
						inner join #TempContactTalentPriority T ON T.HiringRequestID = IntM.HiringRequest_ID
				WHERE	IntM.InterviewStatus_ID <> 3 AND IntM.Talent_ID = @TalentID

				update	SelectedIntM 
				SET		SelectedIntM.Status_ID = 3
			    from	gen_InterviewSlotsMaster IntM WITH(NOLOCK) 
						inner join gen_TalentSelected_InterviewDetails SelectedIntM WITH(UPDLOCK) ON IntM.ID = SelectedIntM.InterviewMaster_ID
						inner join #TempContactTalentPriority T ON T.HiringRequestID = IntM.HiringRequest_ID
				WHERE	IntM.InterviewStatus_ID <> 3 AND IntM.Talent_ID = @TalentID
				--END

				drop table #TempContactTalentPriority
			END

			
			update	TSI 
			SET		TSI.Interview_FeedbackStatus = case when InterviewRound=1 then 'Hired' else  'Hired - (Round '+ cast(TSI.InterviewRound as nvarchar(50))+')' end
					,TSI.Interview_ClientDynamic_Status =  case when InterviewRound=1 then 'Hired' else 'Hired in Round '+ cast(TSI.InterviewRound as nvarchar(50)) end
					,TSI.Interview_TalentDynamic_Status =  case when InterviewRound=1 then 'Hired' else'Hired in Round '+ cast(TSI.InterviewRound as nvarchar(50)) end
			From	gen_ContactInterviewFeedback FB WITH(NOLOCK) 
					inner join gen_TalentSelected_InterviewDetails TSI WITH(UPDLOCK) ON FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID =  TSI.HiringRequest_Detail_ID														
			where	FB.ContactID = TSI.ContactID AND FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID = TSI.HiringRequest_Detail_ID
					AND TSI.Shortlisted_InterviewID = @ShortlistedInterviewId 
			

			----TO insert for Hired talent into OnBorad table
			IF(select count(1) from gen_OnBoardTalents with(nolock) where HiringRequest_ID = @HiringRequestID AND Talent_ID =@TalentID) =0
			BEGIN
					Declare @OnBoardID	as bigint =0
					DECLARE @NewEngagement_ID as Nvarchar(50) = ''
					DECLARE @OldEngagment_ID  as Nvarchar(50) = ''

					--Added By Jimit 14032022  for change logic of engaggementID
					select @qty = Isnull(NoofEmployee,0)
					from   gen_SalesHiringRequest_Details WITH(NOLOCK)
					where  HiringRequest_ID = @HiringRequestID


					select @CurrencyExchange_Rate = ISNULL(CE.ExchangeRate,0)								    from gen_SalesHiringRequest_Details HD WITH(NOLOCK)									inner join prg_CurrencyExchangeRate CE  WITH(NOLOCK)  ON CE.CurrencyCode = HD.Currency									where   HD.HiringRequest_ID = @HiringRequestID

					print @qty

						if(@qty > 1)
						  begin 
									DECLARE @Engagement_No as Nvarchar(50) = ''
									DECLARE @Engagement_Index as int = 0


									SELECT  top 1  @Engagement_No = val 
									from	dbo.f_split((
														  select top 1 EngagemenID 
															from   gen_OnBoardTalents WITH(NOLOCK)
															WHERE  HiringRequest_ID = @HiringRequestID AND EngagemenID not like '%_RN%'
															Order BY ID desc
															
														),'_')  
								
									SELECT  top 1  @Engagement_Index = val 
									from	dbo.f_split((
															select top 1 EngagemenID 
															from   gen_OnBoardTalents WITH(NOLOCK)
															WHERE  HiringRequest_ID = @HiringRequestID AND EngagemenID not like '%_RN%'
															Order BY ID desc
														),'_') 
									WHERE	seq <> 1
									order by seq desc
								
									IF @Engagement_Index = 0 
										BEGIN
												SELECT @Engagement_No =  REPLACE(HR_Number,'HR','EN') 
												FROM	gen_SalesHiringRequest WITH(NOLOCK) 
												WHERE	ID = @HiringRequestID
										END
									

									print @Engagement_Index	
									SELECT  @NewEngagement_ID = @Engagement_No + '_' + cast((@Engagement_Index + 1) as nvarchar(50))
							 END
						ELSE
						  BEGIN
								SELECT	@NewEngagement_ID = REPLACE(HR_Number,'HR','EN') 
								FROM	gen_SalesHiringRequest WITH(NOLOCK) 
								WHERE	ID = @HiringRequestID
						  END
					---ended			

				
						INSERT INTO [dbo].[gen_OnBoardTalents]
						   ([EngagemenID]
						   ,[HiringRequest_ID]
						   ,[HiringRequest_Detail_ID]
						   ,[ContactID]
						   ,[Talent_ID]
						   ,[Shortlisted_InterviewID]
						   ,[HiredDate]
						   ,[TalentFeesStr]
						   ,[Status_ID]
						   ,[CreatedByID]
						   ,[CreatedByDatetime]
						   ,ClientOnBoarding_StatusID
						   ,TalentOnBoarding_StatusID
						   ,ClientLegal_StatusID
						   ,TalentLegal_StatusID
						   ,Kickoff_StatusID
						   ,Final_HR_Cost
						   ,Talent_Cost
						   ,NRPercentage
						   ,DPAmount
						   ,DPPercentage
						   ,CurrencyExchangeRate
						   )
    
					Select top 1 EngagemenID = @NewEngagement_ID --REPLACE(HR_Number,'HR','EN')
						  ,FB.HiringRequest_ID
						  ,FB.HiringRequest_Detail_ID
						  ,FB.ContactID						 
						  ,TSI.Talent_ID
						  ,FB.Shortlisted_InterviewID
						  ,GETDATE()
						  ,Isnull(CTP.HR_Cost,'') --T.Fees
						  ,1
						  ,@CreatedModifiedId
						  ,GETDATE()
						  ,1
						  ,1
						  ,1
						  ,1
						  ,1
						  ,CTP.Final_HR_Cost
						  ,CTP.TalentCost
						  ,CTP.NRPercentage
						  ,CTP.DPAmount
						  ,CTP.DP_Percentage
						  ,@CurrencyExchange_Rate

					 from gen_ContactInterviewFeedback FB WITH(NOLOCK) 					 
					 inner join gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK) on FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID =TSI.HiringRequest_Detail_ID AND FB.Shortlisted_InterviewID = TSI.Shortlisted_InterviewID
					 inner join gen_ContactTalentPriority  CTP with(nolock) ON CTP.TalentID = TSI.Talent_ID AND TSI.HiringRequest_ID = CTP.HiringRequestID AND  CTP.ContactID = TSI.ContactID AND CTP.HiringRequest_Detail_ID = TSI.HiringRequest_Detail_ID 		
					 
					 where FeedBack_Type ='Hire' AND FB.Shortlisted_InterviewID = @ShortlistedInterviewId
					
						SET @OnBoardID = SCOPE_IDENTITY();

						
					
						----Update Replaced Talent Details in gen_OnBoardTalents_ReplacementDetails table if any jimit 17032022
						--	declare @OldOnBoardId bigint = 0
						--	Declare @ReplacementDate as datetime
						--	Declare @OldTalentReplacementDate as datetime
							

						--	select top 1 @OldOnBoardId = OnboardID
						--	FROM   gen_OnBoardTalents_ReplacementDetails WITH(NOLOCK)
						--	WHERE   Isnull(ReplaceTalentId,0) = 0
						--			and HiringRequestID = @HiringRequestID
				
						--	if EXISTS(select 1 from gen_OnBoardTalents_ReplacementDetails WITH(NOLOCK)  where HiringRequestID = @HiringRequestID and OnboardID = @OldOnBoardId)
						--		BEGIN
						--				UPDATE gen_OnBoardTalents_ReplacementDetails
						--				SET    ReplaceTalentId = @TalentID,
						--					   ReplacementDate = getdate(),
						--					   IsLost = case when dateadd(d,NoticePeriod,ReplacementDate) > getdate() then 0 else 1 end,
						--					   NewOnBoard_Id  = @OnBoardID  --Added By Jimit 23082022
						--				WHERE   HiringRequestID = @HiringRequestID and OnboardID = @OldOnBoardId

						--			  --Added By Jimit 31-08-2022 update Status_Id to 0 for Old OnBoard Id (Old Talent) when replace with new Talent.
						--				Update gen_OnBoardTalents
						--				SEt   Status_Id = 0
						--				Where HiringRequest_ID = @HiringRequestID and ID = @OldOnBoardId

										
										
						--				--Added Jimit 25112022
						--			   begin --Update AM Sales Person and NBD Sales Person in case of Replacement 
						--					 select @Company_Id = CompanyID from gen_Contact WITH(NOLOCK) WHERE ID = @ContactID

						--					 select @AM_SalesPersonID = Isnull(AM_SalesPersonID,0) from gen_Company WITH(NOLOCK) Where ID = @Company_Id
				 
						--					 Update OBT
						--					 SET    NBD_SalesPersonID = null,AM_SalesPersonID = @AM_SalesPersonID
						--					 from	gen_OnBoardTalents OBT						
						--					 Where  OBT.Id = @OnBoardID
						--			   end
						--			  --ended

						--			  begin  --Added By Jimit 16122022  for change logic of Replacement engaggementID
						--						Declare @RQty as int = 1
						--						select  @RQty = Q.Sr_No
						--						from
						--						(
						--							select  ROW_NUMBER() Over(Partition by substring(OBT.EngagemenID,1,(Case when charindex('_',OBT.EngagemenID,1) > 0 then (charindex('_',OBT.EngagemenID,1) - 1) else len(OBT.EngagemenID) end)) Order by ReplacementDate asc) 
						--									Sr_No,OBT.ID
						--							from    gen_OnBoardTalents OBT WITH(NOLOCK) 
						--									inner join gen_OnBoardTalents_ReplacementDetails OBR WITH(NOLOCK)  ON OBT.ID = OBR.OnboardID
						--							--where  OBT.Id = @OldOnBoardId --OBT.Status_ID = 1 and
						--							--order by ReplacementDate desc
						--					   )Q  where  Q.ID = @OldOnBoardId 

						--						Update OBT
						--						SET    EngagemenID = case when CHARINDEX('_R',OBT.EngagemenID,1) > 0 then Left(OBT.EngagemenID,CHARINDEX('_R',OBT.EngagemenID,1) - 1) + '_R' + Cast(@RQty as nvarchar(5)) else OBT.EngagemenID + '_R' + Cast(@RQty as nvarchar(5)) end
						--						from   gen_OnBoardTalents OBT						
						--						Where  OBT.Id = @OldOnBoardId --@OnBoardID
						--				end  ---ended	

						--			  begin --Added By Jimit 09012023  for Rplacement case DP amount logic
						--					select @ReplacementDate = ReplacementDate,
						--						   @OldTalentReplacementDate = CreatedByDateTime
						--					From   gen_OnBoardTalents_ReplacementDetails with(Nolock)
						--					where  OnboardID = @OnBoardID and ReplaceTalentId = @TalentID

											
						--					If (DATEADD(m,3,@OldTalentReplacementDate) > @ReplacementDate)
						--						BEGIN
						--								Update gen_ContactTalentPriority
						--								SET	   DPAmount = 0
						--								where  TalentID = @TalentID and HiringRequestID = @HiringRequestID

						--								Update  gen_OnBoardTalents
						--								SET		DPAmount = 0
						--								where   Talent_ID = @TalentID and HiringRequest_ID = @HiringRequestID

						--						END
											
													
						--			  end

						--		END
						--ended

					IF(@OnBoardID>0)
						BEGIN
								Declare @Interview_TimeZoneID as int =0
								Declare @Timezone_Preference_ID as int =0
								Declare @NotAccepted_TimeZoneID as int =0
								Declare @NotAccepted_Preference_ID as int =0							
								Declare @Talent_TimeZonePreferences as nvarchar(300) =''
								Declare @IsOngong BIT =0

								SELECT @IsOngong = case when ISNULL(DPAmount,0) >0 then 1 else 0 end  from gen_OnBoardTalents WITH(NOLOCK) WHERE ID = @OnBoardID

								--select top 1  @Talent_TimeZonePreferences = isnull(Talent_TimeZonePreferences,'') from gen_TalentSelected_PostAcceptance_NotMatchDetails WITH(NOLOCK) where HiringRequest_ID = @HiringRequestID AND HiringRequest_Detail_ID =  @HiringRequestDetailID AND OptionSelected  =1

								--IF(CHARINDEX('keep my',@Talent_TimeZonePreferences ) > 0)
								--BEGIN
								--	select top 1  @NotAccepted_TimeZoneID = isnull(NotAccepted_TimeZoneID,0) from gen_TalentSelected_PostAcceptanceDetails WITH(NOLOCK) where HiringRequest_ID = @HiringRequestID AND HiringRequest_Detail_ID =  @HiringRequestDetailID AND isnull(NotAccepted_TimeZoneID,0) <> 0

								--	select top 1  @NotAccepted_Preference_ID = isnull(ID,0) from prg_TimeZonePreference WITH(NOLOCK) where HR_TimeZoneID = @NotAccepted_TimeZoneID 

								--END
							
							IF Not Exists (Select 1 from gen_OnBoardClientContractDetails WITH(NOLOCK)  where OnBoardID = @OnBoardID)
								BEGIN
										INSERT 
										INTO	gen_OnBoardClientContractDetails(OnBoardID
																				,ContractType
																				,ContractDuration
																				,TotalDurationInMonths
																				,PunchStartTime
																				,PunchEndTime
																				,TalentWorkingTimeZone
																				,Timezone_Preference_ID
																				,CreatedByID
																				,CreatedByDatetime
																				,IsOngoing
																				)
																		  Select @OnBoardID
																				 ,HR.Availability
																				 ,HRD.SpecificMonth
																				 ,HRD.SpecificMonth
																				 ,TimeZone_FromTime
																				 ,TimeZone_EndTime
																				 ,isnull(Timezone_ID,0) 
																				 ,isnull(Timezone_Preference_ID,0)  
																				 --,case when @NotAccepted_TimeZoneID <> 0 then @NotAccepted_TimeZoneID else isnull(Timezone_ID,0) end
																				 --,case when @NotAccepted_Preference_ID <> 0 then @NotAccepted_Preference_ID else isnull(Timezone_Preference_ID,0) end 
																				 ,@CreatedModifiedId
																				 ,GETDATE()
																				 ,case when @IsOngong =0 then NuLL else @IsOngong END

										from gen_SalesHiringRequest HR WITH(NOLOCK) 
										inner join gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HR.ID = HRD.HiringRequest_ID
										
										WHERE HR.ID =@HiringRequestID AND HRD.ID = @HiringRequestDetailID
								END
							
								
						END

			 END


		END

		
		IF(@FeedbackTypevalue = 'NoHire')
		BEGIN

			------Update Talent Status in gen_Talent
			--Update gen_Talent set  TalentStatusID_AfterClientSelection =7 where ID = @TalentID

			----Update Talent Status in gen_ContactTalentPriority as per HR
			update	TalentPr 
			Set		TalentPr.TalentStatusID_BasedOnHR = 7
			From	gen_ContactTalentPriority TalentPr	WITH(UPDLOCK)													
			where	TalentPr.TalentID = @TalentID  AND TalentPr.HiringRequest_Detail_ID = @HiringRequestDetailID

			------Update HR role Status in gen_SalesHiringRequest_Details 
			--Update	gen_SalesHiringRequest_Details 
			--set		RoleStatus_ID = 2 
			--where	ID=@HiringRequestDetailID

			update TSI 
			SET  TSI.Interview_FeedbackStatus =  case when InterviewRound=1 then 'Rejected' else 'Rejected - (Round '+ cast(TSI.InterviewRound as nvarchar(50))+')' end
				 ,TSI.Interview_ClientDynamic_Status = case when InterviewRound=1 then 'Rejected' else  'Rejected in Round '+ cast(TSI.InterviewRound as nvarchar(50)) end
				 ,TSI.Interview_TalentDynamic_Status =  case when InterviewRound=1 then 'Rejected' else  'Rejected in Round '+ cast(TSI.InterviewRound as nvarchar(50)) end
			From	gen_ContactInterviewFeedback FB WITH(NOLOCK) 
					inner join gen_TalentSelected_InterviewDetails TSI ON FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID =  TSI.HiringRequest_Detail_ID														
			where	FB.ContactID = TSI.ContactID AND FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID = TSI.HiringRequest_Detail_ID
					AND TSI.Shortlisted_InterviewID = @ShortlistedInterviewId 
			

		END

		----Started Searching	On Hold

		IF(@FeedbackTypevalue = 'OnHold')
		BEGIN

		 --   ----Update Talent Status in gen_Talent
			--Update	gen_Talent 
			--set		TalentStatusID_AfterClientSelection =6 
			--where	ID = @TalentID

			----Update Talent Status in gen_ContactTalentPriority as per HR
			update	TalentPr 
			Set		TalentPr.TalentStatusID_BasedOnHR = 6
			From	gen_ContactTalentPriority TalentPr	WITH(UPDLOCK)													
			where	TalentPr.TalentID = @TalentID AND TalentPr.HiringRequestID = @HiringRequestID AND TalentPr.HiringRequest_Detail_ID = @HiringRequestDetailID

			------Update HR role Status in gen_SalesHiringRequest_Details 
			--Update	gen_SalesHiringRequest_Details 
			--set		RoleStatus_ID =2 
			--where	ID = @HiringRequestDetailID

			update	TSI 
			SET		TSI.Interview_FeedbackStatus =  case when InterviewRound=1 then 'On Hold' else'On Hold - (Round '+ cast(TSI.InterviewRound as nvarchar(50))+')' end
					,TSI.Interview_ClientDynamic_Status =  case when InterviewRound=1 then 'On Hold' else 'On Hold in Round '+ cast(TSI.InterviewRound as nvarchar(50)) end
					,TSI.Interview_TalentDynamic_Status =  case when InterviewRound=1 then 'On Hold' else 'On Hold in Round '+ cast(TSI.InterviewRound as nvarchar(50)) end
			From	gen_ContactInterviewFeedback FB WITH(NOLOCK) 
					inner join gen_TalentSelected_InterviewDetails TSI WITH(UPDLOCK) ON FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID =  TSI.HiringRequest_Detail_ID														
			where	FB.ContactID = TSI.ContactID AND FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID = TSI.HiringRequest_Detail_ID
					AND TSI.Shortlisted_InterviewID = @ShortlistedInterviewId 
			

		END

		----Another Round 

		IF(@FeedbackTypevalue = 'AnotherRound')
		BEGIN
		     --AS Per dicussion with Soumya , in HR funnel we can't go in back steps
		 --    ----Update Talent Status as shortlisted in gen_Talent
			--update	gen_Talent 
			--SET		TalentStatusID_AfterClientSelection = 2 
			--where	ID = @TalentID

			----Update Talent Status as shortlisted in gen_ContactTalentPriority as per HR
			--update	TalentPr 
			--Set		TalentPr.TalentStatusID_BasedOnHR =  2
			--From	gen_ContactTalentPriority TalentPr														
			--where	TalentPr.TalentID = @TalentID AND TalentPr.HiringRequest_Detail_ID = @HiringRequestDetailID

			------Update HR role Status in gen_SalesHiringRequest_Details 
			--update	gen_SalesHiringRequest_Details 
			--SET		RoleStatus_ID = 4 
			--where	ID = @HiringRequestDetailID

			update	TSI 
			SET		TSI.Interview_FeedbackStatus = 'Moved to Round '+ cast(TSI.InterviewRound+1 as nvarchar(50))
					,TSI.Interview_ClientDynamic_Status = 'initiated round '+ cast(TSI.InterviewRound+1 as nvarchar(50))
					,TSI.Interview_TalentDynamic_Status = 'initiated round '+ cast(TSI.InterviewRound+1 as nvarchar(50))
			From	gen_ContactInterviewFeedback FB WITH(NOLOCK) 
					inner join gen_TalentSelected_InterviewDetails TSI WITH(UPDLOCK) ON FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID =  TSI.HiringRequest_Detail_ID														
			where	FB.ContactID = TSI.ContactID AND FB.HiringRequest_ID = TSI.HiringRequest_ID AND FB.HiringRequest_Detail_ID = TSI.HiringRequest_Detail_ID
					AND TSI.Shortlisted_InterviewID = @ShortlistedInterviewId 
			

		END
		
		--Commented By Jimit 25-07-2024 As Close - Won Logic is Updated now.
		-----Update  HR  Status based on Qty (No of Talents)
		--exec Sproc_Update_HRStatus_BasedonQty @ContactID = @ContactID,@HR_ID = @HiringRequestID,@Talent_Id = @TalentID,@CreatedModifiedId = @CreatedModifiedId
			

	
END