ALTER PROCEDURE [dbo].[Sproc_Add_Confirm_Interview_Slot]
	@ShortListedID			  bigint = null,
	@HiringRequest_ID		  bigint = null,
	@HiringRequest_Detail_ID  bigint = null,
	@Talent_ID				  bigint = null,
	@ContactID				  bigint = null,
	@CreatedByID			  int = null
AS
BEGIN

	DEclare @Client_ReadytoworkShift  nvarchar(MAX) =null
	DEclare @Talent_ReadytoworkShift  nvarchar(MAX) =null
	DEclare @Client_Readytoworkhrs    nvarchar(MAX) =null
	DEclare @Talent_Readytoworkhrs	  nvarchar(MAX) =null
	DEclare @Client_JoinWithin		  nvarchar(MAX) =null
	DEclare @Talent_JoinWithin		  nvarchar(MAX) =null

	Declare @ID as bigint
	Declare @AcceptanceID as bigint

	Declare @Talent_Joining as nvarchar(200) =''
	Declare @Talent_Howsoon as nvarchar(200) =''


	UPDATE TI SET TI.Contact_TimeZone_ID = STI.TimeZone_ID
		from gen_TalentSelected_InterviewDetails TI with(nolock) inner join gen_ShortlistedTalent_InterviewDetails STI with(nolock) ON TI.Shortlisted_InterviewID = STI.ID 
		 WHERE  TI.Contact_TimeZone_ID is null

	IF(Select count(1) from gen_TalentSelected_PostAcceptanceDetails with(nolock) where  HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID) >0 
	BEGIN
			delete from gen_TalentSelected_PostAcceptance_NotMatchDetails where  HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID
			delete from gen_TalentSelected_PostAcceptanceDetails where  HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID
	END
	
	
	---Insert for post Acceptance criteria and Not match data 
	IF(Select count(1) from gen_TalentSelected_PostAcceptanceDetails with(nolock) where  HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID) =0 
	BEGIN
	        print 'data not exists in gen_TalentSelected_PostAcceptanceDetails '			

			INSERT INTO gen_TalentSelected_PostAcceptanceDetails( HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID
																 ,HR_TimeZoneID,Timezone_Preference,Talent_PreferableworkingID,Talent_TimeZoneID,HR_Availability,HR_PartialEngagementType_ID,HR_NoofHoursworking
																 ,Talent_Availability,Talent_PartialEngagementType_ID,Talent_NoofHoursworking,HR_HowSoon,Talent_Joining
																)
			Select  @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID
				   ,SHD.Timezone_ID, CTZ.TimeZoneTitle,PreferableWorking_ID,TZ.HR_TimeZoneID,H.[Availability],H.PartialEngagementType_ID,H.NoofHoursworking
				   ,TAvailability.AssociatedWithUplers, case when T.AssociatedwithUplers_ID <>1 then T.PartialEngagementType_ID else null end,case when T.AssociatedwithUplers_ID <>1 then T.NoofHoursworking else null end,HowSoon,TJ.Joinning

				   FROM gen_ShortlistedTalents ST WITH(NOLOCK) inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = ST.HiringRequest_ID
						inner join gen_SalesHiringRequest_Details SHD WITH(NOLOCK) ON H.ID = SHD.HiringRequest_ID  AND ST.HiringRequest_Detail_ID = SHD.ID
						inner join gen_Talent T WITH(NOLOCK) ON T.ID = ST.Talent_ID
						left join gen_TalentPreferableWorking_Details talentworking WITH(NOLOCK) ON T.ID = talentworking.TalentID
						left join prg_TimeZone TZ with(nolock) ON talentworking.PreferableWorking_ID = TZ.TalentPreferableWorking_ID
						inner join prg_TalentJoinning TJ WITH(NOLOCK) ON TJ.ID = T.Joining_ID
						inner join prg_TalentAssociatedWithUplers TAvailability WITH(NOLOCK) ON TAvailability.ID = T.AssociatedwithUplers_ID
						inner join prg_ContactTimeZone CTZ ON CTZ.ID = SHD.Timezone_ID --UTS-4677: Get the universal timezone.

				   WHERE ST.HiringRequest_ID = @HiringRequest_ID AND ST.HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND ST.Talent_ID = @Talent_ID

            SET @AcceptanceID = @@IDENTITY 

			---Update IsTimeZoneMatch =1 
							

			if(Select count(1) from gen_TalentSelected_PostAcceptanceDetails with(nolock) Where HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID) =1
			begin
				 print' if (rows=1)'

				 update TPD SET  AfterMatchFinal_TimeZoneID = case 
														 when  HR_TimeZoneID = 6 AND Talent_TimeZoneID = 6 then 6 
														 when  HR_TimeZoneID = 5 AND Talent_TimeZoneID = 6 then 5
														 when  HR_TimeZoneID = 4 AND Talent_TimeZoneID = 6 then 4
														 when  HR_TimeZoneID = 3 AND Talent_TimeZoneID = 6 then 3
														 when  HR_TimeZoneID = 2 AND Talent_TimeZoneID = 6 then 2
														

														 when  HR_TimeZoneID = 6 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 6
														 when  HR_TimeZoneID = 5 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 5
														 when  HR_TimeZoneID = 4 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 4 
														 when  HR_TimeZoneID = 3 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 3 
														 when  HR_TimeZoneID = 2 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 2 
														 when  HR_TimeZoneID = 2 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 1) then 2

														 
														 when  HR_TimeZoneID = 6 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 6
														 when  HR_TimeZoneID = 5 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 5
														 when  HR_TimeZoneID = 4 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 4 
														 when  HR_TimeZoneID = 3 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 3 
														 when  HR_TimeZoneID = 2 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 2

														 
														 when  HR_TimeZoneID = 6 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 6
														 when  HR_TimeZoneID = 5 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 5
														 when  HR_TimeZoneID = 4 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 4 
														 when  HR_TimeZoneID = 3 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 3 
														 when  HR_TimeZoneID = 2 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 2
														 
														 when  (HR_TimeZoneID = 1) AND Talent_TimeZoneID = 1 then 1														

													else 0 end
						from gen_TalentSelected_PostAcceptanceDetails TPD with(nolock) Where HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID

						update PAD SET PAD.IsTimeZoneMatch =1 
									from gen_TalentSelected_PostAcceptanceDetails PAD -- inner join prg_TimeZone TZ ON PAD.HR_TimeZoneID = TZ.HR_TimeZoneID
						WHERE PAD.HiringRequest_ID = @HiringRequest_ID AND PAD.HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND PAD.Talent_ID = @Talent_ID 
								AND PAD.HR_TimeZoneID = PAD.Talent_TimeZoneID

						------not Accepted -----
						Exec  Sproc_GetNotAccepted_TimeZoneID @HiringRequest_ID = @HiringRequest_ID,@HiringRequest_Detail_ID = @HiringRequest_Detail_ID,@Talent_ID = @Talent_ID
												
						------End of not Accepted -----
						
			end
			else
			begin
				  print' else'
				  --6 = US Shift ,5 =US Overlaping, 4 = AU Shift, 3= AU Overlaping, 2= UK Shift, 1= IST

				  update PAD SET PAD.IsTimeZoneMatch =1 
							from gen_TalentSelected_PostAcceptanceDetails PAD -- inner join prg_TimeZone TZ ON PAD.HR_TimeZoneID = TZ.HR_TimeZoneID

							WHERE PAD.HiringRequest_ID = @HiringRequest_ID AND PAD.HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND PAD.Talent_ID = @Talent_ID 
							AND PAD.HR_TimeZoneID = PAD.Talent_TimeZoneID

                 --- Payal :  Put it out from if condition (20-09-2021) 
				 update gen_TalentSelected_PostAcceptanceDetails SET  AfterMatchFinal_TimeZoneID = case 
														 when  HR_TimeZoneID = 6 AND Talent_TimeZoneID = 6 then 6 
														 when  HR_TimeZoneID = 5 AND Talent_TimeZoneID = 6 then 5
														 when  HR_TimeZoneID = 4 AND Talent_TimeZoneID = 6 then 4
														 when  HR_TimeZoneID = 3 AND Talent_TimeZoneID = 6 then 3
														 when  HR_TimeZoneID = 2 AND Talent_TimeZoneID = 6 then 2
														

														 when  HR_TimeZoneID = 6 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 6
														 when  HR_TimeZoneID = 5 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 5
														 when  HR_TimeZoneID = 4 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 4 
														 when  HR_TimeZoneID = 3 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 3 
														 when  HR_TimeZoneID = 2 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 2 
														 when  HR_TimeZoneID = 2 AND (Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 1) then 2

														 
														 when  HR_TimeZoneID = 6 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 6
														 when  HR_TimeZoneID = 5 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 5
														 when  HR_TimeZoneID = 4 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 4 
														 when  HR_TimeZoneID = 3 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 3 
														 when  HR_TimeZoneID = 2 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 2

														 
														 when  HR_TimeZoneID = 6 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 6
														 when  HR_TimeZoneID = 5 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 5
														 when  HR_TimeZoneID = 4 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 4 
														 when  HR_TimeZoneID = 3 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 3 
														 when  HR_TimeZoneID = 2 AND (Talent_TimeZoneID = 1 OR Talent_TimeZoneID = 2 OR Talent_TimeZoneID = 5 OR Talent_TimeZoneID = 6) then 2													
														 
														 when  (HR_TimeZoneID = 1) AND Talent_TimeZoneID = 1 then 1														

													else 0 end
						from gen_TalentSelected_PostAcceptanceDetails with(nolock) Where IsTimeZoneMatch =1 AND HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID

				 IF(select count(1) from gen_TalentSelected_PostAcceptanceDetails with(nolock) WHERE HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID AND isnull(IsTimeZoneMatch,0) =1) =0
				 BEGIN 
					   print ' IsTimeZoneMatch =0'
					  

						--------------------------------------------------------------
						update PAD SET PAD.IsTimeZoneMatch =1 
									from gen_TalentSelected_PostAcceptanceDetails PAD 
						WHERE PAD.HiringRequest_ID = @HiringRequest_ID AND PAD.HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND PAD.Talent_ID = @Talent_ID 
							AND PAD.HR_TimeZoneID = PAD.Talent_TimeZoneID --PAD.AfterMatchFinal_TimeZoneID

						------not Accepted -----
						 Print 'not Accepted : 1 preference in talent'

						 print @HiringRequest_ID
						 print @HiringRequest_Detail_ID
						 print @Talent_ID
						 Exec  Sproc_GetNotAccepted_TimeZoneID @HiringRequest_ID = @HiringRequest_ID,@HiringRequest_Detail_ID = @HiringRequest_Detail_ID,@Talent_ID = @Talent_ID
						 ------End of not Accepted -----
						
					
					
				END

			end --End of Else

			---Update IsAvailabilityMatch =1 
			update  PAD SET IsAvailabilityMatch =1 
						from gen_TalentSelected_PostAcceptanceDetails PAD 
				
				WHERE PAD.HiringRequest_ID = @HiringRequest_ID AND PAD.HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND PAD.Talent_ID = @Talent_ID 
					  AND PAD.HR_Availability = PAD.Talent_Availability
					  
			---Update IsJoinningMatch =1 
			Select @Talent_Joining = Talent_Joining from  gen_TalentSelected_PostAcceptanceDetails with(nolock) Where HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID

			Select @Talent_Howsoon = case when @Talent_Joining = 'Immediately' then '15 Days' 
										  when @Talent_Joining = 'Within 2 Weeks' then '15 Days' 
										  when @Talent_Joining = '2 to 4 Weeks' then '30 Days' 
										  when @Talent_Joining = '2 to 4 Weeks' then '45 Days' 
										  when @Talent_Joining = '4 to 8 Weeks' then '60 Days' 
										  when @Talent_Joining = 'More than 8 Weeks' then 'N/A' 
										  else '' end 
			
			
			update  PAD SET IsJoinningMatch =1 
						from gen_TalentSelected_PostAcceptanceDetails PAD 
				
				WHERE PAD.HiringRequest_ID = @HiringRequest_ID AND PAD.HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND PAD.Talent_ID = @Talent_ID 
					  AND  cast(replace(replace(PAD.HR_HowSoon , ' Days',''),'N/A','70') as int) >=  cast(replace(replace(@Talent_Howsoon , ' Days',''),'N/A','70') as int)
	END
	
	Declare @ClientPreferable as Nvarchar(max) = '' 
	Declare @TalentPreferable as Nvarchar(500) = '' 
	Declare @ClientTimeZone as Nvarchar(500) = ''

	DECLARE @ClientShiftTime AS NVARCHAR(500) = ''

	SELECT TOP 1 @ClientShiftTime = CAST(TimeZone_FromTime AS NVARCHAR) + ' to ' + CAST(TimeZone_EndTime AS NVARCHAR) FROM gen_SalesHiringRequest_Details WHERE HiringRequest_ID = @HiringRequest_ID AND ID = @HiringRequest_Detail_ID

	Declare @IsTimeZoneMatch as int =0

	SELECT top 1 @IsTimeZoneMatch = case when isnull(IsTimeZoneMatch,0) =0 then 0 else 1 end, @ClientTimeZone = isnull(Timezone_Preference,'') from gen_TalentSelected_PostAcceptanceDetails with(nolock) 
	Where HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID order by isnull(IsTimeZoneMatch,0) desc		

	SET @ClientTimeZone = (SELECT @ClientShiftTime + ' ' + @ClientTimeZone)

	print '@ClientShiftTime' + @ClientShiftTime

	print '@ClientTimeZone' + @ClientTimeZone


    Select  @TalentPreferable =   isnull((STUFF((
												select	distinct ', ' + isnull(PR.TalentWorkingHrs,'')
												from	prg_TalentPreferableWorking PR WITH(NOLOCK) 	
														inner join gen_TalentPreferableWorking_Details P WITH(NOLOCK) ON PR.ID = P.PreferableWorking_ID														
												where	P.TalentID = T.ID and isnull(PR.WorkingZone,'') <> ''
												For	XML Path('')),1,1,''
										)),'')
								  from gen_Talent T WITH(NOLOCK) inner join gen_TalentPreferableWorking_Details TD with(nolock) ON T.ID = TD.TalentID
					 inner join prg_TalentPreferableWorking W WITH(NOLOCK) ON TD.PreferableWorking_ID = W.ID 
		where T.ID = @Talent_ID
		
	if(@IsTimeZoneMatch =1)
	BEGIN
		Set @ClientPreferable = 'This hiring request demands your to work in '+@ClientTimeZone+' and it matches with your provided preference.;'+'This position requires you to work in '+ @ClientTimeZone		
		
		Set @TalentPreferable = 'You have previously provided us a preference of working in ' +@TalentPreferable
			
	END
	ELSE
	BEGIN
		
		--Set @ClientPreferable = 'Your current timezone preference does not match the timezone preference required for this job position. If you want to proceed, please select the most suitable option that fits you to work for this job position.;'+'This position requires you to work in '+ @ClientTimeZone
		
		Set @ClientPreferable = 'You are required to work in ' + @ClientTimeZone + '. Do you agree to work in this shift?' 

		----Insert into not match data
		IF(@AcceptanceID >0)
		BEGIN
			insert into gen_TalentSelected_PostAcceptance_NotMatchDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,Talent_TimeZonePreferences )
																  select @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,'Yes, I agree'
			insert into gen_TalentSelected_PostAcceptance_NotMatchDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,Talent_TimeZonePreferences )
																  select @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,'Ready to work partially in ' +@ClientTimeZone+' shift (4 hours overlapping).'
			insert into gen_TalentSelected_PostAcceptance_NotMatchDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,Talent_TimeZonePreferences )
																  select @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,'No, I do not prefer to work in this timezone.'
			--insert into gen_TalentSelected_PostAcceptance_NotMatchDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,Talent_TimeZonePreferences,RecommendedMessage )
			--													  select @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,'I would keep my '+@TalentPreferable+' preference as nothing else is possible for me.',' (Thank you, this may reduce your chance of selection by the Client.)'
		END
	END
	
	
	--Set @Client_ReadytoworkShift = 'You are ready to work in ' + @ClientPreferable 
	Set @Client_ReadytoworkShift = @ClientPreferable 
	Set @Talent_ReadytoworkShift = @TalentPreferable

	----------------------------------------------End of Time Zone ------------------------------------------

	
	Declare @Clientworkhrs as Nvarchar(500) = '' 
	Declare @Talentworkhrs as Nvarchar(500) = '' 
	Declare @IsAvailabilityMatch as int =0

	SELECT top 1 @IsAvailabilityMatch = case when isnull(IsAvailabilityMatch,0) =0 then 0 else 1 end
				, @Clientworkhrs = case when isnull(HR_PartialEngagementType_ID,0)>0 then isnull(HR_Availability,'') +' (' + cast(isnull(HR_NoofHoursworking,0) as nvarchar(50))  + ' hrs per '+ isnull(CP.PartialEngagementType,'') +')' else isnull(HR_Availability,'') end 
				, @Talentworkhrs = case when isnull(Talent_PartialEngagementType_ID,0)>0 then isnull(Talent_Availability, '')+' (' + cast(isnull(Talent_NoofHoursworking,0) as nvarchar(50))  + ' hrs per '+ isnull(TP.PartialEngagementType,'') +')' else isnull(Talent_Availability, '') end
	  
	  from gen_TalentSelected_PostAcceptanceDetails PA with(nolock) 
		   left join prg_PartialEngagementType CP with(nolock) ON PA.HR_PartialEngagementType_ID = CP.ID
		   left join prg_PartialEngagementType TP with(nolock) ON PA.Talent_PartialEngagementType_ID = TP.ID
	  
	  Where HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID
	
	
	if(@IsAvailabilityMatch =1)
	BEGIN

		--Set @Client_Readytoworkhrs = 'This hiring request demands you to work for ' + @Clientworkhrs +' and it matches with your provided preference. Great.'
		Set @Client_Readytoworkhrs = 'Bingo! This hiring request demands you to work ' + @Clientworkhrs +' and it exactly matches your provided preferences.'
		--Set @Talent_Readytoworkhrs = 'Your preference  ' + @Talentworkhrs +' matches with provided preference. Great.'
		Set @Talent_Readytoworkhrs = 'Great! I am looking for a ' + @Talentworkhrs +' opportunity and would like to proceed with this application.'
	END
	ELSE
	BEGIN
		Set @Client_Readytoworkhrs = 'This hiring request demands ' + @Clientworkhrs +', but your preference is different. Do you want to update your preference for getting early shortlisted in this opening?'
		--Set @Talent_Readytoworkhrs = 'Please add ' + @Clientworkhrs +' along with my current ' + @Talentworkhrs +' now onwards.'
		
		----Insert into not match data
		IF(@AcceptanceID >0)
		BEGIN
				insert into gen_TalentSelected_PostAcceptance_NotMatchDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,Talent_Availability )
																	  select @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,'No, I am okay with my preference. [Your preference is ' + @Talentworkhrs +']'
				insert into gen_TalentSelected_PostAcceptance_NotMatchDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,Talent_Availability )
																	  select @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,'Yes, Please update my preference to ' + @Clientworkhrs +'.'
				
				
        END
	END

	
	-------------------------------------------End of Availability ---------------------------------------------
--	Yes, please update it to 15 days from existing. Radio [Recommended, only if you can join as we don't recommend to commit anything we cannot fulfill.] 
--No, I want to keep it to 2 to 4 weeks. Radio"                        

	Declare @ClientHowSoon as Nvarchar(500) = '' 
	Declare @TalentJoin as Nvarchar(500) = '' 
	Declare @IsJoinningMatch as int =0

	SELECT top 1 @IsJoinningMatch = case when isnull(IsJoinningMatch,0) =0 then 0 else 1 end
				, @ClientHowSoon = isnull(HR_HowSoon,'')
				, @TalentJoin = isnull(Talent_Joining,'')
	  
	  from gen_TalentSelected_PostAcceptanceDetails PA with(nolock) 
		 
	  Where HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID

	if(@IsJoinningMatch =1)
	BEGIN

		--Set @Client_JoinWithin = 'If you get selected in this hiring request, you need to join within '+ @ClientHowSoon+'. The joining period perference submitted by you in our system '+@TalentJoin+' fits well for this hiring request. Great.'
		--Set @Talent_JoinWithin = 'You have provided us a preference to join ' +@TalentJoin
		Set @Client_JoinWithin = 'If you get selected for this job position, you need to join within  '+ @ClientHowSoon+'. The joining period preference submitted by you in our system is '+@TalentJoin+' and It fits well for this hiring.'
		Set @Talent_JoinWithin = 'Great! I am willing to join ' +@TalentJoin+' and so I want to proceed with this application.'
	END
	ELSE
	BEGIN
	    if(cast(replace(replace(@Client_JoinWithin, ' Days',''),'N/A','70') as int) > cast(replace(replace(@Talent_Howsoon, ' Days',''),'N/A','70') as int))
		begin
			Set @Client_JoinWithin = 'If you get selected in this hiring request, you need to join within '+ @ClientHowSoon+'. Your current preference as per the system is '+@TalentJoin+', which is higher than required for this position. Do you see any possibility to join early, if so please update the joning period, else let''s go ahead with what we have! '
			
		end
		else
		begin
			Set @Client_JoinWithin = 'If you get selected in this hiring request, you need to join within '+ @ClientHowSoon+'. Your current preference as per the system is '+@TalentJoin+', so please update the joning period or else provide a go ahead for the existing preference! '
		
		end

		--Set @Talent_JoinWithin = 'Yes, please update it to '+ @ClientHowSoon+' from existing.'+ char(10)+'No, I want to keep it to 2 to 4 weeks.'
		----Insert into not match data
		IF(@AcceptanceID >0)
		BEGIN
			insert into gen_TalentSelected_PostAcceptance_NotMatchDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,Talent_HowSoon )
																  select @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,'Yes, please update it to '+ @ClientHowSoon+' from existing.'
			insert into gen_TalentSelected_PostAcceptance_NotMatchDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,Talent_HowSoon )
															  select @HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,'No, I want to keep it to '+@TalentJoin + '.'
		END
		
	END


	----------------------------------------End of How Soon-------------------------------------------
	Declare @Primary_SortlistedID AS bigint =0

	Select @Primary_SortlistedID = ID from gen_ShortlistedTalents WITH(NOLOCK) 
	WHERE HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND ContactID =  @ContactID AND Talent_ID = @Talent_ID

	 update gen_ShortlistedTalents SET Client_ReadytoworkShift= @Client_ReadytoworkShift,Talent_ReadytoworkShift = @Talent_ReadytoworkShift,
													    Client_Readytoworkhrs = @Client_Readytoworkhrs,Talent_Readytoworkhrs = @Talent_Readytoworkhrs,
														Client_JoinWithin = @Client_JoinWithin, Talent_JoinWithin= @Talent_JoinWithin
		  where ID = @Primary_SortlistedID AND  HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND ContactID =  @ContactID AND Talent_ID = @Talent_ID

	
	
	SET @ID = @Primary_SortlistedID

	IF(@AcceptanceID >0)
	BEGIN
			update  PAD SET Talent_SelectedInterview_AcceptanceID = @ID
						from gen_TalentSelected_PostAcceptanceDetails PAD 
				
						WHERE PAD.HiringRequest_ID = @HiringRequest_ID AND PAD.HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND PAD.Talent_ID = @Talent_ID 
             
			IF(Select count(1) from gen_TalentSelected_PostAcceptance_NotMatchDetails with(nolock) where  HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID) >0 
			BEGIN
					update  gen_TalentSelected_PostAcceptance_NotMatchDetails SET Talent_SelectedInterview_AcceptanceID = @ID		
					WHERE HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID 
			END
	END
	
	if(isnull(@ShortListedID,0) <> 0)
	BEGIN
		SELECT @ID as ID , '' as Name
	
	END

END