ALTER PROCEDURE [dbo].[Sproc_Daily_Notification_NewRoleAdded]
AS
BEGIN
		Declare @Subject as Nvarchar(200) = ''
		Declare @Body as Nvarchar(MAX)= ''
		Declare @CurrentDate as date =  CAST(Getdate() as DATE) ---CAST('2023-12-05 16:23:56.037' as DATE) 

		IF EXISTS(select 1 from prg_TalentRoles WITH(NOLOCK) WHERE CAST(CreatedbyDatetime as DATE) = @CurrentDate)
			BEGIN
						
						
						DECLARE @TalentTable as NVARCHAR(MAX) = ''

						IF OBJECT_ID('tempdb..#RoleDetails') is not null
						  DROP TABLE #RoleDetails

						CREATE TABLE #RoleDetails
						(
							Role_ID			bigint,
							Role			Nvarchar(100),
							Client			Nvarchar(500),
							CreatedDate		Nvarchar(20)
						)

						Insert into #RoleDetails(Role_ID,Role,Client,CreatedDate)
						select	TR.Id,TR.TalentRole,CO.FullName + '( ' + CO.EmailID  + ' )',Convert(nvarchar(15),TR.CreatedbyDatetime,103)
						from	prg_TalentRoles TR WITH(NOLOCK) 
								inner join gen_Contact CO WITH(NOLOCK) ON CO.ID = TR.ModifyByID
						WHERE	CAST(TR.CreatedbyDatetime as DATE) = @CurrentDate
								and Isnull(ModifyByID,0) > 0

						IF EXISTS (SELECT 1 FROM #RoleDetails)
							BEGIN
								Set @TalentTable ='Role Details as below <br/><br/>
									<table style="border:1px solid black; border-collapse: collapse;" width="60%">
									<tr style="border:1px solid black; border-collapse: collapse;">
										<th style="text-align:left;border:1px solid black; border-collapse: collapse;">Role</th>
										<th style="text-align:left;border:1px solid black; border-collapse: collapse;">Client</th>
										<th style="text-align:left;border:1px solid black; border-collapse: collapse;">Date</th>
									</tr>';

								SELECT @TalentTable += '<tr style="border:1px solid black; border-collapse: collapse;">
										<td style="text-align:left;border:1px solid black; border-collapse: collapse;">'+ Role +'</td>
										<td style="text-align:left;border:1px solid black; border-collapse: collapse;">'+ Client +'</td>
										<td style="text-align:left;border:1px solid black; border-collapse: collapse;">'+ CreatedDate +'</td>
									</tr>'
								FROM #RoleDetails

								SET @TalentTable += '</table>';
							END


						SET @Subject = 'New Role Added in UTS on ' + CONVERT(Nvarchar(20),@CurrentDate,103) 
						SET @Body = N'Hello Team, 
									Gentle Reminder!
									<br/>
									<div style="width:100%">
									<br/>
									Please find below details:
									<br/>									
									' + @TalentTable + ' 
									<br/>									
									<br/>
									Thanks
									<br/>
									 Uplers Talent Solutions Team
									<br/>
									<hr>
									 We are committed to your privacy.
									 You may unsubscribe from these communications at any time.
									 For more information, check out our <a class="link" href="https://talent.uplers.com/privacy-policy/" target="_blank">Privacy Policy</a>.
									</div>'

			END

		
		SELECT Isnull(@Subject,'') as Subject,Isnull(@Body,'') as Body

		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Daily_Notification_NewRoleAdded'
		

END