ALTER PROCEDURE [dbo].[sproc_ClientBasedReport_WithHubSpot]
@FromDate			NVARCHAR(50)	= NULL,
@ToDate				NVARCHAR(50)	= NULL,
@GEOId				bigint			= 0,
@CompanyCategory	NVARCHAR(10)	= NULL,
@SalesManagerID		bigint			= 0,
@SalesManagerIDs    NVARCHAR(MAX)   = '' -- Added for UTS to handle multiselect.
AS
BEGIN
			DECLARE @AllManagerNames NVARCHAR(MAX) = '';

			IF OBJECT_ID('tempdb..##HubSpot_Client') IS NOT NULL
				DROP TABLE ##HubSpot_Client;
			IF OBJECT_ID('tempdb..##Tbl_Manager') IS NOT NULL
				DROP TABLE ##Tbl_Manager;
			IF OBJECT_ID('tempdb..#HeadTbl') IS NOT NULL
				DROP TABLE #HeadTbl;
			IF Object_Id('tempdb..#HR_ClientWiseRecords') IS Not Null
				DROP Table #HR_ClientWiseRecords;
			IF OBJECT_ID('tempdb..#ClientBasedReport') Is not null
				DROP TABLE #ClientBasedReport
			IF OBJECT_ID('tempdb..#NBD_Clients') is not null
				DROP TABLE #NBD_Clients;
		
		 begin----Added For HubSpot stages
			IF Object_Id('temp_db..#HubSpot_ClientRecords') IS Not Null
			   DROP Table #HubSpot_ClientRecords;
		end


		 BEGIN  --Create Temp Table.
				CREATE TABLE ##HubSpot_Client(RowType int,ManagerName NVARCHAR(300), ManagerID bigint, Duration NVARCHAR(100)); 
				CREATE TABLE ##Tbl_Manager(ID int primary key identity(1,1), SM_ID bigint, SM_Name nvarchar(200));
				CREATE TABLE #HeadTbl(HeadID bigint);
				CREATE TABLE #NBD_Clients(ID int primary key identity(1,1), ClientID bigint, NBDID bigint);
				CREATE TABLE #ClientBasedReport(ID	int Identity (1,1),StageName Nvarchar(100),StageValue int  default 0,Sequence int,ActionID nvarchar(20))
				CREATE TABLE #HR_ClientWiseRecords
					(
						HR_ID					bigint,
						IsAccepted				int,
						IsAdhocHR				bit,
						HRStatus				int,
						SalesUserID				bigint,
						ParentID				bigint,
						CreatedByDateTime		datetime,
						HR_DetailID				bigint,
						ContactID				bigint,
						IsActive				bit,
						Action_ID				bigint,
						Talent_ID				bigint,
						HistoryID				bigint,
						Availability			NVARCHAR(200),
						GEO						NVARCHAR(100),
						CompanyCategory			NVARCHAR(10)
					)

				CREATE TABLE #HubSpot_ClientRecords
				(
					ID						int primary key identity(1,1),
					DealID					Nvarchar(100),
					Stage					Nvarchar(100),
					Deal_OwnerID			bigint,
					ParentID				bigint,
					CreatedByDateTime		datetime,
					StageID					bigint,
					ContactID				bigint
				)	
		END	 
	 
		 begin   -- Insert Clinet Stages with HubSpot Stages  #ClientBasedReport
			 INSERT INTO #ClientBasedReport(StageName,Sequence, ActionID)
			 select ClientStageName,Sequence,ActionID from Prg_ClientStage_WithHubSpotStage WITH(NOLOCK)
		 end

		 begin	 -- NBD Clients Table  #NBD_Clients
				INSERT INTO #NBD_Clients(ClientID, NBDID)
				SELECT distinct H.ContactID as ClientID, ISNULL(His.SalesUserID,0) NBDID  
				from	gen_SalesHiringRequest H with(nolock) 
						INNER JOIN gen_History His with(nolock) on H.ID = His.HiringRequest_ID 
						INNER JOIN gen_Contact CO with(nolock) on H.ContactID = CO.ID
						INNER JOIN usr_User U with(nolock) on His.SalesUserID = U.ID 
				where	(U.UserTypeID = 4 or U.UserTypeID =9) and U.IsNewUser = 1
						and cast(His.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)
				
		 end

		 begin   -- Insert all hierarchy of sales Manager #HR_ClientWiseRecords
				IF @SalesManagerID > 0
					BEGIN
						;WITH cteUser AS (    
							SELECT	   u.ID AS UserID, 
									   uh.ParentID,
									   u.FirstName AS Name,
									   0 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
							LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID
							WHERE      u.ID = @SalesManagerID 
 
						UNION ALL
 
							SELECT u.ID AS UserID,
									child.ParentID,
									u.FirstName AS Name,
									[Level]+1 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
							INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
							INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
						) 
		
						INSERT INTO #HR_ClientWiseRecords(HR_ID, IsAccepted, IsAdhocHR, HRStatus, SalesUserID, ParentID, CreatedByDateTime, HR_DetailID, ContactID, IsActive,Action_ID, Talent_ID, HistoryID, Availability, GEO, CompanyCategory)
						SELECT	H.ID, ISNULL(H.IsAccepted,0) IsAccepted , ISNULL(H.IsAdhocHR, 0) IsAdhocHR, H.Status_ID as HRStatus, His.SalesUserID as SalesUserID, CT.Parentid as ParentID,His.CreatedByDatetime CreatedByDatetime,
								HD.ID, H.ContactID, ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID, ISNULL(His.Talent_ID,0) Talent_ID,His.ID as HistoryID , ISNULL(H.Availability,'') Availability, ISNULL(G.GEO,'') as GEO, 
								ISNULL(COM.Category,'') as CompanyCategory
						FROM	gen_SalesHiringRequest H with(nolock) INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
								INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
								INNER JOIN prg_HiringRequestStatus HRS with(nolock) on HRS.ID = H.Status_ID
								INNER JOIN #NBD_Clients C on H.ContactID = C.ClientID and C.NBDID = His.SalesUserID
								inner join cteUser CT ON CT.UserID = C.NBDID
								INNER JOIN usr_User U with(nolock) ON C.NBDID = U.ID 
								INNER JOIN usr_UserHierarchy UH with(nolock) ON C.NBDID = UH.UserID
								INNER JOIN gen_Contact CO with(nolock) on H.ContactID = CO.ID
								INNER JOIN gen_Company COM with(nolock) on CO.CompanyID = COM.ID 
								LEFT JOIN prg_GEO G with(nolock) on ISNULL(COM.GEO_ID,0) = ISNULL(G.ID,0)
						WHERE  (cast(His.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))
							  and ISNULL(G.ID,0) = CASE WHEN @GEOId <> 0 THEN @GEOId ELSE ISNULL(G.ID,0) END
							  and ISNULL(COM.Category,'') IN (CASE WHEN @CompanyCategory <> '' THEN @CompanyCategory ELSE ISNULL(COM.Category,'') END)
							  and U.IsNewUser = 1;
				END
				ELSE IF ISNULL(@SalesManagerIDs,'') <> '' 
					BEGIN
					;WITH cteUser AS (    
						SELECT	   u.ID AS UserID, 
								   uh.ParentID,
								   u.FirstName AS Name,
								   0 AS [Level]
						FROM       [dbo].[usr_User] u with(nolock)
						LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID
						WHERE      u.ID IN (select val from dbo.f_split(@SalesManagerIDs,','))
 
					UNION ALL
 
						SELECT u.ID AS UserID,
								child.ParentID,
								u.FirstName AS Name,
								[Level]+1 AS [Level]
						FROM       [dbo].[usr_User] u with(nolock)
						INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
						INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
					) 
		
					INSERT INTO #HR_ClientWiseRecords(HR_ID, IsAccepted, IsAdhocHR, HRStatus, SalesUserID, ParentID, CreatedByDateTime, HR_DetailID, ContactID, IsActive,Action_ID, Talent_ID, HistoryID, Availability, GEO, CompanyCategory)
					SELECT	H.ID, ISNULL(H.IsAccepted,0) IsAccepted , ISNULL(H.IsAdhocHR, 0) IsAdhocHR, H.Status_ID as HRStatus, His.SalesUserID as SalesUserID, CT.Parentid as ParentID,His.CreatedByDatetime CreatedByDatetime,
							HD.ID, H.ContactID, ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID, ISNULL(His.Talent_ID,0) Talent_ID,His.ID as HistoryID , ISNULL(H.Availability,'') Availability, ISNULL(G.GEO,'') as GEO, 
							ISNULL(COM.Category,'') as CompanyCategory
					FROM	gen_SalesHiringRequest H with(nolock) INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
							INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
							INNER JOIN prg_HiringRequestStatus HRS with(nolock) on HRS.ID = H.Status_ID
							INNER JOIN #NBD_Clients C on H.ContactID = C.ClientID and C.NBDID = His.SalesUserID
							--inner join cteUser CT ON CT.UserID = H.SalesUserID
							inner join cteUser CT ON CT.UserID = C.NBDID
							INNER JOIN usr_User U with(nolock) ON C.NBDID = U.ID 
							INNER JOIN usr_UserHierarchy UH with(nolock) ON C.NBDID = UH.UserID
							INNER JOIN gen_Contact CO with(nolock) on H.ContactID = CO.ID
							INNER JOIN gen_Company COM with(nolock) on CO.CompanyID = COM.ID 
							LEFT JOIN prg_GEO G with(nolock) on ISNULL(COM.GEO_ID,0) = ISNULL(G.ID,0)
					WHERE  (cast(His.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))
						  and ISNULL(G.ID,0) = CASE WHEN @GEOId <> 0 THEN @GEOId ELSE ISNULL(G.ID,0) END
						  and ISNULL(COM.Category,'') IN (CASE WHEN @CompanyCategory <> '' THEN @CompanyCategory ELSE ISNULL(COM.Category,'') END)
						  and U.IsNewUser = 1;
				END
				ELSE
					BEGIN
						select distinct ID as SM_ID into #SalesManager from usr_User where UserTypeID = 9;
						;WITH cteUser AS (
								SELECT	   u.ID AS UserID, 
										   uh.ParentID,
										   u.FullName AS Name,
										   (select top 1 U.ID from usr_user U where U.ID = TS.SM_ID) as MainParentID,
										   0 AS [Level]
								FROM       [dbo].[usr_User] u with(nolock)
											inner join #SalesManager TS ON U.ID = TS.SM_ID    
										   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID			
 
							UNION ALL
 
								SELECT u.ID AS UserID,
										child.ParentID,
										u.FullName AS Name,
										cte.MainParentID as MainParentID,
										[Level]+1 AS [Level]
								FROM       [dbo].[usr_User] u with(nolock)
								INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
								INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
						)
			
						INSERT INTO #HR_ClientWiseRecords(HR_ID, IsAccepted, IsAdhocHR, HRStatus, SalesUserID, ParentID, CreatedByDateTime, HR_DetailID, ContactID, IsActive,Action_ID, Talent_ID, HistoryID, Availability, GEO, CompanyCategory)
						SELECT	H.ID, ISNULL(H.IsAccepted,0) IsAccepted , ISNULL(H.IsAdhocHR, 0) IsAdhocHR, H.Status_ID as HRStatus, His.SalesUserID as SalesUserID, UH.ParentID as ParentID,His.CreatedByDatetime CreatedByDatetime,
								HD.ID, H.ContactID, ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID, ISNULL(His.Talent_ID,0) Talent_ID,His.ID as HistoryID , ISNULL(H.Availability,'') Availability, ISNULL(G.GEO,'') as GEO, 
								ISNULL(COM.Category,'') as CompanyCategory
						FROM	gen_SalesHiringRequest H with(nolock) INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
								INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
								INNER JOIN prg_HiringRequestStatus HRS with(nolock) on HRS.ID = H.Status_ID
								INNER JOIN #NBD_Clients C on H.ContactID = C.ClientID and C.NBDID = His.SalesUserID
								--inner join cteUser CT ON CT.UserID = H.SalesUserID
								inner join cteUser CT ON CT.UserID = C.NBDID 
								INNER JOIN usr_User U with(nolock) ON C.NBDID = U.ID 
								INNER JOIN usr_UserHierarchy UH with(nolock) ON C.NBDID = UH.UserID
								INNER JOIN gen_Contact CO with(nolock) on H.ContactID = CO.ID
								INNER JOIN gen_Company COM with(nolock) on CO.CompanyID = COM.ID 
								LEFT JOIN prg_GEO G with(nolock) on ISNULL(COM.GEO_ID,0) = ISNULL(G.ID,0)
						WHERE  (cast(His.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))
							  and ISNULL(G.ID,0) = CASE WHEN @GEOId <> 0 THEN @GEOId ELSE ISNULL(G.ID,0) END
							  and ISNULL(COM.Category,'') IN (CASE WHEN @CompanyCategory <> '' THEN @CompanyCategory ELSE ISNULL(COM.Category,'') END)
							  and U.IsNewUser = 1;
				END
		 end
		
		 begin   -- Insert all the Heads #HeadTbl
			INSERT INTO #HeadTbl(HeadID)
			SELECT distinct ID from usr_User with(nolock) where DeptID = 1 and LevelID = 1;
		 end

		 begin   -- Insert all ##Tbl_Manager
						INSERT INTO ##Tbl_Manager(SM_ID, SM_Name)						
							SELECT distinct U.ID, U.FullName 
							from	usr_User U with(nolock) 
									INNER JOIN usr_UserHierarchy UH with(nolock) ON UH.ParentID = U.ID
									INNER JOIN #HeadTbl H on U.ID = H.HeadID
							WHERE U.UserTypeID = 9  and U.IsActive = 1 
						UNION 
							SELECT distinct U.ID, U.FullName 
							from	usr_User U with(nolock) 
									INNER JOIN usr_UserHierarchy UH with(nolock) ON UH.ParentID = U.ID
									INNER JOIN #HeadTbl H on U.ID = H.HeadID
							WHERE  U.UserTypeID = 11  and U.IsActive = 1 
						UNION 
							SELECT distinct U.ID, U.FullName 
							from	usr_User U with(nolock) 
									INNER JOIN usr_UserHierarchy UH with(nolock) ON UH.ParentID = U.ID
									INNER JOIN #HeadTbl H on U.ID = H.HeadID
							WHERE	U.UserTypeID = 12  and U.IsActive = 1

						INSERT INTO ##HubSpot_Client(RowType,ManagerName, ManagerID)
							SELECT ROW_NUMBER() OVER(PARTITION BY SM_ID ORDER BY SM_ID ASC) RowID, SM_Name, SM_ID from ##Tbl_Manager;

						INSERT INTO ##HubSpot_Client(RowType,ManagerName,ManagerID)
							VALUES (-1,'Final Total',0)
						

						SET @AllManagerNames = (SELECT stuff((select ',' + '[' + SM_Name + ']' from ##Tbl_Manager RP for xml path('') ),1,1,''));


		END

		 begin   -- Insert into #HubSpot_ClientRecords
				 select distinct  SM_ID into #SalesManagerDeal from ##Tbl_Manager
				 ;WITH cteUser_AfterPS AS (    
							SELECT	   u.ID AS UserID, 
									   uh.ParentID,
									   u.FullName AS Name,
									   (select top 1 U.ID from usr_user U where U.ID = TS.SM_ID) as MainParentID,
									   0 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
										inner join #SalesManagerDeal TS ON U.ID = TS.SM_ID    
									   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID			
 
						UNION ALL
 
							SELECT u.ID AS UserID,
									child.ParentID,
									u.FullName AS Name,
									cte.MainParentID as MainParentID,
									[Level]+1 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
							INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
							INNER JOIN cteUser_AfterPS cte  ON cte.UserID = child.ParentID
					)					
					INSERT INTO #HubSpot_ClientRecords(DealID,Stage,Deal_OwnerID,ParentID,CreatedByDateTime,StageID,ContactID)
					SELECT distinct	D.DealID,DS.Stage,D.AM_ID,TS.MainParentID,D.CreatedByDatetime,D.DealStageID,CO.ID
					FROM	gen_Deals D WITH(NOLOCK) 
							inner join prg_DealStages DS WITH(NOLOCK) ON DS.HubSpot_Stage = D.DealStage
							inner join usr_User U WITH(NOLOCK) ON U.ID = D.AM_ID
							INNER JOIN cteUser_AfterPS TS ON  D.AM_ID = TS.UserID
							INNER join gen_HubSpotContact HCO with(Nolock) ON HCO.ContactID = D.clientID 							INNER join gen_HubSpotCompany HC WITH(NOLOCK) ON HC.Companyid = HCO.CompanyID							INNER join gen_Company C WITH(NOLOCK) ON C.Hubspot_company = HC.Companyid							INNER join gen_Contact CO WITH(NOLOCK) ON CO.Companyid = C.ID and D.clientID = CO.HubSpot_ContactID
							INNER Join prg_GEO G WITH(NOLOCK) ON G.ID = C.GEO_ID
					WHERE ((cast(D.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)))					
		 end
		
			  
		   PRINT('DC Stage');		
		   begin ---DC Stage 
				UPDATE H
							SET    H.StageValue = Isnull(Z.ContactIDSum,0)
							FROM   #ClientBasedReport H 
								  inner join 
								  (
									SELECT ISNULL(SUM(X.ContactIDCount),0) as ContactIDSum 
									FROM (
											SELECT	COUNT(distinct H.ContactID) as ContactIDCount
											FROM	#HubSpot_ClientRecords H with(nolock)
											WHERE   (cast(H.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))
													and (Stage in ('Discovery call Done','Discovery call Scheduled','Discover call Rescheduled','Discovery call Goals'))
													and Not Exists (Select	1 
																	from	#HubSpot_ClientRecords H1 																		
																	Where	H1.CreatedByDatetime > H.CreatedByDatetime and
																			cast(H1.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)
																			and H1.DealID = H.DealID 
																	) 
										) X
									) Z on 1 = 1 
							WHERE H.ID = 1;
		   end

		   PRINT('SAL Stage');		
		   begin ---SAL Stage
				UPDATE H
							SET    H.StageValue = Isnull(Z.ContactIDSum,0)
							FROM   #ClientBasedReport H 
								  inner join 
								  (
									SELECT ISNULL(SUM(X.ContactIDCount),0) as ContactIDSum 
									FROM (
											SELECT	COUNT(distinct H.ContactID) as ContactIDCount
											FROM	#HubSpot_ClientRecords H with(nolock)
											WHERE   (cast(H.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))
													and (Stage in ('Tet SAL To IV','SAL Achieved','SAL Goals'))
													and Not Exists (Select	1 
																	from	#HubSpot_ClientRecords H1 																		
																	Where	H1.CreatedByDatetime > H.CreatedByDatetime and
																			cast(H1.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)
																			and H1.DealID = H.DealID 
																	) 
										) X
									) Z on 1 = 1 
							WHERE H.ID = 2;
		   end

		   PRINT('HR Accepted Stage');		
		   begin ---HR Accepted Stage 
				UPDATE H
							SET    H.StageValue = Isnull(Z.ContactIDSum,0)
							FROM   #ClientBasedReport H 
								  inner join 
								  (
									SELECT ISNULL(SUM(X.ContactIDCount),0) as ContactIDSum 
									FROM (
											SELECT	COUNT(distinct H.ContactID) as ContactIDCount
											FROM	#HR_ClientWiseRecords H with(nolock)
											WHERE   (cast(H.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))								  
													and ISNULL(H.IsAccepted,0) = 1 And ISNULL(H.IsActive,0) = 1 and H.Action_ID = 17
													and Not Exists (Select	1 
																	from	#HR_ClientWiseRecords H1 
																			inner join #ClientBasedReport CB ON Cast(H1.Action_ID as nvarchar(10)) in (select val from dbo.f_split(CB.ActionID,',')) 
																	Where	H1.CreatedByDatetime > H.CreatedByDatetime and
																			cast(H1.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)
																			and H1.HR_ID = H.HR_ID 
																	) 
										) X
									) Z on 1 = 1 
							WHERE H.ID = 3;
		   end
	   
		   PRINT('Profile Shared Stage');	
		   begin ---Profile Shared Stage 

				 UPDATE H
							SET    H.StageValue = Isnull(Z.ContactIDSum,0)
							FROM   #ClientBasedReport H 
								  inner join 
								  (
									SELECT ISNULL(SUM(X.ContactIDCount),0) as ContactIDSum 
									FROM (
											SELECT	
													COUNT(distinct H.ContactID) as ContactIDCount
											FROM	#HR_ClientWiseRecords H with(nolock)
													Inner join gen_Talent T WITH(NOLOCK) ON T.ID = H.Talent_ID
													inner join gen_ContactTalentPriority CTP with(nolock) on CTP.TalentID = T.ID and H.HR_ID = CTP.HiringRequestID
													inner join prg_TalentStatus_AfterClientSelection TAS WITH(NOLOCK) ON TAS.ID = CTP.TalentStatusID_BasedOnHR
											WHERE   (cast(H.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))								  
													and ISNULL(H.IsAccepted,0) = 1 And ISNULL(H.IsActive,0) = 1 and H.Action_ID in (6,18,54)
													and Not Exists (Select	1 
																	from	#HR_ClientWiseRecords H1 
																			inner join #ClientBasedReport CB ON Cast(H1.Action_ID as nvarchar(10)) in (select val from dbo.f_split(CB.ActionID,',')) 
																	Where	H1.CreatedByDatetime > H.CreatedByDatetime and
																			cast(H1.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)
																			and H1.HR_ID = H.HR_ID 
																	)
													--and ISNULL(CTP.TalentStatusID_BasedOnHR,0) IN (1,2)
										) X
									) Z on 1=1
							WHERE H.ID = 4;
		   end

		   PRINT('Interview Stage');
		   begin ---Interview Stage 

				UPDATE H
							SET    H.StageValue = Isnull(Z.ContactIDSum,0)
							FROM   #ClientBasedReport H 
								  inner join 
								  (
									SELECT ISNULL(SUM(X.ContactIDCount),0) as ContactIDSum 
									FROM (
											SELECT	
													COUNT(distinct H.ContactID) as ContactIDCount
											FROM	#HR_ClientWiseRecords H with(nolock)
													Inner join gen_Talent T WITH(NOLOCK) ON T.ID = H.Talent_ID
													inner join gen_ContactTalentPriority CTP with(nolock) on CTP.TalentID = T.ID and H.HR_ID = CTP.HiringRequestID
													inner join prg_TalentStatus_AfterClientSelection TAS WITH(NOLOCK) ON TAS.ID = CTP.TalentStatusID_BasedOnHR
											WHERE   (cast(H.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))								  
													and ISNULL(H.IsAccepted,0) = 1  And ISNULL(H.IsActive,0) = 1 and H.Action_ID in (7,9,10,11,46,47)
													and Not Exists (Select	1 
																	from	#HR_ClientWiseRecords H1 
																			inner join #ClientBasedReport CB ON Cast(H1.Action_ID as nvarchar(10)) in (select val from dbo.f_split(CB.ActionID,',')) 
																	Where	H1.CreatedByDatetime > H.CreatedByDatetime and
																			cast(H1.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)
																			and H1.HR_ID = H.HR_ID 
																	)
													--and ISNULL(CTP.TalentStatusID_BasedOnHR,0) IN (3,6)
										) X
									) Z on 1=1
							WHERE H.ID = 5;						
		   end

		   PRINT('Agreement Stage');
		   begin ---Agreement Stage	
				UPDATE H
							SET    H.StageValue = Isnull(Z.ContactIDSum,0)
							FROM   #ClientBasedReport H 
								  inner join 
								  (
									SELECT ISNULL(SUM(X.ContactIDCount),0) as ContactIDSum 
									FROM (
											SELECT	
													COUNT(distinct H.ContactID) as ContactIDCount
											FROM	#HR_ClientWiseRecords H with(nolock)
													Inner join gen_Talent T WITH(NOLOCK) ON T.ID = H.Talent_ID
													inner join gen_ContactTalentPriority CTP with(nolock) on CTP.TalentID = T.ID and H.HR_ID = CTP.HiringRequestID
													inner join prg_TalentStatus_AfterClientSelection TAS WITH(NOLOCK) ON TAS.ID = CTP.TalentStatusID_BasedOnHR
											WHERE   (cast(H.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))								  
													and ISNULL(H.IsAccepted,0) = 1 And ISNULL(H.IsActive,0) = 1 and H.Action_ID in (12,60)
													and Not Exists (Select	1 
																	from	#HR_ClientWiseRecords H1 
																			inner join #ClientBasedReport CB ON Cast(H1.Action_ID as nvarchar(10)) in (select val from dbo.f_split(CB.ActionID,',')) 
																	Where	H1.CreatedByDatetime > H.CreatedByDatetime and
																			cast(H1.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)
																			and H1.HR_ID = H.HR_ID 
																	) 
													--and ISNULL(CTP.TalentStatusID_BasedOnHR,0) = 4
										) X
									) Z on 1=1
							WHERE H.ID = 6;
		   end

		   PRINT('Closed Clients');
		   begin ---Closed Clients

				UPDATE H
							SET    H.StageValue = Isnull(Z.ContactIDSum,0)
							FROM   #ClientBasedReport H 
								  inner join 
								  (
									SELECT ISNULL(SUM(X.ContactIDCount),0) as ContactIDSum 
									FROM (
											SELECT	
													COUNT(distinct H.ContactID) as ContactIDCount
											FROM	#HR_ClientWiseRecords H with(nolock)
													--INNER JOIN #NBD_Clients N on H.ContactID = N.ClientID 
													--INNER JOIN gen_History His with(nolock) on H.HR_ID = His.HiringRequest_ID and His.CreatedByID = N.NBDID
												
											WHERE   (cast(H.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))								  
													and ISNULL(H.IsAccepted,0) = 1  And ISNULL(H.IsActive,0) = 1 and H.Action_ID = 35
													and Not Exists (Select	1 
																	from	#HR_ClientWiseRecords H1 
																			inner join #ClientBasedReport CB ON Cast(H1.Action_ID as nvarchar(10)) in (select val from dbo.f_split(CB.ActionID,',')) 
																	Where	H1.CreatedByDatetime > H.CreatedByDatetime and
																			cast(H1.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date)
																			and H1.HR_ID = H.HR_ID 
																	)
										) X
									) Z on 1=1
							WHERE H.ID = 7;
		   end

		   PRINT('Lost Prospects');
		   begin ---Lost Prospects	

				IF OBJECT_ID('tempdb..#Client_With_Lost_HR') is not null
					DROP TABLE #Client_With_Lost_HR;
				IF OBJECT_ID('tempdb..#Client_Without_Lost_HR') is not null
					DROP TABLE #Client_Without_Lost_HR;

				CREATE TABLE #Client_With_Lost_HR (ID int primary key identity(1,1), ClientID bigint, LostCount int);

				INSERT INTO #Client_With_Lost_HR(ClientID, LostCount)
				SELECT		H.ContactID, COUNT(distinct H.ContactID)
				FROM		gen_SalesHiringRequest H with(nolock) inner join gen_History His with(nolock) on H.ID = His.HiringRequest_ID
							INNER JOIN gen_Contact CO with(nolock) on H.ContactID = CO.ID
							INNER JOIN gen_Company COM with(nolock) on CO.CompanyID = COM.ID 
							INNER JOIN #NBD_Clients C on H.ContactID = C.ClientID
							LEFT JOIN prg_GEO G with(nolock) on ISNULL(COM.GEO_ID,0) = ISNULL(G.ID,0)
				WHERE		CAST(His.CreatedByDatetime as date) BETWEEN @FromDate and @ToDate and H.DeleteType = 2 and His.Action_ID = 3
							and ISNULL(G.ID,0) = CASE WHEN @GEOId <> 0 THEN @GEOId ELSE ISNULL(G.ID,0) END
							and ISNULL(COM.Category,'') IN (CASE WHEN @CompanyCategory <> '' THEN @CompanyCategory ELSE ISNULL(COM.Category,'') END)
				GROUP BY	H.ContactID;
	

				CREATE TABLE #Client_Without_Lost_HR (ID int primary key identity(1,1), ClientID bigint, HRCount int);

				INSERT INTO #Client_Without_Lost_HR(ClientID, HRCount)
				SELECT		H.ContactID, COUNT(distinct H.ContactID)
				FROM		gen_SalesHiringRequest H with(nolock) inner join gen_History His with(nolock) on H.ID = His.HiringRequest_ID
							INNER JOIN gen_Contact CO with(nolock) on H.ContactID = CO.ID
							INNER JOIN gen_Company COM with(nolock) on CO.CompanyID = COM.ID 
							INNER JOIN #NBD_Clients C on H.ContactID = C.ClientID
							LEFT JOIN prg_GEO G with(nolock) on ISNULL(COM.GEO_ID,0) = ISNULL(G.ID,0)
				WHERE		CAST(His.CreatedByDatetime as date) BETWEEN @FromDate and @ToDate and ISNULL(H.DeleteType,0) IN (0,1) and His.Action_ID != 3
							and ISNULL(G.ID,0) = CASE WHEN @GEOId <> 0 THEN @GEOId ELSE ISNULL(G.ID,0) END
							and ISNULL(COM.Category,'') IN (CASE WHEN @CompanyCategory <> '' THEN @CompanyCategory ELSE ISNULL(COM.Category,'') END)
				GROUP BY	H.ContactID;


				UPDATE H
							SET		H.StageValue = ISNULL(Z.ContactIDSum,0)
							FROM	#ClientBasedReport H
									inner join 
									(
										SELECT ISNULL(SUM(X.ContactIDCount),0) as ContactIDSum 
										FROM (
												select COUNT(distinct H.ContactID) ContactIDCount from gen_SalesHiringRequest H with(nolock) 
												INNER JOIN #HR_ClientWiseRecords CBR on H.ContactID = CBR.ContactID and H.ID = CBR.HR_ID
												INNER JOIN #Client_With_Lost_HR LH on H.ContactID = LH.ClientID
												left JOIN #Client_Without_Lost_HR WLH on H.ContactID = WLH.ClientID
												where ISNULL(LH.LostCount,0) > 0 and ISNULL(WLH.HRCount,0) = 0
											) X
									) Z on 1=1
							WHERE	H.ID = 8;
		   end

	    

			select StageName,StageValue from #ClientBasedReport;

END