CREATE PROCEDURE [dbo].[Sproc_Delete_Company_Funding_Details]
	@CompanyId			BIGINT = 0,
	@FundingId			BIGINT = 0,
	@LoginUserID		INT	= 0,
	@ActionPerformedBy	INT = 0
AS 
BEGIN

		IF EXISTS(SELECT 1 FROM gen_Company_FundingDetails WITH(NOLOCK)	WHERE ID = @FundingId AND CompanyID = @CompanyId)
			BEGIN
					DELETE FROM gen_Company_FundingDetails
					WHERE ID = @FundingId AND CompanyID = @CompanyId
			END

		--Add History Action code below
END