USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_SLAUpdate_History]    Script Date: 26-09-2023 14:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC Sproc_Get_SLAUpdate_History 23190
ALTER PROCEDURE [dbo].[Sproc_Get_SLAUpdate_History]

	@HrId		BIGINT

AS

BEGIN
	
	;WITH cteHistory AS (
		SELECT dbo.Excluding_WeekDays(CreatedByDatetime,5) SLA_DueDate,HiringRequest_ID HrId FROM gen_History WITH(NOLOCK) WHERE HiringRequest_ID = @HrId AND Action_ID = 4
	)

	SELECT SH.Id SlaHistoryId, GH.Id HistoryId, 
			Sh.SLADate, 
			CASE WHEN Lag(Sh.SLADate) Over(Order by Sh.Id asc) IS NULL
				--THEN (SELECT SLA_DueDate FROM gen_History WITH(NOLOCK) WHERE HiringRequest_ID = @HrId AND Action_ID = 4)
				THEN CH.SLA_DueDate
				ELSE Lag(Sh.SLADate) Over(Order by Sh.Id asc)
			END PrevSLADate,
			SH.ReasonId, SR.Reason, SH.OtherReason, SH.CreatedByDateTime
	
	FROM gen_SLA_Edit_History SH WITH(NOLOCK)
	INNER JOIN gen_History GH WITH(NOLOCK) ON SH.HistoryId = GH.ID
	INNER JOIN cteHistory CH ON CH.HrId = GH.HiringRequest_ID
	LEFT JOIN Prg_SLA_Edit_Reasons SR WITH(NOLOCK) ON SH.ReasonId = SR.Id
	WHERE Gh.HiringRequest_ID = @HrId AND Action_ID = 89
	ORDER BY SH.ID ASC

END