USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_SearchLocation]    Script Date: 07-08-2024 17:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_SearchLocation]
    @SearchText NVARCHAR(255)
AS
BEGIN

	IF OBJECT_ID('temdb..#Location') Is not null
		DROP TABLE #Location

	CREATE TABLE #Location
	(
		Row_ID			bigint,
		Location		Nvarchar(MAX)
	)

    -- Search in SubDistrict
    IF EXISTS (
				SELECT 1
				FROM		prg_State_SubDistrict SS WITH(NOLOCK)
							INNER JOIN prg_State_District SD WITH(NOLOCK) ON SS.DistrictID = SD.ID 
				WHERE SS.SubDistrict LIKE @SearchText + '%'
    )
		BEGIN
			Insert into #Location
			SELECT 
			distinct	SD.ID,SS.SubDistrict + ',' + SD.District + ',' + SD.State + ',' + SD.Country AS Location
			FROM		prg_State_SubDistrict SS WITH(NOLOCK)
						INNER JOIN prg_State_District SD WITH(NOLOCK) ON SS.DistrictID = SD.ID 
			WHERE		SS.SubDistrict LIKE @SearchText + '%';
			--RETURN;
		END

    -- Search in Revised City
    IF EXISTS (
				SELECT	1
				FROM	prg_State_SubDistrict SS WITH(NOLOCK)
						INNER JOIN prg_State_District SD WITH(NOLOCK) ON SS.DistrictID = SD.ID 
				WHERE	SD.RevisedCity LIKE @SearchText + '%'
    )
		BEGIN
			Insert into #Location
			SELECT  
			distinct	SD.ID,SD.RevisedCity + ',' + SD.District + ',' + SD.State + ',' + SD.Country AS Location
			FROM		prg_State_SubDistrict SS WITH(NOLOCK)
						INNER JOIN prg_State_District SD WITH(NOLOCK) ON SS.DistrictID = SD.ID 
			WHERE		SD.RevisedCity LIKE @SearchText + '%';
			--RETURN;
		END

    -- Search in District
    IF EXISTS (
				SELECT	1
				FROM	prg_State_District SD WITH(NOLOCK)
				WHERE	SD.District LIKE @SearchText + '%'
    )
		BEGIN
			 Insert into #Location
			SELECT  
			distinct	SD.ID,SD.District + ',' + SD.State + ',' + SD.Country AS Location
			FROM		prg_State_District SD WITH(NOLOCK)
			WHERE		SD.District LIKE @SearchText + '%';
			--RETURN;
		END
	
    -- Search in State
    IF EXISTS (
			SELECT	1
			FROM	prg_State_District SD WITH(NOLOCK)
			WHERE	SD.State LIKE @SearchText + '%'
    )
		BEGIN
		    Insert into #Location
			SELECT 
			distinct	SD.ID,SD.district + ',' + SD.State + ',' + SD.Country AS Location
			FROM		prg_State_District SD WITH(NOLOCK)
			WHERE		SD.State LIKE @SearchText + '%';
			--RETURN;
		END

		select  Row_ID,max(Location) AS Location from #Location group by Row_ID
    
END;
