alter proc Sproc_InsertTicket
@Brief		as nvarchar(50),
@ScreenShot	as nvarchar(50) = NULL,
@RatingStar as int,
@CreatedByID as int
as 
begin

	insert into gen_Ticket (Brief,ScreenShot,RatingStar,CreatedByID,CreatedByDatetime)
	values (@Brief,@ScreenShot,@RatingStar,@CreatedByID,GETDATE());

	select ID= cast(@@IDENTITY as int )

end