USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_UTS_GetBDR_Marketingusers]    Script Date: 02-03-2023 14:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sproc_UTS_GetBDR_Marketingusers]
@ID		int = null
as
begin

select 
	U.Fullname ,U.ID
	from usr_user U WITH(NOLOCK)
	inner join usr_UserRoleDetails UR WITH(NOLOCK) ON UR.User_ID  = U.id
	inner join usr_UserRole UsrR WITH(NOLOCK) ON UsrR.id = UR.UserRole_ID
	where UR.UserRole_ID = @ID
END