ALTER PROCEDURE [dbo].[Sproc_UTS_GetCompanyWhatsappDetails]	@CompanyID			bigint = NULLASBEGIN				SELECT 		CW.ID AS DetailID,		CW.GroupID,		CW.GroupName,		U.FullName + ' (' + U.EmailID + ')' AS GroupCreatedBy,		convert(varchar, CW.CreatedByDateTime, 100) AS GroupCreatedDate,		U1.FullName + ' (' + U1.EmailID + ')' AS GroupMember,		CWD.IsAdmin AS IsAdmin,		U1.EmployeeID,		U1.ContactNumber		FROM gen_Company_WhatsappDetails CW WITH(NOLOCK) 		INNER JOIN gen_Company_WhatsappMember_Details CWD WITH(NOLOCK) 	ON CW.ID = CWD.WhatsappDetailID		INNER JOIN Usr_User U WITH(NOLOCK) ON U.ID = CW.CreatedByID		INNER JOIN Usr_User U1 WITH(NOLOCK) ON U1.ID = CWD.UserID		WHERE CW.CompanyID = @CompanyIDEND