CREATE PROCEDURE [dbo].[Sproc_UTS_Update_OnHold_Status_To_PreviousStatus]
	@HiringRequest_Id			bigint = null,
	@ContactTalentPriority_Id   bigint = null
AS
BEGIN

		DECLARE @Previous_TalentStatusID_BasedOnHR as int
		Declare @Talent_Id as Bigint

		DECLARE @Previous_RoleStatusID AS BIGINT
		SELECT @Previous_RoleStatusID = ISNULL(Previous_RoleStatusID,0) FROM gen_SalesHiringRequest_Details WITH(NOLOCK) WHERE HiringRequest_ID = @HiringRequest_Id

		IF @ContactTalentPriority_Id<>0
		BEGIN
			SELECT @Previous_TalentStatusID_BasedOnHR = ISNULL(Previous_TalentStatusID_BasedOnHR,0),
				   @Talent_Id = TalentID
			from   gen_ContactTalentPriority WITH(NOLOCK)
			WHERE  ID = @ContactTalentPriority_Id

			IF @Previous_TalentStatusID_BasedOnHR <> 0
			BEGIN
					UPDATE gen_ContactTalentPriority
					SET    TalentStatusID_BasedOnHR = @Previous_TalentStatusID_BasedOnHR
					WHERE  ID = @ContactTalentPriority_Id 

					UPDATE gen_Talent
					SET    TalentStatusID_AfterClientSelection = @Previous_TalentStatusID_BasedOnHR
					where  ID = @Talent_Id
			END
		END
		ELSE -- Added By Reena Jain(23-Aug-2022): Update Onhold Status to Previous Status
		BEGIN
			

			IF @Previous_RoleStatusID <> 0
			BEGIN
					UPDATE gen_SalesHiringRequest_Details
					SET    RoleStatus_ID = @Previous_RoleStatusID,
						   Previous_RoleStatusID = null
					WHERE  HiringRequest_ID = @HiringRequest_Id

					--Payal (25-11-2022) 
					UPDATE H
					SET    H.Status_ID = RS.HR_StatusID
					FROM gen_SalesHiringRequest H Inner join gen_SalesHiringRequest_Details HD WITH(nolock) ON H.ID = HD.HiringRequest_ID
					Inner join prg_HiringRequest_RoleStatus RS WITH(NOLOCK) ON HD.RoleStatus_ID = RS.ID
					WHERE  HD.HiringRequest_ID = @HiringRequest_Id
					
			END
		END
		print @Previous_TalentStatusID_BasedOnHR
		print @Talent_Id 
END