ALTER PROCEDURE [dbo].[Sproc_UTS_Get_TalentDetails_For_ContractualtoDP_Conversion] 
	@HiringRequest_Id		bigint = NULL
AS
BEGIN
		select  Talentname = ISNULL(T.Name,T.FirstName),
				TalentID = T.ID,  
				ExpectedCTC = Isnull(CTP.TalentCost,T.FinalCost),
				DPPercentage = ISNULL(CTP.DP_Percentage, H.DPPercentage),
				DPAmount = Isnull(CTP.DPAmount,0),
				ContactTalentPriorityID = CTP.ID,
				OnBoardID = Isnull(OBT.ID,0),
				HRID = H.ID,
				CurrentCTC = CASE WHEN ISNULL(T.CurrentCtc,0) <> 0 THEN Cast(ISNULL(T.CurrentCtc,0) as decimal(18,0))
								  ELSE Cast(ISNULL(CTP.Current_CTC,0) as decimal(18,0))
							      END 
		from    gen_SalesHiringRequest H With(NOlock)
				inner join gen_ContactTalentPriority CTP with(NOlock) ON CTp.HiringRequestID = H.ID				
				inner join gen_Talent T With(Nolock) ON T.ID = CTP.TalentID
				left join gen_OnBoardTalents OBT With(Nolock) on OBT.HiringRequest_ID = H.ID and OBT.Talent_ID = CTp.TalentID
		where   ISNull(CTP.IsHRTypeDP,0) = 0
				and H.ID = @HiringRequest_Id

END