ALTER proc [dbo].[sproc_UTS_gen_ContactTalentPriorityupdate]
@ID bigint							= NULL,
@Cost_AfterAcceptance decimal(19,2) = NULL, -- PR
@HR_Cost decimal(19,2)				= NULL, -- BR
@TalentId	bigint					= NULL,
@Hr_Percentage  decimal(19,2)		= Null
as
begin	


	-- @Cost_AfterAcceptance  = PR
    -- @HR_Cost =  BR


	--added By jimit 15032022  for dynamic currency from table
	  declare @CostAfterAcceptance nvarchar(50) = NULL
	  Declare @CurrencySign AS nvarchar(50)= ''
	  DECLARE @HiringRequestDetailID as bigint = 0
	  DECLARE @HiringRequestID as bigint = 0
	  Declare @CurrencyExchangeRate as decimal(18,2) = 0
	  Declare @Currency as nvarchar(50) =''
	  DECLARE @ContactPriorityTalent as bigint = 0
	  Declare @LatestHRCost decimal(19,2) = 0
	  Declare @Min_Cost as decimal(18,2) =0  
	  Declare @HRCost_calculationpercent AS decimal(18,2) = 0
	  Declare @UplersFeesAmount DECIMAL(18,2) =0;

	  declare @HRCost nvarchar(50) = NULL

	 select top 1  
	 @HiringRequestDetailID = HiringRequest_Detail_ID,
	 @HiringRequestID = HiringRequestID, 
	 @ContactPriorityTalent= TalentID,
	 @HRCost_calculationpercent = ISNULL(CTP.NRPercentage,H.TalentCostCalcPercentage)
	 from  gen_ContactTalentPriority  CTP WITH(NOLOCK)  
	 INNER JOIN gen_SalesHiringRequest H WITH(NOLOCK) on H.ID = CTP.HiringRequestID
	 WHERE CTP.ID = @ID

	 SELECT top 1 @CurrencySign = CurrencySign,@CurrencyExchangeRate = ExchangeRate, @Currency = isnull(Currency,'USD') 
	 from	prg_CurrencyExchangeRate CER WITH(NOLOCK)
			inner join gen_SalesHiringRequest_Details SD with(nolock) ON CER.CurrencyCode = SD.Currency 
	 where	SD.ID = @HiringRequestDetailID

	 If @Currency = 'INR'
		 SET @CurrencySign = NCHAR(8377)
	 --ended

	 IF(isnull(@Hr_Percentage,0) > 0)
	BEGIN
		SET @HRCost_calculationpercent = @Hr_Percentage 
		print '@HRCost_calculationpercent' + cast(@Hr_Percentage as nvarchar(200))
	END

	-- Talent Pay Rate >0 
	if(@Cost_AfterAcceptance > 0 )
	begin
		
		SELECT @CostAfterAcceptance = @CurrencySign + replace(cast(@Cost_AfterAcceptance as nvarchar(50)), '.00','') + ' '+ @Currency+ ' / Month'


			SET @Min_Cost = @Cost_AfterAcceptance
			 
			SELECT 
			@LatestHRCost = CalculatedClientPay, 
			@Min_Cost = CalculatedTalentPay, 
			@UplersFeesAmount = CalculatedUplersFeesInAmount, 
			@HRCost_calculationpercent = CalculatedUplersFeesInPer
			FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@Min_Cost, 0, 0, @HRCost_calculationpercent, 0);

			SET @HRCost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@LatestHRCost,0) AS MONEY), 1) + ' '+ @Currency+' / Month' 



		 --  HR_Cost = ISNULL(@HRCost,HR_Cost) : Added by Reena Jain(1-Feb-2023): Update Talent Cost, HR_Cost when Talent Fee Update from Selected HR Screen.   
		update gen_ContactTalentPriority set
			   Cost_AfterAcceptance = ISNULL(@CostAfterAcceptance,Cost_AfterAcceptance),
			   Final_HR_Cost = isnull(@LatestHRCost,Final_HR_Cost),
			   TalentCost = isnull(@Cost_AfterAcceptance,TalentCost),
			   HR_Cost = ISNULL(@HRCost,HR_Cost),
			   UplersfeesAmount = CONVERT(varchar, CAST( @UplersFeesAmount AS MONEY), 1)
		where id = @id
		
		-- added by Roopal (04 March 2022)
		update gen_talent set fees = ISNULL(@CostAfterAcceptance,Fees),FinalCost = isnull(@Cost_AfterAcceptance,finalcost) WHERE ID = @TalentId

	end
	--else if(@HR_Cost > 0) 
	--begin 
	--	-- added by Roopal (09 March 2022)		
		
	--		SELECT @HRCost = @CurrencySign + replace(cast(@HR_Cost as nvarchar(50)), '.00','') + ' '+ @Currency+ ' / Month'

	--		update gen_ContactTalentPriority set 
	--			   HR_Cost = ISNULL(@HRCost,HR_Cost),
	--			   Final_HR_Cost = isnull(@HR_Cost,Final_HR_Cost)
	--		where id = @id	
	--end

	-- Payal (1-02-2023) : update on board table from gen_ContactTalentPriority 
	-- Added By Reena Jain(30-Jan-2023):Update Final HR cost when HR cost Update
		IF EXISTS(SELECT 1 FROM gen_OnBoardTalents WITH(NOLOCK) WHERE Talent_ID =@ContactPriorityTalent AND HiringRequest_ID = @HiringRequestID and Status_ID =1 )
		BEGIN
				UPDATE OBT 
				SET OBT.Final_HR_Cost = CTP.Final_HR_Cost,
					OBT.NRPercentage = CTP.NRPercentage,
					OBT.Talent_Cost = CTP.TalentCost
				From gen_OnBoardTalents OBT inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON OBT.HiringRequest_ID = CTP.HiringRequestID  AND OBT.ContactID = CTP.ContactID  AND OBT.Talent_ID = CTP.TalentID AND OBT.Status_ID =1
				WHERE Talent_ID = @ContactPriorityTalent AND HiringRequest_ID = @HiringRequestID and OBT.Status_ID =1 
		END
	--end

	--Added By jimit 31032022 To update  USD amount in Table for newly added columns
	update	gen_ContactTalentPriority 
	set		 Currency_Final_HR_Cost = Final_HR_Cost, --* @CurrencyExchangeRate,
			 Currency_HR_Base_Cost = HR_Base_Cost, --* @CurrencyExchangeRate,
			 NRPercentage = @Hr_Percentage
	where	id = @id
	--Ended
end
