USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_InviteClient_UTS_Admin]    Script Date: 26-06-2024 19:37:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_InviteClient_UTS_Admin]
	@FullName			nvarchar(500)	=  NULL, 
	@WorkEmail			nvarchar(250)	=  NULL, 
	@CompanyName		nvarchar(250)	=  NULL, 
	@Password			nvarchar(250)	=  NULL, 	
	@ClientIPAddress	nvarchar(50)	=  NULL,
	@OTP				NVARCHAR(20)	=  NULL,
	@FirstName			NVARCHAR(250)	=  NULL,
	@LastName			NVARCHAR(250)	=  NULL,
	@FreeCredit			int = 0,
	@CompanyTypeID		int = 1,  --1 =  Pay Per Hire  2 = Pay Per Credit System 
	@LoggedInUserID		bigint = 0,
	@CookieID			bigint = 0,
	@CompanyURL			NVARCHAR(250)	=  NULL,
	@CompanySize		int = NULL,
	@CompanyIndustryType NVARCHAR(MAX) = NULL,
	@BriefAboutCompany   NVARCHAR(MAX) = NULL,
	@Country			Nvarchar(100) = null,
	@State				Nvarchar(100) = null,
	@City				Nvarchar(100) = null,
	@Browser			Nvarchar(MAX) = null,
	@Device				Nvarchar(100) = null,
	@ContactNumber		NVARCHAR(200) = NULL,
	@IsPostaJob			bit   = 0,
	@IsProfileView		bit = 0,
	@AnotherCompanyTypeID int = 0,
	@IsHybrid		bit = 0,
	@IsHobspot		bit = 0,
	@IsVettedProfile bit = null,
	@POC_ID int = null,
	@CompanyLogo	Nvarchar(200) = null,
	@PerCreditAmount	DECIMAL(18,2) = null,
	@CreditCurrency	Nvarchar(50) = null,
	@JobPostCredit INT = NULL,
	@VettedProfileViewCredit INT = NULL,
	@NonVettedProfileViewCredit INT = NULL,
	@IsTransparentPricing BIT = NULL,
	@IsPayPerHire BIT = NULL,
	@IsPayPerCredit BIT = NULL
AS
BEGIN	

		DECLARE  @CompanyId BIGINT = NULL, @ContactID BIGINT = NULL;
		Declare  @DCSalesEmpID as Nvarchar(20) = null
		Declare  @DCSalesUserID as bigint = 0
		Declare  @DCUserDescription as Nvarchar(Max) = ''		

		
		IF Isnull(@FirstName,'') <> '' and @FirstName <> ''
					SET @FirstName = UPPER(LEFT(@FirstName, 1)) + LOWER(RIGHT(@FirstName, LEN(@FirstName) - 1))
		IF Isnull(@LastName,'') <> '' and @LastName <> ''
			SET @LastName = UPPER(LEFT(@LastName, 1)) + LOWER(RIGHT(@LastName, LEN(@LastName) - 1))

		IF Isnull(@FirstName,'') <> '' and @FirstName <> '' and Isnull(@LastName,'') <> '' and @LastName <> ''
			SET @FullName =  case when Isnull(@FirstName,'') <> ''  then Isnull(@FirstName,'') + ' ' + Isnull(@LastName,'') else Isnull(@LastName,'')  end
		ELSE
			SET @FullName = UPPER(LEFT(@FullName, 1)) + LOWER(RIGHT(@FullName, LEN(@FullName) - 1))

		Declare @Userpassword as Nvarchar(100) = null
		Declare @CompanyNameLength as int = null
			
		--SET @Userpassword = 'Uplers@123'

		----IF(LEN(@CompanyName) >0)
		--BEGIN
		--		print @CompanyName
		--		SET @CompanyNameLength = LEN(@CompanyName);

		--		IF(max(LEN(@CompanyName)) >= 10)
		--		BEGIN
		--				SET @Userpassword = SUBSTRING(@CompanyName,0,10) + '@123';
		--		END
		--		ELSE
		--		BEGIN
		--			  SET @Userpassword = SUBSTRING(@CompanyName,0,@CompanyNameLength) + '@123';
		--		END


		--		print @Userpassword
		--END

		SET  @Userpassword = LEFT(NEWID(), 10)

		--IF(@IsHybrid=1)
		--	begin
		--			set @CompanyTypeID=2;
		--			set @AnotherCompanyTypeID=1;
		--	end
		--else
		--	begin
		--		IF(@IsTransparentPricing IS NOT NULL)
		--		BEGIN
		--			set @CompanyTypeID=1;
		--		END
		--		ELSE
		--		BEGIN
		--			set @CompanyTypeID=2;
		--		END
		--		set @AnotherCompanyTypeID=0;
		--	end

		-- Hybrid Model
		IF(ISNULL(@IsPayPerHire,0) = 1 AND ISNULL(@IsPayPerCredit,0) = 1)
		BEGIN
			SET @CompanyTypeID=2;
			SET @AnotherCompanyTypeID=1;
		END

		--Only Pay per Hire
		IF(ISNULL(@IsPayPerHire,0) = 1 AND ISNULL(@IsPayPerCredit,0) = 0)
		BEGIN
			SET @CompanyTypeID=1;
			SET @AnotherCompanyTypeID=0;
		END

		--Only Pay per Credit
		IF(ISNULL(@IsPayPerHire,0) = 0 AND ISNULL(@IsPayPerCredit,0) = 1)
		BEGIN
			SET @CompanyTypeID=2;
			SET @AnotherCompanyTypeID=0;
			SET @IsTransparentPricing = NULL
		END

		IF(@CompanyTypeId = 2)
		BEGIN			
			IF(@IsPostaJob = 1 AND ISNULL(@IsProfileView,0) = 0)
			BEGIN
				SET @VettedProfileViewCredit = 0
				SET @NonVettedProfileViewCredit = 0
			END

			IF(@IsPostaJob = 0)
			BEGIN
				SET @JobPostCredit = 0
			END
		END

		IF NOT Exists(Select 1 from [dbo].[gen_Company]  with(Nolock) 
						WHERE LOWER(Company) = LOWER(@CompanyName))
			BEGIN		
					INSERT INTO gen_Company
					(
						Company,
						CreatedByID,
						CreatedByDatetime,
						IsFromSignUp,
						IsActive,
						Client_StatusID,
						CompanyTypeID,
						Website,
						CompanySize,
						industry,
						Industry_Type,
						about_Company_desc,
						IsPostaJob,
						IsProfileView,
						AnotherCompanyTypeID,
						--,JPCreditBalance
						IsVettedProfile,
						CompanyLogo,
						CreditAmount,
						CreditCurrency,
						JobPostCredit,
						VettedProfileViewCredit,
						NonVettedProfileViewCredit,
						IsTransparentPricing,
						BillingCompanyName

					)
					VALUES
					(
						@CompanyName,
						@LoggedInUserID,
						GETDATE(),
						1,
						1,
						2,
						@CompanyTypeID,
						@CompanyURL,
						@CompanySize,
						@CompanyIndustryType,
						@CompanyIndustryType,
						@BriefAboutCompany,
						@IsPostaJob,
						@IsProfileView,
						@AnotherCompanyTypeID,
						--,@FreeCredit
						@IsVettedProfile,
						@CompanyLogo,
						@PerCreditAmount,
						@CreditCurrency,
						@JobPostCredit,
						@VettedProfileViewCredit,
						@NonVettedProfileViewCredit,
						@IsTransparentPricing,
						@CompanyName
					)

				SET @CompanyId = SCOPE_IDENTITY();
			END
		ELSE 
			BEGIN		
						print @IsVettedProfile 
						SET @CompanyId = (Select TOP 1 ID from [dbo].[gen_Company] with(Nolock) 
						WHERE LOWER(Company) = LOWER(@CompanyName))

						UPDATE [dbo].[gen_Company] Set 
						CompanyTypeID=@CompanyTypeID,
						IsPostaJob=@IsPostaJob,
						IsProfileView=@IsProfileView,
						AnotherCompanyTypeID=@AnotherCompanyTypeID,
						IsVettedProfile=@IsVettedProfile,
						VettedProfileViewCredit=@VettedProfileViewCredit,
						NonVettedProfileViewCredit=@NonVettedProfileViewCredit,
						JobPostCredit=@JobPostCredit,
						CreditAmount=@PerCreditAmount,
						CreditCurrency=@CreditCurrency,
						IsTransparentPricing = @IsTransparentPricing
						--,
						--CreditAmount=@CreditAmount,CreditCurrency=@CreditCurrency
						where ID=@CompanyId

			END

		
			IF NOT Exists(Select 1 from [dbo].[gen_Contact]  with(Nolock) 
						WHERE LOWER(EmailID) = LOWER(@WorkEmail))
		Begin
			INSERT INTO gen_Contact
			(
				CompanyID,
				Username,
				Password,
				FullName,
				FirstName,
				LastName,
				EmailID,
				CreatedByID,
				CreatedByDatetime,
				IsActive,				
				IsFromSignUp,
				IsPrimary,
				IsClientNotificationSend,
				ContactNo,
				IsJobPostUser,
				RoleId,
				IsEmailVerified
			)
			VALUES
			(
				@CompanyId,
				@WorkEmail,
				@Userpassword,
				@FullName,
				@FirstName,
				@LastName,
				@WorkEmail,
				@LoggedInUserID,
				GETDATE(),
				1, --IsActive
				
				1, -- IsFromSignUp
				1, -- IsPrimary
				1, -- IsClientNotificationSend				
				@ContactNumber,				
				1, -- IsJobPostUser
				1, -- RoleId
				1  -- IsEmailVerified
			)
			SET @ContactID = SCOPE_IDENTITY();

			--Insert history
			DECLARE @ClientActionID INT = 0;
			SET @ClientActionID = isnull((SELECT ID FROM prg_contact_Actions WITH(NOLOCK) WHERE ActionName='Invite_Client_UTSAdmin'),0)

			IF @ClientActionID > 0
			BEGIN
				INSERT INTO gen_ContactHistory
					  (ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime, AppActionDoneBy)
				VALUES(@ContactID,@ClientActionID,GETDATE(),@LoggedInUserID,Getdate(), 3)
			END
		END
		ELSE 
			BEGIN				
						SET @ContactID = (Select TOP 1 ID from [dbo].[gen_Contact] with(Nolock) 
						WHERE LOWER(EmailID) = LOWER(@WorkEmail))
			END
	
		

		--if(@IsHobspot=1)
		--Begin
		--		IF NOT Exists(Select 1 from [dbo].gen_ContactUsers_ClientPortal where ContactID=@ContactID and CompanyID=@CompanyId )
		--		begin
		--				insert into gen_ContactUsers_ClientPortal
		--					(ContactID,CompanyID,FirstName,LastName,EmailID,Password,Department,Designation,ContactNumber,
		--					IsActive,CreatedByID,CreatedByDateTime,RoleID)
		--					values
		--					(@ContactID,@CompanyId,@FirstName,@LastName,@WorkEmail,@Password,null,null,null,1,@LoggedInUserID,getdate(),1)
		--		end
		--end

		--select @DCSalesEmpID = [Value] from gen_SystemConfiguration with(Nolock) where [Key] = 'ClientFrontEndHRPOC'
		--Select @DCSalesUserID = ID,@DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID

		--Pay per Hire then add Aayush as a POC --> UTS-6168
		--IF ISnull(@CompanyTypeID,0) = 1 
		--	BEGIN					

		--			select @DCSalesEmpID = [Value] from gen_SystemConfiguration with(Nolock) where [Key] = 'ClientFrontEndPayPerHRPOC'
		--			Select @DCSalesUserID = ID,@DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID


		--			IF NOT EXISTS(SELECT 1 FROM gen_ContactPointofContact WITH (NOLOCK) WHERE ContactID = @ContactID AND User_ID = @DCSalesUserID)
		--				BEGIN
		--						Insert into gen_ContactPointofContact(ContactID,User_ID,Description,Company_ID)
		--						Values(@ContactID,@DCSalesUserID,@DCUserDescription,@CompanyId)
		--				END
		--	END
		--ELSE --Pay per Credit then add Darshan as a POC --> UTS-6168
		--	BEGIN

		--			select @DCSalesEmpID = [Value] from gen_SystemConfiguration with(Nolock) where [Key] = 'ClientFrontEndHRPOC'
		--			


					

		--	END

			----------The user who is inviting the client will be added as POC--------------(Riya: 07-Mar-2024)
			Declare @IsAMORNBD as bit =0

			Select TOP 1 @DCUserDescription = Isnull([Description],''),@IsAMORNBD = isnull(IsNewUser,0)  from usr_User with(Nolock) where ID = @POC_ID

			IF NOT EXISTS(SELECT 1 FROM gen_ContactPointofContact WITH (NOLOCK) WHERE ContactID = @ContactID AND User_ID = @POC_ID)
				BEGIN
								Insert into gen_ContactPointofContact(ContactID,User_ID,Description,Company_ID)
								Values(@ContactID,@POC_ID,@DCUserDescription,@CompanyId)
				END

		
		SELECT @ContactID AS ContactID

		----- Add into gen_JobPost_Subscription_History_ClientPortal  Jimit 18-10-2023 , Modify by Payal 26-02-2023
		IF @FreeCredit > 0 
			BEGIN
					
					exec sproc_FreeCreditUpdate @CompanyID = @CompanyID,@FreeCredit = @FreeCredit,
												@ContactID = @ContactID, @CreatedByID = @LoggedInUserID,
												@PerCreditAmount = @PerCreditAmount, @CreditCurrency = @CreditCurrency

			END

		

		UPDATE gen_Company SET    
		Client_StatusID = 2		
		WHERE  ID = @CompanyID 

		IF(@IsAMORNBD =1) ---SET AS NBD in company
		BEGIN
			UPDATE gen_Company SET    
			NBD_SalesPersonID = @POC_ID		
			WHERE  ID = @CompanyID 
		END
		IF(@IsAMORNBD = 0) -- SET AS AM in company
		BEGIN
			UPDATE gen_Company SET    
			AM_SalesPersonID = @POC_ID		
			WHERE  ID = @CompanyID 
		END
		

		--Added By Jimit 2012203 to Update Max Ids Final sign Up flag in Tracking Lead Table
		Select   MAX(ID) ID,CookieID
		into     #TrackingLeadID
		FROm     gen_TrackingLead_ClientPortal WITH(NOLOCK)
		WHERE    CookieID = @CookieID
		GROUP BY CookieID


		UPDATE  TL				
		SET		TL.ContactID = @ContactID,
				TL.IsFinalSignUP = 1,
				TL.Country = Isnull(@Country,Isnull(TL.Country,'')),
				TL.State = Isnull(@State,Isnull(TL.State,'')),
				TL.City = Isnull(@City,Isnull(TL.City,'')),
				TL.Browser = Isnull(@Browser,Isnull(TL.Browser,'')),
				TL.Device = Isnull(@Device,Isnull(TL.Device,'')),
				TL.IP_Address = Isnull(@ClientIPAddress,Isnull(TL.IP_Address,''))
		FROM    gen_TrackingLead_ClientPortal TL
				inner join #TrackingLeadID T ON T.ID = TL.ID
		WHERE   TL.CookieID = @CookieID

		UPDATE gen_Clientenquiry_Data
		SET CompanyID = @CompanyId
		WHERE ClientEmail = @WorkEmail

		UPDATE gen_EMailIds_With_NonEnterprise_Lists
		SET CompanyID = @CompanyId
		WHERE EmailId = @WorkEmail

		DROP TABLE #TrackingLeadID
		-- Ended

		Declare @Location NVARCHAR(MAX) = '';
		IF (ISNULL(@City,'') <> '' and ISNULL(@State,'') <> '' and ISNULL(@Country,'') <> '')
		BEGIN
			SET @Location = @City + ', ' + @State + ', ' + @Country
		END
END