USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_GET_Subscription_Package_ClientPortal]    Script Date: 16-02-2024 16:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_GET_Subscription_Package_ClientPortal]
AS
BEGIN
			
		SELECT * FROM prg_Subscription_Package_ClientPortal WHERE PackageName <> 'Free' AND IsActive = 1

END