ALTER PROCEDURE [dbo].[sproc_HiringRequest_History_Insert]
	@Action						nvarchar(250) = null,
	@HiringRequest_ID			bigint = NULL,
	@Talent_ID					bigint = NULL,
	@Created_From				bit = NULL,
	@CreatedById				int = NULL,
	@ContactTalentPriority_ID	bigint	=null,
	@InterviewMaster_ID			bigint	=null,
	@HR_AcceptedDateTime		Nvarchar(200)='',
	@OnBoard_ID					bigint = null,
	@IsManagedByClient			bit = null ,-- Added By Reena Jain(11-May-2022): insert IsManagedByClient, IsManagedByTalent in History table.
	@IsManagedByTalent			bit = null,
	@SalesUserID				bigint = null, -- addded by ashwin 29-03-2023
	@OldSalesUserID				bigint = null,  ---- addded by ashwin 29-03-2023
	@AppActionDoneBy			int = 1,    -- 1 = Admin (Existing) , 2 = ATS , 3 = UTS (New design), 4 = Client Portal
	@SalesHistoryID				bigint = 0,  --Added By Jimit For Update_HR SalesHiringRequest_Hitory ID
	@SalesDetailHistoryID		bigint = 0  --Added By Jimit For Update_HR SalesHiringRequest_Detail_Hitory ID
AS
BEGIN
	
	DECLARE @Id bigint = NULL
	DECLARE @Count int = 0
	DECLARE @Action_ID bigint = 0;
	declare @CurrencySign Nvarchar(100);
	declare @Cost_AfterAcceptance Nvarchar(100);
	declare @CalcTalentCOST decimal(18,2);
	declare @Final_HR_Cost decimal(18,2);
	declare @TalentCostCalcPercentage decimal(18,2) =0;
	Declare @IsReplacement bit = 0
	Declare @TalentStatusID_BasedOnHR  as int = 0
	Declare @HRFocused_Flag bit = 0;
	Declare @CompanyID as Bigint = 0

	

	 
	--added By Ashwin 29-03-2023
	IF (ISNULL(@SalesUserID,0) = 0)
		BEGIN
			SET @SalesUserID = isnull((select SalesUserID from gen_SalesHiringRequest with(nolock) where ID = @HiringRequest_ID),0);
		END

	--SET @ContactTalentPriority_ID = 0
	SET @ContactTalentPriority_ID = Isnull(@ContactTalentPriority_ID,0) --changed by jimit 16062022

	SET @Action_ID = isnull((SELECT ID FROM prg_History_Actions WITH(NOLOCK) where ActionName=@Action),0)

	if(@HR_AcceptedDateTime='')
		BEGIN
			SET @HR_AcceptedDateTime=NULL
		END
	
	if(@ContactTalentPriority_ID=0)
		BEGIN
			Select @ContactTalentPriority_ID = ID from gen_ContactTalentPriority WITH(NOLOCK) where HiringRequestID = @HiringRequest_ID and TalentID=@Talent_ID
		END
	
	--added By Jimit 01032023  Update Is replacement flag in history table
	If(@ContactTalentPriority_ID > 0)
		Begin
				select  @IsReplacement = Isnull(Isreplacement,0),
						@TalentStatusID_BasedOnHR = Isnull(TalentStatusID_BasedOnHR,0)
				from    gen_ContactTalentPriority with(Nolock)
				where   ID = @ContactTalentPriority_ID
		End	

	--HRCost and Talent_HR_Cos
	--------------------------------	
	SELECT top 1 @CurrencySign = case when CurrencyCode = 'INR' then NCHAR(8377) else Isnull(CurrencySign,'$') end  , @TalentCostCalcPercentage = isnull(H.TalentCostCalcPercentage,0)
	from	prg_CurrencyExchangeRate CER WITH(NOLOCK)
				inner join gen_SalesHiringRequest_Details SD with(nolock) ON CER.CurrencyCode = SD.Currency 
				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON SD.HiringRequest_ID = H.ID
				where SD.HiringRequest_ID = @HiringRequest_ID

	--SELECT @Cost_AfterAcceptance = Isnull(Cost_AfterAcceptance,''),@Final_HR_Cost= Final_HR_Cost from gen_ContactTalentPriority with(nolock) where ID=@ContactTalentPriority_ID
	SELECT @CalcTalentCOST = Isnull(TalentCost,0),@Final_HR_Cost= Final_HR_Cost from gen_ContactTalentPriority with(nolock) where ID= @ContactTalentPriority_ID
	
	
	-------------------------END-----------------------------------

	
	
	if (@Talent_ID>0)
		BEGIN
		IF @Action_ID <> 6
		BEGIN
			IF(@InterviewMaster_ID >0)
			BEGIN
				SET @Count = (Select Count(1) from gen_History WITH(NOLOCK) WHERE Action_ID=@Action_ID and HiringRequest_ID=@HiringRequest_ID and Talent_ID=@Talent_ID AND InterviewMaster_ID = @InterviewMaster_ID )
			END
			ELSE
			BEGIN
				SET @Count = (Select Count(1) from gen_History WITH(NOLOCK) WHERE Action_ID=@Action_ID and HiringRequest_ID=@HiringRequest_ID and Talent_ID=@Talent_ID)
			END
		END
		ELSE
		BEGIN
			SET @Count = (Select Count(1) from gen_History WITH(NOLOCK) WHERE Action_ID=@Action_ID and HiringRequest_ID=@HiringRequest_ID and Talent_ID=@Talent_ID)
		END
	END
	ELSE
		BEGIN
	 If @Action_ID <> 58
	   BEGIN
			SET @Count = (Select Count(1) from gen_History WITH(NOLOCK) WHERE Action_ID = @Action_ID and HiringRequest_ID = @HiringRequest_ID)
		END
	END

	 If @Action_ID = 75 OR @Action_ID = 79 OR @Action_ID = 80  OR @Action_ID = 72  OR @Action_ID = 83 OR @Action_ID = 92 OR @Action_ID = 93 
	 OR @Action_ID = 2 OR @Action_ID = 5 OR @Action_ID = 82 or @Action_ID = 103 OR @Action_ID = 85 OR @Action_ID = 22
	   BEGIN
			SET @Count = 0
		END
	
	  Declare @CheckInterviewFeedbackSubmitted as bit = 0

	If @Action_ID = 12 OR @Action_ID = 45 OR @Action_ID = 46 OR @Action_ID = 47
		BEGIN
			IF Exists(Select 1 from gen_History with(NOLOCK) WHERE HiringRequest_ID = @HiringRequest_ID  and Talent_ID = @Talent_ID and InterviewMaster_ID = @InterviewMaster_ID and Action_ID in (12,45,46,47))
			BEGIN
					SET @CheckInterviewFeedbackSubmitted = 1
					SET @Count = 1
			END
		END
	
	IF (@Count=0)
		BEGIN
		
			INSERT INTO gen_History(Action_ID, HiringRequest_ID, Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage, History_From, CreatedByID, CreatedByDatetime, ModifiedByID, ModifiedByDatetime,IsManagedByClient,IsManagedByTalent, SalesUserID,IsReplacement,OldSalesUserID,TalentStatusID_BasedOnHR,AppActionDoneBy) 
			VALUES (@Action_ID,@HiringRequest_ID,@Talent_ID,@ContactTalentPriority_ID,@InterviewMaster_ID,@OnBoard_ID,@CalcTalentCOST,@Final_HR_Cost,@HR_AcceptedDateTime,@TalentCostCalcPercentage,@Created_From,@CreatedById,getdate(),0,null,@IsManagedByClient,@IsManagedByTalent, @SalesUserID,@IsReplacement,@OldSalesUserID,@TalentStatusID_BasedOnHR,@AppActionDoneBy)
		
			SET @Id = @@IDENTITY
		
			--Added By Jimit 07-05-24 For Pause HR
			IF @Action_ID = 103
				BEGIN
						Declare @HRPauseREason as Nvarchar(MAx) = null
						Declare @HRPauseREasonID as int = null
						
						select	@HRPauseReason = Isnull(PauseHRReason,''),@HRPauseREasonID = PauseHRReasonID
						from	gen_SalesHiringRequest WITH(NOLOCK) 
						WHERE	ID = @HiringRequest_ID

						Insert into gen_SalesHiringRequest_History(HiringRequest_ID,LastModifiedByID,LastModifiedDatetime,PauseHRReasonID,PauseHRReason,History_ID)
						Values(@HiringRequest_ID,@CreatedById,GetDate(),@HRPauseREasonID,@HRPauseReason,@ID)

				END

				If (@Action_ID = 2 Or @Action_ID = 5 OR  @Action_ID = 85) and Isnull(@SalesHistoryID,0) <> 0 and Isnull(@SalesDetailHistoryID,0) <> 0  --Update HR 
					BEGIN
							Print 'Jimit'
							Print @Id
							Print @SalesHistoryID
							Print @SalesDetailHistoryID
							Update gen_SalesHiringRequest_History
							SET    History_ID = @Id
							WHere  ID = @SalesHistoryID

							Update gen_SalesHiringRequest_Details_History
							SET    History_ID = @Id
							where  ID = @SalesDetailHistoryID
					END
				
		END
	ELSE
		BEGIN
		
		IF @Action_ID = 4
		BEGIN 
			IF EXISTS (select 1 from gen_History with(nolock) where HiringRequest_ID = @HiringRequest_ID and Action_ID = @Action_ID)
			BEGIN
				IF NOT EXISTS (SELECT 1 from gen_History WITH(NOLOCK) where HiringRequest_ID = @HiringRequest_ID and Action_ID = 5)
				BEGIN
					INSERT INTO gen_History(Action_ID, HiringRequest_ID, Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage, History_From, CreatedByID, CreatedByDatetime, ModifiedByID, ModifiedByDatetime,IsManagedByClient,IsManagedByTalent, SalesUserID,IsReplacement,TalentStatusID_BasedOnHR,AppActionDoneBy) 
					VALUES (5,@HiringRequest_ID,@Talent_ID,@ContactTalentPriority_ID,@InterviewMaster_ID,@OnBoard_ID,@CalcTalentCOST,@Final_HR_Cost,@HR_AcceptedDateTime,@TalentCostCalcPercentage,@Created_From,@CreatedById,getdate(),0,null,@IsManagedByClient,@IsManagedByTalent, @SalesUserID,@IsReplacement,@TalentStatusID_BasedOnHR,@AppActionDoneBy)

					SET @Id = @@IDENTITY
					
				END
				ELSE
				BEGIN
					UPDATE   H
					SET     HR_Percentage = Isnull(SH.TalentCostCalcPercentage,0),
							Talent_Cost=@CalcTalentCOST,HR_Cost=@Final_HR_Cost, History_From= @Created_From,
							ModifiedByID=@CreatedById,ModifiedByDatetime=getdate(),
							ContactTalentPriority_ID= @ContactTalentPriority_ID,
							IsReplacement = @IsReplacement,
							AppActionDoneBy = @AppActionDoneBy,
							IsManagedByClient = @IsManagedByClient
					FROM    gen_History H 
							inner join gen_SalesHiringRequest SH WITH(NOLOCK) ON SH.ID = H.HiringRequest_ID
					WHERE   H.Action_ID=5 and H.HiringRequest_ID= @HiringRequest_ID and H.Talent_ID=@Talent_ID;


					SELECT	@Id = Id 
					from	gen_History WITH(NOLOCK)
					WHERE	Action_ID = 5 and HiringRequest_ID = @HiringRequest_ID and Talent_ID = @Talent_ID;
				END
			END
		END
		ELSE
		BEGIN
			if (@CheckInterviewFeedbackSubmitted = 0)
			  BEGIN
					UPDATE   H
					SET     HR_Percentage = Isnull(SH.TalentCostCalcPercentage,0),
							Talent_Cost=@CalcTalentCOST,
							HR_Cost=@Final_HR_Cost, 
							History_From= @Created_From,
							ModifiedByID=@CreatedById,
							ModifiedByDatetime=getdate(),
							ContactTalentPriority_ID= @ContactTalentPriority_ID,
							IsReplacement = @IsReplacement,
							AppActionDoneBy = @AppActionDoneBy,
							IsManagedByClient = @IsManagedByClient
					FROM    gen_History H 
							inner join gen_SalesHiringRequest SH WITH(NOLOCK) ON SH.ID = H.HiringRequest_ID
					WHERE   H.Action_ID=@Action_ID and H.HiringRequest_ID=@HiringRequest_ID and H.Talent_ID=@Talent_ID

			  END
			

			SELECT	@Id = Id 
			from	gen_History WITH(NOLOCK)
			WHERE	Action_ID=@Action_ID and HiringRequest_ID=@HiringRequest_ID and Talent_ID=@Talent_ID

			
		END
	END	
		
	SELECT @Id  Id 



	--- Make Inactive History record of Action ID 51 while Interview Slot given 
	BEGIN
		-- Slot Given & Talent_Status_Cancelled & Talent_Status_On_Hold & Talent_Status_Rejected
	    IF(@Action_ID = 7 or @Action_ID = 20 or @Action_ID = 21 or @Action_ID = 22 or @Action_ID = 61) 
			BEGIN
					update gen_History 
					SET    IsActive =0,
						   ModifiedByDatetime = getdate(),
						   ModifiedByID = @CreatedById
					WHERE Action_ID = 51 AND HiringRequest_ID = @HIRINGREQUEST_ID AND Talent_ID = @Talent_ID
			END		
	END

	

	--ADDED BY JIMIT 13042022 FOR UPDATING SLA DUE_DATE IN HISTORY TABLE AGAINST PARTICULAR ACTION
	--Below Code Commented By Reena.
	--Re-written this SP Code in History Table Trigger (Date:15/Sept/2023)
	--EXEC Sproc_Update_DueDate_BasedOnSLATime @HISTORY_ID = @ID,@ACTION_ID=@ACTION_ID,@HIRING_REQUESTID=@HIRINGREQUEST_ID

	--Payal(27-02-2023) : UTS-1664 

	update gen_SalesHiringRequest SET LastActivityDate = getdate() where ID = @HiringRequest_ID

	--Priority Count Update Addded By Ashwin
	IF(@CheckInterviewFeedbackSubmitted = 0)
		BEGIN
			DECLARE @HRSTATUS int = 0;
			IF(@Action_ID = 12)
				BEGIN
					select @HRSTATUS = Status_ID from gen_SalesHiringRequest WITH(NOLOCK) where ID =@HiringRequest_ID;
				END	
			IF(@Action_ID in (64,3,72) OR (@Action_ID = 12 AND @HRSTATUS = 3))
				BEGIN
					EXEC sproc_Insert_HiringRequest_Priority_Revise_Flow @CreatedById,@SalesUserID,@HiringRequest_ID,0;
				END
		END

	----Added below code for inserting Activity in Channel Messages in New Admin Only.
	--IF (@Action_ID = 17 OR @Action_ID = 6) AND @AppActionDoneBy = 3
	--	BEGIN
	--		EXEC sproc_Get_ActivityData_ForChannelMessages @HiringRequest_ID, @Action_ID, @Talent_ID, @CreatedById;
	--	END

	--Insert entry for HR Focused action while HR debrifing is done added jimit 14-07-2023
	BEGIN
		IF (@Action_ID = 4 or @Action_Id = 5)
			BEGIN

				SET @HRFocused_Flag = ISNULL((select IsHRFocused from gen_SalesHiringRequest_Details with(nolock) where HiringRequest_ID = @HiringRequest_ID),0);

				IF @HRFocused_Flag = 1
					BEGIN
						IF not exists(select 1 from gen_History with(Nolock) where HiringRequest_ID = @HiringRequest_ID and Action_ID = 84)
							BEGIN
									Insert into gen_History (Action_ID, HiringRequest_ID, Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage, History_From, CreatedByID, CreatedByDatetime, ModifiedByID, ModifiedByDatetime,IsManagedByClient,IsManagedByTalent, SalesUserID,IsReplacement,TalentStatusID_BasedOnHR,AppActionDoneBy)
									select	84, HiringRequest_ID, Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage, History_From, CreatedByID, CreatedByDatetime, ModifiedByID, ModifiedByDatetime,IsManagedByClient,IsManagedByTalent, SalesUserID,IsReplacement,TalentStatusID_BasedOnHR,AppActionDoneBy 
									from	gen_History with(Nolock) 
									where	HiringRequest_ID = @HiringRequest_ID 
											and Action_ID = 4
							END	
					END
			END
		END

	--Insert entry for gen_ATS_HRStatus_Details & gen_ATS_HRStatus_TalentDetails  added jimit 01-09-2023
	BEGIN
				Declare @ContactID bit = 0;
				Declare @Debrifing_HRStatus_DetailsID bit = 0;
				Declare @Shortlisted_HRStatus_DetailsID bit = 0;
				Declare @Interviewed_HRStatus_DetailsID bit = 0;
				Declare @Hired_HRStatus_DetailsID bit = 0;
				Declare @Onboarded_HRStatus_DetailsID bit = 0;
				DECLARE @IsHRFromSignUP as bit 

				DECLARE @ShortlistedCount INT, @InterviewCount INT, @HiredCount INT, @OnboardedCount INT = 0

				SELECT @HRSTATUS = Status_ID,@ContactID=ContactID,@IsHRFromSignUP = case when Isnull(GUID,'') <> '' then 1 else 0 end
				from gen_SalesHiringRequest WITH(NOLOCK) where ID =@HiringRequest_ID;
				
				--If @IsHRFromSignUP = 1
				--	BEGIN
							if(@Action_ID = 4 )  -- Debriefing 
								BEGIN 
									If not Exists(select 1 from gen_ATS_HRStatus_Details with(Nolock) where ATSHRStatusId =1 and HRID = @HiringRequest_ID)
										BEGIN
											INSERT INTO gen_ATS_HRStatus_Details 
											(HRID,ATSHRStatusId,Published_Datetime,createdByID,CreatedByDateTime,ModifiedByID,ModifiedByDateTime)
											VALUES(@HiringRequest_ID,1,null,@ContactID,getdate(),null,null);
										END						
								END

							if(@Action_ID = 18 AND @Count=0)  -- Shortlisted
								BEGIN 
									If not Exists(select 1 from gen_ATS_HRStatus_Details with(Nolock) where ATSHRStatusId =7 and HRID = @HiringRequest_ID)
										BEGIN
											INSERT INTO gen_ATS_HRStatus_Details 
											(HRID,ATSHRStatusId,Published_Datetime,createdByID,CreatedByDateTime,ModifiedByID,ModifiedByDateTime,Total_Talent)
											VALUES(@HiringRequest_ID,7,null,@ContactID,getdate(),null,null,1);
										END

								    -- Done by Riya(02 April 2024)
									SET @ShortlistedCount = (SELECT COUNT(1) FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HiringRequest_ID)

									UPdate gen_ATS_HRStatus_Details
									set    Total_Talent = Isnull(@ShortlistedCount,0),
										   ModifiedByDateTime = getdate(),
										   ModifiedByID = @ContactID
									where  ATSHRStatusId =7 and HRID = @HiringRequest_ID
								END	
					
							--Interview_Completed,Interview_Scheduled, Feedback_Submitted_With_Hire,Feedback_Submitted_With_NoHire,
							--Feedback_Submitted_With_OnHold,Feedback_Submitted_With_AnotherRound, Interview cancelled, Talent Rejected, New_Talent_Status_Offered
							--New_Talent_Status_Hired

							If(@Action_ID IN (7, 8, 11, 9, 12, 22, 38, 45, 46, 47, 98, 99)) -- Interviewed, Hire, Onboarding
							BEGIN
								BEGIN 
									  If not Exists(select 1 from gen_ATS_HRStatus_Details with(Nolock) where ATSHRStatusId =8 and HRID = @HiringRequest_ID)
										BEGIN
											INSERT INTO gen_ATS_HRStatus_Details 
											(HRID,ATSHRStatusId,Published_Datetime,createdByID,CreatedByDateTime,ModifiedByID,ModifiedByDateTime,Total_Talent)
											VALUES(@HiringRequest_ID,8,null,@ContactID,getdate(),null,null,1);	
										END

									-- Done by Riya(02 April 2024)
									SET @InterviewCount = (SELECT COUNT(1) FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HiringRequest_ID 
															AND TalentStatusID_BasedOnHR = 3 )

									UPdate gen_ATS_HRStatus_Details
									set    Total_Talent = Isnull(@InterviewCount,0),
										   ModifiedByDateTime = getdate(),
										   ModifiedByID = @ContactID
									where  ATSHRStatusId = 8 and HRID = @HiringRequest_ID	
									
								END

								BEGIN 
										
										If not Exists(select 1 from gen_ATS_HRStatus_Details with(Nolock) where ATSHRStatusId =9 and HRID = @HiringRequest_ID)
											BEGIN
												INSERT INTO gen_ATS_HRStatus_Details 
												(HRID,ATSHRStatusId,Published_Datetime,createdByID,CreatedByDateTime,ModifiedByID,ModifiedByDateTime,Total_Talent)
												VALUES(@HiringRequest_ID,9,null,@ContactID,getdate(),null,null,1);									
											END

									-- Done by Riya(02 April 2024)
									SET @HiredCount = (SELECT COUNT(1) FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HiringRequest_ID 
															AND TalentStatusID_BasedOnHR = 4 )

									UPdate gen_ATS_HRStatus_Details
									set    Total_Talent = Isnull(@HiredCount,0),
										   ModifiedByDateTime = getdate(),
										   ModifiedByID = @ContactID
									where  ATSHRStatusId = 9 and HRID = @HiringRequest_ID
									
								END
												
								BEGIN 
										If not Exists(select 1 from gen_ATS_HRStatus_Details with(Nolock) where ATSHRStatusId =10 and HRID = @HiringRequest_ID)
											BEGIN
												INSERT INTO gen_ATS_HRStatus_Details 
												(HRID,ATSHRStatusId,Published_Datetime,createdByID,CreatedByDateTime,ModifiedByID,ModifiedByDateTime,Total_Talent)
												VALUES(@HiringRequest_ID,10,null,@ContactID,getdate(),null,null,1);
											END	

										-- Done by Riya(02 April 2024)
									SET @OnboardedCount = (SELECT COUNT(1) FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HiringRequest_ID 
															AND TalentStatusID_BasedOnHR = 10 )

									UPdate gen_ATS_HRStatus_Details
									set    Total_Talent = Isnull(@OnboardedCount,0),
										   ModifiedByDateTime = getdate(),
										   ModifiedByID = @ContactID
									where  ATSHRStatusId = 10 and HRID = @HiringRequest_ID
										
								END									
							END									
		END

	 IF @Action_ID = 38
		BEGIN			
				select @CompanyID = CompanyID from gen_Contact WITH(NOLOCK) where ID = @ContactID
				 
				 Update  gen_Company
				 SET     Client_StatusID = 4
				 where   Id = @CompanyID
		END


		
END