ALTER PROCEDURE [dbo].[sproc_UTS_GetCompanyEngagementDetails]	@CompanyID			bigint = NULLASBEGIN				SELECT 			GC.ID AS CompanyID,			CAST(0 AS DECIMAL(18,2)) AS JPCreditBalance,			ISNULL(GC.JPCreditBalance,0) AS TotalCreditBalance,			GC.IsTransparentPricing AS IsTransparentPricing,			CASE 
				WHEN GC.CompanyTypeID = 2  THEN 2
				WHEN GC.AnotherCompanyTypeID = 2 THEN 2
				ELSE 0 
			END AS CompanyTypeID,			CASE 
				WHEN GC.CompanyTypeID = 1  THEN 1
				WHEN GC.AnotherCompanyTypeID = 1 THEN 1
				ELSE 0 
			END AS AnotherCompanyTypeID,			GC.IsPostaJob AS IsPostaJob,			GC.IsProfileView AS IsProfileView,			GC.IsVettedProfile,			GC.CreditAmount,			GC.CreditCurrency,			GC.JobPostCredit,			GC.VettedProfileViewCredit,			GC.NonVettedProfileViewCredit,			GC.HiringTypePricingId			from gen_company GC WITH(NOLOCK)		WHERE GC.ID = @CompanyIDEND