USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_UTS_ClientPortalTracking_Details]    Script Date: 01-08-2024 12:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_UTS_ClientPortalTracking_Details] 
@ClientID   BIGINT = NULL,     --Pass Company ID from UI side as of Now 
@FromDate	DateTime = NULL,  
@ToDate		Datetime = NULL
AS
BEGIN

		IF OBJECT_ID('tempdb..#AllClientOfCompanies') Is not null
			DROP TABLE #AllClientOfCompanies

		CREATE TABLE #AllClientOfCompanies
		(
			ClientID		bigint
		)

		Insert into #AllClientOfCompanies
		select C.ID
		from   gen_Contact C WITH(NOLOCK)
			   inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
		where  CO.ID = case when @ClientID > 0 then @ClientID else CO.ID end

		IF OBJECT_ID('tempdb..#ClientPortalTracking_Report') IS NOT NULL
			DROP TABLE #ClientPortalTracking_Report

		CREATE TABLE #ClientPortalTracking_Report
		(
			ActionID			INT,
			Actions				NVARCHAR(50),
			TotalRecords		INT  DEFAULT 0,
			OrderSequence		INT
		)

		INSERT INTO #ClientPortalTracking_Report(ActionID, Actions, OrderSequence)
		SELECT ID, DisplayName, OrderSequence FROM prg_contact_Actions with(nolock) where ID not in (9,13,18)

		IF OBJECT_ID('tempdb..#TempActionIDs') IS NOT NULL
			DROP TABLE #TempActionIDs
        IF OBJECT_ID('tempdb..#ActionwiseClientHistory') IS NOT NULL
			DROP TABLE #ActionwiseClientHistory

		
		CREATE TABLE #TempActionIDs(ActionID INT);

		INSERT INTO #TempActionIDs(ActionID)
		SELECT ID FROM prg_contact_Actions WITH(NOLOCK)
		
		DECLARE @ActionID BIGINT
		SELECT TOP 1 @ActionID = ActionID FROM #TempActionIDs;

		
		print '#TempActionIDs'

		BEGIN
		   --Payal(19-03-2024)
		    print 'inner code'
		    SELECT	count(CH.ID) TotalRecords, CA.ID AS ACID into #ActionwiseClientHistory 
			FROM	gen_contactHistory CH WITH (NOLOCK) 
					INNER JOIN  prg_contact_Actions CA WITH(NOLOCK) ON CH.ClientActionID = CA.ID
					inner Join  #AllClientOfCompanies CTP ON CTP.ClientID = CH.ClientID
			WHERE	ISNULL(UserId,0) = 0						    
					AND (isnull(CH.ClientID,0) > 0)
					--AND (ClientID = @ClientID OR ISNULL(@ClientID,0) = 0)
					--AND ClientID = case when @ClientID >0   then @ClientID else ClientID end 
					AND CAST(CH.CreatedByDatetime AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST( @ToDate AS DATE)
			group by CA.ID, CA.ActionName

			update	CR 
			SET		CR.TotalRecords = isnull(ACH.TotalRecords,0)
			from	#ClientPortalTracking_Report CR 
					Inner join #ActionwiseClientHistory ACH ON CR.ActionID = ACH.ACID

		END

		--WHILE @@ROWCOUNT > 0
		--BEGIN

		--   print @ActionID

	
		--	UPDATE  CPT
		--	SET		TotalRecords = isnull(Q.TotalRecords,0) 
		--	FROM    #ClientPortalTracking_Report CPT 
		--			INNER JOIN 
		--			(
		--				SELECT Count(Id) TotalRecords FROM gen_contactHistory WITH (NOLOCK) 
		--				WHERE ISNULL(UserId,0) = 0 
		--				      AND ClientActionID = @ActionID
		--					  AND isnull(ClientID,0) > 0
		--					  AND CAST(CreatedByDatetime AS DATE) between CAST(@FromDate AS DATE) AND CAST( @ToDate AS DATE)
		--					--  AND (ClientID <> 0 AND ClientID IS NOT NULL) 
		--					--  AND ClientActionID = @ActionID AND (ClientID = @ClientID OR @ClientID IS NULL OR @ClientID = 0)
		--					--  AND CAST(CAST(CreatedByDatetime AS DATE) as NVARCHAR(15)) >= @FromDate AND 
		--					--CAST(CAST(CreatedByDatetime AS DATE) as NVARCHAR(15)) <= @ToDate
		--			)	Q ON 1 = 1 
		--			WHERE  CPT.ActionID = @ActionID

		--   DELETE FROM #TempActionIDs WHERE ActionID = @ActionID;

		--   SELECT TOP 1 @ActionID = ActionID FROM #TempActionIDs;
		--END;

		-------------------------------------------------------------------------------------------
		--TotalUniqueLoginCount : Requested by Mehul sir & jaimin sir
		INSERT INTO #ClientPortalTracking_Report(ActionID, Actions, OrderSequence)
		VALUES(1000, 'Unique Login', 2)

		DECLARE @TotalUniqueLoginCount BIGINT = 0;

		SET @TotalUniqueLoginCount = (
						SELECT COUNT(distinct CH.ClientID) 
						FROM	gen_contactHistory CH WITH (NOLOCK)
								inner Join  #AllClientOfCompanies CTP ON CTP.ClientID = CH.ClientID
						WHERE	ClientActionID = 1  
								AND ISNULL(UserId,0) = 0
								--AND (ClientID = @ClientID OR ISNULL(@ClientID,0) = 0)
								--AND ClientID = case when @ClientID >0   then @ClientID else ClientID end 
								AND CAST(CreatedByDatetime AS DATE) between CAST(@FromDate AS DATE) AND CAST( @ToDate AS DATE)
		);

		UPDATE #ClientPortalTracking_Report
		set TotalRecords = @TotalUniqueLoginCount
		where ActionID = 1000
		--------------------------------------------------------------------------------------------

		

		DROP TABLE #TempActionIDs;

		SELECT ActionID, Actions, TotalRecords FROM #ClientPortalTracking_Report WHERE TotalRecords > 0
		order by OrderSequence

		
		DROP TABLE #ClientPortalTracking_Report
		DROP TABLE #ActionwiseClientHistory
END