USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_Add_Update_BookMarked_Talents_ClientPortal]    Script Date: 03-05-2024 19:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_Add_Update_BookMarked_Talents_ClientPortal]
	@HRID	     		bigint = 0,
	@ContactId	 		bigint = 0,
	@CTPId		 		bigint = 0,
	@Flag				Nvarchar(10) = 'Add',
	@AddBookeMarked		bit = 0,
	@SSOUserID BIGINT = NULL
AS
BEGIN
		DECLARE @ActionPerformedBy BIGINT = 0

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ContactId, @SSOUserId))	

		IF @Flag = 'Add'
			BEGIN
					IF NOT EXISTS(Select 1 from gen_ShortlistedTalents_ClientPortal WITH(NOLOCK) WHERE HRID = @HRID and ContactId = @ContactId and CTPId = @CTPId)
						BEGIN
							INSERT INTO gen_ShortlistedTalents_ClientPortal(HRID,ContactId,CTPId,IsBookMarked,CreatedByID,CreatedByDateTime)
							VALUES(@HRID,@ContactId,@CTPId,@AddBookeMarked,@ActionPerformedBy,Getdate())

						END	
					ELSE
						BEGIN
								UPDATE gen_ShortlistedTalents_ClientPortal
								SET    IsBookMarked = @AddBookeMarked,
									   ModifiedByID = @ActionPerformedBy,
									   ModifiedByDateTime = Getdate()
								WHERE  HRID = @HRID and ContactId = @ContactId and CTPId = @CTPId
						END
			END
		IF @Flag = 'Update'	
			BEGIN
								UPDATE gen_ShortlistedTalents_ClientPortal
								SET    IsBookMarked = @AddBookeMarked,
									   ModifiedByID = @ActionPerformedBy,
									   ModifiedByDateTime = Getdate()
								WHERE  HRID = @HRID and ContactId = @ContactId and CTPId = @CTPId
			END
END