ALTER PROCEDURE [dbo].[Sproc_Add_Company_PerksDetails]
	@CompanyId		  bigint = 0,
	@Perks			  Nvarchar(MAX) = null,	
	@CreatedByID	  bigint = 0,
	@AppActionDoneBy  int = 0
AS 
BEGIN

	IF EXISTS (SELECT TOP 1 ID FROM gen_Company_PerkDetails WITH(NOLOCK) WHERE CompanyID = @CompanyId)
	BEGIN
		DELETE FROM gen_Company_PerkDetails WHERE CompanyID = @CompanyId
	END

	INSERT INTO gen_Company_PerkDetails(CompanyID,Perks,CreatedById,CreatedDateTime)
	SELECT @CompanyId, CAST(Item AS Nvarchar(200)), @CreatedByID, Getdate()
	FROM dbo.SplitString(@Perks, ',')
		
		--Add History Action code below
END

