USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_GET_CreditTransaction_History_ClientPortal]    Script Date: 10/19/2023 3:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_GET_CreditTransaction_History_ClientPortal]
  @CompanyID			bigint = null
AS
BEGIN
			
			select  ContactID = JCT.ContactID,
					HRID = JCT.HRID,
					JobPostedDate = Convert(Nvarchar(15),ISNULL(JobPostedDate,JobRepostedDate),103),
					IsReposted = ISNULL(IsReposted,0),
					CreditBalance = ISnull(JCT.CreditBalance,0),
					IsActive = Isnull(JC.IsActive,0),
					RepostAgain = CASE WHEN CAST(DATEADD(M,1,JCT.JobPostedDate) as DATE) > CAST(GETDATE() as DATE) and JCT.CreditBalance > 0  
									THEN 1 ELSE 0 END
			from    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) 
					inner join gen_JobPost_Subscription_History_ClientPortal JC WITH(NOLOCK) ON JC.ContactID = JCT.ContactID
			WHERE   JCT.CompanyID = @CompanyID AND JC.IsActive = 1


END