USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Credit_Expiry_Email_Notification_ClientPortal]    Script Date: 17-09-2024 10:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Get_Credit_Expiry_Email_Notification_ClientPortal]
  --@CompanyID		bigint = 0
  @DaysPending    int = 0
AS
BEGIN

		IF object_ID('tempdb..#CreditExpiry') is not null
			DROP Table #CreditExpiry

		CREATE TABLE #CreditExpiry
		(
			HRID			 bigint,
			CompanyId		 bigint,
			ContactId		 bigint,
			CreditBalance	 int,
			RequestForTalent nvarchar(200),
			HR_Number		 nvarchar(50),
			JobPostedDate	 Nvarchar(20),
			DaysPending		 int,
			PocId			 bigint,
			JobPostCount	 int default 0,
			ProfileSharedCount int  default 0, 
			UsedCredit		 int  default 0,
			JobPostCountpayperHire	 int default 0
		)

		select ContactID,MAX(ID) AS ID, HRID
		Into   #MaxHRID
		FROM   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)			
		GROUP BY ContactID, HRID 

		--select ContactID,MAX(CPC.ID) AS ID,U.ID as PocID
		--Into   #POC
		--FROM   gen_ContactPointofContact CPC WITH(NOLOCK)
		--	   INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
		--GROUP BY ContactID,U.ID

		--select U.ID as PocID,CP.ContactID
		--Into   #POC
		--from   usr_User U WITH(NOLOCK)
		--	   inner join gen_ContactPointofContact CP WITH(NOLOCK) ON CP.User_ID = U.ID
		--		inner join (
		--		select ContactID,MAX(CPC.ID) AS ID				
		--		FROM   gen_ContactPointofContact CPC WITH(NOLOCK)
		--			   INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
		--		GROUP BY ContactID
		--)Q ON Q.ID = CP.ID

		--INSERT INTO #ExpiryEmailNotification
		Insert into #CreditExpiry(HRID,CompanyId,ContactId,CreditBalance,RequestForTalent,HR_Number,JobPostedDate,DaysPending,PocId)
		select  DISTINCT JCT.HRID,JCT.CompanyID,JCT.ContactID,CreditBalance = Isnull(Co.JPCreditBalance,0),
				H.RequestForTalent,H.HR_Number,JobPostedDate = CONVERT(nvarchar(15),ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate),103),
				DaysPending = DateDIff(d, CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte),CAST(GETDATE() as DATE)),
				PocId = H.SalesUserID  --P.PocID
		FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)
			    inner join gen_JobPost_Subscription_History_ClientPortal JS WITH(NOLOCK) ON JS.CompanyID = JCT.CompanyID and JS.ContactID = JCT.ContactID
				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID
				inner join #MaxHRID M ON M.HRID = JCT.HRID AND M.ID = JCT.ID
				inner join gen_Company CO WITH(NOLOCK) ON CO.ID = JCT.CompanyID
				inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
				--left join #POC P ON P.ContactID = C.ID
		WHERE   --JCT.CompanyID = @CompanyID AND
			     --DateDIff(d, CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte),CAST(GETDATE() as DATE)) = @DaysPending
				 CAST(DATEADD (d, 30 - @DaysPending, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte) = CAST(Getdate() as DATE)
				 AND H.JobStatusID <> 2 and Isnull(JCT.ATS_TalentId,0) = 0
				 --AND NOT EXISTS(SELECT 1 FROM gen_JobPost_TransactionHistory_ClientPortal TH WITH(NOLOCK) WHERE TH.IsReposted = 1 AND TH.ID = M.ID)
				 AND CO.CompanyTypeID = 2



		--UPDATE C
		--SET    C.JobPostCount = Q.JobPostCount
		--From   #CreditExpiry C
		--	   inner join (
		--		select  count(TC.ID) JobPostCount,TC.CompanyID--,TC.HRID
		--		from    gen_JobPost_TransactionHistory_ClientPortal TC WITH(NOLOCK)
		--				--inner join #CreditExpiry C ON C.CompanyId = TC.CompanyID and TC.HRID = C.HRID
		--				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = TC.HRID
		--		where   TC.HRID <> 0 and H.Status_ID in (1,2) and Isnull(ATS_TalentId,0) = 0
		--		GROUP By TC.CompanyID--,TC.HRID
		--	   )Q ON Q.CompanyID = C.CompanyId --and Q.HRID = C.HRID

		UPDATE C
		SET    C.JobPostCount = Q.JobPostCount
		From   #CreditExpiry C
			   inner join (
				select  count(H.ID) JobPostCount,C.CompanyID--,TC.HRID
				from    gen_SalesHiringRequest H WITH(NOLOCK) 
						inner join gen_Contact C WITH(NOLOCK)  ON C.Id = H.ContactID
						inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
				where    (H.JobStatusID <> 2) and H.HRTypeId in (3,4,6)  --and H.JobStatusID = 1  H.Status_ID in (1,2,7,8)
				GROUP By C.CompanyID--,TC.HRID
			   )Q ON Q.CompanyID = C.CompanyId

		UPDATE C
		SET    C.JobPostCountpayperHire = Q.JobPostCount
		From   #CreditExpiry C
			   inner join (
				select  count(H.ID) JobPostCount,C.CompanyID--,TC.HRID
				from    gen_SalesHiringRequest H WITH(NOLOCK) 
						inner join gen_Contact C WITH(NOLOCK)  ON C.Id = H.ContactID
						inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
				where    (H.JobStatusID <> 2) and H.HRTypeId in (1,2)  --and H.JobStatusID = 1 H.Status_ID in (1,2,7,8)
				GROUP By C.CompanyID--,TC.HRID
			   )Q ON Q.CompanyID = C.CompanyId

		UPDATE C
		SET    C.ProfileSharedCount = Isnull(Q.ProfileSharedCount,0)
		From   #CreditExpiry C
			   inner join (
				select  Count(CR.ID) as ProfileSharedCount,CR.HRID
				from    gen_SalesHiringRequest H WITH(NOLOCK)
						inner join #CreditExpiry C ON C.HRID = H.ID
						inner join gen_CRCTP_ShortlistedTalents_ClientPortal CR WITH(Nolock) ON CR.HRID = H.ID
				where   H.HRTypeId in (3,6) and CR.StatusID in (1,2,3)
				Group By Cr.HRID
			   )Q ON C.HRID = Q.HRID

		UPDATE C
		SET    C.ProfileSharedCount = Q.ProfileSharedCount
		From   #CreditExpiry C
			   inner join (
				select  Count(CTP.ID) as ProfileSharedCount,CTP.HiringRequestID
				from    gen_SalesHiringRequest H WITH(NOLOCK)
						inner join #CreditExpiry C ON C.HRID = H.ID
						inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = H.ID
				where   H.HRTypeId = 4 and CTP.TalentStatusID_BasedOnHR = 2
				Group By CTP.HiringRequestID
			   )Q ON Q.HiringRequestID = C.HRID

		UPDATE C
		SET    C.UsedCredit = Isnull(Q.TotalCredit,0) - Isnull(C.CreditBalance,0) 
		From   #CreditExpiry C
			   inner join (
				select  Sum(Isnull(JT.CreditBalance,0)) as TotalCredit,JT.CompanyID
				from    gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
				where   JT.HRID = 0  --H.HRTypeId = 4 and 
				Group By JT.CompanyID
			   )Q ON Q.CompanyID = C.CompanyID
		
	

		select * from #CreditExpiry
		
		Insert into gen_PostJob_Email_Notification_ClientPortal(HRID,Subject,ReminderDays,CreatedByDateTime)
		select  DISTINCT JCT.HRID,
				case when @DaysPending = 5 then 'Stay Ahead: Your Job Post Expires Soon - Take Action Now!'
				     when @DaysPending = 3 then 'Important: Your Job Post Expiry in 3 Days - Immediate Action Required!'
					 when @DaysPending = 1 then '{AI vetted talents but not shortlisted count} + top candidates will be left stranded - Repost Job now!' end,@DaysPending,getdate()
		FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)
			    inner join gen_JobPost_Subscription_History_ClientPortal JS WITH(NOLOCK) ON JS.CompanyID = JCT.CompanyID and JS.ContactID = JCT.ContactID
				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID
				inner join #MaxHRID M ON M.HRID = JCT.HRID AND M.ID = JCT.ID
				inner join gen_Company CO WITH(NOLOCK) ON CO.ID = JCT.CompanyID
				inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
				--left join #POC P ON P.ContactID = C.ID
		WHERE   CAST(DATEADD (d, 30 - @DaysPending, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte) = CAST(Getdate() as DATE)
				AND (H.JobStatusID <> 2) and Isnull(JCT.ATS_TalentId,0) = 0  --and H.JobStatusID = 1 H.Status_ID in (1,2,7,8)
				AND CO.CompanyTypeID = 2

		DROP TABLE #MaxHRID
		--DROP TABLE #POC

		--SELECT 	HRID,CompanyID,ContactID,CreditBalance,Title,HR_Number,JobPostedDate,DaysPending		
		--FROM	#ExpiryEmailNotification	

		--DROP TABLE #ExpiryEmailNotification

		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_Credit_Expiry_Email_Notification_ClientPortal'
		
END