ALTER PROCEDURE [dbo].[Sproc_AddUpdate_TalentNotes_ClientPortal]
	@ClientID			bigint = 0,
	@HRID				bigint = 0,
	@ATSTalentId		bigint = 0,
	@CreatedDateTime	Nvarchar(20) = null,
	@Note				Nvarchar(Max) = null,
	@AtsNoteId			NVARCHAR(500) = 0,
	@Flag				Nvarchar(10) = null,
    @SSOUserId			BIGINT = NULL,
	@AppActionDoneBy	INT =    4
AS
BEGIN

		DECLARE @NoteCreatedDateTime AS DATETIME,
		@ActionPerformedBy BIGINT = 0,
		@ActionManagedByClient BIT = 1

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ClientID, @SSOUserId))
		SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0))

		IF(ISNULL(@CreatedDateTime,'') <> '')
		BEGIN
			SET @NoteCreatedDateTime = Convert(DATETIME, @CreatedDateTime, 101)
		END

		IF Lower(@Flag) = 'add'
			BEGIN
				IF NOT EXISTS(Select 1 from gen_TalentNotes_ClientPortal WITH(NOLOCK) WHERE ClientID = @ActionPerformedBy and HRID = @HRID and ATSTalentID = @ATSTalentId and 
									AtsNoteId = @AtsNoteId)
					BEGIN
							Insert into gen_TalentNotes_ClientPortal(ClientID,HRID,ATSTalentId,CreatedByDateTime,Note,ATSNoteID,IsManagedByClient,AppActionDoneBy,IsEmailSentToClient)
							values (@ActionPerformedBy,@HRID,@ATSTalentId,@NoteCreatedDateTime,@Note,@AtsNoteId,@ActionManagedByClient,@AppActionDoneBy,0)				
					END
			END

		IF Lower(@Flag) = 'edit'
			BEGIN
				IF EXISTS(Select 1 from gen_TalentNotes_ClientPortal WITH(NOLOCK) WHERE ClientID = @ActionPerformedBy and AtsNoteId = @AtsNoteId)
					BEGIN
							UPDATE gen_TalentNotes_ClientPortal SET
							LastModifiedByDateTime = GETDATE(),
							Note = @Note
							WHERE ClientID = @ActionPerformedBy and 
									AtsNoteId = @AtsNoteId							
									
					END
			END


		IF Lower(@Flag) = 'delete'
			BEGIN
					DELETE FROM gen_TalentNotes_ClientPortal WHERE ClientID = @ClientID and HRID = @HRID and ATSTalentID = @ATSTalentId and 
							AtsNoteId = @AtsNoteId

			END


	SELECT IsEmailSentToClient FROM gen_TalentNotes_ClientPortal WHERE 
					--ClientID = @ClientID and HRID = @HRID and ATSTalentID = @ATSTalentId and 
							AtsNoteId = @AtsNoteId
END
