ALTER Procedure [dbo].[Sproc_Update_Status_For_Clsoed_HR] 
@HiringRequestID		BIGINT = NULL,
@LossRemark				AS nvarchar(MAX) = NULL,
@DeletereasonId			INT = NULL,
@LoggedInUserId			INT = NULL,
@ActionDoneBy			INT = NULL,
@SSOUserId				BIGINT = NULL
AS		
BEGIN

		Declare @TR as int = 0
		Declare @HiredTalentCount as int = 0
		Declare @MatchmakCount as int = 0
		Declare @HR_Status as int = 0
		Declare @Job_Status as int = 0
		Declare @UpdateNoOfTalent as int = 0
		Declare @Message as Nvarchar(100) = ''
		DECLARE @TRUpdateTblID BIGINT = 0;
		DECLARE @HRTypeId  BIGINT = 0;
		DECLARE @ActionPerformedBy BIGINT = 0,
		@ActionManagedByClient BIT = 1

		IF(@ActionDoneBy = 4)
		BEGIN
			-- Set action performed by user based on SSO login UTS-7223
			SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @LoggedInUserId, @SSOUserId))
			SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0))
		END
		ELSE
		BEGIN
			SET @ActionPerformedBy = @LoggedInUserId
			SET @ActionManagedByClient = 0
		END

		-- If HR is pay per credit then call the Sproc_UpdateStatusForClosedHR_ClientPortal
		SELECT TOP 1 @HRTypeId = HRTypeId FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HiringRequestID
		IF(@HRTypeId = 3 OR @HRTypeId = 4 OR @HRTypeId = 6)
		BEGIN
			EXEC Sproc_UpdateStatusForClosedHR_ClientPortal  
							@HiringRequestID = @HiringRequestID,
							@LossRemark	= @LossRemark,
							@DeletereasonId	= @DeletereasonId,
							@LoggedInUserId	= @LoggedInUserId,
							@ActionDoneBy = @ActionDoneBy,
							@IsAutoExpiredJob = 0

			RETURN
		END

		select @TR = ISNULL(NoofTalents,0),
			   @HR_Status = Isnull(Status_ID,0),
			   @Job_Status = ISNULL(JobStatusID,0)
		FROM   gen_SalesHiringRequest  WITH(NOLOCK) 
		WHERE  ID = @HiringRequestID

		select @HiredTalentCount = Count(1)
		From   gen_OnBoardTalents OBT  WITH(NOLOCK) 
		WHERE  HiringRequest_ID = @HiringRequestID and Status_ID = 1 
			   and Exists(select 1 from gen_ContactTalentPriority CTP WITH(NOLOCK) Where CTP.HiringRequestID = OBT.HiringRequest_ID and CTP.TalentID = OBT.Talent_ID
			              and CTP.TalentStatusID_BasedOnHR = 4)

		select @MatchmakCount = Count(1)
		From   gen_ContactTalentPriority CTP WITH(NOLOCK)
		where  HiringRequestID = @HiringRequestID --and TalentStatusID_BasedOnHR <> 4 --not in(4,5,7)
			   and Not Exists (Select ID from gen_OnBoardTalents OBT WITH(NOLOCK) 
								Where OBT.HiringRequest_ID = CTP.HiringRequestID and OBT.Talent_ID = CTP.TalentID and Status_ID = 1)

		Print '@TR : ' + cast (@TR as nvarchar(50))
		Print '@HR_Status : ' + cast (@HR_Status as nvarchar(50))
		Print '@Job_Status : ' + cast (@Job_Status as nvarchar(50))							   
		Print '@HiredTalentCount : ' + cast (@HiredTalentCount as nvarchar(50))							
        Print '@MatchmakCount : ' + cast (@MatchmakCount as nvarchar(50))
		Print '@UpdateNoOfTalent : ' + cast (@UpdateNoOfTalent as nvarchar(50))
		

		IF EXISTS (select 1 from gen_SalesHiringRequest with(nolock) where ID = @HiringRequestID)
			BEGIN
					If @TR <> Isnull(@HiredTalentCount,0)
						SET @UpdateNoOfTalent = @TR - (Isnull(@HiredTalentCount,0))
					else 
					    SET @UpdateNoOfTalent = @TR

					Print '@UpdateNoOfTalent : ' + cast (@UpdateNoOfTalent as nvarchar(50))
					
					IF @TR > 1 and @HiredTalentCount > 0 and @MatchmakCount = 0  ----If TR > 1 and any talent is Hired and no profile is matched
					BEGIN 

						INSERT INTO gen_SalesHR_TRUpdated_Details(HiringRequestID, OriginalTR, UpdatedTR, IsIncreased, IsDecreased, Reason,  IsTRCancel, IsTRLost, CreatedByID, CreatedByDateTime,Previous_HRStatus_Id)
						SELECT @HiringRequestID, @TR,@UpdateNoOfTalent, 0, 1, ISNULL(@LossRemark,''),  0, 1, @ActionPerformedBy, GETDATE(),@HR_Status
						
						SET @TRUpdateTblID = @@IDENTITY;

						SET @Message = Cast(@UpdateNoOfTalent as nvarchar) + ' TR loss'; --Returning this as Message

						UPDATE	gen_SalesHiringRequest 
						SET		NoofTalents = @UpdateNoOfTalent, 
								Remark =ISNULL(@LossRemark,''),
								DeleteHRReason_Id=ISNULL(@DeletereasonId,0),
								Status_ID = 3,	
								JobStatusID = 2, --New Status Change						
								LastModifiedByID = @ActionPerformedBy,
								LastModifiedDatetime = GETDATE(),
								JobExpiredORClosedDate = GETDATE()
						WHERE	ID = @HiringRequestID;
						
						UPDATE	HD
						SET		HD.NoofEmployee = @UpdateNoOfTalent,
								HD.RoleStatus_ID = 6,
								HD.LastModifiedByID = @ActionPerformedBy,
								HD.LastModifiedDatetime = GETDATE()
						FROM	gen_SalesHiringRequest_Details HD with(nolock) 
								INNER JOIN gen_SalesHiringRequest H with(nolock) on HD.HiringRequest_ID = H.ID
								INNER JOIN prg_HiringRequestStatus HS with(nolock) on H.Status_ID = HS.ID
								INNER JOIN prg_HiringRequest_RoleStatus HRS with(nolock) on HS.ID = HRS.HR_StatusID 
						WHERE	H.ID = @HiringRequestID;

						--EXEC sproc_HiringRequest_History_Insert 'Close_HR', @HiringRequestID, 0, 0, @ActionPerformedBy, 0, 0, '', 0, 0, 0, 0, 0, @ActionDoneBy

					END
					--ELSE IF @TR >= 1 and @HR_Status in(1,5) and @HiredTalentCount = 0 and @MatchmakCount = 0 --If TR >= 1 and HR is in Open stage (No talent is hired and No profile is shared)
					ELSE IF @TR >= 1 and @Job_Status in (1,4,5) and @HiredTalentCount = 0 and @MatchmakCount = 0 --If TR >= 1 and HR is in Open/active stage (No talent is hired and No profile is shared)
					BEGIN
					    
						print 'IF @TR >= 1 and @HR_Status in( 1,5) and @HiredTalentCount = 0 and @MatchmakCount = 0'
					    INSERT INTO gen_SalesHR_TRUpdated_Details(HiringRequestID, OriginalTR, UpdatedTR, IsIncreased, IsDecreased, Reason,  IsTRCancel, IsTRLost, CreatedByID, CreatedByDateTime,Previous_HRStatus_Id)
						SELECT @HiringRequestID, @TR,@UpdateNoOfTalent, 0, 1, ISNULL(@LossRemark,''),  1, 0, @ActionPerformedBy, GETDATE(),@HR_Status

						SET @TRUpdateTblID = @@IDENTITY;

					    SET @Message = Cast(@UpdateNoOfTalent as nvarchar) + ' TR Cancelled'; --Returning this as Message

						UPDATE	gen_SalesHiringRequest 
						SET		NoofTalents = @UpdateNoOfTalent,
								Remark =ISNULL(@LossRemark,''),
								DeleteHRReason_Id=ISNULL(@DeletereasonId,0), 
								Status_ID = 4,
								JobStatusID = 2, --New Status Change
								LastModifiedByID = @ActionPerformedBy,
								LastModifiedDatetime = GETDATE(),
								JobExpiredORClosedDate = GETDATE()
						WHERE	ID = @HiringRequestID;


						UPDATE	HD
						SET		HD.NoofEmployee = @UpdateNoOfTalent,
								HD.RoleStatus_ID = 7,
								HD.LastModifiedByID = @ActionPerformedBy,
								HD.LastModifiedDatetime = GETDATE()
						FROM	gen_SalesHiringRequest_Details HD with(nolock) 
								INNER JOIN gen_SalesHiringRequest H with(nolock) on HD.HiringRequest_ID = H.ID
								INNER JOIN prg_HiringRequestStatus HS with(nolock) on H.Status_ID = HS.ID
								INNER JOIN prg_HiringRequest_RoleStatus HRS with(nolock) on HS.ID = HRS.HR_StatusID 
						WHERE	H.ID = @HiringRequestID;


						--EXEC sproc_HiringRequest_History_Insert 'Close_HR', @HiringRequestID, 0, 0, @ActionPerformedBy, 0, 0, '', 0, 0, 0, 0, 0, @ActionDoneBy

					END
					--ELSE IF @TR >= 1 and @HR_Status in( 2,5) and @HiredTalentCount = 0 and @MatchmakCount > 0 AND @TR <> @HiredTalentCount --If TR >= 1 and HR is in Process stage (No talent is hired and  profile is shared and Interview is Initiated (It includes all the interview statuses like Slots givenInterview scheduled, Reschedulede)
					ELSE IF @TR >= 1 and @Job_Status in (1, 5) AND @HR_Status in(2,7,8) and @HiredTalentCount = 0 and @MatchmakCount > 0 AND @TR <> @HiredTalentCount --If TR >= 1 and HR is in Process stage (No talent is hired and  profile is shared and Interview is Initiated (It includes all the interview statuses like Slots givenInterview scheduled, Reschedulede)
			        Begin   
					    
						print '@TR >= 1 and @HR_Status in( 2,5) and @HiredTalentCount = 0 and @MatchmakCount > 0' 

						INSERT INTO gen_SalesHR_TRUpdated_Details(HiringRequestID, OriginalTR, UpdatedTR, IsIncreased, IsDecreased, Reason,  IsTRCancel, IsTRLost, CreatedByID, CreatedByDateTime,Previous_HRStatus_Id)
						SELECT @HiringRequestID,@TR, @UpdateNoOfTalent, 0, 1, ISNULL(@LossRemark,''),  0, 1, @ActionPerformedBy, GETDATE(),@HR_Status

						SET @TRUpdateTblID = @@IDENTITY;

						SET @Message =  Cast(@UpdateNoOfTalent as nvarchar) + ' TR loss'; --Returning this as Message
						
						UPDATE	gen_SalesHiringRequest 
						SET		NoofTalents = @UpdateNoOfTalent, 
								Status_ID = 6,
								JobStatusID = 2, --New Status Change
								Remark =ISNULL(@LossRemark,''),
								DeleteHRReason_Id=ISNULL(@DeletereasonId,0), 
								LastModifiedByID = @ActionPerformedBy,
								LastModifiedDatetime = GETDATE(),
								JobExpiredORClosedDate = GETDATE()
						WHERE	ID = @HiringRequestID;


						UPDATE	HD
						SET		HD.NoofEmployee = @UpdateNoOfTalent,
								HD.RoleStatus_ID = 9,
								HD.LastModifiedByID = @ActionPerformedBy,
								HD.LastModifiedDatetime = GETDATE()
						FROM	gen_SalesHiringRequest_Details HD with(nolock) 
								INNER JOIN gen_SalesHiringRequest H with(nolock) on HD.HiringRequest_ID = H.ID
								INNER JOIN prg_HiringRequestStatus HS with(nolock) on H.Status_ID = HS.ID
								INNER JOIN prg_HiringRequest_RoleStatus HRS with(nolock) on HS.ID = HRS.HR_StatusID 
						WHERE	H.ID = @HiringRequestID;


						----commment by himani for this jira UTS-7384
						 --   update	TalentPr 
							--Set		TalentPr.TalentStatusID_BasedOnHR = 5,
							--		TalentPr.RejectReasonID = -1,
							--		TalentPr.OtherRejectReason = 'Talent Auto Cancelled because of HR is Closed.'
							--From	gen_ContactTalentPriority TalentPr with(nolock)	
							--		inner join gen_SalesHiringRequest H with(nolock) ON H.ID = TalentPr.HiringRequestID
							--		inner join prg_HiringRequestStatus HS with(nolock) ON HS.ID = H.Status_ID
							--where	TalentPr.TalentStatusID_BasedOnHR not in (4,7,8) 
							--		and TalentPr.HiringRequestID = @HiringRequestID;


							Select	TalentPr.HiringRequestID,TalentPr.TalentID,TalentPr.ID as ContactTalentPriority_ID,H.SalesUserID as SalesUserID,TalentPr.TalentStatusID_BasedOnHR as TalentStatusID_BasedOnHR
							into	#TempContactTalentPriority  
							From	gen_ContactTalentPriority TalentPr with(nolock)	
									inner join gen_SalesHiringRequest H  with(nolock) ON H.ID = TalentPr.HiringRequestID
									inner join prg_HiringRequestStatus HS  with(nolock) ON HS.ID = H.Status_ID
							where	TalentPr.TalentStatusID_BasedOnHR not in (4,7,8,10) 
									and TalentPr.HiringRequestID = @HiringRequestID;

							----commment by himani for this jira UTS-7384
							----insert history for Talent_Auto_Cancel Action
							--Insert into gen_History(Action_ID,HiringRequest_ID,Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage,History_From,CreatedByID,
							--						CreatedByDatetime,ModifiedByID,ModifiedByDatetime,SLA_DueDate,IsManagedByClient,IsManagedByTalent,IsActive,SalesUserID,TalentStatusID_BasedOnHR,AppActionDoneBy)
							--Select  81,HiringRequestID,TalentID,ContactTalentPriority_ID,0,0,0,0,0,0,0,@ActionPerformedBy,GETDATE(),0,null,null,0,0,0,SalesUserID,TalentStatusID_BasedOnHR,1
							--from    #TempContactTalentPriority;

				
							update	IntM 
							SET		IntM.InterviewStatus_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join #TempContactTalentPriority T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	IntM.InterviewStatus_ID IN (1,4,5) 


							update	SIntM 
							SET		SIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_ShortlistedTalent_InterviewDetails SIntM with(nolock) ON IntM.ID = SIntM.InterviewMaster_ID
									inner join #TempContactTalentPriority T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	SIntM.Status_ID IN (1,4,5) 

							update	SelectedIntM 
							SET		SelectedIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_TalentSelected_InterviewDetails SelectedIntM with(nolock) ON IntM.ID = SelectedIntM.InterviewMaster_ID
									inner join #TempContactTalentPriority T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	SelectedIntM.Status_ID IN (1,4,5) 

							drop table #TempContactTalentPriority;

							--EXEC sproc_HiringRequest_History_Insert 'Close_HR', @HiringRequestID, 0, 0, @ActionPerformedBy, 0, 0, '', 0, 0, 0, 0, 0, @ActionDoneBy

				end
					--ELSE IF @TR >= 1 and @HR_Status in( 2,5) and @HiredTalentCount > 0 and @MatchmakCount > 0 AND @TR <> @HiredTalentCount--If TR >= 1 and any talent is Hired and profile is matched
					ELSE IF @TR >= 1 and @Job_Status in (1, 5) AND @HR_Status in(2,7,8) and @HiredTalentCount > 0 and @MatchmakCount > 0 AND @TR <> @HiredTalentCount--If TR >= 1 and any talent is Hired and profile is matched
			        Begin   

					    print '@TR >= 1 and @HR_Status in( 2,5) and @HiredTalentCount > 0 and @MatchmakCount > 0' 

						INSERT INTO gen_SalesHR_TRUpdated_Details(HiringRequestID, OriginalTR, UpdatedTR, IsIncreased, IsDecreased, Reason,  IsTRCancel, IsTRLost, CreatedByID, CreatedByDateTime,Previous_HRStatus_Id)
						SELECT @HiringRequestID, @TR, @UpdateNoOfTalent , 0, 1, ISNULL(@LossRemark,''),  0, 1, @ActionPerformedBy, GETDATE(),@HR_Status

						SET @TRUpdateTblID = @@IDENTITY;

						SET @Message =  Cast(@UpdateNoOfTalent as nvarchar) + ' TR loss'; --Returning this as Message
						

						UPDATE	gen_SalesHiringRequest 
						SET		NoofTalents = @UpdateNoOfTalent, 
								Remark =ISNULL(@LossRemark,''),
								DeleteHRReason_Id=ISNULL(@DeletereasonId,0),
								Status_ID = 6,	
								JobStatusID = 2, --New Status Change						
								LastModifiedByID = @ActionPerformedBy,
								LastModifiedDatetime = GETDATE(),
								JobExpiredORClosedDate = GETDATE()
						WHERE	ID = @HiringRequestID;
						
						UPDATE	HD
						SET		HD.NoofEmployee = @UpdateNoOfTalent,
								HD.RoleStatus_ID = 9,
								HD.LastModifiedByID = @ActionPerformedBy,
								HD.LastModifiedDatetime = GETDATE()
						FROM	gen_SalesHiringRequest_Details HD with(nolock) 
								INNER JOIN gen_SalesHiringRequest H with(nolock) on HD.HiringRequest_ID = H.ID
								INNER JOIN prg_HiringRequestStatus HS with(nolock) on H.Status_ID = HS.ID
								INNER JOIN prg_HiringRequest_RoleStatus HRS with(nolock) on HS.ID = HRS.HR_StatusID 
						WHERE	H.ID = @HiringRequestID;

						----commment by himani for this jira UTS-7384
						 --   update	TalentPr 
							--Set		TalentPr.TalentStatusID_BasedOnHR = 5,
							--		TalentPr.RejectReasonID = -1,
							--		TalentPr.OtherRejectReason = 'Talent Auto Cancelled because of HR is Closed.'
							--From	gen_ContactTalentPriority TalentPr with(nolock)	
							--		inner join gen_SalesHiringRequest H with(nolock) ON H.ID = TalentPr.HiringRequestID
							--		inner join prg_HiringRequestStatus HS with(nolock) ON HS.ID = H.Status_ID
							--where	TalentPr.TalentStatusID_BasedOnHR not in (4,5,7,8) 
							--		and TalentPr.HiringRequestID = @HiringRequestID;


							Select	TalentPr.HiringRequestID,TalentPr.TalentID,TalentPr.ID as ContactTalentPriority_ID,H.SalesUserID as SalesUserID,TalentPr.TalentStatusID_BasedOnHR as TalentStatusID_BasedOnHR
							into	#TempContactTalent_Priority  
							From	gen_ContactTalentPriority TalentPr with(nolock)	
									inner join gen_SalesHiringRequest H  with(nolock) ON H.ID = TalentPr.HiringRequestID
									inner join prg_HiringRequestStatus HS  with(nolock) ON HS.ID = H.Status_ID
							where	TalentPr.TalentStatusID_BasedOnHR not in (4,5,7,8,10) 
									and TalentPr.HiringRequestID = @HiringRequestID;

							----commment by himani for this jira UTS-7384
							----insert history for Talent_Auto_Cancel Action
							--Insert into gen_History(Action_ID,HiringRequest_ID,Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage,History_From,CreatedByID,
							--						CreatedByDatetime,ModifiedByID,ModifiedByDatetime,SLA_DueDate,IsManagedByClient,IsManagedByTalent,IsActive,SalesUserID,TalentStatusID_BasedOnHR,AppActionDoneBy)
							--Select  81,HiringRequestID,TalentID,ContactTalentPriority_ID,0,0,0,0,0,0,0,@ActionPerformedBy,GETDATE(),0,null,null,0,0,0,SalesUserID,TalentStatusID_BasedOnHR,1
							--from    #TempContactTalent_Priority;

				
							update	IntM 
							SET		IntM.InterviewStatus_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join #TempContactTalent_Priority T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	IntM.InterviewStatus_ID IN (1,4,5) 


							update	SIntM 
							SET		SIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_ShortlistedTalent_InterviewDetails SIntM with(nolock) ON IntM.ID = SIntM.InterviewMaster_ID
									inner join #TempContactTalent_Priority T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	SIntM.Status_ID IN (1,4,5)  

							update	SelectedIntM 
							SET		SelectedIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_TalentSelected_InterviewDetails SelectedIntM with(nolock) ON IntM.ID = SelectedIntM.InterviewMaster_ID
									inner join #TempContactTalent_Priority T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	SelectedIntM.Status_ID IN (1,4,5)  

							drop table #TempContactTalent_Priority;

							--EXEC sproc_HiringRequest_History_Insert 'Close_HR', @HiringRequestID, 0, 0, @ActionPerformedBy, 0, 0, '', 0, 0, 0, 0, 0, @ActionDoneBy

				end
					--ELSE IF @TR = @HiredTalentCount and @HR_Status in( 2,5) and @HiredTalentCount > 0 and @MatchmakCount <> 0 -- @TR = @HiredTalentCount and profile is matched
				    ELSE IF @TR = @HiredTalentCount and @Job_Status in (1, 5) AND @HR_Status in(2,7,8) and @HiredTalentCount > 0 and @MatchmakCount <> 0 -- @TR = @HiredTalentCount and profile is matched
			        Begin   

					    print '@TR = @HiredTalentCount and @HR_Status in( 2,5) and @HiredTalentCount > 0 and @MatchmakCount <> 0' 

						INSERT INTO gen_SalesHR_TRUpdated_Details(HiringRequestID, OriginalTR, UpdatedTR, IsIncreased, IsDecreased, Reason,  IsTRCancel, IsTRLost, CreatedByID, CreatedByDateTime,Previous_HRStatus_Id)
						SELECT @HiringRequestID, @TR, @UpdateNoOfTalent , 0, 1, ISNULL(@LossRemark,''),  0, 1, @ActionPerformedBy, GETDATE(),@HR_Status

						SET @TRUpdateTblID = @@IDENTITY;

						SET @Message =  Cast(@UpdateNoOfTalent as nvarchar) + ' TR loss'; --Returning this as Message
						

						UPDATE	gen_SalesHiringRequest 
						SET		NoofTalents = @UpdateNoOfTalent, 
								Remark =ISNULL(@LossRemark,''),
								DeleteHRReason_Id=ISNULL(@DeletereasonId,0),
								Status_ID = 3,
								JobStatusID = 2, --New Status Change							
								LastModifiedByID = @ActionPerformedBy,
								LastModifiedDatetime = GETDATE(),
								JobExpiredORClosedDate = GETDATE()
						WHERE	ID = @HiringRequestID;
						
						UPDATE	HD
						SET		HD.NoofEmployee = @UpdateNoOfTalent,
								HD.RoleStatus_ID = 6,
								HD.LastModifiedByID = @ActionPerformedBy,
								HD.LastModifiedDatetime = GETDATE()
						FROM	gen_SalesHiringRequest_Details HD with(nolock) 
								INNER JOIN gen_SalesHiringRequest H with(nolock) on HD.HiringRequest_ID = H.ID
								INNER JOIN prg_HiringRequestStatus HS with(nolock) on H.Status_ID = HS.ID
								INNER JOIN prg_HiringRequest_RoleStatus HRS with(nolock) on HS.ID = HRS.HR_StatusID 
						WHERE	H.ID = @HiringRequestID;

						----commment by himani for this jira UTS-7384
						 --   update	TalentPr 
							--Set		TalentPr.TalentStatusID_BasedOnHR = 5,
							--		TalentPr.RejectReasonID = -1,
							--		TalentPr.OtherRejectReason = 'Talent Auto Cancelled because of HR is Closed.'
							--From	gen_ContactTalentPriority TalentPr	with(nolock)
							--		inner join gen_SalesHiringRequest H with(nolock) ON H.ID = TalentPr.HiringRequestID
							--		inner join prg_HiringRequestStatus HS with(nolock) ON HS.ID = H.Status_ID
							--where	TalentPr.TalentStatusID_BasedOnHR not in (4,7,8) 
							--		and TalentPr.HiringRequestID = @HiringRequestID;


							Select	TalentPr.HiringRequestID,TalentPr.TalentID,TalentPr.ID as ContactTalentPriority_ID,H.SalesUserID as SalesUserID,TalentPr.TalentStatusID_BasedOnHR as TalentStatusID_BasedOnHR
							into	#TempContactTalent_Priority_Hired  
							From	gen_ContactTalentPriority TalentPr with(nolock)	
									inner join gen_SalesHiringRequest H  with(nolock) ON H.ID = TalentPr.HiringRequestID
									inner join prg_HiringRequestStatus HS  with(nolock) ON HS.ID = H.Status_ID
							where	TalentPr.TalentStatusID_BasedOnHR not in (4,7,8,10) 
									and TalentPr.HiringRequestID = @HiringRequestID;

							----commment by himani for this jira UTS-7384
							----insert history for Talent_Auto_Cancel Action
							--Insert into gen_History(Action_ID,HiringRequest_ID,Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage,History_From,CreatedByID,
							--						CreatedByDatetime,ModifiedByID,ModifiedByDatetime,SLA_DueDate,IsManagedByClient,IsManagedByTalent,IsActive,SalesUserID,TalentStatusID_BasedOnHR,AppActionDoneBy)
							--Select  81,HiringRequestID,TalentID,ContactTalentPriority_ID,0,0,0,0,0,0,0,@ActionPerformedBy,GETDATE(),0,null,null,0,0,0,SalesUserID,TalentStatusID_BasedOnHR,1
							--from    #TempContactTalent_Priority_Hired;

				
							update	IntM 
							SET		IntM.InterviewStatus_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join #TempContactTalent_Priority_Hired T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	IntM.InterviewStatus_ID IN (1,4,5)  


							update	SIntM 
							SET		SIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_ShortlistedTalent_InterviewDetails SIntM with(nolock) ON IntM.ID = SIntM.InterviewMaster_ID
									inner join #TempContactTalent_Priority_Hired T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	SIntM.Status_ID IN (1,4,5) 

							update	SelectedIntM 
							SET		SelectedIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_TalentSelected_InterviewDetails SelectedIntM with(nolock) ON IntM.ID = SelectedIntM.InterviewMaster_ID
									inner join #TempContactTalent_Priority_Hired T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	SelectedIntM.Status_ID IN (1,4,5) 

							drop table #TempContactTalent_Priority_Hired;

							

				end
				    ELSE IF @TR =  0 and @HR_Status =1-- @TR = 0
			        Begin   

					    print ' @TR =  0 and @HR_Status =1' 

					    SET @Message =  '0 TR Cancelled'; --Returning this as Message

						UPDATE	gen_SalesHiringRequest 
						SET		
								Remark =ISNULL(@LossRemark,''),
								DeleteHRReason_Id=ISNULL(@DeletereasonId,0), 
								Status_ID = 4,
								JobStatusID = 2, --New Status Change
								LastModifiedByID = @ActionPerformedBy,
								LastModifiedDatetime = GETDATE(),
								JobExpiredORClosedDate = GETDATE()
						WHERE	ID = @HiringRequestID;


						UPDATE	HD
						SET		
								HD.RoleStatus_ID = 7,
								HD.LastModifiedByID = @ActionPerformedBy,
								HD.LastModifiedDatetime = GETDATE()
						FROM	gen_SalesHiringRequest_Details HD with(nolock) 
								INNER JOIN gen_SalesHiringRequest H with(nolock) on HD.HiringRequest_ID = H.ID
								INNER JOIN prg_HiringRequestStatus HS with(nolock) on H.Status_ID = HS.ID
								INNER JOIN prg_HiringRequest_RoleStatus HRS with(nolock) on HS.ID = HRS.HR_StatusID 
						WHERE	H.ID = @HiringRequestID;

					END
					

			END


			select @Message as [Message]
			
			Declare @SQL as Nvarchar(MAX) = ''
			DECLARE @HistoryID BIGINT = 0;

			If @Message <> ''
				BEGIN
					set @SQL = 'EXEC sproc_HiringRequest_History_Insert ''Close_HR'', ' + cast(@HiringRequestID as Nvarchar(10)) + ', 0, 0, ' + cast(@ActionPerformedBy as Nvarchar(10)) + ', 0, 0, '''', 0, ' + cast(@ActionManagedByClient as Nvarchar(10)) + ', 0, 0, 0,' + cast(@ActionDoneBy as Nvarchar(10))
				END

			IF OBJECT_ID('tempdb..#HistoryIDTbl') IS NOT NULL
				DROP TABLE #HistoryIDTbl;

			CREATE TABLE #HistoryIDTbl(Id bigint);

			INSERT INTO #HistoryIDTbl(Id)
				exec SP_ExecuteSql @SQL;
	
			SET @HistoryID = (select top 1 Id from #HistoryIDTbl);
			UPDATE	gen_SalesHR_TRUpdated_Details SET HistoryID = @HistoryID where ID = @TRUpdateTblID;

			DROP TABLE #HistoryIDTbl;

			BEGIN ---Payal (06-11-23) Remove HR from priority for Completed, Lost & Cancel HR

			    Declare @HR_SalesUserID as int =0
				Declare @HR_StatusID as int =0
				Select @HR_SalesUserID =  SalesUserID,@HR_StatusID =  Status_ID  from gen_SalesHiringRequest with(nolock) where ID = @HiringRequestID

				if(@HR_StatusID <> 1 AND @HR_StatusID  <> 2)
				begin
					exec sproc_Insert_HiringRequest_Priority_Revise_Flow_WithoutReturn @LoggedInUserId= @LoggedInUserId, @SalesUserID = @HR_SalesUserID, @HiringRequestID= @HiringRequestID, @IsPriority = 0
								
					update SP SET IsPriority =0 from gen_SalesHiringRequest_Priority SP inner join gen_SalesHiringRequest H with(nolock) ON SP.HiringRequestID = H.ID
															where H.Status_ID in(3,	4,5,6)
															AND IsPriority =1 AND H.ID = @HiringRequestID
				END


			END
			
END