USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_GetStandOutDetails_ClientPortal]    Script Date: 11-03-2024 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_GetStandOutDetails_ClientPortal]  
 
  @CompanyID				BIGINT = NULL,
  @ContactId				BIGINT = 0, 
  @GUID					NVARCHAR(50) = NULL

AS
BEGIN

	DECLARE @StandOutDetails TABLE
	(	
	  GUID					NVARCHAR(50),
	  ContactId				BIGINT, 
	  IndustryType			NVARCHAR(4000),
	  CompanySize			INT,
	  AboutCompanyDesc	    NVARCHAR(4000),  
	  IsOffShoreLocationExp	BIT,
	  IsLineManagerReq		BIT ,
	  IsTeamMemberReplacement BIT,
	  CareerProgressionPath NVARCHAR(MAX),
	  BenefitsandChallenges NVARCHAR(MAX),
	  InterviewProcess		NVARCHAR(MAX),
	  IPAddress				NVARCHAR(100),
	  ProcessType			NVARCHAR(100),
	  CompanysLinkedInProfile NVARCHAR(600),
	  ContactsLinkedInProfile NVARCHAR(600),
	  CompanyID				 BIGINT,
	  CompanyName			NVARCHAR(600),
	  Website				NVARCHAR(MAX)
	)

		INSERT INTO @StandOutDetails
				SELECT 
				@GUID,
				@ContactId,
				ISNULL(NULLIF(C.industry, ''), SC.Industry_Type),
				ISNULL(NULLIF(C.CompanySize, 0), SC.CompanySize),
				ISNULL(NULLIF(C.about_Company_desc, ''),SC.about_Company_desc),
				CAST (ISNULL(NULLIF(C.TeamManagement, ''), IIF(SC.IsOffShoreLocationExp = 1, 1, 0)) AS BIT),
				SC.IsLineManagerReq,
				SC.IsTeamMemberReplacement,
				SC.CareerProgressionPath,
				SC.BenefitsandChallenges,
				SC.InterviewProcess,
				SC.IPAddress,
				SC.ProcessType,
				ISNULL(C.LinkedInProfile, SC.CompanysLinkedInProfile),
				ISNULL(GC.LinkedIn, SC.ContactsLinkedInProfile),				
				C.ID,
				C.Company,
				ISNULL(C.Website, '')
				FROM gen_Company C 
				LEFT JOIN gen_JobPost_StandoutToTalents_ClientPortal SC ON C.ID = SC.CompanyID AND SC.Guid = @Guid
				LEFT JOIN gen_Contact GC ON GC.CompanyID = C.ID
				WHERE C.ID = @CompanyID 


		SELECT TOP 1 * FROM @StandOutDetails
		
END