USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Update_CreditBalance_ClientPortal]    Script Date: 16-02-2024 16:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Update_CreditBalance_ClientPortal]
 @CompanyID BIGINT NULL
AS
BEGIN

		DECLARE 
			@PaymentHistoryID BIGINT,
			@IsPlanPurchased BIT, 
			@LatestBalance INT, 
			@SubscriptionID BIGINT, 
			@CurrentSubscriptionID BIGINT,		
			@CreditBalance INT
		
		SET @LatestBalance = (SELECT TOP 1 JPCreditBalance FROM gen_Company WHERE ID = @CompanyID)

		-- If the latest balance is zero then check if any plan is purchased in advance or not.
		IF(@LatestBalance = 0)
		BEGIN
			SET @IsPlanPurchased = (SELECT COUNT(1) FROM gen_JobPost_Subscription_History_ClientPortal WHERE CompanyID = @CompanyID AND IsActive = 0 AND IsAdvancePurchase = 1)
			
			-- If the company has purchased the plan in Advance then activate that plan and deactivate the old one.
			IF(ISNULL(@IsPlanPurchased,0) > 0)
			BEGIN

				-- Take the information of the Advanced purchase plan
				SELECT TOP 1 
				@SubscriptionID = ID,				
				@CreditBalance = CreditBalance
				FROM gen_JobPost_Subscription_History_ClientPortal 
				WHERE CompanyID = @CompanyID AND IsActive = 0 AND IsAdvancePurchase = 1 ORDER BY ID

				-- Pick the current active plan
				SET @CurrentSubscriptionID = (SELECT TOP 1 ID FROM gen_JobPost_Subscription_History_ClientPortal 
										WHERE CompanyID = @CompanyID AND IsActive = 1 AND ISNULL(IsAdvancePurchase,0) = 0 ORDER BY ID)

				-- Update the current active plan to deactivate
				UPDATE gen_JobPost_Subscription_History_ClientPortal SET 
				IsActive = 0
				WHERE ID = @CurrentSubscriptionID

				-- Update the advance plan to the current plan
				UPDATE gen_JobPost_Subscription_History_ClientPortal SET 
				IsActive = 1,
				IsAdvancePurchase = 0
				WHERE ID = @SubscriptionID

				--Update the company credits 
				UPDATE gen_Company SET 
				JPCreditBalance = @CreditBalance
				WHERE ID = @CompanyID 

			END
		END		

		SELECT @LatestBalance AS 'CompanyCreditBalance'
		
END		