ALTER PROCEDURE [dbo].[sproc_Get_CTPTalentDetails_ClientPortal]
 @Hiring_Request_Id     bigint = null,  
 @Contact_Id            bigint = null
AS  
BEGIN  
  
 --(rinku) 25-04-2023  
  Declare @CompanyID as bigint = 0  
  DECLARE @WhereClauseSQL NVARCHAR(MAX) = ' 1 = 1  ';  
  --DECLARE @WhereClauseSkills NVARCHAR(MAX) = ' AND 1= 1 ';  
  DECLARE @MainSQL as NVARCHAR(MAX) = ''  
  Declare @Frontend_HRType as nvarchar(50) = ''  
  DECLARE @RoleID INT = 1   

  IF(ISNULL(@Contact_Id,0) = 0)
  BEGIN
	SELECT TOP 1 @Contact_Id = ContactID from gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @Hiring_Request_Id
  END
  
  Select @CompanyID = CompanyID   
  from gen_Contact with(nolock)   
  where ID = @Contact_ID  
          
  IF OBJECT_ID('tempdb..#HRTypeID') IS Not Null  
   DROP TABLE #HRTypeID  
  
  CREATE TABLE #HRTypeID  
  (  
   HRID  bigint,  
   HRTypeID int  
  )  
  
	INSERT INTO #HRTypeID  
     SELECT  SH.ID,ISNULL(HRTypeID,0)  
     FROM    gen_SalesHiringRequest SH WITH(NOLOCK)  
     inner join gen_Contact C WITH(NOLOCK) ON  SH.ContactID = C.ID  
     WHERE C.CompanyID = @CompanyID 
  
      --select * from #HRTypeID  
    SET @Frontend_HRType = 'Credit Based Job'  
  
    --If user role is for myjobs then only show the jobs posted by them.    
  SELECT TOP 1 @RoleID = RoleID   
  FROM LoggedInUserRole_ClientPortal(@Contact_Id)  
  
  
 --- payal - 02-05-2023 (new table gen_PostAcceptanceDetails)   
      SELECT  [HiringRequest_ID],Talent_ID,isnull([Str_TimeZone],'') 
	  AS [Str_TimeZone],isnull([Accepted_Howsoon],'') 
	  AS [Accepted_Howsoon],isnull([Accepted_Availability],'') [Accepted_Availability]       
   into #Temp_PostAcceptanceDetails  
   FROM gen_PostAcceptanceDetails PA WITH(nolock)   
     inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON PA.HiringRequest_ID = HR.ID  
     inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = HR.ContactID  
     Inner join #HRTypeID HT ON HT.HRID = HR.ID  
   where  GC.CompanyID = @CompanyID   
   group by [HiringRequest_ID],Talent_ID,isnull([Str_TimeZone],'') ,isnull([Accepted_Howsoon],''),isnull([Accepted_Availability],'')  
  
  
   SELECT IMasterID =max(IntM.ID) ,IntM.HiringRequest_ID ,IntM.Talent_ID,max(Intm.InterviewRound_Count)  InterviewRound_Count  
   INTO #TempInterviewDetails  
   FROM gen_InterviewSlotsMaster IntM WITH(NOLOCK)    
     INNER JOIN #Temp_PostAcceptanceDetails TmpPostAcc ON IntM.HiringRequest_ID = TmpPostAcc.HiringRequest_ID  
   GROUP BY  IntM.HiringRequest_ID ,IntM.Talent_ID  

   --SELECT * FROM #TempInterviewDetails
  
   IF OBJECT_ID('tempdb..#FinalShortlistedTalents') IS not Null  
    DROP TABLE #FinalShortlistedTalents  
  
   CREATE TABLE #FinalShortlistedTalents  
   (     
		ID         bigint,  
		TalentID    bigint,  
		ATSTalentId  bigint,
		Hr_Number    Nvarchar(50),	
		HiringRequest_Detail_ID bigint,  
		Shortlisted_InterviewID bigint,
		Ctp_ID     bigint,  
		InterviewStatus   Nvarchar(50),  
		InterviewStatusID  int,  
		InterviewProcessMessage Nvarchar(Max),  
		Shortlisted_InterviewID_ForFeedback  bigint,  
		MasterId    bigint,  
		HRTypeId      int,  
 		FeedbackID BIGINT,
		HRTalentGUID  nVARCHAR(50),
		InterviewSlots NVARCHAR(MAX),
		InterviewTimeZone NVARCHAR(250),
		TalentStatus NVARCHAR(250),
		InterviewDateTime	NVARCHAR(500),
		InterviewLink	NVARCHAR(MAX),
		CanRejectTalent  BIT,
		StrInterviewRound NVARCHAR(20),
		RejectionReason	NVARCHAR(MAX),
		OnBoardID BIGINT,
		IsContractualHR  BIT,
		IsContractORDPDetailsConfirmed BIT,
		IsAssessmentShared BIT,
		RejectionMessageForCandidates NVARCHAR(MAX),
		RejectionRemarks NVARCHAR(MAX)
   )  
    
   -------------------------------------------------------------------------------  
      
    --Payal(19-05-2021) : Create Temp Table for Nextround details  

		Select  Shortlisted_InterviewID=max(isnull(FB.Shortlisted_InterviewID,0)),   
		  FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID  
			,NextRoundID = case when isnull(FeedBack_Type,'') = 'AnotherRound' AND  isnull(FB.IsNextroundDetailsSubmitted,0) =  1 then max(Isnull(FB.ID,0))  else max(Isnull(NR.ID,0)) end  
			,TalentSelected_Interview_ID = case when isnull(FeedBack_Type,'') = 'AnotherRound' AND  isnull(FB.IsNextroundDetailsSubmitted,0) =  1 then max(Isnull(FB.ID,0))  else max(isnull(TalentSelected_Interview_ID,0 )) end  
			,InterviewRound = max(isnull(InterviewRound,0))  
			,isnull(FeedBack_Type,'') FeedBack_Type,ISNULL(Talent_ID,0) AS Talent_ID  
		 into #TempNextRoundDetails   
		 From   gen_ContactInterviewFeedback FB WITH(NOLOCK)   
		  inner join gen_contact GCon WITH(NOLOCK) ON  GCon.ID = FB.ContactID  
		  LEFT JOIN gen_TalentSelected_NextRound_InterviewDetails NR with(NOLOCK) ON NR.ContactID = FB.ContactID AND NR.HiringRequest_ID = FB.HiringRequest_ID AND NR.HiringRequest_Detail_ID = FB.HiringRequest_Detail_ID AND FB.Shortlisted_InterviewID = NR.Shortlisted_InterviewID   
		 WHERE  GCon.CompanyID = @CompanyID  
		  AND isnull(FeedBack_Type,'') = 'AnotherRound' AND isnull(FB.IsNextroundDetailsSubmitted,0) =0  
		 group by  FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID, isnull(FeedBack_Type,''),isnull(FB.IsNextroundDetailsSubmitted,0),ISNULL(Talent_ID,0)   
	
	

	--SELECT * FROM #TempNextRoundDetails

	DECLARE @InterviewFeedbackTable TABLE 
	(
		FeedbackID BIGINT,
		TalentID BIGINT
	)
	INSERT INTO @InterviewFeedbackTable
	SELECT CI.ID,TS.Talent_ID FROM gen_ContactInterviewFeedback CI WITH(NOLOCK) 
						INNER JOIN gen_TalentSelected_InterviewDetails TS WITH(NOLOCK) ON CI.HiringRequest_ID = TS.HiringRequest_ID 
						AND CI.Shortlisted_InterviewID = TS.Shortlisted_InterviewID 
						--AND TS.Talent_ID = T.ID
						WHERE CI.HiringRequest_ID = @Hiring_Request_Id 
						--AND TS.Talent_ID = T.ID

	--SELECT * FROM @InterviewFeedbackTable


	DECLARE @AssessmentShared TABLE
	(
		HRID BIGINT,
		ATSTalentID BIGINT,
		IsSharedToTalent BIT
	)
	INSERT INTO @AssessmentShared
	SELECT HCA.HiringRequestID,ATD.ATSTalentID, ATD.IsSharedToTalent  FROM  gen_HRCustomAssessment HCA WITH(NOLOCK)
		INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID = HCA.HiringRequestID
		INNER JOIN gen_contact C WITH(NOLOCK) ON HR.ContactID = C.ID
		INNER JOIN gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
		LEFT JOIN gen_AssessmentWiseTalentDetails ATD WITH(NOLOCK) ON ATD.AssessmentID = HCA.ID 
	WHERE CO.ID = @CompanyID AND ATD.IsSharedToTalent = 1
	GROUP BY ATD.ATSTalentID,HCA.HiringRequestID,ATD.IsSharedToTalent
      
   ;WITH CTE_NextRound AS(  
          Select FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID, TI.Talent_ID   	      
			,StrInterviewRound = ' ( Round '+ cast(Count(FB.ID) + 1 as varchar(10)) +' )'    
          
          From gen_ContactInterviewFeedback FB WITH(NOLOCK)
            inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = FB.ContactID  
			LEFT JOIN gen_TalentSelected_InterviewDetails TI ON FB.Shortlisted_InterviewID = TI.Shortlisted_InterviewID
          WHERE GC.CompanyID =@CompanyID   
            AND FB.FeedBack_Type ='AnotherRound'  
			            
          group by FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID
		  ,TI.Talent_ID          
         )   
     ------------------------------------------  
     --For TalentPriority = 'Priority 1'   
      Select *        
     into #FinalTable1  
     from (  
     select HR.ID, 
			ctp.TalentID, 
			T.ATS_Talent_ID
			,Hr_Number = Isnull(HR_Number,'')  
		      ,HRD.ID AS HiringRequest_Detail_ID      
       ,Shortlisted_InterviewID = isnull(TI.Shortlisted_InterviewID,0)  ,           
        Ctp_ID = CTP.ID  
       ,InterviewStatus = Isnull(INS.InterviewStatus,'')  
       ,InterviewStatusID = CASE WHEN Isnull(TAC.Id,0) IN (1,5,6,7) THEN 10 
								WHEN ISNULL(INS.ID,0) = 3 THEN 0
							ELSE Isnull(INS.Id,0)  END
       ,InterviewProcessMessage = IIF(Isnull(TAC.Id,0) NOT IN (5,6, 7) AND ISNULL(HR.HRTypeId,0) = 1,  
               CASE WHEN Isnull(INS.Id,0) = 1 THEN 'Awaiting Talent''s Selection of Interview Time Slot'   
				    WHEN (Isnull(INS.Id,0) = 4 OR Isnull(INS.Id,0) = 5) THEN 'Awaiting for the interview to complete'   
                    WHEN ISNULL(TAC.ID, 0) = 1 THEN 'Awaiting for the Talent''s Acceptance'  	
					WHEN Isnull(TAC.Id,0) = 11 AND ISNULL(INS.ID,0) = 6 THEN 'Interview completed'
                ELSE 
				'' END,   
                ''				
				),  
       Shortlisted_InterviewID_ForFeedback = ISNULL((  
                 SELECT TOP 1 Shortlisted_InterviewID FROM gen_TalentSelected_InterviewDetails   
                 WHERE HiringRequest_ID = HR.ID AND Talent_ID = T.ID AND IsConfirmed = 1 Order by ID Desc  
                ),0),  
       ISNULL(Tmp.IMasterID,0) As MasterId,        
       HRTypeId = ISNULL(HR.HRTypeId,0),       
	   FeedbackID = (
						SELECT TOP 1 FeedbackID FROM @InterviewFeedbackTable WHERE TalentID = T.ID
					),
		HRTalentGUID = ISNULL(HRTalentGUID,''),
		InterviewSlots = --CASE WHEN INS.ID IN (4,5,6) THEN
						 LTRIM(RTRIM(isnull((STUFF(( select ', ' + char(10) + (CONVERT(Nvarchar, ISNULL(S.ScheduledOn, ' '), 106) + ' '+ convert(NVARCHAR(5),S.Interview_StartTime, 14)) +' To ' +(convert(NVARCHAR (5),S.Interview_EndTime, 14)) from gen_ShortlistedTalent_InterviewDetails S WITH(NOLOCK) WHERE S.InterviewMaster_ID = IMasterID For XML Path('')),1,1,'')),'')))
						 --ELSE '' END,
						
		,InterviewTimeZone = (SELECT TOP 1 TimeZoneTitle FROM gen_ShortlistedTalent_InterviewDetails SI WITH(NOLOCK) 
							INNER JOIN prg_ContactTimeZone CT WITH(NOLOCK) ON SI.TimeZone_ID = CT.ID
							WHERE HiringRequest_ID = @Hiring_Request_Id AND Talent_ID = CTP.TalentID),
		TalentStatus = Isnull(TAC.TalentStatus,'') + CASE WHEN CTP.TalentStatusID_BasedOnHR = 3 THEN
													 CASE WHEN ISNULL(CTE.StrInterviewRound,'') <> '' then ' - '+ isnull(CTE.StrInterviewRound,'') ELSE '' END
													 ELSE '' END,
		InterviewDateTime = CASE WHEN INS.ID IN (4,5,6) THEN (
								SELECT TOP 1 CONVERT(varchar,SI.ScheduledOn, 6) + ' '+ 
											(convert(NVARCHAR(5),SI.Interview_StartTime, 14)) +' To ' +
											(convert(NVARCHAR(5),SI.Interview_EndTime, 14)) + ' (' + CT.ShortName + ')'   FROM gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) 
								INNER JOIN gen_ShortlistedTalent_InterviewDetails SI WITH(NOLOCK) ON TI.Shortlisted_InterviewID = SI.ID
								INNER JOIN prg_ContactTimezone CT WITH(NOLOCK) ON CT.ID = SI.TimeZone_ID
								WHERE TI.HiringRequest_ID = @Hiring_Request_Id AND SI.Talent_ID = CTP.TalentID AND 
								SI.InterviewMaster_ID = IMasterID
							)ELSE '' END,
		InterviewLink =  CASE WHEN INS.ID IN (4,5) THEN (
								SELECT TOP 1 Zoom_InterviewLink  FROM gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) 
								INNER JOIN gen_ShortlistedTalent_InterviewDetails SI WITH(NOLOCK) ON TI.Shortlisted_InterviewID = SI.ID
								
								WHERE TI.HiringRequest_ID = @Hiring_Request_Id AND SI.Talent_ID = CTP.TalentID AND TI.InterviewMaster_ID = Tmp.IMasterID
							) ELSE '' END,
		 CanRejectTalent =  CASE WHEN HR.JobStatusID <> 2 THEN
								CASE WHEN (TAC.ID = 2 OR (TAC.ID = 3 AND (IntM.InterviewStatus_ID = 3 OR IntM.InterviewStatus_ID = 7))) THEN 1 
									 WHEN (TAC.ID = 11 AND ISNULL(IntM.InterviewStatus_ID,0) = 0 ) THEN 1
								ELSE 0 END -- If profile shared then talent can be rejected.\
							ELSE 0 END
		 ,StrInterviewRound = CASE WHEN TAC.ID = 3 THEN CTE.StrInterviewRound ELSE '' END,
		 RejectionReason = 
						   --CASE WHEN (SELECT TOP 1 FeedbackID FROM @InterviewFeedbackTable WHERE TalentID = T.ID) > 0 AND CTP.TalentStatusID_BasedOnHR = 7 THEN '' ELSE
						   CASE WHEN CTP.RejectReasonID > 0 THEN (SELECT TOP 1 Reason FROM prg_TalentRejectReason WHERE ID = CTP.RejectReasonID) 
						   ELSE CTP.OtherRejectReason END,
						   --END,
		OnBoardID = (SELECT TOP 1 ID FROM gen_OnBoardTalents WITH(NOLOCK) WHERE HiringRequest_ID = HR.ID AND Talent_ID = CTP.TalentID),
		IsContractualHR = CASE WHEN HR.HRtypeID = 1 AND HR.IsHRTypeDP = 0 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
		IsContractORDPDetailsConfirmed = CASE WHEN O.ClientOnBoarding_StatusID = 2 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
		IsAssessmentShared = A.IsSharedToTalent,
		RejectionMessageForCandidates = CTP.OtherRejectReason,
		RejectionRemarks = CTP.LossRemark
							 
     from gen_SalesHiringRequest HR with(nolock)   
       inner join gen_SalesHiringRequest_Details HRD with(nolock) on HR.ID = HRD.HiringRequest_ID  
       inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID   AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID  
	   inner join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON TAC.ID = CTP.TalentStatusID_BasedOnHR 
       inner join gen_Talent T with(nolock) ON T.ID = CTP.TalentID       
       inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = CTP.ContactID  
       Inner join #HRTypeID HT ON HT.HRID = HR.ID  
       LEFT JOIN #TempNextRoundDetails  TNextRound ON 
	   TNextRound.HiringRequest_ID  = HR.ID AND  TNextRound.ContactID = HR.ContactID 
	   AND TNextRound.HiringRequest_Detail_ID = HRD.ID AND TNextRound.Talent_ID = T.ID  
       left join #Temp_PostAcceptanceDetails PA ON HR.ID = PA.[HiringRequest_ID] AND  PA.Talent_ID = CTP.TalentID  
       LEft JOIN #TempInterviewDetails Tmp ON Tmp.HiringRequest_ID = HR.ID AND Tmp.Talent_ID = T.ID  
       LEft join gen_InterviewSlotsMaster IntM WITH(NOLOCK) ON IntM.ID = Tmp.IMasterID --and Tmp.InterviewRound_Count = IntM.InterviewRound_Count  
       LEft join prg_InterviewStatus INS WITH(NOLOCK) ON INS.ID = IntM.InterviewStatus_ID   
       LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = HR.HrTypeId  
	   Left JOIN gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) ON  
	   --TI.InterviewRound = IntM.InterviewRound_Count and  
	   TI.InterviewMaster_ID=IntM.ID AND TI.HiringRequest_ID = IntM.HiringRequest_ID AND TI.HiringRequest_Detail_ID = IntM.HiringRequest_Detail_ID AND TI.Talent_ID = IntM.Talent_ID
								
		LEFT join gen_ContactInterviewFeedback CF with(nolock) ON  CF.Shortlisted_InterviewID = TI.Shortlisted_InterviewID AND CF.HiringRequest_ID =  Tmp.HiringRequest_ID
		LEFT JOIN CTE_NextRound CTE ON CTE.Talent_ID = CTP.TalentID AND HR.ID = CTE.HiringRequest_ID AND  CTE.ContactID = HR.ContactID AND CTE.HiringRequest_Detail_ID = HRD.ID  
		LEFT JOIN gen_OnBoardTalents O WITH(NOLOCK) ON O.HiringRequest_ID = HR.ID AND O.Talent_ID = CTP.TalentID  
		LEFT JOIN @AssessmentShared A ON A.HRID = HR.ID AND A.ATSTalentID = T.ATS_Talent_ID
	 where GC.CompanyID =@CompanyID --HR.ContactID = @Contact_Id   
             --AND TalentPriority = 'Priority 1'
       AND HR.ContactID =  
       IIF(ISNULL(@RoleID,0) = 3, @Contact_Id, HR.ContactID ) 
	   AND HR.ID = @Hiring_Request_Id 
	   --and ctp.talentstatusid_basedonhr = 3
         
     
    ) as FinalObj     


	
  
     
   Insert into #FinalShortlistedTalents  
   select * from   #FinalTable1  
  
    --drop table #Temp_TalentAssesment  
    drop table #TempNextRoundDetails  
    
    drop table #FinalTable1  
 
  
  SET @MainSQL = 'select * from #FinalShortlistedTalents where ' + @WhereClauseSQL --+ @WhereClauseSkills   

  EXEC SP_ExecuteSQL @MainSQL  
   
  
  drop table #Temp_PostAcceptanceDetails    
  drop table #FinalShortlistedTalents  
  drop table #HRTypeID  
END

