ALTER PROCEDURE [dbo].[Sproc_HiringTypeDetails_ClientPortal]
@CompanyID BIGINT = 0,
@CurrentCompanyTypeID INT = 0,
@HRID BIGINT = 0
AS
BEGIN
			
			DECLARE @IsTransparentPricing BIT = 0, @HiringTypePricingID BIGINT = 0
			SELECT TOP 1 
			@IsTransparentPricing = IsTransparentPricing, 
			@HiringTypePricingID = HiringTypePricingId
			FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyID AND @CurrentCompanyTypeID = 1

			IF(ISNULL(@HRID,0) > 0)
			BEGIN
				print 'HR level' 
				SELECT TOP 1 
				@IsTransparentPricing = IsTransparentPricing, 
				@HiringTypePricingID = HiringTypePricingId
				FROM gen_SalesHiringRequest WITH(NOLOCK) 
				WHERE ID = @HRID
			END


			IF OBJECT_ID('#tempdb..#HiringTypePricing') IS NOT NULL
				DROP TABLE #HiringTypePricing

			CREATE TABLE #HiringTypePricing
			(
				Id						bigint,
				Type					Nvarchar(200) null, 
				HrtypeId				int null,
				PricingPercent			DECIMAL(18,2) null,				
				DisplayPricingPercent   VARCHAR(20) null,
				ShowPartTime            BIT null,
				IsTransparentModel      BIT NULL
			)

			IF(@IsTransparentPricing = 1)
			BEGIN
				Insert into #HiringTypePricing(Id,Type,HrtypeId,PricingPercent,DisplayPricingPercent,ShowPartTime,IsTransparentModel)
					select ID,				
					[Type],
					HRTypeID,
					CASE WHEN HRTypeID = 1 THEN CAST(7.5 AS NVARCHAR) ELSE PricingPercent END,
					CAST(CAST(CASE WHEN HRTypeID = 1 THEN CAST(7.5 AS NVARCHAR) ELSE PricingPercent END AS DECIMAL(18,2)) AS VARCHAR(20)),
					CASE WHEN ID = 1 THEN 1 ELSE 0 END,
					@IsTransparentPricing
					FROM   prg_HiringType_Pricing WITH(NOLOCK)
					WHERE  IsTransparent = 1 AND EngagementType = 'Full Time'
			END


			IF(@IsTransparentPricing = 0)
			BEGIN
				Insert into #HiringTypePricing(Id,Type,HrtypeId,PricingPercent,DisplayPricingPercent,ShowPartTime,IsTransparentModel)
					select ID,				
					[Type],
					HRTypeID,
					35,
					null,
					CASE WHEN EngagementType = 'Part Time' THEN 1 ELSE 0 END,
					@IsTransparentPricing
					FROM   prg_HiringType_Pricing WITH(NOLOCK)
					WHERE  IsTransparent = 0 AND ID = @HiringTypePricingID
			END

			select * from #HiringTypePricing

			DROP TABLE #HiringTypePricing
END