
CREATE PROC [dbo].[sproc_UTS_AddUpdateDeleteInterviewerDetails]
@InterviewerName	nvarchar(100) = NULL,
@InterviewerLinkedin	nvarchar(100) = NULL,
@InterviewerYearofExperience	decimal(9,2) = NULL,
@InterviewerDesignation	nvarchar(50) = NULL,
@InterviewerEmailID	nvarchar(50) = NULL,
@TypeofInterviewer_ID	int = NULL,
@MasterId	bigint = NULL,
@SelectedInterviewerId	 bigint = NULL,
@InterviewerId	 bigint = NULL,
@Mode int = NULL
AS
BEGIN
--  1-Insert, 2-Update, 3-Delete
		declare @HiringRequest_ID bigint = NULL
		declare @HiringRequest_Detail_ID bigint = NULL
		declare @ContactId bigint = NULL
		declare @TalentId bigint = NULL
		declare @TalentSelected_Interview_ID bigint = NULL
		declare @NextRound_ID bigint = NULL

		
		IF(@Mode=1)
		BEGIN
			print 'I'	
		
				SELECT
				@HiringRequest_ID = HiringRequest_ID, 
				@HiringRequest_Detail_ID = HiringRequest_Detail_ID,
				@ContactId = ContactID,
				@TalentId = Talent_ID,
				@TalentSelected_Interview_ID = TalentSelected_Interview_ID,
				@NextRound_ID = NextRound_ID
				FROM  gen_talentselected_Interviewerdetails WITH(NOLOCK) WHERE InterviewMaster_ID = @MasterId

				INSERT INTO gen_SalesHiringRequest_InterviewerDetails
							([HiringRequest_ID]
							,[HiringRequest_Detail_ID]
							,[InterviewerName]
							,[InterviewLinkedin]
							,[InterviewerYearofExperience]
							,[TypeofInterviewer_ID]
							,[InterviewerDesignation]
							,[InterviewerEmailID]
							,IsUsedAddMore )
				values
							(@HiringRequest_ID
							,@HiringRequest_Detail_ID
							,@InterviewerName
							,@InterviewerLinkedin
							,@InterviewerYearofExperience
							,@TypeofInterviewer_ID
							,@InterviewerDesignation
							,@InterviewerEmailID
							,1)

				SET @InterviewerId = @@IDENTITY

				INSERT INTO gen_talentselected_Interviewerdetails 
				(
					HiringRequest_ID
					,HiringRequest_Detail_ID
					,ContactID
					,Talent_ID
					,TalentSelected_Interview_ID
					,Shortlisted_InterviewID
					,NextRound_ID
					,Interviewer_ID
					,InterviewMaster_ID
				)
				VALUES
				(
					 @HiringRequest_ID
					,@HiringRequest_Detail_ID
					,@ContactID
					,@TalentId
					,@TalentSelected_Interview_ID
					,NULL
					,@NextRound_ID
					,@InterviewerId
					,@MasterId
				)
	
		END

		IF(@Mode=2)
		BEGIN
			print 'U'
			UPDATE gen_SalesHiringRequest_InterviewerDetails SET
				InterviewerName = ISNULL(@InterviewerName,InterviewerName),
				InterviewLinkedin = ISNULL(@InterviewerLinkedin,InterviewLinkedin),
				InterviewerYearofExperience = ISNULL(@InterviewerYearofExperience,InterviewerYearofExperience),
				InterviewerDesignation = ISNULL(@InterviewerDesignation,InterviewerDesignation),
				InterviewerEmailID = ISNULL(@InterviewerEmailID,InterviewerEmailID),
				TypeofInterviewer_ID = ISNULL(@TypeofInterviewer_ID,TypeofInterviewer_ID)
			WHERE ID = @InterviewerId
		END
		

		IF(@Mode=3)
		BEGIN
			print 'D'
			DELETE FROM gen_talentselected_Interviewerdetails WHERE ID = @SelectedInterviewerId
		END
END
