CREATE PROCEDURE [dbo].[Sproc_UTS_Get_TalentDetails_For_DPToContractual_Conversion] 
	@HiringRequest_Id		bigint = NULL
AS
BEGIN
		select  Talentname = ISNULL(T.Name,''),
				TalentID = T.ID,
				ExpectedCTC = Isnull(T.Minimum_Fees,0),
				NRPercentage = case when Isnull(CTP.NRPercentage,35) = 0 then 35 else Isnull(CTP.NRPercentage,35) end,
				BRAmount = Isnull(CTP.Final_HR_Cost,0),
				ContactTalentPriorityID = CTP.ID,
				OnBoardID = Isnull(OBT.ID,0),
				HRID = H.ID
		from    gen_SalesHiringRequest H With(NOlock)
				inner join gen_ContactTalentPriority CTP with(NOlock) ON CTp.HiringRequestID = H.ID				
				inner join gen_Talent T With(Nolock) ON T.ID = CTP.TalentID
				left join gen_OnBoardTalents OBT With(Nolock) on OBT.HiringRequest_ID = H.ID and OBT.Talent_ID = CTp.TalentID
		where   ISNull(H.IsHRTypeDP,0) = 1 and 
				H.ID = @HiringRequest_Id

END