

ALTER PROCEDURE [dbo].[sproc_UTS_GetAutoCompleteHubSpotCompanies]
	@Company			Varchar(100) =null
AS

BEGIN
		
			DECLARE @MainSQL As NVARCHAr(MAX)

			IF  @Company <> ''
				BEGIN
						SET @MainSQL = '	select	row_Number() over(order by C.Id) Row_ID,
													C.Id CompanyID,Isnull(C.Company + '' ('' + CO.EmailID + '')'','''') Company
											from	gen_Company C WITH(NOLOCK) 
													inner join gen_Contact CO WITH(NOLOCK) ON C.ID = CO.CompanyID
											where	--isnull(C.HubSpot_Company ,'''')<> '''' and  
													C.IsActive = 1 and (Company like ''' + @Company + '%'' or CO.EmailID like ''' + @Company + '%'' 
															or CO.FirstName Like ''' + @Company + '%'' or CO.LastName Like ''' + @Company + '%''
															Or CO.FullName Like ''' + @Company + '%'') 
											order by CompanyID 
								
										'
					END
			

			print @MainSQL
			exec sp_executesql @MainSQL		


END
