USE [Talentconnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_UTS_GetCompanyDetailsForEditClient]    Script Date: 23-04-2024 17:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_UTS_GetCompanyDetailsForEditClient]	@CompanyID			bigint = NULLASBEGIN				SELECT 			GC.ID,			ISNULL(GC.Company,'') CompanyName,			ISNULL(GC.Website,'') as Website ,			ISNULL(GC.LinkedInProfile,'') as LinkedInProfile,			ISNULL(GC.CompanySize,0) as CompanySize,			ISNULL(GC.Location,'') as Location,			ISNULL(GC.phone,'') as Phone,			ISNULL(GC.city,'') as City,			ISNULL(GC.State,'') as State,			ISNULL(GC.Country,'') as Country,			ISNULL(GC.zip,'') as Zip,			ISNULL(GC.Address,'') as [Address],			ISNULL(GC.GEO_ID,0) as GEO_ID,			0 as TeamManagement,			ISNULL(GC.CompanyLogo,'clientdefaultimage.png') as CompanyLogo,			ISNULL(GC.Lead_Type,'') as LeadType,			ISNULL(LT.LeadType_UserID,0) as LeadUserID,			ISNULL(GC.about_Company_desc,'') AS AboutCompanyDesc,			ISNULL(GC.JPCreditBalance,0) AS JPCreditBalance,			GC.IsTransparentPricing AS IsTransparentPricing,			CASE 
				WHEN GC.CompanyTypeID = 1  THEN 1
				WHEN GC.AnotherCompanyTypeID = 1 THEN 1
				ELSE 0 
			END AS AnotherCompanyTypeID,			--GC.AnotherCompanyTypeID AS AnotherCompanyTypeID,			GC.IsPostaJob AS IsPostaJob,			GC.IsProfileView AS IsProfileView,			CASE 
				WHEN GC.CompanyTypeID = 2  THEN 2
				WHEN GC.AnotherCompanyTypeID = 2 THEN 2
				ELSE 0 
			END AS CompanyTypeID,			GC.IsVettedProfile,			--Added by Riya for UTS-6930			GC.CreditAmount,			GC.CreditCurrency,			GC.JobPostCredit,			GC.VettedProfileViewCredit,			GC.NonVettedProfileViewCredit								--GC.CompanyTypeID AS CompanyTypeID		from gen_company GC WITH(NOLOCK)		left join gen_CompanyLeadType_UserDetails LT WITH(NOLOCK) ON LT.CompanyID = GC.ID		WHERE GC.ID = @CompanyID -- AND GC.HubSpot_Company IS NOT NULLEND