ALTER PROCEDURE [dbo].[SPROC_Gen_Company_History]
	@CompanyID bigint NULL,
	@AppActionDoneBy INT NULL
AS
BEGIN
	IF @CompanyID > 0
	BEGIN

		DECLARE @Action NVARCHAR(100) = NULL

		IF NOT EXISTS (SELECT TOP 1 CompanyID FROM gen_Company_History WITH (NOLOCK) WHERE CompanyID = @CompanyID)
		BEGIN
			SET @Action = 'INSERT'
		END
		ELSE
		BEGIN
			SET @Action = 'UPDATE'
		END

		INSERT INTO [dbo].[gen_Company_History]
				([CompanyID]
				,[Company]
				,[Website]
				--,[domain_id]
				,[LinkedInProfile]
				,[CompanySize]
				--,[TimeZone_ID]
				,[CurrencyID]
				,[Address]
				,[phone]
				,[industry]
				,[city]
				,[state]
				,[country]
				,[zip]
				--,[IsNDASigned]
				,[CreatedByID]
				,[CreatedByDatetime]
				,[ModifiedByID]
				,[ModifiedByDatetime]
				,[IsActive]
				,[Location]
				,[Client_StatusID]
				--,[TeamManagement]
				,[Score]
				,[Category]
				,[GEO_ID]
				,[AM_SalesPersonID]
				,[NBD_SalesPersonID]
				,[Discovery_Call]
				,[Lead_Type]
				,[CompanyLogo]
				,[HubSpot_Company]
				,[about_Company_desc]
				,[ParentCompanyID]
				,[Industry_Type]
				,[IsFromSignUp]
				,[JPCreditBalance]
				,[CompanyTypeID]
				,[IsTransparentPricing]
				,[AnotherCompanyTypeID]
				,[IsPostaJob]
				,[IsProfileView]
				,[Action]
				,[IsVettedProfile]
				,[CreditAmount]
				,[CreditCurrency]
				,[JobPostCredit]
				,[VettedProfileViewCredit]
				,[NonVettedProfileViewCredit]
				,[IsGSpaceCreated]
				,[GSpaceID]
				,[GspaceTokenObject]
				,[HiringTypePricingId]
				,[AppActionDoneBy]
				)
		SELECT [ID]
			,[Company]
			,[Website]
			--,[domain_id]
			,[LinkedInProfile]
			,[CompanySize]
			--,[TimeZone_ID]
			,[CurrencyID]
			,[Address]
			,[phone]
			,[industry]
			,[city]
			,[state]
			,[country]
			,[zip]
			--,[IsNDASigned]
			,[CreatedByID]
			,[CreatedByDatetime]
			,[ModifiedByID]
			,[ModifiedByDatetime]
			,[IsActive]
			,[Location]
			,[Client_StatusID]
			--,[TeamManagement]
			,[Score]
			,[Category]
			,[GEO_ID]
			,[AM_SalesPersonID]
			,[NBD_SalesPersonID]
			,[Discovery_Call]
			,[Lead_Type]
			,[CompanyLogo]
			,[HubSpot_Company]
			,[about_Company_desc]
			,[ParentCompanyID]
			,[Industry_Type]
			,[IsFromSignUp]
			,[JPCreditBalance]
			,[CompanyTypeID]
			,[IsTransparentPricing]
			,[AnotherCompanyTypeID]
			,[IsPostaJob]
			,[IsProfileView]
			,@Action
			,[IsVettedProfile]
			,[CreditAmount]
			,[CreditCurrency]
			,[JobPostCredit]
			,[VettedProfileViewCredit]
			,[NonVettedProfileViewCredit]
			,[IsGSpaceCreated]
			,[GSpaceID]
			,[GspaceTokenObject]
			,[HiringTypePricingId]
			,@AppActionDoneBy
		FROM [dbo].[gen_Company] WITH (NOLOCK) WHERE ID = @CompanyID

	END
END
