ALTER procedure [dbo].[sproc_FreeCreditUpdate]
@CompanyID bigint = null,
@FreeCredit decimal = null,
@ContactID bigint = null,
@CreatedByID bigint = null,
@PerCreditAmount	DECIMAL(18,2) = null,
@CreditCurrency	Nvarchar(50) = null
as
begin
	IF @FreeCredit > 0 
		BEGIN
			Declare @SubscriptionId as bigint = 0		
			Declare @TransactionId as Bigint = 0
			Declare @JPCreditBalance as decimal(18,2) = 0
			DECLARE @IsDataInserted BIT = 0

			IF NOT EXISTS(Select 1 from gen_JobPost_Subscription_History_ClientPortal WITH(NOLOCK) WHERE CompanyID = @CompanyId 
							AND ISNULL(CreditAmount,0) = ISNULL(@PerCreditAmount,0) AND CreditCurrency = @CreditCurrency)
					BEGIN
							
							INSERT INTO gen_JobPost_Subscription_History_ClientPortal
							(
								ContactID,
								BalanceType,
								CreditBalance,
								IsActive,
								CreatedByID,
								CreatedByDateTime,
								CompanyID,
								PackageID,
								CreditAmount,
								CreditCurrency
							)
							VALUES
							(
								@ContactID,
								'Free',
								@FreeCredit,
								1,
								@CreatedByID,
								GETDATE(),
								@CompanyId,
								1,
								@PerCreditAmount,
								@CreditCurrency
							)


							SET @SubscriptionId = @@IDENTITY

							SET @IsDataInserted = 1
						
							--Insert into gen_JobPost_TransactionHistory_ClientPortal(HRID,ContactID,JobPostedDate,CreditBalance,
							--		IsReposted,BalanceUsedType,CreatedByID,CreatedByDateTime,CompanyID,SubScriptionID)
							--Values (0,@ContactID,Getdate(),@FreeCredit,0,0,@ContactID,GetDAte(),@CompanyId,@SubscriptionId)

							--SET @TransactionId = @@IDENTITY
					END
					ELSE
					BEGIN
						Select TOP 1 @SubscriptionId = ID from gen_JobPost_Subscription_History_ClientPortal WITH(NOLOCK)  
						where BalanceType ='Free' AND CompanyID = @CompanyID AND 
						ISNULL(CreditAmount,0) = ISNULL(@PerCreditAmount,0) AND CreditCurrency = @CreditCurrency
						ORDER BY ID DESC
					END
			
			IF(@SubscriptionId > 0)
			BEGIN

					INSERT INTO [dbo].[gen_JobPost_TransactionHistory_ClientPortal]
					 (
						[HRID]
					   ,[ContactID]
					   ,[ContactUserID]
					   ,[JobPostedDate]           
					   ,[CreditBalance]  
					   ,[CreatedByID]
					   ,[CreatedByDateTime]          
					   ,[CompanyID]
					   ,[SubScriptionID]
					   ,BalanceUsedType
					   ,UtilizedCreditAmount
					   ,UtilizedCreditCurreny
					 )
				 VALUES
					   (0
					   ,@ContactID
					   ,@ContactID
					   ,GetDate()          
					   ,@FreeCredit          
					   ,@CreatedByID
					   ,GetDate()         
					   ,@CompanyID
					   ,@SubscriptionId
					   ,'Free'
					   ,@PerCreditAmount,
						@CreditCurrency
					   )

					 SET @TransactionId = @@IDENTITY


				Declare @TotalCreditBalance as decimal(18,2) = 0

				Select @TotalCreditBalance =  isnull(CreditBalance,0) from gen_JobPost_Subscription_History_ClientPortal WITH(NOLOCK)
				WHERE CompanyID = @CompanyID AND BalanceType = 'Free'
				--group by CompanyID

				IF (@TotalCreditBalance >0 AND @TransactionId >0)
					BEGIN
							IF(@IsDataInserted = 0)
							BEGIN
								update gen_JobPost_Subscription_History_ClientPortal
								SET CreditBalance = CreditBalance + @FreeCredit,
									IsActive = 1, IsUsed = 0
								where CompanyID = @CompanyID AND ID = @SubscriptionId
							END

							update gen_Company
							SET JPCreditBalance = ISNULL(JPCreditBalance,0) + @FreeCredit
							where ID = @CompanyID

							Select @JPCreditBalance =isnull(JPCreditBalance,0) from gen_Company with(nolock) where ID = @CompanyID

							UPDATE gen_JobPost_TransactionHistory_ClientPortal
							SET JPCreditBalance = @JPCreditBalance
							WHERE ID = @TransactionId and CompanyID = @CompanyID

					END
			END
            	

			update gen_Company
			SET CompanyTypeID = 2 
			where ID = @CompanyID AND isnull(CompanyTypeID,0) = 0 AND isnull(AnotherCompanyTypeID,0) = 0

			update gen_Company
			SET CompanyTypeID = 2 
			where ID = @CompanyID AND isnull(CompanyTypeID,0) = 0 AND isnull(AnotherCompanyTypeID,0) = 1

			update gen_Company
			SET AnotherCompanyTypeID = 2 
			where ID = @CompanyID AND isnull(AnotherCompanyTypeID,0) = 0 AND isnull(CompanyTypeID,0) = 1
			
		END            
	END
