


ALTER PROCEDURE [dbo].[Sproc_Update_SLADate]
	@HrId					BIGINT,
	@ReasonId				INT,
	@OtherReason			NVARCHAR(MAX),
	@SlaRevisedDate			DATETIME,
	@ActionId				INT,
	@LoginId				BIGINT

AS

BEGIN
	DECLARE @HistoryID BIGINT = 0
	
	SELECT @HistoryID = ISNULL(ID,0) FROM gen_History WITH(NOLOCK) WHERE HiringRequest_ID = @HrId AND Action_ID = 89

	IF @HistoryID > 0
		BEGIN
			UPDATE gen_History
				SET	SLA_DueDate = @SlaRevisedDate
					, ModifiedByDatetime = GETDATE()
					, ModifiedByID = @LoginId
			WHERE ID = @HistoryID
		END
	ELSE
		BEGIN
			INSERT INTO gen_History ( 
								-- ID,
								Action_ID, 
								HiringRequest_ID,
								Talent_ID,
								ContactTalentPriority_ID,
								InterviewMaster_ID,
								OnBoardID,
								Talent_Cost,
								HR_Cost,
								HR_AcceptedDateTime,
								HR_Percentage,
								History_From,
								CreatedByID, 
								CreatedByDatetime, 
								ModifiedByID, 
								ModifiedByDatetime, 
								SLA_DueDate, 
								IsManagedByClient,
								IsManagedByTalent,
								IsActive,
								NextAction_Id,
								SalesUserID,
								OpsUserID,
								IsReplacement,
								OldSalesUserID,
								AppActionDoneBy,
								TalentStatusID_BasedOnHR
								)
									 
						VALUES(
															-- ID,
								89,							-- Action_ID, 
								@HrId,						-- HiringRequest_ID,
								0,						-- Talent_ID,
								NULL,						-- ContactTalentPriority_ID,
								NULL,						-- InterviewMaster_ID,
								NULL,						-- OnBoardID,
								NULL,						-- Talent_Cost,
								NULL,						-- HR_Cost,
								NULL,						-- HR_AcceptedDateTime,
								NULL,						-- HR_Percentage,
								0,						-- History_From,
								@LoginId,					-- CreatedByID, 
								GETDATE(),					-- CreatedByDatetime, 
								NULL,						-- ModifiedByID, 
								NULL,						-- ModifiedByDatetime, 
								@SlaRevisedDate,			-- SLA_DueDate, 
								0,							-- IsManagedByClient,
								0,							-- IsManagedByTalent,
								1,							-- IsActive,
								NULL,						-- NextAction_Id,
								NULL,						-- SalesUserID,
								NULL,						-- OpsUserID,
								NULL,						-- IsReplacement,
								NULL,						-- OldSalesUserID,
								3,						    -- AppActionDoneBy,
								NULL						-- TalentStatusID_BasedOnHR
								)

				SET @HistoryID = SCOPE_IDENTITY()
		END

		IF @HistoryID > 0
			BEGIN
				INSERT INTO gen_SLA_Edit_History (HistoryID, ReasonId, OtherReason,SLADAte, CreatedByID, CreatedByDateTime)
				VALUES(@HistoryID, @ReasonId, @OtherReason,@SlaRevisedDate, @LoginId,  GETDATE())
			END

END
	