CREATE proc [dbo].[sproc_UTS_UpdateIsHrtypedpandDPAmount]
@ID					bigint = NULL,
@TalentId			bigint = NULL,
@HRID				bigint = NULL,
@Hr_Percentage		decimal(19,2) = Null,
@IsHiringLimited    bit = 0,
@specificmonth		int = null,
@durationtype		nvarchar(200) = null
as
begin	
	
	update gen_SalesHiringRequest set IsHRTypeDP = 0,
									DPPercentage = 0,
									IsHiringLimited = Isnull(@IsHiringLimited,IsHiringLimited) WHERE ID = @HRID 

   update gen_saleshiringrequest_details set SpecificMonth = isnull(@specificmonth,0),DurationType = isnull(@durationtype,'')
									Where HiringRequest_ID = @HRID 

	update gen_ContactTalentPriority set IsHRTypeDP = 0,
									   DPAmount = 0,DP_Percentage=0 WHERE ID = @ID and TalentID = @TalentId

	IF EXISTS(SELECT * FROM gen_OnBoardTalents WHERE HiringRequest_ID = @HRID and Talent_ID =@TalentId)
		BEGIN
				Update gen_OnBoardTalents set DPAmount = 0,NRPercentage = @Hr_Percentage where HiringRequest_ID = @HRID and Talent_ID =@TalentId
		END


end


