--EXEC [Sproc_Get_UTS_ClientPortalTracking_Details_Popup]@ActionID =1000,   @FromDate = '2024-03-11', @ToDate = '2024-03-19', @ClientID = 0
ALTER PROCEDURE [dbo].[Sproc_Get_UTS_ClientPortalTracking_Details_Popup]    
@ActionID INT,  
@FromDate DateTime = NULL,			
@ToDate  Datetime = NULL,  
@ClientID   BIGINT = NULL    -- Now Company ID 
AS  
BEGIN  

		IF OBJECT_ID('tempdb..#AllClientOfCompanies') Is not null
			DROP TABLE #AllClientOfCompanies

		CREATE TABLE #AllClientOfCompanies
		(
			ClientID		bigint
		)

		Insert into #AllClientOfCompanies
		select C.ID
		from   gen_Contact C WITH(NOLOCK)
			   inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
		where  CO.ID = case when @ClientID > 0 then @ClientID else CO.ID end


		

		-- Drop the temporary table
		IF OBJECT_ID('tempdb..#ClientPortalTracking_Popup_Report') IS NOT NULL
			DROP TABLE #ClientPortalTracking_Popup_Report;

		IF OBJECT_ID('tempdb..#ActionDoneBy_UTSAdminUsers') IS NOT NULL
			DROP TABLE #ActionDoneBy_UTSAdminUsers;

	
		IF OBJECT_ID('tempdb..#UTSTalent') IS NOT NULL
			DROP TABLE #UTSTalent;
	
		IF OBJECT_ID('tempdb..#ATSTalent') IS NOT NULL
			DROP TABLE #ATSTalent;
	
			Select  CH.ID AS TrackID,U.ID , UTSAdminUser = isnull(U.FullName,'') + ' (' + U.EmailID + ')',CH.ClientID AS AdminuserClientID 
			into	#ActionDoneBy_UTSAdminUsers 
			from	gen_ContactHistory CH WITH (NOLOCK)			           
					INNER JOIN usr_User U WITH (NOLOCK) ON U.ID = CH.CreatedByID
			where  CH.AppActionDoneBy = 3 
				   AND isnull(CH.UserId,0) = 0
				   AND CAST(CH.CreatedByDatetime AS DATE) between CAST(@FromDate AS DATE) AND CAST( @ToDate AS DATE)
				   AND CH.ClientActionID = @ActionID 

			

			Select	CH.ID AS TrackID, T.ID AS UTSTalentID, UTSTalent = isnull(T.Name,'') + '(' + T.EmailID + ')' ,CH.ClientID  
			into	#UTSTalent 
			from	gen_ContactHistory CH WITH (NOLOCK)  
					Inner JOIN gen_Talent T WITH (NOLOCK) on T.ID = CH.Talent_ID 
			where	isnull(CH.Talent_ID,0) > 0   
					AND isnull(CH.UserId,0) = 0
					AND CAST(CH.CreatedByDatetime AS DATE) between CAST(@FromDate AS DATE) AND CAST( @ToDate AS DATE)
					AND CH.ClientActionID = @ActionID 

			
			
			Select CH.ID AS TrackID,ATS_Talent_ID, ATSTalent = 'ATS Talent : ' + isnull(T.Name,'') + '(' + T.EmailID + ')' ,CH.ClientID  
			into	#ATSTalent
			from	gen_ContactHistory CH WITH (NOLOCK)
					Inner JOIN gen_Talent T WITH (NOLOCK) on T.ATS_Talent_ID = isnull(CH.ATSTalent_ID,0) 
			where	isnull(CH.ATSTalent_ID,0) > 0  
					AND isnull(CH.UserId,0) = 0
					AND CAST(CH.CreatedByDatetime AS DATE) between CAST(@FromDate AS DATE) AND CAST( @ToDate AS DATE)
					AND CH.ClientActionID = @ActionID 

			--select * from #ActionDoneBy_UTSAdminUsers


	--DECLARE @RejectionReasonData TABLE
	--(
		
	--)
	--sp_UTS_get_HRTalentProfileReason @HR_ID = HiringRequest_ID, @Talent_ID = Talent_ID

	DECLARE @RejectTalentInfo TABLE
	(
		HiringRequest_ID BIGINT,
		ActionDone NVARCHAR(50),
		TalentID BIGINT,
		RejectionReason NVARCHAR(MAX)
	)
	
	INSERT INTO @RejectTalentInfo (HiringRequest_ID, ActionDone, TalentID,RejectionReason)
	Select 	HiringRequestID, CTP.RejectionStage AS ActionDone, CTP.TalentID AS TalentID, 
			RejectionReason = CASE WHEN ISNULL(PTRR.Reason,'') <> '' THEN ISNULL(PTRR.Reason,'') + IIF(ISNULL(CTP.LossRemark,'') <> '', + ' - ' + CTP.LossRemark, '')
										ELSE ISNULL(CTP.LossRemark,'') END
			FROM    gen_SalesHiringRequest HR WITH(NOLOCK)
						INNER JOIN gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = HR.ID
						LEFT JOIN  prg_TalentRejectReason PTRR WITH(NOLOCK) ON  
						PTRR.ID = CTP.RejectReasonID and Isnull(CTP.RejectReasonID,0) > 0
						WHERE @ActionID = 3	
						--AND (CTP.TalentStatusID_BasedOnHR = 7 OR TalentStatusID_ClientPortal = 8)
	

	--SELECT * FROM @RejectTalentInfo WHERE HiringRequest_ID = 19
			
    ;WITH ClientPortalTracking_CTE AS ( 
        SELECT   
            CH.ID as TrackingID,  
            C.ID as ClientID,   
            --CASE WHEN isnull(UTSUser.UTSAdminUser,'') <> '' then isnull(UTSUser.UTSAdminUser,'') ELSE isnull(C.FullName,'') + ' (' + C.EmailID + ')' END as Client, 
			isnull(C.FullName,'') + ' (' + C.EmailID + ')' as Client,
            ISNULL(H.ID, 0) as HRID,   
            ISNULL(H.HR_Number, '') as HRNumber,   
            ISNULL(CH.Talent_ID, 0) as TalentID,   
            TalentName = case when isnull(CH.Talent_ID,0) > 0 then  UTSTalent
							  WHEN isnull(CH.ATSTalent_ID,0) > 0 AND isnull(ATSTalent,'') <> '' then  isnull(ATSTalent,'') 
							  WHEN isnull(CH.ATSTalent_ID,0) > 0 AND isnull(ATSTalent,'') = '' then 'ATS Talent' 
							  ELSE ''
							  END, 
							  --+ IIF(@ActionID = 3 AND ISNULL(RTI.ActionDone,'') <> '', ' - ' + ISNULL(RTI.ActionDone,''),''),  
            ISNULL(TS.TalentStatus, '') as TalentStatus,
			RTI.RejectionReason AS RejectionReason,
			IIF(@ActionID = 3 AND ISNULL(RTI.ActionDone,'') <> '', ISNULL(RTI.ActionDone,''),'') AS RejectionStage,
            CH.CreatedByDatetime as CreatedDate,    
            ISNULL(CH.Location, '') as Location,   
            ISNULL(CH.device, '') as Device, 
            ISNULL(CH.IPAddress, '') as IPAddress,
            ISNULL(CH.Browser, '') as Browser,
            A.DisplayName as Actions,
			CH.ClientActionID as ClientActionID
        FROM 
            gen_ContactHistory CH WITH (NOLOCK)  
            --INNER JOIN gen_Contact C WITH (NOLOCK) on C.ID = CH.ClientID  
            INNER JOIN prg_contact_Actions A WITH (NOLOCK) on A.ID = CH.ClientActionID 
			inner Join  #AllClientOfCompanies CTP ON CTP.ClientID = CH.ClientID
			INNER JOIN gen_Contact C WITH (NOLOCK) on C.ID = CTP.ClientID  
			LEFT JOIN gen_SalesHiringRequest H WITH (NOLOCK) on H.ID = CH.HiringRequest_ID 
            LEFT JOIN prg_TalentStatus_ClientPortal TS WITH (NOLOCK) on TS.ID = CH.Talent_StatusID
			LEFT JOIN #ActionDoneBy_UTSAdminUsers UTSUser WITH (NOLOCK) ON UTSUser.TrackID = CH.ID AND UTSUser.AdminuserClientID = CH.ClientID 
			AND UTSUser.ID = CH.CreatedByID
            LEFT JOIN #UTSTalent UTS WITH (NOLOCK) on UTS.TrackID = CH.ID AND UTS.ClientID = CH.ClientID AND  UTS.UTSTalentID = CH.Talent_ID 
			LEFT JOIN #ATSTalent ATS WITH (NOLOCK) on ATS.TrackID = CH.ID AND ATS.ClientID = CH.ClientID AND  ATS.ATS_Talent_ID = CH.ATSTalent_ID 
			LEFT JOIN @RejectTalentInfo RTI ON RTI.TalentID = CH.Talent_ID AND	RTI.HiringRequest_ID = CH.HiringRequest_ID 
         WHERE ISNULL(CH.UserId,0) = 0 
		       AND CAST(CH.CreatedByDatetime AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST( @ToDate AS DATE)
			   AND CH.ClientActionID = CASE WHEN @ActionID = 1000 THEN 1 ELSE @ActionID END
			  -- AND CH.HiringRequest_ID IN (19)
			   --AND ISNULL(RTI.ActionDone,'') = 'Interview Reject'
		)
		  SELECT   
		      TrackingID, ClientID, Client, HRID, HRNumber, TalentID, TalentName, TalentStatus, RejectionReason, RejectionStage, CreatedDate, Location, Device, IPAddress, Browser, Actions, ClientActionID
		  INTO #ClientPortalTracking_Popup_Report
		  FROM 
		      (
		          SELECT *,
		              ROW_NUMBER() OVER(PARTITION BY ClientID ORDER BY TrackingID DESC) AS RowNum
		          FROM ClientPortalTracking_CTE
					WHERE 
						ClientActionID = CASE WHEN @ActionID = 1000 THEN 1 ELSE @ActionID END
		      ) AS SubQuery
		  WHERE 
		  ClientActionID = CASE	WHEN @ActionID = 1000 AND RowNum = 1 THEN 1	ELSE @ActionID END 
		 --AND ClientID = CASE 
			--		WHEN @ClientID > 0 THEN @ClientID 
			--		ELSE ClientID END 

    -- Execute the main SQL query with parameters
    SELECT    
        TrackingID, ClientID, Client, HRID, HRNumber, TalentID, TalentName, 
		TalentStatus, RejectionReason,RejectionStage, CreatedDate, Location, Device, IPAddress, Browser, Actions 
		FROM #ClientPortalTracking_Popup_Report ORDER BY TrackingID DESC;

    -- Drop the temporary table
IF OBJECT_ID('tempdb..#ClientPortalTracking_Popup_Report') IS NOT NULL
    DROP TABLE #ClientPortalTracking_Popup_Report;


END