ALTER PROCEDURE [dbo].[Sproc_Update_UnicodeValues]
  @GUID				  Nvarchar(200) = null,
  @JobDescription     Nvarchar(Max) = null
AS
BEGIN
		DECLARE @HRID as BIGINT = 0
		
		IF(@GUID != 'null')
		  BEGIN
			    
			  IF @GUID LIKE '%-%'  
					--PRINT 'Client portal HR';  
					SELECT @HRID = ID from gen_SalesHiringRequest WITH(NOLOCK) where GUID  = @GUID
			  ELSE  
				  BEGIN  
					set @HRID = CAST(@GUID AS BIGINT)  
				  END  
		   END		
		

		IF (@HRID > 0 and len(@JobDescription) > 0)
			BEGIN
					UPDATE  gen_JobPost_Roles_Responsibilities_ClientPortal
					SET		JobDescription = ISNULL(@JobDescription, JobDescription)				
					WHERE	GUID = @GUID 

					UPDATE gen_SalesHiringRequest_Details
					SET	   JobDescription = ISNULL(@JobDescription, JobDescription)
					where  HiringRequest_ID = @HRID
			END
		ELSE
			BEGIN
					UPDATE  gen_JobPost_Roles_Responsibilities_ClientPortal
					SET		JobDescription = ISNULL(@JobDescription, JobDescription)				
					WHERE	GUID = @GUID 
			END

		
		


END