ALTER PROCEDURE [dbo].[Sproc_Insert_Onboarding_Summary]
	@OnboardId			bigint  = null,
	@ExchangeRate		decimal(18,2) =NULL,
	@Currency			Nvarchar(50) = NULL,
	@ZohoInvoiceNumber	Nvarchar(100) = NULL,
	@InvoiceAmount		decimal(18,2) =NULL
AS
BEGIN
		
		DECLARE @ID as bigint = null
		DECLARE @TalentBaseCost as decimal(18,2) =0
		DECLARE @TalentPackage as decimal(18,2) =0
		DECLARE @TalentID as bigint =0
		DECLARE @ManagedTalentID as bigint =0
		DECLARE @HiringRequest_Detail_ID as bigint =0
		
		DECLARE @LastMonthDate as datetime  
		DECLARE @noofdays int =0
		DECLARE @totaldays int =0
		DECLARE @PerDayCost as decimal(18,2) =0
		DECLARE @PerDayBaseCost as decimal(18,2) =0
		DECLARE @DayofMonth int =0

		DECLARE @PerDayDeviceCost as decimal(18,2) =0
		DECLARE @DeviceCostAsPerPolicy as decimal(18,2) =0
		DECLARE @Recurring_DeviceCost as decimal(18,2) =0

		DECLARE @ContractStartDate as datetime

		DECLARE @Role_ID as int = 0
		DECLARE @TalentCategory AS Nvarchar(10) =''
		DECLARE @TalentFeesStr AS Nvarchar(500) =''
		DECLARE @TalentPayout as decimal(18,2) =0

		Declare @FinalCost as decimal(18,2) =0

		SELECT @TalentFeesStr = isnull(TalentFeesStr,'') FROM gen_OnBoardTalents WITH(NOLOCK) WHERE ID = @OnBoardID
		SELECT @ID = ID,@ContractStartDate = ContractStartDate, @DayofMonth = day(ContractStartDate) FROM gen_OnBoardClientContractDetails WITH(NOLOCK) WHERE OnBoardID = @OnBoardID
		--print @ID
		--print @DayofMonth

		IF(@ContractStartDate is not null AND @ID >0)  -- AND len(@TalentFeesStr) >0  Coomented By Jimit on 23-08-2022 as it is not used further.
		BEGIN
		
			Select top 1 @TalentID = Talent_ID,@HiringRequest_Detail_ID = HiringRequest_Detail_ID from gen_OnBoardTalents WITH(NOLOCK) WHERE ID = @OnBoardID order by ID desc 

			

			--- Update Talent package & currency
			--update	CD 
			--set		--TalentMonthlyCost = cast( REPLACE((select val from f_split(O.TalentFeesStr,' ') where seq=1),'$','')  AS Decimal(18,2)),
			--		Currency = @Currency --(select val from f_split(O.TalentFeesStr,' ') where seq=2)
			--from	gen_OnBoardClientContractDetails CD  inner join gen_OnBoardTalents O ON CD.OnBoardID = O.ID
			--where	CD.ID = @ID
			

			--added jimit 09032022 for updating TalentMonthlyCost directly from finalcost of talent table
			SELECT @FinalCost = ISNULL(FinalCost,0) from gen_Talent WITH(NOLOCK) where ID = @TalentID

			Update gen_OnBoardClientContractDetails
			set    TalentMonthlyCost = @FinalCost,
				   Currency = @Currency
			where  Id = @ID
			--ended
				
			SELECT	totalcost = sum(isnull(OBCD.TotalCost,0)),CDI.OnBoardID AS OnBoardID into #tempDeviceCost
									from	gen_OnBoardClientContractDetails CDI  WITH(NOLOCK) inner join gen_OnBoardTalents O  WITH(NOLOCK) ON CDI.OnBoardID = O.ID
											inner join gen_OnBoardClientDevicePolicy_Details OBCD  WITH(NOLOCK) ON CDI.OnBoardID = OBCD.OnBoardID
									where	CDI.ID = @ID
									group by CDI.OnBoardID
			update	CD 
			set		DeviceCostAsPerPolicy = isnull((select isnull(totalcost,0) from #tempDeviceCost),0)
			from	gen_OnBoardClientContractDetails CD 
					where ID =@ID	

			drop table #tempDeviceCost				
							
			--- Insert Talent Package Summary for Client
							
			
			SELECT @TalentCategory = TalentCategory from gen_Talent with(nolock) where ID = @TalentID
			SELECT @Role_ID  = Role_ID from gen_SalesHiringRequest_Details with(nolock) where ID = @HiringRequest_Detail_ID

			
			--Select	@TalentBaseCost = Min(ClientCost)								  
			--FROM	prg_RateCard WITH(NOLOCK) where Role_ID = @Role_ID  AND TalentCategory = @TalentCategory

			--changed by jimit 09032022 
			-- Payal(09-03-2022) : TalentBaseCost = HR_Base_Cost

			select @TalentPayout = ISnull(FinalCost,0)  
				, @TalentBaseCost = isnull(CTP.HR_Base_Cost,0)
									--cast( REPLACE((select val from f_split(
									--				case when isnull(CTP.Cost_AfterAcceptance,'') <> '' then isnull(CTP.Cost_AfterAcceptance,'')  else  Isnull(T.Fees,'') END 
									--			,' ') where seq=1),'$','')  AS Decimal(18,2))
									from gen_OnBoardTalents OBT WITH(NOLOCK)
													inner join  gen_Talent T WITH(NOLOCK) ON T.ID = OBT.Talent_ID													
													inner join gen_ContactTalentPriority  CTP with(nolock) ON CTP.TalentID = OBT.Talent_ID AND OBT.HiringRequest_ID = CTP.HiringRequestID AND  CTP.ContactID = OBT.ContactID AND CTP.HiringRequest_Detail_ID = OBT.HiringRequest_Detail_ID 

									where OBT.ID = @OnBoardID
					
			--Added By Jimit 18072022
			If @TalentID = 0
			  BEGIN
					Select top 1 @ManagedTalentID = ManagedTalentID,@HiringRequest_Detail_ID = HiringRequest_Detail_ID 
					from	gen_OnBoardTalents WITH(NOLOCK) 
					WHERE	ID = @OnBoardID order by ID desc
					
					SELECT @FinalCost = ISNULL(ManagedTalentCost,0) from gen_ManagedTalent WITH(NOLOCK) where ID = @ManagedTalentID

					Update gen_OnBoardClientContractDetails
					set    TalentMonthlyCost = @FinalCost,
						   Currency = @Currency
					where  Id = @ID

					SELECT	totalcost = sum(isnull(OBCD.TotalCost,0)),CDI.OnBoardID AS OnBoardID 
					into	#tempDeviceCostManageTalent
					from	gen_OnBoardClientContractDetails CDI  WITH(NOLOCK) 
							inner join gen_OnBoardTalents O  WITH(NOLOCK) ON CDI.OnBoardID = O.ID
							inner join gen_OnBoardClientDevicePolicy_Details OBCD  WITH(NOLOCK) ON CDI.OnBoardID = OBCD.OnBoardID
					where	CDI.ID = @ID
					group by CDI.OnBoardID

					update	CD 
					set		DeviceCostAsPerPolicy = isnull((select isnull(totalcost,0) from #tempDeviceCostManageTalent),0)
					from	gen_OnBoardClientContractDetails CD 
					where ID = @ID	

					drop table #tempDeviceCostManageTalent

					select	@TalentPayout = ISnull(ManagedTalentCost,0),@TalentBaseCost = isnull(T.HRCost,0)
					from	gen_OnBoardTalents OBT WITH(NOLOCK)
							inner join  gen_ManagedTalent T WITH(NOLOCK) ON T.ID = OBT.ManagedTalentID
			  END
			--Ended

			update	CD 
			set		ClientBaseCost = isnull(@TalentBaseCost,0)
			from	gen_OnBoardClientContractDetails CD 
					where ID =@ID	

			Select  @TalentPackage = TalentMonthlyCost, @DeviceCostAsPerPolicy = isnull(DeviceCostAsPerPolicy,0) , 
					@Recurring_DeviceCost = isnull(case when isnull(IsRecurring,0)= 1 then ISNULL(AdditionalCostPerMonth_RDPSecurity,0) end,0)  
			from	gen_OnBoardClientContractDetails WITH(NOLOCK) 
			where	ID = @ID

			Print '@TalentID : ' + Cast(@TalentID as nvarchar(10))	
			Print '@ManagedTalentID : ' + Cast(@ManagedTalentID as nvarchar(10))	

			--print @TalentPackage
			--print @TalentBaseCost
			--print @TalentPayout
			----print @DeviceCostAsPerPolicy
			--print '-----------'
			--print @Recurring_DeviceCost
			--print '-----------'

			IF(@DayofMonth <> 1)
			BEGIn
				IF(@ContractStartDate is not null AND @TalentPackage >0 AND  @TalentBaseCost>0)
					BEGIN
						Select @LastMonthDate = DATEADD(d, -1, DATEADD(m, DATEDIFF(m, 0, @ContractStartDate) + 1, 0))  
						--print @LastMonthDate
							if(@LastMonthDate is not null)
								begin
									select @noofdays = DATEDIFF(day, @ContractStartDate,@LastMonthDate)+1;
									select @totaldays = DAY(EOMONTH(@LastMonthDate));
									--print @noofdays
									if(@noofdays >0)
										BEGIN
												Select @PerDayCost =  @TalentPackage /@totaldays;
												Select @PerDayBaseCost = @TalentBaseCost /@totaldays;
												Select @PerDayDeviceCost = @Recurring_DeviceCost /@totaldays;
										END
								end
					END
				END

				--print @PerDayCost
				--print @PerDayBaseCost
				--print @PerDayDeviceCost

				IF(select count(1) from  [gen_OnBoardClientInvoiceSummary] with(nolock) where OnBoardID = @OnBoardID) =0
					BEGIN
								--print 'insert'
									INSERT 
									INTO	gen_OnBoardClientInvoiceSummary
											(
											[OnBoardID]
											,[TalentBaseCost]
											,[TalentAdditionalPayout]
											,[TalentPackage]
											,[DeviceCostAsPerPolicy]
											,[IsRecurring]
											,[TotalFirstMonthCost]
											,[NextMonthCost]
											,[NextMonth_BaseCost]
											,[NextMonth_AdditionalPayout]	
											,[NextMonth_DeviceCost]																	  
											,[CreatedByID]
											,[CreatedByDatetime]
											,[TalentPayOut]
											)
									Select   OnBoardID
											,BaseCost = case when isnull(@PerDayBaseCost,0) >0 then isnull(@PerDayBaseCost,0) * @noofdays  else @TalentBaseCost end
											,TalentAdditionalPayout = case when (isnull(@PerDayCost,0) >0 AND isnull(@PerDayBaseCost,0) >0) then (isnull(@PerDayCost,0) * @noofdays) - (isnull(@PerDayBaseCost,0) * @noofdays)   
																			else (TalentMonthlyCost - @TalentBaseCost) end
											,TalentMonthlyCost
											,DeviceCostAsPerPolicy	= case when isnull(@PerDayDeviceCost,0) >0 then (isnull(@PerDayDeviceCost,0) * @noofdays)  + isnull(@DeviceCostAsPerPolicy,0) 
																			else isnull(@DeviceCostAsPerPolicy,0) + isnull(@Recurring_DeviceCost,0) end
											,[IsRecurring]	
																											
											,TotalFirstMonthCost = case when isnull(@PerDayCost,0) >0 then (isnull(@PerDayCost,0) * @noofdays) +
																				case when isnull(@PerDayDeviceCost,0) >0  then (isnull(@PerDayDeviceCost,0) * @noofdays)  
																				else 0 end 
																				+ isnull(DeviceCostAsPerPolicy,0)
																		else isnull(TalentMonthlyCost,0)+ isnull(DeviceCostAsPerPolicy,0) + ISNULL(AdditionalCostPerMonth_RDPSecurity,0) end

											,NextMonthCost = isnull(TalentMonthlyCost,0) + case when isnull(IsRecurring,0)= 1 then ISNULL(AdditionalCostPerMonth_RDPSecurity,0) else 0 end 																			
											,NextMonth_BaseCost = @TalentBaseCost
											,NextMonth_AdditionalPayout = isnull(TalentMonthlyCost,0) - isnull(@TalentBaseCost,0)
											,NextMonth_DeviceCost = case when [IsRecurring] =1 then ISNULL(AdditionalCostPerMonth_RDPSecurity,0) else 0 end
											,CreatedByID
											,CreatedByDatetime
											,@TalentPayout

									from	gen_OnBoardClientContractDetails  WITH(NOLOCK)
									where	ID = @ID
					END
				ELSE
					BEGIN
							--print 'update'
						

							update  OBCSummary 
							SET		[TalentBaseCost] = case when isnull(@PerDayBaseCost,0) >0 then isnull(@PerDayBaseCost,0) * @noofdays  else @TalentBaseCost end
									,[TalentAdditionalPayout] = case when (isnull(@PerDayCost,0) >0 AND isnull(@PerDayBaseCost,0) >0) then (isnull(@PerDayCost,0) * @noofdays) - (isnull(@PerDayBaseCost,0) * @noofdays)   
																			else (TalentMonthlyCost - @TalentBaseCost) end
									,[TalentPackage] = OBCD.TalentMonthlyCost
									,[DeviceCostAsPerPolicy] = case when isnull(@PerDayDeviceCost,0) >0 then (isnull(@PerDayDeviceCost,0) * @noofdays)  + isnull(@DeviceCostAsPerPolicy,0) 
																			else isnull(@DeviceCostAsPerPolicy,0) + isnull(@Recurring_DeviceCost,0) end
									,[IsRecurring] = OBCD.[IsRecurring]	
										
									,[TotalFirstMonthCost] = case when isnull(@PerDayCost,0) >0 then (isnull(@PerDayCost,0) * @noofdays) +
																				case when isnull(@PerDayDeviceCost,0) >0  then (isnull(@PerDayDeviceCost,0) * @noofdays)  
																				else 0 end 
																				+ isnull(@DeviceCostAsPerPolicy,0)
																		else isnull(TalentMonthlyCost,0)+ isnull(@DeviceCostAsPerPolicy,0) + ISNULL(AdditionalCostPerMonth_RDPSecurity,0) end
														 
									,[NextMonthCost] = isnull(TalentMonthlyCost,0) + case when isnull(OBCD.IsRecurring,0)= 1 then ISNULL(AdditionalCostPerMonth_RDPSecurity,0) else 0 end
									,NextMonth_BaseCost = @TalentBaseCost
									,NextMonth_AdditionalPayout = isnull(TalentMonthlyCost,0) - isnull(@TalentBaseCost,0)
									,NextMonth_DeviceCost = case when OBCD.IsRecurring =1 then ISNULL(AdditionalCostPerMonth_RDPSecurity,0) else 0 end

									,LastModifiedDatetime =GETDATE()
									,[TalentPayOut] = @TalentPayout
							from	gen_OnBoardClientContractDetails OBCD  WITH(NOLOCK)
									inner join gen_OnBoardClientInvoiceSummary OBCSummary ON OBCD.OnBoardID = OBCSummary.OnBoardID
							where	OBCD.ID = @ID
					END	

			
	END			


	--added By Jimit for insert payOut informations for Talent
	Declare @Contact_ID as bigint 
	Declare @Hiring_Request_ID as bigint 
	Declare @Contract_StartDate as datetime 
	Declare @Contract_EndDate as datetime 
	DECLARE @Invoice_Total as decimal(18,2)


	SELECT @Contact_ID = ContactID,@Hiring_Request_ID = HiringRequest_ID			
	FROM gen_OnBoardTalents
	WHERE Id = @OnboardId

	select @Contract_StartDate = ContractStartDate,
		   @Contract_EndDate = ContractEndDate
	from  gen_OnBoardClientContractDetails
	Where OnBoardID = @OnboardId

	select @Invoice_Total = Isnull(TotalFirstMonthCost,0)
	from gen_OnBoardClientInvoiceSummary
	where OnBoardID = @OnboardId

	--Added By Jimit 18072022
	If @TalentID = 0
		SET @TalentID = @ManagedTalentID
	--ended

	--removing
	--IF EXISTS (SELECT TOP 1 ID FROM gen_ContactTalentPriority WITH (NOLOCK) WHERE HiringRequestID = @Hiring_Request_ID AND TalentID = @TalentID)
	--BEGIN
	--	UPDATE gen_ContactTalentPriority
	--	SET TalentStatusID_BasedOnHR = 4 --Update with Offered status
	--	WHERE HiringRequestID = @Hiring_Request_ID AND TalentID = @TalentID
	--END

	exec Sproc_Insert_Talent_PayOut_Summary @TalentId				   = @TalentID,
											@Contact_Id				   = @Contact_ID,
											@Onboard_Id				   = @OnboardId,
											@Hiring_Request_ID		   = @Hiring_Request_ID,
											@Hiring_RequestDetail_Id   = @HiringRequest_Detail_ID,
											@Contract_StartDate		   = @Contract_StartDate,
											@Contract_EndDate		   = @Contract_EndDate,
											@Invoice_Total			   = @Invoice_Total	,
											@ExchangeRate              = @ExchangeRate,
											@Currency				   = @Currency  -- API gets currency rates based on EUR as a based currency--@Currency
	--ended

	-- Added by Reena Jain(13-Oct-2022):update Zohoinvoice and Invoice Amount
		IF EXISTS(select 1 from gen_Payout_Information POI WITH(NOLOCK)
					INNER JOIN gen_OnBoardTalents OBT WITH(NOLOCK) ON POI.OnBoardID = OBT.ID WHERE YEAR(POI.ClientInvoiceDate) = YEAR(OBT.KickoffDate) and  MONTH(POI.ClientInvoiceDate) = MONTH(OBT.KickoffDate) AND POI.OnBoardID = @OnboardId)
		BEGIN 
				  UPDATE  POI
			      SET POI.UserInvoiceNumber = ISNULL(@ZohoInvoiceNumber,POI.UserInvoiceNumber),
					  POI.Client_FinalPayOutAmount = ISNULL(@InvoiceAmount,POI.Client_FinalPayOutAmount)
				  FROM gen_Payout_Information POI with(nolock) INNER JOIN gen_OnBoardTalents OBT WITH(NOLOCK) ON POI.OnBoardID = OBT.ID 
				  WHERE YEAR(POI.ClientInvoiceDate) = YEAR(OBT.KickoffDate) and  MONTH(POI.ClientInvoiceDate) = MONTH(OBT.KickoffDate) AND POI.OnBoardID = @OnboardId
		END



END
