USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_AIResumeProfileTracking_ClientPortal]    Script Date: 16-02-2024 16:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_AIResumeProfileTracking_ClientPortal]
 @CompanyId						bigint = 0,
 @ContactID						bigint = 0,
 @HRID							bigint = 0,
 @TalentID						bigint = 0,
 @ProfileView					bit = 0,
 @AssesmentView					bit = 0,
 @ResumeView					bit = 0,
 @CTPID							bigint = 0,
 @MatchMakeScoreCard			bit = 0,
 @location						Nvarchar(200) = null,
 @Device						Nvarchar(200) = null,
 @Login							bit = 0
AS
BEGIN

			IF @ProfileView = 1
				BEGIN
						Insert into gen_ContactHistory(ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime,HiringRequest_ID,Talent_ID)
						VALUES(@ContactID,10,GETDATE(),@ContactID,Getdate(),@HRID,@TalentID)
				END
			IF @AssesmentView = 1
				BEGIN
						Insert into gen_ContactHistory(ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime,HiringRequest_ID,Talent_ID)
						VALUES(@ContactID,11,GETDATE(),@ContactID,Getdate(),@HRID,@TalentID)
				END
			IF @ResumeView = 1
				BEGIN
						Insert into gen_ContactHistory(ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime,HiringRequest_ID,Talent_ID)
						VALUES(@ContactID,12,GETDATE(),@ContactID,Getdate(),@HRID,@TalentID)
				END
			IF @Login = 1
				BEGIN
					  Insert into gen_ContactHistory(ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime,HiringRequest_ID,Talent_ID)
						VALUES(@ContactID,1,GETDATE(),@ContactID,Getdate(),@HRID,@TalentID)
				END
			IF @MatchMakeScoreCard = 1
				BEGIN
						Insert into gen_ContactHistory(ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime,HiringRequest_ID,Talent_ID)
						VALUES(@ContactID,13,GETDATE(),@ContactID,Getdate(),@HRID,@TalentID)
				END

			UPdate gen_ContactTalentPriority 
			SET    IsViewed = 1,ViewedDateTime = GETDATE()
			WHERE  ID = @CTPID and Isnull(IsViewed,0) = 0
END