USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Add_Company_Funding_Details]    Script Date: 13-06-2024 16:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Add_Company_Funding_Details]
	@CompanyId				bigint = 0,
	@Amount					Nvarchar(200) = null,
	@FundingRound			Nvarchar(50) = null,
	@Series					Nvarchar(200) = null,
	@Month					Nvarchar(20) = null,
	@Year					Nvarchar(5) = null,
	@Investors				Nvarchar(MAX) = null,
	@CreatedByID			bigint = 0,
	@AppActionDoneBy		int = 0,
	@FundingId				bigint = 0,
	@AdditionalInformation	Nvarchar(MAX) = null
AS 
BEGIN

		IF NOT EXISTS(Select 1 from gen_Company_FundingDetails WITH(NOLOCK)	WHERE ID = Isnull(@FundingId,0))
			BEGIN

				DECLARE @IsValidData BIT = 0; 

				IF ISNULL(@FundingId,0) = 0 AND ISNULL(@Amount,'') = '' AND ISNULL(@FundingRound,'') = '' AND ISNULL(@Series,'') = ''
					AND ISNULL(@Month,'') = '' AND ISNULL(@Year,'') = '' AND ISNULL(@Investors,'') = '' AND ISNULL(@AdditionalInformation,'') = ''
				BEGIN
					SET @IsValidData = 0
				END
				ELSE
				BEGIN
					SET @IsValidData = 1
				END

				IF @IsValidData = 1
				BEGIN
					INSERT INTO gen_Company_FundingDetails(CompanyID,Amount,FundingRound,Series,Month,Year,Investors,AdditionalInformation,CreatedById,CreatedDateTime)
					VALUES(@CompanyId,@Amount,@FundingRound,@Series,@Month,@Year,@Investors,@AdditionalInformation,@CreatedByID,Getdate())	
				END
				
			END
		ELSE
			BEGIN
					UPDATE gen_Company_FundingDetails
					SET    Amount = case when Isnull(Amount,'') = '' then ISNULL(@Amount,Amount) else Amount end,
						   FundingRound = case when Isnull(FundingRound,'') = '' then Isnull(@FundingRound,FundingRound) else FundingRound end,
						   Series = case when Isnull(Series,'') = '' then  Isnull(@Series,Series) else Series end,
						   MONTH = case when Isnull(Month,'') = '' then  Isnull(@Month,Month) else Month end,
						   YEAR = case when Isnull(Year,'') = '' then  Isnull(@year,Year) else Year end,
						   Investors = case when Isnull(Investors,'') = '' then  Isnull(@Investors,Investors) else Investors end,
						   AdditionalInformation = case when Isnull(AdditionalInformation,'') = '' then   ISNULL(@AdditionalInformation, AdditionalInformation) else AdditionalInformation end,
						   ModifiedByID = @CreatedByID,
						   ModifiedDateTime = getdate()
					WHERE  ID = @FundingId
				
			END
		    
			DECLARE @TotalFunding as nvarchar(500) = ''
			DECLARE @FDCompanyId as int = 0

			SELECT top 1 @TotalFunding = Isnull(Amount,''),@FDCompanyId = CompanyID   from gen_Company_FundingDetails WITH(NOLOCK)  WHERE  CompanyId =  @CompanyId
			order by ID Desc
			
			UPDATE CD  SET CD.TotalFundings = @TotalFunding
			FROM gen_Company_Details CD WITH(NOLOCK)		
			WHERE CD.CompanyId =  @FDCompanyId

		
		--Add History Action code below
END