-- EXEC Sproc_Get_Clients_ForWelcomeEmail_ThoseNotPostedJob
ALTER PROCEDURE [dbo].[Sproc_Get_Clients_ForWelcomeEmail_ThoseNotPostedJob]

AS

BEGIN
	
	--Commented Jimit 04-06-24 UTS-7505 
	--SELECT		MAx(CPC.ID) as ID,CPC.ContactID
	--into		#POCDetails
	--FROM		gen_ContactPointofContact CPC WITH(NOLOCK)				
	--GRoup By	CPC.ContactID

	SELECT COUNT(C.ID) OVER() TotalClients
				, C.ID ContactId
				, C.FullName
				, C.EmailID
				, CONVERT(VARCHAR(15), C.CreatedByDatetime	, 103) CreatedByDatetime	
				, U.ID PocId
				, U.FullName PocName
				, U.EmailID	PocEmail
				, U.ContactNumber PocPhone
				, U.Designation PocDesignation
	FROM	 gen_Contact C WITH(NOLOCK)
			 --inner join #POCDetails POC ON POC.ContactID = C.ID
			 --inner join gen_ContactPointofContact CPC WITH(NOLOCK) ON CPC.ID = POC.ID
			 inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
			 INNER JOIN usr_User U WITH(NOLOCK) ON Isnull(CO.AM_SalesPersonID,CO.NBD_SalesPersonID) = U.ID --CPC.[User_ID] = U.ID
			 
			
	--OUTER APPLY (
	--				SELECT TOP 1 U.* 
	--				FROM gen_ContactPointofContact CPC WITH(NOLOCK) 
	--				INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
	--				WHERE CPC.ContactID = C.ID
	--				) CPC 

	WHERE	NOT EXISTS (SELECT HR.ContactID FROM gen_SalesHiringRequest HR WHERE HR.ContactID = C.ID)
			AND	C.IsFromSignUp = 1 
			AND ISNULL(C.IsJobPostEmailSent, 0) = 0 -- Checks if emails is already sent, as after sending email update this field to true
			AND DATEADD(Hour, 1, C.CreatedByDatetime) < GETDATE() -- Send email after hour of signup and no job posted
			AND ISNULL(CO.CompanyTypeID,0) = 1
	
	--DROP TABLE #POCDetails

	UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_Clients_ForWelcomeEmail_ThoseNotPostedJob'

END
