USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Update_RazorPayPaymentStatus_Webhook_ClientPortal]    Script Date: 04-07-2024 18:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Update_RazorPayPaymentStatus_Webhook_ClientPortal]
 @PaymentHistoryID NVARCHAR(500) NULL
AS
BEGIN
	
		DECLARE @IsActive BIT, @LatestBalance INT, @IsAdvancePurchase BIT, 
		 @SubscriptionId BIGINT, 		
		
		 @CreditsAdded DECIMAL(18,2),
		 @Status NVARCHAR(50) = NULL,
		 @ContactID BIGINT = NULL,
		 @CompanyID BIGINT = NULL,
		 @PackageID BIGINT = NULL,
		 @PerCreditAmount DECIMAL(18,2) = null, 
		 @CreditCurrency  Nvarchar(50) = null,
		 @RazorPayPaymentStatus NVARCHAR(50) = null


		 SELECT TOP 1 
		 @SubscriptionId = SH.ID,
		 @CreditsAdded = SH.CreditBalance,
		 @Status = PH.Status,
		 @CompanyID = PH.CompanyID,
		 @ContactID = PH.CreatedByID,
		 @PackageID = SH.PackageID,
		 @PerCreditAmount = SH.CreditAmount,
		 @CreditCurrency = SH.CreditCurrency,
		 @RazorPayPaymentStatus = RazorPayPaymentStatus

		 FROM gen_Payment_History_ClientPortal PH WITH(NOLOCK) INNER JOIN
		 gen_JobPost_Subscription_History_ClientPortal SH WITH(NOLOCK) ON PH.ID = SH.PaymentHistoryID
			WHERE SH.PaymentHistoryID = @PaymentHistoryID


		IF(@RazorPayPaymentStatus = 'pending')
		BEGIN
			SET @LatestBalance = Isnull((SELECT TOP 1 JPCreditBalance FROM gen_Company WHERE ID = @CompanyID),0)

					-- If company has balance that means this purchase is in advance, so the newly added plan will not be in active mode.
					IF(@LatestBalance > 0)
					BEGIN
						SET @IsActive = 0
						SET @IsAdvancePurchase = 1
					END
					ELSE
					BEGIN
						SET @IsActive = 1 
						SET @IsAdvancePurchase = 0
					END
		
	
			EXEC sproc_PurchasedCreditUpdate @CompanyID, @CreditsAdded, @ContactID, 
											 @ContactID, @PaymentHistoryID, 
											 @PackageID,@IsActive,@IsAdvancePurchase,
											 @PerCreditAmount,@CreditCurrency, 0

			UPDATE gen_Payment_History_ClientPortal SET status = 'captured' ,
					RazorPayPaymentStatus = 'success' 
					WHERE ID = @PaymentHistoryID	
		END
END		