ALTER PROCEDURE [dbo].[sproc_UTS_Update_EmployeeID_FromInvoiceAPIResponse]
	@HR_Number					NVARCHAR(200)	= null,
	@EngagementID				NVARCHAR(200)	= NULL,
	@SalesPerson_EmployeeID		NVARCHAR(200)	= null,
	@CreatedByID				BIGINT			= NULL
AS
BEGIN
		Declare @HR_ID  as bigint = 0
		Declare @Onboard_Id  as bigint = 0
		Declare @UserId  as bigint =0
		Declare @Company_ID as bigint = 0
		Declare @NBD_SalesPerson_Id	as bigint = 0
		Declare @IsPartnershipHR bit = 0;
		Declare @TalentID bigint = 0;
		Declare @ContactTalentPriorityID bigint = 0;

		--Payal(06-09-2023)
		Declare @Contact_ID as bigint = 0

		select	@HR_ID = ID, @IsPartnershipHR = ISNULL(IsPartnerHR,0)
		FROM	gen_SalesHiringRequest WITH(NOLOCK)
		WHERE	HR_Number = @HR_Number

		Select  @Onboard_Id = ID, @TalentID = ISNULL(Talent_ID,0)
		from	gen_OnBoardTalents WITH(NOLOCK)
		where	EngagemenID = @EngagementID and HiringRequest_ID = @HR_ID

		select	@UserId = Id
		from	usr_User with(NOlock) 
		where	EmployeeID = @SalesPerson_EmployeeID

		Select	@Company_ID = Co.ID, @Contact_ID = C.ID
		FROM	gen_Company CO with(NOlock)
				inner join gen_Contact C with(NOlock) ON C.CompanyID = CO.ID
				inner join gen_SalesHiringRequest H with(NOlock) ON H.ContactID = C.ID
				inner join gen_OnBoardTalents OT WITH(NOLOCK) ON H.ID = OT.HiringRequest_ID							
		WHERE   H.Id = @HR_ID AND OT.ID = @Onboard_Id					
	
       -- added by Jimit 22092022
	    SELEct @NBD_SalesPerson_Id = NBD_SalesPersonID
		FROM   gen_Company WITH(NOLOCK)
		WHERE  ID = @Company_ID
		--ended

		SELECT	@ContactTalentPriorityID = ID
		FROM	gen_ContactTalentPriority with(nolock)
		WHERE	HiringRequestID = @HR_ID and TalentID = @TalentID;


	If Exists(select 1 from gen_Company WITH(NOLOCK) where Id = @Company_ID and IsNULL(AM_SalesPersonID,0) = 0)
		BEGIN
				UPdate  CO
				set     CO.AM_SalesPersonID = @UserId
				FROM    gen_Company CO			
				WHERE   CO.Id = @Company_ID

				update  O
				set     O.AM_SalesPersonID = @NBD_SalesPerson_Id,
						O.NBD_SalesPersonID = @NBD_SalesPerson_Id   -- added by Jimit 22092022
				FROM    gen_OnBoardTalents O			
				WHERE   O.ID = @Onboard_Id

				update  H
				set     H.AM_SalesPersonID = @UserId
				FROM    gen_SalesHiringRequest H			
				WHERE   H.ID = @HR_ID

				
		END

	IF exists(select 1 from gen_Esales_AM_API_Response With(Nolock) where OnBoardID = @Onboard_Id and HiringRequestID = @HR_ID)
		BEGIN
			UPdate	 gen_Esales_AM_API_Response
			SET		 CompanyID = @Company_ID,
					 EsaleSalesPersonID = @UserId
			WHERE    OnBoardID = @Onboard_Id and HiringRequestID = @HR_ID
		END
	ELSE
		BEGIN
				Insert into gen_Esales_AM_API_Response(OnBoardID,HiringRequestID,CompanyID,EsaleSalesPersonID,CreatedByDateTime)
				select @Onboard_Id,@HR_ID,@Company_Id,@UserId,Getdate()
		END
		

		-- Payal (13-12-2022) AM Update for In process HRs & insert into Table for Send Email
		INSERT INTO [dbo].[gen_AMNBD_Assignment_EmailsendDetails]
								   ([HiringRequest_ID]
								   ,[ContactID]
								   ,[AM_SalesPersonID]
								   ,[NBD_SalesPersonID]
								   ,[NeedEmailSend])

        SELECT						H.ID, 
									H.ContactID, 
									CO.AM_SalesPersonID,
									CO.NBD_SalesPersonID,
									1
		        From  gen_SalesHiringRequest H 
				inner join gen_Contact C With(Nolock) ON C.ID = H.ContactID
				inner join gen_Company CO  With(Nolock) ON Co.ID = C.CompanyID
		Where   H.Status_ID not in (3) 
				 AND ISNULL(CO.AM_SalesPersonID,0) <> 0 --AND ISNULL(CO.AM_SalesPersonID,0) <> H.SalesUserID
				 ANd CO.ID = @Company_ID

		select  H.ID,H.SalesUserID
		Into	#TempHRRecords
		From    gen_SalesHiringRequest H 
				inner join gen_Contact C With(Nolock) ON C.ID = H.ContactID
				inner join gen_Company CO  With(Nolock) ON Co.ID = C.CompanyID
		Where   H.Status_ID not in (3) 
					AND ISNULL(CO.AM_SalesPersonID,0) <> 0 --AND ISNULL(CO.AM_SalesPersonID,0) <> H.SalesUserID
					ANd CO.ID = @Company_ID

		Update  H
		set     H.SalesUserID = ISNULL(CO.AM_SalesPersonID,0)
		From    gen_SalesHiringRequest H 
				inner join gen_Contact C With(Nolock) ON C.ID = H.ContactID
				inner join gen_Company CO  With(Nolock) ON Co.ID = C.CompanyID
		Where   H.Status_ID not in (3) 
					AND ISNULL(CO.AM_SalesPersonID,0) <> 0 --AND ISNULL(CO.AM_SalesPersonID,0) <> H.SalesUserID
					ANd CO.ID = @Company_ID


		begin	--Update data for Partnership HR
			if @IsPartnershipHR = 1
			begin
				UPDATE	H
				SET		H.IsPartnerHR = 0,
						H.ChildCompanyID = 0,
						H.ChildContactID = 0
				FROM	gen_SalesHiringRequest H with(nolock)
				WHERE	ID = @HR_ID;

				EXEC sproc_HiringRequest_History_Insert 'RemovePartnershipHR_FromAMAssignment',@HR_ID,@TalentID,0,@CreatedByID,@ContactTalentPriorityID,0,NULL,@Onboard_Id,NULL,NULL;


			end
		end



		begin  -- Set Priority count in case of AM Assignment  Jimit 27/04/2023
				
				If Exists(Select 1 from #TempHRRecords T inner join gen_SalesHiringRequest_Priority P with(NOLOCK)  ON P.HiringRequestID = T.Id
							and P.IsPriority = 1)
					BEGIN
							Declare @SalesUserId as bigint
							Declare @HiringRequest_ID as bigint
							Declare @NewSalesUserID as bigint

							DECLARE cursor_Priority CURSOR  
							 FOR select SalesUserID,ID from #TempHRRecords	 
							 OPEN cursor_Priority;  
 
							 FETCH NEXT FROM cursor_Priority INTO @SalesUserId,@HiringRequest_ID
							 WHILE @@FETCH_STATUS = 0  
								 BEGIN 				
	
									If Exists(select 1 from gen_SalesHiringRequest_Priority with(NOLOCK) where HiringRequestID = @HiringRequest_ID and IsPriority = 1)
									  begin	
											--remove Remaining priority count from old NBD
											EXEC sproc_Insert_HiringRequest_Priority_Revise_Flow @CreatedById,@SalesUserId,@HiringRequest_ID,1;
								
											--add Remaining priority count from New AM
											select @NewSalesUserID = SalesUserID from gen_SalesHiringRequest with(Nolock) where ID = @HiringRequest_ID
											EXEC sproc_Insert_HiringRequest_Priority_Revise_Flow @CreatedById,@NewSalesUserID,@HiringRequest_ID,0;
									  end



								FETCH NEXT FROM cursor_Priority INTO @SalesUserId,@HiringRequest_ID
								 END;  
 
							 CLOSE cursor_Priority;   
							 DEALLOCATE cursor_Priority; 
				

					END

				Drop Table #TempHRRecords
				
		end

		--Payal (06-09-2023) Add AM as POC for this client
		BEGIN
		    IF(@UserId>0 AND @Contact_ID >0) 
			BEGIN
				if(select count(1) from gen_ContactPointofContact with(nolock) where ContactID = @Contact_ID and Company_ID = @Company_ID AND User_ID= @UserId) =0
				begin
						INSERT INTO gen_ContactPointofContact (ContactID,User_ID,Description,Company_ID)
													Select @Contact_ID,@UserId,'Client Relationship Manager',@Company_ID
				end 
			END
		    
		END
		
END