USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_PauseJobs_ClientPortal]    Script Date: 02-05-2024 14:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_PauseJobs_ClientPortal]	
	@HRID BIGINT = 0,
	@ContactID BIGINT = 0,
	@SSOUserId BIGINT = NULL
AS
BEGIN

	DECLARE @ActionPerformedBy BIGINT = 0,
		@ActionManagedByClient BIT = 1

	-- Set action performed by user based on SSO login UTS-7223
	SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ContactID, @SSOUserId))
	SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0))

    UPDATE gen_SalesHiringRequest SET Status_ID = 7, LastModifiedByID = @ActionPerformedBy, LastModifiedDatetime = GETDATE()  WHERE ID = @HRID

	EXEC sproc_HiringRequest_History_Insert @Action = 'HR_Paused', @HiringRequest_ID = @HRID,
								@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
								@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient,@IsManagedByTalent = 0, @SalesUserID = 0,
								@OldSalesUserID = 0, @AppActionDoneBy = 4
END