ALTER PROCEDURE [dbo].[Sproc_UpdateTalentStatus_PayperHire_ATS_ClientPortal]
   @HRID BIGINT = 0,
   @ATSTalentID BIGINT = 0,
   @Status INT = 0 -- Client status prg_TalentStatus_ClientPortal Id value

AS
BEGIN
	
	DECLARE @UTSTalentID BIGINT = 0,
			@InterviewSlotMasterID BIGINT = 0,
			@ShortlistedTalent_InterviewID BIGINT = 0,
			@TalentSelected_InterviewDetailsID BIGINT = 0,
			@ContactId BIGINT = 0,
			@FeedbackType NVARCHAR(20) = '',
			@FeedbackHistoryAction NVARCHAR(100) = '',
			@HRDetailId BIGINT = 0,
			@ExistingTalentStatus INT = 0;

	Declare @IsNewSlotAdd bit = 0;

	SELECT TOP 1 @UTSTalentID = ID FROM dbo.gen_Talent WITH(NOLOCK) WHERE ATS_Talent_ID = @ATSTalentID
	SELECT TOP 1 @ContactId = ContactID FROM dbo.gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID

	SELECT TOP 1 @HRDetailId = ID FROM dbo.gen_SalesHiringRequest_Details WITH(NOLOCK) WHERE HiringRequest_ID = @HRID

	SELECT TOP 1 @ExistingTalentStatus = TalentStatusID_BasedOnHR FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HRID AND TalentID = @UTSTalentID

	--- Hired or Offered
	IF(@ExistingTalentStatus IN (4, 10))
	BEGIN
		PRINT 'Already Offered'
		RETURN
	END

	--- If Offered then do the whole process
	--- If Moved to assessment and from Interview then do the process
	IF((@Status = 6) OR (@ExistingTalentStatus = 3 AND @Status IN (4,5)))
	BEGIN
		
		PRINT 'UPDATE STATUS'
		-- Check if we have any entry in interview slot master.
		IF EXISTS(SELECT 1 FROM dbo.gen_InterviewSlotsMaster WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID AND InterviewStatus_ID not in (3,7))
		BEGIN
			 print 'IF EXISTS'

			 SELECT top 1  @InterviewSlotMasterID =  ID FROM dbo.gen_InterviewSlotsMaster WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID 
													AND InterviewStatus_ID not in (3,7)
			 order by InterviewStatus_ID DESC

			 IF(@InterviewSlotMasterID > 0)
			 begin
					 print '@InterviewSlotMasterID : ' + cast(@InterviewSlotMasterID as nvarchar(50))

					 SELECT TOP 1 
					 @ShortlistedTalent_InterviewID =  SelectedSlot.Shortlisted_InterviewID, 
					 @TalentSelected_InterviewDetailsID = SelectedSlot.ID
					 FROM dbo.gen_InterviewSlotsMaster MI WITH(NOLOCK) INNER JOIN dbo.gen_ShortlistedTalent_InterviewDetails Slots WITH(NOLOCK) ON MI.ID = Slots.InterviewMaster_ID
					 INNER JOIN dbo.gen_TalentSelected_InterviewDetails SelectedSlot WITH(NOLOCK) ON MI.ID = SelectedSlot.InterviewMaster_ID AND SelectedSlot.Shortlisted_InterviewID = Slots.ID
					 WHERE MI.HiringRequest_ID = @HRID AND MI.Talent_ID = @UTSTalentID AND SelectedSlot.Status_ID not in (3,7) AND MI.ID = @InterviewSlotMasterID
					 ORDER BY InterviewStatus_ID DESC
			 END
			 IF(@ShortlistedTalent_InterviewID >0 AND @TalentSelected_InterviewDetailsID >0)
			 BEGIN
				  print '@ShortlistedTalent_InterviewID : ' + cast(@ShortlistedTalent_InterviewID as nvarchar(50))
				  print '@TalentSelected_InterviewDetailsID : ' + cast(@TalentSelected_InterviewDetailsID as nvarchar(50))
			 END
			 IF(@ShortlistedTalent_InterviewID = 0 AND @TalentSelected_InterviewDetailsID = 0)
			 BEGIN

					 SELECT top 1  @ShortlistedTalent_InterviewID =  Slots.ID
					 FROM dbo.gen_InterviewSlotsMaster MI WITH(NOLOCK) INNER JOIN dbo.gen_ShortlistedTalent_InterviewDetails Slots WITH(NOLOCK) ON MI.ID = Slots.InterviewMaster_ID				
					 WHERE Slots.HiringRequest_ID = @HRID AND Slots.Talent_ID = @UTSTalentID AND Slots.Status_ID not in (3,7) AND MI.ID = @InterviewSlotMasterID
					 order by Status_ID DESC

					 SELECT top 1  @TalentSelected_InterviewDetailsID =  SelectedSlot.ID
					 FROM dbo.gen_InterviewSlotsMaster MI WITH(NOLOCK) INNER JOIN  dbo.gen_TalentSelected_InterviewDetails SelectedSlot WITH(NOLOCK) ON MI.ID = SelectedSlot.InterviewMaster_ID 				
					 WHERE SelectedSlot.HiringRequest_ID = @HRID AND SelectedSlot.Talent_ID = @UTSTalentID AND SelectedSlot.Status_ID not in (3,7) AND MI.ID = @InterviewSlotMasterID
					 order by Status_ID DESC
			 END
		

		END
		ELSE
		BEGIN
			print 'ELSE IF NOT EXISTS'
		END
	
		--IF NOT EXISTS(SELECT 1 FROM dbo.gen_InterviewSlotsMaster WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID AND InterviewStatus_ID not in (3,7))
		IF(@InterviewSlotMasterID = 0)
		BEGIN
			INSERT INTO dbo.gen_InterviewSlotsMaster
			(
				HiringRequest_ID,
				HiringRequest_Detail_ID,
				ContactID,
				Talent_ID,
				GUID,
				InterviewStatus_ID,
				CreatedByID,
				CreatedByDatetime,		   
				InterviewRound_Count,
				InterviewRound_Str
		  
			)
			SELECT 
			HR.ID,
			HRD.ID,
			HR.ContactID,
			@UTSTalentID,
			NEWID(),
			6,
			HR.ContactID,
			GETDATE(),
			1, 
			'Round 1'
			FROM dbo.gen_SalesHiringRequest HR WITH(NOLOCK) 
			INNER JOIN dbo.gen_SalesHiringRequest_Details HRD WITH(NOLOCK) 
			ON HR.ID = hrd.HiringRequest_ID
			WHERE HR.ID = @HRID

			SELECT TOP 1 @InterviewSlotMasterID = ID FROM dbo.gen_InterviewSlotsMaster WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID
		END
		ELSE
		BEGIN
			--SELECT TOP 1 @InterviewSlotMasterID = ID FROM dbo.gen_InterviewSlotsMaster WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID

			UPDATE gen_InterviewSlotsMaster 
			SET InterviewStatus_ID = 6 ,
			LastModifiedByID = @ContactId,
			LastModifiedDatetime = GETDATE()
			WHERE ID = @InterviewSlotMasterID
		END
		
		-- Check if any final slot for candidate
		--IF NOT EXISTS (SELECT 1 FROM dbo.gen_ShortlistedTalent_InterviewDetails WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID)
		IF(@ShortlistedTalent_InterviewID = 0)
		BEGIN
			INSERT INTO dbo.gen_ShortlistedTalent_InterviewDetails
			(
				HiringRequest_ID,
				HiringRequest_Detail_ID,
				ContactID,
				Talent_ID,
				TimeZone_ID,
				InterviewSlot,
				ScheduledOn,
				Interview_StartTime,
				Interview_EndTime,
				IsTalentConfirmed,
				Status_ID,
				CreatedByID,
				CreatedByDatetime,		    
				IST_ScheduledOn,
				IST_Interview_StartTime,
				IST_Interview_EndTime,		   
				InterviewMaster_ID
			)
			SELECT 
				HR.ID,
				HRD.ID,
				HR.ContactID,
				@UTSTalentID,
				22,
				'Slot1',
				GETDATE(),
				CAST(GETDATE() AS TIME),
				CAST(DATEADD(HOUR,1, getdate()) AS TIME),
				1, 
				6,
				HR.ContactID,
				GETDATE(),
				GETDATE(),
				CAST(GETDATE() AS TIME),
				CAST(DATEADD(HOUR,1, getdate()) AS TIME),
				@InterviewSlotMasterID
				FROM dbo.gen_SalesHiringRequest HR WITH(NOLOCK) 
				INNER JOIN dbo.gen_SalesHiringRequest_Details HRD WITH(NOLOCK) 
				ON HR.ID = hrd.HiringRequest_ID	
				WHERE HR.ID = @HRID

			SELECT TOP 1 @ShortlistedTalent_InterviewID = ID FROM dbo.gen_ShortlistedTalent_InterviewDetails 
			WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID

			EXEC sproc_Update_ShortlistedTalent_InterviewDetails_ISTTime_ByID @ShortlistedTalent_InterviewID
			EXEC sproc_Update_ShortlistedTalent_InterviewDetails_ISTTime
		END
		ELSE
		BEGIN
			--SELECT TOP 1 @ShortlistedTalent_InterviewID = ID FROM dbo.gen_ShortlistedTalent_InterviewDetails WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID

			UPDATE gen_ShortlistedTalent_InterviewDetails 
			SET Status_ID = 6,
			LastModifiedByID = @ContactId,
			LastModifiedDatetime = GETDATE(),
			IsTalentConfirmed = 1
			WHERE ID = @ShortlistedTalent_InterviewID

		END

		-- Check if any interview data there.
		--IF NOT EXISTS (SELECT 1 FROM gen_TalentSelected_InterviewDetails WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID)
		IF(@TalentSelected_InterviewDetailsID = 0)
		BEGIN
			INSERT INTO dbo.gen_TalentSelected_InterviewDetails
			(
				HiringRequest_ID,
				HiringRequest_Detail_ID,
				ContactID,
				Talent_ID,
				Shortlisted_InterviewID,		    
				IsConfirmed,		   
				CreatedByID,
				CreatedByDatetime,		   
				Status_ID,		   
				Contact_TimeZone_ID,		   
				InterviewMaster_ID,		   
				AdditionalNotes
			)
			SELECT 
			HR.ID,
			HRD.ID,
			HR.ContactID,
			@UTSTalentID,
			@ShortlistedTalent_InterviewID,		
			1, 		
			HR.ContactID,
			GETDATE(),
			6,
			22,
			@InterviewSlotMasterID,
			'Entry from ATS'		
			FROM dbo.gen_SalesHiringRequest HR WITH(NOLOCK) 
			INNER JOIN dbo.gen_SalesHiringRequest_Details HRD WITH(NOLOCK) 
			ON HR.ID = hrd.HiringRequest_ID	
			WHERE HR.ID = @HRID

			SELECT TOP 1 @TalentSelected_InterviewDetailsID = ID FROM gen_TalentSelected_InterviewDetails WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID

			EXEC Sproc_Update_TalentHRStatus 4, @UTSTalentID, @HRID, 1

			EXEC sproc_HiringRequest_History_Insert @Action = 'Slot_Given',@HiringRequest_ID= @HRID,@Talent_ID= @UTSTalentID,
									@Created_From =0, @CreatedById =@ContactId,@ContactTalentPriority_ID= 0,@InterviewMaster_ID= @InterviewSlotMasterID, @HR_AcceptedDateTime='', 
									@OnBoard_ID=0,@IsManagedByClient= 1,@IsManagedByTalent= 0,@SalesUserID= 0,@OldSalesUserID= 0,@AppActionDoneBy= 2

			EXEC sproc_HiringRequest_History_Insert @Action = 'Interview_Scheduled',@HiringRequest_ID= @HRID,@Talent_ID= @UTSTalentID,
									@Created_From =0, @CreatedById =@ContactId,@ContactTalentPriority_ID= 0,@InterviewMaster_ID= @InterviewSlotMasterID, @HR_AcceptedDateTime='', 
									@OnBoard_ID=0,@IsManagedByClient= 1,@IsManagedByTalent= 0,@SalesUserID= 0,@OldSalesUserID= 0,@AppActionDoneBy= 2

			EXEC sproc_HiringRequest_History_Insert @Action = 'Interview_Completed',@HiringRequest_ID= @HRID,@Talent_ID= @UTSTalentID,
									@Created_From =0, @CreatedById =@ContactId,@ContactTalentPriority_ID= 0,@InterviewMaster_ID= @InterviewSlotMasterID, @HR_AcceptedDateTime='', 
									@OnBoard_ID=0,@IsManagedByClient= 1,@IsManagedByTalent= 0,@SalesUserID= 0,@OldSalesUserID= 0,@AppActionDoneBy= 2

		END
		ELSE
		BEGIN
			--SELECT TOP 1 @TalentSelected_InterviewDetailsID = ID FROM gen_TalentSelected_InterviewDetails WITH(NOLOCK) WHERE HiringRequest_ID = @HRID AND Talent_ID = @UTSTalentID

			IF EXISTS(SELECT TOP 1 ID FROM gen_TalentSelected_InterviewDetails 
						WITH(NOLOCK) WHERE ID = @TalentSelected_InterviewDetailsID AND IsConfirmed = 0)

			BEGIN
				UPDATE gen_TalentSelected_InterviewDetails 
				SET Status_ID = 7,
				LastModifiedByID = @ContactId,
				LastModifiedDatetime = GETDATE(),
				Shortlisted_InterviewID = @ShortlistedTalent_InterviewID,
				IsConfirmed = 1
				WHERE ID = @TalentSelected_InterviewDetailsID

				EXEC sproc_HiringRequest_History_Insert @Action = 'Interview_Completed',@HiringRequest_ID= @HRID,@Talent_ID= @UTSTalentID,
										@Created_From =0, @CreatedById =@ContactId,@ContactTalentPriority_ID= 0,@InterviewMaster_ID= @InterviewSlotMasterID, @HR_AcceptedDateTime='', 
										@OnBoard_ID=0,@IsManagedByClient= 1,@IsManagedByTalent= 0,@SalesUserID= 0,@OldSalesUserID= 0,@AppActionDoneBy= 2
			END
			ELSE
			BEGIN
				UPDATE gen_TalentSelected_InterviewDetails 
				SET Status_ID = 7,
				LastModifiedByID = @ContactId,
				LastModifiedDatetime = GETDATE(),
				Shortlisted_InterviewID = @ShortlistedTalent_InterviewID				
				WHERE ID = @TalentSelected_InterviewDetailsID
			END
		END	
	END
	-- If offered then.
	IF(@Status = 6)
	BEGIN
		SET @FeedbackType = 'Hire'
		SET @FeedbackHistoryAction = 'Feedback_Submitted_With_Hire'

		 -- If offered then.  
       
        UPDATE dbo.gen_ContactTalentPriority SET TalentStatusID_BasedOnHR = 4 WHERE HiringRequestID = @HRID AND TalentID = @UTSTalentID

		EXEC Sproc_Add_TalentSelected_ClientFeedback 
		@ShortlistedInterviewId = @ShortlistedTalent_InterviewID, 
		@HiringRequestID = @HRID, 
		@HiringRequestDetailID = @HRDetailId,
		@ContactID = @ContactId,
		@FeedbackTypevalue = @FeedbackType,
		@TalentID = @UTSTalentID,
		@FeedbackID = 0,
		@CreatedModifiedId = @ContactId,
		@AppActionDoneBy = 2

	    EXEC sproc_HiringRequest_History_Insert @Action = @FeedbackHistoryAction ,@HiringRequest_ID= @HRID,@Talent_ID= @UTSTalentID,
                                @Created_From =0, @CreatedById = @ContactId,@ContactTalentPriority_ID= 0,@InterviewMaster_ID= @InterviewSlotMasterID, @HR_AcceptedDateTime='', 
                                @OnBoard_ID=0,@IsManagedByClient= 1,@IsManagedByTalent= 0,@SalesUserID= 0,@OldSalesUserID= 0,@AppActionDoneBy= 2
 
	END	

	-- If Assessment then 
	IF(@Status IN (4,5))
	BEGIN
		UPDATE dbo.gen_ContactTalentPriority SET TalentStatusID_BasedOnHR = 11 WHERE HiringRequestID = @HRID AND TalentID = @UTSTalentID

		EXEC sproc_HiringRequest_History_Insert @Action = 'New_Talent_Status_InAssessment' ,@HiringRequest_ID= @HRID,@Talent_ID= @UTSTalentID,
                                @Created_From =0, @CreatedById = @ContactId,@ContactTalentPriority_ID= 0,@InterviewMaster_ID= @InterviewSlotMasterID, @HR_AcceptedDateTime='', 
                                @OnBoard_ID=0,@IsManagedByClient= 1,@IsManagedByTalent= 0,@SalesUserID= 0,@OldSalesUserID= 0,@AppActionDoneBy= 2
	END

END

