--EXEC Sproc_Get_SLARecords_For_ReminderEmail 1
ALTER PROCEDURE [dbo].[Sproc_Get_SLARecords_For_ReminderEmail]
	@ReminderDays		INT = 1

AS

BEGIN
	
	--Commented Jimit 04-06-24 UTS-7505 
	--SELECT		MAx(CPC.ID) as ID,CPC.ContactID
	--into		#POCDetails
	--FROM		gen_ContactPointofContact CPC WITH(NOLOCK)				
	--GRoup By	CPC.ContactID
	
	SELECT  SH.HistoryID,H.HiringRequest_ID,MAX(SH.ID) as ID
	INTO    #SLAData
	FROM	gen_History H WITH(NOLOCK)
			LEFT JOIN gen_SLA_Edit_History SH ON H.ID = SH.HistoryID
	WHERE	H.Action_ID = 89 --AND H.HiringRequest_ID = HR.ID
	GROUP BY SH.HistoryID,H.HiringRequest_ID

	

	;WITH cteHRSLADates AS (
				SELECT HR.ID HrId 
						, HR.HR_Number
						, (CASE WHEN CT.SLADate IS NULL
							THEN dbo.Excluding_WeekDays(H.CreatedByDatetime, 5)
							ELSE CT.SLADate
							END) As SLADate
						, HR.ContactID
						, HR.SalesUserID
						, IIF(HR.GUID IS NULL, 'Backend', 'Front end') SourceOfHr
					

				FROM	gen_SalesHiringRequest HR WITH(NOLOCK)
						LEFT JOIN gen_History H WITH(NOLOCK) ON HR.ID = H.HiringRequest_ID AND H.Action_ID = 4
						LEFT JOIN #SLAData SH ON SH.HiringRequest_ID = HR.ID
						LEFT JOIN gen_SLA_Edit_History CT ON SH.HistoryID = CT.HistoryID
						
						--OUTER APPLY(
						--		SELECT TOP 1 SH.* 
						--		FROM gen_History H WITH(NOLOCK)
						--		LEFT JOIN gen_SLA_Edit_History SH ON H.ID = SH.HistoryID
						--		WHERE H.Action_ID = 89 AND H.HiringRequest_ID = HR.ID
						--		ORDER BY SH.ID DESC
						--	) CT
		)

	SELECT	HR.HrId
			, HR.HR_Number
			, CONVERT(VARCHAR(15), HR.SLADate, 103) SLADate
			, C.FullName ClientName			
			, c.EmailID ToClientEmail
			, c.FullName ToClientEmailName
			, GC.Company
			, U.FullName PocName
			, U.EmailID	PocEmail
			, U.ContactNumber PocPhone
			, U.Designation PocDesignation
			, HR.SalesUserID
			, HR.SourceOfHr

	FROM	cteHRSLADates HR
			INNER JOIN gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
			INNER JOIN gen_Company GC WITH(NOLOCK) ON C.CompanyID = GC.ID
			--inner join #POCDetails POC ON POC.ContactID = C.ID
			--inner join gen_ContactPointofContact CPC WITH(NOLOCK) ON CPC.ID = POC.ID
			INNER JOIN usr_User U WITH(NOLOCK) ON HR.SalesUserID = U.ID --CPC.[User_ID] = U.ID
			LEFT JOIN gen_History H WITH(NOLOCK) ON HR.HrId = H.HiringRequest_ID AND Action_ID = 4
			--OUTER APPLY (
			--			SELECT TOP 1 U.* 
			--			FROM gen_ContactPointofContact CPC WITH(NOLOCK) 
			--			INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
			--			WHERE CPC.ContactID = HR.ContactID
			--			) CPC 
	WHERE	SLADate IS NOT NULL
			--AND HrId = 23190
			AND (
					(@ReminderDays = 0 AND CAST(SLADate AS DATE) = CAST(GETDATE() AS DATE)) 
					OR (@ReminderDays = 1 AND CAST(dbo.Excluding_WeekDays(GETDATE(), @ReminderDays) AS DATE) = CAST(SLADate AS DATE)) 
				)
			AND Isnull(GC.CompanyTypeID,0) = 1
		   --ORDER BY HrId DESC

	--DROP TABLE #POCDetails


	UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_SLARecords_For_ReminderEmail'
END
