ALTER PROCEDURE [dbo].[Sproc_Update_CustomAssessmentUnicodeDetails_ClientPortal]   
	@AssessmentID BIGINT = 0,
	@HiringRequestID	BIGINT = 0,	
	@Details NVARCHAR(Max) = NULL, 
    @CandidatesGuideline NVARCHAR(Max) = NULL,
    @AdditionalInfo NVARCHAR(Max) = NULL,
	@EmailContent NVARCHAR(MAX) = NULL	
AS
BEGIN
	
	UPDATE  gen_HRCustomAssessment SET					
			Details = ISNULL(NULLIF(@Details,''),Details),	
			CandidatesGuideline = ISNULL(NULLIF(@CandidatesGuideline,''), CandidatesGuideline),
			AdditionalInfo = ISNULL(NULLIF(@AdditionalInfo,''),AdditionalInfo)			
			WHERE ID = @AssessmentID

	UPDATE gen_CustomAssessmentEmailDetails SET 
		EmailContent = ISNULL(NULLIF(@EmailContent,''),EmailContent)
		WHERE AssessmentID = @AssessmentID	

	SELECT 
	HCA.ID AS AssessmentID,
	HCA.HiringRequestID, 
	HCA.Type,
	HCA.Name,
	HCA.Details,
	HCA.Skills,
	CAST(HCA.Duration AS NVARCHAR(50)) + ' mins' AS Duration,
	SubmissionDeadline = convert(varchar,HCA.SubmissionDeadline, 105),
	HCA.CandidatesGuideline,
	HCA.AdditionalInfo,
	CED.EmailSubject,
	CED.EmailContent,
	ATSTalents = LTRIM(RTRIM(isnull((STUFF(( select ',' + char(10) + (CAST(ATSTalentID AS NVARCHAR(250))) from gen_AssessmentWiseTalentDetails S WITH(NOLOCK) WHERE S.AssessmentID = HCA.ID For XML Path('')),1,1,'')),''))),
	TalentDetails = LTRIM(RTRIM(isnull((STUFF(( select ',' + char(10) + (CAST(T.Name AS NVARCHAR(MAX)) + ' - ' + CAST(T.EmailID AS NVARCHAR(MAX))) from gen_AssessmentWiseTalentDetails S WITH(NOLOCK) INNER JOIN gen_Talent T WITH(NOLOCK) ON S.ATSTalentID = T.ATS_Talent_ID WHERE S.AssessmentID = HCA.ID  For XML Path('')),1,1,'')),''))),

	Title = Isnull(HR.RequestForTalent,''),  
	HRNumber = HR.Hr_Number,  
	Oppurtunity = CASE WHEN DP.ModeOfWork = 'Remote' THEN Isnull(DP.ModeOfWork,'') ELSE Isnull(DP.ModeOfWork,'') + ' - ' + Isnull(DP.City,'') END,  
	YearsofExperience = CASE WHEN hrd.YearOfExp = 0 THEN 'Freshers' ELSE
						REPLACE( cast(hrd.YearOfExp as nvarchar(10)),'.00','') +  '+ years Exp' 
					    END,  
	EmploymentType = CAST(Isnull(Availability,'') AS NVARCHAR) +    
	IIF(HRD.SpecificMonth > 0, ' contract - ' + CAST(ISNULL(NULLIF(HRD.SpecificMonth ,-1), 0) AS NVARCHAR) + ' months', ''),  
	Budget =  ISNULL(HRD.Cost,''),  
	TimeZone = ISNULL(HRD.TimeZone_FromTime,'') + ' to ' + ISNULL(HRD.TimeZone_EndTime,'') + ' ' + ISNULL(CT.TimeZoneTitle,'')

	FROM gen_HRCustomAssessment HCA WITH(NOLOCK) 
	INNER JOIN gen_CustomAssessmentEmailDetails CED WITH(NOLOCK) ON HCA.ID = CED.AssessmentID
	INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HCA.HiringRequestID = HR.ID
	INNER JOIN Gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HR.ID = HRD.HiringRequest_ID  
	INNER join prg_ContactTimeZone CT WITH(NOLOCK) ON CT.ID =  hrd.Timezone_ID
	LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id = HR.ID 
	WHERE HCA.HiringRequestID = @HiringRequestID AND HCA.ID = @AssessmentID
	ORDER BY HCA.CreatedByDateTime DESC	
END
