ALTER PROCEDURE [dbo].[Sproc_Update_Company_EngagementDetails]
 @CompanyId						Bigint			= NULL,
 @CompanyTypeID					INT				= NULL,
 @AnotherCompanyTypeID			INT				= NULL,
 @IsPostaJob					BIT				= NULL,
 @IsProfileView					BIT				= NULL,
 @JPCreditBalance				DECIMAL(18,2)   = NULL,
 @IsTransparentPricing			BIT				= NULL,
 @IsVettedProfile				BIT				= NULL,
 @CreditAmount					DECIMAL(18,2)   = NULL,
 @CreditCurrency				NVARCHAR(50)	= NULL,
 @JobPostCredit							INT		= NULL,
 @VettedProfileViewCredit				INT		= NULL,
 @NonVettedProfileViewCredit			INT		= NULL,
 @HiringTypePricingId					INT		= NULL,
 @CreatedByID						BIGINT		= NULL,
 @AppActionDoneBy					INT			= NULL
 AS 
 BEGIN


		DECLARE @IsPayPerHire BIT, @IsPayPerCredit BIT

		IF(ISNULL(@CompanyTypeId,0) = 1 OR ISNULL(@AnotherCompanyTypeID,0) = 1)
		BEGIN
			SET @IsPayPerHire = 1
		END

		IF(ISNULL(@CompanyTypeId,0) = 2 OR ISNULL(@AnotherCompanyTypeID,0) = 2)
		BEGIN
			SET @IsPayPerCredit = 1
		END		

		-- Hybrid model
	    IF(ISNULL(@IsPayPerHire,0) = 1 AND ISNULL(@IsPayPerCredit,0) = 1)
		BEGIN
			SET @CompanyTypeId = 2;
			SET @AnotherCompanyTypeID = 1;
		END

		--Only Pay per Hire
		IF(ISNULL(@IsPayPerHire,0) = 1 AND ISNULL(@IsPayPerCredit,0) = 0)
		BEGIN
			SET @CompanyTypeID = 1;
			SET @AnotherCompanyTypeID = 0;
			SET @IsVettedProfile = 0;
		END

		--Only Pay per Credit
		IF(ISNULL(@IsPayPerHire,0) = 0 AND ISNULL(@IsPayPerCredit,0) = 1)
		BEGIN
			SET @CompanyTypeID = 2;
			SET @AnotherCompanyTypeID = 0;
			SET @IsTransparentPricing = NULL
		END

		IF(@CompanyTypeId = 2)
			BEGIN
		
				IF(@IsPostaJob = 1 AND ISNULL(@IsProfileView,0) = 0)
				BEGIN
					SET @VettedProfileViewCredit = 0
					SET @NonVettedProfileViewCredit = 0
				END

				IF(@IsPostaJob = 0)
				BEGIN
					SET @JobPostCredit = 0
				END
			END

			IF EXISTS(SELECT 1 FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyId)
				BEGIN
						UPDATE gen_Company
						SET 
						CompanyTypeID = ISNULL(@CompanyTypeID, CompanyTypeID),
						AnotherCompanyTypeID = ISNULL(@AnotherCompanyTypeID, AnotherCompanyTypeID),
						IsPostaJob = ISNULL(@IsPostaJob, IsPostaJob),
						IsProfileView = ISNULL(@IsProfileView, IsProfileView),
						--JPCreditBalance = ISNULL(@JPCreditBalance, JPCreditBalance),
						IsTransparentPricing = ISNULL(@IsTransparentPricing, IsTransparentPricing),
						IsVettedProfile = ISNULL(@IsVettedProfile, IsVettedProfile),
						CreditAmount = ISNULL(@CreditAmount, CreditAmount),
						JobPostCredit = ISNULL(@JobPostCredit, JobPostCredit),
						CreditCurrency = ISNULL(@CreditCurrency, CreditCurrency),
						VettedProfileViewCredit = ISNULL(@VettedProfileViewCredit, VettedProfileViewCredit),
						NonVettedProfileViewCredit = ISNULL(@NonVettedProfileViewCredit, NonVettedProfileViewCredit),
						HiringTypePricingId = ISNULL(@HiringTypePricingId, HiringTypePricingId),
						ModifiedByID = ISNULL(@CreatedByID, ModifiedByID),
						ModifiedByDatetime = GETDATE()
						WHERE ID = @CompanyId
				END

				SELECT 
				--@JPCreditBalance = JPCreditBalance,
				@CreditAmount = CreditAmount,
				@CreditCurrency = CreditCurrency
				FROM gen_Company WITH (NOLOCK) WHERE ID = @CompanyId

				DECLARE @PrimaryContactID BIGINT = 0;
				SELECT TOP 1 @PrimaryContactID = ID FROM gen_Contact WITH (NOLOCK) WHERE CompanyID = @CompanyId AND IsPrimary = 1

				IF ISNULL(@JPCreditBalance,0) > 0
				BEGIN
					--Free credit update
					EXEC sproc_FreeCreditUpdate
						@CompanyID = @CompanyId,
						@FreeCredit = @JPCreditBalance,
						@ContactID = @PrimaryContactID,
						@CreatedByID = @CreatedByID,
						@PerCreditAmount = @CreditAmount,
						@CreditCurrency = @CreditCurrency
				END

				--Insert history
				EXEC SPROC_Gen_Company_History @CompanyID = @CompanyId, @AppActionDoneBy = @AppActionDoneBy

				
 END