CREATE PROCEDURE [dbo].[Sproc_Delete_Engagement_TalentBackout]
 @onboardid			as bigint = 0,
 @LoggedInUserID	as int = 0
AS
BEGIN
       IF exists (select 1 from gen_OnBoardTalents with(nolock) where ID = @onboardid)
	   BEGIN
	     
			 IF exists (select 1 from gen_OnBoardTalents with(nolock) where ID = @onboardid AND ClientOnBoarding_StatusID =1 AND TalentOnBoarding_StatusID =1 AND ClientOnBoardingDate is null AND TalentOnBoardingDate is null  )
			 BEGIN
					delete from gen_Payout_Information  where OnBoardID = @onboardid
					delete from gen_OnBoardTalents_ReplacementDetails  where OnboardID =  @onboardid					

					delete from gen_OnBoardClientContractDetails  where OnBoardID = @onboardid
					delete from gen_OnBoardTalents  where ID = @onboardid
			 END
			 ELSE --Payal (This logic is for after SOW signed Talent backout : Eng will be marked as cancelled
			 BEGIN
				     update  gen_OnBoardTalents SET Status_ID = 4  where ID = @onboardid
					 update  gen_OnBoardClientContractDetails SET ContractCancelledDate = Getdate(), IsContractCancelled=1,LastModifiedDatetime = getdate(), LastModifiedByID = @LoggedInUserID   where ID = @onboardid

					 IF exists (select 1 from gen_Payout_Information with(nolock) where OnBoardID = @onboardid)
					 BEGIN
							delete from gen_Payout_Information where OnBoardID = @onboardid
					 END
			 END

		END


END











