
ALTER PROCEDURE [dbo].[sproc_UTS_GetDealList] 
    @PageIndex				INT = 1,
	@PageSize				INT = 20,
	@SortExpression			nvarchar(100) = 'DealDate',
	@SortDirection			nvarchar(100) = 'ASC',
	@Deal_Id				nvarchar(100) =  NULL,
	@Lead_Type				nvarchar(100) = NULL,
	@Pipeline				nvarchar(100) = NULL,
	@CompanyName			nvarchar(100) = NULL,
	@GEO					nvarchar(100) = NULL,
	@BDR					nvarchar(100) = NULL,
	@Sales_Consultant		nvarchar(100) = NULL,
	@DealStage   			nvarchar(100) = NULL,
	@fromDate				NVARCHAR(100) = NULL,
	@toDate					NVARCHAR(100) = NULL,
	@searchText			    NVARCHAR(500) = ''

AS

BEGIN

		DECLARE @WhereClauseSQL nvarchar(max) = ''
		DECLARE @MainSQL nvarchar(max) = ''
		DECLARE @TmpDBSQL nvarchar(max) = ''

		IF isnull(@Deal_Id,'') <> ''
			SET @WhereClauseSQL += ' AND gd.Deal_Number LIKE ''%' + CONVERT(nvarchar,@Deal_Id) + '%'''
		IF isnull(@CompanyName,'') <> ''
			SET @WhereClauseSQL += ' AND C.Company LIKE ''%' + CONVERT(nvarchar,@CompanyName) + '%'''

		IF isnull(@Lead_Type,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#Lead_TypeTbl') IS NOT NULL
					DROP TABLE #Lead_TypeTbl;

				CREATE TABLE #Lead_TypeTbl(LeadType varchar(20));

				INSERT INTO #Lead_TypeTbl(LeadType)
					SELECT val from f_split(@Lead_Type,',')

			SET @WhereClauseSQL += ' AND C.Lead_Type IN ( select LeadType from #Lead_TypeTbl ) '
		END
		IF isnull(@Pipeline,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#Pipeline_Tbl') IS NOT NULL
					DROP TABLE #Pipeline_Tbl;

				CREATE TABLE #Pipeline_Tbl(PipelineID INT);

				INSERT INTO #Pipeline_Tbl(PipelineID)
					SELECT val from f_split(@Pipeline,',')

			SET @WhereClauseSQL += ' AND DP.ID IN ( select PipelineID from #Pipeline_Tbl ) '
		END
		IF isnull(@GEO,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#GEO_Tbl') IS NOT NULL
					DROP TABLE #GEO_Tbl;

				CREATE TABLE #GEO_Tbl(GeoID INT);

				INSERT INTO #GEO_Tbl(GeoID)
					SELECT val from f_split(@GEO,',')

			SET @WhereClauseSQL += ' AND G.ID IN ( select GeoID from #GEO_Tbl ) '
		END
		IF isnull(@BDR,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#BDR_Tbl') IS NOT NULL
					DROP TABLE #BDR_Tbl;

				CREATE TABLE #BDR_Tbl(ID INT);

				INSERT INTO #BDR_Tbl(ID)
					SELECT val from f_split(@GEO,',')

			SET @WhereClauseSQL += ' AND U_BDR.ID IN ( select ID from #BDR_Tbl ) '
		END
		IF isnull(@Sales_Consultant,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#Sales_Consultant_Tbl') IS NOT NULL
					DROP TABLE #Sales_Consultant_Tbl;

				CREATE TABLE #Sales_Consultant_Tbl(ID INT);

				INSERT INTO #Sales_Consultant_Tbl(ID)
					SELECT val from f_split(@Sales_Consultant,',')

			SET @WhereClauseSQL += ' AND U1.ID IN ( select ID from #Sales_Consultant_Tbl ) '
		END
		IF isnull(@DealStage,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#DealStage_Tbl') IS NOT NULL
					DROP TABLE #DealStage_Tbl;

				CREATE TABLE #DealStage_Tbl(StageID INT);

				INSERT INTO #DealStage_Tbl(StageID)
					SELECT val from f_split(@DealStage,',')

			SET @WhereClauseSQL += ' AND DS.ID IN ( select StageID from #DealStage_Tbl ) '
		END

		IF isnull(@searchText,'') <> ''
			SET @WhereClauseSQL += ' AND (C.Company LIKE ''%' + CONVERT(nvarchar,@searchText) + '%''' 
								+ ' OR gd.DealID LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
								+ ' OR DS.Stage LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
								+ ' OR gd.DealName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'')'

		IF ISNULL(@fromDate,'') <> '' and ISNULL(@toDate,'') <> '' 
			BEGIN
				if @fromDate = @toDate
					begin 
						SET @WhereClauseSQL += ' AND cast(gd.CreatedByDatetime as date) = '+ '''' + @fromDate +'''';
					end
				else
					begin
						SET @WhereClauseSQL += ' AND cast(gd.CreatedByDatetime as date) >= '+ '''' + @fromDate +'''' +' AND cast(gd.CreatedByDatetime as date) <= '+ ''''+ @toDate +'''';
					end
			END

		SET @MainSQL= ';WITH CTE_Records AS (
					select distinct	gd.CreatedByDatetime as DealDate,						  
					gd.Deal_Number as Deal_Id,
					ISNULL(gd.DealName,'''') as DealName,
					ISNULL(gd.amount,0) as Amount,
						Isnull(C.Lead_Type,'''') as Lead_Type,
						ISNULL(DP.PipelineLabel,'''') as Pipeline,
						ISNULL(C.Company,'''') as Company,
						ISNULL(G.GEO,'''') as GEO,
						Isnull(U_BDR.fullname,'''') as BDR,
						Isnull(U1.Fullname,'''') as Sales_Consultant,
						ISNULL(DS.Stage,'''') AS DealStage,
						ISNULL(DS.ColorCode,'''') as DealStageColorCode,
						ISNULL(HR_ID,'''') as HR_ID,1 as TotalCountID,
						Isnull(gd.DealID,0) DealID
						from   gen_Deals GD  With(Nolock)
						left join gen_HubSpotContact HCO with(Nolock) ON HCO.ContactID = GD.clientID 
						left join gen_HubSpotCompany HC WITH(NOLOCK) ON HC.Companyid = HCO.CompanyID
						left join gen_Company C WITH(NOLOCK) ON C.Hubspot_company = HC.Companyid		
						left join gen_Contact CO WITH(NOLOCK) ON CO.Companyid = C.ID and GD.clientID = CO.HubSpot_ContactID
						Left join prg_GEO G with(Nolock) ON G.ID = C.Geo_ID							
						left join prg_DealStages DS WITH(NOLOCK) ON DS.HubSpot_Stage = gd.DealStage
						left join prg_Pipeline DP WITH(NOLOCK) ON DP.PipelineId = gd.pipeline
						left join usr_User U  With(NOlock) on U.hubspot_owner_id = gd.hubspot_owner_id
						left join gen_SalesHiringRequest H With(NOlock) ON H.ID = Gd.Hr_ID
						left join usr_User U1 with(Nolock) ON U1.Id = H.SalesUserID
						left join gen_CompanyLeadType_UserDetails CLU WITH(NOLOCK) ON CLU.CompanyID = C.ID
						left join usr_User U_BDR WITH(NOLOCK) ON U_BDR.EmployeeID = GD.BDR_MDR_Email
						WHERE 1=1 ' + @WhereClauseSQL + '
				),
				Cte_TotalCount AS(Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records
				)
				select (CONVERT(varchar, ISNULL(DealDate, ''''), 103) + '' ''  + convert(VARCHAR(8), DealDate, 14)) DealDate,
				Deal_Id,Lead_Type,Pipeline,Company,GEO,BDR,Sales_Consultant,DealStage,DealStageColorCode,HR_ID,T.TotalRecords,
				DealName,Amount,DealID
				from	CTE_Records U
						INNER JOIN Cte_TotalCount T on T.TotalCountID =U.TotalCountID'

		If @SortExpression = 'DealDate'
				BEGIN
					--SET @SortExpression = 'ISNULL(CompanyId,ContactId)'
					--set @SortDirection = 'asc'
					SET @MainSQL += ' ORDER BY cast(' + @SortExpression + ' as datetime) ' + @SortDirection
									
				END
		ELSe 
			SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

		IF(@PageSize>0)
			BEGIN
				SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
								FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY 
							';
			END

		--PRINT(@MainSQL)
		EXECUTE sp_executesql @MainSQL
				
		--Drop temp tables
		IF OBJECT_ID('tempdb..#Lead_TypeTbl') IS NOT NULL
		DROP TABLE #Lead_TypeTbl;	
		IF OBJECT_ID('tempdb..#Pipeline_Tbl') IS NOT NULL
		DROP TABLE #Pipeline_Tbl;
		IF OBJECT_ID('tempdb..#GEO_Tbl') IS NOT NULL
		DROP TABLE #GEO_Tbl;
		IF OBJECT_ID('tempdb..#BDR_Tbl') IS NOT NULL
		DROP TABLE #BDR_Tbl;
		IF OBJECT_ID('tempdb..#Sales_Consultant_Tbl') IS NOT NULL
		DROP TABLE #Sales_Consultant_Tbl;
		IF OBJECT_ID('tempdb..#DealStage_Tbl') IS NOT NULL
		DROP TABLE #DealStage_Tbl;
END