USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[sproc_Get_ShortlistedTalent_Details]    Script Date: 08-04-2024 19:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_Get_ShortlistedTalent_Details]   
 @Role_ID				int = 0,  
 @Hiring_Request_Id     bigint = null,  
 @Contact_Id            bigint = null,  
 @MyList			    bit = 0,  
 @SearchText		    Nvarchar(max) = null,  
 @AnotherCompanyTypeId  int = 0  
AS  
BEGIN  
  
 --(rinku) 25-04-2023  
  Declare @CompanyID as bigint = 0  
  DECLARE @WhereClauseSQL NVARCHAR(MAX) = ' 1 = 1  ';  
  --DECLARE @WhereClauseSkills NVARCHAR(MAX) = ' AND 1= 1 ';  
  DECLARE @MainSQL as NVARCHAR(MAX) = ''  
  Declare @Frontend_HRType as nvarchar(50) = ''  
  DECLARE @RoleID INT = 1   
  
  Select @CompanyID = CompanyID   
  from gen_Contact with(nolock)   
  where ID = @Contact_ID  
          
  IF OBJECT_ID('tempdb..#HRTypeID') IS Not Null  
   DROP TABLE #HRTypeID  
  
  CREATE TABLE #HRTypeID  
  (  
   HRID  bigint,  
   HRTypeID int  
  )  
  
  IF Isnull(@AnotherCompanyTypeId,0) = 1   
   BEGIN  
     INSERT INTO #HRTypeID  
     SELECT  SH.ID,ISNULL(HRTypeID,0)  
     FROM    gen_SalesHiringRequest SH WITH(NOLOCK)  
     inner join gen_Contact C WITH(NOLOCK) ON  SH.ContactID = C.ID  
     WHERE C.CompanyID = @CompanyID 
     AND Isnull(HRTypeId,0) = 1  
   END  
  ELSE IF Isnull(@AnotherCompanyTypeId,0) = 2  
   BEGIN  
     INSERT INTO #HRTypeID  
     SELECT  SH.ID,ISNULL(HRTypeID,0)  
     FROM    gen_SalesHiringRequest SH WITH(NOLOCK)  
     inner join gen_Contact C WITH(NOLOCK) ON  SH.ContactID = C.ID  
     WHERE C.CompanyID = @CompanyID 
     AND Isnull(HRTypeId,0) in (3,4,6)  
   END  
  ELSE  
   BEGIN  
     INSERT INTO #HRTypeID  
     SELECT  SH.ID,ISNULL(HRTypeID,0)  
     FROM    gen_SalesHiringRequest SH WITH(NOLOCK)  
     inner join gen_Contact C WITH(NOLOCK) ON  SH.ContactID = C.ID  
     WHERE C.CompanyID = @CompanyID 
   END  
  
      --select * from #HRTypeID  
    SET @Frontend_HRType = 'Credit Based Job'  
  
    --If user role is for myjobs then only show the jobs posted by them.    
  SELECT TOP 1 @RoleID = RoleID   
  FROM LoggedInUserRole_ClientPortal(@Contact_Id)  
  
  
 --- payal - 02-05-2023 (new table gen_PostAcceptanceDetails)   
      SELECT  [HiringRequest_ID],Talent_ID,isnull([Str_TimeZone],'') AS [Str_TimeZone],isnull([Accepted_Howsoon],'') AS [Accepted_Howsoon],isnull([Accepted_Availability],'') [Accepted_Availability]       
   into #Temp_PostAcceptanceDetails  
   FROM gen_PostAcceptanceDetails PA WITH(nolock)   
     inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON PA.HiringRequest_ID = HR.ID  
     inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = HR.ContactID  
     Inner join #HRTypeID HT ON HT.HRID = HR.ID  
   where  GC.CompanyID = @CompanyID   
   group by [HiringRequest_ID],Talent_ID,isnull([Str_TimeZone],'') ,isnull([Accepted_Howsoon],''),isnull([Accepted_Availability],'')  
  
  
   SELECT IMasterID =max(IntM.ID) ,IntM.HiringRequest_ID ,IntM.Talent_ID,max(Intm.InterviewRound_Count)  InterviewRound_Count  
   INTO #TempInterviewDetails  
   FROM gen_InterviewSlotsMaster IntM WITH(NOLOCK)    
     INNER JOIN #Temp_PostAcceptanceDetails TmpPostAcc ON IntM.HiringRequest_ID = TmpPostAcc.HiringRequest_ID  
   GROUP BY  IntM.HiringRequest_ID ,IntM.Talent_ID  
  
   IF OBJECT_ID('tempdb..#FinalShortlistedTalents') IS not Null  
    DROP TABLE #FinalShortlistedTalents  
  
   CREATE TABLE #FinalShortlistedTalents  
   (  
    shortdate    Datetime,  
    ID         bigint,  
    TalentID    bigint,  
    TalentPriority   Nvarchar(50),  
    TalentName    Nvarchar(200),  
    TalentEmail    Nvarchar(200),  
    TalentRole    Nvarchar(200),  
    Score     Nvarchar(50),  
    PrimarySkills   Nvarchar(Max),  
    Fees     Nvarchar(100),  
    Description    Nvarchar(MAx),  
    Skill_Proficiency  Nvarchar(MAX),  
    Experience    Nvarchar(50),  
    Joining     Nvarchar(50),  
    TimeZOne    Nvarchar(200),  
    VersaneURL    Nvarchar(5),  
    VersantFile_Score  Nvarchar(5),  
    VersantCandidateCapabilities Nvarchar(5),  
    TechnicalInterpretation  Nvarchar(5),  
    InterviewDescription     Nvarchar(5),  
    Hr_Number    Nvarchar(50),  
    IsInterviewSlotbooked   int,  
    HiringRequest_Detail_ID bigint,  
    PhotoImage    Nvarchar(500),  
    ScheduledOn    Nvarchar(500),  
    CreatedByDatetime  datetime,  
    HR_Status    Nvarchar(500),  
    AnotherRoundID   bigint,  
    Shortlisted_InterviewID bigint,  
    NextRoundID    bigint,  
    CTAname     Nvarchar(500),  
    CurrentCTC    Nvarchar(500),  
    ExpectedCTC    Nvarchar(500),  
    DPAmount    Nvarchar(500),  
    TypeOfHR    Nvarchar(500),  
    ATSTalentLiveURL  Nvarchar(MAx),  
    ATSNonNDAURL   Nvarchar(MAx),  
    PostedById    bigint,  
    Currency    Nvarchar(50),  
    AssesmentTool   Nvarchar(Max),  
    ClientAssesmentReport Nvarchar(Max),  
    AssesmentScore   Nvarchar(50),  
    TalentResumeLink        Nvarchar(Max),  
    ContactNumber   Nvarchar(50),  
    Ctp_ID     bigint,  
    InterviewStatus   Nvarchar(50),  
    InterviewStatusID  int,  
    InterviewProcessMessage Nvarchar(Max),  
    Shortlisted_InterviewID_ForFeedback  bigint,  
    MasterId    bigint,  
    PercentValue   Nvarchar(50),  
    PercentValueLabel  Nvarchar(50),  
    IsTransparentPricing bit,  
    OrderSequence   int,  
    IsNew     bit,  
    IsBookMarked   bit,  
    HRTypeId                int,  
    CompanyTypeId   int,  
    CreditBalanceInfo  Nvarchar(500),
	FeedbackID BIGINT,
	HRTalentGUID  nVARCHAR(50)
    --IsJobPost    bit default 0,  
    --IsProfileView   bit default 0,  
    --AIVetted    bit default 0,  
    --NonAIVetted    bit default 0  
   )  
  
   IF OBJECT_ID('tempdb..#ShortlistedTalents_ClientPortal') IS not Null  
     DROP TABLE #ShortlistedTalents_ClientPortal  
  
   CREATE TABLE #ShortlistedTalents_ClientPortal  
   (  
    ID   bigint primary key Identity(1,1),  
    HRID  bigint,  
    ContactID bigint,  
    CTPID  bigint  
   )  
  
   IF @MyList = 1  
    BEGIN  
     IF  @Hiring_Request_Id > 0  
      BEGIN  
        Insert   
        INTO    #ShortlistedTalents_ClientPortal  
        SELECT  HRID,ContactID,CTPID  
        From    gen_ShortlistedTalents_ClientPortal WITH(NOLOCK)  
        WHERE   HRID = @Hiring_Request_Id And ISNULL(IsBookMarked,0) = 1  
      END  
     ELSE   
      BEGIN  
        Insert   
        INTO    #ShortlistedTalents_ClientPortal  
        SELECT  HRID,ContactID,CTPID  
        From    gen_ShortlistedTalents_ClientPortal SHT WITH(NOLOCK)  
        inner join gen_Contact C WITH(NOLOCK) ON  SHT.ContactId = C.ID  
        WHERE   C.CompanyID = @CompanyID And ISNULL(IsBookMarked,0) = 1  
      END  
    END     
   ELSE   
    BEGIN  
      print 'else'  
      Insert   
      INTO    #ShortlistedTalents_ClientPortal  
      SELECT  HiringRequestID,ContactID,CTP.ID  
      From    gen_ContactTalentPriority CTP WITH(NOLOCK)  
      inner join gen_Contact C WITH(NOLOCK) ON  CTP.ContactID = C.ID  
      WHERE   C.CompanyID = @CompanyID  
    END  
     
  
     
   IF isnull(@searchText,'') <> ''  
    BEGIN  
     SET @WhereClauseSQL += ' AND (TalentName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''   
          + ' OR TalentEmail LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''  
          + ' OR TalentRole LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''  
          + ' OR ContactNumber LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''  
          + ' OR HR_Status LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''  
          + ' OR PrimarySkills LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'')'  
        
    END  
   
  
 --IF (@Contact_Id > 0 and @Hiring_Request_Id = 0)   
 -- BEGIN  
    print 'if'  
  
    
   -------------------------------------------------------------------------------  
      
    --Payal(19-05-2021) : Create Temp Table for Nextround details  

		Select  Shortlisted_InterviewID=max(isnull(FB.Shortlisted_InterviewID,0)),   
		  FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID  
			,NextRoundID = case when isnull(FeedBack_Type,'') = 'AnotherRound' AND  isnull(FB.IsNextroundDetailsSubmitted,0) =  1 then max(Isnull(FB.ID,0))  else max(Isnull(NR.ID,0)) end  
			,TalentSelected_Interview_ID = case when isnull(FeedBack_Type,'') = 'AnotherRound' AND  isnull(FB.IsNextroundDetailsSubmitted,0) =  1 then max(Isnull(FB.ID,0))  else max(isnull(TalentSelected_Interview_ID,0 )) end  
			,InterviewRound = max(isnull(InterviewRound,0))  
			,isnull(FeedBack_Type,'') FeedBack_Type,ISNULL(Talent_ID,0) AS Talent_ID  
		 into #TempNextRoundDetails   
		 From   gen_ContactInterviewFeedback FB WITH(NOLOCK)   
		  inner join gen_contact GCon WITH(NOLOCK) ON  GCon.ID = FB.ContactID  
		  LEFT JOIN gen_TalentSelected_NextRound_InterviewDetails NR with(NOLOCK) ON NR.ContactID = FB.ContactID AND NR.HiringRequest_ID = FB.HiringRequest_ID AND NR.HiringRequest_Detail_ID = FB.HiringRequest_Detail_ID AND FB.Shortlisted_InterviewID = NR.Shortlisted_InterviewID   
		 WHERE  GCon.CompanyID = @CompanyID  
		  AND isnull(FeedBack_Type,'') = 'AnotherRound' AND isnull(FB.IsNextroundDetailsSubmitted,0) =0  
		  AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024)      
		 group by  FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID, isnull(FeedBack_Type,''),isnull(FB.IsNextroundDetailsSubmitted,0),ISNULL(Talent_ID,0)   
	
	
      
    --- GET HR TIME Zone with talent in CTE    
    ;WITH CTE_TimeZone AS (  
    SELECT distinct HR.ContactID, HRD.HiringRequest_ID, HRD.Timezone_ID,CTP.TalentID ,1 AS isHR  
    FROM gen_SalesHiringRequest_Details HRD WITH(NOLOCK)   
      inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.ID  
      inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID AND  CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID   
      inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = CTP.ContactID  
      Inner join #HRTypeID HT ON HT.HRID = HR.ID  
    where   GC.CompanyID = @CompanyID    
      AND CTP.TalentStatusID_BasedOnHR in(2,3) AND HRD.RoleStatus_ID  in(2,4,5)   
	  AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024) 
	  AND HR.ID = @Hiring_Request_Id  
    ) , CTE_NextRound AS(  
          Select FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID,NR.Talent_ID, max(NR.InterviewRound) InterviewRound  
            ,StrInterviewRound = ' ( Round '+ cast(max(NR.InterviewRound) as varchar(10)) +' )'                  
            ,max(NR.ID) AS AnotherRoundID   
            ,RoundWiseSlotCheck = (  
                  select top 1 isnull(NextRound_ID,0)   
                  from gen_ShortlistedTalent_InterviewDetails MainSlot WITH(Nolock)   
                    inner join gen_InterviewSlotsMaster M with(nolock) On MainSlot.HiringRequest_Detail_ID =M.HiringRequest_Detail_ID AND MainSlot.Talent_ID =M.Talent_ID AND MainSlot.InterviewMaster_ID = M.ID  
                    inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = MainSlot.ContactID  
                  where MainSlot.HiringRequest_Detail_ID =FB.HiringRequest_Detail_ID AND  
                    GC.CompanyID =@CompanyID AND isnull(NextRound_ID,0) =max(NR.ID)    
                    AND M.InterviewStatus_ID <> 3  
					AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024)      
                  )   
          From gen_ContactInterviewFeedback FB WITH(NOLOCK)   
            inner join gen_TalentSelected_NextRound_InterviewDetails NR WITH(NOLOCK) ON FB.ContactID = NR.ContactID AND FB.HiringRequest_ID = NR.HiringRequest_ID AND  FB.HiringRequest_Detail_ID = NR.HiringRequest_Detail_ID  
            inner join CTE_TimeZone CT ON  FB.ContactID = CT.ContactID AND FB.HiringRequest_ID = CT.HiringRequest_ID  
            inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = FB.ContactID  
          WHERE GC.CompanyID =@CompanyID   
            AND FB.FeedBack_Type ='AnotherRound'  
			AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024)            
          group by FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID,NR.Talent_ID            
         )   

		 --Riya
     ------------------------------------------  
     --For TalentPriority = 'Priority 1'   
      Select shortdate = case when ScheduledOn is null then CreatedByDatetime else ScheduledOn end,*        
     into #FinalTable1  
     from (  
     select HR.ID, ctp.TalentID, TalentPriority, T.Name As TalentName, T.EmailID AS TalentEmail,TalentRole,  
       Score = '',  
       PrimarySkills = isnull((STUFF((  
           select distinct ', ' +  isnull(ss1.Skill,'')  
           from prg_Skills SS1  WITH(NOLOCK)    
             inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID  
             and TPD.PrimarySkill_ID = SS1.ID  
             inner join gen_SalesHiringRequest_SkillDetails PS WITH(NOLOCK) ON TPD.PrimarySkill_ID = PS.Skill_ID                
           WHERE isnull(SS1.IsActive,0) =1 AND  ISNULL(TPD.PrimarySkill_ID,0) <> 0 AND PS.HiringRequest_ID = HR.ID   
           For XML Path('')),1,1,''  
          )),'')          
          + ', ' + isnull((STUFF((                  
           select distinct ', ' +  isnull(TempSkill,'')  
           from prg_TempSkills TS1  WITH(NOLOCK)  
             inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID  
             AND TPD.TempSkill_ID = cast(TS1.TempSkill_ID as nvarchar(10))  
             inner join gen_SalesHiringRequest_SkillDetails P WITH(NOLOCK) ON TPD.TempSkill_ID = P.TempSkill_ID   
           WHERE   isnull(TS1.Status_ID,0) <> 2 AND  ISNULL(TPD.TempSkill_ID,'') <> '' AND P.HiringRequest_ID = HR.ID   
           For XML Path('')),1,1,''  
          )),'') + ', ' + isnull((STUFF((  
           select distinct ', ' +  isnull(ss1.Skill,'')  
           from prg_Skills SS1  WITH(NOLOCK)    
             inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID  
             and TPD.PrimarySkill_ID = SS1.ID                          
           WHERE isnull(SS1.IsActive,0) =1 AND  ISNULL(TPD.PrimarySkill_ID,0) <> 0   
           AND TPD.PrimarySkill_ID NOT IN (SELECT p.ID FROM gen_SalesHiringRequest_SkillDetails S  
                   INNER JOIN prg_Skills p ON S.Skill_ID = p.ID WHERE HiringRequest_ID = HR.ID )  
           For XML Path('')),1,1,''  
          )),'')          
          + ', ' + isnull((STUFF((                  
           select distinct ', ' +  isnull(TempSkill,'')  
           from prg_TempSkills TS1  WITH(NOLOCK)  
             inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID  
             AND TPD.TempSkill_ID = cast(TS1.TempSkill_ID as nvarchar(10))               
           WHERE   isnull(TS1.Status_ID,0) <> 2 AND  ISNULL(TPD.TempSkill_ID,'') <> ''   
           AND TS1.TempSkill_ID NOT IN (SELECT S.TempSkill_ID FROM gen_SalesHiringRequest_SkillDetails S  
                  INNER JOIN prg_TempSkills p ON p.TempSkill_ID = s.TempSkill_ID WHERE HiringRequest_ID = HR.ID )  
           For XML Path('')),1,1,''  
          )),''),   
       Isnull(CTP.HR_Cost,'') Fees,Isnull(T.Description,'') Description,  
       Skill_Proficiency = '',
	      
       Experience= case when FLOOR(isnull(T.TotalExpYears,0)) <> CEILING(isnull(T.TotalExpYears,0)) then cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5))  + '+ Years' else replace( replace( cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as
 nvarchar(5)),'.0',''),'.00','') + ' Years' end  
       ,Joining =  Isnull(Tj.Joinning,'NA') --case when  [Accepted_Howsoon] <> '' then  [Accepted_Howsoon] else          
       ,TimeZOne = case when isnull([Str_TimeZone],'') <> '' then [Str_TimeZone] Else   ''  END  
       ,VersaneURL = ''  
       ,VersantFile_Score = ''  
       ,VersantCandidateCapabilities = ''  
       ,TechnicalInterpretation = ''  
       ,InterviewDescription =  ''  
       ,Hr_Number = Isnull(HR_Number,'')  
       ,IsInterviewSlotbooked = case when isnull(AnotherRoundID,0) > 0 AND isnull(RoundWiseSlotCheck,0) > 0 then 1   
                when isnull(AnotherRoundID,0) > 0 AND isnull(RoundWiseSlotCheck,0) = 0 then 0  
                else isnull((Select top 1 1 from gen_ShortlistedTalent_InterviewDetails ShID with(nolock)   
                inner join gen_InterviewSlotsMaster M WITH(NOLOCK) ON ShID.HiringRequest_Detail_ID = M.HiringRequest_Detail_ID AND ShID.Talent_ID =M.Talent_ID  
                where ShID.HiringRequest_Detail_ID = HRD.ID AND ShID.Talent_ID =CTP.TalentID AND M.InterviewStatus_ID not in(3,7) AND 1 =  @AnotherCompanyTypeId  order By ShID.ID desc ),0) end  
       ,HRD.ID AS HiringRequest_Detail_ID,  
       PhotoImage = Isnull(T.ProfileURL,'')   
       ,ScheduledOn = ''
       ,CreatedByDatetime = isnull(HR.LastModifiedDatetime, HR.CreatedByDatetime)  
       ,HR_Status = CASE WHEN ISnull(CTP.TalentStatusID_BasedOnHR,0) > 0 and ISnull(CTP.TalentStatusID_ClientPortal,0) > 0 then   
           (Select Isnull(TSC.TalentStatus,'') from prg_TalentStatus_ClientPortal TSC   
           WITH(NOLOCK) WHERE TSC.ID = CTP.TalentStatusID_ClientPortal) --Isnull(TSC.TalentStatus,'')  
              ELSE Isnull(TAC.TalentStatus,'') ENd  
         
      
       ,AnotherRoundID = isnull(AnotherRoundID,0)  
       ,Shortlisted_InterviewID = isnull(Shortlisted_InterviewID,0)  
       ,NextRoundID = isnull(NextRoundID,0)  
       ,CTAname = case when TNextRound.FeedBack_Type = 'AnotherRound' then   
          case when isNull(TNextRound.InterviewRound,0) > 0 Then 'Round '+ cast(isNull(TNextRound.InterviewRound,0)+1 AS nvarchar(50)) +' Details Pending'  when isNull(TNextRound.InterviewRound,0) = 0 Then 'Round 2 Details Pending' else '' END  
        ELSE '' END,  
       CurrentCTC = ISNULL(CCE.CurrencySign,'') + ' ' +  CONVERT(varchar, CAST(ISNULL(CTP.Current_CTC, 0) AS MONEY), 1) + ' / Month',  
       ExpectedCTC = ISNULL(CCE.CurrencySign,'') + ' ' + CONVERT(varchar, CAST(ISnull(CTP.TalentCost,0) AS MONEY), 1) + ' / Month',  
       DPAmount =case when isnull(hr.HRTypeId,0)= 4 then '' else ISNULL(CCE.CurrencySign,'') + ' ' + CONVERT(varchar, CAST(ISNULL(CTP.DPAmount,0) AS MONEY), 1) end,  
         
       TypeOfHR = case when isnull(hr.HRTypeId,0)= 4 then @Frontend_HRType else Case when Hr.IsHRTypeDP = 1 then 'Direct Placement' else 'Contractual' end end,  
         
       Isnull(isnull(CTP.ATS_Talent_LiveURL,T.ATS_Talent_LiveURL),'') ATSTalentLiveURL,  
       Isnull(isnull(CTP.ATS_Non_NDAURL,T.ATS_Non_NDAURL),'') ATSNonNDAURL,  
       PostedById = Isnull(GC.ID,0),  
       Currency = ISNULL(CTP.Talent_CurrencyCode, ISNULL(HRD.Currency,'')),  
       AssesmentTool = Isnull(SHT.assessment_tool,''),  
       ClientAssesmentReport = Isnull(SHT.client_assesment_report,''),  
       AssesmentScore = Isnull(SHT.score,'0') + ' / 100',  
       TalentResumeLink = Isnull(SHT.talent_resume_link, ISNULL(T.CVFilename,'')),  
       ContactNumber = '+91 '+ Isnull(T.ContactNumber,''),  
       Ctp_ID = CTP.ID  
       ,InterviewStatus = Isnull(INS.InterviewStatus,'')  
       ,InterviewStatusID = IIF(Isnull(TAC.Id,0) IN (1, 5,6, 7), 10, Isnull(INS.Id,0))  
       ,InterviewProcessMessage = IIF(Isnull(TAC.Id,0) NOT IN (5,6, 7) AND ISNULL(HR.HRTypeId,0) = 1,  
               CASE WHEN Isnull(INS.Id,0) = 1 THEN 'Awaiting Talent''s Selection of Interview Time Slot'   
               WHEN (Isnull(INS.Id,0) = 4 OR Isnull(INS.Id,0) = 5) THEN 'Awaiting for the interview to complete'   
               WHEN ISNULL(TAC.ID, 0) = 1 THEN 'Awaiting for the Talent''s Acceptance'  
                ELSE '' END,   
                ''),  
       Shortlisted_InterviewID_ForFeedback = ISNULL((  
                 SELECT TOP 1 Shortlisted_InterviewID FROM gen_TalentSelected_InterviewDetails   
                 WHERE HiringRequest_ID = HR.ID AND Talent_ID = T.ID AND IsConfirmed = 1 Order by ID Desc  
                ),0),  
       ISNULL(Tmp.IMasterID,0) As MasterId,  
       PercentValue = CASE   
           -- Pay per hire with DP  
           WHEN ISNULL(HR.HR_TypeId,0) = 1 AND ISNULL(HR.HRTypeId,0) = 1 THEN CAST(FLOOR(HR.DPPercentage) AS NVARCHAR) + '% on annual salary'   
           -- Pay per hire with Contractual with Transparent  
           WHEN ISNULL(HR.HR_TypeId,0) = 2 AND ISNULL(HR.HRTypeId,0) = 1 AND ISNULL(HR.IsTransparentPricing,0) = 1   
              THEN CAST(FLOOR(HR.TalentCostCalcPercentage) AS NVARCHAR) + '% per month'     
           ELSE ''  
           END,  
         
       PercentValueLabel =  CASE   
            -- Pay per hire with DP  
            WHEN ISNULL(HR.HR_TypeId,0) = 1 AND ISNULL(HR.HRTypeId,0) = 1 THEN 'Direct Placement Fees'   
            -- Pay per hire with Contractual with Transparent  
            WHEN ISNULL(HR.HR_TypeId,0) = 2 AND ISNULL(HR.HRTypeId,0) = 1 AND ISNULL(HR.IsTransparentPricing,0) = 1   
               THEN 'Uplers Fees'   
            ELSE ''  
            END,  
       IsTransparentPricing =ISNULL(HR.IsTransparentPricing,0),  
       TAC.OrderSequence,  
       IsNew = CASE WHEN ISNULL(CTP.IsViewed,0) = 1 then 0 else 1 end,  
       IsBookMarked = Isnull(STC1.IsBookMarked,0),  
       HRTypeId = ISNULL(HR.HRTypeId,0),  
       CompanyTypeId = ISNULL(PRT.CompanyTypeId,0),  
       CreditBalanceInfo = '' ,
	   FeedbackID = (
						SELECT TOP 1 CI.ID FROM gen_ContactInterviewFeedback CI WITH(NOLOCK) 
						INNER JOIN gen_TalentSelected_InterviewDetails TS WITH(NOLOCK) ON CI.HiringRequest_ID = TS.HiringRequest_ID 
						AND CI.Shortlisted_InterviewID = TS.Shortlisted_InterviewID AND TS.Talent_ID = T.ID
						WHERE CI.HiringRequest_ID = @Hiring_Request_Id AND TS.Talent_ID = T.ID
					),
		HRTalentGUID = ISNULL(HRTalentGUID,'')
       --IsJobPost = Isnull(Co.IsPostaJob,0),  
       --IsProfileView = ISNULL(Co.IsProfileView,0),   
       --AIVetted = Case WHEN Isnull(SHT.score,0) = 0 then 0 else 1 end,  
       --NonAIVetted = Case WHEN Isnull(SHT.score,0) = 0 then 1 else 0 end   
     from gen_SalesHiringRequest HR with(nolock)   
       inner join gen_SalesHiringRequest_Details HRD with(nolock) on HR.ID = HRD.HiringRequest_ID  
       inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID   AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID         
       inner join gen_Talent T with(nolock) ON T.ID = CTP.TalentID  
       inner join prg_TalentRoles R  with(nolock) ON HRD.Role_ID = R.ID --AND T.RoleID = R.ID   
       INNER JOIN prg_HiringRequestStatus HRStatus WITH(NOLOCK) ON HRStatus.ID = HR.Status_ID   
       inner join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON TAC.ID = CTP.TalentStatusID_BasedOnHR  
       inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = CTP.ContactID             
       Inner join #ShortlistedTalents_ClientPortal STC ON STC.CTPID = CTP.ID and STC.HRID = CTP.HiringRequestID and STC.ContactID = CTP.ContactID    
       Inner join #HRTypeID HT ON HT.HRID = HR.ID  
       --Inner join gen_Company CO WITH(NOLOCK) ON Co.ID = GC.CompanyID  
       --Inner join  prg_TalentStatus_ClientPortal TSC WITH(NOLOCK)  ON TSC.TalentStatusID_BasedOnHR = TAC.ID  
       left join gen_ShortlistedTalents_ClientPortal STC1 WITH(NOLOCK) ON STC1.CTPID = CTP.ID   
       left join prg_TalentJoinning TJ WITH(NOLOCK) ON TJ.ID = T.Joining_ID  
       LEFT JOIN CTE_NextRound CTE ON CTE.Talent_ID = CTP.TalentID AND HR.ID = CTE.HiringRequest_ID AND  CTE.ContactID = HR.ContactID AND CTE.HiringRequest_Detail_ID = HRD.ID    
       LEFT JOIN #TempNextRoundDetails  TNextRound ON TNextRound.HiringRequest_ID  = HR.ID AND  TNextRound.ContactID = HR.ContactID AND TNextRound.HiringRequest_Detail_ID = HRD.ID AND TNextRound.Talent_ID = T.ID  
       left join #Temp_PostAcceptanceDetails PA ON HR.ID = PA.[HiringRequest_ID] AND  PA.Talent_ID = CTP.TalentID  
       left join gen_SalesHiringRequest_TalentPacketDetails SHT WITH(NOLOCK) ON SHT.HiringRequestID = HR.ID and CTP.TalentID = SHT.TalentID --and SHT.ContactID = HR.ContactID  
       left Join prg_CurrencyExchangeRate CCE WITH(NOLOCK) ON CCE.CurrencyCode = CTP.Talent_CurrencyCode   
       LEft JOIN #TempInterviewDetails Tmp ON Tmp.HiringRequest_ID = HR.ID AND Tmp.Talent_ID = T.ID  
       LEft join gen_InterviewSlotsMaster IntM WITH(NOLOCK) ON IntM.ID = Tmp.IMasterID and Tmp.InterviewRound_Count = IntM.InterviewRound_Count  
       LEft join prg_InterviewStatus INS WITH(NOLOCK) ON INS.ID = IntM.InterviewStatus_ID   
       LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = HR.HrTypeId  
     where GC.CompanyID =@CompanyID --HR.ContactID = @Contact_Id   
             AND TalentPriority = 'Priority 1'   
       --AND HR.Status_ID IN (1,2)   
       AND HR.ContactID =  
       IIF(ISNULL(@RoleID,0) = 3, @Contact_Id, HR.ContactID ) 
	   AND HR.ID = @Hiring_Request_Id 

         
       --AND T.TalentStatusID_AfterClientSelection not in(5,7)  
       --AND CTP.TalentStatusID_BasedOnHR in(2,3)  
       --Commented by Riya for UTS-5954  
       --AND HRD.RoleStatus_ID  in(2,4,5) ----AND HRD.RoleStatus_ID not in(6,7) --and T.TalentStatusID_AfterClientSelection = 2  
         
     
    ) as FinalObj   
   order by FinalObj.OrderSequence asc , IsInterviewSlotbooked asc, 1 desc  
  
     
   Insert into #FinalShortlistedTalents  
   select * from   #FinalTable1  
  
    --drop table #Temp_TalentAssesment  
    drop table #TempNextRoundDetails  
    
    drop table #FinalTable1  
  --END  
 --ELSE   
 -- BEGIN  
 --   print 'else'  
  
   
 --  -----------------------------------------------------------------------------  
 --   --Payal(19-05-2021) : Create Temp Table for Nextround details  
 --   Select  Shortlisted_InterviewID = max(isnull(FB.Shortlisted_InterviewID,0)), FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID  
 --     ,NextRoundID = case when isnull(FeedBack_Type,'') = 'AnotherRound' AND  isnull(FB.IsNextroundDetailsSubmitted,0) =  1 then max(Isnull(FB.ID,0))  else max(Isnull(NR.ID,0)) end  
 --     ,TalentSelected_Interview_ID = case when isnull(FeedBack_Type,'') = 'AnotherRound' AND  isnull(FB.IsNextroundDetailsSubmitted,0) =  1 then max(Isnull(FB.ID,0))  else max(isnull(TalentSelected_Interview_ID,0 )) end  
 --     ,InterviewRound =max( isnull(InterviewRound,0))  
 --     ,isnull(FeedBack_Type,'') FeedBack_Type  
 --     , ISNULL(NR.Talent_ID, 0) AS Talent_ID  
 --    into #Temp_Else_NextRoundDetails   
 --    From gen_ContactInterviewFeedback FB WITH(NOLOCK)   
 --     inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = FB.ContactID  
 --     LEFT JOIN gen_TalentSelected_NextRound_InterviewDetails NR with(NOLOCK) ON NR.ContactID = FB.ContactID AND NR.HiringRequest_ID = FB.HiringRequest_ID AND NR.HiringRequest_Detail_ID = FB.HiringRequest_Detail_ID AND FB.Shortlisted_InterviewID = NR.Shortlisted_InterviewID   
 --    WHERE  GC.CompanyID =@CompanyID--FB.ContactID = @Contact_ID   
 --     AND isnull(FeedBack_Type,'') = 'AnotherRound' AND isnull(FB.IsNextroundDetailsSubmitted,0) =0 
	--  AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024)       
 --    group by  FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID, isnull(FeedBack_Type,''),isnull(FB.IsNextroundDetailsSubmitted,0), ISNULL(NR.Talent_ID,0)  
             
     
  
 --   --- GET HR TIME Zone with talent in CTE  
      
 --   ;WITH CTE_TimeZone_else AS (  
 --   SELECT distinct HR.ContactID, HRD.HiringRequest_ID, HRD.Timezone_ID,CTP.TalentID ,1 AS isHR   
 --   FROM gen_SalesHiringRequest_Details HRD WITH(NOLOCK)   
 --     inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.ID  
 --     inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID AND  CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID    
 --                    inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = CTP.ContactID  
 --     Inner join #HRTypeID HT ON HT.HRID = HR.ID  
 --   where  GC.CompanyID =@CompanyID --HR.ContactID = @Contact_Id   
 --     AND HRD.Role_ID =@Role_ID AND HR.ID = @Hiring_Request_Id    
 --     AND CTP.TalentStatusID_BasedOnHR in(2,3)  
 --     AND HRD.RoleStatus_ID  in(2,4,5) 
	--  AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024) 
 --   ) , CTE_NextRound AS(  
 --         Select FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID,NR.Talent_ID, max(NR.InterviewRound) InterviewRound  
 --           ,StrInterviewRound = ' ( Round '+ cast(max(NR.InterviewRound) as varchar(10)) +' )'                  
 --           ,max(NR.ID) AS AnotherRoundID   
 --           ,RoundWiseSlotCheck= (select top 1 isnull(NextRound_ID,0)   
 --         from gen_ShortlistedTalent_InterviewDetails MainSlot WITH(Nolock)   
 --           inner join gen_InterviewSlotsMaster M with(nolock) On MainSlot.HiringRequest_Detail_ID =M.HiringRequest_Detail_ID AND MainSlot.Talent_ID =M.Talent_ID  AND MainSlot.InterviewMaster_ID = M.ID  
 --           inner join gen_contact G_C WITH(NOLOCK) ON  G_C.ID = MainSlot.ContactID  
 --         where MainSlot.HiringRequest_Detail_ID =FB.HiringRequest_Detail_ID AND   
 --           G_C.CompanyID =@CompanyID  
 --           AND isnull(NextRound_ID,0) =max(NR.ID)    
 --           AND M.InterviewStatus_ID <>3  
	--		AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024)

 --         )  
 --         From gen_ContactInterviewFeedback FB WITH(NOLOCK)   
 --           inner join gen_TalentSelected_NextRound_InterviewDetails NR WITH(NOLOCK) ON FB.ContactID = NR.ContactID AND FB.HiringRequest_ID = NR.HiringRequest_ID AND  FB.HiringRequest_Detail_ID = NR.HiringRequest_Detail_ID  
 --           inner join CTE_TimeZone_else CT ON  FB.ContactID = CT.ContactID AND FB.HiringRequest_ID = CT.HiringRequest_ID  
 --           inner join gen_contact GCon WITH(NOLOCK) ON  GCon.ID = FB.ContactID  
 --         WHERE   GCon.CompanyID =@CompanyID --FB.ContactID = @Contact_ID   
 --           AND FB.FeedBack_Type ='AnotherRound'   
	--		AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024)
 --         group by FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID,NR.Talent_ID   
 --        )   
  
 --  ------------------------------------------  
 --   --For TalentPriority = 'Priority 1'   
 --   select shortdate = case when ScheduledOn is null then CreatedByDatetime else ScheduledOn end,  *   
 --   Into #FinalTable  
 --   from(  
 --     select HR.ID, ctp.TalentID, TalentPriority, T.Name As TalentName, T.EmailID AS TalentEmail,TalentRole,  
 --      Score = '',  
 --      PrimarySkills =  isnull((STUFF((  
 --          select distinct ', ' +  isnull(ss1.Skill,'')  
 --          from prg_Skills SS1  WITH(NOLOCK)    
 --            inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID  
 --            and TPD.PrimarySkill_ID = SS1.ID  
 --          WHERE isnull(SS1.IsActive,0) =1 AND  ISNULL(TPD.PrimarySkill_ID,0) <> 0  
 --          For XML Path('')),1,1,''  
 --         )),'')            
            
 --         + ', ' + isnull((STUFF((                  
 --          select distinct ', ' +  isnull(TempSkill,'')  
 --          from prg_TempSkills TS1  WITH(NOLOCK)  
 --            inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID  
 --            AND TPD.TempSkill_ID = cast(TS1.TempSkill_ID as nvarchar(10))  
 --          WHERE   isnull(TS1.Status_ID,0) <> 2 AND  ISNULL(TPD.TempSkill_ID,'') <> ''  
 --          For XML Path('')),1,1,''  
 --         )),''),  
 --      Isnull(CTP.HR_Cost,'') Fees,Isnull(T.Description,'') Description,  
 --      Skill_Proficiency = isnull((STUFF((  
 --            SELECT distinct ', ' + PrimarySkill From(  
 --             select PrimarySkill =isnull(PR.Skill,'')   
 --             FROM prg_Skills PR WITH(NOLOCK)    
 --                     inner join gen_SalesHiringRequest_SkillDetails PS WITH(NOLOCK) ON PR.ID = PS.Skill_ID  
 --             where   PS.HiringRequest_ID = HR.ID   
 --            union all  
 --             select PrimarySkill = isnull(PT.TempSkill,'')  
 --             from prg_TempSkills PT WITH(NOLOCK)    
 --               inner join gen_SalesHiringRequest_SkillDetails P WITH(NOLOCK) ON PT.TempSkill_ID = P.TempSkill_ID                
 --             where isnull(PT.Status_ID,1)!= 0 AND P.HiringRequest_ID = HR.ID and isnull(P.TempSkill_ID,'')  <>''  
 --           ) AS finalObj   
 --               For XML Path('')),1,1,''  
 --         )),''''),  
 --      Experience= case when FLOOR(isnull(T.TotalExpYears,0)) <> CEILING(isnull(T.TotalExpYears,0)) then cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5))  + '+ Years' else replace( replace( cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as
 --nvarchar(5)),'.0',''),'.00','') + ' Years' end  
 --      ,Joining =  Isnull(Tj.Joinning,'')  
        
 --      ,TimeZOne = case when isnull([Str_TimeZone],'') <> '' then [Str_TimeZone] Else '' END  
         
 --      ,VersaneURL = ''  
 --      ,VersantFile_Score = ''  
 --      ,VersantCandidateCapabilities = ''  
 --      ,TechnicalInterpretation = ''  
 --      ,InterviewDescription =  ''  
 --      ,Hr_Number = Isnull(HR_Number,'')  
 --      ,IsInterviewSlotbooked = case when isnull(AnotherRoundID,0) > 0 AND isnull(RoundWiseSlotCheck,0) > 0 then 1  
 --               when isnull(AnotherRoundID,0) > 0 AND isnull(RoundWiseSlotCheck,0) = 0 then 0   
 --               else isnull((Select top 1 1 from gen_ShortlistedTalent_InterviewDetails ShID with(nolock)   
 --               inner join gen_InterviewSlotsMaster M WITH(NOLOCK) ON ShID.HiringRequest_Detail_ID = M.HiringRequest_Detail_ID AND ShID.Talent_ID =M.Talent_ID  
 --               where ShID.HiringRequest_Detail_ID = HRD.ID AND ShID.Talent_ID =CTP.TalentID AND M.InterviewStatus_ID not in(3,7) AND 1 =  @AnotherCompanyTypeId  order By ShID.ID desc ),0) end  
 --      ,HRD.ID AS HiringRequest_Detail_ID  
 --      ,PhotoImage = Isnull(T.ProfileURL,'') --Isnull(T.PhotoImage,'')  
 --      ,ScheduledOn = (  
 --           Select top 1 ScheduledOn   
 --           from gen_ShortlistedTalent_InterviewDetails ShortlistedInt with(nolock)   
 --             left join gen_TalentSelected_InterviewDetails SelectedInt with(nolock) ON ShortlistedInt.ID = SelectedInt.Shortlisted_InterviewID  
 --           where   ShortlistedInt.HiringRequest_Detail_ID = HRD.ID 
	--		AND 1 =  @AnotherCompanyTypeId -- Payal(28-2-2024)   
 --           order By SelectedInt.Shortlisted_InterviewID desc   
 --           )  
 --       ,CreatedByDatetime = isnull(HR.LastModifiedDatetime, HR.CreatedByDatetime)  
 --       ,HR_Status = CASE WHEN ISnull(CTP.TalentStatusID_BasedOnHR,0) > 0 and ISnull(CTP.TalentStatusID_ClientPortal,0) > 0 then   
 --          (Select Isnull(TSC.TalentStatus,'') from prg_TalentStatus_ClientPortal TSC WITH(NOLOCK)   
 --           WHERE TSC.ID = CTP.TalentStatusID_ClientPortal) --Isnull(TSC.TalentStatus,'')  
 --          ELSE Isnull(TAC.TalentStatus,'') ENd          
        
 --       ,AnotherRoundID = isnull(AnotherRoundID,0)  
 --       ,Shortlisted_InterviewID=isnull(Shortlisted_InterviewID,0)  
 --       ,NextRoundID = isnull(NextRoundID,0)  
 --       ,CTAname = case when TNextRound.FeedBack_Type = 'AnotherRound' then   
 --         case when isNull(TNextRound.InterviewRound,0) > 0 Then 'Round '+ cast(isNull(TNextRound.InterviewRound,0)+1 AS nvarchar(50)) +' Details Pending'  when isNull(TNextRound.InterviewRound,0) = 0 Then 'Round 2 Details Pending' else '' END  
 --       ELSE '' END,  
         
 --      CurrentCTC = ISNULL(CCE.CurrencySign,'') + ' ' + CONVERT(varchar, CAST(ISNULL(CTP.Current_CTC, 0) AS MONEY), 1)+ ' / Month',  
 --      ExpectedCTC =  ISNULL(CCE.CurrencySign,'') + ' ' + CONVERT(varchar, CAST(ISnull(CTP.TalentCost,0) AS MONEY), 1)+ ' / Month',  
 --      DPAmount = case when isnull(hr.HRTypeId,0)= 4 then '' else ISNULL(CCE.CurrencySign,'') + ' ' + CONVERT(varchar, CAST(ISNULL(CTP.DPAmount,0) AS MONEY), 1) end,  
         
 --      TypeOfHR = case when isnull(hr.HRTypeId,0)= 4 then @Frontend_HRType else Case when Hr.IsHRTypeDP = 1 then 'Direct Placement' else 'Contractual' end end ,  
 --      Isnull(isnull(CTP.ATS_Talent_LiveURL,T.ATS_Talent_LiveURL),'') ATSTalentLiveURL,  
 --      Isnull(isnull(CTP.ATS_Non_NDAURL,T.ATS_Non_NDAURL),'') ATSNonNDAURL,  
 --      PostedById = Isnull(HR.ContactID,0),  
 --      Currency = ISNULL(CTP.Talent_CurrencyCode, ISNULL(HRD.Currency,'')),  
 --      AssesmentTool = Isnull(SHT.assessment_tool,''),  
 --      ClientAssesmentReport = Isnull(SHT.client_assesment_report,''),  
 --      AssesmentScore = Isnull(SHT.score,'0') + ' / 100',  
 --      TalentResumeLink = Isnull(SHT.talent_resume_link,''),  
 --      ContactNumber = '+91 '+ Isnull(T.ContactNumber,''),  
 --      Ctp_ID = CTP.ID  
 --      ,InterviewStatus = Isnull(INS.InterviewStatus,'')  
 --      ,InterviewStatusID = IIF(Isnull(TAC.Id,0) IN (1, 5,6, 7), 10, Isnull(INS.Id,0))  
 --      ,InterviewProcessMessage = IIF(Isnull(TAC.Id,0) NOT IN (5,6, 7) AND ISNULL(HR.HRTypeId,0) = 1,  
 --              CASE WHEN Isnull(INS.Id,0) = 1 THEN 'Awaiting Talent''s Selection of Interview Time Slot'   
 --              WHEN (Isnull(INS.Id,0) = 4 OR Isnull(INS.Id,0) = 5)  THEN 'Awaiting for the interview to complete'   
 --              WHEN ISNULL(TAC.ID, 0) = 1 THEN 'Awaiting for the Talent''s Acceptance'  
 --               ELSE '' END, --AND ISNULL(HR.HRTypeId,0) = 1  
 --               ''),  
 --      Shortlisted_InterviewID_ForFeedback = ISNULL((  
 --                SELECT TOP 1 Shortlisted_InterviewID FROM gen_TalentSelected_InterviewDetails   
 --                WHERE HiringRequest_ID = HR.ID AND Talent_ID = T.ID AND IsConfirmed = 1 Order by ID Desc  
 --               ),0),  
  
 --      ISNULL(Tmp.IMasterID,0) As MasterId,  
 --      PercentValue = CASE   
 --          -- Pay per hire with DP  
 --          WHEN ISNULL(HR.HR_TypeId,0) = 1 AND ISNULL(HR.HRTypeId,0) = 1 THEN CAST(FLOOR(HR.DPPercentage) AS NVARCHAR) + '% on annual salary'   
 --          -- Pay per hire with Contractual with Transparent  
 --          WHEN ISNULL(HR.HR_TypeId,0) = 2 AND ISNULL(HR.HRTypeId,0) = 1 AND ISNULL(HR.IsTransparentPricing,0) = 1   
 --             THEN CAST(FLOOR(HR.TalentCostCalcPercentage) AS NVARCHAR) + '% per month'     
 --          ELSE ''  
 --          END,         
 --      PercentValueLabel =  CASE   
 --           -- Pay per hire with DP  
 --           WHEN ISNULL(HR.HR_TypeId,0) = 1 AND ISNULL(HR.HRTypeId,0) = 1 THEN 'Direct Placement Fees'   
 --           -- Pay per hire with Contractual with Transparent  
 --           WHEN ISNULL(HR.HR_TypeId,0) = 2 AND ISNULL(HR.HRTypeId,0) = 1 AND ISNULL(HR.IsTransparentPricing,0) = 1   
 --              THEN 'Uplers Fees'   
 --           ELSE ''  
 --           END,  
 --         IsTransparentPricing = ISNULL(HR.IsTransparentPricing,0),  
 --         TAC.OrderSequence,  
 --      IsNew = CASE WHEN ISNULL(CTP.IsViewed,0) = 1 then 0 else 1 end,  
 --      IsBookMarked = Isnull(STC1.IsBookMarked,0),  
 --      HRTypeId = ISNULL(HR.HRTypeId,0),  
 --      CompanyTypeID = ISNULL(PRT.CompanyTypeId,0),  
 --      CreditBalanceInfo = ''  
 --      --IsJobPost = Isnull(Co.IsPostaJob,0),  
 --      --IsProfileView = ISNULL(Co.IsProfileView,0),   
 --      --AIVetted = Case WHEN Isnull(SHT.score,0) = 0 then 0 else 1 end,  
 --      --NonAIVetted = Case WHEN Isnull(SHT.score,0) = 0 then 1 else 0 end  
 --    from gen_SalesHiringRequest HR with(nolock)   
 --      inner join gen_SalesHiringRequest_Details HRD with(nolock) on HR.ID = HRD.HiringRequest_ID  
 --      inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID   AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID      
 --      inner join gen_Talent T with(nolock) ON T.ID = CTP.TalentID  
 --      inner join prg_TalentRoles R  with(nolock) ON HRD.Role_ID = R.ID --AND T.RoleID = R.ID  
 --      INNER JOIN prg_HiringRequestStatus HRStatus WITH(NOLOCK) ON HRStatus.ID = HR.Status_ID  
 --      inner join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON TAC.ID = CTP.TalentStatusID_BasedOnHR  
 --      Inner join #ShortlistedTalents_ClientPortal STC ON STC.CTPID = CTP.ID and STC.HRID = CTP.HiringRequestID and STC.ContactID = CTP.ContactID    
 --      inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = CTP.ContactID  
 --      Inner join #HRTypeID HT ON HT.HRID = HR.ID  
 --      --Inner join gen_Company CO WITH(NOLOCK) ON Co.ID = GC.CompanyID  
 --      --Inner join  prg_TalentStatus_ClientPortal TSC WITH(NOLOCK)  ON TSC.TalentStatusID_BasedOnHR = TAC.ID  
 --      left join gen_ShortlistedTalents_ClientPortal STC1 WITH(NOLOCK) ON STC1.CTPID = CTP.ID   
 --      left join prg_TalentJoinning TJ WITH(NOLOCK) ON TJ.ID = T.Joining_ID         
 --      LEFT JOIN CTE_NextRound CTE ON CTE.Talent_ID = CTP.TalentID AND HR.ID = CTE.HiringRequest_ID AND  CTE.ContactID = HR.ContactID AND CTE.HiringRequest_Detail_ID = HRD.ID    
 --      LEFT JOIN #Temp_Else_NextRoundDetails  TNextRound ON TNextRound.HiringRequest_ID  = HR.ID AND  TNextRound.ContactID = HR.ContactID AND TNextRound.HiringRequest_Detail_ID = HRD.ID AND TNextRound.Talent_ID = T.ID  
 --      left join #Temp_PostAcceptanceDetails PA ON HR.ID = PA.[HiringRequest_ID]  AND PA.Talent_ID = CTP.TalentID  
 --      left join gen_SalesHiringRequest_TalentPacketDetails SHT WITH(NOLOCK) ON SHT.HiringRequestID = HR.ID and CTP.TalentID = SHT.TalentID --and SHT.ContactID = HR.ContactID  
 --      left Join prg_CurrencyExchangeRate CCE WITH(NOLOCK) ON CCE.CurrencyCode = CTP.Talent_CurrencyCode  
 --      LEft JOIN #TempInterviewDetails Tmp ON Tmp.HiringRequest_ID = HR.ID AND Tmp.Talent_ID = T.ID  
 --      LEft join gen_InterviewSlotsMaster IntM WITH(NOLOCK) ON IntM.ID = Tmp.IMasterID and Tmp.InterviewRound_Count = IntM.InterviewRound_Count  
 --      LEft join prg_InterviewStatus INS WITH(NOLOCK) ON INS.ID = IntM.InterviewStatus_ID   
 --      LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = hr.HrTypeId  
 --    where TalentPriority = 'Priority 1' AND HRD.Role_ID = @Role_ID AND HR.ID = @Hiring_Request_Id   
 --      --AND HR.Status_ID IN (1,2)  
 --      --and T.TalentStatusID_AfterClientSelection not in(5,7)  
 --      --AND CTP.TalentStatusID_BasedOnHR in(2,3)  
 --      --Commented by Riya for UTS-5954  
 --      --AND HRD.RoleStatus_ID  in(2,4,5) ---AND HRD.RoleStatus_ID not in(6,7) --T.TalentStatusID_AfterClientSelection = 2 AND  
 --   )Q1  
 --   Order BY  Q1.OrderSequence asc , IsInterviewSlotbooked asc, 1 desc  
      
      
 --   Insert into #FinalShortlistedTalents  
 --   select * from   #FinalTable  
  
 --   --drop table #Temp_ElSE_TalentAssesment  
 --   drop table #Temp_Else_NextRoundDetails  
 --   --drop table #Temp_NotMatchTimeZone_ElseShortlistedTalent  
 --   drop table #FinalTable  
      
 -- ENd  
  
  SET @MainSQL = 'select * from #FinalShortlistedTalents where ' + @WhereClauseSQL --+ @WhereClauseSkills   

  EXEC SP_ExecuteSQL @MainSQL  
   
  
  drop table #Temp_PostAcceptanceDetails  
  drop table #ShortlistedTalents_ClientPortal  
  drop table #FinalShortlistedTalents  
  drop table #HRTypeID  
END