CREATE PROCEDURE [dbo].[Sproc_UpdateUpscreenQuestionsClientLogs_ClientPortal]   
	@HiringRequestID	BIGINT = 0,
	@ScreeningQuestionsExternallyModified BIT = NULL,
	@TotalScreeningQuestions INT = 0
AS
BEGIN
	
	UPDATE dbo.gen_SalesHiringRequest_Details SET 
		ScreeningQuestionsExternallyModified  = @ScreeningQuestionsExternallyModified,
		TotalScreeningQuestions = @TotalScreeningQuestions	
		WHERE HiringRequest_ID = @HiringRequestID  
END
