ALTER PROCEDURE [dbo].[Sproc_Update_HrStatus]
  @HR_ID				BIGINT = 0,
  @HR_StatusID			INT = 0, ---JobStatusID = @HR_StatusID
  @HR_Sub_StatusID		INT = 0, ---Status_ID = @HR_Sub_StatusID,
  @ActionDoneBy			INT = 0,
  @AppAction_DoneBy		INT = 0,
  @NeedToUpDate			BIT = 0
AS
BEGIN
	DECLARE @UserEmployeeID      NVARCHAR(100) = ''
	DECLARE @HR_Role_StatusID	 INT = 0

	
	IF ISNULL(@NeedToUpDate,0) = 1 AND @HR_StatusID > 0
	BEGIN
	
		IF @HR_Sub_StatusID > 0
		BEGIN
			SELECT 
			TOP 1	@HR_Role_StatusID = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
			FROM	prg_HiringRequestStatus HS WITH(NOLOCK) 
					INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID				
			WHERE   HS.ID = @HR_Sub_StatusID
		END	

		If ISNULL(@HR_ID,0) > 0
		BEGIN
			IF EXISTS(SELECT 1 FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HR_ID)
			BEGIN

				UPDATE  gen_SalesHiringRequest
				SET	    JobStatusID = @HR_StatusID,	
						Status_ID = @HR_Sub_StatusID,
						LastModifiedByID = @ActionDoneBy,
						LastModifiedDatetime = GETDATE(),
						LastActivityDate = GETDATE()
				WHERE   ID = @HR_ID

				UPDATE gen_salesHiringRequest_Details
				SET    RoleStatus_ID = CASE WHEN ISNULL(@HR_Role_StatusID,0) = 0 THEN 1 ELSE @HR_Role_StatusID END,
					   LastModifiedByID = @ActionDoneBy,
					   LastModifiedDatetime = GETDATE()
				WHERE  HiringRequest_ID = @HR_ID
								
				EXEC SPROC_Gen_SalesHiringRequest_History @HRID = @HR_ID, @AppActionDoneBy = @AppAction_DoneBy
				EXEC SPROC_Gen_SalesHiringRequest_Details_History @HRID = @HR_ID, @AppActionDoneBy = @AppAction_DoneBy
			END
			
		END	
	END

	

	IF @ActionDoneBy > 0 
	BEGIN
		IF EXISTS (SELECT TOP 1 ID FROM usr_user WITH (NOLOCK) WHERE ID =  @ActionDoneBy)
		BEGIN
			SET @UserEmployeeID = (SELECT TOP 1 EmployeeID FROM usr_user WITH (NOLOCK) WHERE ID =  @ActionDoneBy)
		END
	END
	ELSE
	BEGIN
		SELECT @UserEmployeeID =  EmployeeID FROM usr_user WITH (NOLOCK) WHERE EmployeeID =  'ATS_1'
	END

	--(Riya: 26 April 24) If action is done from client portal then set default employeeId
	IF(@AppAction_DoneBy = 4)
	BEGIN
		SET @UserEmployeeID = 'ATS001' 
	END

	SELECT 
	H.ID AS HR_ID,
	JobStatus AS HR_Status,
	--HiringRequest_Status AS HR_Sub_Status,
	ATS_HiringRequest_Status AS HR_Sub_Status,
	@UserEmployeeID AS ActionDoneBy,
	GETDATE() AS ActionDate FROM
	gen_SalesHiringRequest H WITH(NOLOCK)  
	INNER JOIN  prg_JobStatus_ClientPortal JS WITH(NOLOCK) on H.JobStatusID = JS.ID
	LEFT JOIN  prg_HiringRequestStatus HS WITH(NOLOCK) on H.Status_ID = HS.ID
	WHERE H.ID = @HR_ID
		
END