USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[sproc_gen_ContactTalentPriorityupdate]    Script Date: 18-09-2024 16:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_gen_ContactTalentPriorityupdate]
@ID								bigint			= NULL, -- CTP ID
@TalentId						bigint			= NULL,

@TalentCurrentAmount			decimal(18,2)   = 0,  -- Current CTC
@TalentCost						decimal(18,2)   = 0,  --  PR -- TalentExpected_fee ( per Month)
@HR_Cost						decimal(18,2)	= NULL, -- BR
@ATSTalentCurrency				nvarchar(50)    = NULL,
@ExchangeRate					decimal(18,2)	= Null,

@UplersFee						decimal(18,2)	= Null,---uplers fees %
@UplersFeesValue				decimal(18,2)	= Null,---uplers fees Amount

@HR_Type						nvarchar(50)	= Null, -- DP
@HRPricingType					nvarchar(100)	= Null, -- Transparent / non transperent
@HRTypeText		                nvarchar(100)	= Null, -- Pay Per Hire / 
@Talent_Expected_fee_yearly		nvarchar(100)	= Null,
@Talent_current_fee_yearly		nvarchar(100)	= Null,

@YearsOfExperience				nvarchar(100)    = NULL,
@NoticePeriod					nvarchar(100)    = NULL,
@AgreedShift					nvarchar(500)    = NULL,
@PreferredAvailability			nvarchar(500)    = NULL,
@ATS_TalentID					bigint			 = null,
@ModifiedByID					INT				 = NULL,
@CreatedByDatetime				nvarchar(50)	 = Null,
@AISummary						nvarchar(MAX)	 = Null,
@IsVideoResume					nvarchar(10)	 = Null,
@VideoVetting					nvarchar(MAX)	 = Null,
@TalentResume					nvarchar(MAX)	 = Null
as
begin	


	  print @ID
	
	--added By jimit 15032022  for dynamic currency from table
	  declare @CostAfterAcceptance nvarchar(50) = NULL
	  Declare @CurrencySign AS nvarchar(50)= ''
	  DECLARE @HiringRequestDetailID as bigint = 0
	  DECLARE @HiringRequestID as bigint = 0
	  Declare @CurrencyExchangeRate as decimal(18,2) = 0
	  Declare @Currency as nvarchar(50) =''
	  DECLARE @ContactPriorityTalent as bigint = 0
	  Declare @LatestHRCost decimal(19,2) = 0

	  declare @HRCostStr nvarchar(200) = ''
	  
	  --- Payal (07-12-2023) Transperant / Non Transpert Pricing

	 Declare @CalcHR_Cost AS decimal(18,2) = 0
	 Declare @Currency_CalcHR_Cost AS decimal(18,2) = 0
	 Declare @HRCost_calculationpercent AS decimal(18,2) = 0
	 Declare @HiringTypePricingId INT = 0;
	 Declare @IsTransparent bit = 0;
	
	 Declare @ISHRTypeDP as int = 0
	 Declare @Min_Cost as decimal(18,2) =0  
	 Declare @DPPercentage	as decimal(18,2) = null
	 Declare @DPAmount as Decimal(18,2) = 0;
	 Declare @NewHRCost NVARCHAR(200) = '';
	 Declare @UplersFeesAmount DECIMAL(18,2) =0;

	 SET @Min_Cost = @TalentCost 

	 SELECT	 
			 @HiringRequestDetailID = HiringRequest_Detail_ID,
			 @HiringRequestID = HiringRequestID, 
			 @ContactPriorityTalent= TalentID,

			 @HRCost_calculationpercent = ISNULL(CTP.NRPercentage,Hr.TalentCostCalcPercentage),						
			 @IsTransparent = ISNULL(Hr.IsTransparentPricing,0),
			 @HiringTypePricingId = ISNULL(Hr.HiringTypePricingId,0),
			 @ISHRTypeDP =  ISNULL(CTP.IsHRTypeDP,Hr.IsHRTypeDP),
			 @DPPercentage = ISNULL(CTP.DP_Percentage, Hr.DPPercentage)

	from	 gen_SalesHiringRequest  Hr WITH(NOLOCK)  INNER JOIN  
			 gen_ContactTalentPriority  CTP WITH(NOLOCK) on Hr.ID  = CTP.HiringRequestID and CTP.TalentID = @TalentID
	where CTP.ID = @ID
	 	 

     IF(isnull(@ATSTalentCurrency,'') <> '')
	 BEGIN
	     print 'IF(isnull(@ATSTalentCurrency,'') <> '')'

		 SET @Currency = @ATSTalentCurrency

		 SELECT top 1 
				@CurrencySign = CurrencySign, 
				@CurrencyExchangeRate = CASE WHEN ISNULL(@ExchangeRate,0) > 0 THEN @ExchangeRate  ELSE ExchangeRate END
				from prg_CurrencyExchangeRate CER WITH(NOLOCK)
			
	     where	CurrencyCode = @Currency

		 If @Currency = 'INR'
			SET @CurrencySign = NCHAR(8377)

	 END
	 ELSE
	 BEGIN
			print 'ELSE'
			print  @HiringRequestDetailID

			SELECT top 1 @CurrencySign = CurrencySign,
			 @CurrencyExchangeRate = CASE WHEN ISNULL(@ExchangeRate,0) > 0 THEN @ExchangeRate  ELSE ExchangeRate END,
			 @Currency = isnull(Currency,'USD') 
			 from	prg_CurrencyExchangeRate CER WITH(NOLOCK)
					inner join gen_SalesHiringRequest_Details SD with(nolock) ON CER.CurrencyCode = SD.Currency 
			 where	SD.ID = @HiringRequestDetailID

			 If @Currency = 'INR'
				 SET @CurrencySign = NCHAR(8377)
			 
	 END

	 

	IF(isnull(@UplersFee,0) > 0 AND @HR_Type != 'DP')
	BEGIN
		SET @HRCost_calculationpercent = @UplersFee 
		SET @HRCostStr = @CurrencySign + CONVERT(varchar, CAST(ISNULL(@HR_Cost,0) AS MONEY), 1) + ' '+ @Currency+' / Month'	
		print '@HRCost_calculationpercent' + cast(@UplersFee as nvarchar(200))
	END
	IF(isnull(@UplersFee,0) > 0 AND @HR_Type = 'DP')
	BEGIN
		SET @DPPercentage = @UplersFee 
		SET @HRCostStr = @CurrencySign + CONVERT(varchar, CAST(ISNULL(@HR_Cost,0) AS MONEY), 1) + ' '+ @Currency+' One time Amount'	
		print '@DPPercentage' + cast(@DPPercentage as nvarchar(200))
	END

		print @HRCostStr
		print '@HRCostStr'
		
		print'BR'
		print @HR_Cost

		print'BR'
		print @HR_Cost

		print'@UplersFee'
		print @UplersFee
		print'UplersFees'
		print @UplersFeesAmount
		print 'NR%'
		print @HRCost_calculationpercent
        print 'DP%'
		print @HRCost_calculationpercent


		---Payal(30-08-2024) Revised Logic .. Remove Uplers fees calculations in UTS .. Taking Data directly from ATS      payal(07-12-2023)
		if(@HR_Type != 'DP' AND isnull(@UplersFee,0) > 0 ) -- Contratual
		begin
				----Update Talent Status in gen_ContactTalentPriority as per HR & HR Cost
			update	TalentPr 
			Set		
					 HR_Cost = @HRCostStr 
					,Final_HR_Cost = @HR_Cost
					,TalentCost = @TalentCost
					,Current_CTC = @TalentCurrentAmount
					,NRPercentage = @UplersFee
					,UplersfeesAmount = CONVERT(varchar, CAST( @UplersFeesValue AS MONEY), 1)

					,HR_Base_Cost = @HR_Cost
					,Currency_Final_HR_Cost = @HR_Cost
					,Currency_HR_Base_Cost = @HR_Cost
										
					,TalentPr.Talent_CurrencyCode = @Currency
					,TalentPr.ExchangeRate = @CurrencyExchangeRate
					,TalentPr.ModifiedByID = @ModifiedByID
					,TalentPr.ModifiedByDatetime = convert(datetime, @CreatedByDatetime,120)

			From	gen_ContactTalentPriority TalentPr	with(UPDLOCK)													
			where	ID = @ID and TalentPr.TalentID = @TalentID 
		end
		else if(@HR_Type = 'DP' AND @UplersFee > 0)-- DP
		begin 
						
				Update  gen_ContactTalentPriority WITH(UPDLOCK)
				SET		
						 HR_Cost = @HRCostStr 
						,Final_HR_Cost = @HR_Cost
						,TalentCost = @Talent_Expected_fee_yearly
						,Current_CTC = @Talent_current_fee_yearly
						,DP_Percentage = @UplersFee
						,UplersfeesAmount = CONVERT(varchar, CAST(@UplersFeesValue AS MONEY), 1)
						,DPAmount = @UplersFeesValue

						,HR_Base_Cost = @HR_Cost
						,Currency_Final_HR_Cost = @HR_Cost
					    ,Currency_HR_Base_Cost = @HR_Cost
											
						
						,Talent_CurrencyCode = @Currency
						,ExchangeRate = @CurrencyExchangeRate
						,IsHRTypeDP = 1
						,NRorDPChangeDateTime =  convert(datetime, @CreatedByDatetime,120)
			 			,ModifiedByID = @ModifiedByID
						,ModifiedByDatetime = convert(datetime, @CreatedByDatetime,120)

				Where	ID = @ID and TalentID = @TalentID				
							
		end
		ELSE--added by himani (29-03-2024) for pay per credit based hr, update currect ctc & expected ctc
		BEGIN
			Update  gen_ContactTalentPriority WITH(UPDLOCK)

			SET     TalentCost = @Talent_Expected_fee_yearly
					,Current_CTC = @Talent_current_fee_yearly

					,Talent_CurrencyCode = @Currency
					
					,ModifiedByDatetime =  convert(datetime, @CreatedByDatetime,120)
			 		,ModifiedByID = @ModifiedByID
			Where	ID = @ID and TalentID = @TalentID
		END

		--Added By Jimit (28-08-24 ) to add New Properties in Talent Packet 
		If Exists(select 1 from gen_HR_ATSTalentDetails_CTP WITH(NOLOCK) where CTP_ID = @ID)
			BEGIN
					UPDATE  gen_HR_ATSTalentDetails_CTP
					SET	    
					        YearsOfExperience = Isnull(@YearsOfExperience,YearsOfExperience),
							NoticePeriod = Isnull(@NoticePeriod,NoticePeriod),
							AgreedShift = ISNULL(@AgreedShift,AgreedShift),
							PreferredAvailability = Isnull(@PreferredAvailability,PreferredAvailability),
							HR_Type = ISNULL(@HR_Type, HR_Type),
							HRPricingType = Isnull(@HRPricingType,HRPricingType),
							HRTypeText = Isnull(@HRTypeText,HRTypeText),
							Talent_Expected_fee_yearly= Isnull(@Talent_Expected_fee_yearly,Talent_Expected_fee_yearly),
							Talent_current_fee_yearly =Isnull(@Talent_current_fee_yearly,Talent_current_fee_yearly)

					where   CTP_ID = @ID
			END
		ELSE
			BEGIN
					Insert into gen_HR_ATSTalentDetails_CTP(HiringRequest_ID,CTP_ID,ATS_Talent_ID,Talent_Email_ID,Talent_Name,Talent_Designation,YearsOfExperience
										,NoticePeriod,AgreedShift,HR_Type,PreferredAvailability, HRPricingType,HRTypeText, Talent_Expected_fee_yearly, Talent_current_fee_yearly
										, CreatedByID, CreatedByDatetime,AISummary,IsVideoResume,VideoVetting,TalentResume)
					
					select    @HiringRequestID,@ID,@ATS_TalentID,T.EmailID,T.Name,T.Designation,@YearsOfExperience
										,@NoticePeriod,@AgreedShift,@HR_Type,@PreferredAvailability,@HRPricingType,@HRTypeText,@Talent_Expected_fee_yearly,@Talent_current_fee_yearly
										,@ModifiedByID , convert(datetime, @CreatedByDatetime,120)
										,@AISummary,@IsVideoResume,@VideoVetting,@TalentResume
					from      gen_Talent T WITH(NOLOCK)
					Where     ATS_Talent_ID = @ATS_TalentID

			END

	 --   IF (@HRCost_calculationpercent > 0 AND @ISHRTypeDP = 0) -- Contratual + Transparent Price
		--BEGIN
		--    print 'IF (@HRCost_calculationpercent > 0 AND @ISHRTypeDP = 0) : ' + cast(@HRCost_calculationpercent as nvarchar(200))

		--	SELECT 
		--	@CalcHR_Cost = CalculatedClientPay, 
		--	@Min_Cost = CalculatedTalentPay, 
		--	@UplersFeesAmount = CalculatedUplersFeesInAmount, 
		--	@HRCost_calculationpercent = CalculatedUplersFeesInPer
		--	FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@Min_Cost, 0, 0, @HRCost_calculationpercent, 0);

		--	SET @NewHRCost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@CalcHR_Cost,0) AS MONEY), 1) + ' '+ @Currency+' / Month' 
												
		--END
		----Need DP portion in this SP beacuse pay per credit HR posibility from ats pass contratual
		--ELSE IF (@DPPercentage > 0 AND @ISHRTypeDP = 1) ---DP + Transparent Price
		--BEGIN
			
		--	 print 'ELSE IF (@DPPercentage > 0 AND @ISHRTypeDP = 1) : ' + cast(@DPPercentage as nvarchar(200))

		--	SELECT 
		--	@CalcHR_Cost = CalculatedClientPay, 
		--	@Min_Cost = CalculatedTalentPay, 
		--	@UplersFeesAmount = CalculatedUplersFeesInAmount, 
		--	@DPPercentage = CalculatedUplersFeesInPer
		--	FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@Min_Cost, 0, 0, @DPPercentage, 1);

		--	SET @NewHRCost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@CalcHR_Cost,0) AS MONEY), 1) + ' '+ @Currency+' One time Amount'				  
			
		--	SET @DPAmount = @UplersFeesAmount
								
		--END
			

	

end

