ALTER PROCEDURE [dbo].[sproc_TalentClientAssociation_Insert]
	@ContactId					bigint = NULL,
	@HiringRequestID			bigint = null,
	@TalentID					bigint = null,
	@TalentPriority				nvarchar(500) = null,
	@Role_Id					int = null,
	@HiringRequest_Detail_ID    bigint = null,
	@Minimum_Cost			    nvarchar(50) = null,
	@IsAdhoc					bit = NULL,
	@CreatedByID				INT = null,
	@CurrentCTC					decimal(18,2) = null,
	@DPPercentage				decimal(18,2) = null,
	@NRPercentage				decimal(18,2) = null,
	@IsReplacement				bit = null,
	@Talent_CurrencyCode		nvarchar(20) = null,
	@ATS_Talent_LiveURL		    nvarchar(max) = null,
	@ATS_Non_NDAURL		        nvarchar(max) = null,
	@Resume                     nvarchar(max) = null

AS
BEGIN
	
	DECLARE @Id bigint = 0
	DECLARE @HRTalentGUID NVARCHAR(50) = ''
    SET @HRTalentGUID = NEWID()

	IF(Select count(1) from  gen_ContactTalentPriority WITH(NOLOCK) Where ContactID =  @ContactID AND HiringRequestID = @HiringRequestID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND TalentID = @TalentID AND TalentPriority =  @TalentPriority) =0

	BEGIN
	-- Added By Reena Jain(6-July-2023): Added Talent_CurrencyCode and ExchangeRate 
			Declare @Currency as nvarchar(50) =ISNULL(@Talent_CurrencyCode,'USD')
			Declare @CurrencyExchangeRate as decimal(18,2) = 0
			DEclare @Status_ID INT = NULL --NEw status changes
			Declare @JobStatusID as int = 0;
			DECLARE @HR_RoleStatus INT =0

			SELECT  @CurrencyExchangeRate = ExchangeRate from prg_CurrencyExchangeRate with(nolock) where CurrencyCode = @Currency

	        ---Remove Acepatance criteria of Talent if he is in Old HR
			IF(select count(1) from gen_ContactTalentPriority with(nolock) where TalentID = @TalentID AND  isnull(Perticular_HR_TimeZoneIDOnAcceptance,0)>0 )>0
			BEGIN
				delete from gen_TalentPreferableWorking_Details where TalentID = @TalentID AND isnull(IsAdded_AfterPostAcceptance,0) = 1
			END

			-----Insert Association
			INSERT INTO gen_ContactTalentPriority(ContactID,HiringRequestID,TalentID,TalentPriority,Role_ID,HiringRequest_Detail_ID,AllowedtoSelectforHR,CreatedByDatetime,IsAdhoc,TalentCost,CreatedByID,Current_CTC,DP_Percentage,NRPercentage,IsReplacement,Talent_CurrencyCode,ExchangeRate,ATS_Talent_LiveURL,ATS_Non_NDAURL,HRTalentGUID,ATS_Talent_Resume) 
			VALUES (@ContactID,@HiringRequestID,@TalentID,@TalentPriority,@Role_Id,@HiringRequest_Detail_ID,case when @TalentPriority = 'Priority 1' then 1 else 0 end , GETDATE(),@IsAdhoc,@Minimum_Cost,@CreatedByID,@CurrentCTC,@DPPercentage,@NRPercentage,@IsReplacement,ISNULL(@Talent_CurrencyCode,'USD'),@CurrencyExchangeRate,@ATS_Talent_LiveURL,@ATS_Non_NDAURL,@HRTalentGUID,@Resume)

			SET @Id = @@IDENTITY 

			SET @Status_ID = (select Status_ID from gen_SalesHiringRequest with (NOLOCK) where  ID = @HiringRequestID)
			
			IF ISNULL(@Status_ID,0) = 1 -- if HR is in open state then only update to inprocess -- 28-aug-2024 -- Riya
			BEGIN
				--- Update HR Status as inprocess
				SET @Status_ID =2

				--Payal(16-04-2024) Fetch the Job Status ID and update the gen_SalesHiringRequest table.
				BEGIN 		
						SELECT top 1
						@JobStatusID = HS.JobStatus_ID
						FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = HS.JobStatus_ID
						WHERE HS.ID = @Status_ID  
				END	

				Update gen_SalesHiringRequest
				set	   Status_ID = @Status_ID ,
				       JobStatusID = @JobStatusID		   
				where  ID = @HiringRequestID

				--Payal(16-04-2024) Fetch the role status and update the gen_SalesHiringRequest_Details table.
				BEGIN 		
						SELECT top 1
						@HR_RoleStatus = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
						FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID
				
						WHERE HS.ID = @Status_ID  
				END	

				UPDATE	HD SET		
					HD.RoleStatus_ID = case when Isnull(@HR_RoleStatus,0) = 0 then 1 else @HR_RoleStatus end				
					FROM	gen_SalesHiringRequest_Details HD WITH (UPDLOCK)												
					WHERE	HD.HiringRequest_ID = @HiringRequestID;
					
				
			END
					

			
			----Update HR_Cost as per Timezone_ID
			Declare @HR_Cost		as nvarchar(100) = ''
			Declare @TalentCategory as nvarchar(50) =''
			Declare @HR_Timezone_ID as INT = 0
			Declare @Talent_MinimumFees as nvarchar(100) = ''

			----Payal (10-01-2022) : Changes for Adhoc HR
			Declare @HiringRequest_ID as bigint = 0
			Declare @IsAdHocHR as bit = 0
			--Declare @Currency as nvarchar(50) =''
			Declare @CurrencySign as nvarchar(50) =''
			--Declare @CurrencyExchangeRate as decimal(18,2) = 0
			Declare @IsTransparent bit = 0;
			Declare @HiringTypePricingId INT = 0;
			Declare @PricingPercent DECIMAL(18,2) =0;
			Declare @ISHRTypeDP as int = 0
			Declare @UplersFeesAmount DECIMAL(18,2) =0;

			SELECT @HR_Timezone_ID  = Timezone_ID , @Role_ID = Role_ID, @HiringRequest_ID = HiringRequest_ID--, @Currency = isnull(Currency,'USD')
			 from gen_SalesHiringRequest_Details with(nolock) where ID = @HiringRequest_Detail_ID
			
			--SELECT @TalentCategory  = TalentCategory from gen_Talent with(nolock) where ID = @TalentID
			
			SELECT @IsAdHocHR = isnull(IsAdHocHR,0),@ISHRTypeDP = Isnull(IsHRTypeDP,0) from gen_SalesHiringRequest with(nolock) where ID = @HiringRequest_ID

			SELECT @CurrencySign = case when CurrencyCode = 'INR' then NCHAR(8377) else Isnull(CurrencySign,'$') end --@CurrencyExchangeRate = ExchangeRate
			from prg_CurrencyExchangeRate with(nolock) where CurrencyCode = @Currency

			--Payal (15-07-24) comment as payrate update after match making  
			--BEGIN
			--	  print 'Start Calculation'
			     
			--	  Declare @HRCost_calculationpercent AS decimal(18,2) = 0
			--	  Declare @Min_Cost AS decimal(18,2) = 0
			--	  Declare @CalcHR_Cost AS decimal(18,2) = 0
			--	  Declare @Currency_CalcHR_Cost AS decimal(18,2) = 0
			--	  --Calculate DP Amount when HR Type is Direct placement Added By Jimit 09012023
				
			--		--Declare @DPPercentage as decimal(18,2) = 0
			--	  Declare @DPAmount as Decimal(18,2) = 0			
			--	  Declare @Final_Cost as Decimal(18,2) = 0		

			--	  SET @Min_Cost = cast(@Minimum_Cost AS decimal(18,2) )

			--	  SELECT	@HRCost_calculationpercent = isnull(TalentCostCalcPercentage,0),						
			--				@IsTransparent = ISNULL(IsTransparentPricing,0),
			--				@HiringTypePricingId = ISNULL(HiringTypePricingId,0)
			--	  from		gen_SalesHiringRequest  WITH(NOLOCK) where id = @HiringRequestID


			--	  SELECT	@PricingPercent = ISNULL(PricingPercent,0) 
			--	  FROM		prg_HiringType_Pricing  WITH(NOLOCK)
			--	  where		ID = @HiringTypePricingId;
				  				 
			--	  IF (@PricingPercent > 0 AND @ISHRTypeDP = 0) -- Contratual + Transparent Price
			--	  BEGIN
			--			--Uplers Fees Calc.
			--			select  @CalcHR_Cost  =  (@Min_Cost * @PricingPercent) / 100;			
				
			--			select  @CalcHR_Cost  = @Min_Cost + @CalcHR_Cost;
			--			select  @Currency_CalcHR_Cost  = @CalcHR_Cost;

			--			select @UplersFeesAmount = (@Min_Cost * @PricingPercent) / 100;
					

			--			SET @HR_Cost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@CalcHR_Cost,0) AS MONEY), 1) + ' '+ @Currency+' / Month' 
												
			--	  END
			--	  ELSE if(@PricingPercent = 0 AND @ISHRTypeDP = 0) -- Contratual + Non Transparent Price
			--	  BEGIN
			--			select  @CalcHR_Cost  =  (((@Min_Cost * 100) /  (100 - @HRCost_calculationpercent)));						
				
			--			select  @Currency_CalcHR_Cost  = @CalcHR_Cost;
			--			select @UplersFeesAmount = @CalcHR_Cost - @Min_Cost ;

			--			SET @HR_Cost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@CalcHR_Cost,0) AS MONEY), 1) + ' '+ @Currency+' / Month'				  
								
			--	  END 
			--	  ELSE IF (@PricingPercent > 0 AND @ISHRTypeDP = 1) ---DP + Transparent Price
			--	  BEGIN
			--			--Uplers Fees Calc.
			--			SET @DPPercentage = @PricingPercent

			--		    SET @DPAmount = ((@Min_Cost * 12) * @DPPercentage) / 100

			--			select @UplersFeesAmount = @DPAmount ;


			--			SET @HR_Cost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@DPAmount,0) AS MONEY), 1) + ' '+ @Currency+' One time Amount'				  
								
			--	  END
			--	  ELSE IF (@PricingPercent = 0 AND @ISHRTypeDP = 1 AND @DPPercentage >0) ---DP +  Non Transparent Price
			--	  BEGIN
			--			--Uplers Fees Calc.						

			--		    SET @DPAmount = ((@Min_Cost * 12) * @DPPercentage) / 100
			--			select @UplersFeesAmount = @DPAmount ;

			--			SET @HR_Cost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@DPAmount,0) AS MONEY), 1) + ' '+ @Currency+' One time Amount'
				  
											
			--	  END
			--	  --ended jimit
				 
			--	 SET @Talent_MinimumFees = @CurrencySign + CONVERT(varchar, CAST( @Minimum_Cost AS MONEY), 1)  + ' '+ @Currency+' / Month'	
				 
			--	 print @HR_Cost
			--	 print @CalcHR_Cost
			--	 print @DPAmount

			--	  ---payal(04-12-2023)
			--	  if(@ISHRTypeDP =0) -- Contratual
			--	  begin
			--				----Update Talent Status in gen_ContactTalentPriority as per HR & HR Cost
			--			update	TalentPr 
			--			Set		TalentPr.TalentStatusID_BasedOnHR = 1
			--					,TalentPr.HR_Cost = @HR_Cost 
			--					,Final_HR_Cost = @CalcHR_Cost
			--					,TalentCost = @Minimum_Cost

			--					,HR_Base_Cost = @CalcHR_Cost
			--					,Currency_Final_HR_Cost = @Currency_CalcHR_Cost
			--					,Currency_HR_Base_Cost = @Currency_CalcHR_Cost
			--					,UplersfeesAmount = CONVERT(varchar, CAST( @UplersFeesAmount AS MONEY), 1)
								
			--			From	gen_ContactTalentPriority TalentPr														
			--			where	ID = @Id and TalentPr.TalentID = @TalentID --AND TalentPr.ContactID = @ContactID AND TalentPr.HiringRequestID = @HiringRequestID AND TalentPr.HiringRequest_Detail_ID = @HiringRequest_Detail_ID
			--	  end
			--	  else if(@ISHRTypeDP = 1 AND @DPPercentage > 0)-- DP
			--	  begin
						  
						
			--				Update  gen_ContactTalentPriority
			--				SET		TalentStatusID_BasedOnHR = 1
			--				        ,HR_Cost = @HR_Cost 
			--						,Final_HR_Cost = @CalcHR_Cost
			--						,DPAmount = @DPAmount
			--						,IsHRTypeDP = 1
			--						,NRorDPChangeDateTime = getdate()
			--						,TalentCost = @Minimum_Cost
			--						,Current_CTC = @CurrentCTC
			--						,UplersfeesAmount = CONVERT(varchar, CAST( @UplersFeesAmount AS MONEY), 1)
			--				Where	ID = @Id and TalentID = @TalentID				
							
			--	  end			  				

			--END

			--ended
			
	END
	
    SELECT @Id  Id 

END