ALTER PROCEDURE [dbo].[Sproc_UpdateAssessmentShared_ClientPortal]   
	@AssessmentID		BIGINT = 0,
	@HiringRequestID	BIGINT = 0,
	@ATSTalentIDs		NVARCHAR(MAX) = NULL
AS
BEGIN
	
	DECLARE @TalentIds TABLE
	(
		AssessmentID BIGINT,
		ATSTalentID BIGINT
	)

	INSERT INTO @TalentIds
	SELECT  @AssessmentID, CAST(Item AS Nvarchar(200)) FROM dbo.SplitString(@ATSTalentIDs, ',')

	UPDATE u
	set u.IsSharedToTalent = 1
	from gen_AssessmentWiseTalentDetails  u
    inner join @TalentIds s on
        u.AssessmentID = s.AssessmentID AND s.ATSTalentID = u.ATSTalentID
	WHERE s.AssessmentID = @AssessmentID


	IF(ISNULL(@ATSTalentIDs,'') <> '')
		BEGIN

			--DELETE FROM gen_AssessmentWiseTalentDetails WHERE AssessmentID = @AssessmentID AND ISNULL(IsSharedToTalent,0) = 0		

			INSERT INTO gen_AssessmentWiseTalentDetails
			(
				AssessmentID,
				ATSTalentID,
				IsSharedToTalent
			)
			SELECT @AssessmentID, CAST(Item AS Nvarchar(200)),1
			FROM dbo.SplitString(@ATSTalentIDs, ',') WHERE Item NOT IN (SELECT ATSTalentID FROM gen_AssessmentWiseTalentDetails WHERE AssessmentID = @AssessmentID)

		END

	SELECT 
	HCA.HiringRequestID, 
	HCA.Type,
	HCA.Name,
	HCA.Details,
	HCA.Skills,
	CAST(HCA.Duration AS NVARCHAR(50)) + ' mins' AS Duration,
	SubmissionDeadline = convert(varchar,HCA.SubmissionDeadline, 105),
	HCA.CandidatesGuideline,
	HCA.AdditionalInfo,
	CED.EmailSubject,
	CED.EmailContent,
	ATSTalents = LTRIM(RTRIM(isnull((STUFF((select ',' + char(10) + (CAST(ATSTalentID AS NVARCHAR(250))) from @TalentIds S WHERE S.AssessmentID = HCA.ID For XML Path('')),1,1,'')),''))),
	TalentDetails = LTRIM(RTRIM(isnull((STUFF((select ',' + char(10) + (CAST(T.Name AS NVARCHAR(MAX)) + ' - ' + CAST(T.EmailID AS NVARCHAR(MAX))) from @TalentIds S INNER JOIN gen_Talent T WITH(NOLOCK) ON S.ATSTalentID = T.ATS_Talent_ID WHERE S.AssessmentID = HCA.ID  For XML Path('')),1,1,'')),''))),
	ClientName = C.FullName,
	ClientEmail = C.EmailID,
	CompanyName = CO.Company
	FROM gen_HRCustomAssessment HCA WITH(NOLOCK) 
	INNER JOIN gen_CustomAssessmentEmailDetails CED WITH(NOLOCK) ON HCA.ID = CED.AssessmentID 
	INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID = HCA.HiringRequestID
	INNER JOIN gen_Contact C WITH(NOLOCK) ON C.ID = HR.ContactID
	INNER JOIN gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
	WHERE HCA.HiringRequestID = @HiringRequestID AND HCA.ID = @AssessmentID
	ORDER BY HCA.CreatedByDateTime DESC	

END
