ALTER PROCEDURE [dbo].[Sproc_UpdateTSCUser]
	@onBoardID bigint = NULL,
	@TSCUserId bigint = NULL,
	@TSCEditReason nvarchar(Max) = NULL,
	@LoggedInUserID bigint = NULL,
	@OldTSC_PersonID bigint = NULL,
	@Year INT = NULL,
	@Month INT = NULL
AS
BEGIN
	--Set deafult month year if not pass
	IF ISNULL(@Month,0) = 0
	BEGIN
		SET @Month = month(getdate())
	END
	IF ISNULL(@Year,0) = 0
	BEGIN
		SET @Year = Year(getdate())
	END

	IF EXISTS(SELECT 1 FROM gen_OnBoardTalents WITH(NOLOCK) WHERE ID = @onBoardID)
	BEGIN
		--Update gen_OnBoardTalents table--
		UPDATE gen_OnBoardTalents
		SET TSC_PersonId = @TSCUserId,
		LastModifiedById = @LoggedInUserID,
		LastModifiedDateTime = GETDATE(),
		TSCEditReason = @TSCEditReason,
		OldTSC_PersonID = @OldTSC_PersonID
		WHERE Id = @OnBoardId
	
		--Update gen_Payout_Information table--
		UPDATE gen_Payout_Information
		SET TSC_PersonId = @TSCUserId,
		LastModifiedById = @LoggedInUserID,
		LastModifiedDateTime = GETDATE(),
		TSCEditReason = @TSCEditReason
		WHERE OnBoardId = @OnBoardId --AND month(ClientInvoiceDate) >= month(getdate()) AND Year(ClientInvoiceDate) >= Year(getdate())
			AND month(ClientInvoiceDate) >= @Month
			and year(ClientInvoiceDate) >=  @year
	END
END



