USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_UTS_UpdatePOCUserIDsByCompanyID]    Script Date: 19-06-2024 10:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_UTS_UpdatePOCUserIDsByCompanyID] 
    @CompanyID      BIGINT             = NULL,
    --@POCUserIDs    NVARCHAR(MAX)      = NULL,
	@POCUserID      INT      = NULL,
	@CreatedByID	INT				   = NULL,
	@HRID			BIGINT	= 0,
	@Sales_HR_NBD	Nvarchar(50) = null,
	@Flag			Nvarchar(50) = Null
AS
BEGIN
    
    BEGIN TRANSACTION
    
    DECLARE @Error INT
    SET @Error = 0

    --IF ISNULL(@POCUserIDs,'') <> ''
	IF ISNULL(@POCUserID,0) <> 0
    BEGIN
        
        IF EXISTS (SELECT TOP 1 ID FROM gen_ContactPointofContact WITH (NOLOCK) WHERE Company_ID = @CompanyID)
        BEGIN
            -- Delete existing records
            DELETE FROM gen_ContactPointofContact WHERE Company_ID = @CompanyID
            
            SET @Error = @Error + @@ERROR
        END


		--Commented Jimit No Need to add in POC table now UTS - 7505
    --    -- Insert new records
    --    INSERT INTO gen_ContactPointofContact (User_ID, Company_ID, Description)
    --    SELECT  --CAST(Item AS BIGINT),
				--@POCUserID,@CompanyID, ''
    --    --FROM dbo.SplitString(@POCUserIDs, ',')
       
	 --   UPDATE CompanyPOC SET  CompanyPOC.Description = CASE WHEN ISNULL(U.Description,'') = '' THEN 'Client Relationship Manager' ELSE U.Description END
		--FROM gen_ContactPointofContact CompanyPOC WITH(UPDLOCK) INNER JOIN usr_user U WITH(NOLOCK) ON CompanyPOC.[User_ID] = U.ID
		--WHERE CompanyPOC.Company_ID = @CompanyID

        --SET @Error = @Error + @@ERROR

		Declare @IsNewUser as bit = 0
		Select @IsNewUser = Isnull(IsNewUser,0) from usr_User WITH(NOLOCK) where ID = @POCUserID

		IF @Flag = 'Add'
			BEGIN
				--Added Jimit 03-06-24 UTS-7505   Point No 2
				Update  gen_Company
				SET    NBD_SalesPersonID = case when @IsNewUser = 1 then  @POCUserID else NBD_SalesPersonID end,
						AM_SalesPersonID = case when @IsNewUser = 0 then @POCUserID else AM_SalesPersonID end
				where  ID = @CompanyID
				---Ended----
			END
		ELSE
			BEGIN
					IF @HRID <> 0
						BEGIN
								UPDATE gen_SalesHiringRequest
								SET    SalesUserID = @POCUserID
								where ID = @HRID
						END
					ELSE 
						BEGIN
								Update gen_Company
								SET    NBD_SalesPersonID = case when @IsNewUser = 1 then @POCUserID else NBD_SalesPersonID end,
									   AM_SalesPersonID = case when @IsNewUser = 0 then @POCUserID else AM_SalesPersonID end
								where  ID = @CompanyID
						END		
						
					IF @IsNewUser = 1
						BEGIN	
								Update gen_Company
								SET   AM_SalesPersonID = null
								where  ID = @CompanyID
						END
			END
    END

    IF @Error = 0
    BEGIN
        COMMIT TRANSACTION
    END
    ELSE
    BEGIN
        ROLLBACK TRANSACTION
    END
END
