USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_HRTalentDetailsforATS_ClientPortal]    Script Date: 27-03-2024 13:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_HRTalentDetailsforATS_ClientPortal]
 @GUID	Nvarchar(50) = null, 
 @HrId BIGINT = NULL,
 @ATSTalentId BIGINT = NULL
AS
BEGIN

IF(ISNULL(@GUID, '') <> '')
	BEGIN
		SELECT 
				CRCTP.GUID,
				CRCTP.ATS_TalentID,
				cast(Isnull(CRCTP.UTSTalentID,0) as bigint) UTSTalentID,
				CRCTP.HRID,
				CRCTP.StatusID,
				CRCTP.IsMyList,
				cast(Isnull(CRCTP.IsUnLock,0) as bit) as IsUnLock,
				CRCTP.ProfileCredit,
				CRCTP.IsVetted,
				HR.HR_Number,
				Co.ID AS CompanyID,
				CO.JPCreditBalance AS CreditBalance,
				C.Id AS ContactID,
				C.EmailId AS ContactEmail,
				C.FullName AS ContactName
		FROM	gen_CRCTP_ShortlistedTalents_ClientPortal  CRCTP WITH(NOLOCK)
				INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.Id = CRCTP.HRID
				INNER JOIN gen_Contact C WITH(NOLOCK) ON C.Id = HR.ContactID
				INNER JOIN gen_Company Co WITH(NOLOCK) ON Co.ID = C.CompanyID
		WHERE	CRCTP.GUID = @GUID 
				AND HR.HRTypeId in(3,6)

		Union ALL

		SELECT 
				CTP.HRTalentGUID as GUID,
				@ATSTalentId as ATS_TalentID,
				cast(Isnull(CTP.TalentID,0)  as bigint)  as UTSTalentID,
				CTP.HiringRequestID as HRID,
				CTP.TalentStatusID_ClientPortal as StatusID,
				cast(ISNULL(STC.IsBookMarked,0) as bit) as IsMyList,
				cast(1 as bit) as IsUnLock,
				cast(0 as decimal(18,0)) as ProfileCredit,
				cast(0 as bit) as IsVetted,
				HR.HR_Number,
				Co.ID AS CompanyID,
				CO.JPCreditBalance AS CreditBalance,
				C.Id AS ContactID,
				C.EmailId AS ContactEmail,
				C.FullName AS ContactName
		FROM	gen_ContactTalentPriority  CTP WITH(NOLOCK)				
				INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.Id = CTP.HiringRequestID
				INNER JOIN gen_Contact C WITH(NOLOCK) ON C.Id = HR.ContactID
				INNER JOIN gen_Company Co WITH(NOLOCK) ON Co.ID = C.CompanyID
				LEFT JOIN gen_ShortlistedTalents_ClientPortal STC With(Nolock) ON CTP.ID = STC.CtpId
		WHERE	CTP.HRTalentGUID = @GUID 
				AND HR.HRTypeId not in (3,6)
	END
ELSE
	BEGIN
		SELECT 
				CRCTP.GUID,
				CRCTP.ATS_TalentID,
				CRCTP.UTSTalentID,
				CRCTP.HRID,
				CRCTP.StatusID,
				CRCTP.IsMyList,
				CRCTP.IsUnLock,
				CRCTP.ProfileCredit,
				CRCTP.IsVetted,
				HR.HR_Number,
				Co.ID AS CompanyID,
				CO.JPCreditBalance AS CreditBalance,
				C.Id AS ContactID,
				C.EmailId AS ContactEmail,
				C.FullName AS ContactName
		FROM	gen_CRCTP_ShortlistedTalents_ClientPortal  CRCTP WITH(NOLOCK)
				INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.Id = CRCTP.HRID
				INNER JOIN gen_Contact C WITH(NOLOCK) ON C.Id = HR.ContactID
				INNER JOIN gen_Company Co WITH(NOLOCK) ON Co.ID = C.CompanyID
		WHERE	CRCTP.HRID = @HrId AND CRCTP.ATS_TalentID = @ATSTalentId
	END
END