USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Insert_ShortistedTalent_Unlock_Detail_ClientPortal]    Script Date: 16-02-2024 16:48:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Insert_ShortistedTalent_Unlock_Detail_ClientPortal]
   @ATSTalentId			bigint = 0,
   @HrId				bigint = 0,
   @ContactId			bigint = 0,
   @GUID				Nvarchar(50) = null,
   @CreatedById			bigint = 0
AS
BEGIN
	
		IF Not Exists(Select 1 from gen_ShortistedTalent_Unlock_Detail_ClientPortal With(Nolock) where HRID = @HrId and ContactID = @ContactId and GUID = @GUID)
			BEGIN
					Insert into gen_ShortistedTalent_Unlock_Detail_ClientPortal(ATS_TalentID,HRID,ContactID,GUID,CreatedByID,CreatedByDateTime)
					Values(@ATSTalentId,@HrId,@ContactId,@GUID,@CreatedById,Getdate())				

			ENd
		
END