ALTER PROCEDURE [dbo].[sproc_UTS_HRClose_CheckTalentOfferHiredwithMessage]
	@HR_ID BIGINT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @WarningMsg NVARCHAR(MAX) = '', @IsWarningMsgNeedToShow BIT = CAST(0 AS BIT) 

    IF ISNULL(@HR_ID,0) > 0
	BEGIN
		IF EXISTS (SELECT TOP 1 id FROM gen_SalesHiringRequest WITH (NOLOCK) WHERE id = @HR_ID)
		BEGIN
			DECLARE @IsPayPerHire BIT = NULL, @IsPayPerCredit BIT = NULL, @NoofTalents INT = 0, @JobStatusID INT = 0
			DECLARE @Offered INT = 4, @Hired INT = 10

			SELECT 
			@IsPayPerHire = CASE WHEN HRTypeId = 1 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
			@IsPayPerCredit = CASE WHEN HRTypeId in (3,4,6) THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
			@NoofTalents = ISNULL(NoofTalents,0),
			@JobStatusID = ISNULL(JobStatusID,0)
			FROM 
			gen_SalesHiringRequest WITH (NOLOCK) WHERE id = @HR_ID

			--------------------------------------------------------------------------------------------------------
			--For Pay per credit HR
			IF ISNULL(@IsPayPerCredit,0) = 1
			BEGIN
				--IF talent is in offered stage
				IF EXISTS(SELECT 1 FROM gen_ContactTalentPriority WITH (NOLOCK) WHERE HiringRequestID  = @HR_ID AND TalentStatusID_BasedOnHR = @Offered)
				BEGIN
					SET @IsWarningMsgNeedToShow = CAST(1 AS BIT) 
					SET	@WarningMsg = 'One talent is in the "offered" stage in this HR. If you close this HR, the status will be marked as "Closed - Lost." The HR will be marked as "Closed - Won" only if at least one talent''s status is Hired.'
				END
			END
			--------------------------------------------------------------------------------------------------------

			--------------------------------------------------------------------------------------------------------
			--For Pay per Hire + Active HR
			IF ISNULL(@IsPayPerHire,0) = 1 AND ISNULL(@JobStatusID,0) = 1
			BEGIN
				--IF TR = 1
				IF ISNULL(@NoofTalents,0) = 1
				BEGIN
					--IF talent is in offered stage
					IF EXISTS(SELECT 1 FROM gen_ContactTalentPriority WITH (NOLOCK) WHERE HiringRequestID  = @HR_ID AND TalentStatusID_BasedOnHR = @Offered)
					BEGIN
						SET @IsWarningMsgNeedToShow = CAST(1 AS BIT)  
						SET	@WarningMsg = 'One talent is in the "offered" stage in this HR. If you close this HR, the status will be marked as "Closed - Lost." If this is not the case, mark it as "Unpublished" from the ATS. The HR will then be closed automatically on the contract start date.'
					END

					--IF talent is in Hired stage
					IF EXISTS(SELECT 1 FROM gen_ContactTalentPriority WITH (NOLOCK) WHERE HiringRequestID  = @HR_ID AND TalentStatusID_BasedOnHR = @Hired)
					BEGIN
						
						DECLARE @ContractStartDate DATETIME = NULL, @ContractEndDate DATETIME = NULL, 
								@TalentID BIGINT = NULL, @OnboardID BIGINT = NULL

						SELECT 
						@OnboardID = OBT.ID,
						@TalentID = OBT.Talent_ID,
						@ContractStartDate = OCCD.ContractStartDate,
						@ContractEndDate = OCCD.ContractEndDate
						FROM gen_OnBoardTalents OBT WITH(NOLOCK) 
							INNER JOIN gen_OnBoardClientContractDetails OCCD WITH(NOLOCK) ON OCCD.OnBoardID = OBT.ID
							INNER JOIN gen_SalesHiringRequest SHR WITH(NOLOCK) ON SHR.ID = OBT.HiringRequest_ID
							INNER JOIN gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = SHR.ID
						WHERE SHR.ID = @HR_ID AND OBT.HiringRequest_ID = @HR_ID AND 
						CTP.HiringRequestID = @HR_ID AND CTP.TalentStatusID_BasedOnHR = @Hired


						--IF Hired (Contract is not started)
						IF (@ContractStartDate > GETDATE())
						BEGIN
							SET @IsWarningMsgNeedToShow = CAST(1 AS BIT)  
							SET	@WarningMsg = 'One talent is in the "Hired" stage in this HR. If you close this HR, the status will be marked as "Closed - Lost." If this is not the case, mark it as "Unpublished" from the ATS. The HR will then be closed automatically on the contract start date.'
						END
					END
				END 

				--IF TR > 1
				IF ISNULL(@NoofTalents,0) > 1
				BEGIN
						
						DECLARE @NoOFOfferedHiredTalent INT = 0

						SELECT @NoOFOfferedHiredTalent = COUNT(ID) FROM 
						gen_ContactTalentPriority WITH(NOLOCK) 
						WHERE HiringRequestID = @HR_ID 
						AND TalentStatusID_BasedOnHR IN (@Hired, @Offered)
						
						IF ISNULL(@NoOFOfferedHiredTalent,0) > 0
						BEGIN
							SET @IsWarningMsgNeedToShow = CAST(1 AS BIT) 
							SET	@WarningMsg = CAST(@NoOFOfferedHiredTalent AS VARCHAR) + ' talents are in the "Offered/Hired" stage in this HR. If you close this HR, the status will be marked as "Closed - Lost." If this is not the case, mark it as "Unpublished" in the ATS. The HR will then be closed automatically once the contract is started for all the talents required in this HR.'
						END

				END 
			END
			--------------------------------------------------------------------------------------------------------
		END
	END 

	SELECT @WarningMsg AS WarningMsg, @IsWarningMsgNeedToShow AS IsWarningMsgNeedToShow
END
