ALTER PROCEDURE [dbo].[Sproc_Insert_SocialMediaLoginDetails]
	@SocialMediaLogin nvarchar(250), 
	@Username nvarchar(250), 
	@Password nvarchar(250)=null, 
	@ResponseEmailID nvarchar(250), 
	@ResponseName nvarchar(250)
AS
BEGIN
	DECLARE @ClientId bigint = 0
	DECLARE @TalentId bigint = 0
	Declare  @DCSalesEmpID as Nvarchar(20) = null
	Declare  @DCSalesUserID as bigint = 0
	Declare  @DCUserDescription as Nvarchar(Max) = ''
		

		IF NOT Exists(Select 1 from [dbo].[gen_SocialMediaLogin_Details] with(nolock) 
						WHERE SocialMediaLogin=@SocialMediaLogin AND ResponseEmailID=@ResponseEmailID)
		BEGIN		
			INSERT INTO [dbo].[gen_SocialMediaLogin_Details] (SocialMediaLogin, Username, Password, ResponseEmailID, ResponseName, LoginDate)
			VALUES(@SocialMediaLogin, @Username, @Password, @ResponseEmailID, @ResponseName, GetDate())
			--SET @ClientId= (SELECT ID from  gen_Contact WHERE EmailID=@ResponseEmailID)
		END
		else 
		begin				
				update	gen_SocialMediaLogin_Details 
				SET		LoginDate = GetDate() 
				WHERE	SocialMediaLogin=@SocialMediaLogin AND ResponseEmailID=@ResponseEmailID
		end

		IF EXISTS(	SELECT	1 
				FROM	gen_Contact WITH(NOLOCK) 
				WHERE IsActive =1 AND (UserName = @ResponseEmailID) and IsResetPassword = 1
			  )
		BEGIN
				SELECT	@ClientId = ID 
				FROM	gen_Contact WITH(NOLOCK) 
				WHERE   IsActive =1 AND	(UserName = @ResponseEmailID) and IsResetPassword = 1
		END

		IF EXISTS(	SELECT	1 
				FROM	gen_Talent WITH(NOLOCK) 
				WHERE	 (UserName = @ResponseEmailID)  and IsResetPassword = 1
			  )
			BEGIN
				SELECT	@TalentId = ID 
				FROM	gen_Talent WITH(NOLOCK) 
				WHERE	(UserName = @ResponseEmailID)  and IsResetPassword = 1 
			END


		select @DCSalesEmpID = [Value] from gen_SystemConfiguration with(Nolock) where [Key] = 'SalesOpsRights'
		Select @DCSalesUserID = ID,@DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID

		IF NOT EXISTS(SELECT 1 FROM gen_ContactPointofContact WITH (NOLOCK) WHERE ContactID = @ClientId AND User_ID = @DCSalesUserID)
			BEGIN
				Insert into gen_ContactPointofContact(ContactID,User_ID,Description)
				Values(@ClientId,@DCSalesUserID,@DCUserDescription)
			END
		
		SELECT @ClientId  ClientId, @TalentId TalentId
END