ALTER PROCEDURE [dbo].[Sproc_GET_Subscription_History_ClientPortal]
  @CompanyID			bigint = null
AS
BEGIN

			SELECT 
			'Pay as you go' AS BalanceType,
			PurchaseDate = Convert(Nvarchar(15),JC.CreatedByDateTime,103),			
			CreditBalance,
			PackageID,
			PaymentHistoryID = ISNULL(PaymentHistoryID, 0),
			Amount = ISNULL(PHC.TotalInvoiceAmount,PHC.Amount),
			Currency = ISNULL(PHC.Currency,'-'),
			PHC.InvoiceID,
			PaymentStatus = CASE WHEN PHC.Status = 'approved' OR PHC.Status = 'COMPLETED' OR PHC.Status = 'captured' THEN 'approved' 
							WHEN PHC.Status = 'authorized' THEN 'pending' 
							ELSE 'Fail' END,
			PaymentMethod,
			ReceiptID
			FROM gen_JobPost_Subscription_History_ClientPortal JC WITH(NOLOCK) 
			LEFT JOIN gen_Payment_History_ClientPortal PHC ON PHC.ID = JC.PaymentHistoryID
			WHERE JC.CompanyID = @CompanyID
			ORDER BY JC.ID DESC

END

