ALTER PROCEDURE [dbo].[Sproc_Reset_AllHR_TalentStatus]
@IsFromSchedular BIT = 0
AS
BEGIN

		UPDATE  CTP 
		SET     CTP.TalentStatusID_BasedOnHR = 2,
				CTP.TalentStatusID_ClientPortal = 1, 
				RejectionStage = NULL
		From    gen_ContactTalentPriority CTP WITH(NOLOCK)
			    inner join gen_SalesHiringRequest SH WITH(NOLOCK) ON SH.ID = CTP.HiringRequestID
			    inner join gen_Contact C WITH(NOLOCK) ON C.ID = SH.ContactID and C.ID = CTP.ContactID
			    inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		WHERE   CO.ID = 37720

		IF(@IsFromSchedular = 1)
		BEGIN
			UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Reset_AllHR_TalentStatus'
		END
END