USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_talent_engagement_Details_For_PHP_API]    Script Date: 15-08-2024 14:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_talent_engagement_Details_For_PHP_API]    
@OnboardID   bigint ,
@Action		 Nvarchar(500) = null
as        
begin         
  
   Select  OBT.ID,OBT.EngagemenID,OBT.HiringRequest_ID,OBT.Talent_ID, T.ATS_Talent_ID,  
    
    OBTD.ContractStartDate,OBTD.ContractEndDate,  
	EngagementStatus =  ES.EngagementStatus,
	TSACS.TalentStatus as Talent_status,
	Lost_date = IIF(LostDate='1900-01-01 00:00:00.000',null,LostDate),
	Last_working_date = IIF(OBTD.LastWorkingDate='1900-01-01 00:00:00.000',null,OBTD.LastWorkingDate),
	joining_date = IIF(OBT.Joiningdate ='1900-01-01 00:00:00.000',null,OBT.Joiningdate),
	talent_statustag = Isnull(HRT.Talent_TagName,''),
	Action = @Action,
	Action_date = GetDate()
     
   from		gen_OnBoardTalents OBT with(nolock)  
			inner Join gen_OnBoardClientContractDetails OBTD with(nolock) on  OBTD.OnBoardID=OBT.ID  
			inner Join gen_Talent T with(nolock) on  OBT.Talent_ID = T.ID  
			inner Join gen_ContactTalentPriority CTP with(nolock)  ON CTP.TalentID = OBT.Talent_ID and CTP.HiringRequestID=OBT.HiringRequest_ID
			inner Join prg_TalentStatus_AfterClientSelection TSACS with (NOLOCK) on TSACS.ID=CTP.TalentStatusID_BasedOnHR
			inner Join prg_EngagementStatus ES WITH(NOLOCK) on ES.ID = OBT.Status_ID
			left join  prg_HRTalentTags HRT WITH(NOLOCK) ON HRT.ID = CTP.HRTalentTagID
   where	OBT.ID = @onboardid 
  
end 