USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Update_ProfileViewTransaction_ClientPortal]    Script Date: 06-05-2024 16:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
ALTER PROCEDURE [dbo].[Sproc_Update_ProfileViewTransaction_ClientPortal]  
 @CompanyId      bigint = 0,  
 @GUID           Nvarchar(50) = null,  
 @IsVetted      bit = 0,
 @SSOUserId		BIGINT = NULL
 --@CreditOption     int = 0   --2 Vetted or 3-- Non Vetted  
  --@ContactID      bigint = 0,  
 --@HRID       bigint = 0,  
 --@TalentID      bigint = 0,  
 --@CTPID       bigint = 0,  
AS  
BEGIN    
  
   Declare @ContactID bigint = 0  
   Declare @HRID  bigint = 0  
   Declare @TalentID bigint = 0  
   Declare @CTPID  bigint = 0  
   Declare @ATSTalentID bigint = 0  
   DECLARE @TotalHRCredits DECIMAL(18,2) = 0  ,@TransactionPrimaryID Nvarchar(100) = NULL, @UnlockingDate DATETIME = GETDATE(),
		@ActionPerformedBy BIGINT = 0
     
  -- IF Exists(select 1 from gen_CRCTP_ShortlistedTalents_ClientPortal WITH(NOLOCK) Where GUID = @GUID)  
  --  BEGIN  
  --    UPDATE gen_CRCTP_ShortlistedTalents_ClientPortal   
		--SET  IsVetted = Isnull(@IsVetted,IsVetted),  
  --      ProfileCredit = ISNULL(@CreditUsed, ProfileCredit)  
  --    Where GUID = @GUID  
  --  END  
  
   SELECT    
   --@ContactID = ContactID,  
   @HRID = HRID,  
   @ATSTalentID = ATS_TalentID  
   --@CreditUsed = ProfileCredit  
   --@IsVetted = IsVetted  
   From    gen_CRCTP_ShortlistedTalents_ClientPortal WITH(NOLOCK)   
   WHERE   GUID = @GUID  
  
   SELECT @TalentID = ID  
   FROM   gen_Talent WITH(NOLOCK)  
   WHERE  ATS_Talent_ID = @ATSTalentID  
  
   select @CTPID = ID   
   from   gen_ContactTalentPriority WITH(NOLOCK)  
   WHERE  TalentID = @TalentID and HiringRequestID = @HRID and ContactID = @ContactID  
  
   SELECT TOP 1 @ContactID =  ID FROM gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID AND IsPrimary = 1   

   -- Set action performed by user based on SSO login UTS-7223
	SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ContactID, @SSOUserId))
  
  -- Check the company balance and update the data if no balance then do not execute further.
	--EXEC @TransactionPrimaryID = Sproc_CreditUtilization @ContactID, @UnlockingDate, 0, @HRID, 2, 1, @IsVetted, @ATSTalentID
	  EXEC Sproc_CreditUtilization_Process  @CompanyID		= @CompanyID,
																	@HRID			= @HRID,
																	@ContactID		= @ContactID,
																	@JobPostedDate	= @UnlockingDate,
																	@ATSTalentID	= @ATSTalentID,
																	@IsRepost		= 0,
																	@CreatedById	= @ActionPerformedBy,
																	@CompanyTypeId	= 2,
																	@ProfileUnlock	= 1,
																	@VettedProfile	= @IsVetted,
																	@OutputParam = @TransactionPrimaryID OUTPUT
   IF Isnull(@TransactionPrimaryID,'') = '-1' 
    BEGIN  
		  SELECT 'Insufficient credit balance to access the candidate''s profile' AS HRCredits, Cast(0 AS BIT) AS Success 
		  return  
    END  
  
   SET @TotalHRCredits = Isnull((  
         select  CAST(Isnull(CreditUsed,0) as Nvarchar) CreditUsed from  
         (Select cast(Isnull(SUM(CC.CreditUsed),0) as int) CreditUsed,JT.HRID  
         from gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)  
           inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)  
         WHERE HRID = @HRID   
         Group by JT.HRID ) Q  
        ),'0')  
          
   SELECT cast(@TotalHRCredits as nvarchar(100)) AS HRCredits  ,  Cast(1 AS BIT) AS Success 
END  
  
--Sproc_Update_ProfileViewTransaction_ClientPortal 11503,'1ae57c51-5fa1-4b15-beff-40e540784ef6',False