USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_DeactivateCompanyJobs_ClientPortal]    Script Date: 16-02-2024 16:53:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_DeactivateCompanyJobs_ClientPortal]
  @ContactID BIGINT = NULL,
  @CompanyID BIGINT = NULL
AS
BEGIN
		
		DECLARE @CompanyCreditsLeft INT = 0
		SET @CompanyCreditsLeft = (SELECT TOP 1 ISNULL(JPCreditBalance,0) FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyID and CompanyTypeID = 2)

		--SELECT @CompanyCreditsLeft

		DECLARE @HiringRequestNumbers TABLE
		(
			HRID BIGINT 
		)

		IF(ISNULL(@CompanyCreditsLeft,0) = 0)
		BEGIN

			--SELECT 'true'
			UPDATE  gen_SalesHiringRequest 
			SET		JobStatusID = 2,
					LastModifiedByID = @ContactID,
					LastModifiedDatetime = GETDATE()
					OUTPUT INSERTED.ID INTO @HiringRequestNumbers
			WHERE   ContactID IN (SELECT ID FROM gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND ISNULL(JobStatusID, 0) <> 2
					AND Status_ID IN (1, 2)

		END

		IF OBJECT_ID('tempdb..#MarkJobsInActive') IS not null
			DROP TABLE #MarkJobsInActive

		CREATE TABLE #MarkJobsInActive
		(
			HRID		  bigint,
			CompanyID	  bigint,
			ContactID	  bigint,			
			ProfileShared int
		)

		INSERT INTO #MarkJobsInActive(HRID,CompanyID,ContactID)
		select  ID,@CompanyID,@ContactID			
		FROM    gen_SalesHiringRequest H WITH(NOLOCK)				
		WHERE   H.ContactID = @ContactID			   
				AND H.JobStatusID = 2


		UPDATE H 
		SET    LastModifiedByID = M.ContactID,
			   LastModifiedDatetime = GETDATE(),
			   H.Status_ID = 4
		FROM   gen_SalesHiringRequest H WITH(NOLOCK)
			   Inner join #MarkJobsInActive M ON M.HRID = H.ID
		WHERE  Status_ID IN (1,2) and M.ProfileShared = 0

		UPDATE H 
		SET    LastModifiedByID = M.ContactID,
			   LastModifiedDatetime = GETDATE(),
			   H.Status_ID = 6
		FROM   gen_SalesHiringRequest H WITH(NOLOCK)
			   Inner join #MarkJobsInActive M ON M.HRID = H.ID
		WHERE  Status_ID IN (1,2) and M.ProfileShared > 0

		SELECT HRID FROM @HiringRequestNumbers

END
