USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_UTS_DashBoard_OnBoardCount]    Script Date: 07-04-2023 13:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_UTS_DashBoard_OnBoardCount]
AS
BEGIN

	 Declare @TotalEnagagement AS Bigint =0
	 Declare @TotalActiveEngagement AS Bigint =0 

	 Select @TotalEnagagement = count(ID) from gen_OnBoardTalents with(NOLOCK) 

	 Select @TotalActiveEngagement = count(ID) from gen_OnBoardTalents OBT with(NOLOCK) 
	 WHERE Status_ID =1 AND Not Exists(Select 1 from gen_OnBoardTalents_ReplacementDetails R with(NOLOCK) where OBT.ID = R.OnboardID AND isnull(ReplaceTalentId,0) = 0 )

	 Select @TotalEnagagement AS TotalEnagagement, @TotalActiveEngagement AS TotalActiveEngagement
END