USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[sproc_HiringRequest_Report]    Script Date: 16-08-2024 14:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sproc_HiringRequest_Report]
@FromDate		NVARCHAR(20)	= NULL,
@ToDate			NVARCHAR(20)	= NULL,
@TypeOfHR		NVARCHAR(5)		= NULL,
@ModeOfWorkId	NVARCHAR(5)		= NULL,
@Heads			NVARCHAR(100)	= NULL,
@HRStatusID		NVARCHAR(50)	= NULL,
@IsHRFocused	bit				= 0,
@ClientType		INT				= 0,	--0 = All, 1 = AM, 2 = NBD
@Geos	        nvarchar(20)  = NULL,
@Sales_ManagerIDs Nvarchar(MAx) = null
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN T1_HRReport
		
		DECLARE @ModeOfWork NVARCHAR(100) = '';
		DECLARE @IsHRTypeDP bit;
		DECLARE @GeoIDs int = 0
		DECLARE @Geo nvarchar(max) = null

		IF @ClientType IS NULL
			SET @ClientType = 0;

		IF @IsHRFocused <> 1
			SET @IsHRFocused = NULL;

		IF (@ModeOfWorkId !='' or @ModeOfWorkId != '0')
		BEGIN
			set @ModeOfWork = (SELECT ModeOfWorking FROM prg_ModeOfWorking WITH(NOLOCK)  where ID = @ModeOfWorkId)
		END

		IF OBJECT_ID('tempdb..#GeoTbl') Is not null
			DROP TABLE #GeoTbl

		CREATE TABLE #GeoTbl(GeoID int)

		IF (Isnull(@Geos,'') != '')
			BEGIN
				If Lower(@Geos) = 'india'
				  Select @Geo = cast(ID as nvarchar(50)) from prg_GEO WITH(NOLOCK) where Lower(GEO) = Lower(@Geos)
				Else
				  Select  @Geo = stuff((select ',' + cast(ID as nvarchar(max)) from prg_GEO WITH(NOLOCK) where Lower(Geo) <> 'india' FOR XML PATH ('')), 1, 1, '')
			
				 Insert into #GeoTbl
				 select val from f_split(@Geo,',');
			END
		ELSE
			BEGIN
				SET @Geos = ''
			END

		--IF (@TypeOfHR = '' OR @TypeOfHR = '-1')
		--	BEGIN 
		--		SET @IsHRTypeDP = NULL;
		--	END
		--ELSE
		--	BEGIN
		--		SET @IsHRTypeDP = @TypeOfHR;
		--	END

		

		IF OBJECT_ID('tempdb..#HRStateTbl') IS NOT NULL
			DROP TABLE #HRStateTbl;

		CREATE TABLE #HRStateTbl(StateID bigint);
		
		IF @HRStatusID <> ''
		BEGIN
			INSERT INTO #HRStateTbl(StateID)
				SELECT val from f_split(@HRStatusID,',');
		END
		ELSE
		BEGIN
			INSERT INTO #HRStateTbl(StateID)
				SELECT ID from prg_JobStatus_ClientPortal;
				--SELECT ID from prg_HiringRequestStatus;
				
		END


		BEGIN -- Payal (04-03-2024) (Remove Test Companies Using Configuration)

			     IF OBJECT_ID('tempdb..#TempRemoveCompanies') IS NOT NULL
					DROP TABLE #TempRemoveCompanies;

				Declare @Values as Nvarchar(Max) = ''

				select  @Values = [Value]  
				from   gen_SystemConfiguration WITH(NOLOCK)
				where  [Key]  ='RemoveCompaniesforUTSAdminReports'

				select  cast(val as bigint) as RemoveCompanyID into #TempRemoveCompanies from dbo.f_Split(@Values,',')

		END

		BEGIN  -- Added By Jimit 14-08-24   for adding Sales Representative and Heads Filters
				IF OBJECT_ID('tempdb..#SaleManagerID') Is not null
					DROP TABLE #SaleManagerID
				IF OBJECT_ID('tempdb..#HeadTempTbl') IS NOT NULL
					DROP TABLE #HeadTempTbl;

				CREATE TABLE #SaleManagerID
				(
					ID			int,
					FullName 	Nvarchar(100)
				)

				CREATE TABLE #HeadTempTbl
				(
					HeadID bigint
				)

				If Isnull(@Sales_ManagerIDs,'') <> ''
					BEGIN
						  Insert into #SaleManagerID
						  select U.ID,U.FullName 
						  from   usr_User U WITH(Nolock)
						  WHERE  Id in (select val from dbo.f_split(@Sales_ManagerIDs,','))
					ENd
				ELSE 
					BEGIN
						  Insert into #SaleManagerID
						  select U.ID,U.FullName 
						  from   usr_User U WITH(Nolock)
					END

		END


		IF Object_Id('tempdb..#HR_Records') IS Not Null
			DROP Table #HR_Records;

		IF OBJECT_ID('tempdb..#HR_ReportRecords') Is not null
			DROP TABLE #HR_ReportRecords

		CREATE TABLE #HR_ReportRecords
		(
			   ID				 int Identity (1,1),
			   StageName		 Nvarchar(100),
			   StageValue		 int  default 0,
			   Sequence			 int
		)

		INSERT INTO #HR_ReportRecords(StageName,Sequence)
		select HRReportStageName,Sequence from prg_HiringRequest_Report_Stage with(nolock);


		CREATE TABLE #HR_Records
		(
			HR_ID					bigint,
			IsAccepted				int,
			HRStatus				int,
			CreatedByDateTime		datetime,
			IsActive				bit,
			Action_ID				bigint,
			ModeOfWork				NVARCHAR(50),
			IsHRTypeDP				nvarchar(5),
			HRAcceptedDateTime		datetime,
			GeoID					int
		);

		
		IF ISNULL(@Heads,'') <> '' 
		BEGIN
			;WITH cteUser AS (    
				SELECT	   u.ID AS UserID, 
						   uh.ParentID,
						   u.FirstName AS Name,
						   0 AS [Level]
				FROM       [dbo].[usr_User] u with(nolock)
				LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID
				WHERE      u.ID IN (select val from dbo.f_split(@Heads,',')) 
				--and ISNULL(U.IsNewUser,0) = CASE WHEN @ClientType = 2 THEN 1 ELSE ISNULL(U.IsNewUser,0) END
 
			UNION ALL
 
				SELECT u.ID AS UserID,
						child.ParentID,
						u.FirstName AS Name,
						[Level]+1 AS [Level]
				FROM       [dbo].[usr_User] u with(nolock)
				INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID 
				INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
				--WHERE	ISNULL(U.IsNewUser,0) = CASE WHEN @ClientType = 2 THEN 1 ELSE 0 END
			) 
		
			INSERT INTO #HR_Records(HR_ID, IsAccepted, HRStatus, CreatedByDateTime, IsActive,Action_ID, ModeOfWork, IsHRTypeDP,HRAcceptedDateTime,GeoID)
			SELECT	H.ID, ISNULL(H.IsAccepted,0) IsAccepted , H.JobStatusID as HRStatus --H.Status_ID as HRStatus
					, His.CreatedByDatetime CreatedByDatetime,
					ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID,
					ISNULL(DP.ModeOfWork,'') as ModeOfWork, ISNULL(H.IsHRTypeDP,0) as IsHRTypeDP
					,Isnull(H.AcceptedByDateTime,0) as HRAcceptedDateTime,
					Isnull(COM.Geo_Id,0)
			FROM	gen_SalesHiringRequest H with(nolock) 
					INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
					INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
					INNER JOIN cteUser TS ON  H.SalesUserID = TS.UserID
					INNER JOIN gen_Contact CO with(nolock) on H.ContactID = CO.ID
					INNER JOIN gen_Company COM with(nolock) on CO.CompanyID = COM.ID 
					inner join #SaleManagerID SMD ON SMD.ID = H.SalesUserID
					inner JOIN  gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id =H.ID
			WHERE  (cast(His.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))
					AND Isnull(DP.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(DP.ModeOfWork,''))
					and Isnull(H.IsHRTypeDP,0) =  ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0))
					and Isnull(HD.IsHRFocused,0) = Isnull(@IsHRFocused,Isnull(HD.IsHRFocused,0))
					and 
					(
						(@Geos <> '' and exists(select GeoID from #GeoTbl G Where G.GeoID = Com.Geo_ID))
						Or
						(	
							@Geos = '' and 1 = 1
						)
					)
					AND not exists( select 1 from  #TempRemoveCompanies where CoM.ID = RemoveCompanyID)
					AND 
					(@TypeOfHR <> '' and H.HRTypeId IN (select val from dbo.F_Split(@TypeOfHR,','))
					 or
					 @TypeOfHR = '' and 1 = 1
					)
		END
		ELSE
		BEGIN

			select distinct ID as SM_ID into #SalesManager from usr_User with(nolock) where UserTypeID =4 AND IsActive =1;  --DeptID = 1 and LevelID = 1;
			;WITH cteUser AS (    
					SELECT	   u.ID AS UserID, 
							   uh.ParentID,
							   u.FullName AS Name,
							   (select top 1 U.ID from usr_user U where U.ID = TS.SM_ID) as MainParentID,
							   0 AS [Level]
					FROM       [dbo].[usr_User] u with(nolock)
								inner join #SalesManager TS ON U.ID = TS.SM_ID    
							   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID
					--WHERE		ISNULL(U.IsNewUser,0) = CASE WHEN @ClientType = 2 THEN 1 ELSE ISNULL(U.IsNewUser,0) END
 
				UNION ALL
 
					SELECT u.ID AS UserID,
							child.ParentID,
							u.FullName AS Name,
							cte.MainParentID as MainParentID,
							[Level]+1 AS [Level]
					FROM       [dbo].[usr_User] u with(nolock)
					INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
					INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
					
			)
			
			INSERT INTO #HR_Records(HR_ID, IsAccepted, HRStatus, CreatedByDateTime, IsActive,Action_ID, ModeOfWork, IsHRTypeDP,HRAcceptedDateTime,GeoID)
			SELECT	H.ID, ISNULL(H.IsAccepted,0) IsAccepted , H.JobStatusID as HRStatus --H.Status_ID as HRStatus
					, His.CreatedByDatetime CreatedByDatetime,
					ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID,
					ISNULL(DP.ModeOfWork,'') as ModeOfWork, ISNULL(H.IsHRTypeDP,0) as IsHRTypeDP
					,Isnull(H.AcceptedByDateTime,0) as HRAcceptedDateTime,
					Isnull(Com.Geo_Id,0)
			FROM	gen_SalesHiringRequest H with(nolock) INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
					INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
					INNER JOIN cteUser TS ON  H.SalesUserID = TS.UserID
					INNER JOIN gen_Contact CO with(nolock) on H.ContactID = CO.ID
					INNER JOIN gen_Company COM with(nolock) on CO.CompanyID = COM.ID 
					inner join #SaleManagerID SMD ON SMD.ID = H.SalesUserID
					Inner JOIN  gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id =H.ID
			WHERE  (cast(His.CreatedByDatetime as date) between Cast(@FromDate as date) and cast(@ToDate as date))
					AND Isnull(DP.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(DP.ModeOfWork,''))
					and Isnull(H.IsHRTypeDP,0) =  ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0))
					and Isnull(HD.IsHRFocused,0) = Isnull(@IsHRFocused,Isnull(HD.IsHRFocused,0))
					and 
					(
						(@Geos <> '' and exists(select GeoID from #GeoTbl G Where G.GeoID = Com.Geo_ID))
						Or
						(	
							@Geos = '' and 1 = 1
						)
					)
					AND not exists( select 1 from  #TempRemoveCompanies where CoM.ID = RemoveCompanyID)
					AND 
					(@TypeOfHR <> '' and H.HRTypeId IN (select val from dbo.F_Split(@TypeOfHR,','))
					 or
					 @TypeOfHR = '' and 1 = 1
					)
		END

		

		PRINT('Total HR Created')
		begin
			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRCreatedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT	ISNULL(COUNT(distinct H.HR_ID),0) as TotalHRCreatedCount
						FROM	#HR_Records H
						WHERE	H.IsActive = 1 AND H.Action_ID = 4 AND
								(CAST(H.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date))
								and Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) 
								and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,''))
								
					) Z ON 1=1
			WHERE	H.ID = 1;
		end


		PRINT('Total HR Accepted')
		begin
			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRCreatedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT	ISNULL(COUNT(distinct H.HR_ID),0) as TotalHRCreatedCount
						FROM	#HR_Records H
						WHERE	H.IsActive = 1 AND H.IsAccepted = 1 AND H.Action_ID = 17 AND
								(CAST(H.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date))
								and Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) 
								and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) 
								
					) Z ON 1=1
			WHERE	H.ID = 2;
		end


		PRINT('Total HR Cancelled')
		begin
			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRCreatedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT	ISNULL(COUNT(distinct H.HR_ID),0) as TotalHRCreatedCount
						FROM	#HR_Records H
						WHERE	H.IsActive = 1 AND H.HRStatus = 2 AND--H.HRStatus = 4 AND
								(CAST(H.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date))
								and Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) 
								and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) 
								
					) Z ON 1=1
			WHERE	H.ID = 3;
		end

		PRINT('Total HR Completed')
		begin
			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRCreatedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT	ISNULL(COUNT(distinct H.HR_ID),0) as TotalHRCreatedCount
						FROM	#HR_Records H
						WHERE	H.IsActive = 1 AND H.HRStatus = 2 ANd  --H.HRStatus = 3 AND
								(CAST(H.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date))
								and Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) 
								and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) 
								
					) Z ON 1=1
			WHERE	H.ID = 4;
		end

		PRINT('HR where no profiles are shared')
		begin
			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRNoProfileSharedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT	ISNULL(COUNT(distinct H.HR_ID),0) as TotalHRNoProfileSharedCount
						FROM	#HR_Records H
								INNER JOIN #HRStateTbl HS on H.HRStatus = HS.StateID
						WHERE	H.IsActive = 1 AND H.IsAccepted = 1 AND H.HRStatus = 4 AND -- H.HRStatus = 1 AND
								(CAST(H.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date))
								and Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) 
								and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) 
								
					) Z ON 1=1
			WHERE	H.ID = 5;
		end

		

		PRINT('HR where atleast 3 profiles are shared in 5 days')
		begin
			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRNoProfileSharedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT COUNT(Y.HR_ID) AS TotalHRNoProfileSharedCount
						FROM (
						    SELECT	H1.HR_ID, COUNT(H1.HR_ID) AS ProfShareDays
						    FROM	#HR_Records H1
									INNER JOIN #HRStateTbl HS on H1.HRStatus = HS.StateID
						    WHERE	(CAST(H1.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date)) And Action_ID = 6
									and Isnull(H1.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H1.IsHRTypeDP,0)) 
									and Isnull(H1.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H1.ModeOfWork,'')) 
									AND DATEDIFF(day,CAST(dbo.Excluding_WeekDays(H1.HRAcceptedDateTime,5) as date),CAST(H1.CreatedByDateTime as date)) <= 0
									
							GROUP BY H1.HR_ID
							HAVING COUNT(H1.HR_ID) >= 3
						) AS Y 
					) Z ON 1=1
			WHERE	H.ID = 6;
		end

		PRINT('HR where atleast 6 profiles are shared in 10 days')
		begin

			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRNoProfileSharedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT COUNT(Y.HR_ID) AS TotalHRNoProfileSharedCount
						FROM (
						    SELECT H1.HR_ID, COUNT(H1.HR_ID) AS ProfShareDays
						    FROM #HR_Records H1
								INNER JOIN #HRStateTbl HS on H1.HRStatus = HS.StateID
						    WHERE (CAST(H1.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date)) And Action_ID = 6
							and Isnull(H1.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H1.IsHRTypeDP,0)) 
							and Isnull(H1.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H1.ModeOfWork,'')) 
							AND DATEDIFF(day,CAST(dbo.Excluding_WeekDays(H1.HRAcceptedDateTime,10) as date),CAST(H1.CreatedByDateTime as date)) <= 0
							
						    GROUP BY H1.HR_ID
							HAVING COUNT(H1.HR_ID) >= 6
						) AS Y 
					) Z ON 1=1
			WHERE	H.ID = 7;
		end


		PRINT('HR where atleast 5 profiles are shared in 5 days')
		begin

			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRNoProfileSharedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT COUNT(Y.HR_ID) AS TotalHRNoProfileSharedCount
						FROM (
						    SELECT H1.HR_ID, COUNT(H1.HR_ID) AS ProfShareDays
						    FROM #HR_Records H1
								INNER JOIN #HRStateTbl HS on H1.HRStatus = HS.StateID
						    WHERE (CAST(H1.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date)) And Action_ID = 6
							and Isnull(H1.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H1.IsHRTypeDP,0)) 
							and Isnull(H1.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H1.ModeOfWork,'')) 
							AND DATEDIFF(day,CAST(dbo.Excluding_WeekDays(H1.HRAcceptedDateTime,5) as date),CAST(H1.CreatedByDateTime as date)) <= 0
							
						    GROUP BY H1.HR_ID
							HAVING COUNT(H1.HR_ID) >= 5
						) AS Y 
					) Z ON 1=1
			WHERE	H.ID = 8;
		end


		PRINT('HR where atleast 10 profiles are shared in 10 days')
		begin

			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRNoProfileSharedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT COUNT(Y.HR_ID) AS TotalHRNoProfileSharedCount
						FROM (
						    SELECT H1.HR_ID, COUNT(H1.HR_ID) AS ProfShareDays
						    FROM #HR_Records H1
								INNER JOIN #HRStateTbl HS on H1.HRStatus = HS.StateID
						    WHERE (CAST(H1.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date)) And Action_ID = 6
							and Isnull(H1.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H1.IsHRTypeDP,0)) 
							and Isnull(H1.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H1.ModeOfWork,'')) 
							AND DATEDIFF(day,CAST(dbo.Excluding_WeekDays(H1.HRAcceptedDateTime,10) as date),CAST(H1.CreatedByDateTime as date)) <= 0
							
						    GROUP BY H1.HR_ID
							HAVING COUNT(H1.HR_ID) >= 10
						) AS Y 
					) Z ON 1=1
			WHERE	H.ID = 9;
		end


		PRINT('HR where atleast 1 profile is shared in 2 days')
		begin

			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRNoProfileSharedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT COUNT(Y.HR_ID) AS TotalHRNoProfileSharedCount
						FROM (
						    SELECT H1.HR_ID, COUNT(H1.HR_ID) AS ProfShareDays
						    FROM #HR_Records H1
								INNER JOIN #HRStateTbl HS on H1.HRStatus = HS.StateID
						    WHERE (CAST(H1.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date)) And Action_ID = 6
							and Isnull(H1.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H1.IsHRTypeDP,0)) 
							and Isnull(H1.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H1.ModeOfWork,'')) 
							AND DATEDIFF(day,CAST(dbo.Excluding_WeekDays(H1.HRAcceptedDateTime,2) as date),CAST(H1.CreatedByDateTime as date)) <= 0
							
						    GROUP BY H1.HR_ID
							HAVING COUNT(H1.HR_ID) >= 1
						) AS Y 
					) Z ON 1=1
			WHERE	H.ID = 10;
		end


		PRINT('HR where atleast 1 profile is shared in 5 days')
		begin

			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRNoProfileSharedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT COUNT(Y.HR_ID) AS TotalHRNoProfileSharedCount
						FROM (
						    SELECT H1.HR_ID, COUNT(H1.HR_ID) AS ProfShareDays
						    FROM #HR_Records H1
								INNER JOIN #HRStateTbl HS on H1.HRStatus = HS.StateID
						    WHERE (CAST(H1.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date)) And Action_ID = 6
							and Isnull(H1.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H1.IsHRTypeDP,0)) 
							and Isnull(H1.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H1.ModeOfWork,'')) 
							AND DATEDIFF(day,CAST(dbo.Excluding_WeekDays(H1.HRAcceptedDateTime,5) as date),CAST(H1.CreatedByDateTime as date)) <= 0
							
						    GROUP BY H1.HR_ID
							HAVING COUNT(H1.HR_ID) >= 1
						) AS Y 
					) Z ON 1=1
			WHERE	H.ID = 11;
		end

		PRINT('HR where atleast 3 profiles are shared in 3 days')
		begin


			UPDATE	H
			SET		H.StageValue = ISNULL(Z.TotalHRNoProfileSharedCount,0)
			FROM	#HR_ReportRecords H
					INNER JOIN
					(
						SELECT COUNT(Y.HR_ID) AS TotalHRNoProfileSharedCount
						FROM (
						    SELECT	H1.HR_ID, COUNT(H1.HR_ID) AS ProfShareDays
						    FROM	#HR_Records H1
									INNER JOIN #HRStateTbl HS on H1.HRStatus = HS.StateID
						    WHERE	(CAST(H1.CreatedByDateTime as date) BETWEEN CAST(@FromDate as date) and CAST(@ToDate as date)) And Action_ID = 6
									and Isnull(H1.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H1.IsHRTypeDP,0)) 
									and Isnull(H1.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H1.ModeOfWork,'')) 
									AND DATEDIFF(day,CAST(dbo.Excluding_WeekDays(H1.HRAcceptedDateTime,3) as date),CAST(H1.CreatedByDateTime as date)) <= 0
									AND H1.IsActive = 1 AND H1.IsAccepted = 1 
							GROUP BY H1.HR_ID
							HAVING COUNT(H1.HR_ID) >= 3
						) AS Y 
					) Z ON 1=1
			WHERE	H.ID = 12;
		end

		select StageName, StageValue from #HR_ReportRecords;

	COMMIT TRAN T1_HRReport

END