ALTER Procedure [dbo].[Sproc_Get_AM_User]
AS
BEGIN
		SELECT DISTINCT usr.FullName, usr.ID 
		FROM	usr_User usr With(NOLOCK)
				INNER JOIN usr_UserType ut WITH(NOLOCK) ON usr.UserTypeID = ut.ID
				--INNER JOIN usr_UserGeoDetails ugd WITH(NOLOCK) ON usr.ID = ugd.User_ID
		WHERE	usr.UserTypeID in (4,9) AND usr.IsNewUser = 0
		ORDER BY usr.FullName 
END
