USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_TalentEngagementConverted_C2H]    Script Date: 31-05-2024 13:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_TalentEngagementConverted_C2H]
    @OnBoardID							BIGINT= null,
	@DPPercentage					    DECIMAL(18,2)= null,	
	@DPAmount						    DECIMAL(18,2)= null,
	@TalentCost							DECIMAL(18,2) = null ,
	@ContractStartDate					Datetime = null ,
	@LoggedInUserID					    INT = NULL,
	@AppActionDoneBy					INT = 1	--Action Done By 1 = Admin, 2 = ATS, 3 = UTS (new)
AS
BEGIN	

					----To insert DP Contract Type for Contract to Hire ( C2H )
					DECLARE @NewOnBoardID		    as bigint = 0
					DECLARE @HiringRequestID		as bigint = 0
					--DECLARE @DPAmount				as decimal(18,2) = 0
					DECLARE @NewEngagement_ID		as Nvarchar(50) = ''
					DECLARE @TopEngagment_ID		as Nvarchar(50) = ''
					declare @CurrencyExchange_Rate  as decimal(18,2)=0
					declare @qty					as int
					
					DECLARE @Company_Id				as bigint = 0
					Declare @AM_SalesPersonID		as bigint = 0
					Declare @HiringRequestDetailID	as BIGINT = null
					Declare @ContactID				as BIGINT= null
	
					
					SELECT	@NewEngagement_ID = EngagemenID + 'C2H' ,@HiringRequestID = HiringRequest_ID 
					FROM	gen_OnBoardTalents WITH(NOLOCK) 
					WHERE	ID = @OnBoardID

					select top 1 @TopEngagment_ID = EngagemenID 
					from   gen_OnBoardTalents WITH(NOLOCK)
					WHERE  HiringRequest_ID = @HiringRequestID AND CHARINDEX('C2H',EngagemenID) > 0
					Order BY ID desc

					--IF (@DPPercentage > 0 ) ---DP + Transparent Price
				 --   BEGIN
					
					--	SET @DPAmount = ((@TalentCost * 12) * @DPPercentage) / 100
					--	print @DPAmount
				  
				 --   END

					--for change logic of engaggementID
					select	@CurrencyExchange_Rate = ISNULL(CE.ExchangeRate,0),							@qty = Isnull(HD.NoofEmployee,0)					from	gen_SalesHiringRequest H WIth(nolock)							inner join gen_SalesHiringRequest_Details HD with(NOLOCK) ON HD.HiringRequest_ID = H.ID									inner join prg_CurrencyExchangeRate CE with(NOLOCK) ON CE.CurrencyCode = HD.Currency					where   H.Id = @HiringRequestID

					BEGIN -- SET the New Engagement ID
					if(CHARINDEX('C2H',@TopEngagment_ID) > 0)
						begin 
								DECLARE @Engagement_No as Nvarchar(50) = ''
								DECLARE @Engagement_Index as int = 0

								SELECT  top 1  @Engagement_No = val 
								from	dbo.f_split((
														@TopEngagment_ID
													),'_')  
								
								SELECT  top 1  @Engagement_Index = val 
								from	dbo.f_split((
														@TopEngagment_ID
													),'_') 
								WHERE	seq <> 1
								order by seq desc
																						

								print @Engagement_Index	
								SELECT  @NewEngagement_ID = @Engagement_No + '_' + cast((@Engagement_Index + 1) as nvarchar(50))
							END
						END

					INSERT INTO [dbo].[gen_OnBoardTalents]
						   ([EngagemenID]
						   ,[HiringRequest_ID]
						   ,[HiringRequest_Detail_ID]
						   ,[ContactID]
						   ,[Talent_ID]
						   ,[Shortlisted_InterviewID]
						   ,[HiredDate]
						   
						   ,[Status_ID]
						   ,[CreatedByID]
						   ,[CreatedByDatetime]
						   ,ClientOnBoarding_StatusID
						   ,TalentOnBoarding_StatusID
						   ,ClientLegal_StatusID
						   ,TalentLegal_StatusID
						   ,Kickoff_StatusID
						   ,Final_HR_Cost
						   ,Talent_Cost
						   ,DPPercentage
						   ,DPAmount
						   ,CurrencyExchangeRate
						   )
    
					Select  EngagemenID = @NewEngagement_ID 
						  ,HiringRequest_ID
						  ,HiringRequest_Detail_ID
						  ,ContactID				 
						  ,Talent_ID
						  ,Shortlisted_InterviewID
						  ,GETDATE()
						  
						  ,1
						  ,@LoggedInUserID
						  ,GETDATE()
						  ,ClientOnBoarding_StatusID
						  ,TalentOnBoarding_StatusID
						  ,ClientLegal_StatusID
						  ,TalentLegal_StatusID
						  ,Kickoff_StatusID
						  ,@DPAmount
						  ,@TalentCost
						  ,@DPPercentage
						  ,@DPAmount
						  ,@CurrencyExchange_Rate
					 from	gen_OnBoardTalents WITH(NOLOCK)
					 where  ID = @OnBoardID
					
						SET @NewOnBoardID = SCOPE_IDENTITY();
						

					IF(@NewOnBoardID>0)
						BEGIN
								
							IF Not Exists (Select 1 from gen_OnBoardClientContractDetails with(NOLOCK) where OnBoardID = @NewOnBoardID)
								BEGIN
										INSERT 
										INTO	gen_OnBoardClientContractDetails
												(
												 OnBoardID
												,ContractType
												,ContractDuration
												,TotalDurationInMonths
												,ContractStartDate
												,ContractEndDate
												,PunchStartTime
												,PunchEndTime
												,TalentWorkingTimeZone
												,Timezone_Preference_ID
												,CreatedByID
												,CreatedByDatetime
												)
										Select	 @NewOnBoardID												 
												,ContractType
												,12
												,12
												,@ContractStartDate
												,DATEADD(YEAR, 1, @ContractStartDate) 
												,PunchStartTime
												,PunchEndTime
												,TalentWorkingTimeZone
												,Timezone_Preference_ID
												,@LoggedInUserID
												,GETDATE()
										from	gen_OnBoardTalents OBT WITH(NOLOCK)
												inner join gen_OnBoardClientContractDetails OBTD WITH(NOLOCK) ON OBT.ID = OBTD.OnBoardID
										WHERE	OBT.ID = @OnBoardID 
								END
								
						END

					SELECT @NewOnBoardID as C2HOnBoardId
END
