--EXEC Sproc_GetClientHRs_NoProfileShortListed_ForEmail
ALTER PROCEDURE [dbo].[Sproc_GetClientHRs_NoProfileShortListed_ForEmail]

AS

BEGIN
		--Commented Jimit 04-06-24 UTS-7505 
		--SELECT		MAx(CPC.ID) as ID,CPC.ContactID
		--into		#POCDetails
		--FROM		gen_ContactPointofContact CPC WITH(NOLOCK)				
		--GRoup By	CPC.ContactID
	
		SELECT  COUNT(CTP.ID) ShortListedCount, CTP.HiringRequestID
		into    #ShortlistedCount
		FROM	gen_ContactTalentPriority CTP with(nolock) 
				inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID = CTP.HiringRequestID
				INNER JOIN gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.ID
		WHERE	CTP.HiringRequestID = HR.ID AND CTP.ContactID = HR.ContactID 
				AND CTP.HiringRequest_Detail_ID = HRD.ID AND CTP.TalentStatusID_BasedOnHR in(2,3)
				AND HRD.RoleStatus_ID in (2,4,5)
		GROUP BY CTP.HiringRequestID

	SELECT   Hr.ID HrId
			, HR.ContactID
			, 'Active' HrStatus
			, 0 ReviewedProfilesCount
			, 0 PotentialMatchesCount
			, C.FullName
			, C.EmailID
			, U.ID PocId
			, U.FullName PocName
			, U.EmailID	PocEmail
			, U.ContactNumber PocPhone
			, U.Designation PocDesignation
			, HR.HR_Number 
	
	FROM	gen_SalesHiringRequest HR WITH(NOLOCK)
			INNER JOIN gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.ID
			INNER JOIN gen_contact C WITH(NOLOCK) ON  C.ID = HR.ContactID
			--INNER join #POCDetails POC ON POC.ContactID = C.ID
			--INNER join gen_ContactPointofContact CPC WITH(NOLOCK) ON CPC.ID = POC.ID
			INNER JOIN usr_User U WITH(NOLOCK) ON HR.SalesUserID = U.ID --CPC.[User_ID] = U.ID
			inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
			LEFT join #ShortlistedCount Shortlisted ON Shortlisted.HiringRequestID = HR.ID
			
			--OUTER APPLY (
			--				SELECT TOP 1 U.* 
			--				FROM gen_ContactPointofContact CPC WITH(NOLOCK) 
			--		INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
			--		WHERE CPC.ContactID = C.ID
			--	) CPC 
			--OUTER APPLY(
			--	SELECT COUNT(CTP.ID) ShortListedCount, CTP.HiringRequestID
			--	FROM gen_ContactTalentPriority CTP with(nolock) 
			--	WHERE CTP.HiringRequestID = HR.ID 
			--			AND CTP.ContactID = HR.ContactID 
			--			AND CTP.HiringRequest_Detail_ID = HRD.ID 
			--			AND CTP.TalentStatusID_BasedOnHR in(2,3)
			--			AND HRD.RoleStatus_ID  in(2,4,5)
			--	GROUP BY CTP.HiringRequestID
			--) Shortlisted

	WHERE	C.IsFromSignUp = 1 
			AND ISNULL(Shortlisted.ShortListedCount,0) = 0
			AND HR.Status_ID in (1,2) AND Isnull(HR.JobStatusID,0) in (1,3,4,5)
			AND ISNULL(CO.CompanyTypeID,0) = 1
	--DROP TABLE #POCDetails
	DROP TABLE #ShortlistedCount


	UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_GetClientHRs_NoProfileShortListed_ForEmail'

END
