	--EXEC Sproc_GetClientWithNoJobPosts_ForWeeklyReminderEmail
ALTER PROCEDURE [dbo].[Sproc_GetClientWithNoJobPosts_ForWeeklyReminderEmail]

AS

BEGIN

	SELECT COUNT(C.ID) OVER() TotalClients
			, C.ID ContactId
			, C.FullName
			, C.EmailID
			, CONVERT(VARCHAR(15), C.CreatedByDatetime	, 103) CreatedByDatetime	
			, U.ID PocId
			, U.FullName PocName
			, U.EmailID	PocEmail
			, U.ContactNumber PocPhone
			, U.Designation PocDesignation

	FROM	gen_Contact C WITH(NOLOCK)
			inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
			INNER JOIN usr_User U WITH(NOLOCK) ON Isnull(CO.AM_SalesPersonID,CO.NBD_SalesPersonID) = U.ID --CPC.User_ID = U.ID
			--OUTER APPLY (
			--				SELECT TOP 1 U.* 
			--				FROM gen_ContactPointofContact CPC WITH(NOLOCK) 
			--				INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
			--				WHERE CPC.ContactID = C.ID
			--				) CPC 

	WHERE	NOT EXISTS (SELECT HR.ContactID FROM gen_SalesHiringRequest HR WHERE HR.ContactID = C.ID)
			AND	C.IsFromSignUp = 1 
			AND CAST(C.CreatedByDatetime AS DATE) < CAST(GETDATE() AS DATE)
			AND ISNULL(CO.CompanyTypeID,0) = 1


	UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_GetClientWithNoJobPosts_ForWeeklyReminderEmail'
END

