ALTER proc [dbo].[sproc_UTS_UpdateTalentRejectReason]
	@HiringRequestDetailId		BIGINT			=	NULL,
	@TalentId					BIGINT			=	NULL ,
	@RejectReason_ID			BIGINT			=	NULL,
	@OtherRejectReason			NVARCHAR(2000)	=	NULL,
	@OnHoldRemark				NVARCHAR(1000)	=	NULL,
	@LossRemark					NVARCHAR(1000)	=	NULL, --Remark/comment from ui
	@ModifyByID					INT				=	NULL,
	@HRID						BIGINT			=	NULL,
	@AppActionDoneBy			int				=	0
As
BEGIN
	
	--DECLARE @ContactID  BIGINT = NULL
	--SELECT @ContactID = ContactID FROM gen_saleshiringrequest WITH (NOLOCK)  WHERE id = @HRID
	
	UPDATE	TalentPr 
	SET		TalentPr.RejectReasonID = @RejectReason_ID,
			TalentPr.OtherRejectReason = @OtherRejectReason,
			--TalentPr.OnHoldRemark = @OnHoldRemark,
			TalentPr.LossRemark= @LossRemark,
			TalentPr.ModifiedByID = @ModifyByID,
			TalentPr.ModifiedByDatetime = GETDATE()
	FROM	gen_ContactTalentPriority TalentPr 															
	WHERE	
	--TalentPr.HiringRequest_Detail_ID = @HiringRequestDetailId AND 
	TalentPr.TalentID = @TalentId AND HiringRequestID = @HRID

		----added by Payal, after reject talent if hr is completed than based on tr, again HR will be in process
		--EXEC Sproc_UTS_UpdateHRActive_BasedonQty
		--@HR_ID = @HRID,
		--@Talent_ID = @TalentId,
		--@CreatedModifiedId =  @ModifyByID


		--- Payal 07-08-2024 remove all below code for Talent Backout

	--	--Added Jimit 20-05-24 For Talent BackOut Case Mark HR in InProcess if TR > 1 otherwise Close - Lost.  
	--	DECLARE @NoofTalents as int = 0
	--	Declare @CurrentJobStatus as int = 0
	--	Declare @HR_RoleStatus as int = 0
	--	Declare @StatusID as int = 0
	--	DEclare @IsManagedByClient as int = CASE WHEN @AppActionDoneBy = 4 then 1 else 0 end
	--	Declare @OnBoardId as bigint = 0

				
	--IF Exists(Select 1 from gen_History WITH(NOLOCK) WHERE HiringRequest_ID = @HRID and Talent_ID = @TalentId and Action_ID = 12)
	--	BEGIN
	--	IF @RejectReason_ID <> 0
	--	BEGIN
	--		SELECT	@NoofTalents = NoofTalents,@CurrentJobStatus = JobStatusID
	--		from	gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID
									
	--		select @OnBoardId = Id from gen_OnBoardTalents WITH(NOLOCK) where HiringRequest_ID = @HRID and Talent_ID = @TalentId


	--		IF EXists(select 1 from gen_OnBoardClientContractDetails WITH(NOLOCK) WHERE OnBoardID = @OnBoardId 
	--					and  (Isnull(ContractStartDate,'') = '' or cast(ContractStartDate as date) > cast(getdate() as date))
	--					)
	--		BEGIN
	--				exec Sproc_Delete_Engagement_TalentBackout @OnBoardId,@ModifyByID
	--		END
											 


	--		IF @NoofTalents = 1
	--		BEGIN
												
											 
	--		SET  @StatusID = 6 

	--		UPDATE  gen_SalesHiringRequest
	--		SET	  
	--		Status_ID = @StatusID,
	--		JobStatusID = 2,
	--		JobExpiredORClosedDate = GETDATE(),
	--		LastModifiedDatetime = GETDATE(),
	--		LastModifiedByID = @ModifyByID
	--		WHERE   ID = @HRID

	--		SELECT 
	--		top 1	 @HR_RoleStatus = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
	--		FROM   prg_HiringRequestStatus HS WITH(NOLOCK) 
	--				INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID                
	--		WHERE HS.ID = @StatusID  

	--		Update gen_SalesHiringRequest_Details
	--		SET	 RoleStatus_ID = @HR_RoleStatus
	--		where  HiringRequest_ID = @HrID

	--		EXEC sproc_HiringRequest_History_Insert @Action = 'Close_HR', @HiringRequest_ID = @HRID,
	--			@Talent_ID = 0, @Created_From = 0,@CreatedById = @ModifyByID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
	--			@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @IsManagedByClient,
	--			@IsManagedByTalent = 0, @SalesUserID = 0,
	--			@OldSalesUserID = 0, @AppActionDoneBy = @AppActionDoneBy
	--		END
	--		--ELSE      As Discussed with mam commented as mam need time to think about logic
	--		--	BEGIN
												 
	--		--			  UPDATE  gen_SalesHiringRequest
	--		--			  SET	  Status_ID = 2,JobStatusID = case when @CurrentJobStatus <> 1 then 1 else JobStatusID end
	--		--			  WHERE   ID = @HRID



	--		--			  SELECT 
	--		--			  top 1	 @HR_RoleStatus = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
	--		--			  FROM   prg_HiringRequestStatus HS WITH(NOLOCK) 
	--		--					 INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID                
	--		--			   WHERE HS.ID = 2  

	--		--			  Update gen_SalesHiringRequest_Details
	--		--			  SET	 RoleStatus_ID = @HR_RoleStatus
	--		--			  where  HiringRequest_ID = @HrID
	--		--	END
			--END
		--END
END
