ALTER PROCEDURE [dbo].[Sproc_Get_Engagement_Renewal_Emails_EngagementList]	
AS
BEGIN


        -- Payal (06-08-2024) isnuLL(OBC.IsOngoing,0) =0 is used of Contract Eng also define as Ongoing as we have given option in Renewal Popup) 
		-- So Ongoing contracts / DP eng dont have renewal emails 

		select  OnBoardID = OBT.ID,EngagemenID = OBT.EngagemenID				
		From    gen_OnBoardTalents OBT WITH(NOLOCK)
				inner join gen_OnBoardClientContractDetails OBC WITH(NOLOCK) ON OBT.ID = OBC.OnBoardID				
		Where   cast(DateAdd(d,-60,OBC.ContractEndDate) as date) = cast(GetDate() as date)
				and OBT.Status_ID = 1  and Isnull(OBC.IsRenewalInitiated,0) = 0 and  (isnuLL(OBT.NRPercentage,0) >0 OR  isnuLL(OBC.IsOngoing,0) =0) 
				and (OBC.LastWorkingDate is null or cast(OBC.LastWorkingDate as date) > cast(Getdate() as date) )

		Union ALL
		
		select  OnBoardID = OBT.ID,EngagemenID = OBT.EngagemenID				
		From    gen_OnBoardTalents OBT WITH(NOLOCK)
				inner join gen_OnBoardClientContractDetails OBC WITH(NOLOCK) ON OBT.ID = OBC.OnBoardID				
		Where   cast(DateAdd(d,-30,OBC.ContractEndDate) as date) = cast(GetDate() as date)
				and OBT.Status_ID = 1 and Isnull(OBC.IsRenewalInitiated,0) = 0 and  (isnuLL(OBT.NRPercentage,0) > 0 OR  isnuLL(OBC.IsOngoing,0) =0)
				and (OBC.LastWorkingDate is null or cast(OBC.LastWorkingDate as date) > cast(Getdate() as date) )

		Union ALL
		
		select  OnBoardID = OBT.ID,EngagemenID = OBT.EngagemenID				
		From    gen_OnBoardTalents OBT WITH(NOLOCK)
				inner join gen_OnBoardClientContractDetails OBC WITH(NOLOCK) ON OBT.ID = OBC.OnBoardID				
		Where   cast(DateAdd(d,-15,OBC.ContractEndDate) as date) = cast(GetDate() as date)
				and OBT.Status_ID = 1 and Isnull(OBC.IsRenewalInitiated,0) = 0 and  (isnuLL(OBT.NRPercentage,0) > 0 OR  isnuLL(OBC.IsOngoing,0) =0) 
				and (OBC.LastWorkingDate is null or cast(OBC.LastWorkingDate as date) > cast(Getdate() as date) )


		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_Engagement_Renewal_Emails_EngagementList'

END