USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CompanyDetail_TransferToATS]    Script Date: 19-09-2024 11:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------------------------------------------------------------------------
ALTER PROCEDURE [dbo].[Sproc_CompanyDetail_TransferToATS] 
	@ComapnyID BIGINT
AS
BEGIN
	SELECT 
	C.ID,
	C.Company,
	C.Website,
	CAST(0 AS INT) AS domain_id,
	C.LinkedInProfile,
	C.CompanySize,
	CAST(0 AS INT) AS TimeZone_ID,
	C.CurrencyID,
	Address = ISNULL(C.Address,''),
	phone = ISNULL(C.phone,''),
	industry = ISNULL(C.industry,''),
	city = ISNULL(C.city,''),
	state = ISNULL(C.state,''),
	country = ISNULL(C.country,''),
	zip = ISNULL(C.zip,''),
	CAST(0 AS BIT) AS IsNDASigned,
	C.CreatedByID,
	C.CreatedByDatetime,
	C.ModifiedByID,
	C.ModifiedByDatetime,
	IsActive = ISNULL(C.IsActive,0),
	Location = ISNULL(C.Location,''),
	Client_StatusID = ISNULL(C.Client_StatusID,0),
	CAST(0 AS INT) AS TeamManagement,
	Score = ISNULL(C.Score,0),
	Category = ISNULL(C.Category,''),
	GEO_ID = ISNULL(C.GEO_ID,0),
	C.AM_SalesPersonID,
	C.NBD_SalesPersonID,
	Discovery_Call = ISNULL(C.Discovery_Call,''),
	Lead_Type = ISNULL(C.Lead_Type,''),
	CompanyLogo = ISNULL(C.CompanyLogo,''),
	CompanyIndustry_Type = ISNULL(C.industry,''),
	CompanyGEO = ISNULL(G.GEO,''),
	AboutCompany = ISNULL(C.about_Company_desc,''),
	HRTypeID = ISNULL(C.CompanyTypeId,0),
	HRTypeText = ISNULL(CT.CompanyType,''),
	AnotherHRTypeID = ISNULL(C.AnotherCompanyTypeId,0),
	AnotherHRTypeText = ISNULL(CT1.CompanyType,'') ,
	C.VettedProfileViewCredit,
	C.NonVettedProfileViewCredit,
	CASE WHEN C.CompanyTypeId > 0 AND C.AnotherCompanyTypeId > 0 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS IsHybrid,
	ISNULL(CD.FoundedYear,'') AS FoundedYear,
	Isnull(CD.CompanyType,'') AS CompanyType,
	Isnull(CD.Headquaters,'') AS Headquaters,
	Isnull(CD.Culture,'') AS Culture,
	ISNULL(CD.IsSelfFunded,0) AS IsSelfFunded,
	CASE WHEN ISNULL(CD.IsSelfFunded,0) = 1 THEN '' ELSE ISNULL(CD.TotalFundings,'') END AS TotalFundings,
	ISNULL(C.JPCreditBalance,0) as JPCreditBalance,
	IsPostaJob = Isnull(C.IsPostaJob,0),
	IsProfileView = Isnull(C.IsProfileView,0),
	CreditAmount = Isnull(C.CreditAmount,0),
	CreditCurrency = Isnull(C.CreditCurrency,''),
	JobPostCredit=IsNull(C.JobPostCredit,0),
	CompanyNumber=ISNULL(C.CompanyNumber,'')
	--Isnull(CD.TotalFundings,'') AS TotalFundings,
	FROM gen_Company C WITH (NOLOCK) 
	LEFT JOIN prg_GEO G WITH (NOLOCK) on G.ID = C.GEO_ID
	LEFT JOIN prg_CompanyType CT WITH (NOLOCK) on CT.ID = C.CompanyTypeId
	LEFT JOIN prg_CompanyType CT1 WITH (NOLOCK) on CT1.ID = C.AnotherCompanyTypeId
	LEFT JOIN gen_Company_Details CD WITH(NOLOCK) ON C.ID = CD.CompanyId
	WHERE C.ID =  @ComapnyID
END

