--exec sproc_UTS_GetAMAssignments
ALTER Procedure [dbo].[sproc_UTS_GetAMAssignments]
	@PageIndex				INT = 1,
	@PageSize				INT = 20,
	@SortExpression			nvarchar(100) = 'ID',
	@SortDirection			nvarchar(100) = 'desc',
	@GEOName				varchar(200) = '',
	@UserName				varchar(200) = NULL,
	@Priority               INT = null         
AS
BEGIN
	
	DECLARE @WhereClauseSQL nvarchar(max) = ''
	DECLARE @MainSQL nvarchar(max) = ''
	DECLARE @WhereClauseSQL1 nvarchar(max) = ''
		IF isnull(@GEOName,'') <> ''
			SET @WhereClauseSQL += ' AND G.GEO LIKE ''%' + CONVERT(nvarchar,@GEOName) + '%'''
		IF isnull(@UserName,'') <> ''
			SET @WhereClauseSQL += ' AND U.UserName LIKE ''%' + CONVERT(nvarchar,@UserName) + '%'''
		--IF @Priority is not null
		--	SET @WhereClauseSQL1 += ' AND U.Priority = '+ CONVERT(nvarchar,@Priority) +''

		SET @MainSQL= ';WITH CTE_Records AS (
						SELECT	distinct U.ID, U.Fullname as UserName, G.GEO AS GEOName, 
								BAUTD.SortNo As Priority,BAUTD.IsDeleted as IsDeleted, 1 as TotalCountID
						FROM	usr_User U WITH(NOLOCK) 
								INNER JOIN usr_UserType UT WITH(NOLOCK) ON U.UserTypeID = UT.ID		
								INNER JOIN gen_Team_Distribution BAUTD WITH(NOLOCK) on BAUTD.UserID = U.ID 
								inner join usr_UserGeoDetails UG WITH(NOLOCK) ON UG.User_ID = U.ID and UG.Geo_ID = BAUTD.GEOID
								inner JOIN prg_GEO G WITH(NOLOCK) ON UG.GEO_ID = G.ID
						WHERE  1=1 
									AND ((U.UserTypeID = 4 or U.UserTypeID = 9) and ISNULL(U.IsNewUser,0) = 0) ' + @WhereClauseSQL + '
									)
									,Cte_TotalCount AS(
										Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
									)
			SELECT U.ID, U.UserName, U.GEOName, U.Priority,U.IsDeleted,T.TotalRecords 
			FROM CTE_Records U INNER JOIN Cte_TotalCount T on T.TotalCountID = U.TotalCountID WHERE 1=1 ' + @WhereClauseSQL1 + '';
			
			
			SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

			IF(@PageSize>0)
			BEGIN
				SET @MainSQL = @MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
											FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
			END

			PRINT(@MainSQL)
			EXECUTE sp_executesql @MainSQL		  	
END

