ALTER PROCEDURE [dbo].[Sproc_Add_Actual_BR_PR_NR]
  @OnBoardID		bigint = null,
  @BR				decimal(18,2) = null,
  @PR				decimal(18,2) = null,
  @NR				decimal(18,2) = null,
  @CommentsBR		Nvarchar(max) = null,
  @CommentsPR		Nvarchar(max) = null,
  @CurrencyCode		Nvarchar(10)  = null,
  @Month			int			  = null,
  @Year				int			  = null,
  @ReasonBR			Nvarchar(Max) = null,
  @ReasonPR			Nvarchar(Max) = null,
  @ContractType		Nvarchar(50)  = null
AS
BEGIN
	DECLARE @Actual_NR_Percentage decimal(18,2) = NULL 
	DECLARE @OldContractType   Nvarchar(50)  = null
	DEclare @UplersFeesAmount  as Decimal(18,2) = NULL

	If EXISTS(select 1 from gen_Payout_Information WITH(NOLOCK) WHERE OnBoardID = @OnBoardID AND MONTH(ClientInvoiceDate) = @Month AND Year(ClientInvoiceDate) = @Year)
		BEGIN
				
				SET @OldContractType = (SELECT TOP 1 ContractType FROM gen_Payout_Information WITH(NOLOCK) WHERE OnBoardID = @OnBoardID AND MONTH(ClientInvoiceDate) = @Month AND Year(ClientInvoiceDate) = @Year ORDER BY ID DESC)
				
				IF ISNULL(@BR,0) > 0 AND  ISNULL(@PR,0) > 0
				BEGIN

					--SET @Actual_NR_Percentage = (1 - (@PR / @BR)) * 100

					SELECT 
					@BR = CalculatedClientPay, 
					@PR = CalculatedTalentPay, 
					@UplersFeesAmount = CalculatedUplersFeesInAmount, 
					@Actual_NR_Percentage = CalculatedUplersFeesInPer
					FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@PR, @BR, 0, 0, 0);
					
				END

				UPdate  gen_Payout_Information WITH(UPDLOCK) 
				SET		Actual_Bill_Rate = ISNULL(@BR, Actual_Bill_Rate),
						Actual_pay_Rate = ISNULL(@PR, Actual_pay_Rate),
						Actual_Currency = ISNULL(@CurrencyCode, Actual_Currency),
						Actual_CommentsBR = ISNULL(@CommentsBR, Actual_CommentsBR),
						Actual_CommentsPR = ISNULL(@CommentsPR, Actual_CommentsPR),
						Actual_NR_Percentage = ISNULL(@Actual_NR_Percentage, Actual_NR_Percentage),
						Reason_BR = ISNULL(@ReasonBR, Reason_BR),
						Reason_PR = ISNULL(@ReasonPR, Reason_PR),
						CurrencyExchangeCode = ISNULL(@CurrencyCode, CurrencyExchangeCode)
				WHERE   OnBoardID = @OnBoardID and MONTH(ClientInvoiceDate) = @Month and YEAR(ClientInvoiceDate) = @Year

				--Update Contract type
				IF @ContractType IS NOT NULL AND @ContractType <> ISNULL(@OldContractType,'')
				BEGIN
					UPdate  gen_Payout_Information WITH(UPDLOCK) 
					SET ContractType = ISNULL(@ContractType, ContractType)
					WHERE OnBoardID = @OnBoardID AND
						  MONTH(ClientInvoiceDate) >= @Month AND
						  YEAR(ClientInvoiceDate) >=  @year
				END
				
		END


END