USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_CRStatusCount_ClientPortal]    Script Date: 16-02-2024 16:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_CRStatusCount_ClientPortal]
  @HRID				bigint = 0
AS
BEGIN

		IF Object_ID('tempdb..#StatusCount') is not null
			DROP TABLE #StatusCount

		CREATE TABLE #StatusCount
		(	
			ID					int primary key,
			ALLcount			int,			
			MyListCount			int,
			ContactedCount		int,
			SubmittedCount		int,
			AssesmentCount		int,
			InterviewCount		int,
			OfferedCount		int,
			HiredCount			int,
			RejectedCount		int
		)

		Insert into #StatusCount(ID,ALLcount)
		Select  CTP.HiringRequestID, COUNT(ID)
		from    gen_ContactTalentPriority CTP WITH(NOLOCK)
		Where   CTP.HiringRequestID = @HRID
		GROUP BY HiringRequestID
		
		Update S
		SET    S.MyListCount = Isnull(Q.BookMarkedCount,0)
		From   #StatusCount S
			   inner join 
			   (
					select  count(SC.ID) BookMarkedCount
					from    gen_ShortlistedTalents_ClientPortal SC WITH(NOLOCK) 
					WHERE   ISNULL(SC.IsBookMarked,0) = 1 and HRID = @HRID
				)Q	ON 1 = 1

		

		Update S
		SET    S.ContactedCount = Isnull(Q.ContactedCount,0)
		From   #StatusCount S
			   inner join 
			   (
					Select	Count(ID) ContactedCount 
					from    gen_ContactTalentPriority CTP WITH(NOLOCK)
					Where	Isnull(TalentStatusID_ClientPortal,0) = 2 and HiringRequestID = @HRID
				)Q	ON 1 = 1

		Update S
		SET    S.SubmittedCount = Isnull(Q.SubmittedCount,0)
		From   #StatusCount S
			   inner join 
			   (
					Select	Count(ID) SubmittedCount 
					from    gen_ContactTalentPriority CTP WITH(NOLOCK)
					Where	Isnull(TalentStatusID_ClientPortal,0) = 3 and HiringRequestID = @HRID
				)Q	ON 1 = 1

		Update S
		SET    S.AssesmentCount = Isnull(Q.AssesmentCount,0)
		From   #StatusCount S
			   inner join 
			   (
					Select	Count(ID) AssesmentCount 
					from    gen_ContactTalentPriority CTP WITH(NOLOCK)
					Where	Isnull(TalentStatusID_ClientPortal,0) = 4 and HiringRequestID = @HRID
				)Q	ON 1 = 1

		Update S
		SET    S.InterviewCount = Isnull(Q.InterviewCount,0)
		From   #StatusCount S
			   inner join 
			   (
					Select	Count(ID) InterviewCount 
					from    gen_ContactTalentPriority CTP WITH(NOLOCK)
					Where	Isnull(TalentStatusID_ClientPortal,0) = 5 and HiringRequestID = @HRID
				)Q	ON 1 = 1

		Update S
		SET    S.OfferedCount = Isnull(Q.OfferedCount,0)
		From   #StatusCount S
			   inner join 
			   (
					Select	Count(ID) OfferedCount 
					from    gen_ContactTalentPriority CTP WITH(NOLOCK)
					Where	Isnull(TalentStatusID_ClientPortal,0) = 6 and HiringRequestID = @HRID
				)Q	ON 1 = 1

		Update S
		SET    S.HiredCount = Isnull(Q.HiredCount,0)
		From   #StatusCount S
			   inner join 
			   (
					Select	Count(ID) HiredCount 
					from    gen_ContactTalentPriority CTP WITH(NOLOCK)
					Where	Isnull(TalentStatusID_ClientPortal,0) = 7 and HiringRequestID = @HRID
				)Q	ON 1 = 1

		Update S
		SET    S.RejectedCount = Isnull(Q.RejectedCount,0)
		From   #StatusCount S
			   inner join 
			   (
					Select	Count(ID) RejectedCount 
					from    gen_ContactTalentPriority CTP WITH(NOLOCK)
					Where	Isnull(TalentStatusID_ClientPortal,0) = 8 and HiringRequestID = @HRID
				)Q	ON 1 = 1

		SELECT * from #StatusCount

		DROP TABLE #StatusCount

END