USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_Get_Replacement_Report]    Script Date: 11-06-2024 15:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[sproc_Get_Replacement_Report]
	@PageIndex			INT = 1,  
	@PageSize			INT = 50,  
	@SortExpression		NVARCHAR(100) = 'ReplacementDate',  
	@SortDirection		NVARCHAR(100) = 'desc',	
	@FromDate			NVARCHAR(20) = '',
	@Todate				NVARCHAR(20) = '',
	@searchText			NVARCHAR(200) = ''
as
begin

		DECLARE @WhereClauseSQL nvarchar(max) = '';
		DECLARE @WhereClauseSQL1 nvarchar(max) = '';
		DECLARE @MainSQL nvarchar(max) = '';
		DECLARE @TmpDBSQL nvarchar(max) = '';
		DECLARE @Total_Records	Nvarchar(MAX) ='';


		IF OBJECT_ID('tempdb..#TempTable_HrStatus') Is not null
			DROP TABLE #TempTable_HrStatus
			

		CREATE TABLE #TempTable_HrStatus (
			HRID		BIGINT,
			HR_Number	NVARCHAR(100),
			HRStatus    NVARCHAR(100),
			HRStatusCode INT
		);
		INSERT INTO #TempTable_HrStatus(HRID, HR_Number, HRStatus, HRStatusCode)
		EXEC Sproc_UTS_Get_HRStatus @HRID = null

		

		IF OBJECT_ID('tempdb..#GetReplacementData') Is not null
			DROP TABLE #GetReplacementData

		CREATE TABLE #GetReplacementData
		(
			ID						bigint  Primary key Identity(1,1),
			OnBoardId				bigint,
			EngagementID			Nvarchar(50),
			Company					Nvarchar(200),
			Role					Nvarchar(200),
			OldHRID					Nvarchar(20),
			Talent					Nvarchar(200),
			TalentBRPR				decimal(18,2),
			DPBR				    decimal(18,2),
			UplersNR				decimal(18,2),
			StartDate				Nvarchar(20),
			EndDate					Nvarchar(20),
			ReplacementDate			Nvarchar(20),
			NewHRID					Nvarchar(20) default '',
			OldHRStatus				Nvarchar(100),
			OldHRStatusCode			Nvarchar(100),
			NewTalent				Nvarchar(200) default '',
			NewTalentBRPR			Decimal(18,2) default 0,
			NewDPBR					decimal(18,2) default 0,
			NewUplersNR				decimal(18,2) default 0,
			NewStartDate			Nvarchar(20) default '',
			NewEndDate				Nvarchar(20) default '',
			TotalRecords			int
		)

		
		
		;WITH CTE_Replacement AS 
					(
						select		OnBoardId = OBT.ID,EngagementID = OBT.EngagemenID,Company = CO.Company,Role = H.RequestForTalent,
									OldHRID = H.HR_Number,Talent = T.Name,TalentBRPR = OBT.Talent_Cost,
									DPBR = Case when Isnull(OBT.DPAmount,0) > 0 then OBT.DPAmount when Isnull(OBT.Final_HR_Cost,0) > 0 then OBT.Final_HR_Cost else 0 end,
									UplersNR = OBT.NRPercentage,
									StartDate = Convert(Nvarchar(15),Convert(DateTime,OCC.ContractStartDate,103),103),
									EndDate = Convert(Nvarchar(15),Convert(DateTime,OCC.ContractEndDate,103),103),
									ReplacementDate = Convert(Nvarchar(15),Convert(DateTime,OTR.ReplacementDate,103),103),
									OldHRStatus = ISNULL(TS.HRStatus, JS.JobStatus),
									OldHRStatusCode = ISNULL(TS.HRStatusCode, 201),TotalCount = 1,
									NewHRID = '',NewTalent = '',NewTalentBRPR = 0,
									NewDPBR = 0,
									NewUplersNR = 0,NewStartDate = '',NewEndDate = ''
						From		gen_OnBoardTalents_ReplacementDetails OTR WITH(NOLOCK) 
									inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON OBT.ID = OTR.OnboardID
									inner join gen_OnBoardClientContractDetails OCC WITH(NOLOCK) ON OTR.OnboardID = OCC.OnBoardID
									inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = OTR.HiringRequestID
									inner join gen_Talent T WITH(NOLOCK) ON T.ID = OTR.OldTalentId
									inner join gen_Contact C WITH(NOLOCK) ON C.ID = OTR.ContactID
									inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
									INNER JOIN #TempTable_HrStatus TS WITH(NOLOCK) ON TS.HRID = H.ID 
									INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = H.JobStatusID
						Where       Cast(OTR.ReplacementDate as Date) between CAST(@FromDate as DATE) and CAST(@ToDate as date)
										AND  (
										CO.Company LIKE '%' + @SearchText + '%' 
										OR H.RequestForTalent LIKE '%' + @SearchText + '%'
										OR OBT.EngagemenID LIKE '%' + @SearchText + '%'
										OR H.HR_Number LIKE '%' + @SearchText + '%'
										OR ISNULL(TS.HRStatus, JS.JobStatus) LIKE '%' + @SearchText + '%'
									)	
					)
		,Cte_ViewAllHRTotalCount AS(
									Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Replacement 
							)
		Insert	Into #GetReplacementData
		Select  OnBoardId,EngagementID,Company,Role,OldHRID,Talent,TalentBRPR,DPBR,UplersNR,StartDate,EndDate,ReplacementDate,NewHRID,OldHRStatus,OldHRStatusCode,
				 NewTalent,NewTalentBRPR,NewDPBR,NewUplersNR,NewStartDate,NewEndDate,T.TotalCountID as TotalRecords		  
		 FROM	 CTE_Replacement U 
				 INNER JOIN Cte_ViewAllHRTotalCount T on T.TotalCountID = U.TotalCount	
		 WHERE	 1=1 
				 AND  (
						U.Company LIKE '%' + @SearchText + '%' 
						OR U.Role LIKE '%' + @SearchText + '%'
						OR U.EngagementID LIKE '%' + @SearchText + '%'
						OR U.OldHRID LIKE '%' + @SearchText + '%'
						OR U.OldHRStatus LIKE '%' + @SearchText + '%'
					)	


		Update   G
		SET		 G.NewHRID = Q.HR_Number,
				 G.NewTalent = Q.Name,
				 G.NewTalentBRPR = Q.Talent_Cost,
				 G.NewStartDate = Q.NewStartDate,
				 G.NewEndDate = Q.NewEndDate,
				 G.NewDPBR = Q.NewDPBR
		FROM	 #GetReplacementData G
				 inner join(
						select  g1.ID,H.HR_Number,T.Name,OBT.Talent_Cost,OBT.NRPercentage,
								NewStartDate = Convert(Nvarchar(15),Convert(DateTime,OCC.ContractStartDate,103),103),
								NewEndDate = Convert(Nvarchar(15),Convert(DateTime,OCC.ContractEndDate,103),103),
								NewDPBR =Case when Isnull(OBT.DPAmount,0) > 0 then OBT.DPAmount when Isnull(OBT.Final_HR_Cost,0) > 0 then OBT.Final_HR_Cost else 0 end
						From    #GetReplacementData g1
								inner join gen_OnBoardTalents_ReplacementDetails OTR WITH(NOLOCK) ON OTR.OnboardID = g1.OnBoardId
								left join gen_OnBoardTalents OBT WITH(NOLOCK) ON OBT.ID = OTR.NewOnBoard_Id
								left join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = OBT.HiringRequest_ID
								left join gen_Talent T WITH(NOLOCK) ON T.ID = OTR.ReplaceTalentId
								left join gen_OnBoardClientContractDetails OCC WITH(NOLOCK) ON OTR.NewOnBoard_Id = OCC.OnBoardID
				 )Q ON Q.ID = g.ID
		
			SET @MainSQL = 'select  OnBoardId,EngagementID,Company,Role,OldHRID,Talent,TalentBRPR,DPBR,UplersNR,StartDate,EndDate,ReplacementDate,OldHRStatus,OldHRStatusCode,
									NewHRID,NewTalent,NewTalentBRPR,NewDPBR,NewUplersNR,NewStartDate,NewEndDate,TotalRecords
							FROM    #GetReplacementData';

	
			IF @TmpDBSQL <> ''
				BEGIN
					SET @MainSQL = @TmpDBSQL + @MainSQL								
				END

			
		

			IF @SortExpression = 'ReplacementDate '
				BEGIN
					SET @MainSQL += ' ORDER BY CONVERT(datetime,' + @SortExpression + ',103) ' + @SortDirection							
				END
			ELSE 
				SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

			IF(@PageSize>0)
				BEGIN
					SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
											FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
				END 
	
			
			EXECUTE sp_executesql @MainSQL


end