--EXEC Sproc_GetHrDetailsByGUID_ForJobPostEmail 'dca1f01b-ef95-47bc-8a8a-aae016c4f083'
ALTER PROCEDURE [dbo].[Sproc_GetHrDetailsByGUID_ForJobPostEmail]
	@Guid			NVARCHAR(100)
AS

BEGIN

	SELECT Hr.ID HrId
			, HR.ContactID
			, C.FullName
			, C.EmailID
			, U.ID PocId
			, U.FullName PocName
			, U.EmailID	PocEmail
			, U.ContactNumber PocPhone
			, U.Designation PocDesignation
			, HR.HR_Number 
	
	FROM	gen_SalesHiringRequest HR WITH(NOLOCK)
			INNER JOIN gen_contact C WITH(NOLOCK) ON  C.ID = HR.ContactID			
			LEFT JOIN usr_User U WITH(NOLOCK) ON  HR.SalesUserID = U.ID 

	WHERE HR.IsActive = 1 AND HR.GUID = @Guid

	--DROP TABLE #POCDetails
END

