CREATE PROCEDURE [dbo].[sproc_CheckCompanyBalance]
	@HRID			bigint =null
AS
BEGIN
		DECLARE @Message NVARCHAR(MAX) = NULL, @IsValidHR BIT = 0, @JPCreditBalance DECIMAL(18,2), @JobPostCredit DECIMAL(18,2) = NULL

		SELECT TOP 1
		@JPCreditBalance = JPCreditBalance,		
		@IsValidHR = CASE WHEN HR.HRTypeID <> 1 THEN 1 ELSE 0 END,
		@JobPostCredit = CO.JobPostCredit
		FROM gen_SalesHiringRequest HR WITH(NOLOCK) 
		INNER JOIN gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
		INNER JOIN gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		WHERE HR.ID = @HRID

		IF(@IsValidHR = 1)
		BEGIN
			IF(@JPCreditBalance > 0)
			BEGIN
				IF(@JPCreditBalance >= @JobPostCredit)
				BEGIN
					SET @Message = 'Success.'
				END
				ELSE
				BEGIN
					SET @Message = 'Client does not have enough credit balance to re-open.'
				END
			END
		END
		ELSE
		BEGIN
			SET @Message = 'Not a pay per credit HR.'
		END

		SELECT @JPCreditBalance AS JPCreditBalance, @Message AS [Message], @IsValidHR AS IsValidHR, @JobPostCredit AS JobPostCredit
END