--exec sproc_UTS_GetAMAssignmentRules
CREATE PROCEDURE [dbo].[sproc_UTS_GetAMAssignmentRules]
	@PageIndex INT = 1,
	@PageSize INT = 50,
	@SortExpression nvarchar(100) = 'Id',
	@SortDirection  nvarchar(100) = 'ASC',
	@Description    varchar(100) = '',
	@Priority		INT = NULL
AS
BEGIN
	
	DECLARE @WhereClauseSQL nvarchar(max) = '';
	DECLARE @MainSQL nvarchar(max) = '';
	
	IF isnull(@Description,'') <> ''
			SET @WhereClauseSQL += ' AND AR.[Description] like ''%' + CONVERT(nvarchar,@Description) + '%''';
	IF @Priority IS NOT NULL AND @Priority > 0
			SET @WhereClauseSQL += ' AND AR.[Priority] = '+ CONVERT(nvarchar,@Priority) +'';

	SET @MainSQL= ';WITH CTE_Records AS (SELECT AR.Id, AR.[Priority], AR.[Description], AR.IsAssignToBAU, AR.IsAssignToUTS, 1 as TotalCountID
			FROM prg_AM_AssignmentRule AR
			WHERE 1=1 AND ISNULL(AR.IsDeleted,0) = 0 ' + @WhereClauseSQL + '
			)
			,Cte_TotalCount AS(
				Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
			)
			SELECT U.Id, U.[Priority], U.[Description], U.IsAssignToBAU, U.IsAssignToUTS ,T.TotalRecords 
			FROM CTE_Records U INNER JOIN Cte_TotalCount T on T.TotalCountID = U.TotalCountID WHERE 1=1 ';

			SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

			IF(@PageSize>0)
			BEGIN
				SET @MainSQL+= '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
											FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
			END

			PRINT(@MainSQL)
			EXECUTE sp_executesql @MainSQL	

END
