ALTER  PROCEDURE [dbo].[sproc_Update_Onboarding_Details_For_Second_Tab_AMAssignment]	
	@HR_ID						BIGINT = NULL,
	@CompanyID					BIGINT = NULL,
	@SigningAuthorityName		NVARCHAR(100) = NULL,
	@SigningAuthorityEmail		NVARCHAR(100) = NULL,
	@ContractDuration			INT = NULL,
	@OnBoardID					INT = NULL,
	@about_Company_desc			NVARCHAR(MAX)='',
	@Talent_FirstWeek			NVARCHAR(MAX)='',
    @Talent_FirstMonth			NVARCHAR(MAX)='',
	@SoftwareToolsRequired		NVARCHAR(MAX)='',
	@CreatedByID				BIGINT = NULL
	

AS
BEGIN
	
	SET @CompanyID = (
						SELECT TOP 1 CompanyID FROM gen_Contact GC LEFT JOIN  gen_SalesHiringRequest HR ON HR.ContactID = GC.ID 
						WHERE HR.ID = @HR_ID
					 )

--commnted by himani, now logic moved to Sproc_UTS_Admin_OnboardingStatusUpdates this SP
	--IF EXISTS(SELECT 1 FROM gen_CompanyContractDetails WITH(NOLOCK) WHERE CompanyID = @CompanyID)
	--BEGIN
	--	UPDATE gen_CompanyContractDetails
	--	SET SigningAuthorityName = @SigningAuthorityName,
	--		SigningAuthorityEmail = @SigningAuthorityEmail,
	--		LastModifiedByID = @CreatedByID,
	--		LastModifiedDatetime = GETDATE()
	--		WHERE CompanyID = @CompanyID
	--END
	IF EXISTS(SELECT 1 FROM gen_OnBoardClientContractDetails WITH(NOLOCK) WHERE OnBoardID = @OnBoardID)
	BEGIN
		UPDATE gen_OnBoardClientContractDetails
		SET 
			--InvoiceRaiseTo = @SigningAuthorityName,
			--InvoiceRaiseToEmail = @SigningAuthorityEmail,
			ContractDuration = @ContractDuration,
			TotalDurationInMonths = @ContractDuration,
			ExpectationFromTalent_FirstWeek = @Talent_FirstWeek,
			ExpectationFromTalent_FirstMonth = @Talent_FirstMonth,
			SoftwareToolsRequired = @SoftwareToolsRequired,
			LastModifiedByID = @CreatedByID,
			LastModifiedDatetime = GETDATE()
			WHERE OnBoardID = @OnBoardID
	END
	-- Update Company Description
	IF EXISTS(SELECT 1 FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyID)
	BEGIN
		UPDATE gen_Company
		SET about_Company_desc = @about_Company_desc,
		ModifiedByID = @CreatedByID,
		ModifiedByDatetime = GETDATE()
		WHERE ID = @CompanyID
	END
END


