USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Check_CLient_Availble_InHubSpot_ClientPortal]    Script Date: 16-02-2024 16:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Check_CLient_Availble_InHubSpot_ClientPortal]
	@ClientEmail			nvarchar(100) = null,
	@Company				nvarchar(100) = null,
	@ClientName				nvarchar(100) = null
AS
BEGIN
		
		DECLARE @ClientId as bigint = 0
		DECLARE @CompanyId as bigint = 0
		DECLARE @HubSpotContactID as bigint = 0
		DECLARE @HubSpotCompanyID as bigint = 0
		DECLARE @ID bigint = 0

		SELECT  @ClientId = ID 
		FROM    gen_Contact WITH(NOLOCK)
		WHERE   EmailID = @ClientEmail

		SELECT  @CompanyId = ID 
		FROM    gen_Company WITH(NOLOCK)
		WHERE   Company = @Company



		IF EXISTS(SELECT 1 from gen_HubSpotContact WITH(NOLOCK) WHERE EmailID = @ClientEmail)
			BEGIN
					SELECT	@HubSpotContactID = Isnull(ContactID,0) 
					from	gen_HubSpotContact WITH(NOLOCK) WHERE EmailID = @ClientEmail

					Print @HubSpotContactID
					
			END

		IF EXISTS(SELECT 1 from gen_HubSpotCompany WITH(NOLOCK) WHERE Company = @Company)
			BEGIN
					SELECT	@HubSpotCompanyID = Isnull(CompanyID,0)
					from	gen_HubSpotCompany WITH(NOLOCK) WHERE Company = @Company		
					
					Print @HubSpotCompanyID
			END

		IF @HubSpotContactID > 0 and @HubSpotCompanyID > 0 
			BEGIN
					INSERT INTO gen_Available_ClientInHubSpot_ClientPortal(HubSpotContactID,HubSpotCompanyID,CompanyId,ContactId,ClientEmail,Company,ClientName,CreatedDateTime)
					VALUES  (@HubSpotContactID,@HubSpotCompanyID,@CompanyId,@ClientId,@ClientEmail,@Company,@ClientName,Getdate())

					SET @ID = @@IDENTITY

					IF EXISTS(select 1 from gen_Contact WITH(NOLOCK) Where ID = @ClientId and ISNULL(HubSpot_ContactID,0) = 0)
						BEGIN
								UPDATE gen_Contact
								SET    HubSpot_ContactID = @HubSpotContactID
								WHERE  ID = @ClientId and ISNULL(HubSpot_ContactID,0) = 0 
						END

					IF EXISTS(select 1 from gen_Company WITH(NOLOCK) Where ID = @CompanyId and ISNULL(HubSpot_Company,0) = 0)
						BEGIN
								UPDATE gen_Company
								SET    HubSpot_Company = @HubSpotCompanyID
								WHERE  ID = @CompanyId and ISNULL(HubSpot_Company,0) = 0
						END
			END

			SELECT @ID as ReturnID
END