ALTER PROCEDURE [dbo].[Sproc_Add_TalentReplacement_details]
	@HiringRequestID			bigint = null,
	@OldTalentId				bigint = null,
	@ContactID					bigint = null,
	@OnboardId					bigint = null,
	@LastWorkingDayString		Nvarchar(max) = null,
	@ReplacementReason			Nvarchar(max) = null,
	@NoticePeriod				Int = null,
	@ReplacementDate			Nvarchar(max) = null,	
	@CreatedByID				bigint = null,
	@CreatedByDateTimeString	Nvarchar(max) = null,
	@OldTalentClosureDateString	Nvarchar(max) = null,
	@ReplacementStage			nvarchar(200) = null,
	@LastWorkingDateOption		int = null,
	@ReplacementInitiatedBy		nvarchar(40) = null,
	@ReplacementHandledByID		int = null,	
	@NewReplacementOnBoardID	bigint = null,
	@EngHRReplacementID			NVARCHAR(250) = NULL
AS
BEGIN
			DECLARE @HiringRequestDetailID as bigint
			DECLARE @Contract_Start_Date as datetime
			DECLARE @Contract_End_Date as datetime
			Declare @LastMonth_Start_Date as datetime
			DECLARE @DayDiff as Int = 0
			DEclare @DaysInMonth as Int = 0
		
			DECLARE @ProRata_Count AS INT = 1
			DECLARE @Prorata_Months AS INT = 1
			DECLARE @NextInvocieDate as datetime 
			DECLARE @EndInvocieDate  as datetime 
			Declare @Invoice_Number As nvarchar(50)
			DECLARE @RecurringCost as decimal(18,2) = 0
			DECLARE @Talent_RecurringCost as decimal(18,2) = 0
			DECLARE @PerDaySubtotal as decimal(18,2) = 0
			DECLARE @Talent_PerDaySubtotal as decimal(18,2) = 0
			DECLARE @ExchangeRate as decimal(18,2) = 0
			Declare @NewReplacementTalentId	bigint =  0
			DECLARE @NewHRID BIGINT = 0, @ContainsChar INT = 0, @LastWorkingDay DATETIME = NULL, @CreatedByDateTime	Nvarchar(max) = GETDATE(),
																								 @OldTalentClosureDate	Nvarchar(max) = null

			SET @ReplacementInitiatedBy = 'Internal team'
			SET @ReplacementHandledByID = @CreatedByID

			--print @LastWorkingDay 
			--SET @LastWorkingDay =  CASE WHEN @LastWorkingDay = '1900-01-01 00:00:00.000' THEN @ReplacementDate ELSE @LastWorkingDay END
			print @LastWorkingDayString

			 --If no Last working date then set default
			IF(ISNULL(@LastWorkingDayString,'') = '' OR @LastWorkingDayString = '01-01-0001 00:00:00')
			BEGIN
				SET @LastWorkingDay = DATEADD(d,30,GETDATE())
				SET @NoticePeriod = 30
			END
			ELSE
			BEGIN
				SET @LastWorkingDay = Convert(DATETIME, @LastWorkingDayString, 101)
			END

			--SET @CreatedByDateTime = Convert(DATETIME, @CreatedByDateTimeString, 101)
			--SET @OldTalentClosureDate = Convert(DATETIME, @OldTalentClosureDateString, 101)

			--SET @LastWorkingDay = DATEADD(d,30,GETDATE())

			SET @ContainsChar = (SELECT CHARINDEX('EN', @EngHRReplacementID))

			-- This means we have Eng ID with us
			IF(@ContainsChar > 0)
			BEGIN
				select @NewReplacementOnBoardID = Isnull(Id,0)
				from   gen_OnBoardTalents with(Nolock)
				where  EngagemenID = @EngHRReplacementID
			END
			-- Else we have HR_Number
			ELSE
			BEGIN
				SELECT @NewHRID = ID 
				FROM gen_SalesHiringRequest WITH(NOLOCK) 
				WHERE HR_Number = @EngHRReplacementID
			END

			select @NewReplacementTalentId = Isnull(Talent_ID,0)
			from   gen_OnBoardTalents with(Nolock)
			where  Id = @NewReplacementOnBoardID


			SELECT @HiringRequestDetailID = HiringRequest_Detail_ID,
				   @HiringRequestID = HiringRequest_ID,
				   @OldTalentId = Talent_ID,
				   @ContactID = ContactID
			FROM  gen_OnBoardTalents WITH(NOLOCK)
			WHERE ID = @OnboardId

			SELECT @Contract_Start_Date = ContractStartDate,
				   @Contract_End_Date =ContractEndDate
			FROM   gen_OnBoardClientContractDetails
			WHERE OnBoardID = @OnboardId

			select	@RecurringCost = Isnull(NextMonthCost,0), @Talent_RecurringCost = isnull(TalentPayOut,0)
			from	gen_OnBoardClientInvoiceSummary WITH(NOLOCK)
			where	OnBoardID = @OnboardId

			DECLARE @ID as bigint
			
			--Added check by: Siddharth Jain
			--Description: Added check to restrict duplicate records insertions in OnBoard Replacement Table for same "Old OnBoardID".
			--Issue Reported On: 20/Sept/2022
			--Issue Fixed on: 21/Sept/2022
			IF NOT EXISTS (SELECT 1 from gen_OnBoardTalents_ReplacementDetails with(nolock) where OnboardID = @OnboardId and OldTalentId = @OldTalentId)
			BEGIN
			print 'jimit'
				Insert 				INTO	gen_OnBoardTalents_ReplacementDetails(HiringRequestID,OldTalentId,ContactID,OnboardID,LastWorkingDay,ReplacementReason,NoticePeriod,IsLost,ReplacementDate,ReplaceTalentId,CreatedByID,CreatedByDateTime,							OldTalentClosureDate,ReplacementStage,LastWorkingDateOption,ReplacementInitiatedBy,ReplacementHandledByID,NewOnBoard_Id,NewHRID)				VALUES(@HiringRequestID,@OldTalentId,@ContactID,@OnboardId,@LastWorkingDay,@ReplacementReason,@NoticePeriod,0,GETDATE(),@NewReplacementTalentId,@CreatedByID,@CreatedByDateTime,
						@OldTalentClosureDate,@ReplacementStage,@LastWorkingDateOption,@ReplacementInitiatedBy,@ReplacementHandledByID,@NewReplacementOnBoardID,@NewHRID)


				SET @ID = @@IDENTITY
			END
			ELSE			BEGIN				SET @ID = (SELECT ID from gen_OnBoardTalents_ReplacementDetails with(nolock) where OnboardID = @OnboardId and OldTalentId = @OldTalentId);				UPDATE  gen_OnBoardTalents_ReplacementDetails SET 				LastWorkingDay = @LastWorkingDay,				NewOnBoard_Id = @NewReplacementOnBoardID,				NewHRID = @NewHRID				WHERE ID = @ID			END
			
			--Update Status of Talent to Replacement in gen_Talent and gen_ContactTalentPriority tables
			--UPDATE gen_Talent
			--SET TalentStatusID_AfterClientSelection = 8
			--WHERE ID = @OldTalentId

			--UPDATE  gen_ContactTalentPriority
			--SET     TalentStatusID_BasedOnHR = 8
			--WHERE   TalentID = @OldTalentId and HiringRequestID = @HiringRequestID
			
			print 'update gen_OnBoardClientContractDetails' -- UPDATE  gen_OnBoardClientContractDetails add Anit 19Jan2024

			UPDATE  gen_OnBoardClientContractDetails
			SET     IsLost =1, LastWorkingDate =@LastWorkingDay, LastModifiedByID=@CreatedByID,LastModifiedDatetime=GETDATE()
			WHERE   OnBoardID = @OnboardId

			UPDATE gen_OnBoardTalents
			SET Status_Id =2 
			WHERE ID=@OnboardId

			--if Isnull(@NewReplacementOnBoardID,0) = 0  --If New Talent is updated on behalf of old Talent then no need to update status of HR.
			--	BEGIN				
			--		--Update status of hiring request is in process and role status is started searching in Hiring request detail table.
			--		Update gen_SalesHiringRequest
			--		SET	   Status_ID = 2
			--		WHERE  ID = @HiringRequestID

			--		Update gen_SalesHiringRequest_Details
			--		SET    RoleStatus_ID = 2
			--		WHERE  Id = @HiringRequestDetailID and HiringRequest_ID = @HiringRequestID 
			--	END


			BEGIN --UPDATE Payout (Commented on 29 May 2024 as per discussion)

			Print 'UPDATE Payout'

				 ----Update Future date grater than Last working day to 0
				 --if (@Contract_End_Date is not null)
				 -- BEGIN
					--	if(@LastWorkingDay < @Contract_End_Date)
					--		BEGIN
					--				SELECT @LastMonth_Start_Date =  DATEADD(month, DATEDIFF(month, 0, @LastWorkingDay), 0)

					--				select  @ExchangeRate = CurrencyExchangeRate			
					--				from	gen_PayOut_Information
					--				where	ClientInvoiceDate = @LastMonth_Start_Date and	TalentID = @OldTalentId and ContactID = @ContactId and OnBoardID = @OnboardId


					--				SELECT @DaysInMonth = DAY(DATEADD(DD,-1,DATEADD(mm, DATEDIFF(mm, 0, @LastMonth_Start_Date) + 1, 0)))	
					--				SET @DayDiff = DATEDIFF(d,@LastMonth_Start_Date,@LastWorkingDay) + 1

					--				print '@RecurringCost : '+ cast(@RecurringCost as nvarchar(50))
					--				print '@Talent_RecurringCost : '+ cast(@Talent_RecurringCost as nvarchar(50))
					--				print '@DaysInMonth : '+ cast(@DaysInMonth as nvarchar(50))

					--				SET @PerDaySubtotal = ((@RecurringCost / (1 * @DaysInMonth)) * @DayDiff)
					--				SET @Talent_PerDaySubtotal = ((@Talent_RecurringCost / (1 * @DaysInMonth)) * @DayDiff)
											
										
					--				print '@DayDiff : '+ cast(@DayDiff as nvarchar(50))
					--				print '@PerDaySubtotal : '+ cast(@PerDaySubtotal as nvarchar(50))
					--				print '@Talent_PerDaySubtotal : '+ cast(@Talent_PerDaySubtotal as nvarchar(50))
								

					--				--Update amount for last working month based on prorata
					--				update gen_PayOut_Information 
					--				SET    Client_ProRataAmount = @PerDaySubtotal,
					--						Client_PayOutAmount = @PerDaySubtotal,
					--						Talent_ProRataAmount = @Talent_PerDaySubtotal,
					--						Talent_ProRataAmount_INR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),
					--						PayOutAmount = @Talent_PerDaySubtotal,
					--						PaymentInINR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),
					--						Talent_FinalPayOutInINR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),
					--						Client_FinalPayOutAmount = @PerDaySubtotal,
					--						PerDayClientCost = @PerDaySubtotal,
					--						PerDayTalentCost_INR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0)
					--				where	cast(ClientInvoiceDate as date) = cast(@LastMonth_Start_Date as date)  and	TalentID = @OldTalentId and ContactID = @ContactId and OnBoardID = @OnboardId

					--				--Update amount to 0 for which amount greater than last working day
					--				update gen_PayOut_Information 
					--				SET    Client_ProRataAmount = 0,
					--						Client_PayOutAmount = 0,
					--						Talent_ProRataAmount = 0,
					--						Talent_ProRataAmount_INR = 0,
					--						PayOutAmount = 0,
					--						PaymentInINR = 0,
					--						Talent_FinalPayOutInINR = 0,
					--						Client_FinalPayOutAmount = 0,
					--						PerDayClientCost = 0,
					--						PerDayTalentCost_INR = 0,
					--						PayOutStatus = 4,
					--						Status_Id = 4   --Added By Jimit 23-08-2022  update all entries after last working days upto contract end date to Archive
					--				where	cast(ClientInvoiceDate as date) > cast(@LastWorkingDay as date)  and TalentID = @OldTalentId and ContactID = @ContactId and OnBoardID = @OnboardId

												

					--		END

				 -- END
			END

			   

			  SELECT @ID as ID
END
