ALTER PROCEDURE [dbo].[Sproc_Get_Hierarchy_For_Email]
  @User_Id	   bigint
AS
BEGIN
	
	    ;WITH EMP_CTE AS
			(
				SELECT	top 1 userid, parentId, 0 AS levelpostion
				FROM	usr_UserHierarchy UH With(nolock)
				WHERE	exists (
									select	1 
									from	usr_User U With(Nolock)
									where	U.id = UH.UserID 
											and UH.UserID = Isnull(@User_Id,UH.UserID)
								)
						
				UNION ALL
				SELECT	T.userid, T.parentId, levelpostion - 1 AS EmployeeLevel 
				FROM	usr_UserHierarchy AS T With(Nolock)
						INNER JOIN EMP_CTE  AS C ON T.userID = C.parentId
			)
			SELECT	ISNULL(U.FirstName,'') + ' ' + ISNULL(U.LastName,'') AS UserName,Isnull(U.EmailID,'') EmailID, U.ID As UserId, U.ContactNumber
			FROM	EMP_CTE T 
					left join usr_User U With(Nolock) on T.UserID = U.ID 
			order by levelpostion desc
END