USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Add_AWS_SES_EmailTracking]    Script Date: 28-08-2024 15:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Add_AWS_SES_EmailTracking]
	@MessageId				Nvarchar(MAX) = null,
	@EventType				Nvarchar(100) = null,
	@Client_Destination		Nvarchar(500) = null,  
	@Email_Subject			Nvarchar(MAX) = null,
	@UserAgent				Nvarchar(MAX) = null,
	@IpAddress				Nvarchar(50)  = null,
	@Email_Link				Nvarchar(MAX) = null,
	@Email_LinkTags			Nvarchar(MAX) = null,
    @bounceType				Nvarchar(MAX) = null,
    @bounceSubType			Nvarchar(MAX) = null,
    @bouncedRecipients		Nvarchar(MAX) = null,
	@timestamp				DateTime  = null
AS
BEGIN
	
		Declare @SubjectID  as bigint = 0
		
		Select @SubjectID = ID
		from   gen_AWS_Tracking_Email_Subject WITH(NOLOCK)
		where  lower(Isnull(@Email_Subject,EmailSubject)) like '%' + lower(EmailSubject) + '%'

--If NOT Exists(select 1 from gen_AWS_SES_EmailTracking WITH(NOLOCK) where MessageId = @MessageId and Email_Subject = @Email_Subject)
--	BEGIN
		Insert into gen_AWS_SES_EmailTracking(MessageId,EventType,Client_Destination,Email_Subject,UserAgent,IpAddress,Email_Link,Email_LinkTags,timestamp,bounceType,bounceSubType,bouncedRecipients)
		VALUES(Isnull(@MessageId,''),Isnull(@EventType,''),Isnull(@Client_Destination,''),
					Isnull(@Email_Subject,''),Isnull(@UserAgent,''),Isnull(@IpAddress,''),Isnull(@Email_Link,''),
					Isnull(@Email_LinkTags,''),Isnull(@timestamp,''),Isnull(@bounceType,''),Isnull(@bounceSubType,''),Isnull(@bouncedRecipients,''))
						
		
		Update  gen_AWS_SES_EmailTracking
		SET     SubjectID = @SubjectID
		where   MessageId = @MessageId and Email_Subject = @Email_Subject and EventType = @EventType
				and Client_Destination = @Client_Destination
	--END
										  
END	