ALTER proc [dbo].[sproc_UpdateHiringRequestDetailRoleStatusWithTalentStatus]  
 @HiringRequestDetailId				  BIGINT = NULL,  
 @TalentStatusID_AfterClientSelection INT = NULL, --passing the Talent Status in this parameter  
 @Talent_Id							  BigInt = null,  
 @OnBoardId							  bigint = null  
As  
 BEGIN  
     
			DECLARE @Previous_TalentStatusID_BasedOnHR as int
			DECLARE @TalentStatusID_ClientPortal as int = 0

			SELECT  @TalentStatusID_ClientPortal = Isnull(ID,0)
					From    prg_TalentStatus_ClientPortal WITH(NOLOCK)
					WHERE   TalentStatusID_BasedOnHR = @TalentStatusID_AfterClientSelection

			PRINT @TalentStatusID_ClientPortal

		   -- Reena Jain(16-May-2022): Update IsPostAacceptanceConfirm false when Talent is Cancelled.  
		   IF(@TalentStatusID_AfterClientSelection=5)  
			BEGIN  
				UPDATE	gen_ShortlistedTalents  
				SET		IsPostAacceptanceConfirm = 0  
				WHERE	HiringRequest_Detail_ID = @HiringRequestDetailId AND Talent_ID = @Talent_Id    
			END  
  
			--Added By Jimit 16-06-2022 To maintain the Previous status for onHold status
			IF @TalentStatusID_AfterClientSelection = 6
			 BEGIN
					SELECT @Previous_TalentStatusID_BasedOnHR = TalentStatusID_BasedOnHR
					from   gen_ContactTalentPriority WITH(NOLOCK)
					WHERE  HiringRequest_Detail_ID = @HiringRequestDetailId AND TalentID = @Talent_Id 

					update  TalentPr   
					Set		TalentPr.Previous_TalentStatusID_BasedOnHR = Isnull(@Previous_TalentStatusID_BasedOnHR,0)
					From	gen_ContactTalentPriority TalentPr WITH(NOLOCK)                 
					where	TalentPr.HiringRequest_Detail_ID = @HiringRequestDetailId and TalentID = @Talent_Id  
			 END
			 --Ended

			 --Added By Roopal 18-07-2022 To cancel interview status for Cancelled or Rejected Talent status
			IF @TalentStatusID_AfterClientSelection = 5 OR @TalentStatusID_AfterClientSelection = 7
			 BEGIN				
					update  Inter   
					Set		Inter.Status_ID = 3
					From	gen_TalentSelected_InterviewDetails Inter  WITH(NOLOCK)              
					where	Inter.HiringRequest_Detail_ID = @HiringRequestDetailId and Inter.Talent_ID = @Talent_Id
					
					update  Inter   
					Set		Inter.Status_ID = 3
					From	gen_ShortlistedTalent_InterviewDetails Inter WITH(NOLOCK)               
					where	Inter.HiringRequest_Detail_ID = @HiringRequestDetailId and Inter.Talent_ID = @Talent_Id

					update  Inter   
					Set		Inter.InterviewStatus_ID = 3
					From	gen_InterviewSlotsMaster Inter WITH(NOLOCK)              
					where	Inter.HiringRequest_Detail_ID = @HiringRequestDetailId and Inter.Talent_ID = @Talent_Id
			 END
			 --Ended
			 

         ---Update Talent status based on HR in  gen_ContactTalentPriority 			
			update  TalentPr   
			Set		TalentPr.TalentStatusID_BasedOnHR = Isnull(@TalentStatusID_AfterClientSelection,TalentPr.TalentStatusID_BasedOnHR),
					TalentPr.TalentStatusID_ClientPortal = ISNULL(@TalentStatusID_ClientPortal,TalentStatusID_ClientPortal)
			From	gen_ContactTalentPriority TalentPr WITH(NOLOCK)                 
			where	TalentPr.HiringRequest_Detail_ID = @HiringRequestDetailId and TalentID = @Talent_Id        
	   
	   ---- Added by Reena Jain(Update Talent Status when Talent mark Rejected.
		  -- update T SET T.TalentStatusID_AfterClientSelection =Isnull(@TalentStatusID_AfterClientSelection,CTP.TalentStatusID_BasedOnHR)
				
				--	from gen_Talent T WITH(NOLOCK) inner join gen_ContactTalentPriority CTP WITH(nolock) ON T.ID = CTP.TalentID
				--	WHERE CTP.HiringRequest_Detail_ID= @HiringRequestDetailId and CTP.TalentID = @Talent_Id

		   ---Payal (20-12-2022) Made change for old code
		   BEGIN -- HR & HR details update status

		    Declare @HR_RoleStatus_ID  int =0
			SET	@HR_RoleStatus_ID = CASE   WHEN @TalentStatusID_AfterClientSelection = 1 THEN 3  
															  WHEN @TalentStatusID_AfterClientSelection = 2 THEN 4   
															  WHEN @TalentStatusID_AfterClientSelection = 3 THEN 5  
															  WHEN @TalentStatusID_AfterClientSelection = 4 THEN 6  
															  WHEN @TalentStatusID_AfterClientSelection = 5 THEN 2  
															  --WHEN @TalentStatusID_AfterClientSelection = 6 THEN 2  
															  WHEN @TalentStatusID_AfterClientSelection = 7 THEN 2  
														ELSE @TalentStatusID_AfterClientSelection  
			END   

	   IF(@TalentStatusID_AfterClientSelection <> 6)  
	   BEGIN  
			UPDATE	gen_SalesHiringRequest_Details   
			SET		RoleStatus_ID = Isnull(@HR_RoleStatus_ID,RoleStatus_ID), LastModifiedDatetime =Getdate()  
			where	ID = @HiringRequestDetailId  
  
			update	H 
			set		H.LastModifiedDatetime =Getdate() 
			from	gen_SalesHiringRequest H WITH(NOLOCK) inner join gen_SalesHiringRequest_Details HD WITH(NOLOCK) on H.ID = HD.HiringRequest_ID  
					inner join prg_HiringRequest_RoleStatus PR WITH(NOLOCK) ON HD.RoleStatus_ID = PR.ID  
			WHERE	HD.ID = @HiringRequestDetailId    
		END  

		END
 END  
