USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_ListOfHR_For_NewCandidate_Added_Email_ClientPortal]    Script Date: 18-09-2024 20:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_ListOfHR_For_NewCandidate_Added_Email_ClientPortal]
AS
BEGIN

		Declare @FromDate as datetime,@ToDate as datetime

		SET  @FromDate = DATEADD(HOUR,-12,getdate())
		SET  @ToDate = Getdate()

		--SET  @FromDate = DATEADD(HOUR,-36,getdate())
		--SET  @ToDate = DATEADD(HOUR,-24,getdate())



		print @FromDate
		print @ToDate

		Select His.HiringRequest_ID,His.Talent_ID
		into   #TalentRejectedList
		from   gen_History His WITH(NOLOCK)
		Where  His.Action_ID = 22 and His.CreatedByDatetime between @FromDate and @ToDate
		group By His.HiringRequest_ID,His.Talent_ID

		Select CH.HiringRequest_ID,T.ID as UTSTalent_ID
		into   #TalentProfileViewd
		from   gen_Talent T WITH(NOLOCK)
			   inner join gen_ContactHistory CH WITH(NOLOCK) ON CH.Talent_ID = T.ATS_Talent_ID 
		Where  CH.ClientActionID = 10 and CH.CreatedByDatetime between @FromDate and @ToDate
		group By CH.HiringRequest_ID,T.ID


		Select CTP.ID as CTPID,SHT.TalentID as UTSTalent_ID,SHT.ContactID,SHT.HiringRequestID,
			   IsAITalent = cast(Isnull(case when lower(SHT.assessment_tool) = Lower('AiInterview') and score > 50 then 1 else 0 end,0)  as int)
		into   #AIScreening
		from   gen_SalesHiringRequest_TalentPacketDetails SHT WITH(NOLOCK)
			   inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON SHT.TalentID = CTP.TalentID and SHT.ContactID = CTP.ContactID and SHT.HiringRequestID = CTP.HiringRequestID
		Where  CTP.CreatedByDatetime between @FromDate and @ToDate and lower(SHT.assessment_tool) = Lower('AiInterview') and score > 50
		group By CTP.ID,SHT.TalentID,SHT.ContactID,SHT.HiringRequestID,SHT.assessment_tool,score


		Select  H.ID as HRID,H.ContactID,C.EmailID,C.FullName,H.RequestForTalent,Count(CTP.TalentID) as NoOfTalents,
			   IsAITalent = 0 --cast(Isnull(IsAITalent,0) as int)
		into   #ListOfHR_For_NewCandidate
		From   gen_SalesHiringRequest H WITH(NOLOCK)
			   inner join  gen_History HIs WITH(NOLOCK) ON H.ID = HIs.HiringRequest_ID
			   inner join  gen_Contact C WITH(NOLOCK) ON C.Id = H.ContactID
			   inner join  gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.ContactID = C.ID and CTP.HiringRequestId = His.HiringRequest_ID
						   and CTP.TalentID = His.Talent_ID
			   --left join   #AIScreening AIS WITH(NOLOCK) ON CTP.ID = AIS.CTPID
		Where  His.Action_Id = 6 and His.CreatedByDatetime between @FromDate and @ToDate
			   and H.IsAccepted = 1 and H.IsActive = 1 and H.Status_ID in (1,2)
			   and CTP.TalentStatusID_BasedOnHR = 2
			   --and Not Exists(select 1 from gen_Contact c1 WITH(NOLOCK) where c1.LastLoginTime between His.CreatedByDatetime and @ToDate and c1.ID = C.ID and CTP.ContactID = c1.ID
			   --and c1.LastLoginTime is not null)
			   and Not Exists(select 1 from #TalentProfileViewd TPV WHERE TPV.HiringRequest_ID = His.HiringRequest_ID and TPV.UTSTalent_ID = His.Talent_ID)
			   and Not Exists(select 1 from #TalentRejectedList T WHERE T.HiringRequest_ID = His.HiringRequest_ID and T.Talent_ID = His.Talent_ID)
			   and Not exists(select 1 from gen_PostJob_Email_Notification_ClientPortal PJ WITH(NOLOCK) Where PJ.HRID = His.HiringRequest_ID and Subject = 'New candidates added' and cast(PJ.CreatedByDatetime as date) = cast(@ToDate as date))	
		GROUP BY    H.ID,H.ContactID,C.EmailID,C.FullName,H.RequestForTalent

		Update  L
		SET		L.IsAITalent = 1,
				L.NoOfTalents =  Isnull(Q.NoOfTalents,0) --ISNULL(L.NoOfTalents,0) + Isnull(Q.NoOfTalents,0)
		From	#ListOfHR_For_NewCandidate L 
				inner join 
				(
					Select   Count(HRCTP.ID) as NoOfTalents,HiringRequest_ID,CTP.ContactID
					from     gen_HR_ATSTalentDetails_CTP HRCTP WITH(NOLOCK)
							inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON HRCTP.CTP_ID = CTP.ID  and HRCTP.HiringRequest_ID = CTP.HiringRequestID
							--#AIScreening 
					Group By  HiringRequest_ID,CTP.ContactID
				) Q ON Q.HiringRequest_ID = L.HRID and Q.ContactID = L.ContactID
		Where   L.HRID = Q.HiringRequest_ID and Q.ContactID = L.ContactID


		--Update  L
		--SET		L.IsAITalent = 1,
		--		L.NoOfTalents = ISNULL(L.NoOfTalents,0) + Isnull(Q.NoOfTalents,0)
		--From	#ListOfHR_For_NewCandidate L 
		--		inner join 
		--		(
		--			Select   Count(UTSTalent_ID) as NoOfTalents,HiringRequestID,ContactID
		--			from     #AIScreening 
		--			Group By  HiringRequestID,ContactID
		--		) Q ON Q.HiringRequestID = L.HRID and Q.ContactID = L.ContactID
		--Where   L.HRID = Q.HiringRequestID and Q.ContactID = L.ContactID


		Insert into gen_PostJob_Email_Notification_ClientPortal(HRID,Subject,ReminderDays,CreatedByDateTime)
		Select HRID,'New candidates added',0,@Todate
		from   #ListOfHR_For_NewCandidate
		--From   gen_SalesHiringRequest H WITH(NOLOCK)
		--	   inner join  gen_History HIs WITH(NOLOCK) ON H.ID = HIs.HiringRequest_ID
		--	   inner join  gen_Contact C WITH(NOLOCK) ON C.Id = H.ContactID
		--	   inner join  gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.ContactID = C.ID and CTP.HiringRequestId = His.HiringRequest_ID
		--				   and CTP.TalentID = His.Talent_ID			   
		--Where  His.Action_Id = 6 and His.CreatedByDatetime between @FromDate and @ToDate
		--	   and H.IsAccepted = 1 and H.IsActive = 1 and H.Status_ID in (1,2)
		--	   and CTP.TalentStatusID_BasedOnHR = 2
		--	   and Not Exists(select 1 from #TalentProfileViewd TPV WHERE TPV.HiringRequest_ID = His.HiringRequest_ID and TPV.UTSTalent_ID = His.Talent_ID)
		--	   and Not Exists(select 1 from #TalentRejectedList T WHERE T.HiringRequest_ID = His.HiringRequest_ID and T.Talent_ID = His.Talent_ID)
		--	   and H.ID != 12240
		--GROUP BY    H.ID,H.ContactID,C.EmailID,C.FullName,H.RequestForTalent

		select * from #ListOfHR_For_NewCandidate

		drop table #AIScreening
		drop table #ListOfHR_For_NewCandidate
		drop table #TalentProfileViewd
		drop table #TalentRejectedList

		
		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_ListOfHR_For_NewCandidate_Added_Email_ClientPortal'
END
