ALTER PROCEDURE [dbo].[sproc_Get_PreOnboarding_Details_For_AMAssignment]
	@OnBoardID			BIGINT = NULL,
	@HR_ID				BIGINT = NULL
AS
BEGIN

		SELECT DISTINCT
		ISNULL(SHR.ID,0) AS  HR_ID,
		ISNULL(C.ID,0) AS ContactID,
		ISNULL(COM.ID,0) AS CompanyID,
		ISNULL(COM.Company,'') AS CompanyName,
		ISNULL(C.FullName, '' ) + ' ( ' + +ISNULL(C.EmailID,'') + ' ) ' AS Client,
		isnull(SHR.NoofTalents,'') AS NoOfEmployee,
		ISNULL(SHR.HR_Number,'') as HRNumber,
		CASE WHEN Isnull(SHR.IsHRTypeDP,0) = 1 then 'Direct Placement' else  'Contractual' end as HRType,
		ISNULL(G.GEO,'') as GEO,
		ISNULL(U.FullName,'') as Client_POC_Name,
		ISNULL(U.EmailID,'')  as Client_POC_Email,
		ISNULL(COM.Industry,'') AS Industry,
		ISNULL(SHR.Discovery_Call,'') AS Discovery_Link,
		ISNULL(TSI.Zoom_InterviewLink,'') AS InterView_Link,
		ISNULL(SHR.JDURL,SHR.JDFileName) As JobDescription,
		DealSource = CASE WHEN ISNULL(COM.Lead_Type,'') LIKE '%Inbound%' THEN 'InBound' ELSE 'OutBound' END,		
		ISNULL(COM.Lead_Type,'') as InBoundType,
		ISNULL(LU.FullName,'') AS Deal_Owner,
		1 as IsExistClient,
		'' as Payment_NetTerm,
		Isnull(CTP.HR_Cost,'') AS BillRate,
		ISNULL(OBT.Final_HR_Cost, CTP.Final_Hr_Cost) AS FinalHrCost, -- React side Bill rate on UI
		case when isnull(CTP.TalentCost,0)  > 0 then CER.CurrencySign + 
		replace(cast(CTP.TalentCost as Nvarchar(20)),'.00','') +' ' + 
		ISNULL(CTP.Talent_CurrencyCode,'USD')+'/ Month'  END As PayRate,
		isnull(CTP.TalentCost,0) as TalentCost, -- React side pay rate on UI
		ISNULL(UA.FullName,'') AS UTS_HRAcceptedBy,
		ISNULL(OBT.NRPercentage,CTP.NRPercentage) AS NRPercentage,
		ISNULL(TR.TalentRole,'') as TalentRole,
		ISNULL(DP.ModeOfWork,'') as WorkForceManagement,
		ISNULL(T.Name,'') as TalentName,
		ISNULL(T.EmailID,'') as TalentEmail,
		ISNULL(T.ATS_Talent_LiveURL,'') TalentProfileLink,
		ISNULL(SHR.Availability,'') as [Availability],
		ISNULL(T.Designation,'') AS Talent_Designation,
		ISNULL(ONCD.NetPaymentDays,0) AS PayementNetTerm,
		--AM_Name = isnull((SELECT TOP 1 Fullname FROM usr_User with(NOLOCK) WHERE ID = COM.AM_SalesPersonID),''),
		ISNULL(AMUser.Fullname,'') AS AM_Name,
		ISNULL(AMUser.ID,'') AS AMUserID,
		ISNULL(OBT.ID, 0) AS OnBoardID,
		ISNULL(CTP.TalentID, 0) AS TalentID,
		ISNULL(OBT.Talent_CurrencyCode, CTP.Talent_CurrencyCode) AS Talent_CurrencyCode,
		ISNULL(CER_obt.CurrencySign, CER.CurrencySign) AS CurrencySign,
		ISNULL(ONCD.PunchStartTime, '') AS ShiftStartTime,
		ISNULL(ONCD.PunchEndTime, '') AS ShiftEndTime,
		ISNULL(OBT.EngagemenID,'') AS EngagemenID,
		ISNULL(OBT.DPAmount, CTP.DPAmount) AS DPAmount,
		ISNULL(OBT.DPPercentage, CTP.DP_Percentage) AS DP_Percentage,
		CAST(ISNULL(REPLACE(CTP.UplersfeesAmount, ',', ''), '0') AS DECIMAL(18, 2)) AS UplersFeesAmount,
		ISNULL(CTP.Current_CTC, 0) AS CurrentCTC,
		--ISNULL(T.ExpectedSalary, 0) AS ExpectedSalary,
		ISNULL(OBT.Talent_Cost, CTP.TalentCost) AS ExpectedSalary,
		ISNULL(CTP.IsHRTypeDP, SHR.IsHRTypeDP) AS IsHRTypeDP,
		CASE
		    WHEN ONCD.PunchStartTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, CTZ.ISTTimeDiffMin, ONCD.PunchStartTime) AS TIME), 0)
		    ELSE ''
		END as ISTShiftStartTime,
		CASE
		    WHEN ONCD.PunchEndTime is not null THEN CONVERT(VARCHAR(10),  CAST(dateadd(MINUTE, CTZ.ISTTimeDiffMin, ONCD.PunchEndTime) AS TIME), 0)
		    ELSE ''
		END as ISTShiftEndTime,
		ISNULL(MW.ModeOfWorking, DP.ModeOfWork) AS ModeOfWork,
		ISNULL(OBT.StateID, 0) AS StateID,
		ISNULL(PS.State, '') AS StateName,
		ISNULL(OBT.City, DP.JobLocation) AS CityName,
		ISNULL(OBT.TSC_PersonId, 0) AS TSCUserId,
		CASE WHEN Isnull(SHR.IsHRTypeDP,0) = 1 then 'Release offer details' else 'Confirm Contract details' end as PageTitle
		FROM gen_OnBoardTalents OBT WITH(NOLOCK)
			 inner join gen_SalesHiringRequest SHR WITH(NOLOCK) ON SHR.Id = OBT.HiringRequest_ID
			 inner join gen_SalesHiringRequest_Details SHRD WITH(NOLOCK) ON SHRD.HiringRequest_ID = SHR.ID AND SHRD.ID = OBT.HiringRequest_Detail_ID
			 INNER JOIN gen_OnBoardClientContractDetails ONCD WITH(NOLOCK) ON ONCD.OnBoardID = OBT.ID
			 inner join gen_Talent T WITH(NOLOCK) ON T.ID = OBT.Talent_ID
			 inner join gen_Contact C WITH(NOLOCK) ON C.ID = OBT.ContactID
			 inner join gen_Company COM WITH (NOLOCK) ON COM.ID = C.CompanyID
			 inner join prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = SHRD.Timezone_ID 
			 LEFT join prg_GEO G WITH (NOLOCK) ON G.ID = COM.GEO_ID
			 LEFT join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = SHR.ID AND CTP.TalentID = OBT.Talent_ID
			 LEFT JOIN prg_CurrencyExchangeRate CER WITH(NOLOCK) ON CER.CurrencyCode = CTP.Talent_CurrencyCode
			 LEFT JOIN prg_CurrencyExchangeRate CER_obt WITH(NOLOCK) ON CER_obt.CurrencyCode = OBT.Talent_CurrencyCode
		     LEFT JOIN usr_User U WITH(NOLOCK) ON SHR.SalesUserID=U.ID	
			 LEFT JOIN gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK)  ON TSI.Talent_ID = OBT.Talent_ID AND TSI.HiringRequest_ID = OBT.HiringRequest_ID
			 LEFT JOIN  gen_Deals D WITH(NOLOCK) ON SHR.DealID = D.ID
			 LEFT JOIN usr_user UA with(nolock) on UA.ID = SHR.AcceptedByID
			 LEFT JOIN prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = T.RoleID
		   	 LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_ID = SHR.ID
			 LEFT JOIN prg_TalentAssociatedWithUplers TAWU WITH(NOLOCK) ON TAWU.ID = T.AssociatedwithUplers_ID
			 LEFT JOIN prg_TalentRoles TD WITH(NOLOCK) ON TD.ID = T.RoleID
			 LEFT JOIN gen_CompanyLeadType_UserDetails CLT WITH(NOLOCK) ON  CLT.CompanyID = C.CompanyID
			 LEFT JOIN usr_user LU WITH(NOLOCK) ON LU.ID = CLT.LeadType_UserID
			 LEFT JOIN usr_user AMUser WITH(NOLOCK) ON AMUser.ID = COM.AM_SalesPersonID
			 LEFT JOIN prg_ModeOfWorking MW WITH(NOLOCK) ON MW.ID = OBT.ModeOFWorkingID
			 LEFT JOIN prg_States PS WITH(NOLOCK) ON PS.ID = OBT.StateID
		WHERE	OBT.ID = @OnBoardID and SHR.ID = @HR_ID 
END