USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_ResendOTP_ClientPortal]    Script Date: 16-02-2024 16:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_ResendOTP_ClientPortal]	
	@OTP				NVARCHAR(20)	=  NULL,	
	@LoggedInUserID		bigint = 0
AS
BEGIN	

		Update gen_Contact SET 
	
			OTP = @OTP,
			OTP_CreatedDate = GETDATE(),
			OTP_ExpiredDate = DATEADD(mi,15,GETDATE()),
			OTP_IsActive = 1
			
		WHERE ID = @LoggedInUserID
	
END