USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Add_Company_CultureandPerksDetails]    Script Date: 18-06-2024 20:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Add_Company_CultureandPerksDetails]
	@CompanyId		  bigint = 0,
	@CultureImage	  Nvarchar(200) = null,	
	@CreatedByID	  bigint = 0,
	@AppActionDoneBy  int = 0,
	@CultureID		  bigint = 0
AS 
BEGIN

		IF not Exists(select 1 from gen_Company_CultureandPerksDetails WITH(NOLOCK) WHERE ID = @CultureID)
			BEGIN
				INSERT INTO gen_Company_CultureandPerksDetails(CompanyID,CultureImage,CreatedById,CreatedDateTime)
				VALUES(@CompanyId,@CultureImage,@CreatedByID,Getdate())
			END
		ELSE
			BEGIN
					UPDATE gen_Company_CultureandPerksDetails
					SET    CultureImage= Isnull(@CultureImage,CultureImage),
						   ModifiedByID = @CreatedByID,
						   ModifiedDateTime = getdate()
					where  ID = @CultureID
			END

		
		--Add History Action code below
END