ALTER PROCEDURE [dbo].[Sproc_GetUserBy_LeadType]
	@LeadType varchar(10),
	@HRID BIGINT
AS
BEGIN
	SET NOCOUNT ON;
		;WITH CTE AS (
			SELECT 
				usr.ID AS 'Value',
				usr.FullName AS 'Text'
			FROM usr_User usr WITH (NOLOCK)
			LEFT JOIN usr_UserRoleDetails urd WITH (NOLOCK) ON usr.ID = urd.User_ID
			LEFT JOIN usr_UserRole ur WITH (NOLOCK) ON ur.ID = urd.UserRole_ID
			WHERE ur.Lead_Type <> '' 
				AND ur.Lead_Type LIKE '%' + @LeadType + '%'   

			UNION

			SELECT 
				usr.ID AS 'Value',
				usr.FullName AS 'Text'
			FROM usr_User usr WITH (NOLOCK)
			INNER JOIN gen_saleshiringrequest hr WITH (NOLOCK) ON usr.ID = hr.SalesUserID 
			WHERE hr.ID = @HRID
		)

		SELECT DISTINCT [Value], [Text]
		FROM CTE
		ORDER BY [Text]
END
