ALTER PROCEDURE [dbo].[Sproc_Get_ListOfHRs_For_SendingNotifications_Club]
   @Stage		 Nvarchar(500) = null,
   @ReminderDays int  = null   --It should be 1,2,3,5,6,7 days as per Excel File.
AS
BEGIN
		Declare @Subject as Nvarchar(200) =''

		If OBJECT_ID('tempdb..#HRMaxHistory') is not null
			DROP TABLE #HRMaxHistory

			Create Table #HRMaxHistory
			(
				HistoryID  bigint,
				HRID bigint 
			)
			Insert into #HRMaxHistory
			select    Max(HI.ID) HistoryID, Hi.HiringRequest_ID 
			from      gen_History HI With(NOLOCK) 
						inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
			where     HR.Status_ID not in (3,4,5,6)
			Group By  Hi.HiringRequest_ID 

		-- Notification 1 - HR is submitted by sales (Status acceptance pending) 1 Day Subject :HR Debriefing Required for the New HR#
		IF @Stage = 'HR Acceptance'   
			BEGIN	
			        print 'IF @Stage = HR Acceptance'			

					select    H.ID,H.HiringRequest_ID,'0' As List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #HRMaxHistory Temp ON Temp.HistoryID = H.ID AND Temp.HRID = H.ID
					where     H.Action_ID = 4 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 17)

					Insert into gen_Manage_Notification_Emails_History
					select   H.ID,'ATTENTION: HR Debriefing Required for the New ' + Isnull(HR.HR_NUMBER,'') + '',@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #HRMaxHistory Temp ON Temp.HistoryID = H.ID AND Temp.HRID = H.ID
					where     H.Action_ID = 4
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 17)
							 
			END

		IF @Stage = 'HR submitted workflow'    --HR in Waiting For more info stage for more than 3 days or 7 days TIME-SENSITIVE: HR*** is waiting for more info
			BEGIN   

					IF @ReminderDays = 3
						SET @Subject = N'TIME-SENSITIVE: HR is waiting for more info'
					IF @ReminderDays = 5
						SET @Subject = N'IMPORTANT: HR is waiting for more info'

					If OBJECT_ID('tempdb..#WaitForMoreInfo') is not null
						DROP TABLE #WaitForMoreInfo

					 Create Table #WaitForMoreInfo
					 (
					   HistoryID  bigint 
					 )

					Insert into #WaitForMoreInfo
					select    Max(HI.ID) HistoryID
					from      gen_History HI With(NOLOCK) 
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
					where     HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
					Group By  Hi.HiringRequest_ID 

					select    H.ID,H.HiringRequest_ID,'0' As List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #WaitForMoreInfo W ON W.HistoryID = H.ID 
					where     H.Action_ID = 44 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  

					Insert into gen_Manage_Notification_Emails_History
					select   H.ID,@Subject,@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #WaitForMoreInfo W ON W.HistoryID = H.ID 
					where     H.Action_ID = 44 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							 
			END

	    If OBJECT_ID('tempdb..#HRTalentMaxHistory') is not null
			DROP TABLE #HRTalentMaxHistory

			Create Table #HRTalentMaxHistory
			(
			   HistoryID		bigint,
			   HRID				bigint,
			   HistoryTalentID  bigint
			)

			Insert into #HRTalentMaxHistory
			select    Max(HI.ID) HistoryID, Hi.HiringRequest_ID ,Hi.Talent_ID
			from      gen_History HI With(NOLOCK) 
						inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
			where     HR.Status_ID not in (3,4,5,6)
			Group By Hi.HiringRequest_ID,Hi.Talent_ID

		IF @Stage = 'Profile Feedback Not received'  -- (Talent Status shortlisted) If talent status is Shortlisted for 3 working days or 6 days
			BEGIN
					IF @ReminderDays = 3
						SET @Subject = N'Reminder: Feedback Submission Needed for HR'
					IF @ReminderDays = 5
						SET @Subject = N'Time-Sensitive Request: Provide Feedback for HR'
					IF @ReminderDays = 6
					   SET @Subject = N'Reminder: Feedback Submission Needed for HR'
						
					
					select    H.ID,H.HiringRequest_ID,
							  (select isnull((STUFF((
												select	  ', ' + CAST(H1.Talent_ID as Nvarchar(10))
												from	gen_History H1 with(Nolock)	
														inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H1.HiringRequest_ID
														inner join #HRTalentMaxHistory Temp ON Temp.HistoryID = H1.ID AND Temp.HRID = H1.HiringRequest_ID AND  Temp.HistoryTalentID = H1.Talent_ID 
												where	H1.HiringRequest_ID = H.HiringRequest_ID
														and H1.Talent_ID <> 0 and
														H1.Action_ID = 18 AND DATEDIFF(day, dbo.Excluding_WeekDays(H1.CreatedByDatetime,@ReminderDays), getdate()) = 0
														and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
														and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID not in (20,21,22,81))
												For	XML Path('')),1,1,''												
										)),'')) List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #HRTalentMaxHistory Temp ON Temp.HistoryID = H.ID  AND Temp.HRID = H.HiringRequest_ID AND  Temp.HistoryTalentID = H.Talent_ID 
					where     H.Action_ID = 18 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID not in (20,21,22,81))
							  

					Insert into gen_Manage_Notification_Emails_History
					select   H.ID,@ReminderDays,@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #HRTalentMaxHistory Temp ON Temp.HistoryID = H.ID  AND Temp.HRID = H.HiringRequest_ID AND  Temp.HistoryTalentID = H.Talent_ID 
					where     H.Action_ID = 18 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID not in (20,21,22,81))
			END
			
		IF @Stage = 'Interview to be scheduled'  -- ( talent status - Slots given , UTS HR - in process) If When as per SLA 3 day is pending to schedule interview
			BEGIN
					IF @ReminderDays = 1
						SET @Subject = N'Reminder: Proceed with Interview Scheduling for HR'
					IF @ReminderDays = 3
						SET @Subject = N'Action Required: Schedule Interview for Talent HR'
					IF @ReminderDays = 5
						SET @Subject = N'Important :Schedule Interview for Talent of HR'
											
					If OBJECT_ID('tempdb..#PendingScheduledInterview') is not null
						DROP TABLE #PendingScheduledInterview

					If OBJECT_ID('tempdb..#NoOfInterviewSlotCount') is not null
						DROP TABLE #NoOfInterviewSlotCount										 

					 Create Table #PendingScheduledInterview
					 (
					   HistoryID  bigint 
					 )

					 Create Table #NoOfInterviewSlotCount
					 (
					   HR_ID					 bigint,
					   TalentID					 bigint,
					   InterviewScheduledCount   int,
					   InterviewMaster_ID        bigint
					 )

					Insert into #PendingScheduledInterview
					select    Max(HI.ID) HistoryID
					from      gen_History HI With(NOLOCK) 
							 inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
					where     HR.Status_ID not in (3,4,5,6)
					Group By Hi.HiringRequest_ID,Hi.Talent_ID

					Insert into #NoOfInterviewSlotCount
					select    H.HiringRequest_ID,STI.Talent_ID,Count(STI.InterviewMaster_ID),STI.InterviewMaster_ID 
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #PendingScheduledInterview W ON W.HistoryID = H.ID 
							  inner join gen_ShortlistedTalent_InterviewDetails STI WITH(NOLOCK) ON STI.HiringRequest_ID = HR.ID and STI.Talent_ID = H.Talent_ID 
					where     H.Action_ID = 7 --H.Action_ID in (7,9)
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
											and H1.Action_ID <> 9)
					GRoup By  H.HiringRequest_ID,STI.Talent_ID,STI.InterviewMaster_ID
					Having count(STI.InterviewMaster_ID) > 1

					select     H.ID,H.HiringRequest_ID,
							   (select isnull((STUFF((
												select	  ', ' + CAST(H1.Talent_ID as Nvarchar(10))
												from	gen_History H1	with(Nolock)	
														inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H1.HiringRequest_ID
														inner join #PendingScheduledInterview W ON W.HistoryID = H1.ID 
														inner join #NoOfInterviewSlotCount NI WITH(NOLOCK) ON NI.HR_ID = HR.ID and NI.TalentID = H1.Talent_ID 
												where	H1.HiringRequest_ID = H.HiringRequest_ID
														and H1.Talent_ID <> 0 and
														H.Action_ID = 7
														--H1.Action_ID in (7,9) 
														AND DATEDIFF(day, dbo.Excluding_WeekDays(H1.CreatedByDatetime,@ReminderDays), getdate()) = 0
														and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
														and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 9)
												For	XML Path('')),1,1,''												
										)),'')) List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #PendingScheduledInterview W ON W.HistoryID = H.ID 
							  inner join #NoOfInterviewSlotCount NI WITH(NOLOCK) ON NI.HR_ID = HR.ID and NI.TalentID = H.Talent_ID 
					where     H.Action_ID = 7
							  --H1.Action_ID in (7,9) 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							 and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
											and H1.Action_ID <> 9)
							  --and NI.InterviewScheduledCount > 1				
							

					Insert into gen_Manage_Notification_Emails_History
					select    H.ID,@Subject,@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #PendingScheduledInterview W ON W.HistoryID = H.ID 
							  inner join #NoOfInterviewSlotCount NI WITH(NOLOCK) ON NI.HR_ID = HR.ID and NI.TalentID = H.Talent_ID 
					where     H.Action_ID = 7
							  --H1.Action_ID in (7,9) 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
											and H1.Action_ID <> 9)
							  --and NI.InterviewScheduledCount > 1
							
			END
		
		IF @Stage = 'Interview Completed'  -- If Interview date and time is passed and Interview Status is not marked as completed 
			BEGIN
			      
				   IF @ReminderDays = 0
						SET @Subject = N'Reminder: Take Action for Pending HR'
				   IF @ReminderDays = 2
						SET @Subject = N'Action Required: Complete Pending HR'
							

					If OBJECT_ID('tempdb..#InterviewCompleted') is not null
						DROP TABLE #InterviewCompleted

					 Create Table #InterviewCompleted
					 (
					   HistoryID  bigint 
					 )

					Insert into #InterviewCompleted
					select    Max(HI.ID) HistoryID
					from      gen_History HI With(NOLOCK) 
							 inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
					where     HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
					Group By Hi.HiringRequest_ID,Hi.Talent_ID

					select    H.ID,H.HiringRequest_ID,
							  (select isnull((STUFF((
												select	  ', ' + CAST(H1.Talent_ID as Nvarchar(10))
												from	gen_History H1	with(Nolock)	

														inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H1.HiringRequest_ID
														inner join #InterviewCompleted W ON W.HistoryID = H1.ID
														inner join gen_InterviewSlotsMaster IM WITH(NOLOCK) ON IM.ID = H1.InterviewMaster_ID
												where	H1.HiringRequest_ID = H.HiringRequest_ID
														and H1.Talent_ID <> 0 and
														H1.Action_ID = 10 AND DATEDIFF(day, dbo.Excluding_WeekDays(H1.CreatedByDatetime,@ReminderDays), getdate()) = 0
														and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
														and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
															and H1.Action_ID <> 11)
												For	XML Path('')),1,1,''												
										)),'')) List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #InterviewCompleted W ON W.HistoryID = H.ID 
							  inner join gen_InterviewSlotsMaster IM WITH(NOLOCK) ON IM.ID = H.InterviewMaster_ID
					where     H.Action_ID = 10 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), IM.CreatedByDatetime) = 0							    
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
											and H1.Action_ID <> 11)

					Insert into gen_Manage_Notification_Emails_History
					select   H.ID,@Subject,@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #InterviewCompleted W ON W.HistoryID = H.ID 
							  inner join gen_InterviewSlotsMaster IM WITH(NOLOCK) ON IM.ID = H.InterviewMaster_ID
					where     H.Action_ID = 10 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), IM.CreatedByDatetime) = 0							    
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
											and H1.Action_ID <> 11)
					
			END

		IF @Stage = 'Feedback Pending'  --  (From clients end) When Feedback staus is Feedback Pending for 2 days post interview is completed
			BEGIN
					SET @Subject = N'Feedback Required for HR Talent Profile Evaluation'
					
					If OBJECT_ID('tempdb..#FeedbackPending') is not null
						DROP TABLE #FeedbackPending

					 Create Table #FeedbackPending
					 (
					   HistoryID  bigint 
					 )

					Insert into #FeedbackPending
					select    Max(HI.ID) HistoryID
					from      gen_History HI With(NOLOCK) 
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
					where     HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
					Group By Hi.HiringRequest_ID,Hi.Talent_ID

					select    H.ID,H.HiringRequest_ID,
							  (select isnull((STUFF((
												select	  ', ' + CAST(H1.Talent_ID as Nvarchar(10))
												from	gen_History H1	with(Nolock)	
														inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H1.HiringRequest_ID
														inner join #FeedbackPending W ON W.HistoryID = H1.ID
														inner join gen_InterviewSlotsMaster IM WITH(NOLOCK) ON IM.ID = H1.InterviewMaster_ID
												where	H1.HiringRequest_ID = H.HiringRequest_ID
														and H1.Talent_ID <> 0 and
														H1.Action_ID = 11 AND DATEDIFF(day, dbo.Excluding_WeekDays(H1.CreatedByDatetime,@ReminderDays), getdate()) = 0
														and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
														and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID not in (12,45,46,47))
												For	XML Path('')),1,1,''												
										)),'')) List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #FeedbackPending W ON W.HistoryID = H.ID 
							  inner join gen_InterviewSlotsMaster IM WITH(NOLOCK) ON IM.ID = H.InterviewMaster_ID
					where     H.Action_ID = 11 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), GETDATE()) = 0							    
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID not in (12,45,46,47))
					

					Insert into gen_Manage_Notification_Emails_History
					select   H.ID,@Subject,@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
								inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
								inner join #FeedbackPending W ON W.HistoryID = H.ID 
								inner join gen_InterviewSlotsMaster IM WITH(NOLOCK) ON IM.ID = H.InterviewMaster_ID
					where     H.Action_ID = 11 
								AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), GETDATE()) = 0							    
								and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
								and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID not in (12,45,46,47))
					
			END

		IF @Stage = 'Legal Client'  -- (Client has not signed the SOW client legal status is Pending )IF Client legal status is not changed to Completed post 5 working days post Talent status is marked as Hired
			BEGIN
					IF @ReminderDays = 5
						SET @Subject = N'Reminder: Client Legal Status Pending for HR'
					IF @ReminderDays = 7
						SET @Subject = N'Important: Client Signature Needed for HR'
						
					
					If OBJECT_ID('tempdb..#LegalClient') is not null
						DROP TABLE #LegalClient

					 Create Table #LegalClient
					 (
					   HistoryID  bigint 
					 )

					Insert into #LegalClient
					select    Max(HI.ID) HistoryID
					from      gen_History HI With(NOLOCK)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
					where     HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
					Group By Hi.HiringRequest_ID,Hi.Talent_ID

					select    H.ID,H.HiringRequest_ID,
							  (select isnull((STUFF((
												select	  ', ' + CAST(H1.Talent_ID as Nvarchar(10))
												from	gen_History H1 with(Nolock)		
														inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H1.HiringRequest_ID
														inner join #LegalClient W ON W.HistoryID = H1.ID
												where	H1.HiringRequest_ID = H.HiringRequest_ID
														and H1.Talent_ID <> 0 and
														H1.Action_ID = 29 AND DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), getdate()) = 0
														and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
														and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 35)
												For	XML Path('')),1,1,''												
										)),'')) List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #LegalClient W ON W.HistoryID = H.ID 
					where     H.Action_ID = 29 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), GETDATE()) = 0							    
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 35)
					 

					Insert into gen_Manage_Notification_Emails_History
					select   H.ID,@Subject,@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
								inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
								inner join #LegalClient W ON W.HistoryID = H.ID 
					where     H.Action_ID = 29 
								AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), GETDATE()) = 0							    
								and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
								and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 35)
						
			END

		IF @Stage = 'Legal Talent'  -- IF Talent legal status is not changed to Completed post 5 working days post Talent status is marked as Hired
			BEGIN
					
					IF @ReminderDays = 5
						SET @Subject = N'Reminder: Talent Legal Status Pending for HR'
					IF @ReminderDays = 7
						SET @Subject = N'Important: Talent Signature Needed for HR'
						
						
					
					If OBJECT_ID('tempdb..#LegalTalent') is not null
						DROP TABLE #LegalTalent

					 Create Table #LegalTalent
					 (
					   HistoryID  bigint 
					 )

					Insert into #LegalTalent
					select    Max(HI.ID) HistoryID
					from      gen_History HI With(NOLOCK) 
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
					where     HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
					Group By Hi.HiringRequest_ID,Hi.Talent_ID

					select    H.ID,H.HiringRequest_ID,
							  (select isnull((STUFF((
												select	  ', ' + CAST(H1.Talent_ID as Nvarchar(10))
												from	gen_History H1	with(Nolock)	
														inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H1.HiringRequest_ID
														inner join #LegalTalent W ON W.HistoryID = H1.ID														
												where	H1.HiringRequest_ID = H.HiringRequest_ID
														and H1.Talent_ID <> 0 and
														H1.Action_ID = 25 AND DATEDIFF(day, dbo.Excluding_WeekDays(H1.CreatedByDatetime,@ReminderDays), getdate()) = 0
														and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
														and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 38)
												For	XML Path('')),1,1,''												
										)),'')) List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #LegalTalent W ON W.HistoryID = H.ID 
					where     H.Action_ID = 25 
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), GETDATE()) = 0							    
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 38)
					

					Insert into gen_Manage_Notification_Emails_History
					select   H.ID,@Subject,@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
								inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
								inner join #LegalTalent W ON W.HistoryID = H.ID 
					where     H.Action_ID = 25 
								AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), GETDATE()) = 0							    
								and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
								and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 38)
					
			END

		IF @Stage = 'Kick off'  -- If Kickoff status is not changed to completed post 1 day of the engamgent start date 
			BEGIN
					
					IF @ReminderDays = 1
						SET @Subject = N'Reminder: Kick-off Completion Needed for HR'					
						
					
					
					If OBJECT_ID('tempdb..#KickOff') is not null
						DROP TABLE #KickOff

					 Create Table #KickOff
					 (
					   HistoryID  bigint 
					 )

					Insert into #KickOff
					select    Max(HI.ID) HistoryID
					from      gen_History HI With(NOLOCK) 
							 inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = HI.HiringRequest_ID
					where     HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
					Group By Hi.HiringRequest_ID,Hi.Talent_ID

					select    H.ID,H.HiringRequest_ID,
							  (select isnull((STUFF((
												select	  ', ' + CAST(H1.Talent_ID as Nvarchar(10))
												from	gen_History H1	with(Nolock)	
														inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
														inner join #KickOff W ON W.HistoryID = H1.ID
														inner join gen_OnBoardClientContractDetails OCC WITH(NOLOCK) ON OCC.OnBoardID = H1.OnBoardID
												where	H1.HiringRequest_ID = H.HiringRequest_ID
														and H1.Talent_ID <> 0 and
														H1.Action_ID in (35,38) AND DATEDIFF(day, dbo.Excluding_WeekDays(H1.CreatedByDatetime,@ReminderDays), getdate()) = 0
														and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
														and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 42)
												For	XML Path('')),1,1,''												
										)),'')) List_TalentIDs
					from	  gen_History H with(Nolock)
							  inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
							  inner join #KickOff W ON W.HistoryID = H.ID 
							  inner join gen_OnBoardClientContractDetails OCC WITH(NOLOCK) ON OCC.OnBoardID = H.OnBoardID
					where     H.Action_ID in (35,38)
							  AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), OCC.ContractStartDate) = 0							    
							  and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
							  and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 42)
					

					Insert into gen_Manage_Notification_Emails_History
					select   H.ID,@Subject,@ReminderDays,Getdate()
					from	  gen_History H with(Nolock)
								inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HiringRequest_ID
								inner join #KickOff W ON W.HistoryID = H.ID 
								inner join gen_OnBoardClientContractDetails OCC WITH(NOLOCK) ON OCC.OnBoardID = H.OnBoardID
					where     H.Action_ID in (35,38)
								AND  DATEDIFF(day, dbo.Excluding_WeekDays(H.CreatedByDatetime,@ReminderDays), OCC.ContractStartDate) = 0							    
								and HR.Status_ID not in (3,4,5,6) and ISnull(HR.JobStatusID,0) <> 2
								and not exists(select 1 from gen_History H1 With(Nolock) where H1.HiringRequest_ID = H.HiringRequest_ID and H1.Talent_ID = H.Talent_ID
														and H1.Action_ID <> 42)
					

			END

		IF @Stage = ''
			BEGIN
					select    H.*
					from	  gen_History H With(Nolock)
					where     1 = 0
			END

		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_ListOfHRs_For_SendingNotifications_Club'
END