ALTER Procedure [dbo].[Sproc_Update_Basic_CompanyDetails]
 @CompanyId				BIGINT			= 0,
 @CompanyName			NVARCHAR(100)	= NULL,
 @FoundedYear			NVARCHAR(5)		= NULL,
 @TeamSize				INT				= NULL,
 @WebsiteURL			NVARCHAR(200)	= NULL,
 @CompanyType			NVARCHAR(200)	= NULL,
 @CompanyIndustry		NVARCHAR(100)	= NULL,
 @Headquaters			NVARCHAR(100)	= NULL,
 @AboutCompany			NVARCHAR(MAX)	= NULL,
 @Culture				NVARCHAR(MAX)	= NULL,
 @CreatedByID			BIGINT			= NULL,
 @CompanyNameLogoname	NVARCHAR(200)	= NULL,
 @IsSelfFunded			BIT				= NULL,
 @AppActionDoneBy		INT				= NULL,
 @LinkedInProfile		NVARCHAR(300)	= NULL,
 @CompanySize			Nvarchar(500)   = null
 AS 
 BEGIN
			
	IF @CompanyId > 0 AND EXISTS (SELECT 1 FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyId)
	BEGIN

		--Insert history
		EXEC SPROC_Gen_Company_History @CompanyID = @CompanyId, @AppActionDoneBy = @AppActionDoneBy

		IF ISNULL(@TeamSize,0) > 0
		BEGIN
			SET @CompanySize = CAST(@TeamSize AS NVARCHAR(500))
		END 

		UPDATE gen_Company
		SET    Company = ISNULL(@CompanyName, Company),
				industry = ISNULL(@CompanyIndustry,industry),
				about_Company_desc = ISNULL(@AboutCompany,about_Company_desc),
				CompanySize = ISNULL(@TeamSize,CompanySize),
				Website = ISNULL(@WebsiteURL,Website),
				LinkedInProfile = ISNULL(@LinkedInProfile,LinkedInProfile),
				ModifiedByID = @CreatedByID,
				ModifiedByDatetime = GETDATE(),
				CompanyLogo = ISNULL(@CompanyNameLogoname,CompanyLogo),
				CompanySize_RangeorAdhoc = Isnull(@CompanySize,CompanySize_RangeorAdhoc)
		WHERE  ID = @CompanyId
	END
	ELSE
	BEGIN
		INSERT INTO gen_Company(Company, industry, about_Company_desc, CompanySize, Website, LinkedInProfile, CompanyLogo, CreatedByID, CreatedByDatetime, IsActive,CompanySize_RangeorAdhoc,AppActionDoneBy)
		VALUES(@CompanyName, @CompanyIndustry, @AboutCompany, @TeamSize, @WebsiteURL, @LinkedInProfile, @CompanyNameLogoname, @CreatedByID, Getdate(), 1,@CompanySize,@AppActionDoneBy)

		SET @CompanyId = SCOPE_IDENTITY(); 

		--Insert history
		EXEC SPROC_Gen_Company_History @CompanyID = @CompanyId, @AppActionDoneBy = @AppActionDoneBy
	END

	IF EXISTS(Select 1 from gen_Company_Details WITH(NOLOCK) WHERE CompanyId = @CompanyId)
	BEGIN
		UPDATE  gen_Company_Details
		SET		FoundedYear = Isnull(@FoundedYear,FoundedYear),
				CompanyType = Isnull(@CompanyType,CompanyType),
				Headquaters = ISNULL(@Headquaters,Headquaters),
				Culture = Isnull(@Culture,Culture),
				IsSelfFunded = ISNULL(@IsSelfFunded, IsSelfFunded),
				ModifiedByID = @CreatedByID,
				ModifiedDateTime = GETDATE()
		WHERE   CompanyId = @CompanyId
	END
	ELSE
	BEGIN
		DECLARE @IsValidData BIT = 0;

		IF ISNULL(@FoundedYear,'') = '' AND ISNULL(@CompanyType,'') = '' AND ISNULL(@Headquaters,'') = '' AND ISNULL(@Culture,'') = '' 
		BEGIN
			SET @IsValidData = 0;
		ENd
		ELSE
		BEGIN
			SET @IsValidData = 1;
		ENd
		
		IF @IsValidData = 1
		BEGIN
			INSERT INTO gen_Company_Details
				(CompanyId,FoundedYear,CompanyType,Headquaters,Culture,IsSelfFunded,CreatedByID,CreatedDateTime)
			VALUES(@CompanyId,@FoundedYear,@CompanyType,@Headquaters,@Culture,@IsSelfFunded,@CreatedByID,GETDATE())
		END
		
	END

	IF(ISNULL(@IsSelfFunded,0) = 1)
	BEGIN
		IF EXISTS(SELECT TOP 1 CompanyID FROM gen_Company_FundingDetails WITH (NOLOCK) WHERE CompanyID = @CompanyId)
		BEGIN
			DELETE FROM gen_Company_FundingDetails
			WHERE CompanyID = @CompanyId
		END
	END

	SELECT @CompanyId AS CompanyID
 END