USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_UTS_UpdateCompanyCreditInfo]    Script Date: 07-05-2024 13:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sproc_UTS_UpdateCompanyPaymentInfo]	
	@CompanyId BIGINT = NULL,
	@CompanyAddress NVARCHAR(MAX) = NULL,
	@CompanyState NVARCHAR(500) = NULL,
	@BillingCompanyName NVARCHAR(MAX) = NULL,
	@CompanyPinCode NVARCHAR(50) = NULL,
	@CompanyPAN NVARCHAR(250) = NULL,
	@CompanyGSTNumber NVARCHAR(250) = NULL
AS
BEGIN
		update [dbo].[gen_Company] SET 
		Address=ISNULL(@CompanyAddress,Address),
		State=ISNULL(@CompanyState,State),
		BillingCompanyName=ISNULL(@BillingCompanyName,BillingCompanyName),
		Zip=ISNULL(@CompanyPinCode,Zip),
		PANNumber=ISNULL(@CompanyPAN,PANNumber),
		GSTNumber=ISNULL(@CompanyGSTNumber,GSTNumber)
		where ID=@CompanyId	
			
END