ALTER PROCEDURE [dbo].[sproc_Update_PreOnBoardingDetails_for_AMAssignment]
    @HR_ID					BIGINT				= NULL,
	@CompanyID				BIGINT				= NULL,
	@CreatedByID			INT					= NULL,
	@Lead_Type				NVARCHAR(300)		= NULL,
	@DealSource				NVARCHAR(300)		= NULL,
	@DealOwner				NVARCHAR(300)		= NULL,
	@Industry_Type			NVARCHAR(2000)		= NULL,
	@OnBoardID				BIGINT				= NULL,
	@ShiftStartTime			NVARCHAR(100)		= NULL,
	@ShiftEndTime			NVARCHAR(100)		= NULL,
	@NetPaymentDays			INT					= NULL,
	@PayRate				DECIMAL(18,2)		= NULL,
	@BillRate				DECIMAL(18,2)		= NULL,
	@UplersFeesInAmountstr	NVARCHAR(500)		= NULL,
	@TalentID				BIGINT				= NULL,
	@NRMargin				DECIMAL(18,2)		= NULL,
	@ModeOFWorkingID		INT					= NULL,
	@City					NVARCHAR(100)		= NULL,
	@StateID				INT					= NULL,
	@Talent_Designation		NVARCHAR(100)		= NULL,
	@AMSalesPersonID		INT					= NULL,
	@TSCUserId				bigint				= NULL
AS
BEGIN

		DECLARE @Talent_CurrencyCode nvarchar(10) = NULL;
		DECLARE @CurrencySign nvarchar(10) = NULL;
		DECLARE @ISHRTypeDP BIT = 0;
		DECLARE @Percentage DECIMAL(18,2) = NULL;
		DECLARE @UplersFeesAmount  DECIMAL(18,2) = NULL;
		DECLARE @Currency_CalcHR_Cost  nvarchar(100) = NULL;

		DECLARE @UplersFeesInAmount DECIMAL(18,2) = null

		IF ISNULL(@UplersFeesInAmountstr,'') <> ''
		BEGIN
			SET @UplersFeesInAmount = (select CAST(ISNULL(@UplersFeesInAmountstr,0) AS DECIMAL(18,2)))
		END


		BEGIN -- gen_ContactTalentPriority region
		
				SELECT @Talent_CurrencyCode = ISNULL(CTP.Talent_CurrencyCode,'USD'),
				   @CurrencySign = ISNULL(CER.CurrencySign,'$'),
				   @ISHRTypeDP = ISNULL(IsHRTypeDP,0)
				FROM gen_ContactTalentPriority CTP WITH(NOLOCK) 
				INNER JOIN prg_CurrencyExchangeRate CER WITH(NOLOCK) ON CER.CurrencyCode = CTP.Talent_CurrencyCode
				WHERE CTP.HiringRequestID = @HR_ID AND CTP.TalentID = @TalentID
				
				PRINT @Talent_CurrencyCode
				PRINT @CurrencySign
				
				--Contratual
				If @BillRate > 0 AND @PayRate > 0 AND @ISHRTypeDP = 0
				BEGIN
					SELECT 
					@BillRate = CalculatedClientPay, 
					@PayRate = CalculatedTalentPay, 
					@UplersFeesAmount = CalculatedUplersFeesInAmount, 
					@Percentage = CalculatedUplersFeesInPer
					FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@PayRate, @BillRate, 0, 0, 0);
					
					SET @Currency_CalcHR_Cost = @CurrencySign + CONVERT(varchar, CAST(ISNULL(@BillRate,0) AS MONEY), 1) + ' '+ @Talent_CurrencyCode + ' / Month' 
				END
				
				--DP
				If @UplersFeesInAmount > 0 AND @PayRate > 0 AND @ISHRTypeDP = 1
				BEGIN
				
					SELECT 
					@BillRate = CalculatedClientPay, 
					@PayRate = CalculatedTalentPay, 
					@UplersFeesAmount = CalculatedUplersFeesInAmount, 
					@Percentage = CalculatedUplersFeesInPer
					FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@PayRate, 0, @UplersFeesInAmount, 0, 0);
					
					SET @Currency_CalcHR_Cost = @CurrencySign + CONVERT(varchar, CAST(ISNULL(@BillRate,0) AS MONEY), 1) + ' '+ @Talent_CurrencyCode + ' One time Amount'				  
				END
				
				IF EXISTS(SELECT 1 FROM gen_ContactTalentPriority with(nolock)  WHERE TalentID = @TalentID AND HiringRequestID = @HR_ID)
				BEGIN
				
						--Update Billrate and Payrate -----
						if(@ISHRTypeDP = 0) -- Contratual
						begin
								----Update Talent Status in gen_ContactTalentPriority as per HR & HR Cost
							update	TalentPr 
							Set		
									TalentPr.HR_Cost = @Currency_CalcHR_Cost 
									,Final_HR_Cost = @BillRate
									,TalentCost = @PayRate
									,NRPercentage = @Percentage
									,HR_Base_Cost = @BillRate
									,Currency_Final_HR_Cost = @BillRate
									,Currency_HR_Base_Cost = @BillRate
									,UplersfeesAmount = CONVERT(varchar, CAST( @UplersFeesAmount AS MONEY), 1)
									,NRorDPChangeDateTime = getdate()	
									,TalentPr.ModifiedByID = Isnull(@CreatedByID,ModifiedByID)
									,TalentPr.ModifiedByDatetime = GETDATE()
							From	gen_ContactTalentPriority TalentPr	with(UPDLOCK)													
							where   TalentID = @TalentID AND HiringRequestID = @HR_ID--AND TalentPr.ContactID = @ContactID AND TalentPr.HiringRequestID = @HiringRequestID AND TalentPr.HiringRequest_Detail_ID = @HiringRequest_Detail_ID
							
						end
						else if(@ISHRTypeDP = 1)-- DP
						begin 
						
								Update  gen_ContactTalentPriority WITH(UPDLOCK)
								SET		
										 HR_Cost =  @Currency_CalcHR_Cost  
										,Final_HR_Cost = @BillRate
										,TalentCost = @PayRate
										,DP_Percentage = @Percentage
										,HR_Base_Cost = @BillRate
										,Currency_Final_HR_Cost = @BillRate
										,Currency_HR_Base_Cost = @BillRate
										,DPAmount = @BillRate
										,UplersfeesAmount = CONVERT(varchar, CAST( @UplersFeesAmount AS MONEY), 1)
										,NRorDPChangeDateTime = getdate()	
			 							,ModifiedByID = Isnull(@CreatedByID,ModifiedByID)
										,ModifiedByDatetime = getdate()
								WHERE TalentID = @TalentID AND HiringRequestID = @HR_ID			
							
						end
				END
		END		

		BEGIN -- gen_OnboardTalents with NBD_SalesPersonID/ AM_SalesPersonID, gen_Company & gen_SalesHiringRequest update region 

		-- Update Company Detail
		    IF( @AMSalesPersonID> 0)
			BEGIN

					IF EXISTS(SELECT 1 FROM gen_Company with(nolock)  WHERE ID = @CompanyID)
					BEGIN
							DECLARE @IsFirstTimeAMSaveInCompany BIT = 0, @IsAMChanged BIT = 0 
							DECLARE @CurrentAMSalesPersonID INT = 0

							SELECT @CurrentAMSalesPersonID = ISNULL(AM_SalesPersonID,0)
							FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyID

					
							--AM ADD Case
							IF ISNULL(@CurrentAMSalesPersonID,0) = 0 AND ISNULL(@AMSalesPersonID,0) > 0
							BEGIN
								SET @IsFirstTimeAMSaveInCompany = 1
							END
							--AM Edit case
							IF (ISNULL(@CurrentAMSalesPersonID,0) > 0 AND ISNULL(@AMSalesPersonID,0) > 0 AND @CurrentAMSalesPersonID <> @AMSalesPersonID)
							BEGIN
								SET @IsAMChanged = 1 
							END

							UPDATE	gen_Company
								SET Industry_Type = ISNULL(@Industry_Type,Industry_Type),
									Lead_Type = CASE WHEN ISNULL(@DealSource,'') = 'InBound' THEN  Isnull(@Lead_Type,Lead_Type) ELSE ISNULL(@DealSource,Lead_Type) END,
									AM_SalesPersonID = IIF(ISNULL(@AMSalesPersonID,0) > 0, @AMSalesPersonID, AM_SalesPersonID),
									ModifiedByDatetime = getdate(),
									ModifiedByID = Isnull(@CreatedByID,ModifiedByID)
							WHERE	Id = @CompanyID

					--Payal(23-07-2024) 
					IF (ISNULL(@AMSalesPersonID,0) > 0 AND @CurrentAMSalesPersonID <> @AMSalesPersonID)
					BEGIN
			  
						 update  H
								set     H.SalesUserID = @AMSalesPersonID									
								FROM    gen_SalesHiringRequest H WITH(UPDLOCK) 
								INNER JOIN gen_Contact CT WITH(NOLOCK) ON CT.ID = H.ContactID 
								WHERE   H.JobStatusID not in(2) AND CT.CompanyID = @CompanyID
					END
					

					IF @IsFirstTimeAMSaveInCompany = 1
					BEGIN
						EXEC sproc_HiringRequest_History_Insert 
						@Action = 'AM_Assignment', @HiringRequest_ID = @HR_ID, @Talent_ID = @TalentID,
						@Created_From = 0, @CreatedById = @CreatedByID, @ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
						@HR_AcceptedDateTime = '', @OnBoard_ID = @OnBoardID, @IsManagedByClient = 0, @IsManagedByTalent = 0,			
						@SalesUserID = 0, @OldSalesUserID = 0, @AppActionDoneBy = 3	
								
					END
					ELSE
					BEGIN 
						EXEC sproc_HiringRequest_History_Insert 
						@Action = 'AM_Assignment_Update', @HiringRequest_ID = @HR_ID, @Talent_ID = @TalentID,
						@Created_From = 0, @CreatedById = @CreatedByID, @ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
						@HR_AcceptedDateTime = '', @OnBoard_ID = @OnBoardID, @IsManagedByClient = 0, @IsManagedByTalent = 0,			
						@SalesUserID = 0, @OldSalesUserID = 0, @AppActionDoneBy = 3	
					END
				END

				    Declare @IsNewUser as bit = 0
				    Select @IsNewUser = Isnull(IsNewUser,0) from usr_User WITH(NOLOCK) where ID = @AMSalesPersonID

					 IF @IsNewUser = 1 
						BEGIN	
								Update gen_OnboardTalents WITH(UPDLOCK)
								SET    NBD_SalesPersonID = @AMSalesPersonID,
								       AM_SalesPersonID = @AMSalesPersonID
								where  ID = @OnBoardID
						END
						IF @IsNewUser = 0 
						BEGIN	
								Update gen_OnboardTalents WITH(UPDLOCK)
								SET    AM_SalesPersonID = @AMSalesPersonID
								where  ID = @OnBoardID
						END
						
		    END
		END

		---Region----------add TSC_PersonId in gen_OnBoardTalents-----------history------------------
		BEGIN
			IF ISNULL(@TSCUserId,0) > 0
			BEGIN
				UPDATE gen_OnBoardTalents
				SET TSC_PersonId = @TSCUserId
				WHERE Id = @OnBoardId

				--Insert history
				EXEC sproc_HiringRequest_History_Insert
					@Action = 'Add_TSC',
					@HiringRequest_ID = @HR_ID,
					@Talent_ID = @TalentID,
					@Created_From = 0,
					@CreatedById = @CreatedByID,
					@ContactTalentPriority_ID = 0, 
					@InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '',
					@OnBoard_ID = @OnBoardID,
					@IsManagedByClient = 0,
					@IsManagedByTalent = 0,
					@SalesUserID = 0,
					@OldSalesUserID = 0,
					@AppActionDoneBy = 3,
					@SalesHistoryID = 0,
					@SalesDetailHistoryID = 0
			END
		END
		-------------------------------------------------------------------------------

		BEGIN -- gen_OnboardTalents &  gen_OnBoardClientContractDetails region 

					--- Update Talent_Cost and Final_HR_Cost & percentage in  gen_OnboardTalents -----
				IF EXISTS(SELECT 1 FROM gen_OnboardTalents with(nolock)  WHERE ID = @OnBoardID)
				BEGIN
						
						if(@ISHRTypeDP = 0) -- Contratual
						begin
							UPDATE	gen_OnboardTalents WITH(UPDLOCK) SET 
									Talent_Cost = case when ISNULL(@PayRate,0)> 0 then  @PayRate else Talent_Cost END,
									Final_HR_Cost = case when ISNULL(@BillRate,0) > 0 then @BillRate else Final_HR_Cost END,									
									NRPercentage = case when ISNULL(@Percentage,0) >0 then @Percentage else NRPercentage END  ,
									TalentFeesStr = @Currency_CalcHR_Cost,
									ClientOnBoarding_StatusID = 8,
									ModeOFWorkingID = IIF(ISNULL(@ModeOFWorkingID,'')= '', ModeOFWorkingID, @ModeOFWorkingID),
									City = IIF(ISNULL(@City,'')='', City, @City),
									StateID = IIF(ISNULL(StateID,'')='', StateID, StateID),									
									LastModifiedDatetime =  getdate(),
									LastModifiedByID = Isnull(@CreatedByID,LastModifiedByID)
							WHERE ID = @OnBoardID
						END
						if(@ISHRTypeDP = 1) -- DP
						begin
							UPDATE	gen_OnboardTalents WITH(UPDLOCK) SET 
									Talent_Cost = case when ISNULL(@PayRate,0)> 0 then  @PayRate else Talent_Cost END,
									Final_HR_Cost = case when ISNULL(@BillRate,0) > 0 then @BillRate else Final_HR_Cost END,								
									DPPercentage = case when ISNULL(@Percentage,0) > 0 then @Percentage else DPPercentage END,
									DPAmount = case when ISNULL(@BillRate,0) > 0 then @BillRate else Final_HR_Cost END,
									TalentFeesStr = @Currency_CalcHR_Cost,
									ClientOnBoarding_StatusID = 8,
									ModeOFWorkingID = IIF(ISNULL(@ModeOFWorkingID,'')='', ModeOFWorkingID, @ModeOFWorkingID),
									City = IIF(ISNULL(@City,'')='', City, @City),
									StateID = IIF(ISNULL(StateID,'')='', StateID, StateID),									
									LastModifiedDatetime =  getdate(),
									LastModifiedByID = Isnull(@CreatedByID,LastModifiedByID)
							WHERE ID = @OnBoardID
						END
						
				END	

				--- Update talent information like punch start time and end time-----
				IF EXISTS(SELECT 1 FROM gen_OnBoardClientContractDetails with(nolock)  WHERE OnBoardID = @OnBoardID)
				BEGIN
					UPDATE	gen_OnBoardClientContractDetails WITH(UPDLOCK) SET 
							PunchStartTime = ISNULL(@ShiftStartTime,PunchStartTime),
							PunchEndTime = ISNULL(@ShiftEndTime,PunchEndTime),
							NetPaymentDays = ISNULL(@NetPaymentDays,NetPaymentDays),
							LastModifiedDatetime = getdate(),
							LastModifiedByID = Isnull(@CreatedByID,LastModifiedByID)
					WHERE	OnBoardID = @OnBoardID
					
				END
        END
		
		BEGIN -- gen_Talent region 

			IF EXISTS(SELECT 1 FROM gen_Talent with(nolock) WHERE ID = @TalentID)
			BEGIN
				UPDATE gen_Talent WITH(UPDLOCK)
				SET Designation = IIF(ISNULL(@Talent_Designation,'')='', Designation, @Talent_Designation)
				WHERE ID = @TalentID
			END
		END

		----- Update HR Cost  -----
		--IF EXISTS(SELECT 1 FROM gen_SalesHiringRequest_Details with(nolock)  WHERE HiringRequest_ID = @HR_ID)
		--BEGIN
		--	UPDATE	gen_SalesHiringRequest_Details SET 					
		--			HR_Cost = ISNULL(@HR_COST, HR_Cost),
		--			LastModifiedDatetime = getdate(),
		--			LastModifiedByID = Isnull(@CreatedByID,LastModifiedByID)
		--	WHERE HiringRequest_ID = @HR_ID
		--END

			
END