CREATE PROCEDURE [dbo].[sproc_UTS_Update_LastWorkingDay_For_TalentinReplacement]
   @NewOnBoard_Id			bigint = null,
   @ReplaceTalentId         bigint = null,
   @HiringRequestID			bigint = null,
   @ContactID				bigint = null,
   @LastWorkingDay			datetime = null
AS
BEGIN

		Declare @OldOnBoardId as bigint = 0
		 

		--Update  gen_OnBoardTalents_ReplacementDetails
		--set     LastWorkingDay = @LastWorkingDay
		--where   NewOnBoard_Id = @NewOnBoard_Id and ReplaceTalentId = @ReplaceTalentId and HiringRequestID = @HiringRequestID
		--		and ContactID = @ContactID and LastWorkingDay is null


		---Update Lost Flag and Lost month and Year 
		Declare @OldTalentClosureDate as datetime = null
		Declare @OldTalentReplacementTriggerDate as datetime = null
		Declare @OldTalentLastWorkingDate as datetime = null
		Declare @NewTalentClosureDate as datetime = null

		select @OldOnBoardId = OnboardID
		from   gen_OnBoardTalents_ReplacementDetails with(NOLOCK)
		where  NewOnBoard_Id = @NewOnBoard_Id and ReplaceTalentId = @ReplaceTalentId and HiringRequestID = @HiringRequestID
			   and ContactID = @ContactID

		select @OldTalentClosureDate = Isnull(ClientClosureDate,null)
		From   gen_OnBoardTalents with(NOLOCK)
		where  ID = @OldOnBoardId 

		select  @OldTalentReplacementTriggerDate = Isnull(ReplacementDate,null),
				@OldTalentLastWorkingDate = Isnull(LastWorkingDay,null)
		From    gen_OnBoardTalents_ReplacementDetails with(NOLOCK)
		where   OnboardID = @OldOnBoardId 

		select @NewTalentClosureDate = Isnull(ClientClosureDate,null)
		From   gen_OnBoardTalents with(NOLOCK)
		where  ID = @NewOnBoard_Id 

		begin   ---Scenario 1 
			IF (@OldTalentClosureDate is not null and @OldTalentReplacementTriggerDate is not null and
				@OldTalentLastWorkingDate is not null and @NewTalentClosureDate is not null)
				begin
						IF (Month(@OldTalentClosureDate) = Month(@OldTalentReplacementTriggerDate) and
							Month(@OldTalentClosureDate) = Month(@OldTalentLastWorkingDate) and
							Month(@OldTalentClosureDate) = Month(@NewTalentClosureDate)
							) 
							begin
												
									UPDATE gen_OnBoardTalents_ReplacementDetails
									SET    IsLost = 0
									WHERE  HiringRequestID = @HiringRequestID and OnboardID = @OldOnBoardId

							end
				end
		end
		begin   ---Scenario 2 and 3 
			IF (@OldTalentClosureDate is not null and @OldTalentReplacementTriggerDate is not null and
				@OldTalentLastWorkingDate is not null and @NewTalentClosureDate is not null)
				begin
						IF (Month(@OldTalentClosureDate) < Month(@OldTalentReplacementTriggerDate) and
							Month(@OldTalentReplacementTriggerDate) = Month(@OldTalentLastWorkingDate) and
							Month(@OldTalentLastWorkingDate) = Month(@NewTalentClosureDate)  and 
							(@NewTalentClosureDate >= @OldTalentLastWorkingDate or 
							@NewTalentClosureDate < @OldTalentLastWorkingDate)
							) 
							begin
												
									UPDATE gen_OnBoardTalents_ReplacementDetails
									SET    IsLost = 1,LostMonth = Month(@OldTalentReplacementTriggerDate),
											LostYear = Year(@OldTalentReplacementTriggerDate)
									WHERE  HiringRequestID = @HiringRequestID and OnboardID = @OldOnBoardId

							end
				end
		end
		begin   ---Scenario 4 
			IF (@OldTalentClosureDate is not null and @OldTalentReplacementTriggerDate is not null and
				@OldTalentLastWorkingDate is  null and @NewTalentClosureDate is  null)
				begin		
						IF (Month(@OldTalentClosureDate) < Month(@OldTalentReplacementTriggerDate)) 
							begin
								UPDATE gen_OnBoardTalents_ReplacementDetails
								SET    IsLost = 1,LostMonth = Month(@OldTalentReplacementTriggerDate),
										LostYear = Year(@OldTalentReplacementTriggerDate)
								WHERE  HiringRequestID = @HiringRequestID and OnboardID = @OldOnBoardId
							END
				end
		end
		begin   ---Scenario 5 
			IF (@OldTalentClosureDate is not null and @OldTalentReplacementTriggerDate is not null and
				@OldTalentLastWorkingDate is not null and @NewTalentClosureDate is not null)
				begin
						IF (Month(@OldTalentClosureDate) = Month(@OldTalentReplacementTriggerDate) and
							Month(@OldTalentReplacementTriggerDate) < Month(@OldTalentLastWorkingDate) and
							Month(@OldTalentLastWorkingDate) = Month(@NewTalentClosureDate) 
							) 
							begin												
									UPDATE gen_OnBoardTalents_ReplacementDetails
									SET    IsLost = 0
									WHERE  HiringRequestID = @HiringRequestID and OnboardID = @OldOnBoardId
							end
									 
				end
		end

END