ALTER PROCEDURE [dbo].[sproc_GetChannelWiseFunnelReportData_For_Summary_Revised]
@FromStartDate1			nvarchar(20) = NULL,
@FromEndDate1			nvarchar(20) = NULL,
@FromStartDate2			nvarchar(20) = NULL,
@FromEndDate2			nvarchar(20) = NULL,
@IsHiringNeed			nvarchar(5)  = NULL,
@ModeOfWorkId			nvarchar(5)  = NULL,
@TypeOfHR		        nvarchar(5)  = NULL,
@CompanyCategory        nvarchar(5)  = NULL,
@Replacement			nvarchar(5) = NULL,
@Heads					nvarchar(100) = NULL,
@LeadUserID				bigint			= 0,   -- To filter Record based on Lead User (Inbound/Outbound)
@IsHRFocused			bit				= 0,
@Geos					Nvarchar(Max)	= ''

AS
BEGIN

SET NOCOUNT ON;

IF @IsHRFocused != 1
		SET @IsHRFocused = NULL;

	BEGIN TRAN T1;
		DECLARE @IsHRTypeDP bit 
		declare @ModeOfWork nvarchar(50) = ''
		DECLARE @IsReplacement bit = 0
		Declare @MainPArentId  as bigint
		DECLARE @GeoIDs int = 0
		DECLARE @Geo nvarchar(max) = null


		IF (@Replacement = '0' OR @Replacement = '')
		BEGIN 
			SET @IsReplacement = 0;
		END
		ELSE
		BEGIN
			SET @IsReplacement = 1;
		END

		IF (@TypeOfHR = '' OR @TypeOfHR = '-1')
			BEGIN 
				SET @IsHRTypeDP = NULL;
			END
		ELSE
			BEGIN
			SET @IsHRTypeDP = @TypeOfHR;
			END

		IF (@ModeOfWorkId !='' or @ModeOfWorkId !='0')
			BEGIN
				set @ModeOfWork = (SELECT ModeOfWorking FROM prg_ModeOfWorking WITH(NOLOCK) where ID = @ModeOfWorkId)
			END

		IF @CompanyCategory = '' OR @CompanyCategory = '-1'
		BEGIN 
			SET @CompanyCategory = NULL;
		END
		
		begin /* Add Columns For Channel Wise Action Report From SP */
		
			begin /* Add Columns For Channel Wise Action Report From SP */
		
			BEGIN--Drop Temp Table if exists.
				IF OBJECT_ID('temp_db..#HRChannelWiseHRWise_For_Summary_Records1_Revised') IS NOT NULL
					DROP TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised;
				IF OBJECT_ID('temp_db..#Tbl_SalesManager') IS NOT NULL
					DROP TABLE #Tbl_SalesManager;
				IF OBJECT_ID('temp_db..#HeadTempTbl2') IS NOT NULL
					DROP TABLE #HeadTempTbl2;
			END


			BEGIN--Create Temp Table.
				CREATE TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised(RowType int,ManagerName NVARCHAR(300), ManagerID bigint, Duration NVARCHAR(100)); 
				CREATE TABLE #Tbl_SalesManager(ID int primary key identity(1,1), SM_ID bigint, SM_Name nvarchar(200));
				CREATE TABLE #HeadTempTbl2(HeadID bigint);
			END


			IF @Heads <> ''
			BEGIN
				INSERT INTO #HeadTempTbl2(HeadID)
					select val from f_split(@Heads,',');
			END
			ELSE
			BEGIN
				--Get All Head Level User of Demand Dept.
				INSERT INTO #HeadTempTbl2(HeadID)
					SELECT distinct ID from usr_User with(nolock) where DeptID = 1 and LevelID = 1;
			END	


			ALTER TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised ADD [TR Accepted_1] decimal(18,1) default 0;
			ALTER TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised ADD [Profile Shared_1] decimal(18,1) default 0;
			ALTER TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised ADD [Interviews Done_1] decimal(18,1) default 0;
			ALTER TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised ADD [Interview Success_1] decimal(18,1) default 0;
			ALTER TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised ADD [Profile Rejected_1] decimal(18,1) default 0;
			ALTER TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised ADD [Interview Reject_1] decimal(18,1) default 0;
			ALTER TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised ADD [SOW Signed_1] decimal(18,1) default 0;


			BEGIN--Insert all Sales Managers
				INSERT INTO #Tbl_SalesManager(SM_ID, SM_Name)
				SELECT distinct U.ID, U.FullName + '_Total' from usr_User U with(nolock) 
					--INNER JOIN usr_UserHierarchy UH with(nolock) ON UH.ParentID = U.ID
					INNER JOIN #HeadTempTbl2 H on U.ID = H.HeadID
					WHERE U.UserTypeID = 9  and U.IsActive = 1 and U.ID <> 370;  --Exclude Navpreet


				INSERT INTO #HRChannelWiseHRWise_For_Summary_Records1_Revised(RowType,ManagerName, ManagerID)
					SELECT ROW_NUMBER() OVER(PARTITION BY SM_ID ORDER BY SM_ID ASC) RowID, SM_Name, SM_ID from #Tbl_SalesManager;

				INSERT INTO #HRChannelWiseHRWise_For_Summary_Records1_Revised(RowType,ManagerName,ManagerID)
				VALUES (-3,'Final Total',0)
				
			END
		end
		end
		IF OBJECT_ID('tempdb..#GeoTbl') Is not null
			DROP TABLE #GeoTbl

		CREATE TABLE #GeoTbl(GeoID int)

		IF (Isnull(@Geos,'') != '')
			BEGIN
				If Lower(@Geos) = 'india'
				  Select @Geo = cast(ID as nvarchar(50)) from prg_GEO WITH(NOLOCK) where Lower(GEO) = Lower(@Geos)
				Else
				  Select  @Geo = stuff((select ',' + cast(ID as nvarchar(max)) from prg_GEO WITH(NOLOCK) where Lower(Geo) <> 'india' FOR XML PATH ('')), 1, 1, '')
			
				 Insert into #GeoTbl
				 select val from f_split(@Geo,',');
			END
		ELSE
			BEGIN
				SET @Geos = ''
			END
		BEGIN -- Payal (04-03-2024) (Remove Test Companies Using Configuration)

			     IF OBJECT_ID('tempdb..#TempRemoveCompanies') IS NOT NULL
					DROP TABLE #TempRemoveCompanies;

				Declare @Values as Nvarchar(Max) = ''

				select  @Values = [Value]  
				from   gen_SystemConfiguration WITH(NOLOCK)
				where  [Key]  ='RemoveCompaniesforUTSAdminReports'

				select  cast(val as bigint) as RemoveCompanyID into #TempRemoveCompanies from dbo.f_Split(@Values,',')

			END

		DECLARE @AllManagerNames NVARCHAR(MAX) = '';
		SET @AllManagerNames = (SELECT stuff((select ',' + '[' + SM_Name + ']' from #Tbl_SalesManager RP for xml path('') ),1,1,''));

		IF Object_Id('temp_db..#HR_ChannelWiseRecords') IS Not Null
			DROP Table #HR_ChannelWiseRecords;

		IF Object_Id('temp_db..#HR_ChannelWiseRecordsBeforeProfileShared') IS Not Null
			DROP Table #HR_ChannelWiseRecordsBeforeProfileShared;

		IF OBJECT_ID('temp_db..#AllProfileSharedUsers') Is not null
			DROP TABLE #AllProfileSharedUsers

		DECLARE @SALESMANAGERID bigint = 0;
		DECLARE @SALESMANAGERName NVARCHAR(200) = '';

		
		IF OBJECT_ID('temp_db..#SMTABLE') IS NOT NULL
			DROP TABLE #SMTABLE;

		CREATE TABLE #SMTABLE (ID int identity(1,1), SM_ID bigint, SM_Name nvarchar(100));

		INSERT INTO #SMTABLE(SM_ID, SM_Name)
			SELECT distinct U.ID, U.FullName from usr_User U with(nolock) 
			INNER JOIN usr_UserHierarchy UH ON  U.ID = UH.ParentID 
			INNER JOIN #HeadTempTbl2 H1 on U.ID = H1.HeadID
			WHERE U.UserTypeID = 9 and U.IsActive = 1;

			IF OBJECT_ID('temp_db..#GetLeadUsersCompany') Is not null
				DROP TABLE #GetLeadUsersCompany
				
			CREATE TABLE #GetLeadUsersCompany
			(
				UserID			bigint,
				CompanyId		bigint
			)

		BEGIN  --added by jimit 19072023 for Lead User Filter
				IF @LeadUserID <> 0
				BEGIN					
					
					
					;WITH RCTE AS
					(
						SELECT *, 1 AS Lvl 
						FROM	usr_UserHierarchy WITH(NOLOCK)
						WHERE	UserID = ISNULL(@LeadUserID,0) or ParentID = Isnull(@LeadUserID,0)

						UNION ALL

						SELECT	rh.*, Lvl+1 AS Lvl 
						FROM	dbo.usr_UserHierarchy rh
								INNER JOIN RCTE rc ON rh.UserID = rc.ParentId
	
					)
					SELECT TOP 1 @MainPArentId = p.id
					FROM	RCTE r
							inner JOIN dbo.usr_User p ON p.id = r.ParentId
					WHere   p.IsActive = 1
					ORDER BY lvl DESC

					;WITH cteUser AS (    
						SELECT	   u.ID AS UserID, 
								   uh.ParentID,
								   u.FullName AS Name,
								   @MainPArentId as MainParentID,
								   0 AS [Level]
						FROM       [dbo].[usr_User] u with(nolock)
								   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID
						WHERE      u.ID = @LeadUserID and U.IsActive = 1		
 
						UNION ALL
 
						SELECT u.ID AS UserID,
								child.ParentID,
								u.FullName AS Name,
								cte.MainParentID as MainParentID,
								[Level]+1 AS [Level]
						FROM       [dbo].[usr_User] u with(nolock)
						INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
						INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
				)
				Insert into #GetLeadUsersCompany
				select  distinct C.UserID,CLU.CompanyID
				from    cteUser C 
						inner join gen_CompanyLeadType_UserDetails CLU WITH(NOLOCK) ON CLU.LeadType_UserID = C.UserID

			END

		END

		CREATE TABLE #HR_ChannelWiseRecordsBeforeProfileShared
		(
			ID						int primary key identity(1,1),
			HR_ID					bigint,
			IsAccepted				int,
			IsAdhocHR				bit,
			HRStatus				int,
			SalesUserID				bigint,
			ParentID				bigint,
			CreatedByDateTime		datetime,
			HR_DetailID				bigint,
			ContactID				bigint,
			IsActive				bit,
			Action_ID				bigint,
			RequiredTR				decimal(18,2) default 0,
			Talent_ID				bigint,
			IsHistoryActive			bit,
			HistoryID				bigint,
			IsManaged				nvarchar(5),
			Availability			NVARCHAR(200),
			HiringNeedType			nvarchar(5),
			ManagerName				NVARCHAR(300),
			MainParentID			bigint,
			IsHRTypeDP				nvarchar(5),
			ModeOfWork				NVARCHAR(50),
			CompanyCategory         nvarchar(5),
			GeoID					int
		)

		--SELECT * FROM #Tbl_SalesManager;
		select distinct  SM_ID into #SalesManager from #Tbl_SalesManager
		IF @LeadUserID <> 0
			BEGIN
					;WITH cteUser AS (    
							SELECT	   u.ID AS UserID, 
									   uh.ParentID,
									   u.FullName AS Name,
									  (select top 1 U.ID from usr_user U where U.ID = TS.SM_ID) as MainParentID,
									   0 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
										inner join #SalesManager TS ON U.ID = TS.SM_ID    
									   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID		
 	
						UNION ALL
 
							SELECT u.ID AS UserID,
									child.ParentID,
									u.FullName AS Name,
									cte.MainParentID as MainParentID,
									[Level]+1 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
							INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
							INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
					)
		
					INSERT INTO #HR_ChannelWiseRecordsBeforeProfileShared(HR_ID, IsAccepted, IsAdhocHR, HRStatus, SalesUserID, ParentID, CreatedByDateTime, HR_DetailID, ContactID, IsActive,Action_ID, RequiredTR, Talent_ID, IsHistoryActive, HistoryID,IsManaged, Availability,
																	HiringNeedType, ManagerName, MainParentID, IsHRTypeDP, ModeOfWork,CompanyCategory,GeoID)
				SELECT	distinct H.ID, ISNULL(H.IsAccepted,0) IsAccepted , ISNULL(H.IsAdhocHR, 0) IsAdhocHR,H.JobStatusID as HRStatus,-- H.Status_ID as HRStatus,
						H.SalesUserID,TS.MainParentID, CAST(His.CreatedByDatetime as DaTE) CreatedByDatetime,
						HD.ID, H.ContactID, ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID, cast(case when Availability ='Part Time' then  cast(H.NoofTalents as decimal(18,1))/2   else ISNULL(H.NoofTalents,0) end as decimal(18,1)) RequiredTR, ISNULL(His.Talent_ID,0) Talent_ID, His.IsActive as IsHistoryActive, His.ID as HistoryID 
						,H.IsManaged as IsManaged, ISNULL(H.Availability,'') Availability, ISNULL(H.IsHiringLimited,0) as HiringNeedType, TS.Name as ManagerName, ISNULL(TS.Parentid,0) as MainParentID
						,ISNULL(H.IsHRTypeDP,0) as IsHRTypeDP,ISNULL(DP.ModeOfWork,'') as ModeOfWork,ISNULL(Co.Category,'')
						,Isnull(Co.GEO_ID,0)
				FROM	gen_SalesHiringRequest H with(nolock) 
						INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
						INNER JOIN prg_TalentRoles PTR with(nolock) on HD.Role_ID = PTR.ID
						INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
						--INNER JOIN prg_HiringRequestStatus HRS with(nolock) on HRS.ID = H.Status_ID
						Inner join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = H.JobStatusID
						INNER JOIN cteUser TS ON  H.SalesUserID = TS.UserID
						INNER JOIN usr_User U with(nolock) ON TS.UserID = U.ID 
						inner join gen_Contact C with(Nolock) On C.ID = H.ContactID
						inner join gen_Company Co WIth(Nolock) On Co.ID = C.CompanyID
						--INNER JOIN #GetLeadUsersCompany CLU WITH(NOLOCK) ON CLU.CompanyID = CO.ID
						INNER JOIN  gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id =H.ID
				WHERE	((cast(His.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date))
						OR
						(cast(His.CreatedByDatetime as date) between Cast(@FromStartDate2 as date) and cast(@FromEndDate2 as date)))
						and Isnull(H.IsHRTypeDP,0) =  ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0))
					    and Isnull(DP.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(DP.ModeOfWork,''))
					    and Isnull(Co.Category,'') =ISNULL(@CompanyCategory,ISNULL(Co.Category,''))
						and Isnull(HD.IsHRFocused,0) = Isnull(@IsHRFocused,Isnull(HD.IsHRFocused,0))
						AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)
						and 
						(
							(@Geos <> '' and exists(select GeoID from #GeoTbl G Where G.GeoID = Co.Geo_ID))
							Or
							(	
								@Geos = '' and 1 = 1
							)
						)
			END
		ELSE
			BEGIN
		
					;WITH cteUser AS (    
							SELECT	   u.ID AS UserID, 
									   uh.ParentID,
									   u.FullName AS Name,
									   (select top 1 U.ID from usr_user U where U.ID = TS.SM_ID) as MainParentID,
									   0 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
										inner join #SalesManager TS ON U.ID = TS.SM_ID    
									   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID			
 
						UNION ALL
 
							SELECT u.ID AS UserID,
									child.ParentID,
									u.FullName AS Name,
									cte.MainParentID as MainParentID,
									[Level]+1 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
							INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
							INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
					)
		
				INSERT INTO #HR_ChannelWiseRecordsBeforeProfileShared(HR_ID, IsAccepted, IsAdhocHR, HRStatus, SalesUserID, ParentID, CreatedByDateTime, HR_DetailID, ContactID, IsActive,Action_ID, RequiredTR, Talent_ID, IsHistoryActive, HistoryID,IsManaged, Availability,
																		HiringNeedType, ManagerName, MainParentID, IsHRTypeDP, ModeOfWork,CompanyCategory,GeoID)
					SELECT	distinct H.ID, ISNULL(H.IsAccepted,0) IsAccepted , ISNULL(H.IsAdhocHR, 0) IsAdhocHR,H.JobStatusID as HRStatus, --H.Status_ID as HRStatus,
							H.SalesUserID,TS.MainParentID, CAST(His.CreatedByDatetime as DaTE) CreatedByDatetime,
							HD.ID, H.ContactID, ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID, cast(case when Availability ='Part Time' then  cast(H.NoofTalents as decimal(18,1))/2   else ISNULL(H.NoofTalents,0) end as decimal(18,1)) RequiredTR, ISNULL(His.Talent_ID,0) Talent_ID, His.IsActive as IsHistoryActive, His.ID as HistoryID 
							,H.IsManaged as IsManaged, ISNULL(H.Availability,'') Availability, ISNULL(H.IsHiringLimited,0) as HiringNeedType, TS.Name as ManagerName, ISNULL(TS.Parentid,0) as MainParentID
							,ISNULL(H.IsHRTypeDP,0) as IsHRTypeDP,ISNULL(DP.ModeOfWork,'') as ModeOfWork,ISNULL(Co.Category,''),
							Isnull(Co.Geo_Id,0)
					FROM	gen_SalesHiringRequest H with(nolock) 
							INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
							INNER JOIN prg_TalentRoles PTR with(nolock) on HD.Role_ID = PTR.ID
							INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
							--INNER JOIN prg_HiringRequestStatus HRS with(nolock) on HRS.ID = H.Status_ID
							Inner join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = H.JobStatusID
							INNER JOIN cteUser TS ON  H.SalesUserID = TS.UserID	
							INNER JOIN usr_User U with(nolock) ON TS.UserID = U.ID 
							inner join gen_Contact C with(Nolock) On C.ID = H.ContactID
							inner join gen_Company Co WIth(Nolock) On Co.ID = C.CompanyID
							INNER JOIN  gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id =H.ID
					WHERE  ((cast(His.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date))
						   OR
						   (cast(His.CreatedByDatetime as date) between Cast(@FromStartDate2 as date) and cast(@FromEndDate2 as date)))
						   and Isnull(H.IsHRTypeDP,0) =  ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0))
						   and Isnull(DP.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(DP.ModeOfWork,''))
						   and Isnull(Co.Category,'') =ISNULL(@CompanyCategory,ISNULL(Co.Category,''))
						   and Isnull(HD.IsHRFocused,0) = Isnull(@IsHRFocused,Isnull(HD.IsHRFocused,0))	
						   AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)
						   and 
							(
								(@Geos <> '' and exists(select GeoID from #GeoTbl G Where G.GeoID = Co.Geo_ID))
								Or
								(	
									@Geos = '' and 1 = 1
								)
							)

		END

		CREATE TABLE #AllProfileSharedUsers
		(
			UserId			  int  default 0,
			HiringRequestID	  bigint default 0,
			Talent_ID		  bigint,
			IsODR			  bit,
			CTPStatusID			bigint default 0,			
			IsReplacement		bit 
		)

		Insert Into #AllProfileSharedUsers(HiringRequestID, Talent_ID, IsODR, CTPStatusID,IsReplacement)
		Select 
		distinct	His.HiringRequest_ID,His.Talent_ID,0 as IsODR, 0 as CTPStatusID,Isnull(His.IsReplacement,0)
		from		gen_History His With(NOlock) 
					--INNER JOIN gen_ContactTalentPriority CTP with(nolock) on His.HiringRequest_ID = CTP.HiringRequestID and His.Talent_ID = CTP.TalentID
					--inner join usr_User U with(nolock) on CTP.CreatedByID = U.ID 
		Where		His.Action_ID = 6 and Isnull(His.IsReplacement,0) = Isnull(@IsReplacement,Isnull(His.IsReplacement,0))
					--and cast(His.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date)
		

		Update  C
		SET		C.CTPStatusID =  ISNULL(CTP.TalentStatusID_BasedOnHR,0)
		FROM    #AllProfileSharedUsers C
				INNER JOIN gen_ContactTalentPriority CTP with(nolock) on C.HiringRequestID = CTP.HiringRequestID and C.Talent_ID = CTP.TalentID
		


		CREATE TABLE #HR_ChannelWiseRecords
		(
			ID						int primary key identity(1,1),
			HR_ID					bigint,
			IsAccepted				int,
			IsAdhocHR				bit,
			HRStatus				int,
			SalesUserID				bigint,
			ParentID				bigint,
			CreatedByDateTime		datetime,
			HR_DetailID				bigint,
			ContactID				bigint,
			IsActive				bit,
			Action_ID				bigint,
			RequiredTR				decimal(18,2) default 0,
			Talent_ID				bigint,
			IsHistoryActive			bit,
			HistoryID				bigint,
			IsManaged				nvarchar(5),
			Availability			NVARCHAR(200),
			HiringNeedType			nvarchar(5),
			ManagerName				NVARCHAR(300),
			ProfileSharedTalentID   bigint,
			IsODR					bit,
			MainParentID			bigint,
			CTPStatusID				bigint default 0,
			IsHRTypeDP				nvarchar(5),
			ModeOfWork				NVARCHAR(50),
			CompanyCategory         nvarchar(5),
			InterViewMaster_ID		bigint,
			GeoId					int
		)	


		IF @LeadUserID <> 0
			BEGIN
						;WITH cteUser_AfterPS AS (    
							SELECT	   u.ID AS UserID, 
									   uh.ParentID,
									   u.FullName AS Name,
									   (select top 1 U.ID from usr_user U where U.ID = TS.SM_ID) as MainParentID,
									   0 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
										inner join #SalesManager TS ON U.ID = TS.SM_ID    
									   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID			
 
							UNION ALL
 
							SELECT u.ID AS UserID,
									child.ParentID,
									u.FullName AS Name,
									cte.MainParentID as MainParentID,
									[Level]+1 AS [Level]
							FROM       [dbo].[usr_User] u with(nolock)
							INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
							INNER JOIN cteUser_AfterPS cte  ON cte.UserID = child.ParentID
						)	
		
				INSERT INTO #HR_ChannelWiseRecords(HR_ID, IsAccepted, IsAdhocHR, HRStatus, SalesUserID, ParentID, CreatedByDateTime, HR_DetailID, ContactID, IsActive,Action_ID, RequiredTR, Talent_ID, IsHistoryActive, HistoryID,IsManaged, Availability,
											HiringNeedType, ManagerName, ProfileSharedTalentID, IsODR, MainParentID, CTPStatusID, IsHRTypeDP, ModeOfWork,CompanyCategory,InterViewMaster_ID,GeoId)
				SELECT distinct	H.ID, ISNULL(H.IsAccepted,0) IsAccepted , ISNULL(H.IsAdhocHR, 0) IsAdhocHR,H.JobStatusID as HRstatus, --H.Status_ID as HRStatus,
						H.SalesUserID, TS.MainParentID as ParentID, CAST(His.CreatedByDatetime as DaTE) CreatedByDatetime,
						HD.ID, H.ContactID, ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID, cast(case when Availability ='Part Time' then  cast(H.NoofTalents as decimal(18,1))/2   else ISNULL(H.NoofTalents,0) end as decimal(18,1)) RequiredTR, ISNULL(His.Talent_ID,0) Talent_ID, His.IsActive as IsHistoryActive, His.ID as HistoryID 
						,H.IsManaged as IsManaged, ISNULL(H.Availability,'') Availability, ISNULL(H.IsHiringLimited,0) as HiringNeedType, TS.Name as ManagerName , APS.Talent_ID as ProfileSharedTalentID , ISNULL(APS.IsODR,0) as IsODR
						, ISNULL(TS.Parentid,0) as MainParentID, ISNULL(APS.CTPStatusID,0) CTPStatusID
						,ISNULL(H.IsHRTypeDP,0) as IsHRTypeDP,ISNULL(DP.ModeOfWork,'') as ModeOfWork,ISNULL(Co.Category,''),
						Isnull(His.InterviewMaster_ID,0),Isnull(Co.Geo_ID,0)
				FROM	gen_SalesHiringRequest H with(nolock) 
						INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
						INNER JOIN prg_TalentRoles PTR with(nolock) on HD.Role_ID = PTR.ID
						INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
						--INNER JOIN prg_HiringRequestStatus HRS with(nolock) on HRS.ID = H.Status_ID
						Inner join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = H.JobStatusID
						INNER JOIN usr_User U with(nolock) ON H.SalesUserID = U.ID 
						INNER JOIN cteUser_AfterPS TS ON  H.SalesUserID = TS.UserID
						INNER JOIN #AllProfileSharedUsers APS on H.ID = APS.HiringRequestID and His.Talent_ID = APS.Talent_ID
						INNER join gen_Contact C with(Nolock) On C.ID = H.ContactID
						INNER join gen_Company Co WIth(Nolock) On Co.ID = C.CompanyID
						--INNER JOIN #GetLeadUsersCompany CLU WITH(NOLOCK) ON CLU.CompanyID = CO.ID
						INNER JOIN  gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id =H.ID
				WHERE  ((cast(His.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date))
					   OR
					  (cast(His.CreatedByDatetime as date) between Cast(@FromStartDate2 as date) and cast(@FromEndDate2 as date)))
					   and Isnull(H.IsHRTypeDP,0) =  ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0))
					   and Isnull(DP.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(DP.ModeOfWork,''))
					   and Isnull(Co.Category,'') =ISNULL(@CompanyCategory,ISNULL(Co.Category,''))
					   and Isnull(HD.IsHRFocused,0) = Isnull(@IsHRFocused,Isnull(HD.IsHRFocused,0))
					   AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)	
					   and 
						(
							(@Geos <> '' and exists(select GeoID from #GeoTbl G Where G.GeoID = Co.Geo_ID))
							Or
							(	
								@Geos = '' and 1 = 1
							)
						)

		END
		ELSE
			BEGIN
		
				;WITH cteUser_AfterPS AS (    
						SELECT	   u.ID AS UserID, 
								   uh.ParentID,
								   u.FullName AS Name,
								   (select top 1 U.ID from usr_user U where U.ID = TS.SM_ID) as MainParentID,
								   0 AS [Level]
						FROM       [dbo].[usr_User] u with(nolock)
									inner join #SalesManager TS ON U.ID = TS.SM_ID    
								   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID			
 
					UNION ALL
 
						SELECT u.ID AS UserID,
								child.ParentID,
								u.FullName AS Name,
								cte.MainParentID as MainParentID,
								[Level]+1 AS [Level]
						FROM       [dbo].[usr_User] u with(nolock)
						INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
						INNER JOIN cteUser_AfterPS cte  ON cte.UserID = child.ParentID
				)	
		
				INSERT INTO #HR_ChannelWiseRecords(HR_ID, IsAccepted, IsAdhocHR, HRStatus, SalesUserID, ParentID, CreatedByDateTime, HR_DetailID, ContactID, IsActive,Action_ID, RequiredTR, Talent_ID, IsHistoryActive, HistoryID,IsManaged, Availability,
											HiringNeedType, ManagerName, ProfileSharedTalentID, IsODR, MainParentID, CTPStatusID, IsHRTypeDP, ModeOfWork,CompanyCategory,InterViewMaster_ID,GeoId)
				SELECT distinct	H.ID, ISNULL(H.IsAccepted,0) IsAccepted , ISNULL(H.IsAdhocHR, 0) IsAdhocHR,H.JobStatusID as HRStatus,  -- H.Status_ID as HRStatus,
						H.SalesUserID, TS.MainParentID as ParentID, CAST(His.CreatedByDatetime as DaTE) CreatedByDatetime,
						HD.ID, H.ContactID, ISNULL(H.IsActive,0) IsActive , isnull(His.Action_ID,0) Action_ID, cast(case when Availability ='Part Time' then  cast(H.NoofTalents as decimal(18,1))/2   else ISNULL(H.NoofTalents,0) end as decimal(18,1)) RequiredTR, ISNULL(His.Talent_ID,0) Talent_ID, His.IsActive as IsHistoryActive, His.ID as HistoryID 
						,H.IsManaged as IsManaged, ISNULL(H.Availability,'') Availability, ISNULL(H.IsHiringLimited,0) as HiringNeedType, TS.Name as ManagerName , APS.Talent_ID as ProfileSharedTalentID , ISNULL(APS.IsODR,0) as IsODR
						, ISNULL(TS.Parentid,0) as MainParentID, ISNULL(APS.CTPStatusID,0) CTPStatusID
						,ISNULL(H.IsHRTypeDP,0) as IsHRTypeDP,ISNULL(DP.ModeOfWork,'') as ModeOfWork,ISNULL(Co.Category,''),
						Isnull(His.InterviewMaster_ID,0),ISNULL(Co.Geo_Id,0)
				FROM	gen_SalesHiringRequest H with(nolock) 
						INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
						INNER JOIN prg_TalentRoles PTR with(nolock) on HD.Role_ID = PTR.ID
						INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
						--INNER JOIN prg_HiringRequestStatus HRS with(nolock) on HRS.ID = H.Status_ID
						Inner join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = H.JobStatusID
						INNER JOIN usr_User U with(nolock) ON H.SalesUserID = U.ID 
						INNER JOIN cteUser_AfterPS TS ON  H.SalesUserID = TS.UserID
						INNER JOIN #AllProfileSharedUsers APS on H.ID = APS.HiringRequestID and His.Talent_ID = APS.Talent_ID
						INNER join gen_Contact C with(Nolock) On C.ID = H.ContactID
						INNER join gen_Company Co WIth(Nolock) On Co.ID = C.CompanyID
						INNER JOIN  gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id =H.ID
				WHERE  ((cast(His.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date))
					   OR
					   (cast(His.CreatedByDatetime as date) between Cast(@FromStartDate2 as date) and cast(@FromEndDate2 as date)))
					   and Isnull(H.IsHRTypeDP,0) =  ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0))
					   and Isnull(DP.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(DP.ModeOfWork,''))
					   and Isnull(Co.Category,'') =ISNULL(@CompanyCategory,ISNULL(Co.Category,''))
					   and Isnull(HD.IsHRFocused,0) = Isnull(@IsHRFocused,Isnull(HD.IsHRFocused,0))
					   AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)
					   and 
						(
							(@Geos <> '' and exists(select GeoID from #GeoTbl G Where G.GeoID = Co.Geo_ID))
							Or
							(	
								@Geos = '' and 1 = 1
							)
						)
		 END
		
		begin --Insert All User Hierarchies in Temp Table

			IF OBJECT_ID('temp_db..#AllHrchy') is not null
				drop table #AllHrchy;

			CREATE TABLE #AllHrchy(UserID bigint, ParentID bigint, MainParentID bigint);

			;WITH cteUser_AllHrchy AS (    
				SELECT	   u.ID AS UserID, 
						   uh.ParentID,
						   u.FullName AS Name,
						   --(select top 1 U.ID from usr_user U where U.ID = H1.SM_ID) as MainParentID,
						   H1.HeadID as MainParentID,
						   0 AS [Level]
				FROM       [dbo].[usr_User] u with(nolock)
							LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID	
							LEFT JOIN #HeadTempTbl2 H1 on (uh.ParentID = H1.HeadID or uh.UserID = H1.HeadID)	
				WHERE		(uh.ParentID = H1.HeadID or uh.UserID = H1.HeadID) and U.IsActive = 1 
 
			UNION ALL
 
				SELECT u.ID AS UserID,
						child.ParentID,
						u.FullName AS Name,
						cte.MainParentID as MainParentID,
						[Level]+1 AS [Level]
				FROM       [dbo].[usr_User] u with(nolock)
				INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
				INNER JOIN cteUser_AllHrchy cte  ON cte.UserID = child.ParentID
		WHERE		U.IsActive = 1
			)

			INSERT INTO #AllHrchy(UserID, ParentID, MainParentID)
				select UserID, ParentID, MainParentID from cteUser_AllHrchy;
		end


		select IM.Talent_ID,Max(IM.ID) ID,IM.HiringRequest_ID
		into   #MaxInterviewroundCount
		from   gen_SalesHiringRequest H with(nolock) 
			   INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID
			   inner join gen_InterviewSlotsMaster IM With(NOlOCK) ON IM.HiringRequest_ID = H.ID and HIs.Talent_ID = IM.Talent_ID and His.InterviewMaster_ID = IM.ID
			   INNER join gen_Contact C with(Nolock) On C.ID = H.ContactID
			   INNER join gen_Company Co WIth(Nolock) On Co.ID = C.CompanyID
			   INNER JOIN  gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id =H.ID
		where  ((cast(His.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date))
			    OR
			   (cast(His.CreatedByDatetime as date) between Cast(@FromStartDate2 as date) and cast(@FromEndDate2 as date)))
			    and Isnull(H.IsHRTypeDP,0) =  ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0))
			   and Isnull(DP.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(DP.ModeOfWork,''))
			   and Isnull(Co.Category,'') =ISNULL(@CompanyCategory,ISNULL(Co.Category,''))
			   and 
				(
					(@Geos <> '' and exists(select GeoID from #GeoTbl G Where G.GeoID = Co.Geo_ID))
					Or
					(	
						@Geos = '' and 1 = 1
					)
				)
		GRoup By IM.Talent_ID,IM.HiringRequest_ID

		
			
		begin --TR Accepted block
		PRINT('TR Accepted');				
				begin
					UPDATE H
					SET    H.[TR Accepted_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							
							SELECT ISNULL(SUM(X.TRAcceptedCount),0) AS Value,X.ParentID FROM (
						
							SELECT	H.ParentID,
									--Max(TRU.UpdatedTR) as TRAcceptedCount,
									cast(case when H.Availability ='Part Time' then  cast(sum(TRU.UpdatedTR) as decimal(18,1))/2   else SUM(ISNULL(TRU.UpdatedTR,0)) end as decimal(18,1)) as TRAcceptedCount, 
									H.ManagerName, H.HR_ID
							FROM	#HR_ChannelWiseRecordsBeforeProfileShared H with(nolock) 
									--INNER JOIN gen_SalesHiringRequest H1 with(nolock) on H.HR_ID = H1.ID
									LEFT JOIN gen_SalesHR_TRUpdated_Details TRU with(nolock) ON H.HR_ID = TRU.HiringRequestId 
							WHERE (cast(TRU.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date))
								  and Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) 
								  and Isnull(H.CompanyCategory,'') =ISNULL(@CompanyCategory,ISNULL(H.CompanyCategory,'')) 
								  and ISNULL(H.HiringNeedType,0) = Case when @IsHiringNeed= 1 then 1 when @IsHiringNeed = 2 then 0 else Isnull(H.HiringNeedType,0) end 
								  and ISNULL(H.IsAccepted,0) = 1  And ISNULL(H.IsActive,0) = 1 
								  and H.Action_ID = 79
								  group by H.ParentID,H.ManagerName,H.HR_ID,H.Availability
							union all

								SELECT	distinct
									H.ParentID,
									cast(case when H.Availability ='Part Time' then  cast(H1.TR_Accepted as decimal(18,1))/2   else ISNULL(H1.TR_Accepted,0) end as decimal(18,1)) as TRAcceptedCount, 
									H.ManagerName, H1.HiringRequest_ID
							FROM	#HR_ChannelWiseRecordsBeforeProfileShared H with(nolock) 
									INNER JOIN gen_SalesHR_TRAccepted_Details H1 with(nolock) on H.HR_ID = H1.HiringRequest_ID
							WHERE (cast(H1.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date))
								  and Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) 
								  and Isnull(H.CompanyCategory,'') =ISNULL(@CompanyCategory,ISNULL(H.CompanyCategory,'')) 
								  and ISNULL(H.HiringNeedType,0) = Case when @IsHiringNeed= 1 then 1 when @IsHiringNeed = 2 then 0 else Isnull(H.HiringNeedType,0) end 
								  and ISNULL(H.IsAccepted,0) = 1  And ISNULL(H.IsActive,0) = 1 and H.Action_ID = 58
								  and H1.TR_Accepted > 0
							) X  GROUP BY X.ParentID
							) Z on Z.ParentID = H.ManagerID
					WHERE H.RowType = 1
				end
		

				--TR Accepted (Total)
				begin
					UPDATE H
					SET    H.[TR Accepted_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[TR Accepted_1]) as Value,P.ManagerID from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
							GROUP BY P.ManagerID 
						  ) Z on 1 = 1 AND H.ManagerID = Z.ManagerID
					WHERE H.RowType = 3
				end


				--TR Accepted (Final Total)
				begin
					UPDATE H
					SET    H.[TR Accepted_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[TR Accepted_1]) as Value from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
						  ) Z on 1 = 1 AND H.ManagerID = 0
					WHERE H.RowType = -3
				end

		end

		begin --Profile Shared Block
		PRINT('Profile Shared')				
				begin
					UPDATE H
					SET    H.[Profile Shared_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT ISNULL(SUM(X.HR_ID),0) AS Value,X.ParentID FROM (
							SELECT	distinct 
									H.ParentID,
									COUNT(H.HR_ID) HR_ID,
									H.ManagerName,
									H.ProfileSharedTalentID
							FROM	#HR_ChannelWiseRecords H with(nolock) 
									inner join gen_Talent T With(Nolock) On T.ID = H.ProfileSharedTalentID
									inner join prg_TalentStatus_AfterClientSelection TAC with(nolock) on TAC.ID = H.CTPStatusID
							WHERE	ISNULL(H.HiringNeedType,0) = Case when @IsHiringNeed= 1 then 1 when @IsHiringNeed = 2 then 0 else Isnull(H.HiringNeedType,0) end 
									and ISNULL(H.IsAccepted,0) = 1 and H.HRStatus != 4 And ISNULL(H.IsActive,0) = 1 and H.Action_ID = 18
									and Isnull(H.CompanyCategory,'') =ISNULL(@CompanyCategory,ISNULL(H.CompanyCategory,'')) 
							GROUP BY H.ParentID, H.ManagerName, H.ProfileSharedTalentID
							) X  GROUP BY X.ParentID
							) Z on Z.ParentID = H.ManagerID
					WHERE H.RowType = 1
				end
		

				--Profile Shared (Total)
				begin
					UPDATE H
					SET    H.[Profile Shared_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Profile Shared_1]) as Value,P.ManagerID from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
							GROUP BY P.ManagerID 
						  ) Z on 1 = 1 AND H.ManagerID = Z.ManagerID
					WHERE H.RowType = 3
				end


				-- Profile Shared (Final Total)
				begin
					UPDATE H
					SET    H.[Profile Shared_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Profile Shared_1]) as Value from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
						  ) Z on 1 = 1 AND H.ManagerID = 0
					WHERE H.RowType = -3
				end

		end

	    begin --Interviews Done block
		PRINT('Interviews Done')				
			begin
				

					UPDATE H
					SET    H.[Interviews Done_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT ISNULL(SUM(X.CNT),0) AS Value,X.ParentID FROM (
							SELECT	
									H.ParentID,
									COUNT(H.HR_ID) CNT,
									H.ManagerName
							FROM	#HR_ChannelWiseRecords H with(nolock) 
									inner join gen_Talent T With(Nolock) On T.ID = H.ProfileSharedTalentID
									inner join Gen_InterviewSlotsMaster I WITH(NOLOCK) ON I.HiringRequest_ID = H.Hr_ID and I.Talent_ID = T.ID 
									and I.ID = H.InterViewMaster_ID
									INNER JOIN #MaxInterviewroundCount MIC ON MIC.HiringRequest_ID = I.HiringRequest_ID and MIC.Talent_ID = I.Talent_ID and MIC.ID = I.ID
							WHERE Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) and Isnull(H.CompanyCategory,'') =ISNULL(@CompanyCategory,ISNULL(H.CompanyCategory,''))
								  and ISNULL(H.HiringNeedType,0) = Case when @IsHiringNeed= 1 then 1 when @IsHiringNeed = 2 then 0 else Isnull(H.HiringNeedType,0) end 
								  and ISNULL(H.IsAccepted,0) = 1 and H.HRStatus != 4 And ISNULL(H.IsActive,0) = 1 and H.Action_ID = 11
							GROUP BY H.ParentID, H.ManagerName
							) X  GROUP BY X.ParentID
							) Z on Z.ParentID = H.ManagerID
					WHERE H.RowType = 1
				end

				--Interviews Done (Total)
				begin
					UPDATE H
					SET    H.[Interviews Done_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Interviews Done_1]) as Value,P.ManagerID from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
							GROUP BY P.ManagerID 
						  ) Z on 1 = 1 AND H.ManagerID = Z.ManagerID
					WHERE H.RowType = 3
				end


				-- Interviews Done(Final Total)
				begin
					UPDATE H
					SET    H.[Interviews Done_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Interviews Done_1]) as Value from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
						  ) Z on 1 = 1 AND H.ManagerID = 0
					WHERE H.RowType = -3
				end

		end

		begin --Talent Hired
		PRINT('Talent Hired')				
			begin
					UPDATE H
					SET    H.[Interview Success_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT ISNULL(SUM(X.HR_ID),0) AS Value,X.ParentID FROM (
							SELECT	
									H.ParentID,
									COUNT(H.HR_ID) HR_ID,
									H.ManagerName
							FROM	#HR_ChannelWiseRecords H with(nolock) 
									inner join gen_Talent T With(Nolock) On T.ID = H.ProfileSharedTalentID
							WHERE  Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) and Isnull(H.CompanyCategory,'') =ISNULL(@CompanyCategory,ISNULL(H.CompanyCategory,''))
								   and ISNULL(H.HiringNeedType,0) = Case when @IsHiringNeed= 1 then 1 when @IsHiringNeed = 2 then 0 else Isnull(H.HiringNeedType,0) end 
								   and ISNULL(H.IsAccepted,0) = 1 and H.HRStatus != 4 And ISNULL(H.IsActive,0) = 1 and H.Action_ID = 12
							GROUP BY H.ParentID, H.ManagerName
							) X  GROUP BY X.ParentID
							) Z on Z.ParentID = H.ManagerID
					WHERE H.RowType = 1
				end


				--Talent Hired (Total)
				begin
					UPDATE H
					SET    H.[Interview Success_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Interview Success_1]) as Value,P.ManagerID from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
							GROUP BY P.ManagerID 
						  ) Z on 1 = 1 AND H.ManagerID = Z.ManagerID
					WHERE H.RowType = 3
				end


				-- Interviews Done(Final Total)
				begin
					UPDATE H
					SET    H.[Interview Success_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Interview Success_1]) as Value from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
						  ) Z on 1 = 1 AND H.ManagerID = 0
					WHERE H.RowType = -3
				end

		end

	    begin --Profile Rejected Block
		PRINT('Profile Rejected')				
			begin
					UPDATE H
					SET    H.[Profile Rejected_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT ISNULL(SUM(X.HR_ID),0) AS Value,X.ParentID FROM (
							SELECT	
									H.ParentID,
									COUNT(H.HR_ID) HR_ID,
									H.ManagerName
							FROM	#HR_ChannelWiseRecords H with(nolock) 
									inner join gen_Talent T With(Nolock) On T.ID = H.ProfileSharedTalentID
							WHERE	Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) and Isnull(H.CompanyCategory,'') =ISNULL(@CompanyCategory,ISNULL(H.CompanyCategory,''))
									and ISNULL(H.HiringNeedType,0) = Case when @IsHiringNeed= 1 then 1 when @IsHiringNeed = 2 then 0 else Isnull(H.HiringNeedType,0) end 
									and ISNULL(H.IsAccepted,0) = 1 and H.HRStatus != 4 and H.Action_ID = 22
							GROUP BY H.ParentID, H.ManagerName
							) X  GROUP BY X.ParentID
							) Z on Z.ParentID = H.ManagerID
					WHERE H.RowType = 1
				end


				--Profile Rejected (Total)
				begin
					UPDATE H
					SET    H.[Profile Rejected_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Profile Rejected_1]) as Value,P.ManagerID from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
							GROUP BY P.ManagerID 
						  ) Z on 1 = 1 AND H.ManagerID = Z.ManagerID
					WHERE H.RowType = 3
				end


				-- Profile Rejected(Final Total)
				begin
					UPDATE H
					SET    H.[Profile Rejected_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Profile Rejected_1]) as Value from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
						  ) Z on 1 = 1 AND H.ManagerID = 0
					WHERE H.RowType = -3
				end

		end

		begin --Talent Reject after Interview
		PRINT('Talent Reject after Interview')				
			begin
					UPDATE H
					SET    H.[Interview Reject_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT ISNULL(SUM(X.HR_ID),0) AS Value,X.ParentID FROM (
							SELECT	
									H.ParentID,
									COUNT(H.HR_ID) HR_ID,
									H.ManagerName
							FROM	#HR_ChannelWiseRecords H with(nolock) 
									inner join gen_Talent T With(Nolock) On T.ID = H.ProfileSharedTalentID
							WHERE  Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) and Isnull(H.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(H.ModeOfWork,'')) and Isnull(H.CompanyCategory,'') =ISNULL(@CompanyCategory,ISNULL(H.CompanyCategory,''))
								   and ISNULL(H.HiringNeedType,0) = Case when @IsHiringNeed= 1 then 1 when @IsHiringNeed = 2 then 0 else Isnull(H.HiringNeedType,0) end 
								   and ISNULL(H.IsAccepted,0) = 1 and H.HRStatus != 4 And ISNULL(H.IsActive,0) = 1 and H.Action_ID = 45
							GROUP BY H.ParentID, H.ManagerName
							) X  GROUP BY X.ParentID
							) Z on Z.ParentID = H.ManagerID
					WHERE H.RowType = 1
				end


				--Talent Reject after Interview (Total)
				begin
					UPDATE H
					SET    H.[Interview Reject_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Interview Reject_1]) as Value,P.ManagerID from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
							GROUP BY P.ManagerID 
						  ) Z on 1 = 1 AND H.ManagerID = Z.ManagerID
					WHERE H.RowType = 3
				end


				-- Talent Reject after Interview(Final Total)
				begin
					UPDATE H
					SET    H.[Interview Reject_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[Interview Reject_1]) as Value from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
						  ) Z on 1 = 1 AND H.ManagerID = 0
					WHERE H.RowType = -3
				end

		end

		begin --SOW Signed
		PRINT('SOW Signed')				
			begin
					UPDATE H
					SET    H.[SOW Signed_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT ISNULL(SUM(X.CNT),0) AS Value,X.ParentID FROM (
							SELECT	distinct
									--UH.ParentID,
									AH.MainParentID as ParentID,
									H.ID as HR_ID,
									ISNULL(g3.AM_SalesPersonID,0) AM_SalesPersonID,
									ISNULL(SUM(CASE WHEN H.Availability = 'Part Time' THEN ISNULL(g3.SOWCount,0)/2 ELSE ISNULL(g3.SOWCount,0) end),0) as  CNT,
									U1.FullName as ManagerName,
									T.ID as Talent_ID
							FROM	gen_SalesHiringRequest H with(nolock) 
									INNER JOIN gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
									INNER JOIN gen_History His with(Nolock) ON H.ID = His.HiringRequest_ID	
									--INNER JOIN prg_HiringRequestStatus HRS with(nolock) on HRS.ID = H.Status_ID
									Inner join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = H.JobStatusID
									INNER join gen_Talent T With(Nolock) On T.Id = His.Talent_ID 
									INNER JOIN gen_OnBoardTalents g3 with(nolock) ON H.ID = g3.HiringRequest_ID AND T.ID = g3.Talent_ID 
									INNER JOIN #AllProfileSharedUsers APS on H.ID = APS.HiringRequestID and APS.Talent_ID = g3.Talent_ID
									INNER JOIN usr_UserHierarchy UH with(nolock) ON ISNULL(g3.AM_SalesPersonID,0) = UH.UserID
									--INNER JOIN #AllHrchyPopUp AH on  (UH.ParentID = AH.ParentID OR UH.ParentID = AH.MainParentID) and UH.UserID = AH.UserID
									INNER JOIN #AllHrchy AH on (UH.ParentID = AH.ParentID OR UH.ParentID = AH.MainParentID) and UH.UserID = AH.UserID
									INNER JOIN usr_User U1 with(nolock) ON UH.ParentID = U1.ID 
									--INNER JOIN gen_OnBoardTalents_LegalDetails g with(nolock) ON H.ID = g.HiringRequest_ID and g.OnBoardID = g3.ID	
									INNER JOIN gen_Contact C with(Nolock) On C.ID = H.ContactID
									INNER JOIN gen_Company Co WIth(Nolock) On Co.ID = C.CompanyID
									--left JOIN gen_CompanyLegalInfo g2 ON g.CompanyLegalID = g2.ID AND g2.AgreementStatus = 'Signed'
									INNER JOIN  gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id =H.ID
							WHERE (cast(His.CreatedByDatetime as date) between Cast(@FromStartDate1 as date) and cast(@FromEndDate1 as date))
								  and Isnull(H.IsHRTypeDP,0) = ISNULL(@IsHRTypeDP,Isnull(H.IsHRTypeDP,0)) and Isnull(DP.ModeOfWork,'') =ISNULL(@ModeOfWork,Isnull(DP.ModeOfWork,'')) 
								  and Isnull(H.IsHiringLimited,0) = Case when @IsHiringNeed= 1 then 1 when @IsHiringNeed = 2 then 0 else Isnull(H.IsHiringLimited,0) end 
								  and ISNULL(H.IsAccepted,0) = 1 and H.JobStatusID <> 4 and His.Action_ID = 35
								  AND ISNULL(g3.Status_ID,0) = 1 
								  and ISNULL(g3.Talent_ID,0) > 0
								  and Isnull(Co.Category,'') =ISNULL(@CompanyCategory,ISNULL(Co.Category,''))	
								  and Isnull(HD.IsHRFocused,0) = Isnull(@IsHRFocused,Isnull(HD.IsHRFocused,0))
								 --and 
									--(
									--	(@LeadUserID <> 0 and exists(select CompanyID from #GetLeadUsersCompany G Where G.CompanyID = Co.ID))
									--	Or
									--	(	
									--		@LeadUserID = 0 and 1 = 1
									--	)
									--)
									and 
									(
										(@Geos <> '' and exists(select GeoID from #GeoTbl G Where G.GeoID = Co.Geo_ID))
										Or
										(	
											@Geos = '' and 1 = 1
										)
									)
									AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)
							GROUP BY AH.MainParentID, U1.FullName, H.ID,g3.AM_SalesPersonID, T.ID
							) X  GROUP BY X.ParentID
							) Z on Z.ParentID = H.ManagerID
					WHERE H.RowType = 1
				end


				--SOW Signed (Total)
				begin
					UPDATE H
					SET    H.[SOW Signed_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[SOW Signed_1]) as Value,P.ManagerID from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
							GROUP BY P.ManagerID 
						  ) Z on 1 = 1 AND H.ManagerID = Z.ManagerID
					WHERE H.RowType = 3
				end


				-- SOW Sent(Final Total)
				begin
					UPDATE H
					SET    H.[SOW Signed_1] = Z.Value
					FROM   #HRChannelWiseHRWise_For_Summary_Records1_Revised H 
						  inner join 
						  (
							SELECT SUM(P.[SOW Signed_1]) as Value from #HRChannelWiseHRWise_For_Summary_Records1_Revised P
							WHERE P.RowType = 1
						  ) Z on 1 = 1 AND H.ManagerID = 0
					WHERE H.RowType = -3
				end

		end



		UPDATE #HRChannelWiseHRWise_For_Summary_Records1_Revised SET Duration = @FromStartDate1 + ' To ' + @FromEndDate1;

		

		DECLARE @Sql NVARCHAR(MAX) = '';

		begin--All Pivot Code
				IF OBJECT_ID('temp_db..#FinalTbl') IS NOT NULL
					DROP TABLE #FinalTbl;

				CREATE TABLE #FinalTbl(Stage nvarchar(200),Duration nvarchar(200),[Final Total] decimal(18,1) default 0.0)

				SET @Sql = (SELECT stuff((select ';' + 'ALTER TABLE  #FinalTbl ADD [' + SM_Name + '] decimal(18,1) default 0.0' from #Tbl_SalesManager RP for xml path('') ),1,1,''));
				exec sp_executesql @Sql;
		
				
				INSERT INTO #FinalTbl(Stage,Duration)
				VALUES ('','');



				SET @Sql ='INSERT INTO #FinalTbl SELECT ''TR Accepted_1'' as Stage,Duration,[Final Total],  '
						+ @AllManagerNames + ' 
					FROM  
					(
						SELECT ManagerName,[TR Accepted_1],Duration FROM #HRChannelWiseHRWise_For_Summary_Records1_Revised
					) AS SourceTable  
					PIVOT  
					(  
						AVG([TR Accepted_1]) 
						FOR ManagerName IN (' + @AllManagerNames + ',[Final Total],[Pool Total],[Odr Total])  
					) AS PivotTable;'

				exec sp_executesql @Sql;



				SET @Sql ='INSERT INTO #FinalTbl SELECT ''Profile Shared_1'' as Stage,Duration,[Final Total],  '
						+ @AllManagerNames + ' 
					FROM  
					(
						SELECT ManagerName,[Profile Shared_1],Duration FROM #HRChannelWiseHRWise_For_Summary_Records1_Revised
					) AS SourceTable  
					PIVOT  
					(  
						AVG([Profile Shared_1]) 
						FOR ManagerName IN (' + @AllManagerNames + ',[Final Total])  
					) AS PivotTable;'

				exec sp_executesql @Sql;


				SET @Sql ='INSERT INTO #FinalTbl SELECT ''Interviews Done_1'' as Stage,Duration,[Final Total],   '
						+ @AllManagerNames + ' 
					FROM  
					(
						SELECT ManagerName,[Interviews Done_1],Duration FROM #HRChannelWiseHRWise_For_Summary_Records1_Revised
					) AS SourceTable  
					PIVOT  
					(  
						AVG([Interviews Done_1]) 
						FOR ManagerName IN (' + @AllManagerNames + ',[Final Total])  
					) AS PivotTable;'

				exec sp_executesql @Sql;

				
				SET @Sql ='INSERT INTO #FinalTbl SELECT ''Interview Success_1'' as Stage,Duration,[Final Total],   '
						+ @AllManagerNames + ' 
					FROM  
					(
						SELECT ManagerName,[Interview Success_1],Duration FROM #HRChannelWiseHRWise_For_Summary_Records1_Revised
					) AS SourceTable  
					PIVOT  
					(  
						AVG([Interview Success_1]) 
						FOR ManagerName IN (' + @AllManagerNames + ',[Final Total])  
					) AS PivotTable;'

				exec sp_executesql @Sql;


				SET @Sql ='INSERT INTO #FinalTbl SELECT ''Profile Rejected_1'' as Stage,Duration,[Final Total],   '
						+ @AllManagerNames + ' 
					FROM  
					(
						SELECT ManagerName,[Profile Rejected_1],Duration FROM #HRChannelWiseHRWise_For_Summary_Records1_Revised
					) AS SourceTable  
					PIVOT  
					(  
						AVG([Profile Rejected_1]) 
						FOR ManagerName IN (' + @AllManagerNames + ',[Final Total])  
					) AS PivotTable;'

				exec sp_executesql @Sql;

				SET @Sql ='INSERT INTO #FinalTbl SELECT ''Interview Reject_1'' as Stage,Duration,[Final Total],   '
						+ @AllManagerNames + ' 
					FROM  
					(
						SELECT ManagerName,[Interview Reject_1],Duration FROM #HRChannelWiseHRWise_For_Summary_Records1_Revised
					) AS SourceTable  
					PIVOT  
					(  
						AVG([Interview Reject_1]) 
						FOR ManagerName IN (' + @AllManagerNames + ',[Final Total])  
					) AS PivotTable;'

				exec sp_executesql @Sql;

				SET @Sql ='INSERT INTO #FinalTbl SELECT ''SOW Signed_1'' as Stage,Duration,[Final Total],   '
						+ @AllManagerNames + ' 
					FROM  
					(
						SELECT ManagerName,[SOW Signed_1],Duration FROM #HRChannelWiseHRWise_For_Summary_Records1_Revised
					) AS SourceTable  
					PIVOT  
					(  
						AVG([SOW Signed_1]) 
						FOR ManagerName IN (' + @AllManagerNames + ',[Final Total])  
					) AS PivotTable;'

				exec sp_executesql @Sql;

		end

		INSERT INTO #FinalTbl(Stage,Duration) 
			SELECT 'Profile shared per TR_1',@FromStartDate1 + ' To ' + @FromEndDate1;
		INSERT INTO #FinalTbl(Stage,Duration) 
			SELECT 'Profile shared to Interview_1',@FromStartDate1 + ' To ' + @FromEndDate1;
		INSERT INTO #FinalTbl(Stage,Duration) 
			SELECT 'Interview to Selection_1',@FromStartDate1 + ' To ' + @FromEndDate1;
		INSERT INTO #FinalTbl(Stage,Duration) 
			SELECT 'Profile Rejection Ratio_1',@FromStartDate1 + ' To ' + @FromEndDate1;
		INSERT INTO #FinalTbl(Stage,Duration) 
			SELECT 'Interview Rejection Ratio_1',@FromStartDate1 + ' To ' + @FromEndDate1;
		INSERT INTO #FinalTbl(Stage,Duration) 
			SELECT 'Rejection Ratio_1',@FromStartDate1 + ' To ' + @FromEndDate1;
		INSERT INTO #FinalTbl(Stage,Duration) 
			SELECT 'Opportunity to Success Ratio_1',@FromStartDate1 + ' To ' + @FromEndDate1;
			
		
		DECLARE @SumOfTRAccepted decimal(18,1) = 0;			
		DECLARE @SumOfProfileShared decimal(18,1) = 0;
		DECLARE @SumOfTalentInterviewCompleted Decimal(18,1) = 0;
		DECLARE @SumOfTalentHired Decimal(18,1) = 0;
		DECLARE @SumOfProfileRejected Decimal(18,1) = 0;
		DECLARE @SumOfTalentRejectafterInterview Decimal(18,1) = 0;
		DECLARE @SumOfSOWSigned Decimal(18,1) = 0;
		DECLARE @ParmDefinition nvarchar(500);
		Declare @Final_Value decimal(18,2) = 0
		begin
			begin	--Final Total
				SET @SumOfTRAccepted = (SELECT [Final Total] from #FinalTbl where Stage = 'TR Accepted_1');
				SET @SumOfProfileShared = (SELECT [Final Total] from #FinalTbl where Stage = 'Profile Shared_1');
				SET @SumOfTalentInterviewCompleted = (SELECT [Final Total] from #FinalTbl where Stage = 'Interviews Done_1');
				SET @SumOfTalentHired = (SELECT [Final Total] from #FinalTbl where Stage = 'Interview Success_1');
				SET @SumOfProfileRejected = (SELECT [Final Total] from #FinalTbl where Stage = 'Profile Rejected_1');
				SET @SumOfTalentRejectafterInterview = (SELECT [Final Total] from #FinalTbl where Stage = 'Interview Reject_1');
				SET @SumOfSOWSigned = (SELECT [Final Total] from #FinalTbl where Stage = 'SOW Signed_1');

				print '@SumOfTRAccepted ' + cast(@SumOfTRAccepted as Nvarchar(Max))
				Print '@SumOfProfileShared ' + cast(@SumOfProfileShared as Nvarchar(Max))
				print '@SumOfTalentInterviewCompleted ' + cast(@SumOfTalentInterviewCompleted as Nvarchar(Max))
				Print '@SumOfTalentHired ' + cast(@SumOfTalentHired as Nvarchar(Max))
				print '@SumOfProfileRejected ' + cast(@SumOfProfileRejected as Nvarchar(Max))
				Print '@SumOfTalentRejectafterInterview ' + cast(@SumOfTalentRejectafterInterview as Nvarchar(Max))
				Print '@SumOfSOWSigned ' + cast(@SumOfSOWSigned as Nvarchar(Max))

				if @SumOfTRAccepted > 0
					UPDATE #FinalTbl SET [Final Total] = @SumOfProfileShared / @SumOfTRAccepted where  Stage = 'Profile shared per TR_1' ;

				if @SumOfProfileShared > 0
					UPDATE #FinalTbl SET [Final Total] = ((@SumOfTalentInterviewCompleted) / @SumOfProfileShared) * 100 where  Stage = 'Profile Shared to Interview_1' ;

				if @SumOfTalentInterviewCompleted > 0
					UPDATE #FinalTbl SET [Final Total] = (@SumOfTalentHired / @SumOfTalentInterviewCompleted) * 100 where  Stage = 'Interview to Selection_1' ;

				if @SumOfProfileShared > 0
					UPDATE #FinalTbl SET [Final Total] = (@SumOfProfileRejected  / @SumOfProfileShared) * 100 where  Stage = 'Profile Rejection Ratio_1' ;

				if @SumOfTalentInterviewCompleted > 0
					UPDATE #FinalTbl SET [Final Total] = (@SumOfTalentRejectafterInterview / @SumOfTalentInterviewCompleted) * 100 where  Stage = 'Interview Rejection Ratio_1' ;

				if @SumOfProfileShared > 0
					UPDATE #FinalTbl SET [Final Total] =  ((@SumOfProfileRejected + @SumOfTalentRejectafterInterview) / @SumOfProfileShared) * 100 where  Stage = 'Rejection Ratio_1' ;

				if @SumOfTRAccepted > 0
					UPDATE #FinalTbl SET [Final Total] = (@SumOfSOWSigned / @SumOfTRAccepted) * 100 where  Stage = 'Opportunity to Success Ratio_1' ;
			end
			
		end																																				

		DECLARE @SALESMANAGERTBLCOUNT INT = 0;
		DECLARE @CURR_COUNT INT = 0;
		DECLARE @SQL_UPdate NVARCHAR(MAX) = '';
		SET @SALESMANAGERTBLCOUNT = (SELECT COUNT(1) FROM #SMTABLE);
		SET @CURR_COUNT  = 1;
		WHILE (@CURR_COUNT <= @SALESMANAGERTBLCOUNT)
		BEGIN
		
			SET @SALESMANAGERName = (SELECT SM_Name FROM #SMTABLE where ID = @CURR_COUNT);
			SET @SALESMANAGERID = (SELECT SM_ID FROM #SMTABLE where ID = @CURR_COUNT);

			
			begin 
			
				BEGIN
					
					SET @SQL_UPdate = N'SELECT  @retvalOUT = [' + @SALESMANAGERName + '_Total]  from #FinalTbl where Stage = ''Profile Shared_1''';  
					SET @ParmDefinition = N'@retvalOUT decimal(18,2) OUTPUT';
					exec sp_executesql @SQL_UPdate,@ParmDefinition,@retvalOUT = @SumOfProfileShared OUTPut

				End
				BEGIN
						
						SET @SQL_UPdate = N'SELECT  @retvalOUT = [' + @SALESMANAGERName + '_Total]  from #FinalTbl where Stage = ''TR Accepted_1''';  
						SET @ParmDefinition = N'@retvalOUT decimal(18,2) OUTPUT';
						exec sp_executesql @SQL_UPdate,@ParmDefinition,@retvalOUT = @SumOfTRAccepted OUTPut
				END
				BEGIN
						
						SET @SQL_UPdate = N'SELECT  @retvalOUT = [' + @SALESMANAGERName + '_Total]  from #FinalTbl where Stage = ''Interviews Done_1''';  
						SET @ParmDefinition = N'@retvalOUT decimal(18,2) OUTPUT';
						exec sp_executesql @SQL_UPdate,@ParmDefinition,@retvalOUT = @SumOfTalentInterviewCompleted OUTPut
				END
			
				BEGIN
						
						SET @SQL_UPdate = N'SELECT  @retvalOUT = [' + @SALESMANAGERName + '_Total]  from #FinalTbl where Stage = ''Interview Success_1''';  
						SET @ParmDefinition = N'@retvalOUT decimal(18,2) OUTPUT';
						exec sp_executesql @SQL_UPdate,@ParmDefinition,@retvalOUT = @SumOfTalentHired OUTPut
				END
				BEGIN
						
						SET @SQL_UPdate = N'SELECT  @retvalOUT = [' + @SALESMANAGERName + '_Total]  from #FinalTbl where Stage = ''Profile Rejected_1''';  
						SET @ParmDefinition = N'@retvalOUT decimal(18,2) OUTPUT';
						exec sp_executesql @SQL_UPdate,@ParmDefinition,@retvalOUT = @SumOfProfileRejected OUTPut
				END
				BEGIN
						
						SET @SQL_UPdate = N'SELECT  @retvalOUT = [' + @SALESMANAGERName + '_Total]  from #FinalTbl where Stage = ''Interview Reject_1''';  
						SET @ParmDefinition = N'@retvalOUT decimal(18,2) OUTPUT';
						exec sp_executesql @SQL_UPdate,@ParmDefinition,@retvalOUT = @SumOfTalentRejectafterInterview OUTPut
				END
				BEGIN
						
						SET @SQL_UPdate = N'SELECT  @retvalOUT = [' + @SALESMANAGERName + '_Total]  from #FinalTbl where Stage = ''SOW Signed_1''';  
						SET @ParmDefinition = N'@retvalOUT decimal(18,2) OUTPUT';
						exec sp_executesql @SQL_UPdate,@ParmDefinition,@retvalOUT = @SumOfSOWSigned OUTPut
				END
				
				if @SumOfTRAccepted > 0
					BEGIN
						SELECT @Final_Value = @SumOfProfileShared / @SumOfTRAccepted;
						SET @SQL_UPdate = 'UPDATE #FinalTbl SET [' + @SALESMANAGERName + '_Total]  = ' + Cast(@Final_Value as Nvarchar(100)) + ' where Stage = ''Profile shared per TR_1'''
						exec sp_executesql @SQL_UPdate
					END
				
				if @SumOfProfileShared > 0
						BEGIN
							SELECT @Final_Value = (@SumOfTalentInterviewCompleted / @SumOfProfileShared) * 100;
							SET @SQL_UPdate = 'UPDATE #FinalTbl SET [' + @SALESMANAGERName + '_Total]  = ' + Cast(@Final_Value as Nvarchar(100)) + '  where Stage = ''Profile Shared to Interview_1'''
							exec sp_executesql @SQL_UPdate
						END
				
				
				if @SumOfTalentInterviewCompleted > 0
						BEGIN
							SELECT @Final_Value = (@SumOfTalentHired / @SumOfTalentInterviewCompleted) * 100
							SET @SQL_UPdate = 'UPDATE #FinalTbl SET [' + @SALESMANAGERName + '_Total]  = ' + Cast(@Final_Value as Nvarchar(100)) + ' where Stage = ''Interview to Selection_1'''
							exec sp_executesql @SQL_UPdate
						END
				
				
				if @SumOfProfileShared > 0
						BEGIN
							SELECT @Final_Value = (@SumOfProfileRejected  / @SumOfProfileShared) * 100
							SET @SQL_UPdate = 'UPDATE #FinalTbl SET [' + @SALESMANAGERName + '_Total]  = ' + Cast(@Final_Value as Nvarchar(100)) + '  where Stage = ''Profile Rejection Ratio_1'''
							exec sp_executesql @SQL_UPdate
						END
				
				if @SumOfTalentInterviewCompleted > 0
						BEGIN
						
							SELECT @Final_Value = (@SumOfTalentRejectafterInterview  / @SumOfTalentInterviewCompleted) * 100
							SET @SQL_UPdate = 'UPDATE #FinalTbl SET [' + @SALESMANAGERName + '_Total]  = ' + Cast(@Final_Value as Nvarchar(100)) + '  where Stage = ''Interview Rejection Ratio_1'''
							exec sp_executesql @SQL_UPdate
						END
				
				if @SumOfProfileShared > 0
						BEGIN
							SELECT @Final_Value = ((@SumOfProfileRejected + @SumOfTalentRejectafterInterview)/@SumOfProfileShared )* 100
							SET @SQL_UPdate = 'UPDATE #FinalTbl SET [' + @SALESMANAGERName + '_Total]  = ' + Cast(@Final_Value as Nvarchar(100)) + ' where Stage = ''Rejection Ratio_1'''
							exec sp_executesql @SQL_UPdate
						END

				if @SumOfTRAccepted > 0
						BEGIN
							SELECT @Final_Value = (@SumOfSOWSigned / @SumOfTRAccepted) * 100
							SET @SQL_UPdate = 'UPDATE #FinalTbl SET [' + @SALESMANAGERName + '_Total]  = ' + Cast(@Final_Value as Nvarchar(100)) + '  where Stage = ''Opportunity to Success Ratio_1'''
							exec sp_executesql @SQL_UPdate
						END
		end	

		SET @CURR_COUNT = @CURR_COUNT + 1;
		END

		IF (@FromStartDate2 <> '' and @FromEndDate2 <> '')
		  BEGIN
				SELECT * FROM #FinalTbl where Stage IN (
				''
				,'Profile shared per TR_Total'
				,'Profile shared to Interview_Total'
				,'Interview to Selection_Total'
				,'Profile Rejection Ratio_Total'
				,'Interview Rejection Ratio_Total'
				,'Rejection Ratio_Total'
				,'Opportunity to Success Ratio_Total');
		  END
			
		ELSE
		   BEGIN
				SELECT * FROM #FinalTbl where STage IN (
				''
				,'Profile shared per TR_1'
				,'Profile shared to Interview_1'
				,'Interview to Selection_1'
				,'Profile Rejection Ratio_1'
				,'Interview Rejection Ratio_1'
				,'Rejection Ratio_1'
				,'Opportunity to Success Ratio_1'
				)
			END

			IF OBJECT_ID('temp_db..#HRChannelWiseHRWise_For_Summary_Records1_Revised') IS NOT NULL
				DROP TABLE #HRChannelWiseHRWise_For_Summary_Records1_Revised;
			IF OBJECT_ID('temp_db..#Tbl_SalesManager') IS NOT NULL
				DROP TABLE #Tbl_SalesManager;
			IF OBJECT_ID('temp_db..#HeadTempTbl2') IS NOT NULL
				DROP TABLE #HeadTempTbl2;

	COMMIT TRAN T1;
END