USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Update_Status_For_Reopen_HR]    Script Date: 14-05-2024 17:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Update_Status_For_Reopen_HR]
   @HiringRequestId		BIGINT = null,
   @UpdatedTR			DECIMAL(18,2) = NULL,
   @LoggedInUserId		INT = NULL,   
   @ActionDoneBy		INT = NULL,
   @SSOUserId			BIGINT = NULL	
  
AS
BEGIN
	DECLARE 
     @Message NVARCHAR(400) = '',	
	 @OriginalTR INT = 0,
	 @HR_Status AS INT = 0,
	 @TRUpdateTblID BIGINT = 0,
	 @HR_RoleStatus as int = 0,
	 @ReopenHRWithNewTR BIT = 0,
	 @HiredTalentCount as int = 0,
	 @ReopenHR BIT = 1,
	 @StopAction BIT = 0,
	 @Status TINYINT = 0,  -- Success =0 , Error = 1;
	 @AM_SalesPersonID BIGINT = 0,
	 @PayPerHireHR BIT = 0,
	 @PayPerCreditHR BIT = 0,
	@ActionPerformedBy BIGINT = 0,
	@ActionManagedByClient BIT = 1;

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @LoggedInUserId, @SSOUserId))
		SET @ActionManagedByClient = CASE WHEN @ActionDoneBy = 4 THEN (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0)) ELSE 0 END

	SET @UpdatedTR = isnull(@UpdatedTR,0) 

	Declare @MaxTalentStatusID as int = 0
	select @MaxTalentStatusID = Max(TalentStatusID_BasedOnHR) 
	from   gen_ContactTalentPriority WITH(NOLOCK)
	WHERE  HiringRequestID = @HiringRequestId
	


	IF EXISTS (SELECT 1 from gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HiringRequestID)
	BEGIN
		SELECT 
				@OriginalTR = ISNULL(H.NoOfTalents,0), 
				@HR_Status = Isnull(Status_ID,0),
				@PayPerHireHR = CASE WHEN H.HRTypeId = 1 THEN 1 ELSE 0 END,
				@PayPerCreditHR = CASE WHEN H.HRTypeId in (3, 4, 6) THEN 1 ELSE 0 END
		FROM gen_SalesHiringRequest H WITH(NOLOCK) WHERE H.ID = @HiringRequestID;
        
		print '@OriginalTR : '+ cast(@OriginalTR as varchar(50)) 
		print '@HR_Status : '+ cast(@HR_Status as varchar(50)) 

	
		IF @HR_Status =3 AND isnull(@UpdatedTR,0) = 0 
		BEGIN
			SET @Message = 'HR can not be Reopen with 0 TR.'
		    SET @Status = 1;

		END
		-- IF HR is cancelled or lost and updated TR count is not 0 that means HR is reopening with the new TR.
		IF @HR_Status IN (4,6) AND isnull(@UpdatedTR,0) > 0 AND isnull(@UpdatedTR,0) > @OriginalTR
		BEGIN
			SET @ReopenHRWithNewTR = 1;
		END

		--Fetch the hired talent count
		select @HiredTalentCount = Count(1)
		From   gen_OnBoardTalents GOB WITH(NOLOCK) 
		       inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.TalentID = GOB.Talent_ID and GOB.HiringRequest_ID = CTP.HiringrequestID
		WHERE  GOB.HiringRequest_ID = @HiringRequestID and GOB.Status_ID = 1 and CTP.TalentStatusID_BasedOnHR = 4

		-- While decreasing the TR if the count is same as Hired talents then mark the HR as completed.
		IF @HiredTalentCount = isnull(@UpdatedTR,0) AND @HR_Status IN (4, 6)
		BEGIN
			SET @ReopenHR = 0;
			SET @HR_Status = 3;
		END
		--While decreasing the TR if the count is reduced then the Hired count so do not allow any action.
		ELSE IF @HiredTalentCount > isnull(@UpdatedTR,0) AND @HR_Status IN (3,4,6)
		BEGIN
			SET @StopAction = 1;
			SET @Message = 'Invalid TR';
			SET @Status = 1;
		END

		SELECT @AM_SalesPersonID = ISNULL(COM.AM_SalesPersonID,0) from gen_Company COM with(nolock)
									INNER JOIN gen_Contact CO with(nolock) on COM.ID = CO.CompanyID
									INNER JOIN gen_SalesHiringRequest H with(nolock) on CO.ID = H.ContactID
		where H.ID = @HiringRequestId and ISNULL(COM.AM_SalesPersonID,0) > 0;

		IF @StopAction = 0
		BEGIN
			--Update the TR details
			IF @HR_Status in (3,4,6)
			BEGIN
				INSERT INTO gen_SalesHR_TRUpdated_Details
					(
						HiringRequestID, 
						OriginalTR, 
						UpdatedTR, 
						IsIncreased, 
						IsDecreased, 
						Reason,  
						IsTRCancel, 
						IsTRLost, 
						CreatedByID, 
						CreatedByDateTime,
						Previous_HRStatus_Id
					)
					SELECT 
						@HiringRequestID, 
						@OriginalTR,
						CASE  
							WHEN @HR_Status = 3 THEN @UpdatedTR 
							WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 1 THEN @UpdatedTR 
							WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 0 THEN @OriginalTR
						END,
						CASE  
							WHEN @HR_Status = 3 THEN 1 
							WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 1 AND @UpdatedTR > @OriginalTR THEN 1
							WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 0 THEN 0
						END,
						--CASE  
						--	WHEN @HR_Status = 3 THEN 0 
						--	--WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 1 AND @UpdatedTR < @OriginalTR THEN 1
						--	WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 0 THEN 0
						--END,
						0,
						'HR Reopened', 
						0,
						0, 
						@ActionPerformedBy, 
						GETDATE(),
						@HR_Status

				SET @TRUpdateTblID = @@IDENTITY;

				UPDATE  gen_SalesHiringRequest 	SET	
				Status_ID = CASE				        
						WHEN @HR_Status IN (3, 6) AND @ReopenHR = 1 THEN 2
						WHEN @HR_Status = 4 AND @ReopenHR = 1 THEN 1
						WHEN @HR_Status = 3 AND @ReopenHR = 0 THEN @HR_Status
					END,
				JobStatusID	 = CASE
						WHEN @HR_Status IN (3,4,6) AND @ReopenHR = 1 THEN 5 -- Re-open
						WHEN @HR_Status = 3 AND @ReopenHR = 0 THEN 2 -- Closed + won
					END, 						
				LastModifiedByID = @ActionPerformedBy,
				LastModifiedDatetime = GETDATE(),
				NoofTalents =  CASE  
						WHEN @HR_Status = 3 THEN @UpdatedTR 
						WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 0 THEN @OriginalTR
						WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 1 THEN @UpdatedTR
					END,
				--Added By Siddharth Jain (Dtd: 24/Oct/2023): At Re-open, first check that at the time of Close HR, was it Accepted or not..
				TR_Accepted = CASE WHEN IsAccepted = 1 THEN (CASE  
						WHEN @HR_Status = 3 THEN @UpdatedTR 
						WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 0 THEN @OriginalTR
						WHEN @HR_Status IN (4, 6) AND @ReopenHRWithNewTR = 1 THEN @UpdatedTR END)  ELSE 0
					END,
				Remark = CASE  
						WHEN @ReopenHR = 1 THEN 'HR Reopened'
					END,
				--Removing IsAccepted flag as not required since at Close HR, HR can be either Accepted or not.
				--IsAccepted = CASE WHEN IsAccepted = 0 THEN 0 ELSE 1 END,
				--Added by Siddharth Jain (Dtd: 11/Sept/2023). When OnHoldReminderFlag is already 1, then at the time of Re-open, update to 0 for next time check for Auto-Cancel/Lost.
				OnHoldReminderFlag = 0,
				SalesUserID = case when @AM_SalesPersonID >0 then @AM_SalesPersonID else SalesUserID end
				WHERE	ID = @HiringRequestID;

				SELECT 
				@HR_Status = Isnull(Status_ID,0) 
				FROM gen_SalesHiringRequest H WITH(NOLOCK) WHERE H.ID = @HiringRequestID;

				--Fetch the role status and update the Details table.
				If @MaxTalentStatusID = 0 
					BEGIN	
							Select @HR_RoleStatus = CASE WHEN @HR_Status = 1 then 2
															WHEN @HR_Status = 2 then 3
															WHEN @HR_Status NOT IN (1,2) then ID END
							FROM   prg_HiringRequest_RoleStatus
							WHere  HR_StatusID = @HR_Status

					END
				ELSE
					BEGIN
							Select @HR_RoleStatus = CASE WHEN @MaxTalentStatusID = 1 then 3
															WHEN @HR_Status = 2 then 4
															WHEN @HR_Status = 3 then 5 END

					END
				

				UPDATE	HD SET		
				HD.NoofEmployee = H.NoofTalents,
				HD.RoleStatus_ID = case when Isnull(@HR_RoleStatus,0) = 0 then 1 else @HR_RoleStatus end,
				HD.LastModifiedByID = @ActionPerformedBy,
				HD.LastModifiedDatetime = GETDATE()
				FROM	gen_SalesHiringRequest_Details HD with(nolock) 
				INNER JOIN gen_SalesHiringRequest H with(nolock) on HD.HiringRequest_ID = H.ID											
				WHERE	H.ID = @HiringRequestID;

				SET @Message = CASE WHEN @ReopenHR = 1 THEN 'HR Reopened successfully' 
									ELSE 'HR marked as completed because updated and hired TR count are same' 
									END
				SET @Status =  0

				-- Talent STatus Block BEGIN
				-- Payal (11-07-2023)
				BEGIN
				   print 'HR Status ID ' + cast(@HR_Status as nvarchar(50))
				   IF(@HR_Status = 2)
				   BEGIN
						if(select count(1) FROM gen_ContactTalentPriority WITH(NOLOCK) where HiringRequestID = @HiringRequestID AND TalentStatusID_BasedOnHR in(1,2,3,5)) >0
				        begin
								update CTP SET CTP.TalentStatusID_BasedOnHR =2 
								FROM gen_ContactTalentPriority CTP 
								where HiringRequestID = @HiringRequestID AND TalentStatusID_BasedOnHR = 3 
								AND exists(select 1 from gen_ShortlistedTalent_InterviewDetails SInt with(nolock) where SInt.HiringRequest_ID = CTP.HiringRequestID AND cast(ScheduledOn as date) < cast(getdate() as date) AND Status_ID in(1,4,5,6) )

								update CTP SET CTP.TalentStatusID_BasedOnHR =2 
								FROM gen_ContactTalentPriority CTP 
								where HiringRequestID = @HiringRequestID AND TalentStatusID_BasedOnHR = 5
						end

				   END

				END
				 -- Talent STatus Block END

			END	
		
			DECLARE @SQL as Nvarchar(MAX) = ''
			DECLARE @HistoryID BIGINT = 0;
			print @Message;
			If @Message <> ''
				BEGIN
					IF(@ActionManagedByClient = 0)					
						set @SQL = 'EXEC sproc_HiringRequest_History_Insert ''Reopen_HR'', ' + cast(@HiringRequestID as Nvarchar(10)) + ', 0, 0, ' + cast(@ActionPerformedBy as Nvarchar(10)) + ', 0, 0, '''', 0, 0, 0, 0, 0,' + cast(@ActionDoneBy as Nvarchar(10))
					ELSE
						set @SQL = 'EXEC sproc_HiringRequest_History_Insert ''Reopen_HR'', ' + cast(@HiringRequestID as Nvarchar(10)) + ', 0, 0, ' + cast(@ActionPerformedBy as Nvarchar(10)) + ', 0, 0, '''', 0, 1, 0, 0, 0,' + cast(@ActionDoneBy as Nvarchar(10))
				END

			IF OBJECT_ID('tempdb..#HistoryIDTbl') IS NOT NULL
				DROP TABLE #HistoryIDTbl;

				CREATE TABLE #HistoryIDTbl(Id bigint);

				INSERT INTO #HistoryIDTbl(Id)
					exec SP_ExecuteSql @SQL;
	
				SET @HistoryID = (select top 1 Id from #HistoryIDTbl);
				UPDATE	gen_SalesHR_TRUpdated_Details SET HistoryID = @HistoryID where ID = @TRUpdateTblID;

				DROP TABLE #HistoryIDTbl;
	  END
	END
	ELSE
	BEGIN
		SET @Message = 'Hiring Request ID: ' + CAST(@HiringRequestID as nvarchar(10)) + ' not found.'
		SET @Status = 1;
	END	

	SELECT @Message as [Message],@Status as [Status], @ReopenHR as IsReopen
END