ALTER PROCEDURE [dbo].[Sproc_Mark_JobsInactive_AfterMonth_ClientPortal]
  --@CompanyID		bigint = 0,
  --@HRID				bigint = 0
AS
BEGIN

		IF OBJECT_ID('tempdb..#MarkInActive') IS not null
			DROP TABLE #MarkInActive

		CREATE TABLE #MarkInActive
		(
			HRID		  bigint,
			CompanyID	  bigint,
			ContactID	  bigint,
			CreditBalance	int,
			Title		  Nvarchar(100),
			HR_Number	  Nvarchar(100),
			JobPostedDate Nvarchar(20),
			ProfileShared int
		)

		select ContactID,MAX(ID) as ID,HRID
		Into   #MaxHRID
		FROM   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)
		GROUP BY ContactID,HRID


		INSERT INTO #MarkInActive(HRID,CompanyID,ContactID,CreditBalance,Title,HR_Number,JobPostedDate)
		select  JCT.HRID,JCT.CompanyID,JCT.ContactID,CreditBalance = Isnull(JCT.CreditBalance,0),
				H.RequestForTalent,H.HR_Number,JobPostedDate = CONVERT(nvarchar(15),JCT.JobPostedDate,103)
		FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)
			    --inner join gen_JobPost_Subscription_History_ClientPortal JS WITH(NOLOCK) ON JS.CompanyID = JCT.CompanyID and JS.ContactID = JCT.ContactID
				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID
				inner join #MaxHRID M ON M.HRID = JCT.HRID and M.ID = JCT.ID
				inner join gen_Company CO WITH(NOLOCK) ON CO.ID = JCT.CompanyID
		WHERE   --JCT.CompanyID = @CompanyID and JCT.HRID = @HRID AND
			     Cast(H.JobExpiryDate as Date) <= Cast(Getdate() as date)
			    --AND JS.IsActive = 1 and Isnull(H.GUID,'') <> ''
				AND Isnull(H.JobStatusID,0) <> 2
				AND (CO.CompanyTypeID = 2 OR Isnull(CO.AnotherCompanyTypeID,0) = 2)
				AND H.HRTypeID <> 1
				--ANd Isnull(Co.IsPostaJob,0) = 1

		INSERT INTO #MarkInActive(HRID,CompanyID,ContactID,CreditBalance,Title,HR_Number,JobPostedDate)
		select  H.ID,C.CompanyID,H.ContactID,CreditBalance = Isnull(CO.JPCreditBalance,0),
				H.RequestForTalent,H.HR_Number,JobPostedDate = CONVERT(nvarchar(15),H.CreatedByDatetime,103)
		FROM    gen_SalesHiringRequest H WITH(NOLOCK) 
				inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
				inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		WHERE   --JCT.CompanyID = @CompanyID and JCT.HRID = @HRID AND
			     Cast(H.JobExpiryDate as Date) <= Cast(Getdate() as date)
			    --AND JS.IsActive = 1 
				and Isnull(H.GUID,'') = ''
				AND Isnull(H.JobStatusID,0) <> 2
				AND (CO.CompanyTypeID = 2 OR Isnull(CO.AnotherCompanyTypeID,0) = 2)
				AND H.HRTypeID <> 1
				--AND H.ID = 12405
				--ANd Isnull(Co.IsPostaJob,0) = 1

		UPDATE  M
		SET     ProfileShared = CASE WHEN ISNULL(Q.cnt,0) > 0 then 1 else 0 end
		FROM    #MarkInActive M 
				Left join (
						select  Count(H.ID) Cnt,H.HiringRequest_ID
						from    gen_History H WITH(NOLOCK)
							    inner join #MarkInActive M ON M.HRID = H.HiringRequest_ID
						WHERE   H.Action_ID = 6
						GROUP BY H.HiringRequest_ID
				)Q ON Q.HiringRequest_ID = M.HRID

		UPDATE  JC
		SET     JC.ISActive = 0
		FROM    gen_JobPost_Subscription_History_ClientPortal JC 
				inner join #MarkInActive M ON M.CompanyID = JC.CompanyID and M.ContactID = JC.ContactID

		UPDATE H 
		SET    JobStatusID = 2,
			   LastModifiedByID = M.ContactID,
			   LastModifiedDatetime = GETDATE(),
			   H.Status_ID = 9,
			   H.IsAutoExpiredJob = 1,
			   H.JobExpiredORClosedDate = H.JobExpiryDate
		FROM   gen_SalesHiringRequest H WITH(UPDLOCK)
			   Inner join #MarkInActive M ON M.HRID = H.ID
		WHERE   --H.ContactID IN (SELECT ID FROM gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND 
				ISNULL(JobStatusID, 0) <> 2
			    --AND Status_ID IN (1,2,7,8) 
				--AND M.ProfileShared = 0

		--UPDATE H 
		--SET    JobStatusID = 2,
		--	   LastModifiedByID = M.ContactID,
		--	   LastModifiedDatetime = GETDATE(),
		--	   H.Status_ID = 6,
		--	   H.IsAutoExpiredJob = 1,
		--	   H.JobExpiredORClosedDate = GETDATE()
		--FROM   gen_SalesHiringRequest H WITH(UPDLOCK)
		--	   Inner join #MarkInActive M ON M.HRID = H.ID
		--WHERE  --H.ContactID IN (SELECT ID FROM gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND 
		--		ISNULL(JobStatusID, 0) <> 2
		--	   AND Status_ID IN (1,2) and M.ProfileShared > 0

		SELECT * from #MarkInActive

		declare @HiringRequestID as bigint =0
		declare @ClientId as bigint = 0
		declare @SalesUserID as bigint = 0

		Declare Cur_ClientJobsAutoExpired Cursor For 
		select HRID from #MarkInActive		
		Open Cur_ClientJobsAutoExpired
		Fetch Next From Cur_ClientJobsAutoExpired INTO @HiringRequestID
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			select @SalesUserID = SalesUserId from gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HiringRequestID

			EXEC sproc_HiringRequest_History_Insert @Action = 'ClientJobsAutoExpired', @HiringRequest_ID = @HiringRequestID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @ClientID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 1,@IsManagedByTalent = 0, @SalesUserID = @SalesUserID,
				@OldSalesUserID = 0, @AppActionDoneBy = 1
			
			Fetch Next From Cur_ClientJobsAutoExpired INTO @HiringRequestID
		END

		Close Cur_ClientJobsAutoExpired
		Deallocate Cur_ClientJobsAutoExpired

		

		DROP TABLE #MarkInActive
		DROP TABLE #MaxHRID

		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Mark_JobsInactive_AfterMonth_ClientPortal'
END