ALTER PROCEDURE [dbo].[sproc_UTS_GetProfileShareDetail]
@TalentID BIGINT = NULL,
@Type int = 0,
@fromdate date = null, 
@todate date = null  
AS

if(ISNULL(@fromdate,'') = '' and ISNULL(@todate,'') = '')

	if (@type = 51)

			select isnull(H.HR_Number,'') as HRID ,
			isnull(TR.TalentRole,'') as Position,
			isnull(gco.Company,'') as Company,
			FORMAT(His.CreatedByDatetime,'dd/MM/yyyy') as sDate,
				case 
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 1 then 301
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 2 then 302
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 3 then 303
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 4 then 304
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 5 then 305
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 6 then 306
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 7 then 307
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 8 then 308
				else 
				999
				end FrontStatusID,
				case when isnull(TS.TalentStatus,'') = '' then 'None' 
				else isnull(TS.TalentStatus,'') end as TalentStatus,
				'' as Feedbackurl
			FROM gen_History His with(nolock) 
			inner join gen_SalesHiringRequest H with(nolock) on His.HiringRequest_ID = H.ID
			inner join gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
			inner join gen_Contact gc with(nolock) on gc.ID = H.ContactID
			inner join gen_company gco with(nolock) on gco.ID = gc.CompanyID
			inner join gen_Talent t with(nolock) on t.ID = His.Talent_ID
			inner join prg_TalentRoles TR with(nolock) on t.RoleID = TR.ID
			left join gen_ContactTalentPriority CTP with(nolock) on H.ID = CTP.HiringRequestID and T.ID = CTP.TalentID
			left join prg_TalentStatus_AfterClientSelection TS WITH(NOLOCK) ON ISNULL(TS.ID,0) = isnull(CTP.TalentStatusID_BasedOnHR,0)
			WHERE 
			H.IsActive = 1 
			and H.Status_ID != 1 
			and H.IsAccepted = 1 
			and His.Action_ID = @Type 
			and His.Talent_ID = @TalentID
			and His.IsActive = 1

	else if (@type = 12 or @type = 22) 

			select isnull(H.HR_Number,'') as HRID ,
			isnull(TR.TalentRole,'') as Position,
			isnull(gco.Company,'') as Company,
			FORMAT(His.CreatedByDatetime,'dd/MM/yyyy') as sDate,
			999 as FrontStatusID,
			ISNULL(TAC.TalentStatus,'') as TalentStatus,
			'' as Feedbackurl
			FROM gen_History His with(nolock) 
			inner join gen_SalesHiringRequest H with(nolock) on His.HiringRequest_ID = H.ID
			inner join gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
			inner join gen_Contact gc with(nolock) on gc.ID = H.ContactID
			inner join gen_company gco with(nolock) on gco.ID = gc.CompanyID
			inner join gen_Talent t with(nolock) on t.ID = His.Talent_ID
			inner join prg_TalentRoles TR with(nolock) on t.RoleID = TR.ID
			left join gen_ContactTalentPriority CTP with(nolock) on H.ID = CTP.HiringRequestID and T.ID = CTP.TalentID
			left join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON ISNULL(TAC.ID,0) = isnull(CTP.TalentStatusID_BasedOnHR,0)
			WHERE 
			H.IsActive = 1 
			and H.Status_ID != 1 
			and H.IsAccepted = 1 
			and His.Action_ID = @Type 
			and His.Talent_ID = @TalentID 

	else

			select isnull(H.HR_Number,'') as HRID ,
			isnull(TR.TalentRole,'') as Position,
			isnull(gco.Company,'') as Company,
			FORMAT(His.CreatedByDatetime,'dd/MM/yyyy') as sDate,
			999 as FrontStatusID,
			'' as TalentStatus,
			'' as Feedbackurl
			FROM gen_History His with(nolock) 
			inner join gen_SalesHiringRequest H with(nolock) on His.HiringRequest_ID = H.ID
			inner join gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
			inner join gen_Contact gc with(nolock) on gc.ID = H.ContactID
			inner join gen_company gco with(nolock) on gco.ID = gc.CompanyID
			inner join gen_Talent t with(nolock) on t.ID = His.Talent_ID
			inner join prg_TalentRoles TR with(nolock) on t.RoleID = TR.ID
			WHERE 
			H.IsActive = 1 
			and H.Status_ID != 1 
			and H.IsAccepted = 1 
			and His.Action_ID = @Type 
			and His.Talent_ID = @TalentID 

else

	if (@type = 51)

			select isnull(H.HR_Number,'') as HRID ,
			isnull(TR.TalentRole,'') as Position,
			isnull(gco.Company,'') as Company,
			FORMAT(His.CreatedByDatetime,'dd/MM/yyyy') as sDate,
			case 
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 1 then 301
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 2 then 302
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 3 then 303
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 4 then 304
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 5 then 305
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 6 then 306
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 7 then 307
				when isnull(t.TalentStatusID_AfterClientSelection,0) = 8 then 308
			else 
				999
			end FrontStatusID,
				case 
					when isnull(TS.TalentStatus,'') = '' then 'None' 
				else isnull(TS.TalentStatus,'') end as TalentStatus,
					'' as Feedbackurl
				FROM gen_History His with(nolock) 
				inner join gen_SalesHiringRequest H with(nolock) on His.HiringRequest_ID = H.ID
				inner join gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
				inner join gen_Contact gc with(nolock) on gc.ID = H.ContactID
				inner join gen_company gco with(nolock) on gco.ID = gc.CompanyID
				inner join gen_Talent t with(nolock) on t.ID = His.Talent_ID
				inner join prg_TalentRoles TR with(nolock) on t.RoleID = TR.ID
				left join gen_ContactTalentPriority CTP with(nolock) on H.ID = CTP.HiringRequestID and T.ID = CTP.TalentID
				left join prg_TalentStatus_AfterClientSelection TS WITH(NOLOCK) ON ISNULL(TS.ID,0) = isnull(CTP.TalentStatusID_BasedOnHR,0)
				WHERE 
				H.IsActive = 1 
				and H.Status_ID != 1 
				and H.IsAccepted = 1 
				and His.Action_ID = @Type 
				and His.Talent_ID = @TalentID
				and cast(His.CreatedByDatetime as date)  >= @fromdate and cast(His.CreatedByDatetime as date) <= @todate 
				and His.IsActive = 1

	else if (@type = 12 or @type = 22) 

				select isnull(H.HR_Number,'') as HRID ,
				isnull(TR.TalentRole,'') as Position,
				isnull(gco.Company,'') as Company,
				FORMAT(His.CreatedByDatetime,'dd/MM/yyyy') as sDate,
				999 as FrontStatusID,ISNULL(TAC.TalentStatus,'') as TalentStatus,
				'' as Feedbackurl
				FROM gen_History His with(nolock) 
				inner join gen_SalesHiringRequest H with(nolock) on His.HiringRequest_ID = H.ID
				inner join gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
				inner join gen_Contact gc with(nolock) on gc.ID = H.ContactID
				inner join gen_company gco with(nolock) on gco.ID = gc.CompanyID
				inner join gen_Talent t with(nolock) on t.ID = His.Talent_ID
				inner join prg_TalentRoles TR with(nolock) on t.RoleID = TR.ID
				left join gen_ContactTalentPriority CTP with(nolock) on H.ID = CTP.HiringRequestID and T.ID = CTP.TalentID
				left join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON ISNULL(TAC.ID,0) = isnull(CTP.TalentStatusID_BasedOnHR,0)
				WHERE 
				H.IsActive = 1 
				and H.Status_ID != 1 
				and H.IsAccepted = 1 
				and His.Action_ID = @Type 
				and His.Talent_ID = @TalentID
				and cast(His.CreatedByDatetime as date) >= @fromdate and cast(His.CreatedByDatetime as date) <= @todate 

	else

				select isnull(H.HR_Number,'') as HRID ,
				isnull(TR.TalentRole,'') as Position,
				isnull(gco.Company,'') as Company,
				FORMAT(His.CreatedByDatetime,'dd/MM/yyyy') as sDate,
				999 as FrontStatusID,
				'' as TalentStatus,
				'' as Feedbackurl
				FROM gen_History His with(nolock) 
				inner join gen_SalesHiringRequest H with(nolock) on His.HiringRequest_ID = H.ID
				inner join gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
				inner join gen_Contact gc with(nolock) on gc.ID = H.ContactID
				inner join gen_company gco with(nolock) on gco.ID = gc.CompanyID
				inner join gen_Talent t with(nolock) on t.ID = His.Talent_ID
				inner join prg_TalentRoles TR with(nolock) on t.RoleID = TR.ID
				WHERE 
				H.IsActive = 1 
				and H.Status_ID != 1 
				and H.IsAccepted = 1 
				and His.Action_ID = @Type 
				and His.Talent_ID = @TalentID 
				and cast(His.CreatedByDatetime as date) >= @fromdate and cast(His.CreatedByDatetime as date) <= @todate
