USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_get_ClientHomePageCount]    Script Date: 30-04-2024 13:29:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_get_ClientHomePageCount]
  @Contact_Id    bigint = null,
  @AnotherCompanyTypeId		int = 0
AS
BEGIN				
				 
			Declare @CompanyID as bigint = 0
			Declare @Total_OpenPosition AS int = 0
			Declare @Total_ShortlistedTalent AS int = 0
			Declare @Total_Interview AS int = 0
			Declare @Total_Hired AS int = 0
			DECLARE @ShortlistedHRID AS BIGINT = 0, @ShortlistedHRRoleID AS BIGINT = 0, @ShortlistedLink NVARCHAR(MAX) = NULL
			DECLARE @InterviewHRID AS BIGINT = 0, @InterviewHRRoleID AS BIGINT = 0, @InterviewLink NVARCHAR(MAX) = NULL
			DECLARE @HiredHRID AS BIGINT = 0, @HiredHRRoleID AS BIGINT = 0, @HiredLink NVARCHAR(MAX) = NULL

			Select @CompanyID = CompanyID from gen_Contact with(nolock) where ID = @Contact_ID


			IF OBJECT_ID('tempdb..#HRTypeID') IS Not Null
				DROP TABLE #HRTypeID

			CREATE TABLE #HRTypeID
			(
				HRID		bigint,
				HRTypeID	int
			)

			IF Isnull(@AnotherCompanyTypeId,0) = 1 
				BEGIN
						INSERT INTO #HRTypeID
						SELECT  ID,ISNULL(HRTypeID,0)
						FROM    gen_SalesHiringRequest WITH(NOLOCK)
						WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND Isnull(HRTypeId,0) = 1
				END
			ELSE IF Isnull(@AnotherCompanyTypeId,0) = 2
				BEGIN
						INSERT INTO #HRTypeID
						SELECT  ID,ISNULL(HRTypeID,0)
						FROM    gen_SalesHiringRequest WITH(NOLOCK)
						WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND Isnull(HRTypeId,0) in (3,4, 6)
				END
			ELSE
				BEGIN
						INSERT INTO #HRTypeID
						SELECT  ID,ISNULL(HRTypeID,0)
						FROM    gen_SalesHiringRequest WITH(NOLOCK)
						WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID)
				END

			-- Total OpenPosition 
			BEGIN

				Select @Total_OpenPosition = isnull(SUM(isnull(HR.NoofTalents,0)),0)
				FROM gen_SalesHiringRequest HR WITH(NOLOCK)	
					 inner join  gen_SalesHiringRequest_Details SHD WITH(NOLOCK) ON SHD.HiringRequest_ID = HR.ID
					 inner join gen_contact C WITH(NOLOCK) ON  C.ID = HR.ContactID	
					 inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = SHD.HiringRequest_ID
				WHERE C.CompanyID = @CompanyID AND HR.Status_ID in( 1,2,7,8 ) 
				AND HR.IsActive = 1 AND ISNULL(hr.JobStatusID,1) <> 2   --IN (1, 4, 5)

			END			

			--select  * from #HRTypeID
			-- Total ShortlistedTalent 
				BEGIN

					Select @Total_ShortlistedTalent = count(CTP.ID)
					FROM gen_SalesHiringRequest HR WITH(NOLOCK)					
						 inner join gen_contact C WITH(NOLOCK) ON  C.ID = HR.ContactID
						 inner join gen_ContactTalentPriority  CTP with(nolock) ON CTP.HiringRequestID = HR.ID 
						 --AND  CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HR.ID 					
						 inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
					WHERE C.CompanyID = @CompanyID 
					AND HR.Status_ID IN (2,7,8) 
					--AND CTP.TalentStatusID_BasedOnHR = 2
					AND ISNULL(hr.JobStatusID,1) <> 2 --IN (1, 4, 5)

				END

			IF(ISNULL(@AnotherCompanyTypeId, 0) = 1)
			BEGIN			

				-- Total Interview 
				BEGIN

				--Select @Total_Interview = count(IM.ID)
				--FROM	
				--	gen_InterviewSlotsMaster IM WITH(NOLOCK)
				--	inner join gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK) ON IM.HiringRequest_ID = TSI.HiringRequest_ID AND IM.Talent_ID = TSI.Talent_ID
				--	inner join gen_contact C WITH(NOLOCK) ON  C.ID = IM.ContactID	
				--	inner join gen_Talent T WITH(NOLOCK) ON T.ID = IM.Talent_ID
				--	inner join gen_ContactTalentPriority  CTP with(nolock) ON CTP.TalentID = TSI.Talent_ID AND TSI.HiringRequest_ID = CTP.HiringRequestID AND  CTP.ContactID = TSI.ContactID AND CTP.HiringRequest_Detail_ID = TSI.HiringRequest_Detail_ID 		
				--	inner join gen_SalesHiringRequest_Details SHD WITH(NOLOCK) ON SHD.ID = TSI.HiringRequest_Detail_ID
				--	inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON SHD.HiringRequest_ID = HR.ID	
				--	inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = SHD.HiringRequest_ID
				--WHERE C.CompanyID = @CompanyID
				--	 AND IsConfirmed = 1 and isnull(IM.InterviewStatus_ID,0) in(1,4,5)  
				--	 AND isnull(Shortlisted_InterviewID,0) > 0  
				--	 AND isnull(IsClientFeedbackSubmitted,0) = 0	
				--	 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5) 

				Select @Total_Interview = count(IM.ID)
				FROM	
					gen_InterviewSlotsMaster IM WITH(NOLOCK)
					inner join gen_ContactTalentPriority  CTP with(nolock) ON CTP.TalentID = IM.Talent_ID AND IM.HiringRequest_ID = CTP.HiringRequestID AND  CTP.ContactID = IM.ContactID 
					inner join gen_contact C WITH(NOLOCK) ON  C.ID = IM.ContactID	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON IM.HiringRequest_ID = HR.ID	
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID	
				WHERE C.CompanyID = @CompanyID
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5) 
					 AND IM.InterviewStatus_ID NOT IN (3, 7)

				END

				-- Total Hired 
				BEGIN

				Select @Total_Hired = count(CTP.TalentID)
				FROM	
					gen_ContactTalentPriority  CTP with(nolock) 
					inner join gen_contact C WITH(NOLOCK) ON  C.ID = CTP.ContactID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = CTP.HiringRequestID
				WHERE C.CompanyID = @CompanyID AND CTP.TalentStatusID_BasedOnHR = 10

			  END
		  END
		  ELSE
		  BEGIN
			
			DECLARE @Total_InterviewPostaJob INT = 0, @Total_InterviewPayperView INT = 0, @Total_HiredPostaJob INT = 0 , 
			@Total_HiredPayperView INT = 0, 
			@Total_ShortlistedPayPerView INT = 0

			-- Status counts when HR is only for post a job model and not for pay per view.
			Select @Total_InterviewPostaJob = count(CTP.ID)
				FROM					
					gen_ContactTalentPriority  CTP with(nolock)	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HiringRequestID
					inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
				WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId = 4 AND CTP.TalentStatusID_ClientPortal = 5

			Select @Total_InterviewPayperView = count(CTP.ID)
				FROM					
					gen_CRCTP_ShortlistedTalents_ClientPortal  CTP with(nolock)	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HRID
					inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
				WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId IN (3, 6) AND CTP.StatusID = 5

			SET @Total_Interview = @Total_InterviewPostaJob + @Total_InterviewPayperView

			-- Status counts when HR is for pay per view.
			Select @Total_HiredPostaJob = count(CTP.ID)
				FROM					
					gen_ContactTalentPriority  CTP with(nolock)	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HiringRequestID
					inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
				WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId = 4 AND CTP.TalentStatusID_ClientPortal = 7

			Select @Total_HiredPayperView = count(CTP.ID)
				FROM					
					gen_CRCTP_ShortlistedTalents_ClientPortal  CTP with(nolock)	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HRID
					inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
				WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId IN (3, 6) AND CTP.StatusID = 7

			SET @Total_Hired = @Total_HiredPostaJob + @Total_HiredPayperView

			--Status for shortlisted talents ,
			Select @Total_ShortlistedPayPerView = count(CTP.ID)				  
				FROM					
					gen_CRCTP_ShortlistedTalents_ClientPortal  CTP with(nolock)	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HRID
					inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
				WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId IN (3, 6) AND CTP.StatusID  IN (1,2,3)

			SET @Total_ShortlistedTalent = @Total_ShortlistedTalent + @Total_ShortlistedPayPerView

		  END

		   --If shortlisted count is 1 then give the hrid and roleid with the link JIRA (UTS-6510)
		  
		  IF(@Total_ShortlistedTalent = 1)
		  BEGIN
				IF(@Total_ShortlistedPayPerView = 1)
				BEGIN
					Select TOP 1
						   @ShortlistedHRID = HR.ID
						   --,@ShortlistedLink =  CASE WHEN HR.HRTypeID IN (1, 4) THEN '/shortlistedTalents' 
									--				WHEN HR.HRTypeID IN (3 ,6) THEN '/creditbase-shortlist'
									--					END
							,@ShortlistedLink =  '/creditbase-shortlist'
						FROM					
							gen_CRCTP_ShortlistedTalents_ClientPortal  CTP with(nolock)	
							inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HRID
							inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
							inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
						WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId IN (3, 6) AND CTP.StatusID  IN (1,2,3)
				END
				ELSE
				BEGIN
					Select TOP 1 @ShortlistedHRID = HR.ID
								,@ShortlistedLink =  '/creditbase-shortlist'
					FROM gen_SalesHiringRequest HR WITH(NOLOCK)	
						 inner join  gen_SalesHiringRequest_Details SHD WITH(NOLOCK) ON SHD.HiringRequest_ID = HR.ID
						 inner join gen_contact C WITH(NOLOCK) ON  C.ID = HR.ContactID
						 inner join gen_ContactTalentPriority  CTP with(nolock) ON CTP.HiringRequestID = HR.ID AND  CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = SHD.ID 					
						 inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = SHD.HiringRequest_ID
					WHERE C.CompanyID = @CompanyID AND HR.Status_ID = 2 AND CTP.TalentStatusID_BasedOnHR in (2,3) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
				END
		  END
		  ELSE IF(@Total_ShortlistedTalent > 1)
		  BEGIN
			SET @ShortlistedLink = '/myJobPosts'
		  END


		  --If interview count is 1 then give the hrid and roleid with the link JIRA (UTS-6510)
		  IF(@Total_Interview = 1)
		  BEGIN
				IF(@Total_InterviewPostaJob = 1)
				BEGIN			
					Select TOP 1 @InterviewHRID = HR.ID								
								,@InterviewLink = '/creditbase-shortlist'
					FROM	gen_ContactTalentPriority  CTP with(nolock)	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HiringRequestID
					inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
					WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId = 4 AND CTP.TalentStatusID_ClientPortal = 5
				END

				IF(@Total_InterviewPayperView = 1)
				BEGIN
					Select TOP 1
								@InterviewHRID = HR.ID								
								,@InterviewLink = '/creditbase-shortlist'
				FROM					
					gen_CRCTP_ShortlistedTalents_ClientPortal  CTP with(nolock)	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HRID
					inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
				WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId IN (3, 6) AND CTP.StatusID = 5
				END

		  END
		  ELSE IF(@Total_Interview > 1)
		  BEGIN
			SET @InterviewLink = '/myJobPosts'
		  END

		  --If hired count is 1 then give the hrid and roleid with the link JIRA (UTS-6510)
		  IF(@Total_Hired = 1)
		  BEGIN

				IF(@Total_HiredPostaJob = 1)
				BEGIN
						Select TOP 1 @HiredHRID = HR.ID									
									,@HiredLink = '/creditbase-shortlist'
					FROM					
					gen_ContactTalentPriority  CTP with(nolock)	
					inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HiringRequestID
					inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
					inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
				WHERE C.CompanyID = @CompanyID					
					 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
					 AND HR.HRTypeId = 4 AND CTP.TalentStatusID_ClientPortal = 7
				END

				IF(@Total_HiredPayperView = 1)
				BEGIN
						Select TOP 1 @HiredHRID = HR.ID
									,@HiredLink =  '/creditbase-shortlist'															
							FROM					
							gen_CRCTP_ShortlistedTalents_ClientPortal  CTP with(nolock)	
							inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID	= CTP.HRID
							inner join gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
							inner join #HRTypeID HT WITH(NOLOCK) ON HT.HRID = HR.ID
							WHERE C.CompanyID = @CompanyID					
							 AND HR.Status_ID not in(3,4) AND ISNULL(hr.JobStatusID,1) IN (1, 4, 5)
							 AND HR.HRTypeId IN (3, 6) AND CTP.StatusID = 7	
				END
		  END
		  ELSE IF(@Total_Hired > 1)
		  BEGIN
			SET @HiredLink = '/myJobPosts'
		  END


		  Select  @Total_OpenPosition AS Total_OpenPosition ,
				  @Total_ShortlistedTalent AS Total_ShortlistedTalent, 
				  @Total_Interview AS Total_Interview , 
				  @Total_Hired  AS Total_Hired,
				  @ShortlistedHRID AS ShortlistedHRID,
				  @ShortlistedHRRoleID AS ShortlistedHRRoleID,
				  @ShortlistedLink AS ShortlistedLink,
				  @InterviewHRID AS InterviewHRID,
				  @InterviewHRRoleID AS InterviewHRRoleID,
				  @InterviewLink AS InterviewLink,
				  @HiredHRID AS HiredHRID,
				  @HiredHRRoleID AS HiredHRRoleID,
				  @HiredLink AS HiredLink
		
			DROP TABLE #HRTypeID
END