ALTER PROCEDURE [dbo].[sproc_Get_PreOnboarding_Details_ClientPortal]
	@OnBoardID			BIGINT = NULL,
	@HR_ID				BIGINT = NULL
AS
BEGIN

	DECLARE @PerMonth NVARCHAR(50) = ' / Month';
	DECLARE @PerAnnum NVARCHAR(50) = '  / Annum';

	IF @OnBoardID > 0 AND @HR_ID > 0
	BEGIN
		SELECT DISTINCT
		ISNULL(SHR.ID,0) AS  HR_ID,
		ISNULL(C.ID,0) AS ContactID,
		ISNULL(C.CompanyID,0) AS CompanyID,
		ISNULL(CTP.TalentID, 0) AS TalentID,
		ISNULL(T.Name,'') as TalentName,
		ISNULL(T.EmailID,'') as TalentEmail,
		ISNULL(T.ATS_Talent_LiveURL,'') TalentProfileLink,
		ISNULL(SHR.Availability,'') as [Availability],
		ISNULL(T.Designation,'') AS Talent_Designation,
		--ISNULL(CTP.Current_CTC, 0) AS CurrentCTC,
		--ISNULL(CTP.TalentCost, 0) AS ExpectedSalary,
		CASE 
			WHEN ISNULL(CTP.Current_CTC, 0) > 0 AND CTP.DP_Percentage > 0 AND CTP.IsHRTypeDP = 1
				THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
					CONVERT(varchar, CAST(ISNULL(CTP.Current_CTC,0) AS MONEY), 1) + ' ' + 
					ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerAnnum
			WHEN ISNULL(CTP.Current_CTC, 0) > 0 AND CTP.NRPercentage > 0 AND CTP.IsHRTypeDP = 0
				THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
					CONVERT(varchar, CAST(ISNULL(CTP.Current_CTC,0) AS MONEY), 1) + ' ' + 
					ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerMonth 
			ELSE ''
		END AS CurrentCTC,
		CASE 
			WHEN ISNULL(CTP.TalentCost, 0) > 0 AND CTP.DP_Percentage > 0 AND CTP.IsHRTypeDP = 1
				THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
					CONVERT(varchar, CAST(ISNULL(CTP.TalentCost,0) AS MONEY), 1) + ' ' + 
					ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerAnnum
			WHEN ISNULL(CTP.TalentCost, 0) > 0 AND CTP.NRPercentage > 0 AND CTP.IsHRTypeDP = 0
				THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
					CONVERT(varchar, CAST(ISNULL(CTP.TalentCost,0) AS MONEY), 1) + ' ' + 
					ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerMonth 
			ELSE ''
		END AS ExpectedSalary,
		ISNULL(ONCD.NetPaymentDays,0) AS PayementNetTerm,
		Isnull(CTP.HR_Cost,'') AS BillRate,
		ISNULL(OBT.DPPercentage, CTP.DP_Percentage) AS DP_Percentage,
		ISNULL(OBT.NRPercentage, CTP.NRPercentage) AS NRPercentage,
		ISNULL(MW.ModeOfWorking, DP.ModeOfWork) AS ModeOfWork,
		ISNULL(OBT.StateID, 0) AS StateID,
		ISNULL(PS.State, '') AS StateName,
		ISNULL(OBT.City,'') AS CityName,
		ISNULL(CTP.IsHRTypeDP,0) AS IsHRTypeDP,
		CASE
		    WHEN ONCD.PunchStartTime IS NOT NULL THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, CTZ.ISTTimeDiffMin, ONCD.PunchStartTime) AS TIME), 0)
		    ELSE ''
		END as ISTShiftStartTime,
		CASE
		    WHEN ONCD.PunchEndTime IS NOT NULL THEN CONVERT(VARCHAR(10),  CAST(dateadd(MINUTE, CTZ.ISTTimeDiffMin, ONCD.PunchEndTime) AS TIME), 0)
		    ELSE ''
		END as ISTShiftEndTime,
		ISNULL(ONCD.PunchStartTime, '') AS ShiftStartTime,
		ISNULL(ONCD.PunchEndTime, '') AS ShiftEndTime,
		ISNULL(OBT.EngagemenID,'') AS EngagemenID,
		ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) AS Talent_CurrencyCode,
		ISNULL(CER.CurrencySign, CER_HD.CurrencySign) AS CurrencySign,
		CASE WHEN Isnull(SHR.IsHRTypeDP,0) = 1 then 'Release offer details' else 'Confirm Contract details' end as PageTitle
		FROM gen_OnBoardTalents OBT WITH(NOLOCK)
			 INNER JOIN gen_SalesHiringRequest SHR WITH(NOLOCK) ON SHR.Id = OBT.HiringRequest_ID
			 INNER JOIN gen_SalesHiringRequest_Details SHRD WITH(NOLOCK) ON SHRD.HiringRequest_ID = SHR.ID AND SHRD.ID = OBT.HiringRequest_Detail_ID
			 INNER JOIN gen_OnBoardClientContractDetails ONCD WITH(NOLOCK) ON ONCD.OnBoardID = OBT.ID
			 INNER JOIN gen_Talent T WITH(NOLOCK) ON T.ID = OBT.Talent_ID
			 INNER JOIN gen_Contact C WITH(NOLOCK) ON C.ID = OBT.ContactID
			 INNER JOIN prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = SHRD.Timezone_ID 
			 LEFT JOIN gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = SHR.ID AND CTP.TalentID = OBT.Talent_ID
			 LEFT JOIN prg_CurrencyExchangeRate CER WITH(NOLOCK) ON CER.CurrencyCode = CTP.Talent_CurrencyCode
			 LEFT JOIN prg_TalentAssociatedWithUplers TAWU WITH(NOLOCK) ON TAWU.ID = T.AssociatedwithUplers_ID
			 LEFT JOIN prg_TalentRoles TD WITH(NOLOCK) ON TD.ID = T.RoleID
			 LEFT JOIN prg_ModeOfWorking MW WITH(NOLOCK) ON MW.ID = OBT.ModeOFWorkingID
			 LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id = SHR.Id
			 LEFT JOIN prg_States PS WITH(NOLOCK) ON PS.ID = OBT.StateID
			 LEFT JOIN prg_CurrencyExchangeRate CER_HD WITH(NOLOCK) ON CER_HD.CurrencyCode = SHRD.Currency
		WHERE	OBT.ID = @OnBoardID and SHR.ID = @HR_ID 
	END
		

		

		
		
		
END