USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Repost_Email]    Script Date: 09-09-2024 14:29:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Get_Repost_Email]
	@HRID				Bigint = 0,
	@ClientId			Bigint = 0,	
	@Environment		nvarchar(20) = null
AS
BEGIN

		Begin   --- Variables
				Declare	@ActionID		as int
				Declare	@JobTitle		as Nvarchar(100)
				Declare	@MustHaveSkill	as Nvarchar(Max)
				Declare	@Yoe			as 	int
				Declare	@Budget			as Nvarchar(100)
				Declare	@JobType		as 	Nvarchar(200)
				Declare	@Location		as Nvarchar(200)
				Declare	@ShiftTime		as Nvarchar(200)
				Declare @Subject as Nvarchar(200) =''
				Declare @SQL as Nvarchar(MAX) = ''
				Declare @SQLConditional as Nvarchar(MAX) = ''
				Declare @SQLPOCConditional as Nvarchar(MAX) = ''
				Declare @HR_Number as Nvarchar(20) = ''
				Declare @Company as Nvarchar(100) = ''
				Declare @Client as Nvarchar(100) = ''						
				Declare @SalesPersonEmail as Nvarchar(Max)= ''
				Declare @Sales_Person as Nvarchar(Max) = ''
				Declare @SalesPersonId as bigint = 0
				Declare @OpsPersonId as bigint = 0
				Declare @ToEmailName as Nvarchar(300) = ''
				Declare @ToEmailID as Nvarchar(Max) = ''
				Declare @CCEmailIDs as Nvarchar(Max) = ''
				Declare @CCEmailName as Nvarchar(Max) = ''
				Declare @ReactURl	as Nvarchar(100) = ''
				DECLARE @CompanyID BIGINT = NULL, @POCID BIGINT = 0
				Declare @POCName as Nvarchar(Max) = ''
				Declare @POCEmail as Nvarchar(Max) = ''	
				Declare @POCDesignation as Nvarchar(Max) = ''
				Declare @POCContactNo as Nvarchar(Max) = ''
		End

		Begin  --- Poc Detail
				
				SELECT @CompanyID = CompanyId FROM gen_Contact WITH(NOLOCK) WHERE ID = @ClientId	
				IF Exists(Select 1
					from   gen_SalesHiringRequest H WITH(NOLOCK) 
						   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
					Where  c.CompanyID = @CompanyID)
				BEGIN
						Select top 1 @POCID = Isnull(H.SalesUserID,0)
						from   gen_SalesHiringRequest H WITH(NOLOCK) 
							   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
						Where  c.CompanyID = @CompanyID
						Order by H.ID desc
				END
		
				IF iSNULL(@POCID,0) = 0
					BEGIN
							SELECT @POCID = Isnull(AM_SalesPersonID,Isnull(NBD_SalesPersonID,0)) 
							from gen_Company WITH(NOLOCK) where ID = @CompanyID
					END

				SELECT	top 1	@POCName = Isnull(usr.FullName,''),@POCEmail = Isnull(usr.EmailID,''),
								@POCContactNo = ISnull(usr.ContactNumber,''),@POCDesignation = Isnull(usr.Designation,'')
				FROM	usr_User usr WITH(NOLOCK)
				WHERE   usr.ID = @POCID
				order by usr.UserTypeID

				


		end

		Begin  --- Get Skill Logic
				declare @SkillsTable table ( SkillName nvarchar(500), HiringRequestID BIGINT) 

				INSERT INTO @SkillsTable
				SELECT  CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
						SD.HiringRequest_ID 
				FROM    gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
						INNER JOIN gen_SalesHiringRequest HR  WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
						left JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
						left JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID
				WHERE   HiringRequest_ID = @HRID And Proficiency = 'Strong'
				Group By SD.HiringRequest_ID,ISNULL(SD.Skill_ID, 0),PS.Skill,TS.TempSkill		

				DECLARE @MustSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
				INSERT 
				INTO	@MustSkillsTable
				SELECT	t1.HiringRequestID, STUFF(
							   (SELECT
									', ' + t2.SkillName
									FROM @SkillsTable t2
									WHERE t1.HiringRequestID=t2.HiringRequestID
									ORDER BY t2.SkillName
									FOR XML PATH(''), TYPE
							   ).value('.','varchar(max)')
							   ,1,2, ''
						  ) AS MustHaveSkills
				FROM	@SkillsTable t1
				GROUP BY t1.HiringRequestID

				DELETE FROM @SkillsTable

				INSERT INTO @SkillsTable
				SELECT  CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
						SD.HiringRequest_ID 
				FROM 	gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
						INNER JOIN gen_SalesHiringRequest  HR  WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
						left JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
						left JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID
				WHERE  	HiringRequest_ID = @HRID And Proficiency = 'Basic' 
				Group By SD.HiringRequest_ID,ISNULL(SD.Skill_ID, 0),PS.Skill,TS.TempSkill		

				DECLARE @GoodToSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
				INSERT 
				INTO	@GoodToSkillsTable
				SELECT	t1.HiringRequestID, STUFF(
							   (SELECT
									', ' + t2.SkillName
									FROM @SkillsTable t2
									WHERE t1.HiringRequestID=t2.HiringRequestID
									ORDER BY t2.SkillName
									FOR XML PATH(''), TYPE
							   ).value('.','varchar(max)')
							   ,1,2, ''
						  ) AS GooToHaveSkills
				FROM @SkillsTable t1
				GROUP BY t1.HiringRequestID
		End
		
		Begin  --- Original Data
				IF Object_Id('tempdb..#HistoryData') is not null
					DROP table #HistoryData

				CREATE TABLE #HistoryData
				(
					ActionID		int,
					HRID			Bigint,
					JobTitle		Nvarchar(100),
					MustHaveSkill	Nvarchar(Max),
					Yoe				int,
					Budget			Nvarchar(100),
					JobType			Nvarchar(200),
					Location		Nvarchar(200),
					ShiftTime		Nvarchar(200)
				)

				Insert into #HistoryData(ActionID,HRID,JobTitle)
				select  top 1 1, H.HiringRequest_ID,Isnull(H.RequestForTalent,'') RequestForTalent
				from	gen_SalesHiringRequest_History H WITH(NOLOCK) 
						--inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
				where   H.HiringRequest_ID = @HRID and Isnull(H.RequestForTalent,'') <> ''
				Order By H.ID asc

				Begin   
						------MustHaveSkill------
						Begin
							Update  H
							SET     H.MustHaveSkill = MST.SkillName
							From    #HistoryData H
									Inner JOIN @MustSkillsTable MST ON MST.HiringRequestID = h.HRID
							Where   H.ActionID = 1
						end
						------Ended-----------

						------Yoe------
						Begin
								Update  H
								SET     H.Yoe = Isnull(Q.YearOfExp,0)
								From    #HistoryData H
										Left JOIN (
													select  top 1 Isnull(H.YearOfExp,0) YearOfExp, H.HiringRequest_ID
													from	gen_SalesHiringRequest_Details_History H WITH(NOLOCK) 
															--inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
													where   H.HiringRequest_ID = @HRID and Isnull(H.YearOfExp,0) <> 0
													Order By H.ID asc
										)Q ON Q.HiringRequest_ID = H.HRID  and H.ActionID = 1
						end
						------Ended-----------

						------Budget------
						Begin
								Update  H
								SET     H.Budget = Isnull(Q.Budget,0)
								From    #HistoryData H
										Left JOIN (
													select  top 1 Isnull(H.cost,0) Budget, H.HiringRequest_ID
													from	gen_SalesHiringRequest_Details_History H WITH(NOLOCK) 
															--inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
													where   H.HiringRequest_ID = @HRID and Isnull(H.Cost,'') <> ''
													Order By H.ID asc
										)Q ON Q.HiringRequest_ID = H.HRID and H.ActionID = 1
						end
						------Ended-----------

						------JobType------
						Begin
								Update  H
								SET     H.JobType = Isnull(Q.JobType,0)
								From    #HistoryData H
										Left JOIN (
													select  
													top 1 
															CASE WHEN RH.JobTypeID = 1 THEN 'Full time permanent position' 
																   WHEN RH.JobTypeID = 2 THEN IIF(ISNULL(SHD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
																   WHEN RH.JobTypeID = 3 THEN IIF(ISNULL(SHD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
																   WHEN RH.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
															  ELSE RH.Availability + CASE WHEN ISNULL(SHD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
																			ELSE IIF(SHD.SpecificMonth > 0, ' contract - ' + CAST(SHD.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END as JobType,
															H.HiringRequest_ID
													from	gen_SalesHiringRequest_Details_History H WITH(NOLOCK) 
															--inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
															inner join gen_SalesHiringRequest RH WITH(NOLOCK) ON RH.ID = H.HiringRequest_ID
															Inner JOIN gen_SalesHiringRequest_Details SHD ON SHD.HiringRequest_ID = RH.ID
													where   H.HiringRequest_ID = @HRID 
													Order By H.ID asc
										)Q ON Q.HiringRequest_ID = H.HRID and H.ActionID = 1
						end
						------Ended-----------

						------JobLocation------
						Begin
							Update  H
							SET     H.Location = Isnull(Q.JobLocation,'')
							From    #HistoryData H
									Left JOIN (
												select  top 1 Isnull(DP.JobLocation,'') JobLocation, H.HiringRequest_ID
												from	gen_SalesHiringRequest_History H WITH(NOLOCK) 
														--inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
														Inner JOIN gen_Direct_Placement DP ON DP.HiringRequest_Id = H.HiringRequest_Id
												where   H.HiringRequest_ID = @HRID and Isnull(DP.JobLocation,'') <> ''
												Order By H.ID asc
									)Q ON Q.HiringRequest_ID = H.HRID and H.ActionID = 1
						end
						------Ended-----------

						------ShiftTime------
						Begin
							Update  H
							SET     H.ShiftTime = Isnull(Q.ShiftTime,'')  
							From    #HistoryData H
									Left JOIN (
												select  top 1 Isnull(H.TimeZone_FromTime,'') + ' To ' + Isnull(H.TimeZone_EndTime,'') ShiftTime, H.HiringRequest_ID
												from	gen_SalesHiringRequest_Details_History H WITH(NOLOCK) 
														--inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
												where   H.HiringRequest_ID = @HRID and Isnull(H.TimeZone_FromTime,'') <> '' and Isnull(H.TimeZone_EndTime,'') <> ''
												Order By H.ID asc
									)Q ON Q.HiringRequest_ID = H.HRID and H.ActionID = 1
						end
						------Ended-----------
				end

				Select  @ActionID = 1,@JobTitle	= Isnull(JobTitle,''),@MustHaveSkill = Isnull(MustHaveSkill,''),
						@Yoe= Isnull(yoe,0),@Budget = Isnull(Budget,''),@JobType = ISnull(JobType,''),@Location =Isnull(Location,''),
						@ShiftTime = Isnull(ShiftTime,'')  
				from    #HistoryData
				where   ActionID = 1
		End

		Begin  --- Updated Data
				Insert into #HistoryData(ActionID,HRID,JobTitle)
		select  HI.Action_ID, H.HiringRequest_ID,Isnull(H.RequestForTalent,'') RequestForTalent
		from	gen_SalesHiringRequest_History H WITH(NOLOCK) 
				inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID --and HI.ID = H.History_ID
		where   HI.Action_ID <> 1 and H.HiringRequest_ID = @HRID and Isnull(H.RequestForTalent,'') <> ''
		Group BY  HI.Action_ID, H.HiringRequest_ID,Isnull(H.RequestForTalent,'') 
		--Order By H.ID Desc

		

				IF Exists(select 1 from #HistoryData Where ActionID <> 1)
					BEGIN
					
								Declare	@New_ActionID		as int
								Declare	@New_JobTitle		as Nvarchar(100)
								Declare	@New_MustHaveSkill	as Nvarchar(Max)
								Declare	@New_Yoe			as int
								Declare	@New_Budget			as Nvarchar(100)
								Declare	@New_JobType		as Nvarchar(200)
								Declare	@New_Location		as Nvarchar(200)
								Declare	@New_ShiftTime		as Nvarchar(200)

								------MustHaveSkill------
								Begin
									Update  H
									SET     H.MustHaveSkill = MST.SkillName
									From    #HistoryData H
											Inner JOIN @MustSkillsTable MST ON MST.HiringRequestID = h.HRID
									Where   H.ActionID <> 1
								end
								----------Ended-----------

								------Yoe------
								Begin
									Update  H
									SET     H.Yoe = Isnull(Q.YearOfExp,0)
									From    #HistoryData H
											Left JOIN (
														select  top 1 Isnull(H.YearOfExp,0) YearOfExp, H.HiringRequest_ID
														from	gen_SalesHiringRequest_Details_History H WITH(NOLOCK) 
																inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
														where   HI.Action_ID <> 1 and H.HiringRequest_ID = @HRID and Isnull(H.YearOfExp,0) <> 0
														Order By H.ID Desc
											)Q ON Q.HiringRequest_ID = H.HRID  and H.ActionID <> 1
								end
								----------Ended-----------

								------Budget------
								Begin
									Update  H
									SET     H.Budget = Isnull(Q.Budget,0)
									From    #HistoryData H
											Left JOIN (
														select  top 1 Isnull(H.cost,0) Budget, H.HiringRequest_ID
														from	gen_SalesHiringRequest_Details_History H WITH(NOLOCK) 
																inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
														where   HI.Action_ID <> 1 and H.HiringRequest_ID = @HRID and Isnull(H.Cost,'') <> ''
														Order By H.ID Desc
											)Q ON Q.HiringRequest_ID = H.HRID and H.ActionID <> 1
								end
								----------Ended-----------

								------JobType------
								Begin
										Update  H
										SET     H.JobType = Isnull(Q.JobType,0)
										From    #HistoryData H
												Left JOIN (
															select  
															top 1 
																	CASE WHEN RH.JobTypeID = 1 THEN 'Full time permanent position' 
																		   WHEN RH.JobTypeID = 2 THEN IIF(ISNULL(SHD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
																		   WHEN RH.JobTypeID = 3 THEN IIF(ISNULL(SHD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
																		   WHEN RH.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(SHD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
																	  ELSE RH.Availability + CASE WHEN ISNULL(SHD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
																					ELSE IIF(SHD.SpecificMonth > 0, ' contract - ' + CAST(SHD.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END as JobType,
																	H.HiringRequest_ID
															from	gen_SalesHiringRequest_Details_History H WITH(NOLOCK) 
																	inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
																	inner join gen_SalesHiringRequest RH WITH(NOLOCK) ON RH.ID = H.HiringRequest_ID
																	Inner JOIN gen_SalesHiringRequest_Details SHD ON SHD.HiringRequest_ID = RH.ID
															where   HI.Action_ID <> 1 and H.HiringRequest_ID = @HRID 
															Order By H.ID Desc
												)Q ON Q.HiringRequest_ID = H.HRID  and H.ActionID <> 1
									end
								----------Ended-----------

								------JobLocation------
								Begin
									Update  H
									SET     H.Location = Isnull(Q.JobLocation,'')
									From    #HistoryData H
											Left JOIN (
														select  top 1 Isnull(DP.JobLocation,'') JobLocation, H.HiringRequest_ID
														from	gen_SalesHiringRequest_History H WITH(NOLOCK) 
																inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
																Inner JOIN gen_Direct_Placement DP ON DP.HiringRequest_Id = H.HiringRequest_Id
														where   HI.Action_ID <> 1 and H.HiringRequest_ID = @HRID and Isnull(DP.JobLocation,'') <> ''
														Order By H.ID Desc
											)Q ON Q.HiringRequest_ID = H.HRID  and H.ActionID <> 1
								end
								----------Ended-----------

								------ShiftTime------
								Begin
									Update  H
									SET     H.ShiftTime = Isnull(Q.ShiftTime,'')  
									From    #HistoryData H
											Left JOIN (
														select  top 1 Isnull(H.TimeZone_FromTime,'') + ' To ' + Isnull(H.TimeZone_EndTime,'') ShiftTime, H.HiringRequest_ID
														from	gen_SalesHiringRequest_Details_History H WITH(NOLOCK) 
																inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HiringRequest_ID 
														where   HI.Action_ID <> 1 and H.HiringRequest_ID = @HRID and Isnull(H.TimeZone_FromTime,'') <> '' and Isnull(H.TimeZone_EndTime,'') <> ''
														Order By H.ID Desc
											)Q ON Q.HiringRequest_ID = H.HRID  and H.ActionID <> 1
								end
								----------Ended-----------


								Select  @New_ActionID = ActionID,@New_JobTitle	= Isnull(JobTitle,''),@New_MustHaveSkill = Isnull(MustHaveSkill,''),
										@New_Yoe= Isnull(yoe,0),@New_Budget = Isnull(Budget,''),@New_JobType = ISnull(JobType,''),@New_Location =Isnull(Location,''),
										@New_ShiftTime = Isnull(ShiftTime,'')  
								from    #HistoryData
								where   ActionID <> 1

					END
		End
		

		Begin  --- Start Email Template Logic
						
				
				select  @CCEmailIDs = Isnull(CCEmailIds,'')
				from    gen_CC_EmailIDs WITH(NOLOCK) 

				select  @CCEmailName = Isnull(CCEmailNames,'')
				from    gen_CC_EmailIDs WITH(NOLOCK) 

				select	@HR_Number = HR_Number,
						@SalesPersonId = U.ID
						--@OpsPersonId = U1.ID
				from    gen_SalesHiringRequest H with(NOLOCK) 
						inner join gen_SalesHiringRequest_Details HD WITH(NOLOCK) ON HD.HiringRequest_ID = H.ID
						inner join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID
						--inner join usr_User U1 WITH(NOLOCK) ON U1.ID = H.AcceptedByID
						Inner join gen_Direct_Placement GDP WITH(NOLOCK) ON GDP.HiringRequest_Id = H.ID
				where   H.ID = @HRID and U.IsActive = 1 --and U1.IsActive = 1

				IF OBJECT_ID('tempdb..#EmailNotifications') is not null
					DROP TABLE #EmailNotifications

				CREATE TABLE #EmailNotifications
				(
					[subject]       NvarchaR(200),
					Body			 NvarchaR(MAX),
					ToEmailIds		 NvarchaR(200),
					ToEmailNames	 NvarchaR(200),
					CCEmailIds		  NvarchaR(MAX),
					CCEmailNames     NvarchaR(200)
				)
				

				If @HR_Number = ''
					BEGIN
						select	* from #EmailNotifications
						return
					END

				select  @Client = Isnull(C.FullName, Isnull(FirstName,'') + ' ' + Isnull(LastName,'')),
						@Company = CO.Company,
						@ToEmailID = Isnull(C.EmailID,''),
						@ToEmailName = Isnull(C.FullName, Isnull(FirstName,'') + ' ' + Isnull(LastName,''))						
				from    gen_Contact C WITH(NOLOCK) 
						inner join  gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
						inner join  gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
				Where   H.ID = @HRID
						
					

				
				;WITH EMP_CTESales AS
							(
								SELECT	top 1 userid, parentId, 0 AS levelpostion
								FROM	usr_UserHierarchy UH With(nolock)
								WHERE	exists (
													select	1 
													from	usr_User U With(Nolock)
													where	U.id = UH.UserID 
															and UH.UserID = Isnull(@POCID,UH.UserID)
															and U.IsActive = 1
												)
						
								UNION ALL
								SELECT	T.userid, T.parentId, levelpostion - 1 AS EmployeeLevel 
								FROM	usr_UserHierarchy AS T With(Nolock)
										INNER JOIN EMP_CTESales  AS C ON T.userID = C.parentId
							)
							SELECT  @Sales_Person =  stuff(( select ',' + ISNULL(U.FirstName,'') + ' ' + ISNULL(U.LastName,'') 
												from EMP_CTESales T 
												left join usr_User U With(Nolock) on T.UserID = U.ID  for xml path('')),1,1,''),
									@SalesPersonEmail = stuff(( select ',' + Isnull(U.EmailID,'')
												from EMP_CTESales T 
												left join usr_User U With(Nolock) on T.UserID = U.ID  for xml path('')),1,1,'')

				SET @CCEmailIDs =  Isnull(@SalesPersonEmail,'')
				SET @CCEmailName = Isnull(@Sales_Person,'')

				If @Environment = 'Live'
					SET  @ReactURl = 'https://client.uplers.com/'
				ELse IF @Environment = 'QA'
					SET  @ReactURl = 'http://3.82.177.154:85/'
				Else
					SET @ReactURl = 'Localhost:3000/'

				IF (@New_JobTitle <> @JobTitle and @New_MustHaveSkill <> @MustHaveSkill and 
					@New_Yoe <> @Yoe and @New_Budget <> @Budget and @New_JobType <> @JobType
						and @New_ShiftTime <> @ShiftTime and @New_Location <> @Location)
						Begin
							SET @SQLConditional = N'Here are the changes you made to the job posting while reposting:
													<br/>
													<br/>
													Job Title : ' + Isnull(@New_JobTitle,'') + '<br/>
													Must Have Skills Required: ' + Isnull(@New_MustHaveSkill,'') + '<br/>
													Experience Required: ' + Cast(Isnull(@New_Yoe,0) as Nvarchar(5)) + '<br/>
													Budget: ' + Isnull(@New_Budget,'') + '<br/>
													Job Type: ' + Isnull(@New_JobType,'') + '<br/>
													Location: ' + Isnull(@New_Location,'') + '<br/>
													Shifts: ' + Isnull(@New_ShiftTime,'') + '<br/>
													<br/>' 
						end

				IF @POCID > 0
					BEGIN
							SET  @SQLPOCConditional = N'If you need help or have questions, please reach out to our executive ' + @POCName + ' at ' + @POCEmail + '
														<br/>
														<br/>
														We look forward to supporting your hiring journey!
														<br/>
														<br/>
														Thank you for choosing Uplers for your recruiting needs. 
														<br/>
														<br/>
														Warm regards,
														<br/>
														<br/>
														' + Isnull(@POCName,'') + '<br/>
														' + Isnull(@POCDesignation,'') + '<br/>
														' + Isnull(@POCContactNo,'') + '<br/>
														Website : http://www.uplers.com <br/>
														' + Isnull(@POCEmail,'') + '<br/>'

					END
				ELSE
					BEGIN
							SET  @SQLPOCConditional = N'Need assistance or have questions? We''re just an email away.
														<br/>
														<br/>
														We look forward to supporting your hiring journey!
														<br/>
														<br/>
														Thank you for choosing Uplers for your recruiting needs. 
														<br/>
														<br/>
														Warm regards,
														<br/>
														<br/>
														Uplers
														<br/>' 

					END

				BEGIN
					SET @Subject = N'Congratulations! Your Job Post of ' + Isnull(@JobTitle,'') + ' is Up and Running, again on Uplers!'
					SET @SQL = N'Hello ' + Isnull(@Client,'') + ',
								<br/>
								<br/>
								Congratulations! Your job has been reposted on Uplers.
								<div style="width:100%">
								<br/>									
								<br/>
								Here are the brief details of your job posting:
								<br/>
								<br/>
								Job ID : ' + Isnull(@HR_Number,'') + '<br/>
								Job Title : ' + Isnull(@JobTitle,'') + '<br/>
								Must Have Skills Required: ' + Isnull(@MustHaveSkill,'') + '<br/>
								Experience Required: ' + Cast(Isnull(@Yoe,0) as Nvarchar(5))  + '<br/>
								Budget: ' + Isnull(@Budget,'') + '<br/>
								Job Type: ' + Isnull(@JobType,'') + '<br/>
								Location: ' + Isnull(@Location,'') + '<br/>
								Shifts: ' + Isnull(@ShiftTime,'') + '<br/>
								<br/>
								' + Isnull(@SQLConditional,'') + '
								<br/>
								<a style="color:#232323;font-style:normal;font-weight:700;text-transform:uppercase;border:0;background:#FFDA30;padding:0 20px;font-size:14px;display:inline-block;text-align:center;border-radius:27px;line-height:40px;text-decoration:none;" class="link" href="' + @ReactURl + 'myJobPosts" target="_blank">Review Job Post</a>
								<br/>
								<br/>
								' + Isnull(@SQLPOCConditional,'') + '
								<hr>
									We are committed to your privacy.
									You may unsubscribe from these communications at any time.
									For more information, check out our <a class="link" href="https://talent.uplers.com/privacy-policy/" target="_blank">Privacy Policy</a>.
								</div>'

					select	@Subject as [subject],@SQL as Body,@ToEmailID as ToEmailIds,@ToEmailName as ToEmailNames,
							@CCEmailIDs as CCEmailIds,@CCEmailName as CCEmailNames,@POCName as POCName,@POCEmail as POCEmail
				END

		end

END