USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_SalesHead_Users]    Script Date: 14-08-2024 17:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[Sproc_Get_SalesHead_Users]
AS
BEGIN
        SELECT Max(ID) AS ID, FullName from (
		SELECT  usr.FullName AS FullName , usr.ID  AS ID
		FROM	usr_User usr With(NOLOCK)
				INNER JOIN usr_UserType ut WITH(NOLOCK) ON usr.UserTypeID = ut.ID				
		WHERE	usr.UserTypeID  = 9  AND usr.IsActive = 1 AND usr.ID not in(398, 338,370,372)

		UNION ALL

		SELECT  usr.FullName AS FullName, usr.ID  AS ID
		FROM	usr_User usr With(NOLOCK)
				INNER JOIN usr_UserType ut WITH(NOLOCK) ON usr.UserTypeID = ut.ID				
		WHERE	usr.EmployeeID in ('UP1919','UP1831','UP0897')  AND usr.IsActive = 1 

		) AS FinalObj
		group by FullName

		ORDER BY FullName 
END