USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_GET_PostAcceptance_detail]    Script Date: 05-10-2023 15:19:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[Sproc_GET_PostAcceptance_detail]
	@ID         bigint = null
AS
BEGIN
          ---- For Time Zone
		 
		  Declare @HiringRequest_ID as bigint =0
		  Declare @HiringRequest_Detail_ID as bigint =0
		  Declare @Talent_ID as bigint =0
		  DECLARE @ContactID as bigint =0
		  Declare @CreatedByID as int =0

		  ----Update preferences again On Thank you page
		  Select top 1 @HiringRequest_ID=HiringRequest_ID ,@HiringRequest_Detail_ID=HiringRequest_Detail_ID, @Talent_ID=Talent_ID,@ContactID=ContactID,@CreatedByID= CreatedByID    from gen_ShortlistedTalents TSI WITH(NOLOCK) WHERE   TSI.ID = @ID
	

		  exec [dbo].[Sproc_Add_Confirm_Interview_Slot] @ShortListedID=0,@HiringRequest_ID=@HiringRequest_ID,@HiringRequest_Detail_ID=@HiringRequest_Detail_ID,@Talent_ID=@Talent_ID,@ContactID=@ContactID,@CreatedByID=@CreatedByID

		  ---------------------------Get data after updation

			  Select top 1 PAD.* into #TempPAD from gen_ShortlistedTalents TSI WITH(NOLOCK)								
								inner join gen_TalentSelected_PostAcceptanceDetails PAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND TSI.HiringRequest_ID = PAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = PAD.HiringRequest_Detail_ID AND TSI.Talent_ID = PAD.Talent_ID
				WHERE   TSI.ID = @ID order by isnull(PAD.IsTimeZoneMatch,0) desc
								
			
			   SELECT  TSI.ID,ISNULL(Client_ReadytoworkShift,'') Client_ReadytoworkShift,ISNULL(Talent_ReadytoworkShift,'') Talent_ReadytoworkShift,
						'' Client_Readytoworkhrs,'' Talent_Readytoworkhrs
						,'' Client_JoinWithin,'' Talent_JoinWithin,

						Isnull(IsConfirmed,0) IsConfirmed,Isnull(TR.TalentRole,'') TalentRole,
						cast(0 As bigint) Shortlisted_InterviewID,isnull(TSI.HiringRequest_Detail_ID,0) HiringRequest_Detail_ID, 
						isnull(TSI.HiringRequest_ID,0) HiringRequest_ID ,isnull(TSI.ContactID,0) ContactID
						,TSI.ID AS PrimaryKey
						,'gen_ShortlistedTalents' AS TableName
						,cast(isnull(PAD.IsTimeZoneMatch,0) as bit) AS OptionMatch
						,'' AS RecommendedMessage
						
				FROM	gen_ShortlistedTalents TSI WITH(NOLOCK)
						inner join gen_Talent T WITH(NOLOCK) ON T.ID = TSI.Talent_ID
						inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.Id = T.RoleID
						inner join #TempPAD PAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND TSI.HiringRequest_ID = PAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = PAD.HiringRequest_Detail_ID AND TSI.Talent_ID = PAD.Talent_ID
				
				WHERE   TSI.ID = @ID AND isnull(PAD.IsTimeZoneMatch,0) =1   -- Isnull(Talent_ReadytoworkShift,'') != ''

		union all

				SELECT  TSI.ID,ISNULL(Client_ReadytoworkShift,'') Client_ReadytoworkShift,isnull(Talent_TimeZonePreferences,'') Talent_ReadytoworkShift,
								'' Client_Readytoworkhrs,'' Talent_Readytoworkhrs
								,'' Client_JoinWithin,	'' Talent_JoinWithin,

								Isnull(IsConfirmed,0) IsConfirmed,Isnull(TR.TalentRole,'') TalentRole,
								cast(0 As bigint) Shortlisted_InterviewID,isnull(TSI.HiringRequest_Detail_ID,0) HiringRequest_Detail_ID, 
								isnull(TSI.HiringRequest_ID,0) HiringRequest_ID ,isnull(TSI.ContactID,0) ContactID
								,NotMatchedPAD.ID AS PrimaryKey
								,'gen_TalentSelected_PostAcceptance_NotMatchDetails' AS TableName
								,cast(isnull(PAD.IsTimeZoneMatch,0)  as bit) AS OptionMatch
								,isnull(RecommendedMessage,'') AS RecommendedMessage
								
						FROM	gen_ShortlistedTalents TSI WITH(NOLOCK)
								inner join gen_Talent T WITH(NOLOCK) ON T.ID = TSI.Talent_ID
								inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.Id = T.RoleID
								inner join #TempPAD PAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND TSI.HiringRequest_ID = PAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = PAD.HiringRequest_Detail_ID AND TSI.Talent_ID = PAD.Talent_ID
								inner join gen_TalentSelected_PostAcceptance_NotMatchDetails NotMatchedPAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND  TSI.HiringRequest_ID = NotMatchedPAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = NotMatchedPAD.HiringRequest_Detail_ID AND TSI.Talent_ID = NotMatchedPAD.Talent_ID
				
						WHERE   TSI.ID = @ID  AND isnull(IsTimeZoneMatch,0)=0 AND isnull(Talent_TimeZonePreferences,'') != '' ---AND Isnull(Talent_ReadytoworkShift,'') = ''
		
		Drop table #TempPAD

/*
union all
		---- For Availability
			SELECT  TSI.ID, '' Client_ReadytoworkShift,'' Talent_ReadytoworkShift,
							Isnull(Client_Readytoworkhrs,'') Client_Readytoworkhrs,Isnull(Talent_Readytoworkhrs,'') Talent_Readytoworkhrs
							,'' Client_JoinWithin,'' Talent_JoinWithin,

							Isnull(IsConfirmed,0) IsConfirmed,Isnull(TR.TalentRole,'') TalentRole,
							isnull(Shortlisted_InterviewID,0) Shortlisted_InterviewID,isnull(TSI.HiringRequest_Detail_ID,0) HiringRequest_Detail_ID, 
							isnull(TSI.HiringRequest_ID,0) HiringRequest_ID ,isnull(TSI.ContactID,0) ContactID
							,TSI.ID AS PrimaryKey
							,'gen_ShortlistedTalents' AS TableName
							,cast(isnull(PAD.IsAvailabilityMatch,0)  as bit) AS OptionMatch
							,'' AS RecommendedMessage
							
					FROM	gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK)
							inner join gen_Talent T WITH(NOLOCK) ON T.ID = TSI.Talent_ID
							inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.Id = T.RoleID
							inner join gen_TalentSelected_PostAcceptanceDetails PAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND TSI.HiringRequest_ID = PAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = PAD.HiringRequest_Detail_ID AND TSI.Talent_ID = PAD.Talent_ID
				
					WHERE   TSI.ID = @ID AND Isnull(Talent_Readytoworkhrs,'') != ''

			union all

			SELECT  TSI.ID,'' Client_ReadytoworkShift,'' Talent_ReadytoworkShift,
							Isnull(Client_Readytoworkhrs,'') Client_Readytoworkhrs,isnull(NotMatchedPAD.Talent_Availability,'') Talent_Readytoworkhrs
							,'' Client_JoinWithin,'' Talent_JoinWithin,

							Isnull(IsConfirmed,0) IsConfirmed,Isnull(TR.TalentRole,'') TalentRole,
							isnull(Shortlisted_InterviewID,0) Shortlisted_InterviewID,isnull(TSI.HiringRequest_Detail_ID,0) HiringRequest_Detail_ID, 
							isnull(TSI.HiringRequest_ID,0) HiringRequest_ID ,isnull(TSI.ContactID,0) ContactID
							,NotMatchedPAD.ID AS PrimaryKey
							,'gen_TalentSelected_PostAcceptance_NotMatchDetails' AS TableName
							,cast(isnull(PAD.IsAvailabilityMatch,0)  as bit) AS OptionMatch
							,isnull(RecommendedMessage,'') AS RecommendedMessage
							
					FROM	gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK)
							inner join gen_Talent T WITH(NOLOCK) ON T.ID = TSI.Talent_ID
							inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.Id = T.RoleID
							inner join gen_TalentSelected_PostAcceptanceDetails PAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND TSI.HiringRequest_ID = PAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = PAD.HiringRequest_Detail_ID AND TSI.Talent_ID = PAD.Talent_ID
							inner join gen_TalentSelected_PostAcceptance_NotMatchDetails NotMatchedPAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND  TSI.HiringRequest_ID = NotMatchedPAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = NotMatchedPAD.HiringRequest_Detail_ID AND TSI.Talent_ID = NotMatchedPAD.Talent_ID
				
					WHERE   TSI.ID = @ID AND Isnull(Talent_Readytoworkhrs,'') = '' AND isnull(IsAvailabilityMatch,0)=0 AND isnull(NotMatchedPAD.Talent_Availability,'') != ''

union all
		---- For HowSoon
			SELECT  TSI.ID,'' Client_ReadytoworkShift,'' Talent_ReadytoworkShift,
							'' Client_Readytoworkhrs,'' Talent_Readytoworkhrs
							,Isnull(Client_JoinWithin,'') Client_JoinWithin,
							Isnull(Talent_JoinWithin,'') Talent_JoinWithin,

							Isnull(IsConfirmed,0) IsConfirmed,Isnull(TR.TalentRole,'') TalentRole,
							isnull(Shortlisted_InterviewID,0) Shortlisted_InterviewID,isnull(TSI.HiringRequest_Detail_ID,0) HiringRequest_Detail_ID, 
							isnull(TSI.HiringRequest_ID,0) HiringRequest_ID ,isnull(TSI.ContactID,0) ContactID
							,TSI.ID AS PrimaryKey
							,'gen_TalentSelected_InterviewDetails' AS TableName
							,cast(isnull(PAD.IsJoinningMatch,0)  as bit) AS OptionMatch
							,'' AS RecommendedMessage
							
					FROM	gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK)
							inner join gen_Talent T WITH(NOLOCK) ON T.ID = TSI.Talent_ID
							inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.Id = T.RoleID
							inner join gen_TalentSelected_PostAcceptanceDetails PAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND TSI.HiringRequest_ID = PAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = PAD.HiringRequest_Detail_ID AND TSI.Talent_ID = PAD.Talent_ID
				
					WHERE   TSI.ID = @ID AND Isnull(Talent_JoinWithin,'') != ''

			union all

			SELECT  TSI.ID,'' Client_ReadytoworkShift,'' Talent_ReadytoworkShift,
							'' Client_Readytoworkhrs,'' Talent_Readytoworkhrs
							,Isnull(Client_JoinWithin,'') Client_JoinWithin,
							isnull(NotMatchedPAD.Talent_HowSoon,'') Talent_JoinWithin,

							Isnull(IsConfirmed,0) IsConfirmed,Isnull(TR.TalentRole,'') TalentRole,
							isnull(Shortlisted_InterviewID,0) Shortlisted_InterviewID,isnull(TSI.HiringRequest_Detail_ID,0) HiringRequest_Detail_ID, 
							isnull(TSI.HiringRequest_ID,0) HiringRequest_ID ,isnull(TSI.ContactID,0) ContactID
							,NotMatchedPAD.ID AS PrimaryKey
							,'gen_TalentSelected_PostAcceptance_NotMatchDetails' AS TableName
							,cast(isnull(PAD.IsJoinningMatch,0)  as bit) AS OptionMatch
							,isnull(RecommendedMessage,'') AS RecommendedMessage
							
					FROM	gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK)
							inner join gen_Talent T WITH(NOLOCK) ON T.ID = TSI.Talent_ID
							inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.Id = T.RoleID
							inner join gen_TalentSelected_PostAcceptanceDetails PAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND TSI.HiringRequest_ID = PAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = PAD.HiringRequest_Detail_ID AND TSI.Talent_ID = PAD.Talent_ID
							inner join gen_TalentSelected_PostAcceptance_NotMatchDetails NotMatchedPAD WITH(NOLOCK) ON TSI.ID = PAD.Talent_SelectedInterview_AcceptanceID AND  TSI.HiringRequest_ID = NotMatchedPAD.HiringRequest_ID AND TSI.HiringRequest_Detail_ID = NotMatchedPAD.HiringRequest_Detail_ID AND TSI.Talent_ID = NotMatchedPAD.Talent_ID
				
					WHERE   TSI.ID = @ID AND Isnull(Talent_JoinWithin,'') = '' AND isnull(IsJoinningMatch,0)=0 AND isnull(NotMatchedPAD.Talent_HowSoon,'') != ''
		
	
		
		--SELECT  TSI.ID,ISNULL(Client_ReadytoworkShift,'') Client_ReadytoworkShift,ISNULL(Talent_ReadytoworkShift,'') Talent_ReadytoworkShift,
		--		Isnull(Client_Readytoworkhrs,'') Client_Readytoworkhrs,Isnull(Talent_Readytoworkhrs,'') Talent_Readytoworkhrs,Isnull(Client_JoinWithin,'') Client_JoinWithin,
		--		Isnull(Talent_JoinWithin,'') Talent_JoinWithin,
		--		Isnull(IsConfirmed,0) IsConfirmed,Isnull(TR.TalentRole,'') TalentRole,
		--		isnull(Shortlisted_InterviewID,0) Shortlisted_InterviewID,isnull(TSI.HiringRequest_Detail_ID,0) HiringRequest_Detail_ID, 
		--		isnull(TSI.HiringRequest_ID,0) HiringRequest_ID ,isnull(TSI.ContactID,0) ContactID
		--FROM	gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK)
		--		inner join gen_Talent T WITH(NOLOCK) ON T.ID = TSI.Talent_ID
		--		inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.Id = T.RoleID
		--WHERE   TSI.ID = @ID


		*/	
	
END
