CREATE PROCEDURE [dbo].[Sproc_Get_TrackingLead_Details_for_ClientSource]  
  @ContactID   bigint = 0  
AS  
BEGIN  
     
   SELECT  Actions = 'Signed Up',  
     [Source] = Isnull(TL.UTM_Source,''),  
     [Medium] = Isnull(TL.UTM_Medium,''),  
     [Campaign] = Isnull(TL.UTM_Campaign,''),  
     [Content] = Isnull(TL.UTM_Content,''),  
     [Term] = ISNULL(TL.UTM_Term,''),  
     [Placement] = ISNULL(TL.UTM_Placement,''),  
     [Ref_URL] = ISNULL(TL.ref_url,'')  
   FROM gen_TrackingLead_ClientPortal TL WITH(NOLOCK)  
     inner join gen_Contact C WITH(NOLOCK) ON C.ID = TL.ContactID       
      WHERE   TL.ContactID = @ContactID and IsFinalSignUP = 1  
  
   UNION ALL  
      
   SELECT  Actions = 'Job Posted',  
     [Source] = Isnull(TL.UTM_Source,''),  
     [Medium] = Isnull(TL.UTM_Medium,''),  
     [Campaign] = Isnull(TL.UTM_Campaign,''),  
     [Content] = Isnull(TL.UTM_Content,''),  
     [Term] = ISNULL(TL.UTM_Term,''),  
     [Placement] = ISNULL(TL.UTM_Placement,''),  
     [Ref_URL] = ISNULL(TL.ref_url,'')  
   FROM gen_TrackingLead_ClientPortal TL WITH(NOLOCK)  
     inner join gen_Contact C WITH(NOLOCK) ON C.ID = TL.ContactID  
     inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = TL.HRID and H.ContactID = C.ID  
      WHERE   TL.ContactID = @ContactID and IsJobPost = 1  
  
END