ALTER PROCEDURE [dbo].[sproc_UpdateTR]
	@HiringRequestID	BIGINT			= NULL,
	@CreatedByID		BIGINT			= NULL,
	@TRCount			decimal			= NULL,--No. Of Talent
	@Reason				NVARCHAR(MAX)	= NULL,
	@AdditionalRemark	NVARCHAR(MAX)	= NULL,
	@ActionDoneBy		INT				= NULL --Action Done By 1 = Admin, 2 = ATS, 3 = UTS (new)

AS

BEGIN

	/*
		Created By	:	Siddharth Jain (Dtd: 11/May/2023)
		Description	:	This SP will Increase/Decrease TR Count of an HR. Based on that, it will Update HR Status and it's Reason for Inc./Dec. of TR.
						Also, as output, it will send status ("Success"/"Error with Message")
	*/

	DECLARE @Status int = 0;
	DECLARE @Message NVARCHAR(400) = '';
	DECLARE @OriginalTR decimal = 0;
	DECLARE @HiredTalentCount decimal = 0;
	DECLARE @CalculatedTR decimal = 0;
	DECLARE @TalentInHRCount decimal = 0;
	Declare @HR_Status as int = 0;
	Declare @Job_Status as int = 0; --added for new status changes
	Declare @UpdatedHRStatus as int = 0;
	Declare @UpdatedJobStatusID as int = 0; --added for new status changes
	DECLARE @HistoryID BIGINT = 0;
	DECLARE @TRUpdateTblID BIGINT = 0;
	DECLARE @New_TR int = 0;
	DECLARE @HR_RoleStatus INT =0

	IF OBJECT_ID('tempdb..#HistoryIDTbl') IS NOT NULL
		DROP TABLE #HistoryIDTbl;

	CREATE TABLE #HistoryIDTbl(Id bigint);

	Declare @SQL as Nvarchar(MAX) = ''
	--Declare @SQL1 as Nvarchar(MAX) = ''

	IF EXISTS (select 1 from gen_SalesHiringRequest with(nolock) where ID = @HiringRequestID)
	BEGIN
		SELECT 
		@OriginalTR = ISNULL(H.NoOfTalents,0),
		@HR_Status = Isnull(Status_ID,0), 
		@Job_Status = ISNULL(JobStatusID, 0) --added for new status changes
		from gen_SalesHiringRequest H with(nolock) where H.ID = @HiringRequestID;
		
		
		SELECT @HiredTalentCount = COUNT(1) 
		FROM	gen_OnBoardTalents OBT with(nolock) 
		WHERE	OBT.HiringRequest_ID = @HiringRequestID  AND OBT.EngagemenID not like '%_RN%'
		and Exists(select 1 from gen_ContactTalentPriority CTP WITH(NOLOCK) Where CTP.HiringRequestID = OBT.HiringRequest_ID and CTP.TalentID = OBT.Talent_ID 
										and CTP.TalentStatusID_BasedOnHR in (4,10) AND CTP.HiringRequestID = @HiringRequestID)
		

		SELECT @TalentInHRCount = COUNT(1) from gen_ContactTalentPriority CTP with(nolock) where CTP.HiringRequestID = @HiringRequestID and CTP.TalentStatusID_BasedOnHR not in( 4,10);
		
		print '@TRCount : ' + cast(@TRCount as nvarchar(50))
		print '@OriginalTR : ' + cast(@OriginalTR as nvarchar(50))
		print '@HiredTalentCount : ' + cast(@HiredTalentCount as nvarchar(50))
		print '@TalentInHRCount : ' + cast(@TalentInHRCount as nvarchar(50))

		IF @OriginalTR <> 0
		BEGIN
			--TR Update Details Table Insert Code & NoOfTalents Update in HR Table Code with Reason/Comments & History Insert Code
			begin
				--case when TR is Increased
				IF @OriginalTR < @TRCount
				BEGIN
				    print 'case when TR is Increased'

					SET @CalculatedTR = @TRCount - @OriginalTR;

					print '@CalculatedTR : ' + cast(@CalculatedTR as nvarchar(50))

					INSERT INTO gen_SalesHR_TRUpdated_Details(HiringRequestID, OriginalTR, UpdatedTR, IsIncreased, IsDecreased, Reason, AdditionalRemark, IsTRCancel, IsTRLost, CreatedByID, CreatedByDateTime,Previous_HRStatus_Id)
					SELECT @HiringRequestID, @OriginalTR, @CalculatedTR, 1, 0, @Reason, @AdditionalRemark, 0, 0, @CreatedByID, GETDATE(),@HR_Status;					

					SET @TRUpdateTblID = SCOPE_IDENTITY();

					SET @UpdatedHRStatus = CASE WHEN @HR_Status = 3 THEN 2 ELSE @HR_Status END -- won to in process
					--SET @UpdatedJobStatusID = CASE WHEN @Job_Status = 2 THEN 1 ELSE @Job_Status END -- (closed to active)  new status changes

					--Payal(16-04-2024) Fetch the Job Status ID and update the gen_SalesHiringRequest table.
					BEGIN 		
							SELECT top 1
							@UpdatedJobStatusID = HS.JobStatus_ID
							FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = HS.JobStatus_ID
							WHERE HS.ID = @UpdatedHRStatus  
					END		

					--In case HR Status is Completed and TR is increased, mark HR Status as In-Process.
					UPDATE	gen_SalesHiringRequest 
					SET		NoofTalents = @TRCount, 
							Status_ID = @UpdatedHRStatus,
							JobStatusID = @UpdatedJobStatusID, --new status changes	
							LastModifiedByID = @CreatedByID,
							LastModifiedDatetime = GETDATE(),
							TR_Accepted = @TRCount 
					WHERE	ID = @HiringRequestID;

					--Payal(16-04-2024) Fetch the role status and update the gen_SalesHiringRequest_Details table.
					BEGIN 		
							SELECT top 1
							@HR_RoleStatus = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
							FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID
				
							WHERE HS.ID = @UpdatedHRStatus  
					END		


					UPDATE	HD SET		
					HD.RoleStatus_ID = case when Isnull(@HR_RoleStatus,0) = 0 then 1 else @HR_RoleStatus end				
					FROM	gen_SalesHiringRequest_Details HD WITH (UPDLOCK)												
					WHERE	HD.HiringRequest_ID = @HiringRequestID;
					

					set @SQL = 'exec sproc_HiringRequest_History_Insert ''TR_Increase'', ' + cast(@HiringRequestID as Nvarchar(10)) + ', 0, 0, ' + cast(@CreatedByID as Nvarchar(10)) + ', 0, 0, '''', 0, 0, 0, 0, 0,' + cast(@ActionDoneBy as Nvarchar(10))

					SET @Status = 1;
					SET @Message = 'Success';

				END
			
				--case when TR is Decreased
				IF @OriginalTR > @TRCount
				BEGIN

				   print 'case when TR is Decreased'
				   print '@OriginalTR > @TRCount'

					SET @CalculatedTR = @OriginalTR - (@HiredTalentCount+  @TRCount);
					SET @New_TR  = @OriginalTR - @HiredTalentCount;

					print '@CalculatedTR : ' + cast(@CalculatedTR as nvarchar(50))
					print '@New_TR : ' + cast(@New_TR as nvarchar(50))
					--case when Hired Talent Count is more than or equal to decreased TR Count.
					IF @HiredTalentCount <= @TRCount AND @TRCount <> 0 AND @CalculatedTR >0
					BEGIN			 

					    print 'IF @HiredTalentCount <= @TRCount AND @TRCount <> 0 AND @CalculatedTR >0'

						SET @UpdatedHRStatus = (CASE 
													WHEN @HiredTalentCount = @TRCount AND @TRCount > 0 THEN 3							--HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount = @CalculatedTR AND @TRCount = 0 THEN 3						--HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount  = 0 AND @TRCount = 0 AND @TalentInHRCount > 0 THEN 6		-- HR Lost Case 2,6
													WHEN @HiredTalentCount  = 0 AND @TRCount = 0 AND @TalentInHRCount = 0 THEN 4		-- HR Cancelled Case 3,4
													WHEN @HiredTalentCount  = 0 AND @TRCount > 0 AND @TalentInHRCount = 0 THEN 1		-- HR Open
													WHEN @HiredTalentCount >= 0 AND @TRCount > 0 AND @TalentInHRCount > 0 THEN 2		-- HR InProcess
													ELSE @HR_Status 
												END)

						SET @UpdatedJobStatusID = (CASE 
													WHEN @HiredTalentCount = @TRCount AND @TRCount > 0 THEN 2							--(Closed+won) HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount = @CalculatedTR AND @TRCount = 0 THEN 2						--(Closed+won) HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount  = 0 AND @TRCount = 0 AND @TalentInHRCount > 0 THEN 2		--(Closed+lost) HR Lost Case 2,6
													WHEN @HiredTalentCount  = 0 AND @TRCount = 0 AND @TalentInHRCount = 0 THEN 2		--(Closed+Cancelled) HR Cancelled Case 3,4
													WHEN @HiredTalentCount  = 0 AND @TRCount > 0 AND @TalentInHRCount = 0 THEN 1		--(Active+open)HR Open
													WHEN @HiredTalentCount >= 0 AND @TRCount > 0 AND @TalentInHRCount > 0 THEN 1		--(Active) HR InProcess
													ELSE @Job_Status 
												END)

						INSERT INTO gen_SalesHR_TRUpdated_Details(HiringRequestID, OriginalTR, UpdatedTR, IsIncreased, IsDecreased, Reason, AdditionalRemark, IsTRCancel, IsTRLost, CreatedByID, CreatedByDateTime,Previous_HRStatus_Id)
						SELECT @HiringRequestID, @OriginalTR, @CalculatedTR, 0, 1, @Reason, @AdditionalRemark, CASE WHEN @TalentInHRCount > 0 THEN 0 ELSE 1 END, CASE WHEN @TalentInHRCount > 0 THEN 1 ELSE 0 END, @CreatedByID, GETDATE(),@HR_Status

						SET @TRUpdateTblID = SCOPE_IDENTITY();

						--Payal(16-04-2024) Fetch the Job Status ID and update the gen_SalesHiringRequest table.
						BEGIN 		
								SELECT top 1
								@UpdatedJobStatusID = HS.JobStatus_ID
								FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = HS.JobStatus_ID
								WHERE HS.ID = @UpdatedHRStatus  
						END		

						--In case decreased 
						UPDATE	gen_SalesHiringRequest 
						SET		--NoofTalents = @OriginalTR - @CalculatedTR, 
								LossRemark = @Reason,
								Status_ID = @UpdatedHRStatus,
								JobStatusID = @UpdatedJobStatusID, --new status changes							
								LastModifiedByID = @CreatedByID,
								LastModifiedDatetime = GETDATE(),
								TR_Accepted = @CalculatedTR 
						WHERE	ID = @HiringRequestID;


						--Payal(16-04-2024) Fetch the role status and update the gen_SalesHiringRequest_Details table.
						BEGIN 		
								SELECT top 1
								@HR_RoleStatus = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
								FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID
				
								WHERE HS.ID = @UpdatedHRStatus  
						END		

						UPDATE	HD
						SET		--HD.NoofEmployee = @OriginalTR - @CalculatedTR,
								HD.RoleStatus_ID = case when Isnull(@HR_RoleStatus,0) = 0 then 1 else @HR_RoleStatus end
						FROM	gen_SalesHiringRequest_Details HD WITH(UPDLOCK)								
						WHERE	HD.HiringRequest_ID = @HiringRequestID;


						set @SQL = 'exec sproc_HiringRequest_History_Insert ''TR_Decrease'', ' + cast(@HiringRequestID as Nvarchar(10)) + ', 0, 0, ' + cast(@CreatedByID as Nvarchar(10)) + ', 0, 0, '''', 0, 0, 0, 0, 0,' + cast(@ActionDoneBy as Nvarchar(10))


						SET @Status = 1;
						SET @Message = 'Success';

					END
					ELSE IF (@TRCount= 0 OR @CalculatedTR >0)
					BEGIN	
					
					    print 'IF @TRCount= 0 OR @CalculatedTR >0 ' 

						SET @UpdatedHRStatus = (CASE 
													WHEN @HiredTalentCount = @TRCount AND @TRCount > 0 THEN 3							--HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount  = @New_TR AND @TRCount = 0 THEN 3						    --HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount  = @OriginalTR AND @TRCount = 0 THEN 3						--HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount  = 0 AND @TRCount = 0 AND @TalentInHRCount > 0 THEN 6		-- HR Lost Case 2,6
													WHEN @HiredTalentCount  = 0 AND @TRCount = 0 AND @TalentInHRCount = 0 THEN 4		-- HR Cancelled Case 3,4
													WHEN @HiredTalentCount  = 0 AND @TRCount > 0 AND @TalentInHRCount = 0 THEN 1		-- HR Open
													WHEN @HiredTalentCount >= 0 AND @TRCount > 0 AND @TalentInHRCount > 0 THEN 2		-- HR InProcess
													ELSE @HR_Status 
												END)

						SET @UpdatedJobStatusID = (CASE 
													WHEN @HiredTalentCount  = @TRCount AND @TRCount > 0 THEN 2							--(Closed+won) HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount  = @CalculatedTR AND @TRCount = 0 THEN 2						--(Closed+won) HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount  = @OriginalTR AND @TRCount = 0 THEN 3						--(Closed+won) HR Closed/Completed Case 1,5
													WHEN @HiredTalentCount  = 0 AND @TRCount = 0 AND @TalentInHRCount > 0 THEN 2		--(Closed+lost) HR Lost Case 2,6
													WHEN @HiredTalentCount  = 0 AND @TRCount = 0 AND @TalentInHRCount = 0 THEN 2		--(Closed+Cancelled) HR Cancelled Case 3,4
													WHEN @HiredTalentCount  = 0 AND @TRCount > 0 AND @TalentInHRCount = 0 THEN 1		--(Active+open)HR Open
													WHEN @HiredTalentCount >= 0 AND @TRCount > 0 AND @TalentInHRCount > 0 THEN 1		--(Active) HR InProcess
													ELSE @Job_Status 
												END)

						INSERT INTO gen_SalesHR_TRUpdated_Details(HiringRequestID, OriginalTR, UpdatedTR, IsIncreased, IsDecreased, Reason, AdditionalRemark, IsTRCancel, IsTRLost, CreatedByID, CreatedByDateTime,Previous_HRStatus_Id)
						SELECT @HiringRequestID, @OriginalTR, @CalculatedTR, 0, 1, @Reason, @AdditionalRemark, CASE WHEN @TalentInHRCount > 0 THEN 0 ELSE 1 END, CASE WHEN @TalentInHRCount > 0 THEN 1 ELSE 0 END, @CreatedByID, GETDATE(),@HR_Status

						SET @TRUpdateTblID = SCOPE_IDENTITY();

						--Payal(16-04-2024) Fetch the Job Status ID and update the gen_SalesHiringRequest table.
						BEGIN 		
								SELECT top 1
								@UpdatedJobStatusID = HS.JobStatus_ID
								FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = HS.JobStatus_ID
								WHERE HS.ID = @UpdatedHRStatus  
						END		

						--In case decreased 
						UPDATE	gen_SalesHiringRequest 
						SET		
								--NoofTalents = @New_TR, 
						        --TR_Accepted = @New_TR,
								LossRemark = @Reason,
								Status_ID = @UpdatedHRStatus,
								JobStatusID = @UpdatedJobStatusID, --New status changes								
								LastModifiedByID = @CreatedByID,
								LastModifiedDatetime = GETDATE()
								
						WHERE	ID = @HiringRequestID;

						--Payal(16-04-2024) Fetch the role status and update the gen_SalesHiringRequest_Details table.
						BEGIN 		
								SELECT top 1
								@HR_RoleStatus = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
								FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID
				
								WHERE HS.ID = @UpdatedHRStatus  
						END		


						UPDATE	HD
						SET		
								--HD.NoofEmployee = @New_TR,
								HD.RoleStatus_ID = case when Isnull(@HR_RoleStatus,0) = 0 then 1 else @HR_RoleStatus end
						FROM	gen_SalesHiringRequest_Details HD with(nolock)								 
						WHERE	HD.HiringRequest_ID = @HiringRequestID;


						set @SQL = 'exec sproc_HiringRequest_History_Insert ''TR_Decrease'', ' + cast(@HiringRequestID as Nvarchar(10)) + ', 0, 0, ' + cast(@CreatedByID as Nvarchar(10)) + ', 0, 0, '''', 0, 0, 0, 0, 0,' + cast(@ActionDoneBy as Nvarchar(10))

						
						SET @Status = 1;
						SET @Message = 'Success';

					END
					ELSE
					BEGIN
					    print 'ELSE' 

					  -- pAYAL (27-06-2023) -- Add new condition for this case 
						IF(@HiredTalentCount =  @OriginalTR )
						BEGIN
							PRINT '@HiredTalentCount =  @OriginalTR '

							--Payal(16-04-2024) Fetch the Job Status ID and update the gen_SalesHiringRequest table.
							BEGIN 		
									SELECT top 1
									@UpdatedJobStatusID = HS.JobStatus_ID
									FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = HS.JobStatus_ID
									WHERE HS.ID = 3  
							END		

							UPDATE	gen_SalesHiringRequest 
							SET		
									Status_ID =  3,
									JobStatusID = @UpdatedJobStatusID, --New status changes						
									LastModifiedByID = @CreatedByID,
									LastModifiedDatetime = GETDATE()
							WHERE	ID = @HiringRequestID;

							UPDATE	gen_SalesHiringRequest_Details
							SET		RoleStatus_ID =  6
							WHERE	HiringRequest_ID = @HiringRequestID;

						END
					
						SET @Status = 0;
						SET @Message = 'TR count cannot be reduced below the Hired talent count.'
					END
				END
			end

			BEGIN -- Payal(12-01-24) Common code to update Talent status as Auto cancel with thie History + Interview Status update
						print 'Payal(12-01-24) Common code to update Talent status as Auto cancel with thie History + Interview Status update'
				        Declare @HRStatus as int =0
						SELECT  @HRStatus = Status_ID from gen_SalesHiringRequest with(nolock) where ID = @HiringRequestID

				         --In case of TR Count decreased to zero, update Talent Status to Cancelled (37E and 37F in Discussions Sheet)
						--Mark Interview Status as Cancelled when TR Count reduced to zero.
						IF (@HRStatus = 3 OR @HRStatus = 6)
						BEGIN
					        print '@HRStatus : ' + cast(@HRStatus as nvarchar(10))

							--comment by himani for this jira : UTS-7384
							--update	TalentPr 
							--Set		TalentPr.TalentStatusID_BasedOnHR = 5,
							--		TalentPr.RejectReasonID = -1,
							--		TalentPr.OtherRejectReason = 'Talent Auto Cancelled because of TR Reduced to 0.'
							--From	gen_ContactTalentPriority TalentPr
																
							--where	TalentPr.TalentStatusID_BasedOnHR not in (4,5,7,8,10) 
							--		and TalentPr.HiringRequestID = @HiringRequestID;
						
							Select	TalentPr.HiringRequestID,TalentPr.TalentID,TalentPr.ID as ContactTalentPriority_ID,H.SalesUserID as SalesUserID,TalentPr.TalentStatusID_BasedOnHR as TalentStatusID_BasedOnHR
							into	#TempContactTalentPriority1  
							From	gen_ContactTalentPriority TalentPr with(nolock)	
									inner join gen_SalesHiringRequest H  with(nolock) ON H.ID = TalentPr.HiringRequestID
									inner join prg_HiringRequestStatus HS  with(nolock) ON HS.ID = H.Status_ID
							where	TalentPr.TalentStatusID_BasedOnHR not in (4,5,7,8,10) 
									and TalentPr.HiringRequestID = @HiringRequestID;

							--comment by himani for this jira : UTS-7384
							----insert history for Talent_Auto_Cancel Action
							--Insert into gen_History(Action_ID,HiringRequest_ID,Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage,History_From,CreatedByID,
							--						CreatedByDatetime,ModifiedByID,ModifiedByDatetime,SLA_DueDate,IsManagedByClient,IsManagedByTalent,IsActive,SalesUserID,TalentStatusID_BasedOnHR,AppActionDoneBy)
							--Select  81,HiringRequestID,TalentID,ContactTalentPriority_ID,0,0,0,0,0,0,0,@CreatedByID,GETDATE(),0,null,null,0,0,0,SalesUserID,TalentStatusID_BasedOnHR,1
							--from    #TempContactTalentPriority1;
				
							update	IntM 
							SET		IntM.InterviewStatus_ID = 3
							from	gen_InterviewSlotsMaster IntM 
									inner join #TempContactTalentPriority1 T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	IntM.InterviewStatus_ID not in( 3 ,7)

							update	SIntM 
							SET		SIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_ShortlistedTalent_InterviewDetails SIntM  ON IntM.ID = SIntM.InterviewMaster_ID
									inner join #TempContactTalentPriority1 T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	IntM.InterviewStatus_ID not in( 3 ,7)

							update	SelectedIntM 
							SET		SelectedIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_TalentSelected_InterviewDetails SelectedIntM ON IntM.ID = SelectedIntM.InterviewMaster_ID
									inner join #TempContactTalentPriority1 T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	IntM.InterviewStatus_ID not in( 3 ,7)

							drop table #TempContactTalentPriority1;
					END


			END

			BEGIN ---Payal (06-11-23) Remove HR from priority for Completed, Lost & Cancel HR

			    Declare @HR_SalesUserID as int =0
				Declare @HR_StatusID as int =0
				Select @HR_SalesUserID =  SalesUserID,@HR_StatusID =  Status_ID  from gen_SalesHiringRequest with(nolock) where ID = @HiringRequestID

				if(@HR_StatusID <> 1 AND @HR_StatusID  <> 2)
				begin
					exec sproc_Insert_HiringRequest_Priority_Revise_Flow_WithoutReturn @LoggedInUserId= @CreatedByID, @SalesUserID = @HR_SalesUserID, @HiringRequestID= @HiringRequestID, @IsPriority = 0
				
				
					update SP SET IsPriority =0 from gen_SalesHiringRequest_Priority SP inner join gen_SalesHiringRequest H with(nolock) ON SP.HiringRequestID = H.ID
															where H.Status_ID in(3,	4,5,6)
															AND IsPriority =1 AND H.ID = @HiringRequestID
				end
			END
		END
		ELSE
		BEGIN
			SET @Status = 0;
			SET @Message = 'Hiring Request ID: ' + CAST(@HiringRequestID as nvarchar(10)) + ' has invalid number of TR.'
		END
	END
	ELSE
	BEGIN
		SET @Status = 0;
		SET @Message = 'Hiring Request ID: ' + CAST(@HiringRequestID as nvarchar(10)) + ' not found.'
	END

	SELECT @Status as [Status], @Message as [Message];

	INSERT INTO #HistoryIDTbl(Id)
		exec SP_ExecuteSql @SQL;
	
	SET @HistoryID = (select top 1 Id from #HistoryIDTbl);
	UPDATE	gen_SalesHR_TRUpdated_Details 
		SET HistoryID = @HistoryID,
			IsTRCancel = IIF(@UpdatedHRStatus IN (1,4), 1, 0),  --Mark Lost when HR status in (Open,Cancelled)
			IsTRLost = IIF(@UpdatedHRStatus IN (2,6), 1, 0)		 --Mark Cancel when HR status in (In Process,lost)
		
	where ID = @TRUpdateTblID;

	DROP TABLE #HistoryIDTbl;

	print @SQL
	

END