ALTER PROCEDURE [dbo].[sproc_Contact_History_Insert_ClientPortal]
 @Action						nvarchar(250) = null,
 @ContactID						bigint = 0,
 @HRID							bigint = 0,
 @TalentID						bigint = 0,
 @Talent_StatusID				int = 0,
 @location						Nvarchar(200) = null,
 @Device						Nvarchar(200) = null,
 @CTPID							bigint = 0,
 @IPAddress						Nvarchar(100) = null,
 @Browser						Nvarchar(MAX) = null,
 @IsATSTalent					BIT = 0,
 @ATSTalentIDs					NVARCHAR(MAX) = null,
 @UserId						BIGINT = 0
AS
BEGIN
		DECLARE 
		@Id										bigint = NULL,
		@ClientActionID							bigint = null,
		@AtsTalentId							bigint = NULL,
		@CompanyID								BIGINT = NULL


		--------If demo company then do not insert those actions in Client reports (Riya 15-May-24)------------------
		SELECT TOP 1 @CompanyID = CompanyID FROM gen_Contact WITH(NOLOCK) WHERE ID = @ContactID

		IF(@CompanyID <> 37720)
			BEGIN

			SET @ClientActionID = isnull((SELECT ID FROM prg_contact_Actions WITH(NOLOCK) WHERE ActionName=@Action),0)

			IF @ClientActionID > 0
			BEGIN
				IF(@ClientActionID = 24)
				BEGIN
					INSERT INTO gen_ContactHistory
					(ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime,HiringRequest_ID,Talent_ID,Talent_StatusID,Location,device,IPAddress, Browser, ATSTalent_ID, UserId)
					SELECT
					@ContactID,@ClientActionID,GETDATE(),@ContactID,Getdate(),@HRID,@TalentID,@Talent_StatusID,@location,@Device, @IPAddress, @Browser, CAST(Item AS Nvarchar(200)), @UserId
					FROM dbo.SplitString(@ATSTalentIDs, ',')	
				END
				ELSE
				BEGIN
					--- If resume action then it is ATS talent Id
					IF(@ClientActionID IN (12,27))
					BEGIN
						SET @IsATSTalent = 1
					END

					-- If we are getting ATS-TalentID then save that.
					IF(@IsATSTalent = 1)
					BEGIN
						SET @AtsTalentId = @TalentID
						SET @TalentID = NULL
					END

					INSERT INTO gen_ContactHistory
					(ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime,HiringRequest_ID,Talent_ID,Talent_StatusID,Location,device,IPAddress, Browser, ATSTalent_ID, UserId)
					VALUES(@ContactID,@ClientActionID,GETDATE(),@ContactID,Getdate(),@HRID,@TalentID,@Talent_StatusID,@location,@Device, @IPAddress, @Browser, @AtsTalentId, @UserId)
				END
			END

			IF @ClientActionID = 1	
				BEGIN
						UPDATE gen_Contact
						SET    LastLoginTime = Getdate()
						WHERE  ID = @ContactID
				END

			IF @CTPID > 0
			BEGIN
				UPDATE gen_ContactTalentPriority 
				SET    IsViewed = 1,ViewedDateTime = GETDATE()
				WHERE  ID = @CTPID and ISNULL(IsViewed,0) = 0
			END

		END
		
END