ALTER PROCEDURE [dbo].[Sproc_UTS_FetchUsersWithSpecialEditAccess]
 @LoggedInUserId BIGINT NULL,
 @LoggedInUserEmployeeID NVARCHAR(50) NULL
AS
BEGIN
		DECLARE @AllowSpecialEdit BIT = 0, @UserEmpIDs NVARCHAR(MAX), @AllowHRDelete BIT = 0, @AllowHRAddInDemoAccount BIT = 0;

		SET @UserEmpIDs = (SELECT TOP 1 [Value] FROM gen_SystemConfiguration WITH (NOLOCK) WHERE [key] =  'SpecialHR_EditRights_COETeam')

		IF EXISTS (SELECT TOP 1 item FROM [dbo].[SplitString](@UserEmpIDs, ',') WHERE item = @LoggedInUserEmployeeID)
		BEGIN
			SELECT @AllowSpecialEdit = 1
		END

		--UTS-7484: Allow HR detele to specific set of users.
		SET @UserEmpIDs = (SELECT TOP 1 [Value] FROM gen_SystemConfiguration WITH (NOLOCK) WHERE [key] =  'DeleteHRRights')

		IF EXISTS (SELECT TOP 1 item FROM [dbo].[SplitString](@UserEmpIDs, ',') WHERE item = @LoggedInUserEmployeeID)
		BEGIN
			SELECT @AllowHRDelete = 1
		END

		--UTS-7517: Allow HR to add in demo account to specific set of users.
		SET @UserEmpIDs = (SELECT TOP 1 [Value] FROM gen_SystemConfiguration WITH (NOLOCK) WHERE [key] =  'AddHRToDemoAccount')

		IF EXISTS (SELECT TOP 1 item FROM [dbo].[SplitString](@UserEmpIDs, ',') WHERE item = @LoggedInUserEmployeeID)
		BEGIN
			SELECT @AllowHRAddInDemoAccount = 1
		END

		SELECT @AllowSpecialEdit AS 'AllowSpecialEdit', @AllowHRDelete AS 'AllowHRDelete', @AllowHRAddInDemoAccount AS 'AllowHRAddInDemoAccount'

END