ALTER PROCEDURE [dbo].[sproc_UpdateDPAmountDetails]
	@HR_ID						BIGINT			= 0,
	@ContactTalentPriorityID	BIGINT			= 0,
	@DPAmount					DECIMAL(18,2)	= 0,
	@DPPercentage				DECIMAL(18,2)	= 0,
	@TalentId					BIGINT			= 0,
	@TalentCurrentAmount		DECIMAL(18,2)	= 0,
	@TalentCost					DECIMAL(18,2)	= 0,
	@ATSTalentCurrency			NVARCHAR(50)	= NULL,
	@ExchangeRate				DECIMAL(18,2)	= NULL,
	@ModifiedByID				INT			    = NULL   
AS
BEGIN

	DECLARE @CurrentCTC DECIMAL(18,2) = NULL, @ExpectedCTC DECIMAL(18,2)	= NULL
	IF ISNULL(@TalentCurrentAmount,0) > 0
	BEGIN
		SET @CurrentCTC = @TalentCurrentAmount * 12
		SET @CurrentCTC = ROUND(@CurrentCTC, 0)
	END
	IF ISNULL(@TalentCost,0) > 0
	BEGIN
		SET @ExpectedCTC = @TalentCost * 12
		SET @ExpectedCTC = ROUND(@ExpectedCTC, 0)
	END
	
	IF(@ContactTalentPriorityID > 0)
	BEGIN
		Declare @HiringRequestID as bigint =0
		Declare @ISHRTypeDP as int = 0
		Declare @HRCost_calculationpercent AS decimal(18,2) = 0
		Declare @IsTransparent bit = 0;
		Declare @HiringTypePricingId INT = 0;
		Declare @PricingPercent DECIMAL(18,2) =0;
		Declare @HR_Cost		as nvarchar(100) = ''
		Declare @CalcHR_Cost AS decimal(18,2) = 0
		Declare @Currency as nvarchar(50) =''
		Declare @CurrencySign as nvarchar(50) =''
		Declare @UplersFeesAmount DECIMAL(18,2) =0
		DECLARE @DP_Percentage DECIMAL(18,2) = NULL;
		Declare @CurrencyExchangeRate as decimal(18,2) = 0;
		DECLARE @IsPayPerHireHR BIT = 0;

		SELECT	@HiringRequestID = HiringRequestID
		FROM	gen_ContactTalentPriority  WITH(NOLOCK) where id = @ContactTalentPriorityID

		SELECT	@ISHRTypeDP = Isnull(CTP.IsHRTypeDP, Hr.IsHRTypeDP),
				@DP_Percentage = ISNULL(CTP.DP_Percentage, Hr.DPPercentage),
				@HRCost_calculationpercent = ISNULL(CTP.NRPercentage, Hr.TalentCostCalcPercentage),							
				@IsTransparent = ISNULL(Hr.IsTransparentPricing,0),
				@HiringTypePricingId = ISNULL(Hr.HiringTypePricingId,0),
				@IsPayPerHireHR = 
				CASE 
					WHEN ISNULL(Hr.HRTypeId,0) = 1 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) 
				END
		FROM	gen_SalesHiringRequest  Hr WITH(NOLOCK)  INNER JOIN  
				gen_ContactTalentPriority  CTP WITH(NOLOCK) on 
				Hr.ID  = CTP.HiringRequestID and CTP.ID = @ContactTalentPriorityID 
				AND CTP.TalentID = @TalentID
		WHERE Hr.id = @HiringRequestID


		IF(ISNULL(@DPPercentage,0) = 0)
		BEGIN
			SET @DPPercentage = @DP_Percentage
		END

		SELECT	@Currency = Isnull(SHD.Currency,''),
				@CurrencyExchangeRate = CASE WHEN ISNULL(@ExchangeRate,0) > 0 THEN @ExchangeRate  ELSE ExchangeRate END,
				@CurrencySign = case when CurrencyCode = 'INR' then NCHAR(8377) else Isnull(CurrencySign,'$') end
		from		gen_SalesHiringRequest_Details SHD WITH(NOLOCK) 
				Inner join prg_CurrencyExchangeRate CER with(nolock) ON Isnull(SHD.Currency,'USD') = CER.CurrencyCode
		where SHD.HiringRequest_ID = @HiringRequestID

		IF(isnull(@ATSTalentCurrency,'') <> '')
		BEGIN
			SET @Currency = @ATSTalentCurrency

			SELECT top 1 
				@CurrencySign = CurrencySign, 
				@CurrencyExchangeRate = CASE WHEN ISNULL(@ExchangeRate,0) > 0 THEN @ExchangeRate  ELSE ExchangeRate END
				from prg_CurrencyExchangeRate CER WITH(NOLOCK)
			
			where	CurrencyCode = @Currency

			If @Currency = 'INR'
			SET @CurrencySign = NCHAR(8377)

		END
				  
		IF @IsPayPerHireHR = 1
		BEGIN
			IF (@DPPercentage > 0 AND @ISHRTypeDP = 1) ---DP + Transparent/Non Transparent Price
			BEGIN

				SELECT 
				@CalcHR_Cost = CalculatedClientPay, 
				@ExpectedCTC = CalculatedTalentPay, 
				@UplersFeesAmount = CalculatedUplersFeesInAmount, 
				@DPPercentage = CalculatedUplersFeesInPer
				FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@ExpectedCTC, 0, 0, @DPPercentage, 1);

				SET @DPAmount = @UplersFeesAmount

				SET @HR_Cost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@CalcHR_Cost,0) AS MONEY), 1) + ' '+ @Currency+' One time Amount'	
			END
		END
			 
	    Update gen_ContactTalentPriority WITH(UPDLOCK)
		Set  
			HR_Cost = @HR_Cost 
			,Final_HR_Cost = @CalcHR_Cost
			,HR_Base_Cost = @CalcHR_Cost
			,Currency_Final_HR_Cost = @CalcHR_Cost
			,Currency_HR_Base_Cost = @CalcHR_Cost
			,DPAmount = @DPAmount,
			DP_Percentage = @DPPercentage,
	 		IsHRTypeDP = 1,
	 		NRorDPChangeDateTime = GETDATE(),
			NRPercentage = 0,
			Current_CTC = ISNULL(@CurrentCTC, Current_CTC),
			TalentCost = ISNULL(@ExpectedCTC, TalentCost),
			UplersfeesAmount = CONVERT(varchar, CAST( @UplersFeesAmount AS MONEY), 1),
			Talent_CurrencyCode = @Currency,
			ExchangeRate = @CurrencyExchangeRate,
			ModifiedByDatetime = GETDATE(),
			ModifiedByID = @ModifiedByID
		WHERE	ID = @ContactTalentPriorityID
	 
		IF (@TalentId > 0 AND @ISHRTypeDP = 1 AND @DPPercentage > 0)
		BEGIN
				IF exists (select 1 from gen_OnBoardTalents with(nolock) where Talent_ID = @TalentId and HiringRequest_ID = @HR_ID)
				BEGIN
					Update gen_OnBoardTalents WITH(UPDLOCK)
					Set    DPAmount = @DPAmount,
					       DPPercentage = @DPPercentage
					WHERE  Talent_ID = @TalentId AND HiringRequest_ID = @HR_ID
							and Kickoff_StatusID <> 5 AND Status_ID = 1
				END
		END
	END	
END