ALTER PROCEDURE [dbo].[Sproc_Get_Nurture_Logs_Emails]
  @ContactId		 bigint = null,
  @Environment		 Nvarchar(200) = '',
  @EmailType		 int = null
AS
BEGIN

		Declare @Subject as Nvarchar(200) =''
		Declare @SQL as Nvarchar(MAX) = ''
		Declare @SQLPOCConditional as Nvarchar(MAX) = ''
		Declare @Company as Nvarchar(100) = ''
		Declare @Client as Nvarchar(100) = ''						
		Declare @SalesPersonEmail as Nvarchar(Max)= ''
		Declare @Sales_Person as Nvarchar(Max) = ''
		Declare @SalesPersonId as bigint = 0
		Declare @OpsPersonId as bigint = 0
		Declare @ToEmailName as Nvarchar(300) = ''
		Declare @ToEmailID as Nvarchar(Max) = ''
		Declare @CCEmailIDs as Nvarchar(Max) = ''
		Declare @CCEmailName as Nvarchar(Max) = ''
		Declare @ReactURl	as Nvarchar(100) = ''
		DECLARE @CompanyID BIGINT = NULL, @POCID BIGINT = 0
		Declare @POCName as Nvarchar(Max) = ''
		Declare @POCEmail as Nvarchar(Max) = ''	
		Declare @POCDesignation as Nvarchar(Max) = ''
		Declare @POCContactNo as Nvarchar(Max) = ''
		Declare @MonthName as Nvarchar(100) = '' 
		Declare @PreviousMonthName as Nvarchar(100) = '' 
		Declare @NextMonthName as Nvarchar(100) = '' 
		

		Begin  --- Poc Detail
				
				SELECT @CompanyID = CompanyId FROM gen_Contact WITH(NOLOCK) WHERE ID = @ContactId	

				IF Exists(Select 1
					from   gen_SalesHiringRequest H WITH(NOLOCK) 
						   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
					Where  c.CompanyID = @CompanyID)
				BEGIN
						Select top 1 @POCID = Isnull(H.SalesUserID,0)
						from   gen_SalesHiringRequest H WITH(NOLOCK) 
							   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
						Where  c.CompanyID = @CompanyID
						Order by H.ID desc
				END
		
				IF iSNULL(@POCID,0) = 0
					BEGIN
							SELECT @POCID = Isnull(AM_SalesPersonID,Isnull(NBD_SalesPersonID,0)) 
							from gen_Company WITH(NOLOCK) where ID = @CompanyID
					END

				SELECT	top 1	@POCName = Isnull(usr.FullName,''),@POCEmail = Isnull(usr.EmailID,''),
								@POCContactNo = ISnull(usr.ContactNumber,''),@POCDesignation = Isnull(usr.Designation,'')
				FROM	usr_User usr WITH(NOLOCK)
				WHERE   usr.ID = @POCID
				order by usr.UserTypeID

		end

		
		Begin  --- Start Email Template Logic
						
				
				select  @CCEmailIDs = Isnull(CCEmailIds,'')
				from    gen_CC_EmailIDs WITH(NOLOCK) 

				select  @CCEmailName = Isnull(CCEmailNames,'')
				from    gen_CC_EmailIDs WITH(NOLOCK) 

				
				IF OBJECT_ID('tempdb..#EmailNotifications') is not null
					DROP TABLE #EmailNotifications

				CREATE TABLE #EmailNotifications
				(
					[subject]       NvarchaR(200),
					Body			 NvarchaR(MAX),
					ToEmailIds		 NvarchaR(200),
					ToEmailNames	 NvarchaR(200),
					CCEmailIds		  NvarchaR(MAX),
					CCEmailNames     NvarchaR(200)
				)
				

				select  @Client = Isnull(C.FullName, Isnull(FirstName,'') + ' ' + Isnull(LastName,'')),
						@Company = CO.Company,
						@ToEmailID = Isnull(C.EmailID,''),
						@ToEmailName = Isnull(C.FullName, Isnull(FirstName,'') + ' ' + Isnull(LastName,''))						
				from    gen_Contact C WITH(NOLOCK) 
						inner join  gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID			
				where   C.ID = @ContactId

				
				;WITH EMP_CTESales AS
							(
								SELECT	top 1 userid, parentId, 0 AS levelpostion
								FROM	usr_UserHierarchy UH With(nolock)
								WHERE	exists (
													select	1 
													from	usr_User U With(Nolock)
													where	U.id = UH.UserID 
															and UH.UserID = Isnull(@POCID,UH.UserID)
															and U.IsActive = 1
												)
						
								UNION ALL
								SELECT	T.userid, T.parentId, levelpostion - 1 AS EmployeeLevel 
								FROM	usr_UserHierarchy AS T With(Nolock)
										INNER JOIN EMP_CTESales  AS C ON T.userID = C.parentId
							)
							SELECT  @Sales_Person =  stuff(( select ',' + ISNULL(U.FirstName,'') + ' ' + ISNULL(U.LastName,'') 
												from EMP_CTESales T 
												left join usr_User U With(Nolock) on T.UserID = U.ID  for xml path('')),1,1,''),
									@SalesPersonEmail = stuff(( select ',' + Isnull(U.EmailID,'')
												from EMP_CTESales T 
												left join usr_User U With(Nolock) on T.UserID = U.ID  for xml path('')),1,1,'')

				SET @CCEmailIDs =  Isnull(@SalesPersonEmail,'')
				SET @CCEmailName = Isnull(@Sales_Person,'')

				If @Environment = 'Live'
					SET  @ReactURl = 'https://client.uplers.com/'
				ELse IF @Environment = 'QA'
					SET  @ReactURl = 'http://3.82.177.154:85/'
				Else
					SET @ReactURl = 'Localhost:3000/'
								

				IF @POCID > 0
					BEGIN
							SET  @SQLPOCConditional = N'If you need help or have questions, please reach out to our executive ' + @POCName + ' at ' + @POCEmail + '
														<br/>
														<br/>
														We look forward to supporting your hiring journey!
														<br/>
														<br/>
														Thank you for choosing Uplers for your recruiting needs. 
														<br/>
														<br/>
														Best regards,
														<br/>
														<br/>
														' + Isnull(@POCName,'') + '<br/>
														' + Isnull(@POCDesignation,'') + '<br/>
														' + Isnull(@POCContactNo,'') + '<br/>
														Website : http://www.uplers.com <br/>
														' + Isnull(@POCEmail,'') + '<br/>'

					END
				ELSE
					BEGIN
							SET  @SQLPOCConditional = N'Best regards,
														<br/>
														Uplers
														<br/>' 

					END

				
				IF @EmailType = 1
					BEGIN
							SET @Subject = N''+ Isnull(@Client,'') +', Your First Job Post is Just a Click Away'
							SET @SQL = N'Hi ' + Isnull(@Client,'') + ',
								<br/>
								<br/>								 
								<div style="width:100%">
								We noticed you haven’t posted your first job yet and we are here to help you take that first step.
								<br/>									
								<br/>
								<strong>Why Post a Job on Uplers?</strong>
								<br/>									
								<br/>
								<ul>
								<li>
								<strong>Wide Reach:</strong> Your job posting will be visible to our vast network of 1.5 million qualified Indian professionals, ensuring that you find the right talent quickly and efficiently.
								</li>
								<li>
								<strong>Ease of Use:</strong> Our platform is designed with simplicity in mind, making it easy to post a job in just 5 minutes. With our intuitive interface, you can craft a detailed and compelling job description with ease.
								</li>
								<li>
								<strong>AI-Based Tailored Matchmaking:</strong> Every job posted on our platform is matched with the most suitable candidates through our advanced AI algorithm, ensuring you get the best fit for your role.
								</li>
								<li>
								<strong>Attraction from Various Job Boards:</strong> We don''t just stop at our platform; your job posting is also distributed across multiple leading job boards, increasing its visibility and attracting a diverse range of candidates.
								</li>
								</ul>
								<a style="color:#232323;font-style:normal;font-weight:700;text-transform:uppercase;border:0;background:#FFDA30;padding:0 20px;font-size:14px;display:inline-block;text-align:center;border-radius:27px;line-height:40px;text-decoration:none;" class="link" href="' + @ReactURl + 'dashboard" target="_blank">Post Your Job Now</a>
								<br/>
								<br/>
								<strong>Here’s a quick overview of how to get started:</strong>
								<br/>
								<br/>
								<ul>
								<li>
								<strong>Access Your Dashboard:</strong> Log in to your account and head to your dashboard. This is where you’ll manage all your job postings and applications.
								</li>
								<li>
								<strong>Create a Job:</strong> Click on ‘Post a Job’ and fill in the required details. Be sure to include clear job responsibilities, required skills, and any details and perks that might attract top talent.
								</li>
								<li>
								<strong>Review and Post:</strong> Once you’ve filled in all the details, review your job post to ensure everything is accurate. Then, hit ‘Great! Post this job’ to make it live.
								</li>
								</ul>
								<a style="color:#232323;font-style:normal;font-weight:700;text-transform:uppercase;border:0;background:#FFDA30;padding:0 20px;font-size:14px;display:inline-block;text-align:center;border-radius:27px;line-height:40px;text-decoration:none;" class="link" href="' + @ReactURl + 'dashboard" target="_blank">Post Your Job Now</a>
								<br/>
								<br/>
									If you need help, don’t hesitate to reach out to us at client@uplers.com.
								<br/>
								<br/>
									Let’s make your first hire together!
								<br/>
								<br/>
								' + @SQLPOCConditional + '
								<br/>
								</div>'

					END
				ELSE IF @EmailType = 2
					BEGIN
							SET @Subject = N''+ Isnull(@Client,'') +', Ready to Post Your First Job? We’re Here to Assist!'
							SET @SQL = N'Hi ' + Isnull(@Client,'') + ',
								<br/>
								<br/>								 
								<div style="width:100%">
								We''re checking in to see if there''s anything we can do to help you get started on posting your first job with Uplers. If you''re feeling stuck, don''t worry - we''re here to help. Our platform is designed with simplicity in mind, making posting your job just a 5-minute smooth process.
								<br/>									
								<br/>
								<strong>Why Uplers is the Right Choice for Your Hiring Needs?</strong>
								<br/>									
								<br/>
								- Talent pool of top 1.5 million in India
								<br/>
								- Simple, intuative and efficient interface
								<br/>
								- Smart AI matchmaking
								<br/>
								- Extended reach on various job board
								<br/>
								<br/>
								<strong>How to get started?</strong>
								<br/>
								<br/>
								- Login with your user name and password
								<br/>
								- Access dashboard
								<br/>
								- Post a detailed job
								<br/>
								- Publish and await tailored applicants
								<br/>
								<br/>
								<a style="color:#232323;font-style:normal;font-weight:700;text-transform:uppercase;border:0;background:#FFDA30;padding:0 20px;font-size:14px;display:inline-block;text-align:center;border-radius:27px;line-height:40px;text-decoration:none;" class="link" href="' + @ReactURl + 'dashboard" target="_blank">Post Your Job Now</a>
								<br/>
								<br/>
								Need a hand?
								<br/>
								Feel free to reach out to us at client@uplers.com.
								<br/>
								<br/>
								Looking forward to helping you find your next great hire!
								<br/>
								<br/>
								' + @SQLPOCConditional + '
								<br/>
								</div>'
							
					END

				
				select	@Subject as [subject],@SQL as Body,@ToEmailID as ToEmailIds,@ToEmailName as ToEmailNames,
						@CCEmailIDs as CCEmailIds,@CCEmailName as CCEmailNames,@POCName as POCName,@POCEmail as POCEmail

		end

END