USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_GetActiveSalesUserList]    Script Date: 23-04-2024 17:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[Sproc_GetActiveSalesUserList]
as begin
	select ID,EmailID,EmployeeID,FullName from usr_User where usertypeID=4 and isactive=1
	Order By FullName 
end
