CREATE PROCEDURE [dbo].[Sproc_FetchSimilarRoles_UTS]
@LoggedinUserId INT,
@RoleName	Nvarchar(200) = 0
AS
BEGIN
--get roleid based on role title if its DirectHr,
--if its not there automatically created new entry in prg_TalentRoles

	DECLARE @RoleId BIGINT = 0

		SELECT top 1 @RoleID = FT_TBL.ID  
		FROM prg_TalentRoles AS FT_TBL with(nolock)  
		INNER JOIN FREETEXTTABLE(prg_TalentRoles,TalentRole,@RoleName,LANGUAGE N'English') AS KEY_TBL  
		ON FT_TBL.ID = KEY_TBL.[KEY] ORDER BY RANK desc

		IF(ISNULL(@RoleID,0) = 0)
		BEGIN	
			--As per Bhuvan sir's instruction in SP 24 planning call 27-11-23

			INSERT INTO prg_TalentRoles
			(
				TalentRole,
				IsActive,
				IsAdhoc,
				CreatedbyDatetime,
				ModifyByID,
				FrontIconImage
			)
			VALUES
			(
				@RoleName,
				1,
				1,
				GETDATE(),
				@LoggedinUserId,
				'default-role-icon.png'
			)

			SET @RoleID = @@IDENTITY 
		END

	SELECT @RoleID AS RoleID
END