USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_CreditExausted_Email_ClientPortal]    Script Date: 17-09-2024 10:37:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Get_CreditExausted_Email_ClientPortal]
AS
BEGIN
		
		
		select ContactID,MAX(ID) AS ID, HRID
		Into   #MaxHRID
		FROM   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)			
		GROUP BY ContactID, HRID 

		--Commented Jimit 04-06-24 UTS-7505 
		--select ContactID,MAX(CPC.ID) AS ID,U.ID as PocID
		--Into   #POC
		--FROM   gen_ContactPointofContact CPC WITH(NOLOCK)
		--	   INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
		--GROUP BY ContactID,U.ID

		select  DISTINCT JCT.HRID,JCT.CompanyID,JCT.ContactID,CreditBalance = Isnull(JCT.CreditBalance,0),
				H.RequestForTalent,H.HR_Number,JobPostedDate = CONVERT(nvarchar(15),ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate),103),
				DaysPending = DateDIff(d, CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte),CAST(GETDATE() as DATE)),
				PocId = U.ID--P.PocID
		FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)
			    inner join gen_JobPost_Subscription_History_ClientPortal JS WITH(NOLOCK) ON JS.CompanyID = JCT.CompanyID and JS.ContactID = JCT.ContactID
				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID
				inner join #MaxHRID M ON M.HRID = JCT.HRID AND M.ID = JCT.ID
				inner join gen_Company CO WITH(NOLOCK) ON CO.ID = JCT.CompanyID
				inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
				INNER JOIN usr_User U WITH(NOLOCK) ON H.SalesUserID = U.ID --CPC.User_ID = U.ID
				--left join #POC P ON P.ContactID = C.ID
		WHERE   DateDIff(d, CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte),CAST(GETDATE() as DATE)) = 0 AND
				 H.Status_ID in (1,2) AND NOT EXISTS(SELECT 1 FROM gen_JobPost_TransactionHistory_ClientPortal TH WITH(NOLOCK) WHERE TH.IsReposted = 1 AND TH.ID = M.ID)
				AND CO.CompanyTypeID = 2 and Isnull(CO.JPCreditBalance,0) = 0

		Insert into gen_PostJob_Email_Notification_ClientPortal(HRID,Subject,ReminderDays,CreatedByDateTime)
		select  DISTINCT JCT.HRID,'Urgent: Credits Exhausted - Reactivate Your Job Postings Now!',0,getdate()
		FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)
			    inner join gen_JobPost_Subscription_History_ClientPortal JS WITH(NOLOCK) ON JS.CompanyID = JCT.CompanyID and JS.ContactID = JCT.ContactID
				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID
				inner join #MaxHRID M ON M.HRID = JCT.HRID AND M.ID = JCT.ID
				inner join gen_Company CO WITH(NOLOCK) ON CO.ID = JCT.CompanyID
				inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
				INNER JOIN usr_User U WITH(NOLOCK) ON H.SalesUserID = U.ID --CPC.User_ID = U.ID
				--left join #POC P ON P.ContactID = C.ID
		WHERE   DateDIff(d, CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte),CAST(GETDATE() as DATE)) = 0 AND
				 H.Status_ID in (1,2) AND NOT EXISTS(SELECT 1 FROM gen_JobPost_TransactionHistory_ClientPortal TH WITH(NOLOCK) WHERE TH.IsReposted = 1 AND TH.ID = M.ID)
				AND CO.CompanyTypeID = 2 and Isnull(CO.JPCreditBalance,0) = 0

		DROP TABLE #MaxHRID
		--DROP TABLE #POC


		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_CreditExausted_Email_ClientPortal'

END
