USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Client_closePositionDetail]    Script Date: 13-09-2024 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Get_Client_closePositionDetail]
    @Contact_ID					BIGINT = 1085,
	@AnotherCompanyTypeId		INT = 0
AS
BEGIN
		
		--(rinku) 25-04-2023
				  Declare @CompanyID as bigint =0
				  Select @CompanyID = CompanyID from gen_Contact with(nolock) where ID = @Contact_ID

				  IF OBJECT_ID('tempdb..#HRTypeID') IS Not Null
					DROP TABLE #HRTypeID

					CREATE TABLE #HRTypeID
					(
						HRID		bigint,
						HRTypeID	int
					)

					IF Isnull(@AnotherCompanyTypeId,0) = 1 
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  H.ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest H WITH(NOLOCK)
								INNER JOIN gen_Contact C WITH(NOLOCK) ON H.ContactID = C.ID
								WHERE  C.CompanyID = @CompanyID AND Isnull(HRTypeId,0) = 1

								--INSERT INTO #HRTypeID
								--SELECT  ID,ISNULL(HRTypeID,0)
								--FROM    gen_SalesHiringRequest WITH(NOLOCK)
								--WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND Isnull(HRTypeId,0) = 1
						END
					ELSE IF Isnull(@AnotherCompanyTypeId,0) = 2
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  H.ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest H WITH(NOLOCK)
								INNER JOIN gen_Contact C WITH(NOLOCK) ON H.ContactID = C.ID
								WHERE  C.CompanyID = @CompanyID AND Isnull(H.HRTypeId,0) in (3,4,6)
						END
					ELSE
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  H.ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest H WITH(NOLOCK)
								INNER JOIN gen_Contact C WITH(NOLOCK) ON H.ContactID = C.ID
								WHERE  C.CompanyID = @CompanyID
						END

		Declare @Frontend_HRType as nvarchar(50) =''
	    SET @Frontend_HRType = 'Credit Based Job'

		---------Fetch the must have skills------------------------
		set nocount on;
		declare @SkillsTable table (Id BIGINT, SkillName nvarchar(500), HiringRequestID BIGINT,  Proficiency nvarchar(500))

		INSERT INTO @SkillsTable
		SELECT SD.ID, 
		CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
		SD.HiringRequest_ID, SD.Proficiency  FROM 
		gen_SalesHiringRequest_SkillDetails SD  WITH(NOLOCK)
		INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
		Inner join #HRTypeID HT ON HT.HRID = HR.ID
		INNER JOIN gen_contact GC WITH(NOLOCK) ON  GC.ID = hr.ContactID
		LEFT JOIN prg_Skills PS  WITH(NOLOCK) ON PS.ID = SD.Skill_ID
		LEFT JOIN prg_TempSkills TS  WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID		
		AND GC.CompanyID = @CompanyID
		set nocount off


		 select  ID,CompanyID, FullName
				  into    #AllContats
				  from    gen_Contact WITH(NOLOCK)
				  WHERE   CompanyID = @CompanyID

		select MAx(ID) as ID,JCT.HRID
		Into   #MaxJobDeduct
		from   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) 
			   inner join #HRTypeID HT ON HT.HRID = JCT.HRID
		WHERE  JCT.CreditOptionID in (0,1,4)
		GROUP BY JCT.HRID

		CREATE TABLE #HRCloseActions
		(
			HiringRequest_ID BIGINT,
			CreatedByID BIGINT,
			FullName NVARCHAR(500),
			CreatedByDateTime DATETIME
		)
		
		INSERT INTO #HRCloseActions (HiringRequest_ID, CreatedByID, FullName,CreatedByDatetime)
		Select HiringRequest_ID,CreatedByID,FullName,CreatedByDatetime 
		from (
				select ROW_NUMBER() Over(partition by HiringRequest_ID,Talent_ID order by H.Id desc) as SR_No
						,HiringRequest_ID, H.CreatedByID, COALESCE(t.FullName, t1.FullName) AS FullName,H.ID, H.CreatedByDatetime
				FROM    dbo.gen_History H WITH(NOLOCK)
						INNER join #HRTypeID HT ON HT.HRID = H.HiringRequest_ID
						LEFT JOIN  usr_user t WITH(NOLOCK) ON H.CreatedByID = t.ID AND IsManagedbyClient = 0
						LEFT JOIN gen_Contact t1 WITH(NOLOCK) ON H.CreatedByID = t1.ID and H.AppActionDoneBy = 4 AND IsManagedbyClient = 1
						WHERE H.Action_ID = 82

				--Union 

				--select ROW_NUMBER() Over(partition by HiringRequest_ID,Talent_ID order by H.Id desc) as SR_No
				--		,HiringRequest_ID, H.CreatedByID, t.FullName,H.ID,H.CreatedByDatetime
				--FROM    dbo.gen_History H WITH(NOLOCK)
				--		INNER JOIN  gen_Contact t WITH(NOLOCK) ON H.CreatedByID = t.ID 
				--		WHERE H.Action_ID = 82 and H.AppActionDoneBy = 4 AND IsManagedbyClient = 1
		)T 
		Where T.SR_No = 1 
		ORDER BY T.CreatedByDatetime DESC

		--SELECT * FROM #HRCloseActions

		---------------------------------------New Status Changes-----------------------------------
		--CREATE TABLE #TempTable_HrStatus (
		--	HRID BIGINT,
		--	HR_Number VARCHAR(100),
		--	HRStatus  VARCHAR(100),
		--	HRStatusCode INT
		--);
		--INSERT INTO #TempTable_HrStatus(HRID, HR_Number, HRStatus, HRStatusCode)
		--EXEC Sproc_UTS_Get_HRStatus @HRID = null, @CompanyID = @CompanyID
		---------------------------------------------------------------------------------	

		DECLARE @MustSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT INTO @MustSkillsTable
		SELECT
		t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID AND t2. Proficiency= 'Strong'
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS MustHaveSkills
		FROM @SkillsTable t1
		where t1. Proficiency= 'Strong'
		GROUP BY t1.HiringRequestID,t1. Proficiency	


		DECLARE @GoodToSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT INTO @GoodToSkillsTable
		SELECT
		t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID AND t2. Proficiency= 'Basic'
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS GooToHaveSkills
		FROM @SkillsTable t1 WHERE t1. Proficiency= 'Basic'
		GROUP BY t1.HiringRequestID ,t1. Proficiency
		

		DECLARE @ClosedHRs TABLE
		(
			HiringRequest_ID BIGINT,
			RequestForTalent NVARCHAR(500),
			TalentRole NVARCHAR(500),
			Discription NVARCHAR(MAX),
			NoofEmployee INT,
			Duration NVARCHAR(200),
			Role_ID INT,
			FrontIconImage NVARCHAR(500),
			DurationType NVARCHAR(500),
			Cost NVARCHAR(100),
			JdfileName NVARCHAR(500),
			JDUrl NVARCHAR(Max),
			PhotoImage NVARCHAR(500),
			HR_Number NVARCHAR(250),
			AfterHR_TalentStatus VARCHAR(100),
			HowSoon NVARCHAR(50),
			Timezone_Preference NVARCHAR(500),
			Availability NVARCHAR(500),
			HRJoining NVARCHAR(50),
			TypeOfHR NVARCHAR(50),
			PostedBy NVARCHAR(500),
			IsDeactivatedJob BIT,
			PostedByID bigint,
			MustHaveSkills NVARCHAR(MAX),
			HR_GUID  NVARCHAR(MAX),
			ContactID BIGINT,
			CompanyID BIGINT,
			CreditUsed INT,
			ModeOfWork NVARCHAR(250),
			EmployementType NVARCHAR(250),
			FromToTime		NVARCHAR(250),
			GoodToHaveSkills NVARCHAR(MAX),
			HRTypeID	INT,
			CompanyTypeID INT,
			HRExpiryDate NVARCHAR(MAX),			
			HRCreatedDate NVARCHAR(MAX),
			IsReposted BIT,
			IsAutoExpiredJob BIT,
			ExpiryMessage NVARCHAR(500),
			ShortlistedTalentCount INT,
			LastActivityDate DATETIME,
			ScreeningQuestionsGenerated BIT,
			HRStatus NVARCHAR(250),
			HRStatusCode INT
		)

		INSERT INTO @ClosedHRs
		SELECT  HiringRequest_ID = hrd.HiringRequest_ID,
		RequestForTalent = Isnull(hr.RequestForTalent,''),
                --TalentRole = Isnull(r.TalentRole,''),
					TalentRole = Isnull(hr.RequestForTalent,''),
				Discription = Isnull(hr.Discription,''),
				NoofEmployee = Isnull(hrd.NoofEmployee,0),
                Duration = CASE WHEN ISNULL(HRD.YearOfExp,0) = 0 THEN 'Freshers' ELSE
							  REPLACE( cast(hrd.YearOfExp as nvarchar(10)),'.00','') +  '+ years experience' 
							  END,
				Role_ID = Isnull(hrd.Role_ID,0),
				FrontIconImage = '',
				DurationType = Isnull(hrd.DurationType,''),
				Cost = Isnull(hrd.Cost,''),
                JdfileName = hr.JDFilename,
				JDUrl = hr.JDURL,
				PhotoImage = '',
				HR_Number = Isnull(HR.HR_Number,''),
				AfterHR_TalentStatus = Isnull(HRStatus.HiringRequest_Status,''),
				HowSoon =isnull(hrd.HowSoon,'') ,
				Timezone_Preference = Isnull(CTZ.TimeZoneTitle,''),
				[Availability] = isnull([Availability],''),
				HRJoining = isnull(HowSoon,''),
				TypeOfHR = case when isnull(hr.HRTypeId,0)= 4 then @Frontend_HRType else Case when Hr.IsHRTypeDP = 1 then 'Direct Placement' else 'Contractual' end end,
				PostedBy = Isnull(GC.FullName,''),
				IsDeactivatedJob =  hr.IsAutoExpiredJob,
				PostedById = Isnull(GC.ID,0),
				MST.SkillName AS 'MustHaveSkills',
				HR_GUID = ISNULL(hr.GUID,''),
				HR.ContactID,
				GC.CompanyID,
				CreditUsed = (
									select  CreditUsed from
									(Select	cast(SUM(ISNULL(JT.CreditUsed,CC.CreditUsed)) as int) CreditUsed,JT.HRID
									from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
											inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
									WHERE	HRID = hr.ID AND CC.ID IN (1,4)
									Group by JT.HRID ) Q
								 ),
				ModeOfWork = CASE WHEN ISNULL(DP.ModeOfWork,'') = '' OR ISNULL(DP.ModeOfWork,'') = 'Remote' THEN Isnull(DP.ModeOfWork,'Remote') ELSE Isnull(DP.ModeOfWork,'') + ' - ' + Isnull(DP.City,'') END,  
				--EmployementType = ISNULL(HR.Availability,'Full Time') + ISNULL(IIF(ISNULL(hrd.SpecificMonth, 0) != 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', ''),''),
				EmployementType = CASE WHEN HR.JobTypeID = 1 THEN 'Full time permanent position' 
										   WHEN HR.JobTypeID = 2 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
										   WHEN HR.JobTypeID = 3 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
										   WHEN HR.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
									  ELSE HR.Availability + CASE WHEN ISNULL(HRD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
													ELSE IIF(hrd.SpecificMonth > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END,
				FromToTime = HRD.TimeZone_FromTime + ' to ' + HRD.TimeZone_EndTime,
				GST.SkillName AS 'GoodToHaveSkills',
				HRTypeID = ISNULL(hr.HrTypeId,0),
				CompanyTypeID = ISNULL(PRT.CompanyTypeId,0),
				HRExpiryDate = CONVERT(varchar,DATEADD(D,30,ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)), 107),				
				HRCreatedDate = IIF(ISNULL(JCT.IsReposted,0) = 1, CONVERT(VARCHAR, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate), 107) ,CONVERT(varchar,hr.CreatedByDatetime,107)),
				IsReposted = JCT.IsReposted,
				IsAutoExpiredJob = hr.IsAutoExpiredJob,
				ExpiryMessage =  CASE WHEN ISNULL(IsAutoExpiredJob,0) = 1 THEN 'Expired on ' + CONVERT(varchar,hr.JobExpiredORClosedDate, 107)
								 ELSE 'Job closed on ' + CONVERT(varchar,hr.JobExpiredORClosedDate, 107) + ' | ' + FORMAT(hr.JobExpiredORClosedDate, 'hh:mm:ss tt') + ' by ' + HCA.FullName END,
				ShortlistedTalentCount = (SELECT COUNT(1) FROM gen_ContactTalentPriority CTP WHERE CTP.HiringRequestID = Hr.ID),
				LastActivityDate = HR.LastActivityDate,
				ScreeningQuestionsGenerated = ISNULL(hrd.ScreeningQuestionsGenerated, 0),
				--HRStatus = ISNULL(TS.HRStatus, ''),
				--HRStatusCode = ISNULL(TS.HRStatusCode, 201)
				HRStatus = '',
				HRStatusCode = 201
		FROM	gen_SalesHiringRequest hr WITH(NOLOCK)
                inner join gen_SalesHiringRequest_Details hrd WITH(NOLOCK) on hr.ID = hrd.HiringRequest_ID
                --inner join prg_TalentRoles r WITH(NOLOCK) on hrd.Role_ID = r.ID				
				inner JOIN prg_HiringRequestStatus HRStatus WITH(NOLOCK) ON HRStatus.ID = hr.Status_ID
				inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = hr.ContactID
				Inner join #HRTypeID HT ON HT.HRID = HR.ID
				inner join #AllContats AC ON AC.ID = hr.ContactID
				inner JOIN prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = hrd.Timezone_ID		
				Inner JOIN prg_HiringRequest_Type PRT ON PRT.ID = hr.HrTypeId	
				--INNER JOIN #TempTable_HrStatus TS WITH(NOLOCK) ON TS.HRID = HR.ID -- New status changes
				LEFT JOIN @MustSkillsTable MST ON MST.HiringRequestID = hr.ID
				LEFT JOIN gen_Direct_Placement DP ON DP.HiringRequest_Id = HR.ID
				LEFT JOIN @GoodToSkillsTable GST ON GST.HiringRequestID = hr.ID
				left join #MaxJobDeduct MJD WITH(NOLOCK) ON MJD.HRID = HR.ID
				left join gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) ON JCT.ID = MJD.ID
				LEFT JOIN #HRCloseActions HCA ON HCA.HiringRequest_ID = hr.ID

		where 
			--isnull(hr.IsActive,0) = 1 and
			 --and  hr.Status_ID in(3,4,6)  
			  HR.JobStatusID = 2
			 and GC.CompanyID =@CompanyID --hr.ContactID = @Contact_ID -- (hrd.RoleStatus_ID in(6,7)) 		

		--If user role is for myjobs then only show the jobs posted by them.
		DECLARE @RoleID INT = 1	
		SELECT TOP 1 @RoleID = RoleID FROM LoggedInUserRole_ClientPortal(@Contact_ID)

		IF(ISNULL(@RoleID,0) = 3)
		BEGIN
			SELECT * FROM @ClosedHRs WHERE ContactID = @Contact_ID
			ORDER BY LastActivityDate DESC
		END
		ELSE
		BEGIN
			SELECT * FROM @ClosedHRs ORDER BY LastActivityDate DESC
		END

		--SELECT * FROM #HRCloseActions

		DROP TABLE #HRTypeID
		DROP TABLE #MaxJobDeduct	
		DROP TABLE #AllContats	
		DROP TABLE #HRCloseActions
END



