ALTER PROCEDURE [dbo].[Sproc_Get_Pause_Active_Close_Emails]
  @HRID				 bigint = null,
  @Environment		 Nvarchar(200) = '',
  @EmailType		 Nvarchar(200) = ''
AS
BEGIN

		Declare @Subject as Nvarchar(200) =''
		Declare @SQL as Nvarchar(MAX) = ''
		Declare @SQLPOCConditional as Nvarchar(MAX) = ''
		Declare @Company as Nvarchar(100) = ''
		Declare @Client as Nvarchar(100) = ''						
		Declare @SalesPersonEmail as Nvarchar(Max)= ''
		Declare @Sales_Person as Nvarchar(Max) = ''
		Declare @SalesPersonId as bigint = 0
		Declare @OpsPersonId as bigint = 0
		Declare @ToEmailName as Nvarchar(300) = ''
		Declare @ToEmailID as Nvarchar(Max) = ''
		Declare @CCEmailIDs as Nvarchar(Max) = ''
		Declare @CCEmailName as Nvarchar(Max) = ''
		Declare @ReactURl	as Nvarchar(100) = ''
		DECLARE @CompanyID BIGINT = NULL, @POCID BIGINT = 0
		Declare @POCName as Nvarchar(Max) = ''
		Declare @POCEmail as Nvarchar(Max) = ''	
		Declare @POCDesignation as Nvarchar(Max) = ''
		Declare @POCContactNo as Nvarchar(Max) = ''
		Declare @MonthName as Nvarchar(100) = '' 
		Declare @PreviousMonthName as Nvarchar(100) = '' 
		Declare @NextMonthName as Nvarchar(100) = '' 
		Declare @RequestForTalent as Nvarchar(200) = ''
		Declare @HRNumber as Nvarchar(50) = ''
		Declare @ExpiryDate as Nvarchar(15) = null
		Declare @ContactId as bigint = null
		Declare @TalentsInAdded	 int = null

		select  @RequestForTalent = Isnull(RequestForTalent,''),
				@HRNumber = Isnull(HR_Number,''),
				@ExpiryDate = ISNULL(Convert(Nvarchar(15),JobExpiryDate,103),''),
				@ContactId = ContactID
		from    gen_SalesHiringRequest WITH(NOLOCK)
		where   ID = @HRID

		select @TalentsInAdded = Count(ID)
		from   gen_ContactTalentPriority WITH(NOLOCK)
		where  HiringRequestID = @HRID --and Isnull(TalentStatusID_ClientPortal,0) = 2

		Begin  --- Poc Detail
				
				SELECT @CompanyID = CompanyId FROM gen_Contact WITH(NOLOCK) WHERE ID = @ContactId	

				IF Exists(Select 1
					from   gen_SalesHiringRequest H WITH(NOLOCK) 
						   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
					Where  c.CompanyID = @CompanyID)
				BEGIN
						Select top 1 @POCID = Isnull(H.SalesUserID,0)
						from   gen_SalesHiringRequest H WITH(NOLOCK) 
							   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
						Where  c.CompanyID = @CompanyID
						Order by H.ID desc
				END
		
				IF iSNULL(@POCID,0) = 0
					BEGIN
							SELECT @POCID = Isnull(AM_SalesPersonID,Isnull(NBD_SalesPersonID,0)) 
							from gen_Company WITH(NOLOCK) where ID = @CompanyID
					END

				SELECT	top 1	@POCName = Isnull(usr.FullName,''),@POCEmail = Isnull(usr.EmailID,''),
								@POCContactNo = ISnull(usr.ContactNumber,''),@POCDesignation = Isnull(usr.Designation,'')
				FROM	usr_User usr WITH(NOLOCK)
				WHERE   usr.ID = @POCID
				order by usr.UserTypeID

		end

		
		Begin  --- Start Email Template Logic
						
				
				select  @CCEmailIDs = Isnull(CCEmailIds,'')
				from    gen_CC_EmailIDs WITH(NOLOCK) 

				select  @CCEmailName = Isnull(CCEmailNames,'')
				from    gen_CC_EmailIDs WITH(NOLOCK) 

				
				IF OBJECT_ID('tempdb..#EmailNotifications') is not null
					DROP TABLE #EmailNotifications

				CREATE TABLE #EmailNotifications
				(
					[subject]       NvarchaR(200),
					Body			 NvarchaR(MAX),
					ToEmailIds		 NvarchaR(200),
					ToEmailNames	 NvarchaR(200),
					CCEmailIds		  NvarchaR(MAX),
					CCEmailNames     NvarchaR(200)
				)
				
				

				select  @Client = Isnull(C.FullName, Isnull(FirstName,'') + ' ' + Isnull(LastName,'')),
						@Company = CO.Company,
						@ToEmailID = Isnull(C.EmailID,''),
						@ToEmailName = Isnull(C.FullName, Isnull(FirstName,'') + ' ' + Isnull(LastName,''))						
				from    gen_Contact C WITH(NOLOCK) 
						inner join  gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID			
				where   C.ID = @ContactId

				
				
				;WITH EMP_CTESales AS
							(
								SELECT	top 1 userid, parentId, 0 AS levelpostion
								FROM	usr_UserHierarchy UH With(nolock)
								WHERE	exists (
													select	1 
													from	usr_User U With(Nolock)
													where	U.id = UH.UserID 
															and UH.UserID = Isnull(@POCID,UH.UserID)
															and U.IsActive = 1
												)
						
								UNION ALL
								SELECT	T.userid, T.parentId, levelpostion - 1 AS EmployeeLevel 
								FROM	usr_UserHierarchy AS T With(Nolock)
										INNER JOIN EMP_CTESales  AS C ON T.userID = C.parentId
							)
							SELECT  @Sales_Person =  stuff(( select ',' + ISNULL(U.FirstName,'') + ' ' + ISNULL(U.LastName,'') 
												from EMP_CTESales T 
												left join usr_User U With(Nolock) on T.UserID = U.ID  for xml path('')),1,1,''),
									@SalesPersonEmail = stuff(( select ',' + Isnull(U.EmailID,'')
												from EMP_CTESales T 
												left join usr_User U With(Nolock) on T.UserID = U.ID  for xml path('')),1,1,'')

				SET @CCEmailIDs =  Isnull(@SalesPersonEmail,'')
				SET @CCEmailName = Isnull(@Sales_Person,'')

				If @Environment = 'Live'
					SET  @ReactURl = 'https://client.uplers.com/'
				ELse IF @Environment = 'QA'
					SET  @ReactURl = 'http://3.82.177.154:85/'
				Else
					SET @ReactURl = 'Localhost:3000/'
								

				IF @POCID > 0
					BEGIN
							SET  @SQLPOCConditional = N'If you need help or have questions, please reach out to our executive ' + @POCName + ' at ' + @POCEmail + '
														<br/>
														<br/>
														We look forward to supporting your hiring journey!
														<br/>
														<br/>
														Thank you for choosing Uplers for your recruiting needs. 
														<br/>
														<br/>
														Warm regards,
														<br/>
														<br/>
														' + Isnull(@POCName,'') + '<br/>
														' + Isnull(@POCDesignation,'') + '<br/>
														' + Isnull(@POCContactNo,'') + '<br/>
														Website : http://www.uplers.com <br/>
														' + Isnull(@POCEmail,'') + '<br/>'

					END
				ELSE
					BEGIN
							SET  @SQLPOCConditional = N'Need assistance or have questions? We''re just an email away.
														<br/>
														<br/>
														We look forward to supporting your hiring journey!
														<br/>
														<br/>
														Thank you for choosing Uplers for your recruiting needs. 
														<br/>
														<br/>
														Warm regards,
														<br/>
														<br/>
														Uplers
														<br/>' 

					END

				Declare @ExpiryDateConditional as Nvarchar(MAX) = '<br/>'
				Declare @AddedTalentConditional as Nvarchar(MAX) = '<br/>'
				IF Isnull(@ExpiryDate,'') <> '' and @EmailType = 'Pause'
					BEGIN
								SET @ExpiryDateConditional= N'<br/>								
								Expiry Date: ' + Isnull(@ExpiryDate,'') + '
								<br/>
								<br/>
								You can reactivate this job anytime before the expiry date by logging into your dashboard.'
					END

				IF Isnull(@ExpiryDate,'') <> '' and @EmailType = 'Active'
					BEGIN
								SET @ExpiryDateConditional= N'<br/>								
								Expiry Date: ' + Isnull(@ExpiryDate,'') + '
								<br/>
								<br/>
								You’ll continue receiving applications from candidates until the job expires or you decide to pause/close it.'
					END

				IF Isnull(@TalentsInAdded,0)<> 0
					BEGIN
								SET @AddedTalentConditional= N'<br/>								
								Total Applications Received: ' + cast(Isnull(@TalentsInAdded,0) as Nvarchar(20)) + ''
					END
				
				IF @EmailType = 'Pause'
					BEGIN
							SET @Subject = N'Your Job Post for ' + Isnull(@RequestForTalent,'') + ' Has Been Paused on Uplers'
							SET @SQL = N'Hello ' + Isnull(@Client,'') + ',
								<br/>
								<br/>								 
								<div style="width:100%">
								We wanted to let you know that your job post for ' + Isnull(@RequestForTalent,'') + ' has been successfully paused. While paused, 
								your job will not be visible to candidates, and no further applications will be received.
								<br/>									
								<br/>
								Here are the details of your paused job:
								<br/>									
								<br/>
								Job ID: ' + Isnull(@HRNumber,'') + '
								<br/>
								Job Title: ' + Isnull(@RequestForTalent,'') + '
								' + @ExpiryDateConditional + '								
								<br/>
								<br/>														
								' + @SQLPOCConditional + '
								<br/>
								<hr>
									We are committed to your privacy.
									You may unsubscribe from these communications at any time.
									For more information, check out our <a class="link" href="https://talent.uplers.com/privacy-policy/" target="_blank">Privacy Policy</a>.
								</div>'

					END
				ELSE IF @EmailType = 'Active'
					BEGIN
							SET @Subject = N'Your Job Post for ' + Isnull(@RequestForTalent,'') + ' Is Now Active on Uplers'
							SET @SQL = N'Hello ' + Isnull(@Client,'') + ',
								<br/>
								<br/>								 
								<div style="width:100%">
								Good news! Your job post for ' + Isnull(@RequestForTalent,'') + ' has been successfully reactivated and is now live again on Uplers.
								<br/>									
								<br/>
								Here are the details of your active job post:
								<br/>									
								<br/>
								Job ID: ' + Isnull(@HRNumber,'') + '
								<br/>
								Job Title: ' + Isnull(@RequestForTalent,'') + '
								' + @ExpiryDateConditional + '
								<br/>
								<br/>
								' + @SQLPOCConditional + '
								<br/>
								<hr>
									We are committed to your privacy.
									You may unsubscribe from these communications at any time.
									For more information, check out our <a class="link" href="https://talent.uplers.com/privacy-policy/" target="_blank">Privacy Policy</a>.
								</div>'
							
					END
				ELSE IF @EmailType = 'Close'
					BEGIN
							SET @Subject = N'Your Job Post for ' + Isnull(@RequestForTalent,'') + ' Has Been Closed on Uplers'
							SET @SQL = N'Hello ' + Isnull(@Client,'') + ',
								<br/>
								<br/>								 
								<div style="width:100%">
								Your job post for ' + Isnull(@RequestForTalent,'') + ' has been successfully closed. No further applications will be received for this position.
								<br/>									
								<br/>
								Here are the details of your closed job:
								<br/>									
								<br/>
								Job ID: ' + Isnull(@HRNumber,'') + '
								<br/>
								Job Title: ' + Isnull(@RequestForTalent,'') + '
								' + @AddedTalentConditional + '
								<br/>
								<br/>	
								If you wish to repost this job in the future, you can do so by logging into your dashboard.
								<br/>
								For any questions or assistance, feel free to contact us. We''re here to support your hiring needs.
								<br/>
								<br/>
								' + @SQLPOCConditional + '
								<br/>
								<hr>
									We are committed to your privacy.
									You may unsubscribe from these communications at any time.
									For more information, check out our <a class="link" href="https://talent.uplers.com/privacy-policy/" target="_blank">Privacy Policy</a>.
								</div>'
							
					END

				
				select	@Subject as [subject],@SQL as Body,@ToEmailID as ToEmailIds,@ToEmailName as ToEmailNames,
						@CCEmailIDs as CCEmailIds,@CCEmailName as CCEmailNames,@POCName as POCName,@POCEmail as POCEmail

		end

END