ALTER PROCEDURE [dbo].[sproc_TalentActiveDeactivate]
@ATS_TalentID bigint ,    
@UTS_TalentID bigint ,  
@EmpID varchar(100)  = NULL,  
@CreatedByDateTime datetime  = NULL,  
@is_deactivated bit ,  
@reason varchar(200) = NULL,  
@description varchar(200) = NULL  
as    
begin     
	DECLARE @UsrUserID AS bigint  
    if @is_deactivated =0 --Active
		Begin
		print 'Active'
			if exists(select 1 from gen_Talent with(nolock) where ATS_Talent_ID = @ATS_TalentID and ID=@UTS_TalentID and isNUll(TalentAccount_Status_ID,0)!=6)
				Begin
					if exists(select 1 from gen_Talent with(nolock) where ATS_Talent_ID = @ATS_TalentID and ID=@UTS_TalentID and ( isNUll(TalentAccount_Status_ID,0)=2 OR TalentAccount_Status_ID IS NULL ))
						Begin

							print 'Active'
							Update gen_Talent set TalentAccount_Status_ID = 4 
								where ID=@UTS_TalentID


								select @UsrUserID=Id from usr_user with(nolock) where EmployeeID=@EmpID;  
    
									INSERT INTO gen_TalentHistory (TalentID,TalentActionID,Name,EmailID,RoleID,ContactNumber,Status,CurrentEmploymentStatus_ID,Talent_TypeID,TalentAccount_Status_ID,TalentCategory,TalentTimeZone_ID,TalentStatusID_AfterClientSelection,Fees,FinalCost,IsTalent,AssociatedwithUplers_ID,Joining_ID,TotalExpYears,TypeofDeveloper,CreatedByID,CreatedByDatetime,HiringRequest_ID,RemarkORReason)    
             
									 SELECT @UTS_TalentID,19,Name,EmailID,RoleID,ContactNumber,Status,CurrentEmploymentStatus_ID,Talent_TypeID,TalentAccount_Status_ID,TalentCategory,TalentTimeZone_ID,TalentStatusID_AfterClientSelection,Fees,FinalCost,1,AssociatedwithUplers_ID,Joining_ID,TotalExpYears,TypeofDeveloper,isnull(@UsrUserID,0),GETDATE(),0,@reason  
									 FROM gen_Talent with(nolock)    
									 WHERE ID = @UTS_TalentID ;    
							select 'Success'
						end
					else
						Begin
							select 'Talent already active.'
						End
				End
			else
			Begin
					select 'Talent not found.'
			End

		end
	if @is_deactivated =1 --Deactive
		Begin
		print 'Deactive'
			if exists(select 1 from gen_Talent with(nolock) where ATS_Talent_ID = @ATS_TalentID and ID=@UTS_TalentID and (TalentAccount_Status_ID!=6 OR TalentAccount_Status_ID IS NULL))
				Begin
					if exists(select 1 from gen_Talent with(nolock) where ATS_Talent_ID = @ATS_TalentID and ID=@UTS_TalentID and ( isNUll(TalentAccount_Status_ID,0)=4 OR TalentAccount_Status_ID IS NULL) )
						Begin
							--if not exists(select 1 from gen_ContactTalentPriority with(nolock) where TalentID = @UTS_TalentID and TalentStatusID_BasedOnHR = 4 )
								if (select count(1) from gen_ContactTalentPriority with(nolock) where TalentID = @UTS_TalentID and TalentStatusID_BasedOnHR = 4 ) = 0
								Begin
								print 'Deactive'
									
									update gen_ContactTalentPriority set   
									OtherRejectReason = @reason,    
									TalentStatusID_BasedOnHR = 5    
									where TalentID = @UTS_TalentID;

									select 'Success'
								end
								
									Update gen_Talent set 
									TalentAccount_Status_ID = 2 
									where ID=@UTS_TalentID;
									
									select @UsrUserID=Id from usr_user with(nolock) where EmployeeID=@EmpID;  
    
									INSERT INTO gen_TalentHistory (TalentID,TalentActionID,Name,EmailID,RoleID,ContactNumber,Status,CurrentEmploymentStatus_ID,Talent_TypeID,TalentAccount_Status_ID,TalentCategory,TalentTimeZone_ID,TalentStatusID_AfterClientSelection,Fees,FinalCost,IsTalent,AssociatedwithUplers_ID,Joining_ID,TotalExpYears,TypeofDeveloper,CreatedByID,CreatedByDatetime,HiringRequest_ID,RemarkORReason)    
             
									 SELECT @UTS_TalentID,18,Name,EmailID,RoleID,ContactNumber,Status,CurrentEmploymentStatus_ID,Talent_TypeID,TalentAccount_Status_ID,TalentCategory,TalentTimeZone_ID,TalentStatusID_AfterClientSelection,Fees,FinalCost,1,AssociatedwithUplers_ID,Joining_ID,TotalExpYears,TypeofDeveloper,isnull(@UsrUserID,0),GETDATE(),0,@reason  
									 FROM gen_Talent with(nolock)    
									 WHERE ID = @UTS_TalentID ;    
   
									select 'Success'
							end
					else
						Begin
							select 'Talent already Deactive.'
						End
				End
			else
			Begin
					select 'Talent not found.'
			End
		end
 
end 
