USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CreateJDFromPrompt_ClientPortal]    Script Date: 10-09-2024 17:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_CreateJDFromPrompt_ClientPortal]
	@ContactID		BIGINT NULL,
	@GUID			NVARCHAR(MAX),
	@JDAvailable	bit = 0,
	@JDText			NVarchar(MAX) = null
AS
BEGIN

		Declare @PromptBody as Nvarchar(MAx) = ''

		Declare @Role as Nvarchar(200) = ''
		Declare @YearsOfExperience as int = 0
		Declare @CompanyName as Nvarchar(200) = ''
		Declare @Companywebsite as Nvarchar(200) = ''
		Declare @CompanyLinkedin as Nvarchar(200) = ''
		Declare @MustHaveskills as Nvarchar(MAx) = ''
		Declare @GoodtoHaveskills as Nvarchar(MAx) = ''
		Declare @Budget as Nvarchar(100) = ''
		Declare @Location as Nvarchar(200) = ''		
		Declare @TimeZone as Nvarchar(200) = ''

		Declare @IsHrExists bit = NULL

		select  @Role = Isnull(RH.RoleName,''),@YearsOfExperience = Isnull(RH.ExperienceYears,0),
				@Location = CASE WHEN RH.WorkingModeID = 1 THEN 'Remote' 
								   WHEN RH.WorkingModeID = 2 THEN 'Hybrid'
								   ELSE RH.CompanyLocation END
		from    gen_RoleAndHiringType_ClientPortal RH WITH(NOLOCK)
		WHERE   RH.ContactId = @ContactID AND RH.GUID = @GUID

		select  @CompanyName = Isnull(CO.Company,''),@Companywebsite = Isnull(Co.website,''),
				@CompanyLinkedin = Isnull(CO.LinkedInProfile,'')
		from    gen_Contact C WITH(NOLOCK) 
				inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
		WHERE   C.ID = @ContactID

		select  @MustHaveskills = Isnull(SB.Skills,''),@GoodtoHaveskills = Isnull(SB.AllSkills,0),
				@Budget = Isnull(SB.Currency,'USD') + ' '  + Cast(Isnull(SB.BudgetFrom,0) as Nvarchar(20)) + ' to ' + Cast(Isnull(SB.BudgetTo,0)  as Nvarchar(20))
		from    gen_SkillAndBudget_ClientPortal SB WITH(NOLOCK)
		WHERE   SB.ContactId = @ContactID AND SB.GUID = @GUID

		select  @TimeZone = Isnull(TZ.TimeZone,'IST') + ' ' +  CASE WHEN ED.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, ED.TimeZone_FromTime) AS TIME), 0)
				ELSE '' END + ' to ' + Isnull(CASE	WHEN ED.TimeZone_EndTime is not null THEN CONVERT(VARCHAR(10),CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, ED.TimeZone_EndTime) AS TIME), 0)
				ELSE ''	END,'NA') 
		from    gen_JobPost_Employment_Details_ClientPortal ED WITH(NOLOCK)
				LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON ED.Timezone_Preference_ID = TZ.ID			
		WHERE   ED.ContactId = @ContactID AND ED.GUID = @GUID

		Declare @JDExample  as Nvarchar(MAX) =  null

		SET   @JDExample = '# Senior Analyst
				Tripadvisor Analytics is seeking a Senior Analyst who can partner with numerous stakeholder teams, provide analytics and measurement expertise across key business categories, and contribute to a growing analytics team dedicated to generating high-quality, actionable data insights. The ideal candidate will have a strong background in data analysis and creating intuitive Tableau dashboards, and maintaining data pipelines. This role is instrumental in empowering our organization with timely, easy-to-read, and efficient data visualizations and insights.

				## Responsibilities

				- **Data Analysis and Insight Generation**
				  - Analyze data to identify trends, patterns, and insights that can drive informed business decisions.
				  - Provide actionable recommendations based on data analysis.
				  - Advise on test design (A/B, multivariate, etc.), analyze test results to measure the impact of Tripadvisor website changes, and make recommendations to stakeholders.
  
				- **Tableau Dashboard Development**
				  - Collaborate with various departments to understand their data visualization needs.
				  - Design and create visually appealing and user-friendly Tableau dashboards.
				  - Ensure the accuracy and efficiency of data presented in dashboards.
  
				- **Data Pipeline Management**
				  - Build and maintain data pipelines to ensure the availability of accurate and up-to-date data.
				  - Troubleshoot data pipeline issues and optimize data flow for efficiency.
				  - Collaborate with data engineers to streamline data extraction, transformation, and loading (ETL) processes.

				- **Documentation**
				  - Document Tableau dashboards, data pipelines, and Python scripts for easy maintenance and knowledge sharing.
  
				- **Collaboration**
				  - Collaborate effectively with cross-functional teams to gather requirements and deliver solutions.

				## Qualifications

				- Bachelor''s Degree, with coursework in an analytical field (math, economics, engineering, statistics, etc) or quantitative research experience.
				- 3+ years of experience in a data analyst position, demonstrating a strong foundation in business intelligence, data analysis and insights generation.
				- Proficiency in SQL for efficient data querying, manipulation, and management to drive accurate and reliable analysis.
				- Strong expertise in data visualization, leveraging tools like Tableau, to create impactful visualizations and effectively communicate insights. Tableau experience is a requirement.
				- Strong proficiency in working with large datasets in cloud environments, utilizing tools like Snowflake to handle and analyze data at scale.
				- Strong analytical and critical thinking abilities to unravel complex patterns and derive meaningful insights from data.
				- Technical aptitude to learn new tools, technologies, and methodologies.
				- Ability to translate complex analysis findings into a clear narrative and actionable insights to communicate to stakeholders.
				- Experience with building ETL pipelines is a plus.
				- Experience with digital and marketing analytics is not required but is a plus.
				- Predictive modeling or machine learning experience is a plus.'

		IF @JDAvailable = 0
			BEGIN

					SET @PromptBody = 'You need to act as a JD creator and accurately use parameters provided below to create an extensive Job description that can directly be used to attract right talents. Please make sure it''s extensive and not shallow. 
								company information for which this job description need to be created:  
								
								Name of Company: ' + Isnull(@CompanyName,'''') + '
								Website of Company: ' + Isnull(@Companywebsite,'''') + '
								Linkedin of Company: ' + Isnull(@CompanyLinkedin,'''') + '
								
								Other details about job is :
								
								Title of Role: '  + Isnull(@Role,'''') + ' 
								Years of Experience: ' + Isnull(cast(@YearsOfExperience as Nvarchar(5)),'''') + '
								Must have Skills: '  + Isnull(@MustHaveskills,'''') + ' 
								Good to have Skills: ' + Isnull(@GoodtoHaveskills,'''') + '
								Budget: ' + Isnull(@Budget,'''') + '
								Location: ' + Isnull(@Location,'''') + ' 
								TimeZone: ' + Isnull(@TimeZone,'''') + '
								
								Instructions:
								Please help create a job description template in proper Json format that can be used directly to be shown to candidates on our websites / app. 
								
								Do not include budget or salary information in the job description output.
								The hiring for this job description can be done by hiring manager based out of India or across the globe while the talent or candidates they would look out for is only from India. 

								 Just for an example, giving what I feel is an extensive job description. Study following example Mark Down Format and generate similar mark down format of Job Description and convert it into HTML tags and wrap it over Json format. 
								 While wrapping in HTML/CSS please do not use any background colour behind the text. 
								
								 Example : ' + @JDExample  + '
								 Provide your final result inside <result> tags and 
								 Outcome to be as the following JSON structure:   
								 <json_structure>
								``json
									{   
										"JobDescription" : string 
									} 
								``
								 </json_structure>
								 can you confirm if you have generated output in JSON format? If No then Process Above Prompt Request Again and Give Result in 
								 Expected <json_structure>'

								

			END
		ELSE
			BEGIN
					SET @PromptBody = 'Introduction: You need to act as a JD parser and accurately parse parameters provided in Job description
					                   Instructions: As a JD parser you need to divide the entire content into major areas mentioned below to store in our database. Please help create a job description template with proper Json formatting that can be used to promote to attract right candidates for this opportunity.:
									   Company details: 
									   Name of Company: ' + Isnull(@CompanyName,'''') + '
									   Website of Company: ' + Isnull(@Companywebsite,'''') + '
									   Linkedin of Company: ' + Isnull(@CompanyLinkedin,'''') + '
									   Areas are as below: 
										```{             
												`Years_of_Experience_Required` : integer,             
												`Salary_Currency` : `Get Currency of Salary if mentioned`,             
												`Working_Zone_With_Time_Zone` : `Get Working Zone with Time and Time Zone`,             
												`Type_Of_Job` : `Either ''Part Time'' or ''Full Time''`,             
												`Opportunity_Type` : `whether the job is ''Remote'' or ''Hybrid'' or ''On Site''`,             
												`Must_have_Skills` : `Include comma separated Primary or must have skills only. Also consider parsing from Roles and Responsibilities and Requirements.Maximum 5 only.`,             
												`Title` : `Job Title`,              
												`good_to_have_skills` : `Include comma separated Skills Based on Job Title, consider those who are good to have only. It should not contain repetitive skills parsed in Skills property above`,             
												}```
						Specific Requests or Queries:        
						If the any of the above field is not provided in the given Job description you can generate on the basis of your knowledge.                  
						Years of experience above has to be returned as a specific `Years_of_Experience_Required`, not instruction text.
						If  `Years_of_Experience_Required` mentioned in Range then must return minimum value from range. If you cannot find in the job description, use the best value that suits this role and job.                          
						Please provided an outcome only in Json with its Properties.   
						Try not to use phrases while selecting `Must_have_Skills` and `good_to_have_skills`. Only use technical skills.
						Do not Add Here is the job description template in JSON format for the role and also do not add json with unnecessary quotes in output.        
						Return Properties name as mentioned as above.
						While parsing please remove special character "?" And "`" from output And also "-" is coming properly in `Title`.

						You are tasked with extracting the `good_to_have_skills` and `Must_have_Skills` from a job description. Follow these instructions:
						
						`Must_have_Skills`:
							Include only primary or essential technical skills.
							Focus on specific technologies, tools, and programming languages mentioned under roles, responsibilities, and requirements.
							Avoid general phrases or soft skills.
							Select only the top 8 most relevant skills.
						
						`good_to_have_skills`:
							Include secondary or nice-to-have technical skills.
							Ensure these skills are not repetitive of those listed in Must_have_Skills.
							Look for additional technical skills that might be beneficial for the role but are not strictly necessary.
						
						Provide your final result inside <result> tags and 
								 Outcome to be as the following JSON structure:   
								 <json_structure>
								``json
									{   
										"JobDescription" : string 
									} 
								``
								 </json_structure>
								 can you confirm if you have generated output in JSON format? If No then Process Above Prompt Request Again and Give Result in 
								 Expected <json_structure>

						Data/Content to Use:
						Job description: ' + Isnull(@JDText,'''') + ''

			END
		

			--Check if the HR exists in the main table 
			IF EXISTS(SELECT 1 FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE GUID = @GUID AND ContactID = @ContactID)
				SET @IsHrExists = 1
			ELSE
				SET @IsHrExists = 1

			select @PromptBody as PromptBody, @IsHrExists AS IsHrExists

			--Remove this line from output : Here is the job description template in JSON format for the role:
			--			Remove this line from output : Here is the job description parsed in JSON format:
			--			Remove this line from output : Here is the job description parsed in JSON format:
END
