ALTER PROCEDURE [dbo].[Sproc_HR_POC_ClientPortal]
  @ClientID					bigint = 0,
  @GUID						Nvarchar(50) = null,
  @HRID						bigint = 0,
  @ContactIDs				NVARCHAR(Max) = null,
  @TobeRemovedContactID     bigint = 0,
  @IsAdd					bit
AS
BEGIN
--exec [Sproc_HR_POC_ClientPortal] @HRID = 22098, @ContactIDs = '1185&1&0^1186&1&0^1189&0&1^1191&1&0^1193&1&0^1151&0&1^1135&1&0^1127&1&0^1108&0&1^1186&1&0^1186&1&0^', @IsAdd = 1
--exec [Sproc_HR_POC_ClientPortal] @HRID = 22098, @ContactIDs = '2387&1&1^5898&0&1^6980&1&0^', @IsAdd = 1
	DECLARE @HR_ContactID bigint = 0
	
	IF(ISNULL(@HRID,0) = 0)
	BEGIN
		SELECT TOP 1 @HRID = ID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE Guid = @GUID
	END

	SELECT TOP 1 @HR_ContactID = ContactID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID

	----------------------------------------------------------------------------------------------------------------
	IF(@IsAdd = 1) AND ISNULL(@ContactIDs,'') <> ''
	BEGIN
			-- Replace True with 1
			SET @ContactIDs = REPLACE(@ContactIDs, 'True', '1');

			-- Replace False with 0
			SET @ContactIDs = REPLACE(@ContactIDs, 'False', '0');

			print @ContactIDs
			-- Create a temporary table to store the parsed Contactid & ShowEmailToTalent ShowContactNumberToTalent from ContactIDs
			CREATE TABLE #TempContactIDs (
				Contactid BIGINT,
				ShowEmailToTalent BIT,
				ShowContactNumberToTalent BIT
			);

			-- Variables to help parse the @ContactIDs string
			DECLARE @Pos INT, @NextPos INT, @Segment NVARCHAR(MAX);

			SET @Pos = 1;
			SET @NextPos = CHARINDEX('^', @ContactIDs, @Pos);

			-- Loop through the string and parse each segment
			WHILE @NextPos > 0
			BEGIN
				SET @Segment = SUBSTRING(@ContactIDs, @Pos, @NextPos - @Pos);
        
				-- Check if Contactid is already in the temporary table
				IF NOT EXISTS (SELECT 1 FROM #TempContactIDs WHERE Contactid = CAST(PARSENAME(REPLACE(@Segment, '&', '.'), 3) AS BIGINT))
				BEGIN
					-- Insert parsed values into the temporary table
					INSERT INTO #TempContactIDs (Contactid, ShowEmailToTalent, ShowContactNumberToTalent)
					SELECT 
						CAST(PARSENAME(REPLACE(@Segment, '&', '.'), 3) AS BIGINT),
						CAST(PARSENAME(REPLACE(@Segment, '&', '.'), 2) AS BIT),
						CAST(PARSENAME(REPLACE(@Segment, '&', '.'), 1) AS BIT);
				END

				-- Move to the next position
				SET @Pos = @NextPos + 1;
				SET @NextPos = CHARINDEX('^', @ContactIDs, @Pos);
			END

			-- Handle the last segment (or the only one if there are no '^' characters)
			IF @Pos <= LEN(@ContactIDs)
			BEGIN
				SET @Segment = SUBSTRING(@ContactIDs, @Pos, LEN(@ContactIDs) - @Pos + 1);
        
				-- Check if Contactid is already in the temporary table
				IF NOT EXISTS (SELECT 1 FROM #TempContactIDs WHERE Contactid = CAST(PARSENAME(REPLACE(@Segment, '&', '.'), 3) AS BIGINT))
				BEGIN
					-- Insert parsed values into the temporary table
					INSERT INTO #TempContactIDs (Contactid, ShowEmailToTalent, ShowContactNumberToTalent)
					SELECT 
						CAST(PARSENAME(REPLACE(@Segment, '&', '.'), 3) AS BIGINT),
						CAST(PARSENAME(REPLACE(@Segment, '&', '.'), 2) AS BIT),
						CAST(PARSENAME(REPLACE(@Segment, '&', '.'), 1) AS BIT);
				END
			END
			-- Now you can use the #TempContactIDs table in your procedure
			-- For example:
			--SELECT * FROM #TempContactIDs;

			DELETE FROM gen_SalesHRWise_ContactIDforATS WHERE HiringRequest_ID = @HRID OR GUID = @GUID

			INSERT INTO gen_SalesHRWise_ContactIDforATS
			(
				HiringRequest_ID, 
				HRWise_ContactID, 
				ShowEmailToTalent, 
				ShowContactNumberToTalent, 
				GUID
			)
			SELECT 
				@HRID, 
				tp.Contactid,
				tp.ShowEmailToTalent,
				tp.ShowContactNumberToTalent,
				@GUID
			FROM #TempContactIDs tp

			-- Drop the temporary table
			DROP TABLE #TempContactIDs;

			--INSERT INTO gen_SalesHRWise_ContactIDforATS(HiringRequest_ID,	HRWise_ContactID,	GUID)
			--SELECT @HRID, CAST(Item AS Nvarchar(200)), @GUID
			--FROM dbo.SplitString(@ContactIDs, ',')
	END		
	----------------------------------------------------------------------------------------------------------------

	----Delete POC from HR level
	IF(@IsAdd = 0 AND @TobeRemovedContactID <> 0)
	BEGIN
		DELETE FROM gen_SalesHRWise_ContactIDforATS WHERE (HiringRequest_ID = @HRID OR GUID = @GUID) AND HRWise_ContactID = @TobeRemovedContactID
	END

	----------------------------------------------------------------------------------------------------------------

	--Get call for updated list
	IF(ISNULL(@HRID,0) > 0)
	BEGIN
		SELECT HiringRequestId = HiringRequest_ID, HrwiseContactId = HRWise_ContactID,GUID 
		,C.FullName, C.EmailID, C.ContactNo, SC.ShowEmailToTalent, SC.ShowContactNumberToTalent,
		IsDefaultUser = CASE WHEN SC.HRWise_ContactID = @HR_ContactID THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
		IInfoMsg = 
		CASE 
			WHEN @ClientID = @HR_ContactID 
			THEN 'You cannot delete this user because you are the default user of this job post. You can choose to show or hide your information from the candidates using the checkbox below.' 
			ELSE 'You cannot delete this user because this is the default user of this job post. You can choose to show or hide the information from the candidates using the checkbox below.'  
		END
		FROM gen_SalesHRWise_ContactIDforATS SC WITH(NOLOCK) 
		INNER JOIN gen_contact C WITH(NOLOCK) ON SC.HRWise_ContactID = C.ID
		WHERE  HiringRequest_ID = @HRID
	END
	ELSE
	BEGIN
		SELECT HiringRequestId = ISNULL(HiringRequest_ID, @HRID), 
		HrwiseContactId = HRWise_ContactID,GUID 
		,C.FullName, C.EmailID, C.ContactNo, SC.ShowEmailToTalent, SC.ShowContactNumberToTalent,
		IsDefaultUser = CASE WHEN SC.HRWise_ContactID = @HR_ContactID THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
		IInfoMsg = 
		CASE 
			WHEN @ClientID = @HR_ContactID 
			THEN 'You cannot delete this user because you are the default user of this job post. You can choose to show or hide your information from the candidates using the checkbox below.' 
			ELSE 'You cannot delete this user because this is the default user of this job post. You can choose to show or hide the information from the candidates using the checkbox below.'  
		END
		FROM gen_SalesHRWise_ContactIDforATS SC WITH(NOLOCK) 
		INNER JOIN gen_contact C WITH(NOLOCK) ON SC.HRWise_ContactID = C.ID
		WHERE GUID = CASE WHEN ISNULL(@GUID,'') <> '' THEN @GUID ELSE GUID END	
	END

	----------------------------------------------------------------------------------------------------------------

END

