ALTER PROCEDURE [dbo].[sproc_UTS_UpdatePartnershipDetails_ForHR]
@HRID				BIGINT			= NULL,
@CONTACTID			BIGINT			= NULL,
@LOGGEDINUSERID		BIGINT			= NULL,
@CHILDCOMPANYNAME	NVARCHAR(300)	= NULL
AS
BEGIN

	DECLARE @IsPartnerUser bit = 0;
	DECLARE @ChildCompany_ContactID bigint = 0;
	DECLARE @COMPANYID bigint = 0;
	DECLARE @CHILDCOMPANYID bigint = 0;

	IF EXISTS (select 1 from gen_SalesHiringRequest with(nolock) where ID = @HRID)
	BEGIN	
		SET @COMPANYID = ISNULL((
							select	
							top 1	COM.ID 
							from	gen_Company COM with(nolock) 
									INNER JOIN gen_Contact CO with(nolock) 
									on CO.CompanyID = COM.ID
							where	CO.ID = @CONTACTID
							),0);

		IF @COMPANYID > 0 
		BEGIN

			SET @CHILDCOMPANYID = ISNULL((select top 1 ID from gen_Company with(nolock) where ParentCompanyID = @COMPANYID and ltrim(rtrim(Company)) = ltrim(rtrim(@CHILDCOMPANYNAME))),0);
			

			IF @CHILDCOMPANYID = 0 AND @CHILDCOMPANYNAME <> ''
			BEGIN
				
				INSERT INTO gen_Company(Company,CreatedByID,CreatedByDatetime,ParentCompanyID)
					SELECT @CHILDCOMPANYNAME, @LOGGEDINUSERID, GETDATE(), @COMPANYID;

				SET @CHILDCOMPANYID = @@IDENTITY;

				

				UPDATE	gen_SalesHiringRequest
				SET		ChildCompanyID	= @CHILDCOMPANYID,
						ChildContactID	= @ChildCompany_ContactID,
						IsPartnerHR		= 1
				WHERE	ID = @HRID;
			END
			ELSE
			BEGIN

				SET @ChildCompany_ContactID = ISNULL((select ID from gen_Contact with(nolock) where CompanyID = @CHILDCOMPANYID and ID = @CONTACTID),0);

				UPDATE	gen_SalesHiringRequest
				SET		ChildCompanyID = @CHILDCOMPANYID,
						ChildContactID	= @ChildCompany_ContactID,
						IsPartnerHR	= 1
				WHERE	ID = @HRID;
			END
		END
		ELSE
		BEGIN
			UPDATE	gen_SalesHiringRequest
			SET		IsPartnerHR	= 0
			WHERE	ID = @HRID;
		END
	END
END