ALTER PROCEDURE [dbo].[Sproc_UTSAdmin_EditHrByATS] 
@HrId						BIGINT			= NULL,
@ContactId 					BIGINT			= NULL,
@Availability				NVARCHAR(200)	= NULL,
@ContractDuration			INT				= NULL,
@Currency					NVARCHAR(50)	= NULL,
@AdhocBudgetCost			DECIMAL(18,2)	= NULL,
@MinimumBudget				DECIMAL(18,2)	= NULL,
@MaximumBudget				DECIMAL(18,2)	= NULL,
@IsConfidentialBudget		BIT				= NULL,
@ModeOfWorkingId			INT				= NULL,
@City						NVARCHAR(200)	= NULL,
@Country					NVARCHAR(200)	= NULL,
@JDFilename					NVARCHAR(400)	= NULL,
@JDURL						NVARCHAR(MAX)	= NULL,
@YearOfExp					DECIMAL(18,2)	= NULL,
@NoofTalents				INT				= NULL,
@TimezoneId					INT				= NULL,
@TimeZoneFromTime			NVARCHAR(200)	= NULL,
@TimeZoneEndTime			NVARCHAR(200)	= NULL,
@HowSoon					NVARCHAR(400)	= NULL,
@PartialEngagementTypeID	INT				= NULL,
@NoofHoursworking			INT				= NULL,
@DurationType				NVARCHAR(50)	= NULL,
@HrTitle					NVARCHAR(200)	= NULL,
@RoleAndResponsibilites		NVARCHAR(MAX)	= NULL,
@Requirements				NVARCHAR(MAX)	= NULL,
@JobDescription				NVARCHAR(MAX)	= NULL,
@MustHaveSkills				NVARCHAR(MAX)	= NULL,
@GoodToHaveSkills			NVARCHAR(MAX)	= NULL,
@IsHrfocused				BIT				= NULL,
@IsHRTypeDP					BIT				= NULL,
@DpPercentage				DECIMAL(18,2)	= NULL,
@NRMargin					DECIMAL(18,2)	= NULL,
@IsTransparentPricing		BIT				= NULL,
@HrTypePricingId			INT				= NULL,
@PayrollTypeId				INT				= NULL,
@PayrollPartnerName			NVARCHAR(300)	= NULL,
@IsVettedProfile			BIT				= NULL,
@IsHiringLimited			BIT				= NULL,
@LastModifiedById			INT				= NULL,
@JobTypeId					INT				= NULL,
@CompensationOption			NVARCHAR(MAX)	= NULL,
@IndustryType				NVARCHAR(MAX)	= NULL,
@HasPeopleManagementExp		BIT				= NULL,
@Prerequisites				NVARCHAR(MAX)	= NULL,
@JobLocation				NVARCHAR(500)	= null,
@FrequencyOfficeVisitID		Int				= 0,
@IsOpenToWorkNearByCities	bit				= 0,
@NearByCities				Nvarchar(Max)	= null,
@ATS_JobLocation			bigint			= 0,
@ATS_NearByCities			Nvarchar(Max)	= null
AS
BEGIN
	DECLARE
	@FormattedBudgetFrom NVARCHAR(MAX) = '',
	@FormattedBudgetTo NVARCHAR(MAX) = '',
	@FormattedAdhocBudget NVARCHAR(MAX) = '',
	@HRTypeID  INT

	DECLARE @IsDPHR BIT = 0
	DECLARE @PerMonth NVARCHAR(50) = ' / Month';
	DECLARE @PerAnnum NVARCHAR(50) = '  / Annum';

	IF EXISTS (SELECT TOP 1 ID FROM gen_SalesHiringRequest WHERE ID = @HrId)
	BEGIN
		DECLARE @Cost NVARCHAR(500) = NULL,
					@RoleID BIGINT = NULL

			DECLARE @WorkingMode NVARCHAR(100)
			SELECT @WorkingMode = ModeOfWorking FROM prg_ModeOfWorking WITH(NOLOCK) WHERE ID = @ModeOfWorkingId

			SELECT 
			@IsDPHR = ISNULL(@IsHRTypeDP,IsHRTypeDP),
			@HRTypeID = H.HRTypeId
			FROM gen_SalesHiringRequest H WITH (NOLOCK) where ID = @HrId

			---Convert into proper formatting for budget (Riya - 20 May-2024)
			SELECT @FormattedBudgetFrom = format(@MinimumBudget, N'N', Culture), 
				   @FormattedBudgetTo = format(@MaximumBudget, N'N', Culture),
				   @FormattedAdhocBudget = format(@AdhocBudgetCost, N'N', Culture)
			FROM prg_CurrencyExchangeRate WITH(NOLOCK) WHERE CurrencyCode = @Currency

			--Range budget
			IF(ISNULL(@MinimumBudget,0) >  0 AND ISNULL(@MaximumBudget,0) > 0)
			BEGIN
				SET @Cost = (
								SELECT IIF
										(
											ISNULL(@MinimumBudget,0) = 0, 
											@FormattedBudgetFrom,
											CAST(CurrencySign AS NVARCHAR) + ' ' + @FormattedBudgetFrom
										) 
										+ ' to ' +  
										CAST(CurrencySign AS NVARCHAR) + ' ' + 
										@FormattedBudgetTo + ' ' + @Currency + IIF(ISNULL(@IsDPHR,0) = 1, @PerAnnum, @PerMonth)
										FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
							)
							SET	@AdhocBudgetCost = 0
			END
			--Adhoc Budget
			IF(ISNULL(@AdhocBudgetCost,0) >  0)
			BEGIN
				SET @Cost = (
								SELECT IIF
										(
											ISNULL(@AdhocBudgetCost,0) = 0, 
											@FormattedAdhocBudget,
											+ 'Upto ' + CAST(CurrencySign AS NVARCHAR) + ' ' + 
											@FormattedAdhocBudget + ' ' + @Currency + IIF(ISNULL(@IsDPHR,0) = 1, @PerAnnum, @PerMonth)										
										) 
										FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
							)
				SET @MinimumBudget = 0 
				SET	@MaximumBudget = 0 
			END

			--RoleID based on HR Title
			IF (@HrTitle <> NULL OR @HrTitle <> '')
			BEGIN
				SET @RoleID  = (SELECT TOP 1 ID FROM prg_TalentRoles with(NoLock) WHERE TalentRole = @HrTitle)
			END
			--If not exist then need to create new role in Master 
			IF ((@HrTitle <> NULL OR @HrTitle <> '') AND ISNULL(@RoleID,0) = 0)
			BEGIN		
			
				PRINT @HrTitle
				SELECT  
				TOP 1   @RoleID = FT_TBL.ID  
				FROM    prg_TalentRoles AS FT_TBL with(nolock)  
						INNER JOIN FREETEXTTABLE(prg_TalentRoles,TalentRole,@HrTitle,LANGUAGE N'English') AS KEY_TBL  
						ON FT_TBL.ID = KEY_TBL.[KEY] ORDER BY RANK desc

				IF(ISNULL(@RoleID,0) = 0)
					BEGIN	
					
						--As per Bhuvan sir's instruction in SP 24 planning call 27-11-23

						INSERT INTO prg_TalentRoles
						(
							TalentRole,
							IsActive,
							IsAdhoc,
							CreatedbyDatetime,
							ModIFyByID,
							FrontIconImage
						)
						VALUES
						(
							@HrTitle,
							1,
							1,
							GETDATE(),
							@LastModifiedById,
							'default-role-icon.png'
						)

						SET @RoleID = @@IDENTITY 
				  END
			END


			--Added By Jimit 08-05-2024  
			Declare @HiringRequestHisotoryID as bigint = 0
			DEclare @HRDetailID as bigint = 0
			Declare @HRDetailHisotoryID as bigint = 0

			select @HRDetailID = ID from gen_SalesHiringRequest_Details WITH(NOLOCK) WHERE HiringRequest_ID = @HrId

			Insert into gen_SalesHiringRequest_History(HiringRequest_ID,ContactID,LastModifiedByID,LastModifiedDatetime
											,Availability,IsCreatedByClient,IsActive,AppActionDoneBy,JDFilename,JDURL,NoofTalents,NoofHoursworking,
											DPPercentage,IsHRTypeDP,IsTransparentPricing,PayrollTypeId,PayrollPartnerName,PartialEngagementType_ID,
											IsVettedProfile,IsHiringLimited,HR_TypeId,HistoryDate,
											HiringTypePricingId,ModeOfWork,City,Country,
											JobLocation,FrequencyOfficeVisitID,IsOpenToWorkNearByCities,NearByCities,ATS_JobLocationID,ATS_NearByCities)
			--Values(@HrId,@ContactID,@ContactID,Getdate(),@Availability,1,1,3,@JDFilename,@JddumpId,@JDURL,@NoofTalents,@NoofHoursworking,@Discovery_Call,
			--@DpPercentage,@IsHRTypeDP,@IsTransparentPricing,@PayrollTypeId,@PayrollPartnerName,@PartialEngagementTypeID,@IsVettedProfile,@IsHiringLimited,
			--IIF(ISNULL(@IsHRTypeDP, 0) = 1, 1, 2),@IsDirectHR,@Bqlink,@DealID,@ChildCompanyName)
			SELECT @HrId,
			       ContactID = Case when ContactID <> @ContactID then @ContactID else null end,
			       LastModifiedByID = @LastModifiedById,
				   Getdate(),
				   HRAvailability = Case when Availability <> @Availability then @Availability else null end,
				   1,1,2,
				   JDfile = Case when JDFilename <> @JDFilename then @JDFilename else null end,
				   JDURL = Case when JDURL <> @JDURL then @JDURL else null end,
				   NoofTalents = Case when NoofTalents <> @NoofTalents then @NoofTalents else null end,
				   NoofHoursworking = Case when NoofHoursworking <> @NoofHoursworking then @NoofHoursworking else null end,
				   DPPercentage = Case when DPPercentage <> @DpPercentage then @DpPercentage else null end,
				   IsHRTypeDP = Case when IsHRTypeDP <> @IsHRTypeDP then @IsHRTypeDP else null end,				  
				   IsTransparentPricing = Case when IsTransparentPricing <> @IsTransparentPricing then @IsTransparentPricing else null end,
				   PayrollTypeId = Case when PayrollTypeId <> @PayrollTypeId then @PayrollTypeId else null end,
				   PayrollPartnerName = Case when PayrollPartnerName <> @PayrollPartnerName then @PayrollPartnerName else null end,
				   PartialEngagementType_ID = Case when PartialEngagementType_ID <> @PartialEngagementTypeID then @PartialEngagementTypeID else null end,
				   IsVettedProfile = Case when IsVettedProfile <> @IsVettedProfile then @IsVettedProfile else null end,
				   IsHiringLimited = Case when IsHiringLimited <> @IsHiringLimited then @IsHiringLimited else null end,
				   HR_TypeId = Case when HR_TypeId <> IIF(ISNULL(@IsHRTypeDP, 0) = 1, 1, 2) then IIF(ISNULL(@IsHRTypeDP, 0) = 1, 1, 2) else null end,
				   Getdate(),
				   HiringTypePricingId = case when HiringTypePricingId <> @HrTypePricingId then @HrTypePricingId else null end,
				   ModeOfWork = case when Isnull(ModeOfWork,'') <> @WorkingMode then @WorkingMode else null end,
				   City = case when Isnull(City,'') <> Isnull(@JobLocation,@City) then Isnull(@JobLocation,@City) else null end,
				   Country = case when Isnull(Country,'') <> @Country then @Country else null end,
				   
				   JobLocation = case when Isnull(JobLocation,'') <> @JobLocation then @JobLocation else null end,
				   FrequencyOfficeVisitID = case when  Isnull(FrequencyOfficeVisitID,0) <> @FrequencyOfficeVisitID then @FrequencyOfficeVisitID else null end,
				   IsOpenToWorkNearByCities = case when IsOpenToWorkNearByCities <> @IsOpenToWorkNearByCities then  @IsOpenToWorkNearByCities  else null end,
				   NearByCities = case when Isnull(NearByCities,'') <> @NearByCities then @NearByCities else null end,
				   ATS_JobLocationID = case when  Isnull(ATS_JobLocationID,0) <> @ATS_JobLocation then @ATS_JobLocation else null end,
				   ATS_NearByCities = case when Isnull(ATS_NearByCities,'') <> @ATS_NearByCities then @ATS_NearByCities else null end
			
			FROM   gen_SalesHiringRequest H WITH(NOLOCK) 
			left join gen_Direct_Placement D WITH(NOLOCK) ON D.HiringRequest_Id = H.ID
			WHERE H.ID = @HrId 

			--SET @HiringRequestHisotoryID = @@IDENTITY
			SET @HiringRequestHisotoryID = SCOPE_IDENTITY()

			Insert into gen_SalesHiringRequest_Details_History(HiringRequest_ID,Duration,DurationType,Cost,YearOfExp,HowSoon,Timezone_ID
							,LastModifiedByID,LastModifiedDatetime,TimeZone_FromTime,TimeZone_EndTime,BudgetFrom,BudgetTo,Currency,AppActionDoneBy,PartialEngagementType_ID,
							Adhoc_BudgetCost,IsConfidentialBudget,HistoryDate)
			--Values(@HrId,@ContractDuration,@DurationType,@Cost,@YearOfExp,@HowSoon,
			--	@TimezoneID,@ContactID,GetDate(),@TimeZoneFromTime,@TimeZoneEndTime,@MinimumBudget,@MaximumBudget,@Currency,3,@PartialEngagementTypeID,
			--	@AdhocBudgetCost,@IsConfidentialBudget,@OverlapingHours, @IsFresherAllowed)
			SELECT @HrId,
				   Duration = Case when Duration <> @ContractDuration then @ContractDuration else null end,
				   DurationType = Case when DurationType <> @DurationType then @DurationType else null end,
				   Cost = Case when Cost <> @Cost then @Cost else null end,
				   YearOfExp = Case when YearOfExp <> @YearOfExp then @YearOfExp else null end,
				   HowSoon = Case when HowSoon <> @HowSoon then @HowSoon else null end,
				   Timezone_ID = Case when Timezone_ID <> @TimezoneID then @TimezoneID else null end,
				   @LastModifiedById,GetDate(),
				   TimeZone_FromTime = Case when TimeZone_FromTime <> @TimeZoneFromTime then @TimeZoneFromTime else null end,
				   TimeZone_EndTime = Case when TimeZone_EndTime <> @TimeZoneEndTime then @TimeZoneEndTime else null end,
				   BudgetFrom = Case when BudgetFrom <> @MinimumBudget then @MinimumBudget else null end,
				   BudgetTo = Case when BudgetTo <> @MaximumBudget then @MaximumBudget else null end,
				   Currency = Case when Currency <> @Currency then @Currency else null end,
				   2,
				   PartialEngagementType_ID = Case when PartialEngagementType_ID <> @PartialEngagementTypeID then @PartialEngagementTypeID else null end,
				   Adhoc_BudgetCost = Case when Adhoc_BudgetCost <> @AdhocBudgetCost then @AdhocBudgetCost else null end,
				   IsConfidentialBudget = Case when IsConfidentialBudget <> @IsConfidentialBudget then @IsConfidentialBudget else null end,
				   getdate()
			FROM gen_SalesHiringRequest_Details WITH(NOLOCK) WHERE ID = @HRDetailID 

				--SET @HRDetailHisotoryID = @@IDENTITY
				SET @HRDetailHisotoryID = SCOPE_IDENTITY()

			END


			---


			--update in gen_SalesHiringRequest
			UPDATE gen_SalesHiringRequest
			SET
			RequestForTalent = ISNULL(@HrTitle, RequestForTalent),
			Availability = ISNULL(@Availability, Availability),
			JDFilename = ISNULL(@JDFileName, JDFilename),
			JDURL = ISNULL(@JDURL, JDURL),
			NoofTalents = ISNULL(@NoOfTalents, NoofTalents),
			PartialEngagementType_ID = ISNULL(@PartialEngagementTypeId, PartialEngagementType_ID),
			NoofHoursworking = ISNULL(@NoofHoursworking, NoofHoursworking),
			IsHrtypeDp = ISNULL(@IsHrtypeDp, IsHrtypeDp),
			DpPercentage = ISNULL(@DPPercentage, DPPercentage),
			TalentCostCalcPercentage = ISNULL(@NRMargin, TalentCostCalcPercentage),
			IsTransparentPricing = ISNULL(@IsTransparentPricing, IsTransparentPricing),
			HiringTypePricingId = ISNULL(@HrTypePricingId, HiringTypePricingId),
			PayrollTypeId = ISNULL(@PayrollTypeId, PayrollTypeId),
			PayrollPartnerName = ISNULL(@PayrollPartnerName, PayrollPartnerName),
			IsVettedProfile = ISNULL(@IsVettedProfile, IsVettedProfile),
			IsHiringLimited = ISNULL(@IsHiringLimited, IsHiringLimited),
			LastModifiedByID = ISNULL(@LastModifiedById, LastModifiedByID),
			LastModifiedDatetime = GETDATE(),
			JobTypeID = ISNULL(@JobTypeId,JobTypeID)
			WHERE ID = @HrId

			--Update data in gen_SalesHiringRequest_Details
			UPDATE gen_SalesHiringRequest_Details
		    SET 
			SpecIFicMonth = ISNULL(@ContractDuration, SpecIFicMonth),
			Currency = ISNULL(@Currency, Currency),
			BudgetFrom = ISNULL(@MinimumBudget, BudgetFrom),
			BudgetTo = ISNULL(@MaximumBudget, BudgetTo),
			Adhoc_BudgetCost = ISNULL(@AdhocBudgetCost, Adhoc_BudgetCost),
			Cost = ISNULL(@Cost, Cost),
			IsConfidentialBudget = ISNULL(@IsConfidentialBudget, IsConfidentialBudget),
			YearOfExp = ISNULL(@YearOfExp, YearOfExp),
			Timezone_ID = ISNULL(@TimeZoneID, Timezone_ID),
			TimeZone_FromTime = ISNULL(@TimeZoneFromTime, TimeZone_FromTime),
			TimeZone_EndTime = ISNULL(@TimeZoneEndTime, TimeZone_EndTime),
			HowSoon = ISNULL(@HowSoon, HowSoon),
			DurationType = ISNULL(@DurationType, DurationType),
			Role_ID = ISNULL(@RoleID, @RoleID),
			RolesResponsibilities = ISNULL(@RoleAndResponsibilites, RolesResponsibilities),
			Requirement = ISNULL(@Requirements, Requirement),
			JobDescription = ISNULL(@JobDescription, JobDescription),
			IsHrfocused = ISNULL(@IsHrfocused, IsHrfocused),
			LastModifiedByID = ISNULL(@LastModifiedById, LastModifiedByID),
			LastModifiedDatetime = GETDATE()
			WHERE HiringRequest_ID = @HrId
			
			

			DECLARE @CountryText NVARCHAR(200)

			IF @Country <> '' AND @Country IS NOT NULL
			BEGIN
				IF EXISTS (SELECT TOP 1 ID from prg_CountryRegion WHERE Country = @Country)
				BEGIN
					SET @CountryText = (SELECT TOP 1 CAST(ID AS NVARCHAR(200)) FROM prg_CountryRegion WHERE Country like '%' + @Country + '%')
				END
				ELSE
				BEGIN
					SET @CountryText = '0'
				END
			END

			--update data in gen_Direct_Placement
			UPDATE  gen_Direct_Placement
			SET
			ModeOfWork = ISNULL(@WorkingMode, ModeOfWork),
			City = ISNULL(@City, City),
			Country = ISNULL(@CountryText, Country),
			JobLocation = Isnull(@JobLocation,JobLocation),
			FrequencyOfficeVisitID = ISNULL(@FrequencyOfficeVisitID,FrequencyOfficeVisitID),
			IsOpenToWorkNearByCities = ISNULL(@IsOpenToWorkNearByCities,IsOpenToWorkNearByCities),
			NearByCities = ISNULL(@NearByCities,NearByCities),
			ATS_JobLocationID = ISNULL(@ATS_JobLocation,ATS_JobLocationID),
			ATS_NearByCities = ISNULL(@ATS_NearByCities,ATS_NearByCities),
			ModIFiedById = ISNULL(@LastModifiedById, ModIFiedById),
			ModIFiedByDateTime = GETDATE()
			WHERE HiringRequest_Id = @HrId

			--update @MustHaveSkills & @GoodToHaveSkills
			IF(@MustHaveSkills IS NOT NULL OR @GoodToHaveSkills IS NOT NULL)
			BEGIN

				DECLARE @JDDUMPID BIGINT = 0;
				SET @JDDUMPID = (SELECT ISNULL(JDDump_ID, 0) FROM gen_SalesHiringRequest WHERE ID = @HrId)

				EXEC Sproc_DumpJDDetailsintoTempTable_ClientPortal 
						@ContactId      = @ContactId,              
						@TimeZone       = NULL,              
						@JDRole         = NULL,               
						@JDDescription  = NULL,              
						@JDSkills       = @MustHaveSkills,      
						@HowSoon        = @HowSoon,              
						@HowLong        = NULL,              
						@YearsOfExp     = @YearOfExp,              
						@Qty			= @NoOfTalents,              
						@JDTools        = NULL,              
						@JDFileName     = @JDFileName,              
						@JDDetails      = NULL,        
						@YesWithIsNext  = 0,              
						@InsertedID     = @JDDUMPID,  
						@JDAllSkills    = @GoodToHaveSkills,  
						@IsAdmin        = 1,  
						@RolesResponsibilities  = @RoleAndResponsibilites,  
						@Requirement    = @Requirements,
						@HR_ID = @HrId
			 END

			 DECLARE @HRGuid NVARCHAR(500) = NULL

			SET @HRGuid = (SELECT TOP 1 GUID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HrId)

			 --Update VitalInfo
			 IF NOT EXISTS(SELECT 1 FROM gen_JobPost_VitalInfo_ClientPortal WITH(NOLOCK) WHERE HRID = @HrId  OR GUID = @HRGuid)
				BEGIN
					INSERT INTO gen_JobPost_VitalInfo_ClientPortal
					(
						HRID, GUID, ContactID,CompensationOption,IndustryType,HasPeopleManagementExp,Prerequisites,StringSeparator,CreatedbyId,CreatedbyDateTime,IsActive
					)
					VALUES
					(
						@HrId, @HRGuid, @ContactId,@CompensationOption,@IndustryType,@HasPeopleManagementExp,@Prerequisites,'^', @LastModifiedById, GETDATE(),1
					)
				END
			ELSE
			BEGIN
				UPDATE gen_JobPost_VitalInfo_ClientPortal 
				SET 
				CompensationOption = ISNULL(@CompensationOption, CompensationOption),
				IndustryType = ISNULL(@IndustryType, IndustryType),
				HasPeopleManagementExp = ISNULL(@HasPeopleManagementExp, HasPeopleManagementExp),
				Prerequisites = ISNULL(@Prerequisites, Prerequisites),	
				ModifiedbyDateTime = GETDATE()
				WHERE HRID = @HrId  OR GUID = @HRGuid
			END




			 --Update calculation
			EXEC SP_PayPerHire_Calculation_Update @HRID = @HrId
			----Insert history maintain
			--EXEC SPROC_Gen_SalesHiringRequest_History @HRID = @HrId, @AppActionDoneBy = 2
			--EXEC SPROC_Gen_SalesHiringRequest_Details_History @HRID = @HrId, @AppActionDoneBy = 2

			

			--Insert history action for Update_HR from ATS
		   EXEC sproc_HiringRequest_History_Insert @Action = 'Update_HR', @HiringRequest_ID = @HrId,
				@Talent_ID = 0, @Created_From = 0, @CreatedById = @LastModifiedById,
				@ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0, @SalesUserID = 0,
				@OldSalesUserID = 0, @AppActionDoneBy = 2,@SalesHistoryID = @HiringRequestHisotoryID,@SalesDetailHistoryID = @HRDetailHisotoryID 

	END



