USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Frequency_Office_Visit]    Script Date: 18-07-2024 18:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_Frequency_Office_Visit]
AS
BEGIN
			
			select  ID,Frequency
			from    Prg_Frequency_Office_Visit WITH(NOLOCK)
			where   IsActive = 1

END