CREATE PROCEDURE [dbo].[sproc_UTS_GetDealSecondaryClient] 
@DealID   bigint = null
AS
BEGIN
select 
	 ISNULL(GCC.FullName,'') As Name
	,ISNULL(GCC.Emailid,'') as EmaiID
	,ISNULL(GC.Phone,0) as Phone
	,ISNULL(GCC.linkedin,'') as linkedin 
		
FROM gen_Deals GD WITH(NOLOCK)
	inner join gen_Company GC WITH(NOLOCK) ON GC.Hubspot_company = GD.CompanyID
	inner join gen_Contact GCC ON GCC.Companyid = GC.ID
	inner join gen_HubSpotCompany HC WITH(NOLOCK) ON HC.Companyid = GC.HubSpot_Company
Where GD.Dealid = @DealID and GCC.isprimary = 0
	
END