ALTER PROCEDURE [dbo].[sproc_UTS_GetAutoCompleteContacts]  
@Contact		Varchar(100),
@LoginUserType	   INT NULL,
@Company_ID		BIGINT NULL
AS
BEGIN

	 DECLARE @WhereClauseSQL NVARCHAR(MAX) = '';
	 IF(@LoginUserType = 11 OR @LoginUserType = 12)
	 BEGIN
		SET @WhereClauseSQL += ' AND IsTransparentPricing = 1 '
	 END

	 IF ISNULL(@Company_ID, 0) > 0
		BEGIN
			SET @WhereClauseSQL += ' AND Co.Id = ' + CAST(@Company_ID AS VARCHAR(20))
		END


	 IF ISNULL(@Contact,'') <> ''
	 BEGIN
		SET @WhereClauseSQL += 'AND (Firstname like ''' + @Contact + '%''  or Fullname like ''' + @Contact + '%'' or Username like ''' + @Contact + '%'' or LastName like ''' + @Contact + '%'' or EmailID like ''' + @Contact + '%'' or Company like ''' + @Contact + '%'') '
	 END

		SET @Contact = ltrim(rtrim(@Contact));
		DECLARE @MainSQL As NVARCHAr(MAX)
			
		declare @CompanyId as bigint = 0
		declare @Company as Nvarchar(100) = ''
		Declare @SalesUser as Nvarchar(200) = ''
		Declare @SalesUserID as Nvarchar(20) = ''
		Declare @AMSalesPersonId as bigint = 0

		select  @CompanyId = Co.Id,
				@Company = Co.Company,
				@AMSalesPersonId = ISNULL(Co.AM_SalesPersonID,0)
		from	gen_Contact C WITH(NOLOCK) 										
				inner join gen_Company Co With(NOLOCk) on C.CompanyID = Co.Id													
		where	(Firstname like '%' + @Contact + '%' or Username like '%' + @Contact + '%' or C.Fullname like '%' + @Contact + '%'  or LastName like '%' + @Contact + '%' or EmailID like '%' + @Contact + '%' or Co.Company like '%' + @Contact + '%')
			
		If (@Company = 'Mavlers' or @CompanyId = 12954)
			BEGIN
					select @SalesUser = Isnull(FullName,FirstName),@SalesUserID = ID
					from   usr_User WITH(NOLOCK)
					where  (FullName like '%Mavlers Sales%' or EmployeeID = 'MV0001')
				
			END
		ELSE IF (@AMSalesPersonId > 0)
			BEGIN
					select @SalesUser = Isnull(FullName,FirstName),@SalesUserID = ID
					from   usr_User WITH(NOLOCK)
					where  ID = @AMSalesPersonId
			END
			

			 
		SET @MainSQL = '	select	row_Number() over(order by c.Id) Row_ID,
										Co.Id CompanyId,C.Id ContactId,
										Isnull(FullName,'''') + '' ( ''+C.EmailId + '') '' as Value,
										Isnull(FullName,'''') as ContactName,
										Co.Company,Co.Website as CompanyURL,
										--(select top 1 ChildCom.Company from gen_Company ChildCom with(nolock) where ChildCom.ParentCompanyID = Co.ID) as ChildCompany,
										''''  as ChildCompany,
										Isnull(Co.Discovery_call,'''') as discoveryCall,
										C.EmailId,
										''' + Isnull(@SalesUser,'') + '''  as  SalesUser,
										''' + Isnull(@SalesUserID,'') + ''' as  SalesUserID,
										case 
											when Co.CompanyTypeID > 0 and Co.AnotherCompanyTypeID > 0 then CAST(1 AS BIT)
											else CAST(0 AS BIT) 
										end as IsHybrid,
										case when Co.CompanyTypeID > 0 then Co.CompanyTypeID
												when Co.AnotherCompanyTypeID  > 0 then Co.AnotherCompanyTypeID
												ELSE 1
												end as CompanyTypeID,
										case when (Co.CompanyTypeID = 1 OR Co.AnotherCompanyTypeID = 1) then ''Pay Per Hire''
												when (Co.CompanyTypeID = 2 OR Co.AnotherCompanyTypeID = 2) then ''Pay Per Credit''
												ELSE ''Pay Per Hire''
												end as CompanyType,
										IsTransparentPricing,
										CAST(ISNULL(Co.IsPostaJob,0) AS BIT) IsPostaJob,
										CAST(ISNULL(Co.IsProfileView,0) AS BIT) IsProfileView,
										CAST(ISNULL(Co.IsVettedProfile,0) AS BIT) IsVettedProfile,
										ISNULL(C.ContactNo,'''') AS ContactNumber
								from	gen_Contact C WITH(NOLOCK) 										
										inner join gen_Company Co With(NOLOCk) on C.CompanyID = Co.Id 
										where 1=1 ' + @WhereClauseSQL + ''
	
		exec sp_executesql @MainSQL	
END