USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Next_Action_ClientPortal]    Script Date: 16-02-2024 16:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_Next_Action_ClientPortal]
  @HR_ID		bigint  = 0
  --@TalentID		bigint	= 0
AS
BEGIN

					SELECT	IMasterID =max(IntM.ID) ,IntM.HiringRequest_ID ,IntM.Talent_ID,max(Intm.InterviewRound_Count)  InterviewRound_Count
					INTO	#TempInterviewDetails
					FROM	gen_InterviewSlotsMaster IntM WITH(NOLOCK) 	
					WHERE	IntM.HiringRequest_ID = @HR_ID --and INtm.Talent_ID = @TalentID
					GROUP BY  IntM.HiringRequest_ID ,IntM.Talent_ID

					SELECT   IMaxOnboardTalentID = MAX(OBT.ID), OBT.HiringRequest_ID, OBT.Talent_ID 
					INTO     #TempOnboardDetails 
					FROM     gen_OnBoardTalents OBT WITH(NOLOCK)
					WHERE    OBT.HiringRequest_ID = @HR_ID --and OBT.Talent_ID = @TalentID
					GROUP BY OBT.HiringRequest_ID, OBT.Talent_ID


					select  Q.* 
					from
							(Select	 
							 distinct	HR_Number =  HR_Number,
										RequestStatus = RS.HiringRequest_Status ,
										TalentNAme = T.Name,
										ContactPriorityID = isnull(CTP.ID,0),
										[Status] = isnull(TSACS.TalentStatus,''),
										StatusID = Isnull(TSACS.Id,0),
										TalentStatusID_BasedOnHR = isnull(CTP.TalentStatusID_BasedOnHR,0),
										TalentID = isnull(T.ID,0),
										HiringDetailID = isnull(CTP.HiringRequest_Detail_ID,0),
										InterViewStatusId = isnull(TI.Status_ID,0),										
										SelectedInterviewId = isnull(TI.ID,0),
										InterviewStatus =  ISNULL(INS.InterviewStatus,'') ,
										InterviewROUND = isnull(IntM.InterviewRound_Str,''),
										ContactId = Isnull(H.ContactID,0),					
										Shortlisted_InterviewID = isnull(TI.Shortlisted_InterviewID,0),
										ClientOnBoarding_StatusID = ISNULL(O.ClientOnBoarding_StatusID,0) ,
										OnBoardId = Isnull(O.ID,0),
										TalentOnBoarding_StatusID = ISNULL(O.TalentOnBoarding_StatusID,0) ,
										LegalClientOnBoarding_StatusID = ISNULL(O.ClientLegal_StatusID,0) ,
										LegalTalentOnBoarding_StatusID = ISNULL(O.TalentLegal_StatusID,0) ,
										Kickoff_StatusID = ISNULL(O.Kickoff_StatusID,0) ,
										ClientFeedback = isnull(CF.FeedBack_Type,''),
										SlotGivenStatus = isnull(N.SlotGiven,''),
										IsLaterSlotGiven = isnull(N.IsLaterSlotGiven,0),
										NextRound_InterviewDetailsID = isnull(N.ID,0),
										MasterId = ISNULL(Tmp.IMasterID,0) ,
										EngagemenID = Isnull(O.EngagemenID,''),									
										ClientFeedbackID = ISNULL(CF.ID,0),
										TalentInterviewStatus = Isnull(CASE WHEN ISNULL(TI.Status_ID, 0) <> 0 AND ISNULL(INS.InterviewStatus,'') <> '' 
																AND Isnull(CTP.TalentStatusID_BasedOnHR,0) IN (4, 5, 6, 7)
																THEN ISNULL(TSACS.TalentStatus, '') 										
														END,'')					
						from	gen_Talent T WITH(NOLOCK)
								inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.TalentID=T.ID
								inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID=CTP.HiringRequestID
								inner JOIN prg_HiringRequestStatus RS WITH(NOLOCK) ON RS.ID = H.Status_ID
								inner join gen_SalesHiringRequest_Details HD WITH(NOLOCK) ON H.ID = HD.HiringRequest_ID
								inner join prg_TalentStatus_AfterClientSelection TSACS WITH(NOLOCK)  ON  TSACS.ID = CTP.TalentStatusID_BasedOnHR
								INNER JOIN prg_ContactTimeZone TT with(nolock) ON HD.Timezone_ID = TT.ID
								LEft JOIN #TempInterviewDetails Tmp ON Tmp.HiringRequest_ID = H.ID AND Tmp.Talent_ID = T.ID
								LEft join gen_InterviewSlotsMaster IntM WITH(NOLOCK) ON IntM.ID = Tmp.IMasterID and Tmp.InterviewRound_Count = IntM.InterviewRound_Count
								Left JOIN gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) ON  TI.InterviewRound = IntM.InterviewRound_Count and  TI.InterviewMaster_ID=IntM.ID AND TI.HiringRequest_ID = IntM.HiringRequest_ID AND TI.HiringRequest_Detail_ID = IntM.HiringRequest_Detail_ID AND TI.Talent_ID = IntM.Talent_ID
								LEft join prg_InterviewStatus INS WITH(NOLOCK) ON INS.ID = IntM.InterviewStatus_ID	
								LEft join #TempOnboardDetails TempOnboard ON TempOnboard.HiringRequest_ID = H.ID AND TempOnboard.Talent_ID = T.ID
								left join gen_OnBoardTalents O WITH(NOLOCK) ON O.ID = TempOnboard.IMaxOnboardTalentID and O.Talent_ID = TempOnboard.Talent_ID AND O.HiringRequest_ID = TempOnboard.HiringRequest_ID
								left join gen_OnBoardClientContractDetails OC WITH(NOLOCK) ON OC.OnBoardID = O.ID
								left join gen_ContactInterviewFeedback CF with(nolock) ON  CF.Shortlisted_InterviewID = TI.Shortlisted_InterviewID AND CF.HiringRequest_ID =  Tmp.HiringRequest_ID
								left join gen_TalentSelected_NextRound_InterviewDetails N WITH(NOLOCK) ON N.Shortlisted_InterviewID = TI.Shortlisted_InterviewID AND N.Talent_ID = Tmp.Talent_ID and N.InterviewRound = IntM.InterviewRound_Count
								left join gen_Contact C WITH(NOLOCK) ON C.ID = O.ContactID -- Added by Reena Jain(29-Nov-2022): Add for AM Assignment 
								left join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
								left join prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = T.RoleID
								left join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID 
								left join prg_GEO G WITH(NOLOCK) ON G.ID = CO.GEO_ID
								Left join usr_User Sales WITH(NOLOCK) ON Sales.ID = CO.AM_SalesPersonID								
						WHERE H.ID = @HR_ID	--and T.ID = @TalentID
				)Q 
				--order by  Q.OrderSequence asc, Q.CreatedByDatetime desc 
	
				drop table #TempInterviewDetails

END