ALTER PROCEDURE [dbo].[Sproc_Calculate_ActualNR_From_BR_PR]
  @BR				decimal(18,2) = null,
  @PR				decimal(18,2) = null,
  @CurrencyCode		Nvarchar(5)   = null
AS
BEGIN

			Declare @NR_Percentage as Decimal(18,2) = 0

			Declare @CurrencyExchangeRate decimal(18,2) = 0
			DEclare @UplersFeesAmount  as Decimal(18,2) = NULL
			
			If @BR > 0 and @PR > 0 and @CurrencyCode Is not null
				BEGIN
					
					--select @CurrencyExchangeRate = ExchangeRate from prg_CurrencyExchangeRate with(Nolock) where CurrencyCode = @CurrencyCode
					
					--select @NR_Percentage = 100 - (((@PR * 100) / @BR * @CurrencyExchangeRate))
					--select @NR_Percentage = (1 - (@PR / @BR * @CurrencyExchangeRate)) * 100
					--select @NR_Percentage = (1 - (@PR / @BR)) * 100

					SELECT 
					@BR = CalculatedClientPay, 
					@PR = CalculatedTalentPay, 
					@UplersFeesAmount = CalculatedUplersFeesInAmount, 
					@NR_Percentage = CalculatedUplersFeesInPer
					FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@PR, @BR, 0, 0, 0);


				END

			select @NR_Percentage NR_Percentage


END