ALTER PROCEDURE [dbo].[Sproc_Get_UpdateHR_Details]
  @HRID				bigint = 0,
  @HistoryID		bigint = 0,
  @DetailHistoryID	bigint = 0
AS
BEGIN
			declare @SkillsTable table ( SkillName nvarchar(500), HiringRequestID BIGINT) 

		INSERT INTO @SkillsTable
		SELECT  CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
				SD.HiringRequest_ID 
		FROM    gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
				INNER JOIN gen_SalesHiringRequest HR  WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
				INNER JOIN gen_contact GC WITH(NOLOCK) ON  GC.ID = hr.ContactID
				LEFT JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
				LEFT JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID
		WHERE   HiringRequest_ID = @HRID And Proficiency = 'Strong'
		Group By SD.HiringRequest_ID,ISNULL(SD.Skill_ID, 0),PS.Skill,TS.TempSkill

		set nocount off


		DECLARE @MustSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT 
		INTO	@MustSkillsTable
		SELECT	t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS MustHaveSkills
		FROM	@SkillsTable t1
		GROUP BY t1.HiringRequestID

		DELETE FROM @SkillsTable

		INSERT INTO @SkillsTable
		SELECT  CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
				SD.HiringRequest_ID 
		FROM 	gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
				INNER JOIN gen_SalesHiringRequest  HR  WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
				INNER JOIN gen_contact GC WITH(NOLOCK) ON  GC.ID = hr.ContactID
				LEFT JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
				LEFT JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID
		WHERE  	HiringRequest_ID = @HRID And Proficiency = 'Basic' 
		Group By SD.HiringRequest_ID,ISNULL(SD.Skill_ID, 0),PS.Skill,TS.TempSkill
		set nocount off


		DECLARE @GoodToSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT 
		INTO	@GoodToSkillsTable
		SELECT	t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS GooToHaveSkills
		FROM @SkillsTable t1
		GROUP BY t1.HiringRequestID

			SELECT	H.HR_Number as HRNumber,
					ISNULL(USales.FullName,'') As SalesUser,
					Isnull(cast(Case when HR.RequestForTalent is not null then HR.RequestForTalent Else null end as Nvarchar(max)),'') as RequestForTalent,
					Isnull(cast(Case when HR.Discription is not null then HR.Discription Else null end as Nvarchar(max)),'') as Discription,
					Isnull(cast(Case when HR.JDFilename is not null then HR.JDFilename Else null end as Nvarchar(max)),'') as JDFilename,
					Isnull(cast(Case when HR.JDURL is not null then HR.JDURL Else null end as Nvarchar(max)),'') as JDURL,
					Isnull(cast(Case when HR.MonthDuration is not null then HR.MonthDuration Else null end as Nvarchar(max)),'') as MonthDuration,
					Isnull(cast(Case when HR.NoofTalents is not null then HR.NoofTalents Else null end as Nvarchar(max)),'') as NoofTalents,
					Isnull(JS.JobStatus,'') as JobStatus,
					Isnull(cast(Case when HR.OurObservation is not null then HR.OurObservation Else null end as Nvarchar(max)),'') as OurObservation,
					Isnull(cast(Case when HR.Remark is not null then HR.Remark Else null end as Nvarchar(max)),'') as Remark,
					Isnull(ModifiedUser.FullName,'') as LastModifiedBy,
					Isnull(Convert(Nvarchar(20),Convert(datetime,Case when HR.LastModifiedDatetime is not null then HR.LastModifiedDatetime Else null end,103),103),'') as LastModifiedDatetime,
					Isnull(cast(Case when HR.Availability is not null then HR.Availability Else null end as Nvarchar(max)),'') as Availability,
					Isnull(cast(Case when HR.NoofHoursworking is not null then HR.NoofHoursworking Else null end as Nvarchar(max)),'') as NoofHoursworking,
					Isnull(cast(Case when HR.TalentCostCalcPercentage is not null then HR.TalentCostCalcPercentage Else null end as Nvarchar(max)),'') as TalentCostCalcPercentage,
					Isnull(cast(Case when HR.DeleteHRReason is not null then HR.DeleteHRReason Else null end as Nvarchar(max)),'') as DeleteHRReason,
					Isnull(cast(Case when HR.NotAcceptedHRReason is not null then HR.NotAcceptedHRReason Else null end as Nvarchar(max)),'') as NotAcceptedHRReason,
					Isnull(cast(Case when HR.DeleteType is not null then HR.DeleteType Else null end as Nvarchar(max)),'') as DeleteType,
					Isnull(cast(Case when HR.TR_Accepted is not null then HR.TR_Accepted Else null end as Nvarchar(max)),'') as TR_Accepted,
					Isnull(cast(Case when HR.OnHoldRemark is not null then HR.OnHoldRemark Else null end as Nvarchar(max)),'') as OnHoldRemark,
					Isnull(cast(Case when HR.LossRemark is not null then HR.LossRemark Else null end as Nvarchar(max)),'') as LossRemark,
					Isnull(AMSales.FullName,'') as AM_SalesPersonID,
					Isnull(NBDSales.FullName,'') as NBD_SalesPersonID,
					Isnull(cast(Case when HR.BQLink is not null then HR.BQLink Else null end as Nvarchar(max)),'') as BQLink,
					Isnull(cast(Case when HR.Discovery_Call is not null then HR.Discovery_Call Else null end as Nvarchar(max)),'') as Discovery_Call,
					Isnull(cast(Case when HR.DPPercentage is not null then HR.DPPercentage Else null end as Nvarchar(max)),'') as DPPercentage,
					Isnull(cast(Case when HR.about_Company_desc is not null then HR.about_Company_desc Else null end as Nvarchar(max)),'') as about_Company_desc,
					Isnull(Convert(Nvarchar(20),Convert(datetime,Case when HR.LastActivityDate is not null then HR.LastActivityDate Else null end,103),103),'') as LastActivityDate,
					Isnull(cast(Case when HR.OnHoldReminderFlag is not null then HR.OnHoldReminderFlag Else null end as Nvarchar(max)),'') as OnHoldReminderFlag,
					Isnull(cast(Case when HR.GUID is not null then HR.GUID Else null end as Nvarchar(max)),'') as GUID,
					Isnull(cast(Case when HR.PayrollPartnerName is not null then HR.PayrollPartnerName Else null end as Nvarchar(max)),'') as PayrollPartnerName,
					Isnull(Convert(Nvarchar(20),Convert(datetime,Case when HR.JobExpiredORClosedDate is not null then HR.JobExpiredORClosedDate Else null end,103),103),'') as JobExpiredORClosedDate,
					Isnull(PR.Reason,'') as PauseHRReason,
					Isnull(cast(Case when HR.PauseHRReason is not null then HR.PauseHRReason Else null end as Nvarchar(max)),'') as PauseHRReasonOther,

					Isnull(cast(Case when HRD.NoofEmployee is not null then HRD.NoofEmployee Else null end as Nvarchar(max)),'') as NoofEmployee,
					Isnull(cast(Case when HRD.Duration is not null then HRD.Duration Else null end as Nvarchar(max)),'') as Duration,
					Isnull(cast(Case when HRD.DurationType is not null then HRD.DurationType Else null end as Nvarchar(max)),'') as DurationType,
					Isnull(cast(Case when HRD.Cost is not null then HRD.Cost Else null end as Nvarchar(max)),'') as Cost,
					Isnull(HRS.HiringRequest_RoleStatus,'') as RoleStatus,
					Isnull(cast(Case when HRD.SpecificMonth is not null then HRD.SpecificMonth Else null end as Nvarchar(max)),'') as SpecificMonth,
					Isnull(cast(Case when HRD.YearOfExp is not null then HRD.YearOfExp Else null end as Nvarchar(max)),'') as YearOfExp,
					Isnull(cast(Case when HRD.HowSoon is not null then HRD.HowSoon Else null end as Nvarchar(max)),'') as HowSoon,
					Isnull(TZ.TimeZoneTitle,'') as Timezone,
					Isnull(cast(Case when HRD.RoleTeamSize is not null then HRD.RoleTeamSize Else null end as Nvarchar(max)),'') as RoleTeamSize,
					Isnull(cast(Case when HRD.CommunicationType is not null then HRD.CommunicationType Else null end as Nvarchar(max)),'') as CommunicationType,
					Isnull(TAW.AssociatedWithUplers,'') as AssociatedwithUplers_ID,
					Isnull(PET.PartialEngagementType,'') as PartialEngagementType_ID,
					Isnull(ModifiedUserDetail.FullName,'') as LastModifiedByID,
					Isnull(cast(Case when HRD.InterviewerName is not null then HRD.InterviewerName Else null end as Nvarchar(max)),'') as InterviewerName,
					Isnull(cast(Case when HRD.InterviewLinkedin is not null then HRD.InterviewLinkedin Else null end as Nvarchar(max)),'') as InterviewLinkedin,
					Isnull(cast(Case when HRD.InterviewerYearofExperience is not null then HRD.InterviewerYearofExperience Else null end as Nvarchar(max)),'') as InterviewerYearofExperience,
					Isnull(cast(Case when HRD.HR_Cost is not null then HRD.HR_Cost Else null end as Nvarchar(max)),'') as HR_Cost,
					Isnull(cast(Case when HRD.RolesResponsibilities is not null then HRD.RolesResponsibilities Else null end as Nvarchar(max)),'') as RolesResponsibilities,
					Isnull(cast(Case when HRD.GenericInfo is not null then HRD.GenericInfo Else null end as Nvarchar(max)),'') as GenericInfo,
					Isnull(cast(Case when HRD.Requirement is not null then HRD.Requirement Else null end as Nvarchar(max)),'') as Requirement,
					Isnull(cast(Case when HRD.Timezone_Preference is not null then HRD.Timezone_Preference Else null end as Nvarchar(max)),'') as Timezone_Preference,
					Isnull(TP.WorkingTimePreference,'') as Timezone_Preference_ID,
					Isnull(cast(Case when HRD.TimeZone_FromTime is not null then HRD.TimeZone_FromTime Else null end as Nvarchar(max)),'') as TimeZone_FromTime,
					Isnull(cast(Case when HRD.TimeZone_EndTime is not null then HRD.TimeZone_EndTime Else null end as Nvarchar(max)),'') as TimeZone_EndTime,
					Isnull(cast(Case when HRD.OverlapingHours is not null then HRD.OverlapingHours Else null end as Nvarchar(max)),'') as OverlapingHours,
					Isnull(cast(Case when HRD.InterviewerDesignation is not null then HRD.InterviewerDesignation Else null end as Nvarchar(max)),'') as InterviewerDesignation,
					Isnull(cast(Case when HRD.InterviewerEmailID is not null then HRD.InterviewerEmailID Else null end as Nvarchar(max)),'') as InterviewerEmailID,
					Isnull(cast(Case when HRD.BudgetFrom is not null then Isnull(HRD.BudgetFrom,'') Else null end as Nvarchar(max)),'') as BudgetFrom,
					Isnull(cast(Case when HRD.BudgetTo is not null then Isnull(HRD.BudgetTo,'') Else null end as Nvarchar(max)),'') as BudgetTo,
					Isnull(cast(Case when HRD.Currency is not null then HRD.Currency Else null end as Nvarchar(max)),'') as Currency,
					Isnull(cast(Case when HRD.AddOtherRole is not null then HRD.AddOtherRole Else null end as Nvarchar(max)),'') as AddOtherRole,
					Isnull(cast(Case when HRD.Adhoc_BudgetCost is not null then HRD.Adhoc_BudgetCost Else null end as Nvarchar(max)),'') as Adhoc_BudgetCost,
					Isnull(Convert(Nvarchar(20),Convert(datetime,Case when HRD.HistoryDate is not null then HRD.HistoryDate Else null end,103),103),'') as HistoryDate,
					Isnull(cast(Case when HRD.GlassdoorRating is not null then HRD.GlassdoorRating Else null end as Nvarchar(max)),'') as GlassdoorRating,
					Isnull(cast(Case when HRD.AmbitionBoxRating is not null then HRD.AmbitionBoxRating Else null end as Nvarchar(max)),'') as AmbitionBoxRating,
					Isnull(cast(Case when HRD.CalculatedUplersfees is not null then HRD.CalculatedUplersfees Else null end as Nvarchar(max)),'') as CalculatedUplersfees,
					Isnull(Cast(case when HRD.JobDescription is not null then HRD.JobDescription Else null end as Nvarchar(max)),'') as JobDescription,
					case when  Isnull(HRD.IsMustHaveSkillschanged,0) = 1  then Isnull(MST.SkillName,'') else '' end as MustHaveSkills,
					case when  Isnull(HRD.IsGoodToHaveSkillschanged,0) = 1  then Isnull(GST.SkillName,'') else '' end as GoodToHaveSkills,
					Case when Isnull(HR.HiringTypePricingId,0) <> 0 then 
							case when HR.HiringTypePricingId = 1 then 'Hire a Contractor' 
								 when HR.HiringTypePricingId = 2 then 'Hire an employee on Uplers Payroll'
								 when HR.HiringTypePricingId = 3 then 'Direct-hire on your payroll'
								end
							else '' end as EmploymentType,
					Case when Isnull(HR.PayrollTypeId,0) <> 0 then 
							case when HR.PayrollTypeId = 1 then 'I will manage the payroll' 
								 when HR.PayrollTypeId = 2 then 'I have a partner to manage the payroll'
								 when HR.PayrollTypeId = 3 then 'I will pay on contract via payment services'
								end
							else '' end as PayrollType,
					ModeOfWork = Isnull(HR.ModeOfWork,''),
					--City = Isnull(HR.City,''),
					--Country = Isnull(CR.Country,''),
					JobLocation = ISNULL(HR.JobLocation,''),
					FrequencyOfficeVisit = ISNULL(Fre.Frequency, ''),
					IsOpenToWorkNearByCities = 
					CASE 
						WHEN IsOpenToWorkNearByCities IS NOT NULL and IsOpenToWorkNearByCities = 1 THEN 'YES'
						WHEN IsOpenToWorkNearByCities IS NOT NULL and IsOpenToWorkNearByCities = 0 THEN 'NO'
						ELSE '' 
					END,
					NearByCities = ISNULL(HR.NearByCities, '')
			FROM	gen_SalesHiringRequest H WITH(NOLOCK)
					INNER JOIN gen_SalesHiringRequest_History HR WITH(NOLOCK) ON H.ID = HR.HiringRequest_ID 
					INNER JOIN gen_SalesHiringRequest_Details_History HRD WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.HiringRequest_ID
					LEFT JOIN usr_User ModifiedUser WITH(NOLOCK) ON ModifiedUser.ID = HR.LastModifiedByID
					LEFT JOIN usr_User USales WITH(NOLOCK) ON USales.ID = HR.SalesUserID
					LEFT JOIN usr_User AMSales WITH(NOLOCK) ON AMSales.ID = HR.SalesUserID
					LEFT JOIN usr_User NBDSales WITH(NOLOCK) ON NBDSales.ID = HR.SalesUserID
					LEFT JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = H.JobStatusID
					LEFT JOIN prg_PauseHR_Reasons PR WITH(NOLOCK) ON PR.ID = HR.PauseHRReasonID
					LEFT JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HRS.ID = HRD.RoleStatus_ID
					LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON TZ.ID = HRD.Timezone_ID
					LEFT JOIN prg_TalentAssociatedWithUplers TAW WITH(NOLOCK) ON TAW.ID = HRD.AssociatedwithUplers_ID
					LEFT JOIN prg_PartialEngagementType PET WITH(NOLOCK) ON PET.ID = HR.PartialEngagementType_ID
					LEFT JOIN usr_User ModifiedUserDetail WITH(NOLOCK) ON ModifiedUserDetail.ID = HR.LastModifiedByID
					LEFT JOIN prg_TimeZonePreference TP WITH(NOLOCK) ON TP.ID = HRD.Timezone_Preference_ID
					LEFT JOIN @MustSkillsTable MST ON MST.HiringRequestID = h.ID
					LEFT JOIN @GoodToSkillsTable GST ON GST.HiringRequestID = h.ID
					LEFT JOIN Prg_Frequency_Office_Visit Fre ON Fre.ID = HR.FrequencyOfficeVisitID
			WHERE	HR.History_ID = @HistoryID  --case when Isnull(@HistoryID,0) <> 0 then @HistoryID else Isnull(@DetailHistoryID,0) end  
					and HRD.History_ID = @HistoryID --case when Isnull(@DetailHistoryID,0) <> 0 then @DetailHistoryID else Isnull(@HistoryID,0) end
					and H.ID = @HRID


		
		


END