USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Summary_Emails]    Script Date: 13-09-2024 17:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_Summary_Emails]
  @ContactId		 bigint = null,
  @Environment		 Nvarchar(200) = '',
  @Month			 int = null,
  @year				 int = null,
  @HRID				 bigint = null
AS
BEGIN

		Declare @Subject as Nvarchar(200) =''
		Declare @SQL as Nvarchar(MAX) = ''
		Declare @SQLConditional as Nvarchar(MAX) = ''
		Declare @SQLPOCConditional as Nvarchar(MAX) = ''
		Declare @HR_Number as Nvarchar(20) = ''
		Declare @Company as Nvarchar(100) = ''
		Declare @Client as Nvarchar(100) = ''						
		Declare @SalesPersonEmail as Nvarchar(Max)= ''
		Declare @Sales_Person as Nvarchar(Max) = ''
		Declare @SalesPersonId as bigint = 0
		Declare @OpsPersonId as bigint = 0
		Declare @ToEmailName as Nvarchar(300) = ''
		Declare @ToEmailID as Nvarchar(Max) = ''
		Declare @CCEmailIDs as Nvarchar(Max) = ''
		Declare @CCEmailName as Nvarchar(Max) = ''
		Declare @ReactURl	as Nvarchar(100) = ''
		DECLARE @CompanyID BIGINT = NULL, @POCID BIGINT = 0
		Declare @POCName as Nvarchar(Max) = ''
		Declare @POCEmail as Nvarchar(Max) = ''	
		Declare @POCDesignation as Nvarchar(Max) = ''
		Declare @POCContactNo as Nvarchar(Max) = ''
		Declare @MonthName as Nvarchar(100) = '' 
		Declare @PreviousMonthName as Nvarchar(100) = '' 
		Declare @NextMonthName as Nvarchar(100) = '' 
		DECLARE  @NoOfPosted as int = null
		DECLARE  @NoOfProfileShared as int = null
		DECLARE  @NoJobsExpired as int = null
		DECLARE  @NoJobsExpiredin15days as int = null
		DECLARE  @NoOfApplicationRecieved as int = null
		DECLARE  @NoOfCandidateinAssesment as int = null
		DECLARE  @NoOfApplicationinVideoScreening as int = null
		DECLARE  @NoOfApplicationinVideoResume as int = null
		DECLARE  @NoOfInterviewshceduled as int = null
		DECLARE  @NoOfCandidateinInterview as int = null
		DECLARE  @NoOfApplicationinAdded  as int = null
		DECLARE  @NoOfJobsExpirein7days	as int = null
		Declare  @MinimumMatchScoreForNonReviewedCandidate as int = null
		Declare	 @TotalApplicationsReceived					int = null
		Declare	 @TotalCandidatesinAssessment				int = null
		Declare	 @TotalApplicationswithVideoScreening 		int = null
		Declare	 @TotalApplicationswithVideoResume			int = null
		Declare	 @InterviewsScheduled						int = null
		Declare	 @TotalCandidatesmovedinInterview			int = null
		Declare	 @ApplicantWithHighestJobScore				Nvarchar(Max) = null
		Declare	 @AssessmentSharedCount						int = null
		Declare	 @ApplicantsNotReviewdPast15Days			int = null
		Declare	 @Minimummatchscorenonreviewedcandidates	int = null
		Declare	 @ClientID									bigint = null
		Declare  @ConditionalExpired						Nvarchar(Max) = null
		
		DECLARE @GivenMonth INT = null, @GivenYear INT = null;
		DECLARE @PreMonth INT = null, @PreYear INT = null;
		DECLARE @NextMonth INT = null, @NextYear INT = null;

		Select	top 1 @GivenMonth = [Month],@GivenYear = [Year] 
		from	gen_NurtureEmail_Summary WITH(NOLOCK)
			
		-- Create a date from the given month and year (assumes the 1st of the month)
		DECLARE @CurrentDate DATE = CAST(CAST(@GivenYear AS VARCHAR(4)) + '-' + CAST(@GivenMonth AS VARCHAR(2)) + '-01' AS DATE);

		-- Get the previous month and year
		SELECT 
			--@PreMonth = MONTH(DATEADD(MONTH, -1, @CurrentDate)), 
			--@PreYear = YEAR(DATEADD(MONTH, -1, @CurrentDate)),
			@NextMonth = MONTH(DATEADD(MONTH, 1, @CurrentDate)),
			@NextYear = YEAR(DATEADD(MONTH, 1, @CurrentDate));

		Begin  --- Poc Detail
				
				SELECT @CompanyID = CompanyId FROM gen_Contact WITH(NOLOCK) WHERE ID = @ClientId	
				IF Exists(Select 1
					from   gen_SalesHiringRequest H WITH(NOLOCK) 
						   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
					Where  c.CompanyID = @CompanyID)
				BEGIN
						Select top 1 @POCID = Isnull(H.SalesUserID,0)
						from   gen_SalesHiringRequest H WITH(NOLOCK) 
							   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
						Where  c.CompanyID = @CompanyID
						Order by H.ID desc
				END
		
				IF iSNULL(@POCID,0) = 0
					BEGIN
							SELECT @POCID = Isnull(AM_SalesPersonID,Isnull(NBD_SalesPersonID,0)) 
							from gen_Company WITH(NOLOCK) where ID = @CompanyID
					END

				SELECT	top 1	@POCName = Isnull(usr.FullName,''),@POCEmail = Isnull(usr.EmailID,''),
								@POCContactNo = ISnull(usr.ContactNumber,''),@POCDesignation = Isnull(usr.Designation,'')
				FROM	usr_User usr WITH(NOLOCK)
				WHERE   usr.ID = @POCID
				order by usr.UserTypeID

				


		end

		IF OBJECT_ID('tempdb..#JobWiseSummary') IS not Null
			DROP TABLE #JobWiseSummary

		CREATE TABLE #JobWiseSummary
		(
			HRID							bigint,
			Role							Nvarchar(200),
			ApplicantWithHighestNumber		Nvarchar(400)
		)

		Insert into #JobWiseSummary
		select HRID,RequestForTalent,ApplicantWithHighestJobScore
		From   gen_NurtureEmail_Summary NES WITH(NOLOCK)
				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = NES.HRID
		where  NES.HRID = @HRID	
		

		IF Exists(select 1 from #JobWiseSummary)
			BEGIN
					 Set @SQLConditional ='Talents Details as below <br/><br/>
					<table style="border:1px solid black; border-collapse: collapse;" width="30%">
					<tr style="border:1px solid black; border-collapse: collapse;">
						<th style="text-align:left;border:1px solid black; border-collapse: collapse;">Job Role</th>
						<th style="text-align:left;border:1px solid black; border-collapse: collapse;">Talent</th>
					</tr>';

				SELECT @SQLConditional += '<tr style="border:1px solid black; border-collapse: collapse;">
						<td style="text-align:left;border:1px solid black; border-collapse: collapse;">'+ Role +'</td>
						<td style="text-align:left;border:1px solid black; border-collapse: collapse;">'+ ApplicantWithHighestNumber +'</td>
					</tr>'
				FROM #JobWiseSummary

				SET @SQLConditional += '</table>';

			END

		Begin  --- Start Email Template Logic
						
				
				select  @CCEmailIDs = Isnull(CCEmailIds,'')
				from    gen_CC_EmailIDs WITH(NOLOCK) 

				select  @CCEmailName = Isnull(CCEmailNames,'')
				from    gen_CC_EmailIDs WITH(NOLOCK) 

				select	@HR_Number = HR_Number,
						@SalesPersonId = U.ID,
						@NoOfPosted  = 	ISnull(TotalJobsPosted,0),
						@NoOfProfileShared = Isnull(TotalJobsForProfileShared,0),
						@NoJobsExpired = Isnull(TotalJobsExpired,0),
						@NoJobsExpiredin15days = Isnull(TotalJobsExpired15Days,0),
						@NoOfApplicationRecieved = Isnull(TotalApplicationsReceived,0),
						@NoOfCandidateinAssesment = Isnull(TotalCandidatesinAssessment,0),
						@NoOfApplicationinVideoScreening = Isnull(TotalApplicationswithVideoScreening,0),
						@NoOfApplicationinVideoResume = Isnull(TotalApplicationswithVideoResume,0),
						@NoOfInterviewshceduled = Isnull(InterviewsScheduled,0),
						@NoOfCandidateinInterview = Isnull(TotalCandidatesmovedinInterview,0),
						@NoOfApplicationinAdded = Isnull(TotalApplicationsReceived,0),
						@NoOfJobsExpirein7days = ISnull(TotalJobsRenewal7Days,0),
						@MinimumMatchScoreForNonReviewedCandidate = Isnull(Minimummatchscorenonreviewedcandidates,0),						
						@TotalCandidatesmovedinInterview = Isnull(TotalCandidatesmovedinInterview,0),
						@AssessmentSharedCount = Isnull(AssessmentSharedCount,0),
						@ApplicantsNotReviewdPast15Days	= Isnull(ApplicantsNotReviewdPast15Days,0),
						@MonthName = DATENAME(MONTH, DATEFROMPARTS([YEAR], [MONTH] , 1)) + ' ' + cast([year] as Nvarchar(5)),
						@PreviousMonthName = DATENAME(MONTH, DATEFROMPARTS(@Year, @Month , 1)) + ' ' + cast(@Year as Nvarchar(5)),
						@NextMonthName = DATENAME(MONTH, DATEFROMPARTS(@NextYear, @NextMonth , 1)) + ' ' + cast(@NextYear as Nvarchar(5)) 
				from    gen_SalesHiringRequest H with(NOLOCK) 
						inner join gen_SalesHiringRequest_Details HD WITH(NOLOCK) ON HD.HiringRequest_ID = H.ID
						inner join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID
						inner join gen_NurtureEmail_Summary NES WITH(NOLOCK) ON NES.HRID = H.ID
						Inner join gen_Direct_Placement GDP WITH(NOLOCK) ON GDP.HiringRequest_Id = H.ID
				where   NES.HRID = @HRID	

				IF OBJECT_ID('tempdb..#EmailNotifications') is not null
					DROP TABLE #EmailNotifications

				CREATE TABLE #EmailNotifications
				(
					[subject]       NvarchaR(200),
					Body			 NvarchaR(MAX),
					ToEmailIds		 NvarchaR(200),
					ToEmailNames	 NvarchaR(200),
					CCEmailIds		  NvarchaR(MAX),
					CCEmailNames     NvarchaR(200)
				)
				

				select  @Client = Isnull(C.FullName, Isnull(FirstName,'') + ' ' + Isnull(LastName,'')),
						@Company = CO.Company,
						@ToEmailID = Isnull(C.EmailID,''),
						@ToEmailName = Isnull(C.FullName, Isnull(FirstName,'') + ' ' + Isnull(LastName,''))						
				from    gen_Contact C WITH(NOLOCK) 
						inner join  gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
						inner join  gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
						inner join gen_NurtureEmail_Summary NES WITH(NOLOCK) ON NES.HRID = H.ID	and C.ID = NES.ClientID						
				where  NES.HRID = @HRID	

				
				;WITH EMP_CTESales AS
							(
								SELECT	top 1 userid, parentId, 0 AS levelpostion
								FROM	usr_UserHierarchy UH With(nolock)
								WHERE	exists (
													select	1 
													from	usr_User U With(Nolock)
													where	U.id = UH.UserID 
															and UH.UserID = Isnull(@POCID,UH.UserID)
															and U.IsActive = 1
												)
						
								UNION ALL
								SELECT	T.userid, T.parentId, levelpostion - 1 AS EmployeeLevel 
								FROM	usr_UserHierarchy AS T With(Nolock)
										INNER JOIN EMP_CTESales  AS C ON T.userID = C.parentId
							)
							SELECT  @Sales_Person =  stuff(( select ',' + ISNULL(U.FirstName,'') + ' ' + ISNULL(U.LastName,'') 
												from EMP_CTESales T 
												left join usr_User U With(Nolock) on T.UserID = U.ID  for xml path('')),1,1,''),
									@SalesPersonEmail = stuff(( select ',' + Isnull(U.EmailID,'')
												from EMP_CTESales T 
												left join usr_User U With(Nolock) on T.UserID = U.ID  for xml path('')),1,1,'')

				SET @CCEmailIDs =  Isnull(@SalesPersonEmail,'')
				SET @CCEmailName = Isnull(@Sales_Person,'')

				If @Environment = 'Live'
					SET  @ReactURl = 'https://client.uplers.com/'
				ELse IF @Environment = 'QA'
					SET  @ReactURl = 'http://3.82.177.154:85/'
				Else
					SET @ReactURl = 'Localhost:3000/'
								

				IF @POCID > 0
					BEGIN
							SET  @SQLPOCConditional = N'If you need help or have questions, please reach out to our executive ' + @POCName + ' at ' + @POCEmail + '
														<br/>
														<br/>
														We look forward to supporting your hiring journey!
														<br/>
														<br/>
														Thank you for choosing Uplers for your recruiting needs. 
														<br/>
														<br/>
														Warm regards,
														<br/>
														<br/>
														' + Isnull(@POCName,'') + '<br/>
														' + Isnull(@POCDesignation,'') + '<br/>
														' + Isnull(@POCContactNo,'') + '<br/>
														Website : http://www.uplers.com <br/>
														' + Isnull(@POCEmail,'') + '<br/>'

					END
				ELSE
					BEGIN
							SET  @SQLPOCConditional = N'Need assistance or have questions? We''re just an email away.
														<br/>
														<br/>
														We look forward to supporting your hiring journey!
														<br/>
														<br/>
														Thank you for choosing Uplers for your recruiting needs. 
														<br/>
														<br/>
														Warm regards,
														<br/>
														<br/>
														Uplers
														<br/>' 

					END

				

				BEGIN
					SET @Subject = N''+ Isnull(@Client,'') +', Here''s Your Monthly Hiring Summary on Uplers Platform'
					SET @SQL = N'Hi ' + Isnull(@Client,'') + ',
								<br/>
								<br/>
								We hope you’ve had a productive month! 
								<div style="width:100%">																	
								<br/>
								As we wrap up ' + Isnull(@MonthName,'') + ' and step into a new month, we wanted to share a quick overview of your hiring activities on Uplers.
								<br/>
								<br/>
								Your Hiring Summary for ' + Isnull(@PreviousMonthName,'') + '
								<br/>
								<br/>
								<b>Jobs:</b><br/>
								- Jobs Posted: ' + Isnull(Cast(@NoOfPosted as Nvarchar(5)),'') + '<br/>
								- Jobs where you received applicants: ' + Isnull(Cast(@NoOfProfileShared as Nvarchar(5)),'')  + ' <br/>
								- Jobs Expiring in next 15 days: ' + Isnull(Cast(@NoJobsExpiredin15days as Nvarchar(5)),'')   + ' <br/><br/>
								<b>Applications:</b><br/>
								- Total Applications Received: ' + Isnull(Cast(@NoOfApplicationRecieved as Nvarchar(5)),'')   + '<br/>
								- Total Candidates in assessment: ' + Isnull(Cast(@NoOfCandidateinAssesment as Nvarchar(5)),'')  + '<br/>
								- Total Applications with Video Screening: ' + Isnull(cast(@NoOfApplicationinVideoScreening as Nvarchar(5)),'')  + '<br/>
								- Total Applications with Video Resume: ' + Isnull(Cast(@NoOfApplicationinVideoResume as Nvarchar(5)),'')  + '<br/>
								- Interviews Scheduled: ' + Isnull(cast(@NoOfInterviewshceduled as Nvarchar(5)),'')  + '<br/>
								- Total Candidates moved in interview: ' + Isnull(cast(@NoOfCandidateinInterview as Nvarchar(5)),'')  + '<br/><br/>
								<b>Performance Insights: </b><br/>
									- Application Quality: Highest Match score job wise <br/>
									  ' + Isnull(@SQLConditional,'') + '
									- Assessment Shared to number of applicant(s): ' + Isnull(cast(@AssessmentSharedCount as Nvarchar(5)),'')  + ' applicants <br/><br/>
								<b>Next Steps:</b><br/>
									- Number of applicants not reviewed in past 15 days: ' + Isnull(cast(@ApplicantsNotReviewdPast15Days as Nvarchar(5)),'')  + '<br/>
									- Minimum match score of the non reviewed candidates: ' + Isnull(cast(@Minimummatchscorenonreviewedcandidates as Nvarchar(5)),'') + '<br/> 
									- Number of jobs up for renewal in 7 days: ' + Isnull(cast(@NoOfJobsExpirein7days as Nvarchar(5)),'') + '<br/><br/>
								<a style="color:#232323;font-style:normal;font-weight:700;text-transform:uppercase;border:0;background:#FFDA30;padding:0 20px;font-size:14px;display:inline-block;text-align:center;border-radius:27px;line-height:40px;text-decoration:none;" class="link" href="' + @ReactURl + 'myJobPosts" target="_blank">Review Job Posts</a>
								<br/>
								<br/>
									Need help?<br/>
									If you need assistance with your ongoing job postings or have any questions, you can reach us anytime at client@uplers.com.<br/>
									Let’s make ' + Isnull(@NextMonthName,'') + ' even more successful for your hiring needs!
								<hr>
									We are committed to your privacy.
									You may unsubscribe from these communications at any time.
									For more information, check out our <a class="link" href="https://talent.uplers.com/privacy-policy/" target="_blank">Privacy Policy</a>.
								</div>'

					select	@Subject as [subject],@SQL as Body,@ToEmailID as ToEmailIds,@ToEmailName as ToEmailNames,
							@CCEmailIDs as CCEmailIds,@CCEmailName as CCEmailNames,@POCName as POCName,@POCEmail as POCEmail
				END

		end

END