USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_BackOut_Talents_Details]    Script Date: 21-05-2024 14:24:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_BackOut_Talents_Details]
AS
BEGIN
		
		delete from gen_TalentBackOut_Details_For_ATS where IsSent = 1 and cast(CreatedDate as date) = cast(dateadd(d,-1,getdate()) as date)

		--IF OBJECT_ID('tempdb..#BackOutTalents') Is not null
		--	DROP TABLE #BackOutTalents

		--CREATE TABLE #BackOutTalents
		--(
		--	HiringRequest_ID				bigint,
		--	ATSTalentId						bigint,
		--	talent_status					Nvarchar(50),
		--	engagement_id					Nvarchar(50),
		--	engagement_start_date			Nvarchar(20),
		--	engagement_end_date				Nvarchar(20),
		--	engagement_status				Nvarchar(50),
		--	hired_date						Nvarchar(20),
		--	lost_date						Nvarchar(20),
		--	last_working_date				Nvarchar(20),
		--)
		
		--Insert into #BackOutTalents(HiringRequest_ID,ATSTalentId,talent_status,engagement_id,engagement_start_date,engagement_end_date,
		--		engagement_status,hired_date,lost_date,last_working_date)
		--SELECT  HiringRequest_ID = OBT.HiringRequest_ID,
		--		ATSTalentId = T.ATS_Talent_ID,
		--		talent_status = TSA.TalentStatus,
		--		engagement_id = OBT.EngagemenID,
		--		engagement_start_date = Isnull(Convert(Nvarchar(15),OCC.ContractStartDate,103),''),
		--		engagement_end_date = Isnull(Convert(Nvarchar(15),OCC.ContractEndDate,103),''),
		--		engagement_status = Isnull(ES.EngagementStatus,''),
		--		hired_date = Isnull(Convert(Nvarchar(15),OBT.HiredDate,103),''),
		--		lost_date = Isnull(Convert(Nvarchar(15),OBR.ReplacementDate,103),''),
		--		last_working_date = Isnull(Convert(Nvarchar(15),OCC.LastWorkingDate,103),'')
		--FROM    gen_ContactTalentPriority CTP WITH(NOLOCK)
		--	    inner join gen_History H WITH(NOLOCK) ON CTP.TalentID = H.Talent_ID and CTP.HiringRequestID = H.HiringRequest_ID
		--		inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON OBT.Talent_ID = CTP.TalentID and OBT.HiringRequest_ID = OBT.HiringRequest_ID
		--		inner join gen_Talent T WITH(NOLOCK) ON T.ID = CTP.TalentID
		--		inner join prg_TalentStatus_AfterClientSelection TSA WITH(NOLOCK) ON TSA.ID = CTP.TalentStatusID_BasedOnHR 
		--		inner join gen_OnBoardClientContractDetails OCC WITH(NOLOCK) ON OCC.OnBoardID = OBT.ID
		--		inner join prg_EngagementStatus ES WITH(NOLOCK) ON ES.ID = OBT.Status_ID
		--		inner join gen_OnBoardTalents_ReplacementDetails OBR WITH(NOLOCK) ON OBR.OnboardID = OBT.ID
		--where   H.Action_ID in (12,22) 
		--		and Not Exists(select 1 from gen_TalentBackOut_Details_For_ATS TB WITH(NOLOCK) 
		--						 where TB.HiringRequest_ID = OBT.HiringRequest_ID and TB.ATSTalentId = T.ATS_Talent_ID and TB.IsSent = 1)
		
	    Insert into gen_TalentBackOut_Details_For_ATS(HiringRequest_ID,ATSTalentId,talent_status,engagement_id,engagement_start_date,engagement_end_date,engagement_status,
						hired_date,lost_date,last_working_date,IsSent,CreatedDate)
		SELECT   OBT.HiringRequest_ID,
				 T.ATS_Talent_ID,
				 TSA.TalentStatus,
				 OBT.EngagemenID,
				 Isnull(Convert(Nvarchar(15),OCC.ContractStartDate,103),''),
				 Isnull(Convert(Nvarchar(15),OCC.ContractEndDate,103),''),
				 Isnull(ES.EngagementStatus,''),
				 Isnull(Convert(Nvarchar(15),OBT.HiredDate,103),''),
				 Isnull(Convert(Nvarchar(15),OBR.ReplacementDate,103),''),
				 Isnull(Convert(Nvarchar(15),OCC.LastWorkingDate,103),''),
				0,
				getdate()
		FROM    gen_ContactTalentPriority CTP WITH(NOLOCK)
			    inner join gen_History H WITH(NOLOCK) ON CTP.TalentID = H.Talent_ID and CTP.HiringRequestID = H.HiringRequest_ID
				inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON OBT.Talent_ID = CTP.TalentID and OBT.HiringRequest_ID = OBT.HiringRequest_ID
				inner join gen_Talent T WITH(NOLOCK) ON T.ID = CTP.TalentID
				inner join prg_TalentStatus_AfterClientSelection TSA WITH(NOLOCK) ON TSA.ID = CTP.TalentStatusID_BasedOnHR 
				inner join gen_OnBoardClientContractDetails OCC WITH(NOLOCK) ON OCC.OnBoardID = OBT.ID
				inner join prg_EngagementStatus ES WITH(NOLOCK) ON ES.ID = OBT.Status_ID
				inner join gen_OnBoardTalents_ReplacementDetails OBR WITH(NOLOCK) ON OBR.OnboardID = OBT.ID
		where   H.Action_ID in (12,22) 
				and Not Exists(select 1 from gen_TalentBackOut_Details_For_ATS TB WITH(NOLOCK) 
								 where TB.HiringRequest_ID = OBT.HiringRequest_ID and TB.ATSTalentId = T.ATS_Talent_ID and TB.IsSent = 1)
		



		select  ID,HiringRequest_ID = HiringRequest_ID,ATSTalentId = ATSTalentId,talent_status = talent_status,engagement_id = engagement_id,
				engagement_start_date = engagement_start_date,engagement_end_date = engagement_end_date,engagement_status = engagement_status,
			    hired_date = hired_date,lost_date = lost_date,last_working_date = last_working_date,
				IsSent = cast(IsSent as int),CreatedDate = CreatedDate
		from    gen_TalentBackOut_Details_For_ATS WITH(NOLOCK) 
		WHERE   IsSent = 0 and cast(CreatedDate as date) = cast(getdate() as date)


		--DROP TABLE #BackOutTalents
END