CREATE PROCEDURE [dbo].[Sproc_Get_TrackingLeadDetails]    
    @Search   Nvarchar(Max) = null,    
 @Fromdate  DateTime = null,    
 @ToDate   Datetime = null,  
 @PageIndex  INT = 1,    
 @PageSize  INT = 50,    
 @SortExpression nvarchar(100) = 'CreatedDateTime',    
 @SortDirection  nvarchar(100) = 'desc'  
AS    
BEGIN    
   DECLARE @WhereClauseSQL nvarchar(max) = '';  
   DECLARE @MainSQL nvarchar(max) = ''  ;  
   DECLARE @Total_Records  Nvarchar(MAX) ;    
    
    
   ;WITH CTE_Records   
   AS (  
   select UTM_Source = Isnull(UTM_Source,''),    
     UTM_Medium = Isnull(UTM_Medium,''),    
     UTM_Campaign=Isnull(UTM_Campaign,''),    
     UTM_Content = Isnull(UTM_Content,''),    
     UTM_Term =Isnull(UTM_Term,''),    
     UTM_Placement=Isnull(UTM_Placement,''),    
     ref_url = Isnull(ref_url,''),  
     CreatedDateTime,  
     1 AS TotalCountID  
   FROM gen_TrackingLead_ClientPortal WITH(NOLOCK)),    
     Cte_TotalCount AS(Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records)  
  
    SELECT U.UTM_Source,U.UTM_Medium,U.UTM_Campaign,U.UTM_Content,U.UTM_Term,U.UTM_Placement,U.ref_url,U.CreatedDateTime,T.TotalRecords    
    INTO #AllRecords_TrackingLeadCP    
    FROM CTE_Records U     
     INNER JOIN Cte_TotalCount T on T.TotalCountID = U.TotalCountID WHERE 1=1     
     
  
   If @Search Is not Null  
    BEGIN  
      SET @WhereClauseSQL += ' AND      
            (UTM_Source like ''%' + @Search + '%'' or    
             UTM_Medium    like ''%' + @Search + '%'' or    
             UTM_Campaign like ''%' + @Search + '%'' or    
             UTM_Content like ''%' + @Search + '%'' or    
             UTM_Term  like ''%' + @Search + '%'' or    
             UTM_Placement like ''%' + @Search + '%'' or    
             ref_url  like ''%' + @Search + '%'' )'  
  
    END  
  
       
   SET @MainSQL = 'select UTM_Source,UTM_Medium,UTM_Campaign,UTM_Content,UTM_Term,UTM_Placement,ref_url,CreatedDateTime,TotalRecords  
   FROM #AllRecords_TrackingLeadCP  WHERE 1=1 ' + @WhereClauseSQL + '';    
    
  Print @MainSQL  
  
   set   @Total_Records = 'Update #AllRecords_TrackingLeadCP  SET TotalRecords = (select Count(1) from #AllRecords_TrackingLeadCP    
     WHERE 1 = 1  ' + @WhereClauseSQL + ')'    
         
   EXECUTE sp_executesql @Total_Records    
      
         
 If @SortExpression = 'CreatedDateTime'    
  BEGIN    
   SET @MainSQL += ' ORDER BY CONVERT(datetime,' + @SortExpression + ',103) ' + @SortDirection     
            
  END    
 ELSe     
  SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection      
          
   IF(@PageSize>0)    
     BEGIN    
    SET @MainSQL=  @MainSQL+ ' OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS     
     FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';    
     END     
           
 EXECUTE sp_executesql @MainSQL     
  
    
      
END