USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_JobPost_Details_For_HomePage_ClientPortal]    Script Date: 27-03-2024 15:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_JobPost_Details_For_HomePage_ClientPortal]
  @HiringRequest_Id			bigint = 0,
  @ClientID					bigint = 0,
  @StageID					bigint = 0
AS
BEGIN
		Declare @NextStageID as int = 0

		If Isnull(@StageID,0) = 0
			SET @StageID = null

		IF OBJECT_ID('tempdb..#JobPostData') is not null
			DROP TABLE #JobPostData
		IF OBJECT_ID('tempdb..#SLADate') is not null
			DROP TABLE #SLADate

		CREATE TABLE #JobPostData
		(
			ClientID						bigint,
			HRID							bigint,
			JobTitle						Nvarchar(100),				  -- Senior Front End Developer
			CompletedStage					Nvarchar(100) default '',     -- Completed Stage Details
			CompletedStageID				int  default 0,				  -- Completed Stage ID Details
			NoOfApplicants					int  default 0,				  -- No OF Applicants in ATS
			NoOfTalentsinScreening			int  default 0,				  -- No Of Talent in Screening Stage
			NoOfTalentsinVetting			int  default 0,				  -- No Of Talent in vetting Stage
			NoOfTalentsinMatcherInterview	int  default 0,				  -- No Of Talent in Matcher Interviewed Stage
			NoOfTalentShortlisted			int  default 0,				  -- No Of Talent Shortlisted stage
			NoOfTalentinInterview			int  default 0,				  -- No Of Talent in Interview Stage
			NoOfTalentHired					int  default 0,				  -- No Of Talent Hired
			NoOfTalentOnBoraded				int  default 0,				  -- No Of Talent OnBoarded
			ActiveStatusBeforeMessage		Nvarchar(Max),				  -- From Prg_JobPostStageMessages
			ActiveStatusAFterMessage		Nvarchar(Max),				  -- From Prg_JobPostStageMessages
			NoOfTalents						int,						  -- No of Talents in Particular Stage
			SLADate							NVarchar(15) ,				  -- SLA Due Date
			SLADateStatus					Nvarchar(50),				  --ON Time, Before Time, Exceeded, Running late 
			RedirectionLink                 NVARCHAR(100)
		)

		Insert into #JobPostData(ClientID,HRID)
		Values(@ClientID,@HiringRequest_Id)

		CREATE TABLE #SLADate (SLADATE Nvarchar(20),HRID bigint,ProfileShareDate datetime,SLAStatus Nvarchar(20))

		
		Insert into   #SLADate(SLADATE,HRID,ProfileShareDate,SLAStatus)
		select  Convert(nvarchar(15),H.SLA_DueDate,103) as SLADate,H.HiringRequest_ID,H.CreatedByDatetime,
			    case when (select SLA_DueDate from gen_History H1 WITH(NOLOCK) where H1.HiringRequest_ID = @HiringRequest_Id and H1.Action_ID = 4) > H.CreatedByDatetime then 'ON Time' else 'Delay' end
		from    gen_History H WITH(NOLOCK)
		where   H.HiringRequest_ID = @HiringRequest_Id and H.Action_ID = 89
			 
		IF NOT EXISTS(select 1 from #SLADate)
			BEGIN
					INSERT INTO #SLADate(SLADATE,HRID,ProfileShareDate,SLAStatus)
					select 
					Top 1	Convert(nvarchar(15),dbo.Excluding_WeekDays(H.CreatedByDatetime,5),103) as SLADate,H.HiringRequest_ID,H.CreatedByDatetime,
							case when dbo.Excluding_WeekDays(H.CreatedByDatetime,5) > H.CreatedByDatetime then 'ON Time' else 'Delay' end
					from	gen_History H WITH(NOLOCK)
					where	H.HiringRequest_ID = @HiringRequest_Id and H.Action_ID = 4
					Order by	H.ID asc
			END


		--Update JobTitle 
		UPDATE  H
		SET     H.JobTitle = Isnull(H1.RequestForTalent,''),
				H.NoOfTalents = ISnull(H1.NoofTalents,0)
		FROM	#JobPostData H
				inner join gen_SalesHiringRequest H1 WITH(NOLOCK) ON H.HRID = H1.ID
		WHERE   H1.ID = @HiringRequest_Id

		--Update SLADate and SLADateStatus
		UPDATE  H
		SET     H.SLADate = SLA.SLADATE,  
				H.SLADateStatus = SLAStatus
		FROM	#JobPostData H
				inner join gen_SalesHiringRequest H1 WITH(NOLOCK) ON H.HRID = H1.ID				
				inner join gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON HSD.HRID = H1.ID
				inner join #SLADate SLA ON SLA.HRID = H.HRID
		WHERE   H1.ID = @HiringRequest_Id

		--UPDATE  H
		--SET     H.SLADate = Isnull(H.SLADate, Convert(nvarchar(15),DATEADD(Day,3,GETDATE()),103)),
		--		H.SLADateStatus = Isnull(H.SLADateStatus, 'ON Time') 
		--FROM	#JobPostData H
		--		inner join gen_SalesHiringRequest H1 WITH(NOLOCK) ON H.HRID = H1.ID

		--WHERE   H1.ID = @HiringRequest_Id

		--Update Completed Stage 
		
		--UPDATE  H
		--SET     H.CompletedStage = Isnull(X.[Status],''),
		--		H.CompletedStageID = ISNULL(X.ActiveStatusID,0)
		--FROM	#JobPostData H
		--		inner join
		--		(
		--			select  top 1 AHS.DisplayName as [Status],HSD.ATSHRStatusId as ActiveStatusID,HSD.HRID as HRID
		--			from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK)
		--					inner join prg_ATSHRStatus AHS WITH(NOLOCK) ON AHS.Id = HSD.ATSHRStatusId
		--			WHERE   HSD.HRID = @HiringRequest_Id and 
		--					Exists(select 1 from gen_ATS_HRStatus_Details HSD1 WITH(NOLOCK) WHERE HSD1.ID = HSD.ID and 
		--							HSD1.ATSHRStatusId in (1,2))
		--			ORDER BY HSD.CreatedByDateTime desc
		--		)X ON X.HRID = H.HRID	


		UPDATE  H
		SET     H.CompletedStage = Isnull(AHS.DisplayName,''),
				H.CompletedStageID = ISNULL(X.ATSHRStatusId,0)
		FROM	#JobPostData H
				inner join
				(
					select  Max(HSD.ATSHRStatusId) ATSHRStatusId,HSD.HRID
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK)
							inner join prg_ATSHRStatus AHS WITH(NOLOCK) ON AHS.Id = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id --and Total_Talent <> 0 and HSD.ATSHRStatusId not in (1,2)
							and HSD.ATSHRStatusId <= (select  Max(HSD.ATSHRStatusId)
													from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK)
															inner join prg_ATSHRStatus AHS WITH(NOLOCK) ON AHS.Id = HSD.ATSHRStatusId
													WHERE   HSD.HRID = @HiringRequest_Id --and Total_Talent <> 0 and HSD.ATSHRStatusId not in (1,2)
													)
					GRoup By HSD.HRID
				)X ON X.HRID = H.HRID	
				inner join prg_ATSHRStatus AHS WITH(NOLOCK) ON AHS.Id = X.ATSHRStatusId

		--Update ActiveStatusBeforeMessage and ActiveStatusAFterMessage		
		UPDATE  H
		SET     H.ActiveStatusBeforeMessage = Isnull(X.MessageBeforeActionDone,''),
				H.ActiveStatusAFterMessage =  Replace(Replace(Isnull(X.MessagePostActionDone,''),'Y1',Isnull(H.NoOfTalents,0)),'X1',Isnull(X.Talents,0))
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							JPS.MessageBeforeActionDone,JPS.MessagePostActionDone,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
							inner join #JobPostData JP WITH(NOLOCK) ON JP.HRID = HSD.HRID 
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = Isnull(@StageID,JP.CompletedStageID) 
							and JPS.ID not in (1,2,3)				
					--select  Count(AHST.ID) as Talents,Q.HRID as HRID,Q.MessageBeforeActionDone,Q.MessagePostActionDone
					--from	gen_ATS_HRStatus_TalentDetails AHST WITH(NOLOCK)
					--		inner join (
					--						select top 1 HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
					--								JPS.MessageBeforeActionDone,JPS.MessagePostActionDone
					--						from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
					--								inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					--						WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = @StageID 
					--						Order by HSD.CreatedByDateTime desc
					--		) Q ON Q.ATSHRStatusId = AHST.StatusID and Q.Id = AHST.HRStatus_DetailsID
					--WHERE   Q.HRID = @HiringRequest_Id
					--GROUP BY Q.HRID,Q.MessageBeforeActionDone,Q.MessagePostActionDone			
				)X ON X.HRID = H.HRID

		--Update the Link where to navigate 
		UPDATE  H
		SET     H.RedirectionLink = '/creditbase-shortlist'
		FROM	#JobPostData H
				inner join gen_SalesHiringRequest H1 WITH(NOLOCK) ON H.HRID = H1.ID
		WHERE   H1.ID = @HiringRequest_Id

		
		--Update ActiveStatusBeforeMessage and ActiveStatusAFterMessage		
		If Exists(select 1 from gen_ATS_HRStatus_Details WITH(NOLOCK) WHERE HRID = @HiringRequest_Id and ATSHRStatusId in (1,2,3))  --and ATSHRStatusId = Isnull(@StageID,ATSHRStatusId)
			BEGIN	

					--select @NextStageID = CompletedStageID + 1 from #JobPostData where HRID = @HiringRequest_Id
					select @NextStageID = CompletedStageID + 1  from #JobPostData where HRID = @HiringRequest_Id
					print @NextStageID
					UPDATE  H
					SET     H.ActiveStatusBeforeMessage = Isnull(X.MessageBeforeActionDone,'')
					FROM	#JobPostData H
							inner join 
							(
								select  JPS.MessageBeforeActionDone,JPS.ATS_HRStatusID
								from	Prg_JobPostStageMessages JPS WITH(NOLOCK)
								WHERE   JPS.ID = Isnull(@StageID,@NextStageID)
							)X ON 1 = 1
					WHERE   HRID = @HiringRequest_Id
			END
		
		If Exists(select 1 from gen_ATS_HRStatus_Details WITH(NOLOCK) WHERE HRID = @HiringRequest_Id and ATSHRStatusId = Isnull(@StageID,ATSHRStatusId) and ATSHRStatusId = 3)
			BEGIN	
					UPDATE  H
					SET     H.ActiveStatusAFterMessage = Isnull(Replace(Replace(Isnull(X.MessagePostActionDone,''),'Y1',Isnull(H.NoOfTalents,0)),'X1',Isnull(X.Talents,0)),'')
					FROM	#JobPostData H
							inner join 
							(
								select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
										JPS.MessageBeforeActionDone,JPS.MessagePostActionDone,
										HSD.Total_Talent as Talents
								from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
										inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
										inner join #JobPostData JP WITH(NOLOCK) ON JP.HRID = HSD.HRID 
								WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = Isnull(@StageID,JP.CompletedStageID) 										
							)X ON X.HRID = H.HRID
			END
		

		--UPdate NoOfApplicants 
		UPDATE  H
		SET     H.NoOfApplicants = Isnull(X.Talents,0)
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = 3
							
				)X ON X.HRID = H.HRID
			
		--UPdate NoOfTalentsinScreening 
		UPDATE  H
		SET     H.NoOfTalentsinScreening = Isnull(X.Talents,0)
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = 4
					
						
				)X ON X.HRID = H.HRID
		
		--UPdate NoOfTalentsinVetting 
		UPDATE  H
		SET     H.NoOfTalentsinVetting = Isnull(X.Talents,0)
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = 5
					
							
				)X ON X.HRID = H.HRID

		--UPdate NoOfTalentsinMatcherInterview 
		UPDATE  H
		SET     H.NoOfTalentsinMatcherInterview = Isnull(X.Talents,0)
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = 6
						
				)X ON X.HRID = H.HRID
		
		--UPdate NoOfTalentShortlisted 
		UPDATE  H
		SET     H.NoOfTalentShortlisted = Isnull(X.Talents,0)
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = 7
					
				)X ON X.HRID = H.HRID

		--UPdate NoOfTalentinInterview 
		UPDATE  H
		SET     H.NoOfTalentinInterview = Isnull(X.Talents,0)
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = 8
					
				)X ON X.HRID = H.HRID

		--UPdate NoOfTalentHired 
		UPDATE  H
		SET     H.NoOfTalentHired = Isnull(X.Talents,0)
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = 9
					
				)X ON X.HRID = H.HRID

		--UPdate NoOfTalentOnBoraded 
		UPDATE  H
		SET     H.NoOfTalentOnBoraded = Isnull(X.Talents,0)
		FROM	#JobPostData H
				inner join
				(
					select  HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID,
							HSD.Total_Talent as Talents
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id and HSD.ATSHRStatusId = 10
					
				)X ON X.HRID = H.HRID


		select	ClientID,HRID,JobTitle,CompletedStage,CompletedStageID,NoOfApplicants,NoOfTalentsinScreening,NoOfTalentsinVetting			
				,NoOfTalentsinMatcherInterview,NoOfTalentShortlisted,NoOfTalentinInterview,NoOfTalentHired,NoOfTalentOnBoraded				
				,ActiveStatusBeforeMessage,ActiveStatusAFterMessage = ISNULL(ActiveStatusAFterMessage,'No Action is Performed Yet.'),NoOfTalents,SLADate,SLADateStatus,
				RedirectionLink
		from	#JobPostData

		Drop table #JobPostData
		DROP table #SLADate
END	