ALTER PROCEDURE [dbo].[Sproc_Get_Invoice_Details_ClientPortal]
  @CompanyId			bigint = null,
  @Month				int	= null,
  @Year					int = null,
  @PaymentHistoryID		BIGINT = null,
  @IsSchedularCall		BIT = 0
AS
BEGIN
		
		DECLARE @ContactID BIGINT 
		SELECT TOP 1 @ContactID = ID FROM gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID AND IsPrimary = 1

		IF @Month is null
			SET @Month = DATEPART(MONTH,Getdate())
		
		IF @Year is null
			SET @Year = DATEPART(YEAR,Getdate())


		IF OBJECT_ID('tempdb..#Invoice') IS NOT NULL
			DROP TABLE #Invoice

		CREATE TABLE #Invoice
		(
			InvoiceNo			Nvarchar(100),
			CompanyName			Nvarchar(200),
			Address				Nvarchar(MAx),
			CompanyNo			Nvarchar(20),
			InvoiceDate			Nvarchar(20),
			Description			Nvarchar(200),
			Qty					int,
			UnitPrice			Nvarchar(50),
			Amount				decimal(18,0),
			Total				Nvarchar(500),
			ContactName			Nvarchar(100),
			ContactNo			Nvarchar(50),
			EmailID				Nvarchar(100),
			PaymentHistoryID    BIGINT,
			Currency			NVARCHAR(100),
			TaxAmount           Nvarchar(500),
			TaxPercentage       DECIMAL(18,0),
			InvoiceTotal        Nvarchar(500),
			SGST                DECIMAL(18,0),
			CGST				DECIMAL(18,0),
			IGST				DECIMAL(18,0),
			DecimalTaxAmount    NVARCHAR(500),
			ActualInvoiceDate   DATETIME,
			CompanyID           BIGINT,
			GSTNumber			NVARCHAR(500),
			IsPaid				BIT
		)

		INSERT INTO #Invoice(InvoiceNo,CompanyName,Address,CompanyNo,InvoiceDate,Description,Qty,UnitPrice,Amount,		
							 Total,ContactName,ContactNo,EmailID, PaymentHistoryID,Currency,TaxAmount,TaxPercentage,
							 InvoiceTotal,SGST,CGST,IGST,DecimalTaxAmount,ActualInvoiceDate,CompanyID,GSTNumber,IsPaid)
		SELECT  ISNULL(PHC.InvoiceID,''),
				ISNULL(CO.BillingCompanyName,CO.Company),
				ISNULL(PHC.BillingAddress, ISNULL(CO.Address,'') + ' ' + ISNULL(CO.State,'') + ' ' + ISNULL(CO.Zip,'')),
				ISNULL(CO.phone,''),
				CONVERT(Nvarchar(15),PHC.CreatedByDateTime,103),
				'Credits Purchased',
				--IIF (SP.IsPayPerViewPlan = 1, + cast(CAST(SP.Package AS INT) as Nvarchar(10)) + ' INR Per Credit', '$' + cast(CAST(SP.Package AS INT) as Nvarchar(10)) + ' Per Job'),
				JPSH.CreditBalance,
				ISNULL(JPSH.CreditAmount,CO.CreditAmount),
				JPSH.CreditBalance * ISNULL(JPSH.CreditAmount,CO.CreditAmount),
				--CAST(JPSH.CreditBalance * JPSH.CreditAmount AS MONEY),
				CONVERT(varchar, CAST((JPSH.CreditBalance * ISNULL(JPSH.CreditAmount,CO.CreditAmount)) AS MONEY), 1), 
				ISnull(C.FullName,ISnull(C.FirstName + ' ' + C.LastNAme,'')),
				C.ContactNo,
				C.EmailID,
				PHC.ID,
				PHC.Currency,
				CONVERT(varchar, CAST((ISNULL(PHC.TaxAmount,0)) AS MONEY), 1),
				CASE WHEN CO.CreditCurrency = 'INR' THEN PHC.TaxPercentage ELSE NULL END,
				CONVERT(varchar, CAST((ISNULL(PHC.TotalInvoiceAmount, PHC.Amount)) AS MONEY), 1),
				CASE WHEN ISNULL(PHC.SGSTPercentage,0) <> 0 THEN  PHC.SGSTPercentage ELSE NULL END,
				CASE WHEN ISNULL(PHC.CGSTPercentage,0) <> 0 THEN  PHC.CGSTPercentage ELSE NULL END,
				CASE WHEN ISNULL(PHC.IGSTPercentage,0) <> 0 THEN  PHC.IGSTPercentage ELSE NULL END,
				CONVERT(varchar, CAST((PHC.TaxAmount/2) AS MONEY), 1) AS DecimalTaxAmount,
				PHC.CreatedByDateTime,
				JPSH.CompanyID,
				ISNULL(NULLIF(CO.GSTNumber,''),'NA'),
				CASE WHEN PHC.Status = 'approved' OR PHC.Status = 'COMPLETED' OR PHC.Status = 'captured' THEN CAST(1 AS BIT)							
							ELSE CAST(0 AS BIT) END
		FROM    gen_Payment_History_ClientPortal PHC WITH(NOLOCK) 
				inner join gen_JobPost_Subscription_History_ClientPortal JPSH WITH(NOLOCK) ON JPSH.PaymentHistoryID = PHC.ID
				inner join gen_Contact C WITH(NOLOCK) ON C.CompanyID = JPSH.CompanyID AND IsPrimary = 1 and PHC.CreatedByID = C.ID
				inner join gen_Company CO WITH(NOLOCK) ON CO.ID = JPSH.CompanyID
				
				--inner join prg_Subscription_Package_ClientPortal SP WITH(NOLOCK) ON SP.ID = JPSH.PackageID
		--WHERE   CO.ID = @CompanyId 
		--and MOnth(PHC.CreatedByDateTime) = @Month and Year(PHC.CreatedByDateTime) = @Year


		--SELECT * FROM #Invoice							 

		--UPDATE I
		--SET    I.Total = Isnull(Q.Amount,0)
		--FROM   #Invoice I
		--	   inner join 
		--	   (
		--			Select Isnull(Amount,0) Amount
		--			FROM   #Invoice
		--	   )Q on 1=1

		IF(ISNULL(@PaymentHistoryID, 0) = 0)
		BEGIN
			IF(@IsSchedularCall = 0)
			BEGIN
				select InvoiceNo,CompanyName,Address,CompanyNo,InvoiceDate,Description,Qty,UnitPrice,Amount,		
									 Total,ContactName,ContactNo,EmailID , Currency,TaxAmount,TaxPercentage, InvoiceTotal,SGST,CGST,IGST,DecimalTaxAmount,GSTNumber,IsPaid
				FROM   #Invoice WHERE CompanyID = @CompanyId
			END
			ELSE
			BEGIN
				select InvoiceNo,CompanyName,Address,CompanyNo,InvoiceDate,Description,Qty,UnitPrice,Amount,		
									 Total,ContactName,ContactNo,EmailID , Currency,TaxAmount,TaxPercentage, 
									 InvoiceTotal,SGST,CGST,IGST,DecimalTaxAmount,GSTNumber,IsPaid
				FROM   #Invoice 
				WHERE ActualInvoiceDate BETWEEN GETDATE()-4 AND GETDATE() AND CompanyID != 16351
			END
		END
		ELSE
		BEGIN
			select InvoiceNo,CompanyName,Address,CompanyNo,InvoiceDate,Description,Qty,UnitPrice,Amount,		
								 Total,ContactName,ContactNo,EmailID, Currency,TaxAmount,TaxPercentage, InvoiceTotal,SGST,CGST,IGST,DecimalTaxAmount,GSTNumber,IsPaid
			FROM   #Invoice 
			WHERE PaymentHistoryID = @PaymentHistoryID AND CompanyID = @CompanyId
		END

		DROP TABLE #Invoice

		IF(@IsSchedularCall = 1)
		BEGIN
			UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_Invoice_Details_ClientPortal'
		END

END