ALTER PROCEDURE [dbo].[sproc_CloneHRFromExistHR]
@HRID					BIGINT			= NULL,
@LOGGEDINUSERID			BIGINT			= NULL,
@ReplaceOnBoardID		BIGINT			= NULL,
@IsHybridClient			BIT				= NULL,
@IsPayPerHire			BIT				= NULL,
@IsTransparentPricing	BIT				= NULL,
@IsPostaJob				BIT				= NULL,
@IsProfileView			BIT				= NULL,
@IsVettedProfile		BIT				= NULL,
@SSOUserId				BIGINT = NULL,
@ActionDoneBy           INT = 3,
@IsDirectClone          BIT = 0
AS
BEGIN

	DECLARE @CloneHRID BIGINT = 0;
	DECLARE @HiringRequestDetailID BIGINT = 0;
	DECLARE @CloneHiringRequestDetailID BIGINT = 0;
	DECLARE @DATE AS VARCHAR(12)
	SELECT @DATE = format(getdate(),'ddMMyyHHmmss')
	DECLARE @JDDump_ID BIGINT = 0;
	DECLARE @CloneJDDump_ID BIGINT = 0;
	DECLARE @JobStatusID INT = NULL, @HrStatusID INT = NULL,
	@ActionPerformedBy BIGINT = 0,
	@ActionManagedByClient BIT = 1,
	@CloneHRGuid NVARCHAR(250) = NEWID(),
	@IsActive BIT = 0,
	@CompanyID as Bigint = 0, 
	@CompanyTypeId as Bigint = 0, 
	@JobPostingDate DATETIME = GETDATE(),
	@TransactionPrimaryID nVARCHAR(100) = NULL,		
	@NewGuidIfCloneFromClientPortal NVARCHAR(250) = NULL,
	@JobExpiryDate DATETIME = NULL,
	@HiringTypePricingId  INT = NULL,
	@HRTypeId INT = 0;

	SET @JobStatusID = 3 -- Draft
	SET @HrStatusID = 1 -- open

	-- Set action performed by user based on SSO login UTS-7223
	SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @LOGGEDINUSERID, @SSOUserId))
	SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0))
	
	-- Insert New Hiring Request from Existing HR.
	IF EXISTS (select 1 from gen_SalesHiringRequest with(nolock) where ID = @HRID)
	BEGIN	

		SELECT TOP 1 
		@HRTypeId = H.HRTypeId,
		@IsTransparentPricing = Co.IsTransparentPricing, 
		@HiringTypePricingId = Co.HiringTypePricingId 
		from gen_SalesHiringRequest H with(nolock) 
		INNER JOIN gen_contact C with (NOLOCK) on H.contactid = C.ID
		INNER JOIN gen_company Co with (NOLOCK) on C.CompanyID = Co.ID
		WHERE H.ID = @HRID

		IF @IsHybridClient = 1
		BEGIN
				IF @IsPayPerHire = 1
				BEGIN
					SET	@HRTypeId = 1;
				END
				ELSE
				BEGIN
					--Default null in case on PPJ
					SET @HiringTypePricingId = NULL
					SET @IsTransparentPricing = NULL

					-- Credit for Job post and for view profile
					IF @IsPostaJob = 1 AND @IsProfileView = 1
					BEGIN
							SET	@HRTypeId = 3;
							SET @JobExpiryDate = (SELECT DATEADD(d,30, GETDATE()))
					END

					-- Credit for only Job post and not for view profile
					IF @IsPostaJob = 1 AND @IsProfileView = 0
					BEGIN
							SET	@HRTypeId = 4;
							SET @JobExpiryDate = (SELECT DATEADD(d,30, GETDATE()))
					END

					-- Job Posted without job and with profile view credits.
					IF @IsPostaJob = 0 AND @IsProfileView = 1
					BEGIN
						SET	@HRTypeId = 6;
					END
				END		

				INSERT INTO gen_SalesHiringRequest 
					   (HR_Number,ContactID,RequestForTalent,Discription,DealID,NoofTalents,[Availability], OurObservation,SalesUserID,JDFilename,JDURL,CreatedByDatetime,Status_ID,CreatedByID,PartialEngagementType_ID,NoofHoursworking,IsCreatedByClient,IsAdHocHR,TalentCostCalcPercentage,IsActive,IsManaged,AdhocPassBy,AdhocPassDate,IsHiringLimited,IsPoolHR, BQLink,Discovery_Call,DPPercentage,IsHRTypeDP,about_company_desc,Previous_HiringRequest_ID, IsDirectHR, HRTypeId, HiringTypePricingId, IsTransparentPricing, PayrollTypeId, HR_TypeId, PayrollPartnerName,ReplaceOnBoardID, IsVettedProfile, JobStatusID,JobExpiryDate,JobTypeID,AppActionDoneBy)
				SELECT 'HR'+ @DATE,ContactID,RequestForTalent,Discription,DealID,case when @ReplaceOnBoardID > 0 then 1 else  NoofTalents end,[Availability], OurObservation,SalesUserID,JDFilename,JDURL,GETDATE(),@HrStatusID,@ActionPerformedBy,PartialEngagementType_ID,NoofHoursworking,IsCreatedByClient,0,TalentCostCalcPercentage,case when @ReplaceOnBoardID > 0 then 1 else 0 end,IsManaged,NULL,NULL,IsHiringLimited,1, BQLink,Discovery_Call,DPPercentage,IsHRTypeDP,about_company_desc, @HRID, IsDirectHR, @HRTypeId, @HiringTypePricingId, @IsTransparentPricing, PayrollTypeId, HR_TypeId, PayrollPartnerName,@ReplaceOnBoardID, @IsVettedProfile, @JobStatusID,@JobExpiryDate,JobTypeID,@ActionDoneBy
				FROM [dbo].[gen_SalesHiringRequest]
				WHERE ID = @HRID;
		END
		ELSE
		BEGIN

			--SET @HRTypeId = (SELECT HRTypeId from gen_SalesHiringRequest with(nolock) where ID = @HRID)
			IF(@HRTypeID IN (3,4))
			BEGIN
				SET @JobExpiryDate = (SELECT DATEADD(d,30, GETDATE()))
				SET @IsTransparentPricing = null
				SET @HiringTypePricingId = null
			END

			INSERT INTO gen_SalesHiringRequest 
				   (HR_Number,ContactID,RequestForTalent,Discription,DealID,NoofTalents,[Availability], OurObservation,SalesUserID,JDFilename,JDURL,CreatedByDatetime,Status_ID,CreatedByID,PartialEngagementType_ID,NoofHoursworking,IsCreatedByClient,IsAdHocHR,TalentCostCalcPercentage,IsActive,IsManaged,AdhocPassBy,AdhocPassDate,IsHiringLimited,IsPoolHR, BQLink,Discovery_Call,DPPercentage,IsHRTypeDP,about_company_desc,Previous_HiringRequest_ID, IsDirectHR, HRTypeId, HiringTypePricingId, IsTransparentPricing, PayrollTypeId, HR_TypeId, PayrollPartnerName,ReplaceOnBoardID, JobStatusID,JobExpiryDate, JobTypeID,AppActionDoneBy)
		    SELECT 'HR'+ @DATE,ContactID,RequestForTalent,Discription,DealID,case when @ReplaceOnBoardID > 0 then 1 else  NoofTalents end,[Availability], OurObservation,SalesUserID,JDFilename,JDURL,GETDATE(),@HrStatusID,@ActionPerformedBy,PartialEngagementType_ID,NoofHoursworking,IsCreatedByClient,0,TalentCostCalcPercentage,case when @ReplaceOnBoardID > 0 then 1 else 0 end,IsManaged,NULL,NULL,IsHiringLimited,1, BQLink,Discovery_Call,DPPercentage,IsHRTypeDP,about_company_desc, @HRID, IsDirectHR, HRTypeId, @HiringTypePricingId, @IsTransparentPricing, PayrollTypeId, HR_TypeId, PayrollPartnerName,@ReplaceOnBoardID, @JobStatusID,@JobExpiryDate, JobTypeID,@ActionDoneBy
            FROM [dbo].[gen_SalesHiringRequest]
		    WHERE ID = @HRID;
		END

		SELECT @CloneHRID= @@IDENTITY
		SELECT  @CloneHRID AS CloneHRID, @CloneHRGuid AS  CloneHRGuid
		-- Insert History for clone HR, when it create as HR In Draft
		IF(@CloneHRID >0)
			BEGIN
				--EXEC [dbo].[sproc_HiringRequest_History_Insert] 'CloneHR',@CloneHRID,0,False,@LOGGEDINUSERID,0,0,'',0,False,False,0,0
				--EXEC [dbo].[sproc_HiringRequest_History_Insert] 'Create_HR',@CloneHRID,0,False,@LOGGEDINUSERID,0,0,'',0,False,False,0,0

				EXEC sproc_HiringRequest_History_Insert @Action = 'CloneHR', @HiringRequest_ID = @CloneHRID,
								@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
								@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient ,@IsManagedByTalent = 0, @SalesUserID = 0,
								@OldSalesUserID = 0, @AppActionDoneBy = @ActionDoneBy

				EXEC sproc_HiringRequest_History_Insert @Action = 'Create_HR', @HiringRequest_ID = @CloneHRID,
								@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
								@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient ,@IsManagedByTalent = 0, @SalesUserID = 0,
								@OldSalesUserID = 0, @AppActionDoneBy = @ActionDoneBy

				IF(@ActionDoneBy = 4)
				BEGIN
					
					-- If directly Cloned then consume the credits and make the job Active.
					SET @IsActive = (SELECT IIF(@IsDirectClone = 0, 0, 1))	
					
					UPDATE gen_SalesHiringRequest 
					SET GUID = @CloneHRGuid
					WHERE ID = @CloneHRID

					SET @NewGuidIfCloneFromClientPortal = @CloneHRGuid

					IF(@IsDirectClone = 1)
					BEGIN
						IF(@IsActive = 1)
						BEGIN

							SELECT @CompanyID = CompanyID from gen_Contact with(NOLOCK) WHERE ID = @LOGGEDINUSERID
							SELECT @CompanyTypeId = Isnull(CompanyTypeID,0) from gen_Company WITH(NOLOCK) Where ID = @CompanyID

							IF(@HRTypeId = 1)
							BEGIN
								SET @CompanyTypeId = 1
							END

							-- Check the company balance and update the data if no balance then do not execute further.						
							EXEC Sproc_CreditUtilization_Process	@CompanyID	    = @CompanyID,
																	@HRID		    = @CloneHRID,
																	@ContactID		= @LOGGEDINUSERID,
																	@JobPostedDate	= @JobPostingDate,
																	@ATSTalentID	= 0,
																	@IsRepost		= 0,
																	@CreatedById	= @ActionPerformedBy,
																	@CompanyTypeId	= @CompanyTypeId,
																	@ProfileUnlock	= 0,
																	@VettedProfile	= 0,
																	@OutputParam	= @TransactionPrimaryID OUTPUT
						END
						ELSE
						BEGIN
							SET @TransactionPrimaryID = 'Draft HR'
							SET @IsActive = 0
						END

						IF(ISNULL(@TransactionPrimaryID,'') <> '-1')
						BEGIN
							UPDATE gen_SalesHiringRequest SET 
							IsActive = @IsActive,
							JobStatusID = CASE WHEN @IsActive = 1 THEN 4 ELSE @JobStatusID END
							WHERE ID = @CloneHRID
						END
					END
				END

			END
	END
   

	IF EXISTS (select 1 from gen_SalesHiringRequest_Details with(nolock) where HiringRequest_ID = @HRID)
	BEGIN
		-- Get HiringRequestDetailID and insert new entry for HR Detail in gen_SalesHiringRequest_Details Table.
		SELECT @HiringRequestDetailID = ID from gen_SalesHiringRequest_Details with(nolock) where HiringRequest_ID = @HRID

		INSERT INTO gen_SalesHiringRequest_Details
					(HiringRequest_ID,Role_ID,DurationType,SpecificMonth,YearOfExp,Timezone_ID,HowSoon,CreatedByID,CreatedByDatetime,RoleStatus_ID,NoofEmployee,RolesResponsibilities,GenericInfo,Requirement,Timezone_Preference_ID,TimeZone_FromTime,TimeZone_EndTime,OverlapingHours,InterviewerDesignation,InterviewerEmailID,Cost,BudgetFrom,BudgetTo,Currency,AddOtherRole,Adhoc_BudgetCost,Remark,TypeofInterviewer_ID,CommunicationType,Interviewer_ID,InterviewerName,InterviewLinkedin,InterviewerYearofExperience,Timezone_Preference,InterviewerExpInMonth, CalculatedUplersfees, JobDescription)
			SELECT @CloneHRID,Role_ID,DurationType,SpecificMonth,YearOfExp,Timezone_ID,HowSoon,@ActionPerformedBy,getdate(),1,case when @ReplaceOnBoardID > 0 then 1 else  NoofEmployee end ,RolesResponsibilities,GenericInfo,Requirement,Timezone_Preference_ID,TimeZone_FromTime,TimeZone_EndTime,OverlapingHours,InterviewerDesignation,InterviewerEmailID,Cost,BudgetFrom,BudgetTo,Currency,AddOtherRole,Adhoc_BudgetCost,Remark,TypeofInterviewer_ID,CommunicationType,Interviewer_ID,InterviewerName,InterviewLinkedin,InterviewerYearofExperience,Timezone_Preference,ISNULL(InterviewerExpInMonth,0), CalculatedUplersfees, JobDescription
				    FROM [dbo].[gen_SalesHiringRequest_Details] WITH(NOLOCK)
				    WHERE  ID = @HiringRequestDetailID   AND HiringRequest_ID = @HRID 

		SELECT @CloneHiringRequestDetailID = ID from gen_SalesHiringRequest_Details with(nolock) where HiringRequest_ID = @CloneHRID
	
	END

	-- Insert clone HR data in gen_Direct_Placement when it is exists.
	IF EXISTS (select 1 from gen_Direct_Placement with(nolock) where HiringRequest_Id = @HRID)
	BEGIN
				INSERT INTO gen_Direct_Placement
							(
								  [HiringRequest_Id]
								 ,[ModeOfWork]
								 ,[Address]
								 ,[City]
								 ,[State]
								 ,[Country]
								 ,[PostalCode]
								 ,[CreatedById]
								 ,[CreatedByDateTime]
								 ,[ModifiedById]
								 ,[ModifiedByDateTime]
								 ,JobLocation
								 ,FrequencyOfficeVisitID
								,IsOpenToWorkNearByCities
								,NearByCities
								,ATS_JobLocationID
								,ATS_NearByCities
							)
							SELECT @CloneHRID
						           ,[ModeOfWork]
								   ,[Address]
							       ,[City]
								   ,[State]
								   ,[Country]
								   ,[PostalCode]
								   ,@ActionPerformedBy
								   ,GETDATE()
								   ,NULL
								   ,NULL
								   ,JobLocation
								 ,FrequencyOfficeVisitID
								,IsOpenToWorkNearByCities
								,NearByCities
								,ATS_JobLocationID
								,ATS_NearByCities
							 FROM gen_Direct_Placement WITH (NOLOCK)
							 WHERE HiringRequest_Id = @HRID
		END

	-- Insert data for clone HR when data exists in gen_SalesHiringRequest_InterviewerDetails
	IF EXISTS(SELECT * FROM gen_SalesHiringRequest_InterviewerDetails WITH (NOLOCK) WHERE  HiringRequest_ID =@HRID AND HiringRequest_Detail_ID= @HiringRequestDetailID)
	BEGIN
				INSERT INTO gen_SalesHiringRequest_InterviewerDetails
						(
							 [HiringRequest_ID]
							,[HiringRequest_Detail_ID]
							,[InterviewerName]
							,[InterviewLinkedin]
							,[InterviewerYearofExperience]
							,[TypeofInterviewer_ID]
							,[InterviewerDesignation]
							,[InterviewerEmailID]
							,[IsUsedAddMore]
							,[InterviewerExpInMonth]
						)
				SELECT @CloneHRID
					   ,@CloneHiringRequestDetailID
					   ,[InterviewerName]
					   ,[InterviewLinkedin]
					   ,[InterviewerYearofExperience]
					   ,[TypeofInterviewer_ID]
					   ,[InterviewerDesignation]
					   ,[InterviewerEmailID]
					   ,[IsUsedAddMore]
					   ,[InterviewerExpInMonth]
					   FROM gen_SalesHiringRequest_InterviewerDetails WITH (NOLOCK) WHERE  HiringRequest_ID =@HRID AND HiringRequest_Detail_ID= @HiringRequestDetailID 

		END

		-- Insert Data for clone hr in gen_SalesHiringRequest_SkillDetails 

	IF EXISTS(SELECT 1 FROM gen_SalesHiringRequest_SkillDetails WITH(NOLOCK) WHERE HiringRequest_ID = @HRID )
	BEGIN
		INSERT INTO gen_SalesHiringRequest_SkillDetails
			(
				  [HiringRequest_ID]
				 ,[Skill_ID]
				 ,[Proficiency]
				 ,[CreatedByID]
				 ,[CreatedByDatetime]
				 ,[LastModifiedByID]
				 ,[LastModifiedDatetime]
				 ,[TempSkill_ID]
			)
			SELECT @CloneHRID
			       ,[Skill_ID]
				   ,[Proficiency]
				   ,@ActionPerformedBy
				   ,GETDATE()
				   ,NULL
				   ,NULL
				   ,[TempSkill_ID]
			FROM gen_SalesHiringRequest_SkillDetails WITH(NOLOCK) WHERE HiringRequest_ID = @HRID
	END	

	-- Insert Clone JD Details when it is Exists (Added by Reena Jain: 17-May-2023)
	SELECT @JDDump_ID = JDDump_ID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID

	IF(@JDDump_ID>0)
	BEGIN
			INSERT INTO gen_SalesHR_JDDump
				(
				 [ContactID]
				,[Company]
				,[TimeZone]
				,[JDRole]
				,[JDDescription]
				,[JDSkills]
				,[HowSoon]
				,[HowLong]
				,[YearsOfExp]
				,[Qty]
				,[JDTools]
				,[JDFileName]
				,[JDDetails]
				,[CreatedByDatetime]
				,[JDAllSkills]
				,[RolesResponsibilities]
				,[Requirement]
				,[JDSkill_Percentage]
				,[JD_RolesResponsibilities]
				,[JD_Requirement]
				)
			SELECT 
				 [ContactID]
				,[Company]
				,[TimeZone]
				,[JDRole]
				,[JDDescription]
				,[JDSkills]
				,[HowSoon]
				,[HowLong]
				,[YearsOfExp]
				,[Qty]
				,[JDTools]
				,[JDFileName]
				,[JDDetails]
				,GETDATE()
				,[JDAllSkills]
				,[RolesResponsibilities]
				,[Requirement]
				,[JDSkill_Percentage]
				,[JD_RolesResponsibilities]
				,[JD_Requirement]
			FROM gen_SalesHR_JDDump WITH(NOLOCK) WHERE ID = @JDDump_ID

			SELECT @CloneJDDump_ID= @@IDENTITY

			--select @JDDump_ID as JDDump_ID,@CloneJDDump_ID as CloneJDDump_ID

			IF(@CloneJDDump_ID>0)

					--Update JDSkill_Percentage  
						BEGIN  
						--select @JDDump_ID as JDDump_ID,@CloneJDDump_ID as CloneJDDump_ID

								update gen_SalesHR_JDDump set JDSkill_Percentage=100  where Id = @CloneJDDump_ID and ISNULL(JDAllSkills,'') != '' 
						END  
						--update JD_RolesResponsibilities  
						BEGIN  
								update gen_SalesHR_JDDump set JD_RolesResponsibilities=100 where Id = @CloneJDDump_ID and ISNULL(RolesResponsibilities,'') != '' 
						END  
						--update JD_Requirement  
						BEGIN  
								update gen_SalesHR_JDDump set JD_Requirement=100 where Id = @CloneJDDump_ID and ISNULL(Requirement,'') != '' 
						END  


			BEGIN

			--Added by Siddharth Jain (Dtd: 22/May/2023)
			--Update new CloneJDDump_ID in JDDump_ID column in HR Table of ID: CloneHRID
			UPDATE gen_SalesHiringRequest SET JDDump_ID = @CloneJDDump_ID where ID = @CloneHRID;

			-- Insert JD Dump Skills (Added by Reena Jain: 17-May-2023)
				IF EXISTS(SELECT JDDump_ID FROM gen_SalesHR_JDDump_SkillDetails WITH(NOLOCK) WHERE JDDump_ID = @JDDump_ID)
				BEGIN
					INSERT INTO gen_SalesHR_JDDump_SkillDetails
					(
					  [JDDump_ID]
					 ,[Skill_ID]
					 ,[TempSkill_ID]
				    )
					SELECT 
					  @CloneJDDump_ID
					 ,[Skill_ID]
					 ,[TempSkill_ID]
					 FROM gen_SalesHR_JDDump_SkillDetails WITH (NOLOCK) WHERE JDDump_ID = @JDDump_ID 
				END
			END
	END
	
	---Insert vital information when it Exists
	IF EXISTS(SELECT 1 FROM gen_JobPost_VitalInfo_ClientPortal WITH(NOLOCK) WHERE HRID = @HRID)
	BEGIN
		INSERT INTO gen_JobPost_VitalInfo_ClientPortal
		(
			HRID,
			ContactID,
			CompensationOption,
			IndustryType,
			HasPeopleManagementExp,
			Prerequisites,
			StringSeparator,
			CreatedbyId,
			CreatedbyDateTime,
			IsActive
		)
		SELECT 
			@CloneHRID,
			ContactID,
			CompensationOption,
			IndustryType,
			HasPeopleManagementExp,
			Prerequisites,
			StringSeparator,
			CreatedbyId,
			CreatedbyDateTime,
			IsActive
		FROM gen_JobPost_VitalInfo_ClientPortal WITH(NOLOCK) WHERE HRID = @HRID
	END


	----Insert HR POC details if exists
	IF EXISTS(SELECT TOP 1 ID FROM gen_SalesHRWise_ContactIDforATS WITH(NOLOCK) WHERE HiringRequest_ID = @HRID)
	BEGIN
		INSERT INTO gen_SalesHRWise_ContactIDforATS(HiringRequest_ID, HRWise_ContactID, GUID)
		SELECT @CloneHRID, HRWise_ContactID, @NewGuidIfCloneFromClientPortal FROM gen_SalesHRWise_ContactIDforATS
		WHERE HiringRequest_ID = @HRID 
	END
END
