ALTER PROCEDURE [dbo].[Sproc_UTS_GetUserByType]
    @UserTypeId INT  = NULL
AS
BEGIN

	IF ISNULL(@UserTypeId,0) > 0
	BEGIN
		SELECT 
		ur.Id AS ID,
		ISNULL(ur.UserRole,'') AS UserRole
		FROM 
			usr_UserTypeAndRoleDetails utrd WITH (NOLOCK) 
		INNER JOIN 
			usr_UserRole ur WITH (NOLOCK) ON utrd.UserRole_ID = ur.Id
		WHERE 
			utrd.UserType_ID = @UserTypeId;
	END
END;