ALTER PROCEDURE [dbo].[Sproc_Delete_Draft_Job_ClientPortal]
    @GUID NVARCHAR(MAX) = NULL,
	@HRID BIGINT = 0,
	@ContactID BIGINT = 0
AS
BEGIN		

		IF(@HRID > 0)
		BEGIN
			EXEC [dbo].[Sproc_UTS_DeleteTestHR] @HR_ID = @HRID
		END
		ELSE
		BEGIN
			DELETE from gen_RoleAndHiringType_ClientPortal WHERE --ContactID = @ContactID and 
														ISNULL(isActive,0) = 0 AND GUID = @guid
			DELETE FROM gen_SkillAndBudget_ClientPortal WHERE --ContactID = @ContactID and 
														ISNULL(isActive,0) = 0 AND GUID = @guid
			DELETE FROM gen_JobPost_Employment_Details_ClientPortal WHERE  --ContactID = @ContactID  and 
														ISNULL(isActive,0) = 0 AND GUID = @guid
			DELETE FROM gen_JobPost_Roles_Responsibilities_ClientPortal WHERE --ContactID = @ContactID and 
														ISNULL(isActive,0) = 0 AND GUID = @guid
			DELETE FROM gen_TransparentPricingModel_ClientPortal WHERE --ContactID = @ContactID AND 
			GUID = @guid

			IF EXISTS (SELECT 1 FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE GUID = @guid)
			BEGIN
				SELECT TOP 1 @HRID = ID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE GUID = @guid
			
				EXEC [dbo].[Sproc_UTS_DeleteTestHR] @HR_ID = @HRID
			END
		END
END
