USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_CompanyDetailsFrom_Prompt]    Script Date: 15-05-2024 19:19:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[Sproc_Get_CompanyDetailsFrom_Prompt]
  @CompanyWebsite			Nvarchar(200) = null
AS
BEGIN

		DECLARE @SQL as NVARCHAR(MAX) = null
			
		SET @SQL = 'Your job is to fetch  `Company Size`,`Company Industry Type`, `Brief About Company`,`Headquaters`,`Company Type`,`Founded In`,
					Funding Details Like `Investors`, `Month` and `year` , `Funding Amount` , `Funding Round` and `Type`, Culture Details Like `Brief About Culture`,`Culture Images`, `Perks`
					from given Company website. Bring Brief about 5 lines.Bring Company Size in Integer only and not only in range.Please verify Company Name properly and if no details found please send Empty Json.

					Output in indented and complete JSON format:
					``
					{
						`Company_Size`: Integer,
						`Company_Industry_Type`: string,
						`Brief_About_Company`: string (max 5 lines),
						`Ratings`: string,
						`Reviews`: string (max 10 lines),
						`Headquaters`: string,
						`Company_Type`:string,
						`Founded_In`:string,
						`Brief_About_Culture`: string (Max 5 lines),
						`Funding_Details` : Array [
						   {
      							`Type`: string,
      							`Month`: string,
      							`Year`: integer,
      							`Funding_Amount`: string
      							`Funding_Round`: string ,
      							`Investors`: string
    						}
						 ],
					   `Culture_Images`: array(images),
					   `Perks` : array						
					}
					``
					Here is the Company WebSite : ' + @CompanyWebsite
	
			SELECT @SQL as Prompt 

END