--exec Sproc_UTS_GetHubSpotCompanyList 1,10,'CreatedbyDatetime','desc','','',''
CREATE PROCEDURE [dbo].[Sproc_UTS_GetHubSpotCompanyList]
	@PageIndex				INT = 1,
	@PageSize				INT = 50,
	@SortExpression			nvarchar(100) = 'CreatedbyDatetime',
	@SortDirection			nvarchar(100) = 'desc',
	@Company				nvarchar(100) = null,
	@Website				nvarchar(100) = null,
	@Domain					nvarchar(100) = null
AS
BEGIN
		DECLARE @WhereClauseSQL nvarchar(max) = ''
		DECLARE @MainSQL nvarchar(max) = ''
		
		IF isnull(@Company,'') <> ''
			SET @WhereClauseSQL += ' AND Company LIKE ''%' + CONVERT(nvarchar,@Company) + '%'''

		IF isnull(@Website,'') <> ''
			SET @WhereClauseSQL += ' AND Website LIKE ''%' + CONVERT(nvarchar,@Website) + '%'''

		IF isnull(@Domain,'') <> ''
			SET @WhereClauseSQL += ' AND domain LIKE ''%' + CONVERT(nvarchar,@Domain) + '%'''


	    SET @MainSQL= 'WITH CTE_Records AS (SELECT  C.ID,C.CompanyID, Company = ISNULL(C.Company,'''') ,Website = ISNULL(C.Website,''''),
		                      address = ISNULL(C.address,''''),phone = ISNULL(C.phone,''''),domain = ISNULL(domain,''''),CreatedByDatetime ,1 as TotalCountID
												FROM	gen_HubSpotCompany C WITH(NOLOCK)
												WHERE	1=1 ' + @WhereClauseSQL + '
								)
								
								,Cte_TotalCount AS(
										Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
								)
								SELECT	ID,CompanyID,Company,Website,address,phone,domain,
								(CONVERT(varchar, ISNULL(CreatedByDatetime, ''''), 103) + '' ''  + convert(VARCHAR(8), CreatedByDatetime, 14)) CreatedByDatetime,
										T.TotalRecords
								FROM	CTE_Records U 
										INNER JOIN Cte_TotalCount T on T.TotalCountID = U.TotalCountID '
								
								
					   If @SortExpression = 'CreatedbyDatetime'
								SET @MainSQL += ' ORDER BY cast(' + @SortExpression + ' as datetime) ' + @SortDirection
							ELSe 
								SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

					   IF(@PageSize>0)
						  BEGIN
								SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
												FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
						   END

PRINT(@MainSQL)
EXECUTE sp_executesql @MainSQL	

END
