USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_UTS_Insert_HiringRequest_PriorityHistory]    Script Date: 3/13/2023 5:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_UTS_Insert_HiringRequest_PriorityHistory]
@LoggedInUserId				BIGINT			= NULL,
@SalesUserID				BIGINT			= NULL,
@HiringRequestID			BIGINT			= NULL,
@IsPriority					BIT				= NULL,
@PriorityStartDate			NVARCHAR(50)	= NULL,
@PriorityEndDate			NVARCHAR(50)	= NULL,
@IsNextWeekPriority			BIT				= NULL
AS
BEGIN
	Declare @userPriocount as int = 0
	Declare @userRemPriocount as int = 0
	Declare @TeammanagerID as int = 0
	DEclare @Remcount as int = 0
	DEclare @ReturnVal as int = 0
	

	IF OBJECT_ID('temp_db..#AllParentHierarchyTbl') IS NOT NULL
		DROP TABLE #AllParentHierarchyTbl;

	CREATE TABLE #AllParentHierarchyTbl(userid bigint, parentid bigint, levelposition int);
			
	--Added CTE to get branch level hierarchy till Parent.
	;WITH EMP_CTE AS
	(
		SELECT	top 1 userid, parentId, 0 AS levelposition 
		FROM	usr_UserHierarchy UH with(nolock)
		WHERE	exists (
							select	1 
							from	usr_User U with(nolock)
							where	U.id = UH.UserID 
									and UH.UserID = Isnull(@SalesUserID,UH.UserID)
						)
						
		UNION ALL
		SELECT	T.userid, T.parentId, levelposition - 1 AS EmployeeLevel 
		FROM	usr_UserHierarchy  AS T with(nolock)
				INNER JOIN EMP_CTE  AS C ON T.userID = C.parentId
	)
	INSERT INTO #AllParentHierarchyTbl
		SELECT * FROM EMP_CTE;
	

	SET	 @TeammanagerID = (Select top 1 U.ID
	FROM	 #AllParentHierarchyTbl T  
			 left join usr_User U with(nolock) on T.UserID = U.ID 
	WHERE	 U.UserTypeID = 9
	order by T.levelposition desc);


	set @userRemPriocount = (select ISNULL(RemainingPriorityCount,0) as RemainingPriorityCount from usr_User with(nolock) where ID = @TeammanagerID);
	set @userPriocount = (select ISNULL(PriorityCount,0) as PriorityCount from usr_User with(nolock) where ID = @TeammanagerID);

	if (@userRemPriocount = 0 and @IsNextWeekPriority = 1)
	begin
		set @ReturnVal =0;
		--select @ReturnVal;
	end
	else
	begin

		IF exists (select 1 from gen_SalesHiringRequest_Priority with(nolock) where HiringRequestID = @HiringRequestID)
		BEGIN
			UPDATE gen_SalesHiringRequest_Priority 
			SET HiringRequestID = @HiringRequestID,
			ModifiedByID =@LoggedInUserId,
			ModifiedDatetime = getdate(),
			SalesUserID = @SalesUserID,
			IsNextWeekPriority = @IsNextWeekPriority,
			PriorityStartDate = CASE WHEN @PriorityStartDate = NULL OR @PriorityStartDate = '' THEN PriorityStartDate ELSE CAST(@PriorityStartDate as date) END,
			PriorityEndDate = CASE WHEN @PriorityEndDate = NULL OR @PriorityEndDate = '' THEN PriorityEndDate ELSE CAST(@PriorityEndDate as date) END
			Where HiringRequestID = @HiringRequestID
		END
		ElSE
		BEGIN
		if @IsNextWeekPriority=1
			BEGIN
			INSERT INTO gen_SalesHiringRequest_Priority(CreatedByDatetime,CreatedByID,SalesUserID,HiringRequestID,IsNextWeekPriority,PriorityStartDate,PriorityEndDate)
			values(getdate(),Isnull(@LoggedInUserId,0),ISnull(@SalesUserID,0),ISNULL(@HiringRequestID,0),@IsNextWeekPriority,CAST(@PriorityStartDate as date),CAST(@PriorityEndDate as date))
			END
		END

		begin --History Insert

			INSERT INTO gen_SAlesHiringRequest_Priority_History(SalesUserID,HiringRequestID,IsPriority,CreatedByID,CreatedByDatetime,
			PriorityStartDate,PriorityEndDate,IsNextWeekPriority)
			SELECT ISNULL(@SalesUserID,0),ISNULL(@HiringRequestID,0),@IsPriority,@LoggedInUserId,GETDATE(),CASE WHEN @PriorityStartDate = NULL OR @PriorityStartDate = '' THEN NULL ELSE CAST(@PriorityStartDate as date) END,CASE WHEN @PriorityEndDate = NULL OR @PriorityEndDate = '' THEN NULL ELSE CAST(@PriorityEndDate as date) END,@IsNextWeekPriority
		end
		
	
		PRINT(@TeammanagerID);
		IF(@userRemPriocount >0 and @IsNextWeekPriority = 1)
		BEGIN
			Update Usr_user set RemainingPriorityCount = RemainingPriorityCount - 1 where id = @TeammanagerID;
		END
		ELSE IF @IsNextWeekPriority = 0
		BEGIN
			Update Usr_user set RemainingPriorityCount = RemainingPriorityCount + 1 where id = @TeammanagerID;
		END

		set @ReturnVal =1

	end

	select CAST(@ReturnVal as int) as Value
END