ALTER PROCEDURE [dbo].[Sproc_GET_ALL_HR_Details_For_PHP_API]     
 @HiringRequest_ID  Bigint = null,      
 @SendAllHRData   bit = 0      
AS      
BEGIN      
 IF @SendAllHRData = 0      
  BEGIN      
     print 'if IF @SendAllHRData = 0  '    

	;WITH CTE_TopSaleLead AS
			(
				SELECT	top 1 userid, parentId, 0 AS levelpostion
				FROM	usr_UserHierarchy UH With(nolock)
				WHERE	exists (
									select	1 
									from	usr_User U With(Nolock)
									inner join gen_SalesHiringRequest H WITH(NOLOCK)  ON  H.SalesUserID = U.ID
									where	U.ID = UH.UserID and UH.UserID = H.SalesUserID
									        AND H.ID = @HiringRequest_ID

								)
						
				UNION ALL
				SELECT	T.userid, T.parentId, levelpostion - 1 AS EmployeeLevel 
				FROM	usr_UserHierarchy AS T With(Nolock)
						INNER JOIN CTE_TopSaleLead  AS C ON T.userID = C.parentId
			)
			SELECT	top 1 ISNULL(U.FullName,'') AS LeadName,Isnull(U.EmailID,'') EmailID
			into #Temp_TopSaleLead
			FROM	CTE_TopSaleLead T 
					inner join usr_User U With(Nolock) on T.UserID = U.ID 
			where ParentID <>0 AND not	exists (
									select	1 
									from  gen_SalesHiringRequest H WITH(NOLOCK)  
									where T.UserID = H.SalesUserID
									      AND H.ID = @HiringRequest_ID

								)
			--order by levelpostion desc

    
    select   H.ID  as HiringRequest_ID      
      ,Isnull(U.FullName,'') as SalesUserName      
      ,Isnull(C.FullName,'') as ContactName      
      ,Isnull(C.EmailID,'') as ContactEmailID      
      ,Isnull(H.DealID,0) as DealID      
      ,Isnull(H.RequestForTalent,'') as RequestForTalent      
      ,Isnull(Discription,'') as Discription      
      ,Isnull(JDFilename,'') as JDFilename      
      ,Isnull(JDURL,'') as JDURL      
      ,case when Isnull(MonthDuration,0) <> 0 then Isnull(MonthDuration,0) else Isnull(SpecificMonth,0) END as MonthDuration      
      ,Isnull(NoofTalents,0) as Quantity      
      ,Isnull(JSC.JobStatus,'') as HR_Status      
      ,Isnull(HRS.ATS_HiringRequest_Status,'') as HR_Sub_Status    
      ,Isnull(OurObservation,'') as OurObservation      
      ,Isnull(H.Remark,'') as Remark      
      ,ISNULL((CONVERT(varchar, ISNULL(H.CreatedbyDatetime, ''), 103) + ' ' + convert(VARCHAR(8),H.CreatedbyDatetime, 14)),'') as CreatedbyDatetime      
      ,ISNULL((CONVERT(varchar, ISNULL(H.LastModifiedDatetime, ''), 103) + ' ' + convert(VARCHAR(8),H.LastModifiedDatetime, 14)),'') as LastModifiedDatetime      
      ,ISNULL((CONVERT(varchar, ISNULL(H1.CreatedbyDatetime, ''), 103) + ' ' + convert(VARCHAR(8),H1.CreatedbyDatetime, 14)),'') as HRSubmittedDate    
      ,Isnull(H.HR_Number,'') as HR_Number      
      ,Isnull(Availability,'') as Availability      
      ,Isnull(PET.PartialEngagementType,'') as PartialEngagementType      
      ,ISnull(H.NoofHoursworking,0) as NoofHoursworking            
      ,Case when IsCreatedByClient = 1 then 'yes' else 'No' end as IsCreatedByClient      
      ,case when H.IsActive = 1 then 'Active' else 'InActive' end as IsActive            
      ,case when IsAdHocHR = 1 then 'Pool' else 'Odr' end IsAdHocHR        
      ,ISNULL((SELEct top 1 U1.EmployeeID from usr_User U1 with(NOLOCK) WHERE U1.ID = H.AcceptedByID),'') as AcceptedBy      
      ,ISNULL((CONVERT(varchar, ISNULL(H.AcceptedByDateTime, ''), 103) + ' ' + convert(VARCHAR(8),H.AcceptedByDateTime, 14)),'') as AcceptedByDateTime      
      ,Case when IsAccepted = 1 then 'HR Accepted' when IsAccepted = 2 then 'Info Pending' else 'Acceptance Pending' end  IsAccepted      
      ,Case when IsManaged = 1 then 'Managed' else 'Self' end as IsManaged      
      ,Isnull(DeleteHRReason,'') as DeleteHRReason      
      ,Isnull(NotAcceptedHRReason,'') as NotAcceptedHRReason      
      ,ISNULL((SELEct top 1 U2.FullName from usr_User U2 with(NOLOCK) WHERE U2.ID = H.AdhocPassBy),'') AdhocPassBy      
      ,ISNULL((CONVERT(varchar, ISNULL(H.AdhocPassDate, ''), 103) + ' ' + convert(VARCHAR(8),H.AdhocPassDate, 14)),'') as AdhocPassDate      
      ,case when IsHiringLimited = 1 then 'Yes, it''s for a limited Project' else 'No, They want to hire for long term' end IsHiringLimited      
      ,case when Isnull(H.IsAdHocHR,0) = 0 AND Isnull(H.IsPoolHR,0) = 1 then 'Pool'      
             when Isnull(H.IsAdHocHR,0) = 1 AND Isnull(H.IsPoolHR,0) = 0 then 'ODR'          
             when Isnull(H.IsAdHocHR,0) = 1 AND Isnull(H.IsPoolHR,0) = 1 then 'ODR + Pool' ELSE '' end as IsPoolHR            
      ,'' as InterviwerName      
      ,ISNULL(TR.TalentRole,'') HR_Role      
      ,ISNULL(TZ.TimeZoneTitle,'') HR_ShiftTime      
      ,IsNULL(HD.YearOfExp,0) YearOfExp      
      ,ISNULL(HD.RolesResponsibilities,'') RolesResponsibilities      
      ,ISNULL(HD.GenericInfo,'') GenericInfo      
      ,ISNULL(HD.Requirement,'') Requirement      
      ,ISNULL(CP.Company,'') CompanyName      
      ,ISNULL(CP.LinkedInProfile,'') LinkedInURL      
      ,ISNULL(CP.Website,'') WebsiteURL            
      ,ISNULL(CP.CompanySize,0) TeamSize      
      ,ISNULL(CP.Location,'') CompamyLocation      
      ,ISNULL(H.ContactID,0) ContactID      
   ,ISNULL(CP.ID,0) CompanyID     
   ,ISNULL(CP.about_Company_desc,'') about_Company_desc, 
	CASE    
	   WHEN ISNULL(Adhoc_BudgetCost,0) > 0 THEN CAST(ISNULL(HD.Adhoc_BudgetCost,0) AS nvarchar(100))    
	   WHEN (ISNULL(Adhoc_BudgetCost,0) = 0) AND (ISNULL(HD.BudgetFrom,0) = 0 AND ISNULL(HD.BudgetTo,0) = 0) THEN 'Open to any budget'     
	   WHEN ISNULL(HD.BudgetFrom,0) > 0 AND ISNULL(HD.BudgetTo,0) > 0 THEN  CAST(HD.BudgetFrom AS nvarchar(100)) + '-' + CAST(HD.BudgetTo AS nvarchar(100))    
	END AS Cost    
   ,ISNULL(HD.HowSoon,'') HowSoon    
   ,ISNULL(HD.Currency,'') Currency    
   ,ISNULL(HD.Adhoc_BudgetCost,0) Adhoc_BudgetCost    
   ,ISNULL(HD.BudgetFrom,0) BudgetFrom    
   ,ISNULL(HD.BudgetTo,0) BudgetTo    
   --,ISNULL(HD.BudgetTo,0) BudgetTo    
   --,ISNULL(H.about_Company_desc,'') AboutCompany    
   ,ISNULL(CP.about_Company_desc,'') AboutCompany    
   ,ISNULL(H.IsHRTypeDP,0) IsHRTypeDP    
   ,ISNULL(H.DPPercentage,0) DPPercentage    
   ,ISNULL(H.TalentCostCalcPercentage,0) NRPercent    
   ,ISNULL(DP.ModeOfWork,'') ModeOfWork    
   ,ISNULL(DP.Address,'') Address    
   ,ISNULL(DP.City,'') City    
   ,ISNULL(DP.State,'') State    
   ,ISNULL(CR.Country,'') Country    
   ,ISNULL(DP.PostalCode,'') PostalCode    
   ,ISNULL(H.IsPartnerHR,0) IsPartnerHR    
   ,ISNULL(H.ChildCompanyID,0) ChildCompanyID    
   ,ISNULL(ChildCom.Company,'') ChildCompanyName    
   ,ISNULL(U.IsPartnerUser,0) IsPartnerUser    
   ,ISNULL(U.EmployeeID,'') SalesUserEmployeeID    
   ,ISNULL(G.GEO,'') as CompanyGEO    
   ,ISNULL(CP.Industry_Type,'') CompanyIndustry_Type      
   ,case when Isnull(Status_ID,0) IN (3, 4, 6 ) THEN ISNULL(    
             (SELECT TOP 1 GST.OriginalTR - GST.UpdatedTR FROM gen_SalesHR_TRUpdated_Details GST     
             Where IsTRLost = 1 and HiringRequestID = H.ID ORDER By ID desc)    
             ,0)     
             ELSE 0 END as LostTRCount, --UTS-3208: Added Loss TR count.    
  DiscoveryCall = CASE WHEN ISNULL(H.Discovery_Call,'') LIKE 'http%' OR ISNULL(H.Discovery_Call,'') LIKE 'https%'     
        THEN ISNULL(H.Discovery_Call,'')    
        ELSE 'N/A'    
        END, -- Send the Discovery call to ATS    
 JDPath = CASE WHEN ISNULL(H.JDFilename,'') <> ''     
        THEN H.JDFilename    
        ELSE ''    
        END, -- Send the JDPath to ATS    
 ShiftStartTime = ISNULL(HD.TimeZone_FromTime,''), -- Send TimeZone_FromTime,TimeZone_EndTime,OverlapingHours to ATS    
 ShiftEndTime = ISNULL(HD.TimeZone_EndTime,''),    
 IST_TimeZone_FromTime = CASE    
    WHEN HD.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, HD.TimeZone_FromTime) AS TIME), 0)    
    ELSE ''    
 END,    
 IST_TimeZone_EndTime = CASE    
    WHEN HD.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, HD.TimeZone_EndTime) AS TIME), 0)    
    ELSE ''    
 END,    
 OverlappingHours= ISNULL(HD.OverlapingHours,0),    
 IsHRFocused = case when Isnull(HD.IsHRFocused,0) = 1 then 'yes' else 'no' end,    
 JobStatusID = ISNULL(JobStatusID, 0),    
 IsDirectHR=ISNULL(H.IsDirectHR, 0),    
 PricingId = ISNULL(H.HiringTypePricingId,0),    
 PricingName = ISNULL(HTP.Type,''),    
 IsTransparentPricing = H.IsTransparentPricing,    
 PayrollTypeId = ISNULL(H.PayrollTypeId,0),    
 PayrollType = ISNULL(PT.PayrollType,''),    
 PayrollPartnerName = ISNULL(H.PayrollPartnerName,''),    
 HRTypeId = ISNULL(H.HRTypeId,0),    
 HRTypeText = ISNULL(PCT.CompanyType,''),    
 IsHiringLimitedBool = H.isHiringLimited,    
 IsConfidentialBudget = ISNULL(HD.IsConfidentialBudget,0),    
 IsVettedProfile = H.IsVettedProfile,    
 IsBackendHR = CASE WHEN ISNULL(H.GUID, '') = '' THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,    
 DurationType = ISNULL(HD.DurationType,''),    
 HR_MainStatus = Isnull(JSC.JobStatus,''),    
 JobDescription = ISNULL(HD.JobDescription, ''),    
 IsFresherAllowed = ISNULL(HD.IsFresherAllowed, 0),    
 action_by_employee_id = Case when IsCreatedByClient = 1 then null else (SELECT TOP 1 EmployeeID FROM usr_User WITH(NOLOCK) WHERE ID = H.CreatedByID) end,    
 Reference_HRNumber = CASE WHEN ISNULL(H.Previous_HiringRequest_ID,0) <> 0 THEN (SELECT TOP 1 HR_Number FROM gen_SalesHiringRequest     
                     WHERE ID = H.Previous_HiringRequest_ID) ELSE '' END    
 ,SalesUserEmail = (SELECT TOP 1 EmailID FROM usr_User WITH(NOLOCK) WHERE ID = H.CreatedByID)    
 ,CompensationOption = ISNULL(NULLIF(VC.CompensationOption,''),null),    
 CandidateIndustry = ISNULL(NULLIF(VC.IndustryType,''),null),    
 HasPeopleManagementExp = VC.HasPeopleManagementExp,    
 Prerequisites = VC.Prerequisites,
 ShowHRPOCDetailsToTalents = CAST(1 AS BIT),
 SalesUserType = case when isnull(U.IsNewUser,0) =1 then 'NBD' ELSE 'AM' END,
 JobLocation = Isnull(DP.JobLocation,''),
 FrequencyOfficeVisitID = cast(Isnull(DP.FrequencyOfficeVisitID,0) as int),
 IsOpenToWorkNearByCities = cast(Isnull(DP.IsOpenToWorkNearByCities,0) as bit),
 NearByCities = Isnull(DP.NearByCities,''),
 JobTypeID = H.JobTypeID,
 SalesLead = case when ISNULL(U.EmployeeID,'') = 'UP1919' then 'Ruchir Shukla' else isnull( (select top 1 LeadName from #Temp_TopSaleLead ),'') end,
 ATS_JobLocationID = Isnull(DP.ATS_JobLocationID,0),
 ATS_NearByCities = Isnull(DP.ATS_NearByCities,'')

 FROM gen_SalesHiringRequest H WITH(NOLOCK)      
      inner join gen_SalesHiringRequest_Details HD WITH(NOLOCK) ON H.ID = HD.HiringRequest_ID            
      inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID      
      inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = HD.Role_ID      
      inner join prg_ContactTimeZone TZ WITH(NOLOCK) ON TZ.ID = HD.Timezone_ID      
      inner join gen_Company CP WITH(NOLOCK) ON CP.ID = C.CompanyID 
	  left join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID      
	  left join prg_HiringRequestStatus HRS WITH(NOLOCK) ON HRS.ID = H.Status_ID        
      left join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = H.JobStatusID     
      left join gen_History H1 ON H1.HiringRequest_ID = H.ID AND H1.Action_ID = 4    
      left  join prg_PartialEngagementType PET WITH(NOLOCK) ON PET.ID = H.PartialEngagementType_ID            
      left join gen_Direct_Placement DP with(nolock) on H.ID = DP.HiringRequest_Id    
      left join prg_CountryRegion CR with(nolock) on ISNULL(DP.Country,'') = ISNULL(CR.ID,0)    
      left join gen_Company ChildCom with(nolock) on H.ChildCompanyID = ChildCom.ID    
      left join prg_GEO G with(nolock) on CP.GEO_ID = G.ID    
   --left join prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = HD.Timezone_ID    
     left join prg_HiringType_Pricing HTP with(nolock) on H.HiringTypePricingId = HTP.ID    
     left join prg_PayrollType PT with(nolock) on H.PayrollTypeId = PT.ID    
     Left Join prg_HiringRequest_Type HRT with(nolock) on H.HRTypeId=HRT.Id    
     Left Join prg_CompanyType PCT with(nolock) on HRT.CompanyTypeId=PCT.ID    
     Left join gen_JobPost_VitalInfo_ClientPortal VC WITH(NOLOCK) ON  VC.HRID = H.ID AND VC.ContactID = H.ContactID       
    WHERE   H.ID = @HiringRequest_ID     
	
	drop table #Temp_TopSaleLead 
  END      
 ELSE      
  BEGIN  
     print 'else'     
   -- select top 1  H.ID  as HiringRequest_ID      
   --        ,Isnull(U.FullName,'') as SalesUserName      
   --        ,Isnull(C.FullName,'') as ContactName    
   --        ,Isnull(C.EmailID,'') as ContactEmailID    
		 -- ,Isnull(H.DealID,0) as DealID      
		 -- ,Isnull(H.RequestForTalent,'') as RequestForTalent      
		 -- ,Isnull(Discription,'') as Discription      
		 -- ,Isnull(JDFilename,'') as JDFilename      
		 -- ,Isnull(JDURL,'') as JDURL      
		 -- ,Isnull(MonthDuration,0) as MonthDuration      
		 -- ,Isnull(NoofTalents,0) as Quantity      
	  -- ,Isnull(JSC.JobStatus,'') as HR_Status      
		 -- ,Isnull(HRS.ATS_HiringRequest_Status,'') as HR_Sub_Status      
		 -- ,Isnull(OurObservation,'') as OurObservation      
		 -- ,Isnull(H.Remark,'') as Remark      
		 -- ,ISNULL((CONVERT(varchar, ISNULL(H.CreatedbyDatetime, ''), 103) + ' ' + convert(VARCHAR(8),H.CreatedbyDatetime, 14)),'') as CreatedbyDatetime      
		 -- ,ISNULL((CONVERT(varchar, ISNULL(H.LastModifiedDatetime, ''), 103) + ' ' + convert(VARCHAR(8),H.LastModifiedDatetime, 14)),'') as LastModifiedDatetime    
	  -- ,ISNULL((CONVERT(varchar, ISNULL(H1.CreatedbyDatetime, ''), 103) + ' ' + convert(VARCHAR(8),H1.CreatedbyDatetime, 14)),'') as HRSubmittedDate    
		 -- ,Isnull(H.HR_Number,'') as HR_Number      
		 -- ,Isnull(Availability,'') as Availability      
		 -- ,Isnull(PET.PartialEngagementType,'') as PartialEngagementType      
		 -- ,ISnull(H.NoofHoursworking,0) as NoofHoursworking            
		 -- ,Case when IsCreatedByClient = 1 then 'yes' else 'No' end as IsCreatedByClient      
		 -- ,case when H.IsActive = 1 then 'Active' else 'InActive' end as IsActive            
		 -- ,case when IsAdHocHR = 1 then 'Pool' else 'Odr' end IsAdHocHR        
		 -- ,ISNULL((SELEct top 1 U1.EmployeeID from usr_User U1 with(NOLOCK) WHERE U1.ID = H.AcceptedByID),'') as AcceptedBy      
		 -- ,ISNULL((CONVERT(varchar, ISNULL(H.AcceptedByDateTime, ''), 103) + ' ' + convert(VARCHAR(8),H.AcceptedByDateTime, 14)),'') as AcceptedByDateTime      
		 -- ,Case when IsAccepted = 1 then 'HR Accepted' when IsAccepted = 2 then 'Info Pending' else 'Acceptance Pending' end  IsAccepted      
		 -- ,Case when IsManaged = 1 then 'Managed' else 'Self' end as IsManaged      
		 -- ,Isnull(DeleteHRReason,'') as DeleteHRReason      
		 -- ,Isnull(NotAcceptedHRReason,'') as NotAcceptedHRReason      
		 -- ,ISNULL((SELEct top 1 U2.FullName from usr_User U2 with(NOLOCK) WHERE U2.ID = H.AdhocPassBy),'') AdhocPassBy      
		 -- ,ISNULL((CONVERT(varchar, ISNULL(H.AdhocPassDate, ''), 103) + ' ' + convert(VARCHAR(8),H.AdhocPassDate, 14)),'') as AdhocPassDate      
		 -- ,case when IsHiringLimited = 1 then 'Yes, it''s for a limited Project' else 'No, They want to hire for long term' end IsHiringLimited      
		 -- ,case when Isnull(H.IsAdHocHR,0) = 0 AND Isnull(H.IsPoolHR,0) = 1 then 'Pool'      
			--	 when Isnull(H.IsAdHocHR,0) = 1 AND Isnull(H.IsPoolHR,0) = 0 then 'ODR'          
			--	 when Isnull(H.IsAdHocHR,0) = 1 AND Isnull(H.IsPoolHR,0) = 1 then 'ODR + Pool' ELSE '' end as IsPoolHR            
		 -- ,'' as InterviwerName      
		 -- ,ISNULL(TR.TalentRole,'') HR_Role      
		 -- ,ISNULL(TZ.TimeZoneTitle,'') HR_ShiftTime      
		 -- ,IsNULL(HD.YearOfExp,0) YearOfExp      
		 -- ,ISNULL(HD.RolesResponsibilities,'') RolesResponsibilities      
		 -- ,ISNULL(HD.GenericInfo,'') GenericInfo      
		 -- ,ISNULL(HD.Requirement,'') Requirement      
		 -- ,ISNULL(CP.Company,'') CompanyName      
		 -- ,ISNULL(CP.LinkedInProfile,'') LinkedInURL      
		 -- ,ISNULL(CP.Website,'') WebsiteURL            
		 -- ,ISNULL(CP.CompanySize,'') TeamSize      
		 -- ,ISNULL(CP.Location,'') CompamyLocation            
		 -- ,ISNULL(H.ContactID,'') ContactID      
		 -- ,ISNULL(CP.ID,0) CompanyID    
		 --  ,ISNULL(CP.about_Company_desc,'') about_Company_desc,    
			--CASE    
			--   WHEN ISNULL(Adhoc_BudgetCost,0) > 0 THEN CAST(ISNULL(HD.Adhoc_BudgetCost,0) AS nvarchar(100))    
			--   WHEN (ISNULL(Adhoc_BudgetCost,0) = 0) AND (ISNULL(HD.BudgetFrom,0) = 0 AND ISNULL(HD.BudgetTo,0) = 0) THEN 'Open to any budget'     
			--   WHEN ISNULL(HD.BudgetFrom,0) > 0 AND ISNULL(HD.BudgetTo,0) > 0 THEN  CAST(HD.BudgetFrom AS nvarchar(100)) + '-' + CAST(HD.BudgetTo AS nvarchar(100))    
			--END AS Cost     
		 --  ,ISNULL(HD.HowSoon,'') HowSoon    
		 --  ,ISNULL(HD.Currency,'') Currency    
		 --  ,ISNULL(HD.Adhoc_BudgetCost,0) Adhoc_BudgetCost    
		 --  ,ISNULL(HD.BudgetFrom,0) BudgetFrom    
		 --  ,ISNULL(HD.BudgetTo,0) BudgetTo    
			--,ISNULL(H.about_Company_desc,'') AboutCompany    
		 --  ,ISNULL(H.IsHRTypeDP,0) IsHRTypeDP    
		 --  ,ISNULL(H.DPPercentage,0) DPPercentage    
		 --  ,ISNULL(H.TalentCostCalcPercentage,0) NRPercent    
		 --  ,ISNULL(DP.ModeOfWork,'') ModeOfWork    
		 --  ,ISNULL(DP.Address,'') Address    
		 --  ,ISNULL(DP.City,'') City    
		 --  ,ISNULL(DP.State,'') State    
		 --  ,ISNULL(CR.Country,'') Country    
		 --  ,ISNULL(DP.PostalCode,'') PostalCode    
		 --  ,ISNULL(H.IsPartnerHR,0) IsPartnerHR    
		 --  ,ISNULL(H.ChildCompanyID,0) ChildCompanyID    
		 --  ,ISNULL(ChildCom.Company,'') ChildCompanyName    
		 --  ,ISNULL(U.IsPartnerUser,0) IsPartnerUser    
		 --  ,ISNULL(U.EmployeeID,'') SalesUserEmployeeID    
		 --  ,ISNULL(G.GEO,'') as CompanyGEO    
		 --  ,ISNULL(CP.Industry_Type,'') CompanyIndustry_Type    
		 --  ,case when Isnull(Status_ID,0) IN (3, 4, 6 ) THEN ISNULL(    
			--		 (SELECT TOP 1 GST.OriginalTR - GST.UpdatedTR FROM gen_SalesHR_TRUpdated_Details GST     
			--		 Where IsTRLost = 1 and HiringRequestID = H.ID ORDER By ID desc)    
			--		 ,0)     
			--		 ELSE 0 END as LostTRCount, --UTS-3208: Added Loss TR count.    
		 --DiscoveryCall = CASE WHEN ISNULL(H.Discovery_Call,'') LIKE 'http%' OR ISNULL(H.Discovery_Call,'') LIKE 'https%'     
			--	THEN ISNULL(H.Discovery_Call,'')    
			--	ELSE 'N/A'    
			--	END, -- Send the Discovery call to ATS    
    
		 --JDPath = CASE WHEN ISNULL(H.JDFilename,'') <> ''     
			--	THEN H.JDFilename    
			--	ELSE ''    
			--	END, -- Send the JDPath to ATS    
		 --ShiftStartTime = ISNULL(HD.TimeZone_FromTime,''), -- Send TimeZone_FromTime,TimeZone_EndTime,OverlapingHours to ATS    
		 --ShiftEndTime = ISNULL(HD.TimeZone_EndTime,''),    
		 --IST_TimeZone_FromTime = CASE    
			--WHEN HD.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, HD.TimeZone_FromTime) AS TIME), 0)    
			--ELSE ''    
		 --END,    
		 --IST_TimeZone_EndTime = CASE    
			--WHEN HD.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, HD.TimeZone_EndTime) AS TIME), 0)    
			--ELSE ''    
		 --END,    
			--					 OverlappingHours= ISNULL(HD.OverlapingHours,0),    
			--					 IsHRFocused = case when Isnull(HD.IsHRFocused,0) = 1 then 'yes' else 'no' end,    
			--					 JobStatusID = ISNULL(JobStatusID, 0),    
			--					 IsDirectHR=ISNULL(H.IsDirectHR, 0),    
		 --PricingId = ISNULL(H.HiringTypePricingId,0),    
		 --PricingName = ISNULL(HTP.Type,''),    
		 --IsTransparentPricing = ISNULL(H.IsTransparentPricing,0),    
		 --PayrollTypeId = ISNULL(H.PayrollTypeId,0),    
		 --PayrollType = ISNULL(PT.PayrollType,''),    
		 --PayrollPartnerName = ISNULL(H.PayrollPartnerName,''),    
		 --HRTypeId = ISNULL(H.HRTypeId,0),    
		 --HRTypeText = ISNULL(PCT.CompanyType,''),    
		 --IsHiringLimitedBool = H.isHiringLimited,    
		 --IsConfidentialBudget = ISNULL(HD.IsConfidentialBudget,0),    
		 --HR_MainStatus = Isnull(JSC.JobStatus,''),    
		 --JobDescription = ISNULL(HD.JobDescription, ''),    
		 --IsFresherAllowed = ISNULL(HD.IsFresherAllowed, 0),    
		 --action_by_employee_id = Case when IsCreatedByClient = 1 then null else (SELECT TOP 1 EmployeeID FROM usr_User WITH(NOLOCK) WHERE ID = H.CreatedByID) end,    
		 --Reference_HRNumber = CASE WHEN ISNULL(H.Previous_HiringRequest_ID,0) <> 0 THEN (SELECT TOP 1 HR_Number FROM gen_SalesHiringRequest     
			--				 WHERE ID = H.Previous_HiringRequest_ID) ELSE '' END    
			--,SalesUserEmail = (SELECT TOP 1 EmailID FROM usr_User WITH(NOLOCK) WHERE ID = H.CreatedByID)    
		 --,CompensationOption = ISNULL(NULLIF(VC.CompensationOption,''),null),    
		 --CandidateIndustry = ISNULL(NULLIF(VC.IndustryType,''),null),    
		 --HasPeopleManagementExp = VC.HasPeopleManagementExp,    
		 --Prerequisites = VC.Prerequisites,
		 --ShowHRPOCDetailsToTalents = H.ShowHRPOCDetailsToTalents,
		 --SalesUserType = case when isnull(U.IsNewUser,0) =1 then 'NBD' ELSE 'AM' END,
		 --JobLocation = Isnull(DP.JobLocation,''),
		 --FrequencyOfficeVisitID = cast(Isnull(DP.FrequencyOfficeVisitID,0) as int),
		 --IsOpenToWorkNearByCities = cast(Isnull(DP.IsOpenToWorkNearByCities,0) as bit),
		 --NearByCities = Isnull(DP.NearByCities,''),
		 --JobTypeID = H.JobTypeID,
		 --SalesLead = ''
		 --FROM gen_SalesHiringRequest H WITH(NOLOCK)				      
		 -- inner join gen_SalesHiringRequest_Details HD WITH(NOLOCK) ON H.ID = HD.HiringRequest_ID            
		 -- inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID  
		 -- inner join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID      
		 -- inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = HD.Role_ID      
		 -- inner join prg_ContactTimeZone TZ WITH(NOLOCK) ON TZ.ID = HD.Timezone_ID      
		 -- inner join gen_Company CP WITH(NOLOCK) ON CP.ID = C.CompanyID   
			--left join prg_HiringRequestStatus HRS WITH(NOLOCK) ON HRS.ID = H.Status_ID         
			--left join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = H.JobStatusID    
			--left join gen_History H1 ON H1.HiringRequest_ID = H.ID AND H1.Action_ID = 4    
			--left join prg_PartialEngagementType PET WITH(NOLOCK) ON PET.ID = H.PartialEngagementType_ID            
			--left join gen_Direct_Placement DP with(nolock) on H.ID = DP.HiringRequest_Id    
			--left join prg_CountryRegion CR with(nolock) on ISNULL(DP.Country,'') = ISNULL(CR.ID,0)    
			--left join gen_Company ChildCom with(nolock) on H.ChildCompanyID = ChildCom.ID    
			--left join prg_GEO G with(nolock) on CP.GEO_ID = G.ID    
		 --  --left join prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = HD.Timezone_ID    
		 --  left join prg_HiringType_Pricing HTP with(nolock) on H.HiringTypePricingId = HTP.ID    
		 --  left join prg_PayrollType PT with(nolock) on H.PayrollTypeId = PT.ID    
		 --  Left Join prg_HiringRequest_Type HRT with(nolock) on H.HRTypeId=HRT.Id    
		 --  Left Join prg_CompanyType PCT with(nolock) on HRT.CompanyTypeId=PCT.ID    
		 --  Left join gen_JobPost_VitalInfo_ClientPortal VC WITH(NOLOCK) ON VC.HRID = H.ID AND VC.ContactID = H.ContactID    
  END      
END