ALTER PROCEDURE [dbo].[sproc_UTS_GetUsers] 
	@PageIndex				INT = 1,
	@PageSize				INT = 80,
	@SortExpression			nvarchar(100) = 'CreatedbyDatetime',
	@SortDirection			nvarchar(100) = 'desc',
	@UserName				varchar(200) = NULL,
	@FullName				varchar(200) = NULL,
	@EmployeeID				varchar(200) = NULL,
	@UserType				nvarchar(100) = NULL,	
	@EmailID				nvarchar(100) = NULL,
	@TeamManager			varchar(200) = NULL,
	@PriorityCount		    varchar(50) = '',
	@OpsManager  			varchar(200) = NULL,
	@NBD_AM					varchar(100) = NULL,
	@searchText			    NVARCHAR(500) = ''
AS
BEGIN
	
		DECLARE @WhereClauseSQL nvarchar(max) = ''
		DECLARE @MainSQL nvarchar(max) = ''
		DECLARE @TmpDBSQL nvarchar(max) = ''
		DECLARE @WhereClauseSQL1 nvarchar(max) = ''

		IF isnull(@UserName,'') <> ''
			SET @WhereClauseSQL += ' AND U.UserName LIKE ''%' + CONVERT(nvarchar,@UserName) + '%'''
		IF isnull(@FullName,'') <> ''
			SET @WhereClauseSQL += ' AND U.Fullname LIKE ''%' + CONVERT(nvarchar,@FullName) + '%'''
		IF isnull(@EmployeeID,'') <> ''
			SET @WhereClauseSQL += ' AND U.EmployeeID LIKE ''%' + CONVERT(nvarchar,@EmployeeID) + '%'''
		IF isnull(@UserType,'') <> ''
			SET @WhereClauseSQL += ' AND UT.UserType LIKE ''%' + CONVERT(nvarchar,@UserType) + '%'''
		IF isnull(@EmailID,'') <> ''
			SET @WhereClauseSQL += ' AND U.EmailID LIKE ''%' + CONVERT(nvarchar,@EmailID) + '%'''

		--UTS-3780: Search on the basis of username, employeeID or emailID
		IF isnull(@searchText,'') <> ''
			SET @WhereClauseSQL += ' AND (U.FullName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%''' 
								+ ' OR U.EmployeeID LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
								+ ' OR U.EmailID LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'')'

		IF isnull(@TeamManager,'') <> ''
			SET @WhereClauseSQL1 += ' AND U.TeamManager LIKE ''%' + CONVERT(nvarchar,@TeamManager) + '%'''
		IF isnull(@PriorityCount,'') <> ''
			SET @WhereClauseSQL1 += ' AND U.PriorityCount LIKE ''%' + @PriorityCount + '%'''
		IF isnull(@OpsManager,'') <> ''
			SET @WhereClauseSQL1 +=  ' AND U.OpsManager LIKE ''%' + CONVERT(nvarchar,@OpsManager) + '%'''
		IF isnull(@NBD_AM,'') <> ''
			SET @WhereClauseSQL1 += ' AND NBD_AM LIKE ''%' + CONVERT(nvarchar,@NBD_AM) + '%'''		

			SET @MainSQL= ';WITH CTE_Records AS (SELECT U.ID, U.UserName, U.FullName, ISNULL(U.EmployeeID,'''') EmployeeID, 
															ISNULL(U.EmailID,'''') EmailID,UT.UserType,U.CreatedByDatetime,1 as TotalCountID,Isnull(ContactNumber,'''') ContactNumber,
															Isnull(SkypeID,'''') SkypeID,TeamManager = (Select (ISNULL(U1.FirstName,'''') + '' '' + ISNULL(U1.LastName,'''')) FROM Usr_USER U1 WITH(NOLOCK) WHERE U1.ID = UH.ParentID ),
															OpsManager = (Select (ISNULL(U2.FirstName,'''') + '' '' + ISNULL(U2.LastName,'''')) FROM Usr_USER U2 WITH(NOLOCK) WHERE U2.ID = UH.ParentID and U2.UserTypeID=10 ),
															CASE WHEN UserTypeID = 9 Then ISnull(U.PriorityCount,0) else 0 end PriorityCount,Isnull(U.designation,'''') as Designation,isnull(OL.LevelName,'''') as UserLevel, isnull(DT.DeptName,'''') as Department,
															CASE WHEN UserTypeID = 9 Then ISnull(U.RemainingPriorityCount,0) else 0 end RemainingPriorityCount,U.UserTypeID ,
															NBD_AM = CASE WHEN (UserTypeID = 4 or UserTypeID =9) and IsNewUser = 0 THEN ''AM'' 
																		  WHEN (UserTypeID = 4 or UserTypeID =9) and IsNewUser = 1 THEN (CASE WHEN ISNULL(U.IsPartnerUser,0) = 0 THEN ''NBD'' ELSE ''Partnership'' END)
																		  WHEN (UserTypeID = 10 or UserTypeID =5) and ISNULL(U.IsODR,0) = 0 THEN ''Pool'' 
																		  WHEN (UserTypeID = 10 or UserTypeID =5) and ISNULL(U.IsODR,0) = 1 THEN ''ODR'' 
																		  ELSE '''' END															
													  FROM	 usr_User U WITH(NOLOCK) 
															 LEFT JOIN usr_UserType UT WITH(NOLOCK) ON U.UserTypeID = UT.ID
															 LEFT JOIN usr_UserHierarchy UH WITH(NOLOCK) ON U.ID = UH.UserID
															 LEFT JOIN prg_OrgLevels OL WITH(NOLOCK) ON U.LevelID = OL.ID
															 LEFT JOIN prg_Departments DT WITH(NOLOCK) ON U.DeptID = DT.ID
													  WHERE 1=1 AND UT.ID <> 2  ' + @WhereClauseSQL + '
								)
								,Cte_TotalCount AS(
										Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
								)
								SELECT U.ID,(CONVERT(varchar, ISNULL(CreatedByDatetime, ''''), 103) + '' ''  + convert(VARCHAR(8), CreatedByDatetime, 14)) CreatedOn,U.EmployeeID,U.FullName as Name,U.EmailID as Email,
								Isnull(Designation,'''') as Designation,U.UserType,NBD_AM,Isnull(UserLevel,'''') as UserLevel,isnull(Department,'''') as Department,Isnull(TeamManager,'''') as Manager,SkypeID as Skype,
								U.ContactNumber as Contact,T.TotalRecords,U.UserName,U.UserTypeID,PriorityCount,Isnull(OpsManager,'''') OpsManager,RemainingPriorityCount
								FROM CTE_Records U 
								INNER JOIN Cte_TotalCount T on T.TotalCountID =U.TotalCountID WHERE 1=1 ' + @WhereClauseSQL1 + ''
								

					  If @TmpDBSQL <> ''
						BEGIN
								SET @MainSQL = @TmpDBSQL + @MainSQL								
						END

					     If	@SortExpression = 'CreatedbyDatetime'
									SET @MainSQL += ' ORDER BY cast(' + @SortExpression + ' as datetime) ' + @SortDirection
							ELSe 
								SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

					   IF(@PageSize>0)
						  BEGIN
								SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
												FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY 
										  ';
						   END
						ELSE
							BEGIN
								SET @MainSQL= 	@MainSQL;
							END
		PRINT(@MainSQL)
		EXECUTE sp_executesql @MainSQL		  	
		
		If Object_Id('tempdb..#UserList') Is not Null
		DROP TABLE #UserList
END