--exec Sproc_UTS_ManagedTalent 1,10,'ID','ASC','','','','','','','','','','',''
CREATE PROCEDURE [dbo].[Sproc_UTS_ManagedTalent]
	@PageIndex				INT = 1,
	@PageSize				INT = 50,
	@SortExpression			nvarchar(100) = 'ID',
	@SortDirection			nvarchar(100) = 'ASC',
	@ManagedTalentFirstName nvarchar(100) = NULL,
	@ManagedTalentLastName  nvarchar(100) = NULL,
	@ManagedTalentEmailID   nvarchar(100) = NULL,
	@TalentRole				nvarchar(100) = NULL,
	@ManagedTalent_Level    nvarchar(100) = NULL,
	@Talent_Type			nvarchar(100) = NULL,
	@NRPercentage		    varchar(50) = '',
	@HR_Number				varchar(50) = NULL,
	@ManagedTalentCost		varchar(50) = NULL,
	@HRCost                 varchar(50) = NULL,
	@POC_FullName			varchar(50) = NULL

AS
BEGIN
		DECLARE @WhereClauseSQL nvarchar(max) = ''
		DECLARE @MainSQL nvarchar(max) = ''
		DECLARE @TmpDBSQL nvarchar(max) = ''

		IF isnull(@ManagedTalentFirstName,'') <> ''
			SET @WhereClauseSQL += ' AND T.ManagedTalentFirstName LIKE ''%' + CONVERT(nvarchar,@ManagedTalentFirstName) + '%'''
		IF isnull(@ManagedTalentLastName,'')<>''
			SET @WhereClauseSQL += ' AND T.ManagedTalentLastName LIKE ''%' + CONVERT(nvarchar,@ManagedTalentLastName) + '%'''
		IF isnull(@ManagedTalentEmailID,'')<>''
			SET @WhereClauseSQL += ' AND T.ManagedTalentEmailID LIKE ''%' + CONVERT(nvarchar,@ManagedTalentEmailID) + '%'''
		IF isnull(@TalentRole,'')<>''
			SET @WhereClauseSQL += ' AND TR.TalentRole LIKE ''%' +CONVERT(nvarchar,@TalentRole) +'%'''
		IF isnull(@ManagedTalent_Level,'')<>''
			SET @WhereClauseSQL += 'AND T.ManagedTalent_Level LIKE ''%'+CONVERT(nvarchar,@ManagedTalent_Level)+'%'''
		IF isnull(@Talent_Type,'')<>''
			SET  @WhereClauseSQL +='AND TT.Talent_Type LIKE ''%' +CONVERT(nvarchar,@Talent_Type) + '%'''
		IF isnull(@NRPercentage,'') <> ''
			SET @WhereClauseSQL += ' AND T.NRPercentage LIKE ''%' + @NRPercentage + '%'''
		IF isnull(@HR_Number,'')<>''
			SET @WhereClauseSQL+='AND SH.HR_Number LIKE ''%'+ CONVERT(nvarchar,@HR_Number)+'%'''
		IF ISNULL(@ManagedTalentCost,'') <> ''
			SET @WhereClauseSQL += 'AND T.ManagedTalentCost LIKE ''%' +CONVERT(nvarchar,@ManagedTalentCost)+ '%'''
		IF ISNULL(@HRCost,'') <> ''
			SET @WhereClauseSQL += 'AND T.HRCost LIKE ''%' + CONVERT(nvarchar,@HRCost) + '%'''
		IF ISNULL(@POC_FullName,'') <> ''
			SET @WhereClauseSQL += 'AND T.POC_FullName LIKE ''%' + CONVERT(nvarchar,@POC_FullName) + '%'''
			



		SET @MainSQL= 'WITH CTE_Records AS (	SELECT  T.ID,T.CreatedByDateTime,T.ManagedTalentFirstName,T.ManagedTalentLastName,T.ManagedTalentEmailID,
														SH.HR_Number,TR.TalentRole,TT.Talent_Type,T.ManagedTalent_Level,T.ManagedTalentCost,
														T.NRPercentage, T.HRCost,T.ScopeOfWork,T.POC_FullName,T.ProposalConfirmDate , 1 as TotalCountID
												FROM	[gen_ManagedTalent] T WITH(NOLOCK)
														INNER JOIN gen_SalesHiringRequest SH WITH(NOLOCK) ON SH.ID = T.ManagedHRId
														LEFT JOIN prg_TalentType TT WITH(NOLOCK) ON TT.ID = T.ManagedTalent_TypeID
														LEFT JOIN prg_TalentRoles TR WITH(NOLOCK) ON TR.ID=T.ManagedTalentRoleID
												WHERE	1=1 ' + @WhereClauseSQL + '
								)
								
								,Cte_TotalCount AS(
										Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
								)
								SELECT	ID,(CONVERT(varchar, ISNULL(CreatedByDatetime, ''''), 103) + '' ''  + convert(VARCHAR(8), CreatedByDatetime, 14)) CreatedByDateTime,ManagedTalentFirstName,ManagedTalentLastName,ManagedTalentEmailID,HR_Number,
										TalentRole,Talent_Type,ManagedTalent_Level,ManagedTalentCost,NRPercentage,HRCost,ScopeOfWork,POC_FullName,(CONVERT(varchar, ISNULL(ProposalConfirmDate, ''''), 103) + '' ''  + convert(VARCHAR(8), ProposalConfirmDate, 14)) ProposalConfirmDate,
										T.TotalRecords
								FROM	CTE_Records U 
										INNER JOIN Cte_TotalCount T on T.TotalCountID = U.TotalCountID '
							
		
		If @SortExpression = 'CreatedByDatetime'
				BEGIN
					SET @MainSQL += ' ORDER BY ID DESC, cast(' + @SortExpression + ' as datetime) ' + @SortDirection
				END
		ELSE 
			SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

		IF(@PageSize>0)
			BEGIN
				SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
								FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
			END

		
		EXECUTE sp_executesql @MainSQL		  	
		Select @MainSQL
END

