ALTER PROCEDURE [dbo].[Sproc_CancelTalentInterview_ClientPortal]
	@HRID BIGINT = NULL,
	@TalentID BIGINT = NULL,
	@ContactID BIGINT = NULL,
	@SSOUserID BIGINT = NULL
AS
BEGIN	

	DECLARE 
	    @ActionPerformedBy BIGINT = 0,
		@ActionManagedByClient BIT = 1

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserID,0) = 0, @ContactID, @SSOUserID))
		SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserID,0) = 0, 1, 0))

	UPDATE dbo.gen_TalentSelected_InterviewDetails 
	SET Status_ID = 3 ,
	LastModifiedByID = @ActionPerformedBy,
	LastModifiedDatetime = GETDATE()
	WHERE HiringRequest_ID = @HRID AND Talent_ID = @TalentID


	UPDATE dbo.gen_InterviewSlotsMaster SET 
	InterviewStatus_ID = 3 ,
	LastModifiedByID = @ActionPerformedBy,
	LastModifiedDatetime = GETDATE()
	WHERE HiringRequest_ID = @HRID AND Talent_ID = @TalentID


	UPDATE dbo.gen_ContactTalentPriority SET
	TalentStatusID_BasedOnHR = 3,
	ModifiedByID = @ActionPerformedBy,
	ModifiedByDatetime = GETDATE()
	WHERE HiringRequestID = @HRID AND TalentID = @TalentID

	EXEC sproc_HiringRequest_History_Insert @Action = 'Cancelled', @HiringRequest_ID = @HRID,
				@Talent_ID = @TalentID, @Created_From = 0,@CreatedById = @ActionPerformedBy ,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient,@IsManagedByTalent = 0, @SalesUserID = 0,
				@OldSalesUserID = 0, @AppActionDoneBy = 4	

END