ALTER PROCEDURE [dbo].[Sproc_Fetch_TalentNotesEmailsLog_HRWise_TalentWise]	
	@HRID				bigint = 0	,
	@ATSTalentID		bigint = 0
AS
BEGIN

	
	SELECT Note, U.FullName AS NotesAddedby, ATSNoteID  FROM gen_TalentNotes_ClientPortal TN WITH(NOLOCK) 
	INNER JOIN gen_Talent T WITH(NOLOCK) ON TN.ATSTalentID = T.ATS_Talent_ID
	INNER JOIN Usr_User U WITH(NOLOCK) ON U.ID = TN.ClientID	
	WHERE IsEmailSentToClient = 0 AND AppActionDoneBy = 3 AND HRID = @HRID AND ATSTalentID = @ATSTalentID

	UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Fetch_TalentNotesEmailsLog_HRWise_TalentWise'

END

