ALTER PROCEDURE [dbo].[Sproc_UTS_Save_AMDetails_In_PayOut] 
	@HiringRequestID BIGINT = NULL,
	@OnBoardID BIGINT = NULL,
	@TalentID BIGINT = NULL,
	@PayOutID BIGINT = NULL,
	@Year INT = NULL,
	@Month INT = NULL,
	@NewAMPersonID INT = NULL,
	@LoginUserID INT = NULL
AS
BEGIN
	IF @Month > 0 AND @year > 0 AND  @NewAMPersonID > 0 and @HiringRequestID > 0 and @OnBoardID > 0
	BEGIN
		UPDATE gen_Payout_Information
		SET AM_SalesPersonID = @NewAMPersonID
		WHERE 
		HiringRequest_ID = @HiringRequestID 
		and OnBoardID = @OnBoardID
		and month(ClientInvoiceDate)> = @Month
		and year(ClientInvoiceDate) >=  @year

		--Need to put extra condition for onwards month/year 

		EXEC sproc_HiringRequest_History_Insert @Action = 'AMChangeInEngagement', @HiringRequest_ID = @HiringRequestID,
				@Talent_ID = @TalentID, @Created_From = 0,@CreatedById = @LoginUserID, @ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = @OnBoardID, @IsManagedByClient = 0, @IsManagedByTalent = 0, @SalesUserID = 0,
				@OldSalesUserID = 0, @AppActionDoneBy = 3
	END
END
