ALTER PROCEDURE [dbo].[Sproc_Get_AWS_SES_Tracking_Details] 
@CompanyID   BIGINT = NULL,      
@FromDate	DateTime = NULL,  
@ToDate		Datetime = NULL,
@SubjectID	 BIGINT = NULL
AS
BEGIN
		

		IF OBJECT_ID('tempdb..#ClientOfCompanies') Is not null
			DROP TABLE #ClientOfCompanies

		CREATE TABLE #ClientOfCompanies
		(
			ClientID		bigint,
			ClientEmail		Nvarchar(100)
		)

		Insert into #ClientOfCompanies
		select C.ID,C.EmailID
		from   gen_Contact C WITH(NOLOCK)
			   inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
		where  CO.ID = case when @CompanyID > 0 then @CompanyID else CO.ID end

		IF OBJECT_ID('tempdb..#AWS_SES_Tracking_Report') IS NOT NULL
			DROP TABLE #AWS_SES_Tracking_Report

		CREATE TABLE #AWS_SES_Tracking_Report
		(
			EventType			NVARCHAR(50),
			TotalRecords		INT  DEFAULT 0,
			OrderSequence		INT
		)

		INSERT INTO #AWS_SES_Tracking_Report(EventType, OrderSequence)
		Values('Sent', 1)

		INSERT INTO #AWS_SES_Tracking_Report(EventType, OrderSequence)
		Values('Delivered', 2)

		INSERT INTO #AWS_SES_Tracking_Report(EventType, OrderSequence)
		Values('Opened', 3)


		INSERT INTO #AWS_SES_Tracking_Report(EventType, OrderSequence)
		Values('Bounced', 5)

		

		-- Step 1: Use a Common Table Expression (CTE) or temporary table to preprocess the split emails
		;WITH SplitEmails AS (
			SELECT
					CSET.EventType,
					CSET.MessageId,
					LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(CSET.Client_Destination, '[', ''), ']', ''), '"', ''))) AS Email,
					CSET.Email_Subject,
					CSET.UserAgent,
					CSET.IpAddress,
					CSET.Email_Link,
					CSET.Email_LinkTags,
					CSET.timestamp,
					CSET.bounceType,
					CSET.bounceSubType,
					CSET.bouncedRecipients
			FROM	gen_AWS_SES_EmailTracking CSET
			WHERE	CAST(CSET.timestamp AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST(@ToDate AS DATE)
					and SubjectID = case when Isnull(@SubjectID,0) <> 0 then @SubjectID else SubjectID end
		)
		
		 --Step 2: Insert Sent Events
		SELECT	DISTINCT
				EventType,
				MessageId,
				Email,
				Email_Subject,
				MIN(UserAgent) AS UserAgent,
				MIN(IpAddress) AS IpAddress,
				Email_Link,
				Email_LinkTags,
				MIN(timestamp) AS timestamp,
				bounceType,
				bounceSubType,
				bouncedRecipients
		INTO	#SplitEmails
		FROM	SplitEmails
		WHERE	EventType = 'Sent' --and (email not like '%uplers.in%' and email not like '%uplers.com%')
				--and bouncedRecipients not like '%uplers.in%' and bouncedRecipients not like '%uplers.com%' 
		GROUP BY EventType, MessageId, Email, Email_Subject, Email_Link, Email_LinkTags, bounceType, bounceSubType, bouncedRecipients;

		 --Step 3: Insert Non-Sent Events
		INSERT INTO #SplitEmails
		SELECT DISTINCT
				CSET.EventType,
				CSET.MessageId,
				LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(CSET.Client_Destination, '[', ''), ']', ''), '"', ''))) AS Email,
				CSET.Email_Subject,
				MIN(CSET.UserAgent) AS UserAgent,
				MIN(CSET.IpAddress) AS IpAddress,
				CSET.Email_Link,
				CSET.Email_LinkTags,
				MIN(CSET.timestamp) AS timestamp,
				CSET.bounceType,
				CSET.bounceSubType,
				CSET.bouncedRecipients
		FROM	gen_AWS_SES_EmailTracking CSET WITH(NOLOCK)
				INNER JOIN #SplitEmails SE ON SE.MessageId = CSET.MessageId
		WHERE	CAST(CSET.timestamp AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST(@ToDate AS DATE)
				and SubjectID = case when Isnull(@SubjectID,0) <> 0 then @SubjectID else SubjectID end
				AND CSET.EventType <> 'Sent' --and (email not like '%uplers.in%' and email not like '%uplers.com%')
				--and CSET.bouncedRecipients not like '%uplers.in%' and CSET.bouncedRecipients not like '%uplers.com%'
		GROUP BY CSET.EventType, CSET.MessageId, CSET.Email_Subject, CSET.Email_Link, CSET.Email_LinkTags, CSET.bounceType, CSET.bounceSubType, CSET.bouncedRecipients, Email
					,LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(CSET.Client_Destination, '[', ''), ']', ''), '"', '')));



		--delete from #SplitEmails where email like '%uplers.in%' or email like '%uplers.com%'
		--delete from #SplitEmails where bouncedRecipients like '%uplers.in%' or bouncedRecipients like '%uplers.com%' 
		

		-- Step 2: Join the split emails with the single email ID table to find matching rows
		Select EventType,TotalRecords
		From
		(
			SELECT DISTINCT SE.EventType, count(SE.MessageId) TotalRecords,SSE.OrderSequence
			FROM	#SplitEmails SE
					Inner JOIN #ClientOfCompanies SSET ON LTRIM(RTRIM(SE.Email)) = SSET.ClientEmail
					Inner join #AWS_SES_Tracking_Report SSE ON SSE.EventType = SE.EventType		
			GROUP By SE.EventType,SSE.OrderSequence
	    )Q
		Order by  OrderSequence
		

			
		DROP TABLE #AWS_SES_Tracking_Report
		Drop table #SplitEmails
END

