ALTER PROCEDURE [dbo].[Sproc_GetTSCUserEditDetail]
	@onBoardID bigint = NULL
AS
BEGIN
	SET NOCOUNT ON;
		SELECT 
		ISNULL(OBT.ID,0) as ID,
		ISNULL(OBT.EngagemenID,0)as EngagementID,
		ISNULL(T.Name,'') AS TalentName,
		ISNULL(U.FullName,'') AS CurrentTSCName,
		ISNULL(OBT.TSCEditReason,'') AS EditTSCReason,
		ISNULL(OBT.TSC_PersonID,0) AS TSCPersonID
		FROM gen_OnBoardTalents OBT WITH(NOLOCK)
		LEFT JOIN gen_Talent T ON OBT.Talent_ID = T.ID
		LEFT JOIN usr_user U ON OBT.TSC_PersonID = U.ID
		where OBT.ID = @onBoardID
END



