CREATE Procedure [dbo].[Sproc_Add_YoutubeLink]
	@CompanyId		  bigint = 0,
	@YouTubeLink	  Nvarchar(200) = null,	
	@CreatedByID	  bigint = 0,
	@AppActionDoneBy  int = 0,
	@YouTubeID		  bigint = 0	
AS
BEGIN

		IF NOT EXISTS(select 1 from gen_Company_YouTubeLinks WITH(NOLOCK) WHERE ID = @YouTubeID)
			BEGIN
				INSERT INTO gen_Company_YouTubeLinks(CompanyID,YoutubeLink,CreatedById,CreatedDateTime)
				VALUES(@CompanyId,@YouTubeLink,@CreatedByID,Getdate())
			END

END