ALTER PROCEDURE [dbo].[Sproc_HR_EditPOC]
  @ContactID		bigint = 0,
  @ContactNo		NVARCHAR(100) = ''
AS
BEGIN

	IF EXISTS(SELECT TOP 1 ID FROM gen_contact WHERE id = @ContactID)
	BEGIN
		UPDATE gen_contact
		SET ContactNo = ISNULL(@ContactNo,ContactNo)
		WHERE id = @ContactID
	END

END

