USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_UnlockTalents_ClientPortal]    Script Date: 16-02-2024 16:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_UnlockTalents_ClientPortal]
 @XmlData     nvarchar(Max) = '' ,
 @CompanyId	  bigint = 0
AS
BEGIN

		DECLARE @xml XML  
		DECLARE @CreditBalance as Decimal(18,2) = 0
		DECLARE @TotalBalanceUsed as Decimal(18,2) = 0

		SELECT @CreditBalance = ISNULL(JPCreditBalance,0)
		FROM   gen_Company WITH(NOLOCK)
		WHERE  ID = @CompanyId

	    SET @xml = @XmlData  
  
		IF OBJECT_ID('tempdb..#UnlockTalents') IS not Null
			DROP TABLE #UnlockTalents

		CREATE TABLE #UnlockTalents
		(
			ID			  bigint Primary Key,
			ATSTalentId	  bigint,
			HrID		  bigint,
			Guid		  Nvarchar(50),
			IsVetted	  bit,
			CreditUsed	  decimal(18,2)
		)

		  Insert into #UnlockTalents
		  SELECT    c.value('(atsTalentId)[1]', 'bigint') AS ATSTalentId,  
					c.value('(HrId)[1]', 'int') AS HrId,     
					c.value('(guid)[1]', 'Nvarchar(50)') AS Guid,
					c.value('(IsVetted)[1]','bit') AS IsVetted,
					c.value('(Creditused)[1]','decimal(18,2)') AS CreditUsed
		  FROM		@xml.nodes('/UnlockTalents/Talent/*') AS XTbl(c)  

		  SELECT  @TotalBalanceUsed = Isnull(SUM(CreditUsed),0)
		  FROM	  #UnlockTalents U
				  
		  IF @CreditBalance < @TotalBalanceUsed
			BEGIN
				SELECT 'Company Balance is ' + @CreditBalance + ', and you are trying to use ' + @TotalBalanceUsed +'. Please buy plan to unlock the Profiles.' as [Message]
			END
		 

END