ALTER PROCEDURE [dbo].[Sproc_Update_TalentHRStatus]
@SlotType	AS BIGINT =0,
@TalentID	AS BIGINT =0,
@HR_ID		AS BIGINT =0,
@ModifiedByID AS bigint=0

AS
BEGIN
-- Update Talent Status when slot Type is Add Final Interview Slot
	IF(@TalentID>0 AND @HR_ID >0)
		BEGIN
		UPDATE gen_Talent 
		SET Status = 3,
		LastModifiedByID = 	@ModifiedByID,
		LastModifiedDatetime = GETDATE()
		WHERE  ID = @TalentID

		UPDATE gen_ContactTalentPriority 
		SET TalentStatusID_BasedOnHR = 3,
		ModifiedByID = 	@ModifiedByID,
		ModifiedByDatetime = GETDATE()
		WHERE HiringRequestID = @HR_ID AND TalentID = @TalentID
	END
END