ALTER PROCEDURE [dbo].[Sproc_Get_Company_CultureandPerksDetails]
	@CompanyId		  bigint = 0
AS
BEGIN

		Select   CultureID = ID,
				 CultureImage = ISNULL(CultureImage,'')
		from     gen_Company_CultureandPerksDetails WITH(NOLOCK)
		WHere    CompanyID = @CompanyId

END