ALTER PROCEDURE [dbo].[Sproc_Update_CreditBalance_PaymentHistory_ClientPortal]
 @PaymentID NVARCHAR(500) NULL,
 @Guid NVARCHAR(250) NULL,
 @PaymentToken NVARCHAR(250) NULL,
 @Status NVARCHAR(50) NULL,
 @ContactID BIGINT NULL,
 @CompanyID BIGINT NULL,
 @PackageID BIGINT NULL,
 @Amount DECIMAL(18,2) NULL,
 @Currency NVARCHAR(25) NULL,
 @InvoiceID NVARCHAR(200) NULL,
 @PayerID NVARCHAR(100) NULL,
 @PaymentMethod NVARCHAR(100) NULL,
 @ReceiptID NVARCHAR(250) NULL,
 @PaymentOrderDetailJson NVARCHAR(MAX) = NULL,
 @CreditsAddedNVarchar NVARCHAR(250) = NULL,
 @PerCreditAmount DECIMAL(18,2) = null, 
 @CreditCurrency  Nvarchar(50) = null,
 @TaxAmountStr Nvarchar(50) = NULL,
 @TaxPercentageStr Nvarchar(50) = NULL,
 @SSOUserID BIGINT = NULL,
 @IsRazorPay BIT = 0,
 @OrderId  NVARCHAR(250) = NULL,
 @IsPaymentDone  BIT = NULL
AS
BEGIN

		DECLARE @PaymentHistoryID BIGINT;
		DECLARE @IsActive BIT, @LatestBalance INT, @IsAdvancePurchase BIT, @SubscriptionId BIGINT, @TransactionID BIGINT,@JPCreditBalance as decimal(18,2) = 0,
		@CreditsAdded DECIMAL(18,2),@ActionPerformedBy BIGINT = 0, @CompanyState NVARCHAR(500) = '', @SGST DECIMAL(18,2) = 0, @CGST DECIMAL(18,2) = 0, 
									@IGST DECIMAL(18,2) = 0, @CompanyAddress NVARCHAR(MAX) = '', @CompanyPincode Nvarchar(25), 
									@TaxAmount DECIMAL(18,2) = NULL, @TaxPercentage DECIMAL(18,2) = NULL

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ContactID, @SSOUserId))	

		-------Pick the tax bifurcation as per company state------------
			SELECT TOP 1 
			@CompanyState = STATE,
			@CompanyAddress = Address,
			@CompanyPincode = Zip
			FROM gen_Company WHERE ID = @CompanyID

		IF(@IsRazorPay = 1)
		BEGIN

			SET @TaxAmount = CAST(@TaxAmountStr AS DECIMAL(18,2))
			SET @TaxPercentage = CAST(@TaxPercentageStr AS DECIMAL(18,2))		
			

			IF(@CreditCurrency = 'INR')
			BEGIN
				IF(LOWER(@CompanyState) = LOWER('gujarat'))
				BEGIN
					SET @SGST = 9
					SET @CGST = 9
				END
				ELSE
				BEGIN
					SET @IGST = 18
				END
			END
		END
		
		---Update the credit amount and credit currency as per the purchased plans.
		UPDATE gen_Company SET 
		CreditAmount = @PerCreditAmount, 
		CreditCurrency = @CreditCurrency
		WHERE ID = @CompanyID

		INSERT INTO gen_Payment_History_ClientPortal
		(
			PaymentID,
			Guid,
			PaymentToken,
			PayerID,
			Amount,
			Currency,
			InvoiceID,
			CreatedByDateTime,
			CreatedByID,
			Status,
			PaymentMethod,
			ReceiptID,
			PaymentOrderDetail,
			TaxAmount,
			TaxPercentage,
			TotalInvoiceAmount,
			SGSTPercentage,
			CGSTPercentage,
			IGSTPercentage,
			BillingAddress,
			RazorPayPaymentStatus,
			CompanyID,
			Order_ID
		)
		VALUES
		(
			@PaymentID,
			@Guid,
			@PaymentToken,
			@PayerID,
			@Amount,
			@Currency,
			@InvoiceID,
			GETDATE(),
			@ActionPerformedBy,
			@Status,
			@PaymentMethod,
			@ReceiptID,
			@PaymentOrderDetailJson,
			@TaxAmount,
			@TaxPercentage,
			@Amount + @TaxAmount,
			@SGST,
			@CGST,
			@IGST,
			@CompanyAddress + ' ' + @CompanyState + ' ' + @CompanyPincode,
			CASE WHEN @IsRazorPay = 1 THEN 'pending' ELSE '' END,
			@CompanyID,
			@OrderId
		)

		SELECT @PaymentHistoryID = SCOPE_IDENTITY()

		print @Status
	
		IF(@Status = 'approved' OR @Status = 'COMPLETED' OR @Status = 'authorized')
		BEGIN

				SET @LatestBalance = Isnull((SELECT TOP 1 JPCreditBalance FROM gen_Company WHERE ID = @CompanyID),0)

				-- If company has balance that means this purchase is in advance, so the newly added plan will not be in active mode.
				IF(@LatestBalance > 0)
				BEGIN
					SET @IsActive = 0
					SET @IsAdvancePurchase = 1
				END
				ELSE
				BEGIN
					SET @IsActive = 1 
					SET @IsAdvancePurchase = 0
				END


			IF(@CreditsAddedNVarchar IS NOT NULL)
			BEGIN
				SET @CreditsAdded = CAST(@CreditsAddedNVarchar AS INT)
			END

			print @CreditsAdded
			
			IF(ISNULL(@CreditsAdded,0) = 0 AND @IsRazorPay = 0)
			BEGIN			

				print 'if'

				INSERT INTO gen_JobPost_Subscription_History_ClientPortal 
				(
					ContactID,
					BalanceType,
					CreditBalance,
					IsActive,
					CreatedByID,
					CreatedByDateTime,
					CompanyID,
					PackageID,
					PaymentHistoryID,
					IsAdvancePurchase,
					CreditAmount,
					CreditCurrency
				)
				SELECT 
					@ContactID,
					'Pay as you go',
					IIF (ISNULL(@CreditsAdded,0) = 0, NoOfJobs, @CreditsAdded), --If credits added then pick that value
					@IsActive, 
					@ActionPerformedBy,
					GETDATE(),
					@CompanyID,
					@PackageID,
					@PaymentHistoryID,
					@IsAdvancePurchase,
					@PerCreditAmount,
					@CreditCurrency
					FROM prg_Subscription_Package_ClientPortal WHERE ID = @PackageID

					SET @SubscriptionId = @@IDENTITY

					--INSERT INTO [dbo].[gen_JobPost_TransactionHistory_ClientPortal]
					--	 (
					--		[HRID]
					--	   ,[ContactID]
					--	   ,[ContactUserID]
					--	   ,[JobPostedDate]           
					--	   ,[CreditBalance]  
					--	   ,[CreatedByID]
					--	   ,[CreatedByDateTime]          
					--	   ,[CompanyID]
					--	   ,[SubScriptionID]
					--	   ,BalanceUsedType
					--)
					--SELECT 
					--0, 
					--@ContactID,
					--@ContactID,
					--GETDATE(),
					--IIF (ISNULL(@CreditsAdded,0) = 0, NoOfJobs, @CreditsAdded), --If credits added then pick that value				
					--@ContactID,
					--GETDATE(),
					--@CompanyID,
					--@SubscriptionId,
					--'Free'				
					--FROM prg_Subscription_Package_ClientPortal WHERE ID = @PackageID

					--SET @TransactionId = @@IDENTITY

				--Deactivate the free subscription 
				--UPDATE gen_JobPost_Subscription_History_ClientPortal 
				--SET IsActive = 0 
				--WHERE CompanyID = @CompanyID AND PackageID = 1

				--Update the current credit in company table when credit balance is 0
				UPDATE C
				set C.JPCreditBalance = S.CreditBalance,
				C. ModifiedByID = @ActionPerformedBy,
				C. ModifiedByDatetime = GETDATE()	
				from gen_Company C
					INNER JOIN gen_JobPost_Subscription_History_ClientPortal S on
						C.ID = S.CompanyID 
				WHERE C.ID = @CompanyID AND S.IsActive = 1 AND Isnull(C.JPCreditBalance,0) = 0


				Select @JPCreditBalance =isnull(JPCreditBalance,0) from gen_Company with(nolock) where ID = @CompanyID

				--UPDATE gen_JobPost_TransactionHistory_ClientPortal SET JPCreditBalance = @JPCreditBalance
				--WHERE ID = @TransactionId and CompanyID = @CompanyID

				--Update the current balance in the transaction history table			
					--UPDATE S
				--set S.CreditBalance	= C.JPCreditBalance		
				--from gen_JobPost_TransactionHistory_ClientPortal  S
				--	INNER JOIN gen_Company C on
				--		C.ID = S.CompanyID AND S.CreditBalance = 0
				--WHERE C.ID = @CompanyID AND S.CreditBalance = 0

			END
			ELSE
			BEGIN

				print 'else'
				EXEC sproc_PurchasedCreditUpdate @CompanyID, @CreditsAdded, @ContactID, @ActionPerformedBy, @PaymentHistoryID, @PackageID,@IsActive,@IsAdvancePurchase,@PerCreditAmount,@CreditCurrency,@IsRazorPay
			END
		END		

		--- IF status is already captured then execute webhook
		IF(@IsPaymentDone = 1)
		BEGIN
			EXEC [Sproc_Update_RazorPayPaymentStatus_Webhook_ClientPortal]
			@PaymentHistoryID = @PaymentHistoryID
		END
END		