
ALTER PROCEDURE [dbo].[Sproc_AddUpdate_HubSpot_Contact]
	@ID						bigint=null,
	@HubspotContactID		bigint=null,
	@HubspotCompanyID		bigint=null,
	@Company				nvarchar(200)=null,
	@PortalID				int=null,
	@hubspot_owner_id		bigint=null,
	@canonicalvid			bigint=null,
	@associatedcompanyid	bigint=null,
	@FirstName				varchar(50)=null,
	@LastName				varchar(50)=null,
	@EmailID				nvarchar(100)=null,
	@website				nvarchar(50)=null,
	@ContactNo				nvarchar(100)=null,
	@IsPrimary				bit=null,
	@mergedvids			    nvarchar(500)=null,
	@iscontact				bit=null,
	@venture				nvarchar(50)=null,
	@regions				nvarchar(50)=null,
	@city					nvarchar(50)=null,
	@skype					nvarchar(50)=null,
	@jobtitle				nvarchar(200)=null,
	@CreatedByID			int=null,
	@CreatedByDatetime		datetime=null,
	@LastModifiedByID		int=null,
	@LastModifiedDatetime   datetime=null,
	@IsCompanyInserted		bit=null,
	@LastInvoiceDate		datetime=null,
	@CurrencyID				int=null,
	@EngagementModelID		int=null,
	@LastInvoice_id			bigint=null,
	@GEO_ID					int=null,
	@ZOHO_Customer_ID		nvarchar(250)=null,
	@ZohoOrganization_ID	bigint=null,
	@IsActive				bit=null,
	@IsCreatedFromUTS		bit=null,
	@lead_source			nvarchar(100)=null,
	@designation			nvarchar(100)=null,
	@lifecyclestage			nvarchar(100)=null,
	@hs_persona				nvarchar(100)=null
AS
BEGIN
	
	IF @HubspotContactID > 0 
		BEGIN
					
							declare @Company_ID as bigint = null
				declare @Is_ACtive as bit = 1
				Declare  @DCSalesEmpID as Nvarchar(20) = null
				Declare  @DCSalesUserID as bigint = 0
				Declare  @DCUserDescription as Nvarchar(Max) = ''	

				--If (@iscontact = 'true')
				--	BEGIN
				--			SET @Is_ACtive = 0
				--	END

				  

				IF NOT Exists(select 1 from gen_HubSpotContact WITH(NOLOCK) WHERE ContactID = @HubspotContactID)
					BEGIN
							Insert 
							into	gen_HubSpotContact(
									 ContactID
									,CompanyID
									,Company
									,PortalID
									,hubspot_owner_id
									,[canonical-vid]
									,associatedcompanyid
									,FirstName
									,LastName
									,EmailID
									,website
									,ContactNo
									,IsPrimary
									,[merged-vids]
									,[is-contact]
									,venture
									,regions
									,city
									,skype
									,jobtitle
									,CreatedByID
									,CreatedByDatetime
									,LastModifiedByID
									,LastModifiedDatetime
									,IsCompanyInserted
									,LastInvoiceDate
									,CurrencyID
									,EngagementModelID
									,LastInvoice_id
									,GEO_ID
									,ZOHO_Customer_ID
									,ZohoOrganization_ID
									,IsActive
									,IsCreatedFromUTS
									,lead_source
									,designation
									,lifecyclestage
									,hs_persona
									)
									values (
											@HubspotContactID,
											@HubspotCompanyID,
											@Company,
											@PortalID,
											@hubspot_owner_id,
											@canonicalvid,
											@associatedcompanyid,
											@FirstName,
											@LastName,
											@EmailID,
											@website,
											@ContactNo,
											@IsPrimary,
											@mergedvids,
											@iscontact,
											@venture,
											@regions,
											@city,
											@skype,
											@jobtitle,
											@CreatedByID,
											@CreatedByDatetime,
											@LastModifiedByID,
											@LastModifiedDatetime,
											@IsCompanyInserted,
											@LastInvoiceDate,
											@CurrencyID,
											@EngagementModelID,
											@LastInvoice_id,
											@GEO_ID,
											@ZOHO_Customer_ID,
											@ZohoOrganization_ID,
											@IsActive,
											@IsCreatedFromUTS,
											@lead_source,
											@designation,
											@lifecyclestage,
											@hs_persona)

					END	
				ELSE
					BEGIN
						 Update gen_HubSpotContact
						 SET	
								CompanyID=Isnull(@HubspotCompanyID,CompanyID),
								Company=Isnull(@Company,Company),
								PortalID=Isnull(@PortalID,PortalID),
								hubspot_owner_id=Isnull(@hubspot_owner_id,hubspot_owner_id),
								[canonical-vid]=Isnull(@canonicalvid,[canonical-vid]),
								associatedcompanyid=Isnull(@associatedcompanyid,associatedcompanyid),
								FirstName=Isnull(@FirstName,FirstName),
								LastName=Isnull(@LastName,LastName),
								EmailID=Isnull(@EmailID,EmailID),
								website=Isnull(@website,website),
								ContactNo=Isnull(@ContactNo,ContactNo),
								IsPrimary=Isnull(@IsPrimary,IsPrimary),
								[merged-vids]=Isnull(@mergedvids,[merged-vids]),
								[is-contact]=Isnull(@iscontact,[is-contact]),
								venture=Isnull(@venture,venture),
								regions=Isnull(@regions,regions),
								city=Isnull(@city,city),
								skype=Isnull(@skype,skype),
								jobtitle=Isnull(@jobtitle,jobtitle),
								CreatedByID=Isnull(@CreatedByID,CreatedByID),
								CreatedByDatetime=Isnull(@CreatedByDatetime,CreatedByDatetime),
								LastModifiedByID=Isnull(@LastModifiedByID,LastModifiedByID),
								LastModifiedDatetime=Isnull(@LastModifiedDatetime,LastModifiedDatetime),
								IsCompanyInserted=Isnull(@IsCompanyInserted,IsCompanyInserted),
								LastInvoiceDate=Isnull(@LastInvoiceDate,LastInvoiceDate),
								CurrencyID=Isnull(@CurrencyID,CurrencyID),
								EngagementModelID=Isnull(@EngagementModelID,EngagementModelID),
								LastInvoice_id=Isnull(@LastInvoice_id,LastInvoice_id),
								GEO_ID=Isnull(@GEO_ID,GEO_ID),
								ZOHO_Customer_ID=Isnull(@ZOHO_Customer_ID,ZOHO_Customer_ID),
								ZohoOrganization_ID=Isnull(@ZohoOrganization_ID,ZohoOrganization_ID),
								IsActive=Isnull(@IsActive,IsActive),
								IsCreatedFromUTS=Isnull(@IsCreatedFromUTS,IsCreatedFromUTS),
								lead_source=Isnull(@lead_source,lead_source),
								designation=Isnull(@designation,designation),
								lifecyclestage=Isnull(@lifecyclestage,lifecyclestage),
								hs_persona=Isnull(@hs_persona,hs_persona)
						 where  ContactID = @HubspotContactID
					END

				If Isnull(@HubspotCompanyID,0) > 0
				BEGIN
						IF Exists(select 1 from gen_Company WITH(NOLOCK) WHERE HubSpot_Company = @HubspotCompanyID )
						BEGIN
								SELECT @Company_ID = ID from gen_Company WITH(NOLOCK) WHERE HubSpot_Company = @HubspotCompanyID 

						END
				END

		
					Declare @ContactFullname as nvarchar(500) = ''
					SET @ContactFullname = case when Isnull(@FirstName,'') <> ''  then Isnull(@FirstName,'') + ' ' + Isnull(@LastName,'') else Isnull(@LastName,'')  end

					IF NOT Exists(select 1 from gen_Contact WITH(NOLOCK) WHERE Lower(EmailID) = Lower(@EmailID))
						BEGIN
				        

								Insert into gen_Contact(CompanyID,EmailID,Username,FirstName,LastName,FullName,ContactNo,regions,city,skype,HubSpot_ContactID,CreatedByDatetime,CreatedByID,IsPrimary,IsActive,IsEmailVerified)
								Values(@Company_ID,@EmailID,@EmailID,@FirstName,@LastName,@ContactFullname,@ContactNo,@regions,@city,@skype,@HubspotContactID,@CreatedByDatetime,@CreatedByID,@IsPrimary,@Is_ACtive,1)

							SELECT @HubspotContactID = SCOPE_IDENTITY()

							select @DCSalesEmpID = [Value] from gen_SystemConfiguration with(Nolock) where [Key] = 'ClientFrontEndPayPerHRPOC'
							Select @DCSalesUserID = ID,@DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID

							Select @DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where ID = @DCSalesUserID


							IF NOT EXISTS(SELECT 1 FROM gen_ContactPointofContact WITH (NOLOCK) WHERE ContactID = @HubspotContactID AND User_ID = @DCSalesUserID)
								BEGIN	
										Insert into gen_ContactPointofContact(ContactID,User_ID,Description,Company_ID)
										Values(@HubspotContactID,@DCSalesUserID,@DCUserDescription,@Company_ID)
								END
						END
					ELSE
						BEGIN
								--IF @Company_ID = 0
								--	BEGIN
											UPDATE gen_Contact
											SET    CompanyID =isnull(@Company_ID,CompanyID) ,
												--   EmailID = Isnull(@EmailID,EmailID),
												   --Username = Isnull(@EmailID,Username),
												   FirstName = case when Isnull(@FirstName,'') = '' then FirstName else Isnull(@FirstName,FirstName) end ,
												   LastName =  case when Isnull(@LastName,'') = '' then LastName else Isnull(@LastName,LastName) end,
												   FullName = case when Isnull(@ContactFullname,'') = '' then FullName Else Isnull(@ContactFullname,FullName) end,
												   ContactNo = Isnull(@ContactNo,ContactNo),
												   regions = ISNULL(@regions,regions),
												   city=Isnull(@city,city),
												   skype = Isnull(@skype,skype),
												   HubSpot_ContactID = ISNULL(@HubspotContactID,HubSpot_ContactID),
												   LastModifiedByID = @LastModifiedByID,
												   LastModifiedDatetime = @LastModifiedDatetime
												   --,
												   --IsPrimary = 1,
												   --IsActive = 1
											WHERE  Lower(EmailID) = Lower(@EmailID) 
									--END
						
						END


		ENd
		
		
END