USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Add_Contract_Renewal_Details]    Script Date: 01-08-2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Add_Contract_Renewal_Details]
   @OnBoardID			bigint        = null,
   @RenewalStartDate	datetime      = null,
   @RenewalEndDate		datetime      = null,
   @RenewalDuration		int			  = null,
   @NewBR				decimal(18,2) = null,
   @NewPR				decimal(18,2) = null,
   @NewNR				decimal(18,2) = null,
   @Reason				Nvarchar(Max) = null,
   @CreatedById			bigint		  = null,
   @ModifiedById		bigint		  = null,
   @IsContractOnGoing	bit			  = 0
AS
BEGIN
	DECLARE @NEW_OnBoardID AS bigint =0
		IF Not Exists(SELECT 1 FROM gen_Contract_Renewal_Details with(Nolock) where OnboardID = @OnBoardID and RenewalStartDate = @RenewalStartDate and RenewalEndDate = @RenewalEndDate)
		 BEGIN
				Insert 
				into	gen_Contract_Renewal_Details(OnBoardId,RenewalStartDate,RenewalEndDate,ContractDuration,NewBR,NewPR,NewNR,Reason,CreatedByID,CreatedByDateTime,IsContractRenewed)
				select  @OnBoardID,@RenewalStartDate,@RenewalEndDate,@RenewalDuration,@NewBR,@NewPR,@NewNR,@reason,@CreatedById,GETDATE(),0
		
		        -- Payal(17-05-2023) Add Engagementin gen_OnBoardTalents & gen_OnBoardClientContractDetails
				BEGIN
				     print 'insert gen_OnBoardTalents & gen_OnBoardClientContractDetails'

					 DECLARE @Renew_EngagementID AS nvarchar(50) = ''
					 DECLARE @RQty AS int =0;	
					 				
					 Declare @Talent_ID as bigint = 0
					 Declare @HiringRequest_Id as bigint = 0

					 select @Talent_ID = Talent_Id,@HiringRequest_Id = HiringRequest_ID
					 from gen_OnBoardTalents WITH(NOLOCK) WHERE ID = @OnBoardID

					 update gen_OnBoardTalents SET Status_ID =2  where ID = @OnBoardID
					 update gen_OnBoardClientContractDetails SET IsContractCompleted =1 where OnBoardID = @OnBoardID

					 --select @RQty = ROW_NUMBER() Over(Partition by substring(OBT.EngagemenID,1,(Case when charindex('_',OBT.EngagemenID,1) > 0 then (charindex('_',OBT.EngagemenID,1) - 1) else len(OBT.EngagemenID) end)) Order by ID asc)					  												
      --               from    gen_OnBoardTalents OBT  where ID = @OnBoardID

						--select	@RQty = substring(OBT.EngagemenID,18,17)
						--from    gen_OnBoardTalents OBT WITH(NOLOCK)
						--where	ID = @OnBoardID and OBT.EngagemenID like '%_RN%'

						select	top 1 @RQty = Substring(OBT.EngagemenID,len(left(OBT.EngagemenID,CHARINDEX('_RN',OBT.EngagemenID) + 2)) + 1, len(OBT.EngagemenID))
						from    gen_OnBoardTalents OBT WITH(NOLOCK)
						where	HiringRequest_ID = @HiringRequest_Id and Talent_ID = @Talent_ID 
								and OBT.EngagemenID like '%_RN%'
						order by ID desc

					 SET @RQty = Isnull(@RQty,0) + 1

					  SELECT @Renew_EngagementID = case when CHARINDEX('_RN',OBT.EngagemenID,1) > 0 then Left(OBT.EngagemenID,CHARINDEX('_RN',OBT.EngagemenID,1) - 1) + '_RN' + Cast(@RQty as nvarchar(5)) else OBT.EngagemenID + '_RN' + Cast(@RQty as nvarchar(5)) end  
					  from gen_OnBoardTalents OBT with(nolock) where ID = @OnBoardID

					  print @Renew_EngagementID

					  BEGIN
					  INSERT INTO [dbo].[gen_OnBoardTalents]
														   ([EngagemenID]
														   ,[HiringRequest_ID]
														   ,[HiringRequest_Detail_ID]
														   ,[ContactID]
														   ,[Talent_ID]
														   ,[Shortlisted_InterviewID]
														   ,[HiredDate]
														   ,[Joiningdate]
														   ,[TalentFeesStr]
														   ,[ClientOnBoarding_StatusID]
														   ,[ClientOnBoardingDate]
														   ,[ClientConcernRemark]
														   ,[TalentOnBoarding_StatusID]
														   ,[TalentOnBoardingDate]
														   ,[TalentConcernRemark]
														   ,[ClientLegal_StatusID]
														   ,[ClientLegalDate]
														   ,[TalentLegal_StatusID]
														   ,[TalentLegalDate]
														   ,[Kickoff_StatusID]
														   ,[KickoffDate]
														   ,[Zoom_MeetingscheduledOn]
														   ,[Zoom_InterviewLink]
														   ,[Zoom_MeetingID]
														   ,[Zoom_InterviewKit_username]
														   ,[Zoom_InterviewKit_password]
														   ,[Zoom_StartTime]
														   ,[Zoom_EndTime]
														   ,[IST_Zoom_ScheduledOn]
														   ,[IST_Zoom_StartTime]
														   ,[IST_Zoom_EndTime]
														   ,[Status_ID]
														   ,[Remark]
														   ,[CreatedByID]
														   ,[CreatedByDatetime]														  
														   ,[Kickoff_Timezone_Preference_ID]
														   ,[IsClientOnBoardEmailSend]
														   ,[IsHRManaged]
														   ,[ManagedTalentID]
														   ,[AM_SalesPersonID]
														   ,[NBD_SalesPersonID]
														   ,[DeleteHRReason]
														   ,[DeleteHRReason_Id]
														   ,[LossRemark]
														   ,[SOWCount]
														   ,[GUID]
														   ,[Final_HR_Cost]
														   ,[Talent_Cost]
														   ,[NRPercentage]
														   ,[ClientClosureDate]
														   ,[CurrencyExchangeRate]
														   ,[DPAmount])

													 SELECT @Renew_EngagementID
														   ,HiringRequest_ID
														   ,HiringRequest_Detail_ID
														   ,ContactID
														   ,Talent_ID
														   ,Shortlisted_InterviewID
														   ,HiredDate 
														   ,Joiningdate 
														   ,TalentFeesStr 
														   ,ClientOnBoarding_StatusID
														   ,ClientOnBoardingDate 
														   ,ClientConcernRemark
														   ,TalentOnBoarding_StatusID
														   ,TalentOnBoardingDate 
														   ,TalentConcernRemark
														   ,ClientLegal_StatusID
														   ,ClientLegalDate 
														   ,TalentLegal_StatusID
														   ,TalentLegalDate 
														   ,Kickoff_StatusID
														   ,KickoffDate 
														   ,Zoom_MeetingscheduledOn 
														   ,Zoom_InterviewLink
														   ,Zoom_MeetingID 
														   ,Zoom_InterviewKit_username
														   ,Zoom_InterviewKit_password
														   ,Zoom_StartTime
														   ,Zoom_EndTime
														   ,IST_Zoom_ScheduledOn
														   ,IST_Zoom_StartTime
														   ,IST_Zoom_EndTime
														   ,1
														   ,Remark
														   ,CreatedByID
														   ,GETDATE() 
														   
														   ,Kickoff_Timezone_Preference_ID
														   ,IsClientOnBoardEmailSend
														   ,IsHRManaged
														   ,ManagedTalentID
														   ,AM_SalesPersonID
														   ,NBD_SalesPersonID
														   ,DeleteHRReason
														   ,DeleteHRReason_Id
														   ,LossRemark
														   ,SOWCount
														   ,NULL --NEWID()
														   ,@NewBR
														   ,@NewPR
														   ,@NewNR
														   ,ClientClosureDate
														   ,CurrencyExchangeRate
														   ,DPAmount
														   FROM gen_OnBoardTalents with(Nolock) where ID = @OnBoardID

					
														   SET @NEW_OnBoardID = SCOPE_IDENTITY();
					  END
														   INSERT INTO [dbo].[gen_OnBoardClientContractDetails]
															   ([OnBoardID]
															   ,[ContractType]
															   ,[ContractDuration]
															   ,[ContractStartDate]
															   ,[ContractEndDate]
															   ,[TotalDurationInMonths]
															   ,[PunchStartTime]
															   ,[PunchEndTime]
															   ,[WorkingDays]
															   ,[TalentWorkingTimeZone]
															   ,[TalentMonthlyCost]
															   ,[Currency]
															   ,[FirstClientBillingDate]
															   ,[NetPaymentDays]
															   ,[ContractRenewalSlot]
															   ,[TalentOnBoardDate]
															   ,[TalentOnBoardTime]
															   ,[DevicesPoliciesOption]
															   ,[TalentDeviceDetails]
															   ,[AdditionalCostPerMonth_RDPSecurity]
															   ,[DeviceCostAsPerPolicy]
															   ,[IsRecurring]
															   ,[ExpectationFromTalent_FirstWeek]
															   ,[ExpectationFromTalent_FirstMonth]
															   ,[ProceedWithUplers_ExitPolicyOption]
															   ,[ProceedWithUplers_LeavePolicyOption]
															   ,[ProceedWithClient_LeavePolicyOption]
															   ,[ProceedWithClient_LeavePolicyLink]
															   ,[ProceedWithClient_LeavePolicyFileUpload]
															   ,[Client_Remark]
															   ,[Talent_Remark]
															   ,[IsTalentRaiseConcern]
															   ,[Talent_WorkingTimeZoneConcern]
															   ,[Talent_ContractConcern]
															   ,[Talent_DevicePolicesConcern]
															   ,[Talent_LeavePolicyConcern]
															   ,[Talent_ExitPolicyConcern]
															   ,[CreatedByID]
															   ,[CreatedByDatetime]
															   
															   ,[Timezone_Preference_ID]
															   ,[ClientBaseCost]
															   ,[IsOngoing]
															   )
														SELECT 
															   @NEW_OnBoardID
															   ,ContractType
															   ,@RenewalDuration
															   ,@RenewalStartDate
															   ,@RenewalEndDate
															   ,@RenewalDuration
															   ,PunchStartTime
															   ,PunchEndTime
															   ,WorkingDays
															   ,TalentWorkingTimeZone
															   ,TalentMonthlyCost
															   ,Currency
															   ,FirstClientBillingDate
															   ,NetPaymentDays
															   ,ContractRenewalSlot
															   ,TalentOnBoardDate
															   ,TalentOnBoardTime
															   ,DevicesPoliciesOption
															   ,TalentDeviceDetails
															   ,AdditionalCostPerMonth_RDPSecurity
															   ,DeviceCostAsPerPolicy
															   ,IsRecurring
															   ,ExpectationFromTalent_FirstWeek
															   ,ExpectationFromTalent_FirstMonth
															   ,ProceedWithUplers_ExitPolicyOption
															   ,ProceedWithUplers_LeavePolicyOption
															   ,ProceedWithClient_LeavePolicyOption
															   ,ProceedWithClient_LeavePolicyLink
															   ,ProceedWithClient_LeavePolicyFileUpload
															   ,Client_Remark
															   ,Talent_Remark
															   ,IsTalentRaiseConcern
															   ,Talent_WorkingTimeZoneConcern
															   ,Talent_ContractConcern
															   ,Talent_DevicePolicesConcern
															   ,Talent_LeavePolicyConcern
															   ,Talent_ExitPolicyConcern
															   ,CreatedByID
															   ,GETDATE()															
															   ,Timezone_Preference_ID
															   ,ClientBaseCost
															   ,@IsContractOnGoing
															   FROM gen_OnBoardClientContractDetails with(Nolock) where OnBoardID = @OnBoardID

					  -- Insert payOut informations for Talent
						Declare @Contact_ID as bigint 
						Declare @Hiring_Request_ID as bigint 
						Declare @HiringRequest_Detail_ID as bigint 
						Declare @Contract_StartDate as datetime 
						Declare @Contract_EndDate as datetime 
						DECLARE @Invoice_Total as decimal(18,2)
						DECLARE @ExchangeRate as decimal(18,2)
						DECLARE @Currency as nvarchar(50)
						DECLARE @TalentID as bigint

						SELECT @Contact_ID = OBT.ContactID,@Hiring_Request_ID = OBT.HiringRequest_ID, @HiringRequest_Detail_ID = OBT.HiringRequest_Detail_ID , @TalentID = OBT.Talent_ID
						, @Invoice_Total = Final_HR_Cost, @ExchangeRate = CurrencyExchangeRate, @Currency = HD.Currency	
						FROM gen_OnBoardTalents OBT  WITH(NOLOCK) inner join gen_SalesHiringRequest H  WITH(NOLOCK) ON OBT.HiringRequest_ID = H.ID 
						inner join gen_SalesHiringRequest_Details HD  WITH(NOLOCK) ON OBT.HiringRequest_Detail_ID = HD.ID 
						inner join prg_CurrencyExchangeRate CE  WITH(NOLOCK) ON HD.Currency = CE.CurrencyCode 
						WHERE OBT.ID = @NEW_OnBoardID

						select @Contract_StartDate = ContractStartDate,
							   @Contract_EndDate = ContractEndDate
						from  gen_OnBoardClientContractDetails  WITH(NOLOCK)
						Where OnBoardID = @NEW_OnBoardID

            update gen_OnBoardTalents SET CurrencyExchangeRate = @ExchangeRate WHERE  ID = @NEW_OnBoardID			
			update gen_OnBoardClientContractDetails SET Currency = @Currency WHERE  OnBoardID = @NEW_OnBoardID			
						

	exec Sproc_Insert_Talent_PayOut_Summary @TalentId				   = @TalentID,
											@Contact_Id				   = @Contact_ID,
											@Onboard_Id				   = @NEW_OnBoardID,
											@Hiring_Request_ID		   = @Hiring_Request_ID,
											@Hiring_RequestDetail_Id   = @HiringRequest_Detail_ID,
											@Contract_StartDate		   = @Contract_StartDate,
											@Contract_EndDate		   = @Contract_EndDate,
											@Invoice_Total			   = @Invoice_Total	,
											@ExchangeRate              = @ExchangeRate,
											@Currency				   = @Currency

				END
		
		END		
		
		select @NEW_OnBoardID as NEWOnBoardID;
END
