USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_OnBoardClientFeedBack]    Script Date: 27-04-2023 15:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[Sproc_Get_OnBoardClientFeedBack]		
ALTER PROCEDURE [dbo].[Sproc_Get_OnBoardClientFeedBack]
		@PageIndex				INT = 1,
		@PageSize				INT = 50,
		@SortExpression			nvarchar(100) = 'FeedbackCreatedDateTime',
		@SortDirection			nvarchar(100) = 'DESC',
		@OnBoardID				bigint = NULL
AS
BEGIN
	
		DECLARE @WhereClauseSQL nvarchar(max) = ''
		DECLARE @MainSQL nvarchar(max) = ''
		DECLARE @TmpDBSQL nvarchar(max) = ''
		DECLARE @WhereClauseSQL1 nvarchar(max) = ''

		IF isnull(@OnBoardID,0) <> 0
			SET @WhereClauseSQL += ' AND OCF.OnBoardID = ' + CONVERT(nvarchar,ISNULL(@OnBoardID,0) )

			SET @MainSQL= ';WITH CTE_Records AS (SELECT OCF.ID,
														ISNULL(OnBoardID,0) OnBoardID,
														ISNULL(FeedbackType,'''') FeedbackType,
														ISNULL(FeedbackComment,'''') FeedbackComment,
														ISNULL(FeedbackActionToTake,'''') FeedbackActionToTake,
														ISNULL(FeedbackCreatedDateTime,'''') FeedbackCreatedDateTime,
														ISNULL(EngagemenID,'''') EngagemenID, 
														1 as TotalCountID					
													    FROM	 gen_OnBoardTalents OBT with(Nolock) INNER JOIN 
													    gen_OnBoardTalents_ClientFeedback OCF WITH(NOLOCK) ON OBT.ID = OCF.OnBoardID AND OBT.HiringRequest_ID = OCF.HiringRequest_ID
													    WHERE 1=1 ' + @WhereClauseSQL + '
								)
								,Cte_TotalCount AS(
										Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
								)
								SELECT CF.ID,CF.OnBoardID,CF.FeedbackType,CF.FeedbackComment,CF.FeedbackActionToTake,(CONVERT(varchar, ISNULL(CF.FeedbackCreatedDateTime, ''''), 103) + '' ''  + convert(VARCHAR(8), CF.FeedbackCreatedDateTime, 14)) FeedbackCreatedDateTime,CF.EngagemenID,T.TotalRecords
																		FROM CTE_Records CF 
								INNER JOIN Cte_TotalCount T on T.TotalCountID =CF.TotalCountID  '
								

					  If @TmpDBSQL <> ''
						BEGIN
								SET @MainSQL = @TmpDBSQL + @MainSQL								
						END

					     If	@SortExpression = 'FeedbackCreatedDateTime'
									SET @MainSQL += ' ORDER BY cast(' + @SortExpression + ' as datetime) ' + @SortDirection
							ELSe 
								SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

					 --  IF(@PageSize>0)
						--  BEGIN
						--		SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
						--						FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY 
						--				  ';
						--   END
						--ELSE
						--	BEGIN
						--		SET @MainSQL= 	@MainSQL;
						--	END
		PRINT(@MainSQL)
		EXECUTE sp_executesql @MainSQL		  	

END