ALTER PROCEDURE [dbo].[sproc_AddEdit_DirectHR_DebriefTab]
@HRID				BIGINT			= NULL,
@WEBSITE			NVARCHAR(MAX)	= NULL,
@COMPANYSIZE		BIGINT			= NULL,
@INDUSTRY			NVARCHAR(MAX)	= NULL,
@ABOUTCOMPANY		NVARCHAR(MAX)	= NULL,
@LOCATIONID			BIGINT			= NULL,
@HRROLEID			BIGINT			= NULL,
@HRTITLE			NVARCHAR(MAX)	= NULL,
@ROLESRESP			NVARCHAR(MAX)	= NULL,
@REQUIREMENTS		NVARCHAR(MAX)	= NULL,
@MUSTHAVESKILLS		NVARCHAR(MAX)	= NULL,
@GOODHAVESKILLS		NVARCHAR(MAX)	= NULL,
@GLASSDOORRATING	DECIMAL(18,2)	= NULL,
@AMBITIONBOXRATING	DECIMAL(18,2)	= NULL,
@ISSPECIALEDIT		BIT				= NULL,
@LOGGEDINUSERID		BIGINT			= NULL
AS
BEGIN

	DECLARE @InsertedRoleID BIGINT = 0;
	DECLARE @CurrentDate datetime = GETDATE();
	DECLARE @SkillName NVARCHAR(MAX) = '';
	DECLARE @TempSkillID NVARCHAR(MAX) = '';
	DECLARE @SkillID BIGINT = 0;
	DECLARE @CompanyID BIGINT = 0;
	DECLARE @ContactID BIGINT = 0;
	DECLARE @DefaultSalesUserID BIGINT = 0;
	DECLARE @JDFILENAME NVARCHAR(MAX) = '';
	DECLARE @JDURL NVARCHAR(MAX) = '';
	DECLARE @HRNUMBER NVARCHAR(50) = '';
	DECLARE @JDDUMPID BIGINT = 0;
	DECLARE @HourDifference INT = 0;
	DECLARE @AMSalesPersonID BIGINT = 0;
	DECLARE @NBDSalesPersonID BIGINT = 0;
	DECLARE @PREVHRID BIGINT = 0;
	DECLARE @HRDETAILID BIGINT = 0;
	DECLARE @LOCATION NVARCHAR(MAX) = ''; 

	SET @DefaultSalesUserID = ISNULL((SELECT ID from usr_User with(nolock) where EmployeeID = 'DCUP1673'),0);

	IF OBJECT_ID('tempdb..#MustHaveSkillsInHR') IS NOT NULL
		DROP TABLE #MustHaveSkillsInHR;

	CREATE TABLE #MustHaveSkillsInHR(SkillName NVARCHAR(MAX));

	IF EXISTS(SELECT 1 from gen_SalesHiringRequest with(nolock) where ID = @HRID) AND EXISTS(SELECT 1 from gen_SalesHiringRequest_Details with(nolock) where HiringRequest_ID = @HRID)
	BEGIN

		SELECT	@ContactID = ISNULL(ContactID,0),
				@PREVHRID = ISNULL(Previous_HiringRequest_ID,0)
		FROM	gen_SalesHiringRequest with(nolock)
		WHERE	ID = @HRID;

		SELECT	@CompanyID = CompanyID
		FROM	gen_Contact with(nolock)
		WHERE	ID = @ContactID;

		SELECT	@AMSalesPersonID = ISNULL(AM_SalesPersonID,0),
				@NBDSalesPersonID = ISNULL(NBD_SalesPersonID,0)
		FROM	gen_Company with(nolock)
		WHERE	ID = @CompanyID;

		SELECT	@HRDETAILID = ID
		FROM	gen_SalesHiringRequest_Details with(nolock)
		WHERE	HiringRequest_ID = @HRID;

		SELECT	@JDFILENAME = JDFileName,
				@JDURL = JDURL,
				@HRNUMBER = HR_Number,
				@JDDUMPID = JDDump_ID,
				@HourDifference = NoofHoursworking
		FROM	gen_SalesHiringRequest WITH(NOLOCK)
		WHERE	ID = @HRID;

		SET @LOCATION = (SELECT TOP 1 Country FROM prg_CountryRegion WITH(NOLOCK) WHERE id = @LOCATIONID)

		UPDATE	gen_company
		SET		about_Company_desc = @ABOUTCOMPANY,
				Website = @WEBSITE,
				CompanySize = @COMPANYSIZE,
				industry = @INDUSTRY,
				Location = @LOCATION
		WHERE	ID = @CompanyID;

		UPDATE	gen_SalesHiringRequest
		SET		about_Company_desc = @ABOUTCOMPANY,
				RequestForTalent = @HRTITLE,
				LastModifiedByID = @LOGGEDINUSERID,
				LastModifiedDatetime = GETDATE()
		WHERE	ID = @HRID;

		UPDATE	gen_SalesHiringRequest_Details
		SET		Role_ID = @HRROLEID,
				GlassdoorRating = @GLASSDOORRATING,
				AmbitionBoxRating = @AMBITIONBOXRATING,
				RolesResponsibilities = @ROLESRESP,
				Requirement = @REQUIREMENTS,
				LastModifiedByID = @LOGGEDINUSERID,
				LastModifiedDatetime = GETDATE()
		WHERE	ID = @HRDETAILID;

		--Add/Edit Must Have Skills
		begin
			
			--Add New Skills linked with this HR ID
			INSERT INTO #MustHaveSkillsInHR(SkillName)
				SELECT val from f_split(@MUSTHAVESKILLS, ',');

			IF (SELECT COUNT(1) from #MustHaveSkillsInHR) > 0
				DELETE FROM gen_SalesHiringRequest_SkillDetails WHERE HiringRequest_ID = @HRID and Proficiency = 'Strong';


			DECLARE CUR_HR_SKILLS CURSOR FOR SELECT * FROM #MustHaveSkillsInHR
			OPEN CUR_HR_SKILLS

			FETCH NEXT FROM CUR_HR_SKILLS INTO @SkillName

			WHILE @@FETCH_STATUS = 0
			BEGIN
				IF EXISTS(SELECT 1 from prg_Skills with(nolock) where LTRIM(RTRIM(Skill)) = LTRIM(RTRIM(@SkillName)))
				BEGIN
					SET @SkillID = ISNULL((SELECT top 1 ID from prg_Skills with(nolock) where LTRIM(RTRIM(Skill)) = LTRIM(RTRIM(@SkillName))), 0);

					INSERT INTO gen_SalesHiringRequest_SkillDetails(HiringRequest_ID,Skill_ID,Proficiency,CreatedByID,CreatedByDatetime)
						SELECT @HRID, @SkillID, 'Strong', @LOGGEDINUSERID, GETDATE();
				END
				ELSE
				BEGIN
					IF NOT EXISTS (SELECT 1 from prg_TempSkills with(nolock) where LTRIM(RTRIM(TempSkill)) = LTRIM(RTRIM(@SkillName)))
					BEGIN
						EXEC @TempSkillID = Sproc_prg_TempSkills_Insert @SkillName, @LOGGEDINUSERID, @CurrentDate, null, null, 0;
					END
					ELSE
					BEGIN
						SET @TempSkillID = ISNULL((SELECT top 1 TempSkill_ID FROM prg_TempSkills with(nolock) where LTRIM(RTRIM(TempSkill)) = LTRIM(RTRIM(@SkillName))), '');
					END

					INSERT INTO gen_SalesHiringRequest_SkillDetails(HiringRequest_ID,Skill_ID,Proficiency,CreatedByID,CreatedByDatetime,TempSkill_ID)
						SELECT @HRID, 0, 'Strong', @LOGGEDINUSERID, GETDATE(), @TempSkillID;
				END

				FETCH NEXT FROM CUR_HR_SKILLS INTO @SkillName
			END

			CLOSE CUR_HR_SKILLS
			DEALLOCATE CUR_HR_SKILLS
		end


		--Add/Edit Good To Have Skills
		begin
			
			IF OBJECT_ID('tempdb..#GoodHaveSkillsInHR') IS NOT NULL
				DROP TABLE #GoodHaveSkillsInHR;
				

			CREATE TABLE #GoodHaveSkillsInHR(SkillName NVARCHAR(MAX));

			--Add New Skills linked with this HR ID
			INSERT INTO #GoodHaveSkillsInHR(SkillName)
				SELECT val from f_split(@GOODHAVESKILLS, ',');

			IF (SELECT COUNT(1) from #GoodHaveSkillsInHR) > 0
				DELETE FROM gen_SalesHiringRequest_SkillDetails WHERE HiringRequest_ID = @HRID and Proficiency = 'Basic';


			DECLARE CUR_HR_SKILLS CURSOR FOR SELECT * FROM #GoodHaveSkillsInHR
			OPEN CUR_HR_SKILLS

			FETCH NEXT FROM CUR_HR_SKILLS INTO @SkillName

			WHILE @@FETCH_STATUS = 0
			BEGIN
				
				IF EXISTS(SELECT 1 from prg_Skills with(nolock) where LTRIM(RTRIM(Skill)) = LTRIM(RTRIM(@SkillName)))
				BEGIN
					SET @SkillID = ISNULL((SELECT top 1 ID from prg_Skills with(nolock) where LTRIM(RTRIM(Skill)) = LTRIM(RTRIM(@SkillName))), 0);

					INSERT INTO gen_SalesHiringRequest_SkillDetails(HiringRequest_ID,Skill_ID,Proficiency,CreatedByID,CreatedByDatetime)
						SELECT @HRID, @SkillID, 'Basic', @LOGGEDINUSERID, GETDATE();
				END
				ELSE
				BEGIN

					IF NOT EXISTS (SELECT 1 from prg_TempSkills with(nolock) where LTRIM(RTRIM(TempSkill)) = LTRIM(RTRIM(@SkillName)))
					BEGIN
						EXEC @TempSkillID = Sproc_prg_TempSkills_Insert @SkillName, @LOGGEDINUSERID, @CurrentDate, null, null, 0;
					END
					ELSE
					BEGIN
						SET @TempSkillID = ISNULL((SELECT top 1 TempSkill_ID FROM prg_TempSkills with(nolock) where LTRIM(RTRIM(TempSkill)) = LTRIM(RTRIM(@SkillName))), '');
					END

					INSERT INTO gen_SalesHiringRequest_SkillDetails(HiringRequest_ID,Skill_ID,Proficiency,CreatedByID,CreatedByDatetime,TempSkill_ID)
						SELECT @HRID, 0, 'Basic', @LOGGEDINUSERID, GETDATE(), @TempSkillID;

				END

				FETCH NEXT FROM CUR_HR_SKILLS INTO @SkillName
			END

			CLOSE CUR_HR_SKILLS
			DEALLOCATE CUR_HR_SKILLS
		end


		--Add gen_SalesHiringRequest_History
		begin
			INSERT INTO gen_SalesHiringRequest_History(HiringRequest_ID
												,SalesUserID
												,ContactID
												,RequestForTalent
												,JDFilename
												,JDURL
												,NoofTalents
												,Status_ID
												,CreatedByID
												,CreatedByDatetime
												,HR_Number
												,Availability
												,NoofHoursworking
												,JDDump_ID
												,IsCreatedByClient
												,IsActive
												,TalentCostCalcPercentage
												,IsAdhocHR
												,IsEmailSend
												,AcceptedByID
												,AcceptedByDateTime
												,IsAccepted
												,IsManaged
												,TR_Accepted
												,AM_SalesPersonID
												,NBD_SalesPersonID
												,BQLink
												,Discovery_Call
												,about_Company_desc
												,DealID
												,Previous_HiringRequest_ID
												,HistoryDate
												,IsPoolHR
												,IsHRTypeDP)
			SELECT	@HRID, @DefaultSalesUserID, @ContactID, @HRTITLE, @JDFILENAME, @JDURL, 1, 1, @LOGGEDINUSERID, GETDATE(), @HRNUMBER, 
					'Full Time', @HourDifference, @JDDUMPID, 0, 1, 35,0,0, 16, GETDATE(),1,0,1, @AMSalesPersonID,
					@NBDSalesPersonID, 'NA', 'NA', @ABOUTCOMPANY, 0, @PREVHRID, GETDATE(),1,0;
		end


		--Add gen_SalesHiringRequest_Details_History
		begin
			INSERT INTO gen_SalesHiringRequest_Details_History(HiringRequest_ID
															,HiringRequest_Detail_ID
															,Role_ID
															,NoofEmployee
															,Duration
															,DurationType
															,Cost
															,RoleStatus_ID
															,SpecificMonth
															,YearOfExp
															,HowSoon
															,Timezone_ID
															,TypeofInterviewer_ID
															,RoleTeamSize
															,CommunicationType
															,AssociatedwithUplers_ID
															,PartialEngagementType_ID
															,NoOfHoursWorking
															,CreatedByID
															,CreatedByDatetime
															,LastModifiedByID
															,LastModifiedDatetime
															,Interviewer_ID
															,InterviewerName
															,InterviewLinkedin
															,InterviewerYearofExperience
															,HR_Cost
															,RolesResponsibilities
															,GenericInfo
															,Requirement
															,Timezone_Preference
															,Timezone_Preference_ID
															,TimeZone_FromTime
															,TimeZone_EndTime
															,OverlapingHours
															,InterviewerDesignation
															,NotMatch_AfterAcceptance_Timezone_ID
															,InterviewerEmailID
															,BudgetFrom
															,BudgetTo
															,Currency
															,AddOtherRole
															,Adhoc_BudgetCost
															,Remark
															,Previous_RoleStatusID
															,InterviewerExpInMonth
															,HistoryDate)
			SELECT	@HRID, @HRDETAILID, @HRROLEID, 1, Duration ,DurationType ,Cost ,RoleStatus_ID ,SpecificMonth ,YearOfExp ,HowSoon ,Timezone_ID ,
					TypeofInterviewer_ID ,RoleTeamSize ,CommunicationType ,AssociatedwithUplers_ID ,PartialEngagementType_ID ,NoOfHoursWorking ,
					CreatedByID ,CreatedByDatetime ,LastModifiedByID ,LastModifiedDatetime ,Interviewer_ID ,InterviewerName ,InterviewLinkedin ,
					InterviewerYearofExperience ,HR_Cost ,RolesResponsibilities ,GenericInfo ,Requirement ,Timezone_Preference ,Timezone_Preference_ID ,
					TimeZone_FromTime ,TimeZone_EndTime ,OverlapingHours ,InterviewerDesignation ,NotMatch_AfterAcceptance_Timezone_ID ,InterviewerEmailID ,
					BudgetFrom ,BudgetTo ,Currency ,AddOtherRole ,Adhoc_BudgetCost ,Remark ,Previous_RoleStatusID ,InterviewerExpInMonth, GETDATE()
			FROM	gen_SalesHiringRequest_Details where ID = @HRDETAILID;
		end


		--Add gen_History
		begin
			EXEC sproc_HiringRequest_History_Insert @Action = 'Update_HR', @HiringRequest_ID = @HRID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
				@OldSalesUserID = 0, @AppActionDoneBy = 3;

			EXEC sproc_HiringRequest_History_Insert @Action = 'Update_HRDBrifing', @HiringRequest_ID = @HRID,
					@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
					@OldSalesUserID = 0, @AppActionDoneBy = 3;
		end


		--Special Edit By COE Team
		begin
			IF @ISSPECIALEDIT = 1
			BEGIN
				EXEC sproc_Update_HRDetails_From_Special_User @HR_ID = @HRID, @HRDetail_ID = @HRDETAILID, @LoggedInUserID = @LOGGEDINUSERID;

				EXEC sproc_HiringRequest_History_Insert @Action = 'EditHR_COETeam', @HiringRequest_ID = @HRID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
				@OldSalesUserID = 0, @AppActionDoneBy = 3;
			END
		end

	END
END