-- exec [sproc_UTS_FetchInterviewerDetails] 11197,21663
ALTER proc [dbo].[sproc_UTS_FetchInterviewerDetails]
	@MasterId bigint = NULL,
	@InterviewerId bigint = NULL
as

begin
		SELECT
				ISNULL(INTV.ID,0) AS SelectedInterviewID,
				InterviewerID = ISNULL(I.ID,0),
				InterviewerName = isnull(I.InterviewerName,''),
				InterviewLinkedin = isnull(I.InterviewLinkedin,''),
				InterviewerEmailID = isnull(I.InterviewerEmailID,''),
				yearsOfexp = isnull(I.InterviewerYearofExperience,0),
				TypeofInterviewer_ID = isnull(I.TypeofInterviewer_ID,0),
				InterviewerDesignation = isnull(InterviewerDesignation,''),
				IsUsedAddMore = ISNULL(IsUsedAddMore,1)
			from [gen_SalesHiringRequest_InterviewerDetails] I WITH(NOLOCK)
			INNER JOIN gen_TalentSelected_InterviewerDetails INTV WITH(NOLOCK) ON I.ID = INTV.Interviewer_ID
			where INTV.InterviewMaster_ID = @MasterId
end