ALTER PROCEDURE [dbo].[SPROC_Gen_SalesHiringRequest_History]
	@HRID BIGINT NULL,
	@AppActionDoneBy INT NULL
AS
BEGIN
IF @HRID > 0
BEGIN
		INSERT INTO [dbo].[gen_SalesHiringRequest_History]
				([HiringRequest_ID]
				,[SalesUserID]
				,[ContactID]
				,[RequestForTalent]
				,[Discription]
				,[JDFilename]
				,[JDURL]
				,[MonthDuration]
				,[NoofTalents]
				,[Status_ID]
				,[OurObservation]
				,[Remark]
				,[CreatedByID]
				,[CreatedByDatetime]
				,[LastModifiedByID]
				,[LastModifiedDatetime]
				,[HR_Number]
				,[Availability]
				,[PartialEngagementType_ID]
				,[NoofHoursworking]
				,[JDDump_ID]
				,[IsCreatedByClient]
				,[IsActive]
				,[TalentCostCalcPercentage]
				,[IsAdHocHR]
				,[IsEmailSend]
				,[AcceptedByID]
				,[AcceptedByDateTime]
				,[IsAccepted]
				,[IsManaged]
				,[DeleteHRReason]
				,[NotAcceptedHRReason]
				,[AdhocPassBy]
				,[AdhocPassDate]
				,[IsHiringLimited]
				,[IsPoolHR]
				,[DeleteHRReason_Id]
				,[DeleteType]
				,[TR_Accepted]
				,[OnHoldRemark]
				,[LossRemark]
				,[AM_SalesPersonID]
				,[NBD_SalesPersonID]
				,[BQLink]
				,[Discovery_Call]
				,[DPPercentage]
				,[IsHRTypeDP]
				,[about_Company_desc]
				,[DealID]
				,[LastActivityDate]
				,[OnHoldReminderFlag]
				,[IsPartnerHR]
				,[ChildCompanyID]
				,[ChildContactID]
				,[Previous_HiringRequest_ID]
				,[GUID]
				,[JobStatusID]
				,[IsDirectHR]
				,[HRTypeId]
				,[HiringTypePricingId]
				,[IsTransparentPricing]
				,[PayrollTypeId]
				,[HR_TypeId]
				,[PayrollPartnerName]
				,[ReplaceOnBoardID]
				,[ClientJobModifyByID]
				,[ClientJobModifyByDatetime]
				,[IsAutoExpiredJob]
				,[JobExpiredORClosedDate]
				,[IsVettedProfile]
				,[HistoryDate]
				,[AppActionDoneBy])
	SELECT   [ID]
			,[SalesUserID]
			,[ContactID]
			,[RequestForTalent]
			,[Discription]
			,[JDFilename]
			,[JDURL]
			,[MonthDuration]
			,[NoofTalents]
			,[Status_ID]
			,[OurObservation]
			,[Remark]
			,[CreatedByID]
			,[CreatedByDatetime]
			,[LastModifiedByID]
			,[LastModifiedDatetime]
			,[HR_Number]
			,[Availability]
			,[PartialEngagementType_ID]
			,[NoofHoursworking]
			,[JDDump_ID]
			,[IsCreatedByClient]
			,[IsActive]
			,[TalentCostCalcPercentage]
			,[IsAdHocHR]
			,[IsEmailSend]
			,[AcceptedByID]
			,[AcceptedByDateTime]
			,[IsAccepted]
			,[IsManaged]
			,[DeleteHRReason]
			,[NotAcceptedHRReason]
			,[AdhocPassBy]
			,[AdhocPassDate]
			,[IsHiringLimited]
			,[IsPoolHR]
			,[DeleteHRReason_Id]
			,[DeleteType]
			,[TR_Accepted]
			,[OnHoldRemark]
			,[LossRemark]
			,[AM_SalesPersonID]
			,[NBD_SalesPersonID]
			,[BQLink]
			,[Discovery_Call]
			,[DPPercentage]
			,[IsHRTypeDP]
			,[about_Company_desc]
			,[DealID]
			,[LastActivityDate]
			,[OnHoldReminderFlag]
			,[IsPartnerHR]
			,[ChildCompanyID]
			,[ChildContactID]
			,[Previous_HiringRequest_ID]
			,[GUID]
			,[JobStatusID]
			,[IsDirectHR]
			,[HRTypeId]
			,[HiringTypePricingId]
			,[IsTransparentPricing]
			,[PayrollTypeId]
			,[HR_TypeId]
			,[PayrollPartnerName]
			,[ReplaceOnBoardID]
			,[ClientJobModifyByID]
			,[ClientJobModifyByDatetime]
			,[IsAutoExpiredJob]
			,[JobExpiredORClosedDate]
			,[IsVettedProfile]
			,GETDATE()
			,@AppActionDoneBy
		FROM [dbo].[gen_SalesHiringRequest]
	END
END
