USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_DeleteTalent]    Script Date: 05-01-2024 15:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_DeleteTalent]  
@ATS_TalentID bigint ,      
@UTS_TalentID bigint ,    
@EmpID varchar(100)  = NULL,    
@CreatedByDateTime datetime  = NULL,    
@is_deleted bit ,    
@reason varchar(200) = NULL,    
@description varchar(200) = NULL    
as      
begin       

DECLARE @UsrUserID AS bigint

 if @is_deleted =1 --is deleted
  Begin  
  
   if exists(select 1 from gen_Talent with(nolock) where ATS_Talent_ID = @ATS_TalentID and ID= @UTS_TalentID)  
    Begin  
		print 'if 1'
     if exists(select 1 from gen_Talent with(nolock) where ATS_Talent_ID = @ATS_TalentID and ID=@UTS_TalentID and (isNUll(TalentAccount_Status_ID,0)=4 or isNUll(TalentAccount_Status_ID,0)=2 or TalentAccount_Status_ID is null) )  
      Begin  
			print 'if 2'

			   if exists(select 1 from gen_ContactTalentPriority with(nolock) where TalentID = @UTS_TalentID and TalentStatusID_BasedOnHR != 4   )  
				Begin  
						print 'if 3'             
						 update gen_ContactTalentPriority set     
						 OtherRejectReason = @reason,      
						 TalentStatusID_BasedOnHR = 9      
						 where TalentID = @UTS_TalentID;  

				end        

				Update gen_Talent set   
				TalentAccount_Status_ID = 6,TalentStatusID_AfterClientSelection=6
				where ID=@UTS_TalentID; 

		

				select @UsrUserID=Id from usr_user with(nolock) where EmployeeID=@EmpID;
  
				INSERT INTO gen_TalentHistory (TalentID,TalentActionID,Name,EmailID,RoleID,ContactNumber,Status,CurrentEmploymentStatus_ID,Talent_TypeID,TalentAccount_Status_ID,TalentCategory,TalentTimeZone_ID,TalentStatusID_AfterClientSelection,Fees,FinalCost,IsTalent,AssociatedwithUplers_ID,Joining_ID,TotalExpYears,TypeofDeveloper,CreatedByID,CreatedByDatetime,HiringRequest_ID,RemarkORReason)  
           
				SELECT	@UTS_TalentID,20,Name,EmailID,RoleID,ContactNumber,Status,CurrentEmploymentStatus_ID,Talent_TypeID,TalentAccount_Status_ID,TalentCategory,TalentTimeZone_ID,TalentStatusID_AfterClientSelection,Fees,FinalCost,1,AssociatedwithUplers_ID,Joining_ID,TotalExpYears,TypeofDeveloper,isnull(@UsrUserID,0),GETDATE(),0,@reason
				FROM gen_Talent with(nolock)  
				WHERE ID = @UTS_TalentID ; 

				 select 'Success'  
      end  
     else  if exists(select 1 from gen_Talent with(nolock) where ATS_Talent_ID = @ATS_TalentID and ID=@UTS_TalentID and isNUll(TalentAccount_Status_ID,0)=6)
      Begin  

       select 'Talent already Deleted.'  

      End 
	  else  
	   Begin  
		 select 'Talent not found.'  
	   End   
    End  
   else  
   Begin  
     select 'Talent not found.'  
   End  
  end  
   
end   