

ALTER PROCEDURE [dbo].[Sproc_Get_Latest_ATS_HRStatus_Details_For_Notification]
AS 

BEGIN
	SELECT   ATH.ID,ATH.ATSHRStatusId as StatusID,ATH.CreatedByDateTime,ATH.createdByID
			 ,ATH.HRID,ATH.ATSHRStatusId--,ATH.Total_Talent
	FROM	 gen_ATS_HRStatus_Details ATH WITH(NOLOCK)
	ORDER BY ATH.ID DESC
END