USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_OnBoardDetailFor_C2H]    Script Date: 31-05-2024 20:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_OnBoardDetailFor_C2H]
  @OnBoardID				bigint = 0
AS
BEGIN

		SELECT   DPNRPercentage = CASE WHEN ISNULL(OBT.NRPercentage,0) > 0 Then OBT.Nrpercentage 
									   When ISNULL(OBT.Dppercentage,0) > 0 Then OBT.Dppercentage 
								 END,
				 IsConvertToHireApplicable = CAST(CASE WHEN ISNULL(OBT.NRPercentage,0) > 0 Then 1 
									   When ISNULL(OBT.Dppercentage,0) > 0 Then 0 
								 END as int),
				 Currency = Isnull(CTP.Talent_CurrencyCode,'')
		FROM	 gen_OnBoardTalents OBT WITH(NOLOCK)
				 inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.ContactID = OBT.ContactID and OBT.Talent_ID = CTP.TalentID 
				  and OBT.HiringRequest_ID = CTP.HiringRequestID
		WHERE    OBT.ID = @OnBoardID

END