USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Create_Prompt_For_Funding_Total]    Script Date: 05-06-2024 13:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Create_Prompt_For_Funding_Total]
  @CompanyID		bigint = 0
AS
BEGIN

		Declare @FundingAmounts Nvarchar(Max) = null
		Declare @Sql  Nvarchar(Max) = null

		select @FundingAmounts =  Stuff(
										(select ',' + Amount 
										 from   gen_Company_FundingDetails WITH(NOLOCK) 
										 Where  CompanyID = @CompanyID
										 FOR XML PATH('')),1,1,'')


		set @Sql = 'Your Job is To make a total of below Amounts and Return amount in USD Currency and Format of the Total Amount is in billion/million.
					Do not Give Internal Calulation Steps.And Also If data not available then output is 0.
					   Here is the amount : ' + @FundingAmounts

		Select @Sql as Prompt

END