USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Add_EMailIds_With_NonEnterprise_Lists_Clientportal]    Script Date: 16-02-2024 16:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Add_EMailIds_With_NonEnterprise_Lists_Clientportal]
 @EmailServer		 Nvarchar(50) = null
AS
BEGIN

		IF Not Exists(select 1 from gen_EMailIds_With_NonEnterprise_Lists WITH(NOLOCK) WHERE Lower(EmailID) = Lower(@EmailServer))
			 BEGIN
					Insert into gen_EMailIds_With_NonEnterprise_Lists
					Values(@EmailServer,GETDATE())
			 END
		

END