USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Add_ShortistedTalent_ForCreditFlow_ClientPortal]    Script Date: 16-02-2024 16:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Add_ShortistedTalent_ForCreditFlow_ClientPortal]
   @ATSTalentId			bigint = 0,
   @HrId				bigint = 0,
   @StatusID			bigint = 0,
   @GUID				Nvarchar(50) = null,
   @IsMyList			bit = 0,
   @IsUnLock			bit = 0,
   @ProfileCredit		decimal(18,2) = 0,
   @IsVetted			bit = 0
AS
BEGIN
		Declare @CreditOptionID as int = 0
		If @IsVetted = 1
			SET @CreditOptionID = 2
		ELse 
			SET @CreditOptionID = 3

		select @ProfileCredit = CreditUsed
		from   prg_CreditOption_ClientPortal WITH(NOLOCK)
		Where  ID = @CreditOptionID

		DECLARE @UTS_TalentID AS BIGINT = 0

		SELECT TOP 1 @UTS_TalentID = ID FROM gen_Talent WHERE ATS_Talent_ID = @ATSTalentId
		
		Insert into gen_CRCTP_ShortlistedTalents_ClientPortal(ATS_TalentID,HRID,GUID,StatusID,StatusChangeDateTime,IsVetted,ProfileCredit, UTSTalentID)
		Values(@ATSTalentId,@HrId,@GUID,1,Getdate(),@IsVetted,@ProfileCredit, @UTS_TalentID)	

		UPDATE gen_SalesHiringRequest SET LastActivityDate = GETDATE() WHERE ID = @HrId

		
		Select   IsMyList = cast(Isnull(IsMyList,0) as int),
				 IsUnLock = cast(Isnull(IsUnLock,0) as int),
				 StatusID = Isnull(StatusID,0),
				 AtsTalentId = ATS_TalentID,
				 ProfileCredit = Isnull(ProfileCredit,0),
				 GUID = ISNULL(@GUID,GUID)
		from     gen_CRCTP_ShortlistedTalents_ClientPortal With(Nolock) 
		where	 HRID = @HrId and ATS_TalentID = @ATSTalentId and GUID = @GUID
END