USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Client_openPositionDetail]    Script Date: 06-08-2024 15:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_Client_openPositionDetail]
    @Contact_ID				bigint = null,
	@AnotherCompanyTypeId		int = 0,
	@IsSoonExpiringJobs         bit = 0
AS
BEGIN

		--(rinku) 25-04-2023
				  Declare @CompanyID as bigint =0
				  Select @CompanyID = CompanyID from gen_Contact with(nolock) where ID = @Contact_ID


				  IF OBJECT_ID('tempdb..#HRTypeID') IS Not Null
					DROP TABLE #HRTypeID

					CREATE TABLE #HRTypeID
					(
						HRID		bigint,
						HRTypeID	int
					)

					IF Isnull(@AnotherCompanyTypeId,0) = 1 
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest H WITH(NOLOCK)
								WHERE   Isnull(HRTypeId,0) = 1 AND  exists  (Select ID from gen_Contact C WITH(NOLOCK) WHERE H.ContactID = C.ID AND C.CompanyID = @CompanyID )  
						END
					ELSE IF Isnull(@AnotherCompanyTypeId,0) = 2
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  HR.ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest HR WITH(NOLOCK)								
								WHERE   Isnull(HRTypeId,0) in (3,4,6)
										AND  exists  (Select ID from gen_Contact C WITH(NOLOCK) WHERE HR.ContactID = C.ID AND C.CompanyID = @CompanyID ) 
								--ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) 
								
								
						END
					ELSE
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest H WITH(NOLOCK)
								WHERE   exists  (Select ID from gen_Contact C WITH(NOLOCK) WHERE H.ContactID = C.ID AND C.CompanyID = @CompanyID ) 
								--ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID)
						END

						

				  select  ID,CompanyID, FullName
				  into    #AllContats
				  from    gen_Contact WITH(NOLOCK)
				  WHERE   CompanyID = @CompanyID

				  select CTP.ID,CTP.HiringRequestID,CTP.TalentID
				  into   #TempCTP
				  from   gen_ContactTalentPriority CTP WITH(NOLOCK)
						 inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = CTP.HiringRequestID 
						 inner join #HRTypeID HT ON HT.HRID = H.ID
				  where  CTP.TalentStatusID_BasedOnHR in (2,3)

        Declare @Frontend_HRType as nvarchar(50) =''
	    SET @Frontend_HRType = 'Credit Based Job'
		---------Fetch the must have skills------------------------
		set nocount on;
		declare @SkillsTable table ( SkillName nvarchar(500), HiringRequestID BIGINT, Proficiency nvarchar(500)) --Id BIGINT,

		INSERT INTO @SkillsTable
		SELECT  CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, SD.HiringRequest_ID,SD.Proficiency 
		FROM    gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
				INNER JOIN gen_SalesHiringRequest HR  WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
				Inner join #HRTypeID HT ON HT.HRID = HR.ID
				INNER JOIN gen_contact GC WITH(NOLOCK) ON  GC.ID = hr.ContactID
				LEFT JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
				LEFT JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID
		WHERE   
				--Proficiency = 'Strong' AND 
				GC.CompanyID = @CompanyID
		Group By SD.HiringRequest_ID,ISNULL(SD.Skill_ID, 0),PS.Skill,TS.TempSkill,SD.Proficiency

		set nocount off

		--SELECT * FROM @SkillsTable

		DECLARE @MustSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT INTO @MustSkillsTable
		SELECT
		t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID AND t2. Proficiency= 'Strong'
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS MustHaveSkills
		FROM @SkillsTable t1 where t1. Proficiency= 'Strong'
		GROUP BY t1.HiringRequestID,t1. Proficiency

		--SELECT * FROM @MustSkillsTable

		--DELETE FROM @SkillsTable

		--INSERT INTO @SkillsTable
		--SELECT  CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
		--		SD.HiringRequest_ID 
		--FROM 	gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
		--		INNER JOIN gen_SalesHiringRequest  HR  WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
		--		Inner join #HRTypeID HT ON HT.HRID = HR.ID
		--		INNER JOIN gen_contact GC WITH(NOLOCK) ON  GC.ID = hr.ContactID
		--		LEFT JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
		--		LEFT JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID
		--WHERE  	--HiringRequest_ID IN (SELECT ID FROM gen_SalesHiringRequest )	And 
		--		Proficiency = 'Basic' 
		--		AND GC.CompanyID = @CompanyID
		--Group By SD.HiringRequest_ID,ISNULL(SD.Skill_ID, 0),PS.Skill,TS.TempSkill
		--set nocount off


		DECLARE @GoodToSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT INTO @GoodToSkillsTable
		SELECT
		t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID AND t2. Proficiency= 'Basic'
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS GooToHaveSkills
		FROM @SkillsTable t1 WHERE t1. Proficiency= 'Basic'
		GROUP BY t1.HiringRequestID ,t1. Proficiency


		--SELECT * FROM @GoodToSkillsTable



		--If user role is for myjobs then only show the jobs posted by them.
		DECLARE @RoleID INT = 1	
		SELECT TOP 1 @RoleID = RoleID FROM LoggedInUserRole_ClientPortal(@Contact_ID)

		select MAx(ID) as ID,JCT.HRID
		Into   #MaxJobDeduct
		from   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) 
			   inner join #HRTypeID HT ON HT.HRID = JCT.HRID
		WHERE  ISNULL(JCT.CreditOptionID,0) in (0,1,4)
		GROUP BY JCT.HRID

		--SELECT * FROM #MaxJobDeduct

		-------------------------------------New Status Changes-----------------------------------
		CREATE TABLE #TempTable_HrStatus (
			HRID BIGINT,
			HR_Number VARCHAR(100),
			HRStatus  VARCHAR(100),
			HRStatusCode INT
		);
		INSERT INTO #TempTable_HrStatus(HRID, HR_Number, HRStatus, HRStatusCode)
		EXEC Sproc_UTS_Get_HRStatus @HRID = null, @CompanyID = @CompanyID
		-------------------------------------------------------------------------------
		IF(ISNULL(@RoleID,0) = 3)
		BEGIN
			SELECT  HiringRequest_ID = hrd.HiringRequest_ID,
					RequestForTalent = Isnull(hr.RequestForTalent,''),
					
					TalentRole = Isnull(hr.RequestForTalent,''),
					Discription = Isnull(hr.Discription,''),NoofEmployee = Isnull(hrd.NoofEmployee,0),
					Duration = CASE WHEN ISNULL(HRD.YearOfExp,0) = 0 THEN 'Freshers' ELSE
							  REPLACE( cast(hrd.YearOfExp as nvarchar(10)),'.00','') +  '+ years experience' 
							  END
					,Role_ID = Isnull(hrd.Role_ID,0),
					FrontIconImage = '',
					DurationType = Isnull(hrd.DurationType,'') +  case when isnull(SpecificMonth,0) > 0 then ' ('+ cast( isnull(SpecificMonth,0) AS nvarchar(50)) + ' Months)' else '' end 
				
					,Cost = CASE WHEN (SELECT CHARINDEX(' / month', ISNULL(hrd.Cost,''))) > 0 THEN ISNULL(hrd.Cost,'') ELSE ISNULL(hrd.Cost,'') END,
					JdfileName = hr.JDFilename,JDUrl = hr.JDURL,
					Availability = CASE WHEN Isnull(hr.PartialEngagementType_ID,0) <> 0 
							then CAST(Isnull(hr.NoofHoursworking,'') as nvarchar(20))+ ' ' + PET.PartialEngagementType  else Isnull(hr.Availability,'')
							end,						
					Timezone_Preference = isnull(CTZ.TimeZoneTitle,''), 
					HRJoining = isnull(HowSoon,''),
					HR_Number = Isnull(hr.HR_Number,''),
					
					IsShortListed =cast(Isnull((Select top 1 1
											from	#TempCTP T
											Where	T.HiringRequestID = hr.ID 													
											),0) AS INT)
					
					,HR_Status = Isnull(JSC.JobStatus,'')
					,TypeOfHR = case when isnull(hr.HRTypeId,0)= 4 then @Frontend_HRType else Case when Hr.IsHRTypeDP = 1 then 'Direct Placement' else 'Contractual' end end,
					PostedBy = Isnull(C.FullName,''),
					PostedById = Isnull(AC.ID,0),
					MST.SkillName AS 'MustHaveSkills',
					GST.SkillName AS 'GoodToHaveSkills',
					HR_GUID = ISNULL(hr.GUID,''),
					JobStatusId = ISNULL(hr.JobStatusID,1),
					CreditUsed = (
									select  CreditUsed from
									(Select	cast(SUM(ISNULL(JT.CreditUsed,CC.CreditUsed)) as int) CreditUsed,JT.HRID
									from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
											inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
									WHERE	HRID = hr.ID AND CC.ID IN (1,4)
									Group by JT.HRID ) Q
								 ),
					ShortlistedTalentCount = (SELECT COUNT(1) FROM gen_ContactTalentPriority CTP WHERE CTP.HiringRequestID = Hr.ID ),
					ModeOfWork = CASE WHEN ISNULL(DP.ModeOfWork,'') = '' OR ISNULL(DP.ModeOfWork,'') = 'Remote' THEN Isnull(DP.ModeOfWork,'Remote') ELSE Isnull(DP.ModeOfWork,'') + ' - ' + Isnull(DP.JobLocation,'') END,  
					--EmployementType = HR.Availability + CASE WHEN ISNULL(HRD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
					--									ELSE IIF(hrd.SpecificMonth > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', '') END,

					EmployementType = CASE WHEN HR.JobTypeID = 1 THEN 'Full time permanent position' 
										   WHEN HR.JobTypeID = 2 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
										   WHEN HR.JobTypeID = 3 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
										   WHEN HR.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
									  ELSE HR.Availability + CASE WHEN ISNULL(HRD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
													ELSE IIF(hrd.SpecificMonth > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END

					,FromToTime = HRD.TimeZone_FromTime + ' to ' + HRD.TimeZone_EndTime,
				
					HRTypeID = ISNULL(hr.HrTypeId,0),
					CompanyTypeID = ISNULL(PRT.CompanyTypeId,0),
					HRExpiryDate = CONVERT(varchar,hr.JobExpiryDate, 6),
					ExpiryDays = CAST(CASE WHEN DateDIff(d, CAST(GETDATE() as DATE), CAST(hr.JobExpiryDate as DAte)) < = 0
								 THEN NULL ELSE DateDIff(d, CAST(GETDATE() as DATE), CAST(hr.JobExpiryDate as DAte)) END AS NVARCHAR(500)),
					
					ExpiryColor = CASE WHEN DateDIff(d, CAST(GETDATE() as DATE), CAST(hr.JobExpiryDate as DAte)) <= 5 
										Then '#FF0000'
										Else '#676767' END,
					CreditBalanceInfo = '',
					LastModifiedText = CASE WHEN ISNULL(hr.ClientJobModifyByID,0) <> 0 
										THEN 'Job post last modified by ' + Isnull(AC.FullName,'')  +' on ' + CONVERT(varchar, hr.ClientJobModifyByDatetime , 107) 
										ELSE '' END,
					HRCreatedDate = IIF(ISNULL(JCT.IsReposted,0) = 1, CONVERT(VARCHAR, ISNULL(JCT.JobRepostedDate,JCT.CreatedByDateTime), 107) ,CONVERT(varchar,hr.CreatedByDatetime,107)),
					IsReposted = JCT.IsReposted,
					ScreeningQuestionsGenerated = ISNULL(hrd.ScreeningQuestionsGenerated, 0),
					IsHRPaused = CAST(CASE WHEN HR.Status_ID = 7 THEN 1 ELSE 0 END AS BIT),
					HRStatus = ISNULL(TS.HRStatus, JSC.JobStatus),
					HRStatusCode = ISNULL(TS.HRStatusCode, 201),
					IsScreeningQuestionOptional = ISNULL(hrd.IsScreeningQuestionOptional,0)
					
			FROM	gen_SalesHiringRequest hr WITH(NOLOCK)
					inner join gen_SalesHiringRequest_Details hrd WITH(NOLOCK) on hr.ID = hrd.HiringRequest_ID
				
					Inner join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = HR.JobStatusID
					INNER JOIN gen_Contact C WITH(NOLOCK) ON C.ID = hr.ContactID
					inner join #AllContats AC ON AC.ID = ISNULL(hr.ClientJobModifyByID,hr.ContactID)					
					Inner join #HRTypeID HT ON HT.HRID = HR.ID
					INNER JOIN #TempTable_HrStatus TS WITH(NOLOCK) ON TS.HRID = HR.ID -- New status changes
					LEFT JOIN prg_ContactTimeZone CTZ ON CTZ.ID = hrd.Timezone_ID					
					left join #MaxJobDeduct MJD WITH(NOLOCK) ON MJD.HRID = HR.ID
					left join gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) ON JCT.ID = MJD.ID
					LEFT JOIN @MustSkillsTable MST ON MST.HiringRequestID = hr.ID
					LEFT JOIN @GoodToSkillsTable GST ON GST.HiringRequestID = hr.ID					
					left join prg_PartialEngagementType PET WITH(NOLOCK) ON PET.ID = hr.PartialEngagementType_ID
					LEFT JOIN gen_Direct_Placement DP ON DP.HiringRequest_Id = HR.ID
					LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = hr.HrTypeId
			 where	
					isnull(hr.IsActive,0) = 1 
					and AC.CompanyID = @CompanyID 
					AND ISNULL(hr.JobStatusID,1)  <> 2 --IN (1, 4, 5) --- Jobs with Active, open, Reopen
					
					AND hr.ContactID = @Contact_ID	
					AND (@IsSoonExpiringJobs = 0 OR ( @IsSoonExpiringJobs = 1  AND DateDIff(d, CAST(GETDATE() as DATE), CAST(hr.JobExpiryDate as DAte)) <= 5))
		order by Hr.LastActivityDate DESC , ISNULL(HR.LastModifiedDatetime, HR.CreatedByDatetime) DESC
		
		END	
		ELSE
		BEGIN
		print 'else'
			SELECT  HiringRequest_ID = hrd.HiringRequest_ID,
					RequestForTalent = Isnull(hr.RequestForTalent,''),
					
					TalentRole = Isnull(hr.RequestForTalent,''),
					Discription = Isnull(hr.Discription,''),NoofEmployee = Isnull(hrd.NoofEmployee,0),
					Duration = CASE WHEN ISNULL(HRD.YearOfExp,0) = 0 THEN 'Freshers' ELSE
							  REPLACE( cast(hrd.YearOfExp as nvarchar(10)),'.00','') +  '+ years experience' 
							  END
					,Role_ID = Isnull(hrd.Role_ID,0),
					FrontIconImage = '',
					DurationType = Isnull(hrd.DurationType,'') +  case when isnull(SpecificMonth,0) > 0 then ' ('+ cast( isnull(SpecificMonth,0) AS nvarchar(50)) + ' Months)' else '' end 
					
					,Cost = CASE WHEN (SELECT CHARINDEX(' / month', ISNULL(hrd.Cost,''))) > 0 THEN ISNULL(hrd.Cost,'') ELSE ISNULL(hrd.Cost,'') END,
					JdfileName = hr.JDFilename,JDUrl = hr.JDURL,
					Availability = CASE WHEN Isnull(hr.PartialEngagementType_ID,0) <> 0 
							then CAST(Isnull(hr.NoofHoursworking,'') as nvarchar(20))+ ' ' + PET.PartialEngagementType  else Isnull(hr.Availability,'')
							end,						
					Timezone_Preference = isnull(CTZ.TimeZoneTitle,''), 
					HRJoining = isnull(HowSoon,''),
					HR_Number = Isnull(hr.HR_Number,''),
				
					IsShortListed =cast(Isnull((Select top 1 1
											from	#TempCTP T
											Where	T.HiringRequestID = hr.ID 													
											),0) AS INT)
					
					,HR_Status = Isnull(JSC.JobStatus,'')
					,TypeOfHR = case when isnull(hr.HRTypeId,0)= 4 then @Frontend_HRType else Case when Hr.IsHRTypeDP = 1 then 'Direct Placement' else 'Contractual' end end,
					PostedBy = Isnull(C.FullName,''),
					PostedById = Isnull(AC.ID,0),
					MST.SkillName AS 'MustHaveSkills',
						GST.SkillName AS 'GoodToHaveSkills',
					HR_GUID = ISNULL(hr.GUID,''),
					JobStatusId = ISNULL(hr.JobStatusID,1),
					CreditUsed = (
									select  CreditUsed from
									(Select	cast(SUM(ISNULL(JT.CreditUsed,CC.CreditUsed)) as int) CreditUsed,JT.HRID
									from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
											inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
									WHERE	HRID = hr.ID AND CC.ID IN (1,4)
									Group by JT.HRID ) Q
								 ),
					
					ShortlistedTalentCount = (SELECT COUNT(1) FROM gen_ContactTalentPriority CTP WHERE CTP.HiringRequestID = Hr.ID ),
					ModeOfWork = CASE WHEN ISNULL(DP.ModeOfWork,'') = '' OR ISNULL(DP.ModeOfWork,'') = 'Remote' THEN Isnull(DP.ModeOfWork,'Remote') ELSE Isnull(DP.ModeOfWork,'') + ' - ' + Isnull(DP.JobLocation,'') END,  
					
					EmployementType = CASE WHEN HR.JobTypeID = 1 THEN 'Full time permanent position' 
										   WHEN HR.JobTypeID = 2 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR)+ ' months') + ' - Contract'
										   WHEN HR.JobTypeID = 3 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR)+ ' months') + ' - Part time position'
										   WHEN HR.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
									  ELSE HR.Availability + CASE WHEN ISNULL(HRD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
														ELSE IIF(hrd.SpecificMonth > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END,

					FromToTime = HRD.TimeZone_FromTime + ' to ' + HRD.TimeZone_EndTime,
					--GST.SkillName AS 'GoodToHaveSkills',
					HRTypeID = ISNULL(hr.HrTypeId,0),
					CompanyTypeID = ISNULL(PRT.CompanyTypeId,0),
					HRExpiryDate = CONVERT(varchar,hr.JobExpiryDate, 6),
					ExpiryDays = CAST(CASE WHEN DateDIff(d, CAST(GETDATE() as DATE), CAST(hr.JobExpiryDate as DAte)) < = 0
								 THEN NULL ELSE DateDIff(d, CAST(GETDATE() as DATE), CAST(hr.JobExpiryDate as DAte)) END AS NVARCHAR(500)),
					ExpiryColor = CASE WHEN DateDIff(d, CAST(GETDATE() as DATE), CAST(hr.JobExpiryDate as DAte)) <= 5 
										Then '#FF0000'
										Else '#676767' END,
					CreditBalanceInfo = '',
					LastModifiedText = CASE WHEN ISNULL(hr.ClientJobModifyByID,0) <> 0 
										THEN 'Job post last modified by ' + Isnull(AC.FullName,'')  +' on ' + CONVERT(varchar, hr.ClientJobModifyByDatetime , 107) 
										ELSE '' END,
					HRCreatedDate = IIF(ISNULL(JCT.IsReposted,0) = 1, CONVERT(VARCHAR, ISNULL(JCT.JobRepostedDate,JCT.CreatedByDateTime), 107) ,CONVERT(varchar,hr.CreatedByDatetime,107)),
					IsReposted = JCT.IsReposted,
					ScreeningQuestionsGenerated = ISNULL(hrd.ScreeningQuestionsGenerated, 0),
					IsHRPaused = CAST(CASE WHEN HR.Status_ID = 7 THEN 1 ELSE 0 END AS BIT),
					HRStatus = ISNULL(TS.HRStatus, JSC.JobStatus),
					HRStatusCode = ISNULL(TS.HRStatusCode, 201),
					IsScreeningQuestionOptional = ISNULL(hrd.IsScreeningQuestionOptional,0)
					
			FROM	gen_SalesHiringRequest hr WITH(NOLOCK)
					inner join gen_SalesHiringRequest_Details hrd WITH(NOLOCK) on hr.ID = hrd.HiringRequest_ID
				
					Inner join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = HR.JobStatusID
					INNER JOIN gen_Contact C WITH(NOLOCK) ON C.ID = hr.ContactID
					inner join #AllContats AC ON AC.ID = ISNULL(hr.ClientJobModifyByID,hr.ContactID)									
					Inner join #HRTypeID HT ON HT.HRID = HR.ID
					INNER JOIN #TempTable_HrStatus TS WITH(NOLOCK) ON TS.HRID = HR.ID -- New status changes
					LEFT JOIN prg_ContactTimeZone CTZ ON CTZ.ID = hrd.Timezone_ID			
					left join #MaxJobDeduct MJD WITH(NOLOCK) ON MJD.HRID = HR.ID
					left join gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) ON JCT.ID = MJD.ID
					LEFT JOIN @MustSkillsTable MST ON MST.HiringRequestID = hr.ID
					LEFT JOIN @GoodToSkillsTable GST ON GST.HiringRequestID = hr.ID
					left join prg_PartialEngagementType PET WITH(NOLOCK) ON PET.ID = hr.PartialEngagementType_ID
					LEFT JOIN gen_Direct_Placement DP ON DP.HiringRequest_Id = HR.ID
					LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = hr.HrTypeId
			 where	
					isnull(hr.IsActive,0) = 1 and AC.CompanyID =@CompanyID 
					AND ISNULL(hr.JobStatusID,1) <> 2 --IN (1, 4, 5) --- Jobs with Active, open, Reopen
					
					AND (@IsSoonExpiringJobs = 0 OR ( @IsSoonExpiringJobs = 1  AND DateDIff(d, CAST(GETDATE() as DATE), CAST(hr.JobExpiryDate as DAte)) <= 5))
					
		  
		order by Hr.LastActivityDate DESC , ISNULL(HR.LastModifiedDatetime, HR.CreatedByDatetime) DESC
		END

		 DROP TABLE #MaxJobDeduct
		DROP TABLE #HRTypeID
		DROP TABLE #TempCTP
		DROP TABLE #TempTable_HrStatus
END
