USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_UTS_GetDealCompanydetails]    Script Date: 13-07-2023 11:49:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_UTS_GetDealCompanydetails] @DealID   bigint = nullASBEGINselect 		ISNULL(GC.Website,'') as URL		,ISNULL(GD.DealStage,'') as Stage		,ISNULL(GD.Deal_Owner,'') as DealOwner		,ISNULL(GD.DealType,'') as DealType
		,ISNULL(
			STUFF(
				(select ','+ ISNULL(U.FullName, ',') from gen_ContactPointofContact C
				 inner join usr_User U ON U.Id = C.User_ID
				 where C.ContactID = GCC.ID
				 FOR XML PATH ('')				 ), 1, 1, ''),'')  AS POC		--,ISNULL(G.GEO,'') as Location,		,ISNULL(GC.CompanySize,0) as Size		,ISNULL(GC.Address,'') as Address		,ISNULL(GCC.linkedin,'') as linkedin 		,ISNULL(GC.Phone,0) as Phone		,ISNULL(GC.Lead_Type,'') as LeadSOurce		,ISNULL(G.GEO,'') as Location		,ISNULL(GC.company,'') as Company		,ISNULL(GC.CompanyLogo,'clientDefaultImage.png') as Companylogo		,ISNULL(GC.ID,0) as CompanyIdfrom gen_Deals GD WITH(NOLOCK)     inner join gen_HubSpotContact HC with(Nolock) ON HC.ContactID = GD.clientID 	inner join gen_HubSpotCompany HCC WITH(NOLOCK) ON HCC.Companyid = HC.CompanyID	inner join gen_Company GC WITH(NOLOCK) ON GC.Hubspot_company = HCC.Companyid	inner join gen_Contact GCC WITH(NOLOCK) ON GCC.Companyid = GC.ID and GD.clientID = GCC.HubSpot_ContactID	left join prg_GEO G WITH(NOLOCK) ON G.ID = GC.GEO_ID		left join gen_ContactPointofContact poc WITH(NOLOCK) ON poc.ContactID = GCC.ID	left join usr_user U with(nolock) on u.ID = poc.User_ID	left join Usr_User u1 with(NOlock) ON U1.Id = Isnull(GD.Deal_Owner,U1.Id)where GD.Dealid = @DealID
END