ALTER PROCEDURE [dbo].[Sproc_RegisterClient_ClientPortal]
	@FullName			nvarchar(500)	=  NULL, 
	@WorkEmail			nvarchar(250)	=  NULL, 
	@CompanyName		nvarchar(250)	=  NULL, 
	@Password			nvarchar(250)	=  NULL, 	
	@ClientIPAddress	 nvarchar(50)	=  NULL,
	@OTP				NVARCHAR(20)	=  NULL,
	@FirstName			NVARCHAR(250)	=  NULL,
	@LastName			NVARCHAR(250)	=  NULL,
	@FreeCredit			int = 0,
	@CompanyTypeID		int = 1,  --1 =  Pay Per Hire  2 = Pay Per Credit System 
	@LoggedInUserID		bigint = 0,
	@CookieID			bigint = 0,
	@CompanyURL			NVARCHAR(250)	=  NULL,
	@CompanySize		int = NULL,
	@CompanyIndustryType NVARCHAR(MAX) = NULL,
	@BriefAboutCompany   NVARCHAR(MAX) = NULL,
	@Country			Nvarchar(100) = null,
	@State				Nvarchar(100) = null,
	@City				Nvarchar(100) = null,
	@Browser			Nvarchar(MAX) = null,
	@Device				Nvarchar(100) = null,
	@ContactNumber		NVARCHAR(200) = NULL,
	@IsPostaJob			bit   = 0,
	@IsProfileView		bit = 0,
	@AnotherCompanyTypeID int = 0,
	@CompanyLogo		NVARCHAR(200) = NULL,
	@Culture			Nvarchar(MAx) = null,
	@FoundedYear		Nvarchar(5) = null,
	@CompanyType		Nvarchar(200) = null,
	@Headquaters		Nvarchar(100) = null,
	@CompanySize_RangeorAdhoc  Nvarchar(500) = null
AS
BEGIN	

		DECLARE  @CompanyId BIGINT = NULL, @ContactID BIGINT = NULL;
		Declare  @DCSalesEmpID as Nvarchar(20) = null
		Declare  @DCSalesUserID as bigint = 0
		Declare  @DCUserDescription as Nvarchar(Max) = ''	
		
		
		IF Isnull(@FirstName,'') <> '' and @FirstName <> ''
			SET @FirstName = UPPER(LEFT(@FirstName, 1)) + LOWER(RIGHT(@FirstName, LEN(@FirstName) - 1))
		IF Isnull(@LastName,'') <> '' and @LastName <> ''
			SET @LastName = UPPER(LEFT(@LastName, 1)) + LOWER(RIGHT(@LastName, LEN(@LastName) - 1))
		
		IF Isnull(@FirstName,'') <> '' and @FirstName <> '' and Isnull(@LastName,'') <> '' and @LastName <> ''
			SET @FullName =  case when Isnull(@FirstName,'') <> ''  then Isnull(@FirstName,'') + ' ' + Isnull(@LastName,'') else Isnull(@LastName,'')  end
		ELSE
			SET @FullName = UPPER(LEFT(@FullName, 1)) + LOWER(RIGHT(@FullName, LEN(@FullName) - 1))

		SET @CompanyName = LTRIM(RTRIM(@CompanyName))

		--- Below code commented by Riya so that there will be no default POC for self-signup users UTS-7947

		----Jimit 14-06-24    Default POC is Ayush NBD as Per 7505 
		--select @DCSalesEmpID = [Value] from gen_SystemConfiguration with(Nolock) where [Key] = 'ClientFrontEndPayPerHRPOC' 
		--Select @DCSalesUserID = ID,@DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID



		IF NOT Exists(Select 1 from [dbo].[gen_Company]  with(Nolock) 
						WHERE LOWER(Company) = LOWER(@CompanyName))
			BEGIN		
					INSERT INTO gen_Company
					(
						Company,
						CreatedByDatetime,
						IsFromSignUp,
						IsActive,
						Client_StatusID,
						CompanyTypeID,
						Website,
						CompanySize,
						industry,
						Industry_Type,
						about_Company_desc,
						IsPostaJob,
						IsProfileView,
						AnotherCompanyTypeID,
						CompanyLogo,
						IsTransparentPricing,
						CompanySize_RangeorAdhoc,
						NBD_SalesPersonID,
						AppActionDoneBy
					)
					VALUES
					(
						@CompanyName,
						GETDATE(),
						1,
						1,
						2,
						@CompanyTypeID,
						@CompanyURL,
						@CompanySize,
						@CompanyIndustryType,
						@CompanyIndustryType,
						@BriefAboutCompany,
						@IsPostaJob,
						@IsProfileView,
						@AnotherCompanyTypeID,
						@CompanyLogo,
						1,
						@CompanySize_RangeorAdhoc,
						@DCSalesUserID,
						4 --Client portal
					)

				   SET @CompanyId = SCOPE_IDENTITY();
			END
		ELSE 
			BEGIN				
						SET @CompanyId = (Select TOP 1 ID from [dbo].[gen_Company] with(Nolock) 
						WHERE LOWER(Company) = LOWER(@CompanyName))

						UPDATE dbo.gen_Company SET 
						CompanyTypeID = @CompanyTypeID,
						Client_StatusID = 2,
						Website = @CompanyURL,
						CompanySize = @CompanySize,
						industry = @CompanyIndustryType,
						Industry_Type = @CompanyIndustryType,
						about_Company_desc = case when Isnull(about_Company_desc,'') = '' then @BriefAboutCompany else about_Company_desc end,
						IsPostaJob = @IsPostaJob,
						IsProfileView = @IsProfileView,
						AnotherCompanyTypeID = @AnotherCompanyTypeID,
						CompanyLogo = @CompanyLogo,
						IsTransparentPricing = 1,
						IsActive = 1,
						CompanySize_RangeorAdhoc = @CompanySize_RangeorAdhoc
						WHERE ID = @CompanyId
			END

		IF NOT Exists(Select 1 from [dbo].gen_Contact  with(Nolock) 
								WHERE LOWER(EmailID) = LOWER(@WorkEmail))
		BEGIN
				INSERT INTO gen_Contact
				(
					CompanyID,
					Username,
					Password,
					FullName,
					FirstName,
					LastName,
					EmailID,
					CreatedByDatetime,
					IsActive,
					IsResetPassword,
					OTP,
					OTP_CreatedDate,
					OTP_ExpiredDate,
					OTP_IsActive,
					IsFromSignUp,
					IsPrimary,
					IsClientNotificationSend,
					ContactNo,
					RoleID
				)
				VALUES
				(
					@CompanyId,
					@WorkEmail,
					@Password,
					@FullName,
					@FirstName,
					@LastName,
					@WorkEmail,
					GETDATE(),
					1,
					1,
					@OTP,
					GETDATE(),
					DATEADD(mi,15,GETDATE()),
					1,
					1,
					1,
					1,
					@ContactNumber,
					1
				)

				SET @ContactID = SCOPE_IDENTITY();

		END
		ELSE
		BEGIN
			UPDATE dbo.gen_Contact SET 
			CompanyID = @CompanyId,
			Password = @Password,
			FullName = @FullName,
			FirstName = @FirstName,
			LastName = @LastName,
			IsActive = 1,
			IsResetPassword = 1,
			OTP = @OTP,
			OTP_CreatedDate = GETDATE(),
			OTP_ExpiredDate = DATEADD(mi,15,GETDATE()),
			OTP_IsActive = 1,
			IsFromSignUp = 1,
			IsPrimary = 1,
			ContactNo = @ContactNumber
			WHERE EmailID = @WorkEmail

			Select TOP 1 @ContactID = ID FROM [dbo].gen_Contact  with(Nolock) 
								WHERE LOWER(EmailID) = LOWER(@WorkEmail)

		END

		--Added Company Details Jimit 10-05-24 
		IF NOT EXISTS(Select 1 from gen_Company_Details WIth(Nolock) Where CompanyId = @CompanyId)
			BEGIN
					Insert into gen_Company_Details(CompanyId,Culture,Foundedyear,CompanyType,Headquaters,CreatedById,CreatedDateTime)
					Values(@CompanyId,@Culture,@FoundedYear,@CompanyType,@Headquaters,@ContactID,Getdate())
			END
			
		

		

		SELECT @ContactID AS ContactID

		----- Add into gen_JobPost_Subscription_History_ClientPortal  Jimit 18-10-2023 , Modify by Payal 26-02-2023
		IF @FreeCredit > 0 
			BEGIN
					
					exec sproc_FreeCreditUpdate @CompanyID = @CompanyID,@FreeCredit = @FreeCredit,@ContactID = @ContactID, @CreatedByID = @LoggedInUserID
			END

		
		
		

		--Added By Jimit 2012203 to Update Max Ids Final sign Up flag in Tracking Lead Table
		Select   MAX(ID) ID,CookieID
		into     #TrackingLeadID
		FROm     gen_TrackingLead_ClientPortal WITH(NOLOCK)
		WHERE    CookieID = @CookieID
		GROUP BY CookieID


		UPDATE  TL				
		SET		TL.ContactID = @ContactID,
				TL.IsFinalSignUP = 1,
				TL.Country = Isnull(@Country,Isnull(TL.Country,'')),
				TL.State = Isnull(@State,Isnull(TL.State,'')),
				TL.City = Isnull(@City,Isnull(TL.City,'')),
				TL.Browser = Isnull(@Browser,Isnull(TL.Browser,'')),
				TL.Device = Isnull(@Device,Isnull(TL.Device,'')),
				TL.IP_Address = Isnull(@ClientIPAddress,Isnull(TL.IP_Address,''))
		FROM    gen_TrackingLead_ClientPortal TL
				inner join #TrackingLeadID T ON T.ID = TL.ID
		WHERE   TL.CookieID = @CookieID

		UPDATE gen_Clientenquiry_Data
		SET CompanyID = @CompanyId
		WHERE ClientEmail = @WorkEmail

		UPDATE gen_EMailIds_With_NonEnterprise_Lists
		SET CompanyID = @CompanyId
		WHERE EmailId = @WorkEmail

		DROP TABLE #TrackingLeadID
		-- Ended

		Declare @Location NVARCHAR(MAX) = '';
		IF (ISNULL(@City,'') <> '' and ISNULL(@State,'') <> '' and ISNULL(@Country,'') <> '')
		BEGIN
			SET @Location = @City + ', ' + @State + ', ' + @Country
		END

	
	--Insert history
      EXEC SPROC_Gen_Company_History @CompanyID = @CompanyId, @AppActionDoneBy = 4

END