USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_Get_HiringRequest_SLADetails]    Script Date: 06-03-2024 18:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
--EXEC sproc_Get_HiringRequest_SLADetails 23161

ALTER PROCEDURE  [dbo].[sproc_Get_HiringRequest_SLADetails]
	
	@HrId BIGINT = 0

AS 

BEGIN

		IF ISNULL(@HrId, 0) = 0
			RETURN

		--IF NOT EXISTS(SELECT 1 FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HrId AND GUID IS NOT NULL)
		--	RETURN

		IF OBJECT_ID('tempdb..#SLADate') is not null
			DROP TABLE #SLADate

		CREATE TABLE #SLADate (SLADATE Nvarchar(20),HRID bigint,ProfileShareDate datetime,SLAStatus Nvarchar(20))

		
		INSERT INTO   #SLADate(SLADATE,HRID,ProfileShareDate,SLAStatus)
		SELECT  Convert(nvarchar(15),H.SLA_DueDate,103) as SLADate,H.HiringRequest_ID,H.CreatedByDatetime,
			    case when (select SLA_DueDate from gen_History H1 WITH(NOLOCK) where H1.HiringRequest_ID = @HrId and H1.Action_ID = 4) > H.CreatedByDatetime then 'ON Time' else 'Delay' end
		FROM    gen_History H WITH(NOLOCK)
		WHERE   H.HiringRequest_ID = @HrId and H.Action_ID = 89
			 
		IF NOT EXISTS(select 1 from #SLADate)
			BEGIN
					INSERT INTO #SLADate(SLADATE,HRID,ProfileShareDate,SLAStatus)
					select 
					Top 1	Convert(nvarchar(15),dbo.Excluding_WeekDays(H.CreatedByDatetime,5),103) as SLADate,H.HiringRequest_ID,H.CreatedByDatetime,
							case when dbo.Excluding_WeekDays(H.CreatedByDatetime,5) > H.CreatedByDatetime then 'ON Time' else 'Delay' end
					from	gen_History H WITH(NOLOCK)
					where	H.HiringRequest_ID = @HrId and H.Action_ID = 4
					Order by	H.ID asc
			END


		IF OBJECT_ID('tempdb..#UTS_HR_SLAData') is not null
			DROP TABLE #UTS_HR_SLAData

		CREATE TABLE #UTS_HR_SLAData
		(
			RowNo						INT Identity(1,1),
			HrID						BIGINT,
			JobTitle					Nvarchar(100),
			RequiredTalents				INT DEFAULT 0,
			StageID						INT,
			StageName					NVARCHAR(100),
			NoOfTalents					INT DEFAULT 0,
			SLADate						NVarchar(15),
			SLAStatus					NVarchar(15),
			CompletedStage				Nvarchar(100) default '',     -- Completed Stage Details
			CompletedStageID			int  default 0,				  -- Completed Stage ID Details
			--SLADateStatus				Nvarchar(50)
		)

		INSERT INTO #UTS_HR_SLAData (StageID, HrID, StageName)
			VALUES	(1,  @HrId, 'Debriefing job'),
					(2,  @HrId, 'Job published to talents'),
					(3,  @HrId, 'Applications'),
					(4,  @HrId, 'Screening'),
					(5,  @HrId, 'Vetting'),
					(6,  @HrId, 'Matcher Interviews'),
					(7,  @HrId, 'Share Shortlisted Profile with Clients'),
					(8,  @HrId, 'Interviews'),
					(9,  @HrId, 'Hired'),
					(10, @HrId, 'Onboarding')

		UPDATE S
			SET  S.JobTitle = Isnull(H.RequestForTalent,''),
				 S.RequiredTalents = ISnull(H.NoofTalents,0)				 
		FROM #UTS_HR_SLAData S
		INNER JOIN gen_SalesHiringRequest H WITH(NOLOCK) ON S.HrID = H.ID 


		---------------Debriefing job-------------START-----------
		BEGIN			 
			UPDATE H
				SET H.NoOfTalents = 0
					,H.SLADate = Convert(nvarchar(15),H1.SLA_DueDate,103)
			FROM #UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			INNER JOIN gen_History H1 WITH(NOLOCK) ON H.HrID = H1.HiringRequest_ID
			WHERE HSD.ATSHRStatusId = 1 --AND H1.Action_ID = 4
		END
		---------------Debriefing job-------------End-----------
		
		---------------Job published to talents-------------START-----------
		BEGIN
			UPDATE H
				SET H.NoOfTalents = 0
					,H.SLADate = Convert(nvarchar(15),DATEADD(Hour,12,HSD.Published_Datetime),103)
			FROM #UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			WHERE HSD.ATSHRStatusId = 2
		END
		---------------Job published to talents-------------End-----------
		
		---------------Applications-------------START-----------
		BEGIN
			UPDATE  H
			SET     H.NoOfTalents = Isnull(HSD.Total_Talent, 0)
			FROM	#UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			WHERE HSD.ATSHRStatusId = 3
		END
		---------------Applications-------------End-----------
		
		---------------Screening-------------START-----------
		BEGIN
			UPDATE  H
			SET     H.NoOfTalents = Isnull(HSD.Total_Talent, 0)
			FROM	#UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			WHERE HSD.ATSHRStatusId = 4
		END
		---------------Screening-------------End-----------
		
		---------------Vetting-------------START-----------
		BEGIN
			UPDATE  H
			SET     H.NoOfTalents = Isnull(HSD.Total_Talent, 0)
			FROM	#UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			WHERE HSD.ATSHRStatusId = 5
		END
		---------------Vetting-------------End-----------

		---------------Matcher Interviews-------------START-----------
		BEGIN
			UPDATE  H
			SET     H.NoOfTalents = Isnull(HSD.Total_Talent, 0)
			FROM	#UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			WHERE  HSD.ATSHRStatusId = 6
		END
		---------------Matcher Interviews-------------End-----------
		
		---------------Share Shortlisted Profile with Clients-------------START-----------
		BEGIN
			UPDATE  H
			SET     H.NoOfTalents = Isnull(HSD.Total_Talent, 0),
					H.SLADate = Convert(nvarchar(15),S.SLADATE,103),
					H.SLAStatus = ISNULL(S.SLAStatus, '')
			FROM	#UTS_HR_SLAData H
					INNER JOIN #SLADate S ON H.HrID = S.HRID
					LEft JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID			
			--INNER JOIN gen_History H1 WITH(NOLOCK) ON H.HrID = H1.HiringRequest_ID
			WHERE H.StageID = 7 --AND H1.Action_ID = 18
		END
		---------------Share Shortlisted Profile with Clients-------------End-----------

		---------------Interviews-------------START-----------
		BEGIN
			UPDATE  H
			SET     H.NoOfTalents = Isnull(HSD.Total_Talent, 0),
					H.SLADate = Convert(nvarchar(15),H1.SLA_DueDate,103)					
			FROM	#UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			INNER JOIN gen_History H1 WITH(NOLOCK) ON H.HrID = H1.HiringRequest_ID
			WHERE HSD.ATSHRStatusId = 8 --AND H1.Action_ID = 11
		END
		---------------Interviews-------------End-----------

		---------------Hired-------------START-----------
		BEGIN
			UPDATE  H
			SET     H.NoOfTalents = Isnull(HSD.Total_Talent, 0),
					H.SLADate = Convert(nvarchar(15),H1.SLA_DueDate,103)	
			FROM	#UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			INNER JOIN gen_History H1 WITH(NOLOCK) ON H.HrID = H1.HiringRequest_ID
			WHERE HSD.ATSHRStatusId = 9 --AND H1.Action_ID = 12
		END
		---------------Hired-------------End-----------
		
		---------------Onboarding-------------START-----------
		BEGIN
			UPDATE  H
			SET     H.NoOfTalents = Isnull(HSD.Total_Talent, 0),
					H.SLADate = Convert(nvarchar(15),H1.SLA_DueDate,103)
			FROM	#UTS_HR_SLAData H
			INNER JOIN gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON H.HrID = HSD.HRID AND HSD.ATSHRStatusId = H.StageID
			INNER JOIN gen_History H1 WITH(NOLOCK) ON H.HrID = H1.HiringRequest_ID
			WHERE HSD.ATSHRStatusId = 10 --AND H1.Action_ID = 35
		END
		---------------Onboarding-------------End-----------
		  
		UPDATE  H
		SET     H.CompletedStage = Isnull(AHS.DisplayName,''),
				H.CompletedStageID = ISNULL(X.ATSHRStatusId,0)
		FROM	#UTS_HR_SLAData H
				inner join
				(
					select  Max(HSD.ATSHRStatusId) ATSHRStatusId,HSD.HRID
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK)
							inner join prg_ATSHRStatus AHS WITH(NOLOCK) ON AHS.Id = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HrId --and Total_Talent <> 0 and HSD.ATSHRStatusId not in (1,2)
							and HSD.ATSHRStatusId <= (select  Max(HSD.ATSHRStatusId)
													from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK)
															inner join prg_ATSHRStatus AHS WITH(NOLOCK) ON AHS.Id = HSD.ATSHRStatusId
													WHERE   HSD.HRID = @HrId --and Total_Talent <> 0 and HSD.ATSHRStatusId not in (1,2)
													)
					GRoup By HSD.HRID
				)X ON X.HRID = H.HRID	
				inner join prg_ATSHRStatus AHS WITH(NOLOCK) ON AHS.Id = X.ATSHRStatusId



		SELECT * FROM #UTS_HR_SLAData
		DROP TABLE #UTS_HR_SLAData;

END