ALTER PROCEDURE [dbo].[Sproc_GetClientWithNoJobPosts_For3daysReminderEmail]
AS
BEGIN
		--Commented Jimit 04-06-24 UTS-7505 
		--select ContactID,MAX(CPC.ID) AS ID,U.ID as PocID,U.EmailID,U.ContactNumber,U.FullName,U.Designation
		--Into   #POC
		--FROM   gen_ContactPointofContact CPC WITH(NOLOCK)
		--	   INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
		--GROUP BY ContactID,U.ID,U.EmailID,U.ContactNumber,U.FullName,U.Designation

		SELECT COUNT(C.ID) OVER() TotalClients
				, C.ID ContactId
				, C.FullName
				, C.EmailID
				, CONVERT(VARCHAR(15), C.CreatedByDatetime	, 103) CreatedByDatetime	
				, U.ID as PocId
				, U.FullName as PocName
				, U.EmailID as	PocEmail
				, U.ContactNumber as PocPhone
				, U.Designation as PocDesignation
		FROM	gen_Contact C WITH(NOLOCK)
				inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
				INNER JOIN usr_User U WITH(NOLOCK) ON Isnull(CO.AM_SalesPersonID,CO.NBD_SalesPersonID) = U.ID --CPC.User_ID = U.ID
				--left join #POC P ON P.ContactID = C.ID
		WHERE	NOT EXISTS (SELECT	C.CompanyID 
							FROM	gen_SalesHiringRequest HR 
									inner join gen_Contact C1 WITH(NOLOCK) on C1.ID = HR.ContactID
									inner join gen_Company CO1 WITH(NOLOCK) ON CO1.ID = C1.CompanyID	
							WHERE	CO.ID = CO1.ID)
				AND CAST(DateAdd(d,3,C.CreatedByDatetime) AS DATE) = CAST(GETDATE() AS DATE)
				AND ISNULL(CO.CompanyTypeID,0) = 2 AND ISNULL(CO.IsPostaJob,0) = 1

		--DROP TABLE #POC

		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_GetClientWithNoJobPosts_For3daysReminderEmail'
END
