CREATE PROCEDURE [dbo].[sproc_UTS_GetChildCompanyList]
@CONTACTID			BIGINT  = 0
AS
BEGIN
	
	DECLARE @MAINCOMPANYID BIGINT = 0;
	DECLARE @CHILDCOMPANYLISTCOUNT INT = 0;

	IF OBJECT_ID('tempdb..#ChildCompanyTbl') IS NOT NULL
		DROP TABLE #ChildCompanyTbl;

	CREATE TABLE #ChildCompanyTbl(ChildCompanyID bigint, ChildCompanyName nvarchar(300));

	INSERT INTO #ChildCompanyTbl(ChildCompanyID, ChildCompanyName)
			SELECT -1, '--Select--';

	SET @MAINCOMPANYID = ISNULL((select CompanyID from gen_Contact with(nolock) where ID = @CONTACTID),0);

	PRINT @MAINCOMPANYID;
	IF @CONTACTID <> 0 AND @MAINCOMPANYID <> 0
	BEGIN
		INSERT INTO #ChildCompanyTbl(ChildCompanyID, ChildCompanyName)
		SELECT ID, Company from gen_Company with(nolock) where ParentCompanyID = @MAINCOMPANYID;
	END

	SET @CHILDCOMPANYLISTCOUNT = (SELECT COUNT(1) FROM #ChildCompanyTbl);

	--INSERT INTO #ChildCompanyTbl(ChildCompanyID, ChildCompanyName)
	--		SELECT 0, '--Add Other Child Company--';

	select ChildCompanyID,ChildCompanyName from #ChildCompanyTbl;
END