--exec sproc_UTS_GetTalent 1,10,'CreatedbyDatetime','DESC','talent.legal@uplers.in','','','','','','','','','','',''

CREATE PROCEDURE [dbo].[sproc_UTS_GetTalent]
	@PageIndex				INT = 1,
	@PageSize				INT = 50,
	@SortExpression			nvarchar(100) = 'CreatedbyDatetime',
	@SortDirection			nvarchar(100) = 'DESC',
	@UserName				varchar(200) = NULL,	
	@Name				    varchar(200) = NULL,
	@EmailID                VARCHAR(100) = NULL,
	@ContactNumber          VARCHAR(50) = NULL,
	@Status					VARCHAR(50) = NULL,
	@UserType			    VARCHAR(50) = NULL,
	@TalentRole			    VARCHAR(50) = NULL,
	@AccountStatus			varchar(50) = NULL,
	@AfterClientSelectionStatus	nvarchar(100) = NULL,
	@TalentCategory	nvarchar(50) = NULL,
	@Talent_Type			nvarchar(100)= NULL,
	@FinalCost				nvarchar(100) = NULL
AS
BEGIN
	
		DECLARE @WhereClauseSQL nvarchar(max) = ''
		DECLARE @MainSQL nvarchar(max) = ''
		DECLARE @TmpDBSQL nvarchar(max) = ''

		IF isnull(@UserName,'') <> ''
			SET @WhereClauseSQL += ' AND T.UserName LIKE ''%' + CONVERT(nvarchar,@UserName) + '%'''
		IF isnull(@Name,'') <> ''
			SET @WhereClauseSQL += ' AND T.Name LIKE ''%' + CONVERT(nvarchar,@Name) + '%'''
		IF isnull(@EmailID,'') <> ''
			SET @WhereClauseSQL += ' AND T.EmailId LIKE ''%' + CONVERT(nvarchar,@EmailID) + '%'''
		IF isnull(@ContactNumber,'') <> ''
			SET @WhereClauseSQL += ' AND T.ContactNumber LIKE ''%' + CONVERT(nvarchar,@ContactNumber) + '%'''
		IF isnull(@Status,'') <> ''
			SET @WhereClauseSQL += ' AND S.Talent_Status LIKE ''%' + CONVERT(nvarchar,@Status) + '%'''
		--IF isnull(@UserType,'') <> ''
		--	SET @WhereClauseSQL += ' AND U.Usertype LIKE ''%' + CONVERT(nvarchar,@UserType) + '%'''
		IF isnull(@TalentRole,'') <> ''
			SET @WhereClauseSQL += ' AND R.TalentRole LIKE ''%' + CONVERT(nvarchar,@TalentRole) + '%'''
		IF isnull(@AccountStatus,'') <> ''
			SET @WhereClauseSQL += ' AND ACS.AccountStatus LIKE ''%' + CONVERT(nvarchar,@AccountStatus) + '%'''
		IF isnull(@AfterClientSelectionStatus,'') <> ''
			SET @WhereClauseSQL += ' AND ACC.TalentStatus LIKE ''%' + CONVERT(nvarchar,@AfterClientSelectionStatus) + '%'''
		IF isnull(@TalentCategory,'') <> ''
			SET @WhereClauseSQL += ' AND T.TalentCategory LIKE ''%' + CONVERT(nvarchar,@TalentCategory) + '%'''
		IF isnull(@Talent_Type,'') <> ''
			SET @WhereClauseSQL += ' AND P.Talent_Type LIKE ''%' + CONVERT(nvarchar,@Talent_Type) + '%'''
		IF isnull(@FinalCost,'') <> ''
			SET @WhereClauseSQL += ' AND T.FinalCost LIKE ''%' + CONVERT(nvarchar,@FinalCost) + '%'''


		


			SET @MainSQL= ';WITH CTE_Records AS (SELECT T.ID,Username,Password,Name,EmailID = EmailID + char(10)+'' (''+T.Username+'')'',RoleID,'''' AS Usertype,ContactNumber,Achievements,AddressDetail,
															 Status = Talent_Status,1 as TotalCountID,Isnull(TA.AssociatedWithUplers,'''') AssociatedWithUplers,Isnull(TalentCategory,'''') TalentCategory,Isnull(SkypeID,'''') SkypeID,R.TalentRole, T.CreatedByDatetime

															   ,PrimarySkills =  (select isnull((STUFF((
																							 SELECT distinct '','' + PrimarySkill From(select	PrimarySkill = Convert(Varchar(MAX),isnull(PR.Skill,''''))
																									from	prg_Skills PR WITH(NOLOCK) inner join gen_TalentPrimarySkill_Details P WITH(NOLOCK) ON PR.ID = P.PrimarySkill_ID																											
																									where	P.TalentID = T.ID and isnull(P.PrimarySkill_ID,0) > 0
																									union all
																									select	PrimarySkill = Convert(Varchar(MAX),isnull(PT.TempSkill,'''')) from	prg_TempSkills PT WITH(NOLOCK) 	
																											inner join gen_TalentPrimarySkill_Details P WITH(NOLOCK) ON PT.TempSkill_ID = P.TempSkill_ID														
																									where	isnull(PT.Status_ID,1)!=0 AND P.TalentID = T.ID and isnull(P.TempSkill_ID,'''')  <> ''''
																									) AS finalObj For XML Path('''')),1,1,''''
																							)),''''))
																,SecondarySkills =  (select isnull((STUFF((SELECT distinct '','' + SecondarySkill From(
																									select	SecondarySkill = Convert(Varchar(MAX),isnull(PR.Skill,'''')) from prg_Skills PR WITH(NOLOCK) 	
																											inner join gen_TalentSecondarySkill_Details P WITH(NOLOCK) ON PR.ID = P.SecondarySkill_ID where	P.TalentID = T.ID and isnull(P.SecondarySkill_ID,0) > 0
																									union all
																									select	PrimarySkill = Convert(Varchar(MAX),isnull(PT.TempSkill,'''')) from	prg_TempSkills PT WITH(NOLOCK) 	
																											inner join gen_TalentSecondarySkill_Details P WITH(NOLOCK) ON PT.TempSkill_ID = P.TempSkill_ID														
																									where	isnull(PT.Status_ID,1) != 0 AND P.TalentID = T.ID and isnull(P.TempSkill_ID,'''')  <> ''''
																									) AS finalObj For XML Path('''')),1,1,''''
																							)),''''))
															,TalentStatusID = isnull(T.Status,0),TalentStatus = isnull(S.Talent_Status,''''),
															 AccountStatus = ISNULL(ACS.AccountStatus,''NA''),
															isnull( (Select top 1  ISnull(TPC.ID,0) from gen_TalentPointofContact TPC WITH(NOLOCK) WHERE TPC.Talent_ID = T.ID),0)  as PointOfContact,
															 TalentStatusID_AfterClientSelection = isnull(T.TalentStatusID_AfterClientSelection,0),
															 AfterClientSelectionStatus = ACC.TalentStatus,
															 IsTalentNotificationSend = Isnull(IsTalentNotificationSend,0),
															 isnull(T.FinalCost,0) FinalCost, 
															 isnull(p.Talent_Type,'''') Talent_Type,
															 Isnull(T.ProfileURL,'''') ProfileURL,
															 Isnull(T.ResumeID,0) ResumeID,
															 Isnull(T.TalentAccount_Status_ID,0) TalentAccount_Status_ID,
															 Isnull(T.ATS_Talent_LiveURL,'''') ATSTalentLiveURL,
															 Isnull(T.ATS_Non_NDAURL,'''') ATSNonNDAURL
													  FROM	 gen_Talent T WITH(NOLOCK) 
															 left JOIN prg_TalentRoles R WITH(NOLOCK) ON R.ID = T.RoleID															
															 Left join  prg_TalentAssociatedWithUplers TA WITH(NOLOCK) ON TA.Id = T.AssociatedwithUplers_ID
															 left join  prg_TalentStatus S WITH(NOLOCK) ON S.ID = T.Status
															 left join  prg_TalentAccountStatus ACS WITH(NOLOCK) ON ACS.ID = T.TalentAccount_Status_ID	
															 left join  prg_TalentStatus_AfterClientSelection ACC WITH(NOLOCK) ON ACC.ID = T.TalentStatusID_AfterClientSelection
															 left join  prg_talentType p WITH(NOLOCK) ON p.ID = T.Talent_TypeID
													  WHERE 1=1 ' + @WhereClauseSQL + ' 
													  AND  (T.PMS_status = 1 or T.PMS_status is null or T.PMS_uuid is null)
								)
								,Cte_TotalCount AS(
										Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
								)
								SELECT ID,Username,Password,Name,EmailID,RoleID,Usertype,ContactNumber,Achievements,AddressDetail,Status,T.TotalRecords,AssociatedWithUplers,
										TalentCategory,SkypeID, TalentRole,PrimarySkills,SecondarySkills,(CONVERT(varchar, ISNULL(CreatedByDatetime, ''''), 103) + '' ''  + convert(VARCHAR(8), CreatedByDatetime, 14)) CreatedByDatetime
										,TalentStatusID,AccountStatus,PointOfContact, TalentStatusID_AfterClientSelection, AfterClientSelectionStatus,cast(IsTalentNotificationSend as int) IsTalentNotificationSend,FinalCost,Talent_Type,ProfileURL,ResumeID,TalentAccount_Status_ID,ATSTalentLiveURL,ATSNonNDAURL
								FROM CTE_Records U 
								INNER JOIN Cte_TotalCount T on T.TotalCountID =U.TotalCountID '
								

					  If @TmpDBSQL <> ''
						BEGIN
								SET @MainSQL = @TmpDBSQL + @MainSQL								
						END

						--If	@SortExpression = 'CreatedbyDatetime'
						--			SET @MainSQL += ' ORDER BY cast(' + @SortExpression + ' as datetime) ' + @SortDirection
						--ELSe 
						--		SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

						If	@SortExpression = 'CreatedbyDatetime'
									SET @MainSQL += ' ORDER BY case AccountStatus  when ''InActive'' then 1
																			 end, cast(' + @SortExpression + ' as datetime) ' + @SortDirection
						ELSe 
								SET @MainSQL += ' ORDER BY case AccountStatus  when ''InActive'' then 1
																		 end, ' + @SortExpression + ' ' + @SortDirection

					   IF(@PageSize>0)
						  BEGIN
								SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
												FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY 
										  ';
						   END
						ELSE
							BEGIN
								SET @MainSQL= 	@MainSQL;
							END
		PRINT(@MainSQL)
		EXECUTE sp_executesql @MainSQL		  	
		
		--If Object_Id('tempdb..#UserList') Is not Null
		--DROP TABLE #UserList
END