-- exec sproc_UTS_GetTalentLegalInfo 1,10,'ID','DESC',0,'','','','',''

CREATE PROCEDURE [dbo].[sproc_UTS_GetTalentLegalInfo]
	@PageIndex				INT = 1,
	@PageSize				INT = 50,
	@SortExpression			nvarchar(100) = 'ID',
	@SortDirection			nvarchar(100) = 'DESC',
	@TalentId               bigint = NULL,
	@DocumentType			nvarchar(100) = NULL,
	@DocumentName			nvarchar(100) = NULL,
	@AgreementStatus		nvarchar(100) = NULL,
	@Name				    nvarchar(100) = NULL,
	@EmailId				nvarchar(100) = NULL
AS
BEGIN
	DECLARE @WhereClauseSQL nvarchar(max) = ''
	DECLARE @MainSQL nvarchar(max) = ''

	IF( isnull(@TalentId,0) >0		)
			SET @WhereClauseSQL += ' AND L.TalentID = ' + CONVERT(nvarchar,@TalentId)
    IF isnull(@DocumentType,'') <> ''
			SET @WhereClauseSQL += ' AND L.DocumentType LIKE ''%' + CONVERT(nvarchar,@DocumentType) + '%'''
	IF isnull(@DocumentName,'') <> ''
			SET @WhereClauseSQL += ' AND L.DocumentName LIKE ''%' + CONVERT(nvarchar,@DocumentName) + '%'''
    IF isnull(@AgreementStatus,'') <> ''
			SET @WhereClauseSQL += ' AND L.AgreementStatus LIKE ''%' + CONVERT(nvarchar,@AgreementStatus) + '%'''
	IF isnull(@Name,'') <> ''
			SET @WhereClauseSQL += ' AND T.Name LIKE ''%' + CONVERT(nvarchar,@Name) + '%'''
	IF isnull(@EmailId,'') <> ''
			SET @WhereClauseSQL += ' AND T.EmailId LIKE ''%' + CONVERT(nvarchar,@EmailId) + '%'''

	SET @MainSQL= ';WITH CTE_Records AS ( SELECT ID = L.ID,TalentID = L.TalentID,DocumentType = L.DocumentType,DocumentName = L.DocumentName,DocumentURL = L.DocumentURL,AgreementStatus = L.AgreementStatus ,1 as TotalCountID,(ISNULL(L.SignedDate, ''''))  SignedDate,(ISNULL(L.Validity_StartDate, ''''))  Validity_StartDate,(ISNULL(L.Validity_EndDate, ''''))  Validity_EndDate, Name = T.Name,EmailId = T.EmailId
					FROM	 gen_TalentLegalInfo L WITH(NOLOCK) 
					INNER JOIN gen_Talent T WITH(NOLOCK) ON T.ID = L.TalentID
					  WHERE 1=1 ' + @WhereClauseSQL + '
					  )
					  ,Cte_TotalCount AS(
										Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
								)
								SELECT ID,TalentID,DocumentType,DocumentName,DocumentURL,AgreementStatus,T.TotalRecords, SignedDate = case when SignedDate=''01/01/1900'' then '''' else  CONVERT(VARCHAR(10), SignedDate, 103) end, Validity_StartDate = case when Validity_StartDate=''01/01/1900'' then '''' else  CONVERT(VARCHAR(10), Validity_StartDate, 103) end ,Validity_EndDate = case when Validity_EndDate=''01/01/1900'' then '''' else  CONVERT(VARCHAR(10), Validity_EndDate, 103) end ,Name,EmailId
								FROM CTE_Records U 
								INNER JOIN Cte_TotalCount T on T.TotalCountID =U.TotalCountID '

						If	@SortExpression = 'ID'
								SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection
						ELSe 
								SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

			IF(@PageSize>0)
						  BEGIN
								SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
												FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
						   END


	    PRINT(@MainSQL)
	EXECUTE sp_executesql @MainSQL		

END
