ALTER PROCEDURE [dbo].[sproc_UTS_GetAllUnAssignedHRs] 
@PageIndex			INT = 1,  
@PageSize			INT = 50,  
@SortExpression		NVARCHAR(100) = 'CreatedDateTime',  
@SortDirection		NVARCHAR(100) = 'desc',
@LoggedInUserTypeID	INT			  = 0,
@LoggedInUserID		BIGINT		  = 0,
@fromDate		    NVARCHAR(100) = NULL,
@toDate		        NVARCHAR(100) = NULL,
@searchText			NVARCHAR(200) = ''
AS
BEGIN
		
	DECLARE @WhereClauseSQL nvarchar(max) = '';
	DECLARE @WhereClauseSQL1 nvarchar(max) = '';
	DECLARE @MainSQL nvarchar(max) = '';
	DECLARE @TmpDBSQL nvarchar(max) = '';
	DECLARE @Total_Records	Nvarchar(MAX) ='';
	DECLARE @Where_AMClauseSQL nvarchar(max) = '';
  
   	
	   IF @fromDate is not null and @toDate is not null and ISNULL(@fromDate,'') <> '' and ISNULL(@toDate,'') <> '' 
		   BEGIN
			   if @fromDate = @toDate
				   begin 
						SET @WhereClauseSQL += ' AND cast(CONVERT(datetime,CreatedDateTime,103) as date) = '+ '''' + @fromDate +'''';
				   end
			   else
				   begin
						SET @WhereClauseSQL+= ' AND (CAST(CONVERT(datetime,CreatedDatetime,103) as date) BETWEEN ''' + @fromDate + ''' and ''' + @toDate + ''')'
				   end
		   END

	   
		CREATE TABLE #TempTable_HrStatus (
			HRID BIGINT,
			HR_Number VARCHAR(100),
			HRStatus  VARCHAR(100),
			HRStatusCode INT
		);
		INSERT INTO #TempTable_HrStatus(HRID, HR_Number, HRStatus, HRStatusCode)
		EXEC Sproc_UTS_Get_HRStatus @HRID = null
		
	   SELECT ITM.HiringRequest_ID, MAX(ITM.ID) AS InterviewMasterID 
	   into   #HR_WithInterview 
	   from   gen_SalesHiringRequest H WITH(NOLOCK) 
			  inner join gen_InterviewSlotsMaster ITM WITH(NOLOCK) ON H.ID = ITM.HiringRequest_ID
			  AND Not exists(select 1 from gen_SalesHiringRequest H1 WITH(NOLOCK) where H1.ContactID = 56101 AND lower(H1.RequestForTalent) = lower(H.RequestForTalent)  )
	   where  H.IsActive =1
	   Group By ITM.HiringRequest_ID
  
  
		;WITH CTE_ViewAllHR AS 
					(
						SELECT	distinct [TotalCountID] = 1,
										[ID] = ROW_NUMBER() OVER(ORDER BY H.ID),
										[HRID] = H.ID,								
										[StarMarked] = ISNULL(SHRP.IsPriority,0),
										[StarMarkedStatusCode] = IIF(ISNULL(SHRP.IsPriority,0) = 1, 101, 0),
										[AdHocHR] = case when Isnull(H.IsAdHocHR,0) = 0 AND Isnull(H.IsPoolHR,0) = 1 then 'Pool' 
														when Isnull(H.IsAdHocHR,0) = 1 AND Isnull(H.IsPoolHR,0) = 0 then 'Odr' 
														when Isnull(H.IsAdHocHR,0) = 1 AND Isnull(H.IsPoolHR,0) = 1 then 'Pool + Odr' ELSE '' end,
										[CreatedDateTime] = ISNULL(H.CreatedByDateTime,H.LastModifiedDatetime),
										[HR] = ISNULL(H.HR_Number, ''),
										[TR] = case when H.Availability = 'Part Time' THEN Round((cast(ISNULL(H.NoofTalents,0) as float)/2),2) ELSE ISNULL(H.NoofTalents,0) end,
										[Position] = ISNULL(H.RequestForTalent,''),
										[Company] = ISNULL(CO.Company,''),
										[TimeZone] = isnull(TZ.ShortName,''),
										[TypeOfEmployee] = ISNULL(CASE WHEN (H.Availability = 'Full Time' OR H.Availability IS NULL) THEN 'Full Time' ELSE 'Part Time' END,''),
										[SalesRep] = ISNULL(U.FullName,''),
										[UserId] = ISNULL(U.ID,0),
										[HRStatus] = ISNULL(TS.HRStatus, JS.JobStatus),
										[HRStatusCode] = ISNULL(TS.HRStatusCode, 201),
										[HRStatus_Old] = case 
													when ISNULL(H.IsActive,0) = 0 and S.ID = 1 then 'Draft' 
														When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 1 then 'HR Accepted' 
														When  ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 0 AND S.ID = 1 then 'Acceptance Pending'  
														When  ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 2 AND S.ID = 1 then 'Info Pending'
														When  ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 3 then 'Completed'
														When  ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 2 then 'In Process'
														When  S.ID = 5 then 'On Hold'
														When  S.ID = 4 then 'Cancelled'
														When  S.ID = 6 then 'Lost'
													ELSE
														S.HiringRequest_Status 
													end,
										[HRStatusCode_Old] = case 
														when ISNULL(H.IsActive,0) = 0 and S.ID = 1 then 101 
														When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 1 then 102 
														When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 0 AND S.ID = 1 then 103  
														When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 2 AND S.ID = 1 then 104
														When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 3 then 105 
														When ISNULL(H.IsActive,0) = 1 AND H.IsAccepted = 1 AND S.ID = 2 then 106
														When  S.ID = 4 then 107 
														When  S.ID = 5 then 108
														When  S.ID = 6 then 109
													ELSE
														201 
													end,
										[Role_ID] = ISNULL(HD.Role_ID,0),
										[CompanyID] = ISNULL(CO.ID,0),
										[Availability] = ISNULL(H.Availability,''),
										[SalesUserID] = ISNULL(H.SalesUserID,0),
										[AcceptedByID] = ISNULL(H.AcceptedByID,0),
										[PoolHR] = Isnull(H.IsPoolHR,0),
										[ClientName] = ISNULL(C.FullName,''),
										[SpecificMonth] = ISNULL(HD.SpecificMonth, 0),
										[ReopenHR] = CASE 
															WHEN H.Status_ID IN (3,4,6) THEN 1 
															ELSE 0
													  END,
										[CompanyCategory] = ISNULL(Co.Category,''),
										[Cost] = ISNULL(HD.Cost,''),
										[HowSoon] = ISNULL(HD.HowSoon,''),
										[IsHRFocused] = ISNULL(HD.IsHRFocused,0),
										[TypeOfHR] = Case When IsNull(H.IsHRTypeDP,0) = 0 then 'Contractual' When IsNull(H.IsHRTypeDP,0) = 1 then 'Direct Placement' Else '' end,
										[GUID]= [GUID],
										[IsHRTypeDP] = IsNull(H.IsHRTypeDP,0),
										[IsDirectHR] =IsNull(H.IsDirectHR,0),
										[HRTypeId] = ISNULL(H.HRTypeId,0),
										[HRTypeName] = ISNULL(HT.Name,''),
										Co.CompanyTypeID,
										Co.AnotherCompanyTypeID,
										CompanyModel = isnull(CT.CompanyType,'') ,
										HT.CompanyTypeId AS HRCompanyTypeID,
										IsDisplayReopenOrCloseIcon = CAST (1 as BIT), 
										ClientEmail = C.EmailId,
										case 
											when Co.CompanyTypeID > 0 and Co.AnotherCompanyTypeID > 0 then CAST(1 AS BIT)
											else CAST(0 AS BIT) 
										end as IsHybrid
										,H.Status_ID,
										ShowCloneToDemoAccount = CASE WHEN H.HRTypeID = 1 AND H.IsActive = 1  AND isnull(HIT.InterviewMasterID,0) > 0 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END,
										HRAcceptedSince = case when Isnull(H.AcceptedByDateTime,'') <> '' then cast(DATEDIFF(d,H.CreatedByDatetime,H.AcceptedByDateTime) as Nvarchar(10)) else '-' end,
										HREngagementType = ISNULL(HTP.Type,'') + ' ' + CASE WHEN H.IsTransparentPricing = 1 then '( Transparent )' WHEN H.IsTransparentPricing = 0 then '( Non Transparent )' end,
										SalaryBudget = ISNULL(hd.Cost,'')
								FROM	gen_SalesHiringRequest H with(nolock)
										INNER join gen_SalesHiringRequest_Details HD with(nolock) on H.ID = HD.HiringRequest_ID
										INNER JOIN gen_Contact C WITH(NOLOCK) ON H.ContactID = C.ID  
										INNER join gen_Company Co WITH(NOLOCK) ON CO.Id = C.CompanyId
										INNER join prg_HiringRequest_Type HT with (NOLOCK) ON H.HRTypeId = HT.ID							
										INNER join prg_CompanyType CT with (NOLOCK) ON HT.CompanyTypeId = CT.ID	
										INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = H.JobStatusID
										INNER JOIN #TempTable_HrStatus TS WITH(NOLOCK) ON TS.HRID = H.ID 
										LEFT join usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID
										LEFT JOIN  prg_HiringType_Pricing HTP WITH(NOLOCK) ON HTP.ID = H.HiringTypePricingId
										LEFT JOIN gen_SalesHiringRequest_Priority SHRP with(nolock) ON H.ID = SHRP.HiringRequestID 
										LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON HD.Timezone_ID = TZ.ID 
										LEFT JOIN prg_HiringRequestStatus S WITH(NOLOCK) ON S.ID = H.Status_ID 
										LEFT JOIN prg_HiringRequest_RoleStatus RS WITH(NOLOCK) ON RS.ID = HD.RoleStatus_ID
										LEFT JOIN #HR_WithInterview HIT ON H.ID = HIT.HiringRequest_ID
								Where	Co.ID <> 37720 and ISnull(H.SalesUserID,0) = 0
								)								
						,Cte_ViewAllHRTotalCount AS(
									Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_ViewAllHR 
							)
						SELECT		U.ID,Isnull(U.HRID,'') HRID,ISNULL(U.StarMarked,0) StarMarked,ISNULL(U.StarMarkedStatusCode,0) as StarMarkedStatusCode,U.AdHocHR,
									CASE WHEN U.CreatedDateTime ='' then '' else (CONVERT(varchar, ISNULL(U.CreatedDateTime, ''), 103) + ' '  + convert(VARCHAR(8), U.CreatedDateTime, 14)) end  CreatedDateTime,
									U.HR,U.TR,U.Position,U.Company,U.TimeZone,U.TypeOfEmployee,U.SalesRep, U.UserId,U.HRStatus,U.HRStatusCode, U.HRStatus_Old, T.TotalRecords,
									U.Role_ID, U.CompanyID, U.Availability, U.SalesUserID, U.AcceptedByID, U.PoolHR, U.ClientName, U.SpecificMonth, U.ReopenHR, 
									U.CompanyCategory, U.Cost, U.HowSoon, U.IsHRFocused, U.TypeOfHR,[GUID], U.IsHRTypeDP,U.IsDirectHR, U.HRTypeId, U.HRTypeName,U.CompanyTypeID,
									U.AnotherCompanyTypeID,U.CompanyModel,U.HRCompanyTypeID, U.IsDisplayReopenOrCloseIcon,U.ClientEmail, U.IsHybrid,U.Status_ID,
									U.ShowCloneToDemoAccount,U.HRAcceptedSince,U.HREngagementType,U.SalaryBudget
						INTO		#AllRecords_ViewAllHR
						FROM		CTE_ViewAllHR U 
									INNER JOIN Cte_ViewAllHRTotalCount T on T.TotalCountID =U.TotalCountID	
									AND  (
											U.HR LIKE '%' + @SearchText + '%'
											OR U.Position LIKE '%' + @SearchText + '%' 
											OR U.Company LIKE '%' + @SearchText + '%' 
											OR U.HRStatus LIKE '%' + @SearchText + '%'
											OR U.HRStatus_Old LIKE '%' + @SearchText + '%'
											OR U.ClientName LIKE '%' + @SearchText + '%'
											OR U.TypeOfHR LIKE '%' + @SearchText + '%' 
											OR U.ClientEmail LIKE '%' + @SearchText + '%'
										)	
		
		SET @MainSQL = 'select ID, HRID, CompanyID, StarMarked, StarMarkedStatusCode, AdHocHR, CreatedDateTime, HR, TR, Position, Company, TimeZone, TypeOfEmployee,
						SalesRep, UserId, HRStatus, HRStatusCode, TotalRecords, ReopenHR, CompanyCategory, Cost, HowSoon, IsHRFocused, TypeOfHR,[GUID], IsHRTypeDP, HRTypeId, HRTypeName,
						CompanyModel, IsDisplayReopenOrCloseIcon,ClientEmail, IsHybrid, ShowCloneToDemoAccount,HRAcceptedSince,HREngagementType,SalaryBudget
						FROM #AllRecords_ViewAllHR WHERE 1=1 ' + @WhereClauseSQL + '';

	
		IF @TmpDBSQL <> ''
			BEGIN
				SET @MainSQL = @TmpDBSQL + @MainSQL								
			END

		IF @WhereClauseSQL1 <> ''
			BEGIN
				SET @MainSQL += @WhereClauseSQL1;
			END
	
		IF @WhereClauseSQL1 <> ''
			BEGIN
				set   @Total_Records = 'Update #AllRecords_ViewAllHR SET TotalRecords = (select Count(1) from #AllRecords_ViewAllHR
												WHERE 1 = 1  ' + @WhereClauseSQL +  @WhereClauseSQL1 + ')'
			END
		ELSE
			BEGIN
				set   @Total_Records = 'Update #AllRecords_ViewAllHR SET TotalRecords = (select Count(1) from #AllRecords_ViewAllHR
												WHERE 1 = 1  ' + @WhereClauseSQL +  ')'
			END

		EXECUTE sp_executesql @Total_Records
		

		IF @SortExpression = 'CreatedDateTime '
			BEGIN
				SET @MainSQL += ' ORDER BY CONVERT(datetime,' + @SortExpression + ',103) ' + @SortDirection							
			END
		ELSE 
			SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

		IF(@PageSize>0)
			BEGIN
				SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
										FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
			END 
	
	
		SET @MainSQL = @MainSQL + ' drop table #HR_WithInterview;';
	
	
		EXECUTE sp_executesql @MainSQL

		DROP TABLE #TempTable_HrStatus
END


