ALTER PROCEDURE [dbo].[Sproc_Get_JoiningDate_List]
AS
BEGIN
        
		UPDATE CTP SET CTP.HRTalentTagID =5
		from	gen_OnBoardClientContractDetails OCC WITH(NOLOCK)
				inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON OBT.ID = OCC.OnBoardID
				inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.TalentID = OBT.Talent_ID and CTP.HiringRequestID = OBT.HiringRequest_ID
		where	Cast(isnull(OBT.Joiningdate, OCC.ContractStartDate) as date) = cast(getdate() as date)
		        --Cast(isnull(OBT.Joiningdate, OCC.ContractStartDate) as date) = cast( DATEADD(day,-4,getdate()) as date)	
		        and OBT.ClientClosureDate is not null
				and CTP.TalentStatusID_BasedOnHR = 10
				and Status_ID = 1

		SELECT  OBT.Talent_ID,OBT.HiringRequest_ID,OBT.ID,OBT.EngagemenID,OBT.ContactID
		from	gen_OnBoardClientContractDetails OCC WITH(NOLOCK)
				inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON OBT.ID = OCC.OnBoardID
				inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.TalentID = OBT.Talent_ID and CTP.HiringRequestID = OBT.HiringRequest_ID
		where	Cast(isnull(OBT.Joiningdate, OCC.ContractStartDate) as date) = cast(getdate() as date)	
		        --Cast(isnull(OBT.Joiningdate, OCC.ContractStartDate) as date) = cast( DATEADD(day,-4,getdate()) as date)
		        and OBT.ClientClosureDate is not null
				and CTP.TalentStatusID_BasedOnHR = 10
				and Status_ID = 1


		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_JoiningDate_List'
				
END
