ALTER PROCEDURE [dbo].[Sproc_Update_HrStatus_SubStatus_ClientPortal]
  @HR_ID		  bigint = 0,
  @HR_Status	  Nvarchar(100) = null, --Job Status
  @HR_Sub_Status  Nvarchar(100) = null, -- Hr Status in gen_SaleshiringRequest
  @ActionDoneBy	  Nvarchar(100) = null,
  @ActionDate	  Nvarchar(20) = null
AS
BEGIN
	
	Declare @JobStatusID as int = 0
	declare @JobSubStatusID as int = 0
	Declare @UserID as bigint  = 0
	DECLARE @HR_RoleStatus INT =0
	Declare @ClientID as bigint = 0
	declare @SalesUserID as bigint = 0
	DECLARE @CompanyID BIGINT = 0
	DECLARE @UpdatedTR DECIMAL(18,2) = 0
	DECLARE @HRTypeID INT = 0
	DECLARE @CurrentHRStatus INT = 0
	DECLARE @IsHRAccepted as Bit =0

	select @JobStatusID = ID from prg_JobStatus_ClientPortal WITH(NOLOCK)
	where  lower(JobStatus) = lower(@HR_Status)
	
	--IF(Isnull(@HR_Sub_Status,'') <> '' or @HR_Sub_Status <> '')
	--BEGIN
	--	SET @HR_Sub_Status = ''
	--END

	--ATS team pass null in sub status while publish the HR for the first time
	IF ISNULL(@HR_Sub_Status,'') = ''
	BEGIN
		If Exists(select  1
					From   gen_ContactTalentPriority CTP WITH(NOLOCK)
					where  HiringRequestID = @HR_ID)
			BEGIN
				SET @JobSubStatusID = 2 --In Process  Hr Status
			END
		ELSE
			BEGIN
				SET @JobSubStatusID = 1 --Default open  Hr Status
			END
	END 
	ELSE
		BEGIN
			select @JobSubStatusID = ID from prg_HiringRequestStatus  WITH(NOLOCK)
			where  lower(ATS_HiringRequest_Status) = lower(@HR_Sub_Status)
			--where  lower(HiringRequest_Status) = lower(@HR_Sub_Status)
		END

	select @UserID = ID from usr_User  WITH(NOLOCK)
	Where  EmployeeID = @ActionDoneBy

	If @UserID = 0 
		BEGIN
				select @UserID = ID from usr_User  WITH(NOLOCK)
				Where  EmployeeID = 'UP0000'
		END

	SELECT 
	top 1	@HR_RoleStatus = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
	FROM	prg_HiringRequestStatus HS WITH(NOLOCK) 
			INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID				
	WHERE   HS.ID = @JobSubStatusID

	If ISNULL(@Hr_ID,0) <> 0
		BEGIN
				If Exists(select 1 from gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @Hr_ID)
					BEGIN			
					
							select
									@ClientID = ContactID,
									@SalesUserID=SalesUserId,
									@UpdatedTR = NoofTalents + 1,
									@HRTypeID = HRTypeId,
									@CurrentHRStatus = JobStatusID,
									@IsHRAccepted = ISnull(IsAccepted,0) 
							from	gen_SalesHiringRequest WITH(NOLOCK) 
							where	ID = @HR_ID
							
							EXEC SPROC_Gen_SalesHiringRequest_History @HRID = @HR_ID, @AppActionDoneBy = 2
							EXEC SPROC_Gen_SalesHiringRequest_Details_History @HRID = @HR_ID, @AppActionDoneBy = 2

							EXEC sproc_HiringRequest_History_Insert @Action = 'HRStatus_UpdatedbyATS', @HiringRequest_ID = @HR_ID,
								 @Talent_ID = 0, @Created_From = 0,@CreatedById = @UserID, @ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
								 @HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0, @IsManagedByTalent = 0, @SalesUserID = @SalesUserID,
								 @OldSalesUserID = 0, @AppActionDoneBy = 2

						 
						  --Added By Jimit 23-07-24 when Active HR then Auto Accept HR and TR as per discussion with Shashwat
						  IF (@JobStatusID = 1 and @IsHRAccepted = 0)
							BEGIN
									exec Sproc_Accept_HR @HRID=@HR_ID,@AcceptValue = 1,@LoginUserId = @UserID,@Reason = 'HR Auto Accept'
							END							
						  --ended


						   ------ATS-5904 Added by Riya (03-June-2024) ---------
						   IF(@JobStatusID = 2)
						   BEGIN
								--- HR closed from ATS---
							EXEC [Sproc_UpdateStatusForClosedHR_ClientPortal] 
								 @HiringRequestID = @HR_ID,
								 @LossRemark = 'HR Closed from ATS',
								 @DeletereasonId = 0,
								 @LoggedInUserId = @UserID,
								 @ActionDoneBy = 2,
								 @IsAutoExpiredJob = 0,
								 @SSOUserId = @UserID

						   END

						   --------ATS-5904 Added by Riya (03-June-2024)-----------
						   ---------- Active and Reposted------------
						   IF(@JobStatusID = 1 AND @JobSubStatusID = 8 AND @HRTypeID <> 1)
						   BEGIN

							   SELECT @CompanyID = CompanyID FROM gen_contact WITH(NOLOCK) WHERE ID = @ClientID

							   IF(@CurrentHRStatus <> 5) --- HR is reopened from ATS and hence need to deduct credits.
							   BEGIN
										---Pay per credit HR Re-opened from ATS---
									EXEC [Sproc_RepostedJob_ClientPortal]
									@ID	  = 0,
									@HRID  = @HR_ID,
									@ContactID = @ClientID,
									@ContactUserID  = @ClientID,
									@CompanyID = @CompanyID,
									@RepostJob = 0,
									@DaysPending =  0,
									@IsReopenfromAdmin = 0,  
									@SSOUserId = @UserID,
									@IsActionDoneByATS = 1
								END
						   END
						   
						    --------ATS-5904 Added by Riya (03-June-2024)-----------
						   IF(@JobStatusID = 5 AND @HRTypeID = 1)
						   BEGIN

								---Pay per Hire HR Re-opened from ATS---
							EXEC [sproc_Update_Status_For_Reopen_HR]
							@HiringRequestId = @HR_ID,
						    @UpdatedTR	 = @UpdatedTR,
						    @LoggedInUserId	 = @UserID,   
						    @ActionDoneBy = 2,
						    @SSOUserId = @UserID

						   END

						   ------- IF job paused then add history action (18-June-2024)------------
						   IF(@JobSubStatusID = 7)
						   BEGIN
							EXEC sproc_HiringRequest_History_Insert @Action = 'HR_Paused', @HiringRequest_ID = @HR_ID,
								 @Talent_ID = 0, @Created_From = 0,@CreatedById = @UserID, @ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
								 @HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0, @IsManagedByTalent = 0, @SalesUserID = @SalesUserID,
								 @OldSalesUserID = 0, @AppActionDoneBy = 2
						   END

						   print @JobSubStatusID

						   Update gen_SalesHiringRequest
							set    JobStatusID = @JobStatusID,	
								   Status_ID = @JobSubStatusID,
								   LastModifiedByID = @UserID,
								   LastModifiedDatetime = Convert(datetime,@ActionDate,120),
								   LastActivityDate = Convert(datetime,@ActionDate,120)
							Where  ID = @HR_ID

						   Update gen_salesHiringRequest_Details
							set    RoleStatus_ID = case when Isnull(@HR_RoleStatus,0) = 0 then 1 else @HR_RoleStatus end
							where  HiringRequest_ID = @HR_ID
							
					END
		END		
END

