USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_Get_ContactPointofContact]    Script Date: 19-07-2024 14:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_Get_ContactPointofContact]
	@Contact_Id				bigint = null
AS
BEGIN

	DECLARE @CompanyID BIGINT = NULL, @POCID BIGINT = NULL
	SELECT @CompanyID = CompanyId FROM gen_Contact WITH(NOLOCK) WHERE ID = @Contact_Id	

	--SELECT @POCID

	--Added Jimit 03-06-24 UTS-7505 point no 4
	IF Exists(Select 1
				from   gen_SalesHiringRequest H WITH(NOLOCK) 
					   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
				Where  c.CompanyID = @CompanyID)
			BEGIN
					Select top 1 @POCID = Isnull(H.SalesUserID,0)
					from   gen_SalesHiringRequest H WITH(NOLOCK) 
						   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
					Where  c.CompanyID = @CompanyID
					Order by H.ID desc

					
			END

		--SELECT @POCID

		IF @POCID = 0
			BEGIN

					SELECT @POCID = Isnull(AM_SalesPersonID,Isnull(NBD_SalesPersonID,0)) from gen_Company WITH(NOLOCK) where ID = @CompanyID
					--Declare  @DCSalesEmpID as Nvarchar(20) = null
					--select @DCSalesEmpID = [Value] from gen_SystemConfiguration WITH(NOLOCK) where [Key] = 'ClientFrontEndPayPerHRPOC'
					--Select @POCID = ID from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID

			END
	
		SELECT	top 1	usr.ID,@Contact_Id as ContactID,usr.ID as User_ID, usr.FullName, usr.EmailID, usr.ContactNumber,
				Isnull(usr.Designation,'') Designation
		FROM	usr_User usr WITH(NOLOCK)
		WHERE   usr.ID = @POCID
		order by usr.UserTypeID

	
	
	
	--Commented Jimit 03-06-24 Remove Old Logic and Apply UTS-7505 point no4.
	--SELECT TOP 1 @POCID = User_ID FROM gen_ContactPointofContact WITH(NOLOCK) WHERE ContactID = @Contact_Id

	--IF(ISNULL(@POCID, 0) <> 0)
	--BEGIN
	--	SELECT top 1 POC.ID,POC.ContactID,POC.User_ID, usr.FullName, usr.EmailID, usr.ContactNumber,Isnull(usr.Designation,'') Designation
	--	FROM gen_ContactPointofContact POC WITH(NOLOCK) inner join usr_User usr WITH(NOLOCK) ON POC.[User_ID]= usr.ID

	--	WHERE  ContactID = @Contact_Id -- usr.UserTypeID = 5 AND
	--	order by usr.UserTypeID
	--END
	--ELSE
	--BEGIN
	--	SELECT @CompanyID = CompanyId FROM gen_Contact WITH(NOLOCK) WHERE ID = @Contact_Id

	--	SELECT top 1 POC.ID,POC.ContactID,POC.User_ID, usr.FullName, usr.EmailID, usr.ContactNumber,Isnull(usr.Designation,'') Designation
	--	FROM gen_ContactPointofContact POC WITH(NOLOCK) inner join usr_User usr WITH(NOLOCK) ON POC.[User_ID]= usr.ID

	--	WHERE  Company_ID = @CompanyID
	--	order by usr.UserTypeID
	--END

END

