ALTER PROCEDURE [dbo].[Sproc_UTS_UpdateHRActive_BasedonQty]
@HR_ID					AS BIGINT = 0,
@Talent_ID				AS BIGINT = 0,
@CreatedModifiedId		AS INT	  = NULL
AS
BEGIN

        DECLARE @NoofTalent as int =0
		DECLARE @TotalTalents as int =0
		DECLARE @TotalextraTalents as int =0
		DECLARE @HR_StatusID as int =0
		

		SELECT @NoofTalent = isnull(NoofTalents,0), @HR_StatusID = Status_ID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HR_ID

		IF(@HR_StatusID =3)
		BEGIN
		        print '@HR_StatusID : '+ cast( @HR_StatusID AS nvarchar(50))

				SELECT @TotalTalents = Count(1)  FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HR_ID  AND TalentStatusID_BasedOnHR in (4,10)
				SELECT @TotalextraTalents = Count(1)  FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HR_ID  AND TalentStatusID_BasedOnHR  = 5
		
				--if(@NoofTalent >0  AND @TotalTalents >0 )
				--BEGIN
				--	IF(@NoofTalent <> @TotalTalents)
				--	BEGIN
				--		update gen_SalesHiringRequest SET Status_ID = 2 ,LastModifiedDatetime = GETDATE() , JobStatusID = 1 , LastActivityDate = GETDATE() WHERE ID = @HR_ID 
				--		update gen_SalesHiringRequest_Details SET RoleStatus_ID = 4 ,LastModifiedDatetime = GETDATE()   WHERE HiringRequest_ID = @HR_ID
				--	END
				--END		

				IF(@NoofTalent <> @TotalTalents)
					BEGIN
						update gen_SalesHiringRequest SET Status_ID = 2 ,LastModifiedDatetime = GETDATE() , JobStatusID = 5 , LastActivityDate = GETDATE() WHERE ID = @HR_ID 
						update gen_SalesHiringRequest_Details SET RoleStatus_ID = 4 ,LastModifiedDatetime = GETDATE()   WHERE HiringRequest_ID = @HR_ID
					END
		
				IF(@TotalextraTalents>0 )
				BEGIN
					
					update CTP SET CTP.TalentStatusID_BasedOnHR = 2 ,
									RejectReasonID = NULL,
									OtherRejectReason = NULL   
					From gen_ContactTalentPriority CTP 
			
					WHERE CTP.HiringRequestID = @HR_ID AND CTP.TalentStatusID_BasedOnHR =5
						

				END

		END 

		

END