ALTER PROCEDURE [dbo].[Sproc_InsertBookSlot]
@ContactID					as bigint = NULL,
@CreatedByID				as int = NULL,
@HiringRequest_Detail_ID	as bigint = NULL,
@HiringRequest_ID			as bigint = NULL,
--@InterviewSlot			AS nvarchar(50) = NULL,
@ScheduledOn1				AS datetime = NULL,	
@ScheduledOn2				AS datetime = NULL,
@ScheduledOn3				AS datetime = NULL,
@Interview_StartTime1		as time = NULL,
@Interview_StartTime2		as time = NULL,
@Interview_StartTime3		as time = NULL,
@Interview_EndTime1			as time = NULL,
@Interview_EndTime2			as time = NULL,
@Interview_EndTime3			as time = NULL,
@TimeZone_ID				as int = NULL,
@Talent_ID					as bigint = NULL,
@Status_ID					as int = NULL,
@AnotherRoundID				as bigint = NULL,
@AdditionalNotes			as nvarchar = null,
@ZoominterviewLink          as Nvarchar = null

AS
-- Add Check for same time slot allocated to other Talent (Modified By - Reena Jain 28-Oct-2021)
BEGIN
declare @SlotAlreadyExist bit = 0;
declare @ErrorMessage nvarchar(500) = '';

SELECT TOP 1 @HiringRequest_Detail_ID = ID FROM gen_SalesHiringRequest_Details WITH(NOLOCK) WHERE HiringRequest_ID = @HiringRequest_ID

IF EXISTS(
SELECT 1 FROM gen_ShortlistedTalent_InterviewDetails STI WITH(NOLOCK) inner join gen_InterviewSlotsMaster M WITH(NOLOCK)
ON STI.InterviewMaster_ID = M.ID
WHERE M.InterviewStatus_ID in (1,4,5,8) AND STI.Status_ID in (1,4,5,8)
AND STI.HiringRequest_ID = @HiringRequest_ID  
AND STI.HiringRequest_Detail_ID = @HiringRequest_Detail_ID 
AND STI.Talent_ID = @Talent_ID 
AND ScheduledOn =@ScheduledOn1 
AND Interview_StartTime = @Interview_StartTime1
AND Interview_EndTime = @Interview_EndTime1)
BEGIN
	print '1'
	SET @SlotAlreadyExist = 1;
	SET @ErrorMessage = ' Slot '+    CONVERT(nvarchar(30), @Interview_StartTime1, 108)   + '-' +  CONVERT(nvarchar(30), @Interview_EndTime1, 108)  + ' on ' +    CONVERT(nvarchar(30), @ScheduledOn1, 103)+' is already allocated.'
END

IF EXISTS(
SELECT 1 FROM gen_ShortlistedTalent_InterviewDetails STI WITH(NOLOCK) inner join gen_InterviewSlotsMaster M WITH(NOLOCK)
ON STI.InterviewMaster_ID = M.ID
WHERE M.InterviewStatus_ID in (1,4,5,8) AND STI.Status_ID in (1,4,5,8)
AND STI.HiringRequest_ID = @HiringRequest_ID  
AND STI.HiringRequest_Detail_ID = @HiringRequest_Detail_ID 
AND STI.Talent_ID = @Talent_ID 
AND ScheduledOn =@ScheduledOn2 
AND Interview_StartTime = @Interview_StartTime2
AND Interview_EndTime = @Interview_EndTime2)
BEGIN
	print '2'
	SET @SlotAlreadyExist = 1;
	SET @ErrorMessage = @ErrorMessage+CHAR(10)+' Slot '+    CONVERT(nvarchar(30), @Interview_StartTime2, 108)   + '-' +  CONVERT(nvarchar(30), @Interview_EndTime2, 108)  + ' on ' +    CONVERT(nvarchar(30), @ScheduledOn2, 103)+' is already allocated.'
END

IF EXISTS(
SELECT 1 FROM gen_ShortlistedTalent_InterviewDetails  STI WITH(NOLOCK) inner join gen_InterviewSlotsMaster M WITH(NOLOCK)
ON STI.InterviewMaster_ID = M.ID
WHERE M.InterviewStatus_ID in (1,4,5,8) AND STI.Status_ID in (1,4,5,8)
AND STI.HiringRequest_ID = @HiringRequest_ID  
AND STI.HiringRequest_Detail_ID = @HiringRequest_Detail_ID 
AND STI.Talent_ID = @Talent_ID 
AND ScheduledOn =@ScheduledOn3
AND Interview_StartTime = @Interview_StartTime3
AND Interview_EndTime = @Interview_EndTime3)
BEGIN
	print '3'
	SET @SlotAlreadyExist = 1;
	SET @ErrorMessage = @ErrorMessage+CHAR(10) + ' Slot '+    CONVERT(nvarchar(30), @Interview_StartTime3, 108)   + '-' +  CONVERT(nvarchar(30), @Interview_EndTime3, 108)  + ' on ' +    CONVERT(nvarchar(30), @ScheduledOn3, 103)+' is already allocated.'
END

IF(@SlotAlreadyExist = 1)
	BEGIN
		SELECT 0 As ID,@ErrorMessage AS ReturnMessage
	END
ELSE
BEGIN		--- Save only 3 slots for perticular HR for the Talent 

        print 'Else'

		DECLARE @ID					AS INT = 0
		DECLARE @MasterID			AS BIGINT =0
		DECLARE @GUID				AS NVARCHAR(50) =''
		DECLARE @ReturnMessage		AS NVARCHAR(500) =''

		SET @GUID = NEWID()
		
		Select ScheduledOn,ContactID ,HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID into #TempCheck from gen_ShortlistedTalent_InterviewDetails with(nolock) 
		where  Status_ID not in( 1,3) AND HiringRequest_ID = @HiringRequest_ID  AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID 
		AND (ScheduledOn =@ScheduledOn1 OR ScheduledOn =@ScheduledOn2 OR ScheduledOn =@ScheduledOn3)	

		--IF(Select count(1) from gen_ShortlistedTalent_InterviewDetails with(nolock) where  Status_ID = 1 AND HiringRequest_ID = @HiringRequest_ID  AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID 
		--AND (ScheduledOn =@ScheduledOn1 OR ScheduledOn =@ScheduledOn2 OR ScheduledOn =@ScheduledOn3) ) =0
		IF(Select count(1) from #TempCheck) =0
			BEGIN
					-- Insert Data for "Slot 1"
					IF(isnull(@ScheduledOn1,'') <> '')
					BEGIN
							INSERT INTO [dbo].[gen_InterviewSlotsMaster]
											   (
											    [HiringRequest_ID]
											   ,[HiringRequest_Detail_ID]
											   ,[ContactID]
											   ,[Talent_ID]
											   ,[GUID]
											   ,[InterviewStatus_ID]
											   ,[CreatedByID]
											   ,[CreatedByDatetime])

								SELECT			@HiringRequest_ID
											  , @HiringRequest_Detail_ID
											  , @ContactID
											  , @Talent_ID
											  , @GUID
											  ,	1
											  , @ContactID
											  , GETDATE()
								SET @MasterID = @@IDENTITY

					END

					print '@MasterID : ' + cast(@MasterID AS nvarchar(50))
					-- Insert Data for "Slot 1"
						INSERT INTO gen_ShortlistedTalent_InterviewDetails (ContactID,CreatedByDatetime,CreatedByID,HiringRequest_Detail_ID,HiringRequest_ID,InterviewSlot,ScheduledOn,Interview_StartTime,Interview_EndTime,TimeZone_ID,Talent_ID,Status_ID,NextRound_ID,InterviewMaster_ID)
						VALUES(@ContactID,GETDATE(),@CreatedByID,@HiringRequest_Detail_ID,@HiringRequest_ID,'Slot1',@ScheduledOn1,@Interview_StartTime1,@Interview_EndTime1,@TimeZone_ID,@Talent_ID,@Status_ID,@AnotherRoundID,@MasterID)

					-- Insert Data for "Slot 2"

					    INSERT INTO gen_ShortlistedTalent_InterviewDetails (ContactID,CreatedByDatetime,CreatedByID,HiringRequest_Detail_ID,HiringRequest_ID,InterviewSlot,ScheduledOn,Interview_StartTime,Interview_EndTime,TimeZone_ID,Talent_ID,Status_ID,NextRound_ID,InterviewMaster_ID)
						VALUES(@ContactID,GETDATE(),@CreatedByID,@HiringRequest_Detail_ID,@HiringRequest_ID,'Slot2',@ScheduledOn2,@Interview_StartTime2,@Interview_EndTime2,@TimeZone_ID,@Talent_ID,@Status_ID,@AnotherRoundID,@MasterID)


					-- Insert Data for "Slot 3"

					    INSERT INTO gen_ShortlistedTalent_InterviewDetails (ContactID,CreatedByDatetime,CreatedByID,HiringRequest_Detail_ID,HiringRequest_ID,InterviewSlot,ScheduledOn,Interview_StartTime,Interview_EndTime,TimeZone_ID,Talent_ID,Status_ID,NextRound_ID,InterviewMaster_ID)
						VALUES(@ContactID,GETDATE(),@CreatedByID,@HiringRequest_Detail_ID,@HiringRequest_ID,'Slot3',@ScheduledOn3,@Interview_StartTime3,@Interview_EndTime3,@TimeZone_ID,@Talent_ID,@Status_ID,@AnotherRoundID,@MasterID)
			  
			            SET @ID = @@IDENTITY

						Declare @InterviewIRound  int = 0

						Declare @TalentSelected_Interview_ID bigint = 0

					      --Make default entry for 
						  IF(@AnotherRoundID>0)
						  BEGIN
						        print '@AnotherRoundID : '+ cast(@AnotherRoundID AS nvarchar(50))

								Declare @SlotOption varchar(50) = ''
								Declare @Shortlisted_InterviewID  bigint = 0

								select top 1 @Shortlisted_InterviewID =isnull(Shortlisted_InterviewID,0), @SlotOption =isnull(SlotGiven,''),@InterviewIRound= isnull(InterviewRound,0) from gen_TalentSelected_NextRound_InterviewDetails WITH(NOLOCK) where HiringRequest_ID = @HiringRequest_ID AND ContactID = @ContactID AND ID = @AnotherRoundID
								

							   ---Update gen_ContactInterviewFeedback when IsNextroundDetailsSubmitted is null
							   if(len(@SlotOption) >0)
							   begin 
									update	CF  
									SET		CF.IsNextroundDetailsSubmitted = 1		
									FROM	gen_ContactInterviewFeedback CF
									INNER JOIN gen_ShortlistedTalent_InterviewDetails IntSlot WITH(NOLOCK) ON IntSlot.ID = CF.Shortlisted_InterviewID
									where	isnull(IsNextroundDetailsSubmitted,0) =0 and  CF.ContactID = @ContactID
								end
								
								------- ENded -----

							
						  END
						  ELSE
						  BEGIN
								SET @InterviewIRound = @InterviewIRound + 1  --set increment with 1 for next round  03-03-2022 for 966 bugherd issue added by jimit after discussion with mam.
						  END
						
						  --END of Another round ID

						  ----Payal (10-02-2022) : insert gen_TalentSelected_InterviewDetails Default entry for all rounds
						  ---Remove from default entry and add here for selected interview details
								IF(Select count(1) from gen_TalentSelected_InterviewDetails with(nolock) where  
									HiringRequest_ID = @HiringRequest_ID AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND ContactID =  @ContactID AND Talent_ID = @Talent_ID AND Shortlisted_InterviewID is null) =0 
								BEGIN
										INSERT INTO gen_TalentSelected_InterviewDetails(HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID,ContactID,Contact_TimeZone_ID																					
																						,CreatedByID,CreatedByDatetime,IsConfirmed,Status_ID
																						,InterviewRound,InterviewRoundStr
																						,InterviewMaster_ID,AdditionalNotes,Zoom_InterviewLink)

																				Values (@HiringRequest_ID,@HiringRequest_Detail_ID,@Talent_ID,@ContactID,@TimeZone_ID																				 
																						,@CreatedByID,GEtdate(),0,1
																						,case when  @InterviewIRound =0 then 1 else @InterviewIRound end
																						,case when  @InterviewIRound =0 then 'Round 1' else 'Round '+ cast(@InterviewIRound as nvarchar(10)) end
																						,@MasterID,isnull(@AdditionalNotes,''),isnull(@ZoominterviewLink,''))	
										SET @TalentSelected_Interview_ID = @@IDENTITY
										
										

					
								END

						----Payal (22-02-2022) : insert interviewer details for each round with Master Interview ID
						----Payal (10-02-2022) : insert interviewer
						----Insert Interviewer details for first round of HR
			            --IF(@TalentSelected_Interview_ID>0)
						IF(Select count(1) from gen_TalentSelected_InterviewerDetails WITH(NOLOCK) WHERE InterviewMaster_ID =  @MasterID) =0
						BEGIN
											INSERT 
											INTO	gen_TalentSelected_InterviewerDetails
													(HiringRequest_ID,HiringRequest_Detail_ID,ContactID,Talent_ID,
													NextRound_ID,Interviewer_ID,TalentSelected_Interview_ID
													,InterviewMaster_ID)

											select  @HiringRequest_ID,@HiringRequest_Detail_ID,@ContactID,@Talent_ID,
													case when  @InterviewIRound =0 then 1 else @InterviewIRound end,
													SInterviewer.ID,@TalentSelected_Interview_ID
													,@MasterID
											From	gen_SalesHiringRequest_InterviewerDetails SInterviewer WITH(NOLOCK)																						
											where	SInterviewer.HiringRequest_ID = @HiringRequest_ID 
													AND SInterviewer.HiringRequest_Detail_ID = @HiringRequest_Detail_ID
						END

						----Payal (05-01-2022) : update InterviewRound_Count & InterviewRound_Str in gen_InterviewSlotsMaster
						update gen_InterviewSlotsMaster 
													SET InterviewRound_Count = case when  @InterviewIRound =0 then 1 else @InterviewIRound end,
														InterviewRound_Str =  case when  @InterviewIRound =0 then 'Round 1' else 'Round '+ cast(@InterviewIRound as nvarchar(10)) end  
						where ID = @MasterID


						

			   
			  END

		ELSE
		BEGIN
				SELECT @ReturnMessage = (STUFF(( select ','+ CONVERT(varchar(200), ISNULL(ScheduledOn, ''), 101) from  #TempCheck WITH(NOLOCK) For XML Path('')),1,1,'')) + ' slot(s) already used. Please select another slot.'
		END

		exec sproc_Update_ShortlistedTalent_InterviewDetails_ISTTime

		drop table #TempCheck

		SELECT @ID As ID,@ReturnMessage AS ReturnMessage
END
END
