

ALTER PROCEDURE [dbo].[sproc_UTS_GetCompanyDetails]	@CompanyID			bigint = NULLASBEGIN				SELECT 			GC.ID,			ISNULL(GC.Company,'') CompanyName,			ISNULL(GC.Website,'') as Website ,			ISNULL(GC.LinkedInProfile,'') as LinkedInProfile,			ISNULL(GC.CompanySize,0) as CompanySize,			ISNULL(GC.Location,'') as Location,			ISNULL(GC.phone,'') as Phone,			ISNULL(GC.city,'') as City,			ISNULL(GC.State,'') as State,			ISNULL(GC.Country,'') as Country,			ISNULL(GC.zip,'') as Zip,			ISNULL(GC.Address,'') as [Address],			ISNULL(GC.GEO_ID,0) as GEO_ID,			ISNULL(GC.TeamManagement,0) as TeamManagement,			ISNULL(GC.CompanyLogo,'clientdefaultimage.png') as CompanyLogo,			ISNULL(GC.Lead_Type,'') as LeadType,			ISNULL(LT.LeadType_UserID,0) as LeadUserID,			ISNULL(GC.about_Company_desc,'') AS AboutCompanyDesc		from gen_company GC WITH(NOLOCK)		left join gen_CompanyLeadType_UserDetails LT WITH(NOLOCK) ON LT.CompanyID = GC.ID		WHERE GC.ID = @CompanyID AND GC.HubSpot_Company IS NOT NULLEND