ALTER Procedure [dbo].[sproc_Get_TalentBackout_Report]
	@PageIndex			INT = 1,  
	@PageSize			INT = 50,  
	@SortExpression		NVARCHAR(100) = 'CreatedDateTime',  
	@SortDirection		NVARCHAR(100) = 'desc',	
	@FromDate			NVARCHAR(20) = '',
	@Todate				NVARCHAR(20) = '',
	@searchText			NVARCHAR(200) = ''
as
begin

		DECLARE @WhereClauseSQL nvarchar(max) = '';		
		DECLARE @MainSQL nvarchar(max) = '';
		DECLARE @TmpDBSQL nvarchar(max) = '';
		
		IF OBJECT_ID('tempdb..#TempTable_HrStatus') Is not null
			DROP TABLE #TempTable_HrStatus
			

		CREATE TABLE #TempTable_HrStatus (
			HRID		BIGINT,
			HR_Number	NVARCHAR(100),
			HRStatus    NVARCHAR(100),
			HRStatusCode INT
		);
		INSERT INTO #TempTable_HrStatus(HRID, HR_Number, HRStatus, HRStatusCode)
		EXEC Sproc_UTS_Get_HRStatus @HRID = null	
	
		
		;WITH CTE_TalentBackout AS 
					(
						select		HRID = H.ID
									,H.HR_Number
									,Company = isnull(CO.Company,'')
						            ,Client = ISnull(C.FullName,'') + ISnull(C.EmailID,'')
						            ,JobTitle = H.RequestForTalent
									,Talent = T.Name
									,CTP.RejectReasonID
									,RejectedReason = isnull(R.Reason,'') 
									,PR = ISNULL(CTP.TalentCost,0)
									,BR = CASE when isnull(CTP.DPAmount,0) >0  then isnull(CTP.DPAmount,0) when isnull(CTP.Final_HR_Cost,0) > 0 then Final_HR_Cost else 0 END
									,UplersNRDP = CASE when isnull(CTP.NRPercentage,0) > 0 then NRPercentage when isnull(CTP.DP_Percentage,0) >0  then isnull(CTP.DP_Percentage,0) else 0 END									
									,HRStatus = ISNULL(TS.HRStatus, JS.JobStatus)
									,[CreatedDateTime] = ISNULL(History1.CreatedByDatetime,History.CreatedByDatetime)							
									,TotalCount = 1
									,SalesUser = US.FullName
									,ActionID = History.Action_ID
																											
						From		gen_ContactTalentPriority CTP WITH(NOLOCK) 									
									inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = CTP.HiringRequestID									
									inner join gen_Talent T WITH(NOLOCK) ON T.ID = CTP.TalentID
									inner join gen_History History WITH(NOLOCK) ON History.HiringRequest_ID = H.ID 
									AND  History.Talent_ID = CTP.TalentID 
									AND History.Action_ID = 12
									inner join gen_History History1 WITH(NOLOCK) ON History1.HiringRequest_ID = H.ID 
									AND  History1.Talent_ID = CTP.TalentID 
									AND History1.Action_ID = 22 
									inner join gen_Contact C WITH(NOLOCK) ON C.ID = CTP.ContactID
									inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
									inner join prg_TalentRejectReason R WITH(NOLOCK) ON R.ID = CTP.RejectReasonID
									INNER JOIN #TempTable_HrStatus TS WITH(NOLOCK) ON TS.HRID = H.ID 
									INNER JOIN prg_JobStatus_ClientPortal JS WITH(NOLOCK) ON JS.ID = H.JobStatusID
									INNER JOIN usr_User US WITH(NOLOCK) ON US.ID = H.SalesUserID

						Where      History.Action_ID in( 12,22) AND  Cast(History.CreatedByDatetime as Date) between CAST(@FromDate as DATE) and CAST(@ToDate as date)
					)
		,Cte_ViewAllHRTotalCount AS(
									Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_TalentBackout 
							)
		
		SELECT	HRID,HR_Number,Company,Client,JobTitle,Talent,RejectReasonID,RejectedReason,PR,BR,UplersNRDP,HRStatus
						,CASE WHEN U.CreatedDateTime ='' then '' else CONVERT(varchar, ISNULL(U.CreatedDateTime, ''), 103) 
						--+ ' '  + convert(VARCHAR(8), U.CreatedDateTime, 14) 
						end  CreatedDateTime
						,CAST(TotalRecords	AS BIGINT) AS TotalRecords
						,SalesUser
						,ActionID
						INTO	#AllRecords_ViewAllHR
						FROM	CTE_TalentBackout U 
								INNER JOIN Cte_ViewAllHRTotalCount T on T.TotalCountID = U.TotalCount	
							    AND  (
										U.HR_Number LIKE '%' + @SearchText + '%'
										OR U.JobTitle LIKE '%' + @SearchText + '%' 
										OR U.Company LIKE '%' + @SearchText + '%' 
										OR U.Client LIKE '%' + @SearchText + '%' 
										OR U.HRStatus LIKE '%' + @SearchText + '%'
										OR U.RejectedReason LIKE '%' + @SearchText + '%'
									)	
			SET @MainSQL = 'select  *
							FROM    #AllRecords_ViewAllHR';

	
			IF @TmpDBSQL <> ''
				BEGIN
					SET @MainSQL = @TmpDBSQL + @MainSQL								
				END

			
		

			IF @SortExpression = 'CreatedDateTime '
				BEGIN
					SET @MainSQL += ' ORDER BY CONVERT(datetime,' + @SortExpression + ',103) ' + @SortDirection							
				END
			ELSE 
				SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

			IF(@PageSize>0)
				BEGIN
					SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
											FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
				END 
	
			
			EXECUTE sp_executesql @MainSQL


end