ALTER PROCEDURE [dbo].[Sproc_SelfSignUpUserWithoutJobPost_ClientPortal]
@EmailType INT = 1
AS
BEGIN
		
	DECLARE @Companys TABLE
	(
		CompanyID BIGINT,
		Company NVARCHAR(MAX),
		CreatedByDateTime DATETIME,
		ContactEmail NVARCHAR(MAX),
		ContactName NVARCHAR(MAX),
		ContactID BIGINT
	)

	IF(@EmailType = 1)
	BEGIN
		--- Fetch all the clients who have done self signup and not posted the job in 24 hrs
		INSERT INTO @Companys 
		(
			CompanyID,
			Company,
			CreatedByDateTime,
			ContactEmail,
			ContactName,
			ContactID

		)
		select CO.ID, Company, CO.CreatedByDateTime	
		,C.EmailID, C.FullName, C.ID
		from gen_company CO with(nolock) 
		INNER JOIN gen_Contact C WITH(NOLOCK) ON CO.ID = C.CompanyID AND IsPrimary = 1
		LEFT JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ContactID = C.ID
		LEFT JOIN gen_NurtureEmail_Logs NL WITH(NOLOCK) ON NL.ClientID = C.ID
		where CO.IsfromSignup = 1 AND DATEDIFF(hour,CO.CreatedByDatetime,GETDATE()) >= 24 AND ISNULL(HR.ID,0) = 0 
		AND ISNULL(NL.EmailSentCount,0) = 0
		order by CO.id desc

	END

	IF(@EmailType = 2)
	BEGIN
		--- Fetch all the clients who have done self signup and not posted the job in 24 hrs
		INSERT INTO @Companys 
		(
			CompanyID,
			Company,
			CreatedByDateTime,
			ContactEmail,
			ContactName,
			ContactID

		)
		select CO.ID, Company, CO.CreatedByDateTime	
		,C.EmailID, C.FullName, C.ID
		from gen_company CO with(nolock) 
		INNER JOIN gen_Contact C WITH(NOLOCK) ON CO.ID = C.CompanyID AND IsPrimary = 1
		LEFT JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HR.ContactID = C.ID
		LEFT JOIN gen_NurtureEmail_Logs NL WITH(NOLOCK) ON NL.ClientID = C.ID
		where CO.IsfromSignup = 1 AND DATEDIFF(hour,CO.CreatedByDatetime,GETDATE()) >= 48 AND ISNULL(HR.ID,0) = 0 
		AND ISNULL(NL.EmailSentCount,0) = 1
		order by CO.id desc

	END
		
	
	SELECT * FROM @Companys

	--SELECT DATEDIFF(hour, '2017/08/25 07:00', '2017/08/25 12:45') AS DateDiff;

END
	
