create procedure sproc_SelectUpdate_UtsAtsApiRecord
@ID bigint = null,
@IsUpdate bit = null,
@ResponseReceived nvarchar(max)  = null
as
begin
	if @IsUpdate=1
		BEGIN
			update gen_UtsAtsApi_Records set ResponseReceived=@ResponseReceived where id=@ID
		END
	else
		BEGIN
			select top 20 ID,ToApiUrl,PayloadToSend from gen_UtsAtsApi_Records with(nolock) where cast(CreatedByDateTime as date)=cast(getdate() as date)  
			and toapiurl!='http://3.218.6.134:83/CommonAPI/AtsHrStatusTalentWise' and ResponseReceived  is  null order by ID 
		END
end