ALTER PROCEDURE [dbo].[sproc_Get_ChatGPT_Response_For_UrlParsing_List] 
	@PageIndex				INT = 1,
	@PageSize				INT = 80,
	@SortExpression			nvarchar(100) = 'CreatedDateTime',
	@SortDirection			nvarchar(100) = 'desc',
	@IsParsingURL			BIT = 0

AS
BEGIN
	
		DECLARE @MainSQL nvarchar(max) = ''
		DECLARE @Total_Records Nvarchar(MAX) 
		DECLARE @WhereClauseSQL nvarchar(max) = '';

		IF @IsParsingURL !=0
		SET @WhereClauseSQL += ' AND ISNULL([ParsingURL],'''') !='''' ';
		print @WhereClauseSQL

			
		;WITH CTE_Records AS (SELECT ParsingURL		= ISNULL([URL],''),
									 ParsingJDText	= ISNULL([JDText],''),
									 Response		= ISNULL([ResponseData],''),
									 CreatedDateTime = CASE WHEN CreatedDateTime ='' then '' else (CONVERT(varchar, ISNULL(CreatedDateTime, ''), 103) + ' '  + convert(VARCHAR(8), CreatedDateTime, 14)) end,
									 AchievedDetails = ISNULL(AchievedDetails,0),
									 GPTPrompt = ISNULL(GPTPrompt, ''),
									    1 AS TotalCountID
							  FROM Gen_GPT_JDResponse with(nolock) 
							)								
							,Cte_TotalCount AS(
									Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
							)
							
							SELECT	U.ParsingURL,U.ParsingJDText,U.Response,U.CreatedDateTime,U.AchievedDetails,T.TotalRecords,U.GPTPrompt
							INTO	#AllRecords_ChatGPTResponse
							FROM	CTE_Records U 
									INNER JOIN Cte_TotalCount T on T.TotalCountID = U.TotalCountID 
													
								
								
		SET @MainSQL = 'select ParsingURL,ParsingJDText,Response,CreatedDateTime,AchievedDetails,TotalRecords,GPTPrompt
								FROM #AllRecords_ChatGPTResponse WHERE 1=1 '+@WhereClauseSQL+' ';

		set   @Total_Records = 'Update #AllRecords_ChatGPTResponse  SET TotalRecords = (select Count(1) from #AllRecords_ChatGPTResponse WHERE 1=1 '+@WhereClauseSQL+'  )'
					
			EXECUTE sp_executesql @Total_Records
		
					
		If @SortExpression = 'CreatedDateTime'
				BEGIN
					SET @MainSQL += ' ORDER BY CONVERT(datetime,' + @SortExpression + ',103) ' + @SortDirection	
								
				END
		ELSe 
			SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection		
						
		IF(@PageSize>0)
			BEGIN
				SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
								FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
			END 
							
		EXECUTE sp_executesql @MainSQL	  					
END