CREATE PROCEDURE [dbo].[sproc_UTS_Update_SalesUserID_LegalOrKickoffDone]
	@Onboard_ID		bigint	= null
AS
BEGIN
		Declare @AM_SalesPersonID  as bigint = 0
		Declare @NBD_SalesPersonID  as bigint = 0
		Declare @ContactID  as bigint =0
		Declare @Company_ID as bigint = 0
		Declare @HID  as bigint = 0
		Declare @HR_SalesPersonID  as bigint = 0
		Declare @UserType  as bit = 0
		Declare @FirstClosure as int = 0;
		Declare @IsPartnershipHR bit = 0;

		Select  @AM_SalesPersonID = CO.AM_SalesPersonID,
		        @NBD_SalesPersonID = CO.NBD_SalesPersonID,
				@ContactID = Obt.ContactID,
				@Company_ID = CO.ID,
				@HR_SalesPersonID = H.SalesUserID,
				@HID = H.ID,
				@IsPartnershipHR = ISNULL(H.IsPartnerHR,0)
		from	gen_OnBoardTalents Obt WITH(NOLOCK)
		        inner join gen_Contact C WITH(NOLOCK) ON Obt.ContactID = C.ID
				inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
				inner join gen_SalesHiringRequest H WITH(NOLOCK) ON C.ID = H.ContactID AND Obt.HiringRequest_ID = H.ID
		where	Obt.ID = @Onboard_ID

		SET @FirstClosure = (select COUNT(1) from gen_OnBoardTalents Obt WITH(NOLOCK)
								inner join gen_Contact C WITH(NOLOCK) ON Obt.ContactID = C.ID
								inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
								inner join gen_SalesHiringRequest H WITH(NOLOCK) ON C.ID = H.ContactID AND Obt.HiringRequest_ID = H.ID
								where CO.ID = @Company_ID);


		IF @IsPartnershipHR = 0
		BEGIN
			-- Payal (26-09-2022) :  Assign AM based AM Assignmnet Rule
			IF(@AM_SalesPersonID >0 AND  @NBD_SalesPersonID >0)
			BEGIN
				print '@AM_SalesPersonID >0'
				Select @UserType = IsNewUser from usr_User with(nolock) where ID = @NBD_SalesPersonID

				print '@UserType '+ cast(@UserType as nvarchar(50))

				if(@UserType = 1)
				begin
					print '@UserType 1 '
						--Added check for Case when No OnBoard Exists for that Company ID whose Legal is not signed Yet.
						if (@FirstClosure = 0)
						begin
							update  OBT
							set     OBT.AM_SalesPersonID = @NBD_SalesPersonID,
									OBT.NBD_SalesPersonID = @NBD_SalesPersonID,
									OBT.SOWCount = 1							
							FROM    gen_OnBoardTalents OBT			
							WHERE   OBT.ID = @Onboard_ID  AND IsNULL(AM_SalesPersonID,0) = 0

							update  H
							set     H.AM_SalesPersonID = @NBD_SalesPersonID,
									H.NBD_SalesPersonID = @NBD_SalesPersonID
							FROM    gen_SalesHiringRequest H			
							WHERE   H.ID = @HID AND H.Status_ID not in(3,4) AND IsNULL(AM_SalesPersonID,0) = 0
						end
						else
						begin
							update  OBT
							set     OBT.AM_SalesPersonID = @AM_SalesPersonID,							
									OBT.SOWCount = 1							
							FROM    gen_OnBoardTalents OBT			
							WHERE   OBT.ID = @Onboard_ID  AND IsNULL(AM_SalesPersonID,0) = 0 

							update  H
							set     H.AM_SalesPersonID = @AM_SalesPersonID							
							FROM    gen_SalesHiringRequest H			
							WHERE   H.ContactID = @ContactID AND H.Status_ID not in(3,4) AND IsNULL(AM_SalesPersonID,0) = 0
						end
					
				end
				else
				begin
					   print '@UserType 0 '
						update  OBT
						set     OBT.AM_SalesPersonID = @AM_SalesPersonID,							
								OBT.SOWCount = 1							
						FROM    gen_OnBoardTalents OBT			
						WHERE   OBT.ID = @Onboard_ID  AND IsNULL(AM_SalesPersonID,0) = 0 

						update  H
						set     H.AM_SalesPersonID = @AM_SalesPersonID							
						FROM    gen_SalesHiringRequest H			
						WHERE   H.ContactID = @ContactID AND H.Status_ID not in(3,4) AND IsNULL(AM_SalesPersonID,0) = 0
				end
			END
			-- Payal (26-09-2022) :  Assign AM based AM Assignmnet Rule
			IF(@AM_SalesPersonID >0 AND  @NBD_SalesPersonID =0)
			BEGIN
					   print '@AM_SalesPersonID >0  AND  @NBD_SalesPersonID =0'			

			
					   print '@UserType 0 '
						update  OBT
						set     OBT.AM_SalesPersonID = @AM_SalesPersonID,							
								OBT.SOWCount = 1							
						FROM    gen_OnBoardTalents OBT			
						WHERE   OBT.ID = @Onboard_ID  AND IsNULL(AM_SalesPersonID,0) = 0 

						update  H
						set     H.AM_SalesPersonID = @AM_SalesPersonID
						FROM    gen_SalesHiringRequest H			
						WHERE   H.ContactID = @ContactID AND H.Status_ID not in(3,4) AND IsNULL(AM_SalesPersonID,0) = 0
			
			END
			-- Payal (24-09-2022) :  Assign AM based AM Assignmnet Rule
			ELSE
			BEGIN
				 print 'Else'
				 print '@AM_SalesPersonID =0'
				IF(Select count(1) from  gen_Esales_AM_API_Response WITH(NOLOCK) WHERE CompanyID = @Company_ID AND OnBoardID = @Onboard_ID ) = 1
				BEGIN
						print 'Select count(1) from  gen_Esales_AM_API_Response WITH(NOLOCK) WHERE CompanyID = @Company_ID AND OnBoardID = @Onboard_ID'
						update  OBT
						set     OBT.AM_SalesPersonID = @NBD_SalesPersonID,
								OBT.NBD_SalesPersonID = @NBD_SalesPersonID,
								OBT.SOWCount = 1
						FROM    gen_OnBoardTalents OBT			
						WHERE   OBT.ID = @Onboard_ID  AND IsNULL(AM_SalesPersonID,0) = 0

						update  H
						set     H.AM_SalesPersonID = @AM_SalesPersonID
						FROM    gen_SalesHiringRequest H	
								inner join 	gen_OnBoardTalents OBT WITH(NOLOCK)	ON OBT.HiringRequest_ID = OBT.ID
						WHERE   OBT.ID = @Onboard_ID AND IsNULL(H.AM_SalesPersonID,0) = 0
				END
				ELSE IF(@NBD_SalesPersonID >0)
				BEGIN
				
						print '@NBD_SalesPersonID >0'
						update  OBT
						set     OBT.AM_SalesPersonID = @NBD_SalesPersonID,
								OBT.NBD_SalesPersonID = @NBD_SalesPersonID,
								OBT.SOWCount = 1
						FROM    gen_OnBoardTalents OBT			
						WHERE   OBT.ID = @Onboard_ID  AND IsNULL(AM_SalesPersonID,0) = 0

						update  H
						set     H.AM_SalesPersonID = @AM_SalesPersonID
						FROM    gen_SalesHiringRequest H	
								inner join 	gen_OnBoardTalents OBT WITH(NOLOCK)	ON OBT.HiringRequest_ID = OBT.ID
						WHERE   OBT.ID = @Onboard_ID AND IsNULL(H.AM_SalesPersonID,0) = 0
				END
				ELSE IF(@HR_SalesPersonID >0)
				BEGIN
						print '@HR_SalesPersonID >0'
						update  C
						set     C.AM_SalesPersonID = @HR_SalesPersonID	
						FROM    gen_Company C			
						WHERE   C.ID = @Company_ID  AND IsNULL(AM_SalesPersonID,0) = 0

						update  OBT
						set     OBT.AM_SalesPersonID = @HR_SalesPersonID,							
								OBT.SOWCount = 1
						FROM    gen_OnBoardTalents OBT			
						WHERE   OBT.ID = @Onboard_ID  AND IsNULL(AM_SalesPersonID,0) = 0

						update  H
						set     H.AM_SalesPersonID = @AM_SalesPersonID
						FROM    gen_SalesHiringRequest H	
								inner join 	gen_OnBoardTalents OBT WITH(NOLOCK)	ON OBT.HiringRequest_ID = OBT.ID
						WHERE   OBT.ID = @Onboard_ID AND IsNULL(H.AM_SalesPersonID,0) = 0

				END
			
			END
		END
		ELSE
		BEGIN
			--If Partnership HR is true, then assign NBD.
			update  OBT
			set     OBT.AM_SalesPersonID = @NBD_SalesPersonID,
					OBT.NBD_SalesPersonID = @NBD_SalesPersonID,
					OBT.SOWCount = 1							
			FROM    gen_OnBoardTalents OBT			
			WHERE   OBT.ID = @Onboard_ID;
		END
	
END