USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_User_For_TSCAutoAssignment_BasedOnRoundRobin]    Script Date: 8/18/2023 6:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Get_User_For_TSCAutoAssignment_BasedOnRoundRobin]
 @OnBoardId BIGINT = NULL,--10559
 @LoggedInUserID BIGINT = NULL--4
AS
BEGIN		
		
	DECLARE @TotalTSCUserCount INT;
	DECLARE @TotalOnBoardTalentCount BIGINT;
	DECLARE @Priotity INT;
	DECLARE @UserId BIGINT;
	
	SELECT @TotalTSCUserCount = COUNT(UserId) FROM gen_TSCUsers (NOLOCK) WHERE IsActive = 1
	
	SELECT @TotalOnBoardTalentCount = COUNT(TSC_PersonId) 
	FROM gen_OnBoardTalents (NOLOCK) WHERE isnull(TSC_PersonId,0) >0 

	SET @Priotity =  ((@TotalOnBoardTalentCount / 60) % @TotalTSCUserCount) + 1
	
	--SELECT @Priotity
	
	SELECT top 1 @UserId = UserId FROM gen_TSCUsers (NOLOCK) WHERE [Priority] = @Priotity
	
	--Update gen_OnBoardTalents table--
	UPDATE gen_OnBoardTalents
	SET TSC_PersonId = @UserId,
	LastModifiedById = @LoggedInUserID,
	LastModifiedDateTime = GETDATE()
	WHERE Id = @OnBoardId
	
	--Update gen_Payout_Information table--
	UPDATE gen_Payout_Information
	SET TSC_PersonId = @UserId,
	LastModifiedById = @LoggedInUserID,
	LastModifiedDateTime = GETDATE()
	WHERE OnBoardId = @OnBoardId AND month(ClientInvoiceDate) >= month(getdate()) AND Year(ClientInvoiceDate) >= Year(getdate())
END
