ALTER PROC [dbo].[Sproc_Get_Client_Trcking_Details_ClientPortal]
	@SELECTS		BIT = 0,
	@UpdateGUID		Nvarchar(50) = ''
AS
BEGIN
		IF(@SELECTS=0)
			BEGIN
				
				DECLARE @GUID NVARCHAR(50) = ''

				SET @GUID = NEWID()

			    ;WITH CTE_HRDetails 
				AS (
						SELECT  CH.ID AS HistoryID, CH.HIRINGREQUEST_ID, SHR.HR_Number,CH.ClientID,isnull(GCON.FullName,'') AS FullName,GCON.EmailID, '' AS GUID,GCOM.Company
						FROM	GEN_CONTACTHISTORY CH  WITH(NOLOCK)
								INNER JOIN GEN_SALESHIRINGREQUEST SHR WITH(NOLOCK) ON SHR.ID=CH.HIRINGREQUEST_ID 
								--LEFT JOIN gen_CRCTP_ShortlistedTalents_ClientPortal CRCTP WITH(NOLOCK) ON CRCTP.HRID=CH.HIRINGREQUEST_ID
								INNER JOIN gen_Contact GCON WITH(NOLOCK) ON GCON.ID = CH.ClientID
								INNER JOIN gen_Company GCOM WITH(NOLOCK) ON  GCOM.ID=GCON.CompanyID
						where	ISNULL(UserId,0) = 0	
						        AND CH.ClientActionID in (10,11,12,20,21)	
								AND GCOM.ID NOT IN (37720) -- Ignore the demo company's tracking events for ATS (Riya 15-May-24)------------------
							    AND not exists 
								(select 1 from GEN_CLIENTACTIONHISTORYSENTTOATS_LOG_CLIENTPORTAL HI WITH(NOLOCK) where HI.ClientHistoryID = CH.ID 
								and ISNULL(CH.UserId,0)=0)
								
					)

				 
				SELECT	isnull(ch.talent_id,0) talent_id,isnull(ch.ATSTalent_ID,0) ATSTalent_ID,ch.hiringrequest_id,isnull(ct.hr_number,'')as hr_number,0 as source,
				event_id = CASE when CH.ClientActionID = 10  then 6  --Profile_View
								when CH.ClientActionID = 11  then 7 --Assesment_View
								when CH.ClientActionID = 12  then 8 --Resume_View
								when CH.ClientActionID = 20  then 9 --View_Screening_Questions
								when CH.ClientActionID = 21  then 10 --Screening_Questions_Edited
								else 0 end 
				,ch.createdbydatetime, 
						'' AS IP,ISNULL(CH.DEVICE,'')AS DEVICE,'' AS BROWSER,CH.ID as HistoryId,CH.ClientID as ContactId,FullName as ContactName ,EmailID as ContactEmail,[GUID] as GUIDS,Company as CompanyName
				into    #HrDetails
				FROM	GEN_CONTACTHISTORY CH  WITH(NOLOCK)
						INNER JOIN CTE_HRDetails CT ON CT.HistoryID = CH.ID 
				where	ISNULL(UserId,0) = 0	
				        AND CH.ClientActionID in (10,11,12,20,21)						    
						AND not exists (select 1 from GEN_CLIENTACTIONHISTORYSENTTOATS_LOG_CLIENTPORTAL HI WITH(NOLOCK) where HI.ClientHistoryID = CH.ID )
							
				
				INSERT INTO gen_clientactionhistorysenttoats_log_clientportal(clienthistoryid,createdbydatetime,issent,GUID)
				Select  HistoryId,createdbydatetime,0,@GUID from #HrDetails

				Select TALENT_ID,HIRINGREQUEST_ID,ATSTalent_ID,HR_NUMBER,SOURCE,EVENT_ID,CREATEDBYDATETIME,IP,DEVICE,BROWSER,@GUID AS [GUID],ContactId,ContactName,ContactEmail,GUIDS,CompanyName from #HrDetails

				Drop table #HrDetails
			END
			ELSE IF(@SELECTS = 1)
				BEGIN
					 UPDATE  gen_clientactionhistorysenttoats_log_clientportal
					 SET     IsSent = 1
					 WHERE   IsSent = 0 and GUID = @UpdateGUID


					 Select null TALENT_ID,null ATSTalent_ID, null HIRINGREQUEST_ID,null HR_NUMBER,null SOURCE,null EVENT_ID,
					 null CREATEDBYDATETIME,null IP,null DEVICE,null BROWSER,null AS [GUID],null AS ContactId,null as ContactName,null as ContactEmail,null as GUIDS,null as CompanyName
					 
				END


		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'SendClientTrckingDetailsToATS'


END