USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_GET_CurrentCreditDetails_ClientPortal]    Script Date: 26-06-2024 13:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[Sproc_GET_CurrentCreditDetails_ClientPortal]
 @CompanyID				bigint = null,
 @ClientID				BIGINT = NULL,
 @HRID					BIGINT = NULL,
 @AnotherCompanyTypeId  INT = NULL
AS
BEGIN

		  SELECT TOP 1 @CompanyID = CompanyId FROM gen_contact WITH(NOLOCK) WHERE ID = @ClientId

		  DECLARE @CompanyTypeID INT 
		  SELECT @CompanyTypeID = CompanyTypeId 
		  FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyID

		  IF(ISNULL(@AnotherCompanyTypeId,0) = 0)
		  BEGIN
			SET @AnotherCompanyTypeId = @CompanyTypeID
		  END


			IF OBJECT_ID('tempdb..#CreditPlan') IS NOT NULL	
				DROP TABLE #CreditPlan


			CREATE TABLE #CreditPlan
			(
				ID						bigint   identity(1,1),				
				CreditsUsed				INT,
				CreditBalance			INT,
				CompanyId               bigint,
				ContactId				bigint,
				CurrentPlan				NVARCHAR(500),
				JobPostCredits			NVARCHAR(500),
				VettedProfileCredits	NVARCHAR(500),
				NonVettedProfileCredits NVARCHAR(500),
				UpComingJobsRenewal		int,
				NoofJobPosted           int,
				NoofJobsReposted		int,
				NoOfVettedProfilesUnlocked int,
				NoOfNonVettedProfilesUnlocked int,
				PlanHoverText           NVARCHAR(MAX),
				CreditAmountValue		NVARCHAR(MAX)
			)

			
			Insert into #CreditPlan(CompanyID,ContactID,CreditBalance)
			SELECT @CompanyID, @ClientID , CAST(JPCreditBalance AS INT)
			FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyID

			--Update UpComing Jobs Renewal Of the Company
			select MAX(JCT.ID) AS ID, HRID
			Into   #MaxHRID
			FROM   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)		
			INNER JOIN gen_Contact GC WITH(NOLOCK) ON GC.ID = JCT.ContactID
			WHERE GC.CompanyID = @CompanyID 
			GROUP BY HRID

			--SELECT * FROM #MaxHRID


			IF(ISNULL(@HRID,0) = 0)
			BEGIN
				--Update Credits Used Of the Company
				UPDATE C
				SET    C.CreditsUsed = ISNULL( CAST( X.CreditsUsed AS INT),0)
				FROM   #CreditPlan C
					   inner join 
					   (
							select SUM(JCT.CreditUsed) as CreditsUsed,JCT.CompanyID as CompanyID
							from   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)									
							where	JCT.CompanyID = @CompanyID AND ISNULL(JCT.HRID,0) <> 0
							Group By JCT.CompanyID 
					   )X ON X.CompanyID = C.CompanyID	
			END
			
			ELSE
			BEGIN
				--Update Credits Used Of the Company on HR
				UPDATE C
				SET    C.CreditsUsed = ISNULL(X.CreditsUsed,0)
				FROM   #CreditPlan C
					   inner join 
					   (
							select SUM(JCT.CreditUsed) as CreditsUsed,JCT.CompanyID as CompanyID
							from   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)									
							where	JCT.CompanyID = @CompanyID AND HRID = @HRID
							Group By JCT.CompanyID 
					   )X ON X.CompanyID = C.CompanyID	
			END


			--Update Package Detail and Current Plan Used Of the Company
			UPDATE C
			SET   C.CurrentPlan =  CASE WHEN X.BalanceType = 'Free' then 'Pay As You Go' else x.PackageName end
			FROM   #CreditPlan C
				   inner join 
				   (
						select BalanceType,JCT.CompanyID as CompanyID,PackageID,JSP.Package, JSP.PackageName
						from   gen_JobPost_Subscription_History_ClientPortal JCT WITH(NOLOCK)
							   inner join prg_Subscription_Package_ClientPortal JSP WITH(NOLOCK) ON JCT.PackageID = JSP.ID
						where	JCT.CompanyID = @CompanyID 	and JCT.IsActive = 1					
				   )X ON X.CompanyID = C.CompanyID


			--UPDATE C 
			--SET   C.JobPostCredits = (
			--							CASE WHEN CO.IsProfileView = 1 AND CO.IsPostaJob = 1 THEN 
			--								(SELECT CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR) FROM prg_CreditOption_ClientPortal PC WITH(NOLOCK) WHERE PC.ID = 1)
			--							WHEN CO.IsPostaJob = 1 AND ISNULL(CO.IsProfileView,0) = 0 THEN
			--								(SELECT CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR) FROM prg_CreditOption_ClientPortal PC WITH(NOLOCK) WHERE PC.ID = 4)
			--							WHEN CO.IsPostaJob = 0 AND ISNULL(CO.IsProfileView,0) = 1 THEN '0'
			--							ELSE ''
			--							END

			--						 ),
			--	 C.VettedProfileCredits = (
			--								CASE WHEN CO.IsProfileView = 1 THEN 
			--									(SELECT CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR) FROM prg_CreditOption_ClientPortal PC WITH(NOLOCK) WHERE PC.ID = 2)
			--								ELSE
			--									'NA'
			--								END
			--							 ),
			--	C.NonVettedProfileCredits = (
			--								CASE WHEN CO.IsProfileView = 1 THEN 
			--									(SELECT CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR) FROM prg_CreditOption_ClientPortal PC WITH(NOLOCK) WHERE PC.ID = 3)
			--								ELSE
			--									'NA'
			--								END
			--							 )
			--FROM   #CreditPlan C
			--inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
			--where   CO.ID = @CompanyID


			UPDATE C 
			SET   C.JobPostCredits = CO.JobPostCredit,
				 C.VettedProfileCredits = CO.VettedProfileViewCredit,
				C.NonVettedProfileCredits = CO.NonVettedProfileViewCredit
			FROM   #CreditPlan C
			inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
			where   CO.ID = @CompanyID


			UPDATE  C
			SET     C.UpComingJobsRenewal = Isnull(Q.JobsRenewal,0)
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
					inner join (
								select  Count(H.ID) JobsRenewal, C.CompanyID AS CompanyId
								FROM     gen_SalesHiringRequest H WITH(NOLOCK)	
										INNER JOIN gen_Contact C WITH(NOLOCK) ON H.ContactID = C.ID
										WHERE DateDIff(d, CAST(GETDATE() as DATE), CAST(h.JobExpiryDate as DAte)) <= 5
										--AND DateDIff(d,CAST(GETDATE() as DATE), CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte)) > 0
										AND H.JobStatusID <> 2									
										--AND NOT EXISTS(SELECT 1 FROM gen_JobPost_TransactionHistory_ClientPortal TH WITH(NOLOCK) WHERE TH.IsReposted = 1 AND TH.ID = M.ID)
								GROUP BY C.CompanyId
								)Q ON Q.CompanyID = C.CompanyID
			where   CO.ID = @CompanyID

			--SELECT * FROM #MaxHRID

			--UPDATE  C
			--SET     C.NoofJobPosted = Isnull(Q.JobsPosted,0)
			--FROM    #CreditPlan C
			--		inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
			--		inner join (
			--					select  Count(JCT.ID) JobsPosted,JCT.CompanyID
			--					FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)										
			--							inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID
			--							inner join #MaxHRID M ON M.HRID = JCT.HRID AND M.ID = JCT.ID
			--					WHERE   JCT.CompanyID = @CompanyID AND ISNULL(JCT.IsReposted, 0) = 0 AND ISNULL(JCT.HRID,0) <> 0							 
			--					GROUP BY JCT.CompanyID
			--					)Q ON Q.CompanyID = C.CompanyID
			--where   CO.ID = @CompanyID

			IF(@AnotherCompanyTypeId = 1)
			BEGIN
					UPDATE  C
					SET     C.NoofJobPosted = Isnull(Q.JobsPosted,0)
					FROM    #CreditPlan C
							inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
							inner join (
										select  Count(H.ID) JobsPosted,HCO.CompanyID
										FROM gen_SalesHiringRequest H WITH(NOLOCK)		
										INNER JOIN dbo.gen_Contact HCO WITH(NOLOCK) ON H.ContactID = HCO.ID
										WHERE   HCO.CompanyID = @CompanyID AND H.HRTypeID = 1 AND H.IsActive = 1
										GROUP BY HCO.CompanyID
										)Q ON Q.CompanyID = C.CompanyID
					where   CO.ID = @CompanyID
			END
			ELSE
			BEGIN
			UPDATE  C
			SET     C.NoofJobPosted = Isnull(Q.JobsPosted,0)
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
					inner join (
								select  Count(H.ID) JobsPosted,HCO.CompanyID
								FROM gen_SalesHiringRequest H WITH(NOLOCK)		
								INNER JOIN dbo.gen_Contact HCO WITH(NOLOCK) ON H.ContactID = HCO.ID
								WHERE   HCO.CompanyID = @CompanyID AND H.HRTypeID IN (3,4, 6) AND H.IsActive = 1
								GROUP BY HCO.CompanyID
								)Q ON Q.CompanyID = C.CompanyID
			where   CO.ID = @CompanyID
			END

			UPDATE  C
			SET     C.NoofJobsReposted = Isnull(Q.JobsReposted,0)
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
					inner join (
								select  Count(JCT.ID) JobsReposted,JCT.CompanyID
								FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)										
										inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID
										inner join #MaxHRID M ON M.HRID = JCT.HRID AND M.ID = JCT.ID
								WHERE   JCT.CompanyID = @CompanyID AND ISNULL(JCT.IsReposted, 0) = 1								 
								GROUP BY JCT.CompanyID
								)Q ON Q.CompanyID = C.CompanyID
			where   CO.ID = @CompanyID

			UPDATE  C
			SET     C.NoOfVettedProfilesUnlocked = Isnull(Q.NoOfVettedProfilesUnlocked,0)
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
					inner join (
								select  Count(JCT.ID) NoOfVettedProfilesUnlocked,JCT.CompanyID
								FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)										
										inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID										
										INNER JOIN gen_CRCTP_ShortlistedTalents_ClientPortal CRT WITH(NOLOCK) ON CRT.ATS_TalentID = JCT.ATS_TalentID AND CRT.HRID = H.ID
								WHERE   JCT.CompanyID = @CompanyID AND ISNULL(CRT.IsVetted,0) = 1 	AND ISNULL(CRT.IsUnlock,0) = 1				 
								GROUP BY JCT.CompanyID
								)Q ON Q.CompanyID = C.CompanyID
			where   CO.ID = @CompanyID

			UPDATE  C
			SET     C.NoOfNonVettedProfilesUnlocked = Isnull(Q.NoOfNonVettedProfilesUnlocked,0)
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
					inner join (
								select  Count(JCT.ID) NoOfNonVettedProfilesUnlocked ,JCT.CompanyID
								FROM    gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK)										
										inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = JCT.HRID										
										INNER JOIN gen_CRCTP_ShortlistedTalents_ClientPortal CRT WITH(NOLOCK) ON CRT.ATS_TalentID = JCT.ATS_TalentID AND CRT.HRID = H.ID
								WHERE   JCT.CompanyID = @CompanyID AND ISNULL(CRT.IsVetted,0)	= 0	AND ISNULL(CRT.IsUnlock,0) = 1		 
								GROUP BY JCT.CompanyID
								)Q ON Q.CompanyID = C.CompanyID
			where   CO.ID = @CompanyID

			--Update Hover text and credit amount 
			--UPDATE  C
			--SET     C.CreditAmountValue = CASE WHEN CO.IsProfileView = 1
			--							THEN (
			--									 SELECT CAST(CAST(PCM.CreditAmount AS INT) AS NVARCHAR) + ' ' + PCM.CurrenyCode + ' / per credit' 
			--									 FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) INNER JOIN 
			--									 prg_CreditWithAmountUtilization_ClientPortal PCM WITH(NOLOCK) ON PC.CreditAmountID = PCM.ID
			--									 WHERE PC.ID = 1
			--								 ) 
			--						WHEN CO.IsPostaJob = 1 AND ISNULL(CO.IsProfileView,0) = 0
			--							THEN (
			--									 SELECT CAST(CAST(PCM.CreditAmount AS INT) AS NVARCHAR) + ' ' + PCM.CurrenyCode + ' / per credit' 
			--									 FROM prg_CreditOption_ClientPortal PC WITH(NOLOCK) INNER JOIN 
			--									 prg_CreditWithAmountUtilization_ClientPortal PCM WITH(NOLOCK) ON PC.CreditAmountID = PCM.ID
			--									 WHERE PC.ID = 4
			--								 ) 
			--							ELSE '' 
			--						END,
			--		C.PlanHoverText = CASE WHEN CO.IsProfileView = 1 AND CO.IsPostaJob = 1
			--								THEN 
			--									(
			--										SELECT '<li>Post a job - <span>' + CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR) + ' credits </span></li>'
			--										FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
			--										WHERE PC.ID = 1
			--									 )  + 

			--									 (
			--										SELECT '<li>View vetted profiles - <span>' + CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR)+ ' credits </span></li>'
			--										FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
			--										WHERE PC.ID = 2
			--									 )  + 

			--									 (
			--										SELECT '<li>View non-vetted profiles - <span>' + CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR)+ ' credit</span></li>'
			--										FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
			--										WHERE PC.ID = 3
			--									 )  

			--								WHEN CO.IsPostaJob = 1 AND ISNULL(CO.IsProfileView,0) = 0
			--								THEN (
			--										SELECT '<li>Post a job - <span>' + CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR)+ ' credit </span></li>'
			--										FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
			--										WHERE PC.ID = 4
			--									 )

			--								WHEN CO.IsPostaJob = 0 AND ISNULL(CO.IsProfileView,0) = 1
			--								THEN (
			--										SELECT '<li>Post a job - <span>0 credits</span></li>'
			--									 )  + 

			--									 (
			--										SELECT '<li>View vetted profiles - <span>' + CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR)+ ' credits </span></li>'
			--										FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
			--										WHERE PC.ID = 2
			--									 )  + 

			--									 (
			--										SELECT '<li>View non-vetted profiles - <span>' + CAST(CAST(PC.CreditUsed AS INT) AS NVARCHAR)+ ' credit</span></li>'
			--										FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
			--										WHERE PC.ID = 3
			--									 )  
			--								ELSE '' 
			--							END
			--FROM    #CreditPlan C
			--		inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
			--where   CO.ID = @CompanyID

			UPDATE  C
			SET     C.CreditAmountValue = CASE WHEN ISNULL(CO.CreditAmount,0) > 0 THEN CAST(CAST(CO.CreditAmount AS INT) AS NVARCHAR) + ' ' + CO.CreditCurrency + ' / per credit' ELSE '' END,
					C.PlanHoverText = CASE WHEN CO.IsProfileView = 1 AND CO.IsPostaJob = 1
											THEN 
												(
													SELECT '<li>Post a job - <span>' + CAST(CAST(CO.JobPostCredit AS INT) AS NVARCHAR) + ' credits </span></li>'
													
												 )  + 

												 (
													SELECT '<li>View vetted profiles - <span>' + CAST(CAST(CO.VettedProfileViewCredit AS INT) AS NVARCHAR)+ ' credits </span></li>'													
												 )  + 

												 (
													SELECT '<li>View non-vetted profiles - <span>' + CAST(CAST(CO.NonVettedProfileViewCredit AS INT) AS NVARCHAR)+ ' credit</span></li>'
													
												 )  

											WHEN CO.IsPostaJob = 1 AND ISNULL(CO.IsProfileView,0) = 0
											THEN (
													SELECT '<li>Post a job - <span>' + CAST(CAST(CO.JobPostCredit  AS INT) AS NVARCHAR)+ ' credit </span></li>'													
												 )

											WHEN CO.IsPostaJob = 0 AND ISNULL(CO.IsProfileView,0) = 1
											THEN (
													SELECT '<li>Post a job - <span>0 credits</span></li>'
												 )  + 

												 (
													SELECT '<li>View vetted profiles - <span>' + CAST(CAST(CO.VettedProfileViewCredit AS INT) AS NVARCHAR)+ ' credits </span></li>'
													FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
													WHERE PC.ID = 2
												 )  + 

												 (
													SELECT '<li>View non-vetted profiles - <span>' + CAST(CAST(CO.NonVettedProfileViewCredit AS INT) AS NVARCHAR)+ ' credit</span></li>'
													FROM prg_CreditOption_ClientPortal PC  WITH(NOLOCK) 
													WHERE PC.ID = 3
												 )  
											ELSE '' 
										END
			FROM    #CreditPlan C
					inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
			where   CO.ID = @CompanyID
	 

			SELECT 
				ID, 
				ISNULL(CreditsUsed,0) AS CreditsUsed, 
				CreditBalance,
				CompanyId,
				ContactId,
				ISNULL(NULLIF(CurrentPlan, ''), 'Pay As You Go') AS CurrentPlan,
				JobPostCredits,
				VettedProfileCredits,
				NonVettedProfileCredits,
				UpComingJobsRenewal,
				ISNULL(NoofJobPosted,0) AS NoofJobPosted,
				NoofJobsReposted,
				NoOfVettedProfilesUnlocked,
				NoOfNonVettedProfilesUnlocked,
				'<div class=''AvableCredTooltipData''><div class=''CredTooltipTop''><h4>Pay as you go plan </h4>' + '<h5>' + CreditAmountValue + '</h5></div><ul class=''CredTooltipList''>' + PlanHoverText + '</ul></div>' AS 'HoverText'
				FROM #CreditPlan
		

		--SELECT * FROM #MaxHRID

			DROP TABLE #CreditPlan
			DROP TABLE #MaxHRID
			
END

