USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_UTS_ViewTalent]    Script Date: 18-07-2023 16:33:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_UTS_ViewTalent]
	@PageIndex				INT = 1,
	@PageSize				INT = 50,
	@SortExpression			nvarchar(100) = 'Name',
	@SortDirection			nvarchar(100) = 'ASC',	
	@Talentroles			varchar(200) = NULL,	
	@Primaryskills			varchar(200) = NULL,
	@SecondarySkills        VARCHAR(100) = NULL,
	@ComfortableArea		INT = NULL,
	@communicationskills	INT = NULL,
	@Talentjoining			INT = NULL,
	@Preferableworking		INT = NULL,
	@CreatedByID			INT = NULL,
	--@HiringRequestID		INT = NULL
	@Talent_FirstName		nvarchar(100) = null,
	@Name					nvarchar(100) = NULL,
	@EmailID				nvarchar(100) = NULL,
	@HiringRequestId		bigint = NULL
	
AS
BEGIN
		Declare @Count as bigint = 0
		Declare @RoleId as bigint = 0
		DECLARE @WhereClauseSQL nvarchar(max) = ''
		DECLARE @MainSQL nvarchar(max) = ''
		DECLARE @TmpDBSQL nvarchar(max) = ''

		--Added for filter data with Role
		select @RoleId = Isnull(Role_Id,0)
		From  gen_SalesHiringRequest_Details with(Nolock) 
		where HiringRequest_ID = @HiringRequestId

		
				
						;WITH CTE_Records AS (SELECT T.ID,Isnull(Name,'') as Name,Isnull(EmailID,'') as EmailID,RoleID,
							R.TalentRole,
							TalentStatusID = isnull(T.Status,0),1 as TotalCountID,
							case 
							when isnull(T.TalentStatusID_AfterClientSelection,0) = 1 then 301
							when isnull(T.TalentStatusID_AfterClientSelection,0) = 2 then 302
							when isnull(T.TalentStatusID_AfterClientSelection,0) = 3 then 303
							when isnull(T.TalentStatusID_AfterClientSelection,0) = 4 then 304
							when isnull(T.TalentStatusID_AfterClientSelection,0) = 5 then 305
							when isnull(T.TalentStatusID_AfterClientSelection,0) = 6 then 306
							when isnull(T.TalentStatusID_AfterClientSelection,0) = 7 then 307
							when isnull(T.TalentStatusID_AfterClientSelection,0) = 8 then 308
							else 
							999
							end FrontStatusID
							,case when isnull(TS.TalentStatus,'''') = '' then 'None' else isnull(TS.TalentStatus,'') end as TalentStatus 
							,'USD ' + convert(varchar,isnull([finalcost],0)) Minimum_Cost
							,
							sum(tac.VersantScore) as VersantScore,sum(tac.InterviewScore) as TechScore
							,CurrentCTC = Isnull(T.CurrentCTC,0) --UTS-3904: Fetch the CurrentCTC of the talent
					FROM	 gen_Talent T WITH(NOLOCK) 
							INNER JOIN prg_TalentRoles R WITH(NOLOCK) ON R.ID = T.RoleID
							left join gen_TalentAssesmentScore tac WITH(NOLOCK) on tac.TalentID = T.ID 
							LEFT JOIN prg_TalentStatus_AfterClientSelection TS WITH(NOLOCK) ON TS.ID = isnull(T.TalentStatusID_AfterClientSelection,0)
							left join  gen_AIBased_HRTalentMatchMaking AI WITH(NOLOCK) ON AI.Talent_ID = T.ID AND  AI.HiringRequest_IDs = cast( @HiringRequestId AS nvarchar(50)) 
							WHERE 1=1 AND isnull(T.IsLegalSigned,0) =1  AND TalentAccount_Status_ID = 4 
							AND isnull(TalentStatusID_AfterClientSelection,0) != 4
							group by T.ID,Name,EmailID,RoleID,R.TalentRole,T.Status,TalentStatus,[finalcost],T.TalentStatusID_AfterClientSelection, T.CurrentCTC
						)
						,Cte_TotalCount AS(
								Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
						)
						SELECT  ID,Name,EmailID,RoleID,T1.TotalRecords,TalentRole,TalentStatusID,FrontStatusID ,
						TalentStatus,Minimum_Cost as TalentCost,isnull(VersantScore,0) as VersantScore,isnull(TechScore,0) as TechScore,CurrentCTC
						INTO    #temp_Records
						FROM	CTE_Records U 
								INNER JOIN Cte_TotalCount T1 on T1.TotalCountID = U.TotalCountID 
						WHere   1 = 1

						select @Count = count(1) from #temp_Records where RoleID = @RoleId

						If (@Count > 0 and @EmailID = '')
						Begin
							IF isnull(@Talentroles,'') <> ''
								SET @WhereClauseSQL += ' AND RoleID IN (' + @Talentroles + ') and RoleID = ' + Cast(@RoleID as nvarchar(5)) + ''
							ELSE
								SET @WhereClauseSQL += ' AND RoleID = ' + Cast(@RoleID as nvarchar(5)) + ''
						END
						 ELSE
						 BEGIN
								IF isnull(@EmailID,'') = '' and Isnull(@Name,'') = ''
									BEGIN
								  
											IF isnull(@Talentroles,'') <> ''
												SET @WhereClauseSQL += ' AND RoleID IN (' + @Talentroles + ') and RoleID = ' + Cast(@RoleID as nvarchar(5)) + ''
											ELSE
												SET @WhereClauseSQL += ' AND RoleID = ' + Cast(@RoleID as nvarchar(5)) + ''

									END
								--ELSE
								--BEGIN
								--	SET @WhereClauseSQL += ' AND EmailID LIKE ''%' + CONVERT(nvarchar,@EmailID) + '%'''
								--END
						   
						 END

		IF isnull(@Talentroles,'') <> ''
			SET @WhereClauseSQL += ' AND R.ID IN (' + @Talentroles + ')'

		IF isnull(@Name,'') <> ''
			SET @WhereClauseSQL += ' AND Name LIKE ''%' + CONVERT(nvarchar,@Name) + '%'''

		IF isnull(@EmailID,'') <> ''
			SET @WhereClauseSQL += ' AND EmailID LIKE ''%' + CONVERT(nvarchar,@EmailID) + '%'''

		--IF isnull(@HiringRequestID,'') <> ''
		--	SET @WhereClauseSQL += ' AND SHR.HiringRequest_ID = ' + CONVERT(nvarchar,@HiringRequestID) + ''
		IF isnull(@Talent_FirstName,'') <> ''
			SET @WhereClauseSQL += ' AND (T.FirstName like ''%' + @Talent_FirstName + '%'' or T.LastName like ''%' + @Talent_FirstName +'%'' or T.Name like ''%' + @Talent_FirstName +'%'')'

						declare @Total_Records as nvarchar(MAX) 
						set   @Total_Records = 'Update #temp_Records SET TotalRecords = (select Count(1) from #temp_Records
										  WHERE 1=1  ' + @WhereClauseSQL + ')'
		
						EXECUTE sp_executesql @Total_Records

						SET   @MainSQL = 'select	ID,Name,EmailID,TotalRecords,TalentRole,TalentStatusID,FrontStatusID ,
						TalentStatus,TalentCost,isnull(VersantScore,0) as VersantScore,isnull(TechScore,0) as TechScore, CurrentCTC
						FROM #temp_Records WHERE 1=1 ' + @WhereClauseSQL + ''

					  If @TmpDBSQL <> ''
						BEGIN
								SET @MainSQL = @TmpDBSQL + @MainSQL								
						END

						If	@SortExpression = 'CreatedbyDatetime'									
									SET @MainSQL += ' ORDER BY cast(' + @SortExpression + ' as datetime) ' + @SortDirection
						ELSe 								
								SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

					   IF(@PageSize>0)
						  BEGIN
								SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
												FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY ';
						   END
		PRINT(@MainSQL)
		EXECUTE sp_executesql @MainSQL		  	
		
	END
