CREATE PROCEDURE [dbo].[Sproc_Get_Company_YouTubeDetails]
	@CompanyId		  bigint = 0
AS
BEGIN

		Select   YoutubeID = ID,
				 YoutubeLink = ISNULL(YoutubeLink,'')
		from     gen_Company_YouTubeLinks WITH(NOLOCK)
		WHere    CompanyID = @CompanyId

END