ALTER PROCEDURE [dbo].[sproc_Insert_HiringRequest_Priority_Revise_Flow]
@LoggedInUserId				BIGINT		= NULL,
@SalesUserID				BIGINT		= NULL,
@HiringRequestID			BIGINT		= NULL,
@IsPriority					BIT			= NULL

AS
BEGIN
	Declare @userPriocount as int = 0
	Declare @userRemPriocount as int = 0
	Declare @TeammanagerID as int = 0
	DEclare @Remcount as int = 0
	DEclare @ReturnVal as int = 0
	Declare @PrioritysetResetCount int = 0

	Declare @PriorityStartDate	datetime = datefromparts(Year(Getdate()), Month(Getdate()), 1) 
	Declare	@PriorityEndDate	datetime = DATEADD(dd,-(DAY(DATEADD(mm,1,@PriorityStartDate))), 
														DATEADD(mm,1,@PriorityStartDate))

	Declare @ReturnMessage as Nvarchar(200) = ''

	if @IsPriority = 1
	  set @PrioritysetResetCount = -1
	else 
	  set @PrioritysetResetCount = 1

	IF OBJECT_ID('temp_db..#AllParentHierarchyTbl') IS NOT NULL
		DROP TABLE #AllParentHierarchyTbl;

	CREATE TABLE #AllParentHierarchyTbl(userid bigint, parentid bigint, levelposition int);
			
	--Added CTE to get branch level hierarchy till Parent.
	;WITH EMP_CTE AS
	(
		SELECT	top 1 userid, parentId, 0 AS levelposition 
		FROM	usr_UserHierarchy UH with(nolock)
		WHERE	exists (
							select	1 
							from	usr_User U with(nolock)
							where	U.id = UH.UserID 
									and UH.UserID = Isnull(@SalesUserID,UH.UserID)
						)
						
		UNION ALL
		SELECT	T.userid, T.parentId, levelposition - 1 AS EmployeeLevel 
		FROM	usr_UserHierarchy  AS T with(nolock)
				INNER JOIN EMP_CTE  AS C ON T.userID = C.parentId
	)
	INSERT INTO #AllParentHierarchyTbl
		SELECT * FROM EMP_CTE;
	

		SELECT	 @TeammanagerID = U.ID
		FROM	 #AllParentHierarchyTbl T  
				 left join usr_User U with(nolock) on T.userid = U.ID 
		WHERE	 U.UserTypeID = 9
		order by T.levelposition desc


		set @userRemPriocount = (select ISNULL(RemainingPriorityCount,0) as RemainingPriorityCount from usr_User with(nolock) where ID = @TeammanagerID);
		set @userPriocount = (select ISNULL(PriorityCount,0) as PriorityCount from usr_User with(nolock) where ID = @TeammanagerID);

		if @userRemPriocount = 0 and @IsPriority = 1
			begin
				set @ReturnVal =0
				set @ReturnMessage = 'Your Remaining Priority Count is 0.'
				Print '@ReturnVal =0'
			end
		else if @userRemPriocount >= @userPriocount and @IsPriority = 0
			BEGIN
				set @ReturnVal = 0
				set @ReturnMessage = 'You can not reset priority as reset priority count is beyond your given Priority count.'
				Print '@ReturnVal =0 and @userRemPriocount > @userPriocount and @IsPriority = 0'
			END
		else
			begin
				IF exists (select 1 from gen_SalesHiringRequest_Priority with(nolock) where HiringRequestID = @HiringRequestID)
				BEGIN
						Print 'Update'
						UPDATE	gen_SalesHiringRequest_Priority 
						SET		HiringRequestID = @HiringRequestID,
								ModifiedByID = @LoggedInUserId,
								ModifiedDatetime = getdate(),
								SalesUserID = @SalesUserID,
								PriorityStartDate = @PriorityStartDate,
								PriorityEndDate = @PriorityEndDate,
								IsPriority = @IsPriority
						Where	HiringRequestID = @HiringRequestID

						INSERT INTO gen_SAlesHiringRequest_Priority_History(SalesUserID,HiringRequestID,IsPriority,CreatedByID,CreatedByDatetime,
																			PriorityStartDate,PriorityEndDate)
						SELECT ISNULL(@SalesUserID,0),ISNULL(@HiringRequestID,0),@IsPriority,@LoggedInUserId,GETDATE(),@PriorityStartDate,@PriorityEndDate

				END
				ElSE
				BEGIN --History Insert
					
						Print 'Insert'

							INSERT INTO gen_SAlesHiringRequest_Priority(SalesUserID,HiringRequestID,IsPriority,CreatedByID,CreatedByDatetime,
							PriorityStartDate,PriorityEndDate)
							SELECT ISNULL(@SalesUserID,0),ISNULL(@HiringRequestID,0),@IsPriority,@LoggedInUserId,GETDATE(),@PriorityStartDate,@PriorityEndDate

							INSERT INTO gen_SAlesHiringRequest_Priority_History(SalesUserID,HiringRequestID,IsPriority,CreatedByID,CreatedByDatetime,
							PriorityStartDate,PriorityEndDate)
							SELECT ISNULL(@SalesUserID,0),ISNULL(@HiringRequestID,0),@IsPriority,@LoggedInUserId,GETDATE(),@PriorityStartDate,@PriorityEndDate

						set @ReturnVal =1
					end

				UPDATE Usr_user 
				SET RemainingPriorityCount = RemainingPriorityCount + @PrioritysetResetCount 
				WHERE id = @TeammanagerID
			end
	

	select @ReturnVal as ReturnValue,@ReturnMessage as ReturnMessage
END