ALTER PROCEDURE [dbo].[sproc_DirectHR_Details]
@HRID BIGINT = NULL
AS
BEGIN
	IF @HRID > 0
	BEGIN
		SELECT 
		H.ID AS HRID, 
		ISNULL(H.HR_Number,'') AS HR_Number,
		ISNULL(C.ID,0) AS ContactID,
		ISNULL(C.EmailID,'') AS ClientEmail,
		ISNULL(C.FullName,'') AS ClientName,
		ISNULL(Co.Company,'') AS CompanyName,
		ISNULL(Co.Website,'') AS Website,
		ISNULL(HD.YearOfExp,0.0) AS YOE,
		ISNULL(H.RequestForTalent,'') AS HiringRequestTitle,
		ISNULL(H.JDFilename,'') AS JDFilename,
		ISNULL(H.JDURL,'') AS JDURL,
		ISNULL(H.JDDump_ID,0) AS JDDump_ID,
		ISNULL(HD.Currency,'') AS Currency,
		ISNULL(HD.BudgetFrom,0.0) AS MinBudget,
		ISNULL(HD.BudgetTo,0.0) AS MaxBundget,
		IsRemote = CASE WHEN ISNULL(DP.ModeOfWork,'') = 'Remote' THEN CAST(1 AS bit) ELSE CAST(0 AS bit) END,
		ISNULL(Co.Lead_Type,'') AS LeadType,
		ISNULL(CL.LeadType_UserID,0) AS LeadOwnerID,
		ISNULL(LeadOwner.FullName,'') AS LeadOwnerName,
		ISNULL(HD.HowSoon,'') as NoticePeriod,
		ISNULL(HS.ID,'') AS NoticePeriodID,
		ISNULL(HD.Timezone_ID,'') AS TimezoneID,
		ISNULL(TZ.TimeZoneTitle,'') AS TimeZoneTitle,
		ISNULL(HD.TimeZone_FromTime,'') AS ShiftStartTime,
		ISNULL(HD.TimeZone_EndTime,'') As ShiftEndTime,
		ISNULL(HD.RolesResponsibilities,'') AS RoleAndResponsibilites,
		ISNULL(HD.Requirement,'') AS Requirement,
		ISNULL(Co.about_Company_desc,'') AS AboutCompany,
		ISNULL(Co.CompanySize,0) AS CompanySize,
		ISNULL(Co.industry,'') AS Industry,
		ISNULL(Co.Location,'') AS Location,
		ISNULL(HD.Role_ID,0) AS RoleID,
		ISNULL(HD.GlassdoorRating,0.0) AS GlassdoorRating,
		ISNULL(HD.AmbitionBoxRating,0.0) AS AmbitionBoxRating
		FROM gen_SalesHiringRequest H WITH (NOLOCK)
		INNER JOIN gen_SalesHiringRequest_Details HD WITH (NOLOCK) ON HD.HiringRequest_ID = H.ID
		INNER JOIN gen_contact C WITH (NOLOCK) ON H.ContactID = C.ID
		INNER JOIN gen_company Co WITH (NOLOCK) ON C.CompanyID = Co.ID
		LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON H.ID = DP.HiringRequest_Id
		LEFT JOIN gen_CompanyLeadType_UserDetails CL WITH(NOLOCK) ON Co.ID = CL.CompanyID
		LEFT JOIN usr_User LeadOwner WITH(NOLOCK) ON  LeadOwner.Id = CL.LeadType_UserID
		LEFT JOIN prg_HowSoonClientWantTalent HS WITH(NOLOCK) ON HS.HowSoonClientwantTalent = HD.HowSoon
		LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON TZ.ID = HD.Timezone_ID
		WHERE H.ID = @HRID
	END
END

