USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Client_DraftJobs]    Script Date: 13-09-2024 14:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Get_Client_DraftJobs]
    @ContactID				bigint = null,
	@AnotherCompanyTypeId	int = 0
AS
BEGIN

		--(rinku) 25-04-2023
				  Declare @CompanyID as bigint =0
				  Select @CompanyID = CompanyID from gen_Contact with(nolock) where ID = @ContactID
						

				  select  ID,CompanyID, FullName
				  into    #AllContats
				  from    gen_Contact WITH(NOLOCK)
				  WHERE   CompanyID = @CompanyID

				  IF OBJECT_ID('tempdb..#HRTypeID') IS Not Null
					DROP TABLE #HRTypeID

					CREATE TABLE #HRTypeID
					(
						HRID		bigint,
						HRTypeID	int
					)

					IF Isnull(@AnotherCompanyTypeId,0) = 1 
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest WITH(NOLOCK)
								WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) AND Isnull(HRTypeId,0) = 1
						END
					ELSE IF Isnull(@AnotherCompanyTypeId,0) = 2
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  HR.ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest HR WITH(NOLOCK)
								--INNER JOIN prg_HiringRequest_Type HRType WITH(NOLOCK) ON HR.HRTypeId = HRTypeId
								WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID) 
								--AND HRType.CompanyTypeId = 2 AND HRType.ID = HR.HRTypeId
								AND Isnull(HRTypeId,0) in (3,4,6)
						END
					ELSE
						BEGIN
								INSERT INTO #HRTypeID
								SELECT  ID,ISNULL(HRTypeID,0)
								FROM    gen_SalesHiringRequest WITH(NOLOCK)
								WHERE   ContactID in (Select ID from gen_Contact WITH(NOLOCK) WHERE CompanyID = @CompanyID)
						END


		---------Fetch the must have skills------------------------
		set nocount on;
		declare @SkillsTable table ( SkillName nvarchar(500), HiringRequestID BIGINT, Proficiency nvarchar(500)) --Id BIGINT,

		INSERT INTO @SkillsTable
		SELECT  CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, SD.HiringRequest_ID,SD.Proficiency 
		FROM    gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
				INNER JOIN gen_SalesHiringRequest HR  WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
				Inner join #HRTypeID HT ON HT.HRID = HR.ID
				INNER JOIN gen_contact GC WITH(NOLOCK) ON  GC.ID = hr.ContactID
				LEFT JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
				LEFT JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID
		WHERE   
				--Proficiency = 'Strong' AND 
				GC.CompanyID = @CompanyID
		Group By SD.HiringRequest_ID,ISNULL(SD.Skill_ID, 0),PS.Skill,TS.TempSkill,SD.Proficiency

		set nocount off


		DECLARE @MustSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT INTO @MustSkillsTable
		SELECT
		t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID AND t2. Proficiency= 'Strong'
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS MustHaveSkills
		FROM @SkillsTable t1 where t1. Proficiency= 'Strong'
		GROUP BY t1.HiringRequestID,t1. Proficiency

		--DELETE FROM @SkillsTable

		--INSERT INTO @SkillsTable
		--SELECT  CASE WHEN ISNULL(SD.Skill_ID, 0) <> 0 THEN PS.Skill ELSE TS.TempSkill END, 
		--		SD.HiringRequest_ID 
		--FROM 	gen_SalesHiringRequest_SkillDetails SD WITH(NOLOCK)
		--		INNER JOIN gen_SalesHiringRequest  HR  WITH(NOLOCK) ON HR.ID = SD.HiringRequest_ID
		--		Inner join #HRTypeID HT ON HT.HRID = HR.ID
		--		INNER JOIN gen_contact GC WITH(NOLOCK) ON  GC.ID = hr.ContactID
		--		LEFT JOIN prg_Skills PS WITH(NOLOCK) ON PS.ID = SD.Skill_ID
		--		LEFT JOIN prg_TempSkills TS WITH(NOLOCK) ON TS.TempSkill_ID = SD.TempSkill_ID
		--WHERE  	--HiringRequest_ID IN (SELECT ID FROM gen_SalesHiringRequest )	And 
		--		Proficiency = 'Basic' 
		--		AND GC.CompanyID = @CompanyID
		--Group By SD.HiringRequest_ID,ISNULL(SD.Skill_ID, 0),PS.Skill,TS.TempSkill
		--set nocount off


		DECLARE @GoodToSkillsTable table (HiringRequestID BIGINT, SkillName nvarchar(MAX))
		INSERT INTO @GoodToSkillsTable
		SELECT
		t1.HiringRequestID, STUFF(
					   (SELECT
							', ' + t2.SkillName
							FROM @SkillsTable t2
							WHERE t1.HiringRequestID=t2.HiringRequestID AND t2. Proficiency= 'Basic'
							ORDER BY t2.SkillName
							FOR XML PATH(''), TYPE
					   ).value('.','varchar(max)')
					   ,1,2, ''
				  ) AS GooToHaveSkills
		FROM @SkillsTable t1 WHERE t1. Proficiency= 'Basic'
		GROUP BY t1.HiringRequestID ,t1. Proficiency

		select MAx(ID) as ID,JCT.HRID
		Into   #MaxJobDeduct
		from   gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) 
			   inner join #HRTypeID HT ON HT.HRID = JCT.HRID
		WHERE  ISNULL(JCT.CreditOptionID,0) in (0,1,4)
		GROUP BY JCT.HRID
      
		--If user role is for myjobs then only show the jobs posted by them.
		DECLARE @RoleID INT = 1	
		SELECT TOP 1 @RoleID = RoleID FROM LoggedInUserRole_ClientPortal(@ContactID)
		
		--select @RoleID

		--select * from #MaxJobDeduct

		--select * from #AllContats

		--select @CompanyID

		--select * from #HRTypeID
	
		--select * from @SkillsTable where HiringRequestID = 616
		--select * from @MustSkillsTable where HiringRequestID = 616
		--select * from @GoodToSkillsTable where HiringRequestID = 616

		IF(ISNULL(@RoleID,0) = 3)
		BEGIN
		SELECT * FROM 
		(SELECT  
			RH.Id AS 'RoleHRID',
			RH.RoleName, 
			RH.ContactId,
			GC.FullName,
			GC.EmailID,
			ExperienceYears = CASE WHEN ISNULL(RH.ExperienceYears,0) = 0 THEN 'Freshers' ELSE CAST(ISNULL(RH.ExperienceYears,0) AS NVARCHAR(500)) + '+ years experience' END,
			RH.NoOfTalents,
			RH.IsHiringLimited,
			RH.Availability,
			CASE WHEN  TP.SpecificMonth > 0 then 'Contract for ' + Cast(ISNULL(TP.SpecificMonth, IIF(RH.IsHiringLimited = 'Temporary' , RH.ContractDuration, NULL)) as Nvarchar(5))  else 'Permanant' end as JobType,		
			TP.SpecificMonth AS ContractDuration,
			SB.Id AS 'SkillBudgetID',
			SB.Skills, 
			SB.AllSkills,
			SB.Currency,
			ER.CurrencySign,
			SB.BudgetFrom,
			SB.BudgetTo,
			ED.ID AS 'EmploymentDetailsID',
			--EmploymentType = ED.EmploymentType + IIF(ISNULL(TP.SpecificMonth, 0) > 0, ' contract - ' + CAST(TP.SpecificMonth AS NVARCHAR(20)) + ' months', ' contract with indefinite months'),
			--EmploymentType = ED.EmploymentType + CASE WHEN ISNULL(TP.SpecificMonth,0) = -1 THEN ' contract with indefinite months' ELSE IIF(TP.SpecificMonth > 0, ' contract - ' + CAST(TP.SpecificMonth AS NVARCHAR(20)) + ' months', '') END,
			
			EmploymentType = CASE WHEN ED.JobTypeID = 1 THEN 'Full time permanent position' 
								  WHEN ED.JobTypeID = 2 THEN IIF(ISNULL(TP.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
								  WHEN ED.JobTypeID = 3 THEN IIF(ISNULL(TP.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
								  WHEN ED.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
							ELSE ED.EmploymentType + CASE WHEN ISNULL(TP.SpecificMonth,0) = -1 THEN ' contract with indefinite months' ELSE IIF(TP.SpecificMonth > 0, ' contract - ' + CAST(TP.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END,
			
			ED.HowSoon,
			RH.WorkingModeID,
			--ModeOfWorking = CASE WHEN MW.ModeOfWorking = 'Remote' THEN Isnull(MW.ModeOfWorking,'') ELSE Isnull(MW.ModeOfWorking,'') + ' - ' + Isnull(RH.City,'') END, 
			ModeOfWorking = CASE WHEN ISNULL(MW.ModeOfWorking,'') = '' OR ISNULL(MW.ModeOfWorking,'') = 'Remote' THEN Isnull(MW.ModeOfWorking,'Remote') ELSE Isnull(MW.ModeOfWorking,'') + ' - ' + Isnull(RH.JobLocation,'') END,
			CompanyLocation = CASE WHEN RH.WorkingModeID = 1 THEN 'Remote' 
								   WHEN RH.WorkingModeID = 2 THEN 'Hybrid'
								   ELSE RH.CompanyLocation END,
			ED.AchievementID,
			ED.Timezone_Preference_ID,
			ED.TimeZoneID,
			ED.TimeZone_FromTime,
			ED.TimeZone_EndTime,
			ED.IsHrTypeDP,
			AU.Reason,
			TZ.TimeZoneTitle AS 'TimeZone',
			TTZ.TalentTimeZone AS 'Region',
			RR.ID AS 'JDID',
			RR.JDFileName,
			RR.Requirements, 
			RR.RolesResponsibilities,
			GCS.CurrentStepID,
			GCS.NextStepID,
			RH.ProcessType,
			CONVERT(varchar,ISNULL(RH.CreatedDateTime, RH.ModifiedByDateTime), 6) AS 'FirstTabDate',
			ISNULL(SB.CreatedDateTime, SB.ModifiedByDateTime) AS 'SecondTabDate',
			ISNULL(ED.CreatedDateTime, ED.ModifiedByDateTime) AS 'ThirdTabDate',
			ISNULL(RR.CreatedDateTime, RR.ModifiedByDateTime) AS 'FourthTabDate',
			GJD.URL AS 'JDLink',
			CASE
				WHEN ED.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, ED.TimeZone_FromTime) AS TIME), 0)
				ELSE ''
			END as IST_TimeZone_FromTime,
			Isnull(CASE
				WHEN ED.TimeZone_EndTime is not null THEN CONVERT(VARCHAR(10),  CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, ED.TimeZone_EndTime) AS TIME), 0)
				ELSE ''
			END,'NA') as IST_TimeZone_EndTime,
			RH.City,
			RH.State,
			RH.Country,
			RH.PostalCode,
			CR.Country AS CountryID,
			ISNULL(SB.BudgetType,2) AS BudgetType,
			TP.HiringTypePricingId,
			TP.PayrollTypeId,
			TP.PayrollPartnerName,
			HTP.Type AS HiringTypePricing,
			PT.PayrollType,
			RR.GPTJDID,
			RR.JobDescription,
			ISNULL(SB.IsConfidentialBudget,0) IsConfidentialBudget,
			HRCost = CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 AND ISNULL(SB.BudgetTo, 0) = 0 THEN 'Upto ' + ER.CurrencySign + FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'hi-in'))
					ELSE 				
					ER.CurrencySign + '' + CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 THEN FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END + 
					 CASE WHEN ISNULL(SB.BudgetTo, 0) <> 0 THEN ' to ' + ER.CurrencySign + '' + FORMAT(SB.BudgetTo, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END 
					 END + ' ' +SB.Currency +  CASE WHEN ISNULL(TP.HiringTypePricingId,0) <> 0 AND ISNULL(TP.HiringTypePricingId,0) IN (1,2) THEN ' / Month' ELSE '/ Annum' END,
			RH.GUID AS 'Guid',
			ISNULL(RH.CreatedDateTime, RH.ModifiedByDateTime) AS AddedDate,
			CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 THEN FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END AS BudgetFromStr,
			CASE WHEN ISNULL(SB.BudgetTo, 0) <> 0 THEN FORMAT(SB.BudgetTo, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END AS BudgetToStr,
			HRID = 0
			FROM gen_RoleAndHiringType_ClientPortal RH WITH(NOLOCK)
			LEFT JOIN gen_Contact GC WITH(NOLOCK) ON GC.ID = RH.ContactId
			LEFT JOIN gen_SkillAndBudget_ClientPortal SB WITH(NOLOCK) ON RH.GUID = SB.GUID AND SB.ContactId = @ContactID
			LEFT JOIN gen_JobPost_Employment_Details_ClientPortal ED WITH(NOLOCK) ON RH.GUID = ED.GUID AND ED.ContactId = @ContactID
			LEFT JOIN prg_ModeOfWorking MW  WITH(NOLOCK) ON RH.WorkingModeID = MW.ID
			LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON ED.Timezone_Preference_ID = TZ.ID
			LEFT JOIN prg_TalentTimeZone TTZ WITH(NOLOCK) ON TTZ.ID = ED.TimeZoneID
			LEFT JOIN prg_CurrencyExchangeRate ER WITH(NOLOCK) ON ER.CurrencyCode = SB.Currency
			LEFT JOIN gen_JobPost_Roles_Responsibilities_ClientPortal RR WITH(NOLOCK) ON RH.GUID = RR.GUID AND RR.ContactId = @ContactID 
			LEFT JOIN Prg_AchievementWithUplers_Reasons AU WITH(NOLOCK) ON AU.ID = ED.AchievementID
			LEFT JOIN Gen_Client_Jobs GCS WITH(NOLOCK) ON GCS.ContactID = RH.ContactId AND GCS.GUID = RH.GUID
			LEFT JOIN Gen_GPT_JDResponse GJD WITH(NOLOCK) ON GJD.ID = RR.GPTJDID AND ISNULL(RR.GPTJDID,0) <> 0
			LEFT JOIN prg_CountryRegion CR WITH(NOLOCK) ON CR.ID = RH.Country
			LEFT JOIN gen_TransparentPricingModel_ClientPortal TP ON TP.GUID = RH.GUID AND TP.ContactId = @ContactID 
			LEFT JOIN prg_HiringType_Pricing HTP ON HTP.ID = TP.HiringTypePricingId
			LEFT JOIN prg_PayrollType PT ON TP.PayrollTypeId = PT.ID			
			WHERE RH.ContactId = @ContactID AND RH.AnotherCompanyID = @AnotherCompanyTypeId AND RH.RoleName IS NOT NULL AND RH.IsActive = 0
			AND RH.GUID NOT IN (SELECT ISNULL(GUID,'') FROM gen_SalesHiringRequest)
			

			UNION

			SELECT  RoleHRID = hrd.HiringRequest_ID,
					RoleName = Isnull(hr.RequestForTalent,''),
					ContactId = @ContactID,
					FullName = AC.FullName,
					EmailID = C.EmailID,
					ExperienceYears = CASE WHEN cast(ISNULL(HRD.YearOfExp,0) as int) = 0 THEN 'Freshers' ELSE cast(hrd.YearOfExp as Nvarchar(50)) + '+ years experience' END,
					NoOfTalents = Isnull(hrd.NoofEmployee,0),
					IsHiringLimited = '',
					Availability = hr.Availability,
					JobType = '',
					ContractDuration = SpecificMonth,
					SkillBudgetID =CAST( 0 AS BIGINT),
					MST.SkillName AS 'Skills',
					GST.SkillName AS 'AllSkills',
					Currency = HRD.Currency,
					CurrencySign = ER.CurrencySign,
					BudgetFrom = ISNULL(NULLIF(HRD.BudgetFrom,0), HRD.Adhoc_BudgetCost),
					BudgetTo = HRD.BudgetTo,
					EmploymentDetailsID = CAST( 0 AS BIGINT),
					--EmploymentType = HR.Availability + IIF(ISNULL(hrd.SpecificMonth, 0) > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', ' contract with indefinite months'),
					--EmploymentType = HR.Availability + CASE WHEN ISNULL(HRD.SpecificMonth,0) = -1 THEN ' contract with indefinite months' ELSE IIF(hrd.SpecificMonth > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', '') END,
					EmploymentType = CASE WHEN HR.JobTypeID = 1 THEN 'Full time permanent position' 
										   WHEN HR.JobTypeID = 2 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
										   WHEN HR.JobTypeID = 3 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
										   WHEN HR.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
									  ELSE HR.Availability + CASE WHEN ISNULL(HRD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
													ELSE IIF(hrd.SpecificMonth > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END,
					HowSoon = HRD.HowSoon,
					WorkingModeID = 0,
					ModeOfWorking = CASE WHEN ISNULL(DP.ModeOfWork,'') = '' OR ISNULL(DP.ModeOfWork,'') = 'Remote' THEN Isnull(DP.ModeOfWork,'Remote') ELSE Isnull(DP.ModeOfWork,'') + ' - ' + Isnull(DP.JobLocation,'') END,  
					CompanyLocation = ISNULL(DP.ModeOfWork, 'Remote'),
					AchievementID = 0,
					Timezone_Preference_ID = HRD.Timezone_Preference_ID,
					TimeZoneID = HRD.Timezone_Preference_ID,
					TimeZone_FromTime = HRD.TimeZone_FromTime,
					TimeZone_EndTime = HRD.TimeZone_EndTime,
					IsHrTypeDP = HR.IsHrTypeDP,
					Reason = '',
					TimeZoneTitle = isnull(CTZ.TimeZoneTitle,''),
					Region = '',
					JDID = CAST( 0 AS BIGINT),
					JDFileName = hr.JDFilename,
					Requirements = HRD.Requirement,
					RolesResponsibilities = HRD.RolesResponsibilities,
					CurrentStepID = 0,
					NextStepID = 0,
					ProcessType = '',
					FirstTabDate = CONVERT(varchar,HR.CreatedByDatetime, 6),
					SecondTabDate = '',
					ThirdTabDate = '',
					FourthTabDate = '',
					JDLink = hr.JDURL,		
					IST_TimeZone_FromTime = '',
					IST_TimeZone_EndTime = '',
					City = '',
					State = '',
					Country = '',
					PostalCode = '',
					CountryID = '',
					BudgetType = CASE WHEN ISNULL(hrd.BudgetFrom, 0) > 0 AND ISNULL(hrd.BudgetTo, 0) > 0 THEN 2
									WHEN ISNULL(hrd.Adhoc_BudgetCost, 0) > 0 THEN 1
									ELSE 3 END,
					HiringTypePricingId = HR.HiringTypePricingId,
					PayrollTypeId = HR.PayrollTypeId,
					PayrollPartnerName = '',
					HiringTypePricing = '',
					PayrollType = '',
					GPTJDID = CAST(0 AS BIGINT),
					JobDescription = HRD.JobDescription,
					IsConfidentialBudget = HRD.IsConfidentialBudget,
					HRCost = hrd.cost,
					Guid = HR.Guid,
					ISNULL(hr.CreatedByDatetime, hr.LastModifiedDatetime) AS AddedDate,
					CASE WHEN ISNULL(hrd.BudgetFrom, 0) <> 0 THEN FORMAT(hrd.BudgetFrom, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END AS BudgetFromStr,
					CASE WHEN ISNULL(hrd.BudgetTo, 0) <> 0 THEN FORMAT(hrd.BudgetTo, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END AS BudgetToStr,
					HRID = HR.ID
			FROM	gen_SalesHiringRequest hr WITH(NOLOCK)
					left join gen_SalesHiringRequest_Details hrd WITH(NOLOCK) on hr.ID = hrd.HiringRequest_ID
					--inner join prg_TalentRoles r WITH(NOLOCK) on hrd.Role_ID = r.ID
					--INNER JOIN prg_HiringRequestStatus HRStatus WITH(NOLOCK) ON HRStatus.ID = hr.Status_ID
					Inner join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = HR.JobStatusID
					INNER JOIN gen_Contact C WITH(NOLOCK) ON C.ID = hr.ContactID
					inner join #AllContats AC ON AC.ID = ISNULL(hr.ClientJobModifyByID,hr.ContactID)					
					Inner join #HRTypeID HT ON HT.HRID = HR.ID
					LEFT JOIN prg_ContactTimeZone CTZ ON CTZ.ID = hrd.Timezone_ID					
					left join #MaxJobDeduct MJD WITH(NOLOCK) ON MJD.HRID = HR.ID
					left join gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) ON JCT.ID = MJD.ID
					LEFT JOIN @MustSkillsTable MST ON MST.HiringRequestID = hr.ID
					LEFT JOIN @GoodToSkillsTable GST ON GST.HiringRequestID = hr.ID					
					left join prg_PartialEngagementType PET WITH(NOLOCK) ON PET.ID = hr.PartialEngagementType_ID
					LEFT JOIN gen_Direct_Placement DP ON DP.HiringRequest_Id = HR.ID
					LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = hr.HrTypeId
					LEFT JOIN prg_CurrencyExchangeRate ER WITH(NOLOCK) ON ER.CurrencyCode = hrd.Currency
			 where	--hr.Status_ID in(1,2,7,8) and 
					isnull(hr.IsActive,0) = 0 
					and AC.CompanyID = @CompanyID 
					and Hr.JobstatusID <> 2
					--hr.ContactID = @Contact_ID ---(hrd.RoleStatus_ID not in(6,7))
					AND hr.ContactID = @ContactID	
					--AND HR.GUID NOT IN (SELECT ISNULL(GUID,'') FROM gen_RoleAndHiringType_ClientPortal)
		) Q 
		Order by Q.AddedDate DESC
				
		END
	
		ELSE
		BEGIN
		SELECT * FROM 
		(
			SELECT  
			RH.Id AS 'RoleHRID',
			RH.RoleName, 
			RH.ContactId,
			GC.FullName,
			GC.EmailID,
			ExperienceYears = CASE WHEN ISNULL(RH.ExperienceYears,0) = 0 THEN 'Freshers' ELSE CAST(ISNULL(RH.ExperienceYears,0) AS NVARCHAR(500)) + '+ years experience' END,
			RH.NoOfTalents,
			RH.IsHiringLimited,
			RH.Availability,
			CASE WHEN  TP.SpecificMonth > 0 then 'Contract for ' + Cast(ISNULL(TP.SpecificMonth, IIF(RH.IsHiringLimited = 'Temporary' , RH.ContractDuration, NULL)) as Nvarchar(5))  else 'Permanant' end as JobType,		
			TP.SpecificMonth AS ContractDuration,
			SB.Id AS 'SkillBudgetID',
			SB.Skills, 
			SB.AllSkills,
			SB.Currency,
			ER.CurrencySign,
			SB.BudgetFrom,
			SB.BudgetTo,
			ED.ID AS 'EmploymentDetailsID',
			--ISNULL(NULLIF(ED.EmploymentType,''), 'Full Time') ,
			--EmploymentType = ED.EmploymentType + IIF(ISNULL(TP.SpecificMonth, 0) > 0, ' contract - ' + CAST(TP.SpecificMonth AS NVARCHAR(20)) + ' months', ' contract with indefinite months'),
			EmploymentType = CASE WHEN ED.JobTypeID = 1 THEN 'Full time permanent position' 
								  WHEN ED.JobTypeID = 2 THEN IIF(ISNULL(TP.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
								  WHEN ED.JobTypeID = 3 THEN IIF(ISNULL(TP.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
								  WHEN ED.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(TP.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
							ELSE ED.EmploymentType + CASE WHEN ISNULL(TP.SpecificMonth,0) = -1 THEN ' contract with indefinite months' ELSE IIF(TP.SpecificMonth > 0, ' contract - ' + CAST(TP.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END,
			ED.HowSoon,
			RH.WorkingModeID,
			ModeOfWorking = CASE WHEN ISNULL(MW.ModeOfWorking,'') = '' OR ISNULL(MW.ModeOfWorking,'') = 'Remote' THEN Isnull(MW.ModeOfWorking,'Remote') ELSE Isnull(MW.ModeOfWorking,'') + ' - ' + Isnull(RH.JobLocation,'') END,
			CompanyLocation = CASE WHEN RH.WorkingModeID = 1 THEN 'Remote' 
								   WHEN RH.WorkingModeID = 2 THEN 'Hybrid'
								   ELSE RH.CompanyLocation END,
			ED.AchievementID,
			ED.Timezone_Preference_ID,
			ED.TimeZoneID,
			ED.TimeZone_FromTime,
			ED.TimeZone_EndTime,
			ED.IsHrTypeDP,
			AU.Reason,
			TZ.TimeZoneTitle AS 'TimeZone',
			TTZ.TalentTimeZone AS 'Region',
			RR.ID AS 'JDID',
			RR.JDFileName,
			RR.Requirements, 
			RR.RolesResponsibilities,
			GCS.CurrentStepID,
			GCS.NextStepID,
			RH.ProcessType,
			CONVERT(varchar,ISNULL(RH.CreatedDateTime, RH.ModifiedByDateTime), 6) AS 'FirstTabDate',
			ISNULL(SB.CreatedDateTime, SB.ModifiedByDateTime) AS 'SecondTabDate',
			ISNULL(ED.CreatedDateTime, ED.ModifiedByDateTime) AS 'ThirdTabDate',
			ISNULL(RR.CreatedDateTime, RR.ModifiedByDateTime) AS 'FourthTabDate',
			GJD.URL AS 'JDLink',
			CASE
				WHEN ED.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, ED.TimeZone_FromTime) AS TIME), 0)
				ELSE ''
			END as IST_TimeZone_FromTime,
			Isnull(CASE
				WHEN ED.TimeZone_EndTime is not null THEN CONVERT(VARCHAR(10),  CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, ED.TimeZone_EndTime) AS TIME), 0)
				ELSE ''
			END,'NA') as IST_TimeZone_EndTime,
			RH.City,
			RH.State,
			RH.Country,
			RH.PostalCode,
			CR.Country AS CountryID,
			ISNULL(SB.BudgetType,2) AS BudgetType,
			TP.HiringTypePricingId,
			TP.PayrollTypeId,
			TP.PayrollPartnerName,
			HTP.Type AS HiringTypePricing,
			PT.PayrollType,
			RR.GPTJDID,
			RR.JobDescription,
			ISNULL(SB.IsConfidentialBudget,0) IsConfidentialBudget,
			HRCost = CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 AND ISNULL(SB.BudgetTo, 0) = 0 THEN 'Upto ' + ER.CurrencySign + FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'hi-in'))
					ELSE 				
					ER.CurrencySign + '' + CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 THEN FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END + 
					 CASE WHEN ISNULL(SB.BudgetTo, 0) <> 0 THEN ' to ' + ER.CurrencySign + '' + FORMAT(SB.BudgetTo, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END 
					 END + ' ' +SB.Currency +  CASE WHEN ISNULL(TP.HiringTypePricingId,0) <> 0 AND ISNULL(TP.HiringTypePricingId,0) IN (1,2) THEN ' / Month' ELSE '/ Annum' END,
			RH.GUID AS 'Guid',
			ISNULL(RH.CreatedDateTime, RH.ModifiedByDateTime) AS AddedDate,
			CASE WHEN ISNULL(SB.BudgetFrom, 0) <> 0 THEN FORMAT(SB.BudgetFrom, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END AS BudgetFromStr,
			CASE WHEN ISNULL(SB.BudgetTo, 0) <> 0 THEN FORMAT(SB.BudgetTo, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END AS BudgetToStr,
			HRID = 0
			FROM gen_RoleAndHiringType_ClientPortal RH WITH(NOLOCK)
			INNER join #AllContats AC ON AC.ID = RH.ContactId
			LEFT JOIN gen_Contact GC WITH(NOLOCK) ON GC.ID = RH.ContactId
			LEFT JOIN gen_SkillAndBudget_ClientPortal SB WITH(NOLOCK) ON RH.GUID = SB.GUID AND SB.ContactId = @ContactID
			LEFT JOIN gen_JobPost_Employment_Details_ClientPortal ED WITH(NOLOCK) ON RH.GUID = ED.GUID AND ED.ContactId = @ContactID
			LEFT JOIN prg_ModeOfWorking MW  WITH(NOLOCK) ON RH.WorkingModeID = MW.ID
			LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON ED.Timezone_Preference_ID = TZ.ID
			LEFT JOIN prg_TalentTimeZone TTZ WITH(NOLOCK) ON TTZ.ID = ED.TimeZoneID
			LEFT JOIN prg_CurrencyExchangeRate ER WITH(NOLOCK) ON ER.CurrencyCode = SB.Currency
			LEFT JOIN gen_JobPost_Roles_Responsibilities_ClientPortal RR WITH(NOLOCK) ON RH.GUID = RR.GUID AND RR.ContactId = @ContactID 
			LEFT JOIN Prg_AchievementWithUplers_Reasons AU WITH(NOLOCK) ON AU.ID = ED.AchievementID
			LEFT JOIN Gen_Client_Jobs GCS WITH(NOLOCK) ON GCS.ContactID = RH.ContactId AND GCS.GUID = RH.GUID
			LEFT JOIN Gen_GPT_JDResponse GJD WITH(NOLOCK) ON GJD.ID = RR.GPTJDID AND ISNULL(RR.GPTJDID,0) <> 0
			LEFT JOIN prg_CountryRegion CR WITH(NOLOCK) ON CR.ID = RH.Country
			LEFT JOIN gen_TransparentPricingModel_ClientPortal TP ON TP.GUID = RH.GUID AND TP.ContactId = @ContactID 
			LEFT JOIN prg_HiringType_Pricing HTP ON HTP.ID = TP.HiringTypePricingId
			LEFT JOIN prg_PayrollType PT ON TP.PayrollTypeId = PT.ID
			WHERE AC.CompanyID = @CompanyId AND RH.AnotherCompanyID = @AnotherCompanyTypeId AND RH.RoleName IS NOT NULL AND RH.IsActive = 0
			AND RH.GUID NOT IN (SELECT ISNULL(GUID,'') FROM gen_SalesHiringRequest)

			UNION

			SELECT  RoleHRID = hrd.HiringRequest_ID,
					RoleName = Isnull(hr.RequestForTalent,''),
					ContactId = @ContactID,
					FullName = AC.FullName,
					EmailID = C.EmailID,
					ExperienceYears = CASE WHEN cast(ISNULL(HRD.YearOfExp,0) as int) = 0 THEN 'Freshers' ELSE cast(hrd.YearOfExp as Nvarchar(50)) + '+ years experience' END,
					NoOfTalents = Isnull(hrd.NoofEmployee,0),
					IsHiringLimited = '',
					Availability = hr.Availability,
					JobType = '',
					ContractDuration = SpecificMonth,
					SkillBudgetID =CAST( 0 AS BIGINT),
					MST.SkillName AS 'Skills',
					GST.SkillName AS 'AllSkills',
					Currency = HRD.Currency,
					CurrencySign = ER.CurrencySign,
					BudgetFrom = ISNULL(NULLIF(HRD.BudgetFrom,0), HRD.Adhoc_BudgetCost),
					BudgetTo = HRD.BudgetTo,
					EmploymentDetailsID = CAST( 0 AS BIGINT),
					--EmploymentType = HR.Availability + IIF(ISNULL(hrd.SpecificMonth, 0) > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', ' contract with indefinite months'),
					EmploymentType = CASE WHEN HR.JobTypeID = 1 THEN 'Full time permanent position' 
										   WHEN HR.JobTypeID = 2 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Contract'
										   WHEN HR.JobTypeID = 3 THEN IIF(ISNULL(HRD.SpecificMonth,0) = -1, '(Indefinite)', CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + ' months') + ' - Part time position'
										   WHEN HR.JobTypeID = 4 THEN 'Contract to hire - ' + CAST(ISNULL(HRD.SpecificMonth,0) AS VARCHAR) + '-month initial contract duration'
									  ELSE HR.Availability + CASE WHEN ISNULL(HRD.SpecificMonth,0) = -1 THEN ' contract with indefinite months'
													ELSE IIF(hrd.SpecificMonth > 0, ' contract - ' + CAST(hrd.SpecificMonth AS NVARCHAR(20)) + ' months', '') END END,
					HowSoon = HRD.HowSoon,
					WorkingModeID = 0,
					ModeOfWorking = CASE WHEN ISNULL(DP.ModeOfWork,'') = '' OR ISNULL(DP.ModeOfWork,'') = 'Remote' THEN Isnull(DP.ModeOfWork,'Remote') ELSE Isnull(DP.ModeOfWork,'') + ' - ' + Isnull(DP.JobLocation,'') END,
					CompanyLocation = ISNULL(DP.ModeOfWork, 'Remote'),
					AchievementID = 0,
					Timezone_Preference_ID = HRD.Timezone_Preference_ID,
					TimeZoneID = HRD.Timezone_Preference_ID,
					TimeZone_FromTime = HRD.TimeZone_FromTime,
					TimeZone_EndTime = HRD.TimeZone_EndTime,
					IsHrTypeDP = HR.IsHrTypeDP,
					Reason = '',
					TimeZoneTitle = isnull(CTZ.TimeZoneTitle,''),
					Region = '',
					JDID = CAST( 0 AS BIGINT),
					JDFileName = hr.JDFilename,
					Requirements = HRD.Requirement,
					RolesResponsibilities = HRD.RolesResponsibilities,
					CurrentStepID = 0,
					NextStepID = 0,
					ProcessType = '',
					FirstTabDate = CONVERT(varchar,HR.CreatedByDatetime, 6),
					SecondTabDate = '',
					ThirdTabDate = '',
					FourthTabDate = '',
					JDLink = hr.JDURL,		
					IST_TimeZone_FromTime = '',
					IST_TimeZone_EndTime = '',
					City = '',
					State = '',
					Country = '',
					PostalCode = '',
					CountryID = '',
					BudgetType = CASE WHEN ISNULL(hrd.BudgetFrom, 0) > 0 AND ISNULL(hrd.BudgetTo, 0) > 0 THEN 2
									WHEN ISNULL(hrd.Adhoc_BudgetCost, 0) > 0 THEN 1
									ELSE 3 END,
					HiringTypePricingId = HR.HiringTypePricingId,
					PayrollTypeId = HR.PayrollTypeId,
					PayrollPartnerName = '',
					HiringTypePricing = '',
					PayrollType = '',
					GPTJDID = CAST(0 AS BIGINT),
					JobDescription = HRD.JobDescription,
					IsConfidentialBudget = HRD.IsConfidentialBudget,
					HRCost = hrd.Cost,
					Guid = HR.Guid,
					ISNULL(hr.CreatedByDatetime, hr.LastModifiedDatetime) AS AddedDate,
					CASE WHEN ISNULL(hrd.BudgetFrom, 0) <> 0 THEN FORMAT(hrd.BudgetFrom, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END AS BudgetFromStr,
					CASE WHEN ISNULL(hrd.BudgetTo, 0) <> 0 THEN FORMAT(hrd.BudgetTo, N'N', ISNULL(ER.Culture,'hi-in')) ELSE '' END AS BudgetToStr,
					HRID = HR.ID
			FROM	gen_SalesHiringRequest hr WITH(NOLOCK)
					LEFT join gen_SalesHiringRequest_Details hrd WITH(NOLOCK) on hr.ID = hrd.HiringRequest_ID					
					LEFT join prg_JobStatus_ClientPortal JSC WITH(NOLOCK) ON JSC.ID = HR.JobStatusID
					LEFT JOIN gen_Contact C WITH(NOLOCK) ON C.ID = hr.ContactID
					LEFT join #AllContats AC ON AC.ID = ISNULL(hr.ClientJobModifyByID,hr.ContactID)					
					INNER join #HRTypeID HT ON HT.HRID = HR.ID
					LEFT JOIN prg_ContactTimeZone CTZ ON CTZ.ID = hrd.Timezone_ID					
					left join #MaxJobDeduct MJD WITH(NOLOCK) ON MJD.HRID = HR.ID
					left join gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) ON JCT.ID = MJD.ID
					LEFT JOIN @MustSkillsTable MST ON MST.HiringRequestID = hr.ID
					LEFT JOIN @GoodToSkillsTable GST ON GST.HiringRequestID = hr.ID					
					left join prg_PartialEngagementType PET WITH(NOLOCK) ON PET.ID = hr.PartialEngagementType_ID
					LEFT JOIN gen_Direct_Placement DP ON DP.HiringRequest_Id = HR.ID
					LEFT JOIN prg_HiringRequest_Type PRT ON PRT.ID = hr.HrTypeId
					LEFT JOIN prg_CurrencyExchangeRate ER WITH(NOLOCK) ON ER.CurrencyCode = hrd.Currency
			 where	--hr.Status_ID in(1,2,7,8) and 
					isnull(hr.IsActive,0) = 0 and 
					AC.CompanyID = @CompanyID 
					and Hr.JobstatusID <> 2
					--AND HR.GUID NOT IN (SELECT ISNULL(GUID,'') FROM gen_RoleAndHiringType_ClientPortal)
					
					--hr.ContactID = @Contact_ID ---(hrd.RoleStatus_ID not in(6,7))
					--AND hr.ContactID = @ContactID	
		) Q
		Order by Q.AddedDate DESC
		END		 

		 DROP TABLE #MaxJobDeduct
		DROP TABLE #HRTypeID
		DROP TABLE #AllContats
END

