USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_UTS_SLA_OverAll_Summary_Report_Static_Stages]    Script Date: 14-08-2024 17:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_UTS_SLA_OverAll_Summary_Report_Static_Stages]
  @Start_Date		Nvarchar(50) = null,
  @End_date			Nvarchar(50) = null,
  @HRID				bigint = null,
  @Sales_ManagerID  bigint = null,
  @Ops_Lead			bigint = null,
  @SalesPerson		bigint = null,
  @Stage			nvarchar(50) = null,
  @IsAdHoc			int = null,
  @Role				Nvarchar(100) = null,
  @Hr_Number		Nvarchar(100) = null,
  @Company			Nvarchar(100) = null,
  @ActionFilterID	Int  = null,
  @AMNBD			int = null,
  @StageIDs			NVarchar(100) = null,
  @ActionFilterIDs  Nvarchar(100) = null,
  @CompanyIDs		Nvarchar(100) = null,
  @IsHRFocused		bit			  = 0,
  @Sales_ManagerIDs  Nvarchar(MAx) = null,
  @Heads			nvarchar(100) = NULL

AS
BEGIN
	BEGIN TRAN T1
				IF @IsHRFocused != 1
					SET @IsHRFocused = NULL;

				Declare @Sales_Person as Nvarchar(100) = ''
				Declare @Sales_Manager as Nvarchar(100) = ''
				Declare @Ops_LeadName as Nvarchar(100) = ''	
				Declare @ActionFilter as Nvarchar(100) = ''
				Declare @ActionFilters as Nvarchar(200) = ''

				If Isnull(@ActionFilterID,0) <> 0
					BEGIN
						Select @ActionFilter = ActionFilter
						FROM   Prg_ActionFilters WITH(NOLOCK)
						where  ID = @ActionFilterID
					ENd

				IF OBJECT_ID('tempdb..#ActionFilterID') Is not null
					DROP TABLE #ActionFilterID
				IF OBJECT_ID('tempdb..#CompanyID') Is not null
					DROP TABLE #CompanyID
				IF OBJECT_ID('tempdb..#StageID') Is not null
					DROP TABLE #StageID
				IF OBJECT_ID('tempdb..#SaleManagerID') Is not null
					DROP TABLE #SaleManagerID
				IF OBJECT_ID('tempdb..#HeadTempTbl') IS NOT NULL
					DROP TABLE #HeadTempTbl;

				CREATE TABLE #ActionFilterID
				(
					ID			int,
					FilterName	Nvarchar(20)
				)

				CREATE TABLE #CompanyID
				(
					ID			int,
					Company 	Nvarchar(100)
				)

				CREATE TABLE #StageID
				(
					ID			int,
					Stage		Nvarchar(100)
				)

				CREATE TABLE #SaleManagerID
				(
					ID			int,
					FullName 	Nvarchar(100)
				)
				
				CREATE TABLE #HeadTempTbl
				(
					HeadID bigint
				)

				If Isnull(@ActionFilterIDs,'') <> ''
					BEGIN
						  Insert into #ActionFilterID
						  select PA.ID,PA.ActionFilter 
						  from   Prg_ActionFilters PA	WITH(NOLOCK)											
						  where  ID in (select val from dbo.f_split(@ActionFilterIDs,','))
					ENd
				ELSE 
					BEGIN
						  Insert into #ActionFilterID
						  select PA.ID,PA.ActionFilter 
						  from   Prg_ActionFilters PA	WITH(NOLOCK)
					END
		 
				 If Isnull(@StageIDs,'') <> ''
					BEGIN
						  Insert into #StageID
						  select SA.ID,SA.SummaryStage 
						  from   prg_SummaryStagesForReports SA	WITH(NOLOCK)											
						  where  ID in (select val from dbo.f_split(@StageIDs,','))
								 and ID >= 4
					ENd
				 ELSE 
					BEGIN
						  Insert into #StageID
						  select SA.ID,SA.SummaryStage 
						  from   prg_SummaryStagesForReports SA	WITH(NOLOCK)
						  where  ID >= 4 
					END

				If Isnull(@CompanyIDs,'') <> ''
					BEGIN
						  Insert into #CompanyID
						  select CO.ID,CO.Company 
						  from   gen_Company CO	WITH(NOLOCK)											
						  where  ID in (select val from dbo.f_split(@CompanyIDs,','))
					ENd
				ELSE 
					BEGIN
						  Insert into #CompanyID
						  select CO.ID,CO.Company 
						  from   gen_Company CO	WITH(NOLOCK)
					END

				If Isnull(@ActionFilterID,0) <> 0
					BEGIN
						Select @ActionFilter = ActionFilter
						FROM   Prg_ActionFilters WITH(NOLOCK)
						where  ID = @ActionFilterID
					ENd

				If Isnull(@SalesPerson,0) <> 0
					BEGIN
						Select @Sales_Person = IsNull(FullName,'')
						FROM   usr_User WITH(Nolock)
						WHERE  Id = @SalesPerson
				 END

				If Isnull(@Sales_ManagerID,0) <> 0
					BEGIN
					Select @Sales_Manager = IsNull(FullName,'')
					FROM   usr_User WITH(Nolock)
					WHERE  Id = @Sales_ManagerID
				 ENd
	  
				If Isnull(@Sales_ManagerID,0) <> 0
				   BEGIN
						Select @Ops_LeadName = IsNull(FullName,'')
						FROM   usr_User WITH(Nolock)
						WHERE  Id = @Ops_Lead
					END

				If Isnull(@Sales_ManagerIDs,'') <> ''
					BEGIN
						  Insert into #SaleManagerID
						  select U.ID,U.FullName 
						  from   usr_User U WITH(Nolock)
						  WHERE  Id in (select val from dbo.f_split(@Sales_ManagerIDs,','))
					ENd
				ELSE 
					BEGIN
						  Insert into #SaleManagerID
						  select U.ID,U.FullName 
						  from   usr_User U WITH(Nolock)
					END
						
				IF @Heads <> ''
					BEGIN
						INSERT INTO #HeadTempTbl(HeadID)
							select val from f_split(@Heads,',');
					END
				ELSE
					BEGIN
						--Get All Head Level User of Demand Dept.
						INSERT INTO #HeadTempTbl(HeadID)
							SELECT distinct ID from usr_User with(nolock) where DeptID = 1 and LevelID = 1;
					END

				IF OBJECT_ID('tempdb..#AllHrchyPopUp') is not null
					drop table #AllHrchyPopUp;

				CREATE TABLE #AllHrchyPopUp(UserID bigint, ParentID bigint, MainParentID bigint);

				BEGIN
					;WITH cteUser_AllHrchy 
					AS (    
						SELECT		u.ID AS UserID, 
									uh.ParentID,
									u.FullName AS Name,
									H1.HeadID as MainParentID,
									0 AS [Level]
						FROM		[dbo].[usr_User] u with(nolock)
									LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID
									LEFT JOIN #HeadTempTbl H1 on (uh.ParentID = H1.HeadID or uh.UserID = H1.HeadID)
						WHERE		(uh.ParentID = H1.HeadID or uh.UserID = H1.HeadID) and U.IsActive = 1	    
 
						UNION ALL
 
						SELECT		u.ID AS UserID,
									child.ParentID,
									u.FullName AS Name,
									cte.MainParentID as MainParentID,
									[Level]+1 AS [Level]
						FROM		[dbo].[usr_User] u with(nolock)
									INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
									INNER JOIN	cteUser_AllHrchy cte  ON cte.UserID = child.ParentID							
						WHERE		U.IsActive = 1
					)

					INSERT INTO #AllHrchyPopUp(UserID, ParentID, MainParentID)
						select C.UserID, C.ParentID, C.MainParentID from cteUser_AllHrchy C
				END


				Declare @IsAdHoc_Type as bit

				--If Isnull(@ActionFilterID,0) <> 0
				--	BEGIN
				--		Select @ActionFilter = ActionFilter
				--		FROM   Prg_ActionFilters WITH(NOLOCK)
				--		where  ID = @ActionFilterID
				--	ENd

				If @IsAdHoc = 1
					SET @IsAdHoc_Type = 0
				ELse If @IsAdHoc = 2
					SET @IsAdHoc_Type = 1

				--If Isnull(@SalesPerson,0) <> 0
				--	BEGIN
				--		Select @Sales_Person = IsNull(FullName,'')
				--		FROM   usr_User WITH(Nolock)
				--		WHERE  Id = @SalesPerson
				-- END

				--If Isnull(@Sales_ManagerID,0) <> 0
				--	BEGIN
				--	Select @Sales_Manager = IsNull(FullName,'')
				--	FROM   usr_User WITH(Nolock)
				--	WHERE  Id = @Sales_ManagerID
				-- ENd
	  
				--If Isnull(@Ops_Lead,0) <> 0
				--   BEGIN
				--		Select @Ops_LeadName = IsNull(FullName,'')
				--		FROM   usr_User WITH(Nolock)
				--		WHERE  Id = @Ops_Lead
				--	END

				

				IF OBJECT_ID('tempdb..#SLAReportsRecordsForProfileShared') iS NOT NULL
					DROP TABLE #SLAReportsRecordsForProfileShared;

				CREATE TABLE #SLAReportsRecordsForProfileShared
				(
					ID						int primary key identity(1,1),
					HistoryCreatedDateTime	datetime,
					HistoryActionID			bigint,
					HR_ID					bigint,
					TalentID				bigint,
					SLADuedate				datetime,
					MaxCreatedDateTime		datetime
				)

				BEGIN -- Payal (04-03-2024) (Remove Test Companies Using Configuration)

			     IF OBJECT_ID('tempdb..#TempRemoveCompanies') IS NOT NULL
					DROP TABLE #TempRemoveCompanies;

				Declare @Values as Nvarchar(Max) = ''

				select  @Values = [Value]  
				from   gen_SystemConfiguration WITH(NOLOCK)
				where  [Key]  ='RemoveCompaniesforUTSAdminReports'

				select  cast(val as bigint) as RemoveCompanyID into #TempRemoveCompanies from dbo.f_Split(@Values,',')

		END

				----Code for Profile shared Stage : 'HR Acceptance to Matchmaking'   Id = 3
				--INSERT INTO #SLAReportsRecordsForProfileShared( HistoryCreatedDateTime, HistoryActionID, HR_ID, TalentID,SLADuedate,MaxCreatedDateTime)
				--select   Max(Hi.CreatedByDatetime),Max(Hi.Action_ID),HI.HiringRequest_ID,Hi.Talent_ID,MAX(cast(Hi.SLA_DueDate as date)),Max(Q.MaxCreatedByDatetime)
				--from	 gen_History HI WITH(NOLOCK)
				--		 inner join prg_SummaryStagesForReports STage WITH(NOLOCK) ON cast(HI.Action_ID as Nvarchar(20)) in (select cast(val as Nvarchar(10)) from dbo.f_Split(Stage.NextStage_ActionID,','))
				--		 left join (
				--						select   --H.ID as historyID,
				--								 Max(H.CreatedByDatetime) MaxCreatedByDatetime,H.HiringRequest_ID as HR_ID,H.Talent_ID
				--						from     gen_History H With(NOlock)
				--								 inner join Prg_History_Actions HS With(NOlock) On Hs.Id = H.Action_ID
				--								 inner join gen_SalesHiringRequest HR With(Nolock) ON HR.ID = H.HiringRequest_ID
				--						WHere    cast(H.CreatedByDatetime as date) between @Start_Date and @End_date and H.Action_ID in (12,22,17,23,45) 
				--								  and HR.HR_Number = case when Isnull(@Hr_Number,'') <> '' then @Hr_Number  else HR.HR_Number end	
				--						Group By H.HiringRequest_ID,H.Talent_ID--,H.ID
				--					)Q ON  HI.HiringRequest_ID = Q.HR_ID  
				--where    Stage.ID = 3 and Cast(HI.CreatedByDatetime as date) >= cast(Q.MaxCreatedByDatetime as date) --and Q.historyID < HI.ID  --HI.Action_ID in (6,18) and HI.HiringRequest_ID = Isnull(@HRID,HI.HiringRequest_ID)
				--		 and cast(HI.CreatedByDatetime as date) between @Start_Date and @End_date	
				--GROUP BY HI.HiringRequest_ID,Hi.Talent_ID--,Q.MaxCreatedByDatetime;--,Hi.SLA_DueDateHi.Action_ID,,Hi.CreatedByDatetime

				
				IF OBJECT_ID('tempdb..##SLAReports_UTS') Is not null
					DROP Table ##SLAReports_UTS


			CREATE TABLE ##SLAReports_UTS
				(
					ID							int   Primary Key identity(1,1),
					History_ID					bigint,
					HR_NUmber					Nvarchar(50),
					Company						Nvarchar(100),
					Client						Nvarchar(100),
					CurrentStage				Nvarchar(100),
					NextStage					Nvarchar(100) default '',
					TalentName					Nvarchar(100),
					Current_Action_date			Nvarchar(30),
					Expected_Next_action_date	Nvarchar(30),
					Actual_Next_Action_date		Nvarchar(30) ,
					Expected_SLA_day			int  default 0,
					Actual_SLA_day				int  default 0,
					SLA_diff					int  default 0,
					Sales_Person				Nvarchar(100) default '',
					Sales_Manager				Nvarchar(100) default '',
					Ops_Lead					Nvarchar(100) default '',
					Role						Nvarchar(100),
					HRID					    bigint,
					CurrentActionID             Nvarchar(100),
					NextActionID				Nvarchar(100),
					TalentId					bigint,
					IsAdHocHR					Nvarchar(100),
					ActionFilter				Nvarchar(100),
					StageMasterId				int,
					InterViewMasterId			bigint,
					AMNBD						int,
					IsWeekEndSkip				bit  default 0,
					NeedTodelete				bit  default 0
				)	

				

				INSERT 
				INTO	##SLAReports_UTS(HR_NUmber,Company,Client,TalentName,Sales_Person,Sales_Manager,Ops_Lead,Role
										,HRID,TalentId,IsAdHocHR,ActionFilter,CurrentActionID,NextActionID,CurrentStage,History_ID,StageMasterId,InterViewMasterId,AMNBD)
				SELECT  
				distinct HR_NUMBER = ISNULL(H.HR_NUMBER,''),Company = IsNULL(Co.Company,''),											
						 Client = ISNULL(C.FullName,''),
						 TalentName =  ISNULL(T.Name,'') ,						
						 Sales_Person = IsNull(U.FullNAme,''),
						 Sales_Manager = ISNULL((Select top 1 ISNULL(U2.FUllName,'') from Usr_User U2 where U2.ID = UH.ParentId),''),
						 Ops_Lead =  ISNULL((Select top 1 ISNULL(U3.FUllName,'') from Usr_User U3 where U3.ID = UH1.ParentId),''),
						 Role = ISNULL(PRT.TalentRole,''),
						 H.ID,
						 ISNULL(T.ID,0) as TalentID,					 
						 case when IsNull(H.IsAdHocHR,0) = 0 then 'Pool' else 'Odr' end,
						 ''	,
						 STage.CurrentStage_ActionID,
						 STage.NextStage_ActionID,
						 STage.SummaryStage,
						 MAX(HI.ID) as ID,
						 STage.ID,
						 HI.InterViewMaster_Id,
						 AMNBD = CASE WHEN (U.UserTypeID = 4 or U.UserTypeID =9) and U.IsNewUser = 0 THEN 1 --'AM' 
									  WHEN (U.UserTypeID = 4 or U.UserTypeID =9) and U.IsNewUser = 1 THEN 2 --'NBD'								  
									  Else 0 ENd--isnull(U.isnewuser,0)
				FROM     gen_SalesHiringRequest H WITH(NOLOCK)
						 inner join Gen_salesHiringRequest_details HD WITH(NOLOCK) ON HD.HiringRequest_Id = H.Id
						 inner join Prg_TalentRoles PRT WITH(NOLOCK) ON PRT.Id = HD.Role_ID
						 inner join gen_History HI WITH(NOLOCK) ON H.Id = HI.HiringRequest_ID 
						 inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactId
						 inner join gen_Company CO WITH(NOLOCK) ON CO.Id = C.CompanyId
						 inner join usr_User U With(NOLOCK) ON U.ID = H.SalesUserID					 
						 inner join prg_SummaryStagesForReports STage WITH(NOLOCK) ON cast(HI.Action_ID as Nvarchar(20)) in (select cast(val as Nvarchar(10)) from dbo.f_Split(Stage.CurrentStage_ActionID,','))	
						 inner join #CompanyID COM ON COM.ID = CO.ID
						 inner join #StageID SI ON SI.ID = STage.ID
						 inner join #SaleManagerID SMD ON SMD.ID = H.SalesUserID
						 INNER JOIN usr_UserHierarchy UH_Sales with(nolock) ON H.SalesUserID = UH_Sales.UserID
						 INNER JOIN #AllHrchyPopUp AH on (UH_Sales.ParentID = AH.ParentID OR UH_Sales.ParentID = AH.MainParentID) and UH_Sales.UserID = AH.UserID
						 left join usr_User U1 WIth(NOlock) ON U1.Id = H.AcceptedById	
						 left join usr_UserHierarchy UH With(Nolock) ON UH.UserId = U.ID				
						 left join usr_UserHierarchy UH1 With(Nolock) ON UH1.UserId = U1.ID
						 left join gen_Talent T WITH(NOLOCK) ON T.ID = HI.Talent_ID	
						 --inner join gen_Talent T WITH(NOLOCK) ON T.ID = HI.Talent_ID	
						 --left join gen_InterviewSlotsMaster IMS with(nolock) on IMS.Id = HI.InterViewMaster_Id and IMS.InterviewStatus_ID <> 3
				WHere    Cast(HI.CreatedByDateTime as Date) between @Start_Date and @End_date					 
						 and H.IsAdHocHR = CASE WHEN Isnull(@IsAdHoc,0) <> 0 then @IsAdHoc_Type else H.IsAdHocHR end
						 --and H.Status_ID not in (3,4) 
						 and H.JobStatusID <> 2
						 and H.Isactive = 1 --and Action_ID not in (20,61)
						 and H.HR_Number = case when Isnull(@Hr_Number,'') <> '' then @Hr_Number  else H.HR_Number end
						 and CO.Company LIKE CASE WHEN @Company <> '' THEN  '%'+CONVERT(nvarchar,@Company)+'%' else CO.Company  end
						 and U1.Isactive = 1 and U.IsActive = 1
						 and HI.Action_ID not in (8)
						 AND ISNULL(HD.IsHRFocused, 0) = ISNULL(@IsHRFocused, ISNULL(HD.IsHRFocused, 0))
						 AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)
						 --and  Stage.ID <> 3
				GROUP BY ISNULL(H.HR_NUMBER,''), IsNULL(Co.Company,''),											
						 ISNULL(C.FullName,''),
						 IsNULL(T.Name,''),
						 IsNull(U.FullNAme,''),
						 ISNULL(PRT.TalentRole,''),
						 H.ID,
						 ISNULL(T.ID,0),
						 IsNull(H.IsAdHocHR,0) ,					 
						 STage.CurrentStage_ActionID,
						 STage.NextStage_ActionID,
						 STage.SummaryStage,					 
						 STage.ID,UH.ParentId,
						 UH1.ParentId,
						 HI.InterViewMaster_Id,U.isnewuser,U.UserTypeID

				
				--INSERT 
				--INTO	##SLAReports_UTS(HR_NUmber,Company,Client,TalentName,Sales_Person,Sales_Manager,Ops_Lead,Role
				--						,HRID,TalentId,IsAdHocHR,ActionFilter,CurrentActionID,NextActionID,CurrentStage,History_ID,StageMasterId,Actual_Next_Action_date,AMNBD)
				--SELECT  
				--distinct HR_NUMBER = ISNULL(H.HR_NUMBER,''),Company = IsNULL(Co.Company,''),											
				--		 Client = ISNULL(C.FullName,''),
				--		 TalentName = IsNULL(Z.TalentName,''),						
				--		 Sales_Person = IsNull(U.FullNAme,''),
				--		 Sales_Manager = ISNULL((Select top 1 ISNULL(U2.FUllName,'') from Usr_User U2 where U2.ID = UH.ParentId),''),
				--		 Ops_Lead =  ISNULL((Select top 1 ISNULL(U3.FUllName,'') from Usr_User U3 where U3.ID = UH1.ParentId),''),
				--		 Role = ISNULL(PRT.TalentRole,''),
				--		 H.ID,
				--		 ISNULL(Z.TalentID,0) as TalentID,
				--		 case when IsNull(H.IsAdHocHR,0) = 0 then 'Pool' else 'Odr' end,
				--		 ''	,
				--		 STage.CurrentStage_ActionID,
				--		 STage.NextStage_ActionID,
				--		 STage.SummaryStage,
				--		 MAX(HI.ID) as ID,
				--		 STage.ID,
				--		 Actual_Next_Action_date = Isnull(Convert(Varchar(20),Z.NextActionCreatedDateTime,103) + ' ' + convert(VARCHAR(8),Z.NextActionCreatedDateTime, 14),''),
				--		 AMNBD = CASE WHEN (U.UserTypeID = 4 or U.UserTypeID =9) and U.IsNewUser = 0 THEN 1 --'AM' 
				--					  WHEN (U.UserTypeID = 4 or U.UserTypeID =9) and U.IsNewUser = 1 THEN 2 --'NBD'								  
				--					  Else 0 ENd--isnull(U.isnewuser,0)
				--FROM     gen_SalesHiringRequest H WITH(NOLOCK)
				--		 inner join Gen_salesHiringRequest_details HD WITH(NOLOCK) ON HD.HiringRequest_Id = H.Id
				--		 inner join Prg_TalentRoles PRT WITH(NOLOCK) ON PRT.Id = HD.Role_ID
				--		 inner join gen_History HI WITH(NOLOCK) ON H.Id = HI.HiringRequest_ID 
				--		 inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactId
				--		 inner join gen_Company CO WITH(NOLOCK) ON CO.Id = C.CompanyId
				--		 inner join usr_User U With(NOLOCK) ON U.ID = H.SalesUserID					 
				--		 inner join prg_SummaryStagesForReports STage WITH(NOLOCK) ON cast(HI.Action_ID as Nvarchar(20)) in (select cast(val as Nvarchar(10)) from dbo.f_Split(Stage.NextStage_ActionID,','))	
				--		 inner join (							
				--					select 
				--					distinct MAX(H2.ID) as NextActionHistoryID, ISNULL(T.ID,0) TalentID, Stage.SummaryStage as NextStage,
				--							 MAX(H2.CreatedByDateTime) as NextActionCreatedDateTime, HH.ID as HRID, T.Name as TalentName
				--					from     gen_History H2  WITH(NOLOCK)
				--							inner join gen_SalesHiringRequest HH WITH(NOLOCK) on H2.HiringRequest_ID = HH.ID
				--							inner join prg_SummaryStagesForReports STage WITH(NOLOCK) ON H2.Action_ID in (6,18)	
				--							inner join gen_Talent T WITH(NOLOCK) on H2.Talent_ID = T.ID 
				--				where		Cast(H2.CreatedByDateTime as Date) between @Start_Date and @End_date and Stage.SummaryStage = 'HR Acceptance to Matchmaking'
				--							and HH.HR_Number = case when Isnull(@Hr_Number,'') <> '' then @Hr_Number  else HH.HR_Number end
				--				GROUP BY  T.ID, Stage.SummaryStage, HH.ID, T.Name
				--		 ) Z ON Z.HRID = H.ID 
				--		 inner join #CompanyID COM ON COM.ID = CO.ID
				--	     inner join #StageID SI ON SI.ID = STage.ID
				--		 left join usr_User U1 WIth(NOlock) ON U1.Id = H.AcceptedById	
				--		 left join usr_UserHierarchy UH With(Nolock) ON UH.UserId = U.ID				
				--		 left join usr_UserHierarchy UH1 With(Nolock) ON UH1.UserId = U1.ID
				--		 left join gen_Talent T WITH(NOLOCK) ON T.ID = HI.Talent_ID	
				--		 left join gen_InterviewSlotsMaster IMS with(nolock) on IMS.Id = HI.InterViewMaster_Id and IMS.InterviewStatus_ID <> 3
				--WHere    Cast(HI.CreatedByDateTime as Date) between @Start_Date and @End_date					 
				--		 and H.IsAdHocHR = CASE WHEN Isnull(@IsAdHoc,0) <> 0 then @IsAdHoc_Type else H.IsAdHocHR end
				--		 --and H.Status_ID not in (3,4) 
				--		 and H.JobStatusID <> 2
				--		 and H.Isactive = 1 --and Action_ID not in (20,61)
				--		 and H.HR_Number = case when Isnull(@Hr_Number,'') <> '' then @Hr_Number  else H.HR_Number end
				--		 and  CO.Company LIKE CASE WHEN @Company <> '' THEN  '%'+CONVERT(nvarchar,@Company)+'%' else CO.Company  end
				--		 and Stage.Id = 3 and U1.Isactive = 1 and U.IsActive = 1	
				--		 and HI.Action_ID not in (8)
				--		 AND ISNULL(HD.IsHRFocused, 0) = ISNULL(@IsHRFocused, ISNULL(HD.IsHRFocused, 0))
						 
				--GROUP BY ISNULL(H.HR_NUMBER,''), IsNULL(Co.Company,''),											
				--		 ISNULL(C.FullName,''),
				--		 IsNULL(Z.TalentName,''),					 
				--		 IsNull(U.FullNAme,''),
				--		 ISNULL(PRT.TalentRole,''),
				--		 H.ID,
				--		 ISNULL(Z.TalentID,0),
				--		 IsNull(H.IsAdHocHR,0) ,					 
				--		 STage.CurrentStage_ActionID,
				--		 STage.NextStage_ActionID,
				--		 STage.SummaryStage,					 
				--		 STage.ID,UH.ParentId,
				--		 UH1.ParentId,
				--		 Z.NextActionCreatedDateTime , U.isnewuser,U.UserTypeID

				
				Print 'Main Report'
				
				begin  -- For Profile shared stage
						--For Profile Shared stage current Actions
						Update  H
						SET		H.Current_Action_date = Isnull((Convert(Varchar(20),SR.MaxCreatedDateTime,103) + ' ' + convert(VARCHAR(8),SR.MaxCreatedDateTime, 14)),''),
								H.Expected_Next_action_date = Isnull((Convert(Varchar(20),dbo.Excluding_WeekDays(SR.MaxCreatedDateTime,Q.SLADays),103) + ' ' + convert(VARCHAR(8),dbo.Excluding_WeekDays(SR.MaxCreatedDateTime,Q.SLADays), 14)),''),
								H.Expected_SLA_day = Q.SLADays,
								H.Actual_Next_Action_date = Isnull((Convert(Varchar(20),SR.HistoryCreatedDateTime,103) + ' '   + convert(VARCHAR(8),SR.HistoryCreatedDateTime, 14)),''),					
								H.Actual_SLA_day = Isnull(datediff(Day,Convert(Datetime,Convert(datetime,SR.HistoryCreatedDateTime,103),103),Convert(datetime,Isnull(SR.MaxCreatedDateTime,getdate()),103)),0)
						FROM	##SLAReports_UTS H
								inner join #SLAReportsRecordsForProfileShared SR ON --SR.HistoryID_FromUpdate = H.History_ID and
											SR.HR_ID = H.HRID and SR.TalentId = H.TalentID
											and cast(SR.HistoryActionID as Nvarchar(20)) in (select cast(val as Nvarchar(10)) from dbo.f_Split(H.NextActionID,','))
								inner join prg_SummaryStagesForReports Q WITH(NOLOCK) ON H.NextActionID = Q.NextStage_ActionID --and Q.ID = 3	
						

				end

				

				Begin  --Other then Profile shared					
						--Next Action Block
						UPDATE	H 
						SET		H.Actual_Next_Action_date = Isnull((CONVERT(varchar(20), ISNULL(Z.ActualActionDate , ''), 103) + ' '   + convert(VARCHAR(8), Z.ActualActionDate , 14)),''),
								H.NextStage = ''--,H.NextActionID = Cast(Z.ActionID as Nvarchar(200))
						FROM	##SLAReports_UTS H
								INNER JOIN 
								(
								    SELECT	H.ID AS ID,H.Action_ID as NextActionID,
											Case when H.Action_Id = 51 and H.Isactive = 0 then Max(H.ModifiedByDatetime) else Max(H.CreatedByDatetime) end   as ActualActionDate,								
											H.Talent_ID,HR.ID as HR_ID
									from	gen_SalesHiringRequest HR with(Nolock)
											inner join gen_HiStory H WITH(NOLOCK) on Hr.ID = H.HiringRequest_ID
											inner join Prg_History_Actions HS With(NOlock) On Hs.Id = H.Action_ID
									WHere   cast(H.CreatedByDatetime as date) between @Start_Date and @End_date 
											and HR.HR_Number = case when ISNULL(@Hr_Number,'') = '' then HR.HR_Number else @Hr_Number end
											and H.IsActive = Case when H.Action_Id = 51 then 0 else 1 end and H.Action_ID not in (6,18)
									Group By H.Talent_ID,H.Action_ID,H.Isactive,H.ID,HR.ID

								) Z
								ON   Z.HR_ID = H.HRID  and  ISNULL(H.TalentId,0) = ISNULL(Z.Talent_ID,0) and H.StageMasterId != 6  --not in (3,6)
									 and cast(Z.NextActionID as Nvarchar(20)) in (select cast(val as Nvarchar(10)) from dbo.f_Split(H.NextActionID,',')) 
									 
						
						
						--Current Action Block
						UPDATE	H 
						SET		--H.Actual_SLA_day = Isnull(datediff(Day ,Convert(date,Isnull(H.Actual_Next_Action_date,getdate()),103), DATEADD(day,Stage.SLADays,Z1.Current_Action_date)),0),--Z.ActualActionDays,
								H.Actual_SLA_day = Isnull(datediff(Day, Z1.Current_Action_date,Convert(date,Isnull(H.Actual_Next_Action_date,getdate()),103)),0),
								H.Current_Action_date = Isnull((CONVERT(varchar(20), ISNULL(Z1.Current_Action_date , ''), 103) + ' '   + convert(VARCHAR(8), Z1.Current_Action_date , 14)),''),
								H.Expected_Next_action_date = (CONVERT(varchar(20),dbo.Excluding_WeekDays(Z1.Current_Action_date,Stage.SLADays),103) + ' '   + convert(VARCHAR(8),dbo.Excluding_WeekDays(Z1.Current_Action_date,Stage.SLADays) , 14)),
								H.Expected_SLA_day = ISnull(Stage.SLADays,0)			
						FROM	##SLAReports_UTS H
								INNER JOIN 
								(
									SELECT	H.ID,Max(H.CreatedByDatetime) as Current_Action_date,H.Talent_ID,HR.ID as HRID
									from	gen_HiStory H WITH(NOLOCK) 
											inner join Prg_History_Actions HS With(NOlock) On Hs.Id = H.Action_ID
											inner join gen_SalesHiringRequest HR with(Nolock) ON Hr.ID = H.HiringRequest_ID
									WHere   cast(H.CreatedByDatetime as date) between @Start_Date and @End_date 
											and HR.HR_Number = case when ISNULL(@Hr_Number,'') = '' then HR.HR_Number else @Hr_Number end
									Group By H.ID,H.Talent_ID,HR.ID
								) Z1
								ON	Z1.HRID = H.HRID  and H.History_ID = Z1.ID and H.StageMasterId <> 3
									and ISNULL(H.TalentId,0) = case when CurrentActionID < '6' then ISNULL(H.TalentId,0) else ISNULL(Z1.Talent_ID,0) end
								inner join prg_SummaryStagesForReports STage WITH(NOLOCK) ON H.CurrentActionID = Stage.CurrentStage_ActionID

						 

						--update block for Interview Scheduled to Feedback Submitted Stage : 6
						UPDATE	H 
						SET		H.Actual_Next_Action_date = Isnull((CONVERT(varchar(20), ISNULL(Z.ActualActionDate , ''), 103) + ' '   + convert(VARCHAR(8), Z.ActualActionDate , 14)),''),
								H.NextStage = '',--,H.NextActionID = Cast(Z.ActionID as Nvarchar(200))
								H.Actual_SLA_day = Isnull(datediff(Day,Convert(date,Isnull(H.Current_Action_date,getdate()),103),Convert(date,Isnull(Z.ActualActionDate,getdate()),103)),0)							
						FROM	##SLAReports_UTS H
								INNER JOIN 
								(
								    SELECT	H.ID AS ID,H.Action_ID as NextActionID,
											Max(H.CreatedByDatetime)    as ActualActionDate,								
											H.Talent_ID,HR.ID as HR_ID,H.InterviewMaster_ID
									from	gen_SalesHiringRequest HR with(Nolock)
											inner join gen_HiStory H WITH(NOLOCK) on Hr.ID = H.HiringRequest_ID
											inner join Prg_History_Actions HS With(NOlock) On Hs.Id = H.Action_ID										
									WHere   cast(H.CreatedByDatetime as date) between @Start_Date and @End_date 
											and HR.HR_Number = case when ISNULL(@Hr_Number,'') = '' then HR.HR_Number else @Hr_Number end
											and H.Action_ID in (12,45,46,47,8,61,20,21,22,81)
									Group By H.Talent_ID,H.Action_ID,H.Isactive,H.ID,HR.ID,H.InterviewMaster_ID

								) Z
								ON   Z.HR_ID = H.HRID  and  ISNULL(H.TalentId,0) = ISNULL(Z.Talent_ID,0) and H.StageMasterId = 6 and 
									 H.InterViewMasterId  = case when Z.NextActionID in (20,21,22) then  H.InterViewMasterId   else Z.InterviewMaster_ID end
									 and cast(Z.NextActionID as Nvarchar(20)) in (select cast(val as Nvarchar(10)) from dbo.f_Split(H.NextActionID,','))
				END
				

				--begin   --Profile shared
						
				--		UPDATE	H 
				--		SET		H.Current_Action_date = Isnull((CONVERT(varchar(20), ISNULL(Z1.Current_Action_date , ''), 103) + ' '   + convert(VARCHAR(8), Z1.Current_Action_date , 14)),''),
				--				H.Expected_Next_action_date = (CONVERT(varchar(20),dbo.Excluding_WeekDays(Z1.Current_Action_date,Stage.SLADays),103) + ' '   + convert(VARCHAR(8),dbo.Excluding_WeekDays(Z1.Current_Action_date,Stage.SLADays) , 14)),
				--				H.Expected_SLA_day = ISnull(Stage.SLADays,0)			
				--		FROM	##SLAReports_UTS H
				--				INNER JOIN 
				--				(
				--					SELECT	H.ID,Max(H.CreatedByDatetime) as Current_Action_date,H.Talent_ID,HR.ID as HRID
				--					from	gen_HiStory H WITH(NOLOCK) 
				--							inner join Prg_History_Actions HS With(NOlock) On Hs.Id = H.Action_ID
				--							inner join gen_SalesHiringRequest HR with(Nolock) ON Hr.ID = H.HiringRequest_ID
				--					WHere   cast(H.CreatedByDatetime as date) between @Start_Date and @End_date 
				--							and HR.HR_Number = case when ISNULL(@Hr_Number,'') = '' then HR.HR_Number else @Hr_Number end
				--					Group By H.ID,H.Talent_ID,HR.ID
				--				) Z1
				--				ON	Z1.HRID = H.HRID  and H.History_ID = Z1.ID and H.StageMasterId = 3
				--					and ISNULL(H.TalentId,0) = case when CurrentActionID < '6' then ISNULL(H.TalentId,0) else ISNULL(Z1.Talent_ID,0) end
				--				inner join prg_SummaryStagesForReports STage WITH(NOLOCK) ON H.CurrentActionID = Stage.CurrentStage_ActionID
				--				and Isnull(H.Current_Action_date,'') = ''

				--end
				
					--delete from ##SLAReports_UTS where StageMasterId = 2 and Actual_Next_Action_date is null
					delete from ##SLAReports_UTS where StageMasterId = 10 and Actual_Next_Action_date is null
					
					--delete S1 
					--from	##SLAReports_UTS S1 
					--		inner join gen_InterviewSlotsMaster IMS with(nolock) on IMS.Id = S1.InterViewMasterId
					--where   IMS.InterviewStatus_ID = 3

					--delete S1 from ##SLAReports_UTS S1
					--where  StageMasterId = 2 and 
					--	   Exists(select 1 from ##SLAReports_UTS S2 where S2.StageMasterId = 10 and S2.HRID = S1.HRID and S2.TalentId = S1.TalentID)
				
					
					delete S1 from ##SLAReports_UTS S1
					where  StageMasterId = 10 and 
						   Exists(select 1 from ##SLAReports_UTS S2 where S2.StageMasterId = 11 and S2.HRID = S1.HRID and S2.TalentId = S1.TalentID and 
									S1.Current_Action_date > S2.Current_Action_date)

					delete S1 from ##SLAReports_UTS S1
					where  StageMasterId = 11 and 
						   Exists(select 1 from ##SLAReports_UTS S2 where S2.StageMasterId = 10 and S2.HRID = S1.HRID and S2.TalentId = S1.TalentID and 
									S1.Current_Action_date > S2.Current_Action_date)
				
			    
				   
					--Update  S1
					--SET     S1.NeedTodelete = 1
					--from    ##SLAReports_UTS S1
					--        inner join(
					--					select  HRID
					--					from	##SLAReports_UTS S2 
					--		            where   StageMasterId = 3 --and TalentId <> 0
					--					GRoup BY HRID
					--					having Count(History_ID) > 1
					--	     )Q ON Q.HRID = S1.HRID

					
					
					--delete  S1 
					--from    ##SLAReports_UTS S1 
					--where   TalentId = 0 and StageMasterId = 3 and TalentName = '' and S1.NeedTodelete = 1
															
					

				----Update Actual_Next_Action_date for Engagement when there is no Next Action is performed and for OnHold HR's record with OnHold Date
				--Update H
				--SET    H.Actual_Next_Action_date = Isnull((CONVERT(varchar(20), ISNULL(HI.CreatedByDatetime , ''), 103) + ' '   + convert(VARCHAR(8), HI.CreatedByDatetime , 14)),''),
				--	   H.Actual_SLA_day = Isnull(DateDiff(day,Convert(datetime,H.Current_Action_date,103),Convert(datetime,ISNULL(HI.CreatedByDatetime , ''),103)),0)
				--FROM   ##SLAReports_UTS H
				--       inner join gen_SalesHiringRequest HR with(Nolock) ON HR.ID = H.HRID
				--	   inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.HRID --and H.TalentId = HI.Talent_ID
				--where  H.Actual_Next_Action_date is null and HR.Status_ID = 5 
				--	  and HI.Action_ID = 64 --and H.StageMasterId <> 3
				----ended


				Update H
				SET    H.Actual_SLA_day = Isnull(DateDiff(day,Convert(datetime,H.Current_Action_date,103),Convert(datetime,getdate(),103)),0)
				FROM   ##SLAReports_UTS H
				where  H.Actual_Next_Action_date is null


				
				Update H
				SET    H.Actual_SLA_day = H.Actual_SLA_day - ABS((H.Expected_SLA_day - Isnull(DateDiff(day,Convert(datetime,H.Current_Action_date,103),Convert(datetime,H.Expected_Next_action_date,103)),0)))
					   ,H.IsWeekEndSkip = 1
				FROM   ##SLAReports_UTS H
				where  Convert(datetime,Isnull(H.Actual_Next_Action_date,GETDATE()),103) >= Convert(datetime,H.Expected_Next_action_date,103)
				

				Update H
				SET    H.Actual_SLA_day = (select * from dbo.fn_CountWeekDays(Convert(datetime,H.Current_Action_date,103),Convert(datetime,Isnull(H.Actual_Next_Action_date,GETDATE()),103)))
					   ,H.IsWeekEndSkip = 1
				FROM   ##SLAReports_UTS H
				where  cast(Convert(datetime,Isnull(H.Actual_Next_Action_date,GETDATE()),103) as date) >= cast(Convert(datetime,H.Expected_Next_action_date,103) as date)
				
				
				
				Update H
				SET    H.Actual_SLA_day = 0 - H.Actual_SLA_day
				FROM   ##SLAReports_UTS H
				where  H.Actual_SLA_day < 0
				
				Update H
				SET    H.SLA_diff = H.Expected_SLA_day - H.Actual_SLA_day
				FROM   ##SLAReports_UTS H

				Update H
				SET    H.Actual_SLA_day = Isnull(DateDiff(day,Convert(datetime,H.Current_Action_date,103),Convert(datetime,H1.CreatedbyDateTime,103)),0),
					   H.Actual_Next_Action_date = Isnull((CONVERT(varchar(20), ISNULL(H1.CreatedByDatetime , ''), 103) + ' '   + convert(VARCHAR(8), H1.CreatedByDatetime , 14)),'')
				FROM   ##SLAReports_UTS H 
					   inner join gen_History H1 WITH(NOLOCK) ON H1.HiringRequest_Id = H.HRID 
								  and H1.Action_Id = 82
				where  H.Actual_Next_Action_date is null 

			
				--Update Action Filters
				UPDATE  H
				SET		H.ActionFilter = CASE WHEN CONVERT(date,H.Expected_Next_action_date,103) = CONVERT(date,H.Actual_Next_Action_date,103) Then 'ON Time'
											  WHEN CONVERT(date,H.Expected_Next_action_date,103) > CONVERT(date,H.Actual_Next_Action_date,103) Then 'Before Time' 
											  WHEN CONVERT(date,H.Expected_Next_action_date,103) < CONVERT(date,H.Actual_Next_Action_date,103) Then 'Exceeded SLA'
											  WHEN (Isnull(H.Actual_Next_Action_date,'') = ''  AND CONVERT(date,H.Expected_Next_action_date,103) < CONVERT(date,Getdate(),103)) then 'Running Late'											    
										 END
				FROM	##SLAReports_UTS H;

				--UPDATE  H
				--SET		H.ActionFilter = CASE WHEN CONVERT(date,H.Expected_Next_action_date,103) = CONVERT(date,H.Actual_Next_Action_date,103) Then 'ON Time'
				--							  WHEN CONVERT(date,H.Expected_Next_action_date,103) > CONVERT(date,H.Actual_Next_Action_date,103) Then 'Before Time' 
				--							  WHEN CONVERT(date,H.Expected_Next_action_date,103) < CONVERT(date,H.Actual_Next_Action_date,103) Then 'Exceeded SLA'
				--							  WHEN (Isnull(H.Actual_Next_Action_date,'') = ''  AND CONVERT(date,H.Expected_Next_action_date,103) < CONVERT(date,Getdate(),103)) then 'Running Late'											    
				--						 END
				--FROM	##SLAReports_UTS H
				--WHERE   H.StageMasterId = 3

				

				

				--new
			
			
			
			CREATE TABLE #SLAOverAllSummaryStage
			(
				ID						int,
				SummaryStage			nvarchar(200),
				CurrentStage_ActionID	nvarchar(50),
				NextStage_ActionID		nvarchar(50),
				StageVersion			nvarchar(50),
				OrderSequence			int,
				SLADays					int,
				AvgSLAOverall			decimal(18,1) default 0,
				DiffOfSLAOverall		Nvarchar(50) default '',
				AvgSLAMissed			decimal(18,1) default 0,
				DiffOfSLAMissed			Nvarchar(50) default '',
				ExtraActionsIncluded	Nvarchar(Max) default ''
			)

			Insert into #SLAOverAllSummaryStage(ID,SummaryStage,CurrentStage_ActionID,NextStage_ActionID,StageVersion,OrderSequence,SLADays)
			select ID,SummaryStage,CurrentStage_ActionID,NextStage_ActionID,StageVersion,OrderSequence,SLADays 
			from prg_SummaryStagesForReports
			where ID >= 4

			 IF OBJECT_ID('tempdb..#SLASummaryTable') Is not null
				DROP Table #SLASummaryTable

				CREATE TABLE #SLASummaryTable
					(
						ID							int   ,
						History_ID					bigint,
						HR_NUmber					Nvarchar(50),
						Company						Nvarchar(100),
						Client						Nvarchar(100),
						CurrentStage				Nvarchar(100),
						NextStage					Nvarchar(100) default '',
						TalentName					Nvarchar(100),
						Current_Action_date			Nvarchar(30),
						Expected_Next_action_date	Nvarchar(30),
						Actual_Next_Action_date		Nvarchar(30) ,
						Expected_SLA_day			int  default 0,
						Actual_SLA_day				int  default 0,
						SLA_diff					int  default 0,
						Sales_Person				Nvarchar(100) default '',
						Sales_Manager				Nvarchar(100) default '',
						Ops_Lead					Nvarchar(100) default '',
						Role						Nvarchar(100),
						HRID					    bigint,
						CurrentActionID             Nvarchar(100),
						NextActionID				Nvarchar(100),
						TalentId					bigint,
						IsAdHocHR					Nvarchar(100),
						ActionFilter				Nvarchar(100),
						StageMasterId				int,
						InterViewMasterId			bigint,
						AMNBD						int,
						IsWeekEndSkip				bit  default 0,
						NeedTodelete				bit  default 0
					)	

				If Isnull(@ActionFilterIDs,'') <> ''
					BEGIN
						Insert into #SLASummaryTable
						Select S.* 			
						FROM   ##SLAReports_UTS S
							   inner join #ActionFilterID A ON A.FilterName = S.ActionFilter	
						WHERE  ISNULL(Sales_Person,'') = CASE WHEN @Sales_Person = '' THEN ISNULL(Sales_Person,'')  ELSE @Sales_Person END 
								and ISNULL(Sales_Manager,'') = CASE WHEN @Sales_Manager = '' THEN ISNULL(Sales_Manager,'')  ELSE @Sales_Manager END	 
								and ISNULL(Ops_Lead,'') = case when @Ops_LeadName = '' then ISNULL(Ops_Lead,'') else @Ops_LeadName end   
								and CurrentStage = CASE WHEN IsNull(@Stage,'') = '' then CurrentStage else @Stage end
								and Role = Case WHEn Isnull(@Role,'') = '' then Role else @Role end	
								and AMNBD =  case when isnull(@AMNBD,0) != 0 then isnull(@AMNBD,'') else  AMNBD  end
					END
				ELSE
					BEGIN
							Insert into #SLASummaryTable
							Select * 			
							FROM   ##SLAReports_UTS
							WHERE  ISNULL(Sales_Person,'') = CASE WHEN @Sales_Person = '' THEN ISNULL(Sales_Person,'')  ELSE @Sales_Person END 
									and ISNULL(Sales_Manager,'') = CASE WHEN @Sales_Manager = '' THEN ISNULL(Sales_Manager,'')  ELSE @Sales_Manager END	 
									and ISNULL(Ops_Lead,'') = case when @Ops_LeadName = '' then ISNULL(Ops_Lead,'') else @Ops_LeadName end   
									and CurrentStage = CASE WHEN IsNull(@Stage,'') = '' then CurrentStage else @Stage end
									and Role = Case WHEn Isnull(@Role,'') = '' then Role else @Role end	
									and Isnull(ActionFilter,'') = Case when Isnull(@ActionFilter,'') = '' then Isnull(ActionFilter,'') else @ActionFilter end
									and AMNBD =  case when isnull(@AMNBD,0) != 0 then isnull(@AMNBD,'') else  AMNBD  end

					END

			
			UPDATE S
			SET    AvgSLAOverall = Q.val
				   --DiffOfSLAOverall = case when Q.val  <> 0 then CAST((CAST(S.SLADays as decimal(18,1)) - Q.val) as nvarchar(50))  else '' end
			FROM   #SLAOverAllSummaryStage S
				   inner join (
								SELECT cast(SUM(IsNULL(Actual_SLA_day,0)) as decimal(18,1))/cast(Count(H.HRID) as decimal(18,1)) as val,S.ID
								FROM   #SLASummaryTable H
									   inner join prg_SummaryStagesForReports S ON S.CurrentStage_ActionID = H.CurrentActionID
												  and S.NextStage_ActionID = cast(H.NextActionID as nvarchar(50))								
								GROUP BY S.ID
				   )Q ON 1 = 1
			WHERE  S.ID = Q.ID and S.SummaryStage = CASE WHEN ISNULL(@Stage,'') = '' THEN S.SummaryStage else @Stage end
			
			UPDATE  S
			SET     DiffOfSLAOverall = case when S.AvgSLAOverall <> 0 then CAST((S.SLADays - S.AvgSLAOverall) as nvarchar(20))  else '' end
			FROM    #SLAOverAllSummaryStage S
				   
			
			UPDATE S
			SET    AvgSLAMissed = Q.val
				   --DiffOfSLAMissed = case when Q.val <> 0 then CAST((CAST(S.SLADays as decimal(18,1)) - Q.val) as nvarchar(50))  else '' end
			FROM   #SLAOverAllSummaryStage S
				   inner join (
								SELECT cast(SUM(IsNULL(Actual_SLA_day,0)) as decimal(18,1))/cast(Count(H.HRID) as decimal(18,1)) as val,S.ID
								FROM   #SLASummaryTable H
									   inner join prg_SummaryStagesForReports S ON S.CurrentStage_ActionID = H.CurrentActionID
												  and S.NextStage_ActionID = cast(H.NextActionID as nvarchar(50))
								Where  CONVERT(date,Actual_Next_Action_date,103) > CONVERT(date,Expected_Next_action_date,103)									   
								GROUP BY S.ID
				   )Q ON 1 = 1
			WHERE  S.ID = Q.ID and  S.SummaryStage = CASE WHEN ISNULL(@Stage,'') = '' THEN S.SummaryStage else @Stage end

			UPDATE  S
			SET     DiffOfSLAMissed = case when S.AvgSLAMissed <> 0 then CAST((S.SLADays - S.AvgSLAMissed) as nvarchar(20))  else '' end
			FROM    #SLAOverAllSummaryStage S

			

			;WITH x AS 
			(
			  SELECT	Table_1.Next_Stage_ExtraActions, Table_2.ID, Table_2.ActionName
			  FROM		prg_SummaryStagesForReports   AS Table_1
						CROSS APPLY dbo.f_Split(Table_1.Next_Stage_ExtraActions, ',') AS s
						INNER JOIN prg_History_Actions AS Table_2
			  ON		s.val = Table_2.ID
			)
			SELECT	Ss.ID,ss.Next_Stage_ExtraActions,
					Table_1services.ActionName AS ActionName
			Into    #ExtraActions
			FROM	prg_SummaryStagesForReports ss 
					LEFT JOIN 
					   (
							 SELECT Next_Stage_ExtraActions, STUFF((
											 SELECT distinct '; '+ ActionName  
											 FROM	 x AS x2 
											 WHERE  x2.Next_Stage_ExtraActions = x.Next_Stage_ExtraActions
											 FOR XML PATH,TYPE).value(N'.[1]',N'varchar(max)'), 1, 1, '') AS ActionName
							FROM	x
							GROUP BY Next_Stage_ExtraActions
					   ) AS Table_1services ON ss.Next_Stage_ExtraActions = Table_1services.Next_Stage_ExtraActions 

		   UPDATE  S
		   SET     S.ExtraActionsIncluded = 'Extra Actions Included : ' + Char(10) + Case when Isnull(E.ActionName,'') = '' then 'NA' else Isnull(E.ActionName,'') end
		   FROM    #SLAOverAllSummaryStage S 
				   inner join #ExtraActions E ON S.ID = E.ID

		   select * from #SLAOverAllSummaryStage order by ID asc


		IF OBJECT_ID('tempdb..##SLAReports_UTS') Is not null
			DROP Table ##SLAReports_UTS
			
			
			--DROP TABLE #ExtraActions

		
	COMMIT
END