ALTER PROCEDURE [dbo].[Sproc_Update_OnBoardClientContractEndDateDetails]
	@ContractDetailID						bigint  = null,
	@ContractEndDateString					nvarchar(MAX) = null,
	@ContractEndDate_UpdateReason			nvarchar(MAX) = null,
	@UpdateReason_SupportFilename			nvarchar(500),
	@LastModifiedById					    BigInt =  null,
	@ContractLost_ReasonID					int = null
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	DECLARE @ContractEndDate DateTime = null
	SET @ContractEndDate = Convert(DATETIME, @ContractEndDateString, 101)

	declare
	@TalentId				   bigint = null,
	@Contact_Id				   bigint = null,
	@OnBoardID				   bigint = null,
	@Hiring_Request_ID		   bigint = null,
	@Hiring_RequestDetail_Id   bigint = null,
	@Contract_StartDate		   datetime = null,
	@Contract_EndDate		   datetime = @ContractEndDate,
	@Invoice_Total			   decimal(18,2) = null,
	@ExchangeRate			   decimal(18,2) =NULL,
	@Currency			       Nvarchar(50) = NULL

			--- Update Invoice and Payout Status with Amount calculation on archive Invoice process
			SELECT @OnBoardID = OnBoardID,  @Contract_StartDate = ContractStartDate FROM gen_OnBoardClientContractDetails WITH(NOLOCK) WHERE ID = @ContractDetailID
			SET NOCOUNT ON;
	
			UPDATE  gen_OnBoardClientContractDetails
			SET		ContractEndDate = Isnull(@ContractEndDate,ContractEndDate),
					ContractDuration =  DATEDIFF(MONTH, @Contract_StartDate,@ContractEndDate),
					ContractEndDate_UpdateReason = Isnull(@ContractEndDate_UpdateReason,ContractEndDate_UpdateReason),
					UpdateReason_SupportFilename = Isnull(@UpdateReason_SupportFilename,UpdateReason_SupportFilename),
					IsContractCompleted = case when @ContractLost_ReasonID = 1 then 1 else null end,
					IsLost = case when @ContractLost_ReasonID = 2 then 1 else null end,
					LostDate = case when @ContractLost_ReasonID = 2 then  getdate() else null end,
					LastModifiedByID = Isnull(@LastModifiedById,LastModifiedByID),
					LastModifiedDatetime = getdate(),
					ContractLost_ReasonID = @ContractLost_ReasonID
			WHERE   ID = @ContractDetailID


			SELECT	 @ExchangeRate = CurrencyExchangeRate
			FROM	 gen_Payout_Information WITH(NOLOCK) 
			WHERE	 OnBoardID = @OnBoardID

			SELECT	 @TalentId = Talent_ID,
					 @Contact_Id = ContactID,
					 @Hiring_Request_ID = HiringRequest_ID,
					 @Hiring_RequestDetail_Id = HiringRequest_Detail_ID
			FROM	 gen_OnBoardTalents WITH(NOLOCK) 
			WHERE	 ID = @OnBoardID

			Declare @LastMonth_Start_Date as datetime
		    SELECT @LastMonth_Start_Date =  DATEADD(month, DATEDIFF(month, 0, @Contract_EndDate), 0)
			

			UPDATE gen_Payout_Information SET ClientPayOutStatus = 4,
											  PayOutStatus = 4,
											  EngagementStatusID =  case when @ContractLost_ReasonID = 1 then 2 when @ContractLost_ReasonID = 2 then 3 else 2 end
			WHERE  TalentID = @TalentId and ContactID = @Contact_Id and OnBoardID = @OnBoardID AND CAST(ClientInvoiceDate AS DATE) > CAST(@LastMonth_Start_Date AS DATE)

			--Update   gen_Talent
			--SET		 TalentStatusID_AfterClientSelection = null,
			--		 LastModifiedByID = IsNull(@LastModifiedById, LastModifiedByID),
			--		 LastModifiedDatetime = getdate()
			--where    ID = @TalentId	
		
	
		----- Status & re calculate amount			
		--exec Sproc_End_Contract @TalentId,@Contact_Id,@OnBoardID,@Hiring_Request_ID,@Hiring_RequestDetail_Id,@Contract_StartDate,@Contract_EndDate,@Invoice_Total,@ExchangeRate,@Currency

END

