USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_ShortistedTalent_ForCreditFlow_ClientPortal]    Script Date: 16-02-2024 16:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_ShortistedTalent_ForCreditFlow_ClientPortal]   
   @HrId				bigint = 0
AS
BEGIN		
		
		Select  
				 ID,
				 IsMyList,
				 IsUnLock,
				 StatusID,
				 ATS_TalentID,
				 ProfileCredit,
				 GUID,
				 UTSTalentID ,
				 HRID,
				 IsVetted
		from     gen_CRCTP_ShortlistedTalents_ClientPortal With(Nolock) 
		where	 HRID = @HrId
END