ALTER PROCEDURE [dbo].[Sproc_AM_Change_For_Company] 
	@OldAM_SalesPersonID			BIGINT = null,
	@NewAM_SalesPersonID			BIGINT = null,
	@Company_ID						INT	   = null,
	@CreatedByUserID				INT    = null,
	@Comment						NVARCHAR(MAX) = ''
AS
BEGIN

		IF OBJECT_ID('tempdb..#Contact_Tbl') IS NOT NULL
					DROP TABLE #Contact_Tbl;

		CREATE TABLE #Contact_Tbl(ContactID INT);

		--Added as POC
		IF EXISTS(SELECT 1 FROM gen_ContactPointofContact WITH(NOLOCK) WHERE Company_ID = @Company_ID AND [User_ID] = @OldAM_SalesPersonID)
		BEGIN
				INSERT INTO #Contact_Tbl(ContactID)
				SELECT ContactID FROM gen_ContactPointofContact WITH(NOLOCK) 
				WHERE Company_ID = @Company_ID AND [User_ID] = @OldAM_SalesPersonID

			UPDATE gen_ContactPointofContact
			SET [User_ID] = @NewAM_SalesPersonID, [Description] = 'Client Relationship Manager'
			WHERE Company_ID = @Company_ID and [User_ID] = @OldAM_SalesPersonID
		END

		INSERT INTO gen_ContactPointofContact(ContactID, [User_ID],[Description], Company_ID)
		SELECT ID,@NewAM_SalesPersonID,'Client Relationship Manager',CompanyID FROM gen_Contact WITH(NOLOCK) 
		WHERE CompanyID = @Company_ID AND ID NOT IN (SELECT CONTACTID FROM #Contact_Tbl)

		DROP TABLE #Contact_Tbl;

		--Added for history maintain
		INSERT INTO gen_Company_AM_Mapping_History
			  (CompanyID, OldAM_SalesPersonID, NewAM_SalesPersonID, CreatedByUserID, CreatedDateTime, Comment)
		VALUES(@Company_ID, @OldAM_SalesPersonID, @NewAM_SalesPersonID, @CreatedByUserID, GETDATE(), @Comment)

		--Update AM_SalesPersonID in gen_Company
		UPDATE gen_Company
		SET	   AM_SalesPersonID = @NewAM_SalesPersonID
		WHERE  ID = @Company_ID AND AM_SalesPersonID = @OldAM_SalesPersonID

		--Update AM_SalesPersonID in gen_SalesHiringRequest
		UPDATE  H
		SET     H.SalesUserID = ISNULL(@NewAM_SalesPersonID,CO.AM_SalesPersonID)
		FROM    gen_SalesHiringRequest H 
				INNER JOIN gen_Contact C With(Nolock) ON C.ID = H.ContactID
				INNER JOIN gen_Company CO With(Nolock) ON Co.ID = C.CompanyID
		WHERE   H.Status_ID NOT IN (3,4) 
				 AND ISNULL(CO.AM_SalesPersonID,0) <> 0 AND ISNULL(@NewAM_SalesPersonID,CO.AM_SalesPersonID) <> H.SalesUserID
				 AND CO.ID = @Company_ID

		--Update AM_SalesPersonID in gen_OnBoardTalents
		UPDATE  OBT
		SET     OBT.AM_SalesPersonID = ISNULL(@NewAM_SalesPersonID,CO.AM_SalesPersonID)
		FROM    gen_OnBoardTalents OBT
				INNER JOIN gen_SalesHiringRequest H ON OBT.HiringRequest_ID = H.ID
				INNER JOIN gen_Contact C With(Nolock) ON C.ID = H.ContactID
				INNER JOIN gen_Company CO  With(Nolock) ON Co.ID = C.CompanyID
		WHERE   OBT.ClientOnBoarding_StatusID = 1 and OBT.TalentOnBoarding_StatusID = 1 
				AND ISNULL(CO.AM_SalesPersonID,0) <> 0 AND ISNULL(@NewAM_SalesPersonID,CO.AM_SalesPersonID) <> H.SalesUserID
				AND CO.ID = @Company_ID


		--Payal (06-12-2023)  Update gen_Payout_Information table--

		update P set P.AM_SalesPersonID = ISNULL(@NewAM_SalesPersonID,OBT.AM_SalesPersonID)  
		from gen_Payout_Information P 
		inner join gen_OnBoardTalents OBT ON P.OnBoardID = OBT.ID
		INNER JOIN gen_SalesHiringRequest H ON OBT.HiringRequest_ID = H.ID
		INNER JOIN gen_Contact C With(Nolock) ON C.ID = H.ContactID
		INNER JOIN gen_Company CO  With(Nolock) ON Co.ID = C.CompanyID
        where OBT.ClientOnBoarding_StatusID = 1 and OBT.TalentOnBoarding_StatusID = 1 
				AND ISNULL(CO.AM_SalesPersonID,0) <> 0 AND ISNULL(@NewAM_SalesPersonID,CO.AM_SalesPersonID) <> H.SalesUserID
				AND CO.ID = @Company_ID
		        AND month(ClientInvoiceDate) >= month(getdate()) AND Year(ClientInvoiceDate) >= Year(getdate())
		
END