ALTER PROCEDURE [dbo].[Sproc_UTS_AddEdit_HR]  
	@HrId						BIGINT			= NULL,
	@ContactId 					BIGINT			= NULL,
	@SalesPersonID				INT				= NULL,
	@Availability				NVARCHAR(200)	= NULL,
	@ContractDuration			INT				= NULL,
	@Currency					NVARCHAR(50)	= NULL,
	@AdhocBudgetCost			DECIMAL(18,2)	= NULL,
	@MinimumBudget				DECIMAL(18,2)	= NULL,
	@MaximumBudget				DECIMAL(18,2)	= NULL,
	@IsConfidentialBudget		BIT				= NULL,
	@ModeOfWorking				NVARCHAR(100)	= NULL,
	@City						NVARCHAR(200)	= NULL,
	@Country					NVARCHAR(200)	= NULL,
	@JDFilename					NVARCHAR(400)	= NULL,
	@JDURL						NVARCHAR(MAX)	= NULL,
	@JddumpId					BIGINT			= NULL,
	@YearOfExp					DECIMAL(18,2)	= NULL,
	@NoofTalents				INT				= NULL,
	@TimezoneId					INT				= NULL,
	@TimeZoneFromTime			NVARCHAR(200)	= NULL,
	@TimeZoneEndTime			NVARCHAR(200)	= NULL,
	@OverlapingHours			DECIMAL(18,1)	= NULL,
	@HowSoon					NVARCHAR(400)	= NULL,
	@PartialEngagementTypeID	INT				= NULL,
	@NoofHoursworking			INT				= NULL,
	@DurationType				NVARCHAR(50)	= NULL,
	@IsHRTypeDP					BIT				= NULL,
	@DpPercentage				DECIMAL(18,2)	= NULL,
	@NRMargin					DECIMAL(18,2)	= NULL,
	@IsTransparentPricing		BIT				= NULL,
	@HrTypePricingId			INT				= NULL,
	@PayrollTypeId				INT				= NULL,
	@PayrollPartnerName			NVARCHAR(300)	= NULL,
	@IsVettedProfile			BIT				= NULL,
	@IsHiringLimited			BIT				= NULL,
	@IsPayPerHire				BIT				= NULL,
	@IsPayPerCredit				BIT				= NULL,
	@IsPostaJob					BIT				= NULL,
	@IsProfileView				BIT				= NULL,
	@IsDirectHR					BIT				= NULL,
	@IsDraftHR					BIT				= NULL,
	@Bqlink						NVARCHAR(MAX)	= NULL,
	@Discovery_Call				NVARCHAR(MAX)	= NULL,
	@DealID						NVARCHAR(300)	= NULL,
	@AllowSpecialEdit			BIT				= NULL,
	@ChildCompanyName			NVARCHAR(500)	= NULL,
	@IsFresherAllowed			BIT				= NULL,
	@LoginUserId				INT				= NULL,
	@CompensationOption			Nvarchar(MAX) = null,
	@IndustryType				Nvarchar(MAX) = null,
	@HasPeopleManagementExp		BIT = null,
	@Prerequisites				Nvarchar(MAX) = null,
	@StringSeparator			NVARCHAR(MAX) = null,
	@ShowHRPOCDetailsToTalents	BIT = NULL,
	@JobLocation				NVARCHAR(500) = null,
	@FrequencyOfficeVisitID		Int = 0,
	@IsOpenToWorkNearByCities	bit = 0,
	@NearByCities				Nvarchar(Max) = null,
	@JobTypeID					INT = 0,
	@ATS_JobLocation			bigint = 0,
	@ATS_NearByCities			Nvarchar(Max) = null,
	@App_ActionDoneBy			INT = null
AS
BEGIN
	DECLARE @Cost NVARCHAR(500) = NULL, @HRDetailID BIGINT = NULL, @CountryText NVARCHAR(200), @IsDPHR BIT = 0,
			@FormattedBudgetFrom NVARCHAR(MAX) = '',
			@FormattedBudgetTo NVARCHAR(MAX) = '',
			@FormattedAdhocBudget NVARCHAR(MAX) = ''
	DECLARE @CompanyID BIGINT, @CompanyDiscoveryCall NVARCHAR(MAX), @ComapnyTransparentPricing BIT;

	SET @IsDPHR = ISNULL(@IsHRTypeDP,0)
	DECLARE @PerMonth NVARCHAR(50) = ' / Month';
	DECLARE @PerAnnum NVARCHAR(50) = '  / Annum';

	--Added by Riya 
	IF @JobTypeID > 0
	BEGIN
		SELECT @Availability = CASE WHEN @JobTypeID = 3 THEN 'Part Time' ELSE 'Full Time' END,
		@IsHiringLimited = IsHiringLimited  FROM prg_JobType WHERE ID = @JobTypeID
	END

	IF @HrId > 0 
	BEGIN
		--Update
		IF EXISTS (SELECT TOP 1 ID FROM gen_SalesHiringRequest WITH (NOLOCK) WHERE ID = @HrId)
		BEGIN

			--SET @HRDetailID = (SELECT HD.ID FROM gen_SalesHiringRequest_Details HD WITH (NOLOCK)
			--WHERE HD.HiringRequest_ID = @HrId)

			SELECT @HRDetailID = HD.ID FROM gen_SalesHiringRequest_Details HD WITH (NOLOCK)
			WHERE HD.HiringRequest_ID = @HrId

			SELECT 
			@IsDPHR = ISNULL(@IsHRTypeDP,IsHRTypeDP) 
			FROM gen_SalesHiringRequest H WITH (NOLOCK) where ID = @HrId

			IF ISNULL(@IsPayPerCredit,0) = 1
			BEGIN
				SET @IsDPHR = 1
			END

			---Convert into proper formatting for budget (Riya - 20 May-2024)
			SELECT @FormattedBudgetFrom = format(@MinimumBudget, N'N', Culture), 
				   @FormattedBudgetTo = format(@MaximumBudget, N'N', Culture),
				   @FormattedAdhocBudget = format(@AdhocBudgetCost, N'N', Culture)
			FROM prg_CurrencyExchangeRate WITH(NOLOCK) WHERE CurrencyCode = @Currency

			--Range budget
			IF(ISNULL(@MinimumBudget,0) >  0 AND ISNULL(@MaximumBudget,0) > 0)
			BEGIN
				SET @Cost = (
								SELECT IIF
										(
											ISNULL(@MinimumBudget,0) = 0, 
											@FormattedBudgetFrom,
											CAST(CurrencySign AS NVARCHAR) + ' ' + @FormattedBudgetFrom
										) 
										+ ' to ' +  
										CAST(CurrencySign AS NVARCHAR) + ' ' + 
										@FormattedBudgetTo + ' ' + @Currency + IIF(ISNULL(@IsDPHR,0) = 1, @PerAnnum, @PerMonth)
										FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
							)
							SET	@AdhocBudgetCost = 0
			END
			--Adhoc Budget
			IF(ISNULL(@AdhocBudgetCost,0) >  0)
			BEGIN
				SET @Cost = (
								SELECT IIF
										(
											ISNULL(@AdhocBudgetCost,0) = 0, 
											@FormattedAdhocBudget,
											+ 'Upto ' + CAST(CurrencySign AS NVARCHAR) + ' ' + 
											@FormattedAdhocBudget + ' ' + @Currency + IIF(ISNULL(@IsDPHR,0) = 1, @PerAnnum, @PerMonth)										
										) 
										FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
							)
				SET @MinimumBudget = 0 
				SET	@MaximumBudget = 0 
			END

			--
			BEGIN ----Payal (08-05-2024)   Insert in history tables 
			
			--EXEC SPROC_Gen_SalesHiringRequest_History @HRID = @HrId, @AppActionDoneBy = 3
			--EXEC SPROC_Gen_SalesHiringRequest_Details_History @HRID = @HrId, @AppActionDoneBy = 3


			Declare @HiringRequestHisotoryID as bigint = 0
			Declare @HRDetailHisotoryID as bigint = 0

			Insert into gen_SalesHiringRequest_History(HiringRequest_ID,ContactID,LastModifiedByID,LastModifiedDatetime
											,Availability,IsCreatedByClient,IsActive,AppActionDoneBy,JDFilename,JDDump_ID,JDURL,NoofTalents,NoofHoursworking,
											Discovery_Call,DPPercentage,IsHRTypeDP,IsTransparentPricing,PayrollTypeId,PayrollPartnerName,PartialEngagementType_ID,
											IsVettedProfile,IsHiringLimited,HR_TypeId,IsDirectHR,BQLink,DealID,ChildCompanyID,HistoryDate,HiringTypePricingId,
											SalesUserID,ModeOfWork,City,Country,
											JobLocation,FrequencyOfficeVisitID,IsOpenToWorkNearByCities,NearByCities,ATS_JobLocationID,ATS_NearByCities)
			--Values(@HrId,@ContactID,@ContactID,Getdate(),@Availability,1,1,3,@JDFilename,@JddumpId,@JDURL,@NoofTalents,@NoofHoursworking,@Discovery_Call,
			--@DpPercentage,@IsHRTypeDP,@IsTransparentPricing,@PayrollTypeId,@PayrollPartnerName,@PartialEngagementTypeID,@IsVettedProfile,@IsHiringLimited,
			--IIF(ISNULL(@IsHRTypeDP, 0) = 1, 1, 2),@IsDirectHR,@Bqlink,@DealID,@ChildCompanyName)
			SELECT @HrId,
			       ContactID = Case when ContactID <> @ContactID then @ContactID else null end,
			       LastModifiedByID = @LoginUserId,
				   Getdate(),
				   HRAvailability = Case when Availability <> @Availability then @Availability else null end,
				   1,1,3,
				   JDfile = Case when JDFilename <> @JDFilename then @JDFilename else null end,
				   JddumpId = Case when JDDump_ID <> @JddumpId then @JddumpId else null end,
				   JDURL = Case when JDURL <> @JDURL then @JDURL else null end,
				   NoofTalents = Case when NoofTalents <> @NoofTalents then @NoofTalents else null end,
				   NoofHoursworking = Case when NoofHoursworking <> @NoofHoursworking then @NoofHoursworking else null end,
				   DiscoveryCall = Case when Discovery_Call <> @Discovery_Call then @Discovery_Call else null end,
				   DPPercentage = Case when DPPercentage <> @DpPercentage then @DpPercentage else null end,
				   IsHRTypeDP = Case when IsHRTypeDP <> @IsHRTypeDP then @IsHRTypeDP else null end,				  
				   IsTransparentPricing = Case when IsTransparentPricing <> @IsTransparentPricing then @IsTransparentPricing else null end,
				   PayrollTypeId = Case when PayrollTypeId <> @PayrollTypeId then @PayrollTypeId else null end,
				   PayrollPartnerName = Case when PayrollPartnerName <> @PayrollPartnerName then @PayrollPartnerName else null end,
				   PartialEngagementType_ID = Case when PartialEngagementType_ID <> @PartialEngagementTypeID then @PartialEngagementTypeID else null end,
				   IsVettedProfile = Case when IsVettedProfile <> @IsVettedProfile then @IsVettedProfile else null end,
				   IsHiringLimited = Case when IsHiringLimited <> @IsHiringLimited then @IsHiringLimited else null end,
				   HR_TypeId = Case when HR_TypeId <> IIF(ISNULL(@IsHRTypeDP, 0) = 1, 1, 2) then IIF(ISNULL(@IsHRTypeDP, 0) = 1, 1, 2) else null end,
				   IsDirectHR = Case when IsDirectHR <> @IsDirectHR then @IsDirectHR else null end,
				   BQLink = Case when BQLink <> @Bqlink then @Bqlink else null end,
				   DealID = Case when DealID <> @DealID then @DealID else null end,
				   ChildCompanyID = Case when ChildCompanyID <> @ChildCompanyName then @ChildCompanyName else null end,
				   Getdate(),
				   HiringTypePricingId = case when HiringTypePricingId <> @HrTypePricingId then @HrTypePricingId else null end,
				   SalesUserID = case when SalesUserID <> @SalesPersonID then @SalesPersonID else null end,
				   ModeOfWork = case when Isnull(ModeOfWork,'') <> @ModeOfWorking then @ModeOfWorking else null end,
				   City = case when Isnull(City,'') <> Isnull(@JobLocation,@City) then Isnull(@JobLocation,@City) else null end,
				   Country = case when Isnull(Country,'') <> @Country then @Country else null end,
				   
				   JobLocation = case when Isnull(JobLocation,'') <> @JobLocation then @JobLocation else null end,
				   FrequencyOfficeVisitID = case when  Isnull(FrequencyOfficeVisitID,0) <> @FrequencyOfficeVisitID then @FrequencyOfficeVisitID else null end,
				   IsOpenToWorkNearByCities = case when IsOpenToWorkNearByCities <> @IsOpenToWorkNearByCities then  @IsOpenToWorkNearByCities  else null end,
				   NearByCities = case when Isnull(NearByCities,'') <> @NearByCities then @NearByCities else null end,
				   ATS_JobLocationID = case when  Isnull(ATS_JobLocationID,0) <> @ATS_JobLocation then @ATS_JobLocation else null end,
				   ATS_NearByCities = case when Isnull(ATS_NearByCities,'') <> @ATS_NearByCities then @ATS_NearByCities else null end
			
			FROM   gen_SalesHiringRequest H WITH(NOLOCK)
				   left join gen_Direct_Placement D WITH(NOLOCK) ON D.HiringRequest_Id = H.ID
			 WHERE H.ID = @HrId 

			 Print @JobLocation

			SET @HiringRequestHisotoryID = @@IDENTITY
			--SET @HiringRequestHisotoryID = SCOPE_IDENTITY()

			Insert into gen_SalesHiringRequest_Details_History(HiringRequest_ID,Duration,DurationType,Cost,YearOfExp,HowSoon,Timezone_ID
							,LastModifiedByID,LastModifiedDatetime,TimeZone_FromTime,TimeZone_EndTime,BudgetFrom,BudgetTo,Currency,AppActionDoneBy,PartialEngagementType_ID,
							Adhoc_BudgetCost,IsConfidentialBudget,OverlapingHours, IsFresherAllowed,HistoryDate)
			--Values(@HrId,@ContractDuration,@DurationType,@Cost,@YearOfExp,@HowSoon,
			--	@TimezoneID,@ContactID,GetDate(),@TimeZoneFromTime,@TimeZoneEndTime,@MinimumBudget,@MaximumBudget,@Currency,3,@PartialEngagementTypeID,
			--	@AdhocBudgetCost,@IsConfidentialBudget,@OverlapingHours, @IsFresherAllowed)
			SELECT @HrId,
				   Duration = Case when Duration <> @ContractDuration then @ContractDuration else null end,
				   DurationType = Case when DurationType <> @DurationType then @DurationType else null end,
				   Cost = Case when Cost <> @Cost then @Cost else null end,
				   YearOfExp = Case when YearOfExp <> @YearOfExp then @YearOfExp else null end,
				   HowSoon = Case when HowSoon <> @HowSoon then @HowSoon else null end,
				   Timezone_ID = Case when Timezone_ID <> @TimezoneID then @TimezoneID else null end,
				   @LoginUserId,GetDate(),
				   TimeZone_FromTime = Case when TimeZone_FromTime <> @TimeZoneFromTime then @TimeZoneFromTime else null end,
				   TimeZone_EndTime = Case when TimeZone_EndTime <> @TimeZoneEndTime then @TimeZoneEndTime else null end,
				   BudgetFrom = Case when BudgetFrom <> @MinimumBudget then @MinimumBudget else null end,
				   BudgetTo = Case when BudgetTo <> @MaximumBudget then @MaximumBudget else null end,
				   Currency = Case when Currency <> @Currency then @Currency else null end,
				   3,
				   PartialEngagementType_ID = Case when PartialEngagementType_ID <> @PartialEngagementTypeID then @PartialEngagementTypeID else null end,
				   Adhoc_BudgetCost = Case when Adhoc_BudgetCost <> @AdhocBudgetCost then @AdhocBudgetCost else null end,
				   IsConfidentialBudget = Case when IsConfidentialBudget <> @IsConfidentialBudget then @IsConfidentialBudget else null end,
				   OverlapingHours = Case when OverlapingHours <> @OverlapingHours then @OverlapingHours else null end,
				   IsFresherAllowed = Case when IsFresherAllowed <> @IsFresherAllowed then @IsFresherAllowed else null end,
				   Getdate()

			FROM gen_SalesHiringRequest_Details WITH(NOLOCK) WHERE ID = @HRDetailID 

				SET @HRDetailHisotoryID = @@IDENTITY
				--SET @HRDetailHisotoryID = SCOPE_IDENTITY()

			END

			--------------------------------------------------------------------------------
			--Added by Himani (12-June-24)
			--IF contactid change than in all table we need to update contactid
			--------------------------------------------------------------------------------
			BEGIN
				DECLARE @IsContactChange BIT = 0;
				SELECT  @IsContactChange =
						Case when ContactID <> @ContactID then 1 else 0 end
				FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HrId

				IF @IsContactChange = 1
				BEGIN
					EXEC Sproc_UTS_Update_ContactViaCOEAccess
					@HR_ID = @HrId, 
					@ContactID = @ContactID
				END
			END
			---------------------------------------------------------------------------------
			
			--update in gen_SalesHiringRequest
			UPDATE gen_SalesHiringRequest
			SET
			ContactID = ISNULL(@ContactId,ContactID),
			SalesUserID = ISNULL(@SalesPersonID, SalesUserID),
			Availability = ISNULL(@Availability, Availability),
			JDFilename = ISNULL(@JDFileName, JDFilename),
			JDURL = ISNULL(@JDURL, JDURL),
			NoofTalents = ISNULL(@NoOfTalents, NoofTalents),
			PartialEngagementType_ID = ISNULL(@PartialEngagementTypeId, PartialEngagementType_ID),
			NoofHoursworking = ISNULL(@NoofHoursworking, NoofHoursworking),
			IsHrtypeDp = ISNULL(@IsHRTypeDP, IsHrtypeDp),
			DpPercentage = ISNULL(@DPPercentage, DPPercentage),
			TalentCostCalcPercentage = ISNULL(@NRMargin, TalentCostCalcPercentage),
			IsTransparentPricing = ISNULL(@IsTransparentPricing, IsTransparentPricing),
			HiringTypePricingId = ISNULL(@HrTypePricingId, HiringTypePricingId),
			PayrollTypeId = ISNULL(@PayrollTypeId, PayrollTypeId),
			PayrollPartnerName = ISNULL(@PayrollPartnerName, PayrollPartnerName),
			HR_TypeId = IIF(ISNULL(@IsHRTypeDP, IsHrtypeDp) = 1, 1, 2),
			IsVettedProfile = ISNULL(@IsVettedProfile, IsVettedProfile),
			IsHiringLimited = ISNULL(@IsHiringLimited, IsHiringLimited),
			DealID = ISNULL(@DealID, DealID),
			BQLink = ISNULL(@BQLink, BQLink),
			Discovery_Call = ISNULL(@Discovery_Call, Discovery_Call),
			LastModifiedByID = ISNULL(@LoginUserId, LastModifiedByID),
			ShowHRPOCDetailsToTalents = ISNULL(@ShowHRPOCDetailsToTalents, ShowHRPOCDetailsToTalents),		
			LastModifiedDatetime = GETDATE(),
			JobTypeID = ISNULL(@JobTypeID, JobTypeID)
			WHERE ID = @HrId

			SELECT @HrId AS Id--Do not changed/move, otherwise will impact on create hr

			--Update data in gen_SalesHiringRequest_Details
			UPDATE gen_SalesHiringRequest_Details
			SET 
			SpecIFicMonth = ISNULL(@ContractDuration, SpecIFicMonth),
			NoofEmployee = ISNULL(@NoOfTalents, NoofEmployee),
			Currency = ISNULL(@Currency, Currency),
			BudgetFrom = ISNULL(@MinimumBudget, BudgetFrom),
			BudgetTo = ISNULL(@MaximumBudget, BudgetTo),
			Adhoc_BudgetCost = ISNULL(@AdhocBudgetCost, Adhoc_BudgetCost),
			Cost = ISNULL(@Cost, Cost),
			IsConfidentialBudget = ISNULL(@IsConfidentialBudget, IsConfidentialBudget),
			YearOfExp = ISNULL(@YearOfExp, YearOfExp),
			Timezone_ID = ISNULL(@TimeZoneID, Timezone_ID),
			TimeZone_FromTime = ISNULL(@TimeZoneFromTime, TimeZone_FromTime),
			TimeZone_EndTime = ISNULL(@TimeZoneEndTime, TimeZone_EndTime),
			HowSoon = ISNULL(@HowSoon, HowSoon),
			OverlapingHours = ISNULL(@OverlapingHours, OverlapingHours),
			DurationType = ISNULL(@DurationType, DurationType),
			IsFresherAllowed = ISNULL(@IsFresherAllowed, IsFresherAllowed),
			LastModifiedByID = ISNULL(@LoginUserId, LastModifiedByID),
			LastModifiedDatetime = GETDATE()
			WHERE HiringRequest_ID = @HrId
			
			--update data in gen_Direct_Placement
			UPDATE  gen_Direct_Placement
			SET		ModeOfWork = ISNULL(@ModeOfWorking, ModeOfWork),
					City = ISNULL(@City, City),
					Country = ISNULL(@Country, Country),
					ModIFiedById = ISNULL(@LoginUserId, ModIFiedById),
					ModIFiedByDateTime = GETDATE(),
					JobLocation = Isnull(@JobLocation,JobLocation),
					FrequencyOfficeVisitID = ISNULL(@FrequencyOfficeVisitID,FrequencyOfficeVisitID),
					IsOpenToWorkNearByCities = Isnull(@IsOpenToWorkNearByCities,IsOpenToWorkNearByCities),
					NearByCities = Isnull(@NearByCities,NearByCities),
					ATS_JobLocationID = ISNULL(@ATS_JobLocation,ATS_JobLocationID),
					ATS_NearByCities = ISNULL(@ATS_NearByCities,ATS_NearByCities)
			WHERE   HiringRequest_Id = @HrId

				--Update calculation
			EXEC SP_PayPerHire_Calculation_Update @HRID = @HrId
			
			

			--Insert history action for Update_HR from ATS
			EXEC sproc_HiringRequest_History_Insert @Action = 'Update_HR', @HiringRequest_ID = @HrId,
				@Talent_ID = 0, @Created_From = 0, @CreatedById = @LoginUserId,
				@ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0, @SalesUserID = 0,
				@OldSalesUserID = 0, @AppActionDoneBy = @App_ActionDoneBy,
				@SalesHistoryID = @HiringRequestHisotoryID,@SalesDetailHistoryID = @HRDetailHisotoryID 
				



			---Added Jimit 03-06-24  UTS-7505
			--In Edit HR SP update Sales Person ID for this Company's HR with New Sales Person ID where Ayush is Sales Person Point no 3
			Declare @DCSalesEmpID as Nvarchar(200) = 0
			Declare @DCSalesUserID as bigint = 0

			
			select  @CompanyId = CompanyID from gen_Contact WITH(NOLOCK) where ID = @ContactId
			select @DCSalesEmpID = [Value] from gen_SystemConfiguration WITH(NOLOCK) where [Key] = 'ClientFrontEndPayPerHRPOC'
			Select @DCSalesUserID = ID from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID

			Update H
			SET    H.SalesUserId = Isnull(@SalesPersonID,H.SalesUserID)
			from   gen_SalesHiringRequest H
				   inner join gen_Contact C ON C.ID = H.ContactID
			where  C.CompanyID = @CompanyId and H.SalesUserID = @DCSalesUserID
			---ended---

		END
	END
	ELSE
	BEGIN

		DECLARE @HRTypeID INT = NULL, @StatusID  INT = NULL, @JobStatusID INT = NULL,@IsScreeningQuestionOptional BIT = 0;
		DECLARE @DATE AS VARCHAR(12)
		SELECT @DATE = format(getdate(),'ddMMyyHHmmss')
		
		--SET HR type ID Based on Pay Per Hire/Pay per credit
		IF ISNULL(@IsPayPerHire,0) = 1
		BEGIN
			SET @HRTypeID = 1 --Sales HR
		END
		IF ISNULL(@IsPayPerCredit,0) = 1
		BEGIN
			--some values are default in pay per credit HR
			SET @DpPercentage = 0;
			SET @NRMargin = 0;
			SET @IsScreeningQuestionOptional = 1

			IF @IsPostaJob = 1 AND @IsProfileView = 0
			BEGIN
				SET	@HRTypeId = 4; --PostaJobCreditBased								
			END
			IF @IsPostaJob = 1 AND @IsProfileView = 1
			BEGIN
				SET	@HRTypeId = 3; --PostaJobViewBasedCredit									
			END
			IF @IsPostaJob = 0 AND @IsProfileView = 1
			BEGIN
				SET	@HRTypeId = 6; --PostajobWithViewCreditsButnoJobPostCredits									
			END
			SET @IsTransparentPricing = NULL
			SET @HrTypePricingId = NULL
		END

		SET @JobStatusID = 3	--Draft by default on 1st tab

		---Convert into proper formatting for budget (Riya - 20 May-2024)
		SELECT @FormattedBudgetFrom = format(@MinimumBudget, N'N', Culture), 
			   @FormattedBudgetTo = format(@MaximumBudget, N'N', Culture),
			   @FormattedAdhocBudget = format(@AdhocBudgetCost, N'N', Culture)
		FROM prg_CurrencyExchangeRate WITH(NOLOCK) WHERE CurrencyCode = @Currency

		IF ISNULL(@IsPayPerCredit,0) = 1
			BEGIN
				SET @IsDPHR = 1
			END

		--Range budget
		IF(ISNULL(@MinimumBudget,0) >  0 AND ISNULL(@MaximumBudget,0) > 0)
		BEGIN
			SET @Cost = (
							SELECT IIF
									(
										ISNULL(@MinimumBudget,0) = 0, 
										@FormattedBudgetFrom,
										CAST(CurrencySign AS NVARCHAR) + ' ' + @FormattedBudgetFrom
									) 
									+ ' to ' +  CAST(CurrencySign AS NVARCHAR) + ' ' + 
									@FormattedBudgetTo + ' ' + @Currency  + IIF(ISNULL(@IsDPHR,0) = 1, @PerAnnum, @PerMonth)
									FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
						)
						SET	@AdhocBudgetCost = 0
		END
		--Adhoc Budget
		IF(ISNULL(@AdhocBudgetCost,0) >  0)
		BEGIN
			SET @Cost = (
							SELECT IIF
									(
										ISNULL(@AdhocBudgetCost,0) = 0, 
										@FormattedAdhocBudget,
										+ 'Upto ' + CAST(CurrencySign AS NVARCHAR) + ' ' + 
										@FormattedAdhocBudget + ' ' + @Currency + + IIF(ISNULL(@IsDPHR,0) = 1, @PerAnnum, @PerMonth)									
									) 
									FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
						)
			SET @MinimumBudget = 0 
			SET	@MaximumBudget = 0 
		END

		INSERT INTO gen_SalesHiringRequest
		(
				ContactId,
				NoofTalents,
				IsHiringLimited,
				Availability,
				IsActive,
				IsHRTypeDP,
				DPPercentage,
				TalentCostCalcPercentage,
				CreatedByID,
				CreatedByDatetime,
				SalesUserID,
				Status_ID,
				HR_Number,
				JDFilename,
				JDURL,
				JDDump_ID,
				HRTypeId,
				HiringTypePricingId,
				IsTransparentPricing,
				PayrollTypeId,
				HR_TypeId,
				PayrollPartnerName,
				IsDirectHR,
				IsVettedProfile,
				DealID,
				BQLink,
				Discovery_Call,
				JobStatusID,
				ShowHRPOCDetailsToTalents,
				JobTypeID,
				AppActionDoneBy
		)
		Values
		(
				@ContactId,
				@NoOfTalents,
				@IsHiringLimited,
				@Availability,
				0, -- IsActive = 0 while create HR on 1st page
				@IsHRTypeDP,
				@DpPercentage,
				@NRMargin,
				@LoginUserId,
				GETDATE(),
				@SalesPersonID, 
				1, -- Default open sub status while create HR on 1st page
				'HR'+ @DATE,
				@JDFileName,
				@JDURL,
				@JddumpId,
				@HRTypeId,
				@HrTypePricingId,
				@IsTransparentPricing,
				@PayrollTypeId,
				IIF(@IsHRTypeDP = 1, 1, 2),
				@PayrollPartnerName,
				@IsDirectHR,
				@IsVettedProfile, 
				@DealID,
				@BQLink,
				@Discovery_Call,
				@JobStatusId,
				@ShowHRPOCDetailsToTalents,
				@JobTypeID,
				@App_ActionDoneBy
		)

		SET @HrId = @@IDENTITY 
		SELECT @HrId AS Id --Do not changed/move, otherwise will impact on create hr

		INSERT INTO gen_SalesHiringRequest_Details
		(
			HiringRequest_ID,
			YearOfExp,
			NoofEmployee,
			Currency,
			BudgetFrom,
			BudgetTo,
			HowSoon, 
			Timezone_Preference_ID, 
			TimeZone_FromTime,
			TimeZone_EndTime,	
			RoleStatus_ID,			
			SpecificMonth,
			Cost,
			CreatedById,
			CreatedByDatetime,
			DurationType,
			OverlapingHours,
			Timezone_ID,
			Adhoc_BudgetCost,
			IsConfidentialBudget,
			IsFresherAllowed,
			IsScreeningQuestionOptional
		)
		VALUES
		(
			@HrId,
			@YearOfExp,
			@NoOfTalents,
			@Currency,
			@MinimumBudget,
			@MaximumBudget,
			@HowSoon,
			NULL,
			@TimeZoneFromTime, 
			@TimeZoneEndTime,
			1, 
			@ContractDuration,
			@Cost,
			@LoginUserId,
			Getdate(),
			IIF(@IsHiringLimited = 1, 'Short Term', 'Long Term'),
			@OverlapingHours,
			@TimezoneId,
			@AdhocBudgetCost,
			@IsConfidentialBudget,
			@IsFresherAllowed,
			@IsScreeningQuestionOptional
		)

		SET @HRDetailID = @@IDENTITY 

		INSERT INTO gen_Direct_Placement
		(
			HiringRequest_Id,
			ModeOfWork,
			City,
			Country,
			CreatedById,
			CreatedByDateTime,
			JobLocation,
			FrequencyOfficeVisitID,
			IsOpenToWorkNearByCities,
			NearByCities,
			ATS_JobLocationID,
			ATS_NearByCities
		)
		VALUES
		(
			@HrId,
			@ModeOfWorking,
			@City,
			@Country,
			@LoginUserId,
			GETDATE(),
			@JobLocation,
			@FrequencyOfficeVisitID,
			@IsOpenToWorkNearByCities,
			@NearByCities,
			@ATS_JobLocation,
			@ATS_NearByCities
		)

		--added by himani for Update calculation
		EXEC SP_PayPerHire_Calculation_Update @HRID = @HrId

		--Insert history maintain
		EXEC SPROC_Gen_SalesHiringRequest_History @HRID = @HrId, @AppActionDoneBy = @App_ActionDoneBy
		EXEC SPROC_Gen_SalesHiringRequest_Details_History @HRID = @HrId, @AppActionDoneBy = @App_ActionDoneBy

		SET @CompanyID = (SELECT TOP 1 CompanyID FROM gen_Contact WITH (NOLOCK) WHERE ID = @ContactId)

		---Added By Jimit 23-07-24 In case of Self signUP while Create HR from UTS admin set SalesUSer as Company's AM?NBD
		Declare @IsSelfSignUP as bit = 0
		Declare @AMNBDSalesPersonID as bigint = 0

		SELECT	@IsSelfSignUP = Isnull(IsFromSignUp,0),@AMNBDSalesPersonID = Isnull(AM_SalesPersonID,Isnull(NBD_SalesPersonID,0))
		from	gen_Company WITH(NOLOCK) 
		where	ID = @CompanyID

		--if (@IsSelfSignUP = 1 and @AMNBDSalesPersonID = 0)
		  if (@AMNBDSalesPersonID = 0)
			BEGIN
				exec sproc_UTS_UpdatePOCUserIDsByCompanyID  @CompanyID = @CompanyID,@POCUserID = @SalesPersonID,@CreatedByID = @LoginUserId,@HRID = @HrId
							,@Sales_HR_NBD = null,@Flag	= Null
			END
		----Ended


		--Added history
		IF ISNULL(@IsDraftHR,0) = 1 
		BEGIN

			EXEC sproc_HiringRequest_History_Insert @Action = 'HR_SaveAsDraft', @HiringRequest_ID = @HrId,
					@Talent_ID = 0, @Created_From = 0,@CreatedById = @LoginUserId, @ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '', @OnBoard_ID = 0, @IsManagedByClient = 0 , @IsManagedByTalent = 0, @SalesUserID = @SalesPersonID,
					@OldSalesUserID = 0, @AppActionDoneBy = @App_ActionDoneBy
		END
		ELSE
		BEGIN

			EXEC sproc_HiringRequest_History_Insert @Action = 'Create_HR', @HiringRequest_ID = @HrId,
					@Talent_ID = 0, @Created_From = 0,@CreatedById = @LoginUserId, @ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0 ,@IsManagedByTalent = 0, @SalesUserID = @SalesPersonID,
					@OldSalesUserID = 0, @AppActionDoneBy = @App_ActionDoneBy	
		END
		
	END

	SET @CompanyID = (SELECT TOP 1 CompanyID FROM gen_Contact WITH (NOLOCK) WHERE ID = @ContactId)


	--Update Data in Gen_Company if its pay per hire HR
	IF @IsPayPerHire = 1
	BEGIN
		
		SELECT 
		@ComapnyTransparentPricing = IsTransparentPricing,
		@CompanyDiscoveryCall = Discovery_Call
		FROM gen_company WITH (NOLOCK) 
		WHERE ID = @CompanyID

			--Update Discovery_Call in company, only when its not updated yet
			IF @CompanyDiscoveryCall IS NULL AND ISNULL(@Discovery_Call,'') <> ''
			BEGIN
				UPDATE Gen_Company
				SET Discovery_Call = @Discovery_Call
				WHERE ID = @CompanyID
			END

			--IsTransparentPricing update in company, only when its not updated yet
			IF @ComapnyTransparentPricing IS NULL AND @IsTransparentPricing IS NOT NULL
			BEGIN
				UPDATE Gen_Company
				SET IsTransparentPricing = @IsTransparentPricing
				WHERE ID = @CompanyID
			END
	END

	--Special Edit by COE team
	IF ISNULL(@AllowSpecialEdit, 0) = 1 AND ISNULL(@HrId,0) > 0 AND ISNULL(@HRDetailID,0) > 0
	BEGIN
		--EXEC Sproc_Update_HRDetails_From_Special_User @HR_ID = @HrId, @HRDetail_ID = @HRDetailID, @LoggedInUserID = @LoginUserId
	
		EXEC sproc_HiringRequest_History_Insert @Action = 'EditHR_COETeam', @HiringRequest_ID = @HrId,
					@Talent_ID = 0, @Created_From = 0,@CreatedById = @LoginUserId, @ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0 ,@IsManagedByTalent = 0, @SalesUserID = @SalesPersonID,
					@OldSalesUserID = 0, @AppActionDoneBy = @App_ActionDoneBy,
					@SalesHistoryID = @HiringRequestHisotoryID, @SalesDetailHistoryID = @HRDetailHisotoryID 
	END

	---Added by himani for when HR is add/edit, contact & company will be active if its not yet(2nd May 2024)
	EXEC Sproc_UTS_ContactAsActive @ContactID = @ContactId

	--HR Partnership Update Info
	IF EXISTS (SELECT TOP 1 ID FROM usr_user WITH (NOLOCK) WHERE Id = @SalesPersonID AND IsPartnerUser = 1)
	BEGIN
		EXEC sproc_UTS_UpdatePartnershipDetails_ForHR 
				@HRID				=		@HrId,
				@CONTACTID			=       @ContactId,
				@LOGGEDINUSERID		=		@LoginUserId,
				@CHILDCOMPANYNAME	=		@ChildCompanyName
	END

	
	DECLARE @HRGuid NVARCHAR(500) = NULL

	SET @HRGuid = (SELECT TOP 1 GUID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID)

	IF NOT EXISTS(SELECT 1 FROM gen_JobPost_VitalInfo_ClientPortal WITH(NOLOCK) WHERE HRID = @HRID OR GUID = @HRGuid)
				BEGIN
					INSERT INTO gen_JobPost_VitalInfo_ClientPortal
					(
						HRID,GUID, ContactID,CompensationOption,IndustryType,HasPeopleManagementExp,Prerequisites,StringSeparator,CreatedbyId,CreatedbyDateTime,IsActive
					)
					VALUES
					(
						@HRID,@HRGuid, @ContactId,@CompensationOption,@IndustryType,@HasPeopleManagementExp,@Prerequisites,@StringSeparator, 3, GETDATE(),1
					)
				END
			ELSE
			BEGIN
				UPDATE gen_JobPost_VitalInfo_ClientPortal SET 
				CompensationOption = ISNULL(@CompensationOption, CompensationOption),
				IndustryType = ISNULL(@IndustryType, IndustryType),
				HasPeopleManagementExp=ISNULL(@HasPeopleManagementExp, HasPeopleManagementExp),
				Prerequisites = ISNULL(@Prerequisites, Prerequisites),	
				StringSeparator = ISNULL(@StringSeparator,StringSeparator),
				ModifiedbyDateTime = GETDATE()
				WHERE HRID = @HRID OR GUID = @HRGuid
			END


END



