USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Check_Email_server_Exists_Clientportal]    Script Date: 16-02-2024 16:50:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Check_Email_server_Exists_Clientportal]
 @EmailServer		 Nvarchar(50) = null
AS
BEGIN

		IF Exists(select 1 from gen_Email_Lists WITH(NOLOCK) WHERE Lower(EMail) = Lower(@EmailServer))
			 BEGIN
					SELECT 'Exists' as [status]
			 END
		ELSE
			BEGIN
					SELECT 'Exists' as [status]
			END
				

END