ALTER PROCEDURE [dbo].[Sproc_AddUpdate_Hubspot_Company]
	@CompanyID					bigint=null,
	@Company					nvarchar(200)=null,
	@Website					nvarchar(200)=null,
	@PortalID					int=null,
	@SourceId					nvarchar(100)=null,
	@Source						nvarchar(100)=null,
	@hubspot_owner_id			bigint=null,
	@hs_object_id				decimal(18,2)=null,
	@annualrevenue				decimal(18,2)=null,
	@address					nvarchar(500)=null,
	@phone						nvarchar(50)=null,
	@domain						nvarchar(500)=null,
	@industry					nvarchar(50)=null,
	@city						nvarchar(50)=null,
	@state						nvarchar(50)=null,
	@country					nvarchar(50)=null,
	@zip						nvarchar(50)=null,
	@numberofemployees			int=null,
	@linkedin_company_page		nvarchar(500)=null,
	@IsActive					bit=null,
	@IsContactInserted			bit=null,
	@CreatedByID				int=null,
	@CreatedByDatetime			datetime=null,
	@ModifiedByID				int=null,
	@ModifiedByDatetime			datetime=null,
	@LastInvoice_id				bigint=null,
	@LastInvoiceDate			datetime=null,
	@CurrencyID					int=null,
	@EngagementModelID			int=null,
	@GEO_ID						int=null,
	@ZOHO_Primary_Customer_ID	nvarchar(250)=null,
	@IsContactExist				bit=null,
	@IsWallet					bit=null,
	@WalletBalance				decimal(18,2)=null,
	@IsCreatedFromUTS			bit=null,
	@AssignedAMUserID			int=null,
	@category					nvarchar(5)=null,
	@region_name				nvarchar(100)=null,
	@lifecyclestage				nvarchar(100)=null,
	@lead_source_channel		nvarchar(100)=null
AS
BEGIN

	IF @CompanyID > 0
		BEGIN

					Declare @IsExists as bit = 0
					Declare @Company_ID as bigint = 0
					Declare  @DCSalesEmpID as Nvarchar(20) = null
					Declare  @DCSalesUserID as bigint = 0

					IF Not Exists(select 1 from gen_HubSpotCompany WITH(NOLOCK) WHERE CompanyID = @CompanyID)
						BEGIN
								--IF Not Exists(select 1 from gen_HubSpotCompany WITH(NOLOCK) WHERE lower(Company) = Lower(@Company))
								--	BEGIN
								--			SET @IsExists = 0;
								--	END
								--ELSE
								--	BEGIN
								--			SET @IsExists = 1
								--	END
								SET @IsExists = 0;
						END
					ELSE
						BEGIN
								SET @IsExists = 1;
						END

					IF @IsExists = 1
						BEGIN
								UPDATE  gen_HubSpotCompany
								SET		
										--CompanyID=Isnull(@CompanyID,CompanyID),
										Company=Isnull(@Company,Company),
										Website=Isnull(@Website,Website),
										PortalID=Isnull(@PortalID,PortalID),
										SourceId=Isnull(@SourceId,SourceId),
										Source=Isnull(@Source,Source),
										hubspot_owner_id=Isnull(@hubspot_owner_id,hubspot_owner_id),
										hs_object_id=Isnull(@hs_object_id,hs_object_id),
										annualrevenue=Isnull(@annualrevenue,annualrevenue),
										address=Isnull(@address,address),
										phone=Isnull(@phone,phone),
										domain=Isnull(@domain,domain),
										industry=Isnull(@industry,industry),
										city=Isnull(@city,city),
										state=Isnull(@state,state),
										country=Isnull(@country,country),
										zip=Isnull(@zip,zip),
										numberofemployees=Isnull(@numberofemployees,numberofemployees),
										linkedin_company_page=Isnull(@linkedin_company_page,linkedin_company_page),
										IsActive=Isnull(@IsActive,IsActive),
										IsContactInserted=Isnull(@IsContactInserted,IsContactInserted),
										--CreatedByID=Isnull(@CreatedByID,CreatedByID),
										--CreatedByDatetime=Isnull(@CreatedByDatetime,CreatedByDatetime),
										ModifiedByID=Isnull(@ModifiedByID,ModifiedByID),
										ModifiedByDatetime=Isnull(@ModifiedByDatetime,ModifiedByDatetime),
										LastInvoice_id=Isnull(@LastInvoice_id,LastInvoice_id),
										LastInvoiceDate=Isnull(@LastInvoiceDate,LastInvoiceDate),
										CurrencyID=Isnull(@CurrencyID,CurrencyID),
										EngagementModelID=Isnull(@EngagementModelID,EngagementModelID),
										GEO_ID=Isnull(@GEO_ID,GEO_ID),
										ZOHO_Primary_Customer_ID=Isnull(@ZOHO_Primary_Customer_ID,ZOHO_Primary_Customer_ID),
										IsContactExist=Isnull(@IsContactExist,IsContactExist),
										IsWallet=Isnull(@IsWallet,IsWallet),
										WalletBalance=Isnull(@WalletBalance,WalletBalance),
										IsCreatedFromUTS=Isnull(@IsCreatedFromUTS,IsCreatedFromUTS),
										AssignedAMUserID=Isnull(@AssignedAMUserID,AssignedAMUserID),
										category=Isnull(@category,category),
										region_name=Isnull(@region_name,region_name),
										lifecyclestage=Isnull(@lifecyclestage,lifecyclestage),
										lead_source_channel=Isnull(@lead_source_channel,lead_source_channel)
								WHERE  CompanyID = @CompanyID and LOWER(Company) = Lower(@Company)
				
						END
					ELSe
						BEGIN
								Insert 
								into	gen_HubSpotCompany(
												CompanyID
												,Company
												,Website
												,PortalID
												,SourceId
												,Source
												,hubspot_owner_id
												,hs_object_id
												,annualrevenue
												,address
												,phone
												,domain
												,industry
												,city
												,state
												,country
												,zip
												,numberofemployees
												,linkedin_company_page
												,IsActive
												,IsContactInserted
												,CreatedByID
												,CreatedByDatetime												
												,LastInvoice_id
												,LastInvoiceDate
												,CurrencyID
												,EngagementModelID
												,GEO_ID
												,ZOHO_Primary_Customer_ID
												,IsContactExist
												,IsWallet
												,WalletBalance
												,IsCreatedFromUTS
												,AssignedAMUserID
												,category
												,region_name
												,lifecyclestage
												,lead_source_channel
												)
									Values     (Isnull(@CompanyID,0),
												Isnull(@Company,''),
												Isnull(@Website,''),
												Isnull(@PortalID,0),
												Isnull(@SourceId,''),
												Isnull(@Source,0),
												Isnull(@hubspot_owner_id,0),
												Isnull(@hs_object_id,0),
												Isnull(@annualrevenue,0),
												Isnull(@address,''),
												Isnull(@phone,''),
												Isnull(@domain,''),
												Isnull(@industry,''),
												Isnull(@city,''),
												Isnull(@state,''),
												Isnull(@country,''),
												Isnull(@zip,''),
												Isnull(@numberofemployees,0),
												Isnull(@linkedin_company_page,''),
												Isnull(@IsActive,0),
												Isnull(@IsContactInserted,0),
												Isnull(@CreatedByID,0),
												Isnull(@CreatedByDatetime,null),
												
												Isnull(@LastInvoice_id,0),
												Isnull(@LastInvoiceDate,null),
												Isnull(@CurrencyID,0),
												Isnull(@EngagementModelID,0),
												Isnull(@GEO_ID,0),
												Isnull(@ZOHO_Primary_Customer_ID,''),
												Isnull(@IsContactExist,0),
												Isnull(@IsWallet,0),
												Isnull(@WalletBalance,0),
												Isnull(@IsCreatedFromUTS,0),
												Isnull(@AssignedAMUserID,0),
												Isnull(@category,''),
												Isnull(@region_name,''),
												Isnull(@lifecyclestage,''),
												Isnull(@lead_source_channel,'')
											  )
						END


					---Aayush---
					select @DCSalesEmpID = [Value] from gen_SystemConfiguration with(Nolock) where [Key] = 'ClientFrontEndPayPerHRPOC'
					Select @DCSalesUserID = ID from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID	

					IF Not Exists(select 1 from gen_Company WITH(NOLOCK) WHERE Lower(Company) = Lower(@Company))
						BEGIN
							IF NOT Exists(select 1 from gen_Company WITH(NOLOCK) WHERE HubSpot_Company = @CompanyID)
								BEGIN
										INSERT INTO gen_Company(Company,Phone,Address,IsActive,HubSpot_Company,Category,CreatedByID,CreatedByDatetime,Lead_Type,Website,zip,country,CompanyTypeID,IsTransparentPricing,NBD_SalesPersonID)
										Values(@Company,@phone,@address,0,@CompanyID,@category,@CreatedByID,@CreatedByDatetime,@lead_source_channel,@Website,@zip,@country,1,1, @DCSalesUserID) 
																																								--- PayPerHire CompanyTypeID =1,Istranspernt=1,Aayush NBD for new hubspot client

										SELECT @Company_ID = SCOPE_IDENTITY()
								END
							ELSE
								BEGIN
										--select @Company_ID = ID from gen_Company WITH(NOLOCK) WHERE HubSpot_Company = @CompanyID

										UPDATE gen_Company
										SET	   Company = Isnull(@Company,Company),
											   phone = Isnull(@phone,phone),
											   Address = Isnull(@address,Address),
											   HubSpot_Company = Isnull(@CompanyID,HubSpot_Company),
											   Category = Isnull(@category,Category),
											   ModifiedByDatetime = @ModifiedByDatetime,
											   ModifiedByID = @ModifiedByID,
											   country = Isnull(@country,country),
											   Lead_Type = Isnull(@lead_source_channel,Lead_Type),
											   Website = Isnull(@Website,Website),
											   zip = ISNULL(@zip,zip)
										where  HubSpot_Company = @CompanyID
								END
						END
						ELSE
							BEGIN
									select @Company_ID = ID from gen_Company WITH(NOLOCK) WHERE Lower(Company) = Lower(@Company)

										UPDATE gen_Company
										SET	   
											   phone = Isnull(@phone,phone),
											   Address = Isnull(@address,Address),
											   HubSpot_Company = Isnull(@CompanyID,HubSpot_Company),
											   Category = Isnull(@category,Category),
											   ModifiedByDatetime = @ModifiedByDatetime,
											   ModifiedByID = @ModifiedByID,
											   country = Isnull(@country,country),
											   Lead_Type = Isnull(@lead_source_channel,Lead_Type),
											   Website = Isnull(@Website,Website),
											   zip = ISNULL(@zip,zip)
										where  ID = @Company_ID
							END

			END


		 			

END