ALTER PROCEDURE [dbo].[sproc_UTS_Get_Onboarding_LegalInfo]	
	@OnBoardID			BIGINT = null,
	@HR_ID				BIGINT = null
AS
BEGIN
	SET NOCOUNT ON;

    SELECT 
	ISNULL(OBT.ID,0) AS OnBoardID,
	ISNULL(SHR.ID,0) AS HR_ID,
	ISNULL(C.ID,0) AS ContactID,
	ISNULL(COM.ID,0) AS CompanyID,
	ISNULL(OBT.Talent_ID, 0) AS TalentID,
	ISNULL(CCD.SigningAuthorityName,'') AS 	InvoiceRaiseTo,
	ISNULL(CCD.SigningAuthorityEmail,'') AS InvoiceRaiseToEmail,
	ISNULL(OCCD.ContractDuration,0) AS ContractDuration,	
	ISNULL(OCCD.ContractStartDate,'') AS ContractStartDate,
	ISNULL(OCCD.ContractEndDate,'') AS ContractEndDate,
	ISNULL(SHR.IsHRTypeDP,0) AS IsHRTypeDP,
	CASE WHEN ISNULL(SHR.IsHRTypeDP,0) = 1 THEN CAST(1 AS BIT) 
		WHEN ISNULL(SHR.IsHRTypeDP,0) = 0 AND ISNULL(SHRD.SpecificMonth, 0) = -1 THEN CAST(1 AS BIT)  
		ELSE CAST(0 AS BIT) 
	END AS IsIndefiniteHR,
	CASE WHEN Isnull(SHR.IsHRTypeDP,0) = 1 then 'Release offer details' else 'Confirm Contract details' end as PageTitle
	FROM gen_OnBoardTalents OBT WITH(NOLOCK) 
	INNER JOIN gen_SalesHiringRequest SHR WITH(NOLOCK) ON SHR.ID = OBT.HiringRequest_ID
	INNER JOIN gen_SalesHiringRequest_details SHRD WITH(NOLOCK) ON SHRD.HiringRequest_ID = SHR.ID
	INNER JOIN gen_Contact C WITH(NOLOCK) ON C.ID = OBT.ContactID
	INNER JOIN gen_Company COM WITH(NOLOCK) ON COM.ID = C.CompanyID
	LEFT JOIN gen_OnBoardClientContractDetails OCCD WITH(NOLOCK) ON OCCD.OnBoardID = OBT.ID
	LEFT JOIN gen_CompanyContractDetails CCD WITH(NOLOCK) ON CCD.CompanyID = C.CompanyID
	where OBT.ID = @OnBoardID and SHR.ID = @HR_ID 
END
