USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_UTS_ClientList]    Script Date: 01-08-2024 12:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_UTS_ClientList]
AS
BEGIN
			SELECT 	Id AS ClientID,
					isnull(Company,'') as ClientName
			FROM	gen_Company WITH (NOLOCK) 
			WHERE	IsActive = 1 AND isnull(Company,'') <> ''
			ORDER BY isnull(Company,'') ASC

		
	--SELECT 	Id AS ClientID,
	--		FullName + ' (' + EmailID + ')' as ClientName
	--FROM	gen_contact WITH (NOLOCK) 
	--WHERE	IsActive = 1 AND isnull(FullName,'') <> '' -- (FullName IS NOT NULL or FullName <> '')
	--ORDER BY ClientName ASC
END