ALTER PROCEDURE [dbo].[sproc_Get_InterviewRoundDetails]
 @Hiring_Request_Id     bigint = null,  
 @Contact_Id            bigint = null,
 @TalentID				BIGINT = NULL
AS  
BEGIN  
  
 --(rinku) 25-04-2023  
  Declare @CompanyID as bigint = 0  

  IF(ISNULL(@Contact_Id,0) = 0)
  BEGIN
	SELECT TOP 1 @Contact_Id = ContactID from gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @Hiring_Request_Id
  END
  
  Select @CompanyID = CompanyID   
  from gen_Contact with(nolock)   
  where ID = @Contact_ID  
          
		Select FB.ContactID,FB.HiringRequest_ID, TI.Talent_ID   	      
			,StrInterviewRound = CAST(COUNT(FB.ID) + 1 as varchar(10))
          
          From gen_ContactInterviewFeedback FB WITH(NOLOCK)
            inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = FB.ContactID  
			LEFT JOIN gen_TalentSelected_InterviewDetails TI ON FB.Shortlisted_InterviewID = TI.Shortlisted_InterviewID
          WHERE GC.CompanyID =@CompanyID   
            AND FB.FeedBack_Type ='AnotherRound'  
			AND FB.HiringRequest_ID = @Hiring_Request_Id
			AND TI.Talent_ID = @TalentID
			            
          group by FB.ContactID,FB.HiringRequest_ID,TI.Talent_ID 
END