ALTER PROCEDURE [dbo].[Sproc_Get_Company_PerksDetails]
	@CompanyId		  bigint = 0
AS
BEGIN

			Select  Perks = Isnull(Perks,'')
			From    gen_Company_PerkDetails WITH(NOLOCK)
			WHERE   CompanyID = @CompanyId


END