ALTER PROCEDURE [dbo].[Sproc_OnboardingUpdates_ClientPortal] 
	@OnBoardID					BIGINT			=	NULL,
	@TalentID					BIGINT			=	NULL,
	@HiringRequestID			BIGINT			=	NULL,
	@ContactID					BIGINT			=	NULL,
	@CompanyID					BIGINT			=	NULL,
	@Talent_Designation			NVARCHAR(100)	=	NULL,
	@ShiftStartTime				NVARCHAR(100)	=	NULL,
	@ShiftEndTime				NVARCHAR(100)	=	NULL,
	@NetPaymentDays				INT				=	NULL,
	@ContractStartDate			DATETIME		=	NULL,
	@ContractEndDate			DATETIME		=	NULL,
	@Talent_FirstWeek			NVARCHAR(MAX)	=	'',
    @Talent_FirstMonth			NVARCHAR(MAX)	=	'',
	@SoftwareToolsRequired		NVARCHAR(MAX)	=	'',
	@CreatedByID				BIGINT			=	NULL,
	@AppActionDoneBy			INT				=	NULL
AS
BEGIN
	SET NOCOUNT ON;

	--Indenitify the Contract Duration Month based on Contract Start Date AND Contract End Date
	DECLARE @ContractDuration INT = NULL 
	IF(ISNULL(@ContractStartDate,'') <> '' AND ISNULL(@ContractEndDate,'') <> '')
	BEGIN
		SET @ContractDuration = 
		(YEAR(@ContractEndDate) - YEAR(@ContractStartDate)) * 12 + 
		(MONTH(@ContractEndDate) - MONTH(@ContractStartDate)) - 
		CASE WHEN DAY(@ContractEndDate) < DAY(@ContractStartDate) THEN 1 ELSE 0 END
	END

	IF EXISTS(SELECT 1 FROM gen_OnBoardClientContractDetails WITH(NOLOCK) WHERE OnBoardID = @OnBoardID)
	BEGIN
		UPDATE gen_OnBoardClientContractDetails
		SET 
			ContractDuration = @ContractDuration,
			TotalDurationInMonths = @ContractDuration,
			ContractStartDate = ISNULL(@ContractStartDate, ContractStartDate),
			ContractEndDate = ISNULL(@ContractEndDate, ContractEndDate),
			ExpectationFromTalent_FirstWeek = @Talent_FirstWeek,
			ExpectationFromTalent_FirstMonth = @Talent_FirstMonth,
			SoftwareToolsRequired = @SoftwareToolsRequired,
			LastModifiedByID = @CreatedByID,
			LastModifiedDatetime = GETDATE()
			WHERE OnBoardID = @OnBoardID
	END

	--- Update talent information like punch start time and end time-----
	IF EXISTS(SELECT 1 FROM gen_OnBoardClientContractDetails with(nolock)  WHERE OnBoardID = @OnBoardID)
	BEGIN
		UPDATE	gen_OnBoardClientContractDetails SET 
				PunchStartTime = ISNULL(@ShiftStartTime,PunchStartTime),
				PunchEndTime = ISNULL(@ShiftEndTime,PunchEndTime),
				NetPaymentDays = ISNULL(@NetPaymentDays,NetPaymentDays),
				LastModifiedDatetime = getdate(),
				LastModifiedByID = Isnull(@CreatedByID,LastModifiedByID)
		WHERE	OnBoardID = @OnBoardID
	END

	IF EXISTS(SELECT 1 FROM gen_Talent with(nolock) WHERE ID = @TalentID)
	BEGIN
		UPDATE gen_Talent 
		SET Designation = IIF(ISNULL(@Talent_Designation,'')='', Designation, @Talent_Designation)
		WHERE ID = @TalentID
	END

	IF EXISTS(SELECT 1 FROM gen_OnboardTalents with(nolock)  WHERE Talent_ID = @TalentID AND HiringRequest_ID = @HiringRequestID)
	BEGIN
		UPDATE	gen_OnboardTalents 
		SET 
				ClientOnBoarding_StatusID = 2,
				ClientOnBoardingDate = getdate(),
				LastModifiedDatetime =  getdate(),
				LastModifiedByID = Isnull(@CreatedByID,LastModifiedByID)
		WHERE Talent_ID = @TalentID AND HiringRequest_ID = @HiringRequestID
	END	

	EXEC sproc_HiringRequest_History_Insert 
	@Action = 'OnboardingClient_Done', @HiringRequest_ID = @HiringRequestID, @Talent_ID = @TalentID, @Created_From = 0,
	@CreatedById = @CreatedByID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
	@HR_AcceptedDateTime = '', @OnBoard_ID = @OnBoardID, @IsManagedByClient = 1 ,@IsManagedByTalent = 0, 
	@SalesUserID = null, @OldSalesUserID = null, @AppActionDoneBy = @AppActionDoneBy	

END