CREATE PROCEDURE [dbo].[Sproc_Get_JobPostCount_For_UTM_Tracking_Lead]  
AS  
BEGIN    
  select   
  distinct JobCount   
  from (  
    select  H.ContactID,COUNT(ID) JObCount  
    from    gen_SalesHiringRequest H WITH(NOLOCK)  
    WHERE   H.GUID is not null  
    GROUP BY H.ContactID  
    ) Q  
  
END