ALTER PROCEDURE [dbo].[Sproc_Get_ATSHR_Details_For_HomePage_ClientPortal]
  @HiringRequest_Id			bigint = 0,
  @ClientID					bigint = 0
AS
BEGIN
		
		IF OBJECT_ID('tempdb..#HomePageATSHRData') is not null
			DROP TABLE #HomePageATSHRData

		CREATE TABLE #HomePageATSHRData
		(
			ClientID					bigint,
			HRID						bigint,
			JobTitle					Nvarchar(100),    -- Senior Front End Developer
			ActiveStatus				Nvarchar(100),	  -- ATS HR Status From prg_ATSHRStatus
			ActiveStatusID				int,			  -- Status ID
			ActiveStatusBeforeMessage	Nvarchar(Max),	  -- From Prg_JobPostStageMessages
			ActiveStatusAFterMessage	Nvarchar(Max),	  -- From Prg_JobPostStageMessages
			NoOfTalents					int,			  -- No of Talents in Particular Stage
			SLADate						NVarchar(15)  default '',	  -- SLA Due Date
			SLADateStatus				Nvarchar(50)  default ''    --ON Time, Before Time, Exceeded, Running late 
		)

		Insert into #HomePageATSHRData(ClientID,HRID)
		Values(@ClientID,@HiringRequest_Id)

		--Update JobTitle 
		UPDATE  H
		SET     H.JobTitle = Isnull(H1.RequestForTalent,'')				
		FROM	#HomePageATSHRData H
				inner join gen_SalesHiringRequest H1 WITH(NOLOCK) ON H.HRID = H1.ID
		WHERE   H1.ID = @HiringRequest_Id

		--Update SLADate and SLADateStatus
		UPDATE  H
		SET     H.SLADate = Isnull(Convert(nvarchar(15),HI.SLA_DueDate,103),''),
				H.SLADateStatus = Isnull(Case when HSD.CreatedByDateTime < HI.SLA_DueDate then 'ON Time' else 'Running Late' end,'') 
		FROM	#HomePageATSHRData H
				inner join gen_SalesHiringRequest H1 WITH(NOLOCK) ON H.HRID = H1.ID
				inner join gen_History HI WITH(NOLOCK) ON HI.Action_ID = 83 and HI.HiringRequest_ID = H1.ID
				inner join gen_ATS_HRStatus_Details HSD WITH(NOLOCK) ON HSD.HRID = H1.ID				
		WHERE   H1.ID = @HiringRequest_Id

		--Update Active Status
		UPDATE  H
		SET     H.ActiveStatus = Isnull(X.[Status],''),
				H.ActiveStatusID = ISNULL(X.ActiveStatusID,0)
		FROM	#HomePageATSHRData H
				inner join
				(
					select top 1 AHS.DisplayName as [Status],HSD.ATSHRStatusId as ActiveStatusID,HSD.HRID as HRID
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK)
							inner join prg_ATSHRStatus AHS WITH(NOLOCK) ON AHS.Id = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id --and HSD.createdByID = @ClientID
					Order by HSD.CreatedByDateTime desc
				)X ON X.HRID = H.HRID				
		
		
		
		--Update NoOfTalents
		UPDATE  H
		SET     H.NoOfTalents = Isnull(X.NoOfTalents,0)
		FROM	#HomePageATSHRData H
				inner join
				(
					select  Count(AHST.ID) as NoOfTalents,Q.HRID as HRID
					from	gen_ATS_HRStatus_TalentDetails AHST WITH(NOLOCK)
							inner join (
											select top 1 HSD.HRID as HRID,HSD.Id,HSD.ATSHRStatusId,HSD.createdByID
											from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
											WHERE   HSD.HRID = @HiringRequest_Id --and HSD.createdByID = @ClientID
											Order by HSD.CreatedByDateTime desc
							) Q ON Q.ATSHRStatusId = AHST.StatusID and Q.Id = AHST.HRStatus_DetailsID
					WHERE   Q.HRID = @HiringRequest_Id --and Q.createdByID = @ClientID
					GROUP BY Q.HRID
				)X ON X.HRID = H.HRID

		--Update ActiveStatusBeforeMessage and ActiveStatusAFterMessage
		UPDATE  H
		SET     H.ActiveStatusBeforeMessage = Isnull(X.MessageBeforeActionDone,''),
				H.ActiveStatusAFterMessage =  Replace(Isnull(X.MessagePostActionDone,''),'X',Isnull(H.NoOfTalents,0))
		FROM	#HomePageATSHRData H
				inner join
				(
					select top 1 JPS.MessageBeforeActionDone,JPS.MessagePostActionDone,HSD.HRID as HRID
					from	gen_ATS_HRStatus_Details HSD WITH(NOLOCK) 
							inner join Prg_JobPostStageMessages JPS WITH(NOLOCK) ON JPS.ATS_HRStatusID = HSD.ATSHRStatusId
					WHERE   HSD.HRID = @HiringRequest_Id --and HSD.createdByID = @ClientID
					Order by HSD.CreatedByDateTime desc
				)X ON X.HRID = H.HRID

		select * from #HomePageATSHRData

		Drop table #HomePageATSHRData
END	