ALTER PROCEDURE [dbo].[Sproc_Check_Duplicate_CustomAssessment_ClientPortal]   
	@AssessmentID		BIGINT = 0,
	@HiringRequestID	BIGINT = 0,
	@ATSTalentIDs		NVARCHAR(MAX) = NULL
AS
BEGIN
	
	DECLARE @DuplicateTalentIds TABLE
	(
		AssessmentID BIGINT,
		ATSTalentID BIGINT,
		IsDuplicate BIT
	)
	INSERT INTO @DuplicateTalentIds
	SELECT  @AssessmentID, CAST(Item AS Nvarchar(200)),0 FROM dbo.SplitString(@ATSTalentIDs, ',')

	UPDATE u
	set u.IsDuplicate = 0
	--ISNULL(s.IsSharedToTalent,0)
	from @DuplicateTalentIds u
    inner join gen_AssessmentWiseTalentDetails s on
        u.AssessmentID = s.AssessmentID AND s.ATSTalentID = u.ATSTalentID
	inner join gen_HRCustomAssessment HC ON HC.ID = s.AssessmentID
	WHERE HC.HiringRequestID = @HiringRequestID
	
	SELECT 
	DT.AssessmentID,
	DT.ATSTalentID,
	DT.IsDuplicate,
	T.Name AS TalentName, 
	T.EmailID 
	FROM @DuplicateTalentIds DT
	INNER JOIN gen_Talent T WITH(NOLOCK) ON DT.ATSTalentID = T.ATS_Talent_ID

END
