USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_RepostedJob_ClientPortal]    Script Date: 11-09-2024 11:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_RepostedJob_ClientPortal]
	@ID				       bigint	  = Null,
	@HRID				   bigint	  = Null,
	@ContactID			   bigint	  = Null,
	@ContactUserID	       bigint	  = Null,
	@CompanyID			   bigint	  = null,
	@RepostJob			   BIT        = 0, -- True when from notification menu
	@DaysPending           INT        = 0,
	@IsReopenfromAdmin	   Bit		  = 0,  --added By Jimit 10042023 for Reopen from Admin side	
	@SSOUserId			   BIGINT     = NULL,
	@IsActionDoneByATS     BIT        = 0
AS
BEGIN
		DECLARE @IsHRAutoExpired BIT = 0,@Message VARCHAR(200) = '', @Hr_Number VARCHAR(100) = '';
		SELECT @IsHRAutoExpired = IsAutoExpiredJob, @Hr_Number = HR_number FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID

		Declare  @PreviousStatus as Int = 0
		select @PreviousStatus = Status_ID 
		from   gen_SalesHiringRequest WITH(NOLOCK)
		Where  ID = @HRID

		DECLARE @TalentCount INT, 
		@StatusId INT, 
		@Status TINYINT = 1, -- Success =0 , Error = 1;
		@ReopenHR BIT = 0  
		DECLARE @HR_RoleStatus INT =0,
		@ActionPerformedBy BIGINT = 0,
		@ActionManagedByClient BIT = 1

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ContactID, @SSOUserId))
		SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0))

		SELECT @TalentCount = COUNT(1) FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HRID	  
	    
		-- We have talents and so mark the status as inprocess
		IF(ISNULL(@TalentCount, 0) <> 0)
		BEGIN
			SET @StatusId = 2
		END
		ELSE
		BEGIN
			SET @StatusId = 1
		END	

		--Payal(28-03-2024) Fetch the role status and update the gen_SalesHiringRequest_Details table.
		BEGIN 		
				SELECT top 1
				@HR_RoleStatus = case when HS.ID = 1 THEN 2 WHEN HS.ID = 2 THEN 4 ELSE  HRS.ID END
				FROM prg_HiringRequestStatus HS WITH(NOLOCK) INNER JOIN prg_HiringRequest_RoleStatus HRS WITH(NOLOCK) ON HS.ID = HRS.HR_StatusID
				
				WHERE HS.ID = @StatusId  
		END	
		
		BEGIN
		
			DECLARE @TransactionIDPrimaryKey Nvarchar(100) = NULL

			DECLARE @ActivateDate DATETIME = IIF(@RepostJob = 1, DATEADD(d,@DaysPending,GETDATE()), GETDATE())			

			--EXEC @TransactionIDPrimaryKey = Sproc_CreditUtilization @ContactID, @ActivateDate,1,@HRID,2
		    EXEC  Sproc_CreditUtilization_Process  @CompanyID		= @CompanyID,
																	@HRID			= @HRID,
																	@ContactID		= @ContactID,
																	@JobPostedDate	= @ActivateDate,
																	@ATSTalentID	= 0,
																	@IsRepost		= 1,
																	@CreatedById	= @ActionPerformedBy,
																	@CompanyTypeId	= 2,
																	@ProfileUnlock	= 0,
																	@VettedProfile	= 0,
																	@OutputParam = @TransactionIDPrimaryKey OUTPUT
				

				IF Isnull(@TransactionIDPrimaryKey,'') = '-1' OR Isnull(@TransactionIDPrimaryKey,'') = ''
				BEGIN
						SET @Message = @Hr_Number + ' Please purchase the subcription package, you do not have enough credit balance'
						SET @Status = 1;
						SET @ReopenHR = 0;

						SELECT @Message as [Message], @Status as [Status], @ReopenHR as [IsReopen]
						RETURN
				END
				ELSE
				BEGIN	
						
						UPDATE gen_SalesHiringRequest SET 
						LastActivityDate = GETDATE(),
						JobStatusID = 5, --- Reopen the job.
						Status_ID = @StatusId,
						LastModifiedByID = @ActionPerformedBy, 
						LastModifiedDatetime = GETDATE(),
						JobExpiryDate = CASE WHEN IsAutoExpiredJob = 1 THEN GETDATE() + 30 --- AutoExpired Job then add 30 days from get date
											 WHEN @TransactionIDPrimaryKey = 'Open Job Within Expiry Period' THEN JobExpiryDate --- Paused or Closed Job Reopened
											 WHEN ISNULL(@DaysPending,0) > 0 THEN JobExpiryDate + 30 --- Reopening the Job in Advance then new expiry date will be last date + 30 days
										END
						WHERE ID = @HRID 

						UPDATE	HD SET		
						HD.RoleStatus_ID = case when Isnull(@HR_RoleStatus,0) = 0 then 1 else @HR_RoleStatus end				
						FROM	gen_SalesHiringRequest_Details HD WITH (UPDLOCK)												
						WHERE	HD.HiringRequest_ID = @HRID;	
						

						
						IF(ISNULL(@DaysPending,0) = 0)
						BEGIN
							SET @Message = @Hr_Number + ' Job reposted successfully'
							--SET @Status = 0;
							--SET @ReopenHR = 1;
						END
						ELSE
						BEGIN
							SET @Message = @Hr_Number + ' Job reposted successfully, changes will be applicable after ' + CAST(@DaysPending AS NVARCHAR(50)) +' days'	
							--SET @Status = 0;
							--SET @ReopenHR = 1;
						END

						SET @Status = 0;
						SET @ReopenHR = 1;

						--Added Jimit 11-09-2024  for Active Job after Pause before Expiry Date
						IF @PreviousStatus = 7 and @TransactionIDPrimaryKey = 'Open Job Within Expiry Period'
							BEGIN
									SET @Status = 2;
									SET @ReopenHR = 1;
							END

						---ended


						SELECT @Message as [Message], @Status as [Status], @ReopenHR as [IsReopen]

						IF @IsReopenfromAdmin = 0
						BEGIN
							IF(@IsActionDoneByATS = 1)
							BEGIN
								EXEC sproc_HiringRequest_History_Insert @Action = 'Reopen_HR', @HiringRequest_ID = @HRID,
									@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
									@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient ,@IsManagedByTalent = 0, @SalesUserID = 0,
									@OldSalesUserID = 0, @AppActionDoneBy = 2
							END
							ELSE
							BEGIN
								EXEC sproc_HiringRequest_History_Insert @Action = 'Reopen_HR', @HiringRequest_ID = @HRID,
										@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
										@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient ,@IsManagedByTalent = 0, @SalesUserID = 0,
										@OldSalesUserID = 0, @AppActionDoneBy = 4
							END
						END
						ELSE   --added By Jimit 10042023 for Reopen from Admin side
						BEGIN
								EXEC sproc_HiringRequest_History_Insert @Action = 'Reopen_HR', @HiringRequest_ID = @HRID,
									@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
									@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = 0,
									@OldSalesUserID = 0, @AppActionDoneBy = 3

						END
										
				END	
				
							
		END

		
		
		
END
	
