Alter PROCEDURE [dbo].[Sproc_UTS_Update_Role]
   @RoleId		        INT = NUll,
   @UpdatedRoleID		INT = NUll,
   @LoggedInUserId		INT = NUll,   
   @AppActionDoneBy		INT = NUll	
AS
BEGIN

	IF OBJECT_ID('tempdb..#Sales_Hiringrequest') is not null
		DROP TABLE #Sales_Hiringrequest
	Create Table #Sales_Hiringrequest
	(
		ID										int primary key identity(1,1),
		HRID									bigint default 0,
		HRDetailsID								bigint default 0,
		Role_ID									int default 0,
		NoofEmployee							int default 0,
		Duration								decimal(18,2),	
		DurationType							varchar(50),
		Cost									nvarchar(100),
		RoleStatus_ID							int  default 0,
		SpecificMonth							int   ,
		YearOfExp								decimal(18,2),
		HowSoon									nvarchar(200),
		Timezone_ID								int  default 0,
		TypeofInterviewer_ID					int  default 0,
		RoleTeamSize							int  default 0,
		CommunicationType						nvarchar(50),
		AssociatedwithUplers_ID					int  default 0,
		PartialEngagementType_ID				int  default 0,
		NoOfHoursWorking						int  default 0,
		--CreatedByID								int  default 0,
		--CreatedByDatetime								datetime
		LastModifiedByID						int  default 0,
		LastModifiedDatetime					datetime,
		Interviewer_ID							bigint default 0,
		InterviewerName							nvarchar(100),
		InterviewLinkedin						nvarchar(max),
		InterviewerYearofExperience				decimal(18,1),
		HR_Cost									varchar(200),
		RolesResponsibilities					nvarchar(max),
		GenericInfo								nvarchar(max),
		Requirement								nvarchar(max),
		Timezone_Preference						nvarchar(2000),
		Timezone_Preference_ID					int default 0,
		TimeZone_FromTime						nvarchar(50),
		TimeZone_EndTime						nvarchar(50),
		OverlapingHours							decimal(18,1),
		InterviewerDesignation					nvarchar(50),
		NotMatch_AfterAcceptance_Timezone_ID	int default 0,
		InterviewerEmailID						nvarchar(50),
		BudgetFrom								decimal(18,0),
		BudgetTo								decimal(18,0),
		Currency								varchar(10),
		AddOtherRole							nvarchar(200),
		Adhoc_BudgetCost						decimal(18,2),
		Remark									nvarchar(max),
		Previous_RoleStatusID					int default 0,
		InterviewerExpInMonth					int default 0
	)
	
	 Declare @Role as nvarchar(200) = ''

  IF EXISTS (SELECT 1 FROM prg_TalentRoles with(nolock) WHERE ID = @RoleId)
	BEGIN
		IF  EXISTS (SELECT 1 FROM prg_TalentRoles with(nolock) WHERE ID = @UpdatedRoleID)
		BEGIN
		
			select  @Role = TalentRole from prg_TalentRoles with(nolock) where ID = @UpdatedRoleID
			
			--update talent role
			Update gen_talent 
				set RoleID = @UpdatedRoleID ,
					Designation = @Role
			where RoleID = @RoleId
			
			---Update IsActive in prg_TalentRoles table
			update prg_TalentRoles
					Set IsActive = 0,
					ModifyByID = @LoggedInUserId,
					ModifyByDatetime = GetDate()
			Where ID = @RoleId

			--History data 
			Insert into #Sales_Hiringrequest(HRID,HRDetailsID,Role_ID,NoofEmployee,Duration,DurationType,Cost,RoleStatus_ID,SpecificMonth			
			,YearOfExp,HowSoon,Timezone_ID,TypeofInterviewer_ID,RoleTeamSize,CommunicationType,AssociatedwithUplers_ID,PartialEngagementType_ID,NoOfHoursWorking		
			,LastModifiedByID,LastModifiedDatetime,Interviewer_ID						
			,InterviewerName,InterviewLinkedin,InterviewerYearofExperience			
			,HR_Cost,RolesResponsibilities,GenericInfo,Requirement							
			,Timezone_Preference,Timezone_Preference_ID,TimeZone_FromTime,TimeZone_EndTime,OverlapingHours,InterviewerDesignation				
			,NotMatch_AfterAcceptance_Timezone_ID,InterviewerEmailID,BudgetFrom,BudgetTo,Currency,AddOtherRole,Adhoc_BudgetCost,Remark,Previous_RoleStatusID,InterviewerExpInMonth				
			)
			select SH.ID ,SHD.ID,SHD.Role_ID,SHD.NoofEmployee,SHD.Duration,SHD.DurationType,SHD.Cost,SHD.RoleStatus_ID,SHD.SpecificMonth
					,SHD.YearOfExp,SHD.HowSoon,SHD.Timezone_ID,SHD.TypeofInterviewer_ID,SHD.RoleTeamSize,SHD.CommunicationType,SHD.AssociatedwithUplers_ID,SHD.PartialEngagementType_ID,SHD.NoOfHoursWorking
					,@LoggedInUserId,GetDate(),SHD.Interviewer_ID						
			,SHD.InterviewerName,SHD.InterviewLinkedin,SHD.InterviewerYearofExperience			
			,SHD.HR_Cost,SHD.RolesResponsibilities,SHD.GenericInfo,SHD.Requirement							
			,SHD.Timezone_Preference,SHD.Timezone_Preference_ID,SHD.TimeZone_FromTime,SHD.TimeZone_EndTime,SHD.OverlapingHours,SHD.InterviewerDesignation				
			,SHD.NotMatch_AfterAcceptance_Timezone_ID,SHD.InterviewerEmailID,SHD.BudgetFrom,SHD.BudgetTo,SHD.Currency,SHD.AddOtherRole,SHD.Adhoc_BudgetCost,SHD.Remark,SHD.Previous_RoleStatusID,SHD.InterviewerExpInMonth
					from gen_Saleshiringrequest SH WITH(NOLOCK)
					inner join gen_saleshiringrequest_details SHD WITH(NOLOCK) ON SH.ID = SHD.HiringRequest_ID
			where Role_ID = @RoleId

			--Update Role in gen_saleshiringrequest.
			update	SH
			Set		SH.RequestForTalent =  @Role 
			From	gen_saleshiringrequest SH with(NOLOCK)	
			        inner join gen_saleshiringrequest_details SHD WITH(Nolock) On SHD.HiringRequest_ID = SH.ID									
			where SHD.Role_ID = @RoleId

			 --Update Role ID in gen_saleshiringrequest_details.
			 Update gen_saleshiringrequest_details set Role_ID  = @UpdatedRoleID Where Role_ID  = @RoleId

				
			--Manage History code for Edit Role 
			Insert into gen_History(Action_ID,HiringRequest_ID,Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage,History_From,CreatedByID,
									CreatedByDatetime,ModifiedByID,ModifiedByDatetime,SLA_DueDate,IsManagedByClient,IsManagedByTalent,IsActive,SalesUserID,TalentStatusID_BasedOnHR,AppActionDoneBy)
			Select  90,SH.HRID,0,0,0,0,0,0,0,0,0,@LoggedInUserId,GETDATE(),0,null,null,0,0,0,0,0,@AppActionDoneBy
			from #Sales_Hiringrequest SH
				
			--Manage History for sale hiringrequest history table
			Insert into gen_SalesHiringRequest_Details_History(
				 HiringRequest_ID
				,HiringRequest_Detail_ID
				,Role_ID
				,NoofEmployee
				,Duration
				,DurationType
				,Cost
				,RoleStatus_ID
				,SpecificMonth
				,YearOfExp
				,HowSoon
				,Timezone_ID
				,TypeofInterviewer_ID
				,RoleTeamSize
				,CommunicationType
				,AssociatedwithUplers_ID
				,PartialEngagementType_ID
				,NoOfHoursWorking
				--,CreatedByID
				--,CreatedByDatetime
				,LastModifiedByID
				,LastModifiedDatetime
				,Interviewer_ID
				,InterviewerName
				,InterviewLinkedin
				,InterviewerYearofExperience
				,HR_Cost
				,RolesResponsibilities
				,GenericInfo
				,Requirement
				,Timezone_Preference
				,Timezone_Preference_ID
				,TimeZone_FromTime
				,TimeZone_EndTime
				,OverlapingHours
				,InterviewerDesignation
				,NotMatch_AfterAcceptance_Timezone_ID
				,InterviewerEmailID
				,BudgetFrom
				,BudgetTo
				,Currency
				,AddOtherRole
				,Adhoc_BudgetCost
				,Remark
				,Previous_RoleStatusID,
				 InterviewerExpInMonth
			)
			select H.HRID,H.HRDetailsID,@UpdatedRoleID,NoofEmployee,H.Duration, H.DurationType, H.Cost,RoleStatus_ID,H.SpecificMonth, H.YearOfExp, H.HowSoon
				,H.Timezone_ID
				,H.TypeofInterviewer_ID
				,H.RoleTeamSize
				,H.CommunicationType
				,H.AssociatedwithUplers_ID
				,H.PartialEngagementType_ID
				,H.NoOfHoursWorking
				,H.LastModifiedByID
				,H.LastModifiedDatetime	
				,H.Interviewer_ID
				,H.InterviewerName	
				,H.InterviewLinkedin	
				,H.InterviewerYearofExperience
				,H.HR_Cost
				,H.RolesResponsibilities
				,H.GenericInfo
				,H.Requirement	
				,H.Timezone_Preference
				,H.Timezone_Preference_ID
				,H.TimeZone_FromTime
				,H.TimeZone_EndTime
				,H.OverlapingHours	
				,H.InterviewerDesignation
				,H.NotMatch_AfterAcceptance_Timezone_ID
				,H.InterviewerEmailID
				,H.BudgetFrom
				,H.BudgetTo	
				,H.Currency		
				,H.AddOtherRole	
				,H.Adhoc_BudgetCost
				,H.Remark
				,H.Previous_RoleStatusID,
				H.InterviewerExpInMonth
			from #Sales_Hiringrequest H
			
			select HRID  from #Sales_Hiringrequest
			
		END

	END
	
END