USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_ActivateJobPost_ClientPortal]    Script Date: 16-02-2024 16:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_ActivateJobPost_ClientPortal]
	@HRID				   BIGINT	  = NULL,
	@ContactID			   BIGINT	  = NULL,
	@IsDeactivate		   BIT       = 0
AS
BEGIN
		
DECLARE @CompanyID BIGINT, @LatestBalance INT, @Message VARCHAR(200) = ''


IF(@IsDeactivate = 1)
BEGIN
	UPDATE gen_SalesHiringRequest SET 
	JobStatusID = 2,
	LastModifiedByID = @ContactID,
	LastModifiedDatetime = GETDATE()		
	WHERE ID = @HRID

	SET @Message = 'Job post deactivated Successfully'
END
ELSE
BEGIN
	SELECT @CompanyID = CompanyID from gen_Contact WITH (NOLOCK) WHERE id = @ContactID	

		IF @CompanyID > 0
		BEGIN
			SELECT @LatestBalance = JPCreditBalance FROM gen_Company WITH (NOLOCK) WHERE id = @CompanyID and CompanyTypeID = 2 and IsActive = 1
			IF @LatestBalance > 0
			BEGIN	
			
				SET @Message = 'Job post activated successfully'
				SELECT @Message

				--Make the transaction entry in the respective tables
				EXEC Sproc_RepostedJob_ClientPortal 0, @HRID, @ContactID, @ContactID, @CompanyID

				--Activate the Job post
				UPDATE gen_SalesHiringRequest SET 
				JobStatusID = 1,
				LastModifiedByID = @ContactID,
				LastModifiedDatetime = GETDATE()		
				WHERE ID = @HRID
				
			END
			ELSE
			BEGIN
				SET @Message = 'Please purchase the subcription package, you do not have enough credit balance'
			END
		END
		ELSE
		BEGIN
			SET @Message = 'Company not exist/invalid company'
		END		
END

SELECT @Message

END
	
