USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_Basic_CompanyDetails]    Script Date: 11-06-2024 19:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[Sproc_Get_Basic_CompanyDetails]
 @CompanyId				Bigint = 0
 AS 
 BEGIN
	
		SELECT   CompanyName = ISNULL(C.Company,''),
				 Website = ISNULL(C.Website,''),
				 LinkedInProfile = ISNULL(C.LinkedInProfile,''),
				 CompanyLogo = ISNULL(C.CompanyLogo,''),
				 FoundedYear = ISNULL(CD.FoundedYear,''),
				 CompanySize = ISNULL(C.CompanySize,0),
				 CompanyType = ISNULL(CD.CompanyType,''),
				 CompanyIndustry = ISNULL(C.industry,''),
				 Headquaters = ISNULL(CD.Headquaters,''),
				 AboutCompany = ISNULL(about_Company_desc,''),
				 Culture = ISNULL(CD.Culture,''),
				 IsSelfFunded = ISNULL(CD.IsSelfFunded,0),
				 TeamSize = Isnull(C.CompanySize_RangeorAdhoc,ISNULL(CAST(C.CompanySize AS NVARCHAR(500)),''))
		FROM	 gen_Company C WITH(NOLOCK) 
				 LEFT JOIN gen_Company_Details CD WITH(NOLOCK) ON C.ID = CD.CompanyId
		WHERE    C.ID = @CompanyId



 END