CREATE procedure [dbo].[sproc_UTS_GetDealActivity]
@DealID   bigint = null

AS
BEGIN

    select 
	ISNULL(ET.SubscriptionType,'') as SubscriptionType,
	(CONVERT(varchar(20), ISNULL(WN.CreatedDateTime, ''), 103) + ' '  + convert(VARCHAR(8), WN.CreatedDateTime, 14)) CreatedDateTime


from HubSpotEventType ET WITH(NOLOCK)
	left join HubspotWebhookNotification WN WITH(NOLOCK) ON ET.ID = WN.EventTypeId
	left join gen_Deals GD WITH(NOLOCK) ON GD.DealID = WN.EventId
 WHERE GD.DealID = @DealID

END