ALTER PROCEDURE [dbo].[sproc_UTS_GetContactDetails]
	@CompanyID			bigint =null
AS
BEGIN
		declare @var bit;

		SELECT C.ID,
			ISNULL(C.FirstName,'') AS FirstName,
			ISNULL(C.LastName,'') as LastName,
			ISNULL(C.FULLName,'') as FullName,
			ISNULL(C.EmailID,'') as EmailID,
			ISNULL(C.Designation,'') as Designation,
			ISNULL(C.LinkedIn,'') as LinkedIn,
			ISNULL(C.ContactNo,'') as ContactNo,
			ISNULL(C.CompanyID,0) CompanyID,
			ISNULL(C.IsPrimary,0) IsPrimary,
			'' AS ClientProfilePic
			,ResendInviteEmail = 
			CASE WHEN  isNUll(C.Password,'')=''  OR  isNUll(C.Password,'') ='Uplers@123' THEN cast(1 as bit)   ELSE Cast(0 as bit)  END,
			CAST(ISNULL(C.RoleID, 1) AS INT) AS RoleID,
			''  AS en_Id
		FROM gen_Contact C WITH(NOLOCK) 
		--LEFT JOIN gen_ContactUsers_ClientPortal CS ON CS.ContactID = C.ID
		WHERE C.CompanyID  = @CompanyID
			--AND C.IsActive = 1
			--AND C.HubSpot_ContactID IS NOT NULL
		ORDER BY C.IsPrimary DESC, C.ID ASC
END