ALTER PROCEDURE [dbo].[Sproc_UTS_Get_BusinessDashboard]
	@PageIndex				INT = 1,
	@PageSize				INT = 50,
	@SortExpression			nvarchar(100) = 'CreatedbyDatetime',
	@SortDirection			nvarchar(100) = 'DESC',
	@ClientFeedback			nvarchar(500)  = null,
	@TypeOfHiring			nvarchar(100)  = null,
	@CurrentStatus			nvarchar(max)  = null,
	@TScName				nvarchar(max) = null,
	@Company				nvarchar(100) = null,
	@GEO					nvarchar(Max) = null,
	@Position				nvarchar(MAX)  = null,
	@EngagementTenure		int			  = null,
	@NBDName				nvarchar(100) = null,
	@AMName					nvarchaR(100) = null,
	@Pending				nvarchar(20)  = null,
	@SearchMonth			int	          = null,
	@SearchYear				int	          = null,
	@SearchType				nvarchar(50)  = null,
	@Lost					nvarchar(20)  = null,
	@Engagement_HRID     	Nvarchar(100) = null, -- Pass Only Engagement Ids
	@HRIds					Nvarchar(100) = null,
	@ClientName				Nvarchar(100) = null,-- Pass Only Client Ids
	@TalentName				Nvarchar(100) = null,-- Pass Only Talent Ids
	@DeployedSource			Nvarchar(100) = null,
	@LoggedInUser			bigint		  = null,
	@searchText			    NVARCHAR(500) = '',
	@OnBoardingLostReason	nvarchar(Max) = null

AS
BEGIN

		DECLARE @WhereClauseSQL		nvarchar(max) = ''
		DECLARE @MainSQL			nvarchar(max) = ''
		DECLARE @TmpDBSQL			nvarchar(max) = ''
		DECLARE @TalentCondition	NVARCHAR(MAX) = '';
		declare @Total_Records		Nvarchar(MAX) = '';
		Declare @Month				int = Month(Getdate())
		Declare @Year				int = Year(Getdate())
		Declare @SearchDate			datetime = getdate()
		declare @LastDayOfMonth     datetime
		
		IF @SearchMonth is not null and @SearchMonth != 0
		  set @Month = @SearchMonth
		IF @SearchYear is not null and @SearchYear != 0
		  set @Year = @SearchYear
		
		set @SearchDate  = datefromparts(@year, @month, 1) 
		set @LastDayOfMonth = DATEADD(dd,-(DAY(DATEADD(mm,1,@SearchDate))), 
               DATEADD(mm,1,@SearchDate))
		
		print @SearchDate

		print @LastDayOfMonth

		IF OBJECT_ID('dbo.tempdb..#User') IS not null
			DROP TABLE #User

			Create Table #User
			(	
				UserID			bigint,
				ParentID		bigint
			)


		If exists (select 1 from usr_User U with(Nolock) where Id = @LoggedInUser and IsNewUser = 0 and UserTypeID in (4,5,9,10))
		  begin				
				Insert into #User
				values(@LoggedInUser,0)

				;WITH Hierarchy AS 
				(
				SELECT  UserID, ParentID, 0 AS LEVEL_DEPTH 
				FROM    usr_UserHierarchy with(Nolock)
				WHERE   ParentID = Isnull(@LoggedInUser,0)
		
				UNION ALL 
				SELECT	Super.UserID,Super.ParentID, 
						Sub.LEVEL_DEPTH + 1 AS LEVEL_DEPTH 
				FROM	usr_UserHierarchy  AS Super  with(Nolock)
						INNER JOIN Hierarchy AS SUB ON 
						SUB.UserID = SUPER.ParentID
				) 
				
				Insert into  #User 
				Select USERID,ParentID
				from   Hierarchy
		  End
		Else If exists (select 1 from usr_User U with(Nolock) where Id = @LoggedInUser and IsNewUser = 1  and UserTypeID in (4,5,9,10))
		  begin
				Insert into #User
				values(@LoggedInUser,0)

				;WITH Hierarchy AS 
				(
				SELECT  UserID, ParentID, 0 AS LEVEL_DEPTH 
				FROM    usr_UserHierarchy with(Nolock)
				WHERE   ParentID = Isnull(@LoggedInUser,0)
		
				UNION ALL 
				SELECT	Super.UserID,Super.ParentID, 
						Sub.LEVEL_DEPTH + 1 AS LEVEL_DEPTH 
				FROM	usr_UserHierarchy  AS Super  with(Nolock)
						INNER JOIN Hierarchy AS SUB ON 
						SUB.UserID = SUPER.ParentID
				) 
				
				Insert into  #User 
				Select USERID,ParentID
				from   Hierarchy
		  End
		Else If exists (select 1 from usr_User U with(Nolock) where Id = @LoggedInUser  and UserTypeID in (1,2))  --Admin/Developer
		  begin
				
				Insert into #User
				select Id,0 from usr_User  with(Nolock)
		  End
		Else If exists (select 1 from usr_User U with(Nolock) where Id = @LoggedInUser and TeamID = 26)  --As per Soumya's Suggestion on 24th May 2023 to Give Access To COE Team
		  begin
				Insert into #User
				values(@LoggedInUser,0)

				;WITH Hierarchy AS 
				(
				SELECT  UserID, ParentID, 0 AS LEVEL_DEPTH 
				FROM    usr_UserHierarchy with(Nolock)
				WHERE   ParentID = Isnull(@LoggedInUser,0)
		
				UNION ALL 
				SELECT	Super.UserID,Super.ParentID, 
						Sub.LEVEL_DEPTH + 1 AS LEVEL_DEPTH 
				FROM	usr_UserHierarchy  AS Super  with(Nolock)
						INNER JOIN Hierarchy AS SUB ON 
						SUB.UserID = SUPER.ParentID
				) 
				
				Insert into  #User 
				Select USERID,ParentID
				from   Hierarchy		
		  End

		--select * from #User

		IF OBJECT_ID('tempdb..#TempRecords') is not null
			DROP TABLE #TempRecords

		CREATE TABLE #TempRecords
		(
			ClientFeedback			bigint,
			LastFeedbackDate		Nvarchar(30),
			OnBoardID				bigint,
			EngagementId_HRID		Nvarchar(100),
            TalentName				Nvarchar(500),
            Company					Nvarchar(500),
            CurrentStatus			Nvarchar(100),
            TSCName					Nvarchar(100),
			Geo						Nvarchar(50),
            Position				Nvarchar(100),
			IsLost					int,
            OldTalent				Nvarchar(100),
            ReplacementEng			Nvarchar(50),
            NoticePeriod			int,
            KickOff					Nvarchar(30),
            BillRate				decimal(18,2),
            PayRate					decimal(18,2),
            ContractStartDate		Nvarchar(30),
            ContractEndDate			Nvarchar(30),
            ActualEndDate			Nvarchar(30),
            NR						decimal(18,2),
            DP_Percentage			decimal(18,2) ,
            RenewalstartDate		Nvarchar(30),
            RenewalendDate			Nvarchar(30),
            EngagementTenure		int,
			SOWSignedDate			Nvarchar(30),
			NBDName					Nvarchar(100),
			AMName					Nvarchar(100),
			InvoicingDetails		Nvarchar(100),
			InvoiceSentDate			Nvarchar(30),
			InvoiceNumber			Nvarchar(30),
			InvoiceStatus			Nvarchar(30),
			DateofPayment			Nvarchar(30),
			TotalRecords			int,
			CreatedByDatetime		Nvarchar(30),
			_createddate			datetime,
			TypeOfHR				Nvarchar(30),
			TalentID				bigint,
			GEOID					int,
            NBDID					bigint,
			AMID					bigint,
			CompanyID				bigint,			
			HR_ID					bigint,
			TalentLegal_StatusID	int ,
			ClientLegal_StatusID	int,
			Kickoff_StatusID		int,
			IsContractCompleted		int,
			IsHRManaged				int,
			ContactTalentPriorityID bigint,
			HRNumber				Nvarchar(50),
			HR_DetailID				bigint,
			ClientOnBoarding_StatusID int,
			FeedbackType			nvarchar(50),
			RoleID					int,
			ActualBillRate			decimal(18,2),
			ActualPayRate			decimal(18,2),
			ActualNR				decimal(18,2),
			BillRateCurrency		Nvarchar(5),
			EngagemenID				Nvarchar(30),
			Hr_Number				Nvarchar(30),
			Client_Name				Nvarchar(500),
			ClientEmail				Nvarchar(100),
			DeployedSource			Nvarchar(100),
			ActiveEngagement		decimal(18,2),	-- Summary
			FeedbcakReceive			int,			-- Summary
			AvgNR					decimal(18,2),	-- Summary
			AvgDP					decimal(18,2),	-- Summary
			IsRenewalAvailable		int,
			H_Availability			Nvarchar(50),
			EngagementCount			decimal(18,2),
			S_TotalDP				int,				-- Summary
			KickOffStatus			Nvarchar(200),
			HiringRequest_ID        BigInt,
			ContactID				BigInt,
			Talent_ID				BigInt,
			DPAmount				decimal(18,2),
			Status_ID				int,
			PayRateCurrency		    Nvarchar(5),
			IsRenewalContract		int,
			Payout_BillRate			decimal(18,2),
			Payout_PayRate			decimal(18,2),
			ReplacementID			int,
			OnBoardLostReasonId		int,
			OnBoardLostReason		Nvarchar(200),
			IsOngoing				bit
		)
		
		--- Payal(16-05-2023) Save PayOUt info in Temp Table
		BEGIN
		        SELECT * into #TempPayout from (
		    	SElect  PIO.ID AS PayID,PIO.OnBoardID,ESalesInvoiceID,
						ActualBillRate = ISNULL(PIO.Actual_Bill_Rate,0),
						ActualPayRate = ISNULL(PIO.Actual_pay_Rate,0), --/ (case when PIO.CurrencyExchangeRate = 0 then 1 else Isnull(PIO.CurrencyExchangeRate,1) end),
						ActualNR = ISNULL(PIO.Actual_NR_Percentage,0),
						BillRateCurrency = Isnull(PIO.CurrencyExchangeCode,'') ,
						InvoiceSentDate = PIO.ESales_InvoiceDate,
						InvoiceNumber = Isnull(PIO.ESales_InvoiceNumber,''),
						InvoiceStatus = Isnull(TPS.PayOut_Status,'') ,
						DateofPayment = PIO.ClientInvoiceDate,
						PayRateCurrency = Isnull(PIO.Talent_CurrencyCode,''),
						Payout_AM_SalesPersonID = Isnull(PIO.AM_SalesPersonID,0),
						Payout_BillRate = ISNULL(PIO.Client_PayOutAmount,0),
						Payout_PayRate = ISNULL(PIO.PayOutAmount,0),
						Payout_ContractType = isnull(PIO.ContractType,'')
						
						from gen_Payout_Information PIO with(nolocK)
						inner join  prg_TalentPayoutStatus TPS WITH(NOLOCK) ON TPS.ID = PIO.PayOutStatus
						inner join  gen_OnBoardTalents OBT WITH(NOLOCK) ON OBT.ID = PIO.OnBoardID
						inner join  gen_OnBoardClientContractDetails OBC WITH(NOLOCK) ON OBT.ID = OBC.OnBoardID
						where  isnull(OBC.IsOngoing,0)= 0 AND isnull(OBT.NRPercentage,0) > 0 AND Month(PIO.ClientInvoiceDate) = @Month and Year(PIO.ClientInvoiceDate) = @Year
				 UNION ALL

				 SElect  0 AS PayID, OBT.ID AS OnBoardID,0 AS ESalesInvoiceID,
						ActualBillRate =  ISNULL(OBT.Final_HR_Cost,0),
						ActualPayRate = ISNULL(OBT.Talent_Cost,0), 
						ActualNR = ISNULL(OBT.NRPercentage,0),
						BillRateCurrency = Isnull(OBT.Client_CurrencyCode,'') ,
						InvoiceSentDate = '',
						InvoiceNumber = '',
						InvoiceStatus = '',
						DateofPayment = '',
						PayRateCurrency = Isnull(OBT.Talent_CurrencyCode,''),
						Payout_AM_SalesPersonID = Isnull(CO.AM_SalesPersonID,0),
						Payout_BillRate = ISNULL(OBT.Final_HR_Cost,0),
						Payout_PayRate = ISNULL(OBT.Talent_Cost,0),
						Payout_ContractType = ISNULL(OBD.ContractType,'')
						
						from gen_OnBoardTalents OBT with(nolock) INNER JOIN gen_OnBoardClientContractDetails OBD with(nolock) ON OBT.ID = OBD.OnBoardID
						INNER JOIN gen_Contact C with(nolock) ON OBT.ContactID = C.ID INNER JOIN gen_Company CO with(nolock) ON C.CompanyID = CO.ID
						where isnull(OBD.IsOngoing,0)= 1
					) AS ObjFinal

			END
			
			--select * from #TempPayout where OnBoardID = 962
			----Payal (27-07-2024) Client Feedback into Temp Table
			BEGIN
				select OCF.ID AS FeedbackID, OCF.FeedbackCreatedDateTime, OCF.FeedbackType, OCF.OnBoardID,OCF.HiringRequest_ID,OCF.ContactID into #TempOnboardFeedback
				from gen_OnBoardTalents_ClientFeedback OCF with(nolock)
				inner join #TempPayout TP ON OCF.OnBoardID = TP.OnBoardID
			END
			
			----- Main Sp code started
			begin
				  ;WITH CTE_Records 
					AS (	
							SELECT distinct ClientFeedback = ISNULL((select top 1 FeedbackID from #TempOnboardFeedback TFeedback with(nolock) where TFeedback.OnBoardID = OBT.ID and TFeedback.HiringRequest_ID = OBT.HiringRequest_ID and TFeedback.ContactID = OBT.ContactID),0),
									LastFeedbackDate = (select top 1 TFeedback.FeedbackCreatedDateTime from #TempOnboardFeedback TFeedback with(nolock) where TFeedback.OnBoardID = OBT.ID and TFeedback.HiringRequest_ID = OBT.HiringRequest_ID and TFeedback.ContactID = OBT.ContactID order by TFeedback.FeedbackID desc),
									OnBoardID =  OBT.ID,
									EngagementId_HRID = Isnull(OBT.EngagemenID,'') + ' / ' + Char(10) + Isnull(SHR.Hr_Number,''),
									TalentName = Isnull(T.Name,'') + Char(10) + ' (' + Isnull(T.EmailID,'') + ') ',
									Company = ISNULL(CASE WHEN len(isnull(ChildCom.Company,''))> 0 THEN (Co.Company + char(10) + ' (' + ChildCom.Company + ')') ELSE Co.Company END,''),--Isnull(CO.Company,''),
									
									CurrentStatus = case	when cast(ISNULL(OCCD.IsContractCompleted,0)as int) = 0 AND OBT.Status_ID =1 then 'Ongoing'
															when  OBR.onBoardID = OBT.ID AND OBT.Status_ID =1 then 'In Replacement' 
															when cast(ISNULL(OCCD.IsContractCompleted,0)as int) = 1 AND OBT.Status_ID =1 then 'Engagement Completed'
															when OBT.Status_ID = 0 AND cast(ISNULL(OCCD.IsContractCancelled,0)as int) = 1 then 'Engagement Cancelled'
															else '' 
													
													END,
									TSCName = Isnull(U_TSC.FullName,''),
									Geo = Isnull(G.GEO,''),
									Position = isnull(SHR.RequestForTalent,'') ,
									IsLost = cast(case when cast(OCCD.LastWorkingDate as date) < cast(OCCD.ContractEndDate as date) and cast(OCCD.LastWorkingDate as date) < cast(@LastDayOfMonth as date) then 1														
													   when  isnull(OCCD.IsLost,0) =1 AND  cast(OCCD.LostDate as date) < cast(@SearchDate as  date) then 1
													else 0 end 
												  as int),
									OldTalent = Cast('' as nvarchar(50)),
									ReplacementEng = Cast('' as nvarchar(50)),
									
									NoticePeriod = Cast(DateDiff(MONTH,OCCD.ContractStartDate,OCCD.ContractEndDate) as int),
									KickOff = isnull(CONVERT(VARCHAR(10), cast(KickoffDate as date), 103),''),
									BillRate = Isnull(TP.ActualBillRate,0),
									PayRate = ISNULL(TP.ActualPayRate,0),
									ContractStartDate = OCCD.ContractStartDate,
									ContractEndDate = OCCD.ContractEndDate,
									ActualEndDate = OBR.LastWorkingDay,
									NR =isnull( Isnull(OBT.NRPercentage,CTP.NRPercentage),0),
									DP_Percentage = ISNULL(CTP.DP_Percentage,0) ,
									RenewalstartDate = (select top 1 RenewalStartDate from gen_Contract_Renewal_Details CRD WITH(NOLOCK) WHERE CRD.OnBoardId = OBT.Id Order by RenewalendDate desc),
									RenewalendDate = (select top 1 RenewalendDate from gen_Contract_Renewal_Details CRD WITH(NOLOCK) WHERE CRD.OnBoardId = OBT.Id Order by RenewalendDate desc),
									EngagementTenure = OCCD.ContractDuration,
									SOWSignedDate = OBT.ClientClosureDate,
									NBDName =  Isnull(NBD.FullName,''),
									AMName = case when Isnull(NBD.FullName,'') <> '' then Isnull(CompanyAM.FullName,'') else Isnull(AM.FullName,'') end,

									InvoicingDetails = cast(Isnull(TP.PayID,0) as bigint),
									InvoiceSentDate = TP.InvoiceSentDate,
									InvoiceNumber = Isnull(TP.InvoiceNumber,'') ,
									InvoiceStatus = Isnull(TP.InvoiceStatus,'') ,
									DateofPayment = TP.DateofPayment,
									1 as TotalCountID,
									CreatedByDatetime = OBT.CreatedByDatetime,
									TypeOfHR = Case When IsNull(SHR.IsHRTypeDP,0) = 0 then 'Contractual' When IsNull(SHR.IsHRTypeDP,0) = 1 then 'DP' Else '' end,
									TalentID = T.ID,
									GEOID = G.ID,
									NBDID =  Isnull(NBD.ID,0),
									AMID =  Isnull(AM.ID,0),
									
									CompanyID = CO.ID,
									HR_ID = SHR.ID,
									TalentLegal_StatusID = ISNULL(OBT.TalentLegal_StatusID,0) ,
									ClientLegal_StatusID = ISNULL(OBT.ClientLegal_StatusID,0) ,
									Kickoff_StatusID = ISNULL(OBT.Kickoff_StatusID,0),
									IsContractCompleted = cast(ISNULL(OCCD.IsContractCompleted,0)as int),
									IsHRManaged = cast(ISNULL(SHR.IsManaged,0) as int),
									ContactTalentPriorityID = Isnull(CTP.ID,0),							
									HRNumber = Isnull(SHR.HR_Number,''),
									HR_DetailID = Isnull(OBT.HiringRequest_Detail_ID,0),
									ClientOnBoarding_StatusID = Isnull(ClientOnBoarding_StatusID,0),
									FeedbackType =ISNULL((select top 1 TFeedback.FeedbackType from #TempOnboardFeedback TFeedback  where TFeedback.OnBoardID = OBT.ID and TFeedback.HiringRequest_ID = OBT.HiringRequest_ID and TFeedback.ContactID = OBT.ContactID order by TFeedback.FeedbackID Desc),0),
									RoleID = SHRD.Role_ID,
									
									ActualBillRate = ISNULL(TP.ActualBillRate,0),
									ActualPayRate = ISNULL(TP.ActualPayRate,0) ,
									ActualNR = CASE When IsNull(SHR.IsHRTypeDP,0) = 0 then ISNULL(TP.ActualBillRate,0) - ISNULL(TP.ActualPayRate,0) else 0 end,
									BillRateCurrency = Isnull(TP.BillRateCurrency,''),
									ClientName = Isnull(C.FullName,'') + Char(10) + '(' + Isnull(C.EmailID,'') + ')',
									EngagemenID = Isnull(OBT.EngagemenID,''),
									Hr_Number = Isnull(SHR.Hr_Number,''),
									Client_Name = Isnull(C.FullName,''),
									ClientEmail = Isnull(C.EmailID,''),
									DeployedSource = case when Isnull(SHR.IsPoolHR,0) = 1 and Isnull(SHR.IsAdHocHR,0) = 1 then 'POOL + ODR' 
													when Isnull(SHR.IsPoolHR,0) = 1 then 'POOL'
													when Isnull(SHR.IsAdHocHR,0)  = 1 then 'ODR'
													else 'POOL'
													end,
									ActiveEngagement= cast(0 as decimal(18,2)),
									FeedbcakReceive = Cast(0 as int),
									AvgNR = Cast(0 as decimal(18,2)),
									AvgDP = Cast(0 as decimal(18,2)),
									TalentEmail = Isnull(T.EmailId,''),
									IsRenewalAvailable =  Cast(Case when IsNull(SHR.IsHRTypeDP,0) = 0 then 1 else 0 end as int),
									
									H_Availability = isnull(TP.Payout_ContractType,SHR.Availability),
									EngagementCount = cast(
															CASE WHEN isnull(OCCD.IsLost,0)=1 AND  cast(OCCD.LostDate as date) < cast(@SearchDate as  date) then 0 
															ELSE
																CASE When IsNull(SHR.IsHRTypeDP,0) = 0 then -- CT
																				case when case when isnull(Payout_ContractType,'') = '' then  SHR.Availability else isnull(Payout_ContractType,'') end ='Full Time' then 1 else 0.5 end													
																	 ELSE --DP
																		case when isnull(OBT.DPAmount,0) >0 AND month(OCCD.ContractStartDate) =@Month AND year(OCCD.ContractStartDate) = @Year 
																		then case when case when isnull(Payout_ContractType,'') = '' then  SHR.Availability else isnull(Payout_ContractType,'') end ='Full Time' then 1 else 0.5 end
																		else 0 end 
																END 
															END
													as decimal(18,2) ),
									S_TotalDP=0,
									KickOffStatus = ISNULL(POLKS.LegalKickOffStatus,''),
									OBT.HiringRequest_ID,
									OBT.ContactID,
									OBT.Talent_ID,
									DPAmount = ISNULL(OBT.DPAmount,0),
									Status_ID = Isnull(OBT.Status_ID,0),
									PayRateCurrency = Isnull(TP.PayRateCurrency,''),
									IsRenewalContract = cast(ISNULL(OCCD.IsContractCompleted,0)as int),
									isnull(TP.Payout_BillRate,0) as Payout_BillRate,
									isnull(TP.Payout_PayRate,0) as Payout_PayRate,
									ReplacementID =isnull(OBT.ID,0),
									OnBoardLostReasonId = Isnull(OCCD.ContractLost_ReasonID,0),
									OnBoardLostReason = Isnull(OLR.Reason,''),
									IsOngoing = Cast(ISNULL(OCCD.IsOngoing,0) as bit)
							FROM	gen_OnBoardTalents OBT WITH(NOLOCK)
							        inner join gen_OnBoardClientContractDetails OCCD WITH(NOLOCK) ON OCCD.OnBoardID = OBT.ID	
									inner join gen_Talent T WITH(NOLOCK) ON T.ID = OBT.Talent_ID 
									inner join gen_Contact C WITH(NOLOCK) ON C.ID = OBT.ContactID
									inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
									inner join gen_SalesHiringRequest SHR WITH(NOLOCK) ON OBT.HiringRequest_ID = SHR.ID 
									inner join gen_SalesHiringRequest_Details SHRD with(NOLOCK) ON SHR.ID = SHRD.HiringRequest_ID
									--inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = SHRD.Role_ID
									inner join usr_User U WITH(NOLOCK) ON U.ID = SHR.SalesUserID 
									inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.TalentID = OBT.Talent_ID and CTP.HiringRequestID = OBT.HiringRequest_ID and CTP.ContactID = OBT.ContactID
									
									--Payal for NBD / AM columns
									Left join usr_User NBD WITH(NOLOCK) ON NBD.ID =  OBT.NBD_SalesPersonID							
									
									left join #TempPayout TP ON TP.OnBoardID = OBT.ID
									Left join usr_User AM WITH(NOLOCK) ON AM.ID =  case when isnull(TP.Payout_AM_SalesPersonID,0) = 0 then CO.AM_SalesPersonID ELSe isnull(TP.Payout_AM_SalesPersonID,CO.AM_SalesPersonID) end
									Left join usr_User CompanyAM WITH(NOLOCK) ON CompanyAM.ID =  isnull(CO.AM_SalesPersonID,0)
									-- End

									left join prg_GEO G WITH(NOLOCK) ON G.ID = CO.GEO_ID
									
									left join gen_OnBoardTalents_ReplacementDetails OBR WITH(NOLOCK) ON OBR.OnboardID = OBT.ID and OBR.ContactID = OBT.ContactID
									--left join gen_Talent T_OLD With(Nolock) On  T_OLD.Id = OBR.ReplaceTalentId
									left join prg_OnBoardLegalKickOffStatus obkickoff WITH(NOLOCK) ON obkickoff.ID = OBT.Kickoff_StatusID
									
									left join usr_User U_TSC WITH(NOLOCK) ON U_TSC.ID = OBT.TSC_PersonId
									LEFT JOIN gen_Company ChildCom with(nolock) on SHR.ChildCompanyID = ChildCom.ID
									LEFT JOIN prg_OnBoardLegalKickOffStatus POLKS WITH(NOLOCk) ON POLKS.ID =OBT.Kickoff_StatusID AND POLKS.IsKickOff =1  AND POLKS.IsActive =1 
									Left Join prg_OnboardLostReasons OLR WITH(NOLOCK) ON OLR.ID = OCCD.ContractLost_ReasonID
							WHERE	1=1     
							                --AND OBT.Kickoff_StatusID in(4,5) 
											AND OBT.ClientClosureDate is not null
											AND  isnull(OCCD.IsOngoing,0) = 0
							                AND (cast(@LastDayOfMonth as date) between Cast(OCCD.ContractStartDate as date)
													and cast(Isnull(OBR.LastWorkingDay,isnull(OCCD.LastWorkingDate,OCCD.ContractEndDate)) as date)
													or 
													cast(@SearchDate as date) between Cast(OCCD.ContractStartDate as date)
													and cast(Isnull(OBR.LastWorkingDay,isnull(OCCD.LastWorkingDate,OCCD.ContractEndDate)) as date)
											)
											AND OBT.Status_ID <> 4
											
							UNION ALL
							
							SELECT distinct ClientFeedback = ISNULL((select top 1 FeedbackID from #TempOnboardFeedback TFeedback with(nolock) where TFeedback.OnBoardID = OBT.ID and TFeedback.HiringRequest_ID = OBT.HiringRequest_ID and TFeedback.ContactID = OBT.ContactID),0),
									LastFeedbackDate = (select top 1 TFeedback.FeedbackCreatedDateTime from #TempOnboardFeedback TFeedback with(nolock) where TFeedback.OnBoardID = OBT.ID and TFeedback.HiringRequest_ID = OBT.HiringRequest_ID and TFeedback.ContactID = OBT.ContactID order by TFeedback.FeedbackID desc),
									OnBoardID =  OBT.ID,
									EngagementId_HRID = Isnull(OBT.EngagemenID,'') + ' / ' + Char(10) + Isnull(SHR.Hr_Number,''),
									TalentName = Isnull(T.Name,'') + Char(10) + ' (' + Isnull(T.EmailID,'') + ') ',
									Company = ISNULL(CASE WHEN len(isnull(ChildCom.Company,''))> 0 THEN (Co.Company + char(10) + ' (' + ChildCom.Company + ')') ELSE Co.Company END,''),--Isnull(CO.Company,''),
									
									CurrentStatus = case	when cast(ISNULL(OCCD.IsContractCompleted,0)as int) = 0 AND OBT.Status_ID =1 then 'Ongoing'
															when  OBR.onBoardID = OBT.ID AND OBT.Status_ID =1 then 'In Replacement' 
															when cast(ISNULL(OCCD.IsContractCompleted,0)as int) = 1 AND OBT.Status_ID =1 then 'Engagement Completed'
															when OBT.Status_ID = 0 AND cast(ISNULL(OCCD.IsContractCancelled,0)as int) = 1 then 'Engagement Cancelled'
															else '' 
													
													END,
									TSCName = Isnull(U_TSC.FullName,''),
									Geo = Isnull(G.GEO,''),
									Position = isnull(SHR.RequestForTalent,'') ,
									IsLost = cast(case when cast(OCCD.LastWorkingDate as date) < cast(OCCD.ContractEndDate as date) and cast(OCCD.LastWorkingDate as date) < cast(@LastDayOfMonth as date) then 1														
													   when  isnull(OCCD.IsLost,0) =1 AND  cast(OCCD.LostDate as date) < cast(@SearchDate as  date) then 1
													else 0 end 
												  as int),
									OldTalent = Cast('' as nvarchar(50)),
									ReplacementEng = Cast('' as nvarchar(50)),
									
									NoticePeriod = Cast(DateDiff(MONTH,OCCD.ContractStartDate,OCCD.ContractEndDate) as int),
									KickOff = isnull(CONVERT(VARCHAR(10), cast(KickoffDate as date), 103),''),
									BillRate = Isnull(TP.ActualBillRate,0),
									PayRate = ISNULL(TP.ActualPayRate,0),
									ContractStartDate = OCCD.ContractStartDate,
									ContractEndDate = OCCD.ContractEndDate,
									ActualEndDate = OBR.LastWorkingDay,
									NR =isnull( Isnull(OBT.NRPercentage,CTP.NRPercentage),0),
									DP_Percentage = ISNULL(CTP.DP_Percentage,0) ,
									RenewalstartDate = (select top 1 RenewalStartDate from gen_Contract_Renewal_Details CRD WITH(NOLOCK) WHERE CRD.OnBoardId = OBT.Id Order by RenewalendDate desc),
									RenewalendDate = (select top 1 RenewalendDate from gen_Contract_Renewal_Details CRD WITH(NOLOCK) WHERE CRD.OnBoardId = OBT.Id Order by RenewalendDate desc),
									EngagementTenure = OCCD.ContractDuration,
									SOWSignedDate = OBT.ClientClosureDate,
									NBDName =  Isnull(NBD.FullName,''),
									AMName = case when Isnull(NBD.FullName,'') <> '' then Isnull(CompanyAM.FullName,'') else Isnull(AM.FullName,'') end,

									InvoicingDetails = cast(Isnull(TP.PayID,0) as bigint),
									InvoiceSentDate = TP.InvoiceSentDate,
									InvoiceNumber = Isnull(TP.InvoiceNumber,'') ,
									InvoiceStatus = Isnull(TP.InvoiceStatus,'') ,
									DateofPayment = TP.DateofPayment,
									1 as TotalCountID,
									CreatedByDatetime = OBT.CreatedByDatetime,
									TypeOfHR = Case When IsNull(SHR.IsHRTypeDP,0) = 0 then 'Contractual' When IsNull(SHR.IsHRTypeDP,0) = 1 then 'DP' Else '' end,
									TalentID = T.ID,
									GEOID = G.ID,
									NBDID =  Isnull(NBD.ID,0),
									AMID =  Isnull(AM.ID,0),
									
									CompanyID = CO.ID,
									HR_ID = SHR.ID,
									TalentLegal_StatusID = ISNULL(OBT.TalentLegal_StatusID,0) ,
									ClientLegal_StatusID = ISNULL(OBT.ClientLegal_StatusID,0) ,
									Kickoff_StatusID = ISNULL(OBT.Kickoff_StatusID,0),
									IsContractCompleted = cast(ISNULL(OCCD.IsContractCompleted,0)as int),
									IsHRManaged = cast(ISNULL(SHR.IsManaged,0) as int),
									ContactTalentPriorityID = Isnull(CTP.ID,0),							
									HRNumber = Isnull(SHR.HR_Number,''),
									HR_DetailID = Isnull(OBT.HiringRequest_Detail_ID,0),
									ClientOnBoarding_StatusID = Isnull(ClientOnBoarding_StatusID,0),
									FeedbackType =ISNULL((select top 1 TFeedback.FeedbackType from #TempOnboardFeedback TFeedback  where TFeedback.OnBoardID = OBT.ID and TFeedback.HiringRequest_ID = OBT.HiringRequest_ID and TFeedback.ContactID = OBT.ContactID order by TFeedback.FeedbackID Desc),0),
									RoleID = SHRD.Role_ID,
									
									ActualBillRate = ISNULL(TP.ActualBillRate,0),
									ActualPayRate = ISNULL(TP.ActualPayRate,0) ,
									ActualNR = CASE When IsNull(SHR.IsHRTypeDP,0) = 0 then ISNULL(TP.ActualBillRate,0) - ISNULL(TP.ActualPayRate,0) else 0 end,
									BillRateCurrency = Isnull(TP.BillRateCurrency,''),
									ClientName = Isnull(C.FullName,'') + Char(10) + '(' + Isnull(C.EmailID,'') + ')',
									EngagemenID = Isnull(OBT.EngagemenID,''),
									Hr_Number = Isnull(SHR.Hr_Number,''),
									Client_Name = Isnull(C.FullName,''),
									ClientEmail = Isnull(C.EmailID,''),
									DeployedSource = case when Isnull(SHR.IsPoolHR,0) = 1 and Isnull(SHR.IsAdHocHR,0) = 1 then 'POOL + ODR' 
													when Isnull(SHR.IsPoolHR,0) = 1 then 'POOL'
													when Isnull(SHR.IsAdHocHR,0)  = 1 then 'ODR'
													else 'POOL'
													end,
									ActiveEngagement= cast(0 as decimal(18,2)),
									FeedbcakReceive = Cast(0 as int),
									AvgNR = Cast(0 as decimal(18,2)),
									AvgDP = Cast(0 as decimal(18,2)),
									TalentEmail = Isnull(T.EmailId,''),
									IsRenewalAvailable =  Cast(Case when IsNull(SHR.IsHRTypeDP,0) = 0 then 1 else 0 end as int),
									
									H_Availability = isnull(TP.Payout_ContractType,SHR.Availability),
									EngagementCount = cast(
															CASE WHEN isnull(OCCD.IsLost,0)=1 AND  cast(OCCD.LostDate as date) < cast(@SearchDate as  date) then 0 
															ELSE
																CASE When IsNull(SHR.IsHRTypeDP,0) = 0 then -- CT
																				case when case when isnull(Payout_ContractType,'') = '' then  SHR.Availability else isnull(Payout_ContractType,'') end ='Full Time' then 1 else 0.5 end													
																	 ELSE --DP
																		case when isnull(OBT.DPAmount,0) >0 AND month(OCCD.ContractStartDate) =@Month AND year(OCCD.ContractStartDate) = @Year 
																		then case when case when isnull(Payout_ContractType,'') = '' then  SHR.Availability else isnull(Payout_ContractType,'') end ='Full Time' then 1 else 0.5 end
																		else 0 end 
																END 
															END
													as decimal(18,2) ),
									S_TotalDP=0,
									KickOffStatus = ISNULL(POLKS.LegalKickOffStatus,''),
									OBT.HiringRequest_ID,
									OBT.ContactID,
									OBT.Talent_ID,
									DPAmount = ISNULL(OBT.DPAmount,0),
									Status_ID = Isnull(OBT.Status_ID,0),
									PayRateCurrency = Isnull(TP.PayRateCurrency,''),
									IsRenewalContract = cast(ISNULL(OCCD.IsContractCompleted,0)as int),
									isnull(TP.Payout_BillRate,0) as Payout_BillRate,
									isnull(TP.Payout_PayRate,0) as Payout_PayRate,
									ReplacementID =isnull(OBT.ID,0),
									OnBoardLostReasonId = Isnull(OCCD.ContractLost_ReasonID,0),
									OnBoardLostReason = Isnull(OLR.Reason,''),
									IsOngoing = Cast(ISNULL(OCCD.IsOngoing,0) as bit)
							FROM	gen_OnBoardTalents OBT WITH(NOLOCK)
							        inner join gen_OnBoardClientContractDetails OCCD WITH(NOLOCK) ON OCCD.OnBoardID = OBT.ID	
									inner join gen_Talent T WITH(NOLOCK) ON T.ID = OBT.Talent_ID 
									inner join gen_Contact C WITH(NOLOCK) ON C.ID = OBT.ContactID
									inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
									inner join gen_SalesHiringRequest SHR WITH(NOLOCK) ON OBT.HiringRequest_ID = SHR.ID 
									inner join gen_SalesHiringRequest_Details SHRD with(NOLOCK) ON SHR.ID = SHRD.HiringRequest_ID
									--inner join prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = SHRD.Role_ID
									inner join usr_User U WITH(NOLOCK) ON U.ID = SHR.SalesUserID 
									inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.TalentID = OBT.Talent_ID and CTP.HiringRequestID = OBT.HiringRequest_ID and CTP.ContactID = OBT.ContactID
									
									--Payal for NBD / AM columns
									Left join usr_User NBD WITH(NOLOCK) ON NBD.ID =  OBT.NBD_SalesPersonID							
									
									left join #TempPayout TP ON TP.OnBoardID = OBT.ID
									Left join usr_User AM WITH(NOLOCK) ON AM.ID =  case when isnull(TP.Payout_AM_SalesPersonID,0) = 0 then CO.AM_SalesPersonID ELSe isnull(TP.Payout_AM_SalesPersonID,CO.AM_SalesPersonID) end
									Left join usr_User CompanyAM WITH(NOLOCK) ON CompanyAM.ID =  isnull(CO.AM_SalesPersonID,0)
									-- End

									left join prg_GEO G WITH(NOLOCK) ON G.ID = CO.GEO_ID
									
									left join gen_OnBoardTalents_ReplacementDetails OBR WITH(NOLOCK) ON OBR.OnboardID = OBT.ID and OBR.ContactID = OBT.ContactID
									--left join gen_Talent T_OLD With(Nolock) On  T_OLD.Id = OBR.ReplaceTalentId
									left join prg_OnBoardLegalKickOffStatus obkickoff WITH(NOLOCK) ON obkickoff.ID = OBT.Kickoff_StatusID
									
									left join usr_User U_TSC WITH(NOLOCK) ON U_TSC.ID = OBT.TSC_PersonId
									LEFT JOIN gen_Company ChildCom with(nolock) on SHR.ChildCompanyID = ChildCom.ID
									LEFT JOIN prg_OnBoardLegalKickOffStatus POLKS WITH(NOLOCk) ON POLKS.ID =OBT.Kickoff_StatusID AND POLKS.IsKickOff =1  AND POLKS.IsActive =1 
									Left Join prg_OnboardLostReasons OLR WITH(NOLOCK) ON OLR.ID = OCCD.ContractLost_ReasonID
							WHERE	1=1     
							                
											AND OBT.ClientClosureDate is not null
											AND  isnull(OCCD.IsOngoing,0) = 1
							               -- AND Cast(OCCD.ContractStartDate as date) <= cast(isnull(OCCD.LastWorkingDate,Isnull(OBR.LastWorkingDay,@LastDayOfMonth)) as date)

										   AND (cast(@LastDayOfMonth as date) between Cast(OCCD.ContractStartDate as date)
													and cast(isnull(OCCD.LastWorkingDate,Isnull(OBR.LastWorkingDay,@LastDayOfMonth)) as date)
													or 
													cast(@SearchDate as date) between Cast(OCCD.ContractStartDate as date)
													and cast(isnull(OCCD.LastWorkingDate,Isnull(OBR.LastWorkingDay,@LastDayOfMonth)) as date)
											)
											and OBT.Status_ID <> 4											 
																		
							)
							,Cte_TotalCount AS(
									Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
							)

						
							Insert 
							INTO    #TempRecords
							SELECT	ClientFeedback,
									IsNull(CONVERT(VARCHAR(10), cast(LastFeedbackDate as date), 103),'') LastFeedbackDate,
									
									OnBoardID,EngagementId_HRID,TalentName,
									Company,CurrentStatus,TSCName,Geo,Position,IsLost,OldTalent,ReplacementEng,cast(Isnull(NoticePeriod,0) as int) NoticePeriod,
									KickOff,BillRate,PayRate,
									IsNull(CONVERT(VARCHAR(10), cast(ContractStartDate as date), 103),'') ContractStartDate,
									
									IsNull(CONVERT(VARCHAR(10), cast(ContractEndDate as date), 103),'') ContractEndDate,
									
									IsNull(CONVERT(VARCHAR(10), cast(ActualEndDate as date), 103),'') ActualEndDate,
									
									NR,DP_Percentage,
									IsNull(CONVERT(VARCHAR(10), cast(RenewalstartDate as date), 103),'') RenewalstartDate,
									
									IsNull(CONVERT(VARCHAR(10), cast(RenewalendDate as date), 103),'') RenewalendDate,
								
									EngagementTenure,
									IsNull(CONVERT(VARCHAR(10), cast(SOWSignedDate as date), 103),'') SOWSignedDate,
									
									Isnull(NBDName,'') NBDName,AMName,Isnull(Cast(InvoicingDetails as Nvarchar(5)),'') InvoicingDetails,
									IsNull(CONVERT(VARCHAR(10), cast(InvoiceSentDate as date), 103),'') InvoiceSentDate,
									
									Isnull(InvoiceNumber,'') InvoiceNumber,Isnull(InvoiceStatus,'') InvoiceStatus,
									IsNull(CONVERT(VARCHAR(10), cast(DateofPayment as date), 103),'') DateofPayment,
									
									T.TotalRecords,
									Isnull(CONVERT(varchar(20), ISNULL(CreatedByDatetime, ''), 103) + ' '  + convert(VARCHAR(8), CreatedByDatetime, 14),'') CreatedByDatetime,
									CreatedByDatetime as _createddate,
									TypeOfHR,TalentID,cast(Isnull(GEOID,0) as int) GEOID,cast(Isnull(NBDID,0) as bigint) NBDID,AMID,CompanyID,HR_ID,
									TalentLegal_StatusID,ClientLegal_StatusID,Kickoff_StatusID,IsContractCompleted,IsHRManaged,
									ContactTalentPriorityID,HRNumber,HR_DetailID,ClientOnBoarding_StatusID,FeedbackType,RoleID,ActualBillRate,ActualPayRate,ActualNR,
									BillRateCurrency,EngagemenID,Hr_Number,Client_Name =  Client_Name + Char(10) + ' (' + Isnull(ClientEmail,'') + ') ',ClientEmail,DeployedSource,
									ActiveEngagement,FeedbcakReceive,AvgNR,AvgDP,IsRenewalAvailable,H_Availability,EngagementCount,S_TotalDP,KickOffStatus,
									HiringRequest_ID,
									ContactID,
									Talent_ID,
									DPAmount,
									Status_ID,PayRateCurrency,IsRenewalContract,Payout_BillRate,Payout_PayRate,ReplacementID,
									OnBoardLostReasonId,OnBoardLostReason,
									IsOngoing
							FROM	CTE_Records U 
									INNER JOIN Cte_TotalCount T on T.TotalCountID = U.TotalCountID 
							where   1=1 
			end
			   
			  --select * from #TempRecords

				--Update ReplacementEng,OldTalent for new Entry i.e. in replacement entry of Engagement display old talent and old engg.
					Update    T
					set       ReplacementEng = q.EngagemenID,
							  OldTalent = Q.OldTalent
					from      #TempRecords T 
								inner join gen_OnBoardTalents OBT  with(Nolock) on OBT.ID = T.OnBoardID
								inner join 
								(
								select      gobt.EngagemenID,gobt.ID,gobt.ContactID,RepT.NewOnBoard_Id,Isnull(T_OLD.Name,'') OldTalent
								from		gen_OnBoardTalents gobt WITH(NOLOCK) 
											inner join gen_OnBoardTalents_ReplacementDetails RepT WITH(NOLOCK) on RepT.OldTalentId = gobt.Talent_ID
											inner join #TempRecords T  ON T.OnBoardID = gobt.ID
											left join gen_Talent T_OLD With(Nolock) On  T_OLD.Id = RepT.OldTalentId 
								)Q on Q.NewOnBoard_Id = T.OnBoardID
				--ended


				--select * from #TempRecords

				IF isnull(@ClientFeedback,'') <> ''
				BEGIN
					Print @ClientFeedback
					IF(CHARINDEX('No Feedback',@ClientFeedback) >0)
					BEGIN
						SET @ClientFeedback = REPLACE (@ClientFeedback,',No Feedback','');
						SET @ClientFeedback = REPLACE (@ClientFeedback,'No Feedback','');
						Print @ClientFeedback
						SET @WhereClauseSQL += ' AND ClientFeedback = 0 '
					END
					ELSE
					BEGIN
						SET @WhereClauseSQL += ' AND FeedbackType in (' + CONVERT(nvarchar(Max),'''' + REPLACE(@ClientFeedback,  ',', ''',''') + '''') + ')'
				    END
				END
				IF isnull(@TypeOfHiring,'') <> ''
					SET @WhereClauseSQL += ' AND TypeOfHR in (' + CONVERT(nvarchar(Max),'''' + REPLACE(@TypeOfHiring,  ',', ''',''') + '''') + ')'
				IF isnull(@CurrentStatus,'') <> ''
					SET @WhereClauseSQL += ' AND CurrentStatus in (' + CONVERT(nvarchar(Max),'''' + REPLACE(@CurrentStatus,  ',', ''',''') + '''') +  ')'
				
				IF isnull(@Company,'') <> ''
					SET @WhereClauseSQL += ' AND CompanyID in (' + CONVERT(nvarchar,@Company) +  ')'
				IF isnull(@GEO,'') <> ''
					SET @WhereClauseSQL += ' AND GEOID in (' + CONVERT(nvarchar,@GEO) + ')'
				IF isnull(@Position,'') <> ''
					SET @WhereClauseSQL += ' AND RoleID in (' + CONVERT(nvarchar,@Position)  + ')'
				IF isnull(@EngagementTenure,'') <> ''
					SET @WhereClauseSQL += ' AND Cast(EngagementTenure as nvarchar(5)) = ' + CONVERT(nvarchar,@EngagementTenure) + ''
				IF isnull(@NBDName,'') <> ''
					SET @WhereClauseSQL += ' AND NBDID in (' + CONVERT(nvarchar,@NBDName) + ')'
				IF isnull(@AMName,'') <> ''
					SET @WhereClauseSQL += ' AND AMID in (' + CONVERT(nvarchar,@AMName) + + ')'
				IF isnull(@Pending,'') <> ''
					SET @WhereClauseSQL += ' AND Pending LIKE ''%' + CONVERT(nvarchar,@Pending) + '%'''
				IF isnull(@Lost,'') <> ''
					SET @WhereClauseSQL += ' AND IsLost in (' + CONVERT(nvarchar,@Lost) + ')'
				IF isnull(@OnBoardingLostReason,'') <> ''
					SET @WhereClauseSQL += ' AND OnBoardLostReasonId in (' + CONVERT(nvarchar,@OnBoardingLostReason) + ')'
     
	             --- Payal (07-06-2023) Add Search Filter for Client Ids, Talent Ids , HR Ids, Eng IDs
				 IF(LEN(isnull(@Engagement_HRID,'')) >0)
				 BEGIN 
					SET @WhereClauseSQL += ' AND OnBoardID in (' + @Engagement_HRID +  ')'
				 END
				 IF(LEN(isnull(@ClientName,'')) >0)
				 BEGIN 
					SET @WhereClauseSQL += ' AND ContactID in (' + @ClientName +  ')'
				 END
				 IF(LEN(isnull(@TalentName,'')) >0)
				 BEGIN 
					SET @WhereClauseSQL += ' AND Talent_ID in (' + @TalentName +  ')'
				 END
				 IF(LEN(isnull(@HRIds,'')) >0)
				 BEGIN 
					SET @WhereClauseSQL += ' AND HiringRequest_ID in (' + @HRIds +  ')'
				 END

				

				IF isnull(@DeployedSource,'') <> ''
					SET @WhereClauseSQL += ' AND DeployedSource in (' + CONVERT(nvarchar(Max),'''' + REPLACE(@DeployedSource,  ',', ''',''') + '''') + ')'
				
				IF isnull(@TScName,'') <> ''
					SET @WhereClauseSQL += ' AND TSCName in (' + CONVERT(nvarchar(Max),'''' + REPLACE(@TScName,  ',', ''',''') + '''') + ')'     
					

				--UTS-3768: Apply table search for EngagementID, HRID, Client, Company, Talent
				IF isnull(@searchText,'') <> ''
					SET @WhereClauseSQL += ' AND ((EngagemenID LIKE  ''%' + CONVERT(nvarchar(50),rtrim(ltrim(@searchText))) + '%'' OR  Hr_Number LIKE  ''%' + CONVERT(nvarchar(50),rtrim(ltrim(@searchText))) + '%'')'
									+ ' OR (Client_Name LIKE  ''%' + CONVERT(nvarchar(100),rtrim(ltrim(@searchText))) + '%'' OR  ClientEmail LIKE  ''%' + CONVERT(nvarchar(100),rtrim(ltrim(@searchText))) + '%'')'
									+ ' OR Company LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
									+ ' OR TalentName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'')'
				

				set   @Total_Records = 'Update #TempRecords SET TotalRecords = (select Count(1) from #tempRecords
									    WHERE 1 = 1  ' + @WhereClauseSQL + ')'
		
				EXECUTE sp_executesql @Total_Records

				print @WhereClauseSQL
				print @Total_Records
					------Update Summary Columns---
					set   @Total_Records = 'Update    #TempRecords
											set       ActiveEngagement = (select SUM(EngagementCount) from  #TempRecords WHERE 1 = 1  ' + @WhereClauseSQL + ')'
					
					EXECUTE sp_executesql @Total_Records

					set   @Total_Records = 'Update    #TempRecords
											set       FeedbcakReceive = (
																			select     distinct  Count(LastFeedbackDate) CountFeedback
																			from		 #TempRecords																
																			where      ClientFeedback <> ''''	
																					   and 1 = 1  ' + @WhereClauseSQL + '
																			)'
					EXECUTE sp_executesql @Total_Records
					
					set   @Total_Records = 'Update    #TempRecords
											set       AvgNR = (select (SUM(NR) / Count(EngagemenID))  from  #TempRecords where TypeOfHR = ''Contractual'' and 1 = 1  ' + @WhereClauseSQL + ' )'

					EXECUTE sp_executesql @Total_Records

					set   @Total_Records = 'Update    #TempRecords
											set       AvgDP = (select (SUM(IsNull(DP_Percentage,0)) / Count(EngagemenID)) from  #TempRecords  where TypeOfHR = ''DP'' and 1 = 1  ' + @WhereClauseSQL + ' )'

					EXECUTE sp_executesql @Total_Records
					--S_TotalDP update
					set   @Total_Records = 'Update    #TempRecords
											set       S_TotalDP = (select count(TypeOfHR) from #TempRecords  where TypeOfHR=''DP'' and 1 = 1  ' + @WhereClauseSQL + ' ) '

					EXECUTE sp_executesql @Total_Records
				------ended-----
				

				SET   @MainSQL = 'select ClientFeedback,LastFeedbackDate,OnBoardID,EngagementId_HRID,TalentName,
										Company,CurrentStatus,TSCName,Geo,Position,IsLost,OldTalent,ReplacementEng,NoticePeriod,KickOff,BillRate,PayRate,
										ContractStartDate,ContractEndDate,ActualEndDate,NR,DP_Percentage,RenewalstartDate,RenewalendDate,EngagementTenure,
										SOWSignedDate,InvoicingDetails,InvoiceSentDate,InvoiceNumber,InvoiceStatus,DateofPayment,TotalRecords,CreatedByDatetime,
										TypeOfHR,TalentID,GEOID,cast(Isnull(NBDID,0) as bigint) NBDID,cast(Isnull(AMID,0) as bigint) AMID,CompanyID,HR_ID,
										TalentLegal_StatusID,ClientLegal_StatusID,Kickoff_StatusID,IsContractCompleted,IsHRManaged,
										ContactTalentPriorityID,HRNumber,HR_DetailID,ClientOnBoarding_StatusID,NBDName,Isnull(AMName,'''') AMName,FeedbackType,ActualBillRate,ActualPayRate,ActualNR,
										BillRateCurrency,Client_Name as ClientName,DeployedSource,ActiveEngagement,FeedbcakReceive,Cast(Isnull(AvgNR,0) as decimal(18,2)) as AvgNR,Cast(Isnull(AvgDP,0) as decimal(18,2)) AvgDP,IsRenewalAvailable,H_Availability,EngagementCount,S_TotalDP,
										KickOffStatus,DPAmount,Status_ID,PayRateCurrency,IsRenewalContract,Payout_BillRate,Payout_PayRate,ReplacementID,
										OnBoardLostReason,OnBoardLostReasonId,IsOngoing
									from #TempRecords
									WHERE 1= 1  ' + @WhereClauseSQL + ''
										
				
				If	@SortExpression = 'CreatedbyDatetime'
					SET @MainSQL += ' ORDER BY CONVERT(datetime,' + @SortExpression + ',103) ' + @SortDirection
				ELSe 
					SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

				IF(@PageSize>0)
					BEGIN
						SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
										FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY';
					END
				ELSE
					BEGIN
						SET @MainSQL= 	@MainSQL;
					END

				--PRINT(@MainSQL)
				EXECUTE sp_executesql @MainSQL	
		
				DROP table #TempRecords
				DROP table #TempPayout 
				DROP table #TempOnboardFeedback
END