USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_prg_TempSkills_Insert]    Script Date: 25-09-2023 12:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_FetchAllClientsForJobPost_ClientPortal]

AS
BEGIN
		SELECT 
		ID, 
		CompanyID,
		Username,
		FirstName,
		LastName,
		FullName,
		EmailID		
		FROM gen_Contact WHERE IsFromSignUp = 1  AND ISNULL(IsJobPostEmailSent, 0 ) = 0 AND IsActive = 1		
END
