ALTER PROCEDURE [dbo].[sproc_UTS_GetClientList]
    @PageIndex				INT = 1,
	@PageSize				INT = 100,
	@SortExpression			NVARCHAR(100) = 'AddedDate',
	@SortDirection			NVARCHAR(100) = 'DESC',
	@CompanyStatus			NVARCHAR(100) = NULL,
	@GEO					NVARCHAR(100) = NULL,
	@AddingSource			NVARCHAR(100) = NULL,
	@Category   			NVARCHAR(100) = NULL,
	@POC					NVARCHAR(MAX) = NULL,
	@fromDate				NVARCHAR(100) = NULL,
	@toDate					NVARCHAR(100) = NULL,
	@searchText			    NVARCHAR(500) = NULL,
	@SearchSourceCategory	NVARCHAR(500) = NULL,
	@LeadUserID				bigint			= 0,   -- To filter Record based on Lead User (Inbound/Outbound)
	@SearchCompanyModel		NVARCHAR(500) = NULL
	
AS
BEGIN

DECLARE @WhereClauseSQL NVARCHAR(MAX) = '';
DECLARE @WhereClauseSQL2 NVARCHAR(MAX) = '';
DECLARE @WhereClauseSQL3 NVARCHAR(MAX) = '';
DECLARE @WhereClauseSQL4 NVARCHAR(MAX) = '';
DECLARE @WhereClauseSQL5 NVARCHAR(MAX) = '';
DECLARE @WhereCompanyUnion NVARCHAR(MAX) = '';
DECLARE @MainSQL nvarchar(max) = '';
declare @Total_Records	Nvarchar(MAX) 
DECLARE @LeadUser_UserType BIGINT = 0;
Declare @MainPArentId  as bigint

		IF OBJECT_ID('tempdb..#GetLeadUsersCompany') Is not null
			DROP TABLE #GetLeadUsersCompany
				
		CREATE TABLE #GetLeadUsersCompany
		(
			UserID			bigint,
			CompanyId		bigint
		)

		IF @LeadUserID <> 0
			BEGIN					
				;WITH RCTE AS
				(
					SELECT *, 1 AS Lvl 
					FROM	usr_UserHierarchy WITH(NOLOCK)
					WHERE	UserID = ISNULL(@LeadUserID,0) or ParentID = Isnull(@LeadUserID,0)

					UNION ALL

					SELECT	rh.*, Lvl+1 AS Lvl 
					FROM	dbo.usr_UserHierarchy rh with(nolock)
							INNER JOIN RCTE rc ON rh.UserID = rc.ParentId
	
				)
				SELECT TOP 1 @MainPArentId = p.id
				FROM	RCTE r
						inner JOIN dbo.usr_User p with(nolock) ON p.id = r.ParentId
				WHere   p.IsActive = 1
				ORDER BY lvl DESC

				;WITH cteUser AS (    
						SELECT	   u.ID AS UserID, 
								   uh.ParentID,
								   u.FullName AS Name,
								   @MainPArentId as MainParentID,
								   0 AS [Level]
						FROM       [dbo].[usr_User] u with(nolock)
								   LEFT JOIN  [dbo].[usr_UserHierarchy] uh with(nolock) ON uh.UserID = u.ID
						WHERE      u.ID = @LeadUserID and U.IsActive = 1		
 
						UNION ALL
 
						SELECT u.ID AS UserID,
								child.ParentID,
								u.FullName AS Name,
								cte.MainParentID as MainParentID,
								[Level]+1 AS [Level]
						FROM       [dbo].[usr_User] u with(nolock)
								INNER JOIN  [dbo].[usr_UserHierarchy] child with(nolock) ON child.UserID = u.ID
								INNER JOIN cteUser cte  ON cte.UserID = child.ParentID
				)
				Insert into #GetLeadUsersCompany
				select  distinct C.UserID,CLU.CompanyID
				from    cteUser C 
						inner join gen_CompanyLeadType_UserDetails CLU WITH(NOLOCK) ON CLU.LeadType_UserID = C.UserID
				UNION ALL
				SELECT  0,COM.ID as CompanyID
				FROM	gen_Company COM with(nolock)
				WHERE	IsActive = 1 and Lead_Type =	CASE WHEN @LeadUser_UserType = 11 THEN 'OutBound' ELSE
														(CASE WHEN @LeadUser_UserType = 12 THEN 'InBound' END) END

		END


		IF OBJECT_ID('tempdb..#HRContactTbl') IS NOT NULL
			DROP TABLE #HRContactTbl;

		CREATE TABLE #HRContactTbl([ContactID] bigint);

		INSERT INTO #HRContactTbl([ContactID])
			SELECT ContactID from gen_SalesHiringRequest with(nolock) where isnull(ContactID,0) >0
			group by ContactID

		IF @LeadUserID <> 0
			SET @LeadUser_UserType = ISNULL((SELECT UserTypeID from usr_User with(nolock) where ID = @LeadUserID),0);

		--IF OBJECT_ID('tempdb..#ContactPOCTbl') IS NOT NULL
		--	DROP TABLE #ContactPOCTbl;
	    

		--CREATE TABLE #ContactPOCTbl([ContactID] bigint,POCname nvarchar(200), UserID BIGINT);


		--INSERT INTO #ContactPOCTbl([ContactID],POCname,UserID)
		--SELECT	H.ContactID,  isnull(U.FullName,'') POCname, U.ID
		--FROM	gen_Contact CO WITH(NOLOCK)
		--		Inner join Gen_Company C WITH(NOLOCK) ON C.ID = CO.CompanyID
		--		inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = CO.ID
		--		INNER JOIN usr_User U WITH(NOLOCK) ON U.ID = H.SalesUserID --U.ID = POC.[User_ID]	
		--		inner join (
		--			select   ContactID,MAx(ID) as HRID
		--			from     gen_SalesHiringRequest  WITH(NOLOCK)
		--			Group By ContactID
		--		)Q ON Q.HRID = H.ID and Q.ContactID = H.ContactID
		--group by  H.ContactID,  isnull(U.FullName,''), U.ID

		--Union all

		--SELECT	CO.ID,  isnull(U.FullName,'') POCname, U.ID
		--FROM	gen_Contact CO WITH(NOLOCK)
		--		Inner join Gen_Company C WITH(NOLOCK) ON C.ID = CO.CompanyID
		--		INNER JOIN usr_User U WITH(NOLOCK) ON U.ID = Isnull(C.AM_SalesPersonID,C.NBD_SalesPersonID)			
		--group by  CO.ID,  isnull(U.FullName,''), U.ID


		--INSERT INTO #ContactPOCTbl([ContactID],POCname,UserID)
		--SELECT	POC.ContactID,  isnull(U.FullName,'') POCname, U.ID 
		--FROM	gen_Contact CO WITH(NOLOCK)
		--		INNER JOIN gen_ContactPointofContact POC WITH(NOLOCK) ON CO.ID = POC.ContactID 
		--		INNER JOIN usr_User U WITH(NOLOCK) ON U.ID = POC.[User_ID]			
		--group by  POC.ContactID,  isnull(U.FullName,''), U.ID

		IF OBJECT_ID('tempdb..#TempInviteeUsers') IS NOT NULL
			DROP TABLE #TempInviteeUsers;

		SELECT IC.ContactID,  isnull(UC.FullName,'') Invitee, IC.CreatedByID, Convert(datetime,IC.CreatedByDateTime,103) AS InvitedDate 
		into #TempInviteeUsers
		FROM  gen_ContactUsers_ClientPortal IC WITH(NOLOCK) 
		INNER JOIN gen_Contact UC WITH(NOLOCK) ON UC.ID = IC.CreatedByID
			
		IF OBJECT_ID('tempdb..#ClientHRLists') IS NOT NULL
			DROP TABLE #ClientHRLists;

		Select  C.ID,CO.ID as CompanyID
		into    #ClientHRLists
		From    gen_Contact C WITH(NOLOCK)	
			    inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
		where   Isnull(CO.IsGSpaceCreated,0) = 0 and C.ID in (select ContactID from gen_SalesHiringRequest WITH(NOLOCK) where JobStatusID <> 2)
		

		
		--select * from #TempInviteeUsers


		IF ISNULL(@CompanyStatus,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#CompanyStatusTbl') IS NOT NULL
					DROP TABLE #CompanyStatusTbl

				CREATE TABLE #CompanyStatusTbl([Status] VARCHAR(50))

				INSERT INTO #CompanyStatusTbl([Status])
					SELECT val from f_split(@CompanyStatus,',')

			SET @WhereClauseSQL += ' AND Status IN ( select [Status] from #CompanyStatusTbl ) '
		END
		IF ISNULL(@GEO,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#GEO_Tbl') IS NOT NULL
					DROP TABLE #GEO_Tbl;

				CREATE TABLE #GEO_Tbl(GeoID INT);

				INSERT INTO #GEO_Tbl(GeoID)
					SELECT val from f_split(@GEO,',')

			SET @WhereClauseSQL += ' AND GID IN ( select GeoID from #GEO_Tbl ) '
		END

		IF ISNULL(@AddingSource,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#Source_Tbl') IS NOT NULL
					DROP TABLE #Source_Tbl;

				CREATE TABLE #Source_Tbl(Source VARCHAR(50));

				INSERT INTO #Source_Tbl(Source)
					SELECT val from f_split(@AddingSource,',')

			SET @WhereClauseSQL2 += ' AND InputSource IN ( SELECT Source FROM #Source_Tbl ) '
		END
		IF ISNULL(@Category,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#Category_Tbl') IS NOT NULL
					DROP TABLE #Category_Tbl;

				CREATE TABLE #Category_Tbl(Cat VARCHAR(50));

				INSERT INTO #Category_Tbl(Cat)
					SELECT val from f_split(@Category,',')

			SET @WhereClauseSQL += ' AND CompanyCategory IN ( SELECT Cat FROM #Category_Tbl ) '
		END

		IF ISNULL(@POC,'') <> ''
		BEGIN
			IF OBJECT_ID('tempdb..#POC_Tbl') IS NOT NULL
					DROP TABLE #POC_Tbl;

				CREATE TABLE #POC_Tbl(UserID BIGINT);

				INSERT INTO #POC_Tbl(UserID)
					SELECT val from f_split(@POC,',')

			SET @WhereClauseSQL += ' AND POCID IN ( select cast(UserID as nvarchar(40)) as UserID from #POC_Tbl ) '
		END

		IF @fromDate is not null and @toDate is not null and ISNULL(@fromDate,'') <> '' and ISNULL(@toDate,'') <> '' 
		   BEGIN
			   if @fromDate = @toDate
			   begin 
					SET @WhereClauseSQL += ' AND cast(CONVERT(datetime,AddedDate,103) as date) = '+ '''' + @fromDate +'''';
			   end
			   else
			   begin
					SET @WhereClauseSQL += ' AND (CAST(CONVERT(datetime,AddedDate,103) as date) BETWEEN ''' + @fromDate + ''' and ''' + @toDate + ''')'
			   end
		   END

			IF isnull(@searchText,'') <> ''
				BEGIN				
					IF(lower(isnull(@searchText,'')) = 'yes' OR lower(isnull(@searchText,'')) = 'no')
						BEGIN
							SET @WhereClauseSQL += ' ANd Isnull(IsActive,0)  =  '  + char(39) +  lower(CONVERT(nvarchar,@searchText)) + char(39)
							SET @WhereCompanyUnion += ' ANd Isnull(IsActive,0)  =  '  + char(39) +  lower(CONVERT(nvarchar,@searchText)) + char(39)
						END 
					ELSE 
						BEGIN
								SET @WhereClauseSQL += ' AND (CompanyName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%''' 
										+ ' OR ClientName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
										+ ' OR ClientEmail LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
										+ ' OR Status LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
										+ ' OR AM_UserName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
										+ ' OR GEO LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'')'  
										--+ ' OR InputSource LIKE ''%' +  CONVERT(nvarchar,@AddingSource)  +   '%'')'  

								SET @WhereCompanyUnion += ' AND (C.Company LIKE ''%' + CONVERT(nvarchar,@searchText) + '%''' 
										+ ' OR CO.FullName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
										+ ' OR CO.EmailID LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
										+ ' OR S.Contact_Status LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
										+ ' OR AM_User.FullName LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'''
										+ ' OR ISNULL(G.GEO,'''') LIKE ''%' + CONVERT(nvarchar,@searchText) + '%'')'
						 END						
				END
			IF  (isnull(@searchText,'') <> '' AND isnull(@AddingSource,'') <> '')
				BEGIN
						SET @WhereClauseSQL += ' AND (InputSource LIKE ''%' +  CONVERT(nvarchar,@AddingSource)  +   '%'')'
				END

			IF isnull(@SearchSourceCategory,'') <> ''
				BEGIN
					SET @WhereClauseSQL5 += ' AND (SourceCategory LIKE ''%' + CONVERT(nvarchar,@SearchSourceCategory) + '%'')'
				END

			

			IF @LeadUserID > 0
				BEGIN
						SET @WhereClauseSQL += ' and 
												(
													(' + CONVERT(nvarchar,@LeadUserID) + ' <> ''0'' and exists(select CompanyID from #GetLeadUsersCompany G Where G.CompanyID = CompanyID))
													Or
													(	
														' + CONVERT(nvarchar,@LeadUserID) + ' = ''0'' and 1 = 1
													)
												)'
				END


				-- Anit (15-02-2024) Company Model Filters
				IF ISNULL(@SearchCompanyModel,'') <> ''
				BEGIN
					print @SearchCompanyModel

					if(@SearchCompanyModel = '1,2' OR @SearchCompanyModel ='2,1')
						SET @WhereClauseSQL += ' AND CompanyTypeID IN (' + CONVERT(nvarchar,@SearchCompanyModel) + ') AND AnotherCompanyTypeID IN (' + CONVERT(nvarchar,@SearchCompanyModel) + ')';
					if(@SearchCompanyModel = '1')
						SET @WhereClauseSQL += ' AND ( CompanyTypeID =' + CONVERT(nvarchar,@SearchCompanyModel) + ' OR AnotherCompanyTypeID = ' + CONVERT(nvarchar,@SearchCompanyModel) + ' ) AND  (isnull(CompanyTypeID,0) =0 OR isnull(AnotherCompanyTypeID,0) =0) ';
					if(@SearchCompanyModel ='2')
						SET @WhereClauseSQL += ' AND ( CompanyTypeID = ' + CONVERT(nvarchar,@SearchCompanyModel) + ' OR AnotherCompanyTypeID = ' + CONVERT(nvarchar,@SearchCompanyModel) + ' ) AND  (isnull(CompanyTypeID,0) =0 OR isnull(AnotherCompanyTypeID,0) =0) ';
					print @WhereClauseSQL
				END

				IF OBJECT_ID('tempdb..#AllRecords_OfClientsInternal') Is not null
					DROP TABLE #AllRecords_OfClientsInternal

				CREATE TABLE #AllRecords_OfClientsInternal
				(
					  CompanyID                 bigint,
					  ClientID					bigint,
					  AddedDate					datetime,
					  CompanyName				Nvarchar(200),
					  WebSite					Nvarchar(200),
					  ClientName			    Nvarchar(200),
					  ClientEmail				Nvarchar(200),
					  GEO						Nvarchar(50),
					  GID						int,
					  POC						Nvarchar(100),
					  POCID						Nvarchar(100),
					  AM_SalesPersonID			int,
					  AM_UserName				Nvarchar(200),
					  Status					Nvarchar(50),
					  StatusColor				Nvarchar(50),
					  InputSource				Nvarchar(200),
					  TotalCountID				int,
					  SourceCategory			Nvarchar(200),
					  CompanyTypeID				int,
					  AnotherCompanyTypeID      int,
					  CompanyModel				Nvarchar(200),			
					  CreditUtilization			Nvarchar(200),
					  CompanyCategory			Nvarchar(20),
					  InviteName				Nvarchar(200),
					  InviteDate				datetime,
					  SSO_Login					Nvarchar(200),
					  IsActive					Nvarchar(10),
					  IsGSpaceCreated			bit  default 0,
					  AccessType				NVARCHAR(50)
				)

				
				DECLARE @SQL AS NVARCHAR(MAX) = ''
				SET @SQL = 'INSERT INTO #AllRecords_OfClientsInternal
							SELECT DISTINCT C.ID AS CompanyID,CO.ID AS ClientID,C.CreatedByDatetime AS AddedDate,ISNULL(C.Company,'''') AS CompanyName
						 ,ISNULL(C.WebSite,'''') AS WebSite,ISNULL(CO.Fullname,'''') AS ClientName,ISNULL(CO.EmailID,'''') AS ClientEmail
						 ,ISNULL(G.GEO,'''') AS GEO,ISNULL(G.ID,'''') AS GID,
						 POC = ISNULL(U.FullName,''''),POCID = cast(U.ID as nvarchar(40))
						 ,ISNULL(C.AM_SalesPersonID,0) AS AM_SalesPersonID,ISNULL(AM_User.FullName,'''') AS AM_UserName
						,ISNULL(S.Contact_Status,'''') as Status,
						CASE 
							WHEN ISNULL(S.Contact_Status,'''') = ''Opportunity'' THEN ''#FADECB''
							WHEN ISNULL(S.Contact_Status,'''') = ''Potential Lead'' THEN ''#F8E0E4''
							WHEN ISNULL(S.Contact_Status,'''') = ''SQL'' THEN ''#FAF5CB''
							WHEN ISNULL(S.Contact_Status,'''') = ''Customer'' THEN ''#D4EAEB''
							ELSE ''''
						END AS StatusColor,						
						CASE 
							WHEN Isnull(CO.IsFromSignUp,0) = 1 THEN ''Self Signup''
							WHEN Isnull(CO.IsFromSignUp,0) = 0 and ISNULL(CO.HubSpot_ContactID,0) > 0 then ''Hubspot''
							When Isnull(CO.IsFromSignUp,0) = 0 and ISNULL(CO.HubSpot_ContactID,0) = 0 then ''Invited Client''
							ELSE ''''
						END as InputSource,1 AS TotalCountID,'''' as SourceCategory,C.CompanyTypeID,C.AnotherCompanyTypeID,
						CompanyModel = 
						Case 
							WHEN ISNULL(C.CompanyTypeID,0) > 0 AND ISNULL(C.AnotherCompanyTypeID,0) > 0
							THEN ISNULL(CT.CompanyType,'''') + '' + '' + ISNULL(CTA.CompanyType,'''') 
							WHEN ISNULL(C.CompanyTypeID,0) > 0 AND ISNULL(C.AnotherCompanyTypeID,0) = 0
							THEN ISNULL(CT.CompanyType,'''') 
							WHEN ISNULL(C.CompanyTypeID,0) = 0 AND ISNULL(C.AnotherCompanyTypeID,0) > 0
							THEN ISNULL(CTA.CompanyType,'''') 
							ELSE ''''
						END,
						CreditUtilization = case when isnull(C.IsPostaJob,0) =1 AND isnull(C.IsProfileView,0) = 0 then cast(isnull(C.JobPostCredit,0) as nvarchar(50)) + '' Job Post Credit(s)''
												 when isnull(C.IsPostaJob,0) =1 AND isnull(C.IsProfileView,0) = 1 then cast(isnull(C.JobPostCredit,0) as nvarchar(50)) + '' Job Post Credit(s) '' + '','' + cast(ISNULL(VettedProfileViewCredit,0) as nvarchar(50)) + '' Vetted Credit(s) '' + '',''+ cast(ISNULL(NonVettedProfileViewCredit,0) as nvarchar(50)) + '' Non Vetted Credit(s)''
												 when isnull(C.IsPostaJob,0) =0 AND isnull(C.IsProfileView,0) = 1 then cast(ISNULL(VettedProfileViewCredit,0) as nvarchar(50)) + '' Vetted Credit(s) '' + '',''+ cast(ISNULL(NonVettedProfileViewCredit,0) as nvarchar(50)) + '' Non Vetted Credit(s)'' 
						                         else ''''
											end,
						CompanyCategory=ISNULL(C.Category,''''),InviteName=ISNULL(TIUser.Invitee,''''),InviteDate = TIUser.InvitedDate,
						SSO_Login='''',IsActive = CASE WHEN Isnull(CO.IsActive,0) = 1 then ''yes'' else ''no'' end,
						IsGSpaceCreated = CASE WHEN Isnull(CHL.ID,0) = 0 Then 1 else 0 end,
						AccessType  = ISNULL(UserRole.[ROLE],'''')
				FROM	gen_Company C WITH(NOLOCK) 
						INNER JOIN gen_Contact CO WITH(NOLOCK) ON C.ID = CO.CompanyID 
						Left join #ClientHRLists CHL WITH(NOLOCK) ON CHL.CompanyID = C.ID
						LEFT JOIN #HRContactTbl T ON CO.ID = T.ContactID
						LEFT JOIN prg_ContactStatus S WITH(NOLOCK) ON S.ID = C.Client_StatusID
						Left JOIN prg_GEO G WITH(NOLOCK) ON C.GEO_ID = G.ID	
						--LEFT JOIN gen_ContactPointofContact POC WITH(NOLOCK) ON CO.ID = POC.ContactID
						LEFT JOIN usr_User U WITH(NOLOCK) ON U.ID = C.NBD_SalesPersonID 
						LEFT JOIN usr_User AM_User WITH(NOLOCK) ON AM_User.ID = C.AM_SalesPersonID
						LEFT join prg_CompanyType CT with (NOLOCK) ON C.CompanyTypeID = CT.ID
						LEFT join prg_CompanyType CTA with (NOLOCK) ON C.AnotherCompanyTypeID = CTA.ID
						LEFT JOIN #TempInviteeUsers TIUser ON TIUser.ContactID = CO.ID	
						--Left Join #ContactPOCTbl POCT ON POCT.[ContactID] = CO.ID
						LEFT JOIN Prg_UserRole_ClientPortal UserRole ON CO.RoleId = UserRole.ID
				WHERE	1=1 ' +  @WhereCompanyUnion

				--PRINT @SQL
				exec SP_Executesql @SQL
				
				--Select * from  #AllRecords_OfClientsInternal

			  ;WITH CTE_Records 
				AS (
							SELECT	CompanyID,ClientID,AddedDate,CompanyName,WebSite,ClientName,ClientEmail,GEO,GID,POC,POCID,AM_SalesPersonID,AM_UserName,Status,
									StatusColor,InputSource,TotalCountID,SourceCategory,CompanyTypeID,AnotherCompanyTypeID,CompanyModel,CreditUtilization,
									CompanyCategory,InviteName,InviteDate,SSO_Login,IsActive,IsGSpaceCreated,AccessType
							FROM	#AllRecords_OfClientsInternal

							UNION ALL

							SELECT  0 as CompanyID, 0 as ClientID,
									CreatedDateTime as AddedDate, 
									CompanyName,'' as WebSite, ClientName, ClientEmail, '' as GEO,0 as GID ,
									'' as POC,'0' as POCID,0 as AM_SalesPersonID,'' as AM_UserName,
									'' as Status,'Maroon' as StatusColor,'' as InputSource,1 as TotalCountID,
									'Enquiry Only' as SourceCategory,'' as CompanyTypeID,
									'' as  AnotherCompanyTypeID,'' as CompanyModel,
									'' as CreditUtilization,'' as CompanyCategory,'' as InviteName, '' as InviteDate,'' as SSO_Login
									,IsActive = 'no',IsGSpaceCreated = 0,'' as AccessType
							FROM	gen_Clientenquiry_Data CD WITH(NOLOCK) 
							WHERE   CompanyID Is null And 
									Not Exists(select 1 from gen_EMailIds_With_NonEnterprise_Lists EW WITH(NOLOCK) WHERE EW.EmailID = CD.ClientEmail or lower(EW.ClientName) = lower(CD.ClientName))
									and Not Exists(select 1 from gen_contact C WITH(NOLOCK) WHERE C.EmailID = CD.ClientEmail or lower(C.FullName) = lower(CD.ClientName))
									AND (CompanyName LIKE '%' + CONVERT(nvarchar,@searchText) + '%' 
										  OR ClientName LIKE '%' + CONVERT(nvarchar,@searchText) + '%'
										  OR ClientEmail LIKE '%' + CONVERT(nvarchar,@searchText) + '%'						       
										  )

							UNION ALL

							SELECT 0 as CompanyID, 0 as ClientID,
							CreatedDateTime as AddedDate, 
							CompanyName, '' as WebSite, ClientName,EmailID as ClientEmail, '' as GEO,0 as GID,
							'' as POC,'0' as POCID,0 as AM_SalesPersonID,'' as AM_UserName,
							'' as Status,'Violate' as StatusColor,'' as InputSource,1 as TotalCountID,
							'Not a Enterprise Email' as SourceCategory , '' as CompanyTypeID,
							'' as  AnotherCompanyTypeID,'' as CompanyModel,
							'' as CreditUtilization, '' as CompanyCategory,'' as InviteName, '' as InviteDate,'' as SSO_Login
							,IsActive = 'no',IsGSpaceCreated = 0, '' AS AccessType
							FROM  gen_EMailIds_With_NonEnterprise_Lists WITH(NOLOCK) 
							WHERE  CompanyID Is null  AND (CompanyName LIKE '%' + CONVERT(nvarchar,@searchText) + '%' 
										  OR ClientName LIKE '%' + CONVERT(nvarchar,@searchText) + '%'
										  OR EmailID LIKE '%' + CONVERT(nvarchar,@searchText) + '%'						       
										  )
				),
				Cte_TotalCount AS(Select Count(1) AS TotalRecords,1 AS TotalCountID FROM CTE_Records
				)
				SELECT	CompanyID, ClientID,AddedDate,CompanyName, WebSite, ClientName, ClientEmail, GEO,GID,
						POC,POCID, AM_SalesPersonID, AM_UserName, Status, StatusColor, InputSource, T.TotalRecords,SourceCategory,CompanyTypeID,AnotherCompanyTypeID,CompanyModel,CreditUtilization,CompanyCategory,InviteName,InviteDate=IIF(InviteDate='1900-01-01 00:00:00.000',null,InviteDate),'' as SSO_Login
						,IsActive,IsGSpaceCreated,AccessType
				INTO	#AllRecords_OfClients
				FROM	CTE_Records U INNER JOIN Cte_TotalCount T ON T.TotalCountID = U.TotalCountID 
				where	1=1 

				--select * from #AllRecords_OfClients

				SET @MainSQL= 'SELECT	CompanyID, ClientID,
										Isnull(CONVERT(varchar(15), ISNULL(AddedDate, ''''), 103) + '' ''  + convert(VARCHAR(8), AddedDate, 14),'''') AddedDate,
										CompanyName, WebSite, ClientName, ClientEmail, GEO,GID,
										POC,POCID, AM_SalesPersonID, AM_UserName, Status, StatusColor, InputSource, TotalRecords,SourceCategory,CompanyModel,CreditUtilization,CompanyCategory,InviteName, 
										Isnull(CONVERT(varchar(15), ISNULL(InviteDate, ''''), 103) + '' ''  + convert(VARCHAR(8), InviteDate, 14),'''')  InviteDate, SSO_Login
										,IsActive,cast(IsGSpaceCreated as bit) as IsGSpaceCreated, AccessType
								FROM	#AllRecords_OfClients
								where 1 = 1  ' + @WhereClauseSQL+ @WhereClauseSQL4 + @WhereClauseSQL3 + @WhereClauseSQL2 + @WhereClauseSQL5 + ''

				print @MainSQL

				set   @Total_Records = 'Update #AllRecords_OfClients SET TotalRecords = (select Count(1) from #AllRecords_OfClients
									    WHERE 1 = 1  ' + @WhereClauseSQL + @WhereClauseSQL4 + @WhereClauseSQL3 + @WhereClauseSQL2 + @WhereClauseSQL5 + ')'
					
				EXECUTE sp_executesql @Total_Records

				If @SortExpression = 'AddedDate'
				BEGIN
					SET @MainSQL += ' ORDER BY cast(' + @SortExpression + ' as datetime) ' + @SortDirection
									
				END
				ELSe 
					SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

				IF(@PageSize>0)
					BEGIN
						SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
										FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY';
					END

		PRINT(@MainSQL)
		EXECUTE sp_executesql @MainSQL

		DROP TABLE #AllRecords_OfClientsInternal

		--Drop temp tables
		IF OBJECT_ID('tempdb..#CompanyStatusTbl') IS NOT NULL
		DROP TABLE #CompanyStatusTbl;	
		IF OBJECT_ID('tempdb..#GEO_Tbl') IS NOT NULL
		DROP TABLE #GEO_Tbl;
		IF OBJECT_ID('tempdb..#Source_Tbl') IS NOT NULL
		DROP TABLE #Source_Tbl;
		IF OBJECT_ID('tempdb..#Category_Tbl') IS NOT NULL
		DROP TABLE #Category_Tbl;
		IF OBJECT_ID('tempdb..#POC_Tbl') IS NOT NULL
		DROP TABLE #POC_Tbl;
		IF OBJECT_ID('tempdb..#HRContactTbl') IS NOT NULL
		DROP TABLE #HRContactTbl;
		IF OBJECT_ID('tempdb..#ContactPOCTbl') IS NOT NULL
		DROP TABLE #ContactPOCTbl;
END
