ALTER PROCEDURE [dbo].[Sproc_Insert_Talent_PayOut_Summary]
	@TalentId				   bigint = null,
	@Contact_Id				   bigint = null,
	@Onboard_Id				   bigint = null,
	@Hiring_Request_ID		   bigint = null,
	@Hiring_RequestDetail_Id   bigint = null,
	@Contract_StartDate		   datetime = null,
	@Contract_EndDate		   datetime = null,
	@Invoice_Total			   decimal(18,2) = null,
	@ExchangeRate			   decimal(18,2) =NULL,
	@Currency			       Nvarchar(50) = NULL
AS
BEGIN
		
		DECLARE @DayDiff as Int = 0
		DEclare @DaysInMonth as Int = 0
		
		DECLARE @ProRata_Count AS INT = 1
		DECLARE @Prorata_Months AS INT = 1
		DECLARE @NextInvocieDate as datetime 
		DECLARE @EndInvocieDate  as datetime 
		Declare @Invoice_Number As nvarchar(50)
		DECLARE @RecurringCost as decimal(18,2) = 0
		DECLARE @Talent_RecurringCost as decimal(18,2) = 0
		DECLARE @PerDaySubtotal as decimal(18,2) = 0
		DECLARE @Talent_PerDaySubtotal as decimal(18,2) = 0
		DECLARE @CreatedbyID as int=0
		Declare @NR_Percentage as decimal(18,2) = 0
		
		DECLARE @TSC_PersonID as int=0
		DECLARE @TSCEditReason as nvarchar(2000) 

		DECLARE @AM_SalesPersonID as int=0
		DECLARE @ContractType as varchar(50)= ''

		

		SELECT @Invoice_Number = Replace(OBT.EngagemenID,'EN','UCT')
			  , @CreatedbyID = OBT.CreatedByID
			  , @NR_Percentage = ISNULL(OBT.NRPercentage,0)
			  , @RecurringCost = case when isnull(OBT.DPAmount,0) >0 AND isnull(OBT.NRPercentage,0) =0 THEN isnull(OBT.DPAmount,0)  ELSE Isnull(OBT.Final_HR_Cost,0) END
			  , @Talent_RecurringCost = isnull(OBT.Talent_Cost,0)
			  , @TSC_PersonID = OBT.TSC_PersonID
			  , @TSCEditReason = TSCEditReason
			  , @AM_SalesPersonID = case when isnull(C.AM_SalesPersonID,0) >0 then isnull(C.AM_SalesPersonID,0) ELSE OBT.AM_SalesPersonID END
		FROM   gen_OnBoardTalents OBT WITH(NOLOCK)
		       INNER JOIN gen_Contact CO WITH(NOLOCK) ON OBT.ContactID = CO.CompanyID
			   INNER JOIN gen_Company C WITH(NOLOCK) ON C.ID = CO.CompanyID
		WHERE  OBT.ID = @Onboard_Id

		SELECT @ContractType = isnull(ContractType,H.Availability)
		from gen_OnBoardClientContractDetails OBC with(nolock) 
		     inner join gen_OnBoardTalents OBT with(nolock) ON OBC.OnBoardID= OBT.ID
			 inner join gen_SalesHiringRequest  H with(nolock) ON H.ID= OBT.HiringRequest_ID
		where OBC.OnBoardID = @Onboard_Id

		

		--select @RecurringCost = Isnull(NextMonthCost,0), @Talent_RecurringCost = isnull(TalentPayOut,0)
	 --   from gen_OnBoardClientInvoiceSummary WITH(NOLOCK)
	 --   where OnBoardID = @Onboard_Id

		--select @RecurringCost = Isnull(Final_HR_Cost,0), @Talent_RecurringCost = isnull(Talent_Cost,0)
	 --   from	gen_OnBoardTalents WITH(NOLOCK)
	 --   where  ID = @Onboard_Id

		Declare @LastMonth_Start_Date as datetime
		SELECT @LastMonth_Start_Date =  DATEADD(month, DATEDIFF(month, 0, @Contract_EndDate), 0)

		SELECT @Prorata_Months = DATEDIFF(MONTH, @Contract_StartDate, @Contract_EndDate) + 1

		print 'Sproc_Insert_Talent_PayOut_Summary'

		print '@RecurringCost = BR : '+ cast(@RecurringCost as nvarchar(50))
		print '@Talent_RecurringCost = PR : '+ cast(@Talent_RecurringCost as nvarchar(50))

		print @Contract_StartDate
		print @Contract_EndDate
		print @LastMonth_Start_Date
		print @Invoice_Total
		print @RecurringCost
        print @Prorata_Months
		
		
					While(@ProRata_Count <= @Prorata_Months)
						BEGIN
						    print '-----------------------------'
							print @ProRata_Count
							IF @ProRata_Count = 1
								BEGIN
									SET @NextInvocieDate = @Contract_StartDate

									print 'first Invoice @ProRata_Count : '+ cast(@ProRata_Count as nvarchar(50))
									print '@NextInvocieDate : '+ cast(@NextInvocieDate as nvarchar(50))

								
									SELECT @EndInvocieDate = DATEADD(month, ((YEAR(@NextInvocieDate) - 1900) * 12) + MONTH(@NextInvocieDate), -1)

									SELECT @DaysInMonth = DAY(DATEADD(DD,-1,DATEADD(mm, DATEDIFF(mm, 0, @NextInvocieDate) + 1, 0)))														
														
									SET @DayDiff = DATEDIFF(d,@NextInvocieDate,@EndInvocieDate) + 1

									print '@DayDiff : '+ cast(@DayDiff as nvarchar(50))

									SET @PerDaySubtotal = ((@RecurringCost / (1 * @DaysInMonth)) * @DayDiff)
									SET @Talent_PerDaySubtotal = ((@Talent_RecurringCost / (1 * @DaysInMonth)) * @DayDiff)
									
									print '@PerDaySubtotal : '+ cast(@PerDaySubtotal as nvarchar(50))
									print '@Talent_PerDaySubtotal : '+ cast(@Talent_PerDaySubtotal as nvarchar(50))

								    IF NOT EXISTS(SELECT 1 FROM gen_PayOut_Information WITH(NOLOCK) WHERE 
												 ClientInvoiceDate = @NextInvocieDate	and	TalentID = @TalentId and ContactID = @Contact_Id and OnBoardID = @Onboard_Id)
										BEGIN
											Insert 
											Into	gen_PayOut_Information 
													(   ContactID,TalentID,HiringRequest_ID,HiringRequestDetail_ID,OnBoardID,InvoiceNumber,PayOutDate,
														TotalDaysinMonth,CurrencyExchangeRate,CurrencyExcahangeDate,CurrencyExchangeCode,TDS,
														Actual_Bill_Rate,Actual_pay_Rate,Actual_NR_Percentage,

														Client_ProRataAmount,Client_PayOutAmount,Client_FinalPayOutAmount,PerDayClientCost,										
														Talent_ProRataAmount,Talent_ProRataAmount_INR,PayOutAmount,PaymentInINR,Talent_FinalPayOutInINR,PerDayTalentCost_INR,
																			
														IsProRataMonth,ClientInvoiceDate,ClientPayOutStatus,PayOutStatus,CreatedByID,CreatedByDatetime,Talent_CurrencyCode,TSC_PersonID,TSCEditReason
														,AM_SalesPersonID,ContractType
													)
											Values(   @Contact_Id,@TalentID,@Hiring_Request_ID,@Hiring_RequestDetail_Id,@OnBoard_ID,@Invoice_Number + '_1',dbo.GetFifthWorkingDay(@NextInvocieDate),
													  @DayDiff,@ExchangeRate,GETDATE(),@Currency,0,
													  @PerDaySubtotal,@Talent_PerDaySubtotal,@NR_Percentage,

													  @PerDaySubtotal,@Invoice_Total,@Invoice_Total,@PerDaySubtotal,
													  @Talent_PerDaySubtotal,isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),@Talent_RecurringCost,isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),	isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),
																			
													  1,@NextInvocieDate,1,1,@CreatedbyID,GETDATE(),@Currency,@TSC_PersonID,@TSCEditReason
													  ,@AM_SalesPersonID ,@ContractType
												  )
										END
										ELSE
										BEGIN
												print 'ELSE of ProRate First Month'
												update gen_PayOut_Information SET 	

																			Client_ProRataAmount = @PerDaySubtotal,
																			Client_PayOutAmount = @Invoice_Total,
																			Client_FinalPayOutAmount = @Invoice_Total,
																			PerDayClientCost = @PerDaySubtotal,

																			Talent_ProRataAmount = @Talent_PerDaySubtotal,
																			Talent_ProRataAmount_INR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),
																			PayOutAmount = @Talent_RecurringCost,
																			PaymentInINR = isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			Talent_FinalPayOutInINR = isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			PerDayTalentCost_INR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),

																			Actual_pay_Rate = @Talent_PerDaySubtotal,
																			Actual_Bill_Rate = @PerDaySubtotal,
																			Actual_NR_Percentage = @NR_Percentage,
																			CurrencyExchangeCode = @Currency,
																			Talent_CurrencyCode = @Currency

												where ClientInvoiceDate = @NextInvocieDate	and	TalentID = @TalentId and ContactID = @Contact_Id and OnBoardID = @Onboard_Id
																	
										END

								END
							ELSE IF @ProRata_Count > 1 and @ProRata_Count <> @Prorata_Months
								BEGIN
									print 'Middile Invoice @ProRata_Count : '+ cast(@ProRata_Count as nvarchar(50))
									SET @NextInvocieDate = DateAdd(M,@ProRata_Count - 1,@Contract_StartDate)														
									SELECT @NextInvocieDate = @NextInvocieDate - DAY(@NextInvocieDate)+1

									print '@NextInvocieDate : '+ cast(@NextInvocieDate as nvarchar(50))
									
									SELECT @EndInvocieDate = DATEADD(month, ((YEAR(@NextInvocieDate) - 1900) * 12) + MONTH(@NextInvocieDate), -1)

									SELECT @DaysInMonth = DAY(DATEADD(DD,-1,DATEADD(mm, DATEDIFF(mm, 0, @NextInvocieDate) + 1, 0)))														
														
									SET @DayDiff = DATEDIFF(d,@NextInvocieDate,@EndInvocieDate) + 1

									print '@DaysInMonth : '+ cast(@DaysInMonth as nvarchar(50))
									print '@DayDiff : '+ cast(@DayDiff as nvarchar(50))

									SET @PerDaySubtotal  = ((@RecurringCost / (1 * @DaysInMonth)) * @DayDiff)
									SET @Talent_PerDaySubtotal = ((@Talent_RecurringCost / (1 * @DaysInMonth)) * @DayDiff)

									IF NOT EXISTS(SELECT 1 FROM gen_PayOut_Information WITH(NOLOCK) WHERE 
												 ClientInvoiceDate = @NextInvocieDate	and	TalentID = @TalentId and ContactID = @Contact_Id and OnBoardID = @Onboard_Id)
										BEGIN
											Insert 	Into	gen_PayOut_Information (		
																			ContactID,
																			TalentID,
																			HiringRequest_ID,
																			HiringRequestDetail_ID,
																			OnBoardID,
																			InvoiceNumber,
																			PayOutDate,
																			--PayOutAmount,
																			TotalDaysinMonth,																			
																			CurrencyExchangeRate,
																			CurrencyExcahangeDate,
																			CurrencyExchangeCode,
																			--PaymentInINR,
																			TDS,

																			--Client_ProRataAmount,
																			Client_PayOutAmount,
																			--Talent_ProRataAmount,
																			--Talent_ProRataAmount_INR,
																			PayOutAmount,
																			PaymentInINR,
																			Talent_FinalPayOutInINR,
																			Client_FinalPayOutAmount,
																			PerDayClientCost,
																			PerDayTalentCost_INR,
																			ClientInvoiceDate,
																			ClientPayOutStatus,
																			PayOutStatus,
																			CreatedByID,
																			CreatedByDatetime,
																			Actual_Bill_Rate,
																			Actual_pay_Rate,
																			Actual_NR_Percentage,
																			Talent_CurrencyCode,
																			TSC_PersonID,
																			TSCEditReason
																			,AM_SalesPersonID,ContractType
																		)
																Values(
																			@Contact_Id,
																			@TalentID,
																			@Hiring_Request_ID,
																			@Hiring_RequestDetail_Id,
																			@OnBoard_ID,
																			@Invoice_Number + '_' + CAST(@ProRata_Count as nvarchar(5)),
																			dbo.GetFifthWorkingDay(@NextInvocieDate),--@NextInvocieDate,
																			--@RecurringCost,
																			@DayDiff,
																			@ExchangeRate,
																			GETDATE(),
																			@Currency,
																			--isnull(@Invoice_Total,0) * isnull(@ExchangeRate,0),
																			0,
																																						
																			@RecurringCost,
																			@Talent_RecurringCost,
																			isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			@RecurringCost,
																			@PerDaySubtotal,
																			isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),
																			@NextInvocieDate,
																			1,
																			1,
																			@CreatedbyID,
																			GETDATE(),
																			@RecurringCost,
																			@Talent_RecurringCost,
																			@NR_Percentage,
																			@Currency,
																			@TSC_PersonID,
																			@TSCEditReason
																			,@AM_SalesPersonID ,@ContractType
																	)
										END
										ELSE
										BEGIN
												print 'ELSE of Recurring Month'
												update gen_PayOut_Information SET
																		
																			
																			
																			Client_PayOutAmount = @RecurringCost,
																			Client_FinalPayOutAmount = @RecurringCost,
																			PerDayClientCost  = @PerDaySubtotal,

																			
																			Talent_ProRataAmount_INR = isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			PayOutAmount = @Talent_RecurringCost,
																			PaymentInINR = isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			Talent_FinalPayOutInINR = isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			
																			PerDayTalentCost_INR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),

																			Actual_Bill_Rate = @RecurringCost,
																			Actual_pay_Rate = @Talent_RecurringCost,
																			Actual_NR_Percentage = @NR_Percentage,
																			CurrencyExchangeCode = @Currency,
																			Talent_CurrencyCode = @Currency

												where ClientInvoiceDate = @NextInvocieDate	and	TalentID = @TalentId and ContactID = @Contact_Id and OnBoardID = @Onboard_Id
												
										END 
								END
							ELSE IF @ProRata_Count = @Prorata_Months
								BEGIN
										print 'Last Invoice @ProRata_Count : '+ cast(@ProRata_Count as nvarchar(50))

										SELECT @DaysInMonth = DAY(DATEADD(DD,-1,DATEADD(mm, DATEDIFF(mm, 0, @LastMonth_Start_Date) + 1, 0)))	
										SET @DayDiff = DATEDIFF(d,@LastMonth_Start_Date,@Contract_EndDate) + 1

										print '@RecurringCost : '+ cast(@RecurringCost as nvarchar(50))
										print '@Talent_RecurringCost : '+ cast(@Talent_RecurringCost as nvarchar(50))
										print '@DaysInMonth : '+ cast(@DaysInMonth as nvarchar(50))

										SET @PerDaySubtotal = ((@RecurringCost / (1 * @DaysInMonth)) * @DayDiff)
										SET @Talent_PerDaySubtotal = ((@Talent_RecurringCost / (1 * @DaysInMonth)) * @DayDiff)
											
										
										print '@DayDiff : '+ cast(@DayDiff as nvarchar(50))
										print '@PerDaySubtotal : '+ cast(@PerDaySubtotal as nvarchar(50))
										print '@Talent_PerDaySubtotal : '+ cast(@Talent_PerDaySubtotal as nvarchar(50))
										

										IF NOT EXISTS(SELECT 1 FROM gen_PayOut_Information WITH(NOLOCK) WHERE 
														 ClientInvoiceDate = @LastMonth_Start_Date	and	TalentID = @TalentId and ContactID = @Contact_Id and OnBoardID = @Onboard_Id)
												BEGIN
													Insert 
													Into	gen_PayOut_Information 
															(   ContactID,TalentID,HiringRequest_ID,HiringRequestDetail_ID,OnBoardID,InvoiceNumber,PayOutDate,
																TotalDaysinMonth,CurrencyExchangeRate,CurrencyExcahangeDate,CurrencyExchangeCode,TDS
																,Actual_Bill_Rate,Actual_pay_Rate,Actual_NR_Percentage,

																Client_ProRataAmount,Client_PayOutAmount,Client_FinalPayOutAmount,PerDayClientCost,										
																Talent_ProRataAmount,Talent_ProRataAmount_INR,PayOutAmount,PaymentInINR,Talent_FinalPayOutInINR,PerDayTalentCost_INR,
																			
																IsProRataMonth,ClientInvoiceDate,ClientPayOutStatus,PayOutStatus,CreatedByID,CreatedByDatetime,Talent_CurrencyCode,TSC_PersonID,TSCEditReason
																,AM_SalesPersonID,ContractType

															)
													Values(   @Contact_Id,@TalentID,@Hiring_Request_ID,@Hiring_RequestDetail_Id,@OnBoard_ID,@Invoice_Number + '_' + CAST(@ProRata_Count as nvarchar(5)),dbo.GetFifthWorkingDay(@LastMonth_Start_Date),
															  @DayDiff,@ExchangeRate,GETDATE(),@Currency,0,
															  @PerDaySubtotal,@Talent_PerDaySubtotal,@NR_Percentage,

															  @PerDaySubtotal,@Invoice_Total,@Invoice_Total,@PerDaySubtotal,
															  @Talent_PerDaySubtotal,isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),@Talent_RecurringCost,isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),	isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),
																			
															  1,@LastMonth_Start_Date,1,1,@CreatedbyID,GETDATE(),@Currency,@TSC_PersonID,@TSCEditReason
															  ,@AM_SalesPersonID ,@ContractType
														  )
												
												END
												ELSE
										BEGIN
												print 'ELSE of ProRate Last Month'
																								
												update gen_PayOut_Information SET 
																			Client_ProRataAmount = @PerDaySubtotal,
																			Client_PayOutAmount = @Invoice_Total,
																			Client_FinalPayOutAmount = @Invoice_Total,

																			Talent_ProRataAmount = @Talent_PerDaySubtotal,
																			Talent_ProRataAmount_INR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),
																			PayOutAmount = @Talent_RecurringCost,
																			PaymentInINR = isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			Talent_FinalPayOutInINR = isnull(@Talent_RecurringCost,0) * isnull(@ExchangeRate,0),
																			
																			PerDayClientCost = @PerDaySubtotal,
																			PerDayTalentCost_INR = isnull(@Talent_PerDaySubtotal,0) * isnull(@ExchangeRate,0),

																			Actual_Bill_Rate = @PerDaySubtotal,
																			Actual_pay_Rate = @Talent_PerDaySubtotal,
																			Actual_NR_Percentage = @NR_Percentage,
																			CurrencyExchangeCode = @Currency,
																			Talent_CurrencyCode = @Currency

												where ClientInvoiceDate = @LastMonth_Start_Date and	TalentID = @TalentId and ContactID = @Contact_Id and OnBoardID = @Onboard_Id

												
										END

								END
										


						 SET @ProRata_Count = @ProRata_Count + 1
					END

					
			update P set P.AM_SalesPersonID = OBT.AM_SalesPersonID  
			from gen_Payout_Information P with(UPDLOCK) inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON P.OnBoardID = OBT.ID
			where OBT.AM_SalesPersonID is not null AND isnull(P.AM_SalesPersonID,0) =0  AND OBT.ID =  @Onboard_Id

			update P set P.ContractType =  H.Availability
			from gen_Payout_Information P with(UPDLOCK) inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON P.OnBoardID = OBT.ID
			inner join gen_SalesHiringRequest  H with(nolock) ON H.ID= OBT.HiringRequest_ID
			where isnull(P.ContractType,'') = '' AND OBT.ID =  @Onboard_Id
			
			update P set P.EngagementStatusID =  1
			from gen_Payout_Information P with(UPDLOCK) inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON P.OnBoardID = OBT.ID
			inner join gen_SalesHiringRequest  H with(nolock) ON H.ID= OBT.HiringRequest_ID
			where isnull(P.EngagementStatusID,0) = 0 AND OBT.ID =  @Onboard_Id
					  
END
