ALTER PROCEDURE [dbo].[Sproc_Get_HRIDEngagementID_ForReplacement] 
 @OnBoardId         as bigint = 0
AS
BEGIN

	   DECLARE @CompanyID as bigint = 0

	   --;WITH CTE_CompanyOnBoardDetails AS(  
		   SELECT  C.CompanyId, C.ID AS ContactID , OBT.ID AS EngID, OBT.EngagemenID , OBT.HiringRequest_ID INTO #Temp_CompanyOnBoardDetails
		   from gen_Contact C WITH(nolock)
		   inner join gen_OnBoardTalents OBT with(nolock) ON OBT.ContactID = C.ID
		   WHERE 
		   --OBT.ID = @OnBoardId AND 
		   OBT.Status_ID =1
	   --)

	   --SELECT * FROM #Temp_CompanyOnBoardDetails

	   SELECT TOP 1 @CompanyID = CompanyId 
	   from #Temp_CompanyOnBoardDetails
	   WHERE EngID = @OnBoardId

	   DECLARE @EngHRData TABLE
	   (
		 ID BIGINT,
		 IDvalue NVARCHAR(250),
		 Dropdowntext NVARCHAR(MAX),
		 IsHR BIT
	   )

	   INSERT INTO @EngHRData
	   SELECT * FROM 
       (
			Select ID = H.ID, IDvalue = H.HR_Number,Dropdowntext = H.HR_Number + ' ( '+ isnull(H.RequestForTalent,'') +' )', IsHR = CAST(1 AS BIT) 
			from gen_SalesHiringRequest H with(nolock) 	
			inner join gen_Contact C ON  H.ContactID = C.ID
			where C.CompanyID = @CompanyID AND H.JobStatusID = 1 -- Active HRS are coming in Dropdown
	   
			UNION ALL
	   
		   Select ID = T.EngID, IDvalue = T.EngagemenID,Dropdowntext = T.EngagemenID + ' ( '+ isnull(H.RequestForTalent,'') +' )', IsHR = CAST(0 AS BIT) from gen_SalesHiringRequest H with(nolock) 
		   inner join #Temp_CompanyOnBoardDetails T with(nolock) ON T.HiringRequest_ID = H.ID AND T.ContactID = H.ContactID
		   where T.CompanyID = @CompanyID AND H.JobStatusID = 2 AND H.Status_ID = 3 AND T.EngID != @OnBoardId  -- CLosed HRS + Won are coming in Dropdown
	  ) Q

	  SELECT * FROM @EngHRData

END