USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_AddUpdate_ShortistedTalent_ForCreditFlow_ClientPortal]    Script Date: 16-02-2024 16:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_AddUpdate_ShortistedTalent_ForCreditFlow_ClientPortal]
   @ATSTalentId			bigint = 0,
   @HrId				bigint = 0,
   @StatusID			bigint = 0,
   @GUID				Nvarchar(50) = null,
   @IsMyList			bit = 0,
   @IsUnLock			bit = 0,
   @ProfileCredit		decimal(18,2) = 0,
   @IsVetted			bit = 0
AS
BEGIN
		Declare @CreditOptionID as int = 0
		If @IsVetted = 1
			SET @CreditOptionID = 2
		ELse 
			SET @CreditOptionID = 3

		select @ProfileCredit = CreditUsed
		from   prg_CreditOption_ClientPortal WITH(NOLOCK)
		Where  ID = @CreditOptionID
	
		IF Not Exists(Select 1 from gen_CRCTP_ShortlistedTalents_ClientPortal With(Nolock) where HRID = @HrId and ATS_TalentID = @ATSTalentId and GUID = @GUID)
			BEGIN
					Insert into gen_CRCTP_ShortlistedTalents_ClientPortal(ATS_TalentID,HRID,GUID,StatusID,StatusChangeDateTime,IsVetted,ProfileCredit)
					Values(@ATSTalentId,@HrId,@GUID,1,Getdate(),@IsVetted,@ProfileCredit)				
			ENd
		ELSE
			BEGIN
					UPDATE gen_CRCTP_ShortlistedTalents_ClientPortal
					SET    IsMyList = Isnull(@IsMyList,IsMyList),
						   MyListDateTime = case when Isnull(@IsMyList,0) <> 0 then GETDATE() else MyListDateTime end,
						   StatusID = Isnull(@StatusID,StatusID),
						   StatusChangeDateTime = case when Isnull(@StatusID,0) <> 0 then GETDATE() else StatusChangeDateTime end
					Where  HRID = @HrId and ATS_TalentID = @ATSTalentId and GUID = @GUID
			END
		
		Select   IsMyList = cast(Isnull(IsMyList,0) as int),
				 IsUnLock = cast(Isnull(IsUnLock,0) as int),
				 StatusID = Isnull(StatusID,0),
				 ATS_TalentID = ATS_TalentID,
				 ProfileCredit = Isnull(ProfileCredit,0)
		from     gen_CRCTP_ShortlistedTalents_ClientPortal With(Nolock) 
		where	 HRID = @HrId and ATS_TalentID = @ATSTalentId and GUID = @GUID
END