ALTER PROCEDURE [dbo].[sproc_Update_HRDetails_From_Special_User]
@HR_ID BIGINT NULL,
@HRDetail_ID BIGINT NULL,
@LoggedInUserID BIGINT = NULL
AS
BEGIN	
	
	BEGIN --Currency Region
	----------------UPDATE THE CURRENCY RELATED LOGIC START ---------------------
	 DECLARE @CurrencyExchangeRate DECIMAL(18,2) = 0,
			 @Currency NVARCHAR(50) ='',
			 @CurrencySign NVARCHAR(50)= '',
			 @OriginalCurrencySign NVARCHAR(50) = '',
			 @CostStr NVARCHAR(200) = '',
			 @OriginalCurrencyCode NVARCHAR(50) = '',
			 @OnBoardID BIGINT,
			 @CurrencyID BIGINT

	SELECT TOP 1 
	@CurrencySign = CurrencySign,
	@CurrencyExchangeRate = ExchangeRate, 
	@Currency = isnull(Currency,'USD'),
	@CurrencyID = CER.ID
	FROM prg_CurrencyExchangeRate CER WITH(NOLOCK)
			INNER JOIN gen_SalesHiringRequest_Details SD with(nolock) ON CER.CurrencyCode = SD.Currency 
	 WHERE	SD.ID = @HRDetail_ID

	 If @Currency = 'INR'
		 SET @CurrencySign = NCHAR(8377)	

	--Update the gen_ContactTalentPriority table with the latest currency---
	IF EXISTS(SELECT 1 FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HR_ID AND HiringRequest_Detail_ID = @HRDetail_ID )
		BEGIN
				SELECT TOP 1 
				@OriginalCurrencySign = CurrencySign,
				@CostStr = HR_Cost,
				@OriginalCurrencyCode = Talent_CurrencyCode
				FROM prg_CurrencyExchangeRate CER WITH(NOLOCK)
						INNER JOIN gen_ContactTalentPriority CTP with(nolock) ON CER.CurrencyCode = CTP.Talent_CurrencyCode 
				 WHERE HiringRequestID = @HR_ID AND HiringRequest_Detail_ID = @HRDetail_ID	
				 
				 SET @CostStr = REPLACE(@CostStr, @OriginalCurrencySign, @CurrencySign)
				 SET @CostStr = REPLACE(@CostStr, @OriginalCurrencyCode, @Currency)
				
				UPDATE gen_ContactTalentPriority SET
					Talent_CurrencyCode = @Currency,
					ExchangeRate = @CurrencyExchangeRate,
					HR_Cost = @CostStr,
					ModifiedByID = @LoggedInUserID,
					ModifiedByDatetime = GETDATE()
				WHERE HiringRequestID = @HR_ID AND HiringRequest_Detail_ID = @HRDetail_ID
		END


	--------------- Update the Onboarding information-----------------
	IF EXISTS(SELECT 1 FROM gen_OnBoardTalents WITH(NOLOCK) WHERE HiringRequest_ID = @HR_ID AND HiringRequest_Detail_ID = @HRDetail_ID )
		BEGIN			
		
				SELECT TOP 1 
				@OriginalCurrencySign = CurrencySign,
				@CostStr = TalentFeesStr,
				@OriginalCurrencyCode = Talent_CurrencyCode,
				@OnBoardID = OBT.ID
				FROM prg_CurrencyExchangeRate CER WITH(NOLOCK)
						INNER JOIN gen_OnBoardTalents OBT with(nolock) ON CER.CurrencyCode = OBT.Talent_CurrencyCode 
				 WHERE HiringRequest_ID = @HR_ID AND HiringRequest_Detail_ID = @HRDetail_ID	
				 
				 SET @CostStr = REPLACE(@CostStr, @OriginalCurrencySign, @CurrencySign)
				 SET @CostStr = REPLACE(@CostStr, @OriginalCurrencyCode, @Currency)
				
				UPDATE gen_OnBoardTalents SET
					Talent_CurrencyCode = @Currency,
					Talent_CurrencyExchangeRate = @CurrencyExchangeRate,		
					TalentFeesStr = @CostStr,
					LastModifiedByID = @LoggedInUserID,
					LastModifiedDatetime = GETDATE()
				WHERE HiringRequest_ID = @HR_ID AND HiringRequest_Detail_ID = @HRDetail_ID

				UPDATE gen_OnBoardClientContractDetails SET
					Currency = @Currency,
					LastModifiedByID = @LoggedInUserID,
					LastModifiedDatetime = GETDATE()
				WHERE OnBoardID = @OnBoardID


				UPDATE gen_Payout_Information SET
					Talent_CurrencyCode = @Currency,
					Talent_CurrencyExchangeRate = @CurrencyExchangeRate,
					LastModifiedByID = @LoggedInUserID,
					LastModifiedDatetime = GETDATE()
				WHERE OnBoardID = @OnBoardID AND HiringRequest_ID = @HR_ID AND HiringRequestDetail_ID = @HRDetail_ID 
		END


	END


END
