--EXEC [Sproc_ValidateAddPayPerCreditClient] '','Uplers',11590,''
ALTER PROCEDURE [dbo].[Sproc_ValidateAddPayPerCreditClient]
	@WORKEMAIL			NVARCHAR(200) = NULL,--client email
	@COMPANY			NVARCHAR(200) = NULL,--Company name 
	@CurrentCompanyID	BIGINT		  = NULL, --in company edit mode pass current Company ID
	@WebsiteURL			NVARCHAR(MAX) = NULL  --need to validate Website url
AS
BEGIN

	Declare @ContactID as bigint = 0, 
			@Contact_CompanyID as bigint = 0; --added for find out companyid from contactid
	Declare @CompanyID as bigint = 0, 
			@WebsiteUrlCompanyID as bigint = 0; -- added for find out companyid from websiteUrl
	Declare @CompanyName as NVARCHAR(200) = ''
	Declare @WorkEmailName as NVARCHAR(200) = ''
	Declare @AnotherCompanyTypeID as int = 0
	Declare @CompanyTypeID as int = 0

	IF EXISTS(
    SELECT 1 
    FROM GEN_CONTACT WITH (NOLOCK) 
    WHERE LOWER(LTRIM(RTRIM(EMAILID))) = LOWER(LTRIM(RTRIM(@WORKEMAIL)))
	)
	BEGIN
		SELECT TOP 1 
			@ContactID = ID, 
			@WorkEmailName = EMAILID, 
			@Contact_CompanyID = CompanyID  
		FROM GEN_CONTACT WITH (NOLOCK) 
		WHERE LOWER(LTRIM(RTRIM(EMAILID))) = LOWER(LTRIM(RTRIM(@WORKEMAIL))) 
		  AND CompanyID > 0 
		ORDER BY ID DESC
	END

	IF EXISTS(
    SELECT 1 
    FROM gen_company WITH (NOLOCK) 
    WHERE LOWER(LTRIM(RTRIM(Company))) = LOWER(LTRIM(RTRIM(@COMPANY)))
	)
	BEGIN
		SELECT 
			@CompanyID = ID, 
			@CompanyName = Company, 
			@AnotherCompanyTypeID = AnotherCompanyTypeID, 
			@CompanyTypeID = CompanyTypeID  
		FROM gen_company WITH (NOLOCK) 
		WHERE LOWER(LTRIM(RTRIM(Company))) = LOWER(LTRIM(RTRIM(@COMPANY)))
	END

	--Need to validate WebsiteURL if it is not null or blank
	IF ISNULL(@WebsiteURL,'') <> '' 
	BEGIN
		IF EXISTS(SELECT 1 FROM gen_company WITH(NOLOCK) WHERE LOWER(LTRIM(RTRIM(Website)))  = LOWER(LTRIM(RTRIM(@WebsiteURL))))
		BEGIN
			SELECT @WebsiteUrlCompanyID = ID, @CompanyName = Company  from  gen_company with(nolock) where LOWER(LTRIM(RTRIM(Website)))  = LOWER(LTRIM(RTRIM(@WebsiteURL)))
		END
		--while add new company, website is not exist in db
		IF ISNULL(@CurrentCompanyID,0) = 0 AND ISNULL(@WebsiteUrlCompanyID,0) = 0
		BEGIN
			SELECT 200 AS STATUS,'Company Website Url Validated' AS RESULT, @CurrentCompanyID AS CompanyID
		ENd
		--while add new company, website is exist in db
		IF ISNULL(@CurrentCompanyID,0) = 0 AND ISNULL(@WebsiteUrlCompanyID,0) > 0
		BEGIN
			SELECT 400 AS STATUS,'This website is already associated with ' + @CompanyName + ' Company' AS RESULT, @WebsiteUrlCompanyID AS CompanyID
		ENd
		--while edit company, website is not exist in db
		IF ISNULL(@CurrentCompanyID,0) > 0 AND  ISNULL(@WebsiteUrlCompanyID,0) > 0 AND @CurrentCompanyID = @WebsiteUrlCompanyID
		BEGIN
			SELECT 200 AS STATUS,'Company Website Url Validated' AS RESULT, @CurrentCompanyID AS CompanyID
		ENd
		--while edit company, website changes, which is not exist in db
		IF ISNULL(@CurrentCompanyID,0) > 0 AND  ISNULL(@WebsiteUrlCompanyID,0) = 0 
		BEGIN
			SELECT 200 AS STATUS,'Company Website Url Validated' AS RESULT, @CurrentCompanyID AS CompanyID
		ENd
		--while edit company, website is exist in db
		IF ISNULL(@CurrentCompanyID,0) > 0 AND  ISNULL(@WebsiteUrlCompanyID,0) > 0 AND @CurrentCompanyID <> @WebsiteUrlCompanyID
		BEGIN
			--SELECT 400 AS STATUS,'This website is already associated with ' + @CompanyName + ' Company' AS RESULT, @WebsiteUrlCompanyID AS CompanyID
			SELECT 200 AS STATUS,'Company Website Url Validated' AS RESULT, @CurrentCompanyID AS CompanyID
		ENd
	END


	--in this case, only company needs to be validate
	IF ISNULL(@WORKEMAIL,'') = '' AND ISNULL(@WebsiteURL,'') = '' 
	BEGIN
		--when in edit mode company name changes & companyname not exist in any other company id
		IF ISNULL(@CurrentCompanyID,0) > 0 AND @CompanyID = 0
		BEGIN
			SELECT 200 AS STATUS,'Company Validated' AS RESULT, @CompanyID AS CompanyID
		END

		--when in add mode enter company name & companyname not exist in any other company id
		IF ISNULL(@CurrentCompanyID,0) = 0 AND @CompanyID = 0 
		BEGIN
			SELECT 200 AS STATUS,'Company Validated' AS RESULT, @CompanyID AS CompanyID
		END

		--when in edit mode company name changes & companyname exist in any other company id
		IF ISNULL(@CurrentCompanyID,0) > 0 AND ISNULL(@CompanyID,0) > 0 AND @CurrentCompanyID <> @CompanyID
		BEGIN
			--SELECT 400 AS STATUS,'Company Name already exist' AS RESULT, @CompanyID AS CompanyID
			SELECT 200 AS STATUS,'Company Validated' AS RESULT, @CurrentCompanyID AS CompanyID
		END

		--when in edit mode company need to verify, n no any changes 
		IF ISNULL(@CurrentCompanyID,0) > 0 AND ISNULL(@CompanyID,0) > 0 AND @CurrentCompanyID = @CompanyID
		BEGIN
			SELECT 200 AS STATUS,'Company Validated' AS RESULT, @CurrentCompanyID AS CompanyID
		END

		--When new company create, but company name already exist in other company Id
		IF ISNULL(@CurrentCompanyID,0) = 0 AND ISNULL(@CompanyID,0) > 0 
		BEGIN
			SELECT 400 AS STATUS,'Company Name already exist' AS RESULT, @CompanyID AS CompanyID
		END
	END

	IF ISNULL(@WORKEMAIL,'') <> ''
	BEGIN
		--add new client, even not exist in db, company even not eixts in db.
		IF(@ContactID = 0 AND @CompanyID = 0 AND @CurrentCompanyID = 0)
		BEGIN		
			SELECT 200 AS STATUS,'Create Company AND Create Contact 200' AS RESULT, @CompanyID AS CompanyID
		END

		--this validation used while sp call from HR level, need to check either company is created or not
		IF ISNULL(@CompanyID,0) > 0 AND ISNULL(@ContactID,0) = 0 AND ISNULL(@CurrentCompanyID,0) = 0
		BEGIN
			SELECT 200 AS STATUS,'Update Company AND CREATE NEw Contact 200' AS RESULT, @CompanyID AS CompanyID
		END

		--client email not exist in same company, so return 200
		IF ISNULL(@CurrentCompanyID,0) > 0 AND ISNULL(@CompanyID,0) > 0 AND @CurrentCompanyID = @CompanyID AND @ContactID = 0
		BEGIN
			SELECT 200 AS STATUS,'Update Company AND CREATE NEw Contact 200' AS RESULT, @CompanyID AS CompanyID
		END
	END

	--Edit Company mode, if we add new client, n already client email exist in db
	IF(@ContactID > 0 AND @Contact_CompanyID > 0 AND @CurrentCompanyID > 0)
		BEGIN	
			--client email already exist in same company, so return 400
			IF @Contact_CompanyID = @CurrentCompanyID 
			BEGIN
				SELECT 400 AS STATUS,'Contact already exists in same Company' AS RESULT, @CompanyID AS CompanyID
			END

			--client email already exist in another company, so return 400
			IF @Contact_CompanyID <> @CurrentCompanyID AND @Contact_CompanyID > 0 AND @CurrentCompanyID > 0
			BEGIN
				IF EXISTS (SELECT top 1 ID FROM  gen_company WITH(NOLOCK) WHERE id = @Contact_CompanyID)
				BEGIN
					SELECT  @CompanyName = Company  FROM  gen_company WITH(NOLOCK) WHERE id = @Contact_CompanyID
					SELECT 400 AS STATUS,'This work email : ' +@WORKEMAIL + ' already registered with "'+ @CompanyName +'" '  AS RESULT, @CompanyID AS CompanyID
				END
				ELSE--client email exist but, map company not exist in db, so give 200
				BEGIN
					SELECT 200 AS STATUS,'Update Company AND CREATE NEw Contact 200' AS RESULT, @CompanyID AS CompanyID
				END
			END
			
		END

		--while create new company, pass company name & contact already exist
		IF(@ContactID > 0 AND @CompanyID > 0  AND @CurrentCompanyID = 0)
		BEGIN
			SELECT 400 AS STATUS,'Company & Contact already exists' AS RESULT, @CompanyID AS CompanyID
		END
		

	--already registered with another company
	IF(@ContactID > 0 AND @CompanyID = 0 AND @CurrentCompanyID = 0)
		BEGIN	
			SELECT  @ContactID = ID , @CompanyID = isnull(CompanyID,0)  from  gen_contact with(nolock) where LOWER(EMAILID)=LOWER(@WORKEMAIL)
			SELECT  @CompanyName=Company  from  gen_company with(nolock) where id=@CompanyID
		
			SELECT 400 AS STATUS,'This work email : ' +@WORKEMAIL + ' already registered with "'+ @CompanyName +'" '  AS RESULT, @CompanyID AS CompanyID
		END
 
	--IF(@ContactID > 0 AND @CompanyID > 0)
	--BEGIN
	--	IF (@AnotherCompanyTypeID = 2 AND @CompanyTypeID = 2)
	--	Begin
	--		SELECT 400 AS STATUS,@WorkEmailName + ' is already registered with ' + @CompanyName + ' Poster Company' AS RESULT, @CompanyID AS CompanyID
	--	ENd
	--	ELSE
	--	BEGIN
	--		SELECT 400 AS STATUS,'Company & Contact already exists' AS RESULT, @CompanyID AS CompanyID
	--	END
	--END
END



