CREATE PROCEDURE [dbo].[Sproc_Delete_Company_PerksDetails]
	@CompanyId		  bigint = 0,
	@CreatedByID	  bigint = 0,
	@AppActionDoneBy  int = 0
AS
BEGIN

	IF EXISTS (SELECT TOP 1 ID FROM gen_Company_PerkDetails WITH(NOLOCK) WHERE CompanyID = @CompanyId)
	BEGIN
		DELETE FROM gen_Company_PerkDetails WHERE CompanyID = @CompanyId
	END
	
END
