ALTER PROCEDURE [dbo].[sproc_UTS_UpdateDPAmountDetails]
	@HR_ID						bigINT = 0,
	@ContactTalentPriorityID	bigINT = 0,
	@DPAmount					decimal(18,2) = 0,
	@DPPercentage				decimal(18,2) = 0,
	@TalentId					bigint = 0,
	@TalentCurrentAmount		decimal(18,2) = 0,
	@TalentCost					decimal(18,2) = 0
AS
BEGIN
   -- Declare @TalentId as bigINT  = NULL;
	
	IF(@ContactTalentPriorityID > 0)
		BEGIN
		          Declare @HiringRequestID as bigint =0
		          Declare @ISHRTypeDP as int = 0
				  Declare @HRCost_calculationpercent AS decimal(18,2) = 0
				  Declare @IsTransparent bit = 0;
				  Declare @HiringTypePricingId INT = 0;
				  Declare @PricingPercent DECIMAL(18,2) =0;
				  Declare @HR_Cost		as nvarchar(100) = ''
				  Declare @CalcHR_Cost AS decimal(18,2) = 0
				  Declare @Currency as nvarchar(50) =''
				  Declare @CurrencySign as nvarchar(50) =''
				  Declare @UplersFeesAmount DECIMAL(18,2) =0

				   SELECT	@HiringRequestID = HiringRequestID
				  from		gen_ContactTalentPriority  WITH(NOLOCK) where id = @ContactTalentPriorityID

		          SELECT	@ISHRTypeDP = Isnull(IsHRTypeDP,0),
							@HRCost_calculationpercent = isnull(TalentCostCalcPercentage,0),							
							@IsTransparent = ISNULL(IsTransparentPricing,0),
							@HiringTypePricingId = ISNULL(HiringTypePricingId,0)
				  from		gen_SalesHiringRequest  WITH(NOLOCK) where id = @HiringRequestID

				  SELECT	@Currency = Isnull(SHD.Currency,''),
							@CurrencySign = case when CurrencyCode = 'INR' then NCHAR(8377) else Isnull(CurrencySign,'$') end

				  from		gen_SalesHiringRequest_Details SHD WITH(NOLOCK) 
				            Inner join prg_CurrencyExchangeRate CER with(nolock) ON Isnull(SHD.Currency,'USD') = CER.CurrencyCode
				  where SHD.HiringRequest_ID = @HiringRequestID
				         
				--print '@PricingPercent : ' + cast(@PricingPercent as varchar(50) )

				IF (@DPPercentage > 0 AND @ISHRTypeDP = 1) ---DP + Transparent Price
				  BEGIN
						--Uplers Fees Calc.
						print 'IF (@DPPercentage > 0 AND @ISHRTypeDP = 1)' 

						--SET @DPPercentage = @PricingPercent
						--SET @DPAmount = ((@TalentCost * 12) * @DPPercentage) / 100

						SELECT 
							@CalcHR_Cost = CalculatedClientPay, 
							@TalentCost = CalculatedTalentPay, 
							@UplersFeesAmount = CalculatedUplersFeesInAmount, 
							@DPPercentage = CalculatedUplersFeesInPer
							FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](@TalentCost, 0, 0, @DPPercentage, 1);

							SET @DPAmount = @UplersFeesAmount

							SET @HR_Cost = @CurrencySign+ CONVERT(varchar, CAST(ISNULL(@CalcHR_Cost,0) AS MONEY), 1) + ' '+ @Currency+' One time Amount'	
				   END

					 print '@DPPercentage : ' + cast(@DPPercentage as varchar(50) )
					 print '@DPAmount : ' + cast(@DPAmount as varchar(50) )
					 print '@ContactTalentPriorityID : ' + cast(@ContactTalentPriorityID as varchar(50) )
			 
	               Update gen_ContactTalentPriority
					Set    
					HR_Cost = @HR_Cost 
					,Final_HR_Cost = @CalcHR_Cost
					,HR_Base_Cost = @CalcHR_Cost
					,Currency_Final_HR_Cost = @CalcHR_Cost
					,Currency_HR_Base_Cost = @CalcHR_Cost,
					DPAmount = @DPAmount,
					UplersfeesAmount = CONVERT(varchar, CAST( @UplersFeesAmount AS MONEY), 1),
					DP_Percentage = @DPPercentage,
	 				IsHRTypeDP = 1,
	 				NRorDPChangeDateTime = GETDATE(),
					NRPercentage = 0,
					Current_CTC = @TalentCurrentAmount,
					TalentCost = @TalentCost
					WHERE	ID = @ContactTalentPriorityID
	 
			 
			 IF (@TalentId > 0 AND @ISHRTypeDP = 1 AND @DPPercentage > 0)
				Begin
						IF exists (select 1 from gen_OnBoardTalents with(nolock) where Talent_ID = @TalentId and HiringRequest_ID = @HR_ID)
							 BEGIN
									Update gen_OnBoardTalents
									Set    DPAmount = @DPAmount
									WHERE  Talent_ID = @TalentId AND HiringRequest_ID = @HR_ID
										   and Kickoff_StatusID <> 5
							 END
				end
			
		END	
END