USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Add_TrackingLead_ClientPortal]    Script Date: 16-02-2024 16:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Add_TrackingLead_ClientPortal]
   @UTM_Source        Nvarchar(200) = null,
   @UTM_Medium        Nvarchar(200) = null,
   @UTM_Campaign      Nvarchar(200) = null,
   @UTM_Content       Nvarchar(200) = null,
   @UTM_Term          Nvarchar(200) = null,
   @UTM_Placement     Nvarchar(200) = null,
   @ref_url			  Nvarchar(MAX) = null,
   @CookieID		  Bigint		= 0,
   @ContactID		  bigint		= 0,
   @HRID			  bigint		= 0
AS
BEGIN
		
		IF NOT EXISTS(SELECT 1 
					  FROM	 gen_TrackingLead_ClientPortal WITH(NOLOCK) 
					  WHERE  UTM_Source = @UTM_Source and UTM_Medium = @UTM_Medium and	
							 UTM_Campaign = @UTM_Campaign and UTM_Content = @UTM_Content and
							 UTM_Term = @UTM_Term and UTM_Placement = @UTM_Placement and 
							 ref_url = @ref_url and CookieID = @CookieID)
			BEGIN
					 INSERT INTO gen_TrackingLead_ClientPortal(UTM_Source,UTM_Medium,UTM_Campaign,UTM_Content,UTM_Term,UTM_Placement,	
															   ref_url,IsFinalSignUP,IsJobPost,CookieID,ContactID,HRID,CreatedDateTime)
					 VALUES(@UTM_Source,@UTM_Medium,@UTM_Campaign,@UTM_Content,@UTM_Term,@UTM_Placement,	
							@ref_url,0,0,@CookieID,@ContactID,@HRID,GETDATE())
			END

		IF (Isnull(@UTM_Source,'') = '' and Isnull(@UTM_Medium,'') = ''  and Isnull(@UTM_Campaign,'') = '' and Isnull(@UTM_Content,'') = ''
			and Isnull(@UTM_Term,'') = '' and Isnull(@UTM_Placement,'') = ''  and Isnull(@ref_url,'') = '')
			BEGIN
					INSERT INTO gen_TrackingLead_ClientPortal(UTM_Source,UTM_Medium,UTM_Campaign,UTM_Content,UTM_Term,UTM_Placement,	
															   ref_url,IsFinalSignUP,IsJobPost,CookieID,ContactID,HRID,CreatedDateTime)
					 VALUES('Direct Source','','','','','',	
							@ref_url,0,0,@CookieID,@ContactID,@HRID,GETDATE())

					SET @UTM_Source = 'Direct Source'

			END

		IF NOT EXISTS(SELECT 1 
					  FROM   prg_UTM_Source WITH(NOLOCK)
					  WHERE  Lower(UTM_Source) = Lower(@UTM_Source))
				BEGIN
						INSERT INTO prg_UTM_Source
						VALUES(@UTM_Source)

				END

		IF NOT EXISTS(SELECT 1 
					  FROM   prg_UTM_Medium WITH(NOLOCK)
					  WHERE  Lower(UTM_Medium) = Lower(@UTM_Medium))
				BEGIN
						INSERT INTO prg_UTM_Medium
						VALUES(@UTM_Medium)

				END
		
		IF NOT EXISTS(SELECT 1 
					  FROM   prg_UTM_Campaign WITH(NOLOCK)
					  WHERE  Lower(UTM_Campaign) = Lower(@UTM_Campaign))
				BEGIN
						INSERT INTO prg_UTM_Campaign
						VALUES(@UTM_Campaign)

				END

		IF NOT EXISTS(SELECT 1 
					  FROM   prg_UTM_Content WITH(NOLOCK)
					  WHERE  Lower(UTM_Content) = Lower(@UTM_Content))
				BEGIN
						INSERT INTO prg_UTM_Content
						VALUES(@UTM_Content)

				END

		IF NOT EXISTS(SELECT 1 
					  FROM   prg_UTM_Term WITH(NOLOCK)
					  WHERE  Lower(UTM_Term) = Lower(@UTM_Term))
				BEGIN
						INSERT INTO prg_UTM_Term
						VALUES(@UTM_Term)

				END

		IF NOT EXISTS(SELECT 1 
					  FROM   prg_UTM_Placement WITH(NOLOCK)
					  WHERE  Lower(UTM_Placement) = Lower(@UTM_Placement))
				BEGIN
						INSERT INTO prg_UTM_Placement
						VALUES(@UTM_Placement)

				END

		IF NOT EXISTS(SELECT 1 
				FROM   prg_Ref_Url WITH(NOLOCK)
				WHERE  Lower(ref_url) = Lower(@ref_url))
		BEGIN
				INSERT INTO prg_Ref_Url
				VALUES(@ref_url)

		END
END
