ALTER PROCEDURE [dbo].[Sproc_Fetch_TalentNotesEmailsLog]
AS
BEGIN

	DECLARE @NotesData TABLE
	(
		HRID BIGINT
	)

	INSERT INTO @NotesData
	SELECT HRID FROM gen_TalentNotes_ClientPortal TN WITH(NOLOCK) 
	
	WHERE IsEmailSentToClient = 0 AND AppActionDoneBy = 3
	GROUP BY HRID

	--SELECT * FROM @NotesData

	SELECT ND.HRID AS HRID, HR.HR_Number, HR.RequestForTalent, HR.ContactID, HR.SalesUserID, C.EmailID, C.FullName,
	CO.Company, CO.ID AS CompanyID
	FROM @NotesData ND 
	INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON ND.HRID = HR.ID
	INNER JOIN gen_Contact C WITH(NOLOCK) ON C.ID = HR.ContactID
	INNER JOIN gen_Company CO WITH(NOLOCK)  ON CO.ID = C.CompanyID

	UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Fetch_TalentNotesEmailsLog'

END

