ALTER PROCEDURE [dbo].[Sproc_Update_POC_ShowHideFlag]
  @HRID							BIGINT			=	0,
  @ContactID					BIGINT			=	0,
  @ShowEmailToTalent			BIT				=	NULL,
  @ShowContactNumberToTalent	BIT				=	NULL,
  @GUID							NVARCHAR(100)	=	NULL
AS
BEGIN
	IF(ISNULL(@HRID,0) > 0 OR ISNULL(@GUID,'') <> '')
	BEGIN
		IF EXISTS (SELECT TOP 1 ID FROM gen_SalesHRWise_ContactIDforATS WHERE HRWise_ContactID = @ContactID AND (HiringRequest_ID = @HRID OR GUID = @GUID))
		BEGIN
			UPDATE gen_SalesHRWise_ContactIDforATS
			SET 
			ShowEmailToTalent = ISNULL(@ShowEmailToTalent, ShowEmailToTalent),
			ShowContactNumberToTalent = ISNULL(@ShowContactNumberToTalent, ShowContactNumberToTalent)
			WHERE (HiringRequest_ID = @HRID OR GUID = @GUID) AND HRWise_ContactID = @ContactID
		END
	END
END

