ALTER PROCEDURE [dbo].[Sproc_InsertBookSlot_CHECK]
@ContactID					as bigint = NULL,
@CreatedByID				as int = NULL,
@HiringRequest_Detail_ID	as bigint = NULL,
@HiringRequest_ID			as bigint = NULL,
--@InterviewSlot			AS nvarchar(50) = NULL,
@ScheduledOn1				AS datetime = NULL,
@ScheduledOn2				AS datetime = NULL,
@ScheduledOn3				AS datetime = NULL,
@Interview_StartTime1		as time = NULL,
@Interview_StartTime2		as time = NULL,
@Interview_StartTime3		as time = NULL,
@Interview_EndTime1			as time = NULL,
@Interview_EndTime2			as time = NULL,
@Interview_EndTime3			as time = NULL,
@TimeZone_ID				as int = NULL,
@Talent_ID					as bigint = NULL,
@Status_ID					as int = NULL,
@AnotherRoundID				as bigint = NULL

AS
BEGIN


declare @SlotAlreadyExist bit = 0;
declare @ErrorMessage nvarchar(500) = '';

IF EXISTS(
SELECT 1 FROM gen_ShortlistedTalent_InterviewDetails STI WITH(NOLOCK) inner join gen_InterviewSlotsMaster M WITH(NOLOCK)
ON STI.InterviewMaster_ID = M.ID
WHERE M.InterviewStatus_ID in (1,4,5) AND STI.Status_ID in (4,5)
AND STI.HiringRequest_ID = @HiringRequest_ID  
AND STI.HiringRequest_Detail_ID = @HiringRequest_Detail_ID 
AND STI.Talent_ID = @Talent_ID 
AND ScheduledOn =@ScheduledOn1 
AND Interview_StartTime = @Interview_StartTime1
AND Interview_EndTime = @Interview_EndTime1)
BEGIN
	print '1'
	SET @SlotAlreadyExist = 1;
	SET @ErrorMessage = ' Slot '+    CONVERT(nvarchar(30), @Interview_StartTime1, 108)   + '-' +  CONVERT(nvarchar(30), @Interview_EndTime1, 108)  + ' on ' +    CONVERT(nvarchar(30), @ScheduledOn1, 103)+' is already allocated.'
END

IF EXISTS(
SELECT 1 FROM gen_ShortlistedTalent_InterviewDetails STI WITH(NOLOCK) inner join gen_InterviewSlotsMaster M WITH(NOLOCK)
ON STI.InterviewMaster_ID = M.ID
WHERE M.InterviewStatus_ID in (1,4,5) AND STI.Status_ID in (4,5)
AND STI.HiringRequest_ID = @HiringRequest_ID  
AND STI.HiringRequest_Detail_ID = @HiringRequest_Detail_ID 
AND STI.Talent_ID = @Talent_ID 
AND ScheduledOn =@ScheduledOn2 
AND Interview_StartTime = @Interview_StartTime2
AND Interview_EndTime = @Interview_EndTime2)
BEGIN
	print '2'
	SET @SlotAlreadyExist = 1;
	SET @ErrorMessage = @ErrorMessage+CHAR(10)+' Slot '+    CONVERT(nvarchar(30), @Interview_StartTime2, 108)   + '-' +  CONVERT(nvarchar(30), @Interview_EndTime2, 108)  + ' on ' +    CONVERT(nvarchar(30), @ScheduledOn2, 103)+' is already allocated.'
END

IF EXISTS(
SELECT 1 FROM gen_ShortlistedTalent_InterviewDetails  STI WITH(NOLOCK) inner join gen_InterviewSlotsMaster M WITH(NOLOCK)
ON STI.InterviewMaster_ID = M.ID
WHERE M.InterviewStatus_ID in (1,4,5) AND STI.Status_ID in (4,5)
AND STI.HiringRequest_ID = @HiringRequest_ID  
AND STI.HiringRequest_Detail_ID = @HiringRequest_Detail_ID 
AND STI.Talent_ID = @Talent_ID 
AND ScheduledOn =@ScheduledOn3
AND Interview_StartTime = @Interview_StartTime3
AND Interview_EndTime = @Interview_EndTime3)
BEGIN
	print '3'
	SET @SlotAlreadyExist = 1;
	SET @ErrorMessage = @ErrorMessage+CHAR(10) + ' Slot '+    CONVERT(nvarchar(30), @Interview_StartTime3, 108)   + '-' +  CONVERT(nvarchar(30), @Interview_EndTime3, 108)  + ' on ' +    CONVERT(nvarchar(30), @ScheduledOn3, 103)+' is already allocated.'
END

IF(@SlotAlreadyExist = 1)
	BEGIN
		SELECT 0 As ID,@ErrorMessage AS ReturnMessage
	END
ELSE
BEGIN		
				--- Save only 3 slots for perticular HR for the Talent 
				DECLARE @ID					AS BIGINT = 0
				DECLARE @MasterID			AS BIGINT =0
				DECLARE @GUID				AS NVARCHAR(50) =''
				DECLARE @ReturnMessage		AS NVARCHAR(1000) =''

				SET @GUID = NEWID()
		
				Select ScheduledOn,ContactID ,HiringRequest_ID,HiringRequest_Detail_ID,Talent_ID into #TempCheck from gen_ShortlistedTalent_InterviewDetails with(nolock) 
				where  Status_ID not in( 1,3,7) AND HiringRequest_ID = @HiringRequest_ID  AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID 
				AND (ScheduledOn =@ScheduledOn1 OR ScheduledOn =@ScheduledOn2 OR ScheduledOn =@ScheduledOn3)	

				
				--IF(Select count(1) from gen_ShortlistedTalent_InterviewDetails with(nolock) where  Status_ID = 1 AND HiringRequest_ID = @HiringRequest_ID  AND HiringRequest_Detail_ID = @HiringRequest_Detail_ID AND Talent_ID = @Talent_ID 
				--AND (ScheduledOn =@ScheduledOn1 OR ScheduledOn =@ScheduledOn2 OR ScheduledOn =@ScheduledOn3) ) =0
				IF(Select count(1) from #TempCheck) =0
					BEGIN
							-- Insert Data for "Slot 1"
							print 'insert'
			   
					  END

				ELSE
				BEGIN
						--Select  StrDates = ( STUFF(( select CONVERT(varchar, ISNULL(ScheduledOn, ' '), 105)   from  #TempCheck WITH(NOLOCK) For XML Path('')),1,1,''))
						SELECT @ReturnMessage = (STUFF(( select ','+ CONVERT(varchar(200), ISNULL(ScheduledOn, ''), 101) from  #TempCheck WITH(NOLOCK) For XML Path('')),1,1,'')) + ' slots are already given. Please select another slot.'
				END

				drop table #TempCheck

				SELECT @ID As ID,@ReturnMessage AS ReturnMessage
END
END