USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_GetHiringType_Pricing_ClientPortal]    Script Date: 18-04-2024 10:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_GetHiringType_Pricing_ClientPortal]
@EngagementType NVARCHAR(200) = 'FullTime'
AS
BEGIN
			
			IF OBJECT_ID('#tempdb..#HiringTypePricing') IS NOT NULL
				DROP TABLE #HiringTypePricing

			CREATE TABLE #HiringTypePricing
			(
				Id				bigint,
				Type			Nvarchar(200), 
				HrtypeId		int,
				PricingPercent	int,
				Description1    Nvarchar(500),
				Description2    Nvarchar(500),
				Description3   Nvarchar(500),
				AmountSuffix	Nvarchar(500),
				IconName		NVARCHAR(200),
				IndianPricingPercent NVARCHAR(200)
			)

			IF(@EngagementType = 'FullTime')
			BEGIN

				Insert into #HiringTypePricing(Id,Type,HrtypeId,PricingPercent,Description1,Description2,Description3,AmountSuffix,IconName,IndianPricingPercent)
				select ID,
				--Rtrim(Substring(Type, 1,Charindex('(', Type)-1)),
				[Type],
				HRTypeID,PricingPercent,
					   'Ideal when the need is for a fixed duration',
					   'Flexibility to scale your team based on project needs',
					   'Quickly acquire specialized skills',
					   'monthly of talent’s pay',
					   'hirefullTimeImg.svg',
					   CAST(CAST(PricingPercent AS INT) AS NVARCHAR)
				from   prg_HiringType_Pricing WITH(NOLOCK)
				WHERE  IsTransparent = 1 and EngagementType = 'Full Time' and Id = 1

				Insert into #HiringTypePricing(Id,Type,HrtypeId,PricingPercent,Description1,Description2,Description3,AmountSuffix,IconName,IndianPricingPercent)
				select ID,
				--Rtrim(Substring(Type, 1,Charindex('(', Type)-1)),
				[Type],
				HRTypeID,PricingPercent,
					   'Best to fill a position without establishing a legal entity in India.',
					   'Efficient and hassle-free payroll management by Uplers',
					   'Reduced administrative burden',
					   'monthly of talent’s pay',
					   'EmploymenttypeMan.png',
					   CAST(CAST(PricingPercent AS INT) AS NVARCHAR)
				from   prg_HiringType_Pricing WITH(NOLOCK)
				WHERE  IsTransparent = 1 and EngagementType = 'Full Time' and Id = 2

				Insert into #HiringTypePricing(Id,Type,HrtypeId,PricingPercent,Description1,Description2,Description3,AmountSuffix,IconName,IndianPricingPercent)
				select ID,
				--Rtrim(Substring(Type, 1,Charindex('(', Type)-1)),
				[Type],
				HRTypeID,PricingPercent,
					   'Perfect when sourcing the right talent is a challenge.',
					   'Direct engagement with chosen candidates',
					   'Ensure stability for company goals',
					   'on talent’s annual salary',
					   'EmploymenttypeHand.png',
					   CAST(7.5 AS NVARCHAR)
				from   prg_HiringType_Pricing WITH(NOLOCK)
				WHERE  IsTransparent = 1 and EngagementType = 'Full Time' and Id = 3

			END

			IF(@EngagementType = 'PartTime')
			BEGIN

				Insert into #HiringTypePricing(Id,Type,HrtypeId,PricingPercent,Description1,Description2,Description3,AmountSuffix,IconName,IndianPricingPercent)
				select ID,
				--Rtrim(Substring(Type, 1,Charindex('(', Type)-1)),
				[Type],
				HRTypeID,PricingPercent,
					   'Ideal when the need is for a fixed duration',
					   'Flexibility to scale your team based on project needs',
					   'Quickly acquire specialized skills',
					   'monthly of talent’s pay',
					   'hirefullTimeImg.svg',
					   CAST(CAST(PricingPercent AS INT) AS NVARCHAR)
				from   prg_HiringType_Pricing WITH(NOLOCK)
				WHERE  IsTransparent = 1 and EngagementType = 'Part Time' and Id = 7			

			END

			select * from #HiringTypePricing

			DROP TABLE #HiringTypePricing
END