ALTER PROCEDURE [dbo].[sproc_Get_PreOnboarding_Details]	
	@OnBoardID			BIGINT = NULL,--11038,
	@HR_ID				BIGINT = NULL --15207
AS
BEGIN
		SELECT  
		ISNULL(SHR.HR_Number,'') as HR_ID,
		ISNULL(CR.Country,'') as Country,
		ISNULL(Z.FullName,'') as Client_POC_Name,
		ISNULL(Z.EmailID,'') as Client_POC_Email,
		ISNULL(COM.Industry,'') AS Industry,
		ISNULL(SHR.Discovery_Call,'') AS Discovery_Link,
		ISNULL(Z1.Zoom_InterviewLink,'') AS InterView_Link,
		ISNULL(SHR.JDURL,SHR.JDFileName) As JobDescription,
		ISNULL(D.Deal_Owner,'') AS Deal_Owner,
		ISNULL(D.deal_source,'') AS Deal_Source,
		AM_Name = CASE WHEN ISNULL(AM2.Username,'')='' THEN CASE WHEN ISNULL(AM3.Username,'')='' THEN ISNULL(AM1.Username,'') END END,
		'' as Payment_NetTerm,
		Isnull(SHRD.HR_Cost,0) AS BillRate, 
		case when isnull(CTP1.TalentCost,0)  > 0 then CTP1.CurrencySign+ ' ' + ISNULL(CTP1.Talent_CurrencyCode,'USD')+' '+replace(cast(CTP1.TalentCost as Nvarchar(20)),'.00','') + '/ Month'  END As PayRate,
		ISNULL(HAU.Username,'') AS UTS_HRAcceptedBy,
		ISNULL(OBT.NRPercentage,0) AS NRPercentage,
		ISNULL(TR.TalentRole,'') as TalentRole,
		ISNULL(DP.ModeOfWork,'') as WorkForceManagement,
		ISNULL(T.Username,'') as TalentName,
		ISNULL(T.EmailID,'') as TalentEmail,
		ISNULL(T.ATS_Talent_LiveURL,'') TalentProfileLink,
		ISNULL(TAWU.AssociatedWithUplers,'') as [Availability],
		ISNULL(TD.TalentRole,'') AS Talent_Designation
		FROM gen_OnBoardTalents OBT WITH(NOLOCK)
			 inner join gen_Talent T WITH(NOLOCK) ON T.ID = OBT.Talent_ID
			 inner join gen_Contact C WITH(NOLOCK) ON C.ID = OBT.ContactID
			 inner join gen_Company COM WITH (NOLOCK) ON COM.ID = C.CompanyID
			 left join (	select	U1.FullName,POC.ContactID,U1.EmailID 
			 	from	usr_User U1 with(nolock) 
			 			inner join gen_ContactPointofContact POC with(nolock) on U1.ID = POC.User_ID
			 	) Z on Z.ContactID = C.ID
			 LEFT JOIN (SELECT TSI.Zoom_InterviewLink,TSI.Talent_ID ,TSI.HiringRequest_ID FROM gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK) 
					 	) Z1 ON Z1.Talent_ID = OBT.Talent_ID AND Z1.HiringRequest_ID = OBT.HiringRequest_ID
			 inner join prg_GEO G WITH (NOLOCK) ON G.ID = COM.GEO_ID
			 INNER JOIN prg_CountryRegion CR WITH(NOLOCK) ON CR.CountryRegion = G.GEO 
			 inner join gen_SalesHiringRequest SHR WITH(NOLOCK) ON SHR.Id = OBT.HiringRequest_ID
			 inner join gen_SalesHiringRequest_Details SHRD WITH(NOLOCK) ON SHRD.HiringRequest_ID = SHR.ID AND SHRD.ID = OBT.HiringRequest_Detail_ID
			 LEFT JOIN  gen_Deals D WITH(NOLOCK) ON SHR.DealID = D.ID
			 LEFT JOIN (select Sales.Username, ID   from usr_User Sales WITH(NOLOCK) ) AM1 ON AM1.ID = COM.NBD_SalesPersonID
			 LEFT JOIN (select NBDSales.Username ,ID from usr_User NBDSales WITH(NOLOCK) ) AM2 ON AM2.ID = OBT.NBD_SalesPersonID
			 LEFT JOIN (select AMSales.Username,ID from usr_User AMSales WITH(NOLOCK) ) AM3 ON AM3.ID = OBT.AM_SalesPersonID
			 LEFT JOIN (select CTP.TalentCost,CTP.Talent_CurrencyCode,CTP.TalentID ,CTP.HiringRequestID,CER.CurrencySign from gen_ContactTalentPriority CTP WITH(NOLOCK) 
						INNER JOIN prg_CurrencyExchangeRate CER WITH(NOLOCK) ON CER.CurrencyCode = CTP.Talent_CurrencyCode
						 ) CTP1 ON CTP1.TalentID = OBT.Talent_ID and CTP1.HiringRequestID = OBT.HiringRequest_ID
			LEFT JOIN (select HRAccepted.Username,ID from usr_User HRAccepted WITH(NOLOCK) ) HAU ON HAU.ID = SHR.AcceptedByID
			LEFT JOIN prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = T.RoleID
			LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_ID = SHR.ID
			LEFT JOIN prg_TalentAssociatedWithUplers TAWU WITH(NOLOCK) ON TAWU.ID = T.AssociatedwithUplers_ID
			LEFT JOIN prg_TalentRoles TD WITH(NOLOCK) ON TD.ID = T.RoleID
		WHERE	OBT.ID = @OnBoardID and SHR.ID = @HR_ID 
END
