USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_DumpStandOutDetails_ClientPortal]    Script Date: 11-03-2024 10:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_DumpStandOutDetails_ClientPortal]
  @ClientID					bigint = 0,
  @GUID						Nvarchar(50) = null 
AS
BEGIN
		
		DECLARE @CompanyID BIGINT = (SELECT TOP 1 CompanyID FROM gen_Contact WHERE ID = @ClientID)

		DECLARE @CompanyLinkedInProfile NVARCHAR(600), 
			    @ContactLinkedInProfile NVARCHAR(600),
				@CompanySize INT,
				@about_Company_desc NVARCHAR(MAX),
				@Industry_Type NVARCHAR(4000),
				@IsOffShoreLocationExp BIT,
				@Website NVARCHAR(MAX)

		SELECT 
				@CompanyLinkedInProfile = CompanysLinkedInProfile, 
			    @ContactLinkedInProfile = ContactsLinkedInProfile,
				@CompanySize =CompanySize,
				@about_Company_desc = about_Company_desc,
				@Industry_Type = Industry_Type,
				@IsOffShoreLocationExp = IsOffShoreLocationExp,
				@Website = Website
				FROM gen_JobPost_StandoutToTalents_ClientPortal
				WHERE CompanyID = @CompanyID

		UPDATE gen_Company SET 
		LinkedInProfile = ISNULL(@CompanyLinkedInProfile,LinkedInProfile),
		CompanySize = ISNULL(@CompanySize, CompanySize),
		industry = ISNULL(@Industry_Type, industry),
		Industry_Type = ISNULL(@Industry_Type,Industry_Type),
		about_Company_desc = ISNULL(@about_Company_desc,about_Company_desc),
		TeamManagement = CASE WHEN @IsOffShoreLocationExp = 1 THEN 1 ELSE 0 END,
		Website = ISNULL(@Website, Website),
		ModifiedByID = @ClientID,
		ModifiedByDatetime = GETDATE()
		WHERE ID = @CompanyID

		--UPDATE gen_Contact SET 
		--LinkedIn = @ContactLinkedInProfile
		--WHERE ID = @ClientID
END