USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_SLAUpdateDetails_ForEmail]    Script Date: 04-06-2024 11:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_SLAUpdateDetails_ForEmail]	
	@HrID		BIGINT

AS

BEGIN
		--Commented Jimit 04-06-24 UTS-7505 	
		--SELECT		MAx(CPC.ID) as ID,CPC.ContactID
		--into		#POCDetails
		--FROM		gen_ContactPointofContact CPC WITH(NOLOCK)				
		--GRoup By	CPC.ContactID

		;WITH cteHistory AS (
			SELECT dbo.Excluding_WeekDays(CreatedByDatetime,5) SLA_DueDate,HiringRequest_ID HrId FROM gen_History WITH(NOLOCK) WHERE HiringRequest_ID = @HrId AND Action_ID = 4
		),

		cteSlaHistory AS (
			SELECT TOP 1 H.HiringRequest_ID HrId, 
						SH.SLADate newSlaDate,
						IIF(SH.ReasonId = 4, SH.OtherReason, SR.Reason) newSlaReason,
						--LAG(SH.SLADate) OVER(ORDER BY SH.ID) oldSlaDate,
						CASE WHEN Lag(Sh.SLADate) Over(Order by Sh.Id asc) IS NULL
							--THEN (SELECT SLA_DueDate FROM gen_History WITH(NOLOCK) WHERE HiringRequest_ID = @HrId AND Action_ID = 4)
							THEN CH.SLA_DueDate
							ELSE Lag(Sh.SLADate) Over(Order by Sh.Id asc)
						END oldSlaDate

			FROM	gen_History H WITH(NOLOCK)
					INNER JOIN cteHistory CH ON CH.HrId = H.HiringRequest_ID
					LEFT JOIN gen_SLA_Edit_History SH WITH(NOLOCK) ON SH.HistoryID = H.Id
					LEFT JOIN Prg_SLA_Edit_Reasons SR WITH(NOLOCK) ON SH.ReasonId = SR.ID
			WHERE	H.HiringRequest_ID = @HrId AND H.Action_ID = 89
			ORDER BY SH.ID DESC
		)

		
 
		SELECT 
		--TOP 5	
		Hr.ID HrId, C.ID ContactId, HR.RequestForTalent--, HR.NoofTalents
				, C.FullName ClientName
				, (
					CASE WHEN cte.oldSlaDate IS NULL
						THEN	
							( SELECT Convert(nvarchar(15),DAteAdd(DAy,5,CreatedByDatetime),103)
							  FROM gen_History WITH(NOLOCK) 
							  WHERE HiringRequest_ID = @HrId AND Action_ID = 4)
						ELSE	
							Convert(nvarchar(15),cte.oldSlaDate,103)
						END 
					 ) OldSlaDetails
				, Convert(nvarchar(15),cte.newSlaDate,103) UpdatedSlaDetails
				, cte.newSlaReason UpdatedSlaReason
				, c.EmailID ToClientEmail
				, c.FullName ToClientEmailName
				, U.FullName PocName
				, U.EmailID	PocEmail
				, U.ContactNumber PocPhone
				, U.Designation PocDesignation
				, HR.SalesUserID
		FROM	gen_SalesHiringRequest HR WITH(NOLOCK)
				INNER JOIN gen_Contact C WITH(NOLOCK) ON HR.ContactID = C.ID
				--inner join #POCDetails POC ON POC.ContactID = C.ID
				--inner join gen_ContactPointofContact CPC WITH(NOLOCK) ON CPC.ID = POC.ID
				INNER JOIN usr_User U WITH(NOLOCK) ON HR.SalesUserID = U.ID --CPC.[User_ID] = U.ID
				LEFT JOIN cteSlaHistory cte ON HR.ID = cte.HrId
				LEFT JOIN gen_History H WITH(NOLOCK) ON HR.ID = H.HiringRequest_ID AND Action_ID = 4
				--OUTER APPLY (
				--			SELECT TOP 1 U.* 
				--			FROM gen_ContactPointofContact CPC WITH(NOLOCK) 
				--			INNER JOIN usr_User U WITH(NOLOCK) ON CPC.User_ID = U.ID
				--			WHERE CPC.ContactID = HR.ContactID
				--			) CPC 

		WHERE  HR.Id = @HrID

	 --DROP TABLE #POCDetails
END