USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_UTS_GetCurrentInterviewerDetails]    Script Date: 27-07-2023 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sproc_UTS_GetCurrentInterviewerDetails]
@HiringRequestId as bigint = NULL
AS
BEGIN

select InterviewerName, 
InterviewLinkedin, 
InterviewerYearofExperience,
InterviewerDesignation,TypeofInterviewer  = I.TypeofInterviewer ,
InterviewerEmailID
from gen_SalesHiringRequest_InterviewerDetails D WITH(NOLOCK)
Left join prg_CompanyTypeofInterviewer I WITH(NOLOCK) ON I.ID = D.TypeofInterviewer_ID
where HiringRequest_ID = @HiringRequestId

END
