ALTER PROCEDURE [dbo].[Sproc_UpdateUpscreenQuestions_ClientPortal]   
	@HiringRequestID	BIGINT = 0,
	@IsScreeningQuestionOptional BIT = NULL,
	@UpdateOptionalFlag BIT = 0,
	@ScreeningQuestionLink NVARCHAR(MAX) = NULL
AS
BEGIN
	
	IF(@UpdateOptionalFlag = 1)
	BEGIN
		UPDATE dbo.gen_SalesHiringRequest_Details SET 		
		IsScreeningQuestionOptional = CASE WHEN @UpdateOptionalFlag = 1 THEN @IsScreeningQuestionOptional ELSE IsScreeningQuestionOptional END
		WHERE HiringRequest_ID = @HiringRequestID
	END
	ELSE
	BEGIN
		UPDATE dbo.gen_SalesHiringRequest_Details SET 
		ScreeningQuestionsGenerated  = 1,
		ScreeningQuestionsGeneratedDateTime = GETDATE(),
		ScreeningQuestionLink = ISNULL(NULLIF(@ScreeningQuestionLink, ''), ScreeningQuestionLink)
		WHERE HiringRequest_ID = @HiringRequestID
	END    
END
