USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_UTS_GetCloseHRHistory]    Script Date: 15-04-2024 16:13:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_UTS_GetCloseHRHistory]
    @HRID BIGINT = NULL
AS
BEGIN	
		CREATE TABLE #HRCloseActions
		(
			HiringRequest_ID BIGINT,
			CreatedByID BIGINT,
			FullName NVARCHAR(500),
			CreatedByDateTime NVARCHAR(250),
			UserRole  NVARCHAR(250),
			ActualActionDate DATETIME
		)
		
		INSERT INTO #HRCloseActions (HiringRequest_ID, CreatedByID, FullName,CreatedByDatetime, UserRole,ActualActionDate)
		Select HiringRequest_ID,CreatedByID,FullName,convert(varchar, CreatedByDatetime, 106), UserRole, ActualActionDate
		from (
				select ROW_NUMBER() Over(partition by HiringRequest_ID,Talent_ID order by H.Id desc) as SR_No
						,HiringRequest_ID, H.CreatedByID, t.FullName,H.ID, H.CreatedByDatetime, 'UTS-Admin'  AS UserRole, H.CreatedByDatetime AS ActualActionDate
				FROM    dbo.gen_History H WITH(NOLOCK)
						INNER JOIN  usr_user t WITH(NOLOCK) ON H.CreatedByID = t.ID WHERE H.Action_ID = 82 and H.AppActionDoneBy = 3 AND H.HiringRequest_ID = @HRID

				Union 

				select ROW_NUMBER() Over(partition by HiringRequest_ID,Talent_ID order by H.Id desc) as SR_No
						,HiringRequest_ID, H.CreatedByID, t.FullName,H.ID,H.CreatedByDatetime, ISNULL(UR.ROLE,'Admin') AS UserRole, H.CreatedByDatetime AS ActualActionDate
				FROM    dbo.gen_History H WITH(NOLOCK)
						INNER JOIN  gen_Contact t WITH(NOLOCK) ON H.CreatedByID = t.ID 
						LEFT JOIN dbo.gen_ContactUsers_ClientPortal CU WITH(NOLOCK) ON CU.EmailID = t.EmailID
						LEFT JOIN dbo.Prg_UserRole_ClientPortal UR WITH(NOLOCK) ON UR.ID = CU.RoleID
						WHERE H.Action_ID = 82 and H.AppActionDoneBy = 4 AND H.HiringRequest_ID = @HRID
		)T 		
		ORDER BY T.ActualActionDate		

		SELECT * FROM #HRCloseActions ORDER BY ActualActionDate		

		DROP TABLE #HRCloseActions
END