ALTER PROCEDURE [dbo].[Sproc_UTS_Get_OnBoardContract_Details]  
  @OnBoard_ID		bigint = null
AS
BEGIN

		DECLARE @PerMonth NVARCHAR(50) = ' / Month';
		DECLARE @PerAnnum NVARCHAR(50) = '  / Annum';

		IF EXISTS(Select 1 from gen_OnBoardClientContractDetails with(nolock) WHERE OnBoardID = @OnBoard_ID)
		
		BEGIN

		   	--- Payal(16-05-2023) Save PayOUt info in Temp Table
		BEGIN
		    	SElect  PIO.ID AS PayID,OnBoardID,
						ISNULL(PIO.Client_FinalPayOutAmount,0) AS InvoiceAmount,
						ISNULL(PIO.UserInvoiceNumber,'') AS ZohoInvoiceNumber
						into #TempPayout 
						from gen_Payout_Information PIO with(nolocK)
						inner join  gen_OnBoardTalents OBT WITH(NOLOCK) ON OBT.ID = PIO.OnBoardID
						inner join  prg_TalentPayoutStatus TPS WITH(NOLOCK) ON TPS.Id = PIO.PayOutStatus
				 where  OBT.ID = @OnBoard_ID
				 AND YEAR(PIO.ClientInvoiceDate) = YEAR(OBT.KickoffDate) and  MONTH(PIO.ClientInvoiceDate) = MONTH(OBT.KickoffDate)
				 --Month(PIO.ClientInvoiceDate) = @Month and Year(PIO.ClientInvoiceDate) = @Year
			END


			SELECT DISTINCT
				ISNULL(SHR.ID,0) AS  HR_ID,
				ISNULL(C.ID,0) AS ContactID,
				ISNULL(COM.ID,0) AS CompanyID,
				ISNULL(COM.Company,'') AS CompanyName,
				ISNULL(C.FullName, '' ) + ' ( ' + +ISNULL(C.EmailID,'') + ' ) ' AS Client,
				isnull(SHR.NoofTalents,'') AS NoOfEmployee,
				ISNULL(SHR.HR_Number,'') as HRNumber,
				CASE WHEN Isnull(SHR.IsHRTypeDP,0) = 1 then 'Direct Placement' else  'Contractual' end as HRType,
				ISNULL(G.GEO,'') as GEO,
				ISNULL(C.FullName,'') as Client_POC_Name,
				ISNULL(C.EmailID,'')  as Client_POC_Email,
				--ISNULL(COM.Industry_Type,'') AS Industry,
				ISNULL(COM.Industry,'') AS Industry,
				ISNULL(SHR.Discovery_Call,'') AS Discovery_Link,
				ISNULL(TSI.Zoom_InterviewLink,'') AS InterView_Link,
				ISNULL(SHR.JDURL,SHR.JDFileName) As JobDescription,
				DealSource = CASE WHEN ISNULL(COM.Lead_Type,'') LIKE '%Inbound%' THEN 'InBound' ELSE 'OutBound' END,		
				ISNULL(COM.Lead_Type,'') as InBoundType,
				ISNULL(LU.FullName,'') AS Deal_Owner,
				1 as IsExistClient,
				ISNULL(ONCD.NetPaymentDays,0) as Payment_NetTerm,
				CASE WHEN ISNULL(OBT.Final_HR_Cost,0) > 0 
					THEN CER.CurrencySign + replace(cast(OBT.Final_HR_Cost as Nvarchar(20)),'.00','') + ' ' + ISNULL(CTP.Talent_CurrencyCode,'USD') + @PerMonth
					ELSE Isnull(CTP.HR_Cost,'')
					END As BillRate,
				--Isnull(CTP.HR_Cost,'') AS BillRate, 
				ISNULL(OBT.Final_HR_Cost, CTP.Final_Hr_Cost) AS FinalHrCost,
				case when isnull(OBT.Talent_Cost, CTP.TalentCost)  > 0 then CER.CurrencySign + replace(cast(isnull(OBT.Talent_Cost, CTP.TalentCost) as Nvarchar(20)),'.00','') +' ' + ISNULL(CTP.Talent_CurrencyCode,'USD') + @PerMonth  END As PayRate,
				isnull(OBT.Talent_Cost, CTP.TalentCost) as TalentCost,
				ISNULL(UA.FullName,'') AS UTS_HRAcceptedBy,
				ISNULL(OBT.NRPercentage, CTP.NRPercentage) AS NRPercentage,
				ISNULL(T.Designation,'') as TalentRole,
				--ISNULL(DP.ModeOfWork,'') as WorkForceManagement,
				ISNULL(MW.ModeOfWorking, DP.ModeOfWork) as WorkForceManagement,
				ISNULL(T.Name,'') as TalentName,
				ISNULL(T.EmailID,'') as TalentEmail,
				ISNULL(T.ATS_Talent_LiveURL,'') TalentProfileLink,
				ISNULL(SHR.Availability,'') as [Availability],
				--ISNULL(TAWU.AssociatedWithUplers,'') as [Availability],
				ISNULL(T.Designation,'') AS Talent_Designation,
				AM_Name = isnull(AM.FullName,''), -- (SELECT TOP 1 Fullname FROM usr_User WHERE ID = COM.AM_SalesPersonID),
				ISNULL(OBT.ID, 0) AS OnBoardID,
				ISNULL(CTP.TalentID, 0) AS TalentID,
				ISNULL(CTP.Talent_CurrencyCode,'USD') AS Talent_CurrencyCode,
				ISNULL(CER.CurrencySign,'$') AS CurrencySign,
				ISNULL(ONCD.PunchStartTime, '') AS ShiftStartTime,
				ISNULL(ONCD.PunchEndTime, '') AS ShiftEndTime,
				ISNULL(OBT.EngagemenID,'') AS EngagemenID,
				ISNULL(CTP.DPAmount, 0) AS DPAmount,
				ISNULL(OBT.DPPercentage, CTP.DP_Percentage) AS DP_Percentage,
				--ISNULL(CTP.Current_CTC, 0) AS CurrentCTC,
				--ISNULL(T.ExpectedSalary, 0) AS ExpectedSalary,
				CASE 
					WHEN ISNULL(CTP.Current_CTC, 0) > 0 AND CTP.DP_Percentage > 0 AND CTP.IsHRTypeDP = 1
						THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
							CONVERT(varchar, CAST(ISNULL(CTP.Current_CTC,0) AS MONEY), 1) + ' ' + 
							ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerAnnum
					WHEN ISNULL(CTP.Current_CTC, 0) > 0 AND CTP.NRPercentage > 0 AND CTP.IsHRTypeDP = 0
						THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
							CONVERT(varchar, CAST(ISNULL(CTP.Current_CTC,0) AS MONEY), 1) + ' ' + 
							ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerMonth 
					ELSE ''
				END AS CurrentCTC,
				CASE 
					WHEN ISNULL(CTP.TalentCost, 0) > 0 AND CTP.DP_Percentage > 0 AND CTP.IsHRTypeDP = 1
						THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
							CONVERT(varchar, CAST(ISNULL(CTP.TalentCost,0) AS MONEY), 1) + ' ' + 
							ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerAnnum
					WHEN ISNULL(OBT.Talent_Cost, CTP.TalentCost) > 0 AND CTP.NRPercentage > 0 AND CTP.IsHRTypeDP = 0
						THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
							CONVERT(varchar, CAST(ISNULL(OBT.Talent_Cost, CTP.TalentCost) AS MONEY), 1) + ' ' + 
							ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerMonth 
					ELSE ''
				END AS ExpectedSalary,
				ISNULL(SHR.IsHRTypeDP,0) AS IsHRTypeDP,
				ISNULL(ONCD.InvoiceRaiseTo,'') AS 	InVoiceRaiseTo,
				ISNULL(ONCD.InvoiceRaiseToEmail,'') AS InVoiceRaiseToEmail,
				ISNULL(ContractDuration,0) AS UTSContractDuration,
				--ISNULL(D.BDR_MDR_Name,'NA')  BDR_MDR_Name,
				ISNULL(LU.FullName,'') AS BDR_MDR_Name,
				ISNULL(COM.about_Company_desc,'') AS Company_Description,
				ISNULL(ONCD.ExpectationFromTalent_FirstWeek,'') AS Talent_FirstWeek,
				ISNULL(ONCD.ExpectationFromTalent_FirstMonth,'') AS Talent_FirstMonth,
				ISNULL(ONCD.SoftwareToolsRequired,'') AS SoftwareToolsRequired,
				ISNULL(DevicesPoliciesOption,'') AS DevicesPoliciesOption,
				ISNULL(TalentDeviceDetails,'') AS TalentDeviceDetails,
				ISNULL(AdditionalCostPerMonth_RDPSecurity,0) AS AdditionalCostPerMonth_RDPSecurity,
				ISNULL(ONCD.IsRecurring,0) AS IsRecurring,
				ISNULL(ProceedWithUplers_LeavePolicyOption,'') AS ProceedWithUplers_LeavePolicyOption,
				ISNULL(ProceedWithClient_LeavePolicyOption,'') AS ProceedWithClient_LeavePolicyOption,
				ISNULL(ProceedWithClient_LeavePolicyLink,'') AS ProceedWithClient_LeavePolicyLink,
				ISNULL(ProceedWithClient_LeavePolicyFileUpload,'') AS LeavePolicyFileName,
				'First Month - 7 Days <br/>  Second Month Onwards - 30 Days' AS Exit_Policy,
				'Weekly during the first 2 weeks | Fortnightly for the next 2 months | Monthly / Quarterly feedback thereafter' as Feedback_Process,
				ISNULL(OPDM.DeviceName,'') AS Device_Radio_Option,
				ISNULL(CDP.DeviceID,0) AS DeviceID,
				ISNULL(CDP.TotalCost,0) AS TotalCost,
				ISNULL(CDP.Client_DeviceDescription,'') AS Client_DeviceDescription,
				ISNULL(OBT.SOWDocument,'') AS SOWDocument,
				ISNULL(OBT.ClientLegalDate,'') AS ClientLegalDate,
				ISNULL(CL.SignedDate,'') AS MSASignDate,
				ISNULL(OBT.TalentLegalDate,'') AS TalentLegalDate,
				ISNULL(ONCD.ContractDuration,0) AS ContractDuration,
				ISNULL(ONCD.ContractStartDate,'') AS ContractStartDate,
				ContractEndDate = IIF(ONCD.ContractEndDate='1900-01-01 00:00:00.000',null,ONCD.ContractEndDate),
				--ISNULL(ONCD.ContractEndDate,'') AS ContractEndDate,
				ISNULL(CTZ.TimeZoneTitle,'') AS KickOffTimeZone,
				TalentReportingPOC = (SELECT TOP 1 ISNULL(FullName,'') FROM usr_user WITH(Nolock) WHERE ID = CTP.CreatedByID),
				InvoiceAmount,
				ZohoInvoiceNumber,
				IsRenewalInitiated = Case When Isnull(IsRenewalInitiated,0) = 0 then 'No' else 'yes' end,
				JoiningDate = IIF(OBT.Joiningdate='1900-01-01 00:00:00.000',null,OBT.Joiningdate),
				LastWorkingDate = IIF(ONCD.LastWorkingDate='1900-01-01 00:00:00.000',null,ONCD.LastWorkingDate),
				ClientClosureDate = ISNULL(OBT.ClientClosureDate,''),
				--UplersfeesAmount = ISNULL(CTP.UplersfeesAmount, 0),
				CASE 
					WHEN  ISNULL(CTP.UplersfeesAmount,'') <> '' AND CTP.DP_Percentage > 0 AND CTP.IsHRTypeDP = 1
						THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
							CTP.UplersfeesAmount + ' ' + 
							ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerAnnum
					WHEN ISNULL(CTP.UplersfeesAmount,'') <> '' AND CTP.NRPercentage > 0 AND CTP.IsHRTypeDP = 0
						THEN  ISNULL(CER.CurrencySign, CER_HD.CurrencySign) + 
							CTP.UplersfeesAmount + ' ' + 
							ISNULL(CTP.Talent_CurrencyCode, SHRD.Currency) + @PerMonth 
					ELSE ''
				END AS UplersfeesAmount,
				ISNULL(PS.State, '') AS StateName,
				ISNULL(OBT.City, DP.JobLocation) AS CityName
				FROM gen_OnBoardTalents OBT WITH(NOLOCK)
					 inner join gen_SalesHiringRequest SHR WITH(NOLOCK) ON SHR.Id = OBT.HiringRequest_ID
					 inner join gen_SalesHiringRequest_Details SHRD WITH(NOLOCK) ON SHRD.HiringRequest_ID = SHR.ID AND SHRD.ID = OBT.HiringRequest_Detail_ID
					 INNER JOIN gen_OnBoardClientContractDetails ONCD WITH(NOLOCK) ON ONCD.OnBoardID = OBT.ID
					 inner join gen_Talent T WITH(NOLOCK) ON T.ID = OBT.Talent_ID
					 inner join gen_Contact C WITH(NOLOCK) ON C.ID = OBT.ContactID
					 inner join gen_Company COM WITH (NOLOCK) ON COM.ID = C.CompanyID
					 Inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = SHR.ID AND CTP.TalentID = OBT.Talent_ID
					 INNER JOIN prg_CurrencyExchangeRate CER WITH(NOLOCK) ON CER.CurrencyCode = isnull(CTP.Talent_CurrencyCode,'USD')
					 --INNER JOIN gen_Payout_Information POI WITH(NOLOCK) ON OBT.ID = POI.OnBoardID
					 --Inner JOIN usr_User U WITH(NOLOCK) ON SHR.SalesUserID=U.ID	 
					 left join #TempPayout TP ON TP.OnBoardID = OBT.ID
					 LEFT JOIN gen_CompanyLegalInfo CL WITH(NOLOCK) ON COM.ID = CL.CompanyID
					 LEFT JOIN usr_User AM WITH(NOLOCK) ON AM.ID = OBT.AM_SalesPersonID
					 LEFT join prg_GEO G WITH (NOLOCK) ON G.ID = COM.GEO_ID
					 			     
					 LEFT JOIN gen_TalentSelected_InterviewDetails TSI WITH(NOLOCK)  ON TSI.Talent_ID = OBT.Talent_ID AND TSI.HiringRequest_ID = OBT.HiringRequest_ID
					 --LEFT JOIN  gen_Deals D WITH(NOLOCK) ON SHR.DealID = D.ID
					 LEFT JOIN usr_user UA with(nolock) on UA.ID = SHR.AcceptedByID
					 --LEFT JOIN prg_TalentRoles TR WITH(NOLOCK) ON TR.ID = T.RoleID
				   	 LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_ID = SHR.ID
					 --LEFT JOIN prg_TalentAssociatedWithUplers TAWU WITH(NOLOCK) ON TAWU.ID = T.AssociatedwithUplers_ID
					 --LEFT JOIN prg_TalentRoles TD WITH(NOLOCK) ON TD.ID = T.RoleID
					 LEFT JOIN gen_CompanyLeadType_UserDetails CLT WITH(NOLOCK) ON  CLT.CompanyID = C.CompanyID
					 LEFT JOIN usr_user LU WITH(NOLOCK) ON LU.ID = CLT.LeadType_UserID
					 LEFT JOIN gen_OnBoardClientDevicePolicy_Details CDP WITH(NOLOCK)ON CDP.OnBoardID = OBT.ID
					 LEFT JOIN prg_OnBoardPolicy_DeviceMaster OPDM WITH(NOLOCK) ON OPDM.ID = CDP.DeviceID
 					 LEFT JOIN prg_ContactTimeZone CTZ WITH(NOLOCK) ON CTZ.ID = OBT.Kickoff_Timezone_Preference_ID
					 LEFT JOIN prg_ModeOfWorking MW WITH(NOLOCK) ON MW.ID = OBT.ModeOFWorkingID
					 LEFT JOIN prg_States PS WITH(NOLOCK) ON PS.ID = OBT.StateID
					 LEFT JOIN prg_CurrencyExchangeRate CER_HD WITH(NOLOCK) ON CER_HD.CurrencyCode = SHRD.Currency
				WHERE	OBT.ID = @OnBoard_ID --AND YEAR(POI.ClientInvoiceDate) = YEAR(OBT.KickoffDate) and  MONTH(POI.ClientInvoiceDate) = MONTH(OBT.KickoffDate)
		    
			DROP table #TempPayout 
			END
	
		
END