USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_PostAJobList]    Script Date: 10-09-2024 12:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_PostAJobList]
AS
BEGIN
			DECLARE  @NoOfPosted as int = null
			DECLARE  @NoOfProfileShared as int = null
			DECLARE  @NoJobsExpired as int = null
			DECLARE  @NoJobsExpiredin15days as int = null
			DECLARE @GivenMonth INT = Month(Getdate()), @GivenYear INT = Year(Getdate());
			DECLARE @PreMonth INT = null, @PreYear INT = null;

			--Select	top 1 @GivenMonth = [Month],@GivenYear = [Year] 
			--from	gen_NurtureEmail_Summary WITH(NOLOCK)
			
			-- Create a date from the given month and year (assumes the 1st of the month)
			DECLARE @CurrentDate DATE = CAST(CAST(@GivenYear AS VARCHAR(4)) + '-' + CAST(@GivenMonth AS VARCHAR(2)) + '-01' AS DATE);

			-- Get the previous month and year
			SELECT 
				@PreMonth = MONTH(DATEADD(MONTH, -1, @CurrentDate)), 
				@PreYear = YEAR(DATEADD(MONTH, -1, @CurrentDate));

			--IF EXISTS(Select 1 from gen_NurtureEmail_Summary WITH(NOLOCK) Where @PreMonth = Month and @PreYear = YEAR)
			--	BEGIN
			--			Delete  
			--			from	gen_NurtureEmail_Summary 
			--			Where	@PreMonth = Month and @PreYear = YEAR
			--	END
			
			Insert into gen_NurtureEmail_Summary(ClientID,CompanyId,HRID,MONTH,YEAR)
			Select	C.ID,CO.ID,H.ID,@PreMonth,@PreYear
			from	gen_Company CO WITH(NOLOCK)
					Inner join gen_Contact C WITH(NOLOCK) ON C.CompanyID = CO.ID
					inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
			where   CO.IsActive = 1 and H.IsActive = 1 and H.IsAccepted = 1 and H.JobStatusID <> 2
					and (CompanyTypeID = 2 or AnotherCompanyTypeID = 2) 
			
			--Jobs Posted: [Number of jobs you posted]
			Update   NES
			SET		 NES.TotalJobsPosted = Isnull(Q.TotalJobsPosted,0)
			FROM	 gen_NurtureEmail_Summary NES 
					 Inner join 
					 (
						Select  Count(H.ID) as TotalJobsPosted,CO.ID as CompanyId
						from	gen_Company CO WITH(NOLOCK)
								Inner join gen_Contact C WITH(NOLOCK) ON C.CompanyID = CO.ID
								inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
								--Inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = H.ID and CTP.ContactID = H.ContactID
						where   CO.IsActive = 1 and H.IsActive = 1 and H.IsAccepted = 1 and H.JobStatusID <> 2
								and (CompanyTypeID = 2 or AnotherCompanyTypeID = 2)
						Group By Co.ID
					 )Q ON Q.CompanyId = NES.CompanyId

			--Jobs where you received applicants: [Number of Jobs Active, where profiles are added / shared]
			Update   NES
			SET		 NES.TotalJobsForProfileShared = Isnull(Q.TotalJobsForProfileShared,0)
			FROM	 gen_NurtureEmail_Summary NES 
					 Inner join 
					 (
						Select  Count(CTP.ID) as TotalJobsForProfileShared,CO.ID as CompanyId
						from	gen_Company CO WITH(NOLOCK)
								Inner join gen_Contact C WITH(NOLOCK) ON C.CompanyID = CO.ID
								inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
								Inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = H.ID and CTP.ContactID = H.ContactID
						where   CO.IsActive = 1 and H.IsActive = 1 and H.IsAccepted = 1 and H.JobStatusID <> 2
								and (CompanyTypeID = 2 or AnotherCompanyTypeID = 2)
						Group By Co.ID
					 )Q ON Q.CompanyId = NES.CompanyId

			--Jobs Expired: [number of jobs expired] //  // No value then it would not appear
			Update   NES
			SET		 NES.TotalJobsExpired = Isnull(Q.TotalJobsExpired,0)
			FROM	 gen_NurtureEmail_Summary NES 
					 Inner join 
					 (
						Select  Count(H.ID) as TotalJobsExpired,CO.ID as CompanyId
						from	gen_Company CO WITH(NOLOCK)
								Inner join gen_Contact C WITH(NOLOCK) ON C.CompanyID = CO.ID
								inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
						where   CO.IsActive = 1 and H.IsActive = 1 and H.IsAccepted = 1 and H.JobStatusID = 2
								and (CompanyTypeID = 2 or AnotherCompanyTypeID = 2)
						Group By Co.ID
					 )Q ON Q.CompanyId = NES.CompanyId

			--Jobs Expiring in next 15 days: [number of jobs expiring in less than 15 days] // No value then it would not appear
			Update   NES
			SET		 NES.TotalJobsExpired15Days = Isnull(Q.TotalJobsExpired15Days,0)
			FROM	 gen_NurtureEmail_Summary NES 
					 Inner join 
					 (
						Select  Count(H.ID) as TotalJobsExpired15Days,CO.ID as CompanyId
						from	gen_Company CO WITH(NOLOCK)
								Inner join gen_Contact C WITH(NOLOCK) ON C.CompanyID = CO.ID
								inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
						where   CO.IsActive = 1 and H.IsActive = 1 and H.IsAccepted = 1 and H.JobStatusID = 2
								and (CompanyTypeID = 2 or AnotherCompanyTypeID = 2)
								and Cast(H.JobExpiryDate as Date) = Cast(DateAdd(D,15,Getdate()) as date)
						Group By Co.ID
					 )Q ON Q.CompanyId = NES.CompanyId


			--Number of jobs up for renewal in 7 days: [Number and Postion Title of jobs expiring in 7 days]
			Update   NES
			SET		 NES.TotalJobsRenewal7Days = Isnull(Q.TotalJobsRenewal7Days,0)
			FROM	 gen_NurtureEmail_Summary NES 
					 Inner join 
					 (
						Select  Count(H.ID) as TotalJobsRenewal7Days,CO.ID as CompanyId
						from	gen_Company CO WITH(NOLOCK)
								Inner join gen_Contact C WITH(NOLOCK) ON C.CompanyID = CO.ID
								inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
						where   CO.IsActive = 1 and H.IsActive = 1 and H.IsAccepted = 1 and H.JobStatusID = 2
								and (CompanyTypeID = 2 or AnotherCompanyTypeID = 2)
								and Cast(H.JobExpiryDate as Date) = Cast(DateAdd(D,7,Getdate()) as date)
						Group By Co.ID
					 )Q ON Q.CompanyId = NES.CompanyId

			select  CompanyId,HRID,ClientID From gen_NurtureEmail_Summary WITH(NOLOCK) Where @PreMonth = Month and @PreYear = YEAR

END