USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Update_Company_UnicodeValues]    Script Date: 22-07-2024 15:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Update_Company_UnicodeValues]
	@CompanyID				bigint = 0,
	@Aboutus				Nvarchar(MAX) = null,
	@LoggedInUserId			bigint = 0
AS
BEGIN

			

		IF (@CompanyID > 0 and len(@Aboutus) > 0)
				BEGIN

					UPDATE gen_Company
					SET	   about_Company_desc = Isnull(@Aboutus,about_Company_desc),
						   ModifiedByID = @LoggedInUserId,
						   ModifiedByDatetime = getdate()
					where  ID = @CompanyID


			END



END