ALTER PROCEDURE [dbo].[Sproc_DumpJDDetailsintoTempTable_ClientPortal]
	@ContactId   Bigint   = NULL,              
	--@Company   nvarchar(500)   = NULL,              
	@TimeZone   nvarchar(500)   = NULL,              
	@JDRole    nvarchar(max)   = NULL,               
	@JDDescription  nvarchar(max)   = NULL,              
	@JDSkills   nvarchar(max) = NULL,              
	@HowSoon   nvarchar(2000)  = NULL,              
	@HowLong   nvarchar(2000)  = NULL,              
	@YearsOfExp   nvarchar(2000)  = NULL,              
	@Qty    nvarchar(500)   = NULL,              
	@JDTools   nvarchar(max)   = NULL,              
	@JDFileName   nvarchar(500)   = NULL,              
	@JDDetails   nvarchar(max)   = NULL,        
	@YesWithIsNext  BIT    = 0,              
	@InsertedID   bigint   = 0,  
	@JDAllSkills  nvarchar(max) = NULL ,  
	@IsAdmin   BIT    = 0,  
	@RolesResponsibilities nvarchar(max) = null,  
	@Requirement nvarchar(max) = null,
	@HR_ID BIGINT NULL
AS              
BEGIN              
                 
 DECLARE @JDId bigint = 0 
 DECLARE @GoodToHaveSkills NVARCHAR(MAX) = @JDAllSkills

 SET @JDSkills = @JDSkills + ',' + @JDAllSkills
 SET @JDAllSkills = @JDSkills
   
 IF (@IsAdmin = 1 AND ISNULL(@InsertedID,0) > 0)  
 BEGIN  
  UPDATE gen_SalesHR_JDDump set TimeZone=@TimeZone,JDRole=@JDRole,RolesResponsibilities=@RolesResponsibilities,Requirement=@Requirement,JDDescription=@JDDescription,HowSoon=@HowSoon,      
  HowLong=@HowLong,YearsOfExp=@YearsOfExp,Qty=@Qty,JDTools=@JDTools,@JDFileName=@JDFileName,CreatedByDatetime=GETDATE(),ContactID = @ContactId       
  where ID = @InsertedID;    
    
  SET @JDId = @InsertedID;  
  SET @YesWithIsNext = 1;  
  
 END  
 ELSE IF (@YesWithIsNext = 0 AND isnull(@InsertedID,0) >0 )      
 BEGIN      
        
  UPDATE gen_SalesHR_JDDump set TimeZone=@TimeZone,JDRole=@JDRole,RolesResponsibilities=@RolesResponsibilities,Requirement=@Requirement,JDDescription=@JDDescription,HowSoon=@HowSoon,      
  HowLong=@HowLong,YearsOfExp=@YearsOfExp,Qty=@Qty,JDTools=@JDTools,@JDFileName=@JDFileName,CreatedByDatetime=GETDATE(),ContactID = @ContactId       
  where ID = @InsertedID;    
    
  SET @JDId = @InsertedID;  
    
 END      
 ELSE      
 BEGIN    
   
  if (isnull(@InsertedID,0) = 0)  
  BEGIN  
   INSERT INTO gen_SalesHR_JDDump(ContactID,JDSkills,CreatedByDatetime,JDFileName,JDAllSkills,JDDetails)               
   VALUES (@ContactId,@JDSkills,GETDATE(),@JDFileName,@JDAllSkills, @JDDetails);      
      
   SET @JDId = @@IDENTITY;  
  
   IF (@IsAdmin = 0)  
   BEGIN  
    UPDATE gen_SalesHR_JDDump set TimeZone=@TimeZone,JDRole=@JDRole,RolesResponsibilities=@RolesResponsibilities,Requirement=@Requirement,JDDescription=@JDDescription,HowSoon=@HowSoon,      
    HowLong=@HowLong,YearsOfExp=@YearsOfExp,Qty=@Qty,JDTools=@JDTools,@JDFileName=@JDFileName,CreatedByDatetime=GETDATE(),ContactID = @ContactId       
    where ID = @JDId;  
   END  
  END  
  
    
  SET @YesWithIsNext = 1;  
  
    
 END;      
                  
              
 if(len(isnull(@JDSkills,'')) >0 AND @YesWithIsNext =1)              
  begin   
   if (isnull(@InsertedID,0) >0)  
    SET @JDId = @InsertedID;  
     
   --Remove Existing Data from gen_SalesHR_JDDump_SkillDetails (Start)  
   IF EXISTS (SELECT 1 from gen_SalesHR_JDDump_SkillDetails where ID = @JDId)  
   BEGIN  
    DELETE FROM gen_SalesHR_JDDump_SkillDetails where ID = @JDId;  
   END  
   --Remove Existing Data from gen_SalesHR_JDDump_SkillDetails (End)  
  
  
   UPDATE gen_SalesHR_JDDump set JDSkills=@JDSkills      where ID = @InsertedID;  
     
   --print 'Set the logic for of HR Skills'          
           
   DECLARE @TempSkill TABLE ( JDTempSkill nvarchar(500),IsSaved INT )        
   DECLARE @TempSkill_InsertedIDs TABLE ( NEXT_VALUE Bigint )        
              
   --declare @GUID as nvarchar(50) = NEWID();         
              
   insert into @TempSkill(JDTempSkill,IsSaved ) select rtrim(ltrim(val)) AS JDTempSkill ,0 from  f_split(@JDSkills,',')           
   -- select val AS JDTempSkill into #tempSkills from  f_split(@JDSkills,',')              
        
   ---select * from @TempSkill        
   delete from @TempSkill where exists(select 1 from prg_TempSkills with(nolock) where Status_ID =0 AND rtrim(ltrim(lower(TempSkill))) = rtrim(ltrim(lower(JDTempSkill))))        
        
   print 'after delete rejected skills'         
   --select * from @TempSkill        
        
   -----------------------For Primary skills  
   DELETE FROM gen_SalesHR_JDDump_SkillDetails where JDDump_ID = @JDId;  
  
   insert into gen_SalesHR_JDDump_SkillDetails (        
   JDDump_ID,        
   Skill_ID        
   )        
   SELECT    @JDId,        
   S.ID        
   from @TempSkill T inner join prg_skills S WITH(NOLOCK) On lower(S.Skill) = rtrim(ltrim(lower(JDTempSkill)))        
   where S.IsActive =1          
        
   update T Set IsSaved =1 from @TempSkill T inner join prg_skills S WITH(NOLOCK) On rtrim(ltrim(lower(S.Skill))) = rtrim(ltrim(lower(JDTempSkill)))        
   where S.IsActive = 1         
        
   ----------------------------------For Temp Skill-------------------------------------------        
          
   INSERT INTO prg_TempSkills              
   (TempSkill,SkillSource_ID,[Source],CreatedByID,CreatedByDateTime)          
   OUTPUT INSERTED.ID INTO @TempSkill_InsertedIDs            
        
   Select               
   JDTempSkill              
   ,5              
   ,@JDFileName              
   ,@ContactId              
   ,GETDATE()              
   from @TempSkill T where isnull(IsSaved,0) = 0 AND not exists(select 1 from prg_TempSkills with(nolock) where (Status_ID <> 0 OR Status_ID IS NULL) AND rtrim(ltrim(lower(TempSkill))) = rtrim(ltrim(lower(JDTempSkill))) )            
          
   print 'Latest inserted tempSkill IDs'        
   --Select * from @TempSkill_InsertedIDs        
                 
      
   update T SET  TempSkill_ID ='O_'+ cast(ID as nvarchar(50))         
   From prg_TempSkills T inner join @TempSkill_InsertedIDs TID ON  T.ID = TID.NEXT_VALUE        
   where TempSkill_ID is null        
             
   insert into gen_SalesHR_JDDump_SkillDetails (        
   JDDump_ID,        
   TempSkill_ID        
   )        
   SELECT       @JDId,        
   T.TempSkill_ID        
   From prg_TempSkills T inner join @TempSkill_InsertedIDs TID ON  T.ID = TID.NEXT_VALUE       
      
   -- Update status is saved 1 which are used              
   update T Set IsSaved =1 from @TempSkill T       
   inner join prg_TempSkills TempS ON rtrim(ltrim(lower( T.JDTempSkill))) = rtrim(ltrim(lower( TempS.TempSkill)))      
   inner join @TempSkill_InsertedIDs InS  On TempS.ID = Ins.NEXT_VALUE      
   where isnull(IsSaved,0) = 0        
        
   --select * from @TempSkill       
   ---------------------- For Temp table skill wich are matched with Temp table----        
   insert into gen_SalesHR_JDDump_SkillDetails (        
   JDDump_ID,        
   TempSkill_ID        
   )        
   --SELECT       @JDId,        
   --T.TempSkill_ID        
   --From prg_TempSkills T With(NOLOCK) inner join @TempSkill TS ON  rtrim(ltrim(lower(TempSkill))) = rtrim(ltrim(lower(JDTempSkill)))      
   --where isnull(IsSaved,0) = 0 AND (Status_ID <> 0 OR Status_ID IS NULL)    
       

	SELECT
    A.JDId, A.TempSkill_ID
	FROM
	 (
	   SELECT ROW_NUMBER() OVER( PARTITION BY T.TempSkill
		   ORDER BY T.TempSkill_ID) AS RowNum, 
		  @JDId as JDId,        
	   T.TempSkill_ID 
	   From prg_TempSkills T With(NOLOCK) inner join @TempSkill TS ON TempSkill = JDTempSkill
	   where isnull(IsSaved,0) = 0 AND (Status_ID <> 0 OR Status_ID IS NULL)  
	 ) A
   WHERE A.RowNum = 1  
                 
           -------Payal(20-10-2021) : Save remaining parsed skills into temp which are removed by client  
     IF(@JDId>0)  
     BEGIN  
          delete from @TempSkill  
          delete from @TempSkill_InsertedIDs  
  
    SET @JDAllSkills = (SELECT JDAllSkills from gen_SalesHR_JDDump with(nolock) where ID = @InsertedID);  
  
    if @JDAllSkills <> ''  
    BEGIN  
     insert into @TempSkill(JDTempSkill,IsSaved ) select rtrim(ltrim(val)) AS JDTempSkill ,0 from  f_split(@JDAllSkills,',')           
      
     delete from @TempSkill where exists(select 1 from prg_TempSkills with(nolock) where ISNULL(Status_ID,0) =0 AND rtrim(ltrim(lower(TempSkill))) = rtrim(ltrim(lower(JDTempSkill))))     
      
     INSERT INTO prg_TempSkills              
     (TempSkill,SkillSource_ID,[Source],CreatedByID,CreatedByDateTime)          
     OUTPUT INSERTED.ID INTO @TempSkill_InsertedIDs            
        
     Select               
     JDTempSkill              
     ,5              
     ,@JDFileName              
     ,@ContactId              
     ,GETDATE()              
     from @TempSkill T where isnull(IsSaved,0) = 0 AND not exists(select 1 from prg_TempSkills with(nolock) where (Status_ID <> 0 OR Status_ID IS NULL) AND rtrim(ltrim(lower(TempSkill))) = rtrim(ltrim(lower(JDTempSkill))) )              
  
  
     update T SET  TempSkill_ID ='O_'+ cast(ID as nvarchar(50))         
     From prg_TempSkills T inner join @TempSkill_InsertedIDs TID ON  T.ID = TID.NEXT_VALUE        
     where TempSkill_ID is null  
    END  
      
        
     END  
     --End   
  End              
       
	   
	--Update JDSkill_Percentage
	   begin
	   update gen_SalesHR_JDDump set JDSkill_Percentage=100  where Id = @JDId and ISNULL(JDAllSkills,'') != '' --in (select Id from gen_SalesHR_JDDump where JDAllSkills is not null and JDAllSkills !='') 
	   end
	   --update JD_RolesResponsibilities
	   begin
		update gen_SalesHR_JDDump set JD_RolesResponsibilities=100 where Id = @JDId and ISNULL(RolesResponsibilities,'') != '' --Id in (select Id from gen_SalesHR_JDDump where RolesResponsibilities is not null and RolesResponsibilities !='')
		end
		--update JD_Requirement
	   begin
		update gen_SalesHR_JDDump set JD_Requirement=100 where Id = @JDId and ISNULL(Requirement,'') != '' --Id in (select Id from gen_SalesHR_JDDump where Requirement is not null and Requirement !='')

	   end   

	   --- If no new skills added then do not delete previous ones.
	   DECLARE @NewSkillsCount INT = 0
	   SET @NewSkillsCount = (SELECT COUNT(1) FROM gen_SalesHR_JDDump_SkillDetails WHERE JDDump_ID = @JDId)

	   IF(ISNULL(@NewSkillsCount,0) <> 0)
	   BEGIN

		   DELETE FROM gen_SalesHiringRequest_SkillDetails WHERE HiringRequest_ID = @HR_ID

		   DECLARE @GoodTohaveSkillsTable TABLE
		   (			
				SkillName NVARCHAR(MAX)
		   )
		   INSERT INTO @GoodTohaveSkillsTable
		   select rtrim(ltrim(val)) AS Skill from  f_split(@GoodToHaveSkills,',') 

		   -------Insert the data into gen_SalesHiringRequest_SkillDetails table----------------	  

		   INSERT INTO gen_SalesHiringRequest_SkillDetails
		   (
			HiringRequest_ID,
			Skill_ID,
			Proficiency,
			CreatedByID,
			CreatedByDatetime,
			TempSkill_ID
		   )
		   SELECT 
		   @HR_ID,
		   JD.Skill_ID,	 
		   --'Basic',
		   IIF(((SELECT COUNT(1) FROM @GoodTohaveSkillsTable WHERE SkillName = S.Skill OR SkillName = TS.TempSkill) > 0), 'Basic', 'Strong'),
		   @ContactId,
		   GETDATE(),
		   JD.TempSkill_ID
		   FROM gen_SalesHR_JDDump_SkillDetails JD
		   LEFT JOIN Prg_Skills S ON S.ID = JD.Skill_ID
		   LEFT JOIN prg_TempSkills TS ON TS.TempSkill_ID = JD.TempSkill_ID 
		   WHERE JD.JDDump_ID = @JDId

		   UPDATE gen_SalesHiringRequest SET JDDump_ID = @JDId WHERE ID = @HR_ID
	END
           
              
SELECT @JDId  Id               
              
END