USE [Talentconnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_UTS_UpdateCompanyCreditInfo]    Script Date: 24-04-2024 12:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Maintain_LoginLogs_ClientPortal]	
	@CompanyId BIGINT = NULL,
	@ContactId BIGINT = NULL,
	@LoginToken NVARCHAR(500) = NULL,
	@ATSLoginToken NVARCHAR(500) = NULL,
	@IsLogin BIT = NULL
AS
BEGIN	

	IF(@IsLogin = 1)
	BEGIN
		IF EXISTS(SELECT 1 FROM gen_ContactLoginLogs_ClientPortal WHERE ContactId = @ContactID AND CompanyId = @CompanyId)
		BEGIN
			UPDATE gen_ContactLoginLogs_ClientPortal SET 
			IsSessionActive = @IsLogin, 
			LoginDateTime = GETDATE(),
			LoginToken = @LoginToken,
			ATSLoginToken =@ATSLoginToken
			WHERE ContactId = @ContactID AND CompanyId = @CompanyId
		END
		ELSE
		BEGIN
			INSERT INTO gen_ContactLoginLogs_ClientPortal
			(
				ContactId,
				CompanyId,
				LoginToken,
				ATSLoginToken,
				IsSessionActive,
				LoginDateTime
			)
			VALUES
			(
				@ContactID,
				@CompanyId,
				@LoginToken,
				@ATSLoginToken,
				@IsLogin,
				GETDATE()
			)
		END
	END
	ELSE
	BEGIN
			UPDATE gen_ContactLoginLogs_ClientPortal SET 
			IsSessionActive = @IsLogin, 
			LogoutDateTime = GETDATE()
			WHERE ContactId = @ContactID AND CompanyId = @CompanyId AND LoginToken = @LoginToken AND ATSLoginToken = @ATSLoginToken
	END
			
END