USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CreditDebit_Transactions_ClientPortal]    Script Date: 16-04-2024 16:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_CreditDebit_Transactions_ClientPortal]
  @CompanyID		bigint = 0,
  @CreditDebitFlag  Nvarchar(10) = null,
  @HRID			    bigint	  = Null,
  @ContactID	    bigint	  = Null,
  @ContactUserID    bigint	  = Null,
  @JobPostedDate	Datetime  = null,
  @ActivateDate		DateTime  = null,
  @LatestBalance	int		  = 0,
  @BalanceType		Nvarchar(50) = null,
  @SubScriptionID   BIgint = 0,
  @HrStatusID       int = 0,
  @CreditUsed		DECIMAL(18,2) = 0,
  @CreditOptionID   INT = 0,
  @HR_RoleStatus    int = 0
AS
BEGIN	 
	

		IF  Lower(@CreditDebitFlag) = 'debit'
			BEGIN
					

					INSERT INTO gen_JobPost_TransactionHistory_ClientPortal(HRID,ContactID,ContactUserID,JobPostedDate,JobRepostedDate,CreditBalance,IsReposted,BalanceUsedType
									,CreatedByID,CreatedByDateTime,ModifiedById,ModifiedDateTime,CompanyID,SubScriptionID,CreditOptionID, JPCreditBalance)
					VALUES(@HRID,@ContactID,@ContactUserID,@JobPostedDate,null,@LatestBalance - @CreditUsed,1,@BalanceType,@ContactUserID,GETDATE(),null,null,
					@CompanyID,@SubScriptionID,@CreditOptionID,@LatestBalance - @CreditUsed)

					UPDATE gen_Company
					SET    JPCreditBalance = case when Isnull(JPCreditBalance,0) <> 0 then JPCreditBalance - @CreditUsed else JPCreditBalance end
					WHERE  ID = @CompanyID

					UPDATE gen_SalesHiringRequest SET 
					LastActivityDate = GETDATE(),
					JobStatusID = 5, --- Reopen the job.
					Status_ID = @HrStatusID
					--LastModifiedByID = @ContactID, 
					--LastModifiedDatetime = GETDATE() 
					WHERE ID = @HRID 

					UPDATE	HD SET		
					HD.RoleStatus_ID = case when Isnull(@HR_RoleStatus,0) = 0 then 1 else @HR_RoleStatus end				
					FROM	gen_SalesHiringRequest_Details HD WITH (UPDLOCK)												
					WHERE	HD.HiringRequest_ID = @HRID;
			END


END