ALTER PROCEDURE [dbo].[sproc_AddEdit_DirectHR_HRTab]
@HRID				BIGINT			= NULL,
@CONTACTID			BIGINT			= NULL,
@YOE				INT				= NULL,
@HRTITLE			NVARCHAR(MAX)	= NULL,
@HRROLEID			BIGINT			= NULL,
@JDFILENAME			NVARCHAR(MAX)	= NULL,
@JDURL				NVARCHAR(MAX)	= NULL,
@MUSTHAVESKILLS		NVARCHAR(MAX)	= NULL,
@CURRENCY			NVARCHAR(50)	= NULL,
@MINBUDGET			DECIMAL(18,2)	= NULL,
@MAXBUDGET			DECIMAL(18,2)	= NULL,
@ISREMOTE			BIT				= NULL,
@LEADTYPE			NVARCHAR(50)	= NULL,
@LEADOWNERID		BIGINT			= NULL,
@NOTICEPERIODID		BIGINT			= NULL,
@TIMEZONEID			BIGINT			= NULL,
@SHIFTSTARTTIME		NVARCHAR(20)	= NULL,
@SHIFTENDTIME		NVARCHAR(20)	= NULL,
@ROLESRESP			NVARCHAR(MAX)	= NULL,
@REQUIREMENT		NVARCHAR(MAX)	= NULL,
@ABOUTCOMPANY		NVARCHAR(MAX)	= NULL,
@JDDUMPID			BIGINT			= NULL,
@PREVHRID			BIGINT			= NULL,
@LOGGEDINUSERID		BIGINT			= NULL,
@GLASSDOORRATING	DECIMAL(18,2)	= NULL,
@AMBITIONBOXRATING	DECIMAL(18,2)	= NULL,
@OTHERROLE			NVARCHAR(MAX)	= NULL,
@COUNTRYID			BIGINT			= NULL,
@ISSPECIALEDIT		BIT				= NULL,
@COMPANYURL			NVARCHAR(MAX)	= NULL,
@ISTRANSPRICING		BIT				= NULL,
@HRTYPEPRICINGID	INT				= NULL,
@HRTYPEID			INT				= NULL,
@PAYROLLTYPEID		INT				= NULL,
@PAYROLLPARTNERNAME NVARCHAR(300)	= NULL,
@AVAILABILITY       NVARCHAR(100)	= NULL,
@CONTRACTDURATION   INT				= NULL,
@UPLERSFEESINPERCENTAGE  DECIMAL(18,2)	= NULL,
@CALCULATEDUPLERSFEES    NVARCHAR(100)	= NULL
AS
BEGIN

	DECLARE @DefaultSalesUserID BIGINT = 0;
	DECLARE @DATEFORHR AS VARCHAR(12) = '';
	DECLARE @StartDate DATETIME = CONVERT(DATETIME, @SHIFTSTARTTIME, 100);
	DECLARE @EndDate DATETIME = CONVERT(DATETIME, @SHIFTENDTIME, 100);
	DECLARE @HourDifference INT = DATEDIFF(HOUR, @StartDate, @EndDate);
	DECLARE @DefaultAcceptedByUserID BIGINT = 16;
	
	DECLARE @DefaultTR INT = 1;
	DECLARE @DefaultTerm NVARCHAR(50) = 'Long Term';
	
	DECLARE @AMSalesPersonID BIGINT = 0;
	DECLARE @NBDSalesPersonID BIGINT = 0;
	DECLARE @CompanyID BIGINT = 0;
	DECLARE @HowSoon NVARCHAR(100) = '';
	DECLARE @InsertedHRID BIGINT = 0;
	DECLARE @ContactName NVARCHAR(MAX) = '';
	DECLARE @ContactLinkedIn NVARCHAR(MAX) = '';
	DECLARE @ContactDesignation NVARCHAR(MAX) = '';
	DECLARE @ContactEmailID NVARCHAR(MAX) = '';
	DECLARE @DefaultRoleIcon NVARCHAR(200) = 'default-role-icon.png';
	DECLARE @InsertedHRDetailID BIGINT = 0;
	DECLARE @InsertedRoleID BIGINT = 0;
	DECLARE @DefaultModeOfWork NVARCHAR(100) = 'Remote';
	DECLARE @CurrentDate datetime = GETDATE();
	DECLARE @SkillName NVARCHAR(MAX) = '';
	DECLARE @TempSkillID NVARCHAR(MAX) = '';
	DECLARE @SkillID BIGINT = 0;
	DECLARE @CompanyName NVARCHAR(MAX) = '';
	DECLARE @TimeZoneValue NVARCHAR(200) = '';
	DECLARE @RoleValue NVARCHAR(200) = '';
	DECLARE @Cost NVARCHAR(100) = '';
	DECLARE @CurrencySign NVARCHAR(20) = '';
	DECLARE @ReturnHRID BIGINT = 0; 

	DECLARE @Id TABLE (Id BIGINT)
	DECLARE @JdDumpIdTbl TABLE (JDDumpId BIGINT)
	DECLARE @TempSkillId_tbl TABLE (Id NVARCHAR(MAX))

	DECLARE @DefaultDPPercentage DECIMAL(18,2) = 0.00;
	DECLARE @DefaultNRMargin DECIMAL(18,2) = 0.00;
	DECLARE @DefaultSpecificMonth INT = @CONTRACTDURATION;
	DECLARE @IsHrTypeDp BIT = 0

	IF @HRTYPEID = 1
	BEGIN
		SET @DefaultDPPercentage = @UPLERSFEESINPERCENTAGE
		SET @IsHrTypeDp = 1
	END
	IF @HRTYPEID = 2
	BEGIN
		SET @DefaultNRMargin = @UPLERSFEESINPERCENTAGE
		SET @IsHrTypeDp = 0
	END

	IF @HRID < 0 AND @CONTACTID > 0
		RETURN;
	IF NOT EXISTS (SELECT 1 from gen_Contact with(nolock) where ID = @CONTACTID)
		RETURN;

	SET @DefaultSalesUserID = ISNULL((SELECT ID from usr_User with(nolock) where EmployeeID = 'DCUP1673'),0);
	SET @DATEFORHR = format(getdate(),'ddMMyyHHmmss');

	IF OBJECT_ID('tempdb..#SkillsInHR') IS NOT NULL
		DROP TABLE #SkillsInHR;

	CREATE TABLE #SkillsInHR(SkillName NVARCHAR(MAX));

	SELECT	@CompanyID = ISNULL(CompanyID,0)
	FROM	gen_Contact with(nolock)
	WHERE	ID = @CONTACTID;

	SELECT	@AMSalesPersonID = ISNULL(AM_SalesPersonID,0), 
			@NBDSalesPersonID = ISNULL(NBD_SalesPersonID, 0),
			@CompanyName = ISNULL(Company, '')
	FROM	gen_Company with(nolock)
	WHERE	ID = @CompanyID

	SELECT	@HowSoon = ISNULL(HowSoonClientwantTalent, '')
	FROM	prg_HowSoonClientWantTalent with(nolock)
	WHERE	ID = @NOTICEPERIODID;

	SELECT	@ContactName = ISNULL(FullName, ''),
			@ContactLinkedIn = ISNULL(LinkedIn,''),
			@ContactDesignation = ISNULL(Designation,''),
			@ContactEmailID = ISNULL(EmailID, '')
	FROM	gen_Contact with(nolock)
	WHERE	ID = @CONTACTID;

	SELECT	@TimeZoneValue = TimeZoneTitle 
	From	prg_ContactTimeZone with(nolock)
	WHERE	ID = @TIMEZONEID;

	--Update about_Company_desc,WebSite,Lead_Type in gen_company
	IF ISNULL(@ABOUTCOMPANY,'') <> '' AND @CompanyID > 0
	BEGIN
		UPDATE	gen_company
		SET		about_Company_desc = @ABOUTCOMPANY,
				WebSite = @COMPANYURL,
				Lead_Type = @LEADTYPE
		WHERE	ID = @CompanyID
	END

	--IsTransparentPricing update in company, only when its not updated yet
		IF EXISTS (SELECT TOP 1 ID FROM GEN_COMPANY WITH (NOLOCK) WHERE ID = @CompanyID AND IsTransparentPricing IS NULL)
		BEGIN
			UPDATE	gen_company
			SET		IsTransparentPricing = @ISTRANSPRICING
			WHERE	ID = @CompanyID
		END

	--Cost Update logic --We dont have adhoc cost option in Direct HR
	SET @CurrencySign = (SELECT TOP 1 CurrencySign FROM prg_CurrencyExchangeRate WHERE CurrencyCode = @CURRENCY)
	IF (ISNULL(@MINBUDGET,0) >= 0 AND ISNULL(@MAXBUDGET,0) > 0)
	BEGIN
		SET @Cost = 
		IIF(ISNULL(@CurrencySign,'') <> '',@CurrencySign,'') + CAST(@MINBUDGET as NVARCHAR(100)) + ' ' + @CURRENCY + ' to ' 
		+ IIF(ISNULL(@CURRENCY,'') <> '',@CurrencySign,'') + CAST(@MAXBUDGET as NVARCHAR(100)) + ' ' + @CURRENCY + ' / Month';
	END
	ELSE
	BEGIN
		SET @Cost = 'Open for any budget';
	END
	
	IF EXISTS (SELECT 1 from gen_SalesHiringRequest with(nolock) where ID = @HRID and IsDirectHR = 1)
	BEGIN
		--Edit Direct HR Code
		SET @ReturnHRID = @HRID

		--Edit HR
		begin
			UPDATE	gen_SalesHiringRequest
			SET		RequestForTalent = CASE WHEN ISNULL(@HRTITLE,'') = '' THEN @OTHERROLE ELSE @HRTITLE END
					,JDFilename = CASE WHEN ISNULL(@JDURL,'') = '' THEN ISNULL(@JDFILENAME, JDFilename) ELSE '' END
					,JDURL = CASE WHEN ISNULL(@JDFILENAME,'') = '' THEN ISNULL(@JDURL, JDURL) ELSE '' END
					,LastModifiedByID= ISNULL(@LOGGEDINUSERID, LastModifiedByID)
					,LastModifiedDatetime = GETDATE()
					,NoofHoursworking = @HourDifference
					,JDDump_ID = @JDDUMPID
					,AM_SalesPersonID = @AMSalesPersonID
					,NBD_SalesPersonID = @NBDSalesPersonID
					,about_Company_desc = @ABOUTCOMPANY
			WHERE	ID = @HRID;
		end


		--Edit Remote Entry in DP Table
		begin
			IF EXISTS (SELECT 1 from gen_Direct_Placement with(nolock) where HiringRequest_Id = @HRID)
			BEGIN
				UPDATE	gen_Direct_Placement
				SET		ModeOfWork = CASE WHEN @ISREMOTE = 1 THEN @DefaultModeOfWork ELSE 'Office' END
						,Country = @COUNTRYID
						,ModifiedById = @LOGGEDINUSERID
						,ModifiedByDateTime = GETDATE()
				WHERE	HiringRequest_Id = @HRID;
			END
		end

		SELECT	@InsertedHRDetailID = ID
		FROM	gen_SalesHiringRequest_Details with(nolock)
		WHERE	HiringRequest_ID = @HRID;

		--Edit HR Detail
		begin
			UPDATE	gen_SalesHiringRequest_Details
			SET		Role_ID = @HRROLEID
					,YearOfExp = @YOE
					,HowSoon = @HowSoon
					,Timezone_ID = @TIMEZONEID
					,NoOfHoursWorking = @HourDifference
					,LastModifiedByID = @LOGGEDINUSERID
					,LastModifiedDatetime = GETDATE()
					,Interviewer_ID = @CONTACTID
					,InterviewerName = @ContactName
					,InterviewLinkedin = @ContactLinkedIn
					,RolesResponsibilities = @ROLESRESP
					,Requirement = @REQUIREMENT
					,TimeZone_FromTime = @SHIFTSTARTTIME
					,TimeZone_EndTime = @SHIFTENDTIME
					,InterviewerDesignation = @ContactDesignation
					,InterviewerEmailID = @ContactEmailID
					,BudgetFrom = @MINBUDGET
					,BudgetTo = @MAXBUDGET
					,Cost = @Cost
					,Currency = @CURRENCY
					,GlassdoorRating = @GLASSDOORRATING
					,AmbitionBoxRating = @AMBITIONBOXRATING
			WHERE	ID = @InsertedHRDetailID;
		end


		


		--Edit Other Role
		--begin
		--	IF ISNULL(@OTHERROLE,'') <> '' AND @HRROLEID = 0
		--	BEGIN
		--		IF NOT EXISTS (SELECT 1 from prg_TalentRoles with(nolock) where TalentRole = @OTHERROLE)
		--		BEGIN
		--			INSERT INTO prg_TalentRoles(TalentRole, IsActive, IsAdhoc, FrontIconImage)
		--			SELECT @OTHERROLE, 1, 1, @DefaultRoleIcon;

		--			SET @InsertedRoleID = @@IDENTITY;
		--		END
		--		ELSE
		--		BEGIN
		--			SET @InsertedRoleID = ISNULL((SELECT ID from prg_TalentRoles with(nolock) where TalentRole = @OTHERROLE),0);
		--		END

		--		UPDATE	gen_SalesHiringRequest_Details
		--		SET		Role_ID = @InsertedRoleID,
		--				AddOtherRole = @OTHERROLE
		--		WHERE	ID = @InsertedHRDetailID;
		--	END
		--end


		--JD
		begin

			SET @RoleValue = (SELECT TalentRole from prg_TalentRoles with(nolock) where ID = @InsertedRoleID);
			
			IF EXISTS (SELECT 1 from gen_SalesHR_JDDump with(nolock) where ID = @JDDUMPID)
			BEGIN
				INSERT INTO @JdDumpIdTbl(JDDumpID)
					EXEC @JDDUMPID = Sproc_DumpJDDetailsintoTempTable @CONTACTID, @CompanyName, @TimeZoneValue, @RoleValue, '', @MUSTHAVESKILLS, @HowSoon, 
								@AVAILABILITY, @YOE, 1, '', @JDFILENAME, '', 1, @JDDUMPID, @MUSTHAVESKILLS, 1, @ROLESRESP, @REQUIREMENT;
			END
			ELSE
			BEGIN
				INSERT INTO @JDDumpIDTbl(JDDumpID)
					EXEC @JDDUMPID = Sproc_DumpJDDetailsintoTempTable @CONTACTID, @CompanyName, @TimeZoneValue, @RoleValue, '', @MUSTHAVESKILLS, @HowSoon, 
								@AVAILABILITY, @YOE, 1, '', @JDFILENAME, '', 1, 0, @MUSTHAVESKILLS, 1, @ROLESRESP, @REQUIREMENT;
			END

			UPDATE	gen_SalesHiringRequest
			SET		JDDump_ID = @JDDUMPID
			WHERE	ID = @HRID;

		end

		--Add/Edit Skills
		begin
			
			--Add New Skills linked with this HR ID
			INSERT INTO #SkillsInHR(SkillName)
				SELECT val from f_split(@MUSTHAVESKILLS, ',');

			IF (SELECT COUNT(1) from #SkillsInHR) > 0
				DELETE FROM gen_SalesHiringRequest_SkillDetails WHERE HiringRequest_ID = @HRID and Proficiency = 'Strong';
			

			DECLARE CUR_HR_SKILLS CURSOR FOR SELECT * FROM #SkillsInHR
			OPEN CUR_HR_SKILLS
			
			FETCH NEXT FROM CUR_HR_SKILLS INTO @SkillName

			WHILE @@FETCH_STATUS = 0
			BEGIN
				IF EXISTS(SELECT 1 from prg_Skills with(nolock) where LTRIM(RTRIM(Skill)) = LTRIM(RTRIM(@SkillName)))
				BEGIN
					SET @SkillID = ISNULL((SELECT top 1 ID from prg_Skills with(nolock) where LTRIM(RTRIM(Skill)) = LTRIM(RTRIM(@SkillName))), 0);
					INSERT INTO gen_SalesHiringRequest_SkillDetails(HiringRequest_ID,Skill_ID,Proficiency,CreatedByID,CreatedByDatetime)
						SELECT @HRID, @SkillID, 'Strong', @LOGGEDINUSERID, GETDATE();
				END
				ELSE
				BEGIN
					IF NOT EXISTS (SELECT 1 from prg_TempSkills with(nolock) where LTRIM(RTRIM(TempSkill)) = LTRIM(RTRIM(@SkillName)))
					BEGIN
						INSERT INTO @TempSkillId_tbl EXEC @TempSkillID = Sproc_prg_TempSkills_Insert @SkillName, @LOGGEDINUSERID, @CurrentDate, null, null, 0;
					END
					ELSE
					BEGIN
						SET @TempSkillID = ISNULL((SELECT top 1 TempSkill_ID FROM prg_TempSkills with(nolock) where LTRIM(RTRIM(TempSkill)) = LTRIM(RTRIM(@SkillName))), '');
					END

					INSERT INTO gen_SalesHiringRequest_SkillDetails(HiringRequest_ID,Skill_ID,Proficiency,CreatedByID,CreatedByDatetime,TempSkill_ID)
						SELECT @HRID, 0, 'Strong', @LOGGEDINUSERID, GETDATE(), @TempSkillID;
				END

				FETCH NEXT FROM CUR_HR_SKILLS INTO @SkillName
			END

			CLOSE CUR_HR_SKILLS
			DEALLOCATE CUR_HR_SKILLS
		end


		--Add gen_SalesHiringRequest_History
		begin
			INSERT INTO gen_SalesHiringRequest_History(HiringRequest_ID
												,SalesUserID
												,ContactID
												,RequestForTalent
												,JDFilename
												,JDURL
												,NoofTalents
												,Status_ID
												,CreatedByID
												,CreatedByDatetime
												,HR_Number
												,Availability
												,NoofHoursworking
												,JDDump_ID
												,IsCreatedByClient
												,IsActive
												,TalentCostCalcPercentage
												,IsAdhocHR
												,IsEmailSend
												,AcceptedByID
												,AcceptedByDateTime
												,IsAccepted
												,IsManaged
												,TR_Accepted
												,AM_SalesPersonID
												,NBD_SalesPersonID
												,BQLink
												,Discovery_Call
												,about_Company_desc
												,DealID
												,Previous_HiringRequest_ID
												,HistoryDate
												,IsPoolHR
												,IsHRTypeDP
												,DPPercentage)
			SELECT	@HRID, @DefaultSalesUserID, @CONTACTID, @HRTITLE, @JDFILENAME, @JDURL, 1, 1, @LOGGEDINUSERID, GETDATE(), 'HR' + @DATEFORHR, 
					@AVAILABILITY, @HourDifference, @JDDUMPID, 0, 1, @DefaultNRMargin,0,0, @DefaultAcceptedByUserID, GETDATE(),1,0,@DefaultTR, @AMSalesPersonID,
					@NBDSalesPersonID, 'NA', 'NA', @ABOUTCOMPANY, 0, @PREVHRID, GETDATE(),1,@IsHrTypeDp, @DefaultDPPercentage;
		end
		

		--Add gen_History
		begin
			INSERT INTO @Id EXEC sproc_HiringRequest_History_Insert @Action = 'Update_HR', @HiringRequest_ID = @HRID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
				@OldSalesUserID = 0, @AppActionDoneBy = 3;

			INSERT INTO @Id EXEC sproc_HiringRequest_History_Insert @Action = 'Update_HRDBrifing', @HiringRequest_ID = @HRID,
					@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
					@OldSalesUserID = 0, @AppActionDoneBy = 3;
		end


		--Special Edit By COE Team
		begin
			IF @ISSPECIALEDIT = 1
			BEGIN
				EXEC sproc_Update_HRDetails_From_Special_User @HR_ID = @HRID, @HRDetail_ID = @InsertedHRDetailID, @LoggedInUserID = @LOGGEDINUSERID;

				INSERT INTO @Id EXEC sproc_HiringRequest_History_Insert @Action = 'EditHR_COETeam', @HiringRequest_ID = @HRID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
				@OldSalesUserID = 0, @AppActionDoneBy = 3;
			END
		end


		--Add Company Lead Type User Details
		begin
			IF NOT EXISTS (SELECT 1 from gen_CompanyLeadType_UserDetails with(nolock) where CompanyID = @CompanyID) --AND LeadType_UserID = @LEADOWNERID)
			BEGIN
				INSERT INTO gen_CompanyLeadType_UserDetails(CompanyID, LeadType_UserID)
					SELECT @CompanyID, @LEADOWNERID;
			END
			ELSE
			BEGIN
				UPDATE	gen_CompanyLeadType_UserDetails
				SET		LeadType_UserID = @LEADOWNERID
				WHERE	CompanyID = @CompanyID;
			END
		end

		--select @HRID As HRID
	END
	ELSE
	BEGIN
		--Add Direct HR Code

		--Add HR
		begin
			INSERT INTO gen_SalesHiringRequest(SalesUserID
												,ContactID
												,RequestForTalent
												,JDFilename
												,JDURL
												,NoofTalents
												,Status_ID
												,CreatedByID
												,CreatedByDatetime
												,HR_Number
												,Availability
												,NoofHoursworking
												,JDDump_ID
												,IsCreatedByClient
												,IsActive
												,TalentCostCalcPercentage
												,AcceptedByID
												,AcceptedByDateTime
												,IsAccepted
												,TR_Accepted
												,AM_SalesPersonID
												,NBD_SalesPersonID
												,BQLink
												,Discovery_Call
												,about_Company_desc
												,Previous_HiringRequest_ID
												,IsDirectHR
												,IsTransparentPricing
												,HiringTypePricingId
												,HR_TypeId
												,PayrollTypeId
												,PayrollPartnerName
												,IsHRTypeDP
												,DPPercentage
												,HRTypeId)
			SELECT	@DefaultSalesUserID, @CONTACTID,CASE WHEN ISNULL(@HRTITLE,'') = '' THEN @OTHERROLE ELSE @HRTITLE END, @JDFILENAME, 
					@JDURL, 1, 1, @LOGGEDINUSERID, GETDATE(), 'HR' + @DATEFORHR, @AVAILABILITY, @HourDifference, @JDDUMPID, 0, 1, @DefaultNRMargin, 
					@DefaultAcceptedByUserID, GETDATE(), 1, @DefaultTR, @AMSalesPersonID, @NBDSalesPersonID, 'NA', 'NA', @ABOUTCOMPANY, @PREVHRID, 1
					,@ISTRANSPRICING, @HRTYPEPRICINGID, @HRTYPEID, @PAYROLLTYPEID, @PAYROLLPARTNERNAME, @IsHrTypeDp, @DefaultDPPercentage, 2
				
			SET @InsertedHRID = @@IDENTITY;
			--select @InsertedHRID As HRID
			SET @HRID = @InsertedHRID
			SET @ReturnHRID = @InsertedHRID
		end


		--Add Remote Entry in DP Table
		begin
			IF NOT EXISTS (SELECT 1 from gen_Direct_Placement with(nolock) where HiringRequest_Id = @InsertedHRID)
			BEGIN
				INSERT INTO gen_Direct_Placement(HiringRequest_Id
												,ModeOfWork
												,Country
												,CreatedById
												,CreatedByDateTime)
				SELECT @InsertedHRID, CASE WHEN @ISREMOTE = 1 THEN @DefaultModeOfWork ELSE 'Office' END, @COUNTRYID, @LOGGEDINUSERID, GETDATE();
			END
		end


		--Add HR Details
		begin
			INSERT INTO gen_SalesHiringRequest_Details(HiringRequest_ID
														,Role_ID
														,NoofEmployee
														,DurationType
														,RoleStatus_ID
														,SpecificMonth
														,YearOfExp
														,HowSoon
														,Timezone_ID
														,NoOfHoursWorking
														,CreatedByID
														,CreatedByDatetime
														,Interviewer_ID
														,InterviewerName
														,InterviewLinkedin
														,RolesResponsibilities
														,Requirement
														,TimeZone_FromTime
														,TimeZone_EndTime
														,InterviewerDesignation
														,InterviewerEmailID
														,BudgetFrom
														,BudgetTo
														,Cost
														,Currency
														,GlassdoorRating
														,AmbitionBoxRating
														,CalculatedUplersfees)
			SELECT @InsertedHRID, @HRROLEID, @DefaultTR, @DefaultTerm, 2, @DefaultSpecificMonth, @YOE, @HowSoon, @TIMEZONEID, @HourDifference, @LOGGEDINUSERID,
					GETDATE(), @CONTACTID, @ContactName, @ContactLinkedIn, @ROLESRESP, @REQUIREMENT, @SHIFTSTARTTIME, @SHIFTENDTIME, @ContactDesignation,
					@ContactEmailID, @MINBUDGET, @MAXBUDGET, @Cost, @CURRENCY, @GLASSDOORRATING, @AMBITIONBOXRATING, @CALCULATEDUPLERSFEES;

			SET @InsertedHRDetailID = @@IDENTITY;
		end


		


		--Save Other Role
		--begin
		--	IF ISNULL(@OTHERROLE,'') <> '' AND @HRROLEID = 0
		--	BEGIN
		--		INSERT INTO prg_TalentRoles(TalentRole, IsActive, IsAdhoc, FrontIconImage)
		--			SELECT @OTHERROLE, 1, 1, @DefaultRoleIcon;

		--		SET @InsertedRoleID = @@IDENTITY;


		--		UPDATE	gen_SalesHiringRequest_Details
		--		SET		Role_ID = @InsertedRoleID,
		--				AddOtherRole = @OTHERROLE
		--		WHERE	ID = @InsertedHRDetailID;
		--	END
		--end


		--JD
		begin

			SET @RoleValue = (SELECT TalentRole from prg_TalentRoles with(nolock) where ID = @InsertedRoleID);
			
			IF EXISTS (SELECT 1 from gen_SalesHR_JDDump with(nolock) where ID = @JDDUMPID)
			BEGIN
				INSERT INTO @JdDumpIdTbl (JDDumpID)
					EXEC @JDDUMPID = Sproc_DumpJDDetailsintoTempTable @CONTACTID, @CompanyName, @TimeZoneValue, @RoleValue, '', @MUSTHAVESKILLS, @HowSoon, 
								@AVAILABILITY, @YOE, 1, '', @JDFILENAME, '', 1, @JDDUMPID, @MUSTHAVESKILLS, 1, @ROLESRESP, @REQUIREMENT;
			END
			ELSE
			BEGIN
				INSERT INTO @JdDumpIdTbl (JDDumpID)
					EXEC @JDDUMPID = Sproc_DumpJDDetailsintoTempTable @CONTACTID, @CompanyName, @TimeZoneValue, @RoleValue, '', @MUSTHAVESKILLS, @HowSoon, 
								@AVAILABILITY, @YOE, 1, '', @JDFILENAME, '', 1, 0, @MUSTHAVESKILLS, 1, @ROLESRESP, @REQUIREMENT;
			END

			UPDATE	gen_SalesHiringRequest
			SET		JDDump_ID = @JDDUMPID
			WHERE	ID = @InsertedHRID;

		end

		--Add/Edit Skills
		begin
			
			--Add New Skills linked with this HR ID
			INSERT INTO #SkillsInHR(SkillName)
				SELECT val from f_split(@MUSTHAVESKILLS, ',');

			IF (SELECT COUNT(1) from #SkillsInHR) > 0
				DELETE FROM gen_SalesHiringRequest_SkillDetails WHERE HiringRequest_ID = @HRID and Proficiency = 'Strong';


			DECLARE CUR_HR_SKILLS CURSOR FOR SELECT * FROM #SkillsInHR
			OPEN CUR_HR_SKILLS

			FETCH NEXT FROM CUR_HR_SKILLS INTO @SkillName
			
			WHILE @@FETCH_STATUS = 0
			BEGIN

				IF EXISTS(SELECT 1 from prg_Skills with(nolock) where LTRIM(RTRIM(Skill)) = LTRIM(RTRIM(@SkillName)))
				BEGIN
					SET @SkillID = ISNULL((SELECT top 1 ID from prg_Skills with(nolock) where LTRIM(RTRIM(Skill)) = LTRIM(RTRIM(@SkillName))), 0);
					
					INSERT INTO gen_SalesHiringRequest_SkillDetails(HiringRequest_ID,Skill_ID,Proficiency,CreatedByID,CreatedByDatetime)
						SELECT @HRID, @SkillID, 'Strong', @LOGGEDINUSERID, GETDATE();
				END
				ELSE
				BEGIN
					IF NOT EXISTS (SELECT 1 from prg_TempSkills with(nolock) where LTRIM(RTRIM(TempSkill)) = LTRIM(RTRIM(@SkillName)))
					BEGIN
					   INSERT INTO @TempSkillId_tbl EXEC @TempSkillID = Sproc_prg_TempSkills_Insert @SkillName, @LOGGEDINUSERID, @CurrentDate, null, null, 0;
					END
					ELSE
					BEGIN
						SET @TempSkillID = ISNULL((SELECT top 1 TempSkill_ID FROM prg_TempSkills with(nolock) where LTRIM(RTRIM(TempSkill)) = LTRIM(RTRIM(@SkillName))), '');
					END

					INSERT INTO gen_SalesHiringRequest_SkillDetails(HiringRequest_ID,Skill_ID,Proficiency,CreatedByID,CreatedByDatetime,TempSkill_ID)
						SELECT @HRID, 0, 'Strong', @LOGGEDINUSERID, GETDATE(), @TempSkillID;
				END

				FETCH NEXT FROM CUR_HR_SKILLS INTO @SkillName
			END

			CLOSE CUR_HR_SKILLS
			DEALLOCATE CUR_HR_SKILLS
		end


		--Add gen_SalesHiringRequest_History
		begin
			INSERT INTO gen_SalesHiringRequest_History(HiringRequest_ID
												,SalesUserID
												,ContactID
												,RequestForTalent
												,JDFilename
												,JDURL
												,NoofTalents
												,Status_ID
												,CreatedByID
												,CreatedByDatetime
												,HR_Number
												,Availability
												,NoofHoursworking
												,JDDump_ID
												,IsCreatedByClient
												,IsActive
												,TalentCostCalcPercentage
												,IsAdhocHR
												,IsEmailSend
												,AcceptedByID
												,AcceptedByDateTime
												,IsAccepted
												,IsManaged
												,TR_Accepted
												,AM_SalesPersonID
												,NBD_SalesPersonID
												,BQLink
												,Discovery_Call
												,about_Company_desc
												,DealID
												,Previous_HiringRequest_ID
												,HistoryDate
												,IsPoolHR
												,IsHRTypeDP)
			SELECT	@InsertedHRID, @DefaultSalesUserID, @CONTACTID, @HRTITLE, @JDFILENAME, @JDURL, 1, 1, @LOGGEDINUSERID, GETDATE(), 'HR' + @DATEFORHR, 
					@AVAILABILITY, @HourDifference, @JDDUMPID, 0, 1, @DefaultNRMargin,0,0, @DefaultAcceptedByUserID, GETDATE(),1,0,@DefaultTR, @AMSalesPersonID,
					@NBDSalesPersonID, 'NA', 'NA', @ABOUTCOMPANY, 0, @PREVHRID, GETDATE(),1,@IsHrTypeDp;
		end
		
		--Add gen_History
		begin
		 
		INSERT INTO @Id	EXEC sproc_HiringRequest_History_Insert @Action = 'Create_HR', @HiringRequest_ID = @InsertedHRID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
				@OldSalesUserID = 0, @AppActionDoneBy = 3;

		INSERT INTO @Id	EXEC sproc_HiringRequest_History_Insert @Action = 'Create_HRDBrifing', @HiringRequest_ID = @InsertedHRID,
					@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
					@OldSalesUserID = 0, @AppActionDoneBy = 3;

		INSERT INTO @Id	EXEC sproc_HiringRequest_History_Insert @Action = 'HR_Acceptance', @HiringRequest_ID = @InsertedHRID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = @CurrentDate, @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
				@OldSalesUserID = 0, @AppActionDoneBy = 3;

		INSERT INTO @Id	EXEC sproc_HiringRequest_History_Insert @Action = 'TR_Accepted', @HiringRequest_ID = @InsertedHRID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @LOGGEDINUSERID,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = @CurrentDate, @OnBoard_ID = 0,@IsManagedByClient = 0,@IsManagedByTalent = 0, @SalesUserID = @DefaultSalesUserID,
				@OldSalesUserID = 0, @AppActionDoneBy = 3;
		end

		--Add default Primary contact into gen_SalesHiringRequest_InterviewerDetails
		BEGIN
			INSERT INTO gen_SalesHiringRequest_InterviewerDetails
					(ContactID,
					HiringRequest_ID,
					HiringRequest_Detail_ID,
					InterviewerName,
					InterviewLinkedin,
					InterviewerDesignation,
					InterviewerEmailID,
					IsUsedAddMore)
			Values
					(@CONTACTID,
					@InsertedHRID,
					@InsertedHRDetailID,
					@ContactName,
					@ContactLinkedIn,
					@ContactDesignation,
					@ContactEmailID, 
					0)
		END

		--Add Company Lead Type User Details
		begin
			IF NOT EXISTS (SELECT 1 from gen_CompanyLeadType_UserDetails with(nolock) where CompanyID = @CompanyID) --AND LeadType_UserID = @LEADOWNERID)
			BEGIN
				INSERT INTO gen_CompanyLeadType_UserDetails(CompanyID, LeadType_UserID)
					SELECT @CompanyID, @LEADOWNERID;
			END
			ELSE
			BEGIN
				UPDATE	gen_CompanyLeadType_UserDetails
				SET		LeadType_UserID = @LEADOWNERID
				WHERE	CompanyID = @CompanyID;
			END
		end

		--select @InsertedHRID As HRID
	END

	Select @ReturnHRID as HRID
END
