ALTER PROCEDURE [dbo].[Sproc_Update_Prerequisites_UnicodeValues]
  @GUID				  Nvarchar(200) = null,
  @Prerequisites	  Nvarchar(MAX)	= null
AS
BEGIN
		DECLARE @HRID as BIGINT = 0
		
		IF(@GUID != 'null')
		  BEGIN
			    
			  IF @GUID LIKE '%-%'  
					--PRINT 'Client portal HR';  
					SELECT @HRID = ID from gen_SalesHiringRequest WITH(NOLOCK) where GUID  = @GUID
			  ELSE  
				  BEGIN  
					set @HRID = CAST(@GUID AS BIGINT)  
				  END  
		   END

		
		SELECT @HRID = ID from gen_SalesHiringRequest WITH(NOLOCK) where GUID  = @GUID

		IF (@HRID > 0 and len(@Prerequisites) > 0)
			BEGIN
					
					Update gen_JobPost_VitalInfo_ClientPortal
					SET	   Prerequisites = ISNULL(@Prerequisites,Prerequisites)
					where  HRID = @HRID 

			END
		ELSE
			BEGIN
					
					Update gen_JobPost_VitalInfo_ClientPortal
					SET	   Prerequisites = ISNULL(@Prerequisites,Prerequisites)
					where  GUID = @GUID 
			END

		


END