USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[sproc_GetClientHappinessSurvey]    Script Date: 9/26/2023 6:17:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sproc_GetClientHappinessSurvey]
	@PageIndex				INT = 1,
	@PageSize				INT = 50,
	@SortExpression			nvarchar(100) = 'ID',
	@SortDirection			nvarchar(100) = 'DESC',
	@StartDate				nvarchar(100) = NULL,
	@EndDate				nvarchar(100) = NULL,
	@RatingFrom             int = NULL,
	@RatingTo				int = NULL,
	@Company			    nvarchar(500) = NULL,
	@Client			        nvarchar(500) = NULL,
	@Email			        nvarchar(500) = NULL,
	@Rating			        int = NULL,
	@Question			    nvarchar(500) = NULL,
	@FeedbackStatus			nvarchar(100) = NULL,
	@selectedFormat			nvarchar(100) = NULL,
	@options				nvarchar(max) = NULL,
	@searchText			    NVARCHAR(200) = NULL
AS
BEGIN
	
		DECLARE @WhereClauseSQL nvarchar(max) = ''
		DECLARE @MainSQL nvarchar(max) = ''
		DECLARE @TmpDBSQL nvarchar(max) = ''

		--IF isnull(@options,'') <> ''
		--	SET @WhereClauseSQL += 'AND Options IN (select HappynessSurvay_Option from prg_ClientHappinessSurvey_FeedbackOptions where ID IN('+@options+'))';
				
		IF isnull(@FeedbackStatus,'') <> ''
			BEGIN
				IF (@FeedbackStatus = 'Pending')
					SET @WhereClauseSQL += 'AND CAST(FeedbackDate as date) = '''' ';
				IF (@FeedbackStatus = 'Completed')
					SET @WhereClauseSQL += 'AND CAST(FeedbackDate as date) <> '''' ';
			END
		If (@StartDate <> '' and @Enddate <> '')
		 Begin
				IF (@selectedFormat = 'c')
					SET @WhereClauseSQL+= ' AND (CAST(AddedDate as date) BETWEEN CAST(''' + @StartDate + ''' as DATE) AND CAST(''' + @EndDate + ''' as DATE))'
				ELSE IF(@selectedFormat = 'f')
					SET @WhereClauseSQL+= ' AND (CAST(FeedbackDate as date) BETWEEN CAST(''' + @StartDate + ''' as DATE) AND CAST(''' + @EndDate + ''' as DATE))'
		
		 end
		
		IF (isnull(@RatingFrom,0) <> -1 AND isnull(@RatingTo,0) <> 0)
			SET @WhereClauseSQL += ' AND Rating >= ' + CONVERT(nvarchar,@RatingFrom) + ' AND Rating <='+ CONVERT(nvarchar,@RatingTo) +''

		IF isnull(@Company,'') <> ''
			SET @WhereClauseSQL += ' AND Company LIKE ''%' + CONVERT(nvarchar,@Company) + '%'''

		IF isnull(@Client,'') <> ''
			SET @WhereClauseSQL += ' AND Client LIKE ''%' + CONVERT(nvarchar,@Client) + '%'''

		IF isnull(@Email,'') <> ''
			SET @WhereClauseSQL += ' AND Email LIKE ''%' + CONVERT(nvarchar,@Email) + '%'''

		IF isnull(@Rating,'') <> ''
			SET @WhereClauseSQL += ' AND Rating = '+ CONVERT(nvarchar,@Rating) +''

		IF isnull(@Question,'') <> ''
			SET @WhereClauseSQL += ' AND Question LIKE ''%' + CONVERT(nvarchar,@Question) + '%'''

		IF isnull(@searchText,'') <> ''
			SET @WhereClauseSQL += ' AND (Company LIKE ''%' + CONVERT(nvarchar,@searchText) + '%''
										 OR Email like ''%' + CONVERT(nvarchar,@searchText) + '%''
										 OR Client like ''%' + CONVERT(nvarchar,@searchText) + '%''
										 OR Category like ''%' + CONVERT(nvarchar,@searchText) + '%''
										 OR Sales like ''%' + CONVERT(nvarchar,@searchText) + '%''
										 OR FeedbackStatus like ''%' + CONVERT(nvarchar,@searchText) + '%''
										 OR TestimonialOptions like ''%' + CONVERT(nvarchar,@searchText) + '%''		
										 )'

			SET @MainSQL= 
							';WITH CTE_Records AS 
							(select distinct chs.ID as ID,
							ISNULL(chs.CreatedByDateTime, '''') AddedDate,
							ISNULL(chs.Feedback_SubmittedDate, '''') FeedbackDate,
									Company = case when isnull(chs.Other_Company_Name,'''') <> '''' then isnull(chs.Other_Company_Name,'''') else  ISNULL(co.Company,'''') end, 
									Client = case when ISNULL(chs.Other_Client_Name,'''') <> '''' then ISNULL(chs.Other_Client_Name,'''') else ISNULL(con.FullName,'''') end, 
									Email = case when ISNULL(chs.Other_ClientEmailID,'''') <> '''' then ISNULL(chs.Other_ClientEmailID,'''') else ISNULL(con.EmailID,'''') end,
									ISNULL(chs.Other_Company_Name,'''') Other_Company_Name,ISNULL(chs.Other_Client_Name,'''') Other_Client_Name,
									ISNULL(chs.Other_ClientEmailID,'''') Other_ClientEmailID,ISNULL(Rating,0) Rating, 
									ISNULL(chs.Is_EmailSend,0) Is_EmailSend,
									ISNULL((select STUFF((select top 1 '','' + ISNULL(L.HappinessSurvey_Question,'''')  from prg_ClientHappinessSurvey_FeedbackQuestions L WITH(NOLOCK) inner join gen_ClientHappinessSurvey_Questions CHO WITH(NOLOCK) On CHO.HappinessSurvey_QuestionID = L.ID where CHO.HappinessSurvey_FeedbackID  = chs.ID order by CHO.ID desc  for xml path('''')),1,1,'''')),'''') as Question, 
									ISNULL((select STUFF((select '','' + ISNULL(L.HappynessSurvay_Option,'''')  from prg_ClientHappinessSurvey_FeedbackOptions L WITH(NOLOCK) inner join gen_ClientHappinessSurvey_Options CHO WITH(NOLOCK) ON CHO.HappynessSurvay_OptionID = L.ID  where CHO.HappynessSurvay_Feedback_ID = chs.ID order by CHO.ID desc for xml path('''')),1,1,'''')),'''') as Options, 
									ISNULL((select STUFF((select top 1 '','' + CONVERT(nvarchar(10),ISNULL(L.ID,0))  from prg_ClientHappinessSurvey_FeedbackOptions L WITH(NOLOCK) inner join gen_ClientHappinessSurvey_Options CHO WITH(NOLOCK) ON CHO.HappynessSurvay_OptionID = L.ID  where CHO.HappynessSurvay_Feedback_ID = chs.ID order by CHO.ID desc for xml path('''')),1,1,'''')),0)  as Optionid, 
									ISNULL(chs.Feedback_Comments,'''') as Comments,
									--Link = case when isnull(chs.Feedback_SubmittedDate,'''') <> '''' then '''' else ISNULL(Feedback_URL,'''')  end,
									ISNULL(Feedback_URL,'''') as Link,
									1 as TotalCountID,
									co.IsActive as CompanyActive,
									con.IsActive as ContactActive,
									ISNULL(co.Category,'''') Category,
									ISNULL(U.FullName,'''') As Sales,
									ISNULL(U.ID,'''') As SaleUserId,
									FeedbackStatus = case when isnull(chs.Feedback_SubmittedDate,'''') <> '''' then ''Completed'' else ''Feedback Pending'' end,
									ISNULL(chs.TestimonialOptions,'''') as TestimonialOptions
							from	gen_ClientHappinessSurvey chs WITH(NOLOCK)	
									inner join Usr_user U WITH(NOLOCK) on U.ID = chs.CreatedByID						  
									LEFT join gen_Company co WITH(NOLOCK) on ISNULL(chs.Company_ID,0) = ISNULL(co.ID,0)   
									LEFT join gen_Contact con WITH(NOLOCK) on ISNULL(chs.Contact_ID,0) = ISNULL(con.ID,0))
							
								,Cte_TotalCount AS(
										Select Count(1) as TotalRecords,1 as TotalCountID FROM CTE_Records 
								) 

								SELECT ID,Is_EmailSend,Category,Sales,SaleUserId,FeedbackStatus,TestimonialOptions,
								CASE WHEN AddedDate = '''' THEN '''' ELSE (CONVERT(varchar(20), ISNULL(AddedDate, ''''), 103) + '' ''  + convert(VARCHAR(8), AddedDate, 14)) END AS AddedDate,
								CASE WHEN FeedbackDate = '''' THEN '''' ELSE (CONVERT(varchar(20), ISNULL(FeedbackDate, ''''), 103) + '' ''  + convert(VARCHAR(8), FeedbackDate, 14)) END AS FeedbackDate,
								Company,Client,Email,Other_Company_Name,Other_Client_Name,Other_ClientEmailID,Rating,Question,Options,Optionid,Comments,
								Link,CompanyActive,ContactActive,TotalRecords FROM (
										SELECT distinct U.*, COUNT(*) OVER (PARTITION BY 1) TotalRecords 
												FROM CTE_Records U INNER JOIN Cte_TotalCount T on T.TotalCountID =U.TotalCountID'
												 IF isnull(@options,'') <> ''
												 BEGIN
													SET @MainSQL += ' INNER JOIN (select val,CSF.HappynessSurvay_Option as HSOption,CSF.ID as CSFID from f_split(''' + @options + ''','','') inner join prg_ClientHappinessSurvey_FeedbackOptions CSF WITH(NOLOCK) on val = CSF.ID) Z1 on 1=1 and CHARINDEX(Z1.HSOption,U.Options) > 0'
												END
													SET @MainSQL +=' WHERE  1= 1  ' + @WhereClauseSQL +' 
										) Z '
								 

					  If @TmpDBSQL <> ''
						BEGIN
								SET @MainSQL = @TmpDBSQL + @MainSQL								
						END

						If	@SortExpression = 'AddedDate' OR @SortExpression = 'FeedbackDate'
									SET @MainSQL += ' ORDER BY cast(' + @SortExpression + ' as datetime) ' + @SortDirection
									--SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection
						ELSe 
								SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection

						
					   IF(@PageSize>0)
						  BEGIN
								SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
												FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY 
										  ';
						   END
						ELSE
			BEGIN
			SET @MainSQL= 	@MainSQL;
			END

						   
		PRINT(@MainSQL)
		EXECUTE sp_executesql @MainSQL		  	
	
END




