ALTER PROCEDURE [dbo].[Sproc_UTS_Get_PayOut_Basic_Information]
	@PayOutID BIGINT
AS
BEGIN
	IF @PayOutID > 0
	BEGIN
		SELECT 
		PaI.ID AS PayOutID,
		PaI.OnBoardID AS OnBoardID,
		PaI.HiringRequest_ID AS HiringRequestID,
		PaI.ContactID AS ContactID,
		PaI.TalentID AS TalentID,
		ISNULL(Co.Company,'') As CompanyName,
		ISNULL(C.FullName,'') AS ClientName,
		ISNULL(T.Name,'') + Char(10) + ' (' + Isnull(T.EmailID,'') + ') ' AS TalentName,
		ISNULL(OBT.EngagemenID,'') + ' / ' + Char(10) + Isnull(SHR.Hr_Number,'') AS EngagementId_HRID, 
		ISNULL(PaI.AM_SalesPersonID,obt.AM_SalesPersonID) AS AM_SalesPersonID,
		ISNULL(AM.FullName,'') AS AM_UserName
		FROM 
		gen_Payout_Information PaI WITH(NOLOCK)
		INNER JOIN gen_OnBoardTalents obt ON obt.ID = PaI.OnBoardID
		INNER JOIN gen_Talent T WITH(NOLOCK) ON T.ID = PaI.TalentID 
		INNER JOIN gen_Contact C WITH(NOLOCK) ON C.ID = PaI.ContactID
		INNER JOIN gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		INNER JOIN gen_SalesHiringRequest SHR WITH(NOLOCK) ON PaI.HiringRequest_ID = SHR.ID 
		LEFT JOIN usr_User AM WITH(NOLOCK) ON AM.ID =  ISNULL(PaI.AM_SalesPersonID,OBT.AM_SalesPersonID)
		where PaI.ID = @PayOutID
	END
END
