ALTER PROCEDURE [dbo].[Sproc_Get_Company_Funding_Details]
	@CompanyId		  bigint = 0
AS
BEGIN
		IF OBJECT_ID('tempdb..#FundingDetils') Is not null
			DROP Table #FundingDetils

		--CREATE TABLE #FundingDetils
		--(
		--	FundingId		bigint,
		--	FundingAmount	Nvarchar(200),
		--	FundingRound    Nvarchar(50),
		--	Series			Nvarchar(200),
		--	FundingMonth	Nvarchar(20),
		--	FundingYear		Nvarchar(5),
		--	Investors		Nvarchar(Max),
		--	TotalRounds		int,
		--	LastFundingRound Nvarchar(100),
		--	AllInvestors	Nvarchar(Max),
		--	AdditionalInformation Nvarchar(Max)
		--)

		--Insert into #FundingDetils(FundingId,FundingAmount,FundingRound,Series,FundingMonth,FundingYear,Investors,AdditionalInformation)
		SELECT 
		TOP 1  
		FundingId = ID, 
		FundingAmount = ISNULL(Amount,''),
		FundingRound = ISNULL(FundingRound,''),
		Series = ISNULL(Series,''), 
		FundingMonth  = ISNULL([Month],''), 
		FundingYear = ISNULL([Year],''),
		Investors = ISNULL(Investors,''),
		TotalRounds = 1,
		LastFundingRound = ISNULL([Month],'') + ',' + ISNULL([Year],''),
		AllInvestors = ISNULL(Investors,''),
		AdditionalInformation = ISNULL(AdditionalInformation,'')
		FROM    gen_Company_FundingDetails WITH(NOLOCK) 
		WHERE   CompanyID = @CompanyId ORDER BY ID DESC
	
		
		--UPDATE  F
		--SET     F.TotalRounds = Q.FundingID
		--FROM    #FundingDetils F
		--		inner join (
		--			select   Count(FundingID) FundingID
		--			from     #FundingDetils f1 
		--		)Q ON 1 = 1 

		--UPDATE  F
		--SET     F.LastFundingRound = Q.LastFundingRound
		--FROM    #FundingDetils F
		--		inner join (
		--			select   top 1  Isnull(FundingMonth,'') + ',' + Isnull(FundingYear,'') as LastFundingRound
		--			from     #FundingDetils f1 
		--			Order by FundingId desc
		--		)Q ON 1 = 1 
		   
		--UPDATE  F
		--SET     F.AllInvestors = Q.AllInvestors
		--FROM    #FundingDetils F
		--		inner join (
		--						select   STUFF((Select ',' + F1.Investors
		--										from     #FundingDetils f1
		--										For XMl Path('')),1,1,'') As AllInvestors
		--		)Q ON 1 = 1 

		--Select * from #FundingDetils

		--DROP table #FundingDetils
END