ALTER PROCEDURE [dbo].[Sproc_Fetch_TalentNotesEmailsLog_HRWise]	
	@HRID				bigint = 0	
AS
BEGIN

	
	SELECT ATSTalentID, T.Name AS TalentName, T.ID AS UTSTalentID FROM gen_TalentNotes_ClientPortal TN WITH(NOLOCK) 
	INNER JOIN gen_Talent T WITH(NOLOCK) ON TN.ATSTalentID = T.ATS_Talent_ID
	
	WHERE IsEmailSentToClient = 0 AND AppActionDoneBy = 3 AND HRID = @HRID
	Group by ATSTalentID, T.ID,T.Name

	UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Fetch_TalentNotesEmailsLog_HRWise'

END

