  
CREATE PROCEDURE [dbo].[Sproc_Get_UTS_TrackingLeadDetails]    
    @NoOfJobs  int = null,    
 @Fromdate  DateTime = null,    
 @ToDate   Datetime = null,  
 @UTM_Source     Nvarchar(200) = null,  
 @UTM_Medium     Nvarchar(200) = null,  
 @UTM_Campaign   Nvarchar(200) = null,  
 @UTM_Content    Nvarchar(200) = null,  
 @UTM_Term       Nvarchar(200) = null,  
 @UTM_Placement  Nvarchar(200) = null,  
 @ref_url  Nvarchar(MAX) = null  
AS    
BEGIN    
   DECLARE @WhereClauseSQL nvarchar(max) = '';  
   DECLARE @MainSQL nvarchar(max) = ''  ;  
   DECLARE @Total_Records  Nvarchar(MAX) ;    
    
 IF OBJECT_ID('tempdb..#NoOfJobsClientWise') IS NOT NULL  
  DROP TABLE #NoOfJobsClientWise  
  
 CREATE TABLE #NoOfJobsClientWise(ContactId bigint,NoOfJobs int);  
  
  
 Insert into #NoOfJobsClientWise(ContactId,NoOfJobs)  
 select H.ContactID,COUNT(ID)   
 from   gen_SalesHiringRequest H WITH(NOLOCK)        
 WHERE  H.GUID is not null  
 GROUP BY H.ContactID  
  
  
   
  
 IF ISNULL(@UTM_Source,'') <> ''  
  BEGIN  
   IF OBJECT_ID('tempdb..#UTMSource') IS NOT NULL  
   DROP TABLE #UTMSource;  
  
   CREATE TABLE #UTMSource(ID bigint);  
  
   INSERT INTO #UTMSource(ID)  
    select val from f_split(@UTM_Source,',')  
  
   SET @WhereClauseSQL += ' AND US.ID IN ( select ID from #UTMSource ) '  
  END  
  
 IF ISNULL(@UTM_Medium,'') <> ''  
  BEGIN  
   IF OBJECT_ID('tempdb..#UTMMedium') IS NOT NULL  
   DROP TABLE #UTMMedium;  
  
   CREATE TABLE #UTMMedium(ID bigint);  
  
   INSERT INTO #UTMMedium(ID)  
    select val from f_split(@UTM_Medium,',')  
  
   SET @WhereClauseSQL += ' AND UM.ID IN ( select ID from #UTMMedium ) '  
  END  
    
 IF ISNULL(@UTM_Campaign,'') <> ''  
  BEGIN  
   IF OBJECT_ID('tempdb..#UTMCampaign') IS NOT NULL  
   DROP TABLE #UTMCampaign;  
  
   CREATE TABLE #UTMCampaign(ID bigint);  
  
   INSERT INTO #UTMCampaign(ID)  
    select val from f_split(@UTM_Campaign,',')  
  
   SET @WhereClauseSQL += ' AND UC.ID IN ( select ID from #UTMCampaign ) '  
  END  
  
 IF ISNULL(@UTM_Content,'') <> ''  
  BEGIN  
   IF OBJECT_ID('tempdb..#UTMContent') IS NOT NULL  
   DROP TABLE #UTMContent;  
  
   CREATE TABLE #UTMContent(ID bigint);  
  
   INSERT INTO #UTMContent(ID)  
    select val from f_split(@UTM_Content,',')  
  
   SET @WhereClauseSQL += ' AND UCO.ID IN ( select ID from #UTMContent ) '  
  END  
  
    IF ISNULL(@UTM_Term,'') <> ''  
  BEGIN  
   IF OBJECT_ID('tempdb..#UTMTerm') IS NOT NULL  
   DROP TABLE #UTMTerm;  
  
   CREATE TABLE #UTMTerm(ID bigint);  
  
   INSERT INTO #UTMTerm(ID)  
    select val from f_split(@UTM_Term,',')  
  
   SET @WhereClauseSQL += ' AND UT.ID IN ( select ID from #UTMTerm ) '  
  END  
  
 IF ISNULL(@UTM_Placement,'') <> ''  
  BEGIN  
   IF OBJECT_ID('tempdb..#UTMPlacement') IS NOT NULL  
   DROP TABLE #UTMPlacement;  
  
   CREATE TABLE #UTMPlacement(ID bigint);  
  
   INSERT INTO #UTMPlacement(ID)  
    select val from f_split(@UTM_Placement,',')  
  
   SET @WhereClauseSQL += ' AND UP.ID IN ( select ID from #UTMPlacement ) '  
  END  
  
    IF ISNULL(@ref_url,'') <> ''  
  BEGIN  
   IF OBJECT_ID('tempdb..#RefUrl') IS NOT NULL  
    DROP TABLE #RefUrl;  
  
   CREATE TABLE #RefUrl(ID bigint);  
  
   INSERT INTO #RefUrl(ID)  
    select val from f_split(@ref_url,',')  
  
   SET @WhereClauseSQL += ' AND RU.ID IN ( select ID from #RefUrl ) '  
  END  
  
 IF ISNULL(@NoOfJobs,0) <> 0  
  BEGIN  
     IF OBJECT_ID('tempdb..#NoOfJobs') IS NOT NULL  
    DROP TABLE #NoOfJobs    
  
     CREATE TABLE #NoOfJobs(NoOfJobs int);  
       
     INSERT INTO #NoOfJobs(NoOfJObs)  
    select val from f_split(@NoOfJobs,',')  
      
    SET @WhereClauseSQL += ' AND N.NoOfJObs IN ( select NoOfJobs from #NoOfJobs ) '  
  END   
  
 IF ISNULL(@FromDate,'') <> '' and ISNULL(@ToDate,'') <> ''  
  BEGIN      
    SET @WhereClauseSQL += ' AND Cast(CAST(TL.CreatedDateTime as date) as Nvarchar(15)) between ''' + Cast(CAST(@Fromdate  as date) as Nvarchar(15)) + ''' and ''' + Cast(CAST(@ToDate  as date) as Nvarchar(15)) + ''' '  
  END  
  
  IF OBJECT_ID('tempdb..#TrackingLeadReport') IS NOT NULL  
   DROP TABLE #TrackingLeadReport  
  
  CREATE TABLE #TrackingLeadReport  
  (  
   ID     int,  
   Actions    Nvarchar(50),  
   [value]    int  default 0  
  )  
  
  INSERT INTO #TrackingLeadReport(ID,Actions)  
  VALUES(1,'Sign Up')  
  
  INSERT INTO #TrackingLeadReport(ID,Actions)  
  VALUES(2,'Posted a job')  
  
  INSERT INTO #TrackingLeadReport(ID,Actions)  
  VALUES(3,'Hired a talent')  
  
    
   SET @MainSQL = 'UPDATE  TL  
       SET  [Value] = Q.value   
       FROM    #TrackingLeadReport TL   
         inner join (  
            select Count(Id) value  
            From  (  
              select distinct TL.Id as Id,TL.ContactID  
              FROM gen_TrackingLead_ClientPortal TL WITH(NOLOCK)   
                inner join gen_Contact C WITH(NOLOCK) ON C.ID = TL.ContactID  
                inner join prg_UTM_Source US WITH(NOLOCK) ON Lower(US.UTM_Source) = Lower(TL.UTM_Source)  
                inner join prg_UTM_Campaign UC WITH(NOLOCK) ON Lower(UC.UTM_Campaign) = Lower(TL.UTM_Campaign)  
                inner join prg_UTM_Content UCO WITH(NOLOCK) ON Lower(UCO.UTM_Content) = Lower(TL.UTM_Content)  
                inner join prg_UTM_Medium UM WITH(NOLOCK) ON Lower(UM.UTM_Medium) = Lower(TL.UTM_Medium)  
                inner join prg_UTM_Placement UP WITH(NOLOCK) ON Lower(UP.UTM_Placement) = Lower(TL.UTM_Placement)  
                inner join prg_UTM_Term UT WITH(NOLOCK) ON Lower(UT.UTM_Term) = Lower(TL.UTM_Term)  
                inner join prg_Ref_Url RU WITH(NOLOCK) ON Lower(RU.Ref_Url) = Lower(TL.Ref_Url)  
              WHERE   IsFinalSignUP = 1 and 1 = 1 ' + @WhereClauseSQL + '  
              --GROUP BY TL.ContactID  
               )Z  
         )Q ON 1 = 1  
         WHERE  TL.ID = 1'  
  print(@MainSQL)  
  
    
   EXECUTE sp_executesql @MainSQL  
  
   SET @MainSQL = '   UPDATE  TL  
       SET  [Value] = Q.value   
       FROM    #TrackingLeadReport TL   
         inner join (  
            select Count(Id) value  
            From  (  
              select distinct TL.Id as Id,TL.ContactID  
              FROM gen_TrackingLead_ClientPortal TL WITH(NOLOCK)   
                inner join gen_Contact C WITH(NOLOCK) ON C.ID = TL.ContactID  
                inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = TL.HRID and TL.ContactID = C.ID  
                inner join #NoOfJobsClientWise N WITH(NOLOCK) ON N.ContactID = TL.ContactID  
                inner join prg_UTM_Source US WITH(NOLOCK) ON Lower(US.UTM_Source) = Lower(TL.UTM_Source)  
                inner join prg_UTM_Campaign UC WITH(NOLOCK) ON Lower(UC.UTM_Campaign) = Lower(TL.UTM_Campaign)  
                inner join prg_UTM_Content UCO WITH(NOLOCK) ON Lower(UCO.UTM_Content) = Lower(TL.UTM_Content)  
                inner join prg_UTM_Medium UM WITH(NOLOCK) ON Lower(UM.UTM_Medium) = Lower(TL.UTM_Medium)  
                inner join prg_UTM_Placement UP WITH(NOLOCK) ON Lower(UP.UTM_Placement) = Lower(TL.UTM_Placement)  
                inner join prg_UTM_Term UT WITH(NOLOCK) ON Lower(UT.UTM_Term) = Lower(TL.UTM_Term)  
                inner join prg_Ref_Url RU WITH(NOLOCK) ON Lower(RU.Ref_Url) = Lower(TL.Ref_Url)  
              WHERE   IsJobPost = 1 and 1=1 ' + @WhereClauseSQL + '   
              --GROUP BY TL.ContactID  
            )Z  
         )Q ON 1 = 1   
         WHERE  TL.ID = 2 '  
    
   EXECUTE sp_executesql @MainSQL  
  
   SET @MainSQL = 'UPDATE  TL  
       SET  [Value] = Q.value   
       FROM    #TrackingLeadReport TL   
         inner join (  
            select Count(Id) value  
            From  (  
              select distinct TL.Id as Id,TL.ContactID  
              FROM gen_TrackingLead_ClientPortal TL WITH(NOLOCK)   
                inner join gen_Contact C WITH(NOLOCK) ON C.ID = TL.ContactID  
                inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = TL.HRID and TL.ContactID = C.ID  
                inner join #NoOfJobsClientWise N WITH(NOLOCK) ON N.ContactID = TL.ContactID  
                inner join gen_History HI WITH(NOLOCK) ON HI.HiringRequest_ID = H.ID and HI.Action_ID = 12  
                inner join prg_UTM_Source US WITH(NOLOCK) ON Lower(US.UTM_Source) = Lower(TL.UTM_Source)  
                inner join prg_UTM_Campaign UC WITH(NOLOCK) ON Lower(UC.UTM_Campaign) = Lower(TL.UTM_Campaign)  
                inner join prg_UTM_Content UCO WITH(NOLOCK) ON Lower(UCO.UTM_Content) = Lower(TL.UTM_Content)  
                inner join prg_UTM_Medium UM WITH(NOLOCK) ON Lower(UM.UTM_Medium) = Lower(TL.UTM_Medium)  
                inner join prg_UTM_Placement UP WITH(NOLOCK) ON Lower(UP.UTM_Placement) = Lower(TL.UTM_Placement)  
                inner join prg_UTM_Term UT WITH(NOLOCK) ON Lower(UT.UTM_Term) = Lower(TL.UTM_Term)  
                inner join prg_Ref_Url RU WITH(NOLOCK) ON Lower(RU.Ref_Url) = Lower(TL.Ref_Url)  
              WHERE   IsJobPost = 1 and 1=1 ' + @WhereClauseSQL + '  
              --GROUP BY TL.ContactID  
             )Z  
         )Q ON 1 = 1   
         WHERE  TL.ID = 3 '  
    
   EXECUTE sp_executesql @MainSQL  
  
   select * from #TrackingLeadReport  
  
   DROP TABLE #TrackingLeadReport  
   DROP TABLE #NoOfJobsClientWise  
   
      
END