USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_ShortlistedTalents_HomePage_ClientPortal]    Script Date: 16-02-2024 16:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Get_ShortlistedTalents_HomePage_ClientPortal]
	@Hiring_Request_Id		bigint = null,
	@Contact_Id				bigint = null
AS
BEGIN

		Declare @CompanyID as bigint =0
		Select	@CompanyID = CompanyID 
		from	gen_Contact with(nolock) 
		where	ID = @Contact_ID

		SELECT  [HiringRequest_ID],Talent_ID,isnull([Str_TimeZone],'') AS [Str_TimeZone],isnull([Accepted_Howsoon],'') AS [Accepted_Howsoon],isnull([Accepted_Availability],'') [Accepted_Availability]					
		into	#Temp_PostAcceptanceDetails
		FROM	gen_PostAcceptanceDetails PA WITH(nolock) inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON PA.HiringRequest_ID = HR.ID
				inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = HR.ContactID
		where	GC.CompanyID =@CompanyID	
		group by [HiringRequest_ID],Talent_ID,isnull([Str_TimeZone],'') ,isnull([Accepted_Howsoon],''),isnull([Accepted_Availability],'')


		SELECT	IMasterID =max(IntM.ID) ,IntM.HiringRequest_ID ,IntM.Talent_ID,max(Intm.InterviewRound_Count)  InterviewRound_Count
		INTO	#TempInterviewDetails
		FROM	gen_InterviewSlotsMaster IntM WITH(NOLOCK) 	
		WHERE	IntM.HiringRequest_ID = @Hiring_Request_Id 
		GROUP BY  IntM.HiringRequest_ID ,IntM.Talent_ID

		--IF @Hiring_Request_Id > 0 
		 BEGIN
				;WITH CTE_TimeZone_else 
				AS (
						SELECT distinct HR.ContactID, HRD.HiringRequest_ID, HRD.Timezone_ID,CTP.TalentID ,1 AS isHR 
						FROM	gen_SalesHiringRequest_Details HRD WITH(NOLOCK) 
								inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.ID
								inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID  
								inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = CTP.ContactID
						where	GC.CompanyID = @CompanyID
								AND HR.ID = @Hiring_Request_Id 	
								AND CTP.TalentStatusID_BasedOnHR in(2,3)
								AND HRD.RoleStatus_ID  in(2,4,5)
						) , CTE_NextRound 
						AS(
							Select	FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID,NR.Talent_ID,
									max(NR.InterviewRound) InterviewRound
									,StrInterviewRound = ' ( Round '+ cast(max(NR.InterviewRound) as varchar(10)) +' )'																
									,max(NR.ID) AS AnotherRoundID 
									,RoundWiseSlotCheck= 
									(	select top 1 isnull(NextRound_ID,0)									
										from	gen_ShortlistedTalent_InterviewDetails MainSlot WITH(Nolock) 
												inner join gen_InterviewSlotsMaster M with(nolock) On MainSlot.HiringRequest_Detail_ID =M.HiringRequest_Detail_ID AND MainSlot.Talent_ID =M.Talent_ID  AND MainSlot.InterviewMaster_ID = M.ID
												inner join gen_contact G_C WITH(NOLOCK) ON  G_C.ID = MainSlot.ContactID									
										where	MainSlot.HiringRequest_Detail_ID =FB.HiringRequest_Detail_ID AND 
												G_C.CompanyID =@CompanyID
												AND isnull(NextRound_ID,0) =max(NR.ID)  
												AND M.InterviewStatus_ID <> 3
									)
						From	gen_ContactInterviewFeedback FB WITH(NOLOCK)	
								inner join gen_TalentSelected_NextRound_InterviewDetails NR WITH(NOLOCK) ON FB.ContactID = NR.ContactID AND FB.HiringRequest_ID = NR.HiringRequest_ID AND 	FB.HiringRequest_Detail_ID = NR.HiringRequest_Detail_ID
								inner join CTE_TimeZone_else CT ON  FB.ContactID = CT.ContactID AND FB.HiringRequest_ID = CT.HiringRequest_ID
								inner join gen_contact GCon WITH(NOLOCK) ON  GCon.ID = FB.ContactID								
						WHERE	GCon.CompanyID = @CompanyID AND FB.FeedBack_Type ='AnotherRound' 
						group by FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID,NR.Talent_ID
					) 
					select * 
					from(
							select	HR.ID, ctp.TalentID, TalentPriority, T.Name As TalentName, T.EmailID AS TalentEmail,
									TalentRole,
									Score = '',
									PrimarySkills =  isnull((STUFF((
													select	distinct ', ' +  isnull(ss1.Skill,'')
													from	prg_Skills SS1  WITH(NOLOCK) 	
															inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID
															and TPD.PrimarySkill_ID = SS1.ID
													WHERE	isnull(SS1.IsActive,0) =1 AND  ISNULL(TPD.PrimarySkill_ID,0) <> 0
													For	XML Path('')),1,1,''
												)),'')										
										
												+ isnull((STUFF((				            
													select	distinct ', ' +  isnull(TempSkill,'')
													from	prg_TempSkills TS1  WITH(NOLOCK)
															inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID
															AND TPD.TempSkill_ID = cast(TS1.ID as nvarchar(10))
													WHERE   isnull(TS1.Status_ID,0) <> 2 AND  ISNULL(TPD.TempSkill_ID,'') <> ''
													For	XML Path('')),1,1,''
												)),''),
									 Isnull(CTP.HR_Cost,'') Fees,Isnull(T.Description,'') Description,							
									 Experience= case when FLOOR(isnull(T.TotalExpYears,0)) <> CEILING(isnull(T.TotalExpYears,0)) then cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5))  + '+ Years' else replace( replace( cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5)),'.0',''),'.00','') + ' Years' end
									,HR_Number = Isnull(HR_Number,'')
									,HRD.ID AS HiringRequest_Detail_ID
									,PhotoImage = Isnull(T.PhotoImage,'')							
									,CreatedByDatetime = isnull(HR.LastModifiedDatetime, HR.CreatedByDatetime)		
									,AnotherRoundID = cast(isnull(AnotherRoundID,0) as int)
									,HRJobTitle = Isnull(HR.RequestForTalent,'')
									,IsInterviewSlotbooked = case when isnull(AnotherRoundID,0) > 0 AND isnull(RoundWiseSlotCheck,0) > 0 then 1 
														  when isnull(AnotherRoundID,0) > 0 AND isnull(RoundWiseSlotCheck,0) = 0 then 0
														  else isnull((Select top 1 1 from gen_ShortlistedTalent_InterviewDetails ShID with(nolock) 
														  inner join gen_InterviewSlotsMaster M WITH(NOLOCK) ON ShID.HiringRequest_Detail_ID = M.HiringRequest_Detail_ID AND ShID.Talent_ID =M.Talent_ID
														  where ShID.HiringRequest_Detail_ID = HRD.ID AND ShID.Talent_ID =CTP.TalentID AND M.InterviewStatus_ID not in(3,7)  order By ShID.ID desc ),0) end
									,InterviewStatus = Isnull(INS.InterviewStatus,'')
									,InterviewStatusID = Isnull(INS.Id,0)
							from	gen_SalesHiringRequest HR with(nolock) 
									inner join gen_SalesHiringRequest_Details HRD with(nolock) on HR.ID = HRD.HiringRequest_ID
									inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID 	 AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID				
									inner join gen_Talent T with(nolock) ON T.ID = CTP.TalentID
									inner join prg_TalentRoles R  with(nolock) ON HRD.Role_ID = R.ID 
									INNER JOIN prg_HiringRequestStatus HRStatus WITH(NOLOCK) ON HRStatus.ID = HR.Status_ID
									inner join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON TAC.ID = CTP.TalentStatusID_BasedOnHR									
									left join prg_TalentJoinning TJ WITH(NOLOCK) ON TJ.ID = T.Joining_ID
									LEFT JOIN CTE_NextRound CTE ON CTE.Talent_ID = CTP.TalentID AND HR.ID = CTE.HiringRequest_ID AND  CTE.ContactID = HR.ContactID AND CTE.HiringRequest_Detail_ID = HRD.ID  
									left join #Temp_PostAcceptanceDetails PA ON HR.ID = PA.[HiringRequest_ID]  AND PA.Talent_ID = CTP.TalentID
									LEft JOIN #TempInterviewDetails Tmp ON Tmp.HiringRequest_ID = HR.ID AND Tmp.Talent_ID = T.ID
									LEft join gen_InterviewSlotsMaster IntM WITH(NOLOCK) ON IntM.ID = Tmp.IMasterID and Tmp.InterviewRound_Count = IntM.InterviewRound_Count
									Left JOIN gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) ON  TI.InterviewRound = IntM.InterviewRound_Count and  TI.InterviewMaster_ID=IntM.ID AND TI.HiringRequest_ID = IntM.HiringRequest_ID AND TI.HiringRequest_Detail_ID = IntM.HiringRequest_Detail_ID AND TI.Talent_ID = IntM.Talent_ID
									LEft join prg_InterviewStatus INS WITH(NOLOCK) ON INS.ID = IntM.InterviewStatus_ID	
								
							where	TalentPriority = 'Priority 1' AND HR.ID = @Hiring_Request_Id 
									AND CTP.TalentStatusID_BasedOnHR in(2,3)
									AND HRD.RoleStatus_ID  in(2,4,5)
					union all
					
							select	HR.ID, ctp.TalentID, TalentPriority, T.Name As TalentName, T.EmailID AS TalentEmail,TalentRole,
									Score = '',
									PrimarySkills =  isnull((STUFF((
													select	distinct ', ' +  isnull(ss1.Skill,'')
													from	prg_Skills SS1  WITH(NOLOCK) 	
															inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID
															and TPD.PrimarySkill_ID = SS1.ID
													WHERE	isnull(SS1.IsActive,0) =1 AND  ISNULL(TPD.PrimarySkill_ID,0) <> 0
													For	XML Path('')),1,1,''
												)),'')										
										
												+ isnull((STUFF((				            
													select	distinct ', ' +  isnull(TempSkill,'')
													from	prg_TempSkills TS1  WITH(NOLOCK)
															inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID
															AND TPD.TempSkill_ID = cast(TS1.ID as nvarchar(10))
													WHERE   isnull(TS1.Status_ID,0) <> 2 AND  ISNULL(TPD.TempSkill_ID,'') <> ''
													For	XML Path('')),1,1,''
												)),''),
									Isnull(CTP.HR_Cost,'') Fees,Isnull(T.Description,'') Description,
							
									Experience= case when FLOOR(isnull(T.TotalExpYears,0)) <> CEILING(isnull(T.TotalExpYears,0)) then cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5))  + '+ Years' else replace( replace( cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5)),'.0',''),'.00','') + ' Years' end
							
									,Hr_Number = Isnull(HR_Number,'')
									,HRD.ID AS HiringRequest_Detail_ID
									,PhotoImage = Isnull(T.PhotoImage,'')
									,CreatedByDatetime = isnull(HR.LastModifiedDatetime, HR.CreatedByDatetime)							 
									,AnotherRoundID = cast(isnull(AnotherRoundID,0) as int)
									,HRJobTitle = Isnull(HR.RequestForTalent,'')
									,IsInterviewSlotbooked = case when isnull(AnotherRoundID,0) > 0 AND isnull(RoundWiseSlotCheck,0) > 0 then 1 
														  when isnull(AnotherRoundID,0) > 0 AND isnull(RoundWiseSlotCheck,0) = 0 then 0
														  else isnull((Select top 1 1 from gen_ShortlistedTalent_InterviewDetails ShID with(nolock) 
														  inner join gen_InterviewSlotsMaster M WITH(NOLOCK) ON ShID.HiringRequest_Detail_ID = M.HiringRequest_Detail_ID AND ShID.Talent_ID =M.Talent_ID
														  where ShID.HiringRequest_Detail_ID = HRD.ID AND ShID.Talent_ID =CTP.TalentID AND M.InterviewStatus_ID not in(3,7)  order By ShID.ID desc ),0) end
									,InterviewStatus = Isnull(INS.InterviewStatus,'')
									,InterviewStatusID = Isnull(INS.Id,0)
							from	gen_SalesHiringRequest HR with(nolock) 
									inner join gen_SalesHiringRequest_Details HRD with(nolock) on HR.ID = HRD.HiringRequest_ID
									inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID 	 AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID				
									inner join gen_Talent T with(nolock) ON T.ID = CTP.TalentID
									inner join prg_TalentRoles R  with(nolock) ON HRD.Role_ID = R.ID --AND T.RoleID = R.ID
									INNER JOIN prg_HiringRequestStatus HRStatus WITH(NOLOCK) ON HRStatus.ID = HR.Status_ID	
									inner join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON TAC.ID = CTP.TalentStatusID_BasedOnHR								
									left join prg_TalentJoinning TJ WITH(NOLOCK) ON TJ.ID = T.Joining_ID
									LEFT JOIN CTE_NextRound CTE ON CTE.Talent_ID = CTP.TalentID AND HR.ID = CTE.HiringRequest_ID AND  CTE.ContactID = HR.ContactID AND CTE.HiringRequest_Detail_ID = HRD.ID  
									left join #Temp_PostAcceptanceDetails PA ON HR.ID = PA.[HiringRequest_ID]  AND PA.Talent_ID = CTP.TalentID 
									LEft JOIN #TempInterviewDetails Tmp ON Tmp.HiringRequest_ID = HR.ID AND Tmp.Talent_ID = T.ID
									LEft join gen_InterviewSlotsMaster IntM WITH(NOLOCK) ON IntM.ID = Tmp.IMasterID and Tmp.InterviewRound_Count = IntM.InterviewRound_Count
									Left JOIN gen_TalentSelected_InterviewDetails TI WITH(NOLOCK) ON  TI.InterviewRound = IntM.InterviewRound_Count and  TI.InterviewMaster_ID=IntM.ID AND TI.HiringRequest_ID = IntM.HiringRequest_ID AND TI.HiringRequest_Detail_ID = IntM.HiringRequest_Detail_ID AND TI.Talent_ID = IntM.Talent_ID
									LEft join prg_InterviewStatus INS WITH(NOLOCK) ON INS.ID = IntM.InterviewStatus_ID	
								
							where	HR.ID = @Hiring_Request_Id AND TalentPriority <> 'Priority 1'  AND isnull(AllowedtoSelectforHR,0) =1
									AND CTP.TalentStatusID_BasedOnHR in(2,3)
									AND HRD.RoleStatus_ID  in(2,4,5) 

						)Q1
						Order BY  CreatedByDatetime desc, 1 desc
		 END
		--ELSE
		--  BEGIN
		--		;WITH CTE_TimeZone_else 
		--		AS (
		--				SELECT distinct HR.ContactID, HRD.HiringRequest_ID, HRD.Timezone_ID,CTP.TalentID ,1 AS isHR 
		--				FROM	gen_SalesHiringRequest_Details HRD WITH(NOLOCK) 
		--						inner join gen_SalesHiringRequest HR WITH(NOLOCK) ON HRD.HiringRequest_ID = HR.ID
		--						inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID  
		--						inner join gen_contact GC WITH(NOLOCK) ON  GC.ID = CTP.ContactID
		--				where	GC.CompanyID = @CompanyID
		--						AND HR.ID = @Hiring_Request_Id 	
		--						AND CTP.TalentStatusID_BasedOnHR in(2,3)
		--						AND HRD.RoleStatus_ID  in(2,4,5)
		--				) , CTE_NextRound 
		--				AS(
		--					Select	FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID,NR.Talent_ID, max(NR.InterviewRound) InterviewRound
		--							,StrInterviewRound = ' ( Round '+ cast(max(NR.InterviewRound) as varchar(10)) +' )'																
		--							,max(NR.ID) AS AnotherRoundID 
		--							,RoundWiseSlotCheck= (select top 1 isnull(NextRound_ID,0) 
		--					from	gen_ShortlistedTalent_InterviewDetails MainSlot WITH(Nolock) 
		--							inner join gen_InterviewSlotsMaster M with(nolock) On MainSlot.HiringRequest_Detail_ID =M.HiringRequest_Detail_ID AND MainSlot.Talent_ID =M.Talent_ID  AND MainSlot.InterviewMaster_ID = M.ID
		--							inner join gen_contact G_C WITH(NOLOCK) ON  G_C.ID = MainSlot.ContactID
		--					where	MainSlot.HiringRequest_Detail_ID =FB.HiringRequest_Detail_ID AND 
		--							G_C.CompanyID =@CompanyID
		--							AND isnull(NextRound_ID,0) =max(NR.ID)  
		--							AND M.InterviewStatus_ID <>3
		--					)	
		--				From	gen_ContactInterviewFeedback FB WITH(NOLOCK)	
		--						inner join gen_TalentSelected_NextRound_InterviewDetails NR WITH(NOLOCK) ON FB.ContactID = NR.ContactID AND FB.HiringRequest_ID = NR.HiringRequest_ID AND 	FB.HiringRequest_Detail_ID = NR.HiringRequest_Detail_ID
		--						inner join CTE_TimeZone_else CT ON  FB.ContactID = CT.ContactID AND FB.HiringRequest_ID = CT.HiringRequest_ID
		--						inner join gen_contact GCon WITH(NOLOCK) ON  GCon.ID = FB.ContactID
		--				WHERE	GCon.CompanyID =@CompanyID
		--						AND FB.FeedBack_Type ='AnotherRound' 
		--				group by FB.ContactID,FB.HiringRequest_ID,FB.HiringRequest_Detail_ID,NR.Talent_ID 
		--			) 
		--			select * 
		--			from(
		--					select	HR.ID, ctp.TalentID, TalentPriority, T.Name As TalentName, T.EmailID AS TalentEmail,
		--							TalentRole,
		--							Score = '',
		--							PrimarySkills =  isnull((STUFF((
		--											select	distinct ', ' +  isnull(ss1.Skill,'')
		--											from	prg_Skills SS1  WITH(NOLOCK) 	
		--													inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID
		--													and TPD.PrimarySkill_ID = SS1.ID
		--											WHERE	isnull(SS1.IsActive,0) =1 AND  ISNULL(TPD.PrimarySkill_ID,0) <> 0
		--											For	XML Path('')),1,1,''
		--										)),'')										
										
		--										+ isnull((STUFF((				            
		--											select	distinct ', ' +  isnull(TempSkill,'')
		--											from	prg_TempSkills TS1  WITH(NOLOCK)
		--													inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID
		--													AND TPD.TempSkill_ID = cast(TS1.ID as nvarchar(10))
		--											WHERE   isnull(TS1.Status_ID,0) <> 2 AND  ISNULL(TPD.TempSkill_ID,'') <> ''
		--											For	XML Path('')),1,1,''
		--										)),''),
		--							 Isnull(CTP.HR_Cost,'') Fees,Isnull(T.Description,'') Description,							
		--							 Experience= case when FLOOR(isnull(T.TotalExpYears,0)) <> CEILING(isnull(T.TotalExpYears,0)) then cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5))  + '+ Years' else replace( replace( cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5)),'.0',''),'.00','') + ' Years' end
		--							,Hr_Number = Isnull(HR_Number,'')
		--							,HRD.ID AS HiringRequest_Detail_ID
		--							,PhotoImage = Isnull(T.PhotoImage,'')							
		--							,CreatedByDatetime = isnull(HR.LastModifiedDatetime, HR.CreatedByDatetime)
		--							,AnotherRoundID = cast(isnull(AnotherRoundID,0) as int)
		--							,HRJobTitle = Isnull(HR.RequestForTalent,'')
		--					from	gen_SalesHiringRequest HR with(nolock) 
		--							inner join gen_SalesHiringRequest_Details HRD with(nolock) on HR.ID = HRD.HiringRequest_ID
		--							inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID 	 AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID				
		--							inner join gen_Talent T with(nolock) ON T.ID = CTP.TalentID
		--							inner join prg_TalentRoles R  with(nolock) ON HRD.Role_ID = R.ID 
		--							INNER JOIN prg_HiringRequestStatus HRStatus WITH(NOLOCK) ON HRStatus.ID = HR.Status_ID
		--							inner join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON TAC.ID = CTP.TalentStatusID_BasedOnHR									
		--							left join prg_TalentJoinning TJ WITH(NOLOCK) ON TJ.ID = T.Joining_ID
		--							LEFT JOIN CTE_NextRound CTE ON CTE.Talent_ID = CTP.TalentID AND HR.ID = CTE.HiringRequest_ID AND  CTE.ContactID = HR.ContactID AND CTE.HiringRequest_Detail_ID = HRD.ID  
		--							left join #Temp_PostAcceptanceDetails PA ON HR.ID = PA.[HiringRequest_ID]  AND PA.Talent_ID = CTP.TalentID

		--					where	TalentPriority = 'Priority 1' 
		--							AND CTP.TalentStatusID_BasedOnHR in(2,3)
		--							AND HRD.RoleStatus_ID  in(2,4,5)
		--			union all
					
		--					select	HR.ID, ctp.TalentID, TalentPriority, T.Name As TalentName, T.EmailID AS TalentEmail,TalentRole,
		--							Score = '',
		--							PrimarySkills =  isnull((STUFF((
		--											select	distinct ', ' +  isnull(ss1.Skill,'')
		--											from	prg_Skills SS1  WITH(NOLOCK) 	
		--													inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID
		--													and TPD.PrimarySkill_ID = SS1.ID
		--											WHERE	isnull(SS1.IsActive,0) =1 AND  ISNULL(TPD.PrimarySkill_ID,0) <> 0
		--											For	XML Path('')),1,1,''
		--										)),'')										
										
		--										+ isnull((STUFF((				            
		--											select	distinct ', ' +  isnull(TempSkill,'')
		--											from	prg_TempSkills TS1  WITH(NOLOCK)
		--													inner join gen_TalentPrimarySkill_Details TPD WITH(NOLOCK) ON TPD.TalentID = T.ID
		--													AND TPD.TempSkill_ID = cast(TS1.ID as nvarchar(10))
		--											WHERE   isnull(TS1.Status_ID,0) <> 2 AND  ISNULL(TPD.TempSkill_ID,'') <> ''
		--											For	XML Path('')),1,1,''
		--										)),''),
		--							Isnull(CTP.HR_Cost,'') Fees,Isnull(T.Description,'') Description,
							
		--							Experience= case when FLOOR(isnull(T.TotalExpYears,0)) <> CEILING(isnull(T.TotalExpYears,0)) then cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5))  + '+ Years' else replace( replace( cast(Isnull(floor(isnull(T.TotalExpYears,0)),0) as nvarchar(5)),'.0',''),'.00','') + ' Years' end
							
		--							,Hr_Number = Isnull(HR_Number,'')
		--							,HRD.ID AS HiringRequest_Detail_ID
		--							,PhotoImage = Isnull(T.PhotoImage,'')
		--							,CreatedByDatetime = isnull(HR.LastModifiedDatetime, HR.CreatedByDatetime)							 
		--							,AnotherRoundID = cast(isnull(AnotherRoundID,0) as int)
		--							,HRJobTitle = Isnull(HR.RequestForTalent,'')
		--					from	gen_SalesHiringRequest HR with(nolock) 
		--							inner join gen_SalesHiringRequest_Details HRD with(nolock) on HR.ID = HRD.HiringRequest_ID
		--							inner join gen_ContactTalentPriority  CTP with(nolock) ON HR.ID = CTP.HiringRequestID 	 AND CTP.ContactID = HR.ContactID AND CTP.HiringRequest_Detail_ID = HRD.ID				
		--							inner join gen_Talent T with(nolock) ON T.ID = CTP.TalentID
		--							inner join prg_TalentRoles R  with(nolock) ON HRD.Role_ID = R.ID --AND T.RoleID = R.ID
		--							INNER JOIN prg_HiringRequestStatus HRStatus WITH(NOLOCK) ON HRStatus.ID = HR.Status_ID	
		--							inner join prg_TalentStatus_AfterClientSelection TAC WITH(NOLOCK) ON TAC.ID = CTP.TalentStatusID_BasedOnHR								
		--							left join prg_TalentJoinning TJ WITH(NOLOCK) ON TJ.ID = T.Joining_ID
		--							LEFT JOIN CTE_NextRound CTE ON CTE.Talent_ID = CTP.TalentID AND HR.ID = CTE.HiringRequest_ID AND  CTE.ContactID = HR.ContactID AND CTE.HiringRequest_Detail_ID = HRD.ID  
		--							left join #Temp_PostAcceptanceDetails PA ON HR.ID = PA.[HiringRequest_ID]  AND PA.Talent_ID = CTP.TalentID 

		--					where	TalentPriority <> 'Priority 1'  AND isnull(AllowedtoSelectforHR,0) =1
		--							AND CTP.TalentStatusID_BasedOnHR in(2,3)
		--							AND HRD.RoleStatus_ID  in(2,4,5) 

		--				)Q1
		--				Order BY  CreatedByDatetime desc, 1 desc
		--  END


END