USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_Update_Company_Details_From_Scrapping]    Script Date: 13-06-2024 15:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[sproc_Update_Company_Details_From_Scrapping]
    @CompanyId				bigint = 0,
	@CompanySize			nvarchar(500) = 0,
	@CompanyIndustryType	nvarchar(200) = null,
	@BriefAboutCompany		Nvarchar(Max) = null,
	@Culture				Nvarchar(Max) = null,
	@FoundedYear			Nvarchar(MAX) = null,
	@CompanyType			Nvarchar(200) = null,
	@Headquaters			Nvarchar(100) = null,
	@CreatedByID			bigint = 0
AS
BEGIN
		IF Exists(select 1 from gen_Company WITH(NOLOCK) WHERE ID = @CompanyId)
			BEGIN
					UPDATE  gen_Company
					SET		CompanySize_RangeorAdhoc = case when Isnull(CompanySize_RangeorAdhoc,'') = '' then Isnull(@CompanySize,CompanySize_RangeorAdhoc) else CompanySize_RangeorAdhoc end,
							Industry_Type = case when Isnull(Industry_Type,'') = '' then Isnull(@CompanyIndustryType,Industry_Type) else Industry_Type end,
							about_Company_desc = case when Isnull(about_Company_desc,'') = '' then @BriefAboutCompany else about_Company_desc end,
							ModifiedByDatetime = getdate(),
							ModifiedByID = @CreatedByID
					Where   Id = @CompanyId

				  --Added Company Details Jimit 10-05-24 
					IF NOT EXISTS(Select 1 from gen_Company_Details WIth(Nolock) Where CompanyId = @CompanyId)
						BEGIN
								Insert into gen_Company_Details(CompanyId,Culture,Foundedyear,CompanyType,Headquaters,CreatedById,CreatedDateTime)
								Values(@CompanyId,@Culture,@FoundedYear,@CompanyType,@Headquaters,@CreatedByID,Getdate())
						END
					ELSE
						BEGIN
								Update gen_Company_Details
								SET	   Culture = case when Isnull(Culture,'') = '' then Isnull(@Culture,Culture) else Culture end,
									   Foundedyear = case when Isnull(Foundedyear,'') = '' then Isnull(@Foundedyear,Foundedyear) else Foundedyear end,
									   CompanyType = case when Isnull(CompanyType,'') = '' then  Isnull(@CompanyType,CompanyType) else CompanyType end,
									   Headquaters = case when Isnull(Headquaters,'') = '' then  Isnull(@Headquaters,Headquaters) else Headquaters end,
									   ModifiedByID = @CreatedByID,
									   ModifiedDateTime = Getdate()
								where  CompanyId = @CompanyId

						END

			END

		
		
ENd