ALTER PROCEDURE [dbo].[Sproc_Get_AutoOnHoldRecords] 
@IsReminder				Bit=0
AS
BEGIN
	SET NOCOUNT ON;


			BEGIN -- Payal (04-03-2024) (Remove Test Companies Using Configuration)

			     IF OBJECT_ID('tempdb..#TempRemoveCompanies') IS NOT NULL
					DROP TABLE #TempRemoveCompanies;

				Declare @Values as Nvarchar(Max) = ''

				select  @Values = [Value]  
				from   gen_SystemConfiguration WITH(NOLOCK)
				where  [Key]  ='RemoveCompaniesforUTSAdminReports'

				select  cast(val as bigint) as RemoveCompanyID into #TempRemoveCompanies from dbo.f_Split(@Values,',')

			END

	IF(isnull(@IsReminder,0) = 1)
	BEGIN
		SELECT 
		SHR.ID
		FROM  gen_saleshiringrequest SHR WITH(NOLOCK)
			  inner join gen_Contact C WITH(NOLOCK) ON C.ID = SHR.ContactID
			  inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		WHERE SHR.Status_ID NOT IN(3,4,5,6) and SHR.JobStatusID <> 2
			  AND SHR.LastActivityDate IS NOT NULL
			  AND isnull(shr.OnHoldReminderFlag,0) = 0 			  
			  AND  DATEDIFF(day, dbo.Excluding_WeekDays(SHR.LastActivityDate,14), getdate()) = 0
			  AND isnull(SHR.HRTypeId,1) in(1,2) 
			  AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)
		UNION ALL	

		SELECT 
		SHR.ID 
		FROM  gen_saleshiringrequest SHR  WITH(NOLOCK)
			  inner join gen_Contact C WITH(NOLOCK) ON C.ID = SHR.ContactID
			  inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		WHERE SHR.Status_ID NOT IN(3,4,5,6) and SHR.JobStatusID <> 2
			  AND SHR.LastActivityDate IS NOT NULL
			  AND isnull(shr.OnHoldReminderFlag,0) = 0 			  
			  AND  DATEDIFF(day, dbo.Excluding_WeekDays(SHR.LastActivityDate,15), getdate()) > 0
			  AND isnull(SHR.HRTypeId,1) in(1,2) 
			  AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)
	END
	ELSE
	BEGIN
		SELECT 
		SHR.ID
		FROM  gen_saleshiringrequest SHR WITH(NOLOCK)
			  inner join gen_Contact C WITH(NOLOCK) ON C.ID = SHR.ContactID
			  inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		WHERE SHR.Status_ID NOT IN(3,4,5,6) and SHR.JobStatusID <> 2
			  AND SHR.LastActivityDate IS NOT NULL
			  AND isnull(shr.OnHoldReminderFlag,0) = 1 
			  AND DATEDIFF(day, dbo.Excluding_WeekDays(SHR.LastActivityDate,15), getdate()) = 0
			  AND isnull(SHR.HRTypeId,1) in(1,2)
			  AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)

		UNION ALL	

		SELECT 
		SHR.ID 
		FROM  gen_saleshiringrequest SHR  WITH(NOLOCK)
			  inner join gen_Contact C WITH(NOLOCK) ON C.ID = SHR.ContactID
			  inner join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		WHERE SHR.Status_ID NOT IN(3,4,5,6) and SHR.JobStatusID <> 2
			  AND SHR.LastActivityDate IS NOT NULL
			  AND isnull(shr.OnHoldReminderFlag,0) = 1 			  
			  AND  DATEDIFF(day, dbo.Excluding_WeekDays(SHR.LastActivityDate,15), getdate()) > 0
			  AND isnull(SHR.HRTypeId,1) in(1,2)
			  AND not exists( select 1 from  #TempRemoveCompanies where Co.ID = RemoveCompanyID)
	END

	UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() WHERE SPName = 'Sproc_Get_AutoOnHoldRecords'
END