
ALTER PROCEDURE [dbo].[Sproc_Get_AWS_SES_Tracking_Details_Popup]    
@EventType	 Nvarchar(100) = null,  
@FromDate	 DateTime = NULL,			
@ToDate		 Datetime = NULL,  
@CompanyID   BIGINT = NULL,
@SubjectID	 BIGINT = NULL 
AS  
BEGIN  
				
		IF OBJECT_ID('tempdb..#ClientOfCompanies') Is not null
			DROP TABLE #ClientOfCompanies

		CREATE TABLE #ClientOfCompanies
		(
			ClientID		bigint,
			ClientEmail		Nvarchar(100)
		)

		Insert into #ClientOfCompanies
		select C.ID,C.EmailID
		from   gen_Contact C WITH(NOLOCK)
			   inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
		where  CO.ID = case when @CompanyID > 0 then @CompanyID else CO.ID end

		
		-- Step 1: Use a Common Table Expression (CTE) or temporary table to preprocess the split emails
		;WITH SplitEmails AS (
			SELECT
					CSET.EventType,
					CSET.MessageId,
					LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(CSET.Client_Destination, '[', ''), ']', ''), '"', ''))) AS Email,
					CSET.Email_Subject,
					CSET.UserAgent,
					CSET.IpAddress,
					CSET.Email_Link,
					CSET.Email_LinkTags,
					CSET.timestamp,
					CSET.bounceType,
					CSET.bounceSubType,
					CSET.bouncedRecipients
			FROM	gen_AWS_SES_EmailTracking CSET
			WHERE	CAST(CSET.timestamp AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST(@ToDate AS DATE)
					and SubjectID = case when Isnull(@SubjectID,0) <> 0 then @SubjectID else SubjectID end
		)
		
		 --Step 2: Insert Sent Events
		SELECT	DISTINCT
				EventType,
				MessageId,
				Email,
				Email_Subject,
				MIN(UserAgent) AS UserAgent,
				MIN(IpAddress) AS IpAddress,
				Email_Link,
				Email_LinkTags,
				MIN(timestamp) AS timestamp,
				bounceType,
				bounceSubType,
				bouncedRecipients
		INTO	#SplitEmails
		FROM	SplitEmails
		WHERE	EventType = 'Sent' --and (email not like '%uplers.in%' and email not like '%uplers.com%')
				--and bouncedRecipients not like '%uplers.in%' and bouncedRecipients not like '%uplers.com%' 
		GROUP BY EventType, MessageId, Email, Email_Subject, Email_Link, Email_LinkTags, bounceType, bounceSubType, bouncedRecipients;

		 --Step 3: Insert Non-Sent Events
		INSERT INTO #SplitEmails
		SELECT DISTINCT
				CSET.EventType,
				CSET.MessageId,
				LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(CSET.Client_Destination, '[', ''), ']', ''), '"', ''))) AS Email,
				CSET.Email_Subject,
				MIN(CSET.UserAgent) AS UserAgent,
				MIN(CSET.IpAddress) AS IpAddress,
				CSET.Email_Link,
				CSET.Email_LinkTags,
				MIN(CSET.timestamp) AS timestamp,
				CSET.bounceType,
				CSET.bounceSubType,
				CSET.bouncedRecipients
		FROM	gen_AWS_SES_EmailTracking CSET WITH(NOLOCK)
				INNER JOIN #SplitEmails SE ON SE.MessageId = CSET.MessageId
		WHERE	CAST(CSET.timestamp AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST(@ToDate AS DATE)
				and SubjectID = case when Isnull(@SubjectID,0) <> 0 then @SubjectID else SubjectID end
				AND CSET.EventType <> 'Sent' --and (email not like '%uplers.in%' and email not like '%uplers.com%')
				--and CSET.bouncedRecipients not like '%uplers.in%' and CSET.bouncedRecipients not like '%uplers.com%' 
		GROUP BY CSET.EventType, CSET.MessageId, CSET.Email_Subject, CSET.Email_Link, CSET.Email_LinkTags, CSET.bounceType, CSET.bounceSubType, CSET.bouncedRecipients, Email
					,LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(CSET.Client_Destination, '[', ''), ']', ''), '"', '')));


		--delete from #SplitEmails where email like '%uplers.in%' or email like '%uplers.com%' 
		--delete from #SplitEmails where bouncedRecipients like '%uplers.in%' or bouncedRecipients like '%uplers.com%' 

		IF OBJECT_ID('tempdb..#AWS_SES_Tracking_Popup_Report') IS NOT NULL
			DROP TABLE #AWS_SES_Tracking_Popup_Report;

			
		;WITH AWSEmailTracking_CTE 
		 AS ( 
				SELECT  MessageID = AWS.MessageID,  
						ClientID = C.ID,   
						Client = isnull(C.FullName,'') + ' (' + C.EmailID + ')',
						EventType = AWS.EventType,
						Email_Subject = AWS.Email_Subject,
						User_Agent = AWS.UserAgent,
						IpAddress = AWS.IpAddress,
						Email_Link = AWS.Email_Link,
						Email_LinkTags = AWS.Email_LinkTags,
						TrackingDate = Convert(nvarchar(15),AWS.timeStamp,103) + ' ' + Convert(nvarchar(5),AWS.timeStamp,108),
						bounceType = AWS.bounceType,
						bounceSubType = AWS.bounceSubType,
						bouncedRecipients = AWS.bouncedRecipients
				FROM 	--gen_AWS_SES_EmailTracking AWS WITH (NOLOCK)
						#SplitEmails AWS
						inner Join #ClientOfCompanies CTP ON LTRIM(RTRIM(AWS.Email)) = CTP.ClientEmail --CTP.ClientEmail in (Replace(Replace(Replace(AWS.Client_Destination,'[',''),']',''),'"',''))
						INNER JOIN gen_Contact C WITH (NOLOCK) on C.ID = CTP.ClientID 
				 WHERE  CAST(AWS.timestamp AS DATE) BETWEEN CAST(@FromDate AS DATE) AND CAST(@ToDate AS DATE)
						AND AWS.EventType = @EventType
			 )
			  SELECT   MessageID, ClientID, Client, EventType, Email_Subject, User_Agent, IpAddress, Email_Link, Email_LinkTags, TrackingDate,bounceType,bounceSubType,bouncedRecipients
			  INTO	   #AWS_SES_Tracking_Popup_Report
			  FROM 
				  (
					  SELECT *,ROW_NUMBER() OVER(PARTITION BY ClientID ORDER BY MessageID DESC) AS RowNum
					  FROM	 AWSEmailTracking_CTE
					  WHERE  EventType = @EventType
				  ) AS SubQuery
			  WHERE   EventType = @EventType 
		 
    
			SELECT	MessageID, ClientID, Client, EventType, Email_Subject, User_Agent, IpAddress, Email_Link, Email_LinkTags, TrackingDate,bounceType,bounceSubType,bouncedRecipients
			FROM	#AWS_SES_Tracking_Popup_Report 
			ORDER BY MessageID DESC;

   
			IF OBJECT_ID('tempdb..#AWS_SES_Tracking_Popup_Report') IS NOT NULL
				DROP TABLE #AWS_SES_Tracking_Popup_Report;


END

