ALTER PROCEDURE [dbo].[sproc_UTS_UpdateContactDetails]
	@CompanyID			BIGINT			= NULL,
	@ContactID			BIGINT			= NULL,
	@FULLName			NVARCHAR(300)	= NULL,
	@EmailID			NVARCHAR(200)	= NULL,
	@Designation		NVARCHAR(100)	= NULL,
	@RoleID				INT				= NULL,
	@IsPrimary          BIT				= NULL,
	@ContactNo			NVARCHAR(100)	= NULL,
	@ModifyByID			INT				= NULL,
	@AppActionDoneBy	INT				= NULL,
	@Password           NVARCHAR(250)   = NULL,
	@EncryptedPassword  NVARCHAR(MAX)   = NULL
AS
BEGIN

	DECLARE @FirstName NVARCHAR(150) = NULL, @LastName NVARCHAR(150) = NULL

	IF ISNULL(@FULLName, '') <> ''
	BEGIN
		IF CHARINDEX(' ', @FULLName) > 0
		BEGIN
			SET @FirstName = LEFT(@FULLName, CHARINDEX(' ', @FULLName) - 1);
			SET @LastName = SUBSTRING(@FULLName, CHARINDEX(' ', @FULLName) + 1, LEN(@FULLName));
		END
		ELSE
		BEGIN
			SET @FirstName = @FULLName;
			SET @LastName = '';
		END
	END
	
	IF EXISTS (SELECT TOP 1 ID FROM gen_Contact WITH (NOLOCK) WHERE ID = @ContactID AND CompanyID = @CompanyID)
	BEGIN
		UPDATE gen_Contact
		SET 
		Username = ISNULL(@EmailID,Username),
		FirstName = ISNULL(@FirstName, FirstName),
		LastName = ISNULL(@LastName, LastName),
		FULLName = ISNULL(@FULLName, FULLName),
		EmailID = ISNULL(@EmailID, EmailID),
		Designation = ISNULL(@Designation, Designation),
		ContactNo = ISNULL(@ContactNo, ContactNo),
		--IsPrimary = ISNULL(@IsPrimary, IsPrimary), isPrimary set from db side only, not from UI 
		LastModifiedByID = ISNULL(@ModifyByID, LastModifiedByID),
		LastModifiedDatetime = GETDATE(),
		RoleID = ISNULL(NULLIF(@RoleID,0), RoleID) -- Added by Riya on 03 June 2024
		WHERE ID = @ContactID AND CompanyID = @CompanyID
	END
	ELSE
	BEGIN

		IF ISNULL(@RoleID,0) = 0
		BEGIN
			SET @RoleID = 1
		END

		--SEt IsPrimary
		IF EXISTS (SELECT TOP 1 ID FROM gen_Contact WITH (NOLOCK) WHERE CompanyID = @CompanyID AND IsPrimary = 1)
		BEGIN
			SET @IsPrimary = 0
		END
		ELSE
		BEGIN
			IF @RoleID = 1  --If Its admin role access
			BEGIN
				SET @IsPrimary = 1
			END 
		END

		--Declare @Userpassword as Nvarchar(100) = null
		--Declare @CompanyName as Nvarchar(200) = null

		----select @CompanyName = replace(Rtrim(Ltrim(Isnull(Company,'Uplers'))),' ','') from gen_Company WITH(NOLOCK) where ID = @CompanyID
		----SET @Userpassword = 'Uplers@123'
		-- -- Payal (12-06-2024) change the pwd logic						
		--Declare @CompanyNameLength as int = null
			
		----SET @Userpassword = 'Uplers@123'

		----IF(LEN(@CompanyName) >0)
		----BEGIN
		----		print @CompanyName
		----		SET @CompanyNameLength = LEN(@CompanyName);

		----		IF(max(LEN(@CompanyName)) >= 10)
		----		BEGIN
		----				SET @Userpassword = SUBSTRING(@CompanyName,0,10) + '@123';
		----		END
		----		ELSE
		----		BEGIN
		----				SET @Userpassword = SUBSTRING(@CompanyName,0,@CompanyNameLength) + '@123';
		----		END


		----		print @Userpassword
		----END
		--SET  @Userpassword = LEFT(NEWID(), 10)

		-- Added roleid and IsJobPostUser by Riya on 03 June 2024
		INSERT INTO gen_Contact(CompanyID,Username,Password, FirstName, LastName, FullName, EmailID, Designation, ContactNo, IsPrimary, CreatedByID, CreatedByDatetime, RoleID,IsJobPostUser,IsActive,IsResetPassword,IsEmailVerified,EncryptedPassword)
		VALUES(@CompanyID,@EmailID,@Password, @FirstName, @LastName, @FULLName, @EmailID, @Designation, @ContactNo, @IsPrimary, @ModifyByID, GETDATE(), @RoleID,1,1,0,1,@EncryptedPassword)

		SET @ContactID = SCOPE_IDENTITY()

			---Insert history
			DECLARE @ContactActionID INT = 0;
			SET @ContactActionID = isnull((SELECT ID FROM prg_contact_Actions WITH(NOLOCK) WHERE ActionName='Invite_Client_UTSAdmin'),0)

			IF @ContactActionID > 0
			BEGIN
				INSERT INTO gen_ContactHistory
					  (ClientID,ClientActionID,LoggedInTime,CreatedByID,CreatedByDatetime, AppActionDoneBy)
				VALUES(@ContactID,@ContactActionID,GETDATE(),@ModifyByID,Getdate(), @AppActionDoneBy)
			END
	END

	SELECT @ContactID AS ContactID
END
