USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CreateJDFromPrompt_UTSAdmin]    Script Date: 05-07-2024 16:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_CreateJDFromPrompt_UTSAdmin]
	@ContactID			BIGINT NULL,
	@HRID				BIGINT,
	@MustHaveSkill		Nvarchar(MAx) = null,
	@GoodToHaveSkill	Nvarchar(MAx) = null,
	@Title				Nvarchar(200) = null,
	@Location			Nvarchar(200) = null   --Remote,HYbrid,OnSite
AS
BEGIN

		Declare @PromptBody as Nvarchar(MAx) = ''

		Declare @Role as Nvarchar(200) = ''
		Declare @YearsOfExperience as int = 0
		Declare @CompanyName as Nvarchar(200) = ''
		Declare @Companywebsite as Nvarchar(200) = ''
		Declare @CompanyLinkedin as Nvarchar(200) = ''		
		Declare @Budget as Nvarchar(100) = ''	
		Declare @TimeZone as Nvarchar(200) = ''

		Declare @IsHrExists bit = NULL

		select  @Role = Isnull(H.RequestForTalent,''),@YearsOfExperience = Isnull(HRD.YearOfExp,0),				
				@Budget = Isnull(HRD.Currency,'USD') + ' '  + Cast(Isnull(HRD.BudgetFrom,0) as Nvarchar(10)) + ' to ' + Cast(Isnull(HRD.BudgetTo,0)  as Nvarchar(10)),
				@TimeZone = Isnull(TZ.TimeZone,'IST') + ' ' +  CASE WHEN HRD.TimeZone_FromTime is not null THEN CONVERT(VARCHAR(10), CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, HRD.TimeZone_FromTime) AS TIME), 0)
									ELSE '' END + ' to ' + Isnull(CASE	WHEN HRD.TimeZone_EndTime is not null THEN CONVERT(VARCHAR(10),CAST(dateadd(MINUTE, TZ.ISTTimeDiffMin, HRD.TimeZone_EndTime) AS TIME), 0)
									ELSE ''	END,'NA') 
		from    gen_SalesHiringRequest H WITH(NOLOCK)
				inner join gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON H.ID = HRD.HiringRequest_ID
				LEFT JOIN prg_ContactTimeZone TZ WITH(NOLOCK) ON HRD.Timezone_Preference_ID = TZ.ID	
		WHERE   H.ContactId = @ContactID AND H.ID = @HRID

		select  @CompanyName = Isnull(CO.Company,''),@Companywebsite = Isnull(Co.website,''),
				@CompanyLinkedin = Isnull(CO.LinkedInProfile,'')
		from    gen_Contact C WITH(NOLOCK) 
				inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
		WHERE   C.ID = @ContactID
		
		Declare @JDExample  as Nvarchar(MAX) =  null

		SET   @JDExample = '# Senior Analyst
				Tripadvisor Analytics is seeking a Senior Analyst who can partner with numerous stakeholder teams, provide analytics and measurement expertise across key business categories, and contribute to a growing analytics team dedicated to generating high-quality, actionable data insights. The ideal candidate will have a strong background in data analysis and creating intuitive Tableau dashboards, and maintaining data pipelines. This role is instrumental in empowering our organization with timely, easy-to-read, and efficient data visualizations and insights.

				## Responsibilities

				- **Data Analysis and Insight Generation**
				  - Analyze data to identify trends, patterns, and insights that can drive informed business decisions.
				  - Provide actionable recommendations based on data analysis.
				  - Advise on test design (A/B, multivariate, etc.), analyze test results to measure the impact of Tripadvisor website changes, and make recommendations to stakeholders.
  
				- **Tableau Dashboard Development**
				  - Collaborate with various departments to understand their data visualization needs.
				  - Design and create visually appealing and user-friendly Tableau dashboards.
				  - Ensure the accuracy and efficiency of data presented in dashboards.
  
				- **Data Pipeline Management**
				  - Build and maintain data pipelines to ensure the availability of accurate and up-to-date data.
				  - Troubleshoot data pipeline issues and optimize data flow for efficiency.
				  - Collaborate with data engineers to streamline data extraction, transformation, and loading (ETL) processes.

				- **Documentation**
				  - Document Tableau dashboards, data pipelines, and Python scripts for easy maintenance and knowledge sharing.
  
				- **Collaboration**
				  - Collaborate effectively with cross-functional teams to gather requirements and deliver solutions.

				## Qualifications

				- Bachelor''s Degree, with coursework in an analytical field (math, economics, engineering, statistics, etc) or quantitative research experience.
				- 3+ years of experience in a data analyst position, demonstrating a strong foundation in business intelligence, data analysis and insights generation.
				- Proficiency in SQL for efficient data querying, manipulation, and management to drive accurate and reliable analysis.
				- Strong expertise in data visualization, leveraging tools like Tableau, to create impactful visualizations and effectively communicate insights. Tableau experience is a requirement.
				- Strong proficiency in working with large datasets in cloud environments, utilizing tools like Snowflake to handle and analyze data at scale.
				- Strong analytical and critical thinking abilities to unravel complex patterns and derive meaningful insights from data.
				- Technical aptitude to learn new tools, technologies, and methodologies.
				- Ability to translate complex analysis findings into a clear narrative and actionable insights to communicate to stakeholders.
				- Experience with building ETL pipelines is a plus.
				- Experience with digital and marketing analytics is not required but is a plus.
				- Predictive modeling or machine learning experience is a plus.'

		
		SET @PromptBody = 'You need to act as a JD creator and accurately use parameters provided below to create an extensive Job description that can directly be used to attract right talents. Please make sure it''s extensive and not shallow. 
								company information for which this job description need to be created:  
								
								Name of Company: ' + Isnull(@CompanyName,'''') + '
								Website of Company: ' + Isnull(@Companywebsite,'''') + '
								Linkedin of Company: ' + Isnull(@CompanyLinkedin,'''') + '
								
								Other details about job is :
								
								Title of Role: '  + Isnull(@Title,'''') + ' 
								Years of Experience: ' + Isnull(cast(@YearsOfExperience as Nvarchar(5)),'''') + '
								Must have Skills: '  + Isnull(@MustHaveSkill,'''') + ' 
								Good to have Skills: ' + Isnull(@GoodtoHaveskill,'''') + '
								Budget: ' + Isnull(@Budget,'''') + '
								Location: ' + Isnull(@Location,'''') + ' 
								TimeZone: ' + Isnull(@TimeZone,'''') + '
								
								Instructions:
								Please help create a job description template in proper Json format that can be used directly to be shown to candidates on our websites / app. 
								
								Do not include budget or salary information in the job description output.
								 The hiring for this job description can be done by hiring manager based out of India or across the globe while the talent or candidates they would look out for is only from India. 

								 Just for an example, giving what I feel is an extensive job description. Study following example Mark Down Format and generate similar mark down format of Job Description and convert it into HTML tags and wrap it over Json format in ```{ "JobDescription":"string" }```. 
								 While wrapping in HTML/CSS please do not use any background colour behind the text.

								 Example : ' + @JDExample  + '
								 Provide your final result inside <result> tags and 
								 Outcome to be as the following JSON structure:   
								 <json_structure>
								``json
									{   
										"JobDescription" : string 
									} 
								``
								 </json_structure>'

			

		--Check if the HR exists in the main table 
		IF EXISTS(SELECT 1 FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID AND ContactID = @ContactID)
			SET @IsHrExists = 1
		ELSE
			SET @IsHrExists = 1

		select @PromptBody as PromptBody, @IsHrExists AS IsHrExists

			
END
