CREATE PROCEDURE [dbo].[Sproc_UTS_Get_Inc_AM_NRSlab]
@PageIndex				INT = 1,
@PageSize				INT = 50,
@SortExpression			nvarchar(100) = 'ID',
@SortDirection			nvarchar(100) = 'asc'
AS
BEGIN

		DECLARE @WhereClauseSQL NVARCHAR(MAX)=''
	    DECLARE @MainSQL		NVARCHAR(MAX)=''

		IF OBJECT_ID('tempdb..#NRSlab') is not null
		DROP TABLE #NRSlab

		CREATE TABLE #NRSlab
		(
			ID				int primary key identity(1,1),
			NRSlab			nvarchar(200),
			AM				decimal(9,2),
			AMHead			decimal(9,2),
			TotalRecords	int default 0
		)
		
		insert into #NRSlab(NRSlab)
		select NRS.Contracts_slab from prg_Inc_AM_NR_Slab NRS WITH(NOLOCK)

		UPDATE S
		SET AM = Q.Inc_Percentage
		from #NRSlab S
		inner join(
				select URD.Inc_Percentage,NRS.ID
				FROM usr_UserRole UR WITH(NOLOCK)
				INNER JOIN gen_Inc_AM_NR_UserRole_Details URD WITH(NOLOCK) ON URD.USER_ROLE_ID = UR.Id
				INNER JOIN prg_Inc_AM_NR_Slab NRS WITH(NOLOCK) ON  NRS.ID = URD.Contract_slab_id
				WHERE UR.ID=9
		)Q on Q.ID = S.ID


		UPDATE S
		SET AMHead = Q.Inc_Percentage
		FROM #NRSlab S 
		INNER JOIN (
				select URD.Inc_Percentage,NRS.ID
				FROM usr_UserRole UR WITH(NOLOCK)
				INNER JOIN gen_Inc_AM_NR_UserRole_Details URD WITH(NOLOCK) ON URD.USER_ROLE_ID = UR.ID
				INNER JOIN prg_Inc_AM_NR_Slab NRS WITH(NOLOCK) ON NRS.ID = URD.Contract_slab_id
				WHERE UR.ID = 10
		)Q on Q.ID = S.ID


		Declare @Total_Records nvarchar(max)
		SET @Total_Records = 'update #NRSlab set TotalRecords=(select count(1) from #NRSlab WHERE 1= 1'+@WhereClauseSQL+')'
		
		Execute sp_executesql @Total_Records

		SET  @MainSQL = 'select * from #NRSlab WHERE 1= 1  ' + @WhereClauseSQL + ''

		If	@SortExpression = 'NRSlab'
			SET @MainSQL += ' ORDER BY ID ' + @SortDirection
		ELSe 
			SET @MainSQL += ' ORDER BY ' + @SortExpression + ' ' + @SortDirection


		IF(@PageSize>0)
			BEGIN
					SET @MainSQL= 	@MainSQL+ '	OFFSET ' + CONVERT(nvarchar, ((@PageIndex - 1)  * @PageSize)) + ' ROWS 
									FETCH NEXT ' + CONVERT(nvarchar, @PageSize) + ' ROWS ONLY';
			END
		
	PRINT(@MainSQL)
	EXECUTE sp_executesql @MainSQL
END