ALTER PROCEDURE [dbo].[Sproc_Add_CustomAssessment_ClientPortal]   
	@AssessmentID BIGINT = 0,
	@HiringRequestID	BIGINT = 0,
	@TypeID INT = NULL,
	@Name Nvarchar(MAX) = NULL,
	@Details NVARCHAR(Max) = NULL,
    @Skills NVARCHAR(Max) = NULL,
    @Duration INT = NULL,
    @SubmissionDeadlineStr NVARCHAR(250) = NULL,
    @CandidatesGuideline NVARCHAR(Max) = NULL,
    @AdditionalInfo NVARCHAR(Max) = NULL,
    @CreatedById BIGINT = NULL,
	@SSOUserId BIGINT = NULL,

	@EmailSubject NVARCHAR(MAX) = NULL,
	@EmailContent NVARCHAR(MAX) = NULL,

	@ATSTalentIDs NVARCHAR(MAX) = NULL,

	@Flag NVARCHAR(20) = ''
AS
BEGIN
	
	DECLARE @ActionPerformedBy BIGINT = 0,
		    @ActionManagedByClient BIT = 1,
			@SubmissionDeadline DATETIME = NULL,
			@OldTypeId INT = 0

	-- Set action performed by user based on SSO login UTS-7223
	SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @CreatedById, @SSOUserId))
	SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0))

	print @Flag

	IF(@Flag = 'Add' OR @Flag = 'Update')
	BEGIN

		--IF @AssessmentID = 0
		--BEGIN
		--	SELECT TOP 1 @AssessmentID = ID FROM gen_HRCustomAssessment WITH(NOLOCK) WHERE HiringRequestID = @HiringRequestID
		--	SET @Flag = 'Update'
		--END

		print @TypeID

		IF(@TypeID > 0)
		BEGIN			
			SET @Flag = 'Add_New_Type'
			SET @Details = NULL
		END

		print @Flag

		IF(@Flag = 'Add')
		BEGIN
			IF NOT EXISTS(SELECT 1 FROM gen_HRCustomAssessment WITH(NOLOCK) WHERE HiringRequestID = @HiringRequestID)
			BEGIN

				IF(ISNULL(@SubmissionDeadlineStr,'') <> '')
				BEGIN
					SET @SubmissionDeadline = Convert(DATETIME, @SubmissionDeadlineStr, 101)
				END

				INSERT INTO gen_HRCustomAssessment 
				(
					HiringRequestID,
					Type,
					Name,
					Details,
					Skills,
					Duration,
					SubmissionDeadline,
					CandidatesGuideline,
					AdditionalInfo,
					CreatedById,
					CreatedByDateTime,
					IsActive
				)
				VALUES
				(
					@HiringRequestID,
					@TypeID,
					@Name,
					@Details,
					@Skills,
					@Duration,
					@SubmissionDeadline,
					@CandidatesGuideline,
					@AdditionalInfo,
					@ActionPerformedBy,
					GETDATE(),
					1
				)

				SET @AssessmentID = (SELECT SCOPE_IDENTITY())

				INSERT INTO gen_CustomAssessmentEmailDetails
				(
					AssessmentID,
					EmailSubject,
					EmailContent
				)
				VALUES
				(
					@AssessmentID,
					@EmailSubject,
					@EmailContent
				)

				INSERT INTO gen_AssessmentWiseTalentDetails
				(
					AssessmentID,
					ATSTalentID
				)
				SELECT @AssessmentID, CAST(Item AS Nvarchar(200))
				FROM dbo.SplitString(@ATSTalentIDs, ',')	

			END		
		END

		IF(@Flag = 'Add_New_Type')
		BEGIN
			IF NOT EXISTS(SELECT 1 FROM gen_HRCustomAssessment WITH(NOLOCK) WHERE HiringRequestID = @HiringRequestID AND Type = @TypeID)
			BEGIN

				UPDATE  gen_HRCustomAssessment SET	
				IsActive = 0,
				LastModifiedByID = @ActionPerformedBy,
				LastModifiedByDateTime = GETDATE()
				WHERE HiringRequestID = @HiringRequestID

				IF(ISNULL(@SubmissionDeadlineStr,'') <> '')
				BEGIN
					SET @SubmissionDeadline = Convert(DATETIME, @SubmissionDeadlineStr, 101)
				END

				INSERT INTO gen_HRCustomAssessment 
				(
					HiringRequestID,
					Type,
					Name,
					Details,
					Skills,
					Duration,
					SubmissionDeadline,
					CandidatesGuideline,
					AdditionalInfo,
					CreatedById,
					CreatedByDateTime,
					IsActive
				)
				VALUES
				(
					@HiringRequestID,
					@TypeID,
					@Name,
					@Details,
					@Skills,
					@Duration,
					@SubmissionDeadline,
					@CandidatesGuideline,
					@AdditionalInfo,
					@ActionPerformedBy,
					GETDATE(),
					1
				)

				SET @AssessmentID = (SELECT SCOPE_IDENTITY())

				INSERT INTO gen_CustomAssessmentEmailDetails
				(
					AssessmentID,
					EmailSubject,
					EmailContent
				)
				VALUES
				(
					@AssessmentID,
					@EmailSubject,
					@EmailContent
				)

				INSERT INTO gen_AssessmentWiseTalentDetails
				(
					AssessmentID,
					ATSTalentID
				)
				SELECT @AssessmentID, CAST(Item AS Nvarchar(200))
				FROM dbo.SplitString(@ATSTalentIDs, ',')	

			END	
			ELSE
			BEGIN
				UPDATE  gen_HRCustomAssessment SET	
				IsActive = 0,
				LastModifiedByID = @ActionPerformedBy,
				LastModifiedByDateTime = GETDATE()
				WHERE HiringRequestID = @HiringRequestID

				UPDATE  gen_HRCustomAssessment SET	
				IsActive = 1,
				LastModifiedByID = @ActionPerformedBy,
				LastModifiedByDateTime = GETDATE()
				WHERE ID = @AssessmentID and Type = @TypeID

				SET @Flag = 'Update'

			END
		END

		IF(@Flag = 'Update')
		BEGIN
			IF(ISNULL(@SubmissionDeadlineStr,'') <> '')
			BEGIN
				SET @SubmissionDeadline = Convert(DATETIME, @SubmissionDeadlineStr, 101)
			END		

			UPDATE  gen_HRCustomAssessment SET	
				Name = ISNULL(@Name,Name),
				Details = ISNULL(@Details,Details),
				Skills = ISNULL(@Skills, Skills),
				Duration = @Duration,
				SubmissionDeadline = @SubmissionDeadline,
				CandidatesGuideline = ISNULL(@CandidatesGuideline, CandidatesGuideline),
				AdditionalInfo = ISNULL(@AdditionalInfo,AdditionalInfo),
				LastModifiedByID = @ActionPerformedBy,
				LastModifiedByDateTime = GETDATE()
				WHERE ID = @AssessmentID

			UPDATE gen_CustomAssessmentEmailDetails SET 
			EmailSubject = ISNULL(@EmailSubject,EmailSubject),
			EmailContent = ISNULL(@EmailContent,EmailContent)
			WHERE AssessmentID = @AssessmentID
		
			IF(ISNULL(@ATSTalentIDs,'') <> '')
			BEGIN

				DELETE FROM gen_AssessmentWiseTalentDetails WHERE AssessmentID = @AssessmentID AND ISNULL(IsSharedToTalent,0) = 0		

				INSERT INTO gen_AssessmentWiseTalentDetails
				(
					AssessmentID,
					ATSTalentID
				)
				SELECT @AssessmentID, CAST(Item AS Nvarchar(200))
				FROM dbo.SplitString(@ATSTalentIDs, ',') WHERE Item NOT IN (SELECT ATSTalentID FROM gen_AssessmentWiseTalentDetails WHERE AssessmentID = @AssessmentID)

			END
		END

	END

	IF(@TypeID > 0)
	BEGIN
		SELECT 
		HCA.ID AS AssessmentID,
		HCA.HiringRequestID, 
		HCA.Type,
		HCA.Name,
		HCA.Details,
		HCA.Skills,
		CASE WHEN ISNULL(HCA.Duration,0) = 0 THEN NULL ELSE CAST(HCA.Duration AS NVARCHAR(50)) + ' mins' END AS Duration,
		SubmissionDeadline = convert(varchar,HCA.SubmissionDeadline, 105),
		HCA.CandidatesGuideline,
		HCA.AdditionalInfo,
		CED.EmailSubject,
		CED.EmailContent,
		ATSTalents = LTRIM(RTRIM(isnull((STUFF((select ',' + char(10) + (CAST(ATSTalentID AS NVARCHAR(250))) from gen_AssessmentWiseTalentDetails S WITH(NOLOCK) WHERE S.AssessmentID = HCA.ID For XML Path('')),1,1,'')),''))),
		TalentDetails = LTRIM(RTRIM(isnull((STUFF((select ',' + char(10) + (CAST(T.Name AS NVARCHAR(MAX)) + ' - ' + CAST(T.EmailID AS NVARCHAR(MAX))) from gen_AssessmentWiseTalentDetails S WITH(NOLOCK) INNER JOIN gen_Talent T WITH(NOLOCK) ON S.ATSTalentID = T.ATS_Talent_ID WHERE S.AssessmentID = HCA.ID  For XML Path('')),1,1,'')),''))),

		Title = Isnull(HR.RequestForTalent,''),  
		HRNumber = HR.Hr_Number,  
		Oppurtunity = CASE WHEN DP.ModeOfWork = 'Remote' THEN Isnull(DP.ModeOfWork,'') ELSE Isnull(DP.ModeOfWork,'') + ' - ' + Isnull(DP.City,'') END,  
		YearsofExperience = CASE WHEN hrd.YearOfExp = 0 THEN 'Freshers' ELSE
							REPLACE( cast(hrd.YearOfExp as nvarchar(10)),'.00','') +  '+ years Exp' 
							END,  
		EmploymentType = CAST(Isnull(Availability,'') AS NVARCHAR) +    
		IIF(HRD.SpecificMonth > 0, ' contract - ' + CAST(ISNULL(NULLIF(HRD.SpecificMonth ,-1), 0) AS NVARCHAR) + ' months', ''),  
		Budget =  ISNULL(HRD.Cost,''),  
		TimeZone = ISNULL(HRD.TimeZone_FromTime,'') + ' to ' + ISNULL(HRD.TimeZone_EndTime,'') + ' ' + ISNULL(CT.TimeZoneTitle,'')

		FROM gen_HRCustomAssessment HCA WITH(NOLOCK) 
		INNER JOIN gen_CustomAssessmentEmailDetails CED WITH(NOLOCK) ON HCA.ID = CED.AssessmentID
		INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HCA.HiringRequestID = HR.ID
		INNER JOIN Gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HR.ID = HRD.HiringRequest_ID  
		INNER join prg_ContactTimeZone CT WITH(NOLOCK) ON CT.ID =  hrd.Timezone_ID
		LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id = HR.ID 
		WHERE HCA.HiringRequestID = @HiringRequestID AND HCA.Type = @TypeID
		ORDER BY HCA.CreatedByDateTime DESC	
	END
	ELSE
	BEGIN
		SELECT 
		HCA.ID AS AssessmentID,
		HCA.HiringRequestID, 
		HCA.Type,
		HCA.Name,
		HCA.Details,
		HCA.Skills,
		CASE WHEN ISNULL(HCA.Duration,0) = 0 THEN NULL ELSE CAST(HCA.Duration AS NVARCHAR(50)) + ' mins' END AS Duration,
		SubmissionDeadline = convert(varchar,HCA.SubmissionDeadline, 105),
		HCA.CandidatesGuideline,
		HCA.AdditionalInfo,
		CED.EmailSubject,
		CED.EmailContent,
		ATSTalents = LTRIM(RTRIM(isnull((STUFF((select ',' + char(10) + (CAST(ATSTalentID AS NVARCHAR(250))) from gen_AssessmentWiseTalentDetails S WITH(NOLOCK) WHERE S.AssessmentID = HCA.ID For XML Path('')),1,1,'')),''))),
		TalentDetails = LTRIM(RTRIM(isnull((STUFF((select ',' + char(10) + (CAST(T.Name AS NVARCHAR(MAX)) + ' - ' + CAST(T.EmailID AS NVARCHAR(MAX))) from gen_AssessmentWiseTalentDetails S WITH(NOLOCK) INNER JOIN gen_Talent T WITH(NOLOCK) ON S.ATSTalentID = T.ATS_Talent_ID WHERE S.AssessmentID = HCA.ID  For XML Path('')),1,1,'')),''))),

		Title = Isnull(HR.RequestForTalent,''),  
		HRNumber = HR.Hr_Number,  
		Oppurtunity = CASE WHEN DP.ModeOfWork = 'Remote' THEN Isnull(DP.ModeOfWork,'') ELSE Isnull(DP.ModeOfWork,'') + ' - ' + Isnull(DP.City,'') END,  
		YearsofExperience = CASE WHEN hrd.YearOfExp = 0 THEN 'Freshers' ELSE
							REPLACE( cast(hrd.YearOfExp as nvarchar(10)),'.00','') +  '+ years Exp' 
							END,  
		EmploymentType = CAST(Isnull(Availability,'') AS NVARCHAR) +    
		IIF(HRD.SpecificMonth > 0, ' contract - ' + CAST(ISNULL(NULLIF(HRD.SpecificMonth ,-1), 0) AS NVARCHAR) + ' months', ''),  
		Budget =  ISNULL(HRD.Cost,''),  
		TimeZone = ISNULL(HRD.TimeZone_FromTime,'') + ' to ' + ISNULL(HRD.TimeZone_EndTime,'') + ' ' + ISNULL(CT.TimeZoneTitle,'')

		FROM gen_HRCustomAssessment HCA WITH(NOLOCK) 
		INNER JOIN gen_CustomAssessmentEmailDetails CED WITH(NOLOCK) ON HCA.ID = CED.AssessmentID
		INNER JOIN gen_SalesHiringRequest HR WITH(NOLOCK) ON HCA.HiringRequestID = HR.ID
		INNER JOIN Gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HR.ID = HRD.HiringRequest_ID  
		INNER join prg_ContactTimeZone CT WITH(NOLOCK) ON CT.ID =  hrd.Timezone_ID
		LEFT JOIN gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id = HR.ID 
		WHERE HCA.HiringRequestID = @HiringRequestID AND HCA.ID = @AssessmentID
		ORDER BY HCA.CreatedByDateTime DESC	
	END

	--select @Flag

	IF(@Flag = 'Add' OR @Flag = 'Add_New_Type')
		EXEC sproc_HiringRequest_History_Insert @Action = 'Custom_Assessment_Shared', @HiringRequest_ID = @HiringRequestID,
				@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy, @ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
				@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient,
				@IsManagedByTalent = 0, @SalesUserID = 0,
				@OldSalesUserID = 0, @AppActionDoneBy = 4
END

