ALTER PROCEDURE [dbo].[Sproc_Final_Job_Posting_Save_ClientPortal]
  @ClientID					bigint = 0,
  @GUID						Nvarchar(50) = null,
  @GPTJDID					bigint = 0,
  @RoleName					Nvarchar(200) = 0,
  @ExperienceYears			int = 0,
  @IsFresherAllowed			BIT = null,
  @NoOfTalents				int = 0,
  @IsHiringLimited			Nvarchar(50) = null,
  @Availability				Nvarchar(50) = null,
  @ContractDuration			int = 0,
  @IPAddress				NVARCHAR(50)= null,
  @Skills					NVARCHAR(MAX) = null,
  @AllSkills				NVARCHAR(MAX) = null,
  @Currency					NVARCHAR(20)  = null,
  @BudgetFrom				DECIMAL(18,1) = 0,
  @BudgetTo					DECIMAL(18,1) = 0,
  @EmploymentType			NVARCHAR(200) = null,
  @HowSoon					NVarchar(200) = null,
  @WorkingModeID			INT = 0,
  @CompanyLocation			NVARCHAR(MAX) = null,
  @AchievementID			Bigint = 0,
  @RolesResponsibilities	NVARCHAR(MAX) = null,
  @Requirements				NVARCHAR(MAX) = null,
  @JDFileName				NVARCHAR(100) = null, 
  @CookieID					bigint = 0,
  @CountryTracking	        Nvarchar(100) = null,
  @StateTracking		    Nvarchar(100) = null,
  @CityTracking		        Nvarchar(100) = null,
  @Browser			        Nvarchar(MAX) = null,
  @Device				    Nvarchar(100) = null,
  @JobDescription           NVARCHAR(MAX) = NULL,
  @IsActive					BIT = 1,
  @AnotherCompanyTypeID		int = 0,
  @IsConfidentialBudget		BIT = NULL,
  @CompanyLogo				Nvarchar(200) = null,
  @JobRoleDescription		Nvarchar(MAX) = null,
  @Whatweoffer				Nvarchar(MAX) = null,
  @SSOUserId				BIGINT = NULL,
  @JobLocation				Nvarchar(500) = null,
  @FrequencyOfficeVisitID	Int = 0,
  @IsOpenToWorkNearByCities bit = 0,
  @NearByCities				Nvarchar(MAX) = null,
  @JobTypeID				INT = 0,
  @ATS_JobLocationID		BIGINT= null,
  @ATS_NearByCities			Nvarchar(MAX) = null,
  @DraftHRID				BIGINT = 0
AS
BEGIN

		

			-- Check if the filename ends with '.pdf.pdf' and correct it
			IF (RIGHT(@JDFileName, 8) = '.pdf.pdf' OR @JDFileName like '%.pdf.pdf%')
			BEGIN
				SET @JDFileName = LEFT(@JDFileName, LEN(@JDFileName) - 4)
			END

	--- Add into gen_JObPost_ClientPortal , gen_JobCreditTransactionHistory_ClientPortal Jimit 18-10-2023 
		DECLARE @CompanyID as Bigint = 0		
		Declare @CompanyTypeId as Bigint = 0
		Declare @IsPostaJob as bit = 0
		Declare @IsProfileView as bit = 0
		
		DECLARE @City NVARCHAR(500) = NULL,
		@State NVARCHAR(500) = NULL,
		@Country NVARCHAR(500) = NULL,
		@PostalCode NVARCHAR(500) = NULL,
		@TransactionPrimaryID nVARCHAR(100) = NULL,
		@JobStatusId INT = 0,
		@AutoAccepted BIT = 0,
		@JobPostingDate DATETIME = GETDATE(),
		@ActionPerformedBy BIGINT = 0,
		@ActionManagedByClient BIT = 1,
		@IsTransparentPricing BIT = NULL,
		@IsSelfSignupCompany BIT = 0,
		@TrackingAction NVARCHAR(500) = NULL, 
		@TrackingLocation NVARCHAR(MAX) = NULL, 
		@TrackingUserID BIGINT = 0

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ClientID, @SSOUserId))
		SET @ActionManagedByClient = (SELECT IIF(ISNULL(@SSOUserId,0) = 0, 1, 0))

		SELECT @CompanyID = CompanyID from gen_Contact with(NOLOCK) WHERE ID = @ClientID	

		SET @NoOfTalents = 1

		select @CompanyTypeId = Isnull(CompanyTypeID,0),
				@IsPostaJob = Isnull(IsPostaJob,0),
				@IsProfileView = Isnull(IsProfileView,0),
				@IsTransparentPricing = IsTransparentPricing,
				@IsSelfSignupCompany = ISNULL(IsFromSignUp,0)
		from gen_Company WITH(NOLOCK) Where ID = @CompanyID

		-- if the company does not support any hybrid model then.
		IF ISNULL(@AnotherCompanyTypeID,0) = 0
			SET @AnotherCompanyTypeID = @CompanyTypeId		
		--- End

		IF(@AnotherCompanyTypeID = 2)
		BEGIN
			SELECT @EmploymentType = CASE WHEN @JobTypeID IN (1, 2, 4) THEN 'Full Time' ELSE 'Part Time' END
		END

		IF(@IsActive = 1)
			BEGIN
				-- Check the company balance and update the data if no balance then do not execute further.
				--EXEC @TransactionPrimaryID = Sproc_CreditUtilization @ClientID, @JobPostingDate, 0, 0, @AnotherCompanyTypeID
				EXEC Sproc_CreditUtilization_Process  @CompanyID		= @CompanyID,
																			  @HRID				= 0,
																			  @ContactID		= @ClientID,
																			  @JobPostedDate	= @JobPostingDate,
																			  @ATSTalentID		= 0,
																			  @IsRepost			= 0,
																			  @CreatedById		= @ActionPerformedBy,
																			  @CompanyTypeId	= @AnotherCompanyTypeID,
																			  @ProfileUnlock	= 0,
																			  @VettedProfile	= 0,
																			  @OutputParam		= @TransactionPrimaryID OUTPUT
			END
		ELSE
			BEGIN
				SET @TransactionPrimaryID = 'Draft HR'
			END

		IF(ISNULL(@TransactionPrimaryID,'') <> '-1')
		BEGIN
			-- Check if HR already exists or not gen_SalesHiringRequest
			IF NOT EXISTS(SELECT 1 FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE GUID = @GUID AND ContactID = @ClientID AND IsActive = 1)
				BEGIN

					Declare @HR_ID as bigint = 0
					Declare @IsHiringLimitedBit as bit = 0
					DECLARE  @TimeZonePreferenceID AS    INT = NULL,
							 @TimeZoneFromTime  AS  NVARCHAR(100) = NULL,
							 @TimeZoneEndTime  AS  NVARCHAR(100) = NULL,
							 @TimeZoneID BIGINT = NULL,
							 @IsHRTypeDP	AS	BIT = 0
					Declare  @DCSalesEmpID as Nvarchar(20) = null
					Declare  @DCSalesUserID as bigint = 0						
					DECLARE  @DATE AS VARCHAR(12)
					DECLARE  @HiringTypePricingId as int = 0,
							 @SpecificMonth as int = NULL,
							 @PayrollTypeId	int = 0,
							 @PayrollPartnerName Nvarchar(Max) = '',
							 @FormattedBudgetFrom NVARCHAR(MAX) = '',
							 @FormattedBudgetTo NVARCHAR(MAX) = '',							
							 @JobExpiryDate DATETIME = NULL,
							 @CostSuffix NVARCHAR(250),
							 @ShowHRPOCDetailsToTalents BIT = NULL,
							 @IsScreeningQuestionOptional BIT = NULL							 
					
					print @Currency

					IF(ISNULL(@Currency,'') != '')
					BEGIN
						---Convert into proper formatting for budget
						SELECT @FormattedBudgetFrom = CASE WHEN ISNULL(@BudgetFrom,0) <> 0 THEN format(@BudgetFrom, N'N', Culture) ELSE '' END, 
							   @FormattedBudgetTo = CASE WHEN ISNULL(@BudgetTo,0) <> 0 THEN format(@BudgetTo, N'N', Culture) ELSE '' END
						FROM prg_CurrencyExchangeRate WITH(NOLOCK) WHERE CurrencyCode = @Currency
				    END

					SET @IsFresherAllowed = (SELECT CASE WHEN ISNULL(@ExperienceYears,0) <> 0 THEN CAST(0 AS BIT) ELSE CAST(1 AS BIT) END)

					IF Exists(select 1 from gen_TransparentPricingModel_ClientPortal WITH(NOLOCK) Where ContactID = @ClientID and GUID = @GUID)
						BEGIN
								SELECT @HiringTypePricingId = Isnull(HiringTypePricingId,0),
									   @SpecificMonth = Isnull(SpecificMonth,0),
									   @PayrollPartnerName = Isnull(PayrollPartnerName,''),
									   @PayrollTypeId = ISnull(PayrollTypeId,0)
								FROM   gen_TransparentPricingModel_ClientPortal WITH(NOLOCK) 
								Where  ContactID = @ClientID and GUID = @GUID
						END
					

					IF(@HiringTypePricingId = 3 OR @AnotherCompanyTypeID = 2)
					BEGIN
						SET @CostSuffix = ' / Annum'
					END
					ELSE
					BEGIN
						SET @CostSuffix = ' / Month'
					END	

					SELECT @DATE = format(getdate(),'ddMMyyHHmmss')

					DECLARE @WorkingMode NVARCHAR(100)		
					SELECT @WorkingMode = ModeOfWorking FROM prg_ModeOfWorking with(NoLock) WHERE ID = @WorkingModeID

					DECLARE @RoleId BIGINT = 0
					SET @RoleID  = (SELECT TOP 1 ID FROM prg_TalentRoles with(NoLock) WHERE TalentRole = @RoleName)

					if(Isnull(@RoleID,0) = 0 AND ISNULL(@RoleName, '') <> '')
					 BEGIN		
			
							PRINT @RoleName
							SELECT  
							top 1   @RoleID = FT_TBL.ID  
							FROM    prg_TalentRoles AS FT_TBL with(nolock)  
									INNER JOIN FREETEXTTABLE(prg_TalentRoles,TalentRole,@RoleName,LANGUAGE N'English') AS KEY_TBL  
									ON FT_TBL.ID = KEY_TBL.[KEY] ORDER BY RANK desc

							IF(Isnull(@RoleID,0) = 0)
								BEGIN	
					
									--As per Bhuvan sir's instruction in SP 24 planning call 27-11-23

									INSERT INTO prg_TalentRoles
									(
										TalentRole,
										IsActive,
										IsAdhoc,
										CreatedbyDatetime,
										ModifyByID,
										FrontIconImage
									)
									VALUES
									(
										@RoleName,
										1,
										1,
										GETDATE(),
										@ActionPerformedBy,
										'default-role-icon.png'
									)

									SET @RoleID = @@IDENTITY 
							  END
					 END

					--DECLARE @AboutCompany NVARCHAR(MAX) = ''
					--SET @AboutCompany = (SELECT TOP 1 about_Company_desc FROM gen_JobPost_StandoutToTalents_ClientPortal with(NoLock) WHERE ContactId = @ClientID)		

					DECLARE @JDURL NVARCHAR(MAX)
					DECLARE @Cost NVARCHAR(500) 
					DECLARE @HR_DetailsID BIGINT = 0

					DECLARE @BudgetType INT 
					SET @BudgetType = (SELECT TOP 1 BudgetType FROM gen_SkillAndBudget_ClientPortal WITH(NOLOCK) where ContactId = @ClientID and GUID = @GUID)

					DECLARE @AdhocBudgetCost DECIMAL(18,2) = NULL

					-- No bar for right candidate
					IF(ISNULL(@BudgetType,2) = 3 AND (ISNULL(@BudgetFrom,0) = 0 AND ISNULL(@BudgetTo,0) = 0))
					BEGIN
						--SET @Cost = 'Open for any budget'
							SET @Cost = ''
							SET @BudgetFrom = 0 
							SET	@BudgetTo = 0 
							SET	@AdhocBudgetCost = 0
					END

					-- Budget Range 
					IF(ISNULL(@BudgetFrom,0) >  0 OR ISNULL(@BudgetTo,0) > 0)
					BEGIN
						SET @Cost = (
										SELECT IIF
												(
													ISNULL(@BudgetFrom,0) = 0, 
													@FormattedBudgetFrom,
													CAST(CurrencySign AS NVARCHAR) + ''  + @FormattedBudgetFrom
												) 
												+ ' to ' +  
												CAST(CurrencySign AS NVARCHAR) + '' + 
												@FormattedBudgetTo + ' ' + @Currency + @CostSuffix  FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
									)
						SET	@AdhocBudgetCost = 0
					END

					--Adhoc Budget
					IF(ISNULL(@BudgetFrom,0) >  0 AND ISNULL(@BudgetTo,0) = 0)
					BEGIN
						SET @Cost = (
										SELECT IIF
												(
													ISNULL(@BudgetFrom,0) = 0, 
													@FormattedBudgetFrom,
													+ 'Upto ' + CAST(CurrencySign AS NVARCHAR) + '' + @FormattedBudgetFrom + ' ' + @Currency + @CostSuffix								
												) 
												FROM prg_CurrencyExchangeRate with(NoLock) WHERE CurrencyCode = @Currency
									)
						SET @AdhocBudgetCost = @BudgetFrom
						SET @BudgetFrom = 0
						SET @BudgetTo = 0
					END		

					-- GET the POC from company table if any. ---Change done by Riya as discussed.
					--DECLARE @CompanyPOC BIGINT = 0
					--SELECT TOP 1 @CompanyPOC = ISNULL([User_ID],0) FROM gen_ContactPointofContact WITH(NOLOCK) WHERE ContactID = @ClientID AND Company_ID = @CompanyID Order by ID desc

					--Added Jimit 03-06-24 If client is from Self signup then Ayush is the SalesPErson (POC)  UTS - 7505
					--IF(ISNULL(@CompanyPOC,0) = 0)
					--BEGIN
					--	IF(@AnotherCompanyTypeID = 2)
					--	BEGIN
					--		select @DCSalesEmpID = [Value] from gen_SystemConfiguration WITH(NOLOCK) where [Key] = 'ClientFrontEndHRPOC'
					--		Select @DCSalesUserID = ID,@DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID
					--	END
					--	ELSE
					--	BEGIN
					--		select @DCSalesEmpID = [Value] from gen_SystemConfiguration WITH(NOLOCK) where [Key] = 'ClientFrontEndPayPerHRPOC'
					--		Select @DCSalesUserID = ID,@DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID
					--	END
					--END
					--ELSE
					--BEGIN			
					--	Select @DCSalesUserID = @CompanyPOC
					--END		
	
					--if First HR then Ayush as a POC otherwise take Latest AM if null then NBD 

					Select TOP 1 @DCSalesUserID = Isnull(H.SalesUserID,0)
											FROM   gen_SalesHiringRequest H WITH(NOLOCK) 
												   inner join gen_Contact C WITH(NOLOCK) ON C.ID = H.ContactID
											WHERE  c.CompanyID = @CompanyID AND Isnull(H.SalesUserID,0) <> 0
											ORDER by H.ID desc


					IF(@DCSalesUserID = 0)
					BEGIN	
							select @DCSalesUserID = Isnull(AM_SalesPersonID,NBD_SalesPersonID) from gen_Company WITH(NOLOCK) where ID = @CompanyID
								
					END

					
					print @DCSalesUserID
						
					------ended----

					IF Exists(select 1 from gen_RoleAndHiringType_ClientPortal WITH(NOLOCK) where ContactId = @ClientID and GUID = @GUID)
						BEGIN
					
								IF(@WorkingModeID <> 1) -- Hybrid and onsite
								BEGIN
									SELECT TOP 1
										@City = City,
										@State = State,
										@Country = Country,
										@postalCode = PostalCode
									FROM gen_RoleAndHiringType_ClientPortal WITH(NOLOCK) where ContactId = @ClientID and GUID = @GUID
								END

								SELECT TOP 1
										@ShowHRPOCDetailsToTalents = ShowHRPOCDetailsToTalents
									FROM gen_RoleAndHiringType_ClientPortal WITH(NOLOCK) where ContactId = @ClientID and GUID = @GUID


								UPDATE gen_RoleAndHiringType_ClientPortal SET IsActive = @IsActive where ContactId = @ClientID and GUID = @GUID
								
						END

					IF Exists(select 1 from gen_SkillAndBudget_ClientPortal WITH(NOLOCK) where ContactId = @ClientID and GUID = @GUID)
						BEGIN
								SELECT  @Skills = Skills,
										@AllSkills = AllSkills
								FROM gen_SkillAndBudget_ClientPortal 
								where  ContactId = @ClientID and GUID = @GUID

								UPDATE gen_SkillAndBudget_ClientPortal SET IsActive = @IsActive where ContactId = @ClientID and GUID = @GUID
						END

					IF Exists(select 1 from gen_JobPost_Employment_Details_ClientPortal WITH(NOLOCK) where ContactId = @ClientID and GUID = @GUID)
						BEGIN

								SELECT 
									@TimeZonePreferenceID = Timezone_Preference_ID,
									@TimeZoneFromTime = TimeZone_FromTime,
									@TimeZoneEndTime = TimeZone_EndTime,
									@IsHRTypeDP = Isnull(IsHRTypeDP,0),
									@HowSoon = HowSoon
								FROM gen_JobPost_Employment_Details_ClientPortal WITH(NOLOCK) where ContactId = @ClientID and GUID = @GUID

								UPDATE gen_JobPost_Employment_Details_ClientPortal SET IsActive = @IsActive where ContactId = @ClientID and GUID = @GUID
						END

					IF Exists(select 1 from gen_JobPost_Roles_Responsibilities_ClientPortal WITH(NOLOCK) where ContactId = @ClientID and GUID = @GUID)
						BEGIN
								SELECT @JDURL = [URL] FROM Gen_GPT_JDResponse  GPT with(NoLock) LEFT JOIN gen_JobPost_Roles_Responsibilities_ClientPortal RR with(NoLock) ON GPT.ID = RR.GPTJDID AND RR.ContactId =  @ClientID
								WHERE RR.ContactId = @ClientID and RR.GUID = @GUID AND RR.ProcessType = 'URL_Parsing' OR RR.ProcessType = 'JDURLParsingGenerated'

								IF(ISNULL(@JDFileName,'') = '')
								BEGIN
									SELECT @JDFileName = JDFileName FROM gen_JobPost_Roles_Responsibilities_ClientPortal WITH(NOLOCK) where ContactId = @ClientID 
																																			and GUID = @GUID
																																			AND ISNULL(JDFileName,'') <> ''
								END

								UPDATE gen_JobPost_Roles_Responsibilities_ClientPortal SET IsActive = @IsActive where ContactId = @ClientID and GUID = @GUID
						END

					print @JDFileName

					-- If active then only update the steps
					IF(@IsActive = 1)
					BEGIN
					IF Exists(select 1 from Gen_Client_Jobs WITH(NOLOCK) where ContactID = @ClientID and GUID = @GUID)
						BEGIN
							 UPDATE Gen_Client_Jobs
							 SET    IsActive = @IsActive,
									CurrentStepID = 5,
									NextStepID = 0
							 WHERE  ContactID = @ClientID and GUID = @GUID
						END
					END
							

					IF(@IsHiringLimited = 'Temporary' OR @EmploymentType = 'Part Time')
					BEGIN
						SET @IsHiringLimitedBit = 1
					END
	
					Declare @HRTypeId as int = 0
					Declare @HR_TypeId as int = 0
					

					DECLARE @DPPercentage DECIMAL(18,2) = (SELECT TOP 1 [Value] FROM gen_SystemConfiguration WHERE [Key] = 'DP Percentage')
					DECLARE @NRPercentage DECIMAL(18,2) = (SELECT TOP 1 [Value] FROM gen_SystemConfiguration WHERE [Key] = 'TalentCostCalculationPercentage')

					DECLARE @UplersFeesPercentage DECIMAL(18,2) = NULL
					DECLARE @CalculatedUplersFees NVARCHAR(600) = NULL

					------------------------------ Do NOT DELETE THIS Comment,added Jimit 16-12-23 ------
					--HRTypeId -  for option 1,2  value = 0 (Contractual) and for option 3 value = 1 (DP)
					--HR_TypeId  - for option 1,2 value = 2 (Contractual) and for option 3 value = 1 (DP)
					--IsHRTypeDP -  for option 1,2 value = 0 (Contractual) and for option 3 value = 1 (DP)
					----------------------------------*---------------------------------------------------	

					--SET @HRTypeId = case when @HiringTypePricingId in (1,2) then 0 else 1 end
					--SET @HRTypeId = case when @HiringTypePricingId in (1,2) then 2 else 1 end
					--SET @HR_TypeId = case when @HiringTypePricingId in (1,2) then 2 else 1 end

					-- If pay per hire or switch model
					IF(Isnull(@AnotherCompanyTypeID,0) = 1)
					BEGIN
						--Pick the HR_TypeID from prg_HiringType_Pricing to decide HR is DP or contractual
						SELECT TOP 1 
							@HR_TypeId = HRTypeID, 
							@UplersFeesPercentage = CASE WHEN @HiringTypePricingId = 3 AND 
														(LOWER(@CountryTracking) = LOWER('India') OR LOWER(@CountryTracking) = LOWER('IN'))
														THEN 7.5 ELSE PricingPercent 
													END
							FROM prg_HiringType_Pricing WHERE ID = @HiringTypePricingId

						SET @HRTypeId = 1

						--If Hr_TypeId is 1 that means HR is DP Else Contractual
						SET @IsHRTypeDP = case when @HR_TypeId = 1 then 1 else 0 end

						IF(@IsTransparentPricing = 0)
						BEGIN
							SET @UplersFeesPercentage = 35
						END

						--SET @IsTransparentPricing = 1		
			
						--Calculation done by Riya from Function.
						--IF(ISNULL(@BudgetFrom,0) > 0 AND  ISNULL(@BudgetTo,0) > 0)
						--BEGIN
						--	SELECT Top 1 @CalculatedUplersFees = UplersFeeInAmount FROM dbo.PayPerHire_Calculation(1, 0, @BudgetFrom, @BudgetTo, @UplersFeesPercentage, @IsHRTypeDP);
						--END

						----Calculation done by Riya for Adhoc Budget
						--IF(ISNULL(@AdhocBudgetCost,0) > 0)
						--BEGIN
						--		SELECT Top 1 @CalculatedUplersFees = UplersFeeInAmount FROM dbo.PayPerHire_Calculation(1, @AdhocBudgetCost, 0, 0, @UplersFeesPercentage, @IsHRTypeDP);
						--END

						IF(@HR_TypeId = 1)
						BEGIN
							SET @DPPercentage = @UplersFeesPercentage
							SET @NRPercentage = 0
						END

						IF(@HR_TypeId = 2)
						BEGIN
							SET @NRPercentage = @UplersFeesPercentage
							SET @DPPercentage = 0
						END

						--UTS-7026: Pay per hire HR will be open if active else will be in draft
						SET @JobStatusId = IIF(@IsActive = 1, 4, 3)
						SET @AutoAccepted = 0 

					END		
					ELSE
					BEGIN
						-- If pay per credit or switch model
						IF(ISNULL(@AnotherCompanyTypeID,0) = 2)
						BEGIN
							SET @HR_TypeId = NULL;
							SET	@IsHRTypeDP = 4;
							SET	@DPPercentage = NULL;
							SET	@NRPercentage = NULL;
							SET @IsTransparentPricing = NULL;
							SET @IsScreeningQuestionOptional = 1 -- If PPJ then AI is optional

							SET	@HRTypeId = 4;	
							SET @JobExpiryDate = GETDATE() + 30;	

							-- Credit for Job post and for view profile
							IF @IsPostaJob = 1 AND @IsProfileView = 1
								BEGIN
										SET	@HRTypeId = 3;	
										SET @JobExpiryDate = GETDATE() + 30;									
								END

							-- Credit for only Job post and not for view profile
							IF @IsPostaJob = 1 AND @IsProfileView = 0
								BEGIN
										SET	@HRTypeId = 4;	
										SET @JobExpiryDate = GETDATE() + 30;									
								END

							-- Job Posted without job and no profile view credits.
							--IF @IsPostaJob = 0 AND @IsProfileView = 0
							--BEGIN
							--	SET	@HRTypeId = 6;
							--END

							-- Job Posted without job and with profile view credits.
							IF @IsPostaJob = 0 AND @IsProfileView = 1
							BEGIN
								SET	@HRTypeId = 6;
							END

							--UTS-7026: Pay per credit HR will be active
							SET @JobStatusId = IIF(@IsActive = 1, 4, 3)
							SET @AutoAccepted = 0

						END
					END
		
					IF EXISTS(SELECT ID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE (GUID = @GUID OR ID = @DraftHRID) AND ContactID = @ClientID AND IsActive = 0)
					BEGIN
						
						print 'Update HR'

						IF @DraftHRID > 0
							SET @HR_ID = @DraftHRID
						ELSE
							SELECT TOP 1 @HR_ID = ID FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE GUID = @GUID AND ContactID = @ClientID AND IsActive = 0

						UPDATE gen_SalesHiringRequest
						SET
						--ContactId = ISNULL(@ClientID, ContactId),
						RequestForTalent = ISNULL(@RoleName, RequestForTalent),
						--NoofTalents = ISNULL(@NoOfTalents, NoofTalents),
						IsHiringLimited = ISNULL(@IsHiringLimitedBit, IsHiringLimited),
						Availability = ISNULL(@EmploymentType, Availability),
						TalentCostCalcPercentage = ISNULL(@NRPercentage, TalentCostCalcPercentage),
						DPPercentage = ISNULL(@DPPercentage, DPPercentage),
						IsHRTypeDP = ISNULL(@IsHRTypeDP, IsHRTypeDP),
						LastModIFiedByID = ISNULL(@ActionPerformedBy, CreatedByID),
						LastModIFiedDatetime = GETDATE(),
						--about_Company_desc = ISNULL(@AboutCompany, about_Company_desc),						
						HiringTypePricingId = ISNULL(@HiringTypePricingId, HiringTypePricingId),
						PayrollTypeId = ISNULL(@PayrollTypeId, PayrollPartnerName),
						HR_TypeId = ISNULL(@HR_TypeId, HR_TypeId),
						PayrollPartnerName = ISNULL(@PayrollPartnerName, PayrollPartnerName),
						ClientJobModifyByID = @ClientID,
						ClientJobModifyByDatetime = GETDATE(),
						JobStatusID = @JobStatusID,
						IsActive = @IsActive,
						JDFileName  = ISNULL(@JDFileName,JDFileName),
						ShowHRPOCDetailsToTalents = ISNULL(@ShowHRPOCDetailsToTalents, ShowHRPOCDetailsToTalents),
						JobTypeID = ISNULL(@JobTypeID,JobTypeID)
						--HRTypeId = ISNULL(@HRTypeId, HRTypeId)
						WHERE ID = @HR_ID 
						

						--update data in gen_SalesHiringRequest_Details
						UPDATE gen_SalesHiringRequest_Details
						SET 
						--InterviewerYearofExperience = ISNULL(@ExperienceYears, InterviewerYearofExperience),
						--NoofEmployee = ISNULL(@NoOfTalents, NoofEmployee),
						Currency = ISNULL(@Currency, Currency),
						BudgetFrom = ISNULL(@BudgetFrom, BudgetFrom),
						BudgetTo = ISNULL(@BudgetTo, BudgetTo),
						Adhoc_BudgetCost = ISNULL(@AdhocBudgetCost, Adhoc_BudgetCost),
						HowSoon = ISNULL(@HowSoon, HowSoon), 
						TimeZone_FromTime = ISNULL(@TimeZoneFromTime, TimeZone_FromTime),
						TimeZone_EndTime = ISNULL(@TimeZoneEndTime, TimeZone_EndTime),	
						SpecIFicMonth = ISNULL(@SpecIFicMonth, IIF(@IsHiringLimitedBit = 1, @ContractDuration, NULL)),
						RolesResponsibilities = ISNULL(@RolesResponsibilities, RolesResponsibilities),
						Requirement = ISNULL(@Requirements, Requirement),
						Role_ID = ISNULL(@RoleId, Role_ID),
						YearOfExp = ISNULL(@ExperienceYears, YearOfExp),
						IsFresherAllowed = ISNULL(@IsFresherAllowed,IsFresherAllowed),
						Cost = ISNULL(@Cost, Cost),
						LastModIFiedByID = ISNULL(@ActionPerformedBy, LastModIFiedByID),
						LastModIFiedDatetime = Getdate(),
						DurationType = IIF(@IsHiringLimitedBit = 1, 'Short Term', 'Long Term'),
						Timezone_ID = ISNULL(@TimeZonePreferenceID, Timezone_ID),
						CalculatedUplersfees = ISNULL(@CalculatedUplersFees, CalculatedUplersfees),
						JobDescription = ISNULL(@JobDescription, JobDescription),
						IsConfidentialBudget = ISNULL(@IsConfidentialBudget, IsConfidentialBudget),
						JobRoleDescription = Isnull(@JobRoleDescription,JobRoleDescription),
						Whatweoffer = Isnull(@Whatweoffer,Whatweoffer)
						WHERE HiringRequest_ID = @HR_ID		
					
						--update data in gen_Direct_Placement
						UPDATE  gen_Direct_Placement
						SET
						ModeOfWork = ISNULL(@WorkingMode, ModeOfWork),
						City = ISNULL(@City, City),
						State = ISNULL(@State, State),
						Country = ISNULL(@Country, Country),
						PostalCode = ISNULL(@PostalCode, PostalCode),
						ModIFiedById = ISNULL(@ActionPerformedBy, ModIFiedById),
						ModIFiedByDateTime = GETDATE(),
						JobLocation = Isnull(@JobLocation,JobLocation),
						FrequencyOfficeVisitID = ISNULL(@FrequencyOfficeVisitID,FrequencyOfficeVisitID),
						IsOpenToWorkNearByCities = Isnull(@IsOpenToWorkNearByCities,IsOpenToWorkNearByCities),
						NearByCities = Isnull(@NearByCities,NearByCities),
						ATS_JobLocationID = ISNULL(@ATS_JobLocationID,ATS_JobLocationID),
						ATS_NearByCities = ISNULL(@ATS_NearByCities,ATS_NearByCities)
						WHERE HiringRequest_Id = @HR_ID

					END
					ELSE
					BEGIN

						print 'Add HR'
						Insert into gen_SalesHiringRequest
						(
							ContactId,
							RequestForTalent,
							NoofTalents,
							IsHiringLimited,
							Availability,
							IsAccepted,
							IsActive,
							IsHRTypeDP,
							CreatedByID,
							CreatedByDatetime,
							SalesUserID,
							Status_ID,
							HR_Number,
							[GUID],
							--about_Company_desc,
							JDFilename,
							JDURL,
							IsCreatedByClient,
							HiringTypePricingId,
							IsTransparentPricing,
							PayrollTypeId,
							HR_TypeId,
							PayrollPartnerName,
							HRTypeId,
							IsDirectHR,
							JobStatusID,
							TR_Accepted,
							JobExpiryDate,
							ShowHRPOCDetailsToTalents,
							JobTypeID,
							AppActionDoneBy
						)
						Values(@ClientID,@RoleName,@NoOfTalents,@IsHiringLimitedBit,@EmploymentType ,@AutoAccepted,@IsActive,@IsHRTypeDP,@ActionPerformedBy,GETDATE(),@DCSalesUserID, 1, 'HR'+ @DATE, @GUID,@JDFileName,@JDURL, 1,
								@HiringTypePricingId,@IsTransparentPricing,@PayrollTypeId,@HR_TypeId,@PayrollPartnerName,@HRTypeId,1, @JobStatusId,@AutoAccepted,@JobExpiryDate,@ShowHRPOCDetailsToTalents,@JobTypeID,4)

						SET @HR_ID = @@IDENTITY 		

						Insert into gen_SalesHiringRequest_Details
						(
							HiringRequest_ID,
							InterviewerYearofExperience,
							NoofEmployee,
							Currency,
							BudgetFrom,
							BudgetTo,
							HowSoon, 
							Timezone_Preference_ID, 
							TimeZone_FromTime,
							TimeZone_EndTime,	
							RoleStatus_ID,			
							SpecificMonth,
							RolesResponsibilities,
							Requirement,
							Role_ID,
							YearOfExp,
							Cost,
							CreatedById,
							CreatedByDatetime,
							DurationType,
							Timezone_ID,
							CalculatedUplersfees,
							JobDescription,
							Adhoc_BudgetCost,
							IsHRFocused,
							IsConfidentialBudget,
							JobRoleDescription,
							Whatweoffer,
							IsFresherAllowed,
							IsScreeningQuestionOptional
						)
						Values
						(
							@HR_ID,
							@ExperienceYears,
							@NoOfTalents,
							@Currency,
							@BudgetFrom,
							@BudgetTo,
							@HowSoon,
							NULL,
							@TimeZoneFromTime, 
							@TimeZoneEndTime,
							1, 
							--IIF(@IsHiringLimitedBit = 1, @ContractDuration, NULL),
							ISNULL(@SpecificMonth, IIF(@IsHiringLimitedBit = 1, @ContractDuration, NULL)),
							@RolesResponsibilities,
							@Requirements,
							@RoleId,
							@ExperienceYears,
							@Cost,
							@ActionPerformedBy,
							Getdate(),
							IIF(@IsHiringLimitedBit = 1, 'Short Term', 'Long Term'),
							@TimeZonePreferenceID,
							@CalculatedUplersFees,
							@JobDescription,
							@AdhocBudgetCost,
							0,
							@IsConfidentialBudget,
							Isnull(@JobRoleDescription,''),
							Isnull(@Whatweoffer,''),
							Isnull(@IsFresherAllowed,0),
							ISNULL(@IsScreeningQuestionOptional,0)
						)

						SET @HR_DetailsID = @@IDENTITY 

						Insert into gen_Direct_Placement
						(
							HiringRequest_Id,
							ModeOfWork,
							Address,
							City,
							State,
							Country,
							PostalCode,
							CreatedById,
							CreatedByDateTime,
							JobLocation,
							FrequencyOfficeVisitID,
							IsOpenToWorkNearByCities,
							NearByCities,
							ATS_JobLocationID ,
							ATS_NearByCities
						)
						Values
						(
							@HR_ID,
							@WorkingMode,
							NULL,
							@City,
							@State,
							@Country,
							@PostalCode,
							@ActionPerformedBy,
							GETDATE(),
							@JobLocation,
							@FrequencyOfficeVisitID,
							@IsOpenToWorkNearByCities,
							@NearByCities,
							ISNULL(@ATS_JobLocationID,0),
							ISNULL(@ATS_NearByCities,'')
						)				

						If (@IsHRTypeDP = 1)
						BEGIN	
							Update gen_SalesHiringRequest
							set IsHRTypeDP = 1,
							DPPercentage = @DPPercentage
							where ID = @HR_ID
						END
						ELSE
						BEGIN
							Update gen_SalesHiringRequest	
							set IsHRTypeDP = 0,
							TalentCostCalcPercentage = @NRPercentage
							where ID = @HR_ID
						END
						
					END

					 Update  gen_Company
					 SET     Client_StatusID = 1,CompanyLogo = Isnull(@CompanyLogo,CompanyLogo)
					 where   Id = @CompanyID

					IF(@AnotherCompanyTypeID = 2 AND @IsActive = 1)
					BEGIN
						select  Cast(val as int) as Id
						into    #transactionids
						from    DBO.f_split(@TransactionPrimaryID,',')

						UPDATE	JCT								 
						SET		JCT.HRID = @HR_ID 
						from    gen_JobPost_TransactionHistory_ClientPortal JCT
								inner join #transactionids T ON T.Id = JCT.ID						

						drop table #transactionids
					END

					--EXEC Sproc_DumpJDDetailsintoTempTable_ClientPortal 
					--		@ContactId      = @ClientID,              
					--		@TimeZone       = NULL,              
					--		@JDRole         = NULL,               
					--		@JDDescription  = NULL,              
					--		@JDSkills       = @Skills,      
					--		@HowSoon        = @HowSoon,              
					--		@HowLong        = NULL,              
					--		@YearsOfExp     = @ExperienceYears,              
					--		@Qty			= @NoOfTalents,              
					--		@JDTools        = NULL,              
					--		@JDFileName     = @JDFileName,              
					--		@JDDetails      = NULL,        
					--		@YesWithIsNext  = 0,              
					--		@InsertedID     = 0,  
					--		@JDAllSkills    = @AllSkills,  
					--		@IsAdmin        = 0,  
					--		@RolesResponsibilities  = @RolesResponsibilities,  
					--		@Requirement    = @Requirements,
					--		@HR_ID = @HR_ID

					EXEC Sproc_HR_SkillTempSkill
						@HR_ID   =  @HR_ID,
						@CreatedByID = @ClientID, 
						@JDSkills = @Skills,   
						@JDAllSkills   = @AllSkills 


							--added by himani for Update calculation
						EXEC SP_PayPerHire_Calculation_Update @HRID = @HR_ID
						--added by himani for maintain history table
						EXEC SPROC_Gen_SalesHiringRequest_History @HRID = @HR_ID, @AppActionDoneBy = 4
						--added by himani for maintain history table before save new changes
						EXEC SPROC_Gen_SalesHiringRequest_Details_History @HRID = @HR_ID, @AppActionDoneBy = 4
						---Added by himani for when HR is create, contact & company will be active if its not (2nd May 2024)
						EXEC Sproc_UTS_ContactAsActive @ContactID = @ClientID

						--------Added by Riya update HRID in POC table for PPJ jobs
						--EXEC Sproc_HR_POC_ClientPortal @ClientID = @ClientID, @GUID = @GUID, @HRID= @HR_ID, @ContactIDs = null, @TobeRemovedContactID = 0, @IsAdd = 0
						UPDATE gen_SalesHRWise_ContactIDforATS SET HiringRequest_ID = @HR_ID WHERE GUID = @GUID
						UPDATE gen_JobPost_VitalInfo_ClientPortal SET HRID = @HR_ID WHERE GUID = @GUID

					IF(@IsActive = 1)
					BEGIN

						EXEC sproc_HiringRequest_History_Insert @Action = 'Job_Posting', @HiringRequest_ID = @HR_ID,
								@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
								@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient ,@IsManagedByTalent = 0, @SalesUserID = @DCSalesUserID,
								@OldSalesUserID = 0, @AppActionDoneBy = 4	
	  
					    EXEC sproc_HiringRequest_History_Insert @Action = 'Create_HRDBrifing', @HiringRequest_ID = @HR_ID,
								@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
								@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient ,@IsManagedByTalent = 0, @SalesUserID = @DCSalesUserID,
								@OldSalesUserID = 0, @AppActionDoneBy = 4
								
						SET @TrackingLocation = (SELECT ISNULL(@CountryTracking,'') + ' , '+ Isnull(@StateTracking,'') + ' , '+ Isnull(@CityTracking,''))
						SET @TrackingUserID = (SELECT IIF(@ActionManagedByClient = 1 , 0 , @ActionPerformedBy))
						SET @TrackingAction = (SELECT IIF(@IsSelfSignupCompany = 1 , 'Create_Client_Job_Posting', 'Invite_Client_UTSAdmin_Job_Posting'))

						EXEC [sproc_Contact_History_Insert_ClientPortal]
										 @Action						 = @TrackingAction,
										 @ContactID						 = @ClientID,
										 @HRID							 = @HR_ID,
										 @TalentID						 = 0,
										 @Talent_StatusID				 = 0,
										 @location						 = @TrackingLocation,
										 @Device						 = @Device,
										 @CTPID							 = 0,
										 @IPAddress						 = @IPAddress,
										 @Browser						 = @Browser,
										 @IsATSTalent					 = 0,
										 @ATSTalentIDs					 = null,
										 @UserId						 = @TrackingUserID
					END
					ELSE
					BEGIN

						EXEC sproc_HiringRequest_History_Insert @Action = 'HR_SaveAsDraft', @HiringRequest_ID = @HR_ID,
								@Talent_ID = 0, @Created_From = 0,@CreatedById = @ActionPerformedBy,@ContactTalentPriority_ID = 0,@InterviewMaster_ID = 0,
								@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = @ActionManagedByClient ,@IsManagedByTalent = 0, @SalesUserID = @DCSalesUserID,
								@OldSalesUserID = 0, @AppActionDoneBy = 4

					END

					--Added By Jimit 2012203 to Update Max Ids Final sign Up flag in Tracking Lead Table
					Select   MAX(ID) ID,CookieID
					into     #TrackingLeadID
					FROm     gen_TrackingLead_ClientPortal WITH(NOLOCK)
					WHERE    CookieID = @CookieID
					GROUP BY CookieID


					UPDATE  TL				
					SET		TL.HRID = @HR_ID,
							TL.ContactId = @ClientID,
							TL.IsJobPost = 1,
							TL.Country = Isnull(@CountryTracking,Isnull(TL.Country,'')),
							TL.State = Isnull(@StateTracking,Isnull(TL.State,'')),
							TL.City = Isnull(@CityTracking,Isnull(TL.City,'')),
							TL.Browser = Isnull(@Browser,Isnull(TL.Browser,'')),
							TL.Device = Isnull(@Device,Isnull(TL.Device,'')),
							TL.IP_Address = Isnull(@IPAddress,Isnull(TL.IP_Address,''))
					FROM    gen_TrackingLead_ClientPortal TL
							inner join #TrackingLeadID T ON T.ID = TL.ID
					WHERE   TL.CookieID = @CookieID

					DROP TABLE #TrackingLeadID
				END
		END
END



