ALTER PROCEDURE [dbo].[Sproc_ContactUsers_ClientPortal]
    @OperationFlag			nvarchar(10) = null, -- Values can be 'INSERT', 'UPDATE', or 'DELETE'
    @ID						bigint = 0,
    @ContactID				bigint = 0,
    @CompanyID				bigint = 0,
    @FirstName				nvarchar(200) = null,
    @LastName				nvarchar(200) = null,
    @EmailID				nvarchar(100) = null,
    @Password				nvarchar(100) = null,
    @Department				nvarchar(100) = null,
    @Designation			nvarchar(100) = null,
    @ContactNumber			nvarchar(20)  = null,
    @IsActive				bit = 0,
    @CreatedByID			bigint = 0,
    @ModifiedById			bigint = 0,
	@RoleID					BIGINT = 0,
	@EncrypyedPassword		NVARCHAR(MAX) = NULL
AS
BEGIN
    IF @OperationFlag = 'Add'
		BEGIN	
			IF EXISTS(SELECT 1 FROM gen_Contact WITH(NOLOCK) WHERE EmailID = @EmailID)
				BEGIN
						UPDATE gen_Contact
						SET    IsActive = 0
						WHERE  EmailID = @EmailID
				END
			ELSE 
				BEGIN
						--Declare @Userpassword as Nvarchar(100) = null
						--Declare @CompanyName as Nvarchar(200) = null

						--select @CompanyName = replace(Rtrim(Ltrim(Isnull(Company,'Uplers'))),' ','') from gen_Company WITH(NOLOCK) where ID = @CompanyID
						----SET @Userpassword = 'Uplers@123'
						
						-- -- Payal (12-06-2024) change the pwd logic						
						--Declare @CompanyNameLength as int = null
			
						----SET @Userpassword = 'Uplers@123'

						----IF(LEN(@CompanyName) >0)
						----BEGIN
						----		print @CompanyName
						----		SET @CompanyNameLength = LEN(@CompanyName);

						----		IF(max(LEN(@CompanyName)) >= 10)
						----		BEGIN
						----				SET @Userpassword = SUBSTRING(@CompanyName,0,10) + '@123';
						----		END
						----		ELSE
						----		BEGIN
						----			  SET @Userpassword = SUBSTRING(@CompanyName,0,@CompanyNameLength) + '@123';
						----		END


						----		print @Userpassword
						----END
						--SET  @Userpassword = LEFT(NEWID(), 10)
						
						INSERT INTO gen_Contact (CompanyID,FirstName,LastName,FullName,EmailID,Password,Department,Designation,ContactNo,
							IsActive,CreatedByID,CreatedByDateTime,IsJobPostUser, Username, RoleID,IsResetPassword,IsEmailVerified, EncryptedPassword)
						VALUES (
							@CompanyID,@FirstName,@LastName,@FirstName + ' ' + @LastName,@EmailID,@Password,@Department,@Designation,@ContactNumber,
							1,@CreatedByID,GETDATE(),1, @EmailID, @RoleID,0,1, @EncrypyedPassword);
				
						--Insert POC details --Riya 22 Nov 2023
						SELECT @ContactID = SCOPE_IDENTITY()

						Declare  @DCSalesEmpID as Nvarchar(20) = null
						Declare  @DCSalesUserID as bigint = 0
						Declare  @DCUserDescription as Nvarchar(Max) = ''	

						select @DCSalesEmpID = [Value] from gen_SystemConfiguration with(Nolock) where [Key] = 'ClientFrontEndHRPOC'
						Select @DCSalesUserID = ID,@DCUserDescription = Isnull([Description],'') from usr_User with(Nolock) where EmployeeID = @DCSalesEmpID

						IF NOT EXISTS(SELECT 1 FROM gen_ContactPointofContact WITH (NOLOCK) WHERE ContactID = @ContactID AND User_ID = @DCSalesUserID)
							BEGIN
									Insert into gen_ContactPointofContact(ContactID,User_ID,Description,Company_ID)
									Values(@ContactID,@DCSalesUserID,@DCUserDescription,@CompanyId)
							END
				END	

			--IF EXISTS(SELECT 1 FROM gen_ContactUsers_ClientPortal WITH(NOLOCK) WHERE EmailID = @EmailID AND IsActive = 0)
			--	BEGIN
			--			UPDATE gen_ContactUsers_ClientPortal
			--			SET    IsActive = 0
			--			WHERE  EmailID = @EmailID AND IsActive = 0
			--	END
			--ELSE IF NOT EXISTS(SELECT 1 FROM gen_ContactUsers_ClientPortal WITH(NOLOCK) WHERE EmailID = @EmailID)
			--	BEGIN
			--			Print 1
			--			INSERT INTO gen_ContactUsers_ClientPortal (ContactID,CompanyID,FirstName,LastName,EmailID,Password,Department,Designation,ContactNumber,
			--				IsActive,CreatedByID,CreatedByDateTime, RoleID )
			--			VALUES (
			--				@ContactID,@CompanyID,@FirstName,@LastName,@EmailID,@Password,@Department,@Designation,@ContactNumber,0,@CreatedByID,GETDATE(), @RoleID);
			--	END

		END
    ELSE IF @OperationFlag = 'UPDATE'
		BEGIN
				--UPDATE gen_ContactUsers_ClientPortal
				--SET				
				--	FirstName = ISNULL(@FirstName,FirstName),
				--	LastName = ISNULL(@LastName,LastName),
				--	EmailID = ISNULL(@EmailID,EmailID),
				--	--Password = ISNULL(@Password,Password),
				--	Department = ISNULL(@Department,Department),
				--	Designation = ISNULL(@Designation,Designation),
				--	ContactNumber = ISNULL(@ContactNumber,ContactNumber),
				--	--IsActive = ISNULL(@IsActive,IsActive),
				--	ModifiedById = @ModifiedById,
				--	ModifiedDateTime = GETDATE()
				--WHERE ID = @ID;


				UPDATE gen_Contact
				SET				
					FirstName = ISNULL(@FirstName,FirstName),
					LastName = ISNULL(@LastName,LastName),
					EmailID = ISNULL(@EmailID,EmailID),
					Username = ISNULL(@EmailID,Username),
					FullName = ISNULL(@FirstName + ' ' + @LastName, FullName),					
					Department = ISNULL(@Department,Department),
					Designation = ISNULL(@Designation,Designation),
					ContactNo = ISNULL(@ContactNumber,ContactNo),
					
					LastModifiedByID = @ModifiedById,
					LastModifiedDatetime = GETDATE(),
					RoleID = ISNULL(NULLIF(@RoleID,0), RoleID) -- Added by Riya on 03 June 2024
				WHERE EmailID = @EmailID;
		END
    ELSE IF @OperationFlag = 'DELETE'
		BEGIN
				--UPDATE	gen_ContactUsers_ClientPortal
				--SET		IsActive = 0					
				--WHERE	ID = @ID;	
				
				UPDATE gen_Contact
				SET    IsActive = 0
				WHERE  EmailID = @EmailID
				--DELETE FROM gen_ContactUsers_ClientPortal
				--WHERE ID = @ID;
		END   
END
