ALTER PROCEDURE [dbo].[Sproc_Get_Engagement_Renewal_Emails_Details]
	@OnBoardID			 bigint = 0,
	@EngagemenID		 Nvarchar(30) = null
AS
BEGIN
		Declare @Subject as Nvarchar(2000) = ''
		Declare @SQL as Nvarchar(MAX)     = ''
		Declare @HRNumber as Nvarchar(20) = ''
		Declare @HRID as bigint = 0
		Declare @Company as Nvarchar(100) = ''
		Declare @Client as Nvarchar(100)  = ''
		Declare @ContractStartDate as Nvarchar(20)  = ''
		Declare @ContractEndDate as Nvarchar(20)  = ''
		Declare @AMSales_Person  as Nvarchar(100)  = ''
		Declare @TalentName as Nvarchar(100) = ''
		Declare @JobTitle as Nvarchar(Max) = ''

		Declare @AMSalesPersonEmail as Nvarchar(Max)
		Declare @AMSalesPersonId as bigint = 0
		Declare @OpsPersonId as bigint = 0

		Declare @ToEmailName as Nvarchar(300) = ''
		Declare @ToEmailID as Nvarchar(Max) = ''

		Declare @CCEmailIDs as Nvarchar(Max) = ''
		Declare @CCEmailName as Nvarchar(Max) = ''

		Declare @InternalCCEmailIDs as Nvarchar(Max) = ''
		Declare @InternalCCEmailName as Nvarchar(Max) = ''

		select  @CCEmailIDs = Isnull(CCEmailIds,'')
		from    gen_CC_EmailIDs WITH(NOLOCK) 

		select  @CCEmailName = Isnull(CCEmailNames,'')
		from    gen_CC_EmailIDs WITH(NOLOCK) 

		select  @InternalCCEmailIDs = Isnull(Value,'')
		from    gen_SystemConfiguration WITH(NOLOCK) 
		where   [Key] = 'EmailId' and Description = 'Internal CC Email Ids'

		select  @InternalCCEmailName = Isnull(Value,'')
		from    gen_SystemConfiguration WITH(NOLOCK) 
		where   [Key] = 'Name' and Description = 'Internal CC Email Name'

		--Select @HRID = HiringRequest_ID
		--from   gen_OnBoardTalents WITH(NOLOCK) 
		--where  ID = @OnBoardID

		select	@ToEmailName = ISNULL(UserAM.FirstName,''),
				@ToEmailID = Isnull(UserAM.EmailID,''),
				--@ToEmailName = ISNULL(C.FirstName,''),
				--@ToEmailID = Isnull(C.EmailID,''),
				@AMSalesPersonEmail = Isnull(UserAM.EmailID,''),
				@AMSalesPersonId = UserAM.ID,
				@ContractStartDate = Convert(nvarchar(20),OBC.ContractStartDate,103),
				@ContractEndDate = Convert(nvarchar(20),OBC.ContractEndDate,103),
				@Client = Isnull(C.FullName,Isnull(C.FirstName,'NA')),
			    @Company = Isnull(CO.Company,'NA'),
				@HRNumber = Isnull(H.HR_Number,''),
				@JobTitle = ISNULL(H.RequestForTalent,''),
				@HRID = HiringRequest_ID,
				@TalentName = Isnull(Name,T.FirstName+ ' ' + T.LastName)

		from    gen_OnBoardTalents OBT WITH(NOLOCK) 
				inner join gen_OnBoardClientContractDetails OBC WITH(NOLOCK) ON OBT.ID = OBC.OnBoardID
				inner join gen_Contact C WITH(NOLOCK) ON C.ID = OBT.ContactID
				inner join gen_Company CO WITH(NOLOCK) ON C.CompanyID = CO.ID
				inner join  gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID and H.ID = OBT.HiringRequest_ID
				inner join usr_User UserAM WITH(NOLOCK) ON UserAM.ID = ISNULL(CO.AM_SalesPersonID, OBT.AM_SalesPersonID)
				inner join usr_User U WITH(NOLOCK) ON U.ID = OBT.AM_SalesPersonID
				inner join gen_Talent T WITH(NOLOCK) ON T.ID = OBT.Talent_ID

		where   OBT.ID = @OnBoardID 

		--select @TalentName = Isnull(Name,FirstName+ ' ' + LastName)
		--from   gen_Talent T WITH(NOLOCK)
		--	   inner join gen_OnBoardTalents OBT WITH(NOLOCK) ON T.Id = OBT.Talent_ID
		--Where  OBT.ID = @OnBoardID 
		
		--select  @Client = Isnull(C.FullName,Isnull(C.FirstName,'NA')),
		--	    @Company = Isnull(CO.Company,'NA'),
		--		@HRNumber = Isnull(H.HR_Number,'')
		--from    gen_Contact C WITH(NOLOCK) 
		--	    inner join  gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
		--	    inner join  gen_SalesHiringRequest H WITH(NOLOCK) ON H.ContactID = C.ID
		--Where   H.ID = @HRID

		;WITH EMP_CTESales AS
			(
				SELECT	top 1 userid, parentId, 0 AS levelpostion
				FROM	usr_UserHierarchy UH With(nolock)
				WHERE	exists (
									select	1 
									from	usr_User U With(Nolock)
									where	U.id = UH.UserID 
											and UH.UserID = Isnull(@AMSalesPersonId,UH.UserID)
											and U.IsActive = 1
								)
						
				UNION ALL
				SELECT	T.userid, T.parentId, levelpostion - 1 AS EmployeeLevel 
				FROM	usr_UserHierarchy AS T With(Nolock)
						INNER JOIN EMP_CTESales  AS C ON T.userID = C.parentId
			)
			SELECT  @AMSales_Person =  stuff(( select ',' + ISNULL(U.FirstName,'') + ' ' + ISNULL(U.LastName,'') 
								from EMP_CTESales T 
								left join usr_User U With(Nolock) on T.UserID = U.ID  where U.ID <> @AMSalesPersonId for xml path('') ),1,1,''),
					@AMSalesPersonEmail = stuff(( select ',' + Isnull(U.EmailID,'')
								from EMP_CTESales T 
								left join usr_User U With(Nolock) on T.UserID = U.ID where U.ID <> @AMSalesPersonId  for xml path('') ),1,1,'')

								

		SET @CCEmailIDs =  Isnull(@AMSalesPersonEmail,'') + ','+ Isnull(@CCEmailIDs,'') + ',' + isnull(@InternalCCEmailIDs,'')
		SET @CCEmailName =  Isnull(@AMSales_Person,'')+ ',' + Isnull(@CCEmailName,'') + ',' + isnull(@InternalCCEmailName,'')

		Declare @Strbeforenoofdays as nvarchar(100) =''

		IF(select  1 From  gen_OnBoardClientContractDetails OBC WITH(NOLOCK) 			
							Where  OBC.OnBoardID = @OnBoardID AND cast(DateAdd(d,-60,OBC.ContractEndDate) as date) = cast(GetDate() as date)) >0
		BEGIN 
					print 'before 60 days'
					SET @Strbeforenoofdays = 'before 2 months'
		END
		else IF(select  1 From  gen_OnBoardClientContractDetails OBC WITH(NOLOCK) 			
							Where  OBC.OnBoardID = @OnBoardID AND cast(DateAdd(d,-30,OBC.ContractEndDate) as date) = cast(GetDate() as date)) >0
		BEGIN 
					print 'before 30 days'
					SET @Strbeforenoofdays = 'before 1 month'
		END
		else IF(select  1 From  gen_OnBoardClientContractDetails OBC WITH(NOLOCK) 			
							Where  OBC.OnBoardID = @OnBoardID AND cast(DateAdd(d,-15,OBC.ContractEndDate) as date) = cast(GetDate() as date)) >0
		BEGIN 
					print 'before 15 days'
					SET @Strbeforenoofdays = 'before 15 days'
		END
			
		SET @Subject = N'Upcoming Renewal For ' + Isnull(@TalentName,'') + ' - ' +  Isnull(@EngagemenID,'') + ''
						
		SET @SQL = N'Hi '+ @Client + ',
					<br/>
					<div style="width:100%">
					<br/>
					I hope this message finds you well!
					<br/>
					This is a friendly reminder '+ @Strbeforenoofdays + ' that ' + Isnull(@TalentName,'') + '''s contract is set to conclude on ' + Isnull(@ContractEndDate,'') + '
					To ensure continuity of their work beyond this date, we kindly request that you extend the contract.
					<br/>
					Please find the relevant details below:					
					<br/>
					<br/>
					Company : ' + Isnull(@Company,'') + '<br/>
					Client : ' + Isnull(@Client,'') + '<br/>
					Job Role : ' + Isnull(@JobTitle,'') + '<br/>
					Talent Name : ' + Isnull(@TalentName,'') + '<br/>
					Current Contract Start Date : ' + Isnull(@ContractStartDate,'') + '<br/>
					Current Contract End Date : ' + Isnull(@ContractEndDate,'') + '<br/>
					<br/>
					Thank you for your attention to this matter.
					<br/>
						Best regards,
						<br/>
						Uplers Talent Solutions Team
					<br/>
					<hr>
						We are committed to your privacy.
						You may unsubscribe from these communications at any time.
						For more information, check out our <a class="link" href="https://talent.uplers.com/privacy-policy/" target="_blank">Privacy Policy</a>.
					</div>'

		select	@Subject as [subject],@SQL as Body,@ToEmailID as ToEmailIds,@ToEmailName as ToEmailNames,
				@CCEmailIDs as CCEmailIds,@CCEmailName as CCEmailNames


		UPDATE gen_Schedular_History SET LastRunDateTime = GETDATE() 
		WHERE SPName = 'Sproc_Get_Engagement_Renewal_Emails_Details'
				 
END