ALTER PROCEDURE [dbo].[Sproc_UTS_AddEdit_HRDebrief] 
	@HrId						BIGINT			= NULL,
	@HrTitle					NVARCHAR(200)	= NULL,
	@RoleID						INT				= NULL,
	@AboutCompanyDescription	NVARCHAR(MAX)	= NULL,
	@JobDescription				NVARCHAR(MAX)	= NULL,
	@MustHaveSkills				NVARCHAR(MAX)	= NULL,
	@GoodToHaveSkills			NVARCHAR(MAX)	= NULL,
	@IsHrfocused				BIT				= NULL,
	@InterviewerName			NVARCHAR(200)	= NULL,
	@InterviewerEmailId			NVARCHAR(100)	= NULL,
	@InterviewLinkedin			NVARCHAR(MAX)	= NULL,
	@InterviewerDesignation		NVARCHAR(100)	= NULL,
	@CompanyName				NVARCHAR(1000)	= NULL,
	@Industry					NVARCHAR(200)	= NULL,
	@Website					NVARCHAR(400)	= NULL,
	@LinkedInProfile			NVARCHAR(600)	= NULL,
	@AllowSpecialEdit			BIT				= NULL,
	@LoginUserId				INT				= NULL,
	@ActionType					NVARCHAR(20)	= NULL,
	@IsMustHaveSkillschanged	BIT				= null,
	@IsGoodToHaveSkillschanged	BIT				= null,
	@App_ActionDoneBy			INT				= null
AS
BEGIN
	DECLARE @ActionName NVARCHAR(50), @HRDetailID BIGINT = NULL, @IsActive BIT = NULL; 
	SET @HRDetailID = (SELECT HD.ID FROM gen_SalesHiringRequest_Details HD WITH (NOLOCK)
			WHERE HD.HiringRequest_ID = @HrId)

	IF EXISTS (SELECT TOP 1 ID FROM gen_SalesHiringRequest WHERE ID = @HrId)
	BEGIN

		--RoleID based on HR Title
		IF (ISNULL(@RoleID,0) = 0 AND ISNULL(@HrTitle,'') <> '')
		BEGIN
			SET @RoleID  = (SELECT TOP 1 ID FROM prg_TalentRoles with(NoLock) WHERE TalentRole = @HrTitle)
		END

		--If not exist then need to create new role in Master 
		IF ((@HrTitle <> NULL OR @HrTitle <> '') AND ISNULL(@RoleID,0) = 0)
		BEGIN		
			
			
			SELECT  
			TOP 1   @RoleID = FT_TBL.ID  
			FROM    prg_TalentRoles AS FT_TBL with(nolock)  
					INNER JOIN FREETEXTTABLE(prg_TalentRoles,TalentRole,@HrTitle,LANGUAGE N'English') AS KEY_TBL  
					ON FT_TBL.ID = KEY_TBL.[KEY] ORDER BY RANK desc

			IF(ISNULL(@RoleID,0) = 0)
				BEGIN	
					
					--As per Bhuvan sir's instruction in SP 24 planning call 27-11-23

					INSERT INTO prg_TalentRoles
					(
						TalentRole,
						IsActive,
						IsAdhoc,
						CreatedbyDatetime,
						ModIFyByID,
						FrontIconImage
					)
					VALUES
					(
						@HrTitle,
						1,
						1,
						GETDATE(),
						@LoginUserId,
						'default-role-icon.png'
					)

					SET @RoleID = SCOPE_IDENTITY() 
				END
		END


		Declare @HiringRequestHisotoryID as bigint = 0
			Declare @HRDetailHisotoryID as bigint = 0

			Insert into gen_SalesHiringRequest_History(HiringRequest_ID,LastModifiedByID,LastModifiedDatetime,RequestForTalent,HistoryDate,AppActionDoneBy)			
			SELECT @HrId,			      
			       LastModifiedByID = @LoginUserId,
				   Getdate(),
				   RequestForTalent = Case when Availability <> @HrTitle then @HrTitle else null end,
				   --about_Company_desc = Case when about_Company_desc <> @AboutCompanyDescription then @AboutCompanyDescription else null end,
				   Getdate(),
				   @App_ActionDoneBy
			FROM   gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HrId 

			SET @HiringRequestHisotoryID = @@IDENTITY
			--SET @HiringRequestHisotoryID = SCOPE_IDENTITY()
			

			Insert into gen_SalesHiringRequest_Details_History(HiringRequest_ID,JobDescription,LastModifiedByID,LastModifiedDatetime,Role_ID,InterviewerName,
									InterviewerEmailID,InterviewerDesignation,InterviewLinkedin,IsMustHaveSkillschanged,IsGoodToHaveSkillschanged,HistoryDate,
									AppActionDoneBy)
			
			SELECT @HrId,
				   JobDescription = case when JobDescription <> @JobDescription then @JobDescription else null end,
				   LastModifiedByID = @LoginUserId,
				   Getdate(),
				   Role_ID = case when Role_ID <> @RoleID then @RoleID else null end,
				   InterviewerName = case when InterviewerName <> @InterviewerName then @InterviewerName else null end,
				   InterviewerDesignation = case when InterviewerDesignation <> @InterviewerDesignation then @InterviewerDesignation else null end,
				   InterviewerEmailID = case when InterviewerEmailID <> @InterviewerEmailID then @InterviewerEmailID else null end,
				   InterviewLinkedin = case when InterviewLinkedin <> @InterviewLinkedin then @InterviewLinkedin else null end,
				   @IsMustHaveSkillschanged,@IsGoodToHaveSkillschanged,
				   GETDATE(),
				   @App_ActionDoneBy
			FROM   gen_SalesHiringRequest_Details WITH(NOLOCK) 
			WHERE ID = @HRDetailID 

			SET @HRDetailHisotoryID = @@IDENTITY
			--SET @HRDetailHisotoryID = SCOPE_IDENTITY()
			

		--update in gen_SalesHiringRequest
		UPDATE gen_SalesHiringRequest
		SET
		RequestForTalent = ISNULL(@HrTitle, RequestForTalent),
		about_Company_desc = ISNULL(@AboutCompanyDescription, about_Company_desc),
		LastModifiedByID = ISNULL(@LoginUserId, LastModifiedByID),
		LastModifiedDatetime = GETDATE()
		WHERE ID = @HrId

		--Update data in gen_SalesHiringRequest_Details
		UPDATE gen_SalesHiringRequest_Details
		SET 
		Role_ID = ISNULL(@RoleID, Role_ID),
		JobDescription = ISNULL(@JobDescription, JobDescription),
		IsHrfocused = ISNULL(@IsHrfocused, 0),
		InterviewerName = ISNULL(@InterviewerName, InterviewerName),
		InterviewerEmailID = ISNULL(@InterviewerEmailID, InterviewerEmailID),
		InterviewerDesignation = ISNULL(@InterviewerDesignation, InterviewerDesignation),
		InterviewLinkedin = ISNULL(InterviewLinkedin, InterviewLinkedin),
		LastModifiedByID = ISNULL(@LoginUserId, LastModifiedByID),
		LastModifiedDatetime = GETDATE()
		WHERE HiringRequest_ID = @HrId

		DECLARE 
			@JDDUMPID BIGINT = 0, 
			@HowSoon nvarchar(400), 
			@NoOfTalents INT, 
			@YearOfExp INT,
			@JDFileName NVARCHAR(MAX),
			@CompanyID BIGINT, 
			@ContactID BIGINT;

		SELECT 
			@JDDUMPID = ISNULL(H.JDDump_ID, 0),
			@ContactID = H.ContactID,
			@CompanyID = Co.CompanyID,
			@HowSoon = HD.HowSoon,
			@NoOfTalents = H.NoofTalents,
			@YearOfExp = ISNULL(HD.YearOfExp,0),
			@JDFileName = H.JDFilename,
			@IsActive = H.IsActive
			FROM gen_SalesHiringRequest H WITH (NOLOCK) 
			INNER JOIN gen_SalesHiringRequest_Details HD WITH (NOLOCK) ON H.ID = HD.HiringRequest_ID
			INNER JOIN gen_Contact Co WITH (NOLOCK) ON H.ContactID = Co.ID
			WHERE H.ID = @HrId

		--update @MustHaveSkills & @GoodToHaveSkills
		IF(@MustHaveSkills IS NOT NULL OR @GoodToHaveSkills IS NOT NULL)
		BEGIN

			EXEC Sproc_DumpJDDetailsintoTempTable_ClientPortal 
					@ContactId      = @ContactID,              
					@TimeZone       = NULL,              
					@JDRole         = NULL,               
					@JDDescription  = NULL,              
					@JDSkills       = @MustHaveSkills,      
					@HowSoon        = @HowSoon,              
					@HowLong        = NULL,              
					@YearsOfExp     = @YearOfExp,              
					@Qty			= @NoOfTalents,              
					@JDTools        = NULL,              
					@JDFileName     = @JDFileName,              
					@JDDetails      = NULL,        
					@YesWithIsNext  = 0,              
					@InsertedID     = @JDDUMPID,  
					@JDAllSkills    = @GoodToHaveSkills,  
					@IsAdmin        = 1,  
					@RolesResponsibilities  = @JobDescription,  
					@Requirement    = @JobDescription,
					@HR_ID = @HrId

			END

		--code commmneted by himani, beacuse now data will be update from add/edit company only & preview page https://uplerstalentsolution.atlassian.net/browse/UTS-7594
		--Update data in Gen_Company
		--UPDATE Gen_Company
		--SET 
		--Company = IIF(ISNULL(@CompanyName,'') <> '', @CompanyName, Company),
		--industry = IIF(ISNULL(@Industry,'') <> '', @Industry, industry),
		--Website = IIF(ISNULL(@Website,'') <> '', @Website, Website),
		--LinkedInProfile = IIF(ISNULL(@LinkedInProfile,'') <> '', @LinkedInProfile, LinkedInProfile),
		--about_Company_desc = IIF(ISNULL(@AboutCompanyDescription,'') <> '', @AboutCompanyDescription, about_Company_desc)
		--WHERE ID = @CompanyID

		-----Start------Update IsActive, JobStatusID & Credit utlize section as per Hr type------
		
		DECLARE 
		@TransactionPrimaryID		NVARCHAR(100)	= NULL, 
		@HRTypeId					INT				= NULL,
		@JobPostingDate				DATETIME		= GETDATE();
		
		SELECT 
		@HRTypeId = HRTypeId FROM 
		gen_SalesHiringRequest WITH (NOLOCK) WHERE ID = @HrId

		IF @ActionType = 'Save' AND @HRTypeId IN (1,6) --Pay per Hire / (pay per credit without post a job)
		BEGIN

				SET @IsActive = 1

				UPDATE gen_SalesHiringRequest
				SET
				IsActive = 1,
				JobStatusID = 4 --Open
				WHERE ID = @HrId
		END

		IF @ActionType = 'Save' AND @HRTypeId IN (3,4)-- Pay per credit, post a job HR (Need to deduct credit, then only active the HR)
		BEGIN

				-- Check the company balance and update the data if no balance then do not execute further.
				--EXEC @TransactionPrimaryID = Sproc_CreditUtilization @ClientID, @JobPostingDate, 0, 0, @AnotherCompanyTypeID
				EXEC Sproc_CreditUtilization_Process  @CompanyID			= @CompanyID,
														@HRID				= @HrId,
														@ContactID			= @ContactID,
														@JobPostedDate		= @JobPostingDate,
														@ATSTalentID		= 0,
														@IsRepost			= 0,
														@CreatedById		= @LoginUserId,
														@CompanyTypeId		= 2,
														@ProfileUnlock		= 0,
														@VettedProfile		= 0,
														@OutputParam		= @TransactionPrimaryID OUTPUT

				IF(ISNULL(@TransactionPrimaryID,'') <> '-1')
				BEGIN
					SELECT  Cast(val AS INT) AS Id
					INTO    #transactionids
					FROM    DBO.f_split(@TransactionPrimaryID,',')

					UPDATE	JCT								 
					SET		JCT.HRID = @HrId 
					FROM    gen_JobPost_TransactionHistory_ClientPortal JCT
							INNER JOIN #transactionids T ON T.Id = JCT.ID						

					DROP TABLE #transactionids

					SET @IsActive = 1

					UPDATE gen_SalesHiringRequest
					SET
					IsActive = 1,
					JobStatusID = 4, --Open
					JobExpiryDate = DATEADD(d, 30 , CreatedByDatetime) 
					WHERE ID = @HrId
				END
				ELSE
				BEGIN

					SET @IsActive = 0

					UPDATE gen_SalesHiringRequest
					SET
					IsActive = 0, -- Inactive Due to in sufficiant credit balance
					JobStatusID = 3 -- Draft due to in sufficiant credit balance 
					WHERE ID = @HrId
				END
		END
		-------END---------Update IsActive & Job status Id & Credit utlize section as per Hr type-------

		IF(@IsActive = 1)
		BEGIN
			SET @ActionName = IIF(@ActionType = 'Save', 'Create_HRDBrifing', 'Update_HRDBrifing')
		END
		ELSE
		BEGIN
			SET @ActionName = 'HR_SaveAsDraft'
		END





		EXEC sproc_HiringRequest_History_Insert @Action = @ActionName, @HiringRequest_ID = @HrId,
					@Talent_ID = 0, @Created_From = 0, @CreatedById = @LoginUserId,
					@ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '', @OnBoard_ID = 0, @SalesUserID = 0,
					@OldSalesUserID = 0, @AppActionDoneBy = @App_ActionDoneBy ,@SalesHistoryID = @HiringRequestHisotoryID,@SalesDetailHistoryID = @HRDetailHisotoryID 	

		--Insert history maintain
		--EXEC SPROC_Gen_SalesHiringRequest_History @HRID = @HrId, @AppActionDoneBy = @App_ActionDoneBy
		--EXEC SPROC_Gen_SalesHiringRequest_Details_History @HRID = @HrId, @AppActionDoneBy = @App_ActionDoneBy
		--EXEC SPROC_Gen_Company_History @CompanyID = @CompanyID

		--SET @HRDetailID = (SELECT HD.ID FROM gen_SalesHiringRequest_Details HD WITH (NOLOCK)
		--	WHERE HD.HiringRequest_ID = @HrId)

		--Special Edit by COE team
		IF ISNULL(@AllowSpecialEdit, 0) = 1 AND ISNULL(@HrId,0) > 0 AND ISNULL(@HRDetailID,0) > 0
		BEGIN
			EXEC Sproc_Update_HRDetails_From_Special_User @HR_ID = @HrId, @HRDetail_ID = @HRDetailID, @LoggedInUserID = @LoginUserId

			EXEC sproc_HiringRequest_History_Insert @Action = 'EditHR_COETeam', @HiringRequest_ID = @HrId,
					@Talent_ID = 0, @Created_From = 0,@CreatedById = @LoginUserId, @ContactTalentPriority_ID = 0, @InterviewMaster_ID = 0,
					@HR_AcceptedDateTime = '', @OnBoard_ID = 0,@IsManagedByClient = 0 ,@IsManagedByTalent = 0, @SalesUserID = 0,
					@OldSalesUserID = 0, @AppActionDoneBy = @App_ActionDoneBy, @SalesHistoryID = @HiringRequestHisotoryID, @SalesDetailHistoryID = @HRDetailHisotoryID 	
		END
	END 
	
END
