ALTER PROCEDURE [dbo].[Sproc_Insert_Update_AllSteps_ClientPortal]
	@GPTJDID				Bigint = 0,
	@GUID					NVARCHAR(50) = null,
	@RoleName				Nvarchar(100) = null,
	@ContactId				bigint = 0,
	@ExperienceYears		int = 0,
	@IsFresherAllowed		BIT = 0,
	@NoOfTalents			int = 0,
	@IsHiringLimited		Nvarchar(50) = null,
	@Availability			Nvarchar(50) = null,
	@ContractDuration		int	= 0,
	@IPAddress				nvarchar(50) = null,
	@CreatedByID			bigint = 0,
	@ModifiedByID			bigint = 0,
	@ProcessType			nvarchar(50) = null,
	@IsActive				bit = 0,
	@WorkingModeID			int = 0,
	@City					nvarchar(500) = null,
	@Country				nvarchar(500) = null,
	@EmploymentType			nvarchar(200) = null,
	@HowSoon				nvarchar(200) = null,
	@AchievementID			bigint = 0,
	@Timezone_Preference_ID	int = 0,
	@TimeZone_FromTime		nvarchar(100) = null,
	@TimeZone_EndTime		nvarchar(100) = null,
	@IsHrTypeDP				bit = 0,
	@TimeZoneID				int = 0,
	@HiringTypePricingId	int = 0,
	@SpecificMonth			int = 0,
	@PayrollTypeId			int = 0,
	@PayrollPartnerName		nvarchar(MAX) = null,
	@RolesResponsibilities	nvarchar(MAX) = null,
	@Requirements			nvarchar(MAX) = null,
	@JDFileName				nvarchar(MAX) = null,
	@Skills					nvarchar(MAX) = null,
	@AllSkills				nvarchar(MAX) = null,
	@Currency				nvarchar(20) = null,
	@BudgetFrom				decimal(18,2) = 0,
	@BudgetTo				decimal(18,2) = 0,
	@BudgetType				int = 0,
	@Step					int = 0,
	@JobDescription			nvarchar(MAX) = null,
	@AnotherCompanyId		int = 0,
	@IsConfidentialBudget	BIT = NULL,
    @JobRoleDescription     Nvarchar(MAX) = null,
    @Whatweoffer            Nvarchar(MAX) = null,	
	@CompensationOption     Nvarchar(MAX) = null,
	@IndustryType           Nvarchar(MAX) = null,
	@HasPeopleManagementExp BIT = null,
	@Prerequisites			Nvarchar(MAX) = null,
	@IsVitalInfoUpdate		BIT = 0,
	@StringSeparator        Nvarchar(100) = null,
	@IsDraft                BIT = 0,
	@PricingPercentage		DECIMAL(18,2) = null,
	@CalculatedUplersFees   NVARCHAR(600) = null,
	@TalentPayout           NVARCHAR(600) = null,
	@ShowHRPOCDetailsToTalents BIT = NULL,
	@JobLocation			NVARCHAR(500) = null,
	@FrequencyOfficeVisitID	Int = 0,
	@IsOpenToWorkNearByCities bit = 0,
	@NearByCities			Nvarchar(Max) = null,
	@JobTypeID				INT = NULL,
	@ATS_JobLocationID		BIGINT= null,
    @ATS_NearByCities		Nvarchar(MAX) = null,
	@CountryTracking		NVARCHAR(250) = 'India'

AS
BEGIN

	SET  @JobDescription = N'' + @JobDescription

	DECLARE @CompanyID BIGINT, @CompanyTypeID INT, @DefaultHowSoon INT, @SSOUserID BIGINT = 0, @IsTransparentPricing BIT = NULL

	SET @SSOUserID = @CreatedByID

	-- Set action performed by user based on SSO login UTS-7223
	SET @CreatedByID =  (SELECT IIF(ISNULL(@CreatedByID,0) = 0, @ContactId, @CreatedByID))	
	SET @ModifiedByID = (SELECT IIF(ISNULL(@ModifiedByID,0) = 0, @ContactId, @CreatedByID))
	
	SELECT TOP 1 @CompanyID = CompanyId FROM gen_Contact WITH(NOLOCK) WHERE ID = @ContactId
	SELECT TOP 1 
				@CompanyTypeID = CompanyTypeId,
				@IsTransparentPricing = IsTransparentPricing,
				@HiringTypePricingId = CASE WHEN IsTransparentPricing = 1 THEN @HiringTypePricingId ELSE HiringTypePricingId END
	FROM gen_Company WITH(NOLOCK) WHERE ID = @CompanyID
	
	SET @NoOfTalents = 1	

	-- If hybrid company then
	IF(ISNULL(@AnotherCompanyId, 0) = 0)
		SET @AnotherCompanyId = @CompanyTypeID
	
	SET @HowSoon = IIF(ISNULL(@HowSoon, '') = '', '30 Days', @HowSoon)

	-- If Hiring is on Uplers payload with 35% then it is by default full-time
	IF(@HiringTypePricingId = 2)
	BEGIN
		SET @EmploymentType = ' Full Time'
	END

	IF(@ProcessType IS NULL)
	BEGIN
		SET @ProcessType = 'Manual'
	END

	select @PricingPercentage
	IF(@AnotherCompanyID = 1 AND ISNULL(@PricingPercentage,0) = 0)
	BEGIN
		SELECT @PricingPercentage = CASE WHEN @HiringTypePricingId = 3 AND 
									(LOWER(@CountryTracking) = LOWER('India') OR LOWER(@CountryTracking) = LOWER('IN')) 
									THEN 7.5 ELSE PricingPercent END
									FROM prg_HiringType_Pricing WHERE ID = @HiringTypePricingId
	END
	--select @PricingPercentage

	IF(@AnotherCompanyID = 2)
	BEGIN
		SELECT @EmploymentType = JobType  FROM prg_JobType WHERE ID = @JobTypeID
	END


	IF NOT EXISTS(Select 1 from gen_RoleAndHiringType_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId)
					BEGIN
							INSERT 
							INTO	gen_RoleAndHiringType_ClientPortal(GPTJDID,GUID,RoleName,ContactId,ExperienceYears,IsFresherAllowed,NoOfTalents,IPAddress,CreatedByID,
																		CreatedDateTime,ProcessType,IsActive,City,Country, IsHiringLimited, AnotherCompanyId,ShowHRPOCDetailsToTalents,
																		JobLocation,FrequencyOfficeVisitID,IsOpenToWorkNearByCities,NearByCities,ATS_JobLocationID,ATS_NearByCities)
							VALUES	(@GPTJDID,@GUID,@RoleName,@ContactId,@ExperienceYears,@IsFresherAllowed,@NoOfTalents,@IPAddress,@CreatedByID,Getdate(),@ProcessType,@IsActive,@City,@Country, @IsHiringLimited,
										@AnotherCompanyId,@ShowHRPOCDetailsToTalents,@JobLocation,@FrequencyOfficeVisitID,@IsOpenToWorkNearByCities,@NearByCities,@ATS_JobLocationID,@ATS_NearByCities)
					END	
					ELSE
					BEGIN
						 Select TOP 1 @ProcessType = processType 
						 from gen_RoleAndHiringType_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId
					END
	IF NOT EXISTS(Select 1 from gen_JobPost_Employment_Details_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId)
					BEGIN
							INSERT 
							INTO	gen_JobPost_Employment_Details_ClientPortal(GPTJDID,GUID,ContactId,IPAddress,CreatedByID,
																		CreatedDateTime,ProcessType,IsActive,EmploymentType,HowSoon,JobTypeID)
							VALUES	(@GPTJDID,@GUID,@ContactId,@IPAddress,@CreatedByID,Getdate(),@ProcessType,@IsActive,@EmploymentType,@HowSoon,@JobTypeID)
					END
	IF NOT EXISTS(Select 1 from gen_TransparentPricingModel_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId)
					BEGIN
							INSERT 
							INTO	gen_TransparentPricingModel_ClientPortal(GPTJDID,GUID,ContactId,CreatedByID,
																		CreatedByDateTime,HiringTypePricingId,SpecificMonth,PayrollTypeId,PayrollPartnerName,ISTransparent,PricingPercentage)
							VALUES	(@GPTJDID,@GUID,@ContactId,@CreatedByID,Getdate(),@HiringTypePricingId,@SpecificMonth,@PayrollTypeId,@PayrollPartnerName,@IsTransparentPricing,@PricingPercentage)
					END
	IF NOT EXISTS(Select 1 from gen_SkillAndBudget_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId)
					BEGIN
							INSERT 
							INTO	gen_SkillAndBudget_ClientPortal(GPTJDID,GUID,ContactId,IPAddress,CreatedByID,
																		CreatedDateTime,ProcessType,IsActive,Skills,AllSkills,Currency,BudgetFrom,BudgetTo,BudgetType,IsConfidentialBudget)
							VALUES	(@GPTJDID,@GUID,@ContactId,@IPAddress,@CreatedByID,Getdate(),@ProcessType,@IsActive,@Skills,@AllSkills,@Currency,@BudgetFrom,@BudgetTo,@BudgetType,@IsConfidentialBudget)
					END
	IF NOT EXISTS(Select 1 from gen_JobPost_Roles_Responsibilities_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId)
					BEGIN
							INSERT 
							INTO	gen_JobPost_Roles_Responsibilities_ClientPortal(GPTJDID,GUID,ContactId,IPAddress,CreatedByID,
																		CreatedDateTime,ProcessType,IsActive,RolesResponsibilities,Requirements, JDFileName, JobDescription,JobRoleDescription,Whatweoffer)
							VALUES	(@GPTJDID,@GUID,@ContactId,@IPAddress,@CreatedByID,Getdate(),@ProcessType,@IsActive,@RolesResponsibilities,@Requirements, @JDFileName, @JobDescription,@JobRoleDescription,@Whatweoffer)
					END	

	If(@IsDraft = 1)
	BEGIN
	     SET @Step = @Step - 1
	END

	IF NOT EXISTS(Select 1 from Gen_Client_Jobs WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId)
			BEGIN
						INSERT INTO Gen_Client_Jobs
						(
							GUID,ContactID,CurrentStepID,NextStepID,CreatedDateTime,IsActive
						)
						VALUES
						(
							@GUID, @ContactId, @Step, @Step+1, GETDATE(),1
						)
			END
			ELSE
			BEGIN
				UPDATE Gen_Client_Jobs SET 
				CurrentStepID = ISNULL(@Step, CurrentStepID),
				NextStepID = CASE WHEN ISNULL(@Step, '') = '' THEN NextStepID ELSE @Step+1 END,
				LastModifiedByDateTime = GETDATE()
				WHERE GUID = @GUID and ContactId = @ContactId
			END

	 -- UTS-7300: If vital info flag is true then perform the actions 
	 IF(@IsVitalInfoUpdate = 1)
	 BEGIN
		IF NOT EXISTS(Select 1 from gen_JobPost_VitalInfo_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId)
			BEGIN
				INSERT INTO gen_JobPost_VitalInfo_ClientPortal
				(
					GUID,ContactID,CompensationOption,IndustryType,HasPeopleManagementExp,Prerequisites,StringSeparator,CreatedbyId,CreatedbyDateTime,IsActive
				)
				VALUES
				(
					@GUID,@ContactId,@CompensationOption,@IndustryType,@HasPeopleManagementExp,@Prerequisites,@StringSeparator, @CreatedByID, GETDATE(),@IsActive
				)
			END
			ELSE
			BEGIN
				UPDATE gen_JobPost_VitalInfo_ClientPortal SET 
				CompensationOption = ISNULL(@CompensationOption, CompensationOption),
				IndustryType = ISNULL(@IndustryType, IndustryType),
				HasPeopleManagementExp=ISNULL(@HasPeopleManagementExp, HasPeopleManagementExp),
				Prerequisites = ISNULL(@Prerequisites, Prerequisites),
				StringSeparator = ISNULL(@StringSeparator,StringSeparator),
				ModifiedbyId = ISNULL(@ModifiedByID,ModifiedByID),
				ModifiedbyDateTime = GETDATE()
				WHERE GUID = @GUID and ContactId = @ContactId
			END
	 END
	 
	 --IF(@ProcessType = 'Text_Parsing')
	 --BEGIN
		--SELECT TOP 1 @JobDescription = JobDescription FROM gen_JobPost_Roles_Responsibilities_ClientPortal 
		--WHERE GUID = @GUID and ContactId = @ContactId
	 --END	 

	 --select @SpecificMonth
		
	UPDATE  gen_RoleAndHiringType_ClientPortal
		SET		GPTJDID = Isnull(@GPTJDID,GPTJDID),
				RoleName = ISNULL(@RoleName,RoleName),
				ExperienceYears = Isnull(@ExperienceYears,ExperienceYears),
				IsFresherAllowed = ISNULL(@IsFresherAllowed,IsFresherAllowed),
				NoOfTalents = Isnull(@NoOfTalents,NoOfTalents),
				IPAddress = ISnull(@IPAddress,IPAddress),
				ModifiedByID = ISNULL(@ModifiedByID,ModifiedByID),
				ModifiedByDateTime = GETDATE(),
				City = Isnull(@City,City),
				Country = Isnull(@Country,Country),
				ProcessType = Isnull(@ProcessType,ProcessType),
				WorkingModeID = Isnull(@WorkingModeID,WorkingModeID),
				ContractDuration = ISNULL(@SpecificMonth, ContractDuration),
				IsHiringLimited = ISNULL(@IsHiringLimited, IsHiringLimited),
				ShowHRPOCDetailsToTalents = ISNULL(@ShowHRPOCDetailsToTalents, ShowHRPOCDetailsToTalents),
				JobLocation = Isnull(@JobLocation,JobLocation),
				FrequencyOfficeVisitID = ISNULL(@FrequencyOfficeVisitID,FrequencyOfficeVisitID),
				IsOpenToWorkNearByCities = Isnull(@IsOpenToWorkNearByCities,IsOpenToWorkNearByCities),
				NearByCities = Isnull(@NearByCities,NearByCities),
				ATS_JobLocationID = ISNULL(ATS_JobLocationID,ATS_JobLocationID),
				ATS_NearByCities = ISNULL(@ATS_NearByCities,ATS_NearByCities)
		WHERE	GUID = @GUID and ContactId = @ContactId

	UPDATE  gen_JobPost_Employment_Details_ClientPortal
		SET		GPTJDID = Isnull(@GPTJDID,GPTJDID),
				EmploymentType = Isnull(@EmploymentType,EmploymentType),
				ProcessType = Isnull(@ProcessType,ProcessType),
				ModifiedByID = ISNULL(@ModifiedByID,ModifiedByID),
				ModifiedByDateTime = GETDATE(),
				HowSoon = IIF(@Step = 4, Isnull(@HowSoon,HowSoon), HowSoon),
				--HowSoon = Isnull(@HowSoon,HowSoon),
				Timezone_Preference_ID = Isnull(@Timezone_Preference_ID,Timezone_Preference_ID),
				TimeZone_FromTime = Isnull(@TimeZone_FromTime,TimeZone_FromTime),
				TimeZone_EndTime = Isnull(@TimeZone_EndTime,TimeZone_EndTime),
				JobTypeID = ISNULL(@JobTypeID, JobTypeID)
		WHERE	GUID = @GUID and ContactId = @ContactId

	--select	@ContactId

	UPDATE  gen_TransparentPricingModel_ClientPortal
		SET		GPTJDID = Isnull(@GPTJDID,GPTJDID),
				HiringTypePricingId = Isnull(@HiringTypePricingId,HiringTypePricingId),
				SpecificMonth = Isnull(@SpecificMonth,SpecificMonth),
				PayrollTypeId = ISNULL(@PayrollTypeId,PayrollTypeId),
				PayrollPartnerName = ISNULL(@PayrollPartnerName,PayrollPartnerName),
				PricingPercentage = ISNULL(@PricingPercentage,PricingPercentage)
		WHERE	GUID = @GUID and ContactId = @ContactId

	UPDATE  gen_SkillAndBudget_ClientPortal
		SET		GPTJDID = Isnull(@GPTJDID,GPTJDID),
				ModifiedByID = ISNULL(@ModifiedByID,ModifiedByID),
				ModifiedByDateTime = GETDATE(),
				ProcessType = Isnull(@ProcessType,ProcessType),
				Skills = Isnull(@Skills,Skills),
				AllSkills = Isnull(@AllSkills,AllSkills),
				Currency = Isnull(@Currency,Currency),
				BudgetFrom = Isnull(@BudgetFrom,BudgetFrom),
				BudgetTo = ISNULL(@BudgetTo,BudgetTo),
				BudgetType = Isnull(@BudgetType,BudgetType),
				IsConfidentialBudget = ISNULL(@IsConfidentialBudget,IsConfidentialBudget)
				--CalculatedUplersFees = ISNULL(@CalculatedUplersFees, CalculatedUplersFees),
				--TalentPayout = ISNULL(@TalentPayout,TalentPayout) 
		WHERE	GUID = @GUID and ContactId = @ContactId

	UPDATE  gen_JobPost_Roles_Responsibilities_ClientPortal
		SET		GPTJDID = Isnull(@GPTJDID,GPTJDID),
				ModifiedByID = ISNULL(@ModifiedByID,ModifiedByID),
				ModifiedByDateTime = GETDATE(),
				ProcessType = Isnull(@ProcessType,ProcessType),
				RolesResponsibilities = Isnull(@RolesResponsibilities,RolesResponsibilities),
				Requirements = ISNULL(@Requirements,Requirements),
				JDFileName = ISNULL(@JDFileName, JDFileName),
				JobDescription = ISNULL(@JobDescription, JobDescription),
				JobRoleDescription = Isnull(@JobRoleDescription,JobRoleDescription),
				Whatweoffer = Isnull(@Whatweoffer,Whatweoffer)
		WHERE	GUID = @GUID and ContactId = @ContactId


		SELECT 
				@RoleName = RoleName , @ExperienceYears =  ExperienceYears, @IsFresherAllowed = IsFresherAllowed,
				@NoOfTalents = NoOfTalents, @City = City, @Country = Country, @ProcessType = ProcessType,
				@WorkingModeID = WorkingModeID, @ContractDuration = ContractDuration,
				@IsHiringLimited = IsHiringLimited,
				@ShowHRPOCDetailsToTalents = ShowHRPOCDetailsToTalents
				FROM gen_RoleAndHiringType_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId

		SELECT 
				@EmploymentType = EmploymentType , @HowSoon =  HowSoon, @Timezone_Preference_ID = Timezone_Preference_ID,
				@TimeZone_FromTime = TimeZone_FromTime, @TimeZone_EndTime = TimeZone_EndTime, @JobTypeID = JobTypeID
				FROM gen_JobPost_Employment_Details_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId

		SELECT 
				@HiringTypePricingId = HiringTypePricingId , @SpecificMonth =  SpecificMonth, @PayrollTypeId = PayrollTypeId,
				@PayrollPartnerName = PayrollPartnerName,
				@PricingPercentage = PricingPercentage
				FROM gen_TransparentPricingModel_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId

		SELECT 
				@Skills = Skills , @AllSkills =  AllSkills,
				@Currency = Currency, @BudgetFrom = BudgetFrom, @BudgetTo = BudgetTo, @BudgetType = BudgetType, 
				@IsConfidentialBudget = IsConfidentialBudget
				--@CalculatedUplersFees = CalculatedUplersFees,
				--@TalentPayout = TalentPayout
				FROM gen_SkillAndBudget_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId

		SELECT 
				@RolesResponsibilities = RolesResponsibilities , @Requirements =  Requirements, @JDFileName = JDFileName,
				@JobDescription = JobDescription, @JobRoleDescription = JobRoleDescription, @Whatweoffer = Whatweoffer				
				FROM gen_JobPost_Roles_Responsibilities_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId

	IF(ISNULL(@Currency,'') <> '')
	BEGIN
		DECLARE @CurrencyID INT 
		SELECT @CurrencyID = ID FROM prg_CurrencyExchangerate WITH(NOLOCK) WHERE LOWER(CurrencyCode) = LOWER(@Currency)

		IF(ISNULL(@CurrencyID,0) = 0)
		BEGIN
			SET @Currency = NULL
		END
	END

	-- Update the data in HR table also---
	EXEC [sp_UTS_PreviewJobPostUpdate_ClientPortal]
		@RoleName = @RoleName,
		@Currency = @Currency,
		@BudgetFrom = @BudgetFrom,
		@BudgetTo = @BudgetTo,
		@ContractDuration = @ContractDuration,
		@EmploymentType = @EmploymentType,
		@HowSoon = @HowSoon,
		@WorkingModeID = @WorkingModeID,
		@ExperienceYears = @ExperienceYears,
		@IsFresherAllowed = @IsFresherAllowed,
		@Requirement = @Requirements,
		@RolesandResponsibilities = @RolesResponsibilities,
		@Skills = @Skills,
		@AllSkills = @AllSkills,
		@NoOfTalents = 1,
		@CompanySize = NULL,
		@CompanyLocation = NULL,
		@Industry_Type = NULL,
		@AboutCompany = NULL,
		@Timezone_Preference_ID = @Timezone_Preference_ID,
		@TimeZone_FromTime = @TimeZone_FromTime,
		@TimeZone_EndTime = @TimeZone_EndTime,
		@TimezoneID = @TimeZoneID,
		@ContactID = @ContactId,
		@GUID = @GUID,
		@IsHiringLimited = @IsHiringLimited,
		@City = @City,
		@State = NULL,
		@Country = @Country,
		@PostalCode = NULL,
		@BudgetType = @BudgetType,
		@HiringTypePricingId = @HiringTypePricingId,
		@PayrollTypeId = @PayrollTypeId,
		@PayrollPartnerName  = @PayrollPartnerName,
		@JobDescription = @JobDescription,
		@IsConfidentialBudget = @IsConfidentialBudget,
		@GptJdId  = @GPTJDID,
		@JobRoleDescription = @JobRoleDescription,
		@Whatweoffer  = @Whatweoffer,
		@CountryTracking = @CountryTracking,
		@ShowHRPOCDetailsToTalents = @ShowHRPOCDetailsToTalents,
		@JobLocation			 = @JobLocation,
		@FrequencyOfficeVisitID	 = @FrequencyOfficeVisitID,
		@IsOpenToWorkNearByCities  = @IsOpenToWorkNearByCities,
		@NearByCities			 = @NearByCities,
		@JobTypeID = @JobTypeID,
		@ATS_JobLocationID = @ATS_JobLocationID,
		@ATS_NearByCities = @ATS_NearByCities

	-------If IsDraft true then create the HR in the HR table------------
	If(@IsDraft = 1)
	BEGIN
	 IF NOT EXISTS(SELECT 1 FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE GUID = @GUID AND ContactID = @ContactId)
		BEGIN
			 EXEC [Sproc_Final_Job_Posting_Save_ClientPortal]
			  @ClientID					 = @ContactId,
			  @GUID						 = @GUID,
			  @GPTJDID					 = 0,
			  @RoleName					 = @RoleName,
			  @ExperienceYears			= @ExperienceYears,
			  @IsFresherAllowed			= @IsFresherAllowed,
			  @NoOfTalents				= 1,
			  @IsHiringLimited			= @IsHiringLimited,
			  @Availability				= null,
			  @ContractDuration			= @ContractDuration,
			  @IPAddress				= null,
			  @Skills					 = @Skills,
			  @AllSkills				 = @AllSkills,
			  @Currency					  = @Currency,
			  @BudgetFrom				 = @BudgetFrom,
			  @BudgetTo					 = @BudgetTo,
			  @EmploymentType			 = @EmploymentType,
			  @HowSoon					 = @HowSoon,
			  @WorkingModeID			= @WorkingModeID,
			  @CompanyLocation			 = null,
			  @AchievementID			= 0,
			  @RolesResponsibilities	 = @RolesResponsibilities,
			  @Requirements				 = @Requirements,
			  @JDFileName				 = @JDFileName, 
			  @CookieID					= 0,
			  @CountryTracking	        = @CountryTracking,
			  @StateTracking		    = null,
			  @CityTracking		        = null,
			  @Browser			        = null,
			  @Device				    = null,
			  @JobDescription          = @JobDescription,
			  @IsActive					= 0,
			  @AnotherCompanyTypeID		= @AnotherCompanyId,
			  @IsConfidentialBudget		= @IsConfidentialBudget,
			  @CompanyLogo				= null,
			  @JobRoleDescription		= @JobRoleDescription,
			  @Whatweoffer				= @Whatweoffer,
			  @SSOUserId				= @SSOUserID,
			 @JobLocation				= @JobLocation,
			 @FrequencyOfficeVisitID	= @FrequencyOfficeVisitID,
			 @IsOpenToWorkNearByCities  = @IsOpenToWorkNearByCities,
			 @JobTypeID					= @JobTypeID,
			 @NearByCities				= @NearByCities,
			 @ATS_JobLocationID			= @ATS_JobLocationID,
			 @ATS_NearByCities			= @ATS_NearByCities
		END
    END

END