CREATE PROCEDURE [dbo].[Sproc_Delete_Company_YouTubeDetails]
	@CompanyId		  bigint = 0,
	@YoutubeID		  bigint = 0,
	@CreatedByID	  bigint = 0,
	@AppActionDoneBy  int = 0
AS
BEGIN

	IF EXISTS (SELECT TOP 1 ID FROM gen_Company_YouTubeLinks WITH(NOLOCK) WHERE ID = @YoutubeID AND CompanyID = @CompanyId)
	BEGIN
		DELETE FROM gen_Company_YouTubeLinks WHERE ID = @YoutubeID AND CompanyID = @CompanyId
	END
	
END