USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Update_HRStatus_BasedonQty]    Script Date: 01-08-2024 19:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Update_HRStatus_BasedonQty]
@ContactID				AS BIGINT =0,
@HR_ID					AS BIGINT =0,
@Talent_ID				AS BIGINT = 0,
@CreatedModifiedId		AS INT = NULL
AS
BEGIN

        DECLARE @NoofTalent as int =0
		DECLARE @TotalHiredTalents as int =0
		DECLARE @TotalextraTalents as int =0
		DECLARE @HR_StatusID as int =0
		DECLARE @HRTypeId as int =0

		SELECT @NoofTalent = isnull(NoofTalents,0),@HRTypeId = HRTypeId FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HR_ID AND ContactID = @ContactID

		SELECT @TotalHiredTalents = Count(1)  FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HR_ID AND ContactID = @ContactID AND TalentStatusID_BasedOnHR in (4,10)  and isnull(HRTalentTagID ,0) not in(1,2,3)
		SELECT @TotalextraTalents = Count(1)  FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HR_ID AND ContactID = @ContactID AND TalentStatusID_BasedOnHR not in(4,10)
		
		if(@NoofTalent > 0  AND @TotalHiredTalents >0 )
		BEGIN
			IF(@NoofTalent = @TotalHiredTalents)
			BEGIN
				update gen_SalesHiringRequest SET Status_ID = 3 ,LastModifiedDatetime = GETDATE() , JobStatusID = 2 , LastActivityDate = GETDATE() WHERE ID = @HR_ID AND ContactID = @ContactID
				update gen_SalesHiringRequest_Details SET RoleStatus_ID = 6 ,LastModifiedDatetime = GETDATE()   WHERE HiringRequest_ID = @HR_ID
			END
			
		END
		
		select @HR_StatusID = Status_ID from  gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HR_ID AND ContactID = @ContactID

		
		-- TalentStatusID_BasedOnHR =5 cancel the rest Talents if HR is completed
		IF(@TotalextraTalents>0 AND @HR_StatusID =3)
		BEGIN
			
			----Manage History code for Talent_Auto_Cancel_On_Hire added by jimit 20-07-2022
				Select	TalentPr.HiringRequestID,TalentID,TalentPr.ID as ContactTalentPriority_ID,H.SalesUserID as SalesUserID,TalentPr.TalentStatusID_BasedOnHR as TalentStatusID_BasedOnHR
				into	#TempCancelledHr
				From	gen_ContactTalentPriority TalentPr WITH(NOLOCK)	
						inner join gen_SalesHiringRequest H WITH(NOLOCK) ON H.ID = TalentPr.HiringRequestID
						inner join prg_HiringRequestStatus HS WITH(NOLOCK) ON HS.ID = H.Status_ID
				where	TalentPr.HiringRequestID = @HR_ID and TalentPr.TalentID <> @Talent_ID --AND TalentPr.TalentStatusID_BasedOnHR <> 4
						AND TalentPr.TalentStatusID_BasedOnHR not in (4,5,7,8,10)


				--Update Interview Status as cancel while Talent status will be cancel
				update	IntM 
							SET		IntM.InterviewStatus_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join #TempCancelledHr  T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	IntM.InterviewStatus_ID IN (1,4,5)  


							update	SIntM 
							SET		SIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_ShortlistedTalent_InterviewDetails SIntM with(nolock) ON IntM.ID = SIntM.InterviewMaster_ID
									inner join #TempCancelledHr  T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	SIntM.Status_ID IN (1,4,5) 

							update	SelectedIntM 
							SET		SelectedIntM.Status_ID = 3
							from	gen_InterviewSlotsMaster IntM with(nolock)
									inner join gen_TalentSelected_InterviewDetails SelectedIntM with(nolock) ON IntM.ID = SelectedIntM.InterviewMaster_ID
									inner join #TempCancelledHr  T ON T.HiringRequestID = IntM.HiringRequest_ID
							WHERE	SelectedIntM.Status_ID IN (1,4,5) 
				--END
				
				----Comment code by Himani UTS-7384
			--	Insert into gen_History(Action_ID,HiringRequest_ID,Talent_ID,ContactTalentPriority_ID,InterviewMaster_ID,OnBoardID,Talent_Cost,HR_Cost,HR_AcceptedDateTime,HR_Percentage,History_From,CreatedByID,
			--							CreatedByDatetime,ModifiedByID,ModifiedByDatetime,SLA_DueDate,IsManagedByClient,IsManagedByTalent,IsActive,SalesUserID,TalentStatusID_BasedOnHR,AppActionDoneBy)
			--	Select  61,HiringRequestID,TalentID,ContactTalentPriority_ID,0,0,0,0,0,0,0,@CreatedModifiedId,GETDATE(),0,null,null,0,0,0,SalesUserID,TalentStatusID_BasedOnHR,1
			--	from    #TempCancelledHr 
					
			--update CTP SET CTP.TalentStatusID_BasedOnHR = 5 ,
			--				RejectReasonID = -1,
			--				OtherRejectReason = 'Talent Auto Cancelled because of Another Talent is hired.'   
			--From gen_ContactTalentPriority CTP 
			--inner join  #TempCancelledHr TC ON CTP.ID = TC.ContactTalentPriority_ID
			--WHERE CTP.HiringRequestID = @HR_ID AND CTP.TalentStatusID_BasedOnHR not in (4,5,7,8,10)

					

			drop table #TempCancelledHr

			----Comment code by Himani UTS-7384
			--update T SET T.TalentStatusID_AfterClientSelection = 5 ,T.LastModifiedDatetime = GETDATE() FROM gen_Talent T inner join gen_ContactTalentPriority CTP WITH(NOLOCK) ON T.ID = CTP.TalentID  
			--WHERE  CTP.HiringRequestID = @HR_ID AND CTP.ContactID = @ContactID --AND CTP.TalentStatusID_BasedOnHR <> 4
			--		AND CTP.TalentStatusID_BasedOnHR not in (4,5,7,8,10) 

			--update gen_ContactTalentPriority SET TalentStatusID_BasedOnHR = 5 ,
			--									 RejectReasonID = -1,
			--									 OtherRejectReason = 'Talent Auto Cancelled because of Another Talent is hired.'   
			--WHERE HiringRequestID = @HR_ID AND ContactID = @ContactID --AND TalentStatusID_BasedOnHR <> 4
			--		AND TalentStatusID_BasedOnHR not in (4,5,7,8,10)

					
			--ended

		END

		BEGIN ---Payal (06-11-23) Remove HR from priority for Completed, Lost & Cancel HR
				Declare @HR_SalesUserID as int =0
			
				Select @HR_SalesUserID =  SalesUserID from gen_SalesHiringRequest with(nolock) where ID = @HR_ID

				if(@HR_StatusID <> 1 AND @HR_StatusID  <> 2)
				begin
					exec sproc_Insert_HiringRequest_Priority_Revise_Flow_WithoutReturn @LoggedInUserId= @CreatedModifiedId, @SalesUserID = @HR_SalesUserID, @HiringRequestID= @HR_ID, @IsPriority = 0
				
				
					update SP SET IsPriority =0 from gen_SalesHiringRequest_Priority SP inner join gen_SalesHiringRequest H with(nolock) ON SP.HiringRequestID = H.ID
															where H.JobStatusId = 2 --H.Status_ID in(3,4,5,6)
														AND IsPriority =1 AND H.ID = @HR_ID
				end

			END

END