USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Accept_HR]    Script Date: 01-08-2024 15:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Accept_HR]    
@HRID bigint,   
@AcceptValue int,   
@LoginUserId int,   
@Reason nvarchar(500)
as        
begin         
  DECLARE @NoofTalents BIGINT = 0;
  DECLARE @HR_AcceptedDateTime datetime = getdate();

  DECLARE @IsHRAccepted as int = 0


				select	@NoofTalents=NoofTalents,@HR_AcceptedDateTime=AcceptedByDateTime 
				from	gen_SalesHiringRequest with(nolock) 
				where	ID=@HRID 

				select @IsHRAccepted = Count(1)
				from   gen_History H WITH(NOLOCK)
				WHERE  HiringRequest_ID = @HRID AND H.Action_ID = 17
				
				 if  @IsHRAccepted = 1
					begin
							select ID from gen_History H WITH(NOLOCK)
							WHERE  HiringRequest_ID = @HRID AND H.Action_ID = 17 
							Return
					end
					
					update gen_SalesHiringRequest
					set IsAccepted=@AcceptValue,AcceptedById=@LoginUserId,AcceptedByDateTime=GETDATE(),NotAcceptedHrreason=@Reason,
						 TR_Accepted=@NoofTalents
					where ID=@HRID
				
					insert into gen_SalesHR_TRAccepted_Details (HiringRequest_ID,TR_Accepted,CreatedByID,CreatedByDateTime)
						  values (@HRID,@NoofTalents,@LoginUserId,GETDATE())

				  --if(@AcceptValue!=2)
					 -- begin
						--  update gen_SalesHiringRequest
						--  set TR_Accepted=@NoofTalents,LastModifiedById=@LoginUserId,LastModifiedDatetime=GETDATE()
						--  where ID=@HRID

						--  insert into gen_SalesHR_TRAccepted_Details (HiringRequest_ID,TR_Accepted,CreatedByID,CreatedByDateTime)
						--  values (@HRID,@NoofTalents,@LoginUserId,GETDATE())
					 -- end

				  if(@AcceptValue=1)
					  begin
							exec sproc_HiringRequest_History_Insert 
								@Action='HR_Acceptance',@HiringRequest_ID=@HRID,@Talent_ID=0,
								@Created_From=0,@CreatedById=@LoginUserId,@ContactTalentPriority_ID=0,
								@InterviewMaster_ID=0,@HR_AcceptedDateTime=@HR_AcceptedDateTime,
								@OnBoard_ID=0,@IsManagedByClient=0,@IsManagedByTalent=0,
								@SalesUserID=0,@OldSalesUserID=0,@AppActionDoneBy=3
						
							exec sproc_HiringRequest_History_Insert 
								@Action='TR_Accepted',@HiringRequest_ID=@HRID,@Talent_ID=0,
								@Created_From=0,@CreatedById=@LoginUserId,@ContactTalentPriority_ID=0,
								@InterviewMaster_ID=0,@HR_AcceptedDateTime=@HR_AcceptedDateTime,
								@OnBoard_ID=0,@IsManagedByClient=0,@IsManagedByTalent=0,
								@SalesUserID=0,@OldSalesUserID=0,@AppActionDoneBy=3

					  end

				  if(@AcceptValue=2)
					begin
						  exec sproc_HiringRequest_History_Insert 
								@Action='WaitFor_More_Info',@HiringRequest_ID=@HRID,@Talent_ID=0,
								@Created_From=0,@CreatedById=@LoginUserId,@ContactTalentPriority_ID=0,
								@InterviewMaster_ID=0,@HR_AcceptedDateTime=@HR_AcceptedDateTime,
								@OnBoard_ID=0,@IsManagedByClient=0,@IsManagedByTalent=0,
								@SalesUserID=0,@OldSalesUserID=0,@AppActionDoneBy=3
					 end
end 
