ALTER PROCEDURE [dbo].[Sproc_HR_SkillTempSkill]
    @HR_ID			BIGINT   =  NULL,
	@CreatedByID	Bigint   = NULL, 
	@JDSkills		nvarchar(max) = NULL,    -- must have skills 
	@JDAllSkills	nvarchar(max) = NULL   -- Good to have
	
AS              
BEGIN              
                 
 DECLARE @JDId bigint = 0 
 DECLARE @GoodToHaveSkills NVARCHAR(MAX) = @JDAllSkills 
 DECLARE @MustHaveSkills NVARCHAR(MAX) = @JDSkills

 --SELECT @JDSkills AS '@JDSkills'
 --SELECT @JDAllSkills AS '@JDAllSkills'

 SET @JDSkills = ISNULL(@JDSkills,'') + IIF(ISNULL(@JDAllSkills,'') <> '',',' + ISNULL(@JDAllSkills,''),'')
 SET @JDAllSkills = @JDSkills

 
 --SELECT @JDSkills AS '@JDSkills'
 PRINT @MustHaveSkills + '@MustHaveSkills'
 PRINT @GoodToHaveSkills + '@GoodToHaveSkills'

 IF(@HR_ID > 0)
 BEGIN
    print '@HR_ID'+ cast(@HR_ID as nvarchar(50))

	DECLARE @TempSkill TABLE ( JDTempSkill nvarchar(500),IsSaved INT ,Proficiency varchar(50),SkillID bigint, TempSkillID varchar(50))        
    DECLARE @TempSkill_InsertedIDs TABLE ( NEXT_VALUE Bigint )  

	 IF(ISNULL(@GoodToHaveSkills,'') <> '')
	 BEGIN
		insert into @TempSkill(JDTempSkill,IsSaved,Proficiency ) select rtrim(ltrim(val)) AS JDTempSkill ,0, 'Basic' from  f_split(@GoodToHaveSkills,',')      
	 END

	  IF(ISNULL(@MustHaveSkills,'') <> '')
	  BEGIN
			insert into @TempSkill(JDTempSkill,IsSaved,Proficiency ) select rtrim(ltrim(val)) AS JDTempSkill ,0, 'Strong' from  f_split(@MustHaveSkills,',')  
	  END

	select * from @TempSkill

	-- Master Table	 
	Update T SET T.SkillID = MS.ID, T.IsSaved=1 from  @TempSkill AS T
	inner join  prg_Skills MS with(nolock) ON rtrim(ltrim(lower(MS.Skill))) = rtrim(ltrim(lower(JDTempSkill)))    

	-- Temp Table	 
	Update T SET T.TempSkillID = TS.TempSkill_ID, T.IsSaved =1 from  @TempSkill AS T
	inner join  prg_TempSkills TS with(nolock) ON rtrim(ltrim(lower(TS.TempSkill))) = rtrim(ltrim(lower(JDTempSkill)))
  
        
   print 'after updating skill IDs '         
   select * from @TempSkill 



   INSERT INTO prg_TempSkills              
   (TempSkill,CreatedByID,CreatedByDateTime)          
   OUTPUT INSERTED.ID INTO @TempSkill_InsertedIDs            
        
   Select               
   JDTempSkill                 
   ,@CreatedByID              
   ,GETDATE()              
   from @TempSkill T where isnull(IsSaved,0) = 0 
   
      
   update T SET  TempSkill_ID ='O_'+ cast(ID as nvarchar(50))         
   From prg_TempSkills T WITH(UPDLOCK) inner join @TempSkill_InsertedIDs TID ON  T.ID = TID.NEXT_VALUE        
   where TempSkill_ID is null   

    print 'Latest inserted tempSkill IDs'   
	
	-- Temp Table	 
	Update T SET T.TempSkillID = TS.TempSkill_ID, T.IsSaved =1 from  @TempSkill AS T
	inner join  prg_TempSkills TS with(nolock) ON rtrim(ltrim(lower(TS.TempSkill))) = rtrim(ltrim(lower(JDTempSkill)))
	where isnull(IsSaved,0) = 0 
	
	   select * from @TempSkill 

	   BEGIN

		  IF(ISNULL(@GoodToHaveSkills,'') <> '')
		  BEGIN
				DELETE FROM gen_SalesHiringRequest_SkillDetails WHERE HiringRequest_ID = @HR_ID AND Proficiency = 'Basic'
		  END

		   IF(ISNULL(@MustHaveSkills,'') <> '')
		  BEGIN
				DELETE FROM gen_SalesHiringRequest_SkillDetails WHERE HiringRequest_ID = @HR_ID AND Proficiency = 'Strong'
		  END
	
		   -------Insert the data into gen_SalesHiringRequest_SkillDetails table----------------	  

		   INSERT INTO gen_SalesHiringRequest_SkillDetails
		   (
			HiringRequest_ID,
			Skill_ID,
			Proficiency,
			CreatedByID,
			CreatedByDatetime,
			TempSkill_ID
		   )
		   SELECT 
		   @HR_ID,
		   SkillID,	 
		   Proficiency,
		   @CreatedByID,
		   GETDATE(),
		   TempSkillID
		   FROM   @TempSkill 
		  

	END     


 END
     
              
END
