USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_Get_HRClose_Details_CLientPortal]    Script Date: 16-02-2024 16:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_Get_HRClose_Details_CLientPortal]
  @HR_ID			bigint = null
AS
BEGIN

			IF OBJECT_ID('tempdb..#HRCloseDetails') IS NOT NULL
				DROP TABLE #HRCloseDetails

			CREATE TABLE #HRCloseDetails
			(
				Title			Nvarchar(200),
				budget			Nvarchar(100),
				Yoe				int,
				TalentName		Nvarchar(200),
				TalentRole		Nvarchar(200),
				InterviewStatus	Nvarchar(200)
			)


			Insert into #HRCloseDetails
			select  Isnull(RequestForTalent,''),Isnull(HR.HR_Cost,''),
					ISnull(HR.yearofExp,0),
					Isnull(T.Name,''),
					Isnull(TR.TalentRole,''),
					Isnull(TSA.TalentStatus,'')
			from    gen_SalesHiringRequest H WITH(NOLOCK)  
					inner join gen_SalesHiringRequest_Details HR WITH(NOLOCK) ON H.ID = HR.HiringRequest_ID
					left join gen_ContactTalentPriority CTP WITH(NOLOCK) ON CTP.HiringRequestID = H.ID 
					left join gen_Talent T WITH(NOLOCK) ON T.ID = CTP.TalentID
					left join prg_TalentRoles TR WITH(NOLOCK) ON T.RoleID = TR.ID
					left join prg_TalentStatus_AfterClientSelection TSA WITH(NOLOCK) ON TSA.ID = T.TalentStatusID_AfterClientSelection
			WHERE   H.ID = @HR_ID


			select * from #HRCloseDetails

			DROP TABLE #HRCloseDetails
END