USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Update_CreditBalance_Daily_ClientPortal]    Script Date: 16-02-2024 16:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Update_CreditBalance_Daily_ClientPortal]
 
AS
BEGIN
			IF OBJECT_ID('tempdb..#TransactionHistory') Is NOT NULL
				DROP TABLE #TransactionHistory

			CREATE TABLE #TransactionHistory
			(
				CompanyID		bigint,
				CreditedDate	DateTime,
				BalanceType     Nvarchar(50)
			)

			INSERT INTO #TransactionHistory
			select  JC.CompanyID,JC.CreatedByDateTime,JC.BalanceType
			FROM    gen_JobPost_Subscription_History_ClientPortal JC WITH(NOLOCK)
			WHERE   BalanceType = 'Free'

			UPDATE  JC
			SET     JC.IsActive = 0
			FROM    gen_JobPost_Subscription_History_ClientPortal JC
			WHERE   CAST(DATEADD(M,3,JC.CreatedByDateTime) as DATE) <= CAST(GETDATE() AS DATE)
					AND BalanceType = 'Free'
			

			UPDATE C	
			SET    C.JPCreditBalance = 0
			FROM   gen_Company C
				   inner join #TransactionHistory TH ON TH.CompanyID = C.ID
			WHERE  CAST(DATEADD(M,3,TH.CreditedDate) as DATE) <= CAST(GETDATE() AS DATE)
					AND TH.BalanceType = 'Free'			

			--Update the Credit Balance of the company if purchased in Advance
		    DECLARE @CompanyID bigINT = 0; 

			DECLARE CUR1 CURSOR GLOBAL FOR SELECT ID from gen_Company WITH(NOLOCK) WHERE JPCreditBalance = 0 AND IsFromSignUp = 1 AND IsActive = 1 and CompanyTypeID = 2;
			OPEN CUR1
			FETCH NEXT FROM CUR1 INTO @CompanyID
			WHILE @@FETCH_STATUS = 0
			BEGIN
		
				EXEC Sproc_Update_CreditBalance_ClientPortal @CompanyID			

				FETCH NEXT FROM CUR1 INTO @CompanyID
			END

			CLOSE CUR1
			DEALLOCATE CUR1

			DROP TABLE #TransactionHistory
END		