ALTER PROCEDURE [dbo].[Sproc_UTS_Admin_OnboardingStatusUpdates] 
	@OnBoardID					BIGINT			=	NULL,
	@TalentID					BIGINT			=	NULL,
	@HiringRequestID			BIGINT			=	NULL,
	@ContactID					BIGINT			=	NULL,
	@CompanyID					BIGINT			=	NULL,
	@InvoiceRaiseTo				NVARCHAR(510)	=	NULL,
	@InvoiceRaiseToEmail		NVARCHAR(510)	=	NULL,
	@ContractStartDate			nvarchar(50)	=	NULL,
	@ContractEndDate			nvarchar(50)	=	NULL,
	@ClientSOWSignDate			nvarchar(50)	=	NULL,
	@TalentSOWSignDate			nvarchar(50)	=	NULL,
	@ClientMSASignDate			nvarchar(50)	=	NULL,
	@TalentMSASignDate			nvarchar(50)	=	NULL,
	@CreatedByID				BIGINT			=	NULL,
	@JoiningDate				nvarchar(50)	=   NULL,
	@IsIndefiniteHR				BIT				=	NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Contract_StartDate DateTime = null
	DECLARE @Contract_EndDate DateTime = null
	DECLARE @Client_SOWSignDate DateTime = null
	DECLARE @Talent_SOWSignDate DateTime = null
	DECLARE @Client_MSASignDate DateTime = null
	DECLARE @Talent_MSASignDate DateTime = null
	DECLARE @Joining_Date DateTime = null
	DEclare @IsOngoing BIT = @IsIndefiniteHR;

		If Isnull(@ContractStartDate,'') <> ''
			SET @Contract_StartDate = Convert(DATETIME, @ContractStartDate, 101)
			
		If Isnull(@ContractEndDate,'') <> ''
			SET @Contract_EndDate = Convert(DATETIME, @ContractEndDate, 101)

		IF Isnull(@ContractEndDate,'') = '' OR ISNULL(@ContractEndDate,'') like '%1900%'
		BEGIN
			SET @Contract_EndDate = NULL
			SET @IsOngoing = 1
		END

		If Isnull(@ClientSOWSignDate,'') <> ''
			SET @Client_SOWSignDate = Convert(DATETIME, @ClientSOWSignDate, 101)

		If Isnull(@TalentSOWSignDate,'') <> ''
			SET @Talent_SOWSignDate = Convert(DATETIME, @TalentSOWSignDate, 101)

		If Isnull(@ClientMSASignDate,'') <> ''
			SET @Client_MSASignDate = Convert(DATETIME, @ClientMSASignDate, 101)

		If Isnull(@JoiningDate,'') <> ''
			SET @Joining_Date = Convert(DATETIME, @JoiningDate, 101)

	DECLARE @ManagedTalentID BIGINT	= 0, @ISHRManaged BIT = 0

	IF @OnBoardID > 0 
	BEGIN

		IF EXISTS(SELECT TOP 1 ID FROM gen_OnBoardTalents  WITH(NOLOCK) WHERE ID = @OnBoardID)
		BEGIN

			--set ClientClosureDate based on legal(SOW) dates
			DECLARE @ClientClosureDate DATETIME = GETDATE()
			IF ISNULL(@Talent_SOWSignDate,'') <> '' AND ISNULL(@Client_SOWSignDate,'') <> ''
			BEGIN
				SET @ClientClosureDate = 
				CASE 
                    WHEN @Client_SOWSignDate > @Talent_SOWSignDate THEN @Client_SOWSignDate
                    ELSE @Talent_SOWSignDate
                END
			END

			UPDATE gen_OnBoardTalents
			SET 
			TalentLegal_StatusID = 2,
			TalentLegalDate = ISNULL(@Talent_SOWSignDate, GETDATE()),
			ClientLegal_StatusID = 2,
			ClientLegalDate = ISNULL(@Client_SOWSignDate, GETDATE()),
			ClientClosureDate = @ClientClosureDate,
			Joiningdate = @Joining_Date,
			LastModifiedByID = @CreatedByID,
			LastModifiedDatetime = GETDATE()
			WHERE ID = @OnBoardID

			SELECT 
			@ISHRManaged = ISNULL(IsHRManaged,0),
			@ManagedTalentID =   
			CASE	
				WHEN OBT.Talent_ID = 0 AND OBT.IsHRManaged = 1 THEN ISNULL(OBT.ManagedTalentID,0)
				ELSE ISNULL(OBT.Talent_ID,0) END
			FROM gen_OnBoardTalents OBT  WITH(NOLOCK) WHERE ID = @OnBoardID

			--update date in gen_OnBoardTalents_ReplacementDetails, if replacement done
			IF EXISTS (SELECT TOP 1 ID FROM gen_OnBoardTalents_ReplacementDetails WITH(NOLOCK) WHERE NewOnBoard_Id = @OnBoardID AND ReplaceTalentId = @ManagedTalentID)
			BEGIN
				DECLARE @ReplacementID BIGINT = NULL 
				SELECT TOP 1 @ReplacementID = ID FROM gen_OnBoardTalents_ReplacementDetails 
				WITH(NOLOCK) WHERE NewOnBoard_Id = @OnBoardID AND ReplaceTalentId = @ManagedTalentID
				ORDER BY ID DESC

				UPDATE gen_OnBoardTalents_ReplacementDetails
				SET 
				TalentAgreementDateForReplacement = GETDATE(),
				ClientAgreementDateForReplacement = GETDATE(),
				ReplaceTalentClosureDate = @ClientClosureDate
				WHERE ID = @ReplacementID
			END

			EXEC sproc_UTS_Update_LastWorkingDay_For_TalentinReplacement
				@NewOnBoard_Id	= @OnBoardID,
				@ReplaceTalentId = @TalentID,
				@HiringRequestID = @HiringRequestID,
				@ContactID = @ContactID,
				@LastWorkingDay = NULL

			----Update AM/NBD Based on AM Assignment done or not during Talent/Client Legal sign.
			--EXEC sproc_UTS_Update_SalesUserID_LegalOrKickoffDone @Onboard_ID = @OnBoardID
		END
		
		IF EXISTS(SELECT TOP 1 ID FROM gen_CompanyContractDetails WITH(NOLOCK) WHERE CompanyID = @CompanyID)
		BEGIN
				UPDATE gen_CompanyContractDetails
				SET 
				SigningAuthorityName = ISNULL(@InvoiceRaiseTo,SigningAuthorityName),
				SigningAuthorityEmail = ISNULL(@InvoiceRaiseToEmail,SigningAuthorityEmail),
				LastModifiedByID = @CreatedByID,
				LastModifiedDatetime = GETDATE()
				WHERE CompanyID = @CompanyID
		END

		--Indenitify the Contract Duration Month based on Contract Start Date AND Contract End Date
		DECLARE @ContractDuration INT = NULL 
		IF(ISNULL(@Contract_StartDate,'') <> '' AND ISNULL(@Contract_EndDate,'') <> '')
		BEGIN
			SET @ContractDuration = 
			(YEAR(@Contract_EndDate) - YEAR(@Contract_StartDate)) * 12 + 
			(MONTH(@Contract_EndDate) - MONTH(@Contract_StartDate)) - 
			CASE WHEN DAY(@Contract_EndDate) < DAY(@Contract_StartDate) THEN 1 ELSE 0 END
		END

		IF EXISTS(SELECT TOP 1 ID FROM gen_OnBoardClientContractDetails WITH(NOLOCK) WHERE OnBoardID = @OnBoardID)
		BEGIN

				UPDATE gen_OnBoardClientContractDetails
				SET 
				InvoiceRaiseTo = @InvoiceRaiseTo,
				InvoiceRaiseToEmail = @InvoiceRaiseToEmail,
				ContractDuration = @ContractDuration,
				TotalDurationInMonths = @ContractDuration,
				ContractStartDate = ISNULL(@Contract_StartDate, ContractStartDate),
				ContractEndDate = CASE WHEN @IsOngoing = 1 THEN NULL ELSE ISNULL(@Contract_EndDate, ContractEndDate) END,
				IsOngoing = @IsOngoing,
				LastModifiedByID = @CreatedByID,
				LastModifiedDatetime = GETDATE()
				WHERE OnBoardID = @OnBoardID
		END

		--Update the MSASignedDate.
		IF @ClientMSASignDate IS NOT NULL
		BEGIN
			IF EXISTS (SELECT TOP 1 ID FROM gen_CompanyLegalInfo WITH(NOLOCK) WHERE CompanyID = @CompanyID AND DocumentName = 'MSA Document')
			BEGIN
				UPDATE gen_CompanyLegalInfo
				SET 
				SignedDate = @ClientMSASignDate,
				LastModifiedByID  = @CreatedByID,
				LastModifiedDatetime = GETDATE()
				WHERE CompanyID = @CompanyID  AND DocumentName = 'MSA Document'
			END
			ELSE
			BEGIN
				INSERT INTO gen_CompanyLegalInfo
				(
					CompanyID, 
					DocumentType, 
					DocumentName, 
					SignedDate, 
					AgreementStatus, 
					LegalDescription, 
					CreatedByID, 
					CreatedByDatetime
				)
				VALUES
				(
					@CompanyID, 
					'MSA (Master Service Agreement)', 
					'MSA Document', 
					@Client_MSASignDate, 
					'Signed', 
					'This agreement will be signed between Uplers and client. We execute this agreement before sharing talent profile with client.',
					@CreatedByID, 
					GETDATE()
				)
			END
		END

		---Payal(22-07-2024) Payout insert 
		---Sproc_Insert_Onboarding_Summary

		--Need to update talent status as Hire
		IF EXISTS(SELECT TOP 1 ID FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HiringRequestID AND TalentID = @TalentID)
		BEGIN
				UPDATE gen_ContactTalentPriority
				SET 
				TalentStatusID_BasedOnHR = 10,
				HRTalentTagID = case when cast(@Joining_Date as date) = cast( GETDATE() as date) then 5 else null end,
				ModifiedByID = @CreatedByID,
				ModifiedByDatetime = GETDATE()
				WHERE HiringRequestID = @HiringRequestID AND TalentID = @TalentID

				-- Payal(23-07-2024) Onbaording & Payout table insert data
				Declare @Final_HR_Cost DECIMAL(18,2) =0
				Declare @ExchangeRate DECIMAL(18,2) =0				
				DECLARE @Currency nvarchar(200) =''

				SELECT @Final_HR_Cost = isnull(Final_HR_Cost,0) ,
					   @ExchangeRate = isnull(ExchangeRate,0),
					   @Currency = isnull(Talent_CurrencyCode,'USD')
				FROM gen_ContactTalentPriority WITH(NOLOCK) WHERE HiringRequestID = @HiringRequestID AND TalentID = @TalentID
				 
				exec Sproc_Insert_Onboarding_Summary  @OnboardId = @OnBoardID , @ExchangeRate = @ExchangeRate,@Currency = @Currency, @ZohoInvoiceNumber ='',@InvoiceAmount = @Final_HR_Cost
		END

		--IF ISNULL(@ISHRManaged,0) = 0
		--BEGIN
		--	EXEC sproc_Update_ShortlistedTalent_InterviewDetails_ISTTime
		--END

		--------------------------------------------------------------------------------------------------------------
		--History for Legal_Talent_Done
		EXEC sproc_HiringRequest_History_Insert  @Action = 'Legal_Talent_Done',
		@HiringRequest_ID = @HiringRequestID, @Talent_ID = @TalentID, @Created_From = 0, 
		@CreatedById = @CreatedByID, @ContactTalentPriority_ID = 0,	@InterviewMaster_ID = 0, @HR_AcceptedDateTime = '', 
		@OnBoard_ID = @OnBoardID, @IsManagedByClient = 0, @IsManagedByTalent = 0, 
		@SalesUserID = 0, @OldSalesUserID = 0, @AppActionDoneBy = 3, @SalesHistoryID = 0, @SalesDetailHistoryID = 0

		--History for Legal_Client_Done
		EXEC sproc_HiringRequest_History_Insert  @Action = 'Legal_Client_Done',
		@HiringRequest_ID = @HiringRequestID, @Talent_ID = @TalentID, @Created_From = 0, 
		@CreatedById = @CreatedByID, @ContactTalentPriority_ID = 0,	@InterviewMaster_ID = 0, @HR_AcceptedDateTime = '', 
		@OnBoard_ID = @OnBoardID, @IsManagedByClient = 0, @IsManagedByTalent = 0, 
		@SalesUserID = 0, @OldSalesUserID = 0, @AppActionDoneBy = 3, @SalesHistoryID = 0, @SalesDetailHistoryID = 0
		--------------------------------------------------------------------------------------------------------------

	END

END
