USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_CreditUtilization]    Script Date: 30-04-2024 15:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_CreditUtilization]
	@ClientID		bigint = 0,
	@JobPostedDate  DATETIME = NULL,
	@IsReposted BIT = 0,
	@HRID BIGINT = 0,
	@CompanyTypeId BIGINT = 0,
	@ProfileUnlock BIT = 0,
	@VettedProfile BIT = 0,
	@ATSTalentID BIGINT = 0
AS
BEGIN

        --- If pay per hire then return
		IF(@CompanyTypeId = 1)
		BEGIN
			RETURN 1
		END

		--- If for reposting then check already expired or not, if the current job is reposted under 30 days then do not deduct any credits.
		IF(@IsReposted =  1)
		BEGIN
			DECLARE @HRPostedDate DATETIME = NULL, @JobPostingDays INT = 0, @IsHRPaused INT

			SELECT TOP 1 @IsHRPaused = CASE WHEN Status_ID = 7 THEN 1 ELSE 0 END FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID

			-- If paused HR is reposted then only check
			IF(@IsHRPaused = 1)
			BEGIN
				SELECT TOP 1 @HRPostedDate = JobPostedDate FROM gen_JobPost_TransactionHistory_ClientPortal WHERE HRID = @HRID ORDER BY CreatedByDateTime DESC

				-- Check the difference of todays date and the date when Job posted.
				SET @JobPostingDays = (SELECT DATEDIFF(day, @HRPostedDate, GETDATE()))

				-- If the difference is less than or equal to 30 that means old credits spend on this job are still valid so return and do not deduct any charges.
				IF(@JobPostingDays <= 30)
				BEGIN
					RETURN 1
				END
			END
		END

		DECLARE @LatestBalance as decimal(18,2) = 0
		DECLARE @BalanceType as Nvarchar(50) = 'Free'
		DECLARE @CompanyID as Bigint = 0
		DECLARE @SubScriptionID as Bigint = 0		
		Declare @IsPostaJob as bit = 0
		Declare @IsProfileView as bit = 0
		
		Declare @CreditOptionId as int = 0
		declare @TransactionPrimaryID BIGINT = 0	
		Declare @CreditUsed as decimal(18,2) = 0
		DECLARE @UtilizedCreditAmount DECIMAL(18,2) = 0, @UtilizedCreditCurreny NVARCHAR(25) = ''

		SELECT @CompanyID = CompanyID from gen_Contact with(NOLOCK) WHERE ID = @ClientID

		SELECT  TOP 1 @BalanceType = ISNULL(BalanceType,'Free'),
				@SubScriptionID = ID
		FROM	gen_JobPost_Subscription_History_ClientPortal WITH(NOLOCK) 
		WHERE	CompanyID = @CompanyID AND IsActive = 1
		ORDER BY CreatedByDateTime DESC
		
		--Check if Advance package purchased
		EXEC Sproc_Update_CreditBalance_ClientPortal @CompanyID		

		Select  @LatestBalance = Isnull(JPCreditBalance,0),			
				@IsPostaJob = Isnull(IsPostaJob,0),
				@IsProfileView = Isnull(IsProfileView,0),				
				@UtilizedCreditAmount = CreditAmount,
				@UtilizedCreditCurreny = CreditCurrency,

				-- If profile unlock then pick the credits accordingly.
				@CreditUsed = CASE WHEN @ProfileUnlock = 1 THEN IIF(@VettedProfile = 1, VettedProfileViewCredit, NonVettedProfileViewCredit)
								   ELSE Isnull(JobPostCredit,0) END
		from   gen_Company WITH(NOLOCK) 
		WHERE  ID = @CompanyID
	
		-- If the balance is already 0 then do not proceed.
		IF @LatestBalance <= 0
		BEGIN
					Update  gen_JobPost_Subscription_History_ClientPortal
					SET		IsActive = 0
					WHERE	CompanyID = @CompanyID AND IsActive = 1

					UPDATE  gen_Company
					SET     JPCreditBalance = 0
					WHERE   ID = @CompanyID

					RETURN @TransactionPrimaryID
			END

		-- Set the credit options Id
		BEGIN
				--- If Profile unlock call then set creditOptionId accordingly else set for Job Posts
				IF(@ProfileUnlock = 0)
				BEGIN
					-- Credit for Job post and for view profile
					IF @IsPostaJob = 1 AND @IsProfileView = 1
						BEGIN
								SET @CreditOptionId = 1
						END

					-- Credit for only Job post and not for view profile
					IF @IsPostaJob = 1 AND @IsProfileView = 0
						BEGIN
								SET @CreditOptionId = 4
						END
				  END

				--- If Profile unlock call then set creditOptionId accordingly else set for Job Posts
				IF(@ProfileUnlock = 1)
				BEGIN
					IF(@VettedProfile = 1)
					BEGIN
						SET @CreditOptionId = 2
					END
					ELSE
					BEGIN
						SET @CreditOptionId = 3
					END
				END

			END

		-- If the latest balance is greater than 0 then only proceed.
		IF @LatestBalance > 0
			BEGIN

				IF(@ProfileUnlock = 0)
				BEGIN
					IF(@IsPostaJob = 1)
						BEGIN
							
							IF(@CreditUsed = 0)
							BEGIN
								SELECT  @CreditUsed = Isnull(CreditUsed,0)
								FROM	prg_CreditOption_ClientPortal WITH(NOLOCK)
								WHERE   ID = @CreditOptionId AND @CreditOptionId > 0
							END

							IF(@LatestBalance - @CreditUsed < 0)
								BEGIN
									RETURN @TransactionPrimaryID
								END
						END
						ELSE
						BEGIN
							SET @CreditUsed = 0
						END
				END

				IF(@ProfileUnlock = 1)
				BEGIN							
					IF(@CreditUsed = 0)
							BEGIN
								SELECT  @CreditUsed = Isnull(CreditUsed,0)
								FROM	prg_CreditOption_ClientPortal WITH(NOLOCK)
								WHERE   ID = @CreditOptionId AND @CreditOptionId > 0
							END

					IF(@LatestBalance - @CreditUsed < 0)
								BEGIN
									RETURN @TransactionPrimaryID
								END
				 END

				 INSERT INTO gen_JobPost_TransactionHistory_ClientPortal
					(
						HRID,
						ContactID,
						ContactUserID,
						JobPostedDate,
						JobRepostedDate,
						CreditBalance,
						IsReposted,
						BalanceUsedType,
						CreatedByID,
						CreatedByDateTime,
						ModifiedById,
						ModifiedDateTime,
						CompanyID,
						SubScriptionID,
						CreditOptionID,
						JPCreditBalance,
						UtilizedCreditAmount,
						UtilizedCreditCurreny,
						CreditUsed,
						ATS_TalentId
					)
					VALUES
					(
						@HRID,
						@ClientID,
						@ClientID,
						@JobPostedDate,
						null,
						@LatestBalance - @CreditUsed,
						@IsReposted,
						@BalanceType,
						@ClientID,
						GETDATE(),
						null,
						null,
						@CompanyID,
						@SubScriptionID,
						@CreditOptionId,
						@LatestBalance - @CreditUsed,
						@UtilizedCreditAmount, 
						@UtilizedCreditCurreny,
						@CreditUsed,
						@ATSTalentID
					)
			
				 SET @TransactionPrimaryID = (SELECT SCOPE_IDENTITY())

				 UPDATE gen_Company
				 SET    JPCreditBalance = case when Isnull(JPCreditBalance,0) <> 0 then JPCreditBalance - @CreditUsed else JPCreditBalance end
				 WHERE  ID = @CompanyID	

				 IF(@ProfileUnlock = 1)
				 BEGIN
					UPDATE gen_CRCTP_ShortlistedTalents_ClientPortal   
					SET  IsVetted = Isnull(@VettedProfile,IsVetted),  
					ProfileCredit = ISNULL(@CreditUsed, ProfileCredit),
					IsUnLock = 1,UnLockDateTime = GETDATE()
				    WHERE HRID = @HRID AND ATS_TalentID = @ATSTalentID
				 END

				RETURN @TransactionPrimaryID
				
			END
END