ALTER PROCEDURE [dbo].[SPROC_Gen_SalesHiringRequest_Details_History]
	@HRID BIGINT NULL,
	@AppActionDoneBy INT NULL
AS
BEGIN
	IF @HRID > 0
	BEGIN

		INSERT INTO [dbo].[gen_SalesHiringRequest_Details_History]
				([HiringRequest_Detail_ID]
				,[HiringRequest_ID]
				,[Role_ID]
				,[NoofEmployee]
				,[Duration]
				,[DurationType]
				,[Cost]
				,[RoleStatus_ID]
				,[SpecificMonth]
				,[YearOfExp]
				,[HowSoon]
				,[Timezone_ID]
				,[TypeofInterviewer_ID]
				,[RoleTeamSize]
				,[CommunicationType]
				,[AssociatedwithUplers_ID]
				,[PartialEngagementType_ID]
				,[NoOfHoursWorking]
				,[CreatedByID]
				,[CreatedByDatetime]
				,[LastModifiedByID]
				,[LastModifiedDatetime]
				,[Interviewer_ID]
				,[InterviewerName]
				,[InterviewLinkedin]
				,[InterviewerYearofExperience]
				,[HR_Cost]
				,[RolesResponsibilities]
				,[GenericInfo]
				,[Requirement]
				,[Timezone_Preference]
				,[Timezone_Preference_ID]
				,[TimeZone_FromTime]
				,[TimeZone_EndTime]
				,[OverlapingHours]
				,[InterviewerDesignation]
				,[NotMatch_AfterAcceptance_Timezone_ID]
				,[InterviewerEmailID]
				,[BudgetFrom]
				,[BudgetTo]
				,[Currency]
				,[AddOtherRole]
				,[Adhoc_BudgetCost]
				,[Remark]
				,[Previous_RoleStatusID]
				,[InterviewerExpInMonth]
				,[IsHRFocused]
				,[GlassdoorRating]
				,[AmbitionBoxRating]
				,[CalculatedUplersfees]
				,[JobDescription]
				,[IsConfidentialBudget]
				,[HistoryDate]
				,[AppActionDoneBy]
				,[IsFresherAllowed])
			SELECT 
			[ID]
			,[HiringRequest_ID]
			,[Role_ID]
			,[NoofEmployee]
			,[Duration]
			,[DurationType]
			,[Cost]
			,[RoleStatus_ID]
			,[SpecificMonth]
			,[YearOfExp]
			,[HowSoon]
			,[Timezone_ID]
			,[TypeofInterviewer_ID]
			,[RoleTeamSize]
			,[CommunicationType]
			,[AssociatedwithUplers_ID]
			,[PartialEngagementType_ID]
			,[NoOfHoursWorking]
			,[CreatedByID]
			,[CreatedByDatetime]
			,[LastModifiedByID]
			,[LastModifiedDatetime]
			,[Interviewer_ID]
			,[InterviewerName]
			,[InterviewLinkedin]
			,[InterviewerYearofExperience]
			,[HR_Cost]
			,[RolesResponsibilities]
			,[GenericInfo]
			,[Requirement]
			,[Timezone_Preference]
			,[Timezone_Preference_ID]
			,[TimeZone_FromTime]
			,[TimeZone_EndTime]
			,[OverlapingHours]
			,[InterviewerDesignation]
			,[NotMatch_AfterAcceptance_Timezone_ID]
			,[InterviewerEmailID]
			,[BudgetFrom]
			,[BudgetTo]
			,[Currency]
			,[AddOtherRole]
			,[Adhoc_BudgetCost]
			,[Remark]
			,[Previous_RoleStatusID]
			,[InterviewerExpInMonth]
			,[IsHRFocused]
			,[GlassdoorRating]
			,[AmbitionBoxRating]
			,[CalculatedUplersfees]
			,[JobDescription]
			,[IsConfidentialBudget]
			,GETDATE()
			,@AppActionDoneBy
			,[IsFresherAllowed]
		FROM [dbo].[gen_SalesHiringRequest_Details]
		WHERE HiringRequest_ID = @HRID

	END
END
