USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Insert_Update_StandOutDetails_ClientPortal]    Script Date: 01-05-2024 13:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sproc_Insert_Update_StandOutDetails_ClientPortal]
  
  @GUID						NVARCHAR(50) = NULL,
  @ContactId				BIGINT = 0, 
  @Industry_Type			NVARCHAR(4000)= NULL,
  @CompanySize				INT= null,
  @about_Company_desc		NVARCHAR(4000)= NULL,  
  @IsOffShoreLocationExp	BIT= NULL,
  @IsLineManagerReq			BIT = NULL,
  @IsTeamMemberReplacement  BIT = NULL,
  @CareerProgressionPath    NVARCHAR(MAX) = NULL,
  @BenefitsandChallenges    NVARCHAR(MAX) = NULL,
  @InterviewProcess			NVARCHAR(MAX) = NULL,
  @IPAddress				NVARCHAR(100) = NULL,
  @ProcessType				NVARCHAR(100) = NULL,
  @CompanyLinkedInProfile   NVARCHAR(600) = NULL,
  @ContactLinkedInProfile	NVARCHAR(600) = NULL,
  @CompanyID				BIGINT = NULL,
  @CompanyName				NVARCHAR(600) = NULL,
  @Website					NVARCHAR(500) = NULL,
  @SSOUserId				BIGINT = NULL
  
AS
BEGIN
		
		DECLARE @ActionPerformedBy BIGINT = 0

		-- Set action performed by user based on SSO login UTS-7223
		SET @ActionPerformedBy =  (SELECT IIF(ISNULL(@SSOUserId,0) = 0, @ContactId, @SSOUserId))		

		IF NOT EXISTS(Select 1 from gen_JobPost_StandoutToTalents_ClientPortal WITH(NOLOCK) WHERE GUID = @GUID and ContactId = @ContactId AND CompanyID = @CompanyID)
			BEGIN
				INSERT INTO	gen_JobPost_StandoutToTalents_ClientPortal
							(								
								GUID,
								ContactId,
								Industry_Type,
								CompanySize,
								about_Company_desc,
								IsOffShoreLocationExp,
								IsLineManagerReq,
								IsTeamMemberReplacement,
								CareerProgressionPath,
								BenefitsandChallenges,
								InterviewProcess,
								IPAddress,
								CreatedByID,
								CreatedDateTime,
								ProcessType,
								IsActive,
								CompanyID,
								ContactsLinkedInProfile,
								CompanysLinkedInProfile,
								Website
							)
							VALUES	
							(
								@GUID,
								@ContactId,
								@Industry_Type,
								@CompanySize,
								@about_Company_desc,
								@IsOffShoreLocationExp,
								@IsLineManagerReq,
								@IsTeamMemberReplacement,
								@CareerProgressionPath,
								@BenefitsandChallenges,
								@InterviewProcess,
								@IPAddress,
								@ActionPerformedBy,
								GETDATE(),
								@ProcessType,
								0,
								@CompanyID,
								@ContactLinkedInProfile,
								@CompanyLinkedInProfile,
								@Website
							)
			END
			ELSE
			BEGIN
				UPDATE gen_JobPost_StandoutToTalents_ClientPortal SET 
				Industry_Type = @Industry_Type,
				CompanySize = @CompanySize,
				about_Company_desc = @about_Company_desc,
				IsOffShoreLocationExp = ISNULL(@IsOffShoreLocationExp, IsOffShoreLocationExp),
				IsLineManagerReq = ISNULL(@IsLineManagerReq, IsLineManagerReq),
				IsTeamMemberReplacement = ISNULL(@IsTeamMemberReplacement, IsTeamMemberReplacement),
				CareerProgressionPath = ISNULL(@CareerProgressionPath, CareerProgressionPath),
				BenefitsandChallenges = ISNULL(@BenefitsandChallenges, BenefitsandChallenges),
				InterviewProcess = ISNULL(@InterviewProcess, InterviewProcess),
				ContactsLinkedInProfile = ISNULL(@ContactLinkedInProfile,ContactsLinkedInProfile),
				CompanysLinkedInProfile = @CompanyLinkedInProfile,
				Website = @Website,
				IPAddress = ISNULL(@IPAddress,IPAddress),
				ModifiedByID = @ActionPerformedBy,
				CreatedByID =  @ActionPerformedBy,
				ModifiedByDateTime = GETDATE()
				WHERE GUID = @GUID and ContactId = @ContactId AND CompanyID = @CompanyID				

				--UPDATE gen_Contact SET 
				--LinkedIn = ISNULL(@ContactLinkedInProfile,LinkedIn)
				--WHERE ID = @ContactId
			END
		 

		 UPDATE gen_Company SET 
				LinkedInProfile = @CompanyLinkedInProfile,
				CompanySize = @CompanySize,
				industry = @Industry_Type,
				Industry_Type = @Industry_Type,
				about_Company_desc = @about_Company_desc,				
				Company = ISNULL(@CompanyName, Company),
				Website = @Website,
				ModifiedByID = @ContactId,
				ModifiedByDatetime = GETDATE()
				WHERE ID = @CompanyID


		SELECT * FROM gen_JobPost_StandoutToTalents_ClientPortal
				WHERE GUID = @GUID and ContactId = @ContactId AND CompanyID = @CompanyID
		
END