USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_InviteClient_UTS_Admin]    Script Date: 23-04-2024 15:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sproc_UTS_UpdateCompanyCreditInfo]	
	@CompanyId BIGINT = NULL,
	@PerCreditAmount	DECIMAL(18,2) = null,
	@CreditCurrency	Nvarchar(50) = null,
	@JobPostCredit INT = NULL,
	@VettedProfileViewCredit INT = NULL,
	@NonVettedProfileViewCredit INT = NULL
AS
BEGIN	

		Declare @IsPostaJob as bit = 0
		Declare @IsProfileView as bit = 0, @CompanyTypeID INT = 0, @AnotherCompanyTypeID INT = 0			
		
		Select 
				@IsPostaJob = Isnull(IsPostaJob,0),
				@IsProfileView = Isnull(IsProfileView,0),
				@CompanyTypeID = CompanyTypeId,
				@AnotherCompanyTypeID = AnotherCompanyTypeId
		from   gen_Company WITH(NOLOCK) 
		WHERE  ID = @CompanyID

		IF(@CompanyTypeId = 2 OR @AnotherCompanyTypeID = 2)
		BEGIN
		
			IF(@IsPostaJob = 1 AND ISNULL(@IsProfileView,0) = 0)
			BEGIN
				SET @VettedProfileViewCredit = 0
				SET @NonVettedProfileViewCredit = 0
			END

			IF(@IsPostaJob = 0)
			BEGIN
				SET @JobPostCredit = 0
			END
		END

	
		
		update [dbo].[gen_Company]
		set 
		VettedProfileViewCredit=@VettedProfileViewCredit,
		NonVettedProfileViewCredit=@NonVettedProfileViewCredit,
		JobPostCredit=@JobPostCredit,
		CreditAmount=@PerCreditAmount,
		CreditCurrency=@CreditCurrency
		where ID=@CompanyId	
			
END