ALTER PROCEDURE [dbo].[Sproc_CreditUtilization_Process]
  @CompanyID				bigint = 0,
  @HRID						bigint = 0,
  @ContactID				bigint = 0,
  @JobPostedDate			datetime = 0,
  @ATSTalentID				bigint = 0,
  @IsRepost					bit = 0,
  @CreatedById				bigint = 0, 
  @CompanyTypeId			BIGINT = 0,
  @ProfileUnlock			BIT = 0,
  @VettedProfile			BIT = 0,
  @OutputParam				NVARCHAR(100) OUTPUT
AS
BEGIN
		Declare @ReturnVal as Nvarchar(100) = '-1'
		--- If pay per hire then return
		IF(@CompanyTypeId = 1)
			BEGIN
				SET @ReturnVal = 'Pay per hire'
				SET  @OutputParam = @ReturnVal	
				RETURN
			END

		--- If for reposting then check already expired or not, if the current job is reposted under 30 days then do not deduct any credits.
		IF(@IsRepost =  1)
			BEGIN
				DECLARE @HRPostedDate DATETIME = NULL, @JobPostingDays INT = 0, @IsHRPausedORClosed INT

				SELECT TOP 1 @IsHRPausedORClosed = CASE WHEN Status_ID = 7 THEN 1 
														WHEN JobStatusID = 2 THEN 1
														ELSE 0 END 
														FROM gen_SalesHiringRequest WITH(NOLOCK) WHERE ID = @HRID

				-- If paused Or Closed HR is reposted then only check
				IF(@IsHRPausedORClosed = 1)
				BEGIN
					SELECT TOP 1 @HRPostedDate = JobPostedDate FROM gen_JobPost_TransactionHistory_ClientPortal WHERE HRID = @HRID ORDER BY CreatedByDateTime DESC

					-- Check the difference of todays date and the date when Job posted.
					SET @JobPostingDays = (SELECT DATEDIFF(day, @HRPostedDate, GETDATE()))

					-- If the difference is less than or equal to 30 that means old credits spend on this job are still valid so return and do not deduct any charges.
					IF(@JobPostingDays <= 30)
					BEGIN
						SET @ReturnVal = 'Open Job Within Expiry Period'
						SET  @OutputParam = @ReturnVal
						RETURN
					END
				END
			END

		Declare @CurrentPlanUsedCredits  as decimal(18,2) = 0
		Declare @CurrentPlanCredits as decimal(18,2) = 0
		Declare @BalanceAfterUtilization as Decimal(18,2) = 0
		Declare @BalanceAfterUtilizationForNextplan as Decimal(18,2) = 0
		Declare @CurrentActiveplanId as bigint = 0
		Declare @AdvanceplanId as bigint = 0
		Declare @TotalBalance as decimal(18,2) = 0
		Declare @Message as NVARCHAR(MAX) = null
		Declare @RequireBalance as Decimal(18,2) = 0
		Declare @RemainingBalanceForplan as Decimal(18,2) = 0

		Declare @FinalBalance as Decimal(18,2) = 0
		Declare @JpCreditBalance as Decimal(18,2) = 0
		DECLARE @LatestBalance as decimal(18,2) = 0
		DECLARE @BalanceType as Nvarchar(50) = 'Free'		
		DECLARE @SubScriptionID as Bigint = 0		
		Declare @IsPostaJob as bit = 0
		Declare @IsProfileView as bit = 0
		DECLARE @UtilizedCreditAmount DECIMAL(18,2) = 0, @UtilizedCreditCurreny NVARCHAR(25) = ''
		Declare @CreditsUsed as decimal(18,2) = 0
		declare @TransactionPrimaryID Nvarchar(100) = ''
		Declare @CreditOptionId int = 0

		Select 
		TOP 1	@BalanceType = ISNULL(BalanceType,'Free'),
				@CurrentActiveplanId = ID,@CurrentPlanCredits = Isnull(CreditBalance,0)
		FROM    gen_JobPost_Subscription_History_ClientPortal WITH(NOLOCK)
		WHERE   CompanyID = @CompanyID and IsActive = 1 and Isnull(IsUsed,0) = 0
		ORDER BY CreatedByDateTime ASC

		select @CurrentPlanUsedCredits = Isnull(SUM(CreditUsed),0)
		From   gen_JobPost_TransactionHistory_ClientPortal WITH(NOLOCK)
		WHERE  CompanyID = @CompanyID and SubScriptionID = @CurrentActiveplanId and HRID <> 0

		Select  @LatestBalance = Isnull(JPCreditBalance,0),			
				@IsPostaJob = Isnull(IsPostaJob,0),
				@IsProfileView = Isnull(IsProfileView,0),				
				@UtilizedCreditAmount = CreditAmount,
				@UtilizedCreditCurreny = CreditCurrency,
				-- If profile unlock then pick the credits accordingly.
				@CreditsUsed = CASE WHEN @ProfileUnlock = 1 THEN IIF(@VettedProfile = 1, VettedProfileViewCredit, NonVettedProfileViewCredit)
								   ELSE Isnull(JobPostCredit,0) END
		from   gen_Company WITH(NOLOCK) 
		WHERE  ID = @CompanyID


		-- If the balance is already 0 then do not proceed.
		IF @LatestBalance <= 0
			BEGIN
					Update  gen_JobPost_Subscription_History_ClientPortal
					SET		IsActive = 0
					WHERE	CompanyID = @CompanyID AND IsActive = 1

					UPDATE  gen_Company
					SET     JPCreditBalance = 0
					WHERE   ID = @CompanyID

					SET  @OutputParam = @ReturnVal
					RETURN
			END
		
		-- Set the credit options Id			
		--- If Profile unlock call then set creditOptionId accordingly else set for Job Posts
		IF(@ProfileUnlock = 0)
			BEGIN
				-- Credit for Job post and for view profile
				--IF @IsPostaJob = 1 AND @IsProfileView = 1
				--	BEGIN
				--			SET @CreditOptionId = 1
				--	END

				-- Credit for only Job post and not for view profile
				IF @IsPostaJob = 1 
				--AND @IsProfileView = 0
					BEGIN
							SET @CreditOptionId = 4
					END
				END

		--- If Profile unlock call then set creditOptionId accordingly else set for Job Posts
		IF(@ProfileUnlock = 1)
			BEGIN
				IF(@VettedProfile = 1)
					BEGIN
						SET @CreditOptionId = 2
					END
				ELSE
					BEGIN
						SET @CreditOptionId = 3
					END
			END
					


		-- If the latest balance is greater than 0 then only proceed.
		IF @LatestBalance > 0
			BEGIN
					
					IF OBJECT_ID('tempdb..#PlansIDs') IS not null
						DROP TABLE #PlansIDs

					CREATE TABLE #PlansIDs
					(
						PlanIds					bigint,
						creditUsedfromplan		decimal(18,2),
						RemainingBalanceforplan decimal(18,2),
						CompanyID				bigint
					)
		
					
					SET @BalanceAfterUtilization = @CurrentPlanCredits - @CurrentPlanUsedCredits    -- IF Current plans Credit is 15 and used balance is 13 then balance is 2
					--   1                       = 2				   - 1
					SET @TotalBalance = @BalanceAfterUtilization
					--  1


					IF  @BalanceAfterUtilization > @CreditsUsed
						BEGIN
							SET @RemainingBalanceForplan = @BalanceAfterUtilization - @CreditsUsed
							SET @BalanceAfterUtilization = @CreditsUsed -- 1
						END
					ELSE
						BEGIN
								SET @BalanceAfterUtilization = @BalanceAfterUtilization
								SET @RemainingBalanceForplan = 0

								Update gen_JobPost_Subscription_History_ClientPortal
								set    IsUsed = 1
								where  ID = @CurrentActiveplanId
						END

						--select @CurrentPlanCredits,@CurrentPlanUsedCredits

					Insert into #PlansIDs(PlanIds,creditUsedfromplan,RemainingBalanceforplan,CompanyID)
					select @CurrentActiveplanId,@BalanceAfterUtilization,@RemainingBalanceForplan,@CompanyID

					--select * from #PlansIDs

					While(@TotalBalance <= @CreditsUsed)     --IF new request is of 1 jobpost which is 5 credit utilization 
						BEGIN
							SET @RequireBalance = @CreditsUsed - @TotalBalance
							
							--Here we check if any new plans available then get new plans credit and add it into remaining balance of previous plan  
							-- and update previous plan to inactive and next plan to active
								If Exists(select top 1 1 from gen_JobPost_Subscription_History_ClientPortal WITH(NOLOCK) WHERE CompanyID = @CompanyID and Isnull(IsUsed,0) = 0 and ID <> @CurrentActiveplanId  order by Id asc)
									BEGIN
											
											Update  gen_JobPost_Subscription_History_ClientPortal
											SET		IsActive = 0
											where   ID = @CurrentActiveplanId

											SELECT	top 1 @AdvanceplanId = ID,@BalanceAfterUtilizationForNextplan = ISNULL(CreditBalance,0)
											from	gen_JobPost_Subscription_History_ClientPortal WITH(NOLOCK)
											WHERE	CompanyID = @CompanyID and Isnull(IsUsed,0) = 0  and ID <> @CurrentActiveplanId
											order by Id asc

											SET @CurrentActiveplanId = @AdvanceplanId

											Update gen_JobPost_Subscription_History_ClientPortal
											set    IsActive = 1,IsAdvancePurchase = 0
											where  ID = @AdvanceplanId

											----Here Balance After utilization is 2 + 1 = 3 so While loop is Continues
											--or Balance After utilization is 2 + 10 = 12 while loop stops
											SET  @TotalBalance = @BalanceAfterUtilizationForNextplan + @TotalBalance
								
											IF @CreditsUsed > @TotalBalance   --5 > 4 then from this plan 1 credit is used and remaining balance is 0
												BEGIN
													 SET @BalanceAfterUtilization = @BalanceAfterUtilizationForNextplan
													 SET @RemainingBalanceForplan = 0

														Update gen_JobPost_Subscription_History_ClientPortal
														set    IsUsed = 1
														where  ID = @AdvanceplanId
												END									
											ELSE				--else from this plan 3 credit is used and remaining balance = 10 - 3 = 7
												BEGIN
													 SET @BalanceAfterUtilization = @RequireBalance
													 SET @RemainingBalanceForplan = @BalanceAfterUtilizationForNextplan - @RequireBalance
												END
									

											Insert into #PlansIDs(PlanIds,creditUsedfromplan,RemainingBalanceforplan,CompanyID)
											select @AdvanceplanId,@BalanceAfterUtilization,@RemainingBalanceForplan,@CompanyID

									ENd
								ELSE IF (@RequireBalance = 0 AND @TotalBalance > 0 AND @CreditsUsed > 0 AND @TotalBalance = @CreditsUsed)
								BEGIN
									BREAK
								END
								ELSE
									BEGIN
											SET @TransactionPrimaryID = '-1' --'You do not have suffcient balance'
											--SELECT  @TransactionPrimaryID as PlanIds
											SET  @OutputParam = @TransactionPrimaryID
											RETURN 
											--Return @TransactionPrimaryID
									END					
						END

						
							
									SELECT @FinalBalance = SUM(creditUsedfromplan)
									From   #PlansIDs 

									UPDATE gen_Company
									SET    JPCreditBalance = JPCreditBalance - Isnull(@FinalBalance,0)
									where  ID = @CompanyID

									select @JpCreditBalance = JPCreditBalance
									From   gen_Company WITH(NOLOCK)
									where  ID = @CompanyID


									DECLARE @TransactionIDs TABLE
									(
										TransactionID BIGINT
									)


									Insert Into gen_JobPost_TransactionHistory_ClientPortal(HRID,ContactID,ContactUserID,JobPostedDate,CreditBalance,IsReposted,BalanceUsedType,
												CreatedByID,CreatedByDateTime,CompanyID,SubScriptionID,CreditOptionID,ATS_TalentId,JPCreditBalance,UtilizedCreditAmount,UtilizedCreditCurreny,
												CreditUsed)
									OUTPUT   Inserted.ID INTO @TransactionIDs
									select   @HRID,@ContactID,@ContactID,@JobPostedDate,@JpCreditBalance,@IsRepost,SP.BalanceType,
											 @CreatedById,getdate(),@CompanyID,P.PlanIds,@CreditOptionID,@ATSTalentID,@JpCreditBalance,
											 SP.CreditAmount,Sp.CreditCurrency,P.creditUsedfromplan
									From     #PlansIDs P 
											 inner join gen_JobPost_Subscription_History_ClientPortal SP WITH(NOLOCK) ON SP.ID = P.PlanIds
											 inner join gen_Company C WITH(NOLOCK) ON C.ID = P.CompanyID
											 WHERE ISNULL(P.creditUsedfromplan,0) <> 0  						
									

									UPDATE  JSH
									SET     IsUsed = 1,IsActive = 0
									from    gen_JobPost_Subscription_History_ClientPortal JSH
											inner join #PlansIDs P ON P.PlanIds = JSH.ID
									Where   RemainingBalanceforplan = 0

									 IF(@ProfileUnlock = 1)
										 BEGIN
												UPDATE  gen_CRCTP_ShortlistedTalents_ClientPortal   
												SET		IsVetted = Isnull(@VettedProfile,IsVetted),  
														ProfileCredit = ISNULL(@CreditsUsed, ProfileCredit),
														IsUnLock = 1,UnLockDateTime = GETDATE()
												WHERE	HRID = @HRID AND ATS_TalentID = @ATSTalentID
										 END

									--select * from #PlansIDs
									--set @TransactionPrimaryID =  cast(Stuff((select ',' + cast(TransactionID as Nvarchar(10))  from @TransactionIDs For XML PATH('')),1,1,'') as Nvarchar(100))
									set @TransactionPrimaryID = STUFF(
										(
											SELECT ',' + CAST(TransactionID AS VARCHAR(10))
											FROM @TransactionIDs
											FOR XML PATH(''), TYPE
										).value('.', 'VARCHAR(MAX)'), 1, 1, ''
									)
									SET  @OutputParam = @TransactionPrimaryID
									

						DROP TABLE #PlansIDs
			END
		
END

