USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[sproc_Update_ShortlistedTalent_InterviewDetails_ClientPortal]    Script Date: 16-02-2024 16:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sproc_Update_ShortlistedTalent_InterviewDetails_ClientPortal]
@ID						AS Bigint = Null,
@StatusId				AS int  = Null,
@ScheduledOn       		AS datetime = NULL,	
@InterviewStartTime		as time = NULL,
@InterviewEndTime		as time = Null,
@TimeZoneId				AS int = null,
@LastModifiedById		AS int = null

AS
BEGIN


IF EXISTS(SELECT 1 FROM gen_ShortlistedTalent_InterviewDetails  STI WITH(NOLOCK) where STI.ID = @ID )
BEGIN

		UPDATE	SHID 
		SET		
				SHID.ScheduledOn = @ScheduledOn,
				SHID.Interview_StartTime = @InterviewStartTime,
				SHID.Interview_EndTime = @InterviewEndTime,
				SHID.Status_ID   = @StatusId,
				SHID.TimeZone_ID = @TimeZoneId,
				SHID.LastModifiedByID = @LastModifiedById,
				SHID.LastModifiedDatetime =  GETDATE()
		FROM	gen_ShortlistedTalent_InterviewDetails SHID 
		Where	SHID.ID = @ID

		SELECT @ID As ID

END

END