CREATE proc [dbo].[sproc_ContactTalentPriorityUpdate_TalentStatusID]  
@ID bigint          = NULL,  
@OtherRejectReason nvarchar(100)  = NULL
as  
begin   
  
  
 update gen_ContactTalentPriority   
 set   OtherRejectReason = @OtherRejectReason,  
    TalentStatusID_BasedOnHR = 5  
		where ID = @ID  
end  