USE [TC_QA]
GO
/****** Object:  StoredProcedure [dbo].[Sproc_Get_ShortListedDetails_ForCreditFlow_ClientPortal]    Script Date: 29-03-2024 15:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sproc_Get_ShortListedDetails_ForCreditFlow_ClientPortal]  
  @HRID     bigint = 0  
AS  
BEGIN  

	DECLARE @CompanyId BIGINT 
	SELECT TOP 1 @CompanyId = C.Id FROM gen_salesHiringRequest HR WITH(NOLOCK) INNER JOIN gen_contact GC WITH(NOLOCK) 
							  ON HR.ContactID = GC.Id INNER JOIN gen_Company C WITH(NOLOCK) ON C.Id = GC.CompanyId WHERE HR.ID = @HRID
    
	select MAx(ID) as ID,HRID
	Into   #MaxJobDeduct
	from   gen_JobPost_TransactionHistory_ClientPortal WITH(NOLOCK)
	WHERE  HRID = @HRID AND CreditOptionID in (0,1,4)
	GROUP BY HRID

	SELECT * INTO  #CreditHRwithOptionID FROM
	(Select	cast(Isnull(SUM(Op.CreditUsed),0) as int) HRCreditUsed,JT.HRID,CH.CreditOptionID, HRTypeID AS COHRTypeID, 0 AS IsReposted
	       
			from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
					inner join prg_CreditOption_ClientPortal Op WITH(NOLOCK) ON Op.ID = Isnull(JT.CreditOptionID,0)
					inner join prg_CreditOptionsWithHRTypeIDs CH WITH(NOLOCK) ON CH.CreditOptionID =  OP.ID
			WHERE	HRID = @HRID 
			AND ISNULL(JT.IsReposted, 0) = 0 
			Group by JT.HRID, CH.CreditOptionID,CH.HRTypeID

			UNION ALL 

			Select	cast(Isnull(SUM(Op.CreditUsed),0) as int) HRCreditUsed,JT.HRID,CH.CreditOptionID, HRTypeID AS COHRTypeID, 1 AS IsReposted
	       
			from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
					inner join prg_CreditOption_ClientPortal Op WITH(NOLOCK) ON Op.ID = Isnull(JT.CreditOptionID,0)
					inner join prg_CreditOptionsWithHRTypeIDs CH WITH(NOLOCK) ON CH.CreditOptionID =  OP.ID
			WHERE	HRID = @HRID 
			AND ISNULL(JT.IsReposted, 0) = 1 
			Group by JT.HRID, CH.CreditOptionID,CH.HRTypeID
			) Q 

	SELECT * INTO #CompanyModelJobCredits FROM 
	(
		SELECT Id, Company,IsPostaJob, IsProfileView,
		CAST(CASE WHEN IsPostaJob = 1 AND IsProfileView = 1 THEN (SELECT TOP 1 CreditUsed FROM prg_CreditOption_ClientPortal WHERE ID = 1)
			 WHEN IsPostaJob = 0 AND IsProfileView = 1 THEN 0
			 WHEN IsPostAJob = 1 AND IsProfileView = 0 THEN (SELECT TOP 1 CreditUsed FROM prg_CreditOption_ClientPortal WHERE ID = 4)
			 ELSE 0 END AS INT) AS RepostingCredits
		FROM gen_company WITH(NOLOCK) WHERE ID = @CompanyID
	) Q1



	--SELECT * FROM #CompanyModelJobCredits

	--select  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =1 --AND HR.HRTypeId = CHO.COHRTypeID


 
  Select	Title = Isnull(HR.RequestForTalent,''),  
			HRNumber = HR.Hr_Number,  
			Oppurtunity = Isnull(DP.ModeOfWork,''),  
			YearsofExperience = CAST(Isnull(HRD.InterviewerYearofExperience,0) AS nvarchar) + ' years Exp',  
			EmploymentType = CAST(Isnull(Availability,'') AS NVARCHAR) +    
			IIF(HRD.SpecificMonth > 0, ' contract - ' + CAST(ISNULL(NULLIF(HRD.SpecificMonth ,-1), 0) AS NVARCHAR) + ' months', ''),  
			Budget =  ISNULL(HRD.Cost,''),  
			TimeZone = ISNULL(HRD.TimeZone_FromTime,'') + ' to ' + ISNULL(HRD.TimeZone_EndTime,'') + ' ' + ISNULL(CT.TimeZoneTitle,''),  
			Skills = isnull((STUFF((  
							SELECT distinct ', ' + PrimarySkill From(  
							  select PrimarySkill =isnull(PR.Skill,'')   
							  FROM prg_Skills PR WITH(NOLOCK)    
									  inner join gen_SalesHiringRequest_SkillDetails PS WITH(NOLOCK) ON PR.ID = PS.Skill_ID  
							  where   PS.HiringRequest_ID = HR.ID   
							 union all  
							  select PrimarySkill = isnull(PT.TempSkill,'')  
							  from prg_TempSkills PT WITH(NOLOCK)    
								inner join gen_SalesHiringRequest_SkillDetails P WITH(NOLOCK) ON PT.TempSkill_ID = P.TempSkill_ID                
							  where isnull(PT.Status_ID,1)!= 0 AND P.HiringRequest_ID = HR.ID and isnull(P.TempSkill_ID,'')  <>''  
							) AS finalObj  
                For XML Path('')),1,1,''  
				)),''''),  
			--CreditUsed = CAST(1 AS NVARCHAR),      
			CreditUsed = Isnull((
									select  CAST(Isnull(CreditUsed,0) as Nvarchar) CreditUsed from
									(Select	cast(Isnull(SUM(CC.CreditUsed),0) as int) CreditUsed,JT.HRID
									from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
											inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
									WHERE	HRID = hr.ID --AND CC.ID IN (1, 4)
									Group by JT.HRID ) Q
								),'0'),      
			HRCreatedDate = CONVERT(varchar,HR.CreatedByDatetime,107),
			HRExpiryDate = CONVERT(varchar,DATEADD(D,30,ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)), 107),
			ExpiryDays = CAST(DateDIff(d, CAST(GETDATE() as DATE), CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte)) AS NVARCHAR),
			ExpiryColor = CASE WHEN DateDIff(d, CAST(DATEADD (d, 30, ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)) as DAte),CAST(GETDATE() as DATE)) <= 5 
										Then '#676767'
										Else '#FF0000' END,
			VettedProfileCredits = Isnull((
									select  CAST(Isnull(CreditUsed,0) as Nvarchar) CreditUsed from
									(Select	cast(Isnull(SUM(CC.CreditUsed),0) as int) CreditUsed,JT.HRID
									from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
											inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
									WHERE	HRID = hr.ID AND CC.ID = 2
									Group by JT.HRID ) Q
								),'0'),
			NonVettedProfileCredits = Isnull((
									select  CAST(Isnull(CreditUsed,0) as Nvarchar) CreditUsed from
									(Select	cast(Isnull(SUM(CC.CreditUsed),0) as int) CreditUsed,JT.HRID
									from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
											inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
									WHERE	HRID = hr.ID AND CC.ID = 3
									Group by JT.HRID ) Q
								),'0'),
			CreditBalanceInfo = CASE WHEN HR.HRTypeID IN (3, 6)
											THEN 
												(
													SELECT 'Job post credits : ' +	 + isnull(CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =1 AND IsReposted = 0)as Nvarchar(50)),'0') + ' <br/>'
												 )  + 

												 (
													SELECT 'Job Repost credits : ' +	 + isnull(CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =1 AND IsReposted = 1)as Nvarchar(50)),'0') + ' <br/>'
												 )  +

												 (
													SELECT 'Vetted profile view credits : ' + isnull(CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =2)as Nvarchar(50)),'0')+ ' <br/>'
												 )  + 

												 
												 (
													SELECT 'Non-Vetted profile view credits : '  + isnull( CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =3)as Nvarchar(50)),'0')+ ' <br/>'
												 )  

											WHEN HR.HRTypeID =4
											THEN (
													SELECT 'Job post credits : ' +	isnull( CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =4 AND IsReposted = 0)as Nvarchar(50)),'0')+ ' <br/>'
												 ) + 

												 (
													SELECT 'Job Repost credits : ' +	 + isnull(CAST((select TOP 1  Isnull(HRCreditUsed,0)  from  #CreditHRwithOptionID where  CreditOptionID =4 AND IsReposted = 1)as Nvarchar(50)),'0') 
												 )
											ELSE '' 
										END,
					PostedBy = C.FullName,					
					NewJobPostingDate = CASE WHEN HR.Status_ID IN (3, 4, 6) OR HR.JobStatusID = 2 THEN DATENAME(MONTH, GETDATE()) + RIGHT(CONVERT(VARCHAR(12), GETDATE(), 107), 9)
										ELSE	DATENAME(MONTH, DATEADD(D,31,ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate))) 
										+ RIGHT(CONVERT(VARCHAR(12), DATEADD(D,31,ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)), 107), 9) END, --Expiry date plus 1 day.
					NewExpirationDate = CASE WHEN HR.Status_ID IN (3, 4, 6) OR HR.JobStatusID = 2 THEN 
										DATENAME(MONTH, DATEADD(D,30,GETDATE()))+ RIGHT(CONVERT(VARCHAR(12), DATEADD(D,30,GETDATE()), 107), 9)
										ELSE	DATENAME(MONTH, DATEADD(D,61,ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate))) 
										+ RIGHT(CONVERT(VARCHAR(12), DATEADD(D,61,ISNULL(JCT.JobRepostedDate,JCT.JobPostedDate)), 107), 9) END, -- New job posted date plus 30 days
					AvailableCredits = CAST(CAST(CO.JpCreditBalance AS INT) AS NVARCHAR),
					JobPostingCredits = CASE WHEN ISNULL(HR.IsAutoExpiredJob,0) = 0 AND ISNULL(HR.Status_ID,0) IN (3, 4, 6) THEN '0' ELSE
										isnull(CAST((select TOP 1 Isnull(RepostingCredits,0)  from  #CompanyModelJobCredits)as Nvarchar(50)),'0')
										END

  from		gen_SalesHiringRequest HR WITH(NOLOCK)  
			inner join Gen_SalesHiringRequest_Details HRD WITH(NOLOCK) ON HR.ID = HRD.HiringRequest_ID  
			Inner join prg_ContactTimeZone CT WITH(NOLOCK) ON CT.ID =  hrd.Timezone_ID	
			Inner join gen_Contact C WITH(NOLOCK) ON C.ID = HR.ContactID
			left join #MaxJobDeduct MJD WITH(NOLOCK) ON MJD.HRID = HR.ID
			left join gen_JobPost_TransactionHistory_ClientPortal JCT WITH(NOLOCK) ON JCT.ID = MJD.ID
			left join gen_Company CO WITH(NOLOCK) ON CO.ID = C.CompanyID
			left join gen_Direct_Placement DP WITH(NOLOCK) ON DP.HiringRequest_Id = HR.ID  
			--left join #CreditHRwithOptionID CHO ON HR.ID = CHO.HRID AND HR.HRTypeID = CHO.COHRTypeID
  WHERE		HR.ID = @HRID  
  
  DROP TABLE #MaxJobDeduct
  DROP TABLE #CreditHRwithOptionID
  DROP TABLE #CompanyModelJobCredits

END  
  
  --CreditBalanceInfo = CASE WHEN CO.IsProfileView = 1 
			--								THEN 
			--									(
			--										SELECT 'Job post credits - ' +	CAST((select  CAST(Isnull(CreditUsed,0) as Nvarchar(50)) CreditUsed from
			--																			(Select	cast(Isnull(SUM(CC.CreditUsed),0) as int) CreditUsed,JT.HRID
			--																			from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
			--																					inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
			--																			WHERE	HRID = hr.ID AND CC.ID = 1
			--																			Group by JT.HRID ) Q)  AS NVARCHAR(50)) + ' <br/>'
			--									 )  + 

			--									 (
			--										SELECT 'Vetted profile view credits - ' +	CAST((select  CAST(Isnull(CreditUsed,0) as Nvarchar(50)) CreditUsed from
			--																			(Select	cast(Isnull(SUM(CC.CreditUsed),0) as int) CreditUsed,JT.HRID
			--																			from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
			--																					inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
			--																			WHERE	HRID = hr.ID AND CC.ID = 2
			--																			Group by JT.HRID ) Q)  AS NVARCHAR(50)) + ' <br/>'
			--									 )  + 

			--									 (
			--										SELECT 'Non-Vetted profile view credits - ' +	CAST((select  CAST(Isnull(CreditUsed,0) as Nvarchar(50)) CreditUsed from
			--																			(Select	cast(Isnull(SUM(CC.CreditUsed),0) as int) CreditUsed,JT.HRID
			--																			from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
			--																					inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
			--																			WHERE	HRID = hr.ID AND CC.ID = 3
			--																			Group by JT.HRID ) Q)  AS NVARCHAR(50)) + ' <br/>'
			--									 )  

			--								WHEN CO.IsPostaJob = 1 AND ISNULL(CO.IsProfileView,0) = 0
			--								THEN (
			--										SELECT 'Job post credits - ' +	CAST((select  CAST(Isnull(CreditUsed,0) as Nvarchar(50)) CreditUsed from
			--																			(Select	cast(Isnull(SUM(CC.CreditUsed),0) as int) CreditUsed,JT.HRID
			--																			from	gen_JobPost_TransactionHistory_ClientPortal JT WITH(NOLOCK)
			--																					inner join prg_CreditOption_ClientPortal CC WITH(NOLOCK) ON CC.ID = Isnull(JT.CreditOptionID,0)
			--																			WHERE	HRID = hr.ID AND CC.ID = 4
			--																			Group by JT.HRID ) Q)  AS NVARCHAR(50)) + ' <br/>'
			--									 )
			--								ELSE '' 
			--							END
			--CO.IsProfileView,
			--CO.IsPostaJob 

 --CASE WHEN HR.HRTypeId = 3 then (STUFF((
	--																					SELECT distinct '<br/>' + OptionDesc 
	--																					From(
	--																							select	OptionDesc = isnull(CC.OptionDesc,'') 
	--																							FROM	prg_CreditOption_ClientPortal CC WITH(NOLOCK)
	--																							where   CC.ID in (1,2,3) AND CC.ID = JCT.CreditOptionID
	--																						) Q  
	--																					For XML Path('')),1,1,''))
	--								    WHEN HR.HRTypeId = 6 then (STUFF((
	--																SELECT distinct '<br/>' + OptionDesc 
	--																From(
	--																		select	OptionDesc = isnull(CC.OptionDesc,'') 
	--																		FROM	prg_CreditOption_ClientPortal CC WITH(NOLOCK)
	--																		where   CC.ID in (2,3) AND CC.ID = JCT.CreditOptionID
	--																	) Q  
	--																For XML Path('')),1,1,''))
	--									WHEN HR.HR_TypeId = 4 then 
	--									(select OptionDesc from prg_CreditOption_ClientPortal CC WITH(NOLOCK) WHERE CC.ID = 4 AND CC.ID = JCT.CreditOptionID)
	--									END