-- ======================================================================================
-- Author:		Himani Sawadiawala
-- Create date: 12 July 2024
-- Description:	Calculate Uplersfees, ClientPay, TalentPay for UTS (Talent)
-- ======================================================================================
--SELECT * FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](1000, 0, 0, 25, 0);
--SELECT * FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](1000, 1250, 0, 0, 0);
--SELECT * FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](0, 1250, 0, 25, 0);
--SELECT * FROM dbo.[UTS_Admin_PayPerHire_Calculation_For_Talent](1000, 0, 250, 0, 0);

ALTER FUNCTION [dbo].[UTS_Admin_PayPerHire_Calculation_For_Talent] 
(
	@TalentPay DECIMAL(18,2), -- Pay rate
	@ClientPay DECIMAL(18,2), -- Bill rate	(HR cost)
	@UplersFeesInAmount DECIMAL(18,2),
	@UplersFeesInPer DECIMAL(18,2),
	@IsHrDp BIT NULL = 0
)
RETURNS @CalculateResult TABLE(CalculatedClientPay DECIMAL(18,2), CalculatedTalentPay DECIMAL(18,2), CalculatedUplersFeesInAmount  DECIMAL(18,2), CalculatedUplersFeesInPer DECIMAL(18,2))
AS
BEGIN
	DECLARE @CalculatedClientPay DECIMAL(18,2) = 0,
			@CalculatedTalentPay DECIMAL(18,2) = 0,
			@CalculatedUplersFeesInAmount  DECIMAL(18,2) = 0,
			@CalculatedUplersFeesInPer DECIMAL(18,2) = 0

	--if talent pay, UplersFeesInPer are available , need to calculate ClientPay
	IF ISNULL(@TalentPay,0) > 0 AND ISNULL(@UplersFeesInPer,0) > 0 AND ISNULL(@ClientPay,0) = 0
	BEGIN
		SET @CalculatedTalentPay = @TalentPay;
		SET @CalculatedUplersFeesInPer = @UplersFeesInPer;

		SET @CalculatedUplersFeesInAmount = (@TalentPay * @UplersFeesInPer)/100
		SET @CalculatedClientPay = (@TalentPay + @CalculatedUplersFeesInAmount)
	END

	--if talent pay, ClientPay are available , need to calculate UplersFeesInPer
	IF ISNULL(@TalentPay,0) > 0  AND ISNULL(@ClientPay,0) > 0 AND ISNULL(@UplersFeesInPer,0) = 0
	BEGIN
		SET @CalculatedTalentPay = @TalentPay;
		SET @CalculatedClientPay = @ClientPay;

		SET @CalculatedUplersFeesInAmount = @ClientPay - @TalentPay
		SET @CalculatedUplersFeesInPer = (@CalculatedUplersFeesInAmount/@TalentPay)*100
	END

	--if  UplersFeesInPer , ClientPay are available , need to calculate talent pay
	IF ISNULL(@ClientPay,0) > 0 AND ISNULL(@UplersFeesInPer,0) > 0 AND ISNULL(@TalentPay,0) = 0   
	BEGIN
		SET @CalculatedUplersFeesInPer = @UplersFeesInPer;
		SET @CalculatedClientPay = @ClientPay;

		SET @CalculatedTalentPay = @CalculatedClientPay/(1 + @UplersFeesInPer/100)
		SET @CalculatedUplersFeesInAmount = @CalculatedClientPay - @CalculatedTalentPay
	END

	--if  talent pay , UplersFees amount are available , need to calculate UplersFeesInPer
	IF ISNULL(@TalentPay,0) > 0 AND ISNULL(@UplersFeesInAmount,0) > 0  
	BEGIN
		SET @CalculatedTalentPay = @TalentPay;
		SET @CalculatedUplersFeesInAmount = @UplersFeesInAmount;

		SET @CalculatedUplersFeesInPer = (@UplersFeesInAmount/@TalentPay)*100
		SET @CalculatedClientPay = @TalentPay + @CalculatedUplersFeesInAmount 
	END

	INSERT INTO @CalculateResult(CalculatedClientPay, CalculatedTalentPay, CalculatedUplersFeesInAmount, CalculatedUplersFeesInPer)
	VALUES(@CalculatedClientPay, @CalculatedTalentPay, @CalculatedUplersFeesInAmount, @CalculatedUplersFeesInPer)

	RETURN
END

